.mobile-menu-button {
  display: none;

  text-decoration: none;
  &:before {
    font-size: px2em(30, 16);
    color: $gold;
  }

  @media screen and (max-width: $tablet-max) {
    display: inline-block;
  }
}
