.logo {
  width: px2em(145, 16);
  height: px2em(50, 16);
  transition: transform 500ms;

  @media (max-width: $mobile-max) {
    width: px2em(101, 16);
    height: px2em(35, 16);
  }
  svg {
    width: 100%;
    height: 100%;
  }
  .goldfarb{
    fill: $black;
  }

  .top-nav--light &{
    .goldfarb {
      fill: $white;
      @media screen and (max-width: $tablet-max) {
        fill: $black;
      }
    }
  }

  .nav-container--background & {
    @media (min-width: $desktop-min) {
      transition: transform 500ms;
      transform: scale(0.7);
    }


    .goldfarb {
      fill: $black;
    }
  }
}