.nav-modal{
	display:none;
	position: fixed;
	height:100vh;
	width: 100vw;
	z-index:9999999999999;
	.modal__close{
		dislplay:block;
		height:80px;
		width:80px;
		font-size: 36px;
		position: absolute;
		top:0px;
		right:0px;
		cursor:pointer;
		z-index:9999999999999;
		.nav-modal__close--wrap{
		    z-index:10;
		    height:20px;
		    width:30px;
		    position: absolute;
		    top:50%;
		    left:50%;
		    transform:translateX(-50%) translateY(-50%);
		    z-index:110;
		    span{
				display:block;
				position: absolute;
				width:30px;
				height:2px;
				background-color: $gold;
				transition: background-color 120 ease;
				&:nth-of-type(1){
					top: 50%;
					transform: translateY(0%) rotate(45deg);
				}
				&:nth-of-type(2){
					top: 50%;
					transform: translateY(0%) rotate(-45deg);
				}
		    }
		    &:hover{
		    	span{
		    		background-color:$gray;
		    	}
		    }
		}
	}

	&__block{
		display:block;
		position: relative;
		width: 100%;
		height:50vh;
		transition:background-color;
		&:nth-of-type(odd){
			background-color:$white;
			border-bottom:1px solid $lighter-gray;
			&:hover{
				background-color:$light-gray;
			}
		}
		&:nth-of-type(even){
			background-color:$white;
			&:hover{
				background-color:$light-gray;
			}
		}
		span{
			display:block;
			position: absolute;
			top:50%;
			left:50%;
			transform:translateX(-50%) translateY(-50%);
		}
	}
}


.apply-modal{
	display:flex;
	position: fixed;
	flex-direction:row;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px;
	height:100%;
	width: 100vw;
	align-items:center;
	z-index:9999999999999;
	background:$white;
	.container{
		align-items:center !important;
		.apply-modal-title{
			color:$black;
			text-transform:uppercase;
			font-weight:600;
			width:100%;
			text-align:left;
			@media screen and (max-width: $tablet-max) {
					font-size:0.625rem;
					text-align:center;
				}
		}
		.region-select-group{
			width:100%;
			display:flex;
			flex-direction:row;
			justify-content:space-between;
			margin-bottom:3rem;
			@media screen and (max-width: $tablet-max) {
				flex-direction:column;
				height:20vh;
				text-align:center;
			}
			.region-select{
				@media screen and (max-width: $tablet-max) {
					height:1vh;
				}
			}
			.region-select span{
				display:block;
				color: $gray;
				text-transform:uppercase;
				border-bottom:2px solid transparent;
				font-weight:600;
				padding-bottom:0.25rem;
				@media screen and (max-width: $tablet-max) {
					font-size:0.625rem;
				}
				&:hover{
					border-bottom:2px solid $gray;
				}
			}
			input{
				visibility:hidden;
				width:0px;
			}
			input:checked + span{
				color: $gold;
			}
			input:checked + span:hover{
				color: $gold;
				border-bottom:2px solid $gold;
			}
		}

		.bedroom-apply-group{
			opacity: 0;
		}

		.bedroom-select-align{
			display:flex;
			justify-content:space-between;
			flex-direction:row;
			margin-bottom:3rem;
			margin-top:1rem;
			@media screen and (max-width: $tablet-max) {
					flex-direction:column;
				}
		}
		.bedroom-select-group{
			width:100%;
			display:flex;
			flex-direction:row;
			justify-content:start;
			@media screen and (max-width: $tablet-max) {
				justify-content:center;
			}

			.bedroom-select{
				@media screen and (max-width: $tablet-max) {
					margin-bottom:1rem;
				}
			}
			.bedroom-select > span{
				padding-top: 1.1875rem;
				padding-bottom: 1.1875rem;
				padding-left:3rem;
				padding-right:3rem;
				text-align:center;
				border:1px solid $gold;
				display:inline-block;
				color: $gray;
				text-transform:uppercase;
				font-weight:300;
				@media screen and (max-width: $tablet-max) {
					padding-top: 0.625rem;
					padding-bottom: 0.625rem;
					padding-left:0.625rem;
					padding-right:0.625rem;
					font-size:0.625rem;
				}
				@media screen and (max-width: $tablet-max) {
					width:100%;
				}
				&:hover{
					background-color:$gold;
					color:$white;
				}
			}
			input{
				visibility:hidden;
				width:0px;
				height:0px;
				dislpay:inline;
			}
			input:checked + span{
				background-color:$gold;
				color:$white;
			}
			input:checked + span:hover{
				color: $white;
				border-bottom:1px solid $gold;
			}
		}
	}
	.modal__close{
		dislplay:block;
		height:80px;
		width:80px;
		font-size: 36px;
		position: absolute;
		top:0px;
		right:0px;
		cursor:pointer;
		z-index:9999999999999;
		.apply-modal__close--wrap{
		    z-index:10;
		    height:20px;
		    width:30px;
		    position: absolute;
		    top:50%;
		    left:50%;
		    transform:translateX(-50%) translateY(-50%);
		    span{
				display:block;
				position: absolute;
				width:30px;
				height:2px;
				background-color: $black;
				transition: background-color 120 ease;
				&:nth-of-type(1){
					top: 50%;
					transform: translateY(0%) rotate(45deg);
				}
				&:nth-of-type(2){
					top: 50%;
					transform: translateY(0%) rotate(-45deg);
				}
		    }
		    &:hover{
		    	span{
		    		background-color:$gray;
		    	}
		    }
		}
	}

	&__block{
		display:block;
		position: relative;
		width: 100%;
		flex-grow:1;
		transition:background-color;
		background-color:$white;
		&:hover{
			background-color:$light-gray;
		}
		span{
			display:block;
			position: absolute;
			top:50%;
			left:50%;
			transform:translateX(-50%) translateY(-50%);
		}
	}
}


.js-nav-menu-modal{
	cursor:pointer;
}


.js-nav-modal-open, .js-apply-modal-open, .menu-item.top-nav__menu-link{
	cursor:pointer;
}

.js-nav-modal > a > span  {
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	font-family: Gotham A,Gotham B,sans-serif;
	font-weight: 300;
	color: #231f20;
	font-size: 2.625rem;
}
