.search {
  display: inline-block;

  text-decoration: none;
  &:before {
    font-size: px2em(30, 16);
    color: $gold;
  }

  @media screen and (max-width: $mobile-max) {
    display: none;
  }

}
