<input type="text" name="value" class="form-control datepicker" value="<?php echo $this->value?>">

<script>
	$(document).ready(function() {
		$(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});
	});
</script>
