<a href="<?php echo $this->value?>" class="img-responsive m-b-15" id="value" target="_blank"><?php echo $this->value?></a>
<input type="hidden" class="form-control" name="value" id="value_path" value="<?php echo $this->value?>">
<button data-url="/filemanager/dialog.php?type=2&field_id=value_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select File</button>
<button type="button" class="btn btn-primary btn-clear_image" data-rel="value">Remove File</button>

<script>
	$(document).ready(function() {
		if ($("#value_path").val() == '') $("#value").hide();
		$('#modal-filemanager').off('hidden.bs.modal').on('hidden.bs.modal', function (e) {
			if ($("#value_path").val()) {
				$("#value_path").val( "/userFiles/uploads/" + $("#value_path").val().replace("/userFiles/uploads/",""));
				$("#value").attr("href", $("#value_path").val()).html($("#value_path").val()).show();
			}
		});

		$("body").on("click", ".btn-clear_image", function(){
			var img = $(this).data('rel');
			$("#"+img+"_path").val('');
			$("#"+img).attr('href','').hide();
		});
	});
</script>
