<?php	if ($this->pageCount): ?>
	<?php if (isset($this->previous) && $this->current != $this->previous) {?>
	<a class="btn btn-default btn-sm" href="<?php echo $this->url(array('page' => '1')); ?>?<?php echo $_SERVER['QUERY_STRING']?>"><span class="fa fa-chevron-left"></span><span class="fa fa-chevron-left"></span> First</a></span>
	<?php } ?>

	<!-- Previous page link -->
	<?php   if (isset($this->previous)): ?>

	<a class="btn btn-default btn-sm" href="<?php echo $this->url(array('page' => $this->previous)); ?>?<?php echo $_SERVER['QUERY_STRING']?>"><span class="fa fa-chevron-left"></span> Previous</a> |
	<?php   else: ?>
	<span class="btn btn-default btn-sm disabled"><span class="fa fa-chevron-left"></span> Previous</span> |
	<?php   endif; ?>

	<!-- Numbered page links -->
	<?php	foreach ($this->pagesInRange as $page): ?>
	<?php		if ($page != $this->current): ?>
	<span class="pages"><a href="<?php echo $this->url(array('page' => $page)); ?>?<?php echo $_SERVER['QUERY_STRING']?>"><?php echo $page; ?></a></span> |
	<?php		else: ?>
	<span class="current"><?php echo $page; ?></span> |
	<?php		endif; ?>
	<?php	endforeach; ?>

	<!-- Next page link -->
	<?php	if (isset($this->next)): ?>
	<a class="btn btn-default btn-sm" href="<?php echo $this->url(array('page' => $this->next)); ?>?<?php echo $_SERVER['QUERY_STRING']?>">Next <span class="fa fa-chevron-right"></span></a></span>
	<?php	else: ?>
	<span class="btn btn-default btn-sm disabled">Next <span class="fa fa-chevron-right"></span></span>
	<?php	endif; ?>

	<?php if (isset($this->next) && $this->current != $this->next) {?>
	<a class="btn btn-default btn-sm" href="<?php echo $this->url(array('page' => $this->pageCount)); ?>?<?php echo $_SERVER['QUERY_STRING']?>">Last <span class="fa fa-chevron-right"></span><span class="fa fa-chevron-right"></span></a></span>
	<?php } ?>

<?php   endif; ?>
