<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="form-group col-sm-4">
					<label>Category:</label>
					<?php echo $this->formSelect('category_id', $this->category_id, array('class'=>'form-control'), array(""=>"All")+$this->poi_categories)?>
				</div>

				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary">Search</button>
					<!--
					<label for="" class="checkbox-inline">
						<input type="checkbox" name="csv" value="1" class="exportcheck">
						Export
					</label>
					-->
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-10 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<div class="col-sm-2 col-xs-12">
				<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'region', 'add')) {?>
					<a href="/admin/poi/add" class="btn btn-primary">Add Point of Interest</a>
				<?php } ?>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<?php
						unset($_GET['sort']);
						unset($_GET['dir']);
						$qs = http_build_query($_GET);
						?>
						<th><a href="/admin/poi/list/sort/name/dir/<?php echo $dir?>?<?php echo $qs?>">Name</a></th>
						<th><a href="/admin/poi/list/sort/category_name/dir/<?php echo $dir?>?<?php echo $qs?>">Category</a></th>
						<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'region', 'delete')) {?>
							<th class="col-xs-1 text-center">Delete</th>
						<?php } ?>
						<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'region', 'edit')) {?>
							<th class="col-xs-1 text-center">Edit</th>
						<?php } ?>
						<!--<th class="text-center">View</th>-->
					</tr>
					</thead>
					<tbody>
					<?php
					foreach($this->list as $key => $val) { ?>
						<tr>
							<td><?php echo $val['name']?></td>
							<td><?php echo $val['category_name']?></td>
							<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'region', 'delete')) {?>
								<td class="text-center hidden-xs"><a href="/admin/poi/delete/id/<?php echo $val['id']?>" title="Delete" class="confirm-delete"><span class="sr-only">Delete</span><span class="fa fa-minus-circle"></span></a></td>
							<?php } ?>
							<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'region', 'edit')) {?>
								<td class="text-center"><a href="/admin/poi/edit/id/<?php echo $val['id']?>" title="Edit"><span class="sr-only">Edit</span><span class="fa fa-pencil-square-o"></span></a></td>
							<?php } ?>
							<!--<td class="text-center"><a href="/admin/poi/view/id/<?php echo $val['id']?>" title="View"><span class="sr-only">View </span><span class="fa fa-eye"></span></a></td>-->
						</tr>
						<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {

	});
</script>
