<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-xs-12 text-right">
				<a class="pull-right btn btn-primary xs-100" href="/admin/instalink/link-add">Add New Link</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results m-b-10">
				<div class="col-xs-1">Arrange</div>
				<div class="col-xs-7">Label</div>
				<div class="col-xs-1 text-center">Status</div>
				<div class="col-xs-1 text-center">Delete</div>
				<div class="col-xs-1 text-center">Clone</div>
				<div class="col-xs-1 text-center">Edit</div>
				<!--<div class="col-xs-1 text-center">View</div>-->
			</div>
			<div class="col-sm-12 component-search-results">
				<ul class="list-unstyled table-sub-nav striped ui-sortable">
					<?php
					foreach ($this->list as $item) {
					?>
						<li id="sort_<?php echo $item['id']?>" class="<?php echo $item['status']?>">
							<div class="col-xs-1 text-dark-blue p-l-30"><i class="fas fa-arrows"></i></div>
							<div class="col-xs-7"><?php echo $item['title']?></div>
							<div class="col-xs-1 text-center"><?php echo $item['status']?></div>
							<div class="col-xs-1 text-center"><a href="/admin/instalink/link-delete/id/<?php echo $item['id']?>" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></div>
							<div class="col-xs-1 text-center"><a href="/admin/instalink/link-copy/id/<?php echo $item['id']?>" title="Clone" class="btn-clone"><span class="sr-only">Clone</span> <span class="far fa-clone"></span></a></div>
							<div class="col-xs-1 text-center"><a href="/admin/instalink/link-edit/id/<?php echo $item['id']?>" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></div>
							<!--<div class="col-xs-1 text-center"><a href="/admin/instalink/link-view/id/<?php echo $item['id']?>" title="View"><span class="sr-only">View </span><span class="far fa-eye"></span></a></div>-->
						</li>
					<?php
					}
					?>
				</ul>
			</div>
		</div>
	</div>
</div>


<script>
	$(function() {
		$("ul").each(function(){
			$(this).sortable({
				items: "> li:not(.ui-state-disabled)",
				//cancel: ".ui-state-disabled"
				'update': function (event, ui) {
					$.post('/admin/instalink/link-sort', $(this).sortable('serialize'), function (data) {
						//
					});
				}
			});
		});

	});
</script>
<style>
	ul.table-sub-nav li {clear:both;}
	ul.striped.ui-sortable li.Disabled:nth-child(odd) {
		background: #cccccc;
	}
	ul.striped.ui-sortable li.Disabled:nth-child(even) {
		background: #dddddd;
	}
</style>
