<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2><?php echo ($this->cmd=='add')?'Add New InstaLink Link':'Edit InstaLink Link'?></h2>

			<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
						<?php
						foreach ($this->errors as $error) {
							echo "<li>".$error."</li>";
						}
						?>
					</ul>
				</div>
			<?php } ?>

		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/instalink/link-list"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<?php echo $this->form?>
		</div>
	</div>

	<div id="product-block" class="hidden-xs m-t-30"></div>

</div>

<script>
	$(document).ready(function() {
		$(".conditional").parent().parent().hide();
		<?php if ($settings_mapper->getValueByCode('instalinks_layout_style') == 'link_bar') {?>
			$(".conditional.layout-button").parent().parent().show();
		<?php }else {?>
			$(".conditional.layout-tile").parent().parent().show();
		<?php } ?>

		if ($("#image_path").val() == '') $("#image").hide();

		$(".btn-clear_image").on("click",function(){
			var el = $(this).data('rel');
			$("input[name='"+el+"']").val('');
			$("#"+el).attr('src','').hide();
		});

		window.cny.colorpicker();

		//iconList variable moved into JS variables.js file
		var iconListData = $.map(iconList, function (obj) {
			//obj.id = obj.id || obj.id;
			obj.text = obj.text || obj.name;

			if (typeof obj.filter !== 'undefined' && obj.filter) {
				obj.text += '<span class="hide">' + obj.filter.toString() + '<span>';
			}

			return obj;
		});

		function formatCustom(item) {
			if (!item.id) return item.text; // optgroup

			return "<span class='fa fa-" + item.id + "'>&nbsp;" + item.text + "</span>";
		}

		$('#icon').select2({
			data: iconListData,
			formatResult: formatCustom,
			formatSelection: formatCustom,
			escapeMarkup: function(m) { return m; }
		});
	});
</script>
<style>
	.select2-chosen {height:22px!important;}
</style>
