@mixin bleed {
  float: left;
  padding: 0;
  width: 85.55556%;
  &--right {
    float: right;
  }

  &--seven {
    width: 59.93056%;
  }
}

.bleed {
  @media screen and (min-width: $desktop-min) {
    &--lg {
      @include bleed;
    }
  }

  @media screen and (min-width: $tablet-min) {
    &--md {
      @include bleed;
      width: 90.36458%;
    }
  }

  @media screen and (max-width: $mobile-max) {
    &--sm {
      @include bleed;
      width: 85.55556%;
    }
  }
}
