
@mixin corners($width, $height, $border-width: 2px) {
  position: relative;

  &:before {
    display: block;
    content: "";
    position: absolute;
    transition: 0.3s ease;
    border-right: $border-width solid $gold;
    border-top: $border-width solid $gold;
    height: $height;
    right: 0;
    top: 0;
    width: $width;
    pointer-events: none;
  }

  &:after {
    display: block;
    content: "";
    position: absolute;
    transition: 0.3s ease;
    border-bottom: $border-width solid $gold;
    border-left: $border-width solid $gold;
    bottom: 0;
    height: $height;
    left: 0;
    width: $width;
    pointer-events: none;
  }
}
