.max-width-80rem {
  max-width: 80rem !important;
  margin-left: auto;
  margin-right: auto;
}
body .userway.userway_mobile .userway_accessibility_icon .userway_hide_icon {
  display: none !important;
}

@include breakpoint-max(939px) {
  .carousel--unit {
    margin-bottom: 30px;
  }
  .side-bar {
    margin:0 auto;
    float: none;
  }
  .side-menu {
    position: static !important;
  }
}
