@mixin antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.antialiased {
  @include antialiased;
}

@mixin gotham-light {
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-weight: 300;
}
.gotham-light {
  @include gotham-light;
}

@mixin gotham-book {
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-weight: 400;
}
.gotham-book {
  @include gotham-book;
}

@mixin gotham-medium {
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-weight: 400;
}
.gotham-medium {
  @include gotham-medium;
}

@mixin gotham-bold {
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-weight: 700;
}
.gotham-bold {
  @include gotham-bold;
}


@mixin stanpro {
  font-family: "StanPro", serif;
  font-weight: 400;
}
.stanpro {
  @include stanpro;
}

@mixin stanpro-bold {
  font-family: "StanPro", serif;
  font-weight: 700;
}
.stanpro-bold {
  @include stanpro-bold;
}

body {
  @include gotham-book;
  max-width: 100%;
  font-size: 100%;
}
