<?php
$panels = array();
foreach ($this->content->panels as $panel) {
	if (isset($panel->status) && $panel->status == 'Disabled') continue;

	$panels[$panel->sort_order] = $panel;
}
ksort($panels);

//get list of fonts
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

if (isset($this->content->title_font) && $this->content->title_font) {
	if (stripos($this->content->title_font, "http://") !== false || stripos($this->content->title_font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->content->title_font . '" rel="stylesheet">';
	} else {
		if (isset($this->content->title_font) && $this->content->title_font) {
			$font = $fonts[$this->content->title_font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}
}
?>

<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<div class="panel-group" id="accordion-<?php echo $this->module->id?>" role="tablist" aria-multiselectable="true">
		<?php
		foreach ($panels as $panel) {
			$active = (isset($this->content->starting_status) && $this->content->starting_status == 'closed')?false:($panel->sort_order == 0) ? true : false;
		?>
			<div class="panel panel-default">
				<div class="panel-heading <?php echo $this->content->title_position?>" role="tab" id="heading-<?php echo $this->module->id ?>-<?php echo $panel->sort_order ?>">
					<h4 class="panel-title">
						<a role="button" class="<?php echo (!$active)?"collapsed":""?>" data-toggle="collapse" data-parent="#accordion-<?php echo $this->module->id ?>" href="#collapse-<?php echo $this->module->id ?>-<?php echo $panel->sort_order ?>" aria-expanded="<?php echo ($active)?"true":"false"?>" aria-controls="collapse-<?php echo $this->module->id ?>-<?php echo $panel->sort_order ?>">
							<span><?php echo $panel->label?></span>

							<i class="icon_open fa fa-<?php echo (isset($this->content->icon_open) && $this->content->icon_open)?$this->content->icon_open:""?>"></i>
							<i class="icon_closed fa fa-<?php echo (isset($this->content->icon_closed) && $this->content->icon_closed)?$this->content->icon_closed:""?>"></i>
						</a>
					</h4>
				</div>
				<div id="collapse-<?php echo $this->module->id ?>-<?php echo $panel->sort_order ?>" class="panel-collapse collapse <?php echo ($active)?"in":""?>" role="tabpanel" aria-labelledby="heading-<?php echo $this->module->id ?>-<?php echo $panel->sort_order ?>">
					<div class="panel-body">
						<?php echo $panel->text?>
					</div>
				</div>
			</div>
			<?php if (isset($this->content->divider_status) && $this->content->divider_status == 'Enabled') { ?>
				<hr class="panel-divider"/>
			<?php } ?>
		<?php
		}
		?>
	</div>
</div>

<style>
	#module-<?php echo $this->module->id?> .panel-heading {
		<?php echo ($this->content->title_background_color)?"background-color:{$this->content->title_background_color};":""?>
		<?php
		if ($this->content->title_border_status == "Disabled") {
			echo "border:0;";
		}else {
			echo "border: {$this->content->title_border_width} solid {$this->content->title_border_color};";
		}
		?>
		<?php if (isset($this->content->title_padding) && $this->content->title_padding) {
			echo "padding: ";
			if ($this->content->title_padding == preg_replace("/[^0-9.]/", "", $this->content->title_padding)) $this->content->title_padding .= "px";
			echo $this->content->title_padding;
			echo ";";
		}?>
	}

	#module-<?php echo $this->module->id?> .panel-title a {
		<?php echo ($this->content->title_text_color)?"color:{$this->content->title_text_color};":""?>
		<?php echo ($this->content->title_text_size)?"font-size:{$this->content->title_text_size};":""?>
		<?php echo ($this->content->title_line_height)?"line-height:{$this->content->title_line_height};":""?>
		<?php echo (isset($this->content->title_weight) && $this->content->title_weight)?"font-weight:{$this->content->title_weight};":""?>
		<?php echo (isset($this->content->title_font) && $this->content->title_font && strtolower($this->content->title_font) != 'default')?"font-family:\"{$fonts[$this->content->title_font]['title']}\";":""?>
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	#module-<?php echo $this->module->id?> .panel-title a span {
		flex-basis: 0;
		flex-grow: 1;
		margin-right: 10px;
	}

	#module-<?php echo $this->module->id?> .panel-title [aria-expanded='true'] .icon_closed {
		display:none;
	}
	#module-<?php echo $this->module->id?> .panel-title [aria-expanded='true'] .icon_open {
		display:inline-block;
	}
	#module-<?php echo $this->module->id?> .panel-title [aria-expanded='false'] .icon_open {
		display:none;
	}
	#module-<?php echo $this->module->id?> .panel-title [aria-expanded='false'] .icon_closed {
		display:inline-block;
	}

	#module-<?php echo $this->module->id?> .panel-body {
		<?php echo (isset($this->content->details_background_color) && $this->content->details_background_color)?"background-color:{$this->content->details_background_color};":""?> <?php
		if ($this->content->details_border_status == "Disabled") {
			echo "border:0;";
		}else {
			echo "border: {$this->content->details_border_width} solid {$this->content->details_border_color};";
		}
		?> <?php if (isset($this->content->details_padding) && $this->content->details_padding) {
			echo "padding: ";
			if ($this->content->details_padding == preg_replace("/[^0-9.]/", "", $this->content->details_padding)) $this->content->details_padding .= "px";
			echo $this->content->details_padding;
			echo ";";
		}?>
	}

	#module-<?php echo $this->module->id?> .panel-divider {
	<?php if (isset($this->content->divider_color) && $this->content->divider_color) {?>
		color: <?php echo $this->content->divider_color?>;
		border-color: <?php echo $this->content->divider_color?>;
	<?php } ?>
	<?php if (isset($this->content->divider_margin_tb) && $this->content->divider_margin_tb) {
		echo "margin: ";
		if ($this->content->divider_margin_tb == preg_replace("/[^0-9.]/", "", $this->content->divider_margin_tb)) $this->content->divider_margin_tb .= "px";
		echo $this->content->divider_margin_tb;
		echo "  auto;";
	} ?>
	}

	#module-<?php echo $this->module->id?> .panel {
		box-shadow: none;
	}

	<?php if (isset($this->content->icon_color) && $this->content->icon_color) { ?>
		#module-<?php echo $this->module->id?> .panel-title  i {
			color: <?php echo $this->content->icon_color; ?>;
		}
	<?php }?>
</style>
