<?php
$panels = array();
foreach ($this->content->panels as $panel) {
	if (isset($panel->status) && $panel->status == 'Disabled') continue;

	$panels[$panel->sort_order] = $panel;
}
ksort($panels);
?>

<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>

	<div class="nav-pills--affix">
		<ul class="nav nav-pills">
			<?php
			foreach ($panels as $panel) {
				?>
				<li><a href="#tab-<?php echo $this->module->id?>-<?php echo $panel->sort_order?>" aria-controls="tab-<?php echo $this->module->id?>-<?php echo $panel->sort_order?>"><?php echo $panel->label?></a></li>
				<?php
			}
			?>
		</ul>
	</div>


	<div class="">
		<?php
		foreach ($panels as $panel) {
		?>
			<div class="" id="tab-<?php echo $this->module->id?>-<?php echo $panel->sort_order?>">
				<?php echo $panel->text?>
			</div>
		<?php
		}
		?>
	</div>
</div>

<script>
	$(function() {
		$('.nav-pills--affix').each(function() {
			var el = $(this);
			el.affix({
				offset: {
					top: function () {
						return el.offset().top
					},
					bottom: function () {
						return (this.bottom = $('footer').outerHeight(true))
					}
				}
			})
		});

		$('.nav-pills--affix').on('affixed.bs.affix', function (e) {
			$(this).find('.nav-pills').addClass('container');//.css('margin-top',$('.header').height()+"px");
		}).on('affixed-top.bs.affix', function (e) {
			//$(this).find('.nav-pills').removeClass('container');
		});
	});
</script>
