<?php
$url_cleaner = new Cny_View_Helper_UrlCleaner();
?>
<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<div class="col-sm-12">
		<?php if ($this->content->link_url) { ?>
		<a href="<?php echo $this->content->link_url?>" target="<?php echo $this->content->link_target?>">
		<?php } ?>

		<img src="<?php echo $url_cleaner->image($this->content->image_path)?>" alt="<?php echo $this->content->alt_title?>" class="img-responsive <?php echo (isset($this->settings->force_full_width) && $this->settings->force_full_width == 'Enabled')?"img-full-width":""?>" <?php echo (isset($this->settings->image_hover_zoom_status) && $this->settings->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$this->settings->image_hover_zoom_percent.'"':''?>>

		<?php if ($this->content->link_url) { ?>
			</a>
		<?php } ?>
	</div>
</div>
