<?php
$item_col = ($this->content->post_limit)?(12/$this->content->post_limit):'';

$feed = new Cny_Model_BlogFeed($this->content->rss_url);

$truncate = new Cny_View_Helper_StringTruncate();
$media_cache = new Cny_View_Helper_MediaCache();

$image_profile = (isset($this->settings->image_profile))?$this->settings->image_profile:'';

if (isset($this->settings->feed_layout) && $this->settings->feed_layout == 'vertical-column') {
	$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
	$panels = $feed->fetchFeed((int)$this->content->post_limit, $this->content->tags, $this->content->categories);
	//not sure if we should limit on the feed or here. I think maybe here so feed cache is not overly granular
	$panels = array_slice($panels,0,$this->content->post_limit);

	?>

	<div id="module-<?php echo $this->module->id ?>" <?php echo $this->config['data_attributes']?>>
		<div class="block-entry <?php echo $this->config['div_class'] ?>">
			<?php
			foreach ($panels as $panel) {
				$target = (isset($this->content->link_target))?$this->content->link_target:'';
				if (isset($panel['link_external']) && $panel['link_external'] == 'Yes') {
					$target = '_blank';
				}
				?>
				<div class="blog-entry">
					<div class="blog-content<?php echo (isset($this->settings->vertical_feed_layout) && $this->settings->vertical_feed_layout) ? ' '.$this->settings->vertical_feed_layout:''; ?>">

						<?php if ($panel['thumbnail']) {?>
							<div class="blog-content__image">
								<a href="<?php echo $panel['link'] ?>" target="<?php echo $target?>">
									<img src="<?php echo $media_cache->getImage($panel['thumbnail'], $image_profile) ?>" alt="<?php echo htmlentities($panel['title']) ?>" class="img-responsive" <?php echo (isset($this->settings->image_hover_zoom_status) && $this->settings->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$this->settings->image_hover_zoom_percent.'"':''?>>
								</a>
							</div>
						<?php } ?>

						<div class="blog-content__copy">
							<div class="blog-header">
								<?php if (isset($this->settings->blog_feed_title) && $this->settings->blog_feed_title == 'Enabled') { ?>
									<h2<?php echo (isset($this->settings->blog_feed_title_overlay) && $this->settings->blog_feed_title_overlay == 'Enabled') ? ' class="blog-title--overlay"':' class="blog-feed-title m-b-0 m-t-0"'; ?>><a class="blog-header-link" href="<?php echo $panel['link'] ?>" target="<?php echo $target?>"><?php echo $panel['title'] ?></a></h2>
								<?php } ?>
								<div class="meta-entry m-b-10">
									<?php if ($settings_mapper->getValueByCode('blog_author_status') != 'Disabled' && $panel['byline']) {?>
										<span>By <?php echo $panel['byline']?>,</span>
									<?php } ?>
									<?php if ( ( !isset($this->settings->blog_feed_date) ) || ( isset($this->settings->blog_feed_date)  && $this->settings->blog_feed_date == 'Enabled' ) ) { ?>
										<?php if ( $panel['date'] != 'none') { ?>
											<span class="post_date"><?php echo date(($panel['date'])? "M j, Y" : "M j, Y",strtotime($panel['date']) )?></span>
										<?php } ?>
									<?php } ?>
								</div>
							</div>
							<?php if (isset($this->settings->blog_feed_caption) && $this->settings->blog_feed_caption == 'Enabled') { ?>
								<?php if (isset($this->settings->blog_feed_truncate) && $this->settings->blog_feed_truncate == 'Enabled') {
									$textLength = (isset($this->content->blog_feed_truncate_length) && $this->content->blog_feed_truncate_length)?$this->content->blog_feed_truncate_length: 75;
									?>
									<p class="m-b-10"><?php echo $truncate->StringTruncate($panel['description_text'], $textLength); ?></p>
								<?php } else { ?>
									<p class="m-b-10"><?php echo $panel['description_text']; ?></p>
								<?php } ?>
							<?php } ?>

							<?php if (isset($this->settings->blog_feed_read_more) && $this->settings->blog_feed_read_more == 'Enabled') { ?>
								<a aria-label="<?php echo $panel['link'] ?>" href="<?php echo $panel['link'] ?>" target="<?php echo $target?>" class="<?php echo (isset($this->settings->blog_readmore_button_type) && $this->settings->blog_readmore_button_type == 'text') ? 'readmore':'btn btn-default btn-blog-continue btn--cms-default'; ?>"><?php echo (isset($this->content->blog_feed_read_more) && $this->content->blog_feed_read_more ) ? $this->content->blog_feed_read_more :'Read More'; ?></a>
							<?php } ?>

						</div>

					</div>
				</div>
				<?php
			}
			?>
		</div>
	</div>

<?php } else {

	if (isset($this->settings->feed_layout) && $this->settings->feed_layout != 'carousel') {
		$panels = $feed->fetchFeed((int)$this->content->post_limit, $this->content->tags, $this->content->categories);
		//not sure if we should limit on the feed or here. I think maybe here so feed cache is not overly granular
		$panels = array_slice($panels,0,$this->content->post_limit);
		?>

		<?php if (isset($this->settings->feed_layout) && $this->settings->feed_layout == 'horizontal-tray') { ?>
			<div id="module-<?php echo $this->module->id ?>" <?php echo $this->config['data_attributes']?>>
				<div class="row equal-height-columns <?php echo $this->config['div_class'] ?> <?php echo (isset($this->settings->column_rule) && $this->settings->column_rule == 'Enabled') ?' blog-column--rule':'' ?>">
					<?php
					foreach ($panels as $panel) {
						$target = (isset($this->content->link_target))?$this->content->link_target:'';
						if (isset($panel['link_external']) && $panel['link_external'] == 'Yes') {
							$target = '_blank';
						}
						?>
						<div class="col-sm-<?php echo $item_col ?> equal-height-column">
							<div class="blog-feed-module">
								<div class="blog-feed-module__header">
									<?php if ($panel['thumbnail']) {?>
										<a href="<?php echo $panel['link'] ?>" target="<?php echo $target?>">
											<img src="<?php echo $media_cache->getImage($panel['thumbnail'], $image_profile) ?>" alt="<?php echo htmlentities($panel['title']) ?>" class="img-responsive" <?php echo (isset($this->settings->image_hover_zoom_status) && $this->settings->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$this->settings->image_hover_zoom_percent.'"':''?>>
										</a>
									<?php } ?>
									<?php if (isset($this->settings->blog_feed_date) && $this->settings->blog_feed_date == 'Enabled') { ?>
										<div class="post_date">
											<?php echo date("m.d.y",strtotime($panel['date']))?>
										</div>
									<?php } ?>
									<?php if (isset($this->settings->blog_feed_title) && $this->settings->blog_feed_title == 'Enabled') { ?>
										<div<?php echo (isset($this->settings->blog_feed_title_overlay) && $this->settings->blog_feed_title_overlay == 'Enabled') ? ' class="blog-title--overlay"':' class="blog-feed-title"'; ?>>
											<a class="blog-feed-module__title" href="<?php echo $panel['link'] ?>" target="<?php echo $target?>"><strong><?php echo $panel['title'] ?></strong></a>
										</div>
									<?php } ?>
								</div>
								<?php if (isset($this->settings->blog_feed_caption) && $this->settings->blog_feed_caption == 'Enabled') { ?>
									<?php if (isset($this->settings->blog_feed_truncate) && $this->settings->blog_feed_truncate == 'Enabled') {
										$textLength = (isset($this->content->blog_feed_truncate_length) && $this->content->blog_feed_truncate_length)?$this->content->blog_feed_truncate_length: 75;
										?>
										<p class="m-b-0"><?php echo $truncate->StringTruncate($panel['description_text'], $textLength); ?></p>
									<?php } else { ?>
										<p class="m-b-0"><?php echo $panel['description_text']; ?></p>
									<?php } ?>
								<?php } ?>
								<?php if (isset($this->settings->blog_feed_read_more) && $this->settings->blog_feed_read_more == 'Enabled') { ?>
									<a aria-label="<?php echo $panel['link'] ?>" href="<?php echo $panel['link'] ?>" target="<?php echo $target?>" class="<?php echo (isset($this->settings->blog_readmore_button_type) && $this->settings->blog_readmore_button_type == 'text') ? 'readmore':'btn btn-default btn-blog-continue btn--cms-default'; ?>"><?php echo (isset($this->content->blog_feed_read_more) && $this->content->blog_feed_read_more ) ? $this->content->blog_feed_read_more :'Read More'; ?></a>
								<?php } ?>
							</div>
						</div>
						<?php
					}
					?>
				</div>
			</div>
		<?php } ?>

		<?php if (isset($this->settings->feed_layout) && $this->settings->feed_layout == 'grid-display') { ?>
			<div id="module-<?php echo $this->module->id ?>" <?php echo $this->config['data_attributes']?>>
				<div class="blog-grid <?php echo $this->config['div_class']; ?><?php echo (isset($this->settings->grid_rule) && $this->settings->grid_rule == 'Enabled') ?' blog-grid--rule':'' ?>">
					<?php
					foreach ($panels as $panel) {
						$target = (isset($this->content->link_target))?$this->content->link_target:'';
						if (isset($panel['link_external']) && $panel['link_external'] == 'Yes') {
							$target = '_blank';
						}
						?>
						<div class="blog-grid__item">
							<div class="blog-feed-module">
								<div class="blog-feed-module__header">
									<?php if ($panel['thumbnail']) {?>
										<a href="<?php echo $panel['link'] ?>" target="<?php echo $target?>">
											<img src="<?php echo $media_cache->getImage($panel['thumbnail'], $image_profile) ?>" alt="<?php echo htmlentities($panel['title']) ?>" class="img-responsive" <?php echo (isset($this->settings->image_hover_zoom_status) && $this->settings->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$this->settings->image_hover_zoom_percent.'"':''?>>
										</a>
									<?php } ?>
									<?php if (isset($this->settings->blog_feed_date) && $this->settings->blog_feed_date == 'Enabled') { ?>
										<div class="post_date">
											<?php echo date("m.d.y",strtotime($panel['date']))?>
										</div>
									<?php } ?>
									<?php if (isset($this->settings->blog_feed_title) && $this->settings->blog_feed_title == 'Enabled') { ?>
										<div<?php echo (isset($this->settings->blog_feed_title_overlay) && $this->settings->blog_feed_title_overlay == 'Enabled') ? ' class="blog-title--overlay"':' class="blog-feed-title"'; ?>>
											<a class="blog-feed-module__title" href="<?php echo $panel['link'] ?>" target="<?php echo $target?>"><strong><?php echo $panel['title'] ?></strong></a>
										</div>
									<?php } ?>
								</div>
								<?php if (isset($this->settings->blog_feed_caption) && $this->settings->blog_feed_caption == 'Enabled') { ?>
									<?php if (isset($this->settings->blog_feed_truncate) && $this->settings->blog_feed_truncate == 'Enabled') {
										$textLength = (isset($this->content->blog_feed_truncate_length) && $this->content->blog_feed_truncate_length)?$this->content->blog_feed_truncate_length: 75;
										?>
										<p class="m-b-0"><?php echo $truncate->StringTruncate($panel['description_text'], $textLength); ?></p>
									<?php } else { ?>
										<p class="m-b-0"><?php echo $panel['description_text']; ?></p>
									<?php } ?>
								<?php } ?>
								<?php if (isset($this->settings->blog_feed_read_more) && $this->settings->blog_feed_read_more == 'Enabled') { ?>
									<div class="<?php echo $this->content->blog_readmore_button_alignment; ?> full-width">
										<a aria-label="<?php echo $panel['link'] ?>" href="<?php echo $panel['link'] ?>" target="<?php echo $target?>" class="<?php echo (isset($this->settings->blog_readmore_button_type) && $this->settings->blog_readmore_button_type == 'text') ? 'readmore':'btn btn-default btn-blog-continue btn--cms-default '.$this->content->blog_readmore_button_class; ?>"><?php echo (isset($this->content->blog_feed_read_more) && $this->content->blog_feed_read_more ) ? $this->content->blog_feed_read_more :'Read More'; ?></a>
									</div>
								<?php } ?>
							</div>
						</div>
						<?php
					}
					?>
				</div>
			</div>
		<?php } ?>

		<?php
	} else {
		$panels = $feed->fetchFeed(null, $this->content->tags, $this->content->categories);
		?>
		<div id="module-<?php echo $this->module->id ?>">
			<div class="js-carousel carousel carousel--blog <?php echo (isset($this->settings->carousel_orientation))?$this->settings->carousel_orientation:''?>"
			     data-slides="<?php echo (isset($this->content->post_limit) && $this->content->post_limit)?$this->content->post_limit:''?>"
			     data-orientation="<?php echo (isset($this->settings->carousel_orientation))?$this->settings->carousel_orientation:''?>"
			     data-speed="<?php echo (isset($this->settings->transition_speed))?$this->settings->transition_speed*1000:''?>"
			     data-pagination="<?php echo (isset($this->settings->pagination_status))?$this->settings->pagination_status:''?>"
			     data-controls="<?php echo (isset($this->settings->controls_status))?$this->settings->controls_status:''?>"
			     data-autoplay="<?php echo (isset($this->settings->autoplay))?$this->settings->autoplay:'Enabled'?>"
			>
				<?php
				foreach ($panels as $panel) {
					$target = (isset($this->content->link_target))?$this->content->link_target:'';
					if (isset($panel['link_external']) && $panel['link_external'] == 'Yes') {
						$target = '_blank';
					}
					?>
					<div class="carousel__item">
						<div class="carousel__content">
							<div class="carousel__header">
								<?php if (isset($this->settings->carousel_thumbnails) && $this->settings->carousel_thumbnails == 'Enabled') {?>
									<div class="carousel__image">
										<a href="<?php echo $panel['link'] ?>" target="<?php echo $target?>">
											<img src="<?php echo $media_cache->getImage($panel['thumbnail'], $image_profile) ?>" alt="<?php echo htmlentities($panel['title']) ?>" class="img-responsive" <?php echo (isset($this->settings->image_hover_zoom_status) && $this->settings->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$this->settings->image_hover_zoom_percent.'"':''?>>
										</a>
									</div>
								<?php } ?>
								<?php if (isset($this->settings->blog_feed_date) && $this->settings->blog_feed_date == 'Enabled') { ?>
									<div class="post_date">
										<?php echo date("m.d.y",strtotime($panel['date']))?>
									</div>
								<?php } ?>
								<?php if (isset($this->settings->blog_feed_title) && $this->settings->blog_feed_title == 'Enabled') { ?>
									<h2 class="carousel__title<?php echo (isset($this->settings->blog_feed_title_overlay) && $this->settings->blog_feed_title_overlay == 'Enabled') ? ' blog-title--overlay':''; ?>">
										<a href="<?php echo $panel['link'] ?>" target="<?php echo $target?>"><?php echo $panel['title'] ?></a>
									</h2>
								<?php } ?>
							</div>
							<div class="carousel__content">
								<?php if (isset($this->settings->blog_feed_caption) && $this->settings->blog_feed_caption == 'Enabled') { ?>
									<?php if (isset($this->settings->blog_feed_caption) && $this->settings->blog_feed_caption == 'Enabled') { ?>

										<?php if (isset($this->settings->blog_feed_truncate) && $this->settings->blog_feed_truncate == 'Enabled') { ?>
											<div class="carousel__copy">
												<?php echo $truncate->StringTruncate($panel['description_text'], (isset($this->content->blog_feed_truncate_length))?$this->content->blog_feed_truncate_length: 75); ?>
											</div>
										<?php } else { ?>
											<div class="carousel__copy normal">
												<?php echo $panel['description_text']; ?>
											</div>
										<?php } ?>

									<?php } ?>
								<?php } ?>
								<?php if (isset($this->settings->blog_feed_read_more) && $this->settings->blog_feed_read_more == 'Enabled') { ?>
									<div class="<?php echo $this->content->blog_readmore_button_alignment; ?>">
										<a aria-label="<?php echo $panel['link'] ?>" href="<?php echo $panel['link'] ?>" target="<?php echo $target?>" class="<?php echo (isset($this->settings->blog_readmore_button_type) && $this->settings->blog_readmore_button_type == 'text') ? 'readmore':'btn btn-default btn-blog-continue m-t-10 btn--cms-default '.$this->content->blog_readmore_button_class; ?>"><?php echo (isset($this->content->blog_feed_read_more) && $this->content->blog_feed_read_more ) ? $this->content->blog_feed_read_more :'Read More'; ?></a>
									</div>
								<?php } ?>
							</div>
						</div>
						<?php if (isset($this->settings->carousel_orientation) && $this->settings->carousel_orientation == 'vertical') {?>
							<hr/>
						<?php } ?>
					</div>
					<?php
				} ?>
			</div>
		</div>
	<?php }

} ?>
<?php
if (isset($this->content->blog_title_font) && $this->content->blog_title_font || isset($this->content->blog_text_font) && $this->content->blog_text_font || isset($this->content->blog_readmore_font) && $this->content->blog_readmore_font || isset($this->content->blog_title_font) && $this->content->blog_date_font) {
	//get list of fonts
	$mapper = new Application_Model_Mapper_Font();
	$fonts = $mapper->getActiveFonts();

	$font_families = array();

	if (stripos($this->content->blog_title_font, "http://") !== false || stripos($this->content->blog_title_font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->content->blog_title_font . '" rel="stylesheet">';
	} else {
		if (isset($this->content->blog_title_font) && $this->content->blog_title_font) {
			$font = $fonts[$this->content->blog_title_font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}

	if (stripos($this->content->blog_text_font, "http://") !== false || stripos($this->content->blog_text_font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->content->blog_text_font . '" rel="stylesheet">';
	} else {
		if (isset($this->content->blog_text_font) && $this->content->blog_text_font) {
			$font = $fonts[$this->content->blog_text_font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}

	if (stripos($this->content->blog_readmore_font, "http://") !== false || stripos($this->content->blog_readmore_font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->content->blog_readmore_font . '" rel="stylesheet">';
	} else {
		if (isset($this->content->blog_readmore_font) && $this->content->blog_readmore_font) {
			$font = $fonts[$this->content->blog_readmore_font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}

	if (stripos($this->content->blog_date_font, "http://") !== false || stripos($this->content->blog_date_font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->content->blog_date_font . '" rel="stylesheet">';
	} else {
		if (isset($this->content->blog_date_font) && $this->content->blog_date_font) {
			$font = $fonts[$this->content->blog_date_font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}

}
?>
<style>

	#module-<?php echo $this->module->id ?> .carousel__title,
	#module-<?php echo $this->module->id ?> .carousel__title a {
	<?php if (isset($this->content->title_color) && $this->content->title_color) {?>
		color: <?php echo $this->content->title_color?>;
	<?php } ?>
	<?php if (isset($this->content->title_size) && $this->content->title_size) {
		if ($this->content->title_size == preg_replace("/[^0-9.]/", "", $this->content->title_size)) $this->content->title_size .= "px";
		?>
		font-size: <?php echo $this->content->title_size?>;
	<?php } ?>
	<?php if (isset($this->content->title_line_height) && $this->content->title_line_height) {
	if ($this->content->title_line_height == preg_replace("/[^0-9.]/", "", $this->content->title_line_height)) $this->content->title_line_height .= "px";
	?>
		line-height: <?php echo $this->content->title_line_height?>;
	<?php } ?>
	<?php if (isset($this->content->title_font_weight) && $this->content->title_font_weight) {
	?>
		font-weight: <?php echo $this->content->title_font_weight?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id ?> .carousel__copy {
	<?php if (isset($this->content->text_color) && $this->content->text_color) {?>
		color: <?php echo $this->content->text_color?>;
	<?php } ?>
	<?php if (isset($this->content->text_size) && $this->content->text_size) {
	if ($this->content->text_size == preg_replace("/[^0-9.]/", "", $this->content->text_size)) $this->content->text_size .= "px";
	?>
		font-size: <?php echo $this->content->text_size?>;
	<?php } ?>
	<?php if (isset($this->content->text_line_height) && $this->content->text_line_height) {
	if ($this->content->text_line_height == preg_replace("/[^0-9.]/", "", $this->content->text_line_height)) $this->content->text_line_height .= "px";
	?>
		line-height: <?php echo $this->content->text_line_height?>;
	<?php } ?>
	<?php if (isset($this->content->text_font_weight) && $this->content->text_font_weight) {
	?>
		font-weight: <?php echo $this->content->text_font_weight?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id ?> a.readmore {
	<?php if (isset($this->content->readmore_color) && $this->content->readmore_color) {?>
		color: <?php echo $this->content->readmore_color?>;
	<?php } ?>
	<?php if (isset($this->content->readmore_size) && $this->content->readmore_size) {
	if ($this->content->readmore_size == preg_replace("/[^0-9.]/", "", $this->content->readmore_size)) $this->content->readmore_size .= "px";
	?>
		font-size: <?php echo $this->content->readmore_size?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id ?> .vertical .carousel__item.slick-slide  {
		min-height: 200px;
	}

	#module-<?php echo $this->module->id?> .slick-arrow {
	<?php if (isset($this->content->carousel_arrow_background_color) && $this->content->carousel_arrow_background_color) {?>
		background-color: <?php echo $this->content->carousel_arrow_background_color?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-arrow:before {
	<?php if (isset($this->content->carousel_arrow_color) && $this->content->carousel_arrow_color) {?>
		color: <?php echo $this->content->carousel_arrow_color?>;
	<?php } ?>
	<?php if (isset($this->content->carousel_arrow_size) && $this->content->carousel_arrow_size) {
	if ($this->content->carousel_arrow_size == preg_replace("/[^0-9.]/", "", $this->content->carousel_arrow_size)) $this->content->carousel_arrow_size .= "px";
	?>
		font-size: <?php echo $this->content->carousel_arrow_size?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-arrow:hover:before {
	<?php if (isset($this->content->carousel_arrow_hover_color) && $this->content->carousel_arrow_hover_color) {?>
		color: <?php echo $this->content->carousel_arrow_hover_color?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-dots li button:before {
	<?php if (isset($this->content->carousel_dot_color) && $this->content->carousel_dot_color) {?>
		color: <?php echo $this->content->carousel_dot_color?>;
	<?php } ?>
	<?php if (isset($this->content->carousel_dot_size) && $this->content->carousel_dot_size) {
	if ($this->content->carousel_dot_size == preg_replace("/[^0-9.]/", "", $this->content->carousel_dot_size)) $this->content->carousel_dot_size .= "px";
	?>
		font-size: <?php echo $this->content->carousel_dot_size?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-dots li.slick-active button:before,
	#module-<?php echo $this->module->id?> .slick-dots li.slick-active:hover button:before,
	#module-<?php echo $this->module->id?> .slick-dots li:hover button:before {
	<?php if (isset($this->content->carousel_dot_hover_color) && $this->content->carousel_dot_hover_color) {?>
		color: <?php echo $this->content->carousel_dot_hover_color?>;
	<?php } ?>
	}

	<?php if (isset($this->content->blog_feed_title_overlay_bg) && $this->content->blog_feed_title_overlay_bg) {?>
	#module-<?php echo $this->module->id?> .blog-title--overlay {
		background-color: <?php echo $this->content->blog_feed_title_overlay_bg?>;
	}

	<?php } ?>

	<?php if (isset($this->content->blog_feed_title_overlay_padding) && $this->content->blog_feed_title_overlay_padding) {
		if ($this->content->blog_feed_title_overlay_padding == preg_replace("/[^0-9.]/", "", $this->content->blog_feed_title_overlay_padding)) $this->content->blog_feed_title_overlay_padding .= "px"; ?>
	#module-<?php echo $this->module->id?> .blog-title--overlay a {
		padding: <?php echo $this->content->blog_feed_title_overlay_padding?>;
	}

	<?php } ?>

	<?php if (isset($this->settings->blog_feed_title_overlay_hover) && $this->settings->blog_feed_title_overlay_hover == 'Enabled') {?>
	#module-<?php echo $this->module->id?> .blog-title--overlay {
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease;
	}

	#module-<?php echo $this->module->id?> .blog-feed-module__header:hover  .blog-title--overlay,
	#module-<?php echo $this->module->id?> .carousel__header:hover  .blog-title--overlay {
		opacity: 1;
		visibility: visible;
	}

	<?php } ?>

	<?php if (isset($this->settings->blog_feed_read_more_underline) && $this->settings->blog_feed_read_more_underline == 'Enabled') {?>

	#module-<?php echo $this->module->id?> .blog-feed-module a.readmore,
	#module-<?php echo $this->module->id?> .carousel__content a.readmore {
		text-decoration: underline;
	}

	<?php } ?>

	<?php if (isset($this->settings->blog_feed_read_more_underline_hover) && $this->settings->blog_feed_read_more_underline_hover == 'Enabled') {?>

	#module-<?php echo $this->module->id?> .blog-feed-module .readmore,
	#module-<?php echo $this->module->id?> .carousel__content a.readmore {
		text-decoration: none;
	}

	#module-<?php echo $this->module->id?> .blog-feed-module a.readmore:hover,
	#module-<?php echo $this->module->id?> .carousel__content a.readmore:hover {
		text-decoration: underline;
	}

	<?php } ?>

	<?php if (isset($this->content->blog_feed_column_spacing) && $this->content->blog_feed_column_spacing) {
			if ($this->content->blog_feed_column_spacing == preg_replace("/[^0-9.]/", "", $this->content->blog_feed_column_spacing)) $this->content->blog_feed_column_spacing .= "px"; ?>
	#module-<?php echo $this->module->id?> > .row {
		margin: 0 -<?php echo $this->content->blog_feed_column_spacing?>;
	}

	#module-<?php echo $this->module->id?> > .row > div {
		padding: 0 <?php echo $this->content->blog_feed_column_spacing?>;
	}

	<?php } ?>

	#module-<?php echo $this->module->id ?> .blog-feed-module__title,
	#module-<?php echo $this->module->id ?> .blog-header h2,
	#module-<?php echo $this->module->id ?> .blog-header h2 a,
	#module-<?php echo $this->module->id ?> .carousel__title,
	#module-<?php echo $this->module->id ?> .carousel__title a {
	<?php if (isset($this->content->blog_title_color) && $this->content->blog_title_color) {?>
		color: <?php echo $this->content->blog_title_color?>;
	<?php } ?>
	<?php if (isset($this->content->blog_title_size) && $this->content->blog_title_size) {
		if ($this->content->blog_title_size == preg_replace("/[^0-9.]/", "", $this->content->blog_title_size)) $this->content->blog_title_size .= "px";
		?>
		font-size: <?php echo $this->content->blog_title_size?>;
	<?php } ?>
	<?php if (isset($this->content->blog_title_line_height) && $this->content->blog_title_line_height) {
	if ($this->content->blog_title_line_height == preg_replace("/[^0-9.]/", "", $this->content->blog_title_line_height)) $this->content->blog_title_line_height .= "px";
	?>
		line-height: <?php echo $this->content->blog_title_line_height?>;
	<?php } ?>
	<?php if (isset($this->content->blog_title_font_weight) && $this->content->blog_title_font_weight) {
	?>
		font-weight: <?php echo $this->content->blog_title_font_weight?>;
	<?php } ?>
	<?php echo (isset($this->content->blog_title_font) && $this->content->blog_title_font && strtolower($this->content->blog_title_font) != 'default')?"font-family:\"{$fonts[$this->content->blog_title_font]['title']}\";":""?>
	}

	#module-<?php echo $this->module->id ?> .blog-feed-module__title:hover,
	#module-<?php echo $this->module->id ?> .blog-header h2:hover,
	#module-<?php echo $this->module->id ?> .blog-header h2 a:hover,
	#module-<?php echo $this->module->id ?> .carousel__title:hover,
	#module-<?php echo $this->module->id ?> .carousel__title a:hover {
	<?php if (isset($this->content->blog_title_hover_color) && $this->content->blog_title_hover_color) {?>
		color: <?php echo $this->content->blog_title_hover_color?>;
	<?php } ?>

	}

	#module-<?php echo $this->module->id ?> .post_date {
	<?php if (isset($this->content->blog_date_color) && $this->content->blog_date_color) {?>
		color: <?php echo $this->content->blog_date_color?>;
	<?php } ?>
	<?php if (isset($this->content->blog_date_size) && $this->content->blog_date_size) {
		if ($this->content->blog_date_size == preg_replace("/[^0-9.]/", "", $this->content->blog_date_size)) $this->content->blog_date_size .= "px";
		?>
		font-size: <?php echo $this->content->blog_date_size?>;
	<?php } ?>
	<?php if (isset($this->content->blog_date_line_height) && $this->content->blog_date_line_height) {
	if ($this->content->blog_date_line_height == preg_replace("/[^0-9.]/", "", $this->content->blog_date_line_height)) $this->content->blog_date_line_height .= "px";
	?>
		line-height: <?php echo $this->content->blog_date_line_height?>;
	<?php } ?>
	<?php if (isset($this->content->blog_date_font_weight) && $this->content->blog_date_font_weight) {
	?>
		font-weight: <?php echo $this->content->blog_date_font_weight?>;
	<?php } ?>
	<?php echo (isset($this->content->blog_date_font) && $this->content->blog_date_font && strtolower($this->content->blog_date_font) != 'default')?"font-family:\"{$fonts[$this->content->blog_date_font]['title']}\";":""?>

	<?php if (isset($this->content->blog_date_padding) && $this->content->blog_date_padding) {
if ($this->content->blog_date_padding == preg_replace("/[^0-9.]/", "", $this->content->blog_date_padding)) $this->content->blog_date_padding .= "px";
?>
		margin-top: <?php echo $this->content->blog_date_padding?> !important;
	<?php } ?>
	}


	#module-<?php echo $this->module->id ?> .blog-content__copy,
	#module-<?php echo $this->module->id ?> .blog-feed-module p,
	#module-<?php echo $this->module->id ?> .carousel__copy,
	#module-<?php echo $this->module->id ?> .carousel__copy p {
	<?php if (isset($this->content->blog_text_color) && $this->content->blog_text_color) {?>
		color: <?php echo $this->content->blog_text_color?>;
	<?php } ?>
	<?php if (isset($this->content->blog_text_size) && $this->content->blog_text_size) {
	if ($this->content->blog_text_size == preg_replace("/[^0-9.]/", "", $this->content->blog_text_size)) $this->content->blog_text_size .= "px";
	?>
		font-size: <?php echo $this->content->blog_text_size?>;
	<?php } ?>
	<?php if (isset($this->content->blog_text_line_height) && $this->content->blog_text_line_height) {
	if ($this->content->blog_text_line_height == preg_replace("/[^0-9.]/", "", $this->content->blog_text_line_height)) $this->content->blog_text_line_height .= "px";
	?>
		line-height: <?php echo $this->content->blog_text_line_height?>;
	<?php } ?>
	<?php if (isset($this->content->blog_text_font_weight) && $this->content->blog_text_font_weight) {
	?>
		font-weight: <?php echo $this->content->blog_text_font_weight?>;
	<?php } ?>
	<?php echo (isset($this->content->blog_text_font) && $this->content->blog_text_font && strtolower($this->content->blog_text_font) != 'default')?"font-family:\"{$fonts[$this->content->blog_text_font]['title']}\";":""?>
	}

	#module-<?php echo $this->module->id ?> a.btn-blog-continue,
	#module-<?php echo $this->module->id ?> .blog-feed-module a.readmore,
	#module-<?php echo $this->module->id ?> .carousel__content a.readmore {
	<?php if (isset($this->content->blog_readmore_text_color) && $this->content->blog_readmore_text_color) {?>
		color: <?php echo $this->content->blog_readmore_text_color?>;
	<?php } ?>
	<?php if (isset($this->content->blog_readmore_size) && $this->content->blog_readmore_size) {
if ($this->content->blog_readmore_size == preg_replace("/[^0-9.]/", "", $this->content->blog_readmore_size)) $this->content->blog_readmore_size .= "px";
?>
		font-size: <?php echo $this->content->blog_readmore_size?>;
	<?php } ?>
	<?php if (isset($this->content->blog_readmore_line_height) && $this->content->blog_readmore_line_height) {
if ($this->content->blog_readmore_line_height == preg_replace("/[^0-9.]/", "", $this->content->blog_readmore_line_height)) $this->content->blog_readmore_line_height .= "px";
?>
		line-height: <?php echo $this->content->blog_readmore_line_height?>;
	<?php } ?>
	<?php if (isset($this->content->blog_readmore_font_weight) && $this->content->blog_readmore_font_weight) {
?>
		font-weight: <?php echo $this->content->blog_readmore_font_weight?>;
	<?php } ?>

	<?php if (isset($this->content->blog_readmore_button_padding_tb) && $this->content->blog_readmore_button_padding_tb) {
if ($this->content->blog_readmore_button_padding_tb == preg_replace("/[^0-9.]/", "", $this->content->blog_readmore_button_padding_tb)) $this->content->blog_readmore_button_padding_tb .= "px";
?>
		margin-top: <?php echo $this->content->blog_readmore_button_padding_tb?> !important;
	<?php } ?>

		text-decoration: none;
	}

	#module-<?php echo $this->module->id ?> .blog-feed-module a.readmore:hover,
	#module-<?php echo $this->module->id ?> .carousel__content a.readmore:hover {
	<?php if (isset($this->content->blog_readmore_text_hover_color) && $this->content->blog_readmore_text_hover_color) {?>
		color: <?php echo $this->content->blog_readmore_text_hover_color?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id ?> a.btn-blog-continue {
	<?php if (isset($this->content->blog_readmore_border) && $this->content->blog_readmore_border) {?>
		border: 1px solid <?php echo $this->content->blog_readmore_border?>;
	<?php } ?>
	<?php if (isset($this->content->blog_readmore_border_width) && $this->content->blog_readmore_border_width) {
	if ($this->content->blog_readmore_border_width == preg_replace("/[^0-9.]/", "", $this->content->blog_readmore_border_width)) $this->content->blog_readmore_border_width .= "px";
	?>
		border-width: <?php echo $this->content->blog_readmore_border_width?>;
	<?php } ?>
	<?php if (isset($this->content->blog_readmore_color) && $this->content->blog_readmore_color) {?>
		background-color: <?php echo $this->content->blog_readmore_color?>;
		transition: all .2s ease;
	<?php } ?>

	<?php if (isset($this->content->blog_readmore_button_width) && $this->content->blog_readmore_button_width) {
		echo "width: ";
		if ($this->content->blog_readmore_button_width == preg_replace("/[^0-9.]/", "", $this->content->blog_readmore_button_width)) $this->content->blog_readmore_button_width .= "px";
		echo $this->content->blog_readmore_button_width;
		echo ";";
	}?>
	<?php echo (isset($this->content->blog_readmore_font) && $this->content->blog_readmore_font && strtolower($this->content->blog_readmore_font) != 'default')?"font-family:\"{$fonts[$this->content->blog_readmore_font]['title']}\";":""?>

	<?php if ( $this->content->blog_readmore_button_alignment == 'text-center') {?>
		margin-left: auto;
		margin-right: auto;
	<?php } else if($this->content->blog_readmore_button_alignment == 'text-right') { ?>
		margin-left: auto;
	<?php } ?>

	}

	#module-<?php echo $this->module->id ?> a.btn-blog-continue:hover {
	<?php if (isset($this->content->blog_readmore_hover_color) && $this->content->blog_readmore_hover_color) {?>
		background-color: <?php echo $this->content->blog_readmore_hover_color?>;
	<?php } ?>
	<?php if (isset($this->content->blog_readmore_border_hover) && $this->content->blog_readmore_border_hover) {?>
		border-color: <?php echo $this->content->blog_readmore_border_hover?>;
	<?php } ?>
	<?php if (isset($this->content->blog_readmore_text_hover_color) && $this->content->blog_readmore_text_hover_color) {?>
		color: <?php echo $this->content->blog_readmore_text_hover_color?>;
	<?php } ?>
	}

	/*blog grid settings*/
	<?php if (isset($this->settings->feed_layout) && $this->settings->feed_layout == 'grid-display') {
		if ($this->content->grid_column_spacing == preg_replace("/[^0-9.]/", "", $this->content->grid_column_spacing)) $this->content->grid_column_spacing;
		if ($this->content->grid_row_spacing == preg_replace("/[^0-9.]/", "", $this->content->grid_row_spacing)) $this->content->grid_row_spacing;
		?>
	<?php if (isset($this->settings->grid_rule) && $this->settings->grid_rule == 'Enabled') { ?>

	#module-<?php echo $this->module->id ?> .blog-grid--rule .blog-grid__item {
		margin-bottom: <?php echo ($this->content->grid_row_spacing ); ?>px;
	}
	#module-<?php echo $this->module->id ?> .blog-grid--rule .blog-grid__item:after {

		bottom: -<?php echo ($this->content->grid_row_spacing); ?>px;
		left: -<?php echo ($this->content->grid_row_spacing); ?>px;
		right: -<?php echo ($this->content->grid_row_spacing); ?>px;

	}

	<?php } ?>
	@media (min-width: 1200px) {
		#module-<?php echo $this->module->id ?> .blog-grid {
			grid-template-columns: repeat(<?php echo $this->content->grid_column_count; ?>, minmax(100px, 1fr));
			grid-column-gap: <?php echo $this->content->grid_column_spacing; ?>px;
			grid-row-gap: <?php echo $this->content->grid_row_spacing; ?>px;
		}
		#module-<?php echo $this->module->id ?> .blog-grid--rule .blog-grid__item:nth-last-child(-n+<?php echo $this->content->grid_column_count; ?>):after {
			display: none;
		}
		#module-<?php echo $this->module->id ?> .blog-grid--rule .blog-grid__item:nth-last-child(-n+<?php echo $this->content->grid_column_count; ?>) {
			margin-bottom: 0;
		}
	}

	<?php } ?>

	<?php if (isset($this->content->blog_title_padding) && $this->content->blog_title_padding) {
		if ($this->content->blog_title_padding == preg_replace("/[^0-9.]/", "", $this->content->blog_title_padding)) $this->content->blog_title_padding.= "px"; ?>
	#module-<?php echo $this->module->id ?> .blog-feed-title {
		padding-top: <?php echo $this->content->blog_title_padding; ?>;
	}
	<?php } ?>
	<?php if (isset($this->content->blog_summary_padding) && $this->content->blog_summary_padding) {
		if ($this->content->blog_summary_padding == preg_replace("/[^0-9.]/", "", $this->content->blog_summary_padding)) $this->content->blog_summary_padding.= "px"; ?>
	#module-<?php echo $this->module->id ?> .blog-feed-module p, #module-<?php echo $this->module->id ?> .blog-content__copy {
		padding-top: <?php echo $this->content->blog_summary_padding; ?>;
	}
	<?php } ?>

	@media (min-width: 768px) {
		#module-<?php echo $this->module->id ?> .blog-column--rule >div+div {
			border-color: <?php echo $this->content->blog_column_border?>;
		}
	}
</style>
