<?php
$url_cleaner = new Cny_View_Helper_UrlCleaner();
$extra_atrtibutes = '';
//get list of fonts
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();
?>
<div class="<?php echo $this->config['div_class']?> <?php echo (isset($this->content->alignment) && $this->content->alignment)?$this->content->alignment:''?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<?php if (isset($this->content->button_trigger_type) && $this->content->button_trigger_type == 'Modal') {
		$this->content->button_class .= " modal-trigger";
		$this->content->button_url = "/index/modal/code/{$this->content->button_modal_code}";
		$this->content->button_target = "";
		$extra_atrtibutes .= 'data-target="#modal-cms" data-extra_classes="'.$this->content->button_modal_size.'"';
	} ?>
	<a href="<?php echo $this->content->button_url?>" target="<?php echo $this->content->button_target?>" <?php echo $extra_atrtibutes?>
	   class="btn btn-default btn--cms-default <?php echo $this->content->button_class?> <?php echo $this->content->hover_effect?>"
		<?php echo (isset($this->content->onclick) && $this->content->onclick)?"onclick=\"{$this->content->onclick}\"":""?> style="
		<?php echo (isset($this->content->button_color) && $this->content->button_color)?"background-color:{$this->content->button_color};":""?>
		<?php echo (isset($this->content->text_color) && $this->content->text_color)?"color:{$this->content->text_color};":""?>
		<?php echo (isset($this->content->button_border_color) && isset($this->content->button_border_width) && $this->content->button_border_color && $this->content->button_border_width)?"border: {$this->content->button_border_width} solid {$this->content->button_border_color};":""?>
		<?php
		if (isset($this->content->button_padding_tb) && $this->content->button_padding_tb) {
			echo "padding-top: ";
			echo (isset($this->content->button_padding_tb) && $this->content->button_padding_tb) ? $this->content->button_padding_tb." " : "inherit ";
			echo ";";
			echo "padding-bottom: ";
			echo (isset($this->content->button_padding_tb) && $this->content->button_padding_tb) ? $this->content->button_padding_tb." " : "inherit ";
			echo ";";
		}?>
		<?php
		if (isset($this->content->button_padding_lr) && $this->content->button_padding_lr) {
			echo "padding-left: ";
			echo (isset($this->content->button_padding_lr) && $this->content->button_padding_lr) ? $this->content->button_padding_lr." " : "inherit ";
			echo ";";
			echo "padding-right: ";
			echo (isset($this->content->button_padding_lr) && $this->content->button_padding_lr) ? $this->content->button_padding_lr." " : "inherit ";
			echo ";";
		}?>
		<?php echo (isset($this->content->text_size) && $this->content->text_size)?"font-size:{$this->content->text_size};":""?>
		<?php echo (isset($this->content->text_weight) && $this->content->text_weight)?"font-weight:{$this->content->text_weight};":""?>
		<?php echo (isset($this->content->button_border_size) && $this->content->button_border_size)?"border-width:{$this->content->button_border_size};":""?>
		<?php echo (isset($this->content->button_border_color) && $this->content->button_border_color)?"border-color:{$this->content->button_border_color};":""?>
	">
		<?php if (isset($this->content->image_path) && $this->content->image_path) {?>
			<img src="<?php echo $url_cleaner->image($this->content->image_path)?>" alt="<?php echo htmlentities($this->content->label)?>" class="img-responsive">
		<?php }else {?>
			<div class="hover-shade"><?php echo (isset($this->content->label))?$this->content->label:""?></div>
		<?php } ?>
	</a>
</div>
<?php
if (isset($this->content->font) && $this->content->font) {
	if (stripos($this->content->font, "http://") !== false || stripos($this->content->font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->content->font . '" rel="stylesheet">';
	} else {
		if (isset($this->content->font) && $this->content->font) {
			$font = $fonts[$this->content->font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}
}
?>
<style>
	#module-<?php echo $this->module->id?> a:hover {
		color: <?php echo ($this->content->text_hover_color)?$this->content->text_hover_color:$this->content->text_color?> !important;
		background-color: <?php echo ($this->content->button_hover_color)?$this->content->button_hover_color:$this->content->button_color?> !important;
		border-width: <?php echo (isset($this->content->button_border_size) && $this->content->button_border_size)?$this->content->button_border_size:$this->content->button_border_size?> !important;
		border-color: <?php echo (isset($this->content->button_hover_border_color) && $this->content->button_hover_border_color)?$this->content->button_hover_border_color:$this->content->button_hover_border_color?> !important;
	}
	#module-<?php echo $this->module->id?> a:hover img {

	}
	#module-<?php echo $this->module->id?> a {
		<?php if (isset($this->content->button_width) && $this->content->button_width) {
			echo "max-width: ";
			if ($this->content->button_width == preg_replace("/[^0-9.]/", "", $this->content->button_width)) $this->content->button_width .= "px";
			echo $this->content->button_width;
			echo ";";
			echo "width:100%;";
		}?>
	<?php echo (isset($this->content->font) && $this->content->font && strtolower($this->content->font) != 'default')?"font-family:\"{$fonts[$this->content->font]['title']}\";":""?>
	}
</style>
