<?php
$panels = array();
if (isset($this->content->panels)) {
	foreach ($this->content->panels as $panel) {
		if (isset($panel->status) && $panel->status == 'Disabled') continue;

		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

$url_cleaner = new Cny_View_Helper_UrlCleaner();
?>

<div id="module-<?php echo $this->module->id?>" class="<?php echo $this->config['div_class']?>" <?php echo $this->config['data_attributes']?>>
	<div class="js-carousel carousel carousel--single simple-carousel m-b-20" data-module_id="module-<?php echo $this->module->id?>"
	     data-infinite_scroll="<?php echo (isset($this->settings->infinite_scroll))?$this->settings->infinite_scroll:'Enabled'?>"
	     data-slides="<?php echo (isset($this->settings->slides_display_desktop))?$this->settings->slides_display_desktop:''?>"
		 data-pagination="<?php echo (!isset($this->settings->pagination_status) || $this->settings->pagination_status == 'Enabled')?"Enabled":"Disabled"?>"
		 data-arrows="<?php echo (isset($this->settings->arrows_status) && $this->settings->arrows_status == 'Enabled')?"Enabled":"Disabled"?>"
		 data-speed="<?php echo (isset($this->content->transition_speed) && $this->content->transition_speed)?($this->content->transition_speed*1000):"3000"?>"
	     data-autoplay="Enabled"
	>
		<?php
		foreach ($panels as $panel) {
			$thumbnail = str_ireplace("userFiles/uploads","userThumbs",$panel->image_path);
			?>
			<div class="carousel__item">
				<?php if ($panel->link_url || (isset($this->settings->lightbox_status) && $this->settings->lightbox_status == 'Enabled')) {?>
					<a href="<?php echo (isset($this->settings->lightbox_status) && $this->settings->lightbox_status == 'Enabled')?$panel->image_path:$panel->link_url?>" target="<?php echo $panel->link_target?>" class="<?php echo (isset($this->settings->lightbox_status) && $this->settings->lightbox_status == 'Enabled')?'js-trigger-colorbox':''?>" rel="gallery-<?php echo $this->module->id?>">
				<?php } ?>
				<img class="img-responsive center-block" src="<?php echo $url_cleaner->image($panel->image_path)?>" alt="<?php echo htmlentities((isset($panel->alt_title) && $panel->alt_title)?$panel->alt_title:$panel->label)?>" <?php echo (isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$panel->image_hover_zoom_percent.'"':''?> />
				<?php if ($panel->link_url || (isset($this->settings->lightbox_status) && $this->settings->lightbox_status == 'Enabled')) {?>
					</a>
				<?php } ?>

				<?php
				if (isset($panel->caption) && $panel->caption) {
				?>
					<div class="carousel-caption"><?php echo $panel->caption?></div>
				<?php
				}
				?>
			</div>
		<?php } ?>
	</div>
	<div class="js-carousel carousel carousel--thumbs hidden-xs hidden-sm <?php echo (!isset($this->settings->thumbnail_status) || $this->settings->thumbnail_status == "Disabled")?"hide":""?>"
		data-dynamic-slides="Enabled"
	>
		<?php
		foreach ($panels as $panel) {
			$thumbnail = str_ireplace("userFiles/uploads","userThumbs",$panel->image_path);
			?>
			<div class="carousel__item">
				<img class="img-responsive " src="<?php echo $url_cleaner->image($panel->image_path); //echo $url_cleaner->image((file_exists($_SERVER['DOCUMENT_ROOT'].$thumbnail))?$thumbnail:$panel->image_path)?>" alt="<?php echo htmlentities((isset($panel->alt_title) && $panel->alt_title)?$panel->alt_title:$panel->label)?>"
				style="
				<?php
				if (isset($this->content->max_thumbnail_height) && $this->content->max_thumbnail_height) {
					if ($this->content->max_thumbnail_height == preg_replace("/[^0-9,.-]/", "", $this->content->max_thumbnail_height)) $this->content->max_thumbnail_height .= "px";
					echo "max-height: {$this->content->max_thumbnail_height};";
				}
				?>
				"/>
			</div>
		<?php } ?>
	</div>
</div>

<style>
	<?php if (isset($this->settings->carousel_prev_arrow_status) && $this->settings->carousel_prev_arrow_status == 'Disabled') {?>
		#module-<?php echo $this->module->id?> .simple-carousel .slick-prev,
		#module-<?php echo $this->module->id?> .simple-carousel .slick-prev {display:none!important;}
	<?php } ?>

	#module-<?php echo $this->module->id?> .simple-carousel .slick-arrow {
	<?php if (isset($this->settings->carousel_arrow_background_color) && $this->settings->carousel_arrow_background_color) {?>
		background-color: <?php echo $this->settings->carousel_arrow_background_color?>;
	<?php } ?>
	}
	#module-<?php echo $this->module->id?> .slick-arrow:before {
	<?php if (isset($this->settings->carousel_arrow_color) && $this->settings->carousel_arrow_color) {?>
		color: <?php echo $this->settings->carousel_arrow_color?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .simple-carousel .slick-arrow:before {
	<?php if (isset($this->settings->carousel_arrow_size) && $this->settings->carousel_arrow_size) {
	if ($this->settings->carousel_arrow_size == preg_replace("/[^0-9.]/", "", $this->settings->carousel_arrow_size)) $this->settings->carousel_arrow_size .= "px";
	?>
		font-size: <?php echo $this->settings->carousel_arrow_size?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-arrow:hover:before {
	<?php if (isset($this->settings->carousel_arrow_hover_color) && $this->settings->carousel_arrow_hover_color) {?>
		color: <?php echo $this->settings->carousel_arrow_hover_color?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .simple-carousel .slick-dots {
		bottom: 10px;
	}
	#module-<?php echo $this->module->id?> .simple-carousel .slick-dots li button:before {
		font-size: 14px;
		color: #ffffff;
	}
	#module-<?php echo $this->module->id?> .simple-carousel .slick-dots li.slick-active button:before {
		opacity: 1;
		color: #ffffff;
	}
</style>
