<?php
$year = (isset($this->content->copyright_year)  && trim($this->content->copyright_year) != "")
	? $this->content->copyright_year : date("Y");

$color = (isset($this->content->message_text_color) && trim($this->content->message_text_color) != "")
	? 'style="color:' . $this->content->message_text_color . '"' : '';

$class = 'class="text-center"';
if(isset($this->content->message_text_position)
	&& trim($this->content->message_text_position) != ""
	&& trim($this->content->message_text_position) != "center") {

	$class = 'class="text-' . $this->content->message_text_position . '"';
}

$copyright_content = 'off';
if(isset($this->content->copyright_content)
&& $this->content->copyright_content == "Enabled") {
        $copyright_content = 'on';
}

//get list of fonts
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();
?>
<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<div <?php echo $class; ?> <?php echo $color; ?>>
		<i class="fa fa-copyright"></i>
		<?php echo $year; ?>
		<?php if(isset($this->content->message_text_url) && trim($this->content->message_text_url) != ""): ?>
			<a <?php echo $color; ?> target="_blank" href="<?php echo isset($this->content->message_text_url) ? $this->content->message_text_url : ""; ?>">
		<?php endif; ?>
		<?php echo isset($this->content->message_text) ? $this->content->message_text : ""; ?>
		<?php if(isset($this->content->message_text_url) && trim($this->content->message_text_url) != ""): ?>
			</a>
		<?php endif; ?>
	</div>
</div>

<?php
if (isset($this->content->font) && $this->content->font) {
	if (stripos($this->content->font, "http://") !== false || stripos($this->content->font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->content->font . '" rel="stylesheet">';
	} else {
		if (isset($this->content->font) && $this->content->font) {
			$font = $fonts[$this->content->font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}
}
?>
<style>
	#module-<?php echo $this->module->id?> {
	<?php if (isset($this->content->text_size) && $this->content->text_size) {
	if ($this->content->text_size == preg_replace("/[^0-9.]/", "", $this->content->text_size)) $this->content->text_size .= "px";
	?>
		font-size: <?php echo $this->content->text_size?>;
	<?php } ?>
	<?php if (isset($this->content->font) && $this->content->font && strtolower($this->content->font) != 'default') {?>
		font-family: "<?php echo $fonts[$this->content->font]['title'];?>";
	<?php } ?>
	<?php echo (isset($this->content->text_weight) && $this->content->text_weight)?"font-weight:{$this->content->text_weight};":""?>
	}
</style>
