<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();

//timezone offset
$date = new DateTime('today', new DateTimeZone($settings_mapper->getValueByCode('site_timezone', 'America/New_York')));
$offset = $date->getOffset() / 3600;

//get list of fonts
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();
?>


<div class="countdown-wrap" id="module-<?php echo $this->module->id ?>" <?php echo $this->config['data_attributes']?>>
	<div class="countdown <?php echo $this->config['div_class'] ?> <?php echo $this->settings->countdown_alignment; ?>"></div>
</div>

<?php
if (isset($this->settings->countdown_label_font) && $this->settings->countdown_label_font || isset($this->settings->countdown_timer_font) && $this->settings->countdown_timer_font ) {

	if (stripos($this->settings->countdown_label_font, "http://") !== false || stripos($this->settings->countdown_label_font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->settings->countdown_label_font . '" rel="stylesheet">';
	} else {
		if (isset($this->settings->countdown_label_font) && $this->settings->countdown_label_font) {
			$font = $fonts[$this->settings->countdown_label_font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}

		if (isset($this->settings->countdown_timer_font) && $this->settings->countdown_timer_font) {
			$font = $fonts[$this->settings->countdown_timer_font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}
}
?>
<style>
	#module-<?php echo $this->module->id ?> .is-countdown { <?php //override some default styling of the countdown ?>
		border: 0;
		background-color: transparent;
	}

	#module-<?php echo $this->module->id ?> .countdown-row {
	<?php if (isset($this->settings->countdown_label_line_height) && $this->settings->countdown_label_line_height) {
if ($this->settings->countdown_label_line_height == preg_replace("/[^0-9.]/", "", $this->settings->countdown_label_line_height)) $this->settings->countdown_label_line_height .= "px";
?>
		line-height: <?php echo $this->settings->countdown_label_line_height?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id ?> .countdown-section {
		display: flex;
		flex-direction: <?php echo (isset($this->settings->countdown_label_position) && $this->settings->countdown_label_position)?$this->settings->countdown_label_position:"column"?>;
	}

	#module-<?php echo $this->module->id ?> .countdown-period {
	<?php if (isset($this->settings->countdown_label_color) && $this->settings->countdown_label_color) {?>
		color: <?php echo $this->settings->countdown_label_color?>;
	<?php } ?>

	<?php if (isset($this->settings->countdown_label_size) && $this->settings->countdown_label_size) {
		if ($this->settings->countdown_label_size == preg_replace("/[^0-9.]/", "", $this->settings->countdown_label_size)) $this->settings->countdown_label_size .= "px";
		?>
		font-size: <?php echo $this->settings->countdown_label_size?>;
	<?php } ?>

	<?php if (isset($this->settings->countdown_label_font_weight) && $this->settings->countdown_label_font_weight) {
	?>
		font-weight: <?php echo $this->settings->countdown_label_font_weight?>;
	<?php } ?>
	<?php echo (isset($this->settings->countdown_label_font) && $this->settings->countdown_label_font && strtolower($this->settings->countdown_label_font) != 'default')?"font-family:\"{$fonts[$this->settings->countdown_label_font]['title']}\";":""?>

	<?php //if( (isset($this->settings->countdown_label) && $this->settings->countdown_label == 'Enabled') && (isset($this->settings->countdown_label_display) && $this->settings->countdown_label_display == 'bottom')  ) { ?>
	<?php if( (isset($this->settings->countdown_label) && $this->settings->countdown_label == 'Disabled') ) { ?>
		display: none;
	<?php } ?>
	}



	#module-<?php echo $this->module->id ?> .countdown-amount {
	<?php if (isset($this->settings->countdown_timer_color) && $this->settings->countdown_timer_color) {?>
		color: <?php echo $this->settings->countdown_timer_color?>;
	<?php } ?>

	<?php if (isset($this->settings->countdown_timer_size) && $this->settings->countdown_timer_size) {
		if ($this->settings->countdown_timer_size == preg_replace("/[^0-9.]/", "", $this->settings->countdown_timer_size)) $this->settings->countdown_timer_size .= "px";
		?>
		font-size: <?php echo $this->settings->countdown_timer_size?>;
	<?php } ?>

	<?php if (isset($this->settings->countdown_timer_font_weight) && $this->settings->countdown_timer_font_weight) {
	?>
		font-weight: <?php echo $this->settings->countdown_timer_font_weight?>;
	<?php } ?>
	<?php echo (isset($this->settings->countdown_timer_font) && $this->settings->countdown_timer_font && strtolower($this->settings->countdown_timer_font) != 'default')?"font-family:\"{$fonts[$this->settings->countdown_timer_font]['title']}\";":""?>
	}

</style>
<script>
	$(function() {
		$('#module-<?php echo $this->module->id ?> .countdown').countdown({
			until: new Date('<?php echo $this->settings->countdown_date; ?> <?php echo $this->settings->countdown_time; ?>'),
			timezone: <?php echo $offset;?>,
			layout: '<div class="countdown-row"><?php
				echo (isset($this->settings->force_show_years) && $this->settings->force_show_years == 'Enabled')?'<span class="countdown-section"><span class="countdown-amount">{yn}</span><span class="countdown-period">Years</span></span>':'';
				echo (isset($this->settings->force_show_months) && $this->settings->force_show_months == 'Enabled')?'<span class="countdown-section"><span class="countdown-amount">{on}</span><span class="countdown-period">Months</span></span>':'';
				echo (isset($this->settings->force_show_days) && $this->settings->force_show_days == 'Enabled')?'<span class="countdown-section"><span class="countdown-amount">{dn}</span><span class="countdown-period">Days</span></span>':'';
				echo (isset($this->settings->force_show_hours) && $this->settings->force_show_hours == 'Enabled')?'<span class="countdown-section"><span class="countdown-amount">{hn}</span><span class="countdown-period">Hours</span></span>':'';
				echo (isset($this->settings->force_show_minutes) && $this->settings->force_show_minutes == 'Enabled')?'<span class="countdown-section"><span class="countdown-amount">{mn}</span><span class="countdown-period">Minutes</span></span>':'';
				echo (isset($this->settings->force_show_seconds) && $this->settings->force_show_seconds == 'Enabled')?'<span class="countdown-section"><span class="countdown-amount">{sn}</span><span class="countdown-period">Seconds</span></span>':'';
				?></div>',
			padZeroes: false,
			expiryText: ''
		});
	});
</script>
