<?php
$position = 'text-center';
if (isset($this->content->ca_button_position) && $this->content->ca_button_position == 'left') {
	$position = 'pull-left';
}elseif (isset($this->content->ca_button_position) && $this->content->ca_button_position == 'right') {
	$position = 'pull-right';
}

$url_cleaner = new Cny_View_Helper_UrlCleaner();
$media_cache = new Cny_View_Helper_MediaCache();
$image_profile = (isset($this->settings->image_profile))?$this->settings->image_profile:'';

if(isset($this->content->force_overlay_cta_content)
&& $this->content->force_overlay_cta_content == "Enabled") {
        $force_overlay_cta_content = 'on';
} else {
        $force_overlay_cta_content = 'off';
}

if($force_overlay_cta_content == 'on'
&& isset($this->content->force_overlay_cta_content_hover)
&& $this->content->force_overlay_cta_content_hover == "Enabled") {
        $force_overlay_cta_content_hover = 'on';
} else {
        $force_overlay_cta_content_hover = 'off';
}

if($force_overlay_cta_content == 'on'
&& isset($this->content->force_overlay_cta_content_background_color_opacity)
&& $this->content->force_overlay_cta_content_background_color_opacity > 0) {
        $opacity = (double)(((double)$this->content->force_overlay_cta_content_background_color_opacity)/100);
}

//get list of fonts
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

if (isset($this->content->font) && $this->content->font) {
	if (stripos($this->content->font, "http://") !== false || stripos($this->content->font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->content->font . '" rel="stylesheet">';
	} else {
		if (isset($this->content->font) && $this->content->font) {
			$font = $fonts[$this->content->font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}
}
?>

<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?><?php if (isset($this->content->image_link_url) && $this->content->image_link_url) {?> data-href="<?php echo $this->content->image_link_url?>" data-target="<?php echo $this->content->image_link_target?>" <?php } ?>>
	<?php if (isset($this->content->cta_title) && $this->content->cta_title) {?>
		<div class="cta-title"><?php echo $this->content->cta_title ?></div>
	<?php } ?>
	<div class="cta_module-image_box thumbnail-img <?php echo $position?>">
        <div class="cta_module-content">
            <?php if (isset($this->content->image_path) && $this->content->image_path) {?>
                <div class="cta_module-content-image">
                    <?php if (isset($this->content->image_link_url) && $this->content->image_link_url) {?>
                            <a href="<?php echo $this->content->image_link_url?>" target="<?php echo $this->content->image_link_target?>">
                    <?php }?>
                    <img class="img-responsive<?php echo (isset($this->content->ca_button_position) && $this->content->ca_button_position == ' center')?" center-block":""?> <?php echo $this->settings->image_class?> <?php echo (isset($this->settings->image_hover_class))?$this->settings->image_hover_class:''?>" src="<?php echo $media_cache->getImage($this->content->image_path, $image_profile) ?>" alt="<?php echo $this->content->alt_title?>" title="<?php echo $this->content->alt_title?>"
                         <?php echo (isset($this->settings->image_hover_zoom_status) && $this->settings->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$this->settings->image_hover_zoom_percent.'"':''?>
                    >
                    <?php if (isset($this->content->image_link_url) && $this->content->image_link_url) {?>
                            </a>
                    <?php } ?>
                </div>
            <?php } ?>
            <?php if ($force_overlay_cta_content == 'on') {?>
                    <div class="<?php echo ($force_overlay_cta_content_hover == 'on') ? 'cta_module-force_overlay_cta_content_hover' : ''; ?> cta_module-force_overlay_cta_content_background_color" style="<?php echo isset($this->content->ca_button_text_color) ? "background-color:{$this->content->force_overlay_cta_content_background_color};" : ""?> <?php echo (isset($opacity) && $opacity > 0) ? "opacity:{$opacity};" : ""?>"></div>
            <?php } ?>
            <div class="<?php echo ($force_overlay_cta_content_hover == 'on') ? 'cta_module-force_overlay_cta_content_hover' : 'cta_module-content-copy'; ?> <?php echo ($force_overlay_cta_content == 'on') ? 'cta_module-force_overlay_cta_content' : ''; ?>">
                    <div class="caption <?php echo $position?>" style="<?php echo (isset($this->content->ca_text_padding) && $this->content->ca_text_padding)?"padding:0 {$this->content->ca_text_padding};":""?>
                    <?php echo (isset($this->content->description_shadow) && $this->content->description_shadow == 'Enabled')?"text-shadow:0 {$this->content->description_shadow_size} {$this->content->description_shadow_size} {$this->content->description_shadow_color};":""?>
                            ">
                            <?php echo (isset($this->content->description))?$this->content->description:''?>
                    </div>
                <?php if (isset($this->content->ca_button_url) && $this->content->ca_button_url) {?>
                    <div class="cta_module-content-button <?php echo (stripos($this->content->ca_button_class,'-full') !== false)?'text-center':$position?>">
                            <a class="btn btn-default btn--cms-default <?php echo $this->content->ca_button_class?> <?php echo isset($this->content->ca_button_hover_effect)?$this->content->ca_button_hover_effect:''?>" href="<?php echo $this->content->ca_button_url?>" target="<?php echo $this->content->ca_button_link_target?>"
                                <?php echo (isset($this->content->onclick) && $this->content->onclick)?"onclick=\"{$this->content->onclick}\"":""?>
                               style="<?php echo ($this->content->ca_button_color)?"background-color:{$this->content->ca_button_color};":""?>
                               <?php echo ($this->content->ca_button_text_color)?"color:{$this->content->ca_button_text_color};":""?>
                               <?php echo (isset($this->content->ca_button_border_color) && isset($this->content->ca_button_border_width) && $this->content->ca_button_border_color && $this->content->ca_button_border_width)?"border: {$this->content->ca_button_border_width} solid {$this->content->ca_button_border_color};":""?>
                               <?php
                               if ((isset($this->content->ca_button_padding_tb) && $this->content->ca_button_padding_tb) || (isset($this->content->ca_button_padding_lr) && $this->content->ca_button_padding_lr)) {
                                       echo "padding: ";
                                       echo (isset($this->content->ca_button_padding_tb) && $this->content->ca_button_padding_tb) ? $this->content->ca_button_padding_tb." " : "inherit ";
                                       echo (isset($this->content->ca_button_padding_lr) && $this->content->ca_button_padding_lr) ? $this->content->ca_button_padding_lr." " : "inherit ";
                                       echo ";";
                                    }?>
                               <?php if (isset($this->content->ca_button_width) && $this->content->ca_button_width) {
                                   echo "width: ";
                                       if ($this->content->ca_button_width == preg_replace("/[^0-9.]/", "", $this->content->ca_button_width)) $this->content->ca_button_width .= "px";
                                   echo $this->content->ca_button_width;
                                   echo ";";
                               }?>
                               <?php echo (isset($this->content->ca_button_text_size) && $this->content->ca_button_text_size)?"font-size:{$this->content->ca_button_text_size};":""?>
                               <?php echo (isset($this->content->ca_text_weight) && $this->content->ca_text_weight)?"font-weight:{$this->content->ca_text_weight};":""?>"
                            ><?php echo (isset($this->content->ca_button_text))?$this->content->ca_button_text:""?></a>
                    </div>
                <?php } ?>
            </div>
        </div>
	</div>
</div>

<style>
	<?php if ((isset($this->content->font) && $this->content->font && strtolower($this->content->font) != 'default') ) { ?>
		#module-<?php echo $this->module->id?> .cta_module-content-button .btn {
			font-family: '<?php echo $fonts[$this->content->font]['title'];?>';
		}
	<?php } ?>
</style>
