<?php
$panels = array();
if (isset($this->content->panels)) {
	foreach ($this->content->panels as $panel) {
		if (isset($panel->status) && $panel->status == 'Disabled') continue;

		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}
if (!$panels) {
	return;
}

$vp = new Cny_Model_VideoParser();
$url_cleaner = new Cny_View_Helper_UrlCleaner();

$default_transition = (isset($this->content->transition_style))?$this->content->transition_style:'fade';
?>
<!--Enhanced Slider-->
<div class="rev_slider_wrapper <?php echo ($this->content->fullscreen == 'on')?"fullscreen-container":""?> <?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<!-- the ID here will be used in the inline JavaScript below to initialize the slider -->
	<div id="carousel-<?php echo $this->module->id?>" class="rev_slider <?php echo ($this->content->fullscreen == 'on')?"fullscreenbanner":""?>" data-version="5.4.5" style="display:none"
	     data-speed="<?php echo ($this->content->transition_speed * 1000)?>"
	     data-fullscreen="<?php echo $this->content->fullscreen?>"
	     data-height="<?php echo $this->content->height?>"
	     data-arrows="<?php echo (isset($this->content->navigation_arrows_status))?$this->content->navigation_arrows_status:'off'?>"
	     data-arrows_style="<?php echo (isset($this->content->navigation_arrows_style))?$this->content->navigation_arrows_style:'gyges'?>"
	     data-dots="<?php echo (isset($this->content->navigation_dots_status))?$this->content->navigation_dots_status:'off'?>"
	     data-dots_style="<?php echo (isset($this->content->navigation_dots_style))?$this->content->navigation_dots_style:'gyges'?>"
	     data-dots_alignment="<?php echo (isset($this->content->dot_alignment))?$this->content->dot_alignment:'center'?>"
	>
		<ul>
			<?php
			foreach ($panels as $panel) {
			$active = ($panel->sort_order == 0) ? "active" : "";
			?>
			<!-- BEGIN SLIDE -->
			<li class="<?php echo $active ?>" data-transition="<?php echo (isset($panel->transition_style) && $panel->transition_style)?$panel->transition_style:$default_transition?>"
			    data-slotamount="5"
			    data-masterspeed="1000"
			    data-title="<?php echo $panel->label ?>"
			    data-mediafilter="<?php echo (isset($panel->image_filter) && $panel->image_filter) ? $panel->image_filter : "" ?>">

				<!-- SLIDE'S MAIN BACKGROUND IMAGE -->
				<img src="<?php echo ($panel->image_path) //don't clean the URL otherwise it causes issues ?>" class="rev-slidebg" alt="" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

				<?php
				if (isset($panel->video_url) && $panel->video_url) {
				$video_details = $vp->getMediaDetails($panel->video_url);
				?>

				<?php if ($video_details['type'] == 'youtube') {?>
					<!-- BEGIN YOUTUBE LAYER -->
					<div class="rs-background-video-layer"
					     data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 300, "to": "opacity: 0"}]'
					     data-type="video"
					     data-ytid="<?php echo $video_details['video_id']?>"
					     data-videowidth="100%"
					     data-videoheight="100%"
					     data-autoplay="on"
					     data-videocontrols="none"
					     data-nextslideatend="<?php echo (count($panels) > 1)?"true":"false"?>"
					     data-forcerewind="on"
					     data-videoloop="<?php echo (count($panels) > 1)?"loopandnoslidestop":"loop"?>"
					     data-videoattributes="version=3&enablejsapi=1&html5=1&hd=1&wmode=opaque&showinfo=0&rel=0&origin=http://cny-products.cnycloud3.com;"
					     data-x="center"
					     data-y="center"
					     data-hoffset="0"
					     data-voffset="0"
					     data-basealign="slide"
					     data-forceCover="1"
					     data-volume="mute"
					></div>
					<!-- END YOUTUBE LAYER -->
				<?php } ?>

				<?php if ($video_details['type'] == 'vimeo') {?>
					<!-- BEGIN VIMEO LAYER -->
					<div class="rs-background-video-layer"
					     data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 300, "to": "opacity: 0"}]'
					     data-type="video"
					     data-vimeoid="<?php echo $video_details['video_id']?>"
					     data-videowidth="100%"
					     data-videoheight="100%"
					     data-autoplay="on"
					     data-videocontrols="none"
					     data-nextslideatend="<?php echo (count($panels) > 1)?"true":"false"?>"
					     data-forcerewind="on"
					     data-videoloop="<?php echo (count($panels) > 1)?"loopandnoslidestop":"loop"?>"
					     data-videoattributes="background=1&hd=1&wmode=opaque&showinfo=0&rel=0"
					     data-x="center"
					     data-y="center"
					     data-hoffset="0"
					     data-voffset="0"
					     data-basealign="slide"
					     data-forceCover="1"
					></div>
					<!-- END VIMEO LAYER -->
				<?php } ?>

				<?php if ($video_details['type'] == 'generic') {?>
					<!-- BEGIN HTML5 Video LAYER -->
					<div class="rs-background-video-layer"
					     data-forcerewind="on"
					     data-volume="mute"
					     data-videowidth="100%"
					     data-videoheight="100%"
					     data-videomp4="<?php echo $video_details['embed_url']?>"
					     data-videopreload="auto"
					     data-videoloop="<?php echo (count($panels) > 1)?"loopandnoslidestop":"loop"?>"
					     data-forceCover="1"
					     data-aspectratio="16:9"
					     data-autoplay="true"
					     data-autoplayonlyfirsttime="false"
					     data-nextslideatend="<?php echo (count($panels) > 1)?"true":"false"?>"
					></div>
					<!-- END HTML5 LAYER -->
				<?php } ?>

				<?php } ?>

				<?php if (isset($panel->overlay_title) && $panel->overlay_title) { ?>
					<!-- LAYER -->
					<div class="tp-caption re-title-v1 sft start"
					     data-x="center"
					     data-y="center"
					     data-speed="1500"
					     data-start="0" <?php //TODO make these customizeable settings - seconds * 1000 ?>
					     data-easing="Back.easeInOut"
					     data-endeasing="Power1.easeIn"
					     data-endspeed="300"
					     data-blendmode="<?php echo (isset($panel->overlay_title_blend) && $panel->overlay_title_blend) ? $panel->overlay_title_blend : "" ?>"
					     data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"},
                                          {"delay": "wait", "speed": 300, "to": "opacity: 0"}]'

					     data-fontsize="['80','80','80','60']"
					     data-width="none"
					     data-height="none"
					     data-whitespace="nowrap"
					>
						<?php echo $panel->overlay_title ?>
					</div>
					<!-- END LAYER -->
				<?php } ?>

				<?php if (isset($panel->overlay_text) && $panel->overlay_text) { ?>
					<!-- LAYER -->
					<div class="tp-caption re-text-v1 sft"
					     data-x="center"
					     data-y="center"
					     data-speed="1400"
					     data-start="0" <?php //TODO make these customizeable settings - seconds * 1000 ?>
					     data-easing="Power4.easeOut"
					     data-endspeed="300"
					     data-endeasing="Power1.easeIn"
					     data-captionhidden="off"
					     data-fontsize="['80','80','80','60']"
					     data-width="none"
					     data-height="none"
					     data-whitespace="nowrap"
					     style="z-index: 6; white-space: nowrap;"
					     data-blendmode="<?php echo (isset($panel->overlay_text_blend) && $panel->overlay_text_blend) ? $panel->overlay_text_blend : "" ?>"
					     style="<?php echo (isset($panel->overlay_text_shadow) && $panel->overlay_text_shadow == 'Enabled')?"text-shadow:0 {$panel->overlay_text_shadow_size} {$panel->overlay_text_shadow_size} {$panel->overlay_text_shadow_color};":""?>"
					>

						<div class="hidden-xs"><?php echo $panel->overlay_text ?></div>
						<div class="visible-xs"><?php echo $panel->overlay_text_mobile ?></div>


					</div>
					<!-- END LAYER -->
				<?php } ?>

				<?php if (isset($panel->ca_button_text) && $panel->ca_button_text) { ?>
					<!-- LAYER -->
					<div class="tp-caption sft"
					     data-x="center"
					     data-y="center"
					     data-speed="1600"
					     data-start="0" <?php //TODO make these customizeable settings - seconds * 1000 ?>
					     data-easing="Power4.easeOut"
					     data-endspeed="300"
					     data-endeasing="Power1.easeIn"
					     data-captionhidden="off"
					     style="z-index: 6; white-space: nowrap;">
						<a class="btn-u btn-u-lg text-center btn--cms-default <?php echo $panel->ca_button_class?>" href="<?php echo $panel->ca_button_url ?>" <?php echo (isset($panel->ca_button_link_target) && $panel->ca_button_link_target)?"target=\"{$panel->ca_button_link_target}\"":''?>
						   style="<?php echo ($panel->ca_button_color) ? "background-color:{$panel->ca_button_color};" : "" ?>
						   <?php echo ($panel->ca_button_text_color) ? "color:{$panel->ca_button_text_color};" : "" ?>
						   <?php echo (isset($this->content->ca_button_border_color) && isset($this->content->ca_button_border_width) && $this->content->ca_button_border_color && $this->content->ca_button_border_width)?"border: {$this->content->ca_button_border_width} solid {$this->content->ca_button_border_color};":""?>
						   <?php
						   if ((isset($panel->ca_button_padding_tb) && $panel->ca_button_padding_tb) || (isset($panel->ca_button_padding_lr) && $panel->ca_button_padding_lr)) {
							   echo "padding: ";
							   echo (isset($panel->ca_button_padding_tb) && $panel->ca_button_padding_tb) ? $panel->ca_button_padding_tb." " : "inherit ";
							   echo (isset($panel->ca_button_padding_lr) && $panel->ca_button_padding_lr) ? $panel->ca_button_padding_lr." " : "inherit ";
							   echo ";";
						   }?>
						   <?php if (isset($panel->ca_button_width) && $panel->ca_button_width) {
							   echo "width: ";
							   if ($panel->ca_button_width == preg_replace("/[^0-9.]/", "", $panel->ca_button_width)) $panel->ca_button_width .= "px";
							   echo $panel->ca_button_width;
							   echo ";";
						   }?>
								   "><?php echo $panel->ca_button_text ?></a>
					</div>
					<!-- END LAYER -->
				<?php } ?>

				<?php if (isset($content->overlay_anchor) && $content->overlay_anchor) { ?>
					<!--ANCHOR LAYER-->
					<div class="tp-caption tp-resizeme"
					     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
					     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['44','54','54','54']"
					     data-width="none"
					     data-height="none"
					     data-whitespace="nowrap"
					     data-visibility="['on','on','off','off']"

					     data-type="image"
					     data-actions='[{"event":"click","action":"scrollbelow","offset":"50px","delay":"0"}]'
					     data-basealign="slide"
					     data-responsive_offset="on"

					     data-startslide="0"
					     data-endslide="2"
					     data-frames='[{"from":"y:-50px;sX:0.2;sY:0.2;opacity:0;","speed":500,"to":"o:1;","delay":2000,"ease":"Back.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
					     data-textAlign="['left','left','left','left']"
					     data-paddingtop="[0,0,0,0]"
					     data-paddingright="[0,0,0,0]"
					     data-paddingbottom="[0,0,0,0]"
					     data-paddingleft="[0,0,0,0]"

					     style="z-index: 39;border-width:0px;cursor:pointer;color:#fff;">
						<div class="rs-looped rs-wave"  data-speed="2" data-angle="0" data-radius="1px" data-origin="50% 50%"><i class="fa fa-2x fa-angle-down text-white"></i> </div></div>
					<!--END ANCHOR LAYER-->
				<?php } ?>

			</li><!-- END SLIDE -->

		<?php
		}
		?>
		</ul>
	</div>
</div>
