<?php
$panels = array();
if (isset($this->content->panels)) {
	foreach ($this->content->panels as $panel) {
		if (isset($panel->status) && $panel->status == 'Disabled') continue;

		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}
if (!$panels) {
	return;
}

$vp = new Cny_Model_VideoParser();
$url_cleaner = new Cny_View_Helper_UrlCleaner();
$extra_atrtibutes = '';
$extra_atrtibutes_two = '';

//get list of fonts
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$default_transition = (isset($this->content->transition_style))?$this->content->transition_style:'fade';
$default_anchor_animation = (isset($this->content->anchor_animation))?$this->content->anchor_animation:'no-animation';
$default_arrow_style = (isset($this->content->arrow_style))?$this->content->arrow_style:'background-transparent';
$default_arrow_type = (isset($this->content->arrow_type))?$this->content->arrow_type:'fa-angle-down';
?>
<!--Enhanced Slider-->
<div class="rev_slider_wrapper <?php echo (isset($this->content->fullscreen) && $this->content->fullscreen == 'on')?"fullscreen-container":""?> <?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<!-- the ID here will be used in the inline JavaScript below to initialize the slider -->
	<div id="carousel-<?php echo $this->module->id?>" class="rev_slider hero--enhanced <?php echo ($this->content->fullscreen == 'on')?"fullscreenbanner":""?>" data-version="5.4.8" style="display:none"
	     data-speed="<?php echo ($this->content->transition_speed * 1000)?>"
	     data-fullscreen="<?php echo $this->content->fullscreen?>"
	     data-height="<?php echo (isset($this->content->height))?$this->content->height:'100%'?>"
	     data-arrows="<?php echo (isset($this->content->navigation_arrows_status))?$this->content->navigation_arrows_status:'off'?>"
	     data-arrows_style="<?php echo (isset($this->content->navigation_arrows_style))?$this->content->navigation_arrows_style:'gyges'?>"
	     data-dots="<?php echo (isset($this->content->navigation_dots_status))?$this->content->navigation_dots_status:'off'?>"
	     data-dots_style="<?php echo (isset($this->content->navigation_dots_style))?$this->content->navigation_dots_style:'gyges'?>"
	     data-dots_alignment="<?php echo (isset($this->content->dot_alignment))?$this->content->dot_alignment:'center'?>"
	     data-pause="<?php echo (isset($this->content->pause))?$this->content->pause:'off'?>"

	>
		<ul>
			<?php
			foreach ($panels as $panel) {
				$active = ($panel->sort_order == 0) ? "active" : "";
				?>
				<!-- BEGIN SLIDE -->
				<li class="<?php echo $active ?>" data-transition="<?php echo (isset($panel->transition_style) && $panel->transition_style)?$panel->transition_style:$default_transition?>"
				    data-slotamount="5"
				    data-masterspeed="<?php echo  (isset($this->content->transition_duration) && $this->content->transition_duration ? $this->content->transition_duration * 1000 : 1000) ?>"
				    data-title="<?php echo $panel->label ?>"
				    data-mediafilter="<?php echo (isset($panel->image_filter) && $panel->image_filter) ? $panel->image_filter : "" ?>"
				    data-index="<?php echo $panel->sort_order ?>"
					<?php echo (isset($panel->panel_url) && $panel->panel_url) ? 'data-href="'.$panel->panel_url.'"' : "" ?>
					data-easein="Power4.easeOut" data-easeout="Power4.easeOut">

					<!-- SLIDE'S MAIN BACKGROUND IMAGE -->
					<img src="<?php echo ($panel->image_path) //don't clean the URL otherwise it causes issues ?>" class="rev-slidebg" alt=""
					     data-bgfit="<?php echo $panel->image_bg_fit?>"
					     data-bgposition="<?php echo $panel->image_bg_position?>"
					     data-bgrepeat="no-repeat"
						<?php if (isset($this->content->motion) && $this->content->motion == 'on') { ?>
							data-kenburns="on"
							data-ease="Linear.easeNone"
							<?php if ($this->content->motion_style == 'zoomOut') { ?>
								data-scalestart="100"
								data-scaleend="150"
							<?php } ?>
							<?php if ($this->content->motion_style == 'zoomIn') { ?>
								data-scalestart="130"
								data-scaleend="100"
							<?php } ?>
							data-duration="<?php echo ($this->content->motion_duration * 1000) ?>"
						<?php } ?>
					>

					<?php
					if (isset($panel->video_url) && $panel->video_url) {
						$video_details = $vp->getMediaDetails($panel->video_url);
						?>

						<?php if ($video_details['type'] == 'youtube') {?>
							<!-- BEGIN YOUTUBE LAYER -->
							<div class="rs-background-video-layer"
							     data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 300, "to": "opacity: 0"}]'
							     data-forcerewind="on"
							     data-volume="mute"
							     data-ytid="<?php echo $video_details['video_id']?>"
							     data-nextslideatend="<?php echo (count($panels) > 1)?"true":"false"?>"
							     data-videoloop="<?php echo (count($panels) > 1)?"loopandnoslidestop":"loop"?>"
							     data-videoattributes="version=3&amp;enablejsapi=1&amp;html5=1&amp;hd=1&amp;wmode=opaque&amp;showinfo=0&amp;rel=0;"
							     data-videorate="1"
							     data-videowidth="100%"
							     data-videoheight="100%"
							     data-videocontrols="none"
							     data-forceCover="1"
							     data-aspectratio="16:9"
							     data-autoplay="true"
							     data-autoplayonlyfirsttime="false"
							></div>
							<!-- END YOUTUBE LAYER -->
						<?php } ?>

						<?php if ($video_details['type'] == 'vimeo') {?>
							<!-- BEGIN VIMEO LAYER -->
							<div class="rs-background-video-layer"
							     data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"}, {"delay": "wait", "speed": 300, "to": "opacity: 0"}]'
							     data-forcerewind="on"
							     data-volume="mute"
							     data-vimeoid="<?php echo $video_details['video_id']?>"
							     data-nextslideatend="<?php echo (count($panels) > 1)?"true":"false"?>"
							     data-videoloop="<?php echo (count($panels) > 1)?"loopandnoslidestop":"loop"?>"
							     data-videoattributes="background=1&title=0&amp;byline=0&amp;portrait=0&amp;api=1"
							     data-videowidth="100%"
							     data-videoheight="100%"
							     data-videocontrols="none"
							     data-forceCover="1"
							     data-aspectratio="16:9"
							     data-autoplay="true"
							     data-autoplayonlyfirsttime="false"
							></div>
							<!-- END VIMEO LAYER -->
						<?php } ?>

						<?php if ($video_details['type'] == 'generic') {?>
							<!-- BEGIN HTML5 Video LAYER -->
							<div class="rs-background-video-layer"
							     data-forcerewind="on"
							     data-volume="mute"
							     data-videowidth="100%"
							     data-videoheight="100%"
							     data-videomp4="<?php echo $video_details['embed_url']?>"
							     data-videopreload="auto"
							     data-videoloop="<?php echo (count($panels) > 1)?"loopandnoslidestop":"loop"?>"
							     data-forceCover="1"
							     data-aspectratio="16:9"
							     data-autoplay="true"
							     data-autoplayonlyfirsttime="false"
							     data-nextslideatend="<?php echo (count($panels) > 1)?"true":"false"?>"
							></div>
							<!-- END HTML5 LAYER -->
						<?php } ?>
					<?php } ?>

					<?php
					//set CSS classes based on layout option selected
					$layer_class = '';
					switch ($panel->layout) {
						case "even_col-left-stacked":
							$layer_class = '';
							break;
						case "even_col-center-stacked":
							$layer_class = 'tp-caption--center';
							break;
						case "even_col-right-stacked":
							$layer_class = 'tp-caption--right';
							break;
						case "center_col-left-text":
							$layer_class = 'tp-caption--center tp-caption--flex-row--reverse';
							break;
						case "center_col-center-stacked":
							$layer_class = 'tp-caption--center';
							break;
						case "center_col-right-text":
							$layer_class = 'tp-caption--center tp-caption--flex-row';
							break;
						case "full_col-bottom-text":
							$layer_class = 'tp-caption--center tp-caption--bottom tp-caption--full-width';
							break;
					}
					?>


					<?php if ( isset($panel->overlay_image_path) && $panel->overlay_image_path || isset($panel->overlay_text) && $panel->overlay_text || isset($panel->ca_button_text) && $panel->ca_button_text || isset($panel->ca_button_two_text) && $panel->ca_button_two_text ) { ?>
						<!-- LAYER -->
						<div id="tp-caption-<?php echo $panel->sort_order?>" class="tp-caption <?php echo $layer_class?> <?php echo (isset($panel->contain_status) && $panel->contain_status == 'Enabled')?"container":""?>"
						     data-x="<?php echo (isset($panel->contain_status) && $panel->contain_status == 'Enabled')?"center":((isset($panel->overlay_horizontal_alignment)&&$panel->overlay_horizontal_alignment)?$panel->overlay_horizontal_alignment:"left")?>"
						     data-y="<?php echo $panel->layout == "full_col-bottom-text" ? "bottom": ((isset($panel->overlay_vertical_alignment)&&$panel->overlay_vertical_alignment)?$panel->overlay_vertical_alignment:"middle") ?>"
						     data-speed="1500"
						     data-start="0" <?php //TODO make these customizeable settings - seconds * 1000 ?>
						     data-easing="Back.easeInOut"
						     data-endeasing="Power1.easeIn"
						     data-endspeed="300"
							<?php echo (isset($panel->overlay_text_blend) && $panel->overlay_text_blend) ? 'data-blendmode="'. $panel->overlay_text_blend .'"' : "" ?>
							<?php
							//set layer transitions based on slide transition
							$data_frames = '';
							$slide_style = $this->content->transition_style;
							$layer_transition = $this->content->transition_duration;
							switch ($slide_style) {
								case 'fade':
									$speed = ( isset($layer_transition) && $layer_transition ) ? $layer_transition * 1000 : 300;
									$data_frames = '[{"delay": 500, "speed":'. $speed .', "from": "opacity: 0", "to": "opacity: 1"},{"delay": "wait", "speed": '. $speed .', "to": "opacity: 0"}]';
									break;
								case 'fadefromtop':
									$speed = ( isset($layer_transition) && $layer_transition ) ? $layer_transition * 1000 : 1500;
									$data_frames = '[{"delay":0,"speed":'. $speed .',"frame":"0","from":"y:top;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":'. $speed .',"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]';
									break;
								case 'fadefrombottom':
									$speed = ( isset($layer_transition) && $layer_transition ) ? $layer_transition * 1000 : 2000;
									$data_frames ='[{"delay":0,"speed":'. $speed .',"frame":"0","from":"y:bottom;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":'. $speed .',"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]';
									break;
								case 'fadefromright':
									$speed = ( isset($layer_transition) && $layer_transition ) ? $layer_transition * 1000 : 1500;
									$data_frames = '[{"delay":0,"speed":'. $speed .',"frame":"0","from":"x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":'. $speed .',"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]';
									break;
								case 'fadefromleft':
									$speed = ( isset($layer_transition) && $layer_transition ) ? $layer_transition * 1000 : 1500;
									$data_frames = '[{"delay":0,"speed":'. $speed .',"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":'. $speed .',"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]';
									break;
								case 'slideup':
									$speed = ( isset($layer_transition) && $layer_transition ) ? $layer_transition * 1000 : 1500;
									$data_frames ='[{"delay":0,"speed":'. $speed .',"frame":"0","from":"y:bottom;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":'. $speed .',"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]';
									break;
								case 'slidedown':
									$speed = ( isset($layer_transition) && $layer_transition ) ? $layer_transition * 1000 : 1500;
									$data_frames ='[{"delay":0,"speed":'. $speed .',"frame":"0","from":"y:top;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":'. $speed .',"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]';
									break;
								case 'slideright':
									$speed = ( isset($layer_transition) && $layer_transition ) ? $layer_transition * 1000 : 1500;
									$data_frames = '[{"delay":0,"speed":'. $speed .',"frame":"0","from":"x:left;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":'. $speed .',"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]';
									break;
								case 'slideleft':
									$speed = ( isset($layer_transition) && $layer_transition ) ? $layer_transition * 1000 : 1500;
									$data_frames = '[{"delay":0,"speed":'. $speed .',"frame":"0","from":"x:right;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":'. $speed .',"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]';
									break;
								case 'zoomout':
									$speed = ( isset($layer_transition) && $layer_transition ) ? $layer_transition * 1000 : 1000;
									$data_frames ='[{"delay":0,"speed":'. $speed .',"frame":"0","from":"z:0;rX:0deg;rY:0;rZ:0;sX:2;sY:2;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeOut"},{"delay":"wait","speed":'. $speed .',"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]';
									break;
								case 'zoomin':
									$speed = ( isset($layer_transition) && $layer_transition ) ? $layer_transition * 1000 : 1500;
									$data_frames ='[{"delay":0,"speed":'. $speed .',"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":'. $speed .',"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]';
									break;
								default:
									$speed = ( isset($layer_transition) && $layer_transition ) ? $layer_transition * 1000 : 300;
									$data_frames ='[{"delay":0,"speed":'. $speed .',"frame":"0","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":'. $speed .',"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]';

							}
							?>
							 data-frames='<?php echo $data_frames; ?>'

							 data-whitespace="normal"
							 data-width="<?php echo (isset($panel->contain_status) && $panel->contain_status == 'Enabled')?"['1130','950','750','400']":"['100%']"?>"
							 data-height="[<?php echo (isset($panel->overlay_height) && $panel->overlay_height) ? $panel->overlay_height: 'auto'; ?>]"
							 data-basealign="slide"
							 data-responsive_offset="on"
							 data-paddingtop="<?php echo (isset($panel->overlay_vertical_offset) && $panel->overlay_vertical_offset) ? $panel->overlay_vertical_offset: '15'; ?>"
							 data-paddingright="<?php echo (isset($panel->overlay_horizontal_offset) && $panel->overlay_horizontal_offset) ? $panel->overlay_horizontal_offset: '15'; ?>"
							 data-paddingbottom="<?php echo (isset($panel->overlay_vertical_offset) && $panel->overlay_vertical_offset) ? $panel->overlay_vertical_offset: '15'; ?>"
							 data-paddingleft="<?php echo (isset($panel->overlay_horizontal_offset) && $panel->overlay_horizontal_offset) ? $panel->overlay_horizontal_offset: '15'; ?>"
							 data-marginright="0"
							 data-marginleft="0"
						>


							<div class="tp-caption__item">
								<?php if (isset($panel->overlay_image_path) && $panel->overlay_image_path) {?>
									<div class="tp-caption__image">
										<picture>
											<source class="img-responsive img-responsive--full-width" srcset="<?php echo $url_cleaner->image($panel->overlay_image_path); ?>" media="(min-width: 768px)" />
											<img class="img-responsive center-block" src="<?php echo $url_cleaner->image((isset($panel->overlay_mobile_image_path) && $panel->overlay_mobile_image_path)?$panel->overlay_mobile_image_path:$panel->overlay_image_path); ?>" srcset="<?php echo $url_cleaner->image((isset($panel->overlay_mobile_image_path) && $panel->overlay_mobile_image_path)?$panel->overlay_mobile_image_path:$panel->overlay_image_path); ?>" alt="<?php echo htmlentities($panel->label); ?>" />
										</picture>
									</div>

								<?php } ?>
								<div class="tp-caption__body">
									<?php
									if (isset($panel->ca_button_link_target) && $panel->ca_button_link_target == 'modal') {
										$panel->ca_button_class .= " modal-trigger";
										$panel->ca_button_url = "/index/get-video-html?url={$panel->ca_button_url}";
										$panel->ca_button_link_target = "";
										$extra_atrtibutes .= 'data-target="#modal-cms" data-extra_classes="modal-lg"';
									}

									if (isset($panel->ca_button_two_link_target) && $panel->ca_button_two_link_target == 'modal') {
										$panel->ca_button_two_class .= " modal-trigger";
										$panel->ca_button_two_url = "/index/get-video-html?url={$panel->ca_button_two_url}";
										$panel->ca_button_two_link_target = "";
										$extra_atrtibutes_two .= 'data-target="#modal-cms" data-extra_classes="modal-lg"';
									}

									if (isset($panel->overlay_text) && $panel->overlay_text) { ?>
										<div class="tp-caption__description tp-caption__description--horizontal-<?php echo $panel->overlay_horizontal_description_alignment?> tp-caption__description--vertical-<?php echo $panel->overlay_vertical_description_alignment?>" style="<?php echo (isset($panel->overlay_text_shadow) && $panel->overlay_text_shadow == 'Enabled')?"text-shadow:0 {$panel->overlay_text_shadow_size} {$panel->overlay_text_shadow_size} {$panel->overlay_text_shadow_color};":""?>">
											<div class="hidden-xs"><?php echo $panel->overlay_text; ?></div>
											<div class="visible-xs"><?php echo $panel->overlay_text_mobile; ?></div>
										</div>
									<?php } ?>
									<!--cta button-->
									<?php //both buttons
									if ( (isset($panel->ca_button_text) && $panel->ca_button_text) && isset($panel->ca_button_two_text) && $panel->ca_button_two_text) { ?>
										<div class="tp-caption__button-group flex-justify-<?php echo $panel->ca_button_position?> tp-caption__button-group--vertical-<?php echo $panel->cta_vertical_alignment?>">
											<a class="btn btn-default text-center btn--cms-default <?php echo $panel->ca_button_hover_effect?> <?php echo $panel->ca_button_class?>" <?php echo $extra_atrtibutes?> id="ca-btn-<?php echo $panel->sort_order?>" href="<?php echo $panel->ca_button_url ?>" <?php echo (isset($panel->ca_button_link_target) && $panel->ca_button_link_target)?"target=\"{$panel->ca_button_link_target}\"":''?>><?php echo $panel->ca_button_text ?></a>

											<a class="btn btn-default text-center btn--cms-default <?php echo $panel->ca_button_two_hover_effect?> <?php echo $panel->ca_button_two_class?>" <?php echo $extra_atrtibutes_two?> id="ca-btn-two-<?php echo $panel->sort_order?>" href="<?php echo $panel->ca_button_two_url ?>" <?php echo (isset($panel->ca_button_two_link_target) && $panel->ca_button_two_link_target)?"target=\"{$panel->ca_button_two_link_target}\"":''?>><?php echo $panel->ca_button_two_text ?></a>

										</div>
										<?php //button
									} else if (isset($panel->ca_button_text) && $panel->ca_button_text) { ?>
										<div class="tp-caption__button-group flex-justify-<?php echo $panel->ca_button_position?> tp-caption__button-group--vertical-<?php echo $panel->cta_vertical_alignment?>">
											<a class="btn btn-default text-center btn--cms-default <?php echo $panel->ca_button_hover_effect?> <?php echo $panel->ca_button_class?>" <?php echo $extra_atrtibutes?> id="ca-btn-<?php echo $panel->sort_order?>" href="<?php echo $panel->ca_button_url ?>" <?php echo (isset($panel->ca_button_link_target) && $panel->ca_button_link_target)?"target=\"{$panel->ca_button_link_target}\"":''?>><?php echo $panel->ca_button_text ?></a>
										</div>
										<?php //button two
									} else if (isset($panel->ca_button_two_text) && $panel->ca_button_two_text) { ?>
										<div class="tp-caption__button-group flex-justify-<?php echo $panel->ca_button_position?> tp-caption__button-group--vertical-<?php echo $panel->cta_vertical_alignment?>">
											<a class="btn btn-default text-center btn--cms-default <?php echo $panel->ca_button_two_hover_effect?> <?php echo $panel->ca_button_two_class?>" <?php echo $extra_atrtibutes_two?> id="ca-btn-two-<?php echo $panel->sort_order?>" href="<?php echo $panel->ca_button_two_url ?>" <?php echo (isset($panel->ca_button_two_link_target) && $panel->ca_button_two_link_target)?"target=\"{$panel->ca_button_two_link_target}\"":''?>><?php echo $panel->ca_button_two_text ?></a>
										</div>
									<?php } ?>
								</div>
							</div>
						</div>
						<!-- END LAYER -->
					<?php } ?>


					<?php if (isset($this->content->anchor_overlay) && $this->content->anchor_overlay == 'on') { ?>
						<!--ANCHOR LAYER-->
						<div class="tp-caption tp-resizeme arrow-layer"
						     data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
						     data-y="['bottom','bottom','bottom','bottom']" data-voffset="['44','54','54','54']"
						     data-width="none"
						     data-height="none"
						     data-whitespace="nowrap"
						     data-visibility="['on','on','off','off']"

						     data-type="image"
						     data-actions='[{"event":"click","action":"scrollbelow","offset":"50px","delay":"0"}]'
						     data-basealign="slide"
						     data-responsive_offset="on"

						     data-frames='[{"from":"y:-50px;sX:0.2;sY:0.2;opacity:0;","speed":500,"to":"o:1;","delay":2000,"ease":"Back.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
						     data-textAlign="['left','left','left','left']"
						     data-paddingtop="[0,0,0,0]"
						     data-paddingright="[0,0,0,0]"
						     data-paddingbottom="[0,0,0,0]"
						     data-paddingleft="[0,0,0,0]"

						     style="z-index: 39;border-width:0;cursor:pointer;color:#fff;">
							<div class="rs-looped <?php echo (isset($panel->anchor_animation) && $panel->anchor_animation)?$panel->anchor_animation:$default_anchor_animation?>"  data-easing="Power1.easeInOut" data-speed="1" data-xs="0" data-xe="0" data-ys="-5" data-ye="5">
								<i class="fa fa-2x <?php echo (isset($panel->arrow_type) && $panel->arrow_type)?$panel->arrow_type:$default_arrow_type?>"></i>
							</div>
						</div>
						<!--END ANCHOR LAYER-->
					<?php } ?>

				</li><!-- END SLIDE -->

				<?php
			}
			?>
		</ul>
	</div>
</div>

<?php
$font_families = array();

foreach ($panels as $panel) {
	if (isset($panel->ca_button_text_font) && $panel->ca_button_text_font) {
		if (strtolower($panel->ca_button_text_font) != 'default') {
			if ($panel->ca_button_text_font && !in_array($panel->ca_button_text_font, $font_families)) {
				if (stripos($panel->ca_button_text_font, "http://") !== false || stripos($panel->ca_button_text_font, "https://") !== false) {
//old font method
					echo '<link href="' . $panel->ca_button_text_font . '" rel="stylesheet">';
				} else {
					$font = $fonts[$panel->ca_button_text_font];
					if ($font['url']) {
						echo '<link href="' . $font['url'] . '" rel="stylesheet">';
					}
				}
				$font_families[$panel->ca_button_text_font] = $fonts[$panel->ca_button_text_font]['title'];
			}
		}

	}
}
?>

<style>
	#module-<?php echo $this->module->id?> .arrow-layer .fa {
	<?php if (isset($this->content->arrow_color) && $this->content->arrow_color) {?>
		color: <?php echo $this->content->arrow_color?>;
	<?php } ?>
	<?php if (isset($this->content->arrow_background_color) && $this->content->arrow_background_color) {?>
		background-color: <?php echo $this->content->arrow_background_color?>;
	<?php } ?>
	<?php if (isset($this->content->arrow_size) && $this->content->arrow_size) {
		if ($this->content->arrow_size == preg_replace("/[^0-9.]/", "", $this->content->arrow_size)) $this->content->arrow_size .= "px";
		?>
		font-size: <?php echo $this->content->arrow_size?>;
	<?php } ?>
	<?php if (isset($this->content->arrow_padding) && $this->content->arrow_padding) {
	if ($this->content->arrow_padding == preg_replace("/[^0-9.]/", "", $this->content->arrow_padding)) $this->content->arrow_padding .= "px";
	?>
		padding: <?php echo $this->content->arrow_padding?>;
	<?php } ?>
	<?php if (isset($this->content->arrow_border_color) && $this->content->arrow_border_color) {?>
		border: 2px solid <?php echo $this->content->arrow_border_color?>;
	<?php } ?>
	<?php if (isset($this->content->arrow_radius) && $this->content->arrow_radius) {
	if ($this->content->arrow_radius == preg_replace("/[^0-9.]/", "", $this->content->arrow_radius)) $this->content->arrow_radius .= "px";
	?>
		border-radius: <?php echo $this->content->arrow_radius?>;
	<?php } ?>
	}

	<?php foreach ($panels as $panel) { ?>
	/*button advanced settings*/
	#module-<?php echo $this->module->id?> a#ca-btn-<?php echo $panel->sort_order?>,
	#module-<?php echo $this->module->id?> a#ca-btn-two-<?php echo $panel->sort_order?> {
	<?php if (isset($panel->ca_button_width) && $panel->ca_button_width) {
	echo "width:100%;";
	echo "max-width: ";
	if ($panel->ca_button_width == preg_replace("/[^0-9.]/", "", $panel->ca_button_width)) $panel->ca_button_width .= "px";
	echo $panel->ca_button_width;
	echo ";";
}?> <?php
		if ((isset($panel->ca_button_padding_tb) && $panel->ca_button_padding_tb) || (isset($panel->ca_button_padding_lr) && $panel->ca_button_padding_lr)) {
			echo (isset($panel->ca_button_padding_tb) && $panel->ca_button_padding_tb) ?
				"padding-top:{$panel->ca_button_padding_tb};
				padding-bottom:{$panel->ca_button_padding_tb};" : "";
			echo (isset($panel->ca_button_padding_lr) && $panel->ca_button_padding_lr) ?
			"padding-left:{$panel->ca_button_padding_lr};
			padding-right:{$panel->ca_button_padding_lr};" : "";
		}?>
	}

	/*button one setting*/
	#module-<?php echo $this->module->id?> a#ca-btn-<?php echo $panel->sort_order?> {

	<?php echo ($panel->ca_button_color) ? "background-color:{$panel->ca_button_color};" : "" ?>
	<?php echo ($panel->ca_button_text_color) ? "color:{$panel->ca_button_text_color};" : "" ?>
	<?php echo (isset($this->content->ca_button_border_color) && isset($this->content->ca_button_border_width) && $this->content->ca_button_border_color && $this->content->ca_button_border_width)?"border: {$this->content->ca_button_border_width} solid {$this->content->ca_button_border_color};":""?>

	<?php echo (isset($panel->ca_button_text_size) && $panel->ca_button_text_size)?"font-size:{$panel->ca_button_text_size};":""?>
	<?php
	if (isset($panel->ca_button_text_font) && $panel->ca_button_text_font && strtolower($panel->ca_button_text_font) != 'default') {
		echo "font-family: '".$fonts[$panel->ca_button_text_font]['title']."';";
	}
	?>
	<?php echo (isset($panel->ca_button_text_weight) && $panel->ca_button_text_weight)?"font-weight:{$panel->ca_button_text_weight};":""?>
		border-width: <?php echo (isset($panel->ca_button_border_width) && $panel->ca_button_border_width)?$panel->ca_button_border_width:$panel->ca_button_border_width?>;
		border-color: <?php echo (isset($panel->ca_button_border_color) && $panel->ca_button_border_color)?$panel->ca_button_border_color:$panel->ca_button_border_color?>;
		/*line-height:1em;*/
		border-style: solid;
	}
	#module-<?php echo $this->module->id?> a#ca-btn-<?php echo $panel->sort_order?>:hover {
		color: <?php echo ($panel->ca_button_text_hover_color)?$panel->ca_button_text_hover_color:$panel->ca_button_text_color?> !important;
		background-color: <?php echo ($panel->ca_button_hover_color)?$panel->ca_button_hover_color:$panel->ca_button_hover_color?> !important;
		border-color: <?php echo (isset($panel->ca_button_border_hover_color) && $panel->ca_button_border_hover_color)?$panel->ca_button_border_hover_color:$panel->ca_button_border_hover_color?>;
	}

	/*button two setting*/
	#module-<?php echo $this->module->id?> a#ca-btn-two-<?php echo $panel->sort_order?> {

	<?php echo ($panel->ca_button_two_color) ? "background-color:{$panel->ca_button_two_color};" : "" ?>
	<?php echo ($panel->ca_button_two_text_color) ? "color:{$panel->ca_button_two_text_color};" : "" ?>
	<?php echo (isset($this->content->ca_button_two_border_color) && isset($this->content->ca_button_two_border_width) && $this->content->ca_button_two_border_color && $this->content->ca_button_two_border_width)?"border: {$this->content->ca_button_two_border_width} solid {$this->content->ca_button_two_border_color};":""?>
	<?php echo (isset($panel->ca_button_two_text_size) && $panel->ca_button_two_text_size)?"font-size:{$panel->ca_button_two_text_size};":""?>
	<?php
	if (isset($panel->ca_button_two_text_font) && $panel->ca_button_two_text_font && strtolower($panel->ca_button_two_text_font) != 'default') {
		echo "font-family: '".$fonts[$panel->ca_button_two_text_font]['title']."';";
	}
	?>
	<?php echo (isset($panel->ca_button_two_text_weight) && $panel->ca_button_two_text_weight)?"font-weight:{$panel->ca_button_two_text_weight};":""?>
		border-width: <?php echo (isset($panel->ca_button_two_border_width) && $panel->ca_button_two_border_width)?$panel->ca_button_two_border_width:$panel->ca_button_two_border_width?>;
		border-color: <?php echo (isset($panel->ca_button_two_border_color) && $panel->ca_button_two_border_color)?$panel->ca_button_two_border_color:$panel->ca_button_two_border_color?>;
		/*line-height:1em;*/
		border-style: solid;
	}
	#module-<?php echo $this->module->id?> a#ca-btn-two-<?php echo $panel->sort_order?>:hover {
		color: <?php echo ($panel->ca_button_two_text_hover_color)?$panel->ca_button_two_text_hover_color:$panel->ca_button_two_text_color?> !important;
		background-color: <?php echo ($panel->ca_button_two_hover_color)?$panel->ca_button_two_hover_color:$panel->ca_button_two_hover_color?> !important;
		border-color: <?php echo (isset($panel->ca_button_two_border_hover_color) && $panel->ca_button_two_border_hover_color)?$panel->ca_button_two_border_hover_color:$panel->ca_button_two_border_hover_color?>;
	}

	/*caption setting*/
	#module-<?php echo $this->module->id?> #tp-caption-<?php echo $panel->sort_order?> {
		background-color: <?php echo ($panel->caption_item_background_color)?$panel->caption_item_background_color:$panel->caption_item_background_color?> !important;
	<?php
if ((isset($panel->caption_item_padding_tb) && $panel->caption_item_padding_tb) || (isset($panel->caption_item_padding_lr) && $panel->caption_item_padding_lr)) {
echo (isset($panel->caption_item_padding_tb) && $panel->caption_item_padding_tb) ?
	"padding-top:{$panel->caption_item_padding_tb} !important;
	padding-bottom:{$panel->caption_item_padding_tb}!important;" : "";
echo (isset($panel->caption_item_padding_lr) && $panel->caption_item_padding_lr) ?
"padding-left:{$panel->caption_item_padding_lr}!important;
padding-right:{$panel->caption_item_padding_lr}!important;" : "";
}?>
	}
	#module-<?php echo $this->module->id?> #tp-caption-<?php echo $panel->sort_order ?> .tp-caption__image {
	<?php if (isset($panel->overlay_margin_left) && $panel->overlay_margin_left) {?>
		margin-left: <?php echo ($panel->overlay_margin_left == preg_replace("/[^0-9.]/", "", $panel->overlay_margin_left)) ? "{$panel->overlay_margin_left}px" : $panel->overlay_margin_left ?>;
	<?php } ?>

	<?php if (isset($panel->overlay_margin_right) && $panel->overlay_margin_right) {?>
		margin-right: <?php echo ($panel->overlay_margin_right == preg_replace("/[^0-9.]/", "", $panel->overlay_margin_right)) ? "{$panel->overlay_margin_right}px" : $panel->overlay_margin_right ?>;
	<?php } ?>

	<?php if (isset($panel->overlay_margin_top) && $panel->overlay_margin_top) {?>
		margin-top: <?php echo ($panel->overlay_margin_top == preg_replace("/[^0-9.]/", "", $panel->overlay_margin_top)) ? "{$panel->overlay_margin_top}px" : $panel->overlay_margin_top ?>;
	<?php } ?>

	<?php if (isset($panel->overlay_margin_bottom) && $panel->overlay_margin_bottom) {?>
		margin-bottom: <?php echo ($panel->overlay_margin_bottom == preg_replace("/[^0-9.]/", "", $panel->overlay_margin_bottom)) ? "{$panel->overlay_margin_bottom}px" : $panel->overlay_margin_bottom ?>;
	<?php } ?>
	}

	/*content max width setting*/
	<?php if (isset($panel->overlay_full_width) && $panel->overlay_full_width == 'Enabled') {?>
	@media (min-width:768px) {

	<?php if (isset($panel->overlay_max_width) && $panel->overlay_max_width) {?>
		#module-<?php echo $this->module->id?> #tp-caption-<?php echo $panel->sort_order ?> .tp-caption__item {
			max-width: <?php echo ($panel->overlay_max_width == preg_replace("/[^0-9.]/", "", $panel->overlay_max_width)) ? "{$panel->overlay_max_width}px" : $panel->overlay_max_width ?>;
		}
	<?php } else { ?>
		#module-<?php echo $this->module->id?> #tp-caption-<?php echo $panel->sort_order ?> .tp-caption__item {
			max-width:100%;
		}
	<?php } ?>

	}
	<?php } ?>

	#module-<?php echo $this->module->id?> #tp-caption-<?php echo $panel->sort_order ?> .tp-caption__description--vertical-top,
	#module-<?php echo $this->module->id?> #tp-caption-<?php echo $panel->sort_order ?> .tp-caption__button-group--vertical-top {
		top: <?php echo (isset($panel->overlay_vertical_offset) && $panel->overlay_vertical_offset) ? $panel->overlay_vertical_offset: '15'; ?>px;
	}

	#module-<?php echo $this->module->id?> #tp-caption-<?php echo $panel->sort_order ?> .tp-caption__description--vertical-bottom,
	#module-<?php echo $this->module->id?> #tp-caption-<?php echo $panel->sort_order ?> .tp-caption__button-group--vertical-bottom {
		bottom: <?php echo (isset($panel->overlay_vertical_offset) && $panel->overlay_vertical_offset) ? $panel->overlay_vertical_offset: '15'; ?>px;
	}

	#module-<?php echo $this->module->id?> #tp-caption-<?php echo $panel->sort_order ?> .tp-caption__description--horizontal-left,
	#module-<?php echo $this->module->id?> #tp-caption-<?php echo $panel->sort_order ?> .tp-caption__button-group.flex-justify-left {
		left: <?php echo (isset($panel->overlay_horizontal_offset) && $panel->overlay_horizontal_offset) ? $panel->overlay_horizontal_offset: '15'; ?>px;
	}

	#module-<?php echo $this->module->id?> #tp-caption-<?php echo $panel->sort_order ?> .tp-caption__description--horizontal-right,
	#module-<?php echo $this->module->id?> #tp-caption-<?php echo $panel->sort_order ?> .tp-caption__button-group.flex-justify-right {
		right: <?php echo (isset($panel->overlay_horizontal_offset) && $panel->overlay_horizontal_offset) ? $panel->overlay_horizontal_offset: '15'; ?>px;
	}

	#module-<?php echo $this->module->id?> #tp-caption-<?php echo $panel->sort_order ?> .tp-caption__description {
	<?php if (isset($panel->overlay_description_margin_left) && $panel->overlay_description_margin_left) {?>
		margin-left: <?php echo ($panel->overlay_description_margin_left == preg_replace("/[^0-9.]/", "", $panel->overlay_description_margin_left)) ? "{$panel->overlay_description_margin_left}px" : $panel->overlay_description_margin_left ?>;
	<?php } ?>

	<?php if (isset($panel->overlay_description_margin_right) && $panel->overlay_description_margin_right) {?>
		margin-right: <?php echo ($panel->overlay_description_margin_right == preg_replace("/[^0-9.]/", "", $panel->overlay_description_margin_right)) ? "{$panel->overlay_description_margin_right}px" : $panel->overlay_description_margin_right ?>;
	<?php } ?>

	<?php if (isset($panel->overlay_description_margin_top) && $panel->overlay_description_margin_top) {?>
		margin-top: <?php echo ($panel->overlay_description_margin_top == preg_replace("/[^0-9.]/", "", $panel->overlay_description_margin_top)) ? "{$panel->overlay_description_margin_top}px" : $panel->overlay_description_margin_top ?>;
	<?php } ?>

	<?php if (isset($panel->overlay_description_margin_bottom) && $panel->overlay_description_margin_bottom) {?>
		margin-bottom: <?php echo ($panel->overlay_description_margin_bottom == preg_replace("/[^0-9.]/", "", $panel->overlay_description_margin_bottom)) ? "{$panel->overlay_description_margin_bottom}px" : $panel->overlay_description_margin_bottom ?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> #tp-caption-<?php echo $panel->sort_order ?> .tp-caption__button-group {
	<?php if (isset($panel->overlay_cta_margin_left) && $panel->overlay_cta_margin_left) {?>
		margin-left: <?php echo ($panel->overlay_cta_margin_left == preg_replace("/[^0-9.]/", "", $panel->overlay_cta_margin_left)) ? "{$panel->overlay_cta_margin_left}px" : $panel->overlay_cta_margin_left ?>;
	<?php } ?>

	<?php if (isset($panel->overlay_cta_margin_right) && $panel->overlay_cta_margin_right) {?>
		margin-right: <?php echo ($panel->overlay_cta_margin_right == preg_replace("/[^0-9.]/", "", $panel->overlay_cta_margin_right)) ? "{$panel->overlay_cta_margin_right}px" : $panel->overlay_cta_margin_right ?>;
	<?php } ?>

	<?php if (isset($panel->overlay_cta_margin_top) && $panel->overlay_cta_margin_top) {?>
		margin-top: <?php echo ($panel->overlay_cta_margin_top == preg_replace("/[^0-9.]/", "", $panel->overlay_cta_margin_top)) ? "{$panel->overlay_cta_margin_top}px" : $panel->overlay_cta_margin_top ?>;
	<?php } ?>

	<?php if (isset($panel->overlay_cta_margin_bottom) && $panel->overlay_cta_margin_bottom) {?>
		margin-bottom: <?php echo ($panel->overlay_cta_margin_bottom == preg_replace("/[^0-9.]/", "", $panel->overlay_cta_margin_bottom)) ? "{$panel->overlay_cta_margin_bottom}px" : $panel->overlay_cta_margin_bottom ?>;
	<?php } ?>
	}

	<?php } ?>



	/*bullet container styles*/

	<?php if (isset($this->content->dot_container_background_color) && $this->content->dot_container_background_color) {?>

	#module-<?php echo $this->module->id?> .tp-bullets:before {
		background: <?php echo $this->content->dot_container_background_color?>;
	}
	#module-<?php echo $this->module->id?> .tp-bullets .tp-bullet {
		margin-left: 3px;
		margin-top: 2px;
	}
	<?php } ?>

	<?php if (isset($this->content->dot_container_border_color) && $this->content->dot_container_border_color) {?>
	#module-<?php echo $this->module->id?> .tp-bullets:before {
		border-color: <?php echo $this->content->dot_container_border_color?>;
		border-style: solid;
	}
	<?php } ?>

	<?php if (isset($this->content->dot_container_border_size) && $this->content->dot_container_border_size) {?>
	#module-<?php echo $this->module->id?> .tp-bullets:before {

	<?php if ($this->content->dot_container_border_size == preg_replace("/[^0-9.]/", "", $this->content->dot_container_border_size)) $this->content->dot_container_border_size .= "px";
	?>

		border-width: <?php echo $this->content->dot_container_border_size?>;
	}
	<?php } ?>

	<?php if (isset($this->content->dot_container_padding) && $this->content->dot_container_padding) {?>
	#module-<?php echo $this->module->id?> .tp-bullets:before {

	<?php if ($this->content->dot_container_padding == preg_replace("/[^0-9.]/", "", $this->content->dot_container_padding)) $this->content->dot_container_padding .= "px";
	?>

		padding: <?php echo $this->content->dot_container_padding?>;
		margin-left: -<?php echo $this->content->dot_container_padding?>;;
		margin-top: -<?php echo $this->content->dot_container_padding?>;
	}
	<?php } ?>

	<?php if (isset($this->content->dot_container_radius) && $this->content->dot_container_radius) {?>
	#module-<?php echo $this->module->id?> .tp-bullets:before {

	<?php if ($this->content->dot_container_radius == preg_replace("/[^0-9.]/", "", $this->content->dot_container_radius)) $this->content->dot_container_radius .= "px";
	?>

		border-radius: <?php echo $this->content->dot_container_radius?>;
	}
	<?php } ?>


	/*bullet dot styles*/
	<?php if (isset($this->content->dot_color) && $this->content->dot_color) {?>
	#module-<?php echo $this->module->id?> .tp-bullets .tp-bullet:not(.selected) {
		background: <?php echo $this->content->dot_color?>;
	}
	<?php } ?>

	<?php if (isset($this->content->dot_active_color) && $this->content->dot_active_color) {?>
	#module-<?php echo $this->module->id?> .tp-bullets .tp-bullet.selected,
	#module-<?php echo $this->module->id?> .tp-bullets .tp-bullet:hover {
		background: <?php echo $this->content->dot_active_color?> !important;
	}
	<?php } ?>

	<?php if (isset($this->content->dot_size) && $this->content->dot_size) {?>
	#module-<?php echo $this->module->id?> .tp-bullets .tp-bullet {

	<?php if ($this->content->dot_size == preg_replace("/[^0-9.]/", "", $this->content->dot_size)) $this->content->dot_size .= "px";
?>
		width: <?php echo $this->content->dot_size?>;
		height: <?php echo $this->content->dot_size?>;
	}
	<?php } ?>

	<?php if (isset($this->content->dot_border_color) && $this->content->dot_border_color) {?>
	#module-<?php echo $this->module->id?> .tp-bullets .tp-bullet {
		border-color: <?php echo $this->content->dot_border_color?>;
	}
	<?php } ?>

	<?php if (isset($this->content->dot_border_size) && $this->content->dot_border_size) {?>
	#module-<?php echo $this->module->id?> .tp-bullets .tp-bullet {

	<?php if ($this->content->dot_border_size == preg_replace("/[^0-9.]/", "", $this->content->dot_border_size)) $this->content->dot_border_size .= "px";
?>

		border-width: <?php echo $this->content->dot_border_size?>;
	}
	<?php } ?>


	/*slider arrow styles*/
	<?php if (isset($this->content->slider_arrow_background_color) && $this->content->slider_arrow_background_color) {?>

	#module-<?php echo $this->module->id?> .tparrows {
		background: <?php echo $this->content->slider_arrow_background_color?>;
		opacity: .75;
	}

	#module-<?php echo $this->module->id?> .tparrows:hover {
		background: <?php echo $this->content->slider_arrow_background_color?>;
		opacity: 1;
	}
	<?php } ?>

	<?php if (isset($this->content->slider_arrow_border_color) && $this->content->slider_arrow_border_color) {?>
	#module-<?php echo $this->module->id?> .tparrows {
		border-color: <?php echo $this->content->slider_arrow_border_color?>;
		border-style: solid;
	}
	<?php } ?>

	<?php if (isset($this->content->slider_arrow_border_size) && $this->content->slider_arrow_border_size) {?>
	#module-<?php echo $this->module->id?> .tparrows {

	<?php if ($this->content->slider_arrow_border_size == preg_replace("/[^0-9.]/", "", $this->content->slider_arrow_border_size)) $this->content->slider_arrow_border_size .= "px";
	?>

		border-width: <?php echo $this->content->slider_arrow_border_size?>;
	}
	<?php } ?>

	<?php if (isset($this->content->slider_arrow_padding) && $this->content->slider_arrow_padding) {?>
	#module-<?php echo $this->module->id?> .tparrows {

	<?php if ($this->content->slider_arrow_padding == preg_replace("/[^0-9.]/", "", $this->content->slider_arrow_padding)) $this->content->slider_arrow_padding .= "px";
	?>

		padding: <?php echo $this->content->slider_arrow_padding?>;
	}
	<?php } ?>

	<?php if (isset($this->content->slider_arrow_radius) && $this->content->slider_arrow_radius) {?>
	#module-<?php echo $this->module->id?> .tparrows {

	<?php if ($this->content->slider_arrow_radius == preg_replace("/[^0-9.]/", "", $this->content->slider_arrow_radius)) $this->content->slider_arrow_radius .= "px";
	?>

		border-radius: <?php echo $this->content->slider_arrow_radius?>;
	}
	<?php } ?>

	<?php if (isset($this->content->slider_arrow_box_size) && $this->content->slider_arrow_box_size) {?>
	#module-<?php echo $this->module->id?> .tparrows {

	<?php if ($this->content->slider_arrow_box_size == preg_replace("/[^0-9.]/", "", $this->content->slider_arrow_box_size)) $this->content->slider_arrow_box_size .= "px";
	?>

		min-height: <?php echo $this->content->slider_arrow_box_size?>;
		min-width: <?php echo $this->content->slider_arrow_box_size?>;

		height: auto;
		width: auto;
	}
	#module-<?php echo $this->module->id?> .tparrows:before {

	<?php if ($this->content->slider_arrow_box_size == preg_replace("/[^0-9.]/", "", $this->content->slider_arrow_box_size)) $this->content->slider_arrow_box_size .= "px";
	?>

		line-height: <?php echo $this->content->slider_arrow_box_size?>;
	}
	<?php } ?>

	<?php if (isset($this->content->slider_arrow_color) && $this->content->slider_arrow_color) {?>

	#module-<?php echo $this->module->id?> .tparrows:before {
		color: <?php echo $this->content->slider_arrow_color?>;
	}
	<?php } ?>

	<?php if (isset($this->content->slider_arrow_size) && $this->content->slider_arrow_size) {?>
	#module-<?php echo $this->module->id?> .tparrows:before {

	<?php if ($this->content->slider_arrow_size == preg_replace("/[^0-9.]/", "", $this->content->slider_arrow_size)) $this->content->slider_arrow_size .= "px";
	?>

		font-size: <?php echo $this->content->slider_arrow_size?>;
	}
	<?php } ?>




</style>
