<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$faq_submission_status = $settings_mapper->getValueByCode('faq_submission_status');
$faq_captcha_status = $settings_mapper->getValueByCode('faq_captcha_status');
$recaptcha_site_key = $settings_mapper->getValueByCode('recaptcha_site_key');
$recaptcha_secret_key = $settings_mapper->getValueByCode('recaptcha_secret_key');

$selections = $this->content->categories;

$mapper = new Application_Model_Mapper_FaqSection();
$sections = $mapper->fetchOrdered();

if ($selections) {
	foreach ($selections as $k => $id) {
		if (!$id) {
			unset($selections[$k]);
		}
	}
}
if ($selections) {
	foreach ($sections as $k => $row) {
		if (!in_array($row->id, $selections)) {
			unset($sections[$k]);
		}
	}
}

$mapper = new Application_Model_Mapper_FaqItem();
$tree = array();
foreach ($sections as $section) {
	$items = $mapper->fetchBySectionId($section->id);

	$tree[$section->id] = array(
		'section' => $section,
		'items' => $items
	);
}

//get list of fonts
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

if (isset($this->content->title_font) && $this->content->title_font) {
	if (stripos($this->content->title_font, "http://") !== false || stripos($this->content->title_font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->content->title_font . '" rel="stylesheet">';
	} else {
		if (isset($this->content->title_font) && $this->content->title_font) {
			$font = $fonts[$this->content->title_font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}
}
?>
<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<?php
	foreach ($tree as $section_id => $data) {
		$section = $data['section'];
		$items = $data['items'];
		?>
		<div class="row m-b-20">
			<div class="col-sm-12">
				<?php if (!isset($this->content->category_title_status) || $this->content->category_title_status == 'Enabled') {?>
					<h2><?php echo $section->title?></h2>
				<?php } ?>
				<div class="panel-group" id="accordion-<?php echo $section->id?>" role="tablist" aria-multiselectable="true">
					<?php
					$item_num = 0;
					foreach ($items as $item) {
						$active = (isset($this->content->starting_status) && $this->content->starting_status == 'closed')?false:($item_num == 0) ? true : false;
						?>
						<div class="panel panel-default">
							<div class="panel-heading <?php echo $this->content->title_position?>" role="tab" id="item-<?php echo $item->id ?>"  style="
								<?php echo ($this->content->title_background_color)?"background-color:{$this->content->title_background_color};":""?>
								<?php
								if ($this->content->title_border_status == "Disabled") {
									echo "border:0;";
								}else {
									echo "border: {$this->content->title_border_width} solid {$this->content->title_border_color};";
								}
								?>
								<?php if (isset($this->content->title_padding) && $this->content->title_padding) {
									echo "padding: ";
									if ($this->content->title_padding == preg_replace("/[^0-9.]/", "", $this->content->title_padding)) $this->content->title_padding .= "px";
									echo $this->content->title_padding;
									echo ";";
								}?>
							">
								<h4 class="panel-title">
									<a role="button" class="<?php echo (!$active)?"collapsed":""?>" data-toggle="collapse" data-parent="#accordion-<?php echo $section->id ?>" href="#collapse-<?php echo $item->id?>" aria-expanded="<?php echo ($active)?"true":"false"?>" aria-controls="collapse-<?php echo $item->id ?>"
									   style="<?php echo ($this->content->title_text_color)?"color:{$this->content->title_text_color};":""?>
									   <?php echo ($this->content->title_text_size)?"font-size:{$this->content->title_text_size};":""?>
									   <?php echo ($this->content->title_line_height)?"line-height:{$this->content->title_line_height};":""?>
									">
										<?php echo $item->question?>
										<span class="pull-right icon_open fa fa-<?php echo (isset($this->content->icon_open) && $this->content->icon_open)?$this->content->icon_open:""?>"></span>
										<span class="pull-right icon_closed fa fa-<?php echo (isset($this->content->icon_closed) && $this->content->icon_closed)?$this->content->icon_closed:""?>"></span>
									</a>
								</h4>
							</div>
							<div id="collapse-<?php echo $item->id ?>" class="panel-collapse collapse <?php echo ($active)?"in":""?>" role="tabpanel" aria-labelledby="item-<?php echo $item->id ?>">
								<div class="panel-body" style="
									<?php echo (isset($this->content->details_background_color) && $this->content->details_background_color)?"background-color:{$this->content->details_background_color};":""?>
									<?php
									if ($this->content->details_border_status == "Disabled") {
										echo "border:0;";
									}else {
										echo "border: {$this->content->details_border_width} solid {$this->content->details_border_color};";
									}
									?>
									<?php if (isset($this->content->details_padding) && $this->content->details_padding) {
										echo "padding: ";
										if ($this->content->details_padding == preg_replace("/[^0-9.]/", "", $this->content->details_padding)) $this->content->details_padding .= "px";
										echo $this->content->details_padding;
										echo ";";
									}?>
								">
									<?php echo $item->answer?>
								</div>
							</div>
						</div>
						<?php if (isset($this->content->divider_status) && $this->content->divider_status == 'Enabled') { ?>
							<hr class="panel-divider"/>
						<?php } ?>
						<?php
						$item_num++;
					}
					?>
				</div>
			</div>
		</div>
	<?php } ?>
</div>


<?php if (isset($this->content->faq_submission_status) && $this->content->faq_submission_status == 'Enabled') {?>
	<div class="container m-b-20" id="submit-question">
		<div class="row">
			<div class="col-sm-12">
				<h5>Submit a Question</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<form method="post" action="/faq/submit" id="submit-question-form">
					<div class="row">
						<div class="form-group col-sm-12">
							<label>Category:</label>
							<?php echo $this->formSelect('data[faq_section_id]', $this->data['faq_section_id'], array('class'=>'form-control','required'=>'required'), array(""=>"")+$sections);?>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-12">
							<label>Your Name:</label>
							<input type="text" name="data[name]" class="form-control" value="<?php echo $this->data['name']?>" required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-12">
							<label>Your Email Address:</label>
							<input type="email" name="data[email]" class="form-control" value="<?php echo $this->data['email']?>" required>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-12">
							<label>Question:</label>
							<textarea name="data[question]" class="form-control" rows="6" required><?php echo $this->data['question']?></textarea>
						</div>
					</div>

					<?php if ($faq_captcha_status == 'Enabled' && $recaptcha_site_key && $recaptcha_secret_key) {?>
						<div class="row">
							<div class="form-group col-sm-12">
								<div class="g-recaptcha" data-sitekey="<?php echo $recaptcha_site_key; ?>"></div>
								<label id="g-recaptcha-error" class="error" style="display:none;"></label>
							</div>
						</div>
					<?php } ?>

					<div class="row">
						<div class="form-group col-sm-2">
							<button type="submit" class="btn btn--green btn--cms-default">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<?php } ?>

<script>
	$(document).ready(function(){
		$("#submit-question-form").validate({
			<?php if (isset($this->content->faq_submission_status) && $this->content->faq_submission_status == 'Enabled' &&
			$recaptcha_site_key && $recaptcha_secret_key) {?>
			submitHandler: function(form) {
				var response = grecaptcha.getResponse();

				if(response.length == 0) {
					$("#g-recaptcha-error").html("Please complete the reCAPTCHA").show();
				}else {
					form.submit();
				}
			}
			<?php } ?>
		});
	});
</script>

<style>
	#module-<?php echo $this->module->id?> .panel-title a {
		<?php echo ($this->content->title_text_color)?"color:{$this->content->title_text_color};":""?>
		<?php echo ($this->content->title_text_size)?"font-size:{$this->content->title_text_size};":""?>
		<?php echo ($this->content->title_line_height)?"line-height:{$this->content->title_line_height};":""?>
		<?php echo (isset($this->content->title_weight) && $this->content->title_weight)?"font-weight:{$this->content->title_weight};":""?>
		<?php echo (isset($this->content->title_font) && $this->content->title_font && strtolower($this->content->title_font) != 'default')?"font-family:\"{$fonts[$this->content->title_font]['title']}\";":""?>
	}

	#module-<?php echo $this->module->id?> .panel-title [aria-expanded='true'] .icon_closed {
		display:none;
	}
	#module-<?php echo $this->module->id?> .panel-title [aria-expanded='true'] .icon_open {
		display:inline-block;
	}
	#module-<?php echo $this->module->id?> .panel-title [aria-expanded='false'] .icon_open {
		display:none;
	}
	#module-<?php echo $this->module->id?> .panel-title [aria-expanded='false'] .icon_closed {
		display:inline-block;
	}

	#module-<?php echo $this->module->id?> .panel, #module-<?php echo $this->module->id?> .panel-collapse {
		box-shadow: none;
	}
	#module-<?php echo $this->module->id?> .panel-divider {
	<?php if (isset($this->content->divider_color) && $this->content->divider_color) {?>
		color: <?php echo $this->content->divider_color?>;
		border-color: <?php echo $this->content->divider_color?>;
	<?php } ?>
	<?php if (isset($this->content->divider_margin_tb) && $this->content->divider_margin_tb) {
		echo "margin: ";
		if ($this->content->divider_margin_tb == preg_replace("/[^0-9.]/", "", $this->content->divider_margin_tb)) $this->content->divider_margin_tb .= "px";
		echo $this->content->divider_margin_tb;
		echo "  auto;";
	} ?>
	}
</style>
