<?php
$panels = array();
if (isset($this->content->panels)) {
	foreach ($this->content->panels as $panel) {
		//if ($panel->status == 'Enabled') {
			$panels[$panel->sort_order] = $panel;
		//}
	}
	ksort($panels);
}

if ($this->settings->display_type == 'triple') {
	$panels = array_slice($panels,0,3);
}else {
	$panels = array_slice($panels,0,1);
}

$media_cache = new Cny_View_Helper_MediaCache();

$unit_mapper = new Custom_Model_Mapper_GfUnit();
$region_mapper = new Custom_Model_Mapper_GfRegion();
$building_mapper = new Custom_Model_Mapper_GfBuilding();
$amenity_mapper = new Custom_Model_Mapper_GfAmenity();
$open_house_mapper = new Custom_Model_Mapper_GfBuildingOpenHouse();
$neighborhood_mapper = new Custom_Model_Mapper_GfNeighborhood();
$unit_incentive_mapper = new Custom_Model_Mapper_GfUnitIncentive();
$feature_mapper = new Custom_Model_Mapper_GfFeature();
$unit_image_mapper = new Custom_Model_Mapper_GfUnitImage();
$floorplan_mapper = new Custom_Model_Mapper_GfFloorplan();
?>
<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<div class="clearfix mb-xxl mb-s-m">
		<div class="bleed bleed--lg bleed--md bleed--lg--seven bleed--md--seven <?php echo ($this->settings->alignment == 'right')?"bleed--lg--right bleed--md--right bleed--md--seven--right":""?> ">
			<div class="featured-listings-group featured-listings-group--<?php echo $this->settings->display_type?> featured-listings-group--reveal" data-animation-class="featured-listings-group--reveal">
				<div class="featured-listings-group__container">
					<h3 class="featured-listings-group__heading"><?php echo $this->content->title?></h3>
					<div class="clearfix">
						<?php
						foreach ($panels as $panel) {
							$unit = $unit_mapper->find($panel->unit_id);
							$building = $building_mapper->find($unit->building_id);
							$neighborhood = $neighborhood_mapper->find($building->neighborhood_id);
							$region = $region_mapper->find($neighborhood->region_id);

							$building_amenities = $amenity_mapper->fetchAmenityNamesByBuildingId($building->id);
							$open_houses = ($unit->disable_openhouse == 'Yes')?'':$open_house_mapper->fetchByBuildingId($building->id);
							$incentive = $unit_incentive_mapper->fetchNameByUnitId($unit->id);
							$unit_features = $feature_mapper->fetchFeatureNamesByUnitId($unit->id);
							$unit_images = $unit_image_mapper->fetchOrderedByUnitId($unit->id);
							$primary_image = $unit_image_mapper->fetchPrimaryByUnitId($unit->id);
							$floorplan = $floorplan_mapper->find($unit->floorplan_id);
						?>
						<div class="listing-tile mb-s-m <?php echo ($this->settings->display_type == 'single')?"col-lg-12":""?>" data-neighborhood="<?php echo $neighborhood->code?>" data-bedrooms="<?php echo $unit->bedrooms?>" data-order="0" data-openhouse="<?php echo count($open_houses)?>" data-region="<?php echo $region->code?>" tabindex="0">
							<a href="/rentals/<?php echo $region->code?>/<?php echo $building->code?>/apartment-<?php echo $unit->code?>" class="listing-tile__media" aria-label="<?php echo $unit->bedrooms?> beds&nbsp;<?php echo $unit->bathrooms?> baths ($<?php echo number_format($unit_mapper->getUnitNetEffectivePrice($unit),0)?>). Location: <?php echo $building->address_display_name?>, <?php echo $neighborhood->name?>">
								<picture>
									<source srcset="<?php echo $media_cache->getImage($primary_image->image, 'unit-tile-mobile')?>" media="(max-width: 600px)" aria-label="">
									<img src="<?php echo $media_cache->getImage($primary_image->image, 'unit-tile')?>" class="image" alt="<?php echo htmlentities($primary_image->alt_text)?>">
								</picture>
								<span class="spoiler spoiler--top"><?php echo $neighborhood->name?></span>
								<span class="spoiler--bottom"></span>
							</a>
							<div class="listing-tile__footer" aria-hidden="true">
	                            <span class="listing-tile__footer__left">
		                            <?php $effective_price = $unit_mapper->getUnitNetEffectivePrice($unit);?>
	                                <span class="price">$<?php echo number_format($effective_price,0)?><?php echo ($effective_price < $unit->price)?"<sup>*</sup>":""?></span>
	                            </span>
								<span class="listing-tile__footer__right">
	                                <span class="rooms"><?php echo ($unit->bedrooms)?"{$unit->bedrooms} Bed":"Studio"?>&nbsp;<?php if ($unit->bathrooms) { echo number_format($unit->bathrooms) . " Bath";}?></span>
								</span>
							</div>
							<div class="listing-tile__footer__center" aria-hidden="true">
								<span class="property-address"><?php echo $building->address_display_name?></span>
							</div>
						</div>
						<?php } ?>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
