<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$api_key = $settings_mapper->getValueByCode('google_api_key');

if (!$api_key) return;

$panels = array();
if (isset($this->content->panels)) {
	foreach ($this->content->panels as $panel) {
		if (isset($panel->status) && $panel->status == 'Disabled') continue;

		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);

	$map_locations = [];
	foreach ($panels as $panel) {
		$html_address = $address = $panel->address;
		//if ($panel->address2) {$html_address .= "<br/>".$panel->address2; $address .= ' '.$panel->address2;}
		if ($panel->city) {$html_address .= "<br/>".$panel->city.", "; $address .= ', '.$panel->city;}
		if ($panel->region) {$html_address .= $panel->region." "; $address .= ' '.$panel->region;}
		if ($panel->postcode) {$html_address .= $panel->postcode; $address .= ' '.$panel->postcode;}
		if ($panel->country) {$html_address .= "<br/>".$panel->country; $address .= ' '.$panel->country;}

		$directions_url = "http://maps.google.com/maps?daddr=".urlencode($address);

		$html_address .= "<br/><a href='".$directions_url."' target='_blank'>Directions</a><br/>";

		$extras = '';
		if ($panel->phone) {
			$extras .= "<br/>Phone: ".$panel->phone;
		}
		if ($panel->website) {
			if (stripos($panel->website,"http://") === false && stripos($panel->website,"https://") === false) {
				$panel->website = "http://".$panel->website;
			}
			$extras .= "<br/><a href=\"".$panel->website."\" target=\"_blank\">".$panel->website."</a>";
		}

		$marker_src = ($panel->marker_src)?$panel->marker_src:$panel->marker_image;

		$map_locations[] = "['" . addslashes("<strong>{$panel->label}</strong><br/>{$html_address}{$extras}") . "', " . preg_replace("/[^0-9.-]/", "", $panel->latitude) . ", " . preg_replace("/[^0-9.-]/", "", $panel->longitude) . ", '" . $marker_src . "', '" . $directions_url . "']";
	}
	$locations = implode(",\n",$map_locations);
}

if (!$panels) return;
?>

<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<div class="col-sm-12">
		<div class="embed-responsive embed-responsive-4by3 m-b-50">
			<div id="map-<?php echo $this->module->id?>" class="embed-responsive-item"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var map = new google.maps.Map(document.getElementById('map-<?php echo $this->module->id?>'), {
		zoom: 8,
		mapTypeId: '<?php echo (isset($this->content->map_type))?$this->content->map_type:'roadmap'?>',
		center: new google.maps.LatLng(parseFloat(36.2451337), parseFloat(-96.5685032))
	});

	var locations_<?php echo $this->module->id?> = [<?php echo $locations?>];

	var bounds = new google.maps.LatLngBounds();
	var infowindow = new google.maps.InfoWindow();
	var marker, i;
	var markers_<?php echo $this->module->id?> = [];

	for (i = 0; i < locations_<?php echo $this->module->id?>.length; i++) {
		markers_<?php echo $this->module->id?>[i] = marker = new google.maps.Marker({
			position: new google.maps.LatLng(locations_<?php echo $this->module->id?>[i][1], locations_<?php echo $this->module->id?>[i][2]),
			icon: (locations_<?php echo $this->module->id?>[i][3])?locations_<?php echo $this->module->id?>[i][3]:'<?php echo $this->content->image_path?>',
			map: map
		});

		google.maps.event.addListener(marker, 'mouseover', (function(marker, i) {
			return function() {
				infowindow.setContent(locations_<?php echo $this->module->id?>[i][0]);
				infowindow.open(map, marker);
			}
		})(marker, i));
		google.maps.event.addListener(marker, 'click', (function(marker, i) {
			return function() {
				window.open(locations_<?php echo $this->module->id?>[i][4]);
			}
		})(marker, i));

		bounds.extend(new google.maps.LatLng(locations_<?php echo $this->module->id?>[i][1], locations_<?php echo $this->module->id?>[i][2]));
		map.fitBounds(bounds);

		<?php if (count($panels) == 1) { ?>
		var listener = google.maps.event.addListener(map, "idle", function() {
			if (map.getZoom() > 16) map.setZoom(16);
			google.maps.event.removeListener(listener);
		});
		<?php } ?>
	}
</script>
