<?php
$url_cleaner = new Cny_View_Helper_UrlCleaner();
?>
<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<?php
	if (isset($this->content->link_url) && $this->content->link_url) {
	?>
		<a href="<?php echo $this->content->link_url?>">
	<?php
	}
	?>

		<img src="<?php echo $url_cleaner->image($this->content->image_path)?>" alt="<?php echo $this->content->alt_title?>" class="img-responsive img-full-width" style="width:100%;">
	<?php
	if (isset($this->content->link_url) && $this->content->link_url) {
	?>
		</a>
	<?php
	}
	?>
</div>
