<?php
$panels = array();
if (isset($this->content->panels)) {
	foreach ($this->content->panels as $panel) {
		if (isset($panel->status) && $panel->status == 'Disabled') continue;

		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

$vp = new Cny_Model_VideoParser();
$url_cleaner = new Cny_View_Helper_UrlCleaner();

//get list of fonts
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();
?>
<div id="module-<?php echo $this->module->id?>" class="hero hero--slider" <?php echo $this->config['data_attributes']?>>

	<?php if (isset($this->content->static_overlay_status) && $this->content->static_overlay_status == 'Enabled') {?>
		<div class="static-overlay <?php echo (isset($this->content->static_overlay_position) && $this->content->static_overlay_position)?$this->content->static_overlay_position:"center-middle"?>">


			<?php if (isset($this->content->static_overlay_image_path) && $this->content->static_overlay_image_path) { ?>
				<div class="hero__image">
					<img class="img-responsive <?php //echo $this->settings->image_class?>" src="<?php echo $url_cleaner->image($this->content->static_overlay_image_path)?>" alt="<?php echo $this->content->static_overlay_alt_title?>" title="<?php echo $this->content->static_overlay_alt_title?>">
				</div>
			<?php } ?>
			<?php if ($this->content->static_overlay_title) { ?>
				<h2 class="hero__title" style="<?php echo (isset($this->content->static_overlay_title_shadow) && $this->content->static_overlay_title_shadow == 'Enabled')?"text-shadow:0 {$this->content->static_overlay_title_shadow_size} {$this->content->static_overlay_title_shadow_size} {$this->content->static_overlay_title_shadow_color};":""?>">
					<?php echo $this->content->static_overlay_title?>
				</h2>
			<?php } ?>
			<?php if ($this->content->static_overlay_content) { ?>
				<div class="hero__item" style="<?php echo (isset($this->content->static_overlay_content_shadow) && $this->content->static_overlay_content_shadow == 'Enabled')?"text-shadow:0 {$this->content->static_overlay_content_shadow_size} {$this->content->static_overlay_content_shadow_size} {$this->content->static_overlay_content_shadow_color};":""?>">
					<?php echo $this->content->static_overlay_content?>
				</div>
			<?php } ?>

			<?php if ($this->content->static_overlay_ca_button_text) { ?>
				<div class="hero__item <?php echo (stripos($this->content->static_overlay_ca_button_class,'-full') !== false)?'text-center':''?>">
					<a class="btn btn-default btn--cms-default <?php echo $this->content->static_overlay_ca_button_class?>" href="<?php echo $this->content->static_overlay_ca_button_url?>" target="<?php echo $this->content->static_overlay_ca_button_link_target?>"
					   style="<?php echo ($this->content->static_overlay_ca_button_color)?"background-color:{$this->content->static_overlay_ca_button_color};":""?>
					   <?php echo ($this->content->static_overlay_ca_button_text_color)?"color:{$this->content->static_overlay_ca_button_text_color};":""?>
					   <?php echo (isset($this->content->static_overlay_ca_button_border_color) && isset($this->content->static_overlay_ca_button_border_width) && $this->content->static_overlay_ca_button_border_color && $this->content->static_overlay_ca_button_border_width)?"border: {$this->content->static_overlay_ca_button_border_width} solid {$this->content->static_overlay_ca_button_border_color};":""?>
					   <?php echo (isset($this->content->static_overlay_ca_text_padding) && $this->content->static_overlay_ca_text_padding)?"padding:0 {$this->content->static_overlay_ca_text_padding};":""?>
					   <?php echo (isset($this->content->static_overlay_ca_button_text_size) && $this->content->static_overlay_ca_button_text_size)?"font-size:{$this->content->static_overlay_ca_button_text_size};":""?>
							   "
					><?php echo $this->content->static_overlay_ca_button_text?></a>
				</div>
			<?php } ?>
		</div>
	<?php } ?>

	<div class="js-carousel carousel carousel--hero <?php echo (isset($this->content->fullscreen) && $this->content->fullscreen == 'yes')?"carousel--hero-fullscreen":"carousel--height"?> <?php echo $this->config['div_class']?>"
	     data-speed="<?php echo (isset($this->settings->transition_speed) && $this->settings->transition_speed)?$this->settings->transition_speed*1000:''?>"
	     data-fade="<?php echo (isset($this->settings->transition))?$this->settings->transition:''?>"
	     data-easing="<?php echo (isset($this->settings->transition_easing))?$this->settings->transition_easing:''?>"
	     data-pagination="<?php echo (isset($this->settings->pagination_status) && count($panels) > 1)?$this->settings->pagination_status:''?>"
	     data-pause_hover="<?php echo (isset($this->settings->pause_hover))?$this->settings->pause_hover:'Enabled'?>"
	>
		<?php
		//$first_slide_classes = 'animated fadeIn';
		$first_slide_classes = '';
		foreach ($panels as $panel) {
			$styles = ' carousel__caption--left';
			if ($panel->cta_position == 'center') {
				$styles = ' carousel__caption--center';
			}elseif ($panel->cta_position == 'right') {
				$styles = ' carousel__caption--right';
			}
			/*
					//handle new image position option
					if (!isset($panel->image_position)) {
						$panel->image_position = $panel->cta_position;
					}

					if ($panel->image_position == 'left') {
						$styles .= ' image-left';
					}elseif ($panel->image_position == 'right') {
						$styles .= ' image-right';
					}
			*/
			?>
			<div class="carousel__item <?php echo $first_slide_classes; ?>" <?php if (isset($panel->panel_link_url) && $panel->panel_link_url) {?>data-href="<?php echo $panel->panel_link_url?>"<?php } ?> <?php if (isset($panel->panel_link_target) && $panel->panel_link_target) {?>data-target="<?php echo $panel->panel_link_target?>"<?php } ?>>
				<?php if (isset($this->content->caption_tray_status) && $this->content->caption_tray_status == 'Enabled' && $this->content->caption_tray_position == 'top') {?>
					<div class="carousel__caption_tray" style="
					<?php echo ($panel->caption_tray_padding)?"padding:{$panel->caption_tray_padding}px;":""?>
					<?php echo ($panel->caption_tray_color)?"background-color:{$panel->caption_tray_color};":""?>
					<?php echo (isset($panel->caption_shadow) && $panel->caption_shadow == 'Enabled')?"text-shadow:0 {$panel->caption_shadow_size} {$panel->caption_shadow_size} {$panel->caption_shadow_color};":""?>
							">
						<?php echo (isset($panel->caption_text))?$panel->caption_text:''?>
					</div>
				<?php } ?>

				<div class="carousel__image"

					<?php if (isset($panel->sort_order) && $panel->sort_order) { ?> id="carousel-frame-<?php echo $this->module->id.'_'.$panel->sort_order?>"<?php } ?>

					<?php echo (isset($this->content->fullscreen) && $this->content->fullscreen == 'on')?"style=\"background-image:url('{$url_cleaner->image($panel->image_path)}');\"":""?> >

					<?php if (isset($panel->video_url) && $panel->video_url) {
						$video_details = $vp->getMediaDetails(($panel->video_url));
						?>
						<div class="yt_player" data-property="{videoURL:'<?php echo $video_details['video_id']?>',containment:'#carousel-frame-<?php echo $this->module->id.'_'.$panel->sort_order?>',startAt:0,showControls:false,quality:'highres',mute:false,autoPlay:true,loop:true,opacity:1,realfullscreen:true}"></div>
					<?php } ?>

					<?php if (isset($panel->image_path) && $panel->image_path) {?>
						<picture>
							<?php if (!isset($this->content->fullscreen) || $this->content->fullscreen != 'yes') { ?>
								<source class="img-responsive img-responsive--full-width" srcset="<?php echo $url_cleaner->image($panel->image_path); ?>" media="(min-width: 768px)" />
								<img class="img-responsive img-responsive--full-width <?php echo (isset($this->content->fullscreen) && $this->content->fullscreen == 'yes')?"visible-xs":""?>" src="<?php echo $url_cleaner->image((isset($panel->mobile_image_path) && $panel->mobile_image_path)?$panel->mobile_image_path:$panel->image_path); ?>" alt="<?php echo htmlentities($panel->label); ?>" />
							<?php } ?>
						</picture>
					<?php } ?>
				</div>

				<?php if ((!isset($this->content->static_overlay_status) || $this->content->static_overlay_status == 'Disabled')
					&& ($panel->logo_image_path || $panel->overlay_text || $panel->ca_button_url)
				) {?>
					<?php /* //new method
				<div class="carousel__caption carousel__caption--grid <?php echo $styles?> text-center" <?php if ($panel->ca_button_url) { ?> data-href="<?php echo $panel->ca_button_url; ?>"<?php } ?> >
					<div class="carousel__content">
						<?php if ($panel->logo_image_path) {?>
							<div class="image">
								<img src="<?php echo $url_cleaner->image($panel->logo_image_path); ?>" alt="" class="img-responsive center-block">
							</div>
						<?php } ?>
						<div class="tagline">
							<?php echo $panel->overlay_text; ?>
						</div>
					</div>
					<div class="carousel__content">
						<?php if ($panel->ca_button_url) { ?>
							<a href="<?php echo $panel->ca_button_url; ?>" class="btn btn-lg btn--height-auto btn--white-border btn--width-auto <?php echo $panel->ca_button_class?>"
							   style="<?php echo ($panel->ca_button_color)?"background-color:{$panel->ca_button_color};":""?>
							   <?php echo ($panel->ca_button_text_color)?"color:{$panel->ca_button_text_color};":""?>
									   "><?php echo $panel->ca_button_text; ?></a>
						<?php } ?>
					</div>
				</div>
                */ ?>

					<div id="panel-<?php echo $panel->sort_order?>" class="carousel__caption <?php echo $styles?> text-center" <?php /* if ($panel->ca_button_url) { ?> data-href="<?php echo $panel->ca_button_url; ?>"<?php } */ ?> >
						<?php if ($panel->logo_image_path) {?>
							<div class="carousel__image">
								<img src="<?php echo $url_cleaner->image($panel->logo_image_path); ?>" alt="" class="img-responsive">
							</div>
						<?php } ?>
						<div class="tagline">
							<?php echo $panel->overlay_text; ?>
						</div>
						<?php if ($panel->ca_button_url) { ?>
							<a id="ca-btn-<?php echo $panel->sort_order?>" href="<?php echo $panel->ca_button_url; ?>" data-href="<?php echo $panel->ca_button_url; ?>" <?php echo (isset($panel->ca_button_link_target) && $panel->ca_button_link_target)?"data-target=\"{$panel->ca_button_link_target}\" target=\"{$panel->ca_button_link_target}\"":''?>
							   class="btn btn-default btn--cms-default <?php echo $panel->ca_button_class?>"><?php echo $panel->ca_button_text; ?></a>
						<?php } ?>
					</div>
				<?php } ?>

				<?php if (isset($this->content->caption_tray_status) && $this->content->caption_tray_status == 'Enabled' && $this->content->caption_tray_position == 'bottom') {?>
					<div id="carousel__caption_tray-<?php echo $panel->sort_order?>" class="carousel__caption_tray
				<?php echo (isset($this->content->caption_tray_display_method) && $this->content->caption_tray_display_method == 'slide-mouseover' ? ' slide-mouseover' : '') ?>
				<?php echo (isset($this->content->caption_tray_display_method) && $this->content->caption_tray_display_method == 'fade-mouseover' ? ' fade-mouseover' : '') ?>
<?php echo (isset($this->content->caption_teaser_status) && $this->content->caption_teaser_status == 'Enabled'?' slide-teaser':'') ?>"
						<?php echo (isset($this->content->caption_teaser_status) && $this->content->caption_teaser_status == 'Enabled'?'data-trim="'.(isset($this->content->caption_teaser_trim) && $this->content->caption_teaser_trim == preg_replace("/[^0-9.]/", "", $this->content->caption_teaser_trim) ? $this->content->caption_teaser_trim:'0').'"':'') ?><?php echo (isset($this->content->height) && $this->content->height?'data-height="'.$this->content->height.'"':'0');  ?>>
						<?php echo (isset($panel->caption_text))?$panel->caption_text:''?>
					</div>
				<?php } ?>
			</div>
			<?php
			$first_slide_classes = '';
		} ?>
	</div>
</div>

<?php if (count($panels) > 1 && ((isset($this->settings->controls_status) && $this->settings->controls_status == 'Enabled') || !isset($this->settings->controls_status))) {?>
	<div class="carousel-controls carousel-controls--hero hidden-xs <?php echo str_ireplace("js-equal-height","",$this->config['div_class'])?>">
		<div class="carousel-controls__prev"><i class="fa fa-2x text-black fa-angle-left"></i></div>
		<div class="carousel-controls__next"><i class="fa fa-2x text-black fa-angle-right"></i></div>
	</div>
<?php } ?>

<?php
$font_families = array();

foreach ($panels as $panel) {
	if (isset($panel->ca_button_text_font) && $panel->ca_button_text_font) {
		if (strtolower($panel->ca_button_text_font) != 'default') {
			if ($panel->ca_button_text_font && !in_array($panel->ca_button_text_font, $font_families)) {
				if (stripos($panel->ca_button_text_font, "http://") !== false || stripos($panel->ca_button_text_font, "https://") !== false) {
					//old font method
					echo '<link href="' . $panel->ca_button_text_font . '" rel="stylesheet">';
				} else {
					if (isset($panel->ca_button_text_font) && $panel->ca_button_text_font) {
						$font = $fonts[$panel->ca_button_text_font];
						if ($font['url']) {
							echo '<link href="' . $font['url'] . '" rel="stylesheet">';
						}
					}
				}
				if (isset($panel->ca_button_text_font) && $panel->ca_button_text_font && isset($font_families[$panel->ca_button_text_font])) {
					$font_families[$panel->ca_button_text_font] = $fonts[$panel->ca_button_text_font]['title'];
				}
			}
		}

	}
}
?>


<style>
	#module-<?php echo $this->module->id?> .carousel--height,


	<?php
	if (isset($this->content->height) && $this->content->height == preg_replace("/[^0-9.]/", "", $this->content->height)) $this->content->height .= "px";
	if (!isset($this->content->height) && (!isset($this->content->fullscreen) || $this->content->fullscreen == 'off')) $this->content->height = "400px"; ?>
	#module-<?php echo $this->module->id?> .carousel--height .carousel__item img {
		object-fit: cover;
	}
	#module-<?php echo $this->module->id?> .carousel--height .carousel__item {
		<?php $min_height = ( isset($this->content->height) && $this->content->height != 0)?$this->content->height:'0'?>
		min-height: <?php echo (isset($this->content->fullscreen) && $this->content->fullscreen == 'on')?"100vh":$min_height?> !important;
	}
	<?php ?>

	<?php if (isset($this->settings->pagination_alignment) && $this->settings->pagination_alignment) {?>
	#module-<?php echo $this->module->id?> .carousel--hero .slick-dots {
		text-align: <?php echo $this->settings->pagination_alignment ?>;
		padding: 0 15px;
	}
	<?php } ?>


	<?php foreach ($panels as $panel) { ?>

	/*button styles*/
		<?php if (isset($panel->ca_button_color) && $panel->ca_button_color) {?>
		#module-<?php echo $this->module->id?>  a#ca-btn-<?php echo $panel->sort_order?> {
			background-color: <?php echo $panel->ca_button_color?> !important;
		}
		<?php } ?>

		<?php if (isset($panel->ca_button_text_size) && $panel->ca_button_text_size) {?>
		#module-<?php echo $this->module->id?>  a#ca-btn-<?php echo $panel->sort_order?> {
			font-size: <?php echo $panel->ca_button_text_size?> !important;
		}
		<?php } ?>

		<?php if (isset($panel->ca_button_text_color) && $panel->ca_button_text_color) {?>
	#module-<?php echo $this->module->id?>  a#ca-btn-<?php echo $panel->sort_order?> {
		color: <?php echo $panel->ca_button_text_color?> !important;
	}
	<?php } ?>

		<?php if (isset($panel->ca_button_border_color) && $panel->ca_button_border_color) {?>
		#module-<?php echo $this->module->id?>  a#ca-btn-<?php echo $panel->sort_order?> {
			border-color: <?php echo $panel->ca_button_border_color?> !important;
		}
		<?php } ?>

		<?php if (isset($panel->ca_button_border_width) && $panel->ca_button_border_width) {?>
		#module-<?php echo $this->module->id?>  a#ca-btn-<?php echo $panel->sort_order?> {
			border-width: <?php echo $panel->ca_button_border_width?> !important;
		}
		<?php } ?>

		<?php if ( isset($panel->ca_button_padding_tb) && $panel->ca_button_padding_tb) {?>
		#module-<?php echo $this->module->id?>  a#ca-btn-<?php echo $panel->sort_order?> {
			padding-top: <?php echo $panel->ca_button_padding_tb?> !important;
			padding-bottom: <?php echo $panel->ca_button_padding_tb?> !important;
		}
		<?php } ?>

		<?php if ( isset($panel->ca_button_padding_lr) && $panel->ca_button_padding_lr) {?>
		#module-<?php echo $this->module->id?>  a#ca-btn-<?php echo $panel->sort_order?> {
			padding-left: <?php echo $panel->ca_button_padding_lr?> !important;
			padding-right: <?php echo $panel->ca_button_padding_lr?> !important;
		}
		<?php } ?>

		<?php if ( isset($panel->ca_button_width) && $panel->ca_button_width) { if ($panel->ca_button_width == preg_replace("/[^0-9.]/", "", $panel->ca_button_width)) $panel->ca_button_width .= "px"; ?>
		#module-<?php echo $this->module->id?>  a#ca-btn-<?php echo $panel->sort_order?> {
			width: 100%;
			max-width: <?php echo $panel->ca_button_width?>;
		}
		<?php } ?>

		<?php if ( isset($panel->ca_button_text_weight) && $panel->ca_button_text_weight) {?>
		#module-<?php echo $this->module->id?>  a#ca-btn-<?php echo $panel->sort_order?> {
			font-weight: <?php echo $panel->ca_button_text_weight?>;
		}
		<?php } ?>

		<?php if (isset($panel->ca_button_hover_color) && $panel->ca_button_hover_color) {?>
			#module-<?php echo $this->module->id?>  a#ca-btn-<?php echo $panel->sort_order?>:hover {
				background-color: <?php echo $panel->ca_button_hover_color?> !important;
			}
		<?php } ?>

		<?php if (isset($panel->ca_button_text_hover_color) && $panel->ca_button_text_hover_color) {?>
			#module-<?php echo $this->module->id?>  a#ca-btn-<?php echo $panel->sort_order?>:hover {
			color: <?php echo $panel->ca_button_text_hover_color?> !important;
		}
		<?php } ?>

		<?php if (isset($panel->ca_button_border_hover_color) && $panel->ca_button_border_hover_color) {?>
		#module-<?php echo $this->module->id?>  a#ca-btn-<?php echo $panel->sort_order?>:hover {
			border-color: <?php echo $panel->ca_button_border_hover_color?> !important;
		}
		<?php } ?>

		/*caption styles*/
		<?php if (isset($panel->caption_tray_color) && $panel->caption_tray_color) {?>
		#module-<?php echo $this->module->id?>  #carousel__caption_tray-<?php echo $panel->sort_order?>
		 {
			background-color: <?php echo $panel->caption_tray_color?> !important;
		}
		<?php } ?>

		<?php if ( isset($panel->caption_tray_padding) && $panel->caption_tray_padding) {?>
		#module-<?php echo $this->module->id?>  #carousel__caption_tray-<?php echo $panel->sort_order?>
		{
			padding: <?php echo $panel->caption_tray_padding?>;
		}
		<?php } ?>

		<?php if ( isset($panel->overlay_text_shadow) && $panel->overlay_text_shadow == 'Enabled') {?>
			#module-<?php echo $this->module->id?>  #panel-<?php echo $panel->sort_order?> .tagline {
				text-shadow:0 <?php echo $panel->overlay_text_shadow_size .' '. $panel->overlay_text_shadow_size .' '. $panel->overlay_text_shadow_color?>;
			}
		<?php } ?>

	<?php } ?>



</style>

<script>
	$(function() {
		$('.slick-cloned > .carousel__image ').removeAttr('id');


		<?php if (isset($this->content->caption_teaser_status) && $this->content->caption_teaser_status == 'Enabled') {?>
		function captionTease () {
			var $captionTray = $('.carousel__caption_tray.slide-teaser');

			$captionTray.each(function() {
				var $this = $(this),
					$captionTrim = $this.data('trim'),
					$captionTrayHeight = Math.floor( 55 - $captionTrim ),
					$captionHeadingHeight = Math.floor( $this.innerHeight() + $captionTrim );

				$this.css({'height': $captionTrayHeight + 'px'});

				$this.on('mouseenter', function() {
					$(this).animate({'height': $captionHeadingHeight + 'px'}, 'fast', 'linear');
				});

				$this.on('mouseleave',function() {
					$(this).animate({'height': $captionTrayHeight + 'px'});
				});

			});
		}

		captionTease();

		<?php } ?>
	});
</script>
