<?php
$url_cleaner = new Cny_View_Helper_UrlCleaner();
?>
<div class="<?php echo $this->config['div_class']?> <?php echo ($this->content->alignment)?$this->content->alignment:''?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<?php if (isset($this->content->link_url) && $this->content->link_url) {?>
	<a href="<?php echo $this->content->link_url?>" target="<?php echo $this->content->link_target?>"
		<?php echo (isset($this->content->onclick) && $this->content->onclick)?"onclick=\"{$this->content->onclick}\"":""?>
	>
	<?php } ?>

	<span class="fa fa-<?php echo $this->content->icon?>"
	      style="<?php echo ($this->content->icon_color)?"color:{$this->content->icon_color};":""?>
	      <?php if (isset($this->content->icon_size) && $this->content->icon_size) {
		      echo "font-size: ";
		      if ($this->content->icon_size == preg_replace("/[^0-9.]/", "", $this->content->icon_size)) $this->content->icon_size .= "px";
		      echo $this->content->icon_size;
		      echo ";";
	      }?>
	"></span>

	<?php if (isset($this->content->link_url) && $this->content->link_url) {?>
	</a>
	<?php } ?>
</div>
<style>
	#module-<?php echo $this->module->id?> span.fa:hover {
		color: <?php echo ($this->content->icon_hover_color)?$this->content->icon_hover_color:$this->content->icon_color?> !important;
	}
</style>
