<?php
if (!isset($this->content) || !$this->content || !isset($this->content->panels) || count((array)$this->content->panels) == 0) return false;

$item_col = ($this->content->per_row_count)?(12/$this->content->per_row_count):'';
$item_col_mobile = ($this->content->per_row_count_mobile)?(12/$this->content->per_row_count_mobile):'';

$item_grid_col = ($this->content->grid_per_row_count)?($this->content->grid_per_row_count):'';

$panels = array();
foreach ($this->content->panels as $panel) {
	if (isset($panel->status) && $panel->status == 'Disabled') continue;

	$panels[$panel->sort_order] = $panel;
}
ksort($panels);

$url_cleaner = new Cny_View_Helper_UrlCleaner();
$media_cache = new Cny_View_Helper_MediaCache();

//get list of fonts
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

//we have different gallery types
switch ($this->settings->gallery_type) {
	case "mosaic":
		if (!$item_col) $item_col = 3;
		if (!$item_col_mobile) $item_col_mobile = 12;
		?>
		<div id="module-<?php echo $this->module->id?>" class="<?php echo (!isset($this->settings->js_image_protection) || $this->settings->js_image_protection == 'Enabled')?"js-image-protect":"" ?>" <?php echo $this->config['data_attributes']?>>
			<div class="row gallery-row grid-masonry <?php echo $this->config['div_class']?><?php echo (isset($this->settings->global_caption_hover_status) && $this->settings->global_caption_hover_status == 'on')?' gallery--caption':''?>">
				<div class="grid-sizer col-sm-<?php echo $item_col?> col-xs-<?php echo $item_col_mobile?>"></div>
				<?php
				foreach ($panels as $panel) {
					$image_zoom_percent = (isset($this->settings->global_image_hover_zoom_percent))?$this->settings->global_image_hover_zoom_percent:'';
					if (isset($panel->image_hover_zoom_percent) && isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on') {
						$image_zoom_percent = $panel->image_hover_zoom_percent;
					}
					?>
					<div class="col-sm-<?php echo $item_col?> col-xs-<?php echo $item_col_mobile?> grid-masonry__item gallery__item">

						<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'off') { ?>
						<a href="<?php echo (isset($panel->url_override) && $panel->url_override)?$panel->url_override:$panel->image_path?>" class="<?php echo (isset($panel->url_override) && $panel->url_override)?'':'js-trigger-fancybox'?>" <?php echo (isset($panel->url_override) && $panel->url_override && isset($panel->link_target) && $panel->link_target)?"target=\"{$panel->link_target}\"":''?> data-fancybox="gallery-<?php echo $this->module->id?>" data-caption="<?php echo htmlentities($panel->caption)?>" title="<?php echo htmlentities($panel->caption)?>">
							<?php } ?>

							<img class="lazyload <?php echo $this->settings->image_class?> <?php echo (isset($this->settings->image_hover_class))?$this->settings->image_hover_class:''?>" data-src="<?php echo $url_cleaner->image($panel->image_path)?>" alt="<?php echo htmlentities((isset($panel->alt_title) && $panel->alt_title)?$panel->alt_title:$panel->label)?>" <?php echo ((isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on') || (isset($this->settings->global_image_hover_zoom_status) && $this->settings->global_image_hover_zoom_status == 'on'))?'data-hover-zoom-percent="'.$image_zoom_percent.'"':''?> data-sizes="auto" data-expand="-20">

							<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'off') {  ?>
						</a>
					<?php } ?>

						<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'on') {  ?>
							<div class="gallery__caption<?php echo (isset($this->settings->global_caption_hover_status) && $this->settings->global_caption_hover_status == 'on')?' gallery__caption--hover':''?>"  <?php echo (isset($panel->url_override) && $panel->url_override)?' data-href="'.$panel->url_override.'"':''?> <?php echo (isset($panel->url_override) && $panel->url_override && isset($panel->link_target) && $panel->link_target)?"data-target=\"{$panel->link_target}\"":''?>>
								<div class="<?php echo $this->settings->global_caption_overlay_style; ?><?php echo ' '.$this->settings->image_class?>">
									<span>
										<?php echo htmlentities($panel->caption)?>
									</span>
								</div>
							</div>
						<?php } ?>

					</div>
					<?php
				}
				?>
			</div>
		</div>
		<?php
		break;
	case "grid_square_thumbs":
		?>
		<div id="module-<?php echo $this->module->id?>" class="<?php echo (!isset($this->settings->js_image_protection) || $this->settings->js_image_protection == 'Enabled')?"js-image-protect":"" ?>" <?php echo $this->config['data_attributes']?>>
			<div class="<?php echo !isset($this->content->grid_per_row_count)?'row gallery-row':'gallery-grid gallery-grid--count-'.$item_grid_col;?> gallery equal-height-columns <?php echo $this->config['div_class']?><?php echo (isset($this->settings->global_caption_hover_status) && $this->settings->global_caption_hover_status == 'on')?' gallery--caption':''?>">
				<?php
				foreach ($panels as $panel) {
					$image_zoom_percent = (isset($this->settings->global_image_hover_zoom_percent))?$this->settings->global_image_hover_zoom_percent:'';
					if (isset($panel->image_hover_zoom_percent) && isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on') {
						$image_zoom_percent = $panel->image_hover_zoom_percent;
					}

					$thumbnail = str_ireplace("userFiles/uploads","userThumbs",$panel->image_path);
					?>
					<div class="gallery__item equal-height-column<?php echo !isset($this->content->grid_per_row_count)?' col-sm-'.$item_col.' col-xs-'.$item_col_mobile:'';?>">

						<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'off') { ?>
						<a href="<?php echo (isset($panel->url_override) && $panel->url_override)?$panel->url_override:$panel->image_path?>" class="<?php echo (isset($panel->url_override) && $panel->url_override)?'':'js-trigger-fancybox'?>" <?php echo (isset($panel->url_override) && $panel->url_override && isset($panel->link_target) && $panel->link_target)?"target=\"{$panel->link_target}\"":''?> <?php echo (isset($panel->url_override) && $panel->url_override)?'':"data-fancybox=\"gallery-{$this->module->id}\""?> data-caption="<?php echo htmlentities($panel->caption)?>" title="<?php echo htmlentities($panel->caption)?>">
							<?php } ?>

							<img class="img-responsive center-block <?php echo $this->settings->image_class?> <?php echo (isset($this->settings->image_hover_class))?$this->settings->image_hover_class:''?>" src="<?php echo $url_cleaner->image((file_exists($_SERVER['DOCUMENT_ROOT'].$thumbnail))?$thumbnail:$panel->image_path)?>" alt="<?php echo htmlentities((isset($panel->alt_title) && $panel->alt_title)?$panel->alt_title:$panel->label)?>" <?php echo ((isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on') || (isset($this->settings->global_image_hover_zoom_status) && $this->settings->global_image_hover_zoom_status == 'on'))?'data-hover-zoom-percent="'.$image_zoom_percent.'"':''?>>

							<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'off') {  ?>
						</a>
					<?php } ?>

						<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'on') {  ?>
							<div class="gallery__caption<?php echo (isset($this->settings->global_caption_hover_status) && $this->settings->global_caption_hover_status == 'on')?' gallery__caption--hover':''?>"  <?php echo (isset($panel->url_override) && $panel->url_override)?' data-href="'.$panel->url_override.'"':''?> <?php echo (isset($panel->url_override) && $panel->url_override && isset($panel->link_target) && $panel->link_target)?"data-target=\"{$panel->link_target}\"":''?>>
								<div class="<?php echo $this->settings->global_caption_overlay_style; ?><?php echo ' '.$this->settings->image_class?>">
									<span>
										<?php echo htmlentities($panel->caption)?>
									</span>
								</div>
							</div>
						<?php } ?>

					</div>
					<?php
				}
				?>
			</div>
		</div>
		<?php
		break;
	case "carousel":
		?>
		<div id="module-<?php echo $this->module->id?>" class="<?php echo (!isset($this->settings->js_image_protection) || $this->settings->js_image_protection == 'Enabled')?"js-image-protect":"" ?>" <?php echo $this->config['data_attributes']?>>
			<div class="js-carousel carousel carousel--gallery m-b-20 <?php echo (isset($this->settings->global_caption_hover_status) && $this->settings->global_caption_hover_status == 'on')?' gallery--caption':''?>"
			     data-infinite_scroll="<?php echo (isset($this->settings->infinite_scroll))?$this->settings->infinite_scroll:'Disabled'?>"
			     data-slides="<?php echo (isset($this->content->carousel_slide_count))?$this->content->carousel_slide_count:''?>"
			     data-autoplay="<?php echo (isset($this->settings->carousel_autoplay))?$this->settings->carousel_autoplay:'Disabled'?>"
			     data-speed="<?php echo (isset($this->settings->transition_speed))?$this->settings->transition_speed*1000:''?>"
			     data-controls="<?php echo (isset($this->settings->carousel_prev_arrow_status))?$this->settings->carousel_prev_arrow_status:'Disabled'?>"
			     data-thumbnails="<?php echo (isset($this->settings->carousel_thumbnails))?$this->settings->carousel_thumbnails:'Disabled'?>"
			>
				<?php
				foreach ($panels as $panel) {
					$image_zoom_percent = (isset($this->settings->global_image_hover_zoom_percent))?$this->settings->global_image_hover_zoom_percent:'';
					if (isset($panel->image_hover_zoom_percent) && isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on') {
						$image_zoom_percent = $panel->image_hover_zoom_percent;
					}

					$thumbnail = str_ireplace("userFiles/uploads","userThumbs",$panel->image_path);

					?>
					<div class="carousel__item">
						<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'off') { ?>
						<a href="<?php echo (isset($panel->url_override) && $panel->url_override)?$panel->url_override:$panel->image_path?>" class="<?php echo (isset($panel->url_override) && $panel->url_override)?'':'js-trigger-fancybox'?>" <?php echo (isset($panel->url_override) && $panel->url_override && isset($panel->link_target) && $panel->link_target)?"target=\"{$panel->link_target}\"":''?> <?php echo (isset($panel->url_override) && $panel->url_override)?'':"data-fancybox=\"gallery-{$this->module->id}\""?> data-caption="<?php echo htmlentities($panel->caption)?>" title="<?php echo htmlentities($panel->caption)?>">
							<?php } ?>
							<img class="img-responsive center-block <?php echo $this->settings->image_class?> <?php echo (isset($this->settings->image_hover_class))?$this->settings->image_hover_class:''?>" src="<?php echo $url_cleaner->image((file_exists($_SERVER['DOCUMENT_ROOT'].$thumbnail) && (!isset($this->settings->image_profile) || $this->settings->image_profile == 'square'))?$thumbnail:$panel->image_path)?>" alt="<?php echo htmlentities((isset($panel->alt_title) && $panel->alt_title)?$panel->alt_title:$panel->label)?>" <?php echo ((isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on') || (isset($this->settings->global_image_hover_zoom_status) && $this->settings->global_image_hover_zoom_status == 'on'))?'data-hover-zoom-percent="'.$image_zoom_percent.'"':''?> />
							<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'off') {  ?>
						</a>
					<?php } ?>
						<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'on') {  ?>
							<div class="gallery__caption<?php echo (isset($this->settings->global_caption_hover_status) && $this->settings->global_caption_hover_status == 'on')?' gallery__caption--hover':''?>"  <?php echo (isset($panel->url_override) && $panel->url_override)?' data-href="'.$panel->url_override.'"':''?> <?php echo (isset($panel->url_override) && $panel->url_override && isset($panel->link_target) && $panel->link_target)?"data-target=\"{$panel->link_target}\"":''?>>
								<div class="<?php echo $this->settings->global_caption_overlay_style; ?><?php echo ' '.$this->settings->image_class?>">
									<span>
										<?php echo htmlentities($panel->caption)?>
									</span>
								</div>
							</div>
						<?php } ?>
					</div>
				<?php } ?>
			</div>
			<?php if (isset($this->settings->carousel_thumbnails) && $this->settings->carousel_thumbnails == 'Enabled') { ?>
				<div class="js-carousel carousel carousel--gallery-thumbs"
				     data-slides="<?php echo (isset($this->content->carousel_thumbnail_slide_count))?$this->content->carousel_thumbnail_slide_count:''?>">
					<?php
					foreach ($panels as $panel) {
						$thumbnail = str_ireplace("userFiles/uploads","userThumbs",$panel->image_path);
						?>
						<div class="carousel__item">
							<img class="img-responsive center-block <?php echo $this->settings->image_class?> <?php echo (isset($this->settings->image_hover_class))?$this->settings->image_hover_class:''?>" src="<?php echo $url_cleaner->image((file_exists($_SERVER['DOCUMENT_ROOT'].$thumbnail))?$thumbnail:$panel->image_path)?>" alt="<?php echo htmlentities((isset($panel->alt_title) && $panel->alt_title)?$panel->alt_title:$panel->label)?>" />
						</div>
					<?php } ?>
				</div>
			<?php }?>
		</div>
		<?php
		break;
	case "pattern":
		?>
		<div id="module-<?php echo $this->module->id?>" class="<?php echo (!isset($this->settings->js_image_protection) || $this->settings->js_image_protection == 'Enabled')?"js-image-protect":"" ?>" <?php echo $this->config['data_attributes']?>>
			<div class="gallery gallery--pattern <?php echo $this->config['div_class']?><?php echo (isset($this->settings->global_caption_hover_status) && $this->settings->global_caption_hover_status == 'on')?' gallery--caption':''?>">
				<?php
				$panel_count = 0;
				foreach ($panels as $panel) {
					$image_zoom_percent = (isset($this->settings->global_image_hover_zoom_percent))?$this->settings->global_image_hover_zoom_percent:'';
					if (isset($panel->image_hover_zoom_percent) && isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on') {
						$image_zoom_percent = $panel->image_hover_zoom_percent;
					}
					//used for pattern grid
					//there maybe a better way to do this?
					$div_class = '';
					$mod = $panel_count % 13;
					if ($mod >= 0 && $mod <= 5) {
						$div_class = 'col-2';
					}elseif ($mod >= 6 && $mod <= 8) {
						$div_class = 'col-4';
					}elseif ($mod >= 9 && $mod <= 12) {
						$div_class = 'col-3';
					}

					/*
					if ($panel_count < 6) {//1-6
						$div_class = 'col-2';
					} elseif ($panel_count > 5 && $panel_count < 9) {//7-9
						$div_class = 'col-3';
					} else {//10-13
						$div_class = 'col-4';
					}
					*/
					?>
					<div class="gallery__item <?php echo $div_class; ?>">
						<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'off') { ?>
						<a href="<?php echo (isset($panel->url_override) && $panel->url_override)?$panel->url_override:$panel->image_path?>" class="<?php echo (isset($panel->url_override) && $panel->url_override)?'':'js-trigger-fancybox'?>" <?php echo (isset($panel->url_override) && $panel->url_override && isset($panel->link_target) && $panel->link_target)?"target=\"{$panel->link_target}\"":''?> data-fancybox="gallery-<?php echo $this->module->id?>" data-caption="<?php echo htmlentities($panel->caption)?>" title="<?php echo htmlentities($panel->caption)?>">
							<?php } ?>

							<img class="lazyload <?php echo $this->settings->image_class?> <?php echo (isset($this->settings->image_hover_class))?$this->settings->image_hover_class:''?>" data-src="<?php echo $url_cleaner->image($media_cache->getImage($panel->image_path, 'crop_square'))?>" alt="<?php echo htmlentities((isset($panel->alt_title) && $panel->alt_title)?$panel->alt_title:$panel->label)?>" <?php echo ((isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on') || (isset($this->settings->global_image_hover_zoom_status) && $this->settings->global_image_hover_zoom_status == 'on'))?'data-hover-zoom-percent="'.$image_zoom_percent.'"':''?> data-sizes="auto" data-expand="-20">

							<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'off') {  ?>
						</a>
					<?php } ?>

						<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'on') {  ?>
							<div class="gallery__caption<?php echo (isset($this->settings->global_caption_hover_status) && $this->settings->global_caption_hover_status == 'on')?' gallery__caption--hover':''?>"  <?php echo (isset($panel->url_override) && $panel->url_override)?' data-href="'.$panel->url_override.'"':''?> <?php echo (isset($panel->url_override) && $panel->url_override && isset($panel->link_target) && $panel->link_target)?"data-target=\"{$panel->link_target}\"":''?>>
								<div class="<?php echo $this->settings->global_caption_overlay_style; ?><?php echo ' '.$this->settings->image_class?>">
									<span>
										<?php echo htmlentities($panel->caption)?>
									</span>
								</div>
							</div>
						<?php } ?>

					</div>
					<?php
					$panel_count++;
				}
				?>
			</div>
		</div>
		<?php
		break;
	case "grid":
	default:
		?>
		<div id="module-<?php echo $this->module->id?>" class="<?php echo (!isset($this->settings->js_image_protection) || $this->settings->js_image_protection == 'Enabled')?"js-image-protect":"" ?>" <?php echo $this->config['data_attributes']?>>
			<div class="<?php echo !isset($this->content->grid_per_row_count)?'row gallery-row':'gallery-grid gallery-grid--count-'.$item_grid_col;?> gallery equal-height-columns <?php echo $this->config['div_class']?><?php echo (isset($this->settings->global_caption_hover_status) && $this->settings->global_caption_hover_status == 'on')?' gallery--caption':''?>">
				<?php
				foreach ($panels as $panel) {
					$image_zoom_percent = (isset($this->settings->global_image_hover_zoom_percent))?$this->settings->global_image_hover_zoom_percent:'';
					if (isset($panel->image_hover_zoom_percent) && isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on') {
						$image_zoom_percent = $panel->image_hover_zoom_percent;
					}
					?>
					<div class="gallery__item equal-height-column<?php echo !isset($this->content->grid_per_row_count)?' col-sm-'.$item_col.' col-xs-'.$item_col_mobile:'';?>">

						<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'off') { ?>
						<a href="<?php echo (isset($panel->url_override) && $panel->url_override)?$panel->url_override:$panel->image_path?>" class="<?php echo (isset($panel->url_override) && $panel->url_override)?'':'js-trigger-fancybox'?>" <?php echo (isset($panel->url_override) && $panel->url_override && isset($panel->link_target) && $panel->link_target)?"target=\"{$panel->link_target}\"":''?> <?php echo (isset($panel->url_override) && $panel->url_override)?'':"data-fancybox=\"gallery-{$this->module->id}\""?> data-caption="<?php echo htmlentities($panel->caption)?>" title="<?php echo htmlentities($panel->caption)?>">
							<?php } ?>

							<img class="img-responsive center-block <?php echo $this->settings->image_class?> <?php echo (isset($this->settings->image_hover_class))?$this->settings->image_hover_class:''?>" src="<?php echo $url_cleaner->image($panel->image_path)?>" alt="<?php echo htmlentities((isset($panel->alt_title) && $panel->alt_title)?$panel->alt_title:$panel->label)?>" <?php echo ((isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on') || (isset($this->settings->global_image_hover_zoom_status) && $this->settings->global_image_hover_zoom_status == 'on'))?'data-hover-zoom-percent="'.$image_zoom_percent.'"':''?>>



							<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'off') {  ?>
						</a>
					<?php } ?>


						<?php if (isset($this->settings->global_caption_overlay_status) && $this->settings->global_caption_overlay_status == 'on') {  ?>
							<div class="gallery__caption<?php echo (isset($this->settings->global_caption_hover_status) && $this->settings->global_caption_hover_status == 'on')?' gallery__caption--hover':''?>"  <?php echo (isset($panel->url_override) && $panel->url_override)?' data-href="'.$panel->url_override.'"':''?> <?php echo (isset($panel->url_override) && $panel->url_override && isset($panel->link_target) && $panel->link_target)?"data-target=\"{$panel->link_target}\"":''?>>
								<div class="<?php echo $this->settings->global_caption_overlay_style; ?><?php echo ' '.$this->settings->image_class?>">
									<span>
										<?php echo htmlentities($panel->caption)?>
									</span>
								</div>
							</div>
						<?php } ?>

					</div>
					<?php
				}
				?>
			</div>
		</div>
	<?php } ?>


<?php
if (isset($this->content->font) && $this->content->font) {
	if (stripos($this->content->font, "http://") !== false || stripos($this->content->font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->content->font . '" rel="stylesheet">';
	} else {
		if (isset($this->content->font) && $this->content->font) {
			$font = $fonts[$this->content->font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}
}
?>
<style>
	#module-<?php echo $this->module->id?> .gallery__caption div {
	<?php if (isset($this->content->font) && $this->content->font && strtolower($this->content->font) != 'default') {?>
		font-family: "<?php echo $fonts[$this->content->font]['title'];?>";
	<?php } ?>

	<?php if (isset($this->settings->global_caption_text_size) && $this->settings->global_caption_text_size) {
		if ($this->settings->global_caption_text_size == preg_replace("/[^0-9.]/", "", $this->settings->global_caption_text_size)) $this->settings->global_caption_text_size .= "px"; ?>
		font-size: <?php echo $this->settings->global_caption_text_size;?>;
	<?php } ?>

	<?php if (isset($this->settings->global_caption_text_color) && $this->settings->global_caption_text_color) { ?>
		color: <?php echo $this->settings->global_caption_text_color;?>;
	<?php } ?>

	<?php if (isset($this->settings->global_caption_weight) && $this->settings->global_caption_weight) { ?>
		font-weight: <?php echo $this->settings->global_caption_weight;?>;
	<?php } ?>

	<?php if (isset($this->settings->global_caption_vertical_padding) && $this->settings->global_caption_vertical_padding) {
	if ($this->settings->global_caption_vertical_padding == preg_replace("/[^0-9.]/", "", $this->settings->global_caption_vertical_padding)) $this->settings->global_caption_vertical_padding .= "px"; ?>
		padding: <?php echo $this->settings->global_caption_vertical_padding;?>;
	<?php } ?>

	<?php if (isset($this->settings->global_caption_line_height) && $this->settings->global_caption_line_height) {
	if ($this->settings->global_caption_line_height == preg_replace("/[^0-9.]/", "", $this->settings->global_caption_line_height)) $this->settings->global_caption_line_height .= "px"; ?>
		line-height: <?php echo $this->settings->global_caption_line_height;?>;
	<?php } ?>

	<?php if (isset($this->settings->global_caption_alignment) && $this->settings->global_caption_alignment) { ?>
		text-align: <?php echo $this->settings->global_caption_alignment;?>;
	<?php } ?>

	}
	<?php if (isset($this->settings->global_caption_hover_status) && $this->settings->global_caption_hover_status == 'on') {  ?>
	#module-<?php echo $this->module->id?> .gallery__caption div {
	<?php if (isset($this->settings->global_caption_background_color) && $this->settings->global_caption_background_color) { ?>
		background-color: <?php echo $this->settings->global_caption_background_color;?>;
	<?php } ?>
	}
	<?php } ?>



	/*arrow options*/
	#module-<?php echo $this->module->id?> .slick-arrow {
	<?php if (isset($this->content->carousel_arrow_background_color) && $this->content->carousel_arrow_background_color) {?>
		background-color: <?php echo $this->content->carousel_arrow_background_color?>;
	<?php } ?>
	}
	#module-<?php echo $this->module->id?> .slick-arrow:before {
	<?php if (isset($this->content->carousel_arrow_color) && $this->content->carousel_arrow_color) {?>
		color: <?php echo $this->content->carousel_arrow_color?>;
	<?php } ?>
	<?php if (isset($this->content->carousel_arrow_size) && $this->content->carousel_arrow_size) {
	if ($this->content->carousel_arrow_size == preg_replace("/[^0-9.]/", "", $this->content->carousel_arrow_size)) $this->content->carousel_arrow_size .= "px";
	?>
		font-size: <?php echo $this->content->carousel_arrow_size?>;
	<?php } ?>
	<?php if (isset($this->content->carousel_arrow_padding) && $this->content->carousel_arrow_padding) {
if ($this->content->carousel_arrow_padding == preg_replace("/[^0-9.]/", "", $this->content->carousel_arrow_padding)) $this->content->carousel_arrow_padding .= "px";
?>
		padding: <?php echo $this->content->carousel_arrow_padding?>;
	<?php } ?>

	}
	#module-<?php echo $this->module->id?> .slick-arrow:hover:before {
	<?php if (isset($this->content->carousel_arrow_hover_color) && $this->content->carousel_arrow_hover_color) {?>
		color: <?php echo $this->content->carousel_arrow_hover_color?>;
	<?php } ?>
	}


	/*carousel image options*/
	<?php if (isset($this->settings->carousel_thumbnails) && $this->settings->carousel_thumbnails == 'Enabled') { ?>
	<?php if (isset($this->settings->carousel_thumbnails_top_margin) && $this->settings->carousel_thumbnails_top_margin) {
if ($this->settings->carousel_thumbnails_top_margin == preg_replace("/[^0-9.]/", "", $this->settings->carousel_thumbnails_top_margin)) $this->settings->carousel_thumbnails_top_margin .= "px";
?>
	#module-<?php echo $this->module->id?> .carousel--gallery-thumbs {
		margin-top: <?php echo $this->settings->carousel_thumbnails_top_margin?>;
	}

	<?php } ?>
	<?php if (isset($this->content->carousel_thumbnails_max_image_height) && $this->content->carousel_thumbnails_max_image_height) {
if ($this->content->carousel_thumbnails_max_image_height == preg_replace("/[^0-9.]/", "", $this->content->carousel_thumbnails_max_image_height)) $this->content->carousel_thumbnails_max_image_height .= "px";
?>
	#module-<?php echo $this->module->id?> .carousel--gallery-thumbs img {
		max-height: <?php echo $this->content->carousel_thumbnails_max_image_height?>;
	}

	<?php } ?>

	<?php if (isset($this->content->carousel_thumbnails_max_width) && $this->content->carousel_thumbnails_max_width) {
if ($this->content->carousel_thumbnails_max_width == preg_replace("/[^0-9.]/", "", $this->content->carousel_thumbnails_max_width)) $this->content->carousel_thumbnails_max_width .= "px";
?>
	#module-<?php echo $this->module->id?> .carousel--gallery-thumbs {
		max-width: <?php echo $this->content->carousel_thumbnails_max_width?>;
		margin-left: auto;
		margin-right: auto;
	}

	<?php } ?>

	<?php if (isset($this->settings->carousel_thumbnails_column_margin) && $this->settings->carousel_thumbnails_column_margin) {
if ($this->settings->carousel_thumbnails_column_margin == preg_replace("/[^0-9.]/", "", $this->settings->carousel_thumbnails_column_margin)) $this->settings->carousel_thumbnails_column_margin .= "px";
?>
	#module-<?php echo $this->module->id?> .carousel--gallery-thumbs .carousel__item {
		margin-left: <?php echo $this->settings->carousel_thumbnails_column_margin?>;
		margin-right: <?php echo $this->settings->carousel_thumbnails_column_margin?>;
	}

	<?php } ?>
	<?php } else { ?>

	<?php if (isset($this->content->carousel_max_image_height) && $this->content->carousel_max_image_height) {
if ($this->content->carousel_max_image_height == preg_replace("/[^0-9.]/", "", $this->content->carousel_max_image_height)) $this->content->carousel_max_image_height .= "px";
?>
	#module-<?php echo $this->module->id?> .carousel--gallery img {
		max-height: <?php echo $this->content->carousel_max_image_height?>;
	}

	<?php } ?>

	<?php if (isset($this->content->carousel_max_width) && $this->content->carousel_max_width) {
if ($this->content->carousel_max_width == preg_replace("/[^0-9.]/", "", $this->content->carousel_max_width)) $this->content->carousel_max_width .= "px";
?>
	#module-<?php echo $this->module->id?> .carousel--gallery {
		max-width: <?php echo $this->content->carousel_max_width?>;
		margin-left: auto;
		margin-right: auto;
	}

	<?php } ?>

	<?php if (isset($this->settings->carousel_column_margin) && $this->settings->carousel_column_margin) {
if ($this->settings->carousel_column_margin == preg_replace("/[^0-9.]/", "", $this->settings->carousel_column_margin)) $this->settings->carousel_column_margin .= "px";
?>
	#module-<?php echo $this->module->id?> .carousel--gallery .carousel__item {
		margin-left: <?php echo $this->settings->carousel_column_margin?>;
		margin-right: <?php echo $this->settings->carousel_column_margin?>;
	}

	<?php } ?>

	<?php } ?>


</style>
