<?php
$url_cleaner = new Cny_View_Helper_UrlCleaner();
?>
<div class="thumbnails-v1 <?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<div class="thumbnail-img">
		<?php if (isset($this->content->image_link_url) && $this->content->image_link_url) {?>
			<a href="<?php echo $this->content->image_link_url?>" target="<?php echo $this->content->image_link_target?>">
		<?php } ?>
			<img class="img-responsive <?php echo (isset($this->settings->image_alignment))?$this->settings->image_alignment:''?> <?php echo (isset($this->settings->image_hover_class))?$this->settings->image_hover_class:''?> <?php echo (isset($this->settings->force_full_width) && $this->settings->force_full_width == 'Enabled')?"img-full-width":""?>"
			     src="<?php echo $url_cleaner->image($this->content->image_path)?>"
			     alt="<?php echo (isset($this->content->alt_title))?$this->content->alt_title:''?>" title="<?php echo (isset($this->content->alt_title))?$this->content->alt_title:''?>"
			     <?php echo (isset($this->content->image_width) && $this->content->image_width)?"width='{$this->content->image_width}'":''?>
				 <?php echo (isset($this->content->image_height) && $this->content->image_height)?"height='{$this->content->image_height}'":''?>
				<?php echo (isset($this->settings->image_hover_zoom_status) && $this->settings->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$this->settings->image_hover_zoom_percent.'"':''?>
			>
		<?php if (isset($this->content->image_link_url) && $this->content->image_link_url) {?>
				<span class="sr-only">opens in a new window</span>
			</a>
		<?php } ?>
	</div>
	<div class="caption">
		<?php echo (isset($this->content->caption))?$this->content->caption:''?>
	</div>
</div>


