<?php
$panels = array();

$video_mapper = new Application_Model_Mapper_VideoPlatformVideo();
switch ($this->settings->selection_type) {
	case "category":
		$mapper = new Application_Model_Mapper_VideoPlatformVideoCategory();
		$videos = $mapper->fetchVideosByCategoryId($this->content->category_id,'a-z',24);
		foreach ($videos as $video) {
			$panels[] = (object) array('video_id' => $video->id);
		}
		break;
	case "genre":
		$mapper = new Application_Model_Mapper_VideoPlatformVideoGenre();
		$videos = $mapper->fetchVideosByGenreId($this->content->genre_id,'a-z',24);
		foreach ($videos as $video) {
			$panels[] = (object) array('video_id' => $video->id);
		}
		break;
	case "tag":
		$mapper = new Application_Model_Mapper_VideoPlatformVideoTag();
		$videos = $mapper->fetchVideosByTagId($this->content->tag_id,'a-z',24);
		foreach ($videos as $video) {
			$panels[] = (object) array('video_id' => $video->id);
		}
		break;
	case "video":
	default:
		if (isset($this->content->panels)) {
			foreach ($this->content->panels as $panel) {
				$panels[$panel->sort_order] = $panel;
			}
			ksort($panels);
		}
		break;
}

//get full video data
$videos = [];
foreach ($panels as $panel) {
	$videos[] = $video_mapper->find($panel->video_id);
}

$url_cleaner = new Cny_View_Helper_UrlCleaner();
?>

<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<div class="section">
		<div class="section__title">
			<h2><?php echo $this->content->title?></h2>
			<?php if ($this->content->view_more_text && $this->content->view_more_url) {?>
			<a href="<?php echo $this->content->view_more_url?>" class="view-more">
				<?php echo $this->content->view_more_text?>
				<?php /*<span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-angle-right fa-stack-1x fa-inverse"></i>
				</span> */ ?>
				<i class="fa fa-chevron-circle-right"></i>
			</a>
			<?php } ?>
		</div>

		<?php
		//we have different carousel types
		switch ($this->settings->carousel_type) {
			case "product":
				echo $this->partial('lvp/partials/video_carousel.phtml', array('videos' => $videos, 'content'=>$this->content, 'settings'=>$this->settings));
				break;
			case "grid":
				echo $this->partial('lvp/partials/video_grid.phtml', array('videos' => $videos, 'content'=>$this->content, 'settings'=>$this->settings));
				break;
		}
		?>

	</div>

</div>

<?php
if (isset($this->content->title_font) && $this->content->title_font) {
	//get list of fonts
	$mapper = new Application_Model_Mapper_Font();
	$fonts = $mapper->getActiveFonts();

	$font_families = array();

	if (strtolower($this->content->title_font) != 'default') {
		if ($this->content->title_font && !in_array($this->content->title_font, $font_families)) {
			if (stripos($this->content->title_font, "http://") !== false || stripos($this->content->title_font, "https://") !== false) {
				//old font method
				echo '<link href="'.$this->content->title_font.'" rel="stylesheet">';
			} else {
				$font = $fonts[$this->content->title_font];
				if ($font['url']) {
					echo '<link href="'.$font['url'].'" rel="stylesheet">';
				}
			}
			$font_families[$this->content->title_font] = $fonts[$this->content->title_font]['title'];
		}
	}

}
?>

<style>
	<?php if (isset($this->settings->carousel_prev_arrow_status) && $this->settings->carousel_prev_arrow_status == 'Disabled') {?>
	#module-<?php echo $this->module->id?> .carousel--product-film-offset .slick-prev,
	#module-<?php echo $this->module->id?> .carousel--product-film .slick-prev,
	#module-<?php echo $this->module->id?> .carousel--product-film-offset .slick-next,
	#module-<?php echo $this->module->id?> .carousel--product-film .slick-next {display:none!important;}
	<?php } ?>

	#module-<?php echo $this->module->id?> .view-more {
	<?php if (isset($this->content->view_more_text_color) && $this->content->view_more_text_color) {?>
		color: <?php echo $this->content->view_more_text_color?>;
	<?php } ?>
	<?php if (isset($this->content->view_more_text_size) && $this->content->view_more_text_size) {
		if ($this->content->view_more_text_size == preg_replace("/[^0-9.]/", "", $this->content->view_more_text_size)) $this->content->view_more_text_size .= "px";
		?>
		font-size: <?php echo $this->content->view_more_text_size?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-arrow {
	<?php if (isset($this->content->carousel_arrow_background_color) && $this->content->carousel_arrow_background_color) {?>
		background-color: <?php echo $this->content->carousel_arrow_background_color?>;
	<?php } ?>
	}
	#module-<?php echo $this->module->id?> .slick-arrow:before {
	<?php if (isset($this->content->carousel_arrow_color) && $this->content->carousel_arrow_color) {?>
		color: <?php echo $this->content->carousel_arrow_color?>;
	<?php } ?>
	<?php if (isset($this->content->carousel_arrow_size) && $this->content->carousel_arrow_size) {
	if ($this->content->carousel_arrow_size == preg_replace("/[^0-9.]/", "", $this->content->carousel_arrow_size)) $this->content->carousel_arrow_size .= "px";
	?>
		font-size: <?php echo $this->content->carousel_arrow_size?>;
	<?php } ?>
	<?php if (isset($this->content->carousel_arrow_padding) && $this->content->carousel_arrow_padding) {
if ($this->content->carousel_arrow_padding == preg_replace("/[^0-9.]/", "", $this->content->carousel_arrow_padding)) $this->content->carousel_arrow_padding .= "px";
?>
		padding: 0 <?php echo $this->content->carousel_arrow_padding?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-arrow:hover:before {
	<?php if (isset($this->content->carousel_arrow_hover_color) && $this->content->carousel_arrow_hover_color) {?>
		color: <?php echo $this->content->carousel_arrow_hover_color?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> h2 {
	<?php if (isset($this->content->title_font) && $this->content->title_font && strtolower($this->content->title_font) != 'default') {?>
		font-family: "<?php echo $fonts[$this->content->title_font]['title'];?>";
	<?php } ?>
	<?php echo (isset($this->content->title_weight) && $this->content->title_weight)?"font-weight:{$this->content->title_weight};":""?>
	}

	#module-<?php echo $this->module->id?> .multibuttons {
		padding: 0 10px;
		color: #ffffff;
	}
	#module-<?php echo $this->module->id?> .multibuttons a {
		font-size: .9em;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#module-<?php echo $this->module->id?> .multibuttons .btn {
		width: 100%;
		margin-bottom: 5px;
		text-align: left;
		padding: 4px;
	}
	#module-<?php echo $this->module->id?> .multibuttons .btn:hover {
		opacity: .8;
	}

	<?php if (isset($this->settings->multi_button_title_size) && $this->settings->multi_button_title_size) {
		if ($this->settings->multi_button_title_size == preg_replace("/[^0-9.]/", "", $this->settings->multi_button_title_size)) $this->settings->multi_button_title_size .= "px"; ?>
	#module-<?php echo $this->module->id?> .multibuttons .multibuttons-title  {
		font-size: <?php echo $this->settings->multi_button_title_size?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_button_title_color) && $this->settings->multi_button_title_color) {?>
	#module-<?php echo $this->module->id?> .multibuttons .multibuttons-title  {
		color: <?php echo $this->settings->multi_button_title_color?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_button_text_size) && $this->settings->multi_button_text_size) {
		if ($this->settings->multi_button_text_size == preg_replace("/[^0-9.]/", "", $this->settings->multi_button_text_size)) $this->settings->multi_button_text_size .= "px"; ?>
	#module-<?php echo $this->module->id?> .multibuttons .btn {
		font-size: <?php echo $this->settings->multi_button_text_size?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_button_text_color) && $this->settings->multi_button_text_color) {?>
	#module-<?php echo $this->module->id?> .multibuttons .btn  {
		color: <?php echo $this->settings->multi_button_text_color?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_button_bg_color) && $this->settings->multi_button_bg_color) {?>
	#module-<?php echo $this->module->id?> .multibuttons .btn  {
		background: <?php echo $this->settings->multi_button_bg_color?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_hover_button_bg_color) && $this->settings->multi_hover_button_bg_color) {?>
	#module-<?php echo $this->module->id?> .multibuttons .btn:hover  {
		background: <?php echo $this->settings->multi_hover_button_bg_color?>;
	}
	<?php }  ?>


	#module-<?php echo $this->module->id?> .caption {
	<?php if (isset($this->settings->overlay_padding_lr) && $this->settings->overlay_padding_lr) {?>
		padding-left: <?php echo ($this->settings->overlay_padding_lr == preg_replace("/[^0-9.]/", "", $this->settings->overlay_padding_lr)) ? "{$this->settings->overlay_padding_lr}px" : $this->settings->overlay_padding_lr ?>;
		padding-right: <?php echo ($this->settings->overlay_padding_lr == preg_replace("/[^0-9.]/", "", $this->settings->overlay_padding_lr)) ? "{$this->settings->overlay_padding_lr}px" : $this->settings->overlay_padding_lr ?>;
	<?php } ?>
	<?php if (isset($this->settings->overlay_padding_tb) && $this->settings->overlay_padding_tb) {?>
		padding-top: <?php echo ($this->settings->overlay_padding_tb == preg_replace("/[^0-9.]/", "", $this->settings->overlay_padding_tb)) ? "{$this->settings->overlay_padding_lr}px" : $this->settings->overlay_padding_tb ?>;
		padding-bottom: <?php echo ($this->settings->overlay_padding_tb == preg_replace("/[^0-9.]/", "", $this->settings->overlay_padding_tb)) ? "{$this->settings->overlay_padding_lr}px" : $this->settings->overlay_padding_tb ?>;
	<?php } ?>
	}

	<?php if (isset($this->settings->overlay_background_color) && $this->settings->overlay_background_color) { ?>
	#module-<?php echo $this->module->id?> .caption--overlay {
		background-color: <?php echo $this->settings->overlay_background_color?>;
	}
	<?php } ?>

	#module-<?php echo $this->module->id?> .caption .caption__title {
	<?php if (isset($this->content->caption_title_text_size) && $this->content->caption_title_text_size) {?>
		font-size: <?php echo ($this->content->caption_title_text_size == preg_replace("/[^0-9.]/", "", $this->content->caption_title_text_size)) ? "{$this->content->caption_title_text_size}px" : $this->content->caption_title_text_size ?>;
	<?php } ?>
	<?php if (isset($this->content->caption_title_text_color) && $this->content->caption_title_text_color) {?>
		color: <?php echo $this->content->caption_title_text_color?>;
	<?php } ?>
	<?php if (isset($this->content->caption_title_line_height) && $this->content->caption_title_line_height) {?>
		line-height: <?php echo ($this->content->caption_title_line_height == preg_replace("/[^0-9.]/", "", $this->content->caption_title_line_height)) ? "{$this->content->caption_title_line_height}px" : $this->content->caption_title_line_height ?>;
	<?php } ?>
	}
	#module-<?php echo $this->module->id?> .caption .caption__content {
	<?php if (isset($this->content->caption_text_size) && $this->content->caption_text_size) {?>
		font-size: <?php echo ($this->content->caption_text_size == preg_replace("/[^0-9.]/", "", $this->content->caption_text_size)) ? "{$this->content->caption_text_size}px" : $this->content->caption_text_size ?>;
	<?php } ?>
	<?php if (isset($this->content->caption_text_color) && $this->content->caption_text_color) {?>
		color: <?php echo $this->content->caption_text_color?>;
	<?php } ?>
	<?php if (isset($this->content->caption_text_line_height) && $this->content->caption_text_line_height) {?>
		line-height: <?php echo ($this->content->caption_text_line_height == preg_replace("/[^0-9.]/", "", $this->content->caption_text_line_height)) ? "{$this->content->caption_text_line_height}px" : $this->content->caption_text_line_height ?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .carousel__item {
	<?php
	if (isset($this->content->max_width) && $this->content->max_width) {
			if ($this->content->max_width == preg_replace("/[^0-9,.-]/", "", $this->content->max_width)) $this->content->max_width .= "px";
	?>
		max-width: <?php echo $this->content->max_width?>;
	<?php
		}
    ?>
	}

	<?php if (isset($this->settings->carousel_type) && ($this->settings->carousel_type == 'grid') || $this->settings->carousel_type == 'custom_grid') {?>
	#module-<?php echo $this->module->id?> .grid--product-film {
	<?php if (isset($this->settings->slides_display_mobile) && $this->settings->slides_display_mobile) {?>
		grid-template-columns: repeat(<?php echo $this->settings->slides_display_mobile?>, 1fr);
		grid-auto-flow: dense;
	<?php } ?>
	<?php if (isset($this->settings->grid_column_spacing) && $this->settings->grid_column_spacing) {
		if ($this->settings->grid_column_spacing == preg_replace("/[^0-9,.-]/", "", $this->settings->grid_column_spacing)) $this->settings->grid_column_spacing .= "px";
		?>
		grid-column-gap: <?php echo $this->settings->grid_column_spacing?>;
	<?php } ?>
	<?php if (isset($this->settings->grid_row_spacing) && $this->settings->grid_row_spacing) {
		if ($this->settings->grid_row_spacing == preg_replace("/[^0-9,.-]/", "", $this->settings->grid_row_spacing)) $this->settings->grid_row_spacing .= "px";
		?>
		grid-row-gap: <?php echo $this->settings->grid_row_spacing?>;
	<?php } ?>
	}
	#module-<?php echo $this->module->id?> .grid--product-film.js-grid-wrapper {
	<?php if (isset($this->settings->grid_row_spacing) && $this->settings->grid_row_spacing) {
	if ($this->settings->grid_row_spacing == preg_replace("/[^0-9,.-]/", "", $this->settings->grid_row_spacing)) $this->settings->grid_row_spacing .= "px";
	?>
		margin-top: <?php echo $this->settings->grid_row_spacing?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .grid--product-film .carousel__item img {
	<?php if (isset($this->settings->slides_display_desktop) && $this->settings->slides_display_desktop || isset($this->settings->slides_display_mobile) && $this->settings->slides_display_mobile)   {?>
		object-fit: cover;
	<?php } ?>
	}

	@media (min-width: 1200px) {
		#module-<?php echo $this->module->id?> .grid--product-film {
		<?php if (isset($this->settings->slides_display_desktop) && $this->settings->slides_display_desktop) {?>
			grid-template-columns: repeat(<?php echo $this->settings->slides_display_desktop?>, 1fr);
			grid-auto-flow: dense;
		<?php } ?>
		}

		#module-<?php echo $this->module->id?> .grid--product-film .carousel__item {
		<?php if (isset($this->settings->image_opacity) && $this->settings->image_opacity) {
			if ($this->settings->image_opacity > 1) $this->settings->image_opacity = $this->settings->image_opacity / 100;
			?>
			opacity: <?php echo $this->settings->image_opacity?>;
		<?php } ?>
		}
		#module-<?php echo $this->module->id?> .grid--product-film .carousel__item:hover {
		<?php if (isset($this->settings->image_hover_opacity) && $this->settings->image_hover_opacity) {
			if ($this->settings->image_hover_opacity > 1) $this->settings->image_hover_opacity = $this->settings->image_hover_opacity / 100;
			?>
			opacity: <?php echo $this->settings->image_hover_opacity?>;
		<?php } ?>
		}
	}
	<?php } ?>

	@media (min-width:992px) {
	<?php if (isset($this->settings->carousel_max_container_size) && $this->settings->carousel_max_container_size) {
	if ($this->settings->carousel_max_container_size == preg_replace("/[^0-9,.-]/", "", $this->settings->carousel_max_container_size)) $this->settings->carousel_max_container_size .= "px"; ?>
		#module-<?php echo $this->module->id?> .carousel--product-film-offset .slick-list,
		#module-<?php echo $this->module->id?> .carousel--product-film .slick-list {
			max-width: <?php echo $this->settings->carousel_max_container_size; ?>;
			margin-left: auto;
			margin-right: auto;
		}

	<?php } ?>
	}

</style>
