<?php
use Cocur\Slugify\Slugify;
$slugify = new Slugify();

$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$recaptcha_site_key = $settings_mapper->getValueByCode('recaptcha_site_key');

$panels = array();
if (isset($this->content->form_type) && $this->content->form_type == 'name_email') {
	$panels[] = (object)array('field_type'=>'text','label'=>'Name','field_required'=>'yes');
	$panels[] = (object)array('field_type'=>'email','label'=>'Email','field_required'=>'yes');
}elseif (isset($this->content->form_type) && $this->content->form_type == 'first_last_email') {
	$panels[] = (object)array('field_type'=>'text','label'=>'First Name','field_required'=>'yes');
	$panels[] = (object)array('field_type'=>'text','label'=>'Last Name','field_required'=>'yes');
	$panels[] = (object)array('field_type'=>'email','label'=>'Email','field_required'=>'yes');
}else {
	$panels[] = (object)array('field_type'=>'email','label'=>'Email','field_required'=>'yes');
}
if ($this->content->recaptcha_status == 'Enabled') {
	$panels[] = (object)array('field_type'=>'recaptcha','label'=>'CAPTCHA','field_required'=>'yes');
}

$codes = array();
?>
<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>

	<form method="post" action="" class="form <?php echo (isset($this->content->label_position) && $this->content->label_position == 'inline')?"form-inline":""?>"
	      id="form-<?php echo $this->module->id?>" enctype="multipart/form-data">
		<input type="hidden" name="module_id" value="<?php echo $this->module->id?>">
		<div class="form<?php echo (isset($this->content->form_layout))? ' form--'.$this->content->form_layout:''?><?php echo (isset($this->content->form_alignment))? ' form--'.$this->content->form_alignment:''?>">
			<?php echo (isset($this->content->intro))?$this->content->intro:''?>

			<?php
			foreach ($panels as $panel) {
				$code = $orig_code = $slugify->slugify($panel->label);
				$counter = 1;
				while (in_array($code, $codes)) {
					$code = $orig_code . "_" . $counter;
					$counter++;
				}
				$codes[] = $code;
				switch ($panel->field_type) {
					case "email":
						?>
						<div class="form-group">
							<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label <?php echo (isset($this->content->label_position) && $this->content->label_position == 'above')?"data-position='above'":""?> for="<?php echo $code?>" style="<?php echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>">
									<?php echo $panel->label?></label>
							<?php } ?>
							<input type="email" class="form-control" id="<?php echo $code?>" name="<?php echo $code?>" placeholder="<?php echo (isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:""?>" <?php echo ($panel->field_required == 'yes')?"required":""?>>
						</div>
						<?php
						break;
					case "textarea":
						?>
						<div class="form-group">
							<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label for="<?php echo $code?>" style="<?php echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>">
									<?php echo $panel->label?></label>
							<?php } ?>
							<textarea class="form-control" rows="4" id="<?php echo $code?>" name="<?php echo $code?>" placeholder="<?php echo (isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:""?>" <?php echo ($panel->field_required == 'yes')?"required":""?>></textarea>
						</div>
						<?php
						break;
					case "recaptcha":
						?>
						<div class="form-group">
							<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label for="<?php echo $code?>" style="<?php echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>">
									<?php echo $panel->label?></label>
							<?php } ?>
							<div class="g-recaptcha" data-sitekey="<?php echo ($recaptcha_site_key)?$recaptcha_site_key:$panel->recaptcha_site_key; ?>"></div>
						</div>
						<?php
						break;
					case "region":
						//TODO - make region country specific and show text area if not US/CA
						$states = Zend_Registry::get('regions')->us->region->toArray();
						?>
						<div class="form-group">
							<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label for="<?php echo $code?>" style="<?php echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>">
									<?php echo $panel->label?></label>
							<?php } ?>
							<?php
							$form_field_settings = array('class'=>'form-control', 'placeholder'=>(isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:"");
							if ($panel->field_required == 'yes') {
								$form_field_settings['required'] = 'requierd';
							}
							?>
							<?php echo $this->formSelect($code, null, $form_field_settings, array(""=>"Select State/Region")+$states)?>
						</div>
						<?php
						break;
					case "country":
						$countries = Zend_Registry::get('countries')->toArray();
						?>
						<div class="form-group">
							<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label for="<?php echo $code?>" style="<?php echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>">
									<?php echo $panel->label?></label>
							<?php } ?>
							<?php
							$form_field_settings = array('class'=>'form-control', 'placeholder'=>(isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:"");
							if ($panel->field_required == 'yes') {
								$form_field_settings['required'] = 'requierd';
							}
							?>
							<?php echo $this->formSelect($code, null, $form_field_settings, array(""=>"Select Country")+$countries)?>
						</div>
						<?php
						break;
					case "select":
						$options = array();
						$tmp = explode("\n",$panel->select_options);
						foreach ($tmp as $k => $v) {
							$clean = str_ireplace(array("\n","\r","\r\n"),'', $v);
							$options[$clean] = $clean;
						}
						?>
						<div class="form-group">
							<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label for="<?php echo $code?>" style="<?php echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>">
									<?php echo $panel->label?></label>
							<?php } ?>
							<?php
							$form_field_settings = array('class'=>'form-control', 'placeholder'=>(isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:"");
							if ($panel->field_required == 'yes') {
								$form_field_settings['required'] = 'requierd';
							}
							?>
							<?php echo $this->formSelect($code, null, $form_field_settings, array(""=>"Select One")+$options)?>
						</div>
						<?php
						break;
					case "checkbox":
						$options = array();
						$tmp = explode("\n",$panel->checkbox_options);
						foreach ($tmp as $k => $v) {
							$clean = str_ireplace(array("\n","\r","\r\n"),'', $v);
							$options[$clean] = $clean;
						}
						?>
						<div class="form-group">
							<?php //if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
							<label for="<?php echo $code?>" style="<?php echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>">
								<?php echo $panel->label?></label>
							<?php //} ?>
							<br/>
							<?php
							$form_field_settings = array('class'=>'form-control-checkbox', 'placeholder'=>(isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:"");
							if ($panel->field_required == 'yes') {
								$form_field_settings['required'] = 'requierd';
							}
							?>
							<?php echo $this->formMultiCheckbox($code, null, $form_field_settings, $options)?>
						</div>
						<?php
						break;
					case "radio":
						$options = array();
						$tmp = explode("\n",$panel->radio_options);
						foreach ($tmp as $k => $v) {
							$clean = str_ireplace(array("\n","\r","\r\n"),'', $v);
							$options[$clean] = $clean;
						}
						?>
						<div class="form-group">
							<?php //if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
							<label for="<?php echo $code?>" style="<?php echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>">
								<?php echo $panel->label?></label>
							<?php //} ?>
							<br/>
							<?php
							$form_field_settings = array('class'=>'form-control-radio', 'placeholder'=>(isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:"");
							if ($panel->field_required == 'yes') {
								$form_field_settings['required'] = 'requierd';
							}
							?>
							<?php echo $this->formRadio($code, null, $form_field_settings, $options)?>
						</div>
						<?php
						break;
					case "label":
						?>
						<div class="m-t-10 m-b-10">
							<div class="form-group">
								<?php echo $panel->label?>
							</div>
						</div>
						<?php
						break;
					case "file":
						?>
						<div class="form-group">
							<?php //if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
							<label for="<?php echo $code?>" style="<?php echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>">
								<?php echo $panel->label?></label>
							<?php //} ?>
							<input type="file" class="form-control" id="<?php echo $code?>" name="<?php echo $code?>" placeholder="<?php echo (isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:""?>" <?php echo ($panel->field_required == 'yes')?"required":""?>>
						</div>
						<?php
						break;
					default:
						?>
						<div class="form-group">
							<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label <?php echo (isset($this->content->label_position) && $this->content->label_position == 'above')?"data-position='above'":""?> for="<?php echo $code?>" style="<?php echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>">
									<?php echo $panel->label?></label>
							<?php } ?>
							<input type="text" class="form-control" id="<?php echo $code?>" name="<?php echo $code?>" placeholder="<?php echo (isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:""?>" <?php echo ($panel->field_required == 'yes')?"required":""?>>
						</div>
					<?php
				}
			}
			?>
			<div class="d-flex <?php echo $this->content->submit_button_alignment?>">
				<button type="submit" class="btn btn-default btn--cms-default m-t-0 <?php echo $this->content->submit_button_class?>"
				        style="<?php echo ($this->content->submit_button_color)?"background-color:{$this->content->submit_button_color};":""?>
				        <?php echo ($this->content->submit_button_text_color)?"color:{$this->content->submit_button_text_color};":""?>
				        <?php echo (isset($this->content->submit_button_text_size) && $this->content->submit_button_text_size)?"font-size:{$this->content->submit_button_text_size};":""?>
				        <?php echo (isset($this->content->submit_button_text_weight) && $this->content->submit_button_text_weight)?"font-weight:{$this->content->submit_button_text_weight};":""?>
				        <?php
				        if (isset($this->content->submit_button_padding_tb) && $this->content->submit_button_padding_tb) {
					        echo "padding-top: ";
					        echo (isset($this->content->submit_button_padding_tb) && $this->content->submit_button_padding_tb) ? $this->content->submit_button_padding_tb." " : "inherit ";
					        echo ";";
					        echo "padding-bottom: ";
					        echo (isset($this->content->submit_button_padding_tb) && $this->content->submit_button_padding_tb) ? $this->content->submit_button_padding_tb." " : "inherit ";
					        echo ";";
				        }?>
				        <?php
				        if (isset($this->content->submit_button_padding_lr) && $this->content->submit_button_padding_lr) {
					        echo "padding-left: ";
					        echo (isset($this->content->submit_button_padding_lr) && $this->content->submit_button_padding_lr) ? $this->content->submit_button_padding_lr." " : "inherit ";
					        echo ";";
					        echo "padding-right: ";
					        echo (isset($this->content->submit_button_padding_lr) && $this->content->submit_button_padding_lr) ? $this->content->submit_button_padding_lr." " : "inherit ";
					        echo ";";
				        }?>
						        ">
					<?php echo ($this->content->submit_button_text)?$this->content->submit_button_text:"Submit"?>
				</button>
			</div>
		</div>
	</form>
</div>

<script>
	$(document).ready(function(){
		$("#form-<?php echo $this->module->id?>").validate({
			errorPlacement: function(error, element) {
				if (element.parent().is('label')) {
					error.appendTo(element.parent().parent());
				}else {
					error.appendTo(element.parent());
				}
			}
			,submitHandler: function(form) {
				$("#form-<?php echo $this->module->id?> button[type='submit']").prop("disabled","disabled").html('Submitting <i class="fa fa-spin fa-gear"></i>');

				<?php if (isset($this->content->confirmation_type) && ($this->content->confirmation_type == 'replace_form' || $this->content->confirmation_type == 'select_modal')) { ?>
				$.ajax({
					type: 'post',
					url: '/index/ajax-form-submit',
					dataType: 'json',
					data: new FormData($("#form-<?php echo $this->module->id?>")[0]),
					contentType: false,
					processData: false,
					success: function (data) {
						if (data.confirmation_type == 'replace_form') {
							$('#module-<?php echo $this->module->id?> form').parent().append(data.confirmation_text);
							$('#module-<?php echo $this->module->id?> form').remove();
						} else if (data.confirmation_type == 'select_modal') {
							window.cny.promoPopup(data.confirmation_modal_id, 0, null, "modal-lg");
						}
					}
				});

				return false;
				<?php } ?>

				form.submit();
			}
		});
		var labelContent = $('label[data-position=above]'),
			labelContentHeight = labelContent.height()+5,
			mql = window.matchMedia('(min-width: 992px)');

		function browserWidthChange(mql) {
			if (mql.matches) {
				labelContent.each(function() {
					$(this).css('top', '-'+labelContentHeight+'px');
					$(this).css('position', 'absolute');
					$(this).parent().css('position','relative');
					$(this).parent().parent().find('h2').css('margin-bottom',labelContentHeight+'px');
				});
			} else {
				labelContent.css('top', '0');
				labelContent.css('position', 'relative');
				labelContent.parent().parent().find('h2').css('margin-bottom','10px');
			}
		}

		browserWidthChange(mql);
		mql.addListener(browserWidthChange);



	});
</script>

<style>
	#module-<?php echo $this->module->id?> button {
		color: <?php echo ($this->content->submit_button_text_color)?$this->content->submit_button_text_color:''?>;
		background-color: <?php echo ($this->content->submit_button_color)?$this->content->submit_button_color:''?>;
	<?php if (isset($this->content->submit_button_border_status) && $this->content->submit_button_border_status == 'Enabled') {
		if (isset($this->content->submit_button_border_width) && $this->content->submit_button_border_width) {?>
		border: <?php echo $this->content->submit_button_border_width ?> solid <?php echo (isset($this->content->submit_button_border_color) && $this->content->submit_button_border_color)?$this->content->submit_button_border_color:''?>
	<?php }?>
	<?php } ?>
	<?php if (isset($this->content->submit_button_width) && $this->content->submit_button_width) {
		echo "width: 100%;";
		echo "max-width: ";
		if ($this->content->submit_button_width == preg_replace("/[^0-9.]/", "", $this->content->submit_button_width)) $this->content->submit_button_width .= "px";
		echo $this->content->submit_button_width;
		echo ";";
	}?>
	}
	#module-<?php echo $this->module->id?> button:hover {
		color: <?php echo ($this->content->submit_button_text_hover_color)?$this->content->submit_button_text_hover_color:$this->content->submit_button_text_color?> !important;
		background-color: <?php echo ($this->content->submit_button_hover_color)?$this->content->submit_button_hover_color:$this->content->submit_button_color?> !important;
	<?php if (isset($this->content->submit_button_border_status) && $this->content->submit_button_border_status == 'Enabled') {
		if (isset($this->content->submit_button_border_width) && $this->content->submit_button_border_width) { ?>
		border: <?php echo $this->content->submit_button_border_width ?> solid <?php echo (isset($this->content->submit_button_hover_border_color) && $this->content->submit_button_hover_border_color)?$this->content->submit_button_hover_border_color:$this->content->submit_button_border_color?> !important;
	<?php }?>
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> input[type=checkbox],
	#module-<?php echo $this->module->id?> input[type=radio] {
		margin-right: 10px;
	}

	#module-<?php echo $this->module->id?> form {
		width: 100%;
		max-width: <?php echo $this->content->form_width; ?>;
		margin: 0 auto;
	}
</style>
