<?php
$mapper = new Application_Model_Mapper_Page();
$page = $mapper->find($this->page_id);
?>
<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<div class="col-sm-12">
		<<?php echo $this->content->title_tag?> class="page-title <?php echo (isset($this->content->title_alignment) && $this->content->title_alignment)?$this->content->title_alignment:''?>"><?php echo $page->title?></<?php echo $this->content->title_tag?>>
	</div>
</div>

<style>
	#module-<?php echo $this->module->id?> .page-title {
	<?php if (isset($this->content->title_color) && $this->content->title_color) { ?>
		color: <?php echo (isset($this->content->title_color) && $this->content->title_color)?$this->content->title_color:$this->content->title_color?> !important;
	<?php } ?>
	<?php if (isset($this->content->title_font_weight) && $this->content->title_font_weight) { ?>
		font-weight: <?php echo (isset($this->content->title_font_weight) && $this->content->title_font_weight)?$this->content->title_font_weight:$this->content->title_font_weight?> !important;
	<?php } ?>
	<?php if (isset($this->content->title_line_height) && $this->content->title_line_height) { ?>
		line-height: <?php echo (isset($this->content->title_line_height) && $this->content->title_line_height)?$this->content->title_line_height:$this->content->title_line_height?> !important;
	<?php } ?>
	<?php if (isset($this->content->title_font) && $this->content->title_font && strtolower($this->content->title_font) != 'default') { ?>
		font-family: "<?php echo $fonts[$this->content->title_font]['title'];?>";
	<?php } ?>
	<?php if (isset($this->content->title_size) && $this->content->title_size) {
		if ($this->content->title_size == preg_replace("/[^0-9.]/", "", $this->content->title_size)) $this->content->title_size .= "px";
	?>
		font-size: <?php echo (isset($this->content->title_size) && $this->content->title_size)?$this->content->title_size:$this->content->title_size?> !important;
	<?php } ?>
	}
</style>
