<?php
use Cocur\Slugify\Slugify;
$slugify = new Slugify();

$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$recaptcha_site_key = $settings_mapper->getValueByCode('recaptcha_site_key');

$panels = array();
if (isset($this->content->panels) && $this->content->panels) {
	foreach ($this->content->panels as $panel) {
		if (isset($panel->status) && $panel->status == 'Disabled') continue;

		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

$codes = array();
?>
<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>

	<?php echo (isset($this->content->intro))?$this->content->intro:''?>

	<form method="post" action="/payment-review" class="form <?php echo (isset($this->content->label_position) && $this->content->label_position == 'inline')?"form-inline":""?>"
	      id="form-<?php echo $this->module->id?>">
		<input type="hidden" name="module_id" value="<?php echo $this->module->id?>">
		<?php
		foreach ($panels as $panel) {
			$code = $orig_code = $slugify->slugify($panel->label);
			// "payment" is a reserved code value so replacing
			if ($code == 'payment') {
				$code = $orig_code = 'payment_amount';
			}

			$counter = 1;
			while (in_array($code, $codes)) {
				$code = $orig_code . "_" . $counter;
				$counter++;
			}
			$codes[] = $code;
			switch ($panel->field_type) {
				case "email":
					?>
					<div class="m-b-30">
						<div class="form-group">
							<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label for="<?php echo $code?>"><?php echo $panel->label?></label>
							<?php } ?>
							<input type="email" class="form-control" id="<?php echo $code?>" name="<?php echo $code?>" placeholder="<?php echo (isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:""?>" <?php echo ($panel->field_required == 'yes')?"required":""?>>
						</div>
					</div>
					<?php
					break;
				case "textarea":
					?>
					<div class="m-b-30">
						<div class="form-group">
							<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label for="<?php echo $code?>"><?php echo $panel->label?></label>
							<?php } ?>
							<textarea class="form-control" rows="4" id="<?php echo $code?>" name="<?php echo $code?>" placeholder="<?php echo (isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:""?>" <?php echo ($panel->field_required == 'yes')?"required":""?>></textarea>
						</div>
					</div>
					<?php
					break;
				case "recaptcha":
					//moving to review page
					/*
					?>
					<div class="m-b-30">
						<div class="form-group">
							<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label for="<?php echo $code?>"><?php echo $panel->label?></label>
							<?php } ?>
							<div class="g-recaptcha" data-sitekey="<?php echo ($recaptcha_site_key)?$recaptcha_site_key:$panel->recaptcha_site_key; ?>"></div>
						</div>
					</div>
					<?php
					*/
					break;
				case "region":
					//TODO - make region country specific and show text area if not US/CA
					$states = Zend_Registry::get('regions')->us->region->toArray();
					?>
					<div class="m-b-30">
						<div class="form-group">
							<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label for="<?php echo $code?>"><?php echo $panel->label?></label>
							<?php } ?>
							<?php
							$form_field_settings = array('class'=>'form-control', 'placeholder'=>(isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:"");
							if ($panel->field_required == 'yes') {
								$form_field_settings['required'] = 'requierd';
							}
							?>
							<?php echo $this->formSelect($code, null, $form_field_settings, array(""=>"Select State/Region")+$states)?>
						</div>
					</div>
					<?php
					break;
				case "country":
					$countries = Zend_Registry::get('countries')->toArray();
					?>
					<div class="m-b-30">
						<div class="form-group">
							<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label for="<?php echo $code?>"><?php echo $panel->label?></label>
							<?php } ?>
							<?php
							$form_field_settings = array('class'=>'form-control', 'placeholder'=>(isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:"");
							if ($panel->field_required == 'yes') {
								$form_field_settings['required'] = 'requierd';
							}
							?>
							<?php echo $this->formSelect($code, null, $form_field_settings, array(""=>"Select Country")+$countries)?>
						</div>
					</div>
					<?php
					break;
				case "select":
					$options = array();
					$tmp = explode("\n",$panel->select_options);
					foreach ($tmp as $k => $v) {
						$clean = str_ireplace(array("\n","\r","\r\n"),'', $v);
						$options[$clean] = $clean;
					}
					?>
					<div class="m-b-30">
						<div class="form-group">
							<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label for="<?php echo $code?>"><?php echo $panel->label?></label>
							<?php } ?>
							<?php
							$form_field_settings = array('class'=>'form-control', 'placeholder'=>(isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:"");
							if ($panel->field_required == 'yes') {
								$form_field_settings['required'] = 'requierd';
							}
							?>
							<?php echo $this->formSelect($code, null, $form_field_settings, array(""=>"Select One")+$options)?>
						</div>
					</div>
					<?php
					break;
				case "checkbox":
					$options = array();
					$tmp = explode("\n",$panel->checkbox_options);
					foreach ($tmp as $k => $v) {
						$clean = str_ireplace(array("\n","\r","\r\n"),'', $v);
						$options[$clean] = $clean;
					}
					?>
					<div class="m-b-30">
						<div class="form-group">
							<?php //if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
							<label for="<?php echo $code?>"><?php echo $panel->label?></label>
							<?php //} ?>
							<br/>
							<?php
							$form_field_settings = array('class'=>'form-control-checkbox', 'placeholder'=>(isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:"");
							if ($panel->field_required == 'yes') {
								$form_field_settings['required'] = 'requierd';
							}
							?>
							<?php echo $this->formMultiCheckbox($code, null, $form_field_settings, $options)?>
						</div>
					</div>
					<?php
					break;
				case "radio":
					$options = array();
					$tmp = explode("\n",$panel->radio_options);
					foreach ($tmp as $k => $v) {
						$clean = str_ireplace(array("\n","\r","\r\n"),'', $v);
						$options[$clean] = $clean;
					}
					?>
					<div class="m-b-30">
						<div class="form-group">
							<?php //if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
							<label for="<?php echo $code?>"><?php echo $panel->label?></label>
							<?php //} ?>
							<br/>
							<?php
							$form_field_settings = array('class'=>'form-control-radio', 'placeholder'=>(isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:"");
							if ($panel->field_required == 'yes') {
								$form_field_settings['required'] = 'requierd';
							}
							?>
							<?php echo $this->formRadio($code, null, $form_field_settings, $options)?>
							<?php
							if ($panel->radio_other == 'yes') {
								?>
								<br/>
								<label>
									<input type="radio" name="<?php echo $code?>" id="<?php echo $code?>-other" value="other" class="form-control-radio" placeholder="" required="<?php echo ($panel->field_required == 'yes')?"required":""?>">Other
									<?php if ($panel->is_payment_amount == 'yes') {?>
										<input type="number" min="<?php echo (isset($panel->min_amount) && $panel->min_amount)?preg_replace("/[^0-9.]/", "",$panel->min_amount):0 ?>" name="<?php echo $code?>_other" class="form-control-radio" value="">
										<?php if (isset($panel->min_amount) && $panel->min_amount) {?>
											<br/><small style="font-weight:normal!important;">Minimum amount is $<?php echo preg_replace("/[^0-9.]/", "",$panel->min_amount)?></small>
										<?php } ?>
									<?php }else {?>
										<input type="text" name="<?php echo $code?>_other" class="form-control-radio" value="">
									<?php } ?>
								</label>
								<?php
							}
							?>
						</div>
					</div>
					<?php
					break;
				case "label":
					?>
					<div class="m-t-10 m-b-10">
						<div class="form-group">
							<label style="<?php echo (isset($panel->text_size) && $panel->text_size)?"font-size:{$panel->text_size};":""?>
							<?php echo (isset($panel->text_color) && $panel->text_color)?"color:{$panel->text_color};":""?>">
								<?php echo $panel->label?>
							</label>
						</div>
					</div>
					<?php
					break;
				case "tip":
					if ($panel->tip_percent) {
						?>
						<div class="m-b-30">
							<div class="form-group">
								<label><input type="checkbox" name="<?php echo $code?>" id="<?php echo $code?>" value="Yes" class="form-control-checkbox" placeholder="Tip Percent" <?php echo ($panel->field_required == 'yes')?"required":""?>><?php echo $panel->label?></label>
							</div>
						</div>
						<?php
					}else {
						?>
						<div class="m-b-30">
							<div class="form-group">
								<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
									<label for="<?php echo $code?>"><?php echo $panel->label?></label>
								<?php } ?>
								<input type="text" class="form-control" id="<?php echo $code?>" name="<?php echo $code?>" placeholder="<?php echo (isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:""?>" <?php echo ($panel->field_required == 'yes')?"required":""?>>
							</div>
						</div>
						<?php
					}
					break;
				case "recurring":
					if ($panel->recurring_plan_id) {
						?>
						<div class="m-b-30">
							<div class="form-group">
								<?php //if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label for="<?php echo $code ?>">
									<input type="checkbox" name="<?php echo $code?>" id="<?php echo $code?>" value="Yes" class="form-control-checkbox" placeholder="Recurring" <?php echo ($panel->field_required == 'yes')?"required":""?>>
									<?php echo $panel->label ?></label>
								<?php //} ?>
								<br/>
								<?php
								$form_field_settings = array('class' => 'form-control-radio', 'placeholder' => (isset($this->content->label_position) && $this->content->label_position == 'placeholder') ? $panel->label : "");
								if ($panel->field_required == 'yes') {
									$form_field_settings['required'] = 'requierd';
								}
								?>
							</div>
						</div>
						<?php
					}else {
						$options = array("" => "One Time Only");
						$tmp = explode(",", $panel->recurring_options);
						foreach ($tmp as $k => $v) {
							$options[$v] = $v;
						}
						?>
						<div class="m-b-30">
							<div class="form-group">
								<?php //if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label for="<?php echo $code ?>"><?php echo $panel->label ?></label>
								<?php //} ?>
								<br/>
								<?php
								$form_field_settings = array('class' => 'form-control-radio', 'placeholder' => (isset($this->content->label_position) && $this->content->label_position == 'placeholder') ? $panel->label : "");
								if ($panel->field_required == 'yes') {
									$form_field_settings['required'] = 'requierd';
								}
								?>
								<?php echo $this->formRadio($code, null, $form_field_settings, $options) ?>
							</div>
						</div>
						<?php
					}
					break;
				default:
					?>
					<div class="m-b-30">
						<div class="form-group">
							<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
								<label for="<?php echo $code?>"><?php echo $panel->label?></label>
							<?php } ?>

							<?php if ($panel->is_payment_amount == 'yes') {?>
								<input type="number" min="<?php echo (isset($panel->min_amount) && $panel->min_amount)?preg_replace("/[^0-9.]/", "",$panel->min_amount):0 ?>" class="form-control" id="<?php echo $code?>" name="<?php echo $code?>" placeholder="<?php echo (isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:""?>" <?php echo ($panel->field_required == 'yes')?"required":""?>>
								<?php if (isset($panel->min_amount) && $panel->min_amount) {?>
									<small>Minimum amount is $<?php echo preg_replace("/[^0-9.]/", "",$panel->min_amount)?></small>
								<?php } ?>
							<?php }else {?>
								<input type="text" class="form-control" id="<?php echo $code?>" name="<?php echo $code?>" placeholder="<?php echo (isset($this->content->label_position) && $this->content->label_position == 'placeholder')?$panel->label:""?>" <?php echo ($panel->field_required == 'yes')?"required":""?>>
							<?php } ?>
						</div>
					</div>
				<?php
			}
		}
		?>
		<div>
			<button type="submit" class="btn btn-default btn--cms-default <?php echo $this->content->submit_button_class?>"
			        style="<?php echo ($this->content->submit_button_color)?"background-color:{$this->content->submit_button_color};":""?>
			        <?php echo ($this->content->submit_button_text_color)?"color:{$this->content->submit_button_text_color};":""?>
			        <?php echo (isset($this->content->submit_button_text_size) && $this->content->submit_button_text_size)?"font-size:{$this->content->submit_button_text_size};":""?>
			        <?php echo (isset($this->content->submit_button_text_weight) && $this->content->submit_button_text_weight)?"font-weight:{$this->content->submit_button_text_weight};":""?>
					        ">
				<?php echo ($this->content->submit_button_text)?$this->content->submit_button_text:"Submit"?>
			</button>
		</div>
	</form>
</div>

<script>
	$(document).ready(function(){
		$("#form-<?php echo $this->module->id?>").validate({
			errorPlacement: function(error, element) {
				if (element.parent().is('label')) {
					error.appendTo(element.parent().parent());
				}else {
					error.appendTo(element.parent());
				}
			}
		});

		<?php /* if (isset($this->content->confirmation_type) && ($this->content->confirmation_type == 'replace_form' || $this->content->confirmation_type == 'select_modal')) { ?>
			$("#module-<?php echo $this->module->id?> form").on('submit', function (e) {
				e.preventDefault();

				$.ajax({
					type: 'post',
					url: '/index/ajax-form-submit',
					dataType: 'json',
					data: $('#module-<?php echo $this->module->id?> form').serialize(),
					success: function (data) {
						if (data.confirmation_type == 'replace_form') {
							$('#module-<?php echo $this->module->id?> form').parent().append(data.confirmation_text);
							$('#module-<?php echo $this->module->id?> form').remove();
						}else if (data.confirmation_type == 'select_modal') {
							window.cny.promoPopup(data.confirmation_modal_id, 0, null, "modal-lg");
						}
					}
				});
			});
		<?php } */ ?>
	});
</script>

<?php
if (isset($this->content->label_font) && $this->content->label_font) {
	if (stripos($this->content->label_font, "http://") !== false || stripos($this->content->label_font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->content->label_font . '" rel="stylesheet">';
	} else {
		if (isset($this->content->label_font) && $this->content->label_font) {
			$font = $fonts[$this->content->label_font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}
}
?>
<style>
	#module-<?php echo $this->module->id?> button {
		color: <?php echo ($this->content->submit_button_text_color)?$this->content->submit_button_text_color:''?>;
		background-color: <?php echo ($this->content->submit_button_color)?$this->content->submit_button_color:''?>;
	<?php if (isset($this->content->submit_button_border_status) && $this->content->submit_button_border_status == 'Enabled') {
		if (isset($this->content->submit_button_border_width) && $this->content->submit_button_border_width) {?>
		border: <?php echo $this->content->submit_button_border_width ?> solid <?php echo (isset($this->content->submit_button_border_color) && $this->content->submit_button_border_color)?$this->content->submit_button_border_color:''?>
	<?php }?>
	<?php } ?>
	}
	#module-<?php echo $this->module->id?> button:hover {
		color: <?php echo ($this->content->submit_button_text_hover_color)?$this->content->submit_button_text_hover_color:$this->content->submit_button_text_color?> !important;
		background-color: <?php echo ($this->content->submit_button_hover_color)?$this->content->submit_button_hover_color:$this->content->submit_button_color?> !important;
	<?php if (isset($this->content->submit_button_border_status) && $this->content->submit_button_border_status == 'Enabled') {
		if (isset($this->content->submit_button_border_width) && $this->content->submit_button_border_width) { ?>
		border: <?php echo $this->content->submit_button_border_width ?> solid <?php echo (isset($this->content->submit_button_hover_border_color) && $this->content->submit_button_hover_border_color)?$this->content->submit_button_hover_border_color:$this->content->submit_button_border_color?> !important;
	<?php }?>
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> input[type=checkbox],
	#module-<?php echo $this->module->id?> input[type=radio] {
		margin-right: 10px;
	}

	#module-<?php echo $this->module->id?> label {
	<?php if (isset($this->content->font) && $this->content->label_font && strtolower($this->content->label_font) != 'default') {?>
		font-family: "<?php echo $fonts[$this->content->label_font]['title'];?>";
	<?php } ?>
	<?php echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>
	<?php echo ($this->content->label_size)?"font-size:{$this->content->label_size};":""?>
	}

	#module-<?php echo $this->module->id?> form {
		width: 100%;
		max-width: <?php echo $this->content->form_width; ?>;
		margin: 0 auto;
	}
</style>
