<?php
$panels = array();
if (isset($this->content->panels)) {
	foreach ($this->content->panels as $panel) {
		if (isset($panel->status) && $panel->status == 'Disabled') continue;

		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}
//auto product selection
if (isset($this->settings->product_selection_method) && $this->settings->product_selection_method == 'auto') {
	$limit = (isset($this->settings->slides_total) && $this->settings->slides_total && is_numeric($this->settings->slides_total))?$this->settings->slides_total:null;
	$sort = (isset($this->settings->product_sort_order) && $this->settings->product_sort_order)?$this->settings->product_sort_order:null;

	if (isset($this->content->category_id) && $this->content->category_id) {
		$mapper = new Application_Model_Mapper_ProductCategory();
		$products = $mapper->fetchProductsByCategoryId($this->content->category_id, $sort, $limit);
	}else {
		$mapper = new Application_Model_Mapper_Product();
		$products = $mapper->fetchActive($sort, $limit);
	}

	$product_url_base = (isset($this->settings->product_url_base) && $this->settings->product_url_base)?$this->settings->product_url_base:'product';

	$pi_mapper = new Application_Model_Mapper_ProductImage();
	//profile/attributes
	$profile_mapper  = new Application_Model_Mapper_ProductProfile();
	$attribute_mapper  = new Application_Model_Mapper_ProductAttribute();

	foreach ($products as $product) {
		$primary_image = $pi_mapper->fetchPrimaryByProductId($product->id);

		//profile/attributes
		$profile = $profile_mapper->getProfileByProductId($product->id);

		if ($primary_image){
			$primary_image->thumbnail_src = str_replace("userFiles/uploads", "userThumbs", $primary_image->image_src);
		}

		$panels[] = (object)array(
			'label' => $product->title,
			'link_url' => '/'.$product_url_base.'/'.$product->code,
			'short_description' => $product->summary,
			'wysiwyg_description' => $product->description,
			'image_path' => ($primary_image->thumbnail_src && (!isset($this->settings->image_profile) || $this->settings->image_profile == 'square'))?$primary_image->thumbnail_src:$primary_image->image_src,
			'link_target' => '',
			'price' => $product->price,
			'buy_link_url' => '/cart/add/product_id/'.$product->id,
			'buy_link_target' => '',
			'profile'=> $profile
		);
	}
}

if (!$panels) return '';

$carousel_class = "carousel--product-film-offset carousel--arrow-overlay-on";
if (isset($this->settings->carousel_arrow_offset) && $this->settings->carousel_arrow_offset == 'off') {
	$carousel_class = "carousel--product-film carousel--arrow-overlay-off";
}

$url_cleaner = new Cny_View_Helper_UrlCleaner();


?>

<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<div class="section">
		<div class="section__title">
			<h2><?php echo $this->content->title?></h2>
			<?php if ($this->content->view_more_text && $this->content->view_more_url && (!isset($this->settings->more_less_status)) || (isset($this->settings->more_less_status) && $this->settings->more_less_status == 'Disabled')) {?>

					<?php if ($this->content->view_more_text && $this->content->view_more_url) {
						echo '<a href="<?php echo $this->content->view_more_url?>" class="view-more">';
						echo $this->content->view_more_text;
						echo ' <i class="fa fa-chevron-circle-right"></i>';
						echo '</a>';
					} ?>

			<?php } ?>
		</div>

		<?php
		$img_style = '';
		if (isset($this->content->max_image_height) && $this->content->max_image_height) {
			if ($this->content->max_image_height == preg_replace("/[^0-9,.-]/", "", $this->content->max_image_height)) $this->content->max_image_height .= "px";

			$img_style = "max-height: {$this->content->max_image_height};";
		}

		$img_hover_style = (isset($this->settings->image_hover_class)) ? ' '.$this->settings->image_hover_class : '';

		//deprecating old overlay_status for new multiple caption position options
		$caption_class = '';
		if ((isset($this->settings->overlay_status) && $this->settings->overlay_status == 'Enabled') ||
			(!isset($this->settings->overlay_status) && !isset($this->settings->caption_position)) ||
			(isset($this->settings->caption_position) && $this->settings->caption_position == 'overlay')
		) {
			$caption_class = 'caption--overlay';
			$this->settings->caption_position = 'overlay'; //more for just the transition from the old overlay_status to new caption_position
		}


		//we have different carousel types
		switch ($this->settings->carousel_type) {
			case "collection":
				?>
				<div class="js-carousel carousel <?php echo $carousel_class?> collection"
				     data-infinite_scroll="<?php echo (isset($this->settings->infinite_scroll))?$this->settings->infinite_scroll:'Enabled'?>"
				     data-slides="<?php echo (isset($this->settings->slides_display_desktop))?$this->settings->slides_display_desktop:''?>"
				     data-variable-width="<?php echo (isset($this->settings->carousel_variable_width))?$this->settings->carousel_variable_width:'Enabled'?>"
				     data-controls="<?php echo (isset($this->settings->carousel_prev_arrow_status))?$this->settings->carousel_prev_arrow_status:'Enabled'?>"
				     data-autoplay="<?php echo (isset($this->settings->carousel_autoplay))?$this->settings->carousel_autoplay:'Disabled'?>"
				     data-speed="<?php echo (isset($this->settings->transition_speed))?$this->settings->transition_speed*1000:''?>">
					<?php foreach ($panels as $panel) { ?>
						<div class="carousel__item" <?php echo ( !isset($this->settings->product_link_status) || (isset($this->settings->product_link_status) && $this->settings->product_link_status == 'Enabled') )?'data-href="'.$panel->link_url.'" data-target="'.$panel->link_target.'"':'' ?>>
							<div class="image">
								<img src="<?php echo $panel->image_path?>" class="img-responsive<?php echo $img_hover_style?>" style="<?php echo $img_style?>" <?php echo (isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$panel->image_hover_zoom_percent.'"':''?> alt="<?php echo (isset($panel->image_alt) && $panel->image_alt)?$panel->image_alt:''?>">
							</div>
							<?php if (isset($this->settings->caption_position) && $this->settings->caption_position != 'off') {?>
								<div class="caption <?php echo $caption_class?> <?php echo (isset($this->settings->caption_alignment))?$this->settings->caption_alignment:''?>">
									<h3 class="caption__title"><?php echo $panel->label?></h3>
									<div class="caption__content">

										<?php if (isset($this->settings->product_selection_method) && $this->settings->product_selection_method == 'auto') { ?>
											<?php if (isset($panel->wysiwyg_description) && $panel->wysiwyg_description) {
												echo $panel->wysiwyg_description;
											} else {
												echo '<p>'.$panel->short_description.'</p>';
											} ?>

										<?php } else { ?>

											<?php if (isset($panel->wysiwyg_description_2) && $panel->wysiwyg_description_2) {
												echo $panel->wysiwyg_description_2;
											} else {
												echo '<p>'.$panel->short_description.'</p>';
											} ?>

										<?php } ?>

										<?php if (isset($this->settings->view_details_status) && $this->settings->view_details_status == 'Enabled') {?>
											<a class=view-more href="<?php echo $panel->link_url?>" target="<?php echo $panel->link_target?>"><?php echo (isset($this->content->view_details_text))?$this->content->view_details_text:'View Details'?></a>
										<?php } ?>

										<?php if (isset($this->content->watch_now_status) && $this->content->watch_now_status == 'Enabled') {?>
											<div class="caption__options">
												<a data-toggle="modal" data-target="#modal" data-url="<?php echo $panel->link_url?>" class="btn btn-block btn--gray btn--cms-default btn--trailer modal-trigger hide"> View Trailer</a>
												<a href="<?php echo $panel->link_url?>" class="btn btn-block btn--gray-dark btn--watch-now <?php echo $this->content->watch_now_button_class?> <?php echo $this->content->watch_now_hover_effect?>" tabindex="0">Watch Now</a>
											</div>
										<?php } ?>

										<?php //product attributes
										if (isset($this->settings->attribute_status) && $this->settings->attribute_status == 'Enabled') {
											if (isset($this->settings->product_selection_method) && $this->settings->product_selection_method == 'auto') {
												$profile_id = $this->content->attribute_id;
												foreach ($panel->profile as $profile_attribute => $item) {
													if ($item['visibility'] == 'Hidden') continue;
													$attribute = $attribute_mapper->doesExists(array('code'=>$profile_attribute));
													if ($attribute->id == $profile_id) {
														echo '<div class="caption__byline"><span class="caption__byline--label">'.($this->content->attribute_text?$this->content->attribute_text:$attribute->title). ': </span>' .$item['value']. '</div>';
													}
												}

											} else {
												echo '<div class="caption__byline"><span class="caption__byline--label">'. $this->content->attribute_text . ': </span>' . $this->content->attribute_value.'</div>';
											}
										}
										?>
									</div>
								</div>
							<?php } ?>
						</div>
					<?php } ?>
				</div>
				<?php
				break;
			case "product":
				?>
				<div class="js-carousel carousel <?php echo $carousel_class?>"
				     data-infinite_scroll="<?php echo (isset($this->settings->infinite_scroll))?$this->settings->infinite_scroll:'Enabled'?>"
				     data-slides="<?php echo (isset($this->settings->slides_display_desktop))?$this->settings->slides_display_desktop:''?>"
				     data-variable-width="<?php echo (isset($this->settings->carousel_variable_width))?$this->settings->carousel_variable_width:'Enabled'?>"
				     data-controls="<?php echo (isset($this->settings->carousel_prev_arrow_status))?$this->settings->carousel_prev_arrow_status:'Enabled'?>"
				     data-autoplay="<?php echo (isset($this->settings->carousel_autoplay))?$this->settings->carousel_autoplay:'Enabled'?>"
				     data-speed="<?php echo (isset($this->settings->transition_speed))?$this->settings->transition_speed*1000:''?>">
					<?php foreach ($panels as $panel) { ?>
						<div class="carousel__item" <?php echo ( !isset($this->settings->product_link_status) || (isset($this->settings->product_link_status) && $this->settings->product_link_status == 'Enabled') )?'data-href="'.$panel->link_url.'" data-target="'.$panel->link_target.'"':'' ?>>
							<div class="image">
								<img src="<?php echo $panel->image_path?>" class="img-responsive<?php echo $img_hover_style?>" style="<?php echo $img_style?>" <?php echo (isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$panel->image_hover_zoom_percent.'"':''?> alt="<?php echo (isset($panel->image_alt) && $panel->image_alt) ?>">
							</div>
							<?php if (isset($this->settings->caption_position) && $this->settings->caption_position != 'off') {?>
								<div class="caption <?php echo $caption_class?> <?php echo (isset($this->settings->caption_alignment))?$this->settings->caption_alignment:''?>">
									<h3 class="caption__title"><?php echo $panel->label?></h3>
									<div class="caption__content">

										<?php if (isset($this->settings->product_selection_method) && $this->settings->product_selection_method == 'auto') { ?>
											<?php if (isset($panel->wysiwyg_description) && $panel->wysiwyg_description) {
												echo $panel->wysiwyg_description;
											} else {
												echo '<p>'.$panel->short_description.'</p>';
											} ?>

										<?php } else { ?>

											<?php if (isset($panel->wysiwyg_description_2) && $panel->wysiwyg_description_2) {
												echo $panel->wysiwyg_description_2;
											} else {
												echo '<p>'.$panel->short_description.'</p>';
											} ?>

										<?php } ?>

										<?php if (isset($this->settings->view_details_status) && $this->settings->view_details_status == 'Enabled') {?>
											<a class=view-more href="<?php echo $panel->link_url?>" target="<?php echo $panel->link_target?>"><?php echo (isset($this->content->view_details_text))?$this->content->view_details_text:'View Details'?></a>
										<?php } ?>


										<?php if ($panel->price || $panel->buy_link_url || isset($this->content->watch_now_status) && $this->content->watch_now_status == 'Enabled' ) {?>
											<div class="caption__options">
												<?php if ( !isset($this->settings->product_link_status) || (isset($this->settings->product_link_status) && $this->settings->product_link_status == 'Enabled') ) { ?>
													<?php if ($panel->price || $panel->buy_link_url) {?>
													<div class="price">
														<?php if ($panel->price) {?>
															<span>$<?php echo number_format(preg_replace("/[^0-9.]/","",$panel->price),2)?></span>
														<?php } ?>
														<?php if ($panel->buy_link_url) {?>
															<a href="<?php echo $panel->buy_link_url?>" target="<?php echo $panel->buy_link_target?>" class="btn btn--cms-default">Buy Now</a>
														<?php } ?>
													</div>
												<?php } ?>
												<?php } ?>
												<?php if (isset($this->content->watch_now_status) && $this->content->watch_now_status == 'Enabled' ) {?>
													<a data-toggle="modal" data-target="#modal" data-url="<?php echo $panel->link_url?>" class="btn btn-block btn--gray btn--cms-default btn--trailer modal-trigger hide"> View Trailer</a>
													<a href="<?php echo $panel->link_url?>" class="btn btn-block btn--gray-dark btn--watch-now <?php echo $this->content->watch_now_button_class?> <?php echo $this->content->watch_now_hover_effect?>" tabindex="0">Watch Now</a>
												<?php } ?>
											</div>
										<?php } ?>

										<?php //product attributes
										if (isset($this->settings->attribute_status) && $this->settings->attribute_status == 'Enabled') {
											if (isset($this->settings->product_selection_method) && $this->settings->product_selection_method == 'auto') {
												$profile_id = $this->content->attribute_id;
												foreach ($panel->profile as $profile_attribute => $item) {
													if ($item['visibility'] == 'Hidden') continue;
													$attribute = $attribute_mapper->doesExists(array('code'=>$profile_attribute));
													if ($attribute->id == $profile_id) {
														echo '<div class="caption__byline"><span class="caption__byline--label">'.($this->content->attribute_text?$this->content->attribute_text:$attribute->title). ': </span>' .$item['value']. '</div>';
													}
												}

											} else {
												echo '<div class="caption__byline"><span class="caption__byline--label">'. $this->content->attribute_text . ': </span>' . $this->content->attribute_value.'</div>';
											}
										}
										?>
									</div>
								</div>
							<?php } ?>
						</div>
					<?php } ?>
				</div>
				<?php
				break;
			case "product_cta_image":
				?>
				<div class="js-carousel carousel <?php echo $carousel_class?>"
				     data-infinite_scroll="<?php echo (isset($this->settings->infinite_scroll))?$this->settings->infinite_scroll:'Enabled'?>"
				     data-slides="<?php echo (isset($this->settings->slides_display_desktop))?$this->settings->slides_display_desktop:''?>"
				     data-variable-width="<?php echo (isset($this->settings->carousel_variable_width))?$this->settings->carousel_variable_width:'Enabled'?>"
				     data-controls="<?php echo (isset($this->settings->carousel_prev_arrow_status))?$this->settings->carousel_prev_arrow_status:'Enabled'?>"
				     data-autoplay="<?php echo (isset($this->settings->carousel_autoplay))?$this->settings->carousel_autoplay:'Enabled'?>"
				     data-speed="<?php echo (isset($this->settings->transition_speed))?$this->settings->transition_speed*1000:''?>">
					<?php foreach ($panels as $panel) { ?>
						<div class="carousel__item" <?php echo ( !isset($this->settings->product_link_status) || (isset($this->settings->product_link_status) && $this->settings->product_link_status == 'Enabled') )?'data-href="'.$panel->link_url.'" data-target="'.$panel->link_target.'"':'' ?>>
							<div class="image">
								<img src="<?php echo $panel->image_path?>" class="img-responsive" style="<?php echo $img_style?>" <?php echo (isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$panel->image_hover_zoom_percent.'"':''?> alt="<?php echo (isset($panel->image_alt) && $panel->image_alt) ?>">
							</div>
							<?php if (isset($this->settings->caption_position) && $this->settings->caption_position != 'off') {?>
								<div class="caption <?php echo $caption_class?> <?php echo (isset($this->settings->caption_alignment))?$this->settings->caption_alignment:''?>">
									<h3 class="caption__title"><?php echo $panel->label?></h3>
									<div class="caption__content">

										<?php if (isset($this->settings->product_selection_method) && $this->settings->product_selection_method == 'auto') { ?>
											<?php if (isset($panel->wysiwyg_description) && $panel->wysiwyg_description) {
												echo $panel->wysiwyg_description;
											} else {
												echo '<p>'.$panel->short_description.'</p>';
											} ?>

										<?php } else { ?>

											<?php if (isset($panel->wysiwyg_description_2) && $panel->wysiwyg_description_2) {
												echo $panel->wysiwyg_description_2;
											} else {
												echo '<p>'.$panel->short_description.'</p>';
											} ?>

										<?php } ?>

										<?php if (isset($this->content->image_path) && $this->content->image_path ) { ?>
											<div class="m-b-15">
												<a href="<?php echo $panel->link_url?>" target="<?php echo $panel->link_target?>">
													<img class="img-responsive <?php echo (isset($this->settings->image_alignment))?$this->settings->image_alignment:''?><?php echo $img_hover_style?>"
													     src="<?php echo $url_cleaner->image($this->content->image_path)?>"
													     alt="<?php echo (isset($this->content->alt_title))?$this->content->alt_title:''?>" title="<?php echo (isset($this->content->alt_title))?$this->content->alt_title:''?>"
														<?php echo (isset($this->content->image_width) && $this->content->image_width)?"width='{$this->content->image_width}'":''?>
														<?php echo (isset($this->content->image_height) && $this->content->image_height)?"height='{$this->content->image_height}'":''?>
													>
												</a>
											</div>
										<?php } else { ?>
											<?php if (isset($this->settings->view_details_status) && $this->settings->view_details_status == 'Enabled') {?>
												<a class=view-more href="<?php echo $panel->link_url?>" target="<?php echo $panel->link_target?>"><?php echo (isset($this->content->view_details_text))?$this->content->view_details_text:'View Details'?></a>
											<?php } ?>
										<?php } ?>

										<?php if ($panel->price || $panel->buy_link_url || isset($this->content->watch_now_status) && $this->content->watch_now_status == 'Enabled' ) {?>
											<div class="caption__options">
												<?php if ( !isset($this->settings->product_link_status) || (isset($this->settings->product_link_status) && $this->settings->product_link_status == 'Enabled') ) { ?>
													<?php if ($panel->price || $panel->buy_link_url) {?>
													<div class="price">
														<?php if ($panel->price) {?>
															<span>$<?php echo number_format(preg_replace("/[^0-9.]/","",$panel->price),2)?></span>
														<?php } ?>
														<?php if ($panel->buy_link_url) {?>
															<a href="<?php echo $panel->buy_link_url?>" target="<?php echo $panel->buy_link_target?>" class="btn btn--cms-default">Buy Now</a>
														<?php } ?>
													</div>
												<?php } ?>
												<?php } ?>
												<?php if (isset($this->content->watch_now_status) && $this->content->watch_now_status == 'Enabled' ) {?>
													<a data-toggle="modal" data-target="#modal" data-url="<?php echo $panel->link_url?>" class="btn btn-block btn--gray btn--cms-default btn--trailer modal-trigger hide"> View Trailer</a>
													<a href="<?php echo $panel->link_url?>" class="btn btn-block btn--gray-dark btn--watch-now <?php echo $this->content->watch_now_button_class?> <?php echo $this->content->watch_now_hover_effect?>" tabindex="0">Watch Now</a>
												<?php } ?>
											</div>
										<?php } ?>
										<?php //product attributes
										if (isset($this->settings->attribute_status) && $this->settings->attribute_status == 'Enabled') {
											if (isset($this->settings->product_selection_method) && $this->settings->product_selection_method == 'auto') {
												$profile_id = $this->content->attribute_id;
												foreach ($panel->profile as $profile_attribute => $item) {
													if ($item['visibility'] == 'Hidden') continue;
													$attribute = $attribute_mapper->doesExists(array('code'=>$profile_attribute));
													if ($attribute->id == $profile_id) {
														echo '<div class="caption__byline"><span class="caption__byline--label">'.($this->content->attribute_text?$this->content->attribute_text:$attribute->title). ': </span>' .$item['value']. '</div>';
													}
												}

											} else {
												echo '<div class="caption__byline"><span class="caption__byline--label">'. $this->content->attribute_text . ': </span>' . $this->content->attribute_value.'</div>';
											}
										}
										?>
									</div>
								</div>
							<?php } ?>
						</div>
					<?php } ?>
				</div>
				<?php
				break;
			case "grid":
				?>
				<div class="grid--product-film<?php echo (isset($this->settings->grid_alignment))?' '.$this->settings->grid_alignment:''?>"
				     data-view-more-toggle="<?php echo (isset($this->settings->more_less_status))?$this->settings->more_less_status:'disabled'?>"
				     data-mobile-count="<?php echo (isset($this->settings->slides_display_mobile))?$this->settings->slides_display_mobile:2?>"
				     data-desktop-count="<?php echo (isset($this->settings->slides_display_desktop))?$this->settings->slides_display_desktop:4?>"
				     data-alignment="<?php echo (isset($this->settings->grid_alignment))?$this->settings->grid_alignment:''?>">
					<?php foreach ($panels as $panel) { ?>
						<div class="carousel__item" <?php echo ( !isset($this->settings->product_link_status) || (isset($this->settings->product_link_status) && $this->settings->product_link_status == 'Enabled') )?'data-href="'.$panel->link_url.'" data-target="'.$panel->link_target.'"':'' ?>>
							<div class="grid-image">
								<img src="<?php echo $panel->image_path?>" class="img-responsive<?php echo $img_hover_style?>" style="<?php echo $img_style?>" <?php echo (isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$panel->image_hover_zoom_percent.'"':''?> alt="<?php echo (isset($panel->image_alt) && $panel->image_alt)?$panel->image_alt:''?>">
							</div>
							<?php if (isset($this->settings->caption_position) && $this->settings->caption_position != 'off') {?>
								<div class="caption <?php echo $caption_class?> <?php echo (isset($this->settings->caption_alignment))?$this->settings->caption_alignment:''?>">
									<?php if ($panel->label) { ?>
										<h3 class="caption__title"><?php echo $panel->label?></h3>
									<?php } ?>
									<div class="caption__content">
										<?php if (isset($this->settings->product_selection_method) && $this->settings->product_selection_method == 'auto') { ?>
											<?php if (isset($panel->wysiwyg_description) && $panel->wysiwyg_description) {
												echo $panel->wysiwyg_description;
											} else {
												echo '<p>'.$panel->short_description.'</p>';
											} ?>

										<?php } else { ?>

											<?php if (isset($panel->wysiwyg_description_2) && $panel->wysiwyg_description_2) {
												echo $panel->wysiwyg_description_2;
											} else {
												echo '<p>'.$panel->short_description.'</p>';
											} ?>

										<?php } ?>

										<?php if (isset($this->settings->view_details_status) && $this->settings->view_details_status == 'Enabled') {?>
											<a class=view-more href="<?php echo $panel->link_url?>" target="<?php echo $panel->link_target?>"><?php echo (isset($this->content->view_details_text))?$this->content->view_details_text:'View Details'?></a>
										<?php } ?>

										<?php if ($panel->price || $panel->buy_link_url || isset($this->content->watch_now_status) && $this->content->watch_now_status == 'Enabled' ) {?>
											<div class="caption__options">
												<?php if ( !isset($this->settings->product_link_status) || (isset($this->settings->product_link_status) && $this->settings->product_link_status == 'Enabled') ) { ?>
													<?php if ($panel->price || $panel->buy_link_url) {?>
														<div class="price">
															<?php if ($panel->price) {?>
																<span>$<?php echo number_format(preg_replace("/[^0-9.]/","",$panel->price),2)?></span>
															<?php } ?>
															<?php if ($panel->buy_link_url) {?>
																<a href="<?php echo $panel->buy_link_url?>" target="<?php echo $panel->buy_link_target?>" class="btn btn--cms-default">Buy Now</a>
															<?php } ?>
														</div>
													<?php } ?>
												<?php } ?>

												<?php if (isset($this->content->watch_now_status) && $this->content->watch_now_status == 'Enabled' ) {?>
													<a data-toggle="modal" data-target="#modal" data-url="<?php echo $panel->link_url?>" class="btn btn-block btn--gray btn--cms-default btn--trailer modal-trigger hide"> View Trailer</a>
													<a href="<?php echo $panel->link_url?>" class="btn btn-block btn--gray-dark btn--watch-now <?php echo $this->content->watch_now_button_class?> <?php echo $this->content->watch_now_hover_effect?>" tabindex="0">Watch Now</a>
												<?php } ?>
											</div>
										<?php } ?>
										<?php //product attributes
										if (isset($this->settings->attribute_status) && $this->settings->attribute_status == 'Enabled') {
											if (isset($this->settings->product_selection_method) && $this->settings->product_selection_method == 'auto') {
												$profile_id = $this->content->attribute_id;
												foreach ($panel->profile as $profile_attribute => $item) {
													if ($item['visibility'] == 'Hidden') continue;
													$attribute = $attribute_mapper->doesExists(array('code'=>$profile_attribute));
													if ($attribute->id == $profile_id) {
														echo '<div class="caption__byline"><span class="caption__byline--label">'.($this->content->attribute_text?$this->content->attribute_text:$attribute->title). ': </span>' .$item['value']. '</div>';
													}
												}

											} else {
												echo '<div class="caption__byline"><span class="caption__byline--label">'. $this->content->attribute_text . ': </span>' . $this->content->attribute_value.'</div>';
											}
										}
										?>
									</div>
								</div>
							<?php } ?>
						</div>
					<?php } ?>
				</div>
				<?php
				break;
			case "multibutton_product":
				?>
				<div class="js-carousel carousel <?php echo $carousel_class?>"
				     data-infinite_scroll="<?php echo (isset($this->settings->infinite_scroll))?$this->settings->infinite_scroll:'Enabled'?>"
				     data-slides="<?php echo (isset($this->settings->slides_display_desktop))?$this->settings->slides_display_desktop:''?>"
				     data-variable-width="<?php echo (isset($this->settings->carousel_variable_width))?$this->settings->carousel_variable_width:'Enabled'?>"
				     data-controls="<?php echo (isset($this->settings->carousel_prev_arrow_status))?$this->settings->carousel_prev_arrow_status:'Enabled'?>"
				     data-autoplay="<?php echo (isset($this->settings->carousel_autoplay))?$this->settings->carousel_autoplay:'Enabled'?>"
				     data-speed="<?php echo (isset($this->settings->transition_speed))?$this->settings->transition_speed*1000:''?>">
					<?php foreach ($panels as $panel) { ?>
						<div class="carousel__item" <?php echo ( !isset($this->settings->product_link_status) || (isset($this->settings->product_link_status) && $this->settings->product_link_status == 'Enabled') )?'data-href="'.$panel->link_url.'" data-target="'.$panel->link_target.'"':'' ?>>
							<div class="m-b-10 image">
								<img src="<?php echo $panel->image_path?>" class="img-responsive<?php echo $img_hover_style?>" style="<?php echo $img_style?>" <?php echo (isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$panel->image_hover_zoom_percent.'"':''?> alt="<?php echo (isset($panel->image_alt) && $panel->image_alt)?$panel->image_alt:''?>">
							</div>
							<?php if (isset($this->settings->caption_position) && $this->settings->caption_position != 'off') {?>
								<div class="caption <?php echo $caption_class?>">
									<div class="caption__content <?php echo (isset($this->settings->caption_alignment))?$this->settings->caption_alignment:''?>">
										<div class="multibuttons">
											<div class="<?php echo (isset($this->settings->multi_button_alignment))?' '.$this->settings->multi_button_alignment:''?>">
												<?php for ($i=1; $i<=6; $i++) {
													$label = 'multibutton_'.$i.'_label';
													$link_url = 'multibutton_'.$i.'_link_url';
													$link_target = 'multibutton_'.$i.'_link_target';
													$btn_color = 'multibutton_'.$i.'_button_color';
													$text_color = 'multibutton_'.$i.'_text_color';
													if($i == 1 && isset($panel->$label) && $panel->$label && isset($panel->$link_url)) {

														echo (isset($this->settings->multi_button_title) && $this->settings->multi_button_title ) ? '<p class="m-b-10 multibuttons-title">'.$this->settings->multi_button_title.'</p>':'';
													}
													?>

													<?php if (isset($panel->$label) && $panel->$label && isset($panel->$link_url) && $panel->$link_url) {?>
														<a href="<?php echo $panel->$link_url?>" target="<?php echo $panel->$link_target?>" class="btn btn-sm btn--cms-default"
														   style="<?php echo (isset($panel->$text_color) && $panel->$text_color)?"color:{$panel->$text_color};":''?>
														   <?php echo (isset($panel->$btn_color) && $panel->$btn_color)?"background:{$panel->$btn_color};":''?>">
															<span style="<?php echo (isset($panel->$text_color) && $panel->$text_color)?"color:{$panel->$text_color};":''?>"><?php echo $panel->$label?></span>
															<i style="<?php echo (isset($panel->$text_color) && $panel->$text_color)?"color:{$panel->$text_color};":''?>" class="fa fa-chevron-right"></i>
														</a>
													<?php } ?>
												<?php } ?>
											</div>
											<?php if (isset($this->settings->view_details_status) && $this->settings->view_details_status == 'Enabled') {?>
												<a class=view-more href="<?php echo $panel->link_url?>" target="<?php echo $panel->link_target?>"><?php echo (isset($this->content->view_details_text))?$this->content->view_details_text:'View Details'?></a>
											<?php } ?>
										</div>
									</div>
								</div>
							<?php } ?>
						</div>
					<?php } ?>
				</div>
				<?php
				break;
			case "multibutton_grid":
				?>
				<div class="grid--product-film">
					<?php foreach ($panels as $panel) { ?>
						<div class="carousel__item" <?php echo ( !isset($this->settings->product_link_status) || (isset($this->settings->product_link_status) && $this->settings->product_link_status == 'Enabled') )?'data-href="'.$panel->link_url.'" data-target="'.$panel->link_target.'"':'' ?>>
							<div class="grid-image">
								<img src="<?php echo $panel->image_path?>" class="img-responsive<?php echo $img_hover_style?>" style="<?php echo $img_style?>" <?php echo (isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$panel->image_hover_zoom_percent.'"':''?> alt="<?php echo (isset($panel->image_alt) && $panel->image_alt)?$panel->image_alt:''?>">
							</div>
							<?php if (isset($this->settings->caption_position) && $this->settings->caption_position != 'off') {?>
								<div class="caption <?php echo $caption_class?> <?php echo (isset($this->settings->caption_alignment))?$this->settings->caption_alignment:''?>">
									<!--<h3 class="caption__title"><?php echo $panel->label?></h3>-->
									<div class="caption__content">
										<div class="multibuttons">

											<div class="<?php echo (isset($this->settings->multi_button_alignment))?' '.$this->settings->multi_button_alignment:''?>">

												<?php for ($i=1; $i<=6; $i++) {
													$label = 'multibutton_'.$i.'_label';
													$link_url = 'multibutton_'.$i.'_link_url';
													$link_target = 'multibutton_'.$i.'_link_target';
													$btn_color = 'multibutton_'.$i.'_button_color';
													$text_color = 'multibutton_'.$i.'_text_color';
													if($i == 1 && isset($panel->$label) && $panel->$label && isset($panel->$link_url)) {

														echo (isset($this->settings->multi_button_title) && $this->settings->multi_button_title) ? '<p class="m-b-10 multibuttons-title">'.$this->settings->multi_button_title.'</p>':'';
													}
													?>

													<?php if (isset($panel->$label) && $panel->$label && isset($panel->$link_url) && $panel->$link_url) {?>
														<a href="<?php echo $panel->$link_url?>" target="<?php echo $panel->$link_target?>" class="btn btn-sm btn--cms-default"
														   style="<?php echo (isset($panel->$text_color) && $panel->$text_color)?"color:{$panel->$text_color};":''?>
														   <?php echo (isset($panel->$btn_color) && $panel->$btn_color)?"background:{$panel->$btn_color};":''?>">
															<span style="<?php echo (isset($panel->$text_color) && $panel->$text_color)?"color:{$panel->$text_color};":''?>"><?php echo $panel->$label?></span>
															<i style="<?php echo (isset($panel->$text_color) && $panel->$text_color)?"color:{$panel->$text_color};":''?>" class="fa fa-chevron-right"></i>
														</a>
													<?php } ?>
												<?php } ?>
											</div>
											<?php if (isset($this->settings->view_details_status) && $this->settings->view_details_status == 'Enabled') {?>
												<a class=view-more href="<?php echo $panel->link_url?>" target="<?php echo $panel->link_target?>"><?php echo (isset($this->content->view_details_text))?$this->content->view_details_text:'View Details'?></a>
											<?php } ?>
										</div>
									</div>
								</div>
							<?php } ?>
						</div>
					<?php } ?>
				</div>
				<?php
				break;
			case "custom":
				?>
				<div class="js-carousel carousel <?php echo $carousel_class?>"
				     data-infinite_scroll="<?php echo (isset($this->settings->infinite_scroll))?$this->settings->infinite_scroll:'Enabled'?>"
				     data-slides="<?php echo (isset($this->settings->slides_display_desktop))?$this->settings->slides_display_desktop:''?>"
				     data-controls="<?php echo (isset($this->settings->carousel_prev_arrow_status))?$this->settings->carousel_prev_arrow_status:'Enabled'?>"
				     data-autoplay="<?php echo (isset($this->settings->carousel_autoplay))?$this->settings->carousel_autoplay:'Enabled'?>"
				     data-speed="<?php echo (isset($this->settings->transition_speed))?$this->settings->transition_speed*1000:''?>">
					<?php foreach ($panels as $panel) { ?>
						<div class="carousel__item" <?php echo ( !isset($this->settings->product_link_status) || (isset($this->settings->product_link_status) && $this->settings->product_link_status == 'Enabled') )?'data-href="'.$panel->link_url.'" data-target="'.$panel->link_target.'"':'' ?>>
							<div class="image">
								<img src="<?php echo $panel->image_path?>" class="img-responsive<?php echo $img_hover_style?>" style="<?php echo $img_style?>" <?php echo (isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$panel->image_hover_zoom_percent.'"':''?> alt="<?php echo (isset($panel->image_alt) && $panel->image_alt)?$panel->image_alt:''?>">
							</div>
							<?php if (isset($this->settings->caption_position) && $this->settings->caption_position != 'off') {?>
								<div class="caption <?php echo $caption_class?> <?php echo (isset($this->settings->caption_alignment))?$this->settings->caption_alignment:''?>">
									<div class="caption__content">
										<?php echo (isset($panel->wysiwyg_description))?$panel->wysiwyg_description:''?>
										<?php if (isset($this->settings->view_details_status) && $this->settings->view_details_status == 'Enabled') {?>
											<a class=view-more href="<?php echo $panel->link_url?>" target="<?php echo $panel->link_target?>"><?php echo (isset($this->content->view_details_text))?$this->content->view_details_text:'View Details'?></a>
										<?php } ?>
										<?php //product attributes
										if (isset($this->settings->attribute_status) && $this->settings->attribute_status == 'Enabled') {
											if (isset($this->settings->product_selection_method) && $this->settings->product_selection_method == 'auto') {
												$profile_id = $this->content->attribute_id;
												foreach ($panel->profile as $profile_attribute => $item) {
													if ($item['visibility'] == 'Hidden') continue;
													$attribute = $attribute_mapper->doesExists(array('code'=>$profile_attribute));
													if ($attribute->id == $profile_id) {
														echo '<div class="caption__byline"><span class="caption__byline--label">'.($this->content->attribute_text?$this->content->attribute_text:$attribute->title). ': </span>' .$item['value']. '</div>';
													}
												}

											} else {
												echo '<div class="caption__byline"><span class="caption__byline--label">'. $this->content->attribute_text . ': </span>' . $this->content->attribute_value.'</div>';
											}
										}
										?>
									</div>
								</div>
							<?php } ?>
						</div>
					<?php } ?>
				</div>
				<?php
				break;
			case "custom_grid":
				?>
				<div class="grid--product-film">
					<?php foreach ($panels as $panel) { ?>
						<div class="carousel__item" <?php echo ( !isset($this->settings->product_link_status) || (isset($this->settings->product_link_status) && $this->settings->product_link_status == 'Enabled') )?'data-href="'.$panel->link_url.'" data-target="'.$panel->link_target.'"':'' ?>>
							<div class="grid-image">
								<img src="<?php echo $panel->image_path?>" class="img-responsive<?php echo $img_hover_style?>" style="<?php echo $img_style?>" <?php echo (isset($panel->image_hover_zoom_status) && $panel->image_hover_zoom_status == 'on')?'data-hover-zoom-percent="'.$panel->image_hover_zoom_percent.'"':''?> alt="<?php echo (isset($panel->image_alt) && $panel->image_alt)?$panel->image_alt:''?>">
							</div>
							<?php if (isset($this->settings->caption_position) && $this->settings->caption_position != 'off') {?>
								<div class="caption <?php echo $caption_class?> <?php echo (isset($this->settings->caption_alignment))?$this->settings->caption_alignment:''?>">
									<div class="caption__content">
										<?php echo (isset($panel->wysiwyg_description))?$panel->wysiwyg_description:''?>
										<?php if (isset($this->settings->view_details_status) && $this->settings->view_details_status == 'Enabled') {?>
											<a class=view-more href="<?php echo $panel->link_url?>" target="<?php echo $panel->link_target?>"><?php echo (isset($this->content->view_details_text))?$this->content->view_details_text:'View Details'?></a>
										<?php } ?>
										<?php //product attributes
										if (isset($this->settings->attribute_status) && $this->settings->attribute_status == 'Enabled') {
											if (isset($this->settings->product_selection_method) && $this->settings->product_selection_method == 'auto') {
												$profile_id = $this->content->attribute_id;
												foreach ($panel->profile as $profile_attribute => $item) {
													if ($item['visibility'] == 'Hidden') continue;
													$attribute = $attribute_mapper->doesExists(array('code'=>$profile_attribute));
													if ($attribute->id == $profile_id) {
														echo '<div class="caption__byline"><span class="caption__byline--label">'.($this->content->attribute_text?$this->content->attribute_text:$attribute->title). ': </span>' .$item['value']. '</div>';
													}
												}

											} else {
												echo '<div class="caption__byline"><span class="caption__byline--label">'. $this->content->attribute_text . ': </span>' . $this->content->attribute_value.'</div>';
											}
										}
										?>
									</div>
								</div>
							<?php } ?>
						</div>
					<?php } ?>
				</div>
				<?php
				break;
		}
		?>

	</div>

</div>

<?php
if (isset($this->content->title_font) && $this->content->title_font) {
	//get list of fonts
	$mapper = new Application_Model_Mapper_Font();
	$fonts = $mapper->getActiveFonts();

	$font_families = array();

	if (strtolower($this->content->title_font) != 'default') {
		if ($this->content->title_font && !in_array($this->content->title_font, $font_families)) {
			if (stripos($this->content->title_font, "http://") !== false || stripos($this->content->title_font, "https://") !== false) {
				//old font method
				echo '<link href="'.$this->content->title_font.'" rel="stylesheet">';
			} else {
				$font = $fonts[$this->content->title_font];
				if ($font['url']) {
					echo '<link href="'.$font['url'].'" rel="stylesheet">';
				}
			}
			$font_families[$this->content->title_font] = $fonts[$this->content->title_font]['title'];
		}
	}

}
?>

<?php
if (isset($this->content->watch_now_font) && $this->content->watch_now_font) {
	if (stripos($this->content->watch_now_font, "http://") !== false || stripos($this->content->watch_now_font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->content->watch_now_font . '" rel="stylesheet">';
	} else {
		if (isset($this->content->watch_now_font) && $this->content->watch_now_font) {
			$font = $fonts[$this->content->watch_now_font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}
}
?>

<style>
	<?php if (isset($this->settings->carousel_prev_arrow_status) && $this->settings->carousel_prev_arrow_status == 'Disabled') {?>
	#module-<?php echo $this->module->id?> .carousel--product-film-offset .slick-prev,
	#module-<?php echo $this->module->id?> .carousel--product-film .slick-prev,
	#module-<?php echo $this->module->id?> .carousel--product-film-offset .slick-next,
	#module-<?php echo $this->module->id?> .carousel--product-film .slick-next {display:none!important;}
	<?php } ?>

	#module-<?php echo $this->module->id?> .view-more {
	<?php if (isset($this->content->view_more_text_color) && $this->content->view_more_text_color) {?>
		color: <?php echo $this->content->view_more_text_color?>;
	<?php } ?>
	<?php if (isset($this->content->view_more_text_size) && $this->content->view_more_text_size) {
		if ($this->content->view_more_text_size == preg_replace("/[^0-9.]/", "", $this->content->view_more_text_size)) $this->content->view_more_text_size .= "px";
		?>
		font-size: <?php echo $this->content->view_more_text_size?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-arrow {
	<?php if (isset($this->content->carousel_arrow_background_color) && $this->content->carousel_arrow_background_color) {?>
		background-color: <?php echo $this->content->carousel_arrow_background_color?>;
	<?php } ?>
	}
	#module-<?php echo $this->module->id?> .slick-arrow:before {
	<?php if (isset($this->content->carousel_arrow_color) && $this->content->carousel_arrow_color) {?>
		color: <?php echo $this->content->carousel_arrow_color?>;
	<?php } ?>
	<?php if (isset($this->content->carousel_arrow_size) && $this->content->carousel_arrow_size) {
	if ($this->content->carousel_arrow_size == preg_replace("/[^0-9.]/", "", $this->content->carousel_arrow_size)) $this->content->carousel_arrow_size .= "px";
	?>
		font-size: <?php echo $this->content->carousel_arrow_size?>;
	<?php } ?>
	<?php if (isset($this->content->carousel_arrow_padding) && $this->content->carousel_arrow_padding) {
if ($this->content->carousel_arrow_padding == preg_replace("/[^0-9.]/", "", $this->content->carousel_arrow_padding)) $this->content->carousel_arrow_padding .= "px";
?>
		padding: 0 <?php echo $this->content->carousel_arrow_padding?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-arrow:hover:before {
	<?php if (isset($this->content->carousel_arrow_hover_color) && $this->content->carousel_arrow_hover_color) {?>
		color: <?php echo $this->content->carousel_arrow_hover_color?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .section__title h2 {
	<?php if (isset($this->content->title_font) && $this->content->title_font && strtolower($this->content->title_font) != 'default') {?>
		font-family: "<?php echo $fonts[$this->content->title_font]['title'];?>";
	<?php } ?>
	<?php echo (isset($this->content->title_weight) && $this->content->title_weight)?"font-weight:{$this->content->title_weight};":""?>

	<?php if (isset($this->content->title_size) && $this->content->title_size) {
if ($this->content->title_size == preg_replace("/[^0-9.]/", "", $this->content->title_size)) $this->content->title_size .= "px";
?>
		font-size: <?php echo $this->content->title_size?>;
	<?php } ?>

	<?php if (isset($this->content->title_line_height) && $this->content->title_line_height) {
if ($this->content->title_line_height == preg_replace("/[^0-9.]/", "", $this->content->title_line_height)) $this->content->title_line_height .= "px";
?>
		line-height: <?php echo $this->content->title_line_height?>;
	<?php } ?>

	<?php if (isset($this->content->title_bottom_margin) && $this->content->title_bottom_margin) {
if ($this->content->title_bottom_margin == preg_replace("/[^0-9.]/", "", $this->content->title_bottom_margin)) $this->content->title_bottom_margin .= "px";
?>
		margin-bottom: <?php echo $this->content->title_bottom_margin?>;
	<?php } ?>
	<?php if (isset($this->content->title_color) && $this->content->title_color) {?>
		color: <?php echo $this->content->title_color;?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .multibuttons {
		padding: 0 10px;
		color: #ffffff;
	}
	#module-<?php echo $this->module->id?> .multibuttons a {
		font-size: .9em;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#module-<?php echo $this->module->id?> .multibuttons .btn {
		width: 100%;
		margin-bottom: 5px;
		text-align: left;
		padding: 4px;
	}
	#module-<?php echo $this->module->id?> .multibuttons .btn:hover {
		opacity: .8;
	}

	<?php if (isset($this->settings->multi_button_title_size) && $this->settings->multi_button_title_size) {
		if ($this->settings->multi_button_title_size == preg_replace("/[^0-9.]/", "", $this->settings->multi_button_title_size)) $this->settings->multi_button_title_size .= "px"; ?>
	#module-<?php echo $this->module->id?> .multibuttons .multibuttons-title  {
		font-size: <?php echo $this->settings->multi_button_title_size?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_button_title_color) && $this->settings->multi_button_title_color) {?>
	#module-<?php echo $this->module->id?> .multibuttons .multibuttons-title  {
		color: <?php echo $this->settings->multi_button_title_color?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_button_text_size) && $this->settings->multi_button_text_size) {
		if ($this->settings->multi_button_text_size == preg_replace("/[^0-9.]/", "", $this->settings->multi_button_text_size)) $this->settings->multi_button_text_size .= "px"; ?>
	#module-<?php echo $this->module->id?> .multibuttons .btn {
		font-size: <?php echo $this->settings->multi_button_text_size?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_button_text_color) && $this->settings->multi_button_text_color) {?>
	#module-<?php echo $this->module->id?> .multibuttons .btn  {
		color: <?php echo $this->settings->multi_button_text_color?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_button_bg_color) && $this->settings->multi_button_bg_color) {?>
	#module-<?php echo $this->module->id?> .multibuttons .btn  {
		background: <?php echo $this->settings->multi_button_bg_color?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_hover_button_bg_color) && $this->settings->multi_hover_button_bg_color) {?>
	#module-<?php echo $this->module->id?> .multibuttons .btn:hover  {
		background: <?php echo $this->settings->multi_hover_button_bg_color?>;
	}
	<?php }  ?>

	#module-<?php echo $this->module->id?> .caption, #module-<?php echo $this->module->id?> .carousel__item:hover .caption--overlay {
	<?php if (isset($this->settings->overlay_padding_lr) && $this->settings->overlay_padding_lr) {?>
		padding-left: <?php echo ($this->settings->overlay_padding_lr == preg_replace("/[^0-9.]/", "", $this->settings->overlay_padding_lr)) ? "{$this->settings->overlay_padding_lr}px" : $this->settings->overlay_padding_lr ?>;
		padding-right: <?php echo ($this->settings->overlay_padding_lr == preg_replace("/[^0-9.]/", "", $this->settings->overlay_padding_lr)) ? "{$this->settings->overlay_padding_lr}px" : $this->settings->overlay_padding_lr ?>;
	<?php } ?>
	<?php if (isset($this->settings->overlay_padding_tb) && $this->settings->overlay_padding_tb) {?>
		padding-top: <?php echo ($this->settings->overlay_padding_tb == preg_replace("/[^0-9.]/", "", $this->settings->overlay_padding_tb)) ? "{$this->settings->overlay_padding_tb}px" : $this->settings->overlay_padding_tb ?>;
		padding-bottom: <?php echo ($this->settings->overlay_padding_tb == preg_replace("/[^0-9.]/", "", $this->settings->overlay_padding_tb)) ? "{$this->settings->overlay_padding_tb}px" : $this->settings->overlay_padding_tb ?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .caption--overlay {
		padding-top: 10px;
		padding-bottom:10px;
	}

	<?php if (isset($this->settings->overlay_background_color) && $this->settings->overlay_background_color) { ?>
	#module-<?php echo $this->module->id?> .caption--overlay {
		background-color: <?php echo $this->settings->overlay_background_color?>;
	}
	<?php } ?>

	#module-<?php echo $this->module->id?> .caption .caption__title {
	<?php if (isset($this->content->caption_title_text_size) && $this->content->caption_title_text_size) {?>
		font-size: <?php echo ($this->content->caption_title_text_size == preg_replace("/[^0-9.]/", "", $this->content->caption_title_text_size)) ? "{$this->content->caption_title_text_size}px" : $this->content->caption_title_text_size ?>;
	<?php } ?>
	<?php if (isset($this->content->caption_title_text_color) && $this->content->caption_title_text_color) {?>
		color: <?php echo $this->content->caption_title_text_color?>;
	<?php } ?>
	<?php if (isset($this->content->caption_title_line_height) && $this->content->caption_title_line_height) {?>
		line-height: <?php echo ($this->content->caption_title_line_height == preg_replace("/[^0-9.]/", "", $this->content->caption_title_line_height)) ? "{$this->content->caption_title_line_height}px" : $this->content->caption_title_line_height ?>;
	<?php } ?>
	<?php if (isset($this->content->caption_title_weight) && $this->content->caption_title_weight) {?>
		font-weight: <?php echo $this->content->caption_title_weight?>;
	<?php } ?>
	}
	#module-<?php echo $this->module->id?> .caption .caption__content {
	<?php if (isset($this->content->caption_text_size) && $this->content->caption_text_size) {?>
		font-size: <?php echo ($this->content->caption_text_size == preg_replace("/[^0-9.]/", "", $this->content->caption_text_size)) ? "{$this->content->caption_text_size}px" : $this->content->caption_text_size ?>;
	<?php } ?>
	<?php if (isset($this->content->caption_text_color) && $this->content->caption_text_color) {?>
		color: <?php echo $this->content->caption_text_color?>;
	<?php } ?>
	<?php if (isset($this->content->caption_text_line_height) && $this->content->caption_text_line_height) {?>
		line-height: <?php echo ($this->content->caption_text_line_height == preg_replace("/[^0-9.]/", "", $this->content->caption_text_line_height)) ? "{$this->content->caption_text_line_height}px" : $this->content->caption_text_line_height ?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .carousel__item {
	<?php
	if (isset($this->content->max_width) && $this->content->max_width) {
			if ($this->content->max_width == preg_replace("/[^0-9,.-]/", "", $this->content->max_width)) $this->content->max_width .= "px";
	?>
		max-width: <?php echo $this->content->max_width?>;
	<?php
		}
    ?>
	}

	<?php if (isset($this->settings->carousel_type) && ($this->settings->carousel_type == 'grid') || $this->settings->carousel_type == 'custom_grid') {?>
	#module-<?php echo $this->module->id?> .grid--product-film {
	<?php if (isset($this->settings->slides_display_mobile) && $this->settings->slides_display_mobile) {?>
		grid-template-columns: repeat(<?php echo $this->settings->slides_display_mobile?>, 1fr);
		grid-auto-flow: dense;
	<?php } ?>
	<?php if (isset($this->settings->grid_column_spacing) && $this->settings->grid_column_spacing) {
		if ($this->settings->grid_column_spacing == preg_replace("/[^0-9,.-]/", "", $this->settings->grid_column_spacing)) $this->settings->grid_column_spacing .= "px";
		?>
		grid-column-gap: <?php echo $this->settings->grid_column_spacing?>;
	<?php } ?>
	<?php if (isset($this->settings->grid_row_spacing) && $this->settings->grid_row_spacing) {
		if ($this->settings->grid_row_spacing == preg_replace("/[^0-9,.-]/", "", $this->settings->grid_row_spacing)) $this->settings->grid_row_spacing .= "px";
		?>
		grid-row-gap: <?php echo $this->settings->grid_row_spacing?>;
	<?php } ?>

	}


	@media (min-width: 768px) {
		#module-<?php echo $this->module->id?> .grid--product-film .carousel__item {
			height: 100% !important;
			display: flex;
			flex-wrap: wrap;
		}

		#module-<?php echo $this->module->id?> .grid--product-film .grid-image {
			display: flex;
			flex-wrap: wrap;
			align-self: flex-start;
		}

		#module-<?php echo $this->module->id?> .grid--product-film .grid-image {
			display: flex;
			flex-wrap: wrap;
			align-self: flex-start;
		}

		#module-<?php echo $this->module->id?> .grid--product-film.flex-align-center-sm .grid-image {
			align-self: center;
		}

		#module-<?php echo $this->module->id?> .grid--product-film.flex-align-end-sm .grid-image {
			align-self: flex-end;
		}
	}


	#module-<?php echo $this->module->id?> .grid--product-film .carousel__item img {
	<?php if (isset($this->settings->slides_display_desktop) && $this->settings->slides_display_desktop || isset($this->settings->slides_display_mobile) && $this->settings->slides_display_mobile)   {?>
		object-fit: cover;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .grid--product-film+.grid--product-film {
	<?php if (isset($this->settings->grid_row_spacing) && $this->settings->grid_row_spacing) {
	if ($this->settings->grid_row_spacing == preg_replace("/[^0-9,.-]/", "", $this->settings->grid_row_spacing)) $this->settings->grid_row_spacing .= "px";
	?>
		margin-top: <?php echo $this->settings->grid_row_spacing?>;
	<?php } ?>
	}



	@media (min-width: 992px) {
		#module-<?php echo $this->module->id?> .grid--product-film {
		<?php if (isset($this->settings->slides_display_desktop) && $this->settings->slides_display_desktop) {?>
			grid-template-columns: repeat(<?php echo $this->settings->slides_display_desktop?>, 1fr);
			grid-auto-flow: dense;
		<?php } ?>
		}

		#module-<?php echo $this->module->id?> .grid--product-film .carousel__item {
		<?php if (isset($this->settings->image_opacity) && $this->settings->image_opacity) {
			if ($this->settings->image_opacity > 1) $this->settings->image_opacity = $this->settings->image_opacity / 100;
			?>
			opacity: <?php echo $this->settings->image_opacity?>;
		<?php } ?>
		}
		#module-<?php echo $this->module->id?> .grid--product-film .carousel__item:hover {
		<?php if (isset($this->settings->image_hover_opacity) && $this->settings->image_hover_opacity) {
			if ($this->settings->image_hover_opacity > 1) $this->settings->image_hover_opacity = $this->settings->image_hover_opacity / 100;
			?>
			opacity: <?php echo $this->settings->image_hover_opacity?>;
		<?php } ?>
		}
	}
	<?php } ?>

	@media (min-width:992px) {
	<?php if (isset($this->settings->carousel_max_container_size) && $this->settings->carousel_max_container_size) {
	if ($this->settings->carousel_max_container_size == preg_replace("/[^0-9,.-]/", "", $this->settings->carousel_max_container_size)) $this->settings->carousel_max_container_size .= "px"; ?>
		#module-<?php echo $this->module->id?> .carousel--product-film-offset .slick-list,
		#module-<?php echo $this->module->id?> .carousel--product-film .slick-list,
		#module-<?php echo $this->module->id?> .section__title {
			max-width: <?php echo $this->settings->carousel_max_container_size; ?>;
			margin-left: auto;
			margin-right: auto;
		}

	<?php } ?>


	<?php if (isset($this->settings->tray_column_left_spacing) && $this->settings->tray_column_left_spacing) {
if ($this->settings->tray_column_left_spacing == preg_replace("/[^0-9,.-]/", "", $this->settings->tray_column_left_spacing)) $this->settings->tray_column_left_spacing .= "px"; ?>
		#module-<?php echo $this->module->id?> .carousel--product-film-offset .carousel__item,
		#module-<?php echo $this->module->id?> .carousel--product-film .carousel__item {
			margin-left: <?php echo $this->settings->tray_column_left_spacing; ?>;
		}

	<?php } ?>

	<?php if (isset($this->settings->tray_column_right_spacing) && $this->settings->tray_column_right_spacing) {
if ($this->settings->tray_column_right_spacing == preg_replace("/[^0-9,.-]/", "", $this->settings->tray_column_right_spacing)) $this->settings->tray_column_right_spacing .= "px"; ?>
		#module-<?php echo $this->module->id?> .carousel--product-film-offset .carousel__item,
		#module-<?php echo $this->module->id?> .carousel--product-film .carousel__item {
			margin-right: <?php echo $this->settings->tray_column_right_spacing; ?>;
		}

	<?php } ?>
	}

	@media (min-width: 1200px) {
	<?php if (isset($this->settings->carousel_arrow_position) && $this->settings->carousel_arrow_position) {
if ($this->settings->carousel_arrow_position == preg_replace("/[^0-9,.-]/", "", $this->settings->carousel_arrow_position)) $this->settings->carousel_arrow_position .= "px"; ?>
		#module-<?php echo $this->module->id?> .carousel--arrow-overlay-off .slick-prev {
			margin-left: -<?php echo $this->settings->carousel_arrow_position; ?>;
		}
		#module-<?php echo $this->module->id?> .carousel--arrow-overlay-off .slick-next {
			margin-right: -<?php echo $this->settings->carousel_arrow_position; ?>;
		}
	<?php } ?>
	}


	/*button styles*/
	<?php if (isset($this->content->watch_now_button_color) && $this->content->watch_now_button_color) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		background-color: <?php echo $this->content->watch_now_button_color ?>;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_text_color) && $this->content->watch_now_text_color) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		color: <?php echo $this->content->watch_now_text_color ?> !important;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_button_border_color) && isset($this->content->watch_now_button_border_width) && $this->content->watch_now_button_border_color && $this->content->watch_now_button_border_width) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		border: <?php echo $this->content->watch_now_button_border_width ?> solid <?php echo $this->content->watch_now_button_border_color ?>;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_button_padding_tb) && $this->content->watch_now_button_padding_tb) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		padding-top: <?php echo $this->content->watch_now_button_padding_tb ?>;
		padding-bottom: <?php echo $this->content->watch_now_button_padding_tb ?>;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_button_padding_lr) && $this->content->watch_now_button_padding_lr) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		padding-left: <?php echo $this->content->watch_now_button_padding_lr ?>;
		padding-right: <?php echo $this->content->watch_now_button_padding_lr ?>;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_text_size) && $this->content->watch_now_text_size) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		font-size: <?php echo $this->content->watch_now_text_size ?>;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_text_weight) && $this->content->watch_now_text_weight) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		font-weight: <?php echo $this->content->watch_now_text_weight ?>;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_button_border_size) && $this->content->watch_now_button_border_size) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		border-width: <?php echo $this->content->watch_now_button_border_size ?>;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_button_border_color) && $this->content->watch_now_button_border_color) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		border-color: <?php echo $this->content->watch_now_button_border_color  ?>;
	}
	<?php }?>


	#module-<?php echo $this->module->id?> .btn--watch-now:hover {
		color: <?php echo ($this->content->watch_now_text_hover_color)?$this->content->watch_now_text_hover_color:$this->content->watch_now_text_color?> !important;
		background-color: <?php echo ($this->content->watch_now_button_hover_color)?$this->content->watch_now_button_hover_color:$this->content->watch_now_button_color?> !important;
		border-width: <?php echo (isset($this->content->watch_now_button_border_size) && $this->content->watch_now_button_border_size)?$this->content->watch_now_button_border_size:$this->content->watch_now_button_border_size?> !important;
		border-color: <?php echo (isset($this->content->watch_now_button_hover_border_color) && $this->content->watch_now_button_hover_border_color)?$this->content->watch_now_button_hover_border_color:$this->content->watch_now_button_hover_border_color?> !important;
	}
	#module-<?php echo $this->module->id?> .btn--watch-now {
	<?php if (isset($this->content->watch_now_button_width) && $this->content->watch_now_button_width) {
		echo "max-width: ";
		if ($this->content->watch_now_button_width == preg_replace("/[^0-9.]/", "", $this->content->watch_now_button_width)) $this->content->watch_now_button_width .= "px";
		echo $this->content->watch_now_button_width;
		echo ";";
		echo "width:100%;";
	}?>
	<?php echo (isset($this->content->watch_now_font) && $this->content->watch_now_font && strtolower($this->content->watch_now_font) != 'default')?"font-family:\"{$fonts[$this->content->watch_now_font]['title']}\";":""?>
	}

	/*view details styles*/
	#module-<?php echo $this->module->id?> .caption .caption__content > a.view-more {
		display: inline-block;
	<?php echo (isset($this->content->view_details_text_weight) && $this->content->view_details_text_weight)?"font-weight:{$this->content->view_details_text_weight};":""?>

	<?php if (isset($this->content->view_details_text_size) && $this->content->view_details_text_size) {
if ($this->content->view_details_text_size == preg_replace("/[^0-9.]/", "", $this->content->view_details_text_size)) $this->content->view_details_text_size .= "px";
?>
		font-size: <?php echo $this->content->view_details_text_size?>;
	<?php } ?>

	<?php if (isset($this->content->view_details_text_line_height) && $this->content->view_details_text_line_height) {
if ($this->content->view_details_text_line_height == preg_replace("/[^0-9.]/", "", $this->content->view_details_text_line_height)) $this->content->view_details_text_line_height .= "px";
?>
		line-height: <?php echo $this->content->view_details_text_line_height?>;
	<?php } ?>

	<?php if (isset($this->content->view_details_margin) && $this->content->view_details_margin) {
if ($this->content->view_details_margin == preg_replace("/[^0-9.]/", "", $this->content->view_details_margin)) $this->content->view_details_margin .= "px";
?>
		margin-bottom: <?php echo $this->content->view_details_margin?>;
	<?php } ?>
	<?php if (isset($this->content->view_details_text_color) && $this->content->view_details_text_color) {?>
		color: <?php echo $this->content->view_details_text_color;?>;
	<?php } ?>
	}


	/*byline styles*/
	#module-<?php echo $this->module->id?> .caption .caption__content .caption__byline--label {
	<?php if (isset($this->content->attribute_text_size) && $this->content->attribute_text_size) {?>
		font-size: <?php echo ($this->content->attribute_text_size == preg_replace("/[^0-9.]/", "", $this->content->attribute_text_size)) ? "{$this->content->attribute_text_size}px" : $this->content->attribute_text_size ?>;
	<?php } ?>
	<?php if (isset($this->content->attribute_text_color) && $this->content->attribute_text_color) {?>
		color: <?php echo $this->content->attribute_text_color?>;
	<?php } ?>
	<?php if (isset($this->content->attribute_text_line_height) && $this->content->attribute_text_line_height) {?>
		line-height: <?php echo ($this->content->attribute_text_line_height == preg_replace("/[^0-9.]/", "", $this->content->attribute_text_line_height)) ? "{$this->content->attribute_text_line_height}px" : $this->content->attribute_text_line_height ?>;
	<?php } ?>
	<?php if (isset($this->content->attribute_text_weight) && $this->content->attribute_text_weight) {?>
		font-weight: <?php echo $this->content->attribute_text_weight?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .caption .caption__content .caption__byline {
	<?php if (isset($this->content->attribute_value_size) && $this->content->attribute_value_size) {?>
		font-size: <?php echo ($this->content->attribute_value_size == preg_replace("/[^0-9.]/", "", $this->content->attribute_value_size)) ? "{$this->content->attribute_value_size}px" : $this->content->attribute_value_size ?>;
	<?php } ?>
	<?php if (isset($this->content->attribute_value_color) && $this->content->attribute_value_color) {?>
		color: <?php echo $this->content->attribute_value_color?>;
	<?php } ?>
	<?php if (isset($this->content->attribute_value_line_height) && $this->content->attribute_value_line_height) {?>
		line-height: <?php echo ($this->content->attribute_value_line_height == preg_replace("/[^0-9.]/", "", $this->content->attribute_value_line_height)) ? "{$this->content->attribute_value_line_height}px" : $this->content->attribute_value_line_height ?>;
	<?php } ?>
	<?php if (isset($this->content->attribute_value_weight) && $this->content->attribute_value_weight) {?>
		font-weight: <?php echo $this->content->attribute_value_weight?>;
	<?php } ?>
	}

</style>

<script>
	$(function() {
		//TODO this only seems to work properly as an inline script
		$('.js-carousel').each(function() {
			if ($(this).data('variable-width') === 'Enabled') {
				let $img = $(this).find('.image img');
				$img.parent().parent().find('.caption:not(.caption--overlay)').css({'max-width':+$img.width()});
				$img.on('load', function() {
					let $this = $(this);
					$this.parent().parent().find('.caption:not(.caption--overlay)').css({'max-width':+$this.width()});
				});
			}
		});

	});
</script>
