<?php
$item_col = ($this->content->review_limit)?(12/$this->content->review_limit):'';
$truncate = new Cny_View_Helper_StringTruncate();
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$star_maker = new Cny_View_Helper_Stars();

if ($reviews_system = $settings_mapper->getValueByCode('product_reviews_system') == 'logic') { //the LOGIC (Cyber-NY) reviews system
	$mapper = new Application_Model_Mapper_ProductReview();

	$reviews = $mapper->fetchReviewsFeed($this->content->category_id, (isset($this->settings->carousel) && $this->settings->carousel == 'Disabled')?$this->content->review_limit:($this->content->review_limit * 4), $this->content->sort_by);
}

if (isset($this->settings->carousel) && $this->settings->carousel == 'Disabled') {
	?>
	<div id="module-<?php echo $this->module->id ?>" <?php echo $this->config['data_attributes']?>>
		<div class="row equal-height-columns <?php echo $this->config['div_class'] ?>">
			<?php
			foreach ($reviews as $review) {
				?>
				<div class="col-sm-<?php echo $item_col ?> equal-height-column">
					<div class="">
						<div class="pull-left rating">
							<?php echo $star_maker->makeStars($review->rating)?>
						</div>
						<div class="pull-right">
							<?php echo date("F j, Y", strtotime($review->created))?>
						</div>
					</div>
					<div class="p-t-10 clear-both">
						<?php echo $truncate->StringTruncate($review->review, 150) ?>

						<div class="m-t-10">
							<span>- <?php echo $review->name?></span>
						</div>
					</div>
				</div>
				<?php
			}
			?>
		</div>
	</div>
	<?php
}else {
	?>
	<div id="module-<?php echo $this->module->id ?>">
		<div class="js-carousel carousel carousel--blog <?php echo (isset($this->settings->carousel_orientation))?$this->settings->carousel_orientation:''?>"
		     data-slides="<?php echo (isset($this->content->review_limit) && $this->content->review_limit)?$this->content->review_limit:''?>"
		     data-orientation="<?php echo (isset($this->settings->carousel_orientation))?$this->settings->carousel_orientation:''?>"
		     data-speed="<?php echo (isset($this->settings->transition_speed))?$this->settings->transition_speed*1000:''?>"
		     data-pagination="<?php echo (isset($this->settings->pagination_status))?$this->settings->pagination_status:''?>"
		     data-controls="<?php echo (isset($this->settings->controls_status))?$this->settings->controls_status:''?>"
		>
			<?php
			foreach ($reviews as $review) {
				?>
				<div class="carousel__item">
					<div class="carousel__content">
						<div class="carousel__content">
							<div class="carousel__copy p-r-10 p-l-10">
								<div class="">
									<div class="pull-left rating">
										<?php echo $star_maker->makeStars($review->rating)?>
									</div>
									<div class="pull-right">
										<?php echo date("F j, Y", strtotime($review->created))?>
									</div>
								</div>
								<div class="p-t-10 clear-both">
									<?php echo $truncate->StringTruncate($review->review, 150) ?>

									<div class="m-t-10">
										<span>- <?php echo $review->name?></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<?php if (isset($this->settings->carousel_orientation) && $this->settings->carousel_orientation == 'vertical') {?>
						<hr/>
					<?php } ?>
				</div>
				<?php
			} ?>
		</div>
	</div>
<?php } ?>

<style>
	#module-<?php echo $this->module->id ?> hr {
		padding: auto 20px;
	}

	#module-<?php echo $this->module->id ?> .vertical .carousel__item.slick-slide  {
		min-height: 200px;
	}

	#module-<?php echo $this->module->id?> .slick-arrow {
	<?php if (isset($this->content->carousel_arrow_background_color) && $this->content->carousel_arrow_background_color) {?>
		background-color: <?php echo $this->content->carousel_arrow_background_color?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-arrow:before {
	<?php if (isset($this->content->carousel_arrow_color) && $this->content->carousel_arrow_color) {?>
		color: <?php echo $this->content->carousel_arrow_color?>;
	<?php } ?>
	<?php if (isset($this->content->carousel_arrow_size) && $this->content->carousel_arrow_size) {
	if ($this->content->carousel_arrow_size == preg_replace("/[^0-9.]/", "", $this->content->carousel_arrow_size)) $this->content->carousel_arrow_size .= "px";
	?>
		font-size: <?php echo $this->content->carousel_arrow_size?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-arrow:hover:before {
	<?php if (isset($this->content->carousel_arrow_hover_color) && $this->content->carousel_arrow_hover_color) {?>
		color: <?php echo $this->content->carousel_arrow_hover_color?>;
	<?php } ?>
	}


	#module-<?php echo $this->module->id?> .slick-dots li button:before {
	<?php if (isset($this->content->carousel_dot_color) && $this->content->carousel_dot_color) {?>
		color: <?php echo $this->content->carousel_dot_color?>;
	<?php } ?>
	<?php if (isset($this->content->carousel_dot_size) && $this->content->carousel_dot_size) {
	if ($this->content->carousel_dot_size == preg_replace("/[^0-9.]/", "", $this->content->carousel_dot_size)) $this->content->carousel_dot_size .= "px";
	?>
		font-size: <?php echo $this->content->carousel_dot_size?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-dots li.slick-active button:before,   #module-<?php echo $this->module->id?> .slick-dots li.slick-active:hover button:before,
	#module-<?php echo $this->module->id?> .slick-dots li:hover button:before {
	<?php if (isset($this->content->carousel_dot_hover_color) && $this->content->carousel_dot_hover_color) {?>
		color: <?php echo $this->content->carousel_dot_hover_color?>;
	<?php } ?>
	}

	<?php if ($reviews_star_color = $settings_mapper->getValueByCode('product_reviews_star_color')) {?>
	.rating .fa, .rating .fas, .rating .far, .rating .fal {
		color: <?php echo $reviews_star_color?>;
	}
	<?php } ?>

</style>
