<?php
$url_cleaner = new Cny_View_Helper_UrlCleaner();
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();

//list of possible social media services (must match what we have in the Settings -> Social Media section
$services = [
	'facebook' => ['icons' => ['default'=>'fab fa-facebook-f','square'=>'fab fa-facebook-square']],
	'twitter' => ['icons' => ['default'=>'fab fa-twitter','square'=>'fab fa-twitter-square']],
	'instagram' => ['icons' => ['default'=>'fab fa-instagram','square'=>'fab fa-instagram-square']],
	'youtube' => ['icons' => ['default'=>'fab fa-youtube','square'=>'fab fa-youtube-square']],
	'pinterest' => ['icons' => ['default'=>'fab fa-pinterest-p','square'=>'fab fa-pinterest-square']],
	'google_plus' => ['icons' => ['default'=>'fab fa-google-plus-g','square'=>'fab fa-google-plus-square']],
	'linkedin' => ['icons' => ['default'=>'fab fa-linkedin-in','square'=>'fab fa-linkedin']],
	'tumblr' => ['icons' => ['default'=>'fab fa-tumblr','square'=>'fab fa-tumblr-square']],
	'reddit' => ['icons' => ['default'=>'fab fa-reddit-alien','square'=>'fab fa-reddit-square']],
	'email' => ['icons' => ['default'=>'far fa-envelope','square'=>'fas fa-envelope-square']],
];

$panels = array();

if ($this->settings->selection_method == 'manual') {
	if (isset($this->content->panels)) {
		foreach ($this->content->panels as $panel) {
			if (isset($panel->status) && $panel->status == 'Disabled') continue;

			if (array_key_exists($panel->social_media_service, $services)) {
				$panel->icon = $services[$panel->social_media_service]['icons'][$this->settings->icon_style];
			}else {
				$panel->icon = "fa fa-".$panel->icon;
			}

			$panels[$panel->sort_order] = $panel;
		}
		ksort($panels);
	}
}elseif ($this->settings->selection_method == 'auto') {
	foreach ($services as $service_code => $service_settings) {
		if ($settings_mapper->getValueByCode($service_code.'_icon_display') == 'yes') {
			$panels[] = (object)[
				'url' => $settings_mapper->getValueByCode($service_code.'_url'),
				'icon' => $service_settings['icons'][$this->settings->icon_style]
			];
		}
	}
}

if (!$panels) {
	return;
}
?>
<div class="<?php echo $this->config['div_class']?> <?php echo ($this->content->alignment)?$this->content->alignment:''?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>

	<ul class="list-unstyled <?php echo ($this->settings->icon_layout)?$this->settings->icon_layout:""?>">
		<?php foreach ($panels as $panel) {?>
			<li>
				<?php if (isset($panel->url) && $panel->url) {?>
				<a href="<?php echo $panel->url?>" target="_blank">
				<?php } ?>

				<span class="<?php echo $panel->icon?>"></span>

				<?php if (isset($panel->url) && $panel->url) {?>
				</a>
			</li>
			<?php } ?>
		<?php } ?>
	</ul>
</div>
<style>
	#module-<?php echo $this->module->id?> li span {
	<?php if ($this->content->icon_color) {?>
		color: <?php echo ($this->content->icon_color)?$this->content->icon_color:$this->content->icon_color?> !important;
	<?php } ?>
	<?php if (isset($this->content->icon_size) && $this->content->icon_size) {
		  echo "font-size: ";
		  if ($this->content->icon_size == preg_replace("/[^0-9.]/", "", $this->content->icon_size)) $this->content->icon_size .= "px";
		  echo $this->content->icon_size;
		  echo ";";
	  }?>
	<?php
	if ($this->content->icon_padding_tb == preg_replace("/[^0-9.]/", "", $this->content->icon_padding_tb)) $this->content->icon_padding_tb .= "px";
		echo (isset($this->content->icon_padding_tb) && $this->content->icon_padding_tb) ?
			"padding-top:{$this->content->icon_padding_tb}; 
			padding-bottom:{$this->content->icon_padding_tb};" : "";
		if ($this->content->icon_padding_lr == preg_replace("/[^0-9.]/", "", $this->content->icon_padding_lr)) $this->content->icon_padding_lr .= "px";
		echo (isset($this->content->icon_padding_lr) && $this->content->icon_padding_lr) ?
			"padding-left:{$this->content->icon_padding_lr}; 
			padding-right:{$this->content->icon_padding_lr};" : "";
	?>
	}
	#module-<?php echo $this->module->id?> li span:hover {
	<?php if ($this->content->icon_hover_color) {?>
		color: <?php echo ($this->content->icon_hover_color)?$this->content->icon_hover_color:$this->content->icon_color?> !important;
	<?php } ?>
	}
</style>
