<?php
$panels = array();
foreach ($this->content->panels as $panel) {
	if (isset($panel->status) && $panel->status == 'Disabled') continue;

	$panels[$panel->sort_order] = $panel;
}
ksort($panels);
?>

<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<ul class="nav nav-tabs" role="tablist">
	<?php
	foreach ($panels as $panel) {
		$active = ($panel->sort_order == 0) ? "active" : "";
	?>
		<li role="presentation" class="<?php echo $active?>"><a href="#tab-<?php echo $this->module->id?>-<?php echo $panel->sort_order?>" aria-controls="tab-<?php echo $this->module->id?>-<?php echo $panel->sort_order?>" role="tab" data-toggle="tab"><?php echo $panel->label?></a></li>
	<?php
	}
	?>
	</ul>

	<div class="tab-content">
		<?php
		foreach ($panels as $panel) {
			$active = ($panel->sort_order == 0) ? "active" : "";
		?>
			<div role="tabpanel" class="tab-pane <?php echo $active?>" id="tab-<?php echo $this->module->id?>-<?php echo $panel->sort_order?>">
				<?php echo $panel->text?>
			</div>
		<?php
		}
		?>
	</div>
</div>

<?php
if (isset($this->content->tab_font) && $this->content->tab_font) {
	//get list of fonts
	$mapper = new Application_Model_Mapper_Font();
	$fonts = $mapper->getActiveFonts();

	$font_families = array();

	if (strtolower($this->content->tab_font) != 'default') {
		if ($this->content->tab_font && !in_array($this->content->tab_font, $font_families)) {
			if (stripos($this->content->tab_font, "http://") !== false || stripos($this->content->tab_font, "https://") !== false) {
				//old font method
				echo '<link href="'.$this->content->tab_font.'" rel="stylesheet">';
			} else {
				$font = $fonts[$this->content->tab_font];
				if ($font['url']) {
					echo '<link href="'.$font['url'].'" rel="stylesheet">';
				}
			}
			$font_families[$this->content->tab_font] = $fonts[$this->content->tab_font]['title'];
		}
	}

}
?>

<style>
	#module-<?php echo $this->module->id?> .nav-tabs>li>a {
		color: <?php echo (isset($this->content->tab_text_color) && $this->content->tab_text_color)?$this->content->tab_text_color:$this->content->tab_text_color?> !important;
		background-color: <?php echo (isset($this->content->tab_color) && $this->content->tab_color)?$this->content->tab_color:$this->content->tab_color?> !important;
		<?php
		if (isset($this->content->tab_font) && $this->content->tab_font && strtolower($this->content->tab_font) != 'default') {
		?>
		font-family: "<?php echo $fonts[$this->content->tab_font]['title'];?>";
		<?php
		}
		?>
		font-size: <?php echo (isset($this->content->tab_text_size) && $this->content->tab_text_size)?$this->content->tab_text_size:$this->content->tab_text_size?> !important;
		<?php echo (isset($this->content->tab_weight) && $this->content->tab_weight)?"font-weight:{$this->content->tab_weight};":""?>
	}
#module-<?php echo $this->module->id?> .nav-tabs>li>a:hover {
		color: <?php echo (isset($this->content->hover_tab_text_color) && $this->content->hover_tab_text_color)?$this->content->hover_tab_text_color:$this->content->hover_tab_text_color?> !important;
		background-color: <?php echo (isset($this->content->hover_tab_color) && $this->content->hover_tab_color)?$this->content->hover_tab_color:$this->content->hover_tab_color?> !important;
		border-color: <?php echo (isset($this->content->hover_tab_color) && $this->content->hover_tab_color)?$this->content->hover_tab_color:$this->content->hover_tab_color?> !important;
	}
	#module-<?php echo $this->module->id?> .nav-tabs>li.active>a {
		color: <?php echo (isset($this->content->active_tab_text_color) && $this->content->active_tab_text_color)?$this->content->active_tab_text_color:$this->content->active_tab_text_color?> !important;
		background-color: <?php echo (isset($this->content->active_tab_color) && $this->content->active_tab_color)?$this->content->active_tab_color:$this->content->active_tab_color?> !important;
		border-width: <?php echo (isset($this->content->active_tab_border_size) && $this->content->active_tab_border_size)?$this->content->active_tab_border_size:$this->content->active_tab_border_size?> !important;
		border-color: <?php echo (isset($this->content->active_border_color) && $this->content->active_border_color)?$this->content->active_border_color:$this->content->active_border_color?> !important;
		border-bottom-color: transparent !important;
	}
</style>
