<?php
$panels = array();
foreach ($this->content->panels as $panel) {
	if (isset($panel->status) && $panel->status == 'Disabled') continue;

	$panels[$panel->sort_order] = $panel;
}
ksort($panels);

$column_headers = (isset($this->content->column_headers))?(array)$this->content->column_headers:array();
?>

<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>

	<table class="table
		<?php echo (isset($this->content->line_shading_status) && $this->content->line_shading_status == 'Enabled')?"table-striped":""?>
		<?php echo (isset($this->content->border_status) && $this->content->border_status == 'Enabled')?"table-bordered":""?>
	">
		<?php if (!isset($this->content->header_status) || $this->content->header_status == 'Enabled') {?>
		<thead>
		<tr>
			<?php foreach ($column_headers as $k => $value) { ?>
				<th class="<?php echo (isset($this->content->column_header_alignment[$k]))?$this->content->column_header_alignment[$k]:""?>"><?php echo $value?></th>
			<?php } ?>
		</tr>
		</thead>
		<?php } ?>

		<tbody>
		<?php foreach ($panels as $panel) {?>
			<tr>
				<?php
				for($i=1; $i<=count($column_headers); $i++) {
					$key = "column_$i";
					?>
					<td><?php echo $panel->$key?></td>
				<?php } ?>
			</tr>
		<?php } ?>
		</tbody>
	</table>

</div>


<?php
if (isset($this->content->default_font) && $this->content->default_font) {
	//get list of fonts
	$mapper = new Application_Model_Mapper_Font();
	$fonts = $mapper->getActiveFonts();

	$font_families = array();

	if (strtolower($this->content->default_font) != 'default') {
		if ($this->content->default_font && !in_array($this->content->default_font, $font_families)) {
			if (stripos($this->content->default_font, "http://") !== false || stripos($this->content->default_font, "https://") !== false) {
				//old font method
				echo '<link href="'.$this->content->default_font.'" rel="stylesheet">';
			} else {
				$font = $fonts[$this->content->default_font];
				if ($font['url']) {
					echo '<link href="'.$font['url'].'" rel="stylesheet">';
				}
			}
			$font_families[$this->content->default_font] = $fonts[$this->content->default_font]['title'];
		}
	}

}
?>
<style>
	#module-<?php echo $this->module->id ?> th, #module-<?php echo $this->module->id ?> td {
		<?php if (isset($this->content->default_font) && $this->content->default_font && strtolower($this->content->default_font) != 'default') {?>
			font-family: "<?php echo $fonts[$this->content->default_font]['title'];?>";
		<?php } ?>
		<?php if (isset($this->content->text_color) && $this->content->text_color) {?>
			color: <?php echo $this->content->text_color?>;
		<?php } ?>
		<?php if (isset($this->content->text_size) && $this->content->text_size ) {
			if ($this->content->text_size == preg_replace("/[^0-9.]/", "", $this->content->text_size)) $this->content->text_size .= "px";
			?>
			font-size: <?php echo $this->content->text_size?>;
		<?php } ?>
		<?php echo (isset($this->content->text_weight) && $this->content->text_weight)?"font-weight:{$this->content->text_weight};":""?>
		<?php
		if ((isset($this->content->padding_tb) && $this->content->padding_tb) || (isset($this->content->padding_lr) && $this->content->padding_lr)) {
			if ($this->content->padding_tb == preg_replace("/[^0-9.]/", "", $this->content->padding_tb)) $this->content->padding_tb .= "px";
			echo (isset($this->content->padding_tb) && $this->content->padding_tb) ?
				"padding-top:{$this->content->padding_tb}; 
				padding-bottom:{$this->content->padding_tb};" : "";
			if ($this->content->padding_lr == preg_replace("/[^0-9.]/", "", $this->content->padding_lr)) $this->content->padding_lr .= "px";
			echo (isset($this->content->padding_lr) && $this->content->padding_lr) ?
				"padding-left:{$this->content->padding_lr}; 
				padding-right:{$this->content->padding_lr};" : "";
		}?>
	}

	#module-<?php echo $this->module->id ?> thead tr {
		<?php if (isset($this->content->header_background_color) && $this->content->header_background_color) {?>
		background-color: <?php echo $this->content->header_background_color?>;
		<?php } ?>
	}
	#module-<?php echo $this->module->id ?> thead tr th {
		<?php if (isset($this->content->header_text_color) && $this->content->header_text_color) {?>
			color: <?php echo $this->content->header_text_color?>;
		<?php } ?>
		<?php if (isset($this->content->header_bold_status) && $this->content->header_bold_status) {?>
			font-weight: <?php echo ($this->content->header_bold_status == 'Enabled')?"bold":"normal"?>;
		<?php } ?>
		<?php if (isset($this->content->header_italic_status) && $this->content->header_italic_status == 'Enabled') {?>
			font-style: italic;
		<?php } ?>
		<?php if (isset($this->content->header_underline_status) && $this->content->header_underline_status == 'Enabled') {?>
			text-decoration: underline;
		<?php } ?>
	}

	<?php if (isset($this->content->line_shading_status) && $this->content->line_shading_status == 'Enabled') {?>
		#module-<?php echo $this->module->id ?> tbody tr:nth-of-type(odd) {
			<?php if (isset($this->content->line_odd_color) && $this->content->line_odd_color) {?>
				background-color: <?php echo $this->content->line_odd_color?>;
			<?php } ?>
			}
			#module-<?php echo $this->module->id ?> tbody tr:nth-of-type(even) {
			<?php if (isset($this->content->line_even_color) && $this->content->line_even_color) {?>
				background-color: <?php echo $this->content->line_even_color?>;
			<?php } ?>
		}
	<?php } ?>

	<?php if (isset($this->content->border_status) && $this->content->border_status == 'Enabled') {?>
		#module-<?php echo $this->module->id ?>	.table-bordered>tbody>tr>td,
		#module-<?php echo $this->module->id ?> .table-bordered>tbody>tr>th,
		#module-<?php echo $this->module->id ?> .table-bordered>tfoot>tr>td,
		#module-<?php echo $this->module->id ?> .table-bordered>tfoot>tr>th,
		#module-<?php echo $this->module->id ?> .table-bordered>thead>tr>td,
		#module-<?php echo $this->module->id ?> .table-bordered>thead>tr>th {
		<?php if (isset($this->content->border_color) && $this->content->border_color) {?>
			border: <?php echo (isset($this->content->border_width) && $this->content->border_width)?$this->content->border_width:"0"?> solid <?php echo $this->content->border_color?>;
		<?php } ?>
		}
	<?php } ?>
</style>
