<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();

$item_col = ($this->content->post_column_limit)?($this->content->post_column_limit):'';

$feed = new Cny_Model_TwitterFeed();

$truncate = new Cny_View_Helper_StringTruncate();

$panels = $feed->fetchFeed((int)$this->content->post_limit);
//not sure if we should limit on the feed or here. I think maybe here so feed cache is not overly granular
$panels = array_slice($panels,0,$this->content->post_limit);
//get list of fonts
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();
?>

<div id="module-<?php echo $this->module->id ?>" <?php echo $this->config['data_attributes']?>>
	<?php
	//vertical stacked tweets
	if (isset($this->settings->feed_layout) && $this->settings->feed_layout == 'vertical-column') {
		?>
		<div class="tweet tweet--vertical <?php echo $this->config['div_class'] ?>">
			<?php
			$tweets = count($panels);
			$i=0;
			foreach ($panels as $panel) {
				?>
				<div class="tweet__item">
					<div class="tweet__logo">
						<i class="fab fa-twitter"></i>
					</div>
					<div class="tweet__content">
						<h5><?php echo $panel->cny_time_ago?></h5>
						<p><?php echo $panel->cny_description?></p>
						<?php if(++$i === $tweets) { ?>
							<div class="tweet tweet--account m-t-30">
								<a href="https://twitter.com/<?php echo $settings_mapper->getValueByCode('twitter_username')?>" target="_blank" class="twitter-url">twitter.com/<?php echo $settings_mapper->getValueByCode('twitter_username')?></a>
							</div>
						<?php } ?>
					</div>
				</div>
				<?php
			}
			?>
		</div>
	<?php } else {
		if (!isset($this->settings->carousel) || $this->settings->carousel == 'Disabled') {
			//this is a horizontal row without carousel. Flex row seems like it would be good
			?>
			<div class="tweet tweet--horizontal tweet--horizontal-col-<?php echo $item_col ?> <?php echo $this->config['div_class'] ?>">
				<?php
				foreach ($panels as $panel) {
					?>
					<div class="tweet__item">
						<?php if (isset($this->settings->twitter_icon_display) && $this->settings->twitter_icon_display == 'Enabled') { ?>
							<div class="tweet__logo">
								<i class="fab fa-twitter"></i>
							</div>
						<?php } ?>
						<div class="tweet__content">
					<?php if (isset($this->settings->twitter_time) && $this->settings->twitter_time == 'Enabled') { ?>
							<h5><?php echo $panel->cny_time_ago?></h5>
					<?php } ?>
							<p><?php echo $panel->cny_description?></p>
						</div>
					</div>
					<?php
				}
				?>
			</div>
			<div class="tweet tweet--account">
				<a href="https://twitter.com/<?php echo $settings_mapper->getValueByCode('twitter_username')?>" target="_blank" class="twitter-url">twitter.com/<?php echo $settings_mapper->getValueByCode('twitter_username')?></a>
			</div>
			<?php
		}else {
			//horizontal or vertical carousel
			?>
			<div class="js-carousel carousel carousel--blog tweet tweet--carousel <?php echo (isset($this->settings->carousel_orientation))?$this->settings->carousel_orientation:''?>"
			     data-slides="<?php echo (isset($this->settings->slide_count) && $this->settings->slide_count)?$this->settings->slide_count:''?>"
			     data-orientation="<?php echo (isset($this->settings->carousel_orientation))?$this->settings->carousel_orientation:''?>"
			     data-speed="<?php echo (isset($this->settings->transition_speed))?$this->settings->transition_speed*1000:''?>"
			     data-pagination="<?php echo (isset($this->settings->pagination_status))?$this->settings->pagination_status:''?>"
			     data-controls="<?php echo (isset($this->settings->controls_status))?$this->settings->controls_status:''?>"
			     data-autoplay="<?php echo (isset($this->settings->autoplay))?$this->settings->autoplay:'Enabled'?>"
			>
				<?php
				foreach ($panels as $panel) {
					?>
					<div class="carousel__item tweet__item">
						<?php if (isset($this->settings->twitter_icon_display) && $this->settings->twitter_icon_display == 'Enabled') { ?>
							<div class="tweet__logo">
								<i class="fab fa-twitter"></i>
							</div>
						<?php } ?>
						<div class="tweet__content">
							<?php if (isset($this->settings->twitter_time) && $this->settings->twitter_time == 'Enabled') { ?>
								<h5><?php echo $panel->cny_time_ago?></h5>
							<?php } ?>
							<p><?php echo $panel->cny_description?></p>
						</div>
						<?php if (isset($this->settings->carousel_orientation) && $this->settings->carousel_orientation == 'vertical') {?>
							<hr/>
						<?php } ?>
					</div>
					<?php
				} ?>
			</div>
			<div class="tweet tweet--account">
				<a href="https://twitter.com/<?php echo $settings_mapper->getValueByCode('twitter_username')?>" target="_blank" class="twitter-url">twitter.com/<?php echo $settings_mapper->getValueByCode('twitter_username')?></a>
			</div>
		<?php }

	} ?>
</div>
<?php
if (isset($this->content->font) && $this->content->font) {
	if (stripos($this->content->font, "http://") !== false || stripos($this->content->font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->content->font . '" rel="stylesheet">';
	} else {
		if (isset($this->content->font) && $this->content->font) {
			$font = $fonts[$this->content->font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}
}
?>

<style>
	#module-<?php echo $this->module->id ?> hr {
		padding: auto 20px;
	}

	#module-<?php echo $this->module->id ?> .tweet p {
	<?php if (isset($this->content->text_color) && $this->content->text_color) {?>
		color: <?php echo $this->content->text_color?>;
	<?php } ?>
	<?php if (isset($this->content->text_size) && $this->content->text_size) {
	if ($this->content->text_size == preg_replace("/[^0-9.]/", "", $this->content->text_size)) $this->content->text_size .= "px";
	?>
		font-size: <?php echo $this->content->text_size?>;
	<?php } ?>
	<?php if (isset($this->content->text_line_height) && $this->content->text_line_height) {
	if ($this->content->text_line_height == preg_replace("/[^0-9.]/", "", $this->content->text_line_height)) $this->content->text_line_height .= "px";
	?>
		line-height: <?php echo $this->content->text_line_height?>;
	<?php } ?>
	<?php if (isset($this->content->text_font_weight) && $this->content->text_font_weight) {
	?>
		font-weight: <?php echo $this->content->text_font_weight?>;
	<?php } ?>
	<?php if (isset($this->content->font) && $this->content->font && strtolower($this->content->font) != 'default') {?>
		font-family: "<?php echo $fonts[$this->content->font]['title'];?>";
	<?php } ?>
	<?php echo (isset($this->content->text_weight) && $this->content->text_weight)?"font-weight:{$this->content->text_weight};":""?>
	}

	#module-<?php echo $this->module->id ?> .vertical .carousel__item.slick-slide  {
		min-height: 200px;
	}

	#module-<?php echo $this->module->id?> .slick-arrow {
	<?php if (isset($this->content->carousel_arrow_background_color) && $this->content->carousel_arrow_background_color) {?>
		background-color: <?php echo $this->content->carousel_arrow_background_color?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-arrow:before {
	<?php if (isset($this->content->carousel_arrow_color) && $this->content->carousel_arrow_color) {?>
		color: <?php echo $this->content->carousel_arrow_color?>;
	<?php } ?>
	<?php if (isset($this->content->carousel_arrow_size) && $this->content->carousel_arrow_size) {
	if ($this->content->carousel_arrow_size == preg_replace("/[^0-9.]/", "", $this->content->carousel_arrow_size)) $this->content->carousel_arrow_size .= "px";
	?>
		font-size: <?php echo $this->content->carousel_arrow_size?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-arrow:hover:before {
	<?php if (isset($this->content->carousel_arrow_hover_color) && $this->content->carousel_arrow_hover_color) {?>
		color: <?php echo $this->content->carousel_arrow_hover_color?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-dots li button:before {
	<?php if (isset($this->content->carousel_dot_color) && $this->content->carousel_dot_color) {?>
		color: <?php echo $this->content->carousel_dot_color?>;
	<?php } ?>
	<?php if (isset($this->content->carousel_dot_size) && $this->content->carousel_dot_size) {
	if ($this->content->carousel_dot_size == preg_replace("/[^0-9.]/", "", $this->content->carousel_dot_size)) $this->content->carousel_dot_size .= "px";
	?>
		font-size: <?php echo $this->content->carousel_dot_size?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-dots li.slick-active button:before,   #module-<?php echo $this->module->id?> .slick-dots li.slick-active:hover button:before,
	#module-<?php echo $this->module->id?> .slick-dots li:hover button:before {
	<?php if (isset($this->content->carousel_dot_hover_color) && $this->content->carousel_dot_hover_color) {?>
		color: <?php echo $this->content->carousel_dot_hover_color?>;
	<?php } ?>
	}

	<?php if (isset($this->content->blog_feed_column_spacing) && $this->content->blog_feed_column_spacing) {
			if ($this->content->blog_feed_column_spacing == preg_replace("/[^0-9.]/", "", $this->content->blog_feed_column_spacing)) $this->content->blog_feed_column_spacing .= "px"; ?>
	#module-<?php echo $this->module->id?> > .row {
		margin: 0 -<?php echo $this->content->blog_feed_column_spacing?>;
	}

	#module-<?php echo $this->module->id?> > .row > div {
		padding: 0 <?php echo $this->content->blog_feed_column_spacing?>;
	}

	<?php } ?>


	<?php if (isset($this->settings->twitter_icon_display) && $this->settings->twitter_icon_display == 'Enabled') { ?>

		#module-<?php echo $this->module->id?> .tweet__logo i {
			<?php if (isset($this->content->twitter_icon_size) && $this->content->twitter_icon_size) {
			if ($this->content->twitter_icon_size == preg_replace("/[^0-9.]/", "", $this->content->twitter_icon_size)) $this->content->twitter_icon_size .= "px"; ?>
				font-size: <?php echo $this->content->twitter_icon_size?>;
			<?php } ?>

		<?php if (isset($this->content->twitter_icon_line_height) && $this->content->twitter_icon_line_height) {
		if ($this->content->twitter_icon_line_height == preg_replace("/[^0-9.]/", "", $this->content->twitter_icon_line_height)) $this->content->twitter_icon_line_height .= "px"; ?>
			line-height: <?php echo $this->content->twitter_icon_line_height?>;
		<?php } ?>

		<?php if (isset($this->content->twitter_icon_font_weight) && $this->content->twitter_icon_font_weight) { ?>
			font-weight: <?php echo $this->content->twitter_icon_font_weight?>;
		<?php } ?>

		<?php if (isset($this->content->twitter_icon_color) && $this->content->twitter_icon_color) { ?>
			color: <?php echo $this->content->twitter_icon_color?>;
		<?php } ?>

		}

	<?php } ?>


	<?php if (isset($this->settings->twitter_time) && $this->settings->twitter_time == 'Enabled') { ?>

	#module-<?php echo $this->module->id?> .tweet__content h5 {
	<?php if (isset($this->content->twitter_date_size) && $this->content->twitter_date_size) {
	if ($this->content->twitter_date_size == preg_replace("/[^0-9.]/", "", $this->content->twitter_date_size)) $this->content->twitter_date_size .= "px"; ?>
		font-size: <?php echo $this->content->twitter_date_size?>;
	<?php } ?>

	<?php if (isset($this->content->twitter_date_line_height) && $this->content->twitter_date_line_height) {
	if ($this->content->twitter_date_line_height == preg_replace("/[^0-9.]/", "", $this->content->twitter_date_line_height)) $this->content->twitter_date_line_height .= "px"; ?>
		line-height: <?php echo $this->content->twitter_date_line_height?>;
	<?php } ?>

	<?php if (isset($this->content->twitter_date_font_weight) && $this->content->twitter_date_font_weight) { ?>
		font-weight: <?php echo $this->content->twitter_date_font_weight?>;
	<?php } ?>

	<?php if (isset($this->content->twitter_date_color) && $this->content->twitter_date_color) { ?>
		color: <?php echo $this->content->twitter_date_color?>;
	<?php } ?>

	<?php if (isset($this->content->font) && $this->content->font && strtolower($this->content->font) != 'default') {?>
		font-family: "<?php echo $fonts[$this->content->font]['title'];?>";
	<?php } ?>
	<?php echo (isset($this->content->text_weight) && $this->content->text_weight)?"font-weight:{$this->content->text_weight};":""?>

	}

	.tweet--account {
	<?php if (isset($this->content->font) && $this->content->font && strtolower($this->content->font) != 'default') {?>
		font-family: "<?php echo $fonts[$this->content->font]['title'];?>";
	<?php } ?>
	<?php echo (isset($this->content->text_weight) && $this->content->text_weight)?"font-weight:{$this->content->text_weight};":""?>
	}

	<?php } ?>
</style>
