<?php
$panels = array();
if (isset($this->content->panels)) {
	foreach ($this->content->panels as $panel) {
		if (isset($panel->status) && $panel->status == 'Disabled') continue;

		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

$url_cleaner = new Cny_View_Helper_UrlCleaner();
?>
<div id="module-<?php echo $this->module->id?>" class="vert_blinds_slider" <?php echo $this->config['data_attributes']?>>

	<div class="place">
		<ul class="cnMenu" id="cnMenu-<?php echo $this->module->id?>"
		    data-speed="200"
			data-sub_text_display="mouseover"
			data-sub_text_animation="slide"
		    data-sub_text_speed="500"
			data-auto_tart="true"
		>
		<?php
		foreach ($panels as $panel) {
			if (!$panel->image_path) continue;
			?>
			<li class="" style="background-image: url('<?php echo $panel->image_path ?>');">
				<a href="<?php echo ($panel->overlay_url)?$panel->overlay_url:"#"?>" style="
					<?php echo ($panel->overlay_text_color)?"color:{$panel->overlay_text_color};":""?>
					<?php echo ($panel->overlay_background_color)?"background-color:{$panel->overlay_background_color};":""?>
				">
					<strong><?php echo $panel->overlay_title ?></strong>
				</a>
				<?php if ($panel->overlay_text)  {?>
				<div class="sub">
					<?php echo $panel->overlay_text ?>
				</div>
				<?php } ?>
			</li>


			<?php
		} ?>
		</ul>
	</div>

</div>
