<?php
$panels = array();
if (isset($this->content->panels)) {
	foreach ($this->content->panels as $panel) {
		if (isset($panel->status) && $panel->status == 'Disabled') continue;

		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

$url_cleaner = new Cny_View_Helper_UrlCleaner();
$vp = new Cny_Model_VideoParser();
?>

<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<div class="js-carousel carousel carousel--video-offset"
	     data-slides="<?php echo (isset($this->settings->slides))?$this->settings->slides:''?>"
	     data-infinite_scroll="<?php echo (isset($this->settings->infinite_scroll))?$this->settings->infinite_scroll:'Enabled'?>">
		<?php foreach ($panels as $panel) { ?>
			<?php if (isset($this->settings->video_modal_status) && $this->settings->video_modal_status == 'Disabled') {?>
				<div class="carousel__item">
					<div align="center" class="embed-responsive embed-responsive-16by9">
						<?php if ($video_url = $vp->getEmbedUrl($panel->video_url)) { ?>
							<iframe width="100%" frameborder="0" src="<?php echo $video_url?>" allowfullscreen></iframe>
						<?php }else {?>
							<video src="<?php echo $panel->video_url?>" controls></video>
						<?php } ?>
					</div>
					<div class="caption caption--overlay">
						<h3 class="caption__title"><?php echo $panel->caption?></h3>
					</div>
				</div>
			<?php }else {?>
				<div class="carousel__item js-video-modal-trigger" data-video_url="<?php echo $panel->video_url?>">
					<img class="img-responsive" src="<?php echo $url_cleaner->image($panel->image_path)?>" alt="<?php echo htmlentities($panel->label)?>">
					<div class="caption caption--overlay">
						<h3 class="caption__title"><?php echo $panel->caption?></h3>
					</div>
				</div>
			<?php } ?>
		<?php } ?>
	</div>
</div>
