<?php
//get list of fonts
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();
?>
<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<?php if (isset($this->content->caption_location) && $this->content->caption_location == 'above') { ?>
		<h3 class="caption__title <?php echo (isset($this->content->caption_alignment))?$this->content->caption_alignment:""?>"><?php echo $this->content->caption?></h3>
	<?php } ?>

	<div class="responsive-video">
<?php
if ($this->content->embed_code) {
?>
	 <?php echo $this->content->embed_code;?>
<?php
}elseif ($this->content->video_url) {
	$vp = new Cny_Model_VideoParser();
?>
	<div align="center" class="embed-responsive embed-responsive-16by9">
		<?php if ($video_url = $vp->getEmbedUrl($this->content->video_url)) { ?>
			<iframe width="100%" frameborder="0" src="<?php echo $video_url?>" allowfullscreen></iframe>
		<?php }else {
			$video_poster_url = (isset($this->content->video_poster) && $this->content->video_poster)?'poster="'.$this->content->video_poster.'"':''; ?>
			<video src="<?php echo $this->content->video_url?>" class="embed-responsive-item" <?php echo $video_poster_url; ?> controls></video>
		<?php } ?>
	</div>

<?php
}
?>
	</div>

	<?php if (!isset($this->content->caption_location) || $this->content->caption_location == 'below') { ?>
		<h3 class="caption__title <?php echo (isset($this->content->caption_alignment))?$this->content->caption_alignment:""?>"><?php echo $this->content->caption?></h3>
	<?php } ?>
</div>

<style>
	#module-<?php echo $this->module->id?> h3 {
	<?php if (isset($this->content->caption_text_size) && $this->content->caption_text_size) {
	if ($this->content->caption_text_size == preg_replace("/[^0-9.]/", "", $this->content->caption_text_size)) $this->content->caption_text_size .= "px";
	?>
		font-size: <?php echo $this->content->caption_text_size?>;
	<?php } ?>
	<?php if (isset($this->content->caption_font) && $this->content->caption_font && strtolower($this->content->caption_font) != 'default') {?>
		font-family: "<?php echo $fonts[$this->content->caption_font]['title'];?>";
	<?php } ?>
	<?php echo (isset($this->content->caption_weight) && $this->content->caption_weight)?"font-weight:{$this->content->caption_weight};":""?>
	<?php echo (isset($this->content->caption_color) && $this->content->caption_color)?"color:{$this->content->caption_color};":""?>
	}
</style>
