<?php
$simpleScrollBar = isset($this->settings->wysiwyg_scroll) && $this->settings->wysiwyg_scroll == 'Enabled';
if ($simpleScrollBar) {
	$this->config['data_attributes'] = 'data-simplebar';
	$this->config['div_class'] = 'simple-bar';
}
?>

<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<?php echo (isset($this->content->text))?$this->content->text:''?>
</div>

<?php if (isset($this->settings->wysiwyg_scroll) && $this->settings->wysiwyg_scroll == 'Enabled') {?>
	<style>
		<?php if (isset($this->content->wysiwyg_scroll_height) && $this->content->wysiwyg_scroll_height) {
			if ($this->content->wysiwyg_scroll_height == preg_replace("/[^0-9.]/", "", $this->content->wysiwyg_scroll_height)) $this->content->wysiwyg_scroll_height .= "px"; ?>
			#module-<?php echo $this->module->id?>.simple-bar {
				height: <?php echo $this->content->wysiwyg_scroll_height?>;
				overflow: auto;
			}
		<?php } ?>

		<?php if (isset($this->content->wysiwyg_scroll_track_color) && $this->content->wysiwyg_scroll_track_color) {?>
			#module-<?php echo $this->module->id?>.simple-bar .simplebar-vertical  {
				background: <?php echo $this->content->wysiwyg_scroll_track_color?>;
			}
		<?php } ?>

		<?php if (isset($this->content->wysiwyg_scroll_bar_color) && $this->content->wysiwyg_scroll_bar_color) {?>
		#module-<?php echo $this->module->id?>.simple-bar .simplebar-vertical .simplebar-scrollbar  {
			background: <?php echo $this->content->wysiwyg_scroll_bar_color?>;
		}
		<?php } ?>
	</style>
<?php } ?>
