<?php
use Cocur\Slugify\Slugify;
$slugify = new Slugify();

$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$truncate = new Cny_View_Helper_StringTruncate();

$lvp_url = ($settings_mapper->getValueByCode('video_platform_url'))?$settings_mapper->getValueByCode('video_platform_url'):'videos';
$default_poster = $settings_mapper->getValueByCode('lvp_default_poster','');

if (!$this->content->playlist_id) return '';

$zype = new Application_Model_Zype();

$type = 'videos';

$playlist = $zype->getPlaylist($this->content->playlist_id);
if ($playlist->playlist_item_count == 0 || (isset($this->content->display_type) && $this->content->display_type == 'playlist')) { //if no items it's most likely a parent of other playlists
	$children = $zype->getPlaylistChildrenPlaylists($this->content->playlist_id);
	$type = 'children';
}elseif ($playlist->playlist_item_count > 0 || (isset($this->content->display_type) && $this->content->display_type == 'video')) {
	$videos = $zype->listPlaylistVideos($this->content->playlist_id, array(
		'order' => 'asc',
		'per_page' => (isset($this->content->item_limit) && (int)$this->content->item_limit)?(int)$this->content->item_limit:'100',
		//can't filter by active videos?!?!
	));
}

if (!$children && !$videos) return '';

$carousel_class = "js-carousel carousel carousel--product-film-offset carousel--arrow-overlay-on";
$carousel_alignment_class = (isset($this->settings->carousel_alignment) && $this->settings->carousel_alignment) ? $this->settings->carousel_alignment:'m-r-auto';

if (isset($this->content->carousel_arrow_offset) && $this->content->carousel_arrow_offset == 'off') {
	$carousel_class = "js-carousel carousel carousel--product-film-offset carousel--arrow-overlay-off";
}
if (isset($this->settings->carousel_type) && $this->settings->carousel_type == 'grid') {
	$carousel_class = "grid--product-film grid-fill";
}
?>

<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<?php if ($type == 'videos') { ?>
		<div class="section">
			<div class="section__title">
				<h2><?php echo $playlist->title?></h2>
				<?php if ($this->content->view_more_status == 'Enabled' && $this->content->view_more_text) {?>
					<a href="<?php echo ($this->content->view_more_url)?$this->content->view_more_url:"/list/".$slugify->slugify($playlist->title)."/{$playlist->_id}"?>" class="view-more">
						<?php echo $this->content->view_more_text?>
						<?php /*<span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-angle-right fa-stack-1x fa-inverse"></i>
				</span> */ ?>
						<i class="fa fa-chevron-circle-right"></i>
					</a>
				<?php } ?>
			</div>

			<?php
			$img_style = '';
			if (isset($this->content->max_image_height) && $this->content->max_image_height) {
				if ($this->content->max_image_height == preg_replace("/[^0-9,.-]/", "", $this->content->max_image_height)) $this->content->max_image_height .= "px";

				$img_style = "max-height: {$this->content->max_image_height};";
			}
			//deprecating old overlay_status for new multiple caption position options
			$caption_class = '';
			if ((isset($this->settings->overlay_status) && $this->settings->overlay_status == 'Enabled') ||
				(!isset($this->settings->overlay_status) && !isset($this->settings->caption_position)) ||
				(isset($this->settings->caption_position) && $this->settings->caption_position == 'overlay')
			) {
				$caption_class = 'caption--overlay';
				$this->settings->caption_position = 'overlay'; //more for just the transition from the old overlay_status to new caption_position
			}
			?>
			<div class="<?php echo $carousel_class?><?php echo ' '.$carousel_alignment_class?>" data-infinite_scroll="<?php echo (isset($this->settings->infinite_scroll))?$this->settings->infinite_scroll:'Enabled'?>"
			     data-slides="<?php echo (isset($this->settings->slides_display_desktop))?$this->settings->slides_display_desktop:''?>"
			     data-variable-width="<?php echo (isset($this->settings->carousel_variable_width))?$this->settings->carousel_variable_width:'Enabled'?>"
			     data-controls="<?php echo (isset($this->settings->carousel_prev_arrow_status))?$this->settings->carousel_prev_arrow_status:'Enabled'?>"
			     data-autoplay="<?php echo (isset($this->settings->carousel_autoplay))?$this->settings->carousel_autoplay:'Enabled'?>"
			     data-speed="<?php echo (isset($this->settings->transition_speed))?$this->settings->transition_speed*1000:''?>">
				<?php
				foreach ($videos->response as $video) {
					$url_code = ($video->friendly_title)?$video->friendly_title:$slugify->slugify($video->title);

					$poster = $poster_caption = '';
					if ($this->content->image_type == 'poster') {
						if ($video->images) {
							foreach ($video->images as $image) {
								if ($image->layout == 'poster') {
									$poster = $image->url;
									$poster_caption = $image->caption;

									break;
								}
							}
						}
					}else {
						if ($video->thumbnails) {
							$thumbnails = [];
							foreach ($video->thumbnails as $image) {
								if ($image->height == 240) {
									$poster = $image->url;

									break;
								}else {
									$thumbnails[$image->height] = $image->url;
								}
							}

							if ($thumbnails) {
								ksort($thumbnails);
								$poster = current($thumbnails);
							}
						}
					}
					?>

					<div class="carousel__item" data-href="/<?php echo $lvp_url?>/<?php echo $url_code?>/<?php echo $video->_id?>">


						<div>
							<img src="<?php echo ($poster) ? $poster : $default_poster ?>" class="img-responsive" style="<?php echo $img_style ?>">
						</div>

						<?php if (isset($this->settings->caption_position) && $this->settings->caption_position != 'off') {?>
							<div class="caption <?php echo $caption_class?> <?php echo (isset($this->settings->caption_alignment))?$this->settings->caption_alignment:''?>">
								<?php if (!isset($this->content->caption_title_status) || (isset($this->content->caption_title_status) && $this->content->caption_title_status == 'Enabled')) {?>
									<h3 class="caption__title"><?php echo $video->title?></h3>
								<?php } ?>
								<div class="caption__content">
									<?php if (!isset($this->content->caption_description_status) || (isset($this->content->caption_description_status) && $this->content->caption_description_status == 'Enabled')) {?>
										<?php
										$description_source = (!isset($this->content->caption_description_source) || (isset($this->content->caption_description_source) && !$this->content->caption_description_source))?"short_description":"description";
										if ($video->$description_source) { ?>
											<p class="hidden-xs"><?php echo $truncate->StringTruncate($video->$description_source, (isset($this->content->caption_description_char_length))?$this->content->caption_description_char_length:60)?></p>
										<?php } ?>
									<?php } ?>

									<?php if (isset($this->settings->view_details_status) && $this->settings->view_details_status == 'Enabled') {?>
										<a class="view-more" href="/<?php echo $lvp_url?>/<?php echo $url_code?>/<?php echo $video->_id?>" class="hidden-xs">View Details</a>
									<?php } ?>

									<?php if (isset($this->content->watch_now_status) && $this->content->watch_now_status == 'Enabled') {?>
										<div class="caption__options">
											<a href="/<?php echo $lvp_url?>/<?php echo $url_code?>/<?php echo $video->_id?>" class="btn btn-block btn--gray-dark btn--watch-now <?php echo $this->content->watch_now_button_class?> <?php echo $this->content->watch_now_hover_effect?>" tabindex="0">Watch Now</a>
										</div>
									<?php } ?>
								</div>
							</div>
						<?php } ?>
					</div>


					<?php
				}
				?>

				<?php if (isset($this->content->item_limit) && (int)$this->content->item_limit) {?>
					<div class="carousel__item" data-href="<?php echo ($this->content->view_more_url)?$this->content->view_more_url:"/list/".$slugify->slugify($playlist->title)."/{$playlist->_id}"?>">
						<img src="/custom_assets/images/view_all_poster.jpg" class="img-responsive" style="<?php echo $img_style?>">
					</div>
				<?php } ?>

			</div>
		</div>
	<?php }elseif ($type == 'children') { ?>
		<div class="section m-b-30">
			<div class="section__title">
				<h2><?php echo $playlist->title?></h2>
				<?php if ($this->content->view_more_status == 'Enabled' && $this->content->view_more_text) {?>
					<a href="<?php echo ($this->content->view_more_url)?$this->content->view_more_url:"/list/".$slugify->slugify($playlist->title)."/{$playlist->_id}"?>" class="view-more">
						<?php echo $this->content->view_more_text?>
						<?php /*<span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-angle-right fa-stack-1x fa-inverse"></i>
				</span> */ ?>
						<i class="fa fa-chevron-circle-right"></i>
					</a>
				<?php } ?>
			</div>

			<?php
			$img_style = '';
			if (isset($this->content->max_image_height) && $this->content->max_image_height) {
				if ($this->content->max_image_height == preg_replace("/[^0-9,.-]/", "", $this->content->max_image_height)) $this->content->max_image_height .= "px";

				$img_style = "max-height: {$this->content->max_image_height};";
			}

			//deprecating old overlay_status for new multiple caption position options
			$caption_class = '';
			if ((isset($this->settings->overlay_status) && $this->settings->overlay_status == 'Enabled') ||
				(!isset($this->settings->overlay_status) && !isset($this->settings->caption_position)) ||
				(isset($this->settings->caption_position) && $this->settings->caption_position == 'overlay')
			) {
				$caption_class = 'caption--overlay';
				$this->settings->caption_position = 'overlay'; //more for just the transition from the old overlay_status to new caption_position
			}

			?>
			<div class="<?php echo $carousel_class?><?php echo ' '.$carousel_alignment_class?>" data-infinite_scroll="<?php echo (isset($this->settings->infinite_scroll))?$this->settings->infinite_scroll:'Enabled'?>"
			     data-slides="<?php echo (isset($this->settings->slides_display_desktop))?$this->settings->slides_display_desktop:''?>"
			     data-variable-width="<?php echo (isset($this->settings->carousel_variable_width))?$this->settings->carousel_variable_width:'Enabled'?>"
			     data-controls="<?php echo (isset($this->settings->carousel_prev_arrow_status))?$this->settings->carousel_prev_arrow_status:'Enabled'?>"
			     data-autoplay="<?php echo (isset($this->settings->carousel_autoplay))?$this->settings->carousel_autoplay:'Enabled'?>"
			     data-speed="<?php echo (isset($this->settings->transition_speed))?$this->settings->transition_speed*1000:''?>">
				<?php
				foreach ($children as $child) {
					$list = $zype->getPlaylist($child->id);
					if ($list->active != 1) continue; //for some reason in this API call Zype returns inactive items

					$url_code = $slugify->slugify($list->title);

					$poster = $poster_caption = '';
					if ($this->content->playlist_image_type == 'poster') {
						if ($list->images) {
							foreach ($list->images as $image) {
								if ($image->layout == 'poster') {
									$poster = $image->url;
									$poster_caption = $image->caption;

									break;
								}
							}
						}
					}else {
						if ($list->thumbnails) {
							$thumbnails = [];
							foreach ($list->thumbnails as $image) {
								if ($image->height == 240) {
									$poster = $image->url;

									break;
								}else {
									$thumbnails[$image->height] = $image->url;
								}
							}

							if ($thumbnails) {
								ksort($thumbnails);
								$poster = current($thumbnails);
							}
						}
					}
					?>

					<div class="carousel__item" data-href="/<?php echo $lvp_url?>/category/<?php echo $url_code?>/<?php echo $list->_id?>">

						<div>
							<img src="<?php echo ($poster) ? $poster : $default_poster ?>" class="img-responsive" style="<?php echo $img_style ?>">
						</div>

						<?php if (isset($this->settings->caption_position) && $this->settings->caption_position != 'off') {?>
							<div class="caption <?php echo $caption_class?> <?php echo (isset($this->settings->caption_alignment))?$this->settings->caption_alignment:''?>">
								<?php if (!isset($this->content->caption_title_status) || (isset($this->content->caption_title_status) && $this->content->caption_title_status == 'Enabled')) {?>
									<h3 class="caption__title"><?php echo $list->title?></h3>
								<?php } ?>
								<div class="caption__content">
									<?php if (!isset($this->content->caption_description_status) || (isset($this->content->caption_description_status) && $this->content->caption_description_status == 'Enabled')) {?>
										<?php if ($list->description) { ?>
											<p class="hidden-xs"><?php echo $list->description?></p>
										<?php } ?>
									<?php } ?>

									<?php if (isset($this->settings->view_details_status) && $this->settings->view_details_status == 'Enabled') {?>
										<a class="view-more" href="/<?php echo $lvp_url?>/category/<?php echo $url_code?>/<?php echo $list->_id?>" class="hidden-xs">View Details</a>
									<?php } ?>
								</div>
							</div>
						<?php } ?>
					</div>
				<?php
				}
				?>

				<?php if (isset($this->content->item_limit) && (int)$this->content->item_limit) {?>
					<div class="carousel__item" data-href="<?php echo ($this->content->view_more_url)?$this->content->view_more_url:"/list/".$slugify->slugify($playlist->title)."/{$playlist->_id}"?>">
						<img src="/custom_assets/images/view_all_poster.jpg" class="img-responsive" style="<?php echo $img_style?>">
					</div>
				<?php } ?>

			</div>
		</div>
	<?php } ?>
</div>


<?php
if (isset($this->content->title_font) && $this->content->title_font) {
	//get list of fonts
	$mapper = new Application_Model_Mapper_Font();
	$fonts = $mapper->getActiveFonts();

	$font_families = array();

	if (strtolower($this->content->title_font) != 'default') {
		if ($this->content->title_font && !in_array($this->content->title_font, $font_families)) {
			if (stripos($this->content->title_font, "http://") !== false || stripos($this->content->title_font, "https://") !== false) {
				//old font method
				echo '<link href="'.$this->content->title_font.'" rel="stylesheet">';
			} else {
				$font = $fonts[$this->content->title_font];
				if ($font['url']) {
					echo '<link href="'.$font['url'].'" rel="stylesheet">';
				}
			}
			$font_families[$this->content->title_font] = $fonts[$this->content->title_font]['title'];
		}
	}

}
?>

<?php
if (isset($this->content->watch_now_font) && $this->content->watch_now_font) {
	if (stripos($this->content->watch_now_font, "http://") !== false || stripos($this->content->watch_now_font, "https://") !== false) {
		//old font method
		echo '<link href="' . $this->content->watch_now_font . '" rel="stylesheet">';
	} else {
		if (isset($this->content->watch_now_font) && $this->content->watch_now_font) {
			$font = $fonts[$this->content->watch_now_font];
			if ($font['url']) {
				echo '<link href="' . $font['url'] . '" rel="stylesheet">';
			}
		}
	}
}
?>

<style>
	<?php if (isset($this->settings->carousel_prev_arrow_status) && $this->settings->carousel_prev_arrow_status == 'Disabled') {?>
	#module-<?php echo $this->module->id?> .carousel--product-film-offset .slick-prev,
	#module-<?php echo $this->module->id?> .carousel--product-film .slick-prev,
	#module-<?php echo $this->module->id?> .carousel--product-film-offset .slick-next,
	#module-<?php echo $this->module->id?> .carousel--product-film .slick-next {display:none!important;}
	<?php } ?>

	#module-<?php echo $this->module->id?> .view-more {
	<?php if (isset($this->content->view_more_text_color) && $this->content->view_more_text_color) {?>
		color: <?php echo $this->content->view_more_text_color?>;
	<?php } ?>
	<?php if (isset($this->content->view_more_text_size) && $this->content->view_more_text_size) {
		if ($this->content->view_more_text_size == preg_replace("/[^0-9.]/", "", $this->content->view_more_text_size)) $this->content->view_more_text_size .= "px";
		?>
		font-size: <?php echo $this->content->view_more_text_size?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-arrow {
	<?php if (isset($this->content->carousel_arrow_background_color) && $this->content->carousel_arrow_background_color) {?>
		background-color: <?php echo $this->content->carousel_arrow_background_color?>;
	<?php } ?>
	}
	#module-<?php echo $this->module->id?> .slick-arrow:before {
	<?php if (isset($this->content->carousel_arrow_color) && $this->content->carousel_arrow_color) {?>
		color: <?php echo $this->content->carousel_arrow_color?>;
	<?php } ?>
	<?php if (isset($this->content->carousel_arrow_size) && $this->content->carousel_arrow_size) {
	if ($this->content->carousel_arrow_size == preg_replace("/[^0-9.]/", "", $this->content->carousel_arrow_size)) $this->content->carousel_arrow_size .= "px";
	?>
		font-size: <?php echo $this->content->carousel_arrow_size?>;
	<?php } ?>
	<?php if (isset($this->content->carousel_arrow_padding) && $this->content->carousel_arrow_padding) {
if ($this->content->carousel_arrow_padding == preg_replace("/[^0-9.]/", "", $this->content->carousel_arrow_padding)) $this->content->carousel_arrow_padding .= "px";
?>
		padding: 0 <?php echo $this->content->carousel_arrow_padding?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .slick-arrow:hover:before {
	<?php if (isset($this->content->carousel_arrow_hover_color) && $this->content->carousel_arrow_hover_color) {?>
		color: <?php echo $this->content->carousel_arrow_hover_color?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .section__title h2 {
	<?php if (isset($this->content->title_font) && $this->content->title_font && strtolower($this->content->title_font) != 'default') {?>
		font-family: "<?php echo $fonts[$this->content->title_font]['title'];?>";
	<?php } ?>
	<?php echo (isset($this->content->title_weight) && $this->content->title_weight)?"font-weight:{$this->content->title_weight};":""?>

	<?php if (isset($this->content->title_size) && $this->content->title_size) {
if ($this->content->title_size == preg_replace("/[^0-9.]/", "", $this->content->title_size)) $this->content->title_size .= "px";
?>
		font-size: <?php echo $this->content->title_size?>;
	<?php } ?>

	<?php if (isset($this->content->title_line_height) && $this->content->title_line_height) {
if ($this->content->title_line_height == preg_replace("/[^0-9.]/", "", $this->content->title_line_height)) $this->content->title_line_height .= "px";
?>
		line-height: <?php echo $this->content->title_line_height?>;
	<?php } ?>

	<?php if (isset($this->content->title_bottom_margin) && $this->content->title_bottom_margin) {
if ($this->content->title_bottom_margin == preg_replace("/[^0-9.]/", "", $this->content->title_bottom_margin)) $this->content->title_bottom_margin .= "px";
?>
		margin-bottom: <?php echo $this->content->title_bottom_margin?>;
	<?php } ?>
	<?php if (isset($this->content->title_color) && $this->content->title_color) {?>
		color: <?php echo $this->content->title_color;?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .multibuttons {
		padding: 0 10px;
		color: #ffffff;
	}
	#module-<?php echo $this->module->id?> .multibuttons a {
		font-size: .9em;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	#module-<?php echo $this->module->id?> .multibuttons .btn {
		width: 100%;
		margin-bottom: 5px;
		text-align: left;
		padding: 4px;
	}
	#module-<?php echo $this->module->id?> .multibuttons .btn:hover {
		opacity: .8;
	}

	<?php if (isset($this->settings->multi_button_title_size) && $this->settings->multi_button_title_size) {
		if ($this->settings->multi_button_title_size == preg_replace("/[^0-9.]/", "", $this->settings->multi_button_title_size)) $this->settings->multi_button_title_size .= "px"; ?>
	#module-<?php echo $this->module->id?> .multibuttons .multibuttons-title  {
		font-size: <?php echo $this->settings->multi_button_title_size?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_button_title_color) && $this->settings->multi_button_title_color) {?>
	#module-<?php echo $this->module->id?> .multibuttons .multibuttons-title  {
		color: <?php echo $this->settings->multi_button_title_color?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_button_text_size) && $this->settings->multi_button_text_size) {
		if ($this->settings->multi_button_text_size == preg_replace("/[^0-9.]/", "", $this->settings->multi_button_text_size)) $this->settings->multi_button_text_size .= "px"; ?>
	#module-<?php echo $this->module->id?> .multibuttons .btn {
		font-size: <?php echo $this->settings->multi_button_text_size?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_button_text_color) && $this->settings->multi_button_text_color) {?>
	#module-<?php echo $this->module->id?> .multibuttons .btn  {
		color: <?php echo $this->settings->multi_button_text_color?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_button_bg_color) && $this->settings->multi_button_bg_color) {?>
	#module-<?php echo $this->module->id?> .multibuttons .btn  {
		background: <?php echo $this->settings->multi_button_bg_color?>;
	}
	<?php }  ?>

	<?php if (isset($this->settings->multi_hover_button_bg_color) && $this->settings->multi_hover_button_bg_color) {?>
	#module-<?php echo $this->module->id?> .multibuttons .btn:hover  {
		background: <?php echo $this->settings->multi_hover_button_bg_color?>;
	}
	<?php }  ?>


	#module-<?php echo $this->module->id?> .caption {
	<?php if (isset($this->settings->overlay_padding_lr) && $this->settings->overlay_padding_lr) {?>
		padding-left: <?php echo ($this->settings->overlay_padding_lr == preg_replace("/[^0-9.]/", "", $this->settings->overlay_padding_lr)) ? "{$this->settings->overlay_padding_lr}px" : $this->settings->overlay_padding_lr ?>;
		padding-right: <?php echo ($this->settings->overlay_padding_lr == preg_replace("/[^0-9.]/", "", $this->settings->overlay_padding_lr)) ? "{$this->settings->overlay_padding_lr}px" : $this->settings->overlay_padding_lr ?>;
	<?php } ?>
	<?php if (isset($this->settings->overlay_padding_tb) && $this->settings->overlay_padding_tb) {?>
		padding-top: <?php echo ($this->settings->overlay_padding_tb == preg_replace("/[^0-9.]/", "", $this->settings->overlay_padding_tb)) ? "{$this->settings->overlay_padding_tb}px" : $this->settings->overlay_padding_tb ?>;
		padding-bottom: <?php echo ($this->settings->overlay_padding_tb == preg_replace("/[^0-9.]/", "", $this->settings->overlay_padding_tb)) ? "{$this->settings->overlay_padding_tb}px" : $this->settings->overlay_padding_tb ?>;
	<?php } ?>
	}

	<?php if (isset($this->settings->overlay_background_color) && $this->settings->overlay_background_color) { ?>
	#module-<?php echo $this->module->id?> .caption--overlay {
		background-color: <?php echo $this->settings->overlay_background_color?>;
	}
	<?php } ?>

	#module-<?php echo $this->module->id?> .caption .caption__title {
	<?php if (isset($this->content->caption_title_text_size) && $this->content->caption_title_text_size) {?>
		font-size: <?php echo ($this->content->caption_title_text_size == preg_replace("/[^0-9.]/", "", $this->content->caption_title_text_size)) ? "{$this->content->caption_title_text_size}px" : $this->content->caption_title_text_size ?>;
	<?php } ?>
	<?php if (isset($this->content->caption_title_text_color) && $this->content->caption_title_text_color) {?>
		color: <?php echo $this->content->caption_title_text_color?>;
	<?php } ?>
	<?php if (isset($this->content->caption_title_line_height) && $this->content->caption_title_line_height) {?>
		line-height: <?php echo ($this->content->caption_title_line_height == preg_replace("/[^0-9.]/", "", $this->content->caption_title_line_height)) ? "{$this->content->caption_title_line_height}px" : $this->content->caption_title_line_height ?>;
	<?php } ?>
	<?php if (isset($this->content->caption_title_weight) && $this->content->caption_title_weight) {?>
		font-weight: <?php echo $this->content->caption_title_weight?>;
	<?php } ?>
	}
	#module-<?php echo $this->module->id?> .caption .caption__content {
	<?php if (isset($this->content->caption_text_size) && $this->content->caption_text_size) {?>
		font-size: <?php echo ($this->content->caption_text_size == preg_replace("/[^0-9.]/", "", $this->content->caption_text_size)) ? "{$this->content->caption_text_size}px" : $this->content->caption_text_size ?>;
	<?php } ?>
	<?php if (isset($this->content->caption_text_color) && $this->content->caption_text_color) {?>
		color: <?php echo $this->content->caption_text_color?> !important;
	<?php } ?>
	<?php if (isset($this->content->caption_text_line_height) && $this->content->caption_text_line_height) {?>
		line-height: <?php echo ($this->content->caption_text_line_height == preg_replace("/[^0-9.]/", "", $this->content->caption_text_line_height)) ? "{$this->content->caption_text_line_height}px" : $this->content->caption_text_line_height ?>;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> .carousel__item {
	<?php
	if (isset($this->content->max_width) && $this->content->max_width) {
			if ($this->content->max_width == preg_replace("/[^0-9,.-]/", "", $this->content->max_width)) $this->content->max_width .= "px";
	?>
		max-width: <?php echo $this->content->max_width?>;
	<?php
		}
    ?>
	}

	<?php if (isset($this->settings->carousel_type) && ($this->settings->carousel_type == 'grid') || $this->settings->carousel_type == 'custom_grid') {?>
	#module-<?php echo $this->module->id?> .grid--product-film {
	<?php if (isset($this->settings->slides_display_mobile) && $this->settings->slides_display_mobile) {?>
		grid-template-columns: repeat(<?php echo $this->settings->slides_display_mobile?>, 1fr);
		grid-auto-flow: dense;
	<?php } ?>
	<?php if (isset($this->settings->grid_column_spacing) && $this->settings->grid_column_spacing) {
		if ($this->settings->grid_column_spacing == preg_replace("/[^0-9,.-]/", "", $this->settings->grid_column_spacing)) $this->settings->grid_column_spacing .= "px";
		?>
		grid-column-gap: <?php echo $this->settings->grid_column_spacing?>;
	<?php } ?>
	<?php if (isset($this->settings->grid_row_spacing) && $this->settings->grid_row_spacing) {
		if ($this->settings->grid_row_spacing == preg_replace("/[^0-9,.-]/", "", $this->settings->grid_row_spacing)) $this->settings->grid_row_spacing .= "px";
		?>
		grid-row-gap: <?php echo $this->settings->grid_row_spacing?>;
	<?php } ?>
	}
	#module-<?php echo $this->module->id?> .grid--product-film .carousel__item img {
	<?php if (isset($this->settings->slides_display_desktop) && $this->settings->slides_display_desktop || isset($this->settings->slides_display_mobile) && $this->settings->slides_display_mobile)   {?>
		object-fit: cover;
	<?php } ?>
	}

	@media (min-width: 1200px) {
		#module-<?php echo $this->module->id?> .grid--product-film {
		<?php if (isset($this->settings->slides_display_desktop) && $this->settings->slides_display_desktop) {?>
			grid-template-columns: repeat(<?php echo $this->settings->slides_display_desktop?>, 1fr);
			grid-auto-flow: dense;
		<?php } ?>
		}

		#module-<?php echo $this->module->id?> .grid--product-film .carousel__item {
		<?php if (isset($this->settings->image_opacity) && $this->settings->image_opacity) {
			if ($this->settings->image_opacity > 1) $this->settings->image_opacity = $this->settings->image_opacity / 100;
			?>
			opacity: <?php echo $this->settings->image_opacity?>;
		<?php } ?>
		}
		#module-<?php echo $this->module->id?> .grid--product-film .carousel__item:hover {
		<?php if (isset($this->settings->image_hover_opacity) && $this->settings->image_hover_opacity) {
			if ($this->settings->image_hover_opacity > 1) $this->settings->image_hover_opacity = $this->settings->image_hover_opacity / 100;
			?>
			opacity: <?php echo $this->settings->image_hover_opacity?>;
		<?php } ?>
		}
	}
	<?php } ?>

	@media (min-width:992px) {
	<?php if (isset($this->settings->carousel_max_container_size) && $this->settings->carousel_max_container_size) {
	if ($this->settings->carousel_max_container_size == preg_replace("/[^0-9,.-]/", "", $this->settings->carousel_max_container_size)) $this->settings->carousel_max_container_size .= "px"; ?>
		#module-<?php echo $this->module->id?> .carousel--product-film-offset .slick-list,
		#module-<?php echo $this->module->id?> .carousel--product-film .slick-list,
		#module-<?php echo $this->module->id?> .section__title {
			max-width: <?php echo $this->settings->carousel_max_container_size; ?>;
			margin-left: auto;
			margin-right: auto;
		}

	<?php } ?>
	}


	/*button styles*/
	<?php if (isset($this->content->watch_now_button_color) && $this->content->watch_now_button_color) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		background-color: <?php echo $this->content->watch_now_button_color ?>;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_text_color) && $this->content->watch_now_text_color) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		color: <?php echo $this->content->watch_now_text_color ?> !important;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_button_border_color) && isset($this->content->watch_now_button_border_width) && $this->content->watch_now_button_border_color && $this->content->watch_now_button_border_width) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		border: <?php echo $this->content->watch_now_button_border_width ?> solid <?php echo $this->content->watch_now_button_border_color ?>;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_button_padding_tb) && $this->content->watch_now_button_padding_tb) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		padding-top: <?php echo $this->content->watch_now_button_padding_tb ?>;
		padding-bottom: <?php echo $this->content->watch_now_button_padding_tb ?>;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_button_padding_lr) && $this->content->watch_now_button_padding_lr) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		padding-left: <?php echo $this->content->watch_now_button_padding_lr ?>;
		padding-right: <?php echo $this->content->watch_now_button_padding_lr ?>;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_text_size) && $this->content->watch_now_text_size) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		font-size: <?php echo $this->content->watch_now_text_size ?>;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_text_weight) && $this->content->watch_now_text_weight) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		font-weight: <?php echo $this->content->watch_now_text_weight ?>;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_button_border_size) && $this->content->watch_now_button_border_size) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		border-width: <?php echo $this->content->watch_now_button_border_size ?>;
	}
	<?php }?>

	<?php if (isset($this->content->watch_now_button_border_color) && $this->content->watch_now_button_border_color) {?>
	#module-<?php echo $this->module->id?> .btn--watch-now {
		border-color: <?php echo $this->content->watch_now_button_border_color  ?>;
	}
	<?php }?>


	#module-<?php echo $this->module->id?> .btn--watch-now:hover {
		color: <?php echo ($this->content->watch_now_text_hover_color)?$this->content->watch_now_text_hover_color:$this->content->watch_now_text_color?> !important;
		background-color: <?php echo ($this->content->watch_now_button_hover_color)?$this->content->watch_now_button_hover_color:$this->content->watch_now_button_color?> !important;
		border-width: <?php echo (isset($this->content->watch_now_button_border_size) && $this->content->watch_now_button_border_size)?$this->content->watch_now_button_border_size:$this->content->watch_now_button_border_size?> !important;
		border-color: <?php echo (isset($this->content->watch_now_button_hover_border_color) && $this->content->watch_now_button_hover_border_color)?$this->content->watch_now_button_hover_border_color:$this->content->watch_now_button_hover_border_color?> !important;
	}
	#module-<?php echo $this->module->id?> .btn--watch-now {
	<?php if (isset($this->content->watch_now_button_width) && $this->content->watch_now_button_width) {
		echo "max-width: ";
		if ($this->content->watch_now_button_width == preg_replace("/[^0-9.]/", "", $this->content->watch_now_button_width)) $this->content->watch_now_button_width .= "px";
		echo $this->content->watch_now_button_width;
		echo ";";
		echo "width:100%;";
	}?>
	<?php echo (isset($this->content->watch_now_font) && $this->content->watch_now_font && strtolower($this->content->watch_now_font) != 'default')?"font-family:\"{$fonts[$this->content->watch_now_font]['title']}\";":""?>
	}

	/*view details styles*/
	#module-<?php echo $this->module->id?> .caption .caption__content > a.view-more {
		display: inline-block;
	<?php echo (isset($this->content->view_details_text_weight) && $this->content->view_details_text_weight)?"font-weight:{$this->content->view_details_text_weight};":""?>

	<?php if (isset($this->content->view_details_text_size) && $this->content->view_details_text_size) {
if ($this->content->view_details_text_size == preg_replace("/[^0-9.]/", "", $this->content->view_details_text_size)) $this->content->view_details_text_size .= "px";
?>
		font-size: <?php echo $this->content->view_details_text_size?>;
	<?php } ?>

	<?php if (isset($this->content->view_details_text_line_height) && $this->content->view_details_text_line_height) {
if ($this->content->view_details_text_line_height == preg_replace("/[^0-9.]/", "", $this->content->view_details_text_line_height)) $this->content->view_details_text_line_height .= "px";
?>
		line-height: <?php echo $this->content->view_details_text_line_height?>;
	<?php } ?>

	<?php if (isset($this->content->view_details_margin) && $this->content->view_details_margin) {
if ($this->content->view_details_margin == preg_replace("/[^0-9.]/", "", $this->content->view_details_margin)) $this->content->view_details_margin .= "px";
?>
		margin-bottom: <?php echo $this->content->view_details_margin?>;
	<?php } ?>
	<?php if (isset($this->content->view_details_text_color) && $this->content->view_details_text_color) {?>
		color: <?php echo $this->content->view_details_text_color;?>;
	<?php } ?>
	}

</style>
