<h2>Columns</h2>
<?php echo $this->partial('website/modal-column.phtml'); ?>
<br>
<hr>
<br>
<h2>Module</h2>
<?php echo $this->partial('website/modal-module.phtml'); ?>
<br>
<hr>
<br>
<h2>Hero Panel</h2>
<?php echo $this->partial('website/modal-module-settings.phtml'); ?>
<br>
<hr>
<br>
<h2>Form Elements</h2>
<?php echo $this->partial('website/form-elements.phtml'); ?>
<br>
<hr>
<br>
<h2>Input Groups</h2>
<?php echo $this->partial('website/input-groups.phtml'); ?>
<br>
<hr>
<br>
<h2>Custom Elements</h2>
<?php echo $this->partial('website/custom-form-elements.phtml'); ?>


<script>
	$(function() {
		$(".complex-colorpicker").asColorPicker({
			mode: 'complex'
		});

		// Switchery
		var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		$('.js-switch').each(function() {
			new Switchery($(this)[0], $(this).data());

		});
	});
</script>
