<form class="form-horizontal">
	<div class="form-group">
		<label for="" class="col-sm-3 control-label">Select Box</label>
		<div class="col-sm-9">
			<select class="selectpicker" data-style="form-control form-control--select">
				<option>Mustard</option>
				<option>Ketchup</option>
				<option>Relish</option>
			</select>
		</div>
	</div>
</form>

<div class="form-group">
	<label for="">Select Box</label>
	<select class="selectpicker" data-style="form-control form-control--select">
		<option>Mustard</option>
		<option>Ketchup</option>
		<option>Relish</option>
	</select>
</div>

<br>
<hr>
<br>

<form class="form-horizontal">
	<div class="form-group">
		<label for="" class="col-sm-3 control-label">File upload</label>
		<div class="col-sm-9">
			<div class="fileinput fileinput-new input-group" data-provides="fileinput">
				<div class="form-control" data-trigger="fileinput"> <i class="fal fa-file fal fa-file-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
				<span class="input-group-addon btn btn-default btn-file"> <span class="fileinput-new">Select file</span> <span class="fileinput-exists">Change</span>
                <input type="file" name="...">
            </span> <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a> </div>
		</div>
	</div>
</form>


<div class="form-group">
	<label>File upload</label>
	<div class="fileinput fileinput-new input-group" data-provides="fileinput">
		<div class="form-control" data-trigger="fileinput"> <i class="fal fa-file fal fa-file-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
		<span class="input-group-addon btn btn-default btn-file"> <span class="fileinput-new">Select file</span> <span class="fileinput-exists">Change</span>
                <input type="file" name="...">
            </span> <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a> </div>
</div>

<br>
<hr>
<br>

<div class="form-group">
	<label for="">Color Picker</label>
	<div>
		<input type="text" class="complex-colorpicker form-control" value="#fa7a7a" />
	</div>
</div>

<br>
<hr>
<br>

<div class="form-group">
	<label for="">Switch</label>
	<div>
		<input type="checkbox" checked class="js-switch" data-color="#3e7db2"/>
	</div>
</div>
