<form class="form-inline" name="overview" action="/admin/analytics/overview">
	<input type="hidden" name="dimension" value="ga:date" />
	<div class="white-box">
		<div class="row m-b-20">
			<div class="col-sm-6">
				<h2>Overview</h2>
			</div>
			<div class="col-sm-6 text-right">
				<div class="form-group">
					<input type="text" class="form-control datepicker_startdate" id="startdate" value="<?php echo $this->startdate; ?>" aria-describedby="basic-addon3" name="startdate" placeholder="startdate">
					<input type="text" class="form-control datepicker_enddate" id="enddate" value="<?php echo $this->enddate; ?>" aria-describedby="basic-addon3" name="enddate" placeholder="enddate">
					<button type="submit" class="btn btn-default btn-lg">
						<span class="fal fa-file fal fa-file-search" aria-hidden="true"></span> Go
					</button>
				</div>
			</div>
		</div>
		<div id="overview"></div>
		<div class="row flex-row-sm flex-wrap-sm">
			<div class="col-md-3 col-xs-12 col-sm-6 m-b-15">
				<div class="white-box text-center bg-theme bg-icon bg-icon--bottom-right full-height">
					<p class="text-white">Total User Sessions</p>
					<hr class="m-t-0 border-white">
					<p class="text-white counter h1">884</p>
					<i class="fa fa-globe text-white"></i>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-6 m-b-15">
				<div class="white-box text-center bg-purple bg-icon bg-icon--bottom-right full-height">
					<p class="text-white">Total Page Views</p>
					<hr class="m-t-0 border-white">
					<p class="text-white counter h1">19,028</p>
					<i class="fa fa-users text-white"></i>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-6 m-b-15">
				<div class="white-box bg-warning text-center bg-icon bg-icon--bottom-right full-height">
					<p class="text-white">Total New Users</p>
					<hr class="m-t-0 border-white">
					<p class="text-white counter h1">2,343,091</p>
					<i class="fa fa-signal text-white"></i>
				</div>
			</div>
			<div class="col-md-3 col-xs-12 col-sm-6 m-b-15">
				<div class="white-box text-center bg-theme-dark bg-icon bg-icon--bottom-right full-height">
					<p class="text-white">Average User Session</p>
					<hr class="m-t-0 border-white">
					<p class="text-white counter h1">00:1:03</p>
					<i class="fa fa-clock-o text-white"></i>
				</div>
			</div>
		</div>
	</div>
</form>
<script>
	$(function() {
		$( ".datepicker_startdate" ).datepicker({
			dateFormat: 'yy-mm-dd',
			maxDate: "Today",
			minDate: "-1y"
		});
		$( ".datepicker_enddate" ).datepicker({
			dateFormat: 'yy-mm-dd',
			maxDate: "Today",
			minDate: "-1y"
		});
	});
</script>

<div class="row flex-row-lg m-b-20">
	<div class="col-lg-12">
		<div class="white-box full-height">
			<div class="pos-right m-r-40">
				<a href="javascript:void(0)" class="btn btn-default btn-sm"><i class="fa fa-angle-right"></i> View More</a>
			</div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="ti-home"></i></span><span class="hidden-xs"> User Sessions</span></a></li>
				<li role="presentation" class=""><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="ti-user"></i></span> <span class="hidden-xs">Top Landing Pages</span></a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="home">
					<div class="white-box">
						<h3 class="box-title"><small class="pull-right m-t-10 text-success"><i class="fa fa-sort-asc"></i> 18% High then last month</small> Site Traffic</h3>
						<div class="stats-row">
							<div class="stat-item">
								<h6>Overall Growth</h6>
								<b>80.40%</b></div>
							<div class="stat-item">
								<h6>Montly</h6>
								<b>15.40%</b></div>
							<div class="stat-item">
								<h6>Day</h6>
								<b>5.50%</b></div>
						</div>
						<div id="sparkline8"></div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="profile">
					<div class="white-box">
						<h3 class="box-title"><small class="pull-right m-t-10 text-success"><i class="fa fa-sort-asc"></i> 18% High then last month</small> Site Traffic</h3>
						<div class="stats-row">
							<div class="stat-item">
								<h6>Overall Growth</h6>
								<b>80.40%</b></div>
							<div class="stat-item">
								<h6>Montly</h6>
								<b>15.40%</b></div>
							<div class="stat-item">
								<h6>Day</h6>
								<b>5.50%</b></div>
						</div>
						<div id="sparkline10"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="white-box">
	<div class="flex-row flex-align-center flex-justify-space-between m-b-20">
		<h3 class="box-title text-transform-normal">Recent Updates</h3>
		<a href="javascript:void(0)" class="btn btn-default btn-sm"><i class="fa fa-angle-right"></i> View More</a>
	</div>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>ID</th>
				<th>Date</th>
				<th>Name</th>
				<th>Address</th>
				<th>View</th>
			</tr>
			</thead>
			<tbody>
			<?php for($i=0;$i<5;$i++) { ?>
				<tr>
					<td><a href="javascript:void(0)">26589</a></td>
					<td>8/7/2017 <span>11:16am</span></td>
					<td>Clouser, Paul </td>
					<td>Clouser, Paul, Clouser, Paul, Clouser, Paul</td>
					<td>
						<a href="javascript:void(0)"><i class="far fa-eye" aria-hidden="true"></i> View</a>
					</td>
				</tr>
			<?php } ?>
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {



		var sparklineLogin = function() {

			$("#sparkline8").sparkline([2,4,4,6,8,5,6,4,8,6,6,2 ], {
				type: 'line',
				width: '100%',
				height: '50',
				lineColor: '#99d683',
				fillColor: '#99d683',
				maxSpotColor: '#99d683',
				highlightLineColor: 'rgba(0, 0, 0, 0.2)',
				highlightSpotColor: '#99d683'
			});
			$("#sparkline10").sparkline([2,4,4,6,8,5,6,4,8,6,6,2], {
				type: 'line',
				width: '100%',
				height: '50',
				lineColor: '#6164c1',
				fillColor: '#6164c1',
				maxSpotColor: '#6164c1',
				highlightLineColor: 'rgba(0, 0, 0, 0.2)',
				highlightSpotColor: '#6164c1'
			});



		};
		var sparkResize;

		$(window).resize(function(e) {
			clearTimeout(sparkResize);
			sparkResize = setTimeout(sparklineLogin, 500);
		});
		sparklineLogin();

	});
</script>
