<form class="form-horizontal">
	<div class="form-group">
		<label for="" class="col-sm-3 control-label">Email</label>
		<div class="col-sm-9">
			<input type="email" class="form-control" id="" placeholder="Email">
			<div class="input-description"><em>Sample Description text goes here</em></div>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-3 control-label">Select</label>
		<div class="col-sm-9">
			<select name="" id="" class="form-control">
				<option value="">Select</option>
				<option value="">Options</option>
				<option value="">Options</option>
				<option value="">Options</option>
			</select>
			<div class="input-description"><em>Sample Description text goes here</em></div>
		</div>
	</div>
	<div class="form-group">
		<label for="" class="col-sm-3 control-label">Text</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" id="" placeholder="text">
			<div class="input-description"><em>Sample Description text goes here</em></div>
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-sm-3 control-label">Text Area</label>
		<div class="col-sm-9">
			<textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="Text Area"></textarea>
			<div class="input-description"><em>Sample Description text goes here</em></div>
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-sm-3 control-label">File Upload</label>
		<div class="col-sm-9">
			<input type="file" class="form-control" id="">
			<div class="input-description"><em>Sample Description text goes here in a much larger amount of text that wraps to two lines for full description of what this button and field do.</em></div>
		</div>
	</div>
</form>
