<div class="row">
	<div class="col-sm-12">
		<div class="page-header flex-row-sm flex-align-center flex-justify-space-between">
			<h1>About Us</h1>
			<div class="controls controls--horizontal flex-row flex-align-center flex-justify-space-between">
				<div class="controls__item">
					<button class="btn btn--purple">Save</button>
					<button class="btn btn--yellow">Cancel</button>
				</div>
				<div class="controls__item">
					<button class="btn btn--light-gray btn-xs"><i class="far fa-edit"></i> Edit</button>
					<button class="btn btn--light-gray btn-xs"><i class="fa fa-angle-left"></i> Back</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section section--cms bg-white p-30" style="min-height: 80vh;">
	<div class="row">
		<div class="col-sm-12">
<!--			start panel section-->
			<div class="panel panel--container">
				<div class="row flex-row">
					<div class="col-xs-2 col-sm-1 p-r-0">
						<div class="controls bg-off-black flex-row flex-justify-space-between flex-direction-column">
							<div class="controls__item text-center">
								<button class="btn btn-xs btn--transparent text-white"><i class="fas fa-bars"></i></button>
								<button class="btn btn-xs btn--transparent text-white"><i class="far fa-clone"></i></button>
							</div>
							<div class="controls__item text-center">
								<button class="btn btn-xs btn--transparent text-white"><i class="fas fa-times"></i></button>
							</div>
						</div>
					</div>
					<div class="col-xs-10 col-sm-11 col-lg-12 bg-body-color p-t-20 p-b-20">
						<div class="panel__content">
							<!--start inner section-->
							<div class="m-b-0 panel panel--module bg-border flex-row flex-align-center flex-justify-center">
								<div class="controls controls--horizontal controls--footer">
									<a class="btn btn-xs btn--link" href="" data-toggle="modal" data-target="#modalInsertColumn"><i class="fas fa-plus-square"></i> Insert Column(s)</a>
								</div>
							</div>
							<div class="controls controls--horizontal controls--footer">
								<a class="btn btn-xs btn--link" href="" data-toggle="modal" data-target="#modalInsertColumn"><i class="fas fa-plus-square"></i> Insert Column(s)</a>
							</div>
							<!--start inner section-->
						</div>
					</div>
				</div>
				<div class="controls controls--horizontal controls--footer">
					<a class="btn btn-xs btn--link" href=""><i class="fas fa-plus-square"></i> Add Fullwidth Section</a>
					<a class="btn btn-xs btn--link" href="">Add Standard Section</a>
				</div>
			</div>
<!--			start panel row-->
			<div class="panel panel--container">
				<div class="row flex-row">
					<div class="col-xs-2 col-sm-1 p-r-0">
						<div class="controls bg-off-black flex-row flex-justify-space-between flex-direction-column">
							<div class="controls__item text-center">
								<button class="btn btn-xs btn--transparent text-white"><i class="fas fa-bars"></i></button>
								<button class="btn btn-xs btn--transparent text-white"><i class="far fa-clone"></i></button>
							</div>
							<div class="controls__item text-center">
								<button class="btn btn-xs btn--transparent text-white"><i class="fas fa-times"></i></button>
							</div>
						</div>
					</div>
					<div class="col-xs-10 col-sm-11 col-lg-12 bg-body-color p-t-20 p-b-20">
						<div class="panel__content bg-white">
							<!--start inner section-->
							<div class="row flex-row">
								<div class="col-xs-2 col-sm-1 p-r-0">
									<div class="controls bg-dark-blue flex-row flex-justify-space-between flex-direction-column">
										<div class="controls__item text-center">
											<button class="btn btn-xs btn--transparent text-white"><i class="fas fa-bars"></i></button>
											<button class="btn btn-xs btn--transparent text-white"><i class="far fa-clone"></i></button>
										</div>
										<div class="controls__item text-center">
											<button class="btn btn-xs btn--transparent text-white"><i class="fas fa-times"></i></button>
										</div>
									</div>
								</div>
								<div class="col-xs-10 col-sm-11 col-lg-12 p-l-0">
									<div class="panel__content">
										<div class="row m-0">
											<div class="col-sm-12 p-t-10">
												<!--start inner section-->
												<div class="m-b-0 panel panel--module bg-border flex-row flex-align-center flex-justify-center">
													<div class="controls controls--horizontal controls--footer">
														<a class="btn btn-xs btn--link" href="" data-toggle="modal" data-target="#modalInsertModule"><i class="fas fa-plus-square"></i> Insert Module(s)</a>
													</div>
												</div>
												<div class="controls controls--horizontal controls--footer">
													<a class="btn btn-xs btn--link" href="" data-toggle="modal" data-target="#modalInsertModule"><i class="fas fa-plus-square"></i> Insert Module(s)</a>
												</div>
												<!--start inner section-->
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--start inner section-->
						</div>
					</div>
				</div>
				<div class="controls controls--horizontal controls--footer">
					<a class="btn btn-xs btn--link" href=""><i class="fas fa-plus-square"></i> Add Fullwidth Section</a>
					<a class="btn btn-xs btn--link" href="">Add Standard Section</a>
				</div>
			</div>
<!--			start panel module-->
			<div class="panel panel--container">
				<div class="row flex-row">
					<div class="col-xs-2 col-sm-1 p-r-0">
						<div class="controls bg-off-black flex-row flex-justify-space-between flex-direction-column">
							<div class="controls__item text-center">
								<button class="btn btn-xs btn--transparent text-white"><i class="fas fa-bars"></i></button>
								<button class="btn btn-xs btn--transparent text-white"><i class="far fa-clone"></i></button>
							</div>
							<div class="controls__item text-center">
								<button class="btn btn-xs btn--transparent text-white"><i class="fas fa-times"></i></button>
							</div>
						</div>
					</div>
					<div class="col-xs-10 col-sm-11 col-lg-12 bg-body-color p-t-20 p-b-20">
						<div class="panel__content bg-white">
							<!--start inner section-->
							<div class="row flex-row">
								<div class="col-xs-2 col-sm-1 p-r-0">
									<div class="controls bg-dark-blue flex-row flex-justify-space-between flex-direction-column">
										<div class="controls__item text-center">
											<button class="btn btn-xs btn--transparent text-white"><i class="fas fa-bars"></i></button>
											<button class="btn btn-xs btn--transparent text-white"><i class="far fa-clone"></i></button>
										</div>
										<div class="controls__item text-center">
											<button class="btn btn-xs btn--transparent text-white"><i class="fas fa-times"></i></button>
										</div>
									</div>
								</div>
								<div class="col-xs-10 col-sm-11 col-lg-12 p-l-0">
									<div class="panel__content">
										<div class="row m-0">
											<div class="col-sm-12 p-t-10">
												<div class="m-b-0 panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
													<div class="controls controls--horizontal">
														<div class="controls__item text-center">
															<button class="btn btn-xs btn--transparent text-white" data-toggle="modal" data-target="#modalEditModule"><i class="fas fa-bars"></i></button>
															<button class="btn btn-xs btn--transparent text-white"><i class="far fa-clone"></i></button>
														</div>
													</div>
													<div class="panel__title">Hero Panel</div>
													<div class="controls">
														<div class="controls__item text-center">
															<button class="btn btn-xs btn--transparent text-white"><i class="fas fa-times"></i></button>
														</div>
													</div>
												</div>
												<div class="controls controls--horizontal controls--footer">
													<a class="btn btn-xs btn--link" href="" data-toggle="modal" data-target="#modalInsertModule"><i class="fas fa-plus-square"></i> Insert Module(s)</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--start inner section-->
						</div>
					</div>
				</div>
				<div class="controls controls--horizontal controls--footer">
					<a class="btn btn-xs btn--link" href=""><i class="fas fa-plus-square"></i> Add Fullwidth Section</a>
					<a class="btn btn-xs btn--link" href="">Add Standard Section</a>
				</div>
			</div>
		</div>
	</div>
	<div class="sidebar sidebar--cms bg-body-color">
		<div class="page-options bg-gray-darker">
			<div class="form-group">
				<label class="text-black" for="">Template</label>
				<select class="selectpicker" data-style="form-control form-control--select">
					<option>Single Column Page</option>
					<option>Double Column Page</option>
				</select>
			</div>
			<div class="form-group">
				<label class="text-black" for="">Status</label>
				<select class="selectpicker" data-style="form-control form-control--select">
					<option>Enabled</option>
					<option>Disabled</option>
				</select>
			</div>
			<div class="form-group">
				<button class="btn btn-success">Publish</button>
			</div>
			<div class="form-group">
				<button class="btn btn--blue text-white">Preview</button>
			</div>
		</div>
		<div class="page-options page-options--static">
			<h3 class="page-options__title text-gray">SEO Settings <a href=""><i class="far fa-edit"></i> edit</a></h3>
			<div class="form-group">
				<label class="text-black" for="">Meta Page Title</label>
				<div class="form-control-stac">
					About Us - Cyber-NY, Web Desi...
				</div>
			</div>
			<div class="form-group">
				<label class="text-black" for="">Meta Keywords</label>
				<div class="form-control-stac">
					web, design, new york, ecommerce, development, php, ...
				</div>
			</div>
			<div class="form-group">
				<label class="text-black" for="">Meta Description</label>
				<div class="form-control-stac">
					This is a sample text page Description in paragraph form.  This is a sample text page Description in paragraph form.
				</div>
			</div>
			<div class="form-group">
				<label class="text-black" for="">Campaign Tracking Code</label>
				<div class="form-control-stac">
					none
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modalInsertColumn" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal__dialog modal--lg" role="document">
		<div class="modal__content">
			<div class="modal__header bg-dark-blue">
				<button type="button" class="close bg-darker-blue text-white" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal__title text-white">Modal Title</h4>
			</div>
			<div class="modal__body text-center text-white">
				<?php echo $this->partial('website/modal-column.phtml'); ?>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modalInsertModule" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal__dialog modal--lg" role="document">
		<div class="modal__content">
			<div class="modal__header bg-dark-blue">
				<button type="button" class="close bg-darker-blue text-white" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal__title text-white">Modal Title</h4>
			</div>
			<div class="modal__body text-center text-white">
				<?php echo $this->partial('website/modal-module.phtml'); ?>
			</div>
			<div class="modal__footer bg-gray">
				<button type="button" class="btn btn--gray btn--full-width" data-dismiss="modal">Cancel</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modalEditModule" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal__dialog modal--lg" role="document">
		<div class="modal__content">
			<div class="modal__header bg-dark-blue">
				<button type="button" class="close bg-darker-blue text-white" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal__title text-white">Modal Title</h4>
			</div>
			<div class="modal__body text-center text-black">
				<?php echo $this->partial('website/modal-module-settings.phtml'); ?>
			</div>
			<div class="modal__footer bg-light-purple">
				<button type="button" class="btn btn--purple btn--full-width" data-dismiss="modal">Cancel</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

