<div class="form-horizontal">

	<div class="form-group">
		<div class="col-sm-3">
			<label for="">Input Group Text</label>
		</div>
		<div class="col-sm-9">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Description">
				<span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="far fa-edit"></i></button>
            </span>
			</div><!-- /input-group -->
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-3">
			<label for="">Input Group Text Area</label>
		</div>
		<div class="col-sm-9">
			<div class="input-group input-group--textarea">
				<textarea type="text" class="form-control" placeholder="Description"></textarea>
				<span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="far fa-edit"></i></button>
            </span>
			</div><!-- /input-group -->
		</div>
	</div>

</div>


<div class="form-group">

	<label for="">Input Group Text</label>
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Description">
		<span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="far fa-edit"></i></button>
            </span>
	</div><!-- /input-group -->

</div>

<div class="form-group">
	<label for="">Input Group Text Area</label>

	<div class="input-group input-group--textarea">
		<textarea type="text" class="form-control" placeholder="Description"></textarea>
		<span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="far fa-edit"></i></button>
            </span>
	</div><!-- /input-group -->

</div>
