<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-7">
				<h3>Examples of new Lorem Ipsum generator</h3>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<h4>This is a sample name</h4>
			<hr/>
			<?php echo $this->lorem("name", 2)?>
			<hr/>

			<h4>This is a sample title</h4>
			<hr/>
			<?php echo $this->lorem("title", 3)?>
			<hr/>

			<h4>This is a sample sentance</h4>
			<hr/>
			<?php echo $this->lorem("sentance", 20)?>
			<hr/>

			<h4>This is sample paragraphs</h4>
			<hr/>
			<?php echo $this->lorem("paragraph", 2)?>
			<hr/>

			<h4>This is a sample price</h4>
			<hr/>
			<?php echo $this->lorem("price", 3)?>
			<hr/>

			<h4>This is a sample price (specify format)</h4>
			<hr/>
			<?php echo $this->lorem("price", null, "$1,045.76")?>
			<hr/>

			<h4>This is a sample number</h4>
			<hr/>
			<?php echo $this->lorem("number", 6)?>
			<hr/>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-7">
				<h3>Practical Example (Category Page)</h3>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<h4><?php echo $this->lorem("title", 3)?></h4> <!-- //Category Title -->
			<div class="description">
				<?php echo $this->lorem("paragraph", 2)?> <!-- //Category Description text -->
			</div>
		</div>

		<div class="row">
			<?php for ($i=0; $i<12; $i++) {?>
				<div class="col-xs-6 col-md-4 col-lg-3 border">
					<div class="product__item text-center">
						<div class="product__image">
							<a href="#"><img src="http://placehold.it/350x250" alt="Image" class="img-responsive img-responsive--inline-block"></a>
						</div>
						<div class="product__specs  product__specs--condensed">
							<h3 class="product__title">
								<a href="#" class="text-gray"><?php echo $this->lorem("title",4)?></a>
							</h3>
							<div class="product__price product_price--small">
								<strong>List Price:</strong>
								<strong class="text-strike-thru"><?php echo $this->lorem("price", null, "$645.76")?></strong>
							</div>
							<div class="product__price text-primary"><strong><?php echo $this->lorem("price", null, "$45.76")?></strong></div>
							<div class="product__features">
								<span class="label label-primary">Free Shipping</span>
								<div class="input-group">
									<input type="text" class="form-control" placeholder="0" aria-describedby="add-to-cart">
									<span class="input-group-addon input-group-addon--green" id="add-to-cart">
															<button class="btn btn--green">add to cart</button>
														</span>
								</div>
								<div class="review">
									<div class="review__item">
													<span>
														<i class="fa fa-star text-yellow"></i>
														<i class="fa fa-star text-yellow"></i>
														<i class="fa fa-star text-yellow"></i>
														<i class="fa fa-star text-yellow"></i>
														<i class="fa fa-star-half-full text-yellow"></i>
													</span>
										<a href="">(<?php echo $this->lorem("number",1)?>)</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<?php } ?>
		</div>
		<div class="row">
			<hr/>
			<?php echo $this->lorem("sentance", 20)?> <!-- //Category Summary Sentance -->
		</div>
	</div>
</div>
