<!-- what was inside the modal -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel--module bg-gray">
			<div class="panel__content text-center text-black flex-row flex-align-center flex-justify-space-between">
				<div class="panel__icons">
					<button class="btn btn-xs btn--transparent text-black"><i class="fas fa-bars"></i></button>
					<button class="btn btn-xs btn--transparent text-black"><i class="far fa-clone"></i></button>
				</div>
				<div class="panel__copy">Panel Name Goes Here</div>
				<div>
					<button class="btn btn-xs btn--transparent text-black"><i class="fas fa-times"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel--module bg-gray">
			<div class="panel__content text-center text-black flex-row flex-align-center flex-justify-space-between">
				<div class="panel__icons">
					<button class="btn btn-xs btn--transparent text-black"><i class="fas fa-bars"></i></button>
					<button class="btn btn-xs btn--transparent text-black"><i class="far fa-clone"></i></button>
				</div>
				<div class="panel__copy">Panel Name Goes Here</div>
				<div>
					<button class="btn btn-xs btn--transparent text-black"><i class="fas fa-times"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel--module bg-gray">
			<div class="panel__content text-center text-black flex-row flex-align-center flex-justify-space-between">
				<div class="panel__icons">
					<button class="btn btn-xs btn--transparent text-black"><i class="fas fa-bars"></i></button>
					<button class="btn btn-xs btn--transparent text-black"><i class="far fa-clone"></i></button>
				</div>
				<div class="panel__copy">Panel Name Goes Here</div>
				<div>
					<button class="btn btn-xs btn--transparent text-black"><i class="fas fa-times"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel--module bg-gray">
			<div class="panel__content text-center text-black flex-row flex-align-center flex-justify-space-between">
				<div class="panel__icons">
					<button class="btn btn-xs btn--transparent text-black"><i class="fas fa-bars"></i></button>
					<button class="btn btn-xs btn--transparent text-black"><i class="far fa-clone"></i></button>
				</div>
				<div class="panel__copy">Panel Name Goes Here</div>
				<div>
					<button class="btn btn-xs btn--transparent text-black"><i class="fas fa-times"></i></button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="controls controls--horizontal controls--footer text-left">
			<a class="btn btn-xs btn--link" href="" data-toggle="modal" data-target="#modalInsertModule"><i class="fas fa-plus-square"></i> Insert Module(s)</a>
		</div>
		<hr>
	</div>
</div>
<div class="row text-left">
	<div class="col-sm-3">
		Arrows:
	</div>
	<div class="col-sm-9">
		<div class="form-group">
			<select name="" id="" class="form-control">
				<option value="">Default</option>
				<option value="">Yes</option>
				<option value="">No</option>
			</select>
		</div>
	</div>
</div>
<div class="row text-left">
	<div class="col-sm-3">
		Show Controls:
	</div>
	<div class="col-sm-9">
		<div class="btn-group" id="status" data-toggle="buttons">
			<label class="btn btn-default btn-on active">
				<input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">ON</label>
			<label class="btn btn-default btn-off">
				<input type="radio" value="0" name="multifeatured_module[module_id][status]">OFF</label>
		</div>
	</div>
</div>
<!-- //end what was inside the modal -->
