<!-- what was inside the modal -->
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel--column bg-gray">
			<div class="panel__content text-center text-white">
				<div class="row">
					<div class="col-sm-12">
						<div class="bg-light-blue">1</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel--column bg-gray">
			<div class="panel__content text-center text-white">
				<div class="row">
					<div class="col-sm-6">
						<div class="bg-light-blue">1/2</div>
					</div>
					<div class="col-sm-6">
						<div class="bg-light-blue">1/2</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel--column bg-gray">
			<div class="panel__content text-center text-white">
				<div class="row">
					<div class="col-sm-4">
						<div class="bg-light-blue">1/3</div>
					</div>
					<div class="col-sm-4">
						<div class="bg-light-blue">1/3</div>
					</div>
					<div class="col-sm-4">
						<div class="bg-light-blue">1/3</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel--column bg-gray">
			<div class="panel__content text-center text-white">
				<div class="row">
					<div class="col-sm-3">
						<div class="bg-light-blue">1/4</div>
					</div>
					<div class="col-sm-3">
						<div class="bg-light-blue">1/4</div>
					</div>
					<div class="col-sm-3">
						<div class="bg-light-blue">1/4</div>
					</div>
					<div class="col-sm-3">
						<div class="bg-light-blue">1/4</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel--column bg-gray">
			<div class="panel__content text-center text-white">
				<div class="row">
					<div class="col-sm-8">
						<div class="bg-light-blue">2/3</div>
					</div>
					<div class="col-sm-4">
						<div class="bg-light-blue">1/3</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel--column bg-gray">
			<div class="panel__content text-center text-white">
				<div class="row">
					<div class="col-sm-4">
						<div class="bg-light-blue">1/3</div>
					</div>
					<div class="col-sm-8">
						<div class="bg-light-blue">2/3</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel--column bg-gray">
			<div class="panel__content text-center text-white">
				<div class="row">
					<div class="col-sm-3">
						<div class="bg-light-blue">1/4</div>
					</div>
					<div class="col-sm-9">
						<div class="bg-light-blue">3/4</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel--column bg-gray">
			<div class="panel__content text-center text-white">
				<div class="row">
					<div class="col-sm-9">
						<div class="bg-light-blue">3/4</div>
					</div>
					<div class="col-sm-3">
						<div class="bg-light-blue">1/4</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel--column bg-gray">
			<div class="panel__content text-center text-white">
				<div class="row">
					<div class="col-sm-6">
						<div class="bg-light-blue">1/2</div>
					</div>
					<div class="col-sm-3">
						<div class="bg-light-blue">1/4</div>
					</div>
					<div class="col-sm-3">
						<div class="bg-light-blue">1/4</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel--column bg-gray">
			<div class="panel__content text-center text-white">
				<div class="row">
					<div class="col-sm-3">
						<div class="bg-light-blue">1/4</div>
					</div>
					<div class="col-sm-3">
						<div class="bg-light-blue">1/4</div>
					</div>
					<div class="col-sm-6">
						<div class="bg-light-blue">1/2</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel--column bg-gray">
			<div class="panel__content text-center text-white">
				<div class="row">
					<div class="col-sm-3">
						<div class="bg-light-blue">1/4</div>
					</div>
					<div class="col-sm-6">
						<div class="bg-light-blue">1/2</div>
					</div>
					<div class="col-sm-3">
						<div class="bg-light-blue">1/4</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="panel panel--column bg-gray">
			<div class="panel__content text-center text-white">
				<div class="row">
					<div class="bg-light-blue">Full Width</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //end what was inside the modal -->
