<!-- what was inside the modal -->
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel--module bg-green">
			<div class="panel__content text-center text-white flex-row flex-align-center flex-justify-space-between">
				<div class="panel__icons">
					<i class="fa fa-angle-left"></i>
					<i class="fa fa-picture-o"></i>
					<i class="fa fa-angle-right"></i>
				</div>
				<div class="panel__copy">Hero Panel - Image Slider</div>
				<div>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel--module bg-green">
			<div class="panel__content text-center text-white flex-row flex-align-center flex-justify-space-between">
				<div class="panel__icons">
					<i class="fa fa-picture-o"></i>
				</div>
				<div class="panel__copy">Static Image Hero Panel</div>
				<div>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel--module bg-green">
			<div class="panel__content text-center text-white flex-row flex-align-center flex-justify-space-between">
				<div class="panel__icons">
					<i class="fa fa-square-o"></i>
					<i class="fa fa-square-o"></i>
					<i class="fa fa-square-o"></i>
				</div>
				<div class="panel__copy">Carousel</div>
				<div>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel--module bg-green">
			<div class="panel__content text-center text-white flex-row flex-align-center flex-justify-space-between">
				<div class="panel__icons">
					<i class="fa fa-list-alt"></i>
				</div>
				<div class="panel__copy">Text Block</div>
				<div>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel--module bg-green">
			<div class="panel__content text-center text-white flex-row flex-align-center flex-justify-space-between">
				<div class="panel__icons">
					<i class="fa fa-th"></i>
				</div>
				<div class="panel__copy">Image Gallery</div>
				<div>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel--module bg-green">
			<div class="panel__content text-center text-white flex-row flex-align-center flex-justify-space-between">
				<div class="panel__icons">
					<i class="fa fa-square"></i>
				</div>
				<div class="panel__copy">Banner</div>
				<div>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel--module bg-green">
			<div class="panel__content text-center text-white flex-row flex-align-center flex-justify-space-between">
				<div class="panel__icons">
					<i class="fa fa-play"></i>
				</div>
				<div class="panel__copy">Video</div>
				<div>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="panel panel--module bg-green">
			<div class="panel__content text-center text-white flex-row flex-align-center flex-justify-space-between">
				<div class="panel__icons">
					<i class="fa fa-angle-left"></i>
					<i class="fa fa-angle-right"></i>
				</div>
				<div class="panel__copy">Custom Code Insert</div>
				<div>
					<i class="fa fa-plus"></i>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- //end what was inside the modal -->
