<?php
//if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-xs-12 text-right">
				<a class="btn btn-default xs-100 m-r-10" href="/admin/cms/page-add">Back</a>
				<a class=" btn btn-primary xs-100" href="/admin/cms/page-add">Add New Menu</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row m-b-30">
			<div class="col-sm-4 col-lg-3">
				<h3 class="text-dark-blue">Main Navigation Menu</h3>
			</div>
			<div class="col-sm-8 col-lg-9">
				<a class="pull-right btn btn-primary xs-100" href="">Add Link to External Page</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped table-sub-nav">
					<thead>
					<tr>
						<th class="text-dark-blue">Arrange</th>
						<th class="col-sm-9"><a href="/admin/cms/page-list/sort/title/dir/<?php echo $dir?>">Page Title</a></th>
						<th class="text-center text-dark-blue">Visibility</th>
						<th class="hidden-xs text-center text-dark-blue">Edit Page</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<td class="text-dark-blue p-l-30"><i class="fa fa-arrows"></i></td>
						<td><a href="javascript:">Home Page</a></td>
						<td class="text-center visibility-controls"><a class="btn btn-link p-0" href=""><i class="far fa-desktop"></i></a> <a class="btn btn-link p-0" href="" disabled="disabled"><i class="far fa-mobile"></i></a></td>
						<td class="hidden-xs text-center"><a href="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
					<tr class="sub-nav-parent">
						<td class="text-dark-blue p-l-30"><i class="fa fa-arrows"></i></td>
						<td class="text-dark-blue">
							<a class="trigger-sub-nav" href="javascript:">About Us</a>
							<span class="fa fa-angle-right m-l-5"></span>
						</td>
						<td class="text-center visibility-controls"><a class="btn btn-link p-0" href=""><i class="far fa-desktop"></i></a> <a class="btn btn-link p-0" href="" disabled="disabled"><i class="far fa-mobile"></i></a></td>
						<td class="hidden-xs text-center"><a href="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
					<tr class="sub-nav">
						<td class="text-dark-blue p-l-30"><i class="fa fa-arrows"></i></td>
						<td>
							<a class="p-l-30" href="">Web Development</a>
						</td>
						<td class="text-center visibility-controls"><a class="btn btn-link p-0" href=""><i class="far fa-desktop"></i></a> <a class="btn btn-link p-0" href="" disabled="disabled"><i class="far fa-mobile"></i></a></td>
						<td class="hidden-xs text-center"><a href="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
					<tr class="sub-nav">
						<td class="text-dark-blue p-l-30"><i class="fa fa-arrows"></i></td>
						<td>
							<a class="p-l-30" href="">Design</a>
						</td>
						<td class="text-center visibility-controls"><a class="btn btn-link p-0" href=""><i class="far fa-desktop"></i></a> <a class="btn btn-link p-0" href="" disabled="disabled"><i class="far fa-mobile"></i></a></td>
						<td class="hidden-xs text-center"><a href="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
					<tr class="sub-nav-parent">
						<td class="text-dark-blue p-l-30"><i class="fa fa-arrows"></i></td>
						<td class="text-dark-blue">
							<a class="trigger-sub-nav" href="javascript:">Blog</a>
							<span class="fa fa-angle-right m-l-5"></span>
						</td>
						<td class="text-center visibility-controls"><a class="btn btn-link p-0" href=""><i class="far fa-desktop"></i></a> <a class="btn btn-link p-0" href="" disabled="disabled"><i class="far fa-mobile"></i></a></td>
						<td class="hidden-xs text-center"><a href="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
					<tr class="sub-nav">
						<td class="text-dark-blue p-l-30"><i class="fa fa-arrows"></i></td>
						<td>
							<a class="p-l-30" href="javascript:">Sub Nav Item</a>
						</td>
						<td class="text-center visibility-controls"><a class="btn btn-link p-0" href=""><i class="far fa-desktop"></i></a> <a class="btn btn-link p-0" href="" disabled="disabled"><i class="far fa-mobile"></i></a></td>
						<td class="hidden-xs text-center"><a href="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
					<tr class="sub-nav">
						<td class="text-dark-blue p-l-30"><i class="fa fa-arrows"></i></td>
						<td>
							<a class="p-l-30" href="javascript:">Sub Nav Item</a>
						</td>
						<td class="text-center visibility-controls"><a class="btn btn-link p-0" href=""><i class="far fa-desktop"></i></a> <a class="btn btn-link p-0" href="" disabled="disabled"><i class="far fa-mobile"></i></a></td>
						<td class="hidden-xs text-center"><a href="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<script>
	jQuery(function($){
		//$('.table').footable();

	});
	$(function() {
		var $tableSubNav = $('.table-sub-nav');
		$tableSubNav.find('.sub-nav').hide();
		$tableSubNav.find('.sub-nav-parent').on('click','a.trigger-sub-nav', function(){
			//$tableSubNav.find('.sub-nav-parent').not(this).nextUntil('.sub-nav-parent').fadeOut(500);
			$(this).parent().parent().nextUntil('.sub-nav-parent').fadeToggle(500);
			$(this).parent().parent().toggleClass('active');
			//if ( !$(this).is('.active') ) {
			//$(this).addClass('active')
			//}
		});
	});
</script>
