<div class="row">
	<div class="col-sm-12">
		<div class="page-header flex-row flex-align-center flex-justify-space-between">
			<h1>Website Settings</h1>
			<div class="controls controls--horizontal flex-row flex-align-center">
				<div class="controls__item">
					<button class="btn btn--purple">Save</button>
					<button class="btn btn--yellow">Cancel</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="section bg-white p-30" style="min-height: 80vh;">
	<div class="row">
		<div class="col-sm-12">
			<h3 class="box-title">Site Identity:</h3>
		</div>
	</div>
	<div class="row m-b-30">
		<div class="col-sm-6">
			<div class="white-box">
				<form action="" class="form-horizontal">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="" class="col-sm-3 control-label">Logo:</label>
							<div class="col-sm-9">
								<div class="fileinput fileinput-new input-group" data-provides="fileinput">
									<div class="form-control" data-trigger="fileinput"> <i class="fal fa-file fal fa-file-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
									<span class="input-group-addon btn btn-default btn-file"> <span class="fileinput-new">Upload An Image</span> <span class="fileinput-exists">Change</span>
                <input type="file" name="...">
            </span> <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a> </div>
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-3 control-label">Favicon:</label>
							<div class="col-sm-9">
								<div class="fileinput fileinput-new input-group" data-provides="fileinput">
									<div class="form-control" data-trigger="fileinput"> <i class="fal fa-file fal fa-file-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
									<span class="input-group-addon btn btn-black btn-file"> <span class="fileinput-new">Upload An Image</span> <span class="fileinput-exists">Change</span>
                <input type="file" name="...">
            </span> <a href="#" class="input-group-addon btn btn-black fileinput-exists" data-dismiss="fileinput">Remove</a> </div>
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-3 control-label">Favicon:</label>
							<div class="col-sm-9">
								<div class="input-group">
									<input type="text" id="example-input2-group2" name="example-input2-group2" class="form-control" placeholder="Email">
									<span class="input-group-btn">
                      <button type="reset" class="btn waves-effect waves-light btn--black">Reset</button>
                      </span> </div>
							</div>
						</div>
					</form>
				</form>
			</div>
		</div>
		<div class="col-sm-6">

		</div>
	</div>
	<div class="row page-options--cms">
		<div class="col-sm-12">
			<h3 class="box-title">Color Palette:</h3>
			<form action="" class="form-color page-options--controls">
				<div class="form-group text-center">
					<label class="display-block" for=""> Accent 1</label>
					<input type="text" class="complex-colorpicker" value="#01a453" />
				</div>
				<div class="form-group text-center">
					<label class="display-block" for=""> Accent 2</label>
					<input type="text" class="complex-colorpicker" value="#f59330" />
				</div>
				<div class="form-group text-center">
					<label class="display-block" for=""> Accent 3</label>
					<input type="text" class="complex-colorpicker" value="#ffffff" />
				</div>
				<div class="form-group text-center">
					<label class="display-block" for=""> Accent 4</label>
					<input type="text" class="complex-colorpicker" value="#959595" />
				</div>
			</form>
		</div>
	</div>
	<hr>
	<div class="row page-options--cms">
		<div class="col-sm-7">
			<h3 class="m-b-0 box-title">H1 Title: Monserrat Bold 30px</h3>
			<h1 class="m-t-0">The quick brown fox jumps over the lazy dog</h1>
		</div>
		<div class="col-sm-5 page-options--controls">
			<div class="form-group flex-grow-1">
				<label>Font</label>
				<div>
					<select class="form-control">
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>Size</label>
				<div>
					<select class="form-control">
						<option>30</option>
						<option>26</option>
						<option>20</option>
						<option>18</option>
						<option>14</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="display-block">Color</label>
				<input type="text" class="complex-colorpicker" value="#01a453" />
			</div>
		</div>
	</div>
	<div class="row page-options--cms">
		<div class="col-sm-7">
			<h3 class="m-b-0 box-title">H2 Title: Monserrat Bold 24px</h3>
			<h2 class="m-t-0">The quick brown fox jumps over the lazy dog</h2>
		</div>
		<div class="col-sm-5 page-options--controls">
			<div class="form-group flex-grow-1">
				<label>Font</label>
				<div>
					<select class="form-control">
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>Size</label>
				<div>
					<select class="form-control">
						<option>30</option>
						<option>26</option>
						<option>20</option>
						<option>18</option>
						<option>14</option>
					</select>
				</div>
			</div>
			<div class="form-group text-center">
				<label class="display-block">Color</label>
				<input type="text" class="complex-colorpicker" value="#424242" />
			</div>
		</div>
	</div>
	<div class="row page-options--cms">
		<div class="col-sm-7">
			<h3 class="m-b-0 box-title">H3 Title: Monserrat Bold 21px</h3>
			<h3 class="m-t-0">The quick brown fox jumps over the lazy dog</h3>
		</div>
		<div class="col-sm-5 page-options--controls">
			<div class="form-group flex-grow-1">
				<label>Font</label>
				<div>
					<select class="form-control">
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>Size</label>
				<div>
					<select class="form-control">
						<option>30</option>
						<option>26</option>
						<option>20</option>
						<option>18</option>
						<option>14</option>
					</select>
				</div>
			</div>
			<div class="form-group text-center">
				<label class="display-block">Color</label>
				<input type="text" class="complex-colorpicker" value="#424242" />
			</div>
		</div>
	</div>
	<div class="row page-options--cms">
		<div class="col-sm-7">
			<h3 class="m-b-0 box-title">H4 Title: Monserrat Bold 18px</h3>
			<h4 class="m-t-0">The quick brown fox jumps over the lazy dog</h4>
		</div>
		<div class="col-sm-5 page-options--controls">
			<div class="form-group flex-grow-1">
				<label>Font</label>
				<div>
					<select class="form-control">
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>Size</label>
				<div>
					<select class="form-control">
						<option>30</option>
						<option>26</option>
						<option>20</option>
						<option>18</option>
						<option>14</option>
					</select>
				</div>
			</div>
			<div class="form-group text-center">
				<label class="display-block">Color</label>
				<input type="text" class="complex-colorpicker" value="#01a453" />
			</div>
		</div>
	</div>
	<div class="row page-options--cms">
		<div class="col-sm-7">
			<h3 class="m-b-0 box-title">Body: Monserrat Bold 14px</h3>
			<p class="m-t-0">The quick brown fox jumps over the lazy dog</p>
		</div>
		<div class="col-sm-5 page-options--controls">
			<div class="form-group flex-grow-1">
				<label>Font</label>
				<div>
					<select class="form-control">
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
						<option>Monstserrat Bold</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label>Size</label>
				<div>
					<select class="form-control">
						<option>30</option>
						<option>26</option>
						<option>20</option>
						<option>18</option>
						<option>14</option>
					</select>
				</div>
			</div>
			<div class="form-group text-center">
				<label class="display-block">Color</label>
				<input type="text" class="complex-colorpicker" value="#01a453" />
			</div>
		</div>
	</div>
	<hr>
	<div class="row page-options--cms">
		<div class="col-sm-12">
			<h3 class="box-title">Link Styles:</h3>
			<form action="" class="form-color page-options--controls">
				<div class="form-group text-center">
					<label class="display-block" for=""> Link Color</label>
					<input type="text" class="complex-colorpicker" value="#01a453" />
				</div>
				<div class="form-group text-center">
					<label class="display-block" for=""> Active Color</label>
					<input type="text" class="complex-colorpicker" value="#f59330" />
				</div>
				<div class="form-group text-center">
					<label class="display-block" for=""> Visited color</label>
					<input type="text" class="complex-colorpicker" value="#ffffff" />
				</div>
			</form>
		</div>
	</div>
	<div class="row page-options--cms">
		<div class="col-sm-4">
			<h3 class="box-title">Link Default State:</h3>
			<div class="form-horizontal">
				<div class="form-group text-center">
					<label class="display-block col-sm-3 text-left" for=""> Bold</label>
					<div class="col-sm-6">
						<div class="btn-group" id="status" data-toggle="buttons">
							<label class="btn btn-default btn-on">
								<input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">ON</label>
							<label class="btn btn-default btn-off active">
								<input type="radio" value="0" name="multifeatured_module[module_id][status]">OFF</label>
						</div>
					</div>
				</div>
			</div>
			<div class="form-horizontal">
				<div class="form-group text-center">
					<label class="display-block col-sm-3 text-left" for="">Underline</label>
					<div class="col-sm-6">
						<div class="btn-group" id="status" data-toggle="buttons">
							<label class="btn btn-default btn-on">
								<input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">ON</label>
							<label class="btn btn-default btn-off active">
								<input type="radio" value="0" name="multifeatured_module[module_id][status]">OFF</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<h3 class="box-title">Link Active State:</h3>
			<div class="form-horizontal">
				<div class="form-group text-center">
					<label class="display-block col-sm-3 text-left" for=""> Bold</label>
					<div class="col-sm-6">
						<div class="btn-group" id="status" data-toggle="buttons">
							<label class="btn btn-default btn-on active">
								<input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">ON</label>
							<label class="btn btn-default btn-off">
								<input type="radio" value="0" name="multifeatured_module[module_id][status]">OFF</label>
						</div>
					</div>
				</div>
			</div>
			<div class="form-horizontal">
				<div class="form-group text-center">
					<label class="display-block col-sm-3 text-left" for="">Underline</label>
					<div class="col-sm-6">
						<div class="btn-group" id="status" data-toggle="buttons">
							<label class="btn btn-default btn-on active">
								<input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">ON</label>
							<label class="btn btn-default btn-off">
								<input type="radio" value="0" name="multifeatured_module[module_id][status]">OFF</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row page-options--cms">
		<div class="col-sm-12">
			<h3 class="box-title">Components:</h3>
		</div>
		<div class="col-sm-5">
			<div class="form-group">
				<label>Menu</label>
				<div>
					<select class="form-control">
						<option>Make a Selection</option>
						<option>Make a Selection</option>
						<option>Make a Selection</option>
						<option>Make a Selection</option>
						<option>Make a Selection</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-sm-7 page-options--controls">
			<div class="form-group flex-grow-1">
				<label>Select a Menu Style:</label>
				<div>
					<select class="form-control">
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
					</select>
				</div>
			</div>
			<div class="form-group text-center">
				<label class="display-block">Color</label>
				<input type="text" class="complex-colorpicker" value="#01a453" />
			</div>
			<div class="form-group">
				<a href="" class="text-blue">Add Custom CSS</a>
			</div>
		</div>
	</div>
	<div class="row page-options--cms">
		<div class="col-sm-5">
			<div class="form-group">
				<label>Field</label>
				<div>
					<input type="text" class="form-control">
				</div>
			</div>
		</div>
		<div class="col-sm-7 page-options--controls">
			<div class="form-group flex-grow-1">
				<label>Select a Menu Style:</label>
				<div>
					<select class="form-control">
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
					</select>
				</div>
			</div>
			<div class="form-group text-center">
				<label class="display-block">Color</label>
				<input type="text" class="complex-colorpicker" value="#01a453" />
			</div>
			<div class="form-group">
				<a href="" class="text-blue">Add Custom CSS</a>
			</div>
		</div>
	</div>
	<div class="row page-options--cms">
		<div class="col-sm-5">
			<div class="form-group">
				<label>Radio Button</label>
				<div>
					<div class="radio radio-info">
						<input type="radio" name="radio" id="radio5" value="option5" checked>
						<label for="radio5"> </label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-7 page-options--controls">
			<div class="form-group flex-grow-1">
				<label>Radio Button Style:</label>
				<div>
					<select class="form-control">
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
					</select>
				</div>
			</div>
			<div class="form-group text-center">
				<label class="display-block">Color</label>
				<input type="text" class="complex-colorpicker" value="#01a453" />
			</div>
			<div class="form-group">
				<a href="" class="text-blue">Add Custom CSS</a>
			</div>
		</div>
	</div>
	<div class="row page-options--cms">
		<div class="col-sm-5">
			<div class="form-group">
				<label>Switch</label>
				<div>
					<div class="btn-group" id="status" data-toggle="buttons">
						<label class="btn btn-default btn-on">
							<input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">ON</label>
						<label class="btn btn-default btn-off active">
							<input type="radio" value="0" name="multifeatured_module[module_id][status]">OFF</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-7 page-options--controls">
			<div class="form-group flex-grow-1">
				<label>Switch Style:</label>
				<div>
					<select class="form-control">
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
					</select>
				</div>
			</div>
			<div class="form-group text-center">
				<label class="display-block">Color</label>
				<input type="text" class="complex-colorpicker" value="#01a453" />
			</div>
			<div class="form-group text-center">
				<label class="display-block">Color</label>
				<input type="text" class="complex-colorpicker" value="#01a453" />
			</div>
			<div class="form-group">
				<a href="" class="text-blue">Add Custom CSS</a>
			</div>
		</div>
	</div>
	<div class="row page-options--cms">
		<div class="col-sm-5">
			<div class="form-group">
				<label>Checkbox</label>
				<div>
					<div class="checkbox checkbox-info">
						<input id="checkbox4" type="checkbox" checked>
						<label for="checkbox4"> </label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-7 page-options--controls">
			<div class="form-group flex-grow-1">
				<label>Checkbox Style:</label>
				<div>
					<select class="form-control">
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
					</select>
				</div>
			</div>
			<div class="form-group text-center">
				<label class="display-block">Color</label>
				<input type="text" class="complex-colorpicker" value="#01a453" />
			</div>
			<div class="form-group text-center">
				<label class="display-block">Color</label>
				<input type="text" class="complex-colorpicker" value="#01a453" />
			</div>
			<div class="form-group">
				<a href="" class="text-blue">Add Custom CSS</a>
			</div>
		</div>
	</div>
	<div class="row page-options--cms">
		<div class="col-sm-5">
			<div class="form-group">
				<label>Button</label>
				<div>
					<button class="btn btn-danger btn-lg btn-block">Button</button>
				</div>
			</div>
		</div>
		<div class="col-sm-7 page-options--controls">
			<div class="form-group flex-grow-1">
				<label>Button Style:</label>
				<div>
					<select class="form-control">
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
					</select>
				</div>
			</div>
			<div class="form-group text-center">
				<label class="display-block">Color</label>
				<input type="text" class="complex-colorpicker" value="#01a453" />
			</div>
			<div class="form-group">
				<a href="" class="text-blue">Add Custom CSS</a>
			</div>
		</div>
	</div>
	<div class="row page-options--cms">
		<div class="col-sm-5">
			<div class="form-group">
				<label>Bullet</label>
				<div>
					&bull;
				</div>
			</div>
		</div>
		<div class="col-sm-7 page-options--controls">
			<div class="form-group flex-grow-1">
				<label>Bullet Style:</label>
				<div>
					<select class="form-control">
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
						<option>Borderless Graphite - Contemporary</option>
					</select>
				</div>
			</div>
			<div class="form-group text-center">
				<label class="display-block">Color</label>
				<input type="text" class="complex-colorpicker" value="#01a453" />
			</div>
			<div class="form-group">
				<a href="" class="text-blue">Add Custom CSS</a>
			</div>
		</div>
	</div>
</div>
<script>
	$(function() {
		$(".complex-colorpicker").asColorPicker({
			hideInput: true
		});

		// Switchery
		var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		$('.js-switch').each(function() {
			new Switchery($(this)[0], $(this).data());

		});
	});
</script>
