<h2>Two Column</h2>
<div class="clearfix mb-xxl mb-s-m">
	<div class="bleed bleed--lg bleed--md">
		<div class="featured-listings-group featured-listings-group--reveal" data-animation-class="featured-listings-group--reveal">
			<div class="featured-listings-group__container">
				<h3 class="featured-listings-group__heading">Location</h3>
				<div class="clearfix">
					<!--					loop starts here-->
					<div class="listing-tile col-sm-6 mb-s-m" data-neighborhood="" data-bedrooms="" data-order="" data-openhouse="" data-region="" tabindex="0">
						<a href="/" class="listing-tile__media" aria-label="#">
							<picture>
								<source srcset="https://goldfarbproperties.com/uploads/_styles/unit-tile-mobile/general/315-17c-kitchen.jpg" media="(max-width: 600px)" aria-label="">
								<img class="image" src="https://goldfarbproperties.com/uploads/_styles/unit-tile/general/315-17c-kitchen.jpg" alt="">
							</picture>
							<div class="spoiler spoiler--top">Neighborhood Name</div>
							<span class="spoiler--bottom">
								<div class="spoiler bottom--box--one">Incentives</div>
								<div class="spoiler bottom--box--two">Open House</div>
						    </span>
						</a>
						<div class="listing-tile__footer" aria-hidden="true">
                            <span class="listing-tile__footer__left">
	                            <span class="price">$3,733 <sup>*</sup></span>
                            </span>
							<span class="listing-tile__footer__right">
                                <span class="rooms">1 BED 1 BATH</span>
                            </span>
						</div>
						<div class="listing-tile__footer__center" aria-hidden="true">
							<span class="property-address">197, 207, 217 Drake Avenue</span>
						</div>
					</div>

					<div class="listing-tile col-sm-6 mb-s-m" data-neighborhood="" data-bedrooms="" data-order="" data-openhouse="" data-region="" tabindex="0">
						<a href="/" class="listing-tile__media" aria-label="#">
							<picture>
								<source srcset="https://goldfarbproperties.com/uploads/_styles/unit-tile-mobile/general/315-17c-kitchen.jpg" media="(max-width: 600px)" aria-label="">
								<img class="image" src="https://goldfarbproperties.com/uploads/_styles/unit-tile/general/315-17c-kitchen.jpg" alt="">
							</picture>
							<div class="spoiler spoiler--top">Neighborhood Name</div>
							<span class="spoiler--bottom">
								<div class="spoiler bottom--box--one">Incentives</div>
								<div class="spoiler bottom--box--two">Open House</div>
						    </span>
						</a>
						<div class="listing-tile__footer" aria-hidden="true">
                            <span class="listing-tile__footer__left">
	                            <span class="price">$3,733 <sup>*</sup></span>
                            </span>
							<span class="listing-tile__footer__right">
                                <span class="rooms">1 BED 1 BATH</span>
                            </span>
						</div>
						<div class="listing-tile__footer__center" aria-hidden="true">
							<span class="property-address">197, 207, 217 Drake Avenue</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<h2>Three Column</h2>
<div class="clearfix mb-xxl mb-s-m">
	<div class="bleed bleed--lg bleed--md">
		<div class="featured-listings-group featured-listings-group--triple featured-listings-group--reveal" data-animation-class="featured-listings-group--reveal">
			<div class="featured-listings-group__container">
				<h3 class="featured-listings-group__heading">Location</h3>
				<div class="clearfix">
					<!--					loop starts here-->
					<div class="listing-tile mb-s-m" data-neighborhood="" data-bedrooms="" data-order="" data-openhouse="" data-region="" tabindex="0">
						<a href="/" class="listing-tile__media" aria-label="#">
							<picture>
								<source srcset="https://goldfarbproperties.com/uploads/_styles/unit-tile-mobile/general/315-17c-kitchen.jpg" media="(max-width: 600px)" aria-label="">
								<img class="image" src="https://goldfarbproperties.com/uploads/_styles/unit-tile/general/315-17c-kitchen.jpg" alt="">
							</picture>
							<div class="spoiler spoiler--top">Neighborhood Name</div>
							<span class="spoiler--bottom">
								<div class="spoiler bottom--box--one">Incentives</div>
								<div class="spoiler bottom--box--two">Open House</div>
						    </span>
						</a>
						<div class="listing-tile__footer" aria-hidden="true">
                            <span class="listing-tile__footer__left">
	                            <span class="price">$3,733 <sup>*</sup></span>
                            </span>
							<span class="listing-tile__footer__right">
                                <span class="rooms">1 BED 1 BATH</span>
                            </span>
						</div>
						<div class="listing-tile__footer__center" aria-hidden="true">
							<span class="property-address">197, 207, 217 Drake Avenue</span>
						</div>
					</div>

					<div class="listing-tile mb-s-m" data-neighborhood="" data-bedrooms="" data-order="" data-openhouse="" data-region="" tabindex="0">
						<a href="/" class="listing-tile__media" aria-label="#">
							<picture>
								<source srcset="https://goldfarbproperties.com/uploads/_styles/unit-tile-mobile/general/315-17c-kitchen.jpg" media="(max-width: 600px)" aria-label="">
								<img class="image" src="https://goldfarbproperties.com/uploads/_styles/unit-tile/general/315-17c-kitchen.jpg" alt="">
							</picture>
							<div class="spoiler spoiler--top">Neighborhood Name</div>
							<span class="spoiler--bottom">
								<div class="spoiler bottom--box--one">Incentives</div>
								<div class="spoiler bottom--box--two">Open House</div>
						    </span>
						</a>
						<div class="listing-tile__footer" aria-hidden="true">
                            <span class="listing-tile__footer__left">
	                            <span class="price">$3,733 <sup>*</sup></span>
                            </span>
							<span class="listing-tile__footer__right">
                                <span class="rooms">1 BED 1 BATH</span>
                            </span>
						</div>
						<div class="listing-tile__footer__center" aria-hidden="true">
							<span class="property-address">197, 207, 217 Drake Avenue</span>
						</div>
					</div>

					<div class="listing-tile mb-s-m" data-neighborhood="" data-bedrooms="" data-order="" data-openhouse="" data-region="" tabindex="0">
						<a href="/" class="listing-tile__media" aria-label="#">
							<picture>
								<source srcset="https://goldfarbproperties.com/uploads/_styles/unit-tile-mobile/general/315-17c-kitchen.jpg" media="(max-width: 600px)" aria-label="">
								<img class="image" src="https://goldfarbproperties.com/uploads/_styles/unit-tile/general/315-17c-kitchen.jpg" alt="">
							</picture>
							<div class="spoiler spoiler--top">Neighborhood Name</div>
							<span class="spoiler--bottom">
								<div class="spoiler bottom--box--one">Incentives</div>
								<div class="spoiler bottom--box--two">Open House</div>
						    </span>
						</a>
						<div class="listing-tile__footer" aria-hidden="true">
                            <span class="listing-tile__footer__left">
	                            <span class="price">$3,733 <sup>*</sup></span>
                            </span>
							<span class="listing-tile__footer__right">
                                <span class="rooms">1 BED 1 BATH</span>
                            </span>
						</div>
						<div class="listing-tile__footer__center" aria-hidden="true">
							<span class="property-address">197, 207, 217 Drake Avenue</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<h2>Odd &amp; Single</h2>
<div class="clearfix mb-xxl mb-s-m">
	<div class="bleed bleed--lg bleed--md bleed--lg--right bleed--md--right bleed--lg--seven bleed--md--seven  bleed--md--seven--right">
		<div class="featured-listings-group featured-listings-group--right featured-listings-group--single featured-listings-group--reveal" data-animation-class="featured-listings-group--reveal">
			<div class="featured-listings-group__container">
				<h3 class="featured-listings-group__heading">Location</h3>
				<div class="clearfix">
					<!--					loop starts here-->
					<div class="listing-tile col-sm-12" data-neighborhood="" data-bedrooms="" data-order="" data-openhouse="" data-region="" tabindex="0">
						<a href="/" class="listing-tile__media" aria-label="#">
							<picture>
								<source srcset="https://goldfarbproperties.com/uploads/_styles/unit-tile-mobile/general/315-17c-kitchen.jpg" media="(max-width: 600px)" aria-label="">
								<img class="image" src="https://goldfarbproperties.com/uploads/_styles/unit-tile/general/315-17c-kitchen.jpg" alt="">
							</picture>
							<div class="spoiler spoiler--top">Neighborhood Name</div>
							<span class="spoiler--bottom">
								<div class="spoiler bottom--box--one">Incentives</div>
								<div class="spoiler bottom--box--two">Open House</div>
						    </span>
						</a>
						<div class="listing-tile__footer" aria-hidden="true">
                            <span class="listing-tile__footer__left">
	                            <span class="price">$3,733 <sup>*</sup></span>
                            </span>
							<span class="listing-tile__footer__right">
                                <span class="rooms">1 BED 1 BATH</span>
                            </span>
						</div>
						<div class="listing-tile__footer__center" aria-hidden="true">
							<span class="property-address">197, 207, 217 Drake Avenue</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<h2>Even &amp; Single</h2>
<div class="clearfix mb-xxl mb-s-m">
	<div class="bleed bleed--lg bleed--md bleed--lg--seven bleed--md--seven">
		<div class="featured-listings-group featured-listings-group--single featured-listings-group--reveal" data-animation-class="featured-listings-group--reveal">
			<div class="featured-listings-group__container">
				<h3 class="featured-listings-group__heading">Location</h3>
				<div class="clearfix">
					<!--					loop starts here-->
					<div class="listing-tile col-sm-12" data-neighborhood="" data-bedrooms="" data-order="" data-openhouse="" data-region="" tabindex="0">
						<a href="/" class="listing-tile__media" aria-label="#">
							<picture>
								<source srcset="https://goldfarbproperties.com/uploads/_styles/unit-tile-mobile/general/315-17c-kitchen.jpg" media="(max-width: 600px)" aria-label="">
								<img class="image" src="https://goldfarbproperties.com/uploads/_styles/unit-tile/general/315-17c-kitchen.jpg" alt="">
							</picture>
							<div class="spoiler spoiler--top">Neighborhood Name</div>
							<span class="spoiler--bottom">
								<div class="spoiler bottom--box--one">Incentives</div>
								<div class="spoiler bottom--box--two">Open House</div>
						    </span>
						</a>
						<div class="listing-tile__footer" aria-hidden="true">
                            <span class="listing-tile__footer__left">
	                            <span class="price">$3,733 <sup>*</sup></span>
                            </span>
							<span class="listing-tile__footer__right">
                                <span class="rooms">1 BED 1 BATH</span>
                            </span>
						</div>
						<div class="listing-tile__footer__center" aria-hidden="true">
							<span class="property-address">197, 207, 217 Drake Avenue</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

