<div class="timeline mb-l-xxl mb-m-xl mb-s-l">
	<button class="button button--large previous" aria-label="Previous - Navigate to the previous slide on the Goldfarb Properties timeline">Previous</button>
	<button class="button button--large next" aria-label="Next - Navigate to the next slide on the Goldfarb Properties timeline">Next</button>

	<div class="timeline-pages">
		<div class="timeline-page timeline-page-0 active">
			<div class="timeline-page__half timeline-page__half--left">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<picture>
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-mobile/building/1160-fifth-avenue-exterior-1.jpg" media="(max-width: 600px)" aria-label="">
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-tablet/building/1160-fifth-avenue-exterior-1.jpg" media="(max-width: 899px)" aria-label="">
							<img src="https://goldfarbproperties.com/uploads/_styles/timeline/building/1160-fifth-avenue-exterior-1.jpg" class="image" alt="Image of Entrance to Goldfarb Properties most Luxurious Building, Upper East Side Manhattan">
						</picture>
					</div>
				</div>
			</div>
			<div class="timeline-page__half timeline-page__half--right">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<div class="timeline-page__header">
							<h2 class="timeline__year">1952</h2>
							<h3 class="timeline__sub-heading">Luxury Apartments in NYC. 151 East 80th Street and 1160 Fifth Avenue</h3>
						</div>
						<p class="timeline__text">The First Generation of the Goldfarb Family Purchases two prewar buildings on the Upper East Side; 151 East 8oth Street and 1160 Fifth Avenue.  These properties are still held by the firm, containing its most luxurious apartments.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="timeline-page timeline-page-1">
			<div class="timeline-page__half timeline-page__half--left">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<picture>
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-mobile/building/pts-exterior.jpg" media="(max-width: 600px)" aria-label="">
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-tablet/building/pts-exterior.jpg" media="(max-width: 899px)" aria-label="">
							<img src="https://goldfarbproperties.com/uploads/_styles/timeline/building/pts-exterior.jpg" class="image" alt="PTS-Exterior ">
						</picture>
					</div>
				</div>
			</div>
			<div class="timeline-page__half timeline-page__half--right">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<div class="timeline-page__header">
							<h2 class="timeline__year">1977</h2>
							<h3 class="timeline__sub-heading">Park Towers South, 315 West 57th Street &amp; 330 West 58th Street</h3>
						</div>
						<p class="timeline__text">Purchased Park Towers South, 315 West 57th Street &amp; 330 West 58th Street.  This flagship building contains both luxury apartments, professional spaces, and exclusive Retail across from Columbus Circle.  Currently the NYC regional office.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="timeline-page timeline-page-2">
			<div class="timeline-page__half timeline-page__half--left">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<picture>
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-mobile/general/roc-high-view-edited.jpg" media="(max-width: 600px)" aria-label="">
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-tablet/general/roc-high-view-edited.jpg" media="(max-width: 899px)" aria-label="">
							<img src="https://goldfarbproperties.com/uploads/_styles/timeline/general/roc-high-view-edited.jpg" class="image" alt="ROC-high-view-edited">
						</picture>
					</div>
				</div>
			</div>
			<div class="timeline-page__half timeline-page__half--right">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<div class="timeline-page__header">
							<h2 class="timeline__year">1979</h2>
							<h3 class="timeline__sub-heading">Wavecrest Gardens - NYC Apartments Rentals And Surrounding Areas.</h3>
						</div>
						<p class="timeline__text">Purchased Wavecrest Gardens – a 1656 apartment community located on the beach with 34 landscaped acres, with an attached 40,000 S/F Shopping center.   Currently the Queens regional office.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="timeline-page timeline-page-3">
			<div class="timeline-page__half timeline-page__half--left">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<picture>
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-mobile/general/hoc-marina.jpg" media="(max-width: 600px)" aria-label="">
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-tablet/general/hoc-marina.jpg" media="(max-width: 899px)" aria-label="">
							<img src="https://goldfarbproperties.com/uploads/_styles/timeline/general/hoc-marina.jpg" class="image" alt="HOC-Marina">
						</picture>
					</div>
				</div>
			</div>
			<div class="timeline-page__half timeline-page__half--right">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<div class="timeline-page__header">
							<h2 class="timeline__year">1985</h2>
							<h3 class="timeline__sub-heading">Harbor and Drake House</h3>
						</div>
						<p class="timeline__text">Purchased Harbor and Drake House 615 units in New Rochelle, NY.  Currently our Westchester regional office. </p>
					</div>
				</div>
			</div>
		</div>
		<div class="timeline-page timeline-page-4">
			<div class="timeline-page__half timeline-page__half--left">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<picture>
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-mobile/general/bronx-3-stock-15.jpg" media="(max-width: 600px)" aria-label="">
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-tablet/general/bronx-3-stock-15.jpg" media="(max-width: 899px)" aria-label="">
							<img src="https://goldfarbproperties.com/uploads/_styles/timeline/general/bronx-3-stock-15.jpg" class="image" alt="Bronx-3-Stock">
						</picture>
					</div>
				</div>
			</div>
			<div class="timeline-page__half timeline-page__half--right">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<div class="timeline-page__header">
							<h2 class="timeline__year">1985</h2>
							<h3 class="timeline__sub-heading">The Bronx</h3>
						</div>
						<p class="timeline__text">1985 – 1991: Purchased 9 properties in the Bronx totaling 14 buildings consisting of over 800 units and 250,000 S/F of Commercial space.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="timeline-page timeline-page-5">
			<div class="timeline-page__half timeline-page__half--left">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<picture>
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-mobile/general/irv-entrance.jpg" media="(max-width: 600px)" aria-label="">
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-tablet/general/irv-entrance.jpg" media="(max-width: 899px)" aria-label="">
							<img src="https://goldfarbproperties.com/uploads/_styles/timeline/general/irv-entrance.jpg" class="image" alt="IRV-Entrance">
						</picture>
					</div>
				</div>
			</div>
			<div class="timeline-page__half timeline-page__half--right">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<div class="timeline-page__header">
							<h2 class="timeline__year">1995</h2>
							<h3 class="timeline__sub-heading">Maple Gardens</h3>
						</div>
						<p class="timeline__text">Purchased Maple Gardens a 1744 unit community in NJ.  Currently the New Jersey regional office.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="timeline-page timeline-page-6">
			<div class="timeline-page__half timeline-page__half--left">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<picture>
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-mobile/building/wavecrest-gardens-entrance.jpg" media="(max-width: 600px)" aria-label="">
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-tablet/building/wavecrest-gardens-entrance.jpg" media="(max-width: 899px)" aria-label="">
							<img src="https://goldfarbproperties.com/uploads/_styles/timeline/building/wavecrest-gardens-entrance.jpg" class="image" alt="Wavecrest Gardens ENTRANCE">
						</picture>
					</div>
				</div>
			</div>
			<div class="timeline-page__half timeline-page__half--right">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<div class="timeline-page__header">
							<h2 class="timeline__year">2002</h2>
							<h3 class="timeline__sub-heading">Wavecrest Gardens</h3>
						</div>
						<p class="timeline__text">Completed construction of a 122 unit building adjacent to the Wavecrest Gardens Property in Far Rockaway.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="timeline-page timeline-page-7">
			<div class="timeline-page__half timeline-page__half--left">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<picture>
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-mobile/general/rsd-river-views.jpg" media="(max-width: 600px)" aria-label="">
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-tablet/general/rsd-river-views.jpg" media="(max-width: 899px)" aria-label="">
							<img src="https://goldfarbproperties.com/uploads/_styles/timeline/general/rsd-river-views.jpg" class="image" alt="RSD-River-Views ">
						</picture>
					</div>
				</div>
			</div>
			<div class="timeline-page__half timeline-page__half--right">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<div class="timeline-page__header">
							<h2 class="timeline__year">2006</h2>
							<h3 class="timeline__sub-heading">Washington Heights and Riverside Drive</h3>
						</div>
						<p class="timeline__text">Purchased two building in Washington heights one on Riverside Drive with River Views. </p>
					</div>
				</div>
			</div>
		</div>
		<div class="timeline-page timeline-page-8">
			<div class="timeline-page__half timeline-page__half--left">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<picture>
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-mobile/general/grc-terrace.jpg" media="(max-width: 600px)" aria-label="">
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-tablet/general/grc-terrace.jpg" media="(max-width: 899px)" aria-label="">
							<img src="https://goldfarbproperties.com/uploads/_styles/timeline/general/grc-terrace.jpg" class="image" alt="GRC-Terrace">
						</picture>
					</div>
				</div>
			</div>
			<div class="timeline-page__half timeline-page__half--right">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<div class="timeline-page__header">
							<h2 class="timeline__year">2011</h2>
							<h3 class="timeline__sub-heading">Grand Concourse</h3>
						</div>
						<p class="timeline__text">2011 – 2014: Purchased two nearly adjacent high-rise buildings on the Grand Concourse performing a gut renovation that created 340 luxury units.  Currently the Bronx regional office.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="timeline-page timeline-page-9">
			<div class="timeline-page__half timeline-page__half--left">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<picture>
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-mobile/building/pelham-park-view-exterior.jpg" media="(max-width: 600px)" aria-label="">
							<source srcset="https://goldfarbproperties.com/uploads/_styles/timeline-tablet/building/pelham-park-view-exterior.jpg" media="(max-width: 899px)" aria-label="">
							<img src="https://goldfarbproperties.com/uploads/_styles/timeline/building/pelham-park-view-exterior.jpg" class="image" alt="Pelham Park View EXTERIOR">
						</picture>
					</div>
				</div>
			</div>
			<div class="timeline-page__half timeline-page__half--right">
				<div class="timeline-page__skewed">
					<div class="timeline-page__content">
						<div class="timeline-page__header">
							<h2 class="timeline__year">2014</h2>
							<h3 class="timeline__sub-heading">Pelham Parkway</h3>
						</div>
						<p class="timeline__text">Purchased a portfolio of over 300 units along the Pelham Parkway.  These properties now set the standard for housing in this excellent neighborhood.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
