.faq {
  border-bottom: 1px solid $gray;
  padding: px2rem($xs-spacing / 2);

  &__label {
    &:hover {
      cursor: pointer;
      cursor: hand;
    }
  }

  &__content {
    padding: px2rem($xs-spacing);
  }
}
