<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary">Search</button>
					<!--
					<label for="" class="checkbox-inline">
						<input type="checkbox" name="csv" value="1" class="exportcheck">
						Export
					</label>
					-->
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-10 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<div class="col-sm-2 col-xs-12">
				<a href="/admin/amenity/add" class="btn btn-primary">Add Amenity</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<th><a href="/admin/amenity/list/sort/name/dir/<?php echo $dir?>">Name</a></th>
						<th class="col-xs-1 text-center">Delete</th>
						<th class="col-xs-1 text-center">Edit</th>
						<!--<th class="text-center">View</th>-->
					</tr>
					</thead>
					<tbody>
					<?php
					foreach($this->list as $key => $val) { ?>
						<tr>
							<td><?php echo $val['name']?></td>
							<td class="text-center hidden-xs"><a href="/admin/amenity/delete/id/<?php echo $val['id']?>" title="Delete" class="confirm-delete"><span class="sr-only">Delete</span><span class="fa fa-minus-circle"></span></a></td>
							<td class="text-center"><a href="/admin/amenity/edit/id/<?php echo $val['id']?>" title="Edit"><span class="sr-only">Edit</span><span class="fa fa-pencil-square-o"></span></a></td>
							<!--<td class="text-center"><a href="/admin/amenity/view/id/<?php echo $val['id']?>" title="View"><span class="sr-only">View </span><span class="fa fa-eye"></span></a></td>-->
						</tr>
						<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {

	});
</script>
