.home-page-hero {
  &:after {
    content: " ";
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 1;
  }

  >div {
    z-index: 2;
  }


}
.home-page .main .d-flex--single.m-b-50 {
  margin-bottom: 0 !important;
}
html {
  @include vw-base;
}

