<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>

<div class="row">
	<div class="col-sm-12">
		<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>
	</div>
</div>

<?php if ($settings_mapper->getValueByCode('faq_page_header')) {?>
	<div class="row">
		<div class="col-sm-12">
			<div class="faq-content__header m-b-20">
				<?php
				echo $settings_mapper->getValueByCode('faq_page_header');
				?>
			</div>
		</div>
	</div>
<?php } ?>

<div class="container m-b-20">
	<?php
	 foreach ($this->tree as $section_id => $data) {
		$section = $data['section'];
		$items = $data['items'];
	?>
	<div class="row m-b-20">
		<div class="col-sm-12">
			<h2><?php echo $section->title?></h2>
			<div class="panel-group" id="accordion-<?php echo $section->id?>" role="tablist" aria-multiselectable="true">
				<?php
				foreach ($items as $item) {
					?>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="item-<?php echo $item->id ?>">
							<h4 class="panel-title">
								<a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion-<?php echo $section->id ?>" href="#collapse-<?php echo $item->id?>" aria-expanded="false" aria-controls="collapse-<?php echo $item->id ?>"">
									<?php echo $item->question?>
								</a>
							</h4>
						</div>
						<div id="collapse-<?php echo $item->id ?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="item-<?php echo $item->id ?>">
							<div class="panel-body">
								<?php echo $item->answer?>
							</div>
						</div>
					</div>
					<?php
				}
				?>
			</div>
		</div>
		<?php if ($this->faq_submission_status == 'Enabled') {?>
		<div class="col-sm-12">
			<a href="#submit-question">Submit a Question</a>
		</div>
		<?php } ?>
	</div>
	<?php } ?>
</div>

<?php if ($this->faq_submission_status == 'Enabled') {?>
<div class="container m-b-20" id="submit-question">
	<div class="row">
		<div class="col-sm-12">
			<h5>Submit a Question</h5>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form method="post" action="/faq/submit" id="submit-question-form">
				<div class="row">
					<div class="form-group col-sm-12">
						<label>Category:</label>
						<?php echo $this->formSelect('data[faq_section_id]', $this->data['faq_section_id'], array('class'=>'form-control','required'=>'required'), array(""=>"")+$this->sections);?>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-12">
						<label>Your Name:</label>
						<input type="text" name="data[name]" class="form-control" value="<?php echo $this->data['name']?>" required>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-12">
						<label>Your Email Address:</label>
						<input type="email" name="data[email]" class="form-control" value="<?php echo $this->data['email']?>" required>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-12">
						<label>Question:</label>
						<textarea name="data[question]" class="form-control" rows="6" required><?php echo $this->data['question']?></textarea>
					</div>
				</div>

				<?php if ($this->faq_captcha_status == 'Enabled' && $this->recaptcha_site_key && $this->recaptcha_secret_key) {?>
					<div class="row">
						<div class="form-group col-sm-12">
							<div class="g-recaptcha" data-sitekey="<?php echo $this->recaptcha_site_key; ?>"></div>
							<label id="g-recaptcha-error" class="error" style="display:none;"></label>
						</div>
					</div>
				<?php } ?>

				<div class="row">
					<div class="form-group col-sm-2">
						<button type="submit" class="btn btn--green btn--cms-default">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<?php } ?>

<?php if ($settings_mapper->getValueByCode('faq_page_footer')) {?>
	<div class="row">
		<div class="col-sm-12">
			<div class="faq-content__footer m-b-20">
				<?php
				echo $settings_mapper->getValueByCode('faq_page_footer');
				?>
			</div>
		</div>
	</div>
<?php } ?>

<script>
	$(document).ready(function(){
		$("#submit-question-form").validate({
			<?php if ($this->faq_captcha_status == 'Enabled' && $this->recaptcha_site_key && $this->recaptcha_secret_key) {?>
			submitHandler: function(form) {
				var response = grecaptcha.getResponse();

				if(response.length == 0) {
					$("#g-recaptcha-error").html("Please complete the reCAPTCHA").show();
				}else {
					form.submit();
				}
			}
			<?php } ?>
		});
	});
</script>

<style>
	.panel-title a {display:block;}
</style>
