<?php if ($this->category->breadcrumb_display_status == 'Enabled' && $this->category->breadcrumb_display_position == 'above_hero') {?>
	<div class="container m-t-20">
		<ol class="breadcrumb breadcrumb--simple">
			<li><a href="/">Home</a></li>
			<li class="active"><?php //echo $this->category->name; ?></li>
		</ol>
	</div>
<?php } ?>


<div class="container">
	<div class="sub_category products--grid m-b-50">
		<?php
		$mapper = new Application_Model_Mapper_Category();
		foreach ($this->categories as $child) {
			if ($child->parent_id) {
				$parent = $mapper->find($child->parent_id);
			}
			?>
			<div class="products--grid__item" data-href="/category/<?php echo ($parent)?"{$parent->code}/":"" ?><?php echo $child->code?>">
				<div class="products__content">
					<div class="products__image">
						<?php if ($child->main_image) {
							$child->main_image_thumb = str_replace("userFiles/uploads", "userThumbs", $child->main_image);
							?>
							<img src="<?php echo ($child->main_image_thumb)?$child->main_image_thumb:''?>" class="img-responsive" title="<?php echo $child->name?>" alt="<?php echo $child->main_image_alt_tag?>">
						<?php }else {?>
							<div class="sub_category-box text-center">
								<a href="/category/<?php echo ($parent)?"{$parent->code}/":"" ?><?php echo $child->code?>"><?php echo $child->name?></a>
							</div>
						<?php } ?>
					</div>
				</div>
			</div>
		<?php } ?>
	</div>

<script>
	$(function () {

	})
</script>
