<?php if ($this->category->breadcrumb_display_status == 'Enabled' && $this->category->breadcrumb_display_position == 'above_hero') {?>
	<div class="container m-t-20">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<?php if ($this->parent_category) {?>
				<li><a href="/category/<?php echo $this->parent_category->code; ?>"><?php echo $this->parent_category->name; ?></a></li>
			<?php } ?>
			<li class="active"><?php echo $this->category->name; ?></li>
		</ol>
	</div>
<?php } ?>

<?php if ($this->category->title_display_status == 'Enabled' && $this->category->title_display_position == 'above_hero') {?>
	<div class="container m-b-20">
		<h2><?php echo $this->category->name; ?></h2>
	</div>
<?php } ?>

<?php
if ($this->category->block_id) {
	$generator = new Cny_Model_HtmlBuild();
	echo $generator->buildPage($this->category->block_id);
}
?>

<?php if ($this->category->breadcrumb_display_status == 'Enabled' && $this->category->breadcrumb_display_position == 'below_hero') {?>
	<div class="container m-t-20">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<?php if ($this->parent_category) {?>
				<li><a href="/category/<?php echo $this->parent_category->code; ?>"><?php echo $this->parent_category->name; ?></a></li>
			<?php } ?>
			<li class="active"><?php echo $this->category->name; ?></li>
		</ol>
	</div>
<?php } ?>

<?php if ($this->category->title_display_status == 'Enabled' && $this->category->title_display_position == 'below_hero') {?>
	<div class="container m-b-20">
		<h2><?php echo $this->category->name; ?></h2>
	</div>
<?php } ?>

<?php if ($this->category->banner_image && $this->category->banner_display_status != 'Disabled') {
	$banner_class = '';
	if (isset($this->category->banner_alignment)) {
		if ($this->category->banner_alignment == 'Center') $banner_class .= "center-block";
		elseif ($this->category->banner_alignment == 'Left') $banner_class .= "pull-left";
		elseif ($this->category->banner_alignment == 'Right') $banner_class .= "pull-right";
	}
	?>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<picture>
					<source class="img-responsive" srcset="<?php echo $this->category->banner_image; ?>" media="(min-width: 768px)" />
					<img src="<?php echo ($this->category->banner_mobile_image)?$this->category->banner_mobile_image:$this->category->banner_image?>" class="img-responsive <?php echo $banner_class?> <?php echo (isset($this->category->banner_force_fullwidth) && $this->category->banner_force_fullwidth == 'Yes')?"force--full-width":""?>" alt="<?php echo htmlentities($this->category->banner_mobile_image_alt_tag)?>">
				</picture>
			</div>
		</div>
	</div>
<?php } ?>

<?php if ($this->category->description && $this->category->description_position == 'Top') {?>
	<div class="container m-b-20">
		<div>
			<?php echo $this->category->description; ?>
		</div>
	</div>
<?php }?>

<form method="get" action="" id="categoryForm" class="form form--categories">
	<input type="hidden" name="list_type" value="<?php echo $this->filters['list_type']?>">

	<div class="container">
		<div class="sub_category products--grid m-b-50">
			<?php
			$mapper = new Application_Model_Mapper_Category();
			foreach ($this->children as $child) {
				if ($child->parent_id) {
					$parent = $mapper->find($child->parent_id);
				}
				?>
				<div class="products--grid__item" data-href="/category/<?php echo ($parent)?"{$parent->code}/":"" ?><?php echo $child->code?>">
					<div class="products__content">
						<div class="products__image">
							<?php if ($child->main_image) {
								$child->main_image_thumb = str_replace("userFiles/uploads", "userThumbs", $child->main_image);
								?>
								<img src="<?php echo ($child->main_image_thumb)?$child->main_image_thumb:''?>" class="img-responsive" title="<?php echo $child->name?>" alt="<?php echo $child->main_image_alt_tag?>">
							<?php }else {?>
								<div class="sub_category-box text-center">
									<a href="/category/<?php echo ($parent)?"{$parent->code}/":"" ?><?php echo $child->code?>"><?php echo $child->name?></a>
								</div>
							<?php } ?>
						</div>
					</div>
				</div>
			<?php } ?>
		</div>
	</div>
</form>

<?php if ($this->category->description && $this->category->description_position == 'Bottom') {?>
	<div class="container m-b-20">
		<div>
			<?php echo $this->category->description; ?>
		</div>
	</div>
<?php }?>
