<?php if ($this->category->breadcrumb_display_status == 'Enabled' && $this->category->breadcrumb_display_position == 'above_hero') {?>
	<div class="container m-t-20">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<?php if ($this->parent_category) {?>
				<li><a href="/category/<?php echo $this->parent_category->code; ?>"><?php echo $this->parent_category->name; ?></a></li>
			<?php } ?>
			<li class="active"><?php echo $this->category->name; ?></li>
		</ol>
	</div>
<?php } ?>

<?php if ($this->category->title_display_status == 'Enabled' && $this->category->title_display_position == 'above_hero') {?>
	<div class="container m-b-20">
		<h2><?php echo $this->category->name; ?></h2>
	</div>
<?php } ?>

<?php
if ($this->category->block_id) {
	$generator = new Cny_Model_HtmlBuild();
	echo $generator->buildPage($this->category->block_id);
}
?>

<?php if ($this->category->breadcrumb_display_status == 'Enabled' && $this->category->breadcrumb_display_position == 'below_hero') {?>
	<div class="container m-t-20">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<?php if ($this->parent_category) {?>
				<li><a href="/category/<?php echo $this->parent_category->code; ?>"><?php echo $this->parent_category->name; ?></a></li>
			<?php } ?>
			<li class="active"><?php echo $this->category->name; ?></li>
		</ol>
	</div>
<?php } ?>

<?php if ($this->category->title_display_status == 'Enabled' && $this->category->title_display_position == 'below_hero') {?>
	<div class="container m-b-20">
		<h2><?php echo $this->category->name; ?></h2>
	</div>
<?php } ?>

<?php if ($this->category->banner_image && $this->category->banner_display_status != 'Disabled') {
	$banner_class = '';
	if (isset($this->category->banner_alignment)) {
		if ($this->category->banner_alignment == 'Center') $banner_class .= "center-block";
		elseif ($this->category->banner_alignment == 'Left') $banner_class .= "pull-left";
		elseif ($this->category->banner_alignment == 'Right') $banner_class .= "pull-right";
	}
	?>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
	        <picture>
		        <source class="img-responsive" srcset="<?php echo $this->category->banner_image; ?>" media="(min-width: 768px)" />
		        <img src="<?php echo ($this->category->banner_mobile_image)?$this->category->banner_mobile_image:$this->category->banner_image?>" class="img-responsive <?php echo $banner_class?> <?php echo (isset($this->category->banner_force_fullwidth) && $this->category->banner_force_fullwidth == 'Yes')?"force--full-width":""?>" alt="<?php echo htmlentities($this->category->banner_mobile_image_alt_tag)?>">
	        </picture>
        </div>
    </div>
</div>
<?php } ?>

<?php if ($this->category->description && $this->category->description_position == 'Top') {?>
	<div class="container m-b-20">
	    <div>
		    <?php echo $this->category->description; ?>
	    </div>
	</div>
<?php }?>

<form method="get" action="" id="categoryForm" class="form form--categories">
	<input type="hidden" name="list_type" value="<?php echo $this->filters['list_type']?>">

	<div class="container">
		<div class="products__filter m-b-30">
			<div class="products__display">
				<?php echo $this->display_count ?>
			</div>
			<div class="products__filter-control">
				<div class="m-r-20 sort-label">
					Sort by:
				</div>
				<?php //echo $this->formSelect('per_page', $this->filters['per_page'], array('class'=>'form-control m-r-20','style'=>'max-width:100px'), array("5"=>"5","10"=>"10","25"=>"25","50"=>"50","100"=>"100"))?>
				<?php echo $this->formSelect('sort_type', $this->filters['sort_type'], array('class'=>'form-control m-r-20',), $this->sort_options)?>

				<div class="text-right flex-row form__view form__view--<?php echo $this->filters['list_type']?>">
					<a href="#" class="form_field m-r-5" data-name="list_type" data-value="grid" data-toggle="tooltip" data-placement="top" title="Grid View"><i class="fal fa-2x fa-th"></i></a>
					<a href="#" class="form_field" data-name="list_type" data-value="list" data-toggle="tooltip" data-placement="top" title="List View"><i class="fal fa-2x fa-th-list"></i></a>
				</div>
			</div>
		</div>

		<?php
		if ($this->filters['list_type'] == 'list') {
			echo $this->partial('category/partials/product_list.phtml', array('products' => $this->products));
		}else {
			echo $this->partial('category/partials/product_grid.phtml', array('products' => $this->products));
		}
		?>

		<div class="row m-t-20">
			<div class="col-sm-12 text-center">
				<?php echo $this->paginationControl($this->products, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</form>

<?php if ($this->category->description && $this->category->description_position == 'Bottom') {?>
	<div class="container m-b-20">
		<div>
			<?php echo $this->category->description; ?>
		</div>
	</div>
<?php }?>

<script>
	$(function () {
		$("#categoryForm select").on("change", function(){
			$("#categoryForm").submit();
		});
		$("#categoryForm .form_field").on("click", function(){
			$("#categoryForm input[name='"+$(this).data("name")+"']").val($(this).data('value'));

			$("#categoryForm").submit();

			return false;
		});
		$('[data-toggle="tooltip"]').tooltip();
	})
</script>
