<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<?php if ($this->has_analytics) { ?>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	<script type="text/javascript">
		var area_chart_options = {
			chartArea:{left:35,top:20,width:'100%',height:'200'},
			width: '100%', height: 300,
			curveType: 'function',
			legend: {position:'bottom'},
			pointSize: 6,
			fontSize: '11'
		};
		var column_chart_options = {
			chartArea:{left:10,top:30,width:'100%',height:'150'},
			width: '100%', height: 240,
			legend: {position:'top'},
			pointSize: 6,
			fontSize: '11'
		};
		var line_chart_options = {
			width: '100%', height: 240,
			curveType: 'function',
			legend: {position:'top'},
			pointSize: 6,
			fontSize: '11'
		};
		var pie_chart_options = {
			width: '300', height: '300', left:0, top:0, is3D: false, legend: {position:'top'}
		};
		var table_options = {
			chartArea:{left:0,top:0,width:'100%',height:'100%'},
			width: '100%', height: '100%', allowHtml: true
		};
		google.charts.load('current', {'packages':['corechart','line','bar']});
		google.charts.setOnLoadCallback(drawChart);
		function drawChart() {
			// overview
			var formdata = $("form[name=overview]").serialize();
			var jsonData = $.ajax({
				url: "/admin/analytics/overview",
				dataType: "json",
				data: formdata,
				async: false
			}).responseText;

			// Create our data table out of JSON data loaded from server.
			var data = new google.visualization.DataTable(jsonData);

			// Instantiate and draw our chart, passing in some options.
			var chart = new google.visualization.ColumnChart(document.getElementById('overview'));
			chart.draw(data, line_chart_options);
			drawAnalyticsCharts();
		}
	</script>

	<form class="form-inline" name="overview" action="/admin/analytics/overview">
		<input type="hidden" name="dimension" value="ga:date" />
		<div class="row">
			<div class="white-box">
				<div class="row m-b-20">
					<div class="col-sm-6">
						<h2>Overview</h2>
					</div>
					<div class="col-sm-6 text-right">
						<div class="form-group">
							<input type="text" class="form-control datepicker_startdate" id="startdate" value="<?php echo $this->startdate; ?>" aria-describedby="basic-addon3" name="startdate" placeholder="startdate">
							<input type="text" class="form-control datepicker_enddate" id="enddate" value="<?php echo $this->enddate; ?>" aria-describedby="basic-addon3" name="enddate" placeholder="enddate">
							<button type="submit" class="btn btn-default btn-lg">
								<span class="fal fa-file fal fa-file-search" aria-hidden="true"></span> Go
							</button>
						</div>
					</div>
				</div>
				<div class="row flex-row-sm flex-wrap-sm">
					<?php echo $this->partialLoop('partials/dashboard-widgets.phtml', $this->dashboard_widgets); ?>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="white-box">
				<div id="overview"></div>
			</div>
		</div>
	</form>
	<script>
		$(function() {
			$( ".datepicker_startdate" ).datepicker({
				dateFormat: 'yy-mm-dd',
				maxDate: "Today",
				minDate: "-1y"
			});
			$( ".datepicker_enddate" ).datepicker({
				dateFormat: 'yy-mm-dd',
				maxDate: "Today",
				minDate: "-1y"
			});
		});
		var debugstr = '';
		function testreports() {
			for (i=0; i<ga_reports.length; i++) {
				debugstr += ga_reports[i] + "\n";
			}
			//alert(debugstr);
		}
		function drawAnalyticsCharts() {
			for (i=0; i<ga_reports.length; i++) {
				drawAnalyticsChart(ga_reports[i], i);
			}
		}
		function drawAnalyticsChart(section = 'overview', box_number = 0) {
			var formdata = $("form[name=overview]").serialize();
			var chart_options = column_chart_options;
			formdata += "&metric=" + section;
			var jsonData = $.ajax({
				url: "/admin/analytics/details",
				dataType: "json",
				data: formdata,
				async: false
			}).responseText;

			// Create our data table out of JSON data loaded from server.
			var data = new google.visualization.DataTable(jsonData);

			// Instantiate and draw our chart, passing in some options.
			var chart = new google.visualization.ColumnChart(document.getElementById('analytics_'+box_number));
			chart.draw(data, column_chart_options);
		}

		$(document).ready(function () {
			$("form[name=overview]").on('submit', function (event) {
				event.preventDefault();
				drawChart();
				return false;
			});

			$('.datepicker').datepicker({
				dateFormat: "yy-mm-dd"
			});
		});
	</script>

<?php } else { ?>
	<div class="m-b-30 row">
		<div class="welcome-screen m-b-30">
			<h1 class="text-center">Welcome to LOGIC</h1>
			<div class="welcome-screen__item">
				<div class="welcome-screen__content">
					<h2>Add Google Analytics</h2>
					<img class="img-responsive center-block" src="/admin_skin/assets/images/dashboard/image-ga.jpg" alt="">
					<p>Connect LOGIC to Google Analytics to track website statics and user activity.  Create or login to an account at
						<a href="https://analytics.google.com/" target="_blank">Google Analyics</a> to add your website and get the tracking code.  Then add your tracking code to LOGIC using the button below or going to the Marketing tab.</p>
					<div class="btn-group-block">
						<a href="/admin/settings/seo" class="btn btn-block btn-primary">Add Tracking Code</a>
					</div>
				</div>
			</div>
			<div class="welcome-screen__item">
				<div class="welcome-screen__content">
					<h2>Configure the Analytics Dashboard</h2>
					<img class="img-responsive center-block" src="/admin_skin/assets/images/dashboard/image-ga-id.jpg" alt="">
					<p>Add an analytics display directly to your dashboard by connecting LOGIC to your Google account.  Here are the steps:</p>
					<ol>
						<li>Login to your Google Analytics account <a href="https://analytics.google.com/" target="_blank">here</a>.</li>
						<li>Go to Admin Settings > <a href="/admin/users/list">User Management</a></li>
						<li>Add the following email address as a user:<br>
							<a href="/admin/users/list"><span class="text-primary">admin-dashboard-apps@cnyprojects-165319.iam.gserviceaccount.com</span></a></li>
						<li>Go to Admin Settings > <a href="/admin/settings/seo">View Settings</a> and copy the View ID.</li>
						<li>Add the View ID to the LOGIC marketing tab within SEO Settings.</li>
					</ol>
					<div class="btn-group-block">
						<a href="/admin/settings/seo" class="btn btn-block btn-primary">Add Google View ID</a>
					</div>
				</div>
			</div>
			<div class="welcome-screen__item">
				<div class="welcome-screen__content">
					<h2>Knowledge Center</h2>
					<img class="img-responsive center-block" src="/admin_skin/assets/images/dashboard/image-knowledge.jpg" alt="">
					<div class="btn-group-block">
						<a href="javascript:void(0)" class="btn btn-block btn-primary js-trigger-intro">Take a Tour</a>
						<a href="https://8c75b3ed63f6faaae7aa-12010748862db1aaadaf12efaeb162f7.ssl.cf2.rackcdn.com/LOGIC_User_Guide.pdf" target="_blank" class="btn btn-block btn-primary">View User Guide</a>
						<a href="https://logic-cms.com/support" target="_blank" class="btn btn-block btn-primary">Watch a Video</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<?php } ?>
<!-- Show the DIV if either the Commerce or the Video Platform section is enabled and has records -->
<?php
$showOrders = false;
$showVideo = false;
$orderClass = '';
$salesClass = '';
if ($this->ecomm_status == 'Enabled' && $this->orders){
	$showOrders = true;
	$orderClass = 'active';
}
if ($this->video_platform_status == 'Enabled' && $this->videosales_mtd){
	$showVideo = true;

	//Set the initial class value for the video tab in case Order is disabled
	$videoClass = $showOrders ? '':'active';
	//If both Commerce and Video platform are enabled, set the Sales tab class to enable
	$salesClass = $orderClass ? 'active':'';
	//Set orderClasss to blank if the sales tab is default
	$orderClass = $salesClass ? '':'active';
}

if ($showOrders || $showVideo) {?>
	<div class="row" id="top_chart">
		<div class="white-box">
			<div class="row">
				<div class="col-sm-12">
					<ul class="nav nav-tabs" role="tablist">
						<!--Show if both Commerce and Video Platform plugins are enabled-->
						<?php if ($showOrders && $showVideo) { ?>
							<li role="presentation" class="<?php echo $salesClass; ?>" ><a href="#combine-mtd-tab" aria-controls="combine-mtd-tab" role="tab" data-toggle="tab">Sales</a></li>

						<?php } ?>
						<!--Show if Commerce plugin( Order ) is enabled-->
						<?php if ($showOrders) { ?>
							<li role="presentation" class="<?php echo $orderClass; ?>"><a href="#sales-mtd-tab" aria-controls="sales-mtd-tab" role="tab" data-toggle="tab">Merchandise</a></li>
							<!--<li role="presentation"><a href="#sales-year-tab" aria-controls="sales-year-tab" role="tab" data-toggle="tab">Sales - Past 12 Months</a></li>-->
						<?php } ?>
						<!--Show if Video Platform plugin is enabled-->
						<?php if ($showVideo) { ?>
							<li role="presentation" class="<?php echo $videoClass; ?>"><a href="#video-mtd-tab" aria-controls="video-mtd-tab" role="tab" data-toggle="tab">Video</a></li>

						<?php } ?>

					</ul>

					<div class="tab-content">
						<?php if ($showOrders && $showVideo) { ?>
							<div role="tabpanel" class="tab-pane <?php echo $salesClass; ?> " id="combine-mtd-tab">
								<form method="get" action="/admin/#combine-mtd-tab">
									<div class="row m-t-20">
										<div class="col-sm-6">
											<h2>Sales - <?php echo $this->chart_title?> ($<?php echo number_format($this->combine_sales_total,2)?>)</h2>
										</div>
										<div class="col-sm-6">
											<div class="flex-auto-fit">
												<div class="flex-auto-fit__item form-group col-sm-4">
													<label>Date Range:</label>
													<?php echo $this->formSelect('date_range', $this->date_range, array('class'=>'form-control'), $this->date_ranges)?>
												</div>
												<div class="flex-auto-fit__item form-group col-sm-4" id="start_date" style="display: none;">
													<label>From Date:</label>
													<input type="text" name="date_from" id="date_from" class="form-control datepicker" value="<?php echo $this->date_from?>">
												</div>
												<div class="flex-auto-fit__item form-group col-sm-4" id="end_date" style="display: none;white-space: nowrap;">
													<label>To Date:</label>
													<input type="text" name="date_to" id="date_to" class="form-control datepicker" value="<?php echo $this->date_to?>">

													<div class="text-right">
														<button type="submit" class="btn btn-default">Go</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>

								<div id="combine-sales-mtd"></div>
							</div>
						<?php } ?>

						<?php if ($showOrders) { ?>
							<div role="tabpanel" class="tab-pane <?php echo $orderClass; ?>" id="sales-mtd-tab">
								<form method="get" action="/admin/#sales-mtd-tab">
									<div class="row m-t-20">
										<div class="col-sm-6">
											<h2>Merchandise - <?php echo $this->chart_title?> ($<?php echo number_format($this->sales_mtd_total,2)?>)</h2>
										</div>
										<div class="col-sm-6">
											<div class="flex-auto-fit">
												<div class="flex-auto-fit__item form-group col-sm-4">
													<label>Date Range:</label>
													<?php echo $this->formSelect('date_range', $this->date_range, array('id'=>'date_range_merchandise', 'class'=>'form-control'), $this->date_ranges)?>
												</div>
												<div class="flex-auto-fit__item form-group col-sm-4" id="start_date_merchandise" style="display: none">
													<label>From Date:</label>
													<input type="text" name="date_from" id="date_from_merchandise" class="form-control datepicker" value="<?php echo $this->date_from?>">
												</div>
												<div class="flex-auto-fit__item form-group col-sm-4" id="end_date_merchandise" style="display: none;white-space: nowrap;">
													<label>To Date:</label>
													<input type="text" name="date_to" id="date_to_merchandise" class="form-control datepicker" value="<?php echo $this->date_to?>">

													<div class="text-right">
														<button type="submit" class="btn btn-default">Go</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>

								<div id="sales-mtd"></div>
							</div>
						<?php } ?>

						<!--<div role="tabpanel" class="tab-pane" id="sales-year-tab">
							<h2>Sales - Past 12 Months ($<?php /*echo number_format($this->sales_year_total,2)*/?>)</h2>
							<div id="sales-year"></div>
						</div>-->

						<?php if ($showVideo) { ?>
							<div role="tabpanel" class="tab-pane <?php echo $videoClass; ?>" id="video-mtd-tab">
								<form method="get" action="/admin/#video-mtd-tab">
									<div class="row m-t-20">
										<div class="col-sm-6">
											<h2>Video - <?php echo $this->chart_title?> ($<?php echo number_format($this->videosales_mtd_total,2)?>)</h2>
										</div>
										<div class="col-sm-6">
											<div class="flex-auto-fit">
												<div class="flex-auto-fit__item form-group col-sm-4">
													<label>Date Range:</label>
													<?php echo $this->formSelect('date_range', $this->date_range, array('id'=>'date_range_video', 'class'=>'form-control'), $this->date_ranges)?>
												</div>
												<div class="flex-auto-fit__item form-group col-sm-4" id="start_date_video" style="display: none">
													<label>From Date:</label>
													<input type="text" name="date_from" id="date_from_video" class="form-control datepicker" value="<?php echo $this->date_from?>">
												</div>

												<div class="flex-auto-fit__item form-group col-sm-4" id="end_date_video" style="display: none;white-space: nowrap;">
													<label>To Date:</label>
													<input type="text" name="date_to" id="date_to_video" class="form-control datepicker" value="<?php echo $this->date_to?>">

													<div class="text-right">
														<button type="submit" class="btn btn-default">Go</button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>

								<div id="video-sales-mtd"></div>
							</div>
						<?php } ?>

					</div>
				</div>
			</div>
		</div>
	</div>

	<?php if ($this->orders) { ?>
		<div class="row">
			<div class="white-box">
				<div class="row">
					<div class="col-sm-12">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a href="#products-month-tab" aria-controls="products-month-tab" role="tab" data-toggle="tab">Top Products - Past Month</a></li>
							<li role="presentation"><a href="#products-year-tab" aria-controls="products-year-tab" role="tab" data-toggle="tab">Top Products - All Time</a></li>
						</ul>

						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="products-month-tab">
								<h2>Top Products - Past Month</h2>
								<div id="products-month"></div>
							</div>
							<div role="tabpanel" class="tab-pane" id="products-year-tab">
								<h2>Top Products - All Time</h2>
								<div id="products-year"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" id="recent">
			<div class="white-box">
				<div class="row">
					<div class="col-sm-8">
						<h2>Recent Orders</h2>
					</div>
					<!--<div class="col-sm-4">
						<div class="view-navigation pull-right">
							<a class="btn btn-default btn-sm" href="/admin/order/list"><span class="fal fa-angle-right"></span> View More</a>
						</div>
					</div>-->
				</div>
				<div class="row">
					<div class="col-sm-12">
						<table class="table table-striped">
							<thead>
							<tr>
								<th>ID</th>
								<th>Date</th>
								<th>Name</th>
								<th>Amount</th>
								<th class="text-center">View</th>
							</tr>
							</thead>
							<tbody>
							<?php
							foreach($this->orders as $key => $val) {
								?>
								<tr>
									<?php if($val['order_type'] == 'Order'){ ?>
										<td><a href="/admin/order/view/id/<?php echo $val['id']?>?return_to=dashboard "><?php echo $val['id']?></a></td>
									<?php } elseif($val['order_type'] == 'VideoOrder'){ ?>
										<td><a href="/admin/video-transaction/view/id/<?php echo $val['id']?>?return_to=dashboard ">V<?php echo $val['id']?></a></td>
									<?php }?>
									<td><?php echo ($val['created'] != 0) ? $this->UTCtoTZ($val['created'],"n/j/Y g:ia",$this->site_timezone) : ""?></td>
									<td><?php echo $val['last_name'].', '.$val['first_name']?></td>
									<td>$<?php echo ($val['total_amount'])?$val['total_amount']:'0.00'?></td>
									<?php if(isset($val['orderID'])){ ?>
										<td class="text-center"><a href="/admin/order/view/id/<?php echo $val['id']?>?return_to=dashboard " title="View"><span class="sr-only">View </span><span class="far fa-eye"></span></a></td>
									<?php } else{ ?>
										<td class="text-center"><a href="/admin/video-transaction/view/id/<?php echo $val['id']?>?return_to=dashboard " title="View"><span class="sr-only">View </span><span class="far fa-eye"></span></a></td>
									<?php }?>
								</tr>

								<?php
							}
							?>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	<?php } ?>
	<script>
		var monthNames = new Array("January","Febuary","March","April","May","June","July","August","September","October","November","December");

		var activatedTabs = new Array();

		$(document).ready(function() {
			//Sales tab
			$('#date_range').on('change',
				function() {
					var val = $(this).val();

					if (val == 'custom_date_range') {
						$('#start_date').show();
						$('#end_date').show();
					} else{
						$('#start_date').hide();
						$('#end_date').hide();

						$("#combine-mtd-tab form").submit();
					}
				});

			//Merchandise tab
			$('#date_range_merchandise').on('change',
				function() {
					var val = $(this).val();

					if (val == 'custom_date_range') {
						$('#start_date_merchandise').show();
						$('#end_date_merchandise').show();
					} else{
						$('#start_date_merchandise').hide();
						$('#end_date_merchandise').hide();

						$("#sales-mtd-tab form").submit();
					}
				});

			//Video tab
			$('#date_range_video').on('change',
				function() {
					var val = $(this).val();

					if (val == 'custom_date_range') {
						$('#start_date_video').show();
						$('#end_date_video').show();
					} else{
						$('#start_date_video').hide();
						$('#end_date_video').hide();

						$("#video-mtd-tab form").submit();
					}
				});


			//find or set the active tabs so we can display the charts
			setTimeout(function(){
				$('a.active[data-toggle="tab"]').each(function(){
					var activeTab = $(this).attr("href").substring(1,$(this).attr("href").length);

					if (activatedTabs.indexOf(activeTab) == -1) {
						activatedTabs.push(activeTab);
						if (activeTab == 'sales-year-tab') {
							//Sales - past year
							salesPastYearChart();
							topProductsChart();
						} else if (activeTab == 'video-mtd-tab') {
							//Video Sales - Month to Date
							videoSalesChart();
							topProductsChart();
						} else if (activeTab == 'sales-mtd-tab') {
							//Sales - Month to Date
							salesMTDChart();
							topProductsChart();
						} else if (activeTab == 'combine-mtd-tab') {
							//combined Sales - Month to Date
							combinedSalesMTDChart();
							topProductsChart();
						} else if (activeTab == 'products-month-tab') {
							//Top Products - Past Month (default so can stay outside of tab toggle)
							topProductsChart();
							combinedSalesMTDChart();
						} else if (activeTab == 'products-year-tab') {
							//Top Products - Past Month (default so can stay outside of tab toggle)
							topYearChart();
							combinedSalesMTDChart();
						}
					}
				});
			},500);

			//Morris Charts don't handle being in a tab with 0/0 width/height so only going to activate on tab click
			$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
				var activeTab = $(e.target).attr("aria-controls");
				if (activatedTabs.indexOf(activeTab) == -1) {
					activatedTabs.push(activeTab);
					if (activeTab == 'sales-year-tab') {
						//Sales - past year
						salesPastYearChart();
					} else if (activeTab == 'video-mtd-tab') {
						//Video Sales - Month to Date
						videoSalesChart();
					} else if (activeTab == 'sales-mtd-tab') {
						//Sales - Month to Date
						salesMTDChart();
					} else if (activeTab == 'combine-mtd-tab') {
						//combined Sales - Month to Date
						combinedSalesMTDChart();
					} else if (activeTab == 'products-month-tab') {
						//Top Products - Past Month (default so can stay outside of tab toggle)
						topProductsChart();
					} else if (activeTab == 'products-year-tab') {
						//Top Products - Past Month (default so can stay outside of tab toggle)
						topYearChart();
					}
				}
			});
		});

		function salesPastYearChart() {
			if ($("#sales-year").length == 0) return;

			$("#sales-year").html('');
			Morris.Area({
				element: 'sales-year',
				data: [
					<?php
					$c = 1;
					if ($this->sales_year) {
						foreach ($this->sales_year as $row) {
						?>
						{
							period: '<?php echo $row['period']?>',
							amount: <?php echo ($row['amount'])?$row['amount']:0?>,
							orders: <?php echo $row['orders']?>
						}<?php echo ($c < count($this->sales_year))?",":""?>
						<?php
						$c++;
						}
					}
					?>
				],
				xkey: 'period',
				ykeys: ['amount'],
				labels: ['$ Amount'],
				pointSize: 3,
				fillOpacity: .6,
				pointStrokeColors:['#00bfc7', '#fdc006'],
				behaveLikeLine: true,
				gridLineColor: '#e0e0e0',
				lineWidth: 1,
				hideHover: 'auto',
				lineColors: ['#00bfc7', '#fdc006'],
				resize: true,
				xLabels: "month",
				xLabelFormat: function (x) {
					var d = new Date(x);
					return monthNames[d.getMonth()]+' '+d.getFullYear();
				},
				hoverCallback: function (index, options, content, row) {
					return content + '<div class="morris-hover-point" style="color: #00bfc7"># Sales: '+row.orders+'</div>';
				},
				preUnits: '$'
			});
		}

		function topYearChart() {
			if ($("#products-year").length == 0) return;

			$("#products-year").html('');
			Morris.Bar({
				element: 'products-year',
				data: [
					<?php
					$c = 1;
					if ($this->products_year) {
						foreach ($this->products_year as $row) {
						?>
						{
							period: '<?php echo str_replace("'","\'",$row['title'])?>',
							amount: <?php echo ($row['amount'])?$row['amount']:0?>,
							orders: <?php echo $row['orders']?>
						}<?php echo ($c < count($this->products_year))?",":""?>
						<?php
						$c++;
						}
					}
					?>
				],
				xkey: 'period',
				labels: ['# Sales'],
				hoverCallback: function (index, options, content, row) {
					return content + '<div class="morris-hover-point" style="color: #00bfc7">$ Amount: $'+row.amount.formatMoney(2)+'</div>';
				},
				ykeys: ['orders'],
				hideHover: 'auto',
				barColors: ['#00bfc7', '#fdc006'],
				resize: true,
				xLabelAngle: 90
			});
		}

		function videoSalesChart() {
			if ($("#video-sales-mtd").length == 0) return;

			$("#video-sales-mtd").html('');
			Morris.Area({
				element: 'video-sales-mtd',
				data: [
					<?php
					$c = 1;
					if ($this->videosales_mtd) {
						foreach ($this->videosales_mtd as $row) {
						?>
						{
							period: '<?php echo $row['period']?>',
							amount: <?php echo ($row['amount'])?$row['amount']:0?>,
							orders: <?php echo $row['orders']?>
						}<?php echo ($c < count($this->videosales_mtd))?",":""?>
						<?php
						$c++;
						}
					}
					?>
				],
				xkey: 'period',
				ykeys: ['amount'],
				labels: ['$ Amount'],
				pointSize: 3,
				fillOpacity: .6,
				pointStrokeColors:['#0064c7', '#fdc006'],
				behaveLikeLine: true,
				gridLineColor: '#e0e0e0',
				lineWidth: 1,
				hideHover: 'auto',
				lineColors: ['#0064c7', '#fdc006'],
				resize: true,
				xLabels: "day",
				xLabelFormat: function (x) {
					var d = new Date(x);
					//return monthNames[d.getMonth()]+' '+d.getDate();
					return (parseInt(d.getMonth())+1)+"/"+ d.getDate();
				},
				hoverCallback: function (index, options, content, row) {
					return content + '<div class="morris-hover-point" style="color: #79c9f0"># Sales: '+row.orders+'</div>';
				},
				preUnits: '$'
			});
		}

		function salesMTDChart() {
			if ($("#sales-mtd").length == 0) return;

			$("#sales-mtd").html('');
			Morris.Area({
				element: 'sales-mtd',
				data: [
					<?php
					$c = 1;
					if ($this->sales_mtd) {
						foreach ($this->sales_mtd as $row) {
						?>
						{
							period: '<?php echo $row['period']?>',
							amount: <?php echo ($row['amount'])?$row['amount']:0?>,
							orders: <?php echo $row['orders']?>
						}<?php echo ($c < count($this->sales_mtd))?",":""?>
						<?php
						$c++;
						}
					}
					?>
				],
				xkey: 'period',
				ykeys: ['amount'],
				labels: ['$ Amount'],
				pointSize: 3,
				fillOpacity: .6,
				pointStrokeColors:['#00bfc7', '#fdc006'],
				behaveLikeLine: true,
				gridLineColor: '#e0e0e0',
				lineWidth: 1,
				hideHover: 'auto',
				lineColors: ['#00bfc7', '#fdc006'],
				resize: true,
				xLabels: "day",
				xLabelFormat: function (x) {
					var d = new Date(x);
					//return monthNames[d.getMonth()]+' '+d.getDate();
					return (parseInt(d.getMonth())+1)+"/"+ d.getDate();
				},
				hoverCallback: function (index, options, content, row) {
					return content + '<div class="morris-hover-point" style="color: #00bfc7"># Sales: '+row.orders+'</div>';
				},
				preUnits: '$'
			});
		}

		function combinedSalesMTDChart() {
			if ($("#combine-sales-mtd").length == 0) return;

			$("#combine-sales-mtd").html('');
			Morris.Area({
				element: 'combine-sales-mtd',
				data: [
					<?php
					$c = 1;
					if ($this->combine_mtd) {
						foreach ($this->combine_mtd as $row) {
						?>
						{
							period: '<?php echo $row['period']?>',
							amount: <?php echo ($row['amount'])?$row['amount']:0?>,
							orders: <?php echo $row['orders']?>
						}<?php echo ($c < count($this->combine_mtd))?",":""?>
						<?php
						$c++;
						}
					}
					?>
				],
				xkey: 'period',
				ykeys: ['amount'],
				labels: ['$ Amount'],
				pointSize: 3,
				fillOpacity: .6,
				pointStrokeColors:['#00bfc7', '#fdc006'],
				behaveLikeLine: true,
				gridLineColor: '#e0e0e0',
				lineWidth: 1,
				hideHover: 'auto',
				lineColors: ['#00bfc7', '#fdc006'],
				resize: true,
				xLabels: "day",
				xLabelFormat: function (x) {
					var d = new Date(x);
					//return monthNames[d.getMonth()]+' '+d.getDate();
					return (parseInt(d.getMonth())+1)+"/"+ d.getDate();
				},
				hoverCallback: function (index, options, content, row) {
					return content + '<div class="morris-hover-point" style="color: #00bfc7"># Sales: '+row.orders+'</div>';
				},
				preUnits: '$'
			});
		}

		function topProductsChart() {
			if ($("#products-month").length == 0) return;

			$("#products-month").html('');
			Morris.Bar({
				element: 'products-month',
				data: [
					<?php
					$c = 1;
					if ($this->products_month) {
						foreach ($this->products_month as $row) {
						?>
						{
							period: '<?php echo str_replace("'","\'",$row['title'])?>',
							amount: <?php echo ($row['amount'])?$row['amount']:0?>,
							orders: <?php echo $row['orders']?>
						}<?php echo ($c < count($this->products_month))?",":""?>
						<?php
						$c++;
						}
					}
					?>
				],
				xkey: 'period',
				labels: ['# Sales'],
				hoverCallback: function (index, options, content, row) {
					return content + '<div class="morris-hover-point" style="color: #00bfc7">$ Amount: $'+row.amount.formatMoney(2)+'</div>';
				},
				ykeys: ['orders'],
				hideHover: 'auto',
				barColors: ['#00bfc7', '#fdc006'],
				resize: true,
				xLabelAngle: 90
			});
		}

		Number.prototype.formatMoney = function(c, d, t){
			var n = this,
				c = isNaN(c = Math.abs(c)) ? 2 : c,
				d = d == undefined ? "." : d,
				t = t == undefined ? "," : t,
				s = n < 0 ? "-" : "",
				i = String(parseInt(n = Math.abs(Number(n) || 0).toFixed(c))),
				j = (j = i.length) > 3 ? j % 3 : 0;
			return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
		};
	</script>
<?php } ?>

<?php /* //eliminate quick links (but keeping as reference if we want to add in the future)
<div class="row m-b20">
	<div class="bg-off-white">
		<div class="bg-off-white">
			<div class="quick-links">
				<h2 class="text-center">Quick Links</h2>
				<div class="quick-links__item">
					<div class="quick-links__content">
						<h3>Common Tasks</h3>
						<a href="/admin/cms/page-list" class="btn btn-block btn--green">Add New Page</a>
						<a href="/admin/blog" class="btn btn-block btn--green">Post to the Blog</a>
						<a href="/admin/media-manager" class="btn btn-block btn--green">Upload Files</a>
					</div>
				</div>
				<div class="quick-links__item">
					<div class="quick-links__content">
						<h3>Getting Started</h3>
						<a href="/admin/users/list" class="btn btn-block btn--green">Add User Account</a>
						<a href="/admin/settings/site" class="btn btn-block btn--green">Add Website Logo</a>
						<a href="/admin/settings/site#styling" class="btn btn-block btn--green">Set Text Headings &amp; Styles</a>
					</div>
				</div>
				<div class="quick-links__item">
					<div class="quick-links__content">
						<h3>Website Configurations</h3>
						<a href="/admin/settings/seo" class="btn btn-block btn--green">Add Google Analytics</a>
						<a href="/admin/settings/font" class="btn btn-block btn--green">Manage Fonts</a>
						<a href="/admin/settings/site#plugins" class="btn btn-block btn--green">Configure Plugins</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
*/ ?>
