<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$site_name = $settings_mapper->getValueByCode('site_name');
?>
<div class="m-b-30 row">
	<div class="m-b-30">

		<h1 class="text-center"><?php echo ($site_name)?'Welcome to '.$site_name:'Welcome!'; ?></h1>
		<div class="white-box">
			<div class="row">
				<div class="col-sm-12">
					<p>Use the navigation menu on the left to go to your content</p>
				</div>
			</div>
		</div>
	</div>
</div>
