<section class="login-register" id="wrapper">
	<div class="login-box">
		<div class="white-box">
			<?php if ($this->error) { ?>
				<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<?php echo $this->error ?>
				</div>
			<?php } ?>

			<form method="post" action="" id="recoverform" class="form-horizontal form-material">
				<div class="text-center">
					<img class="img-responsive" alt="Sign In" src="/admin_skin/assets/images/cny-logic-logo.png" style="margin:auto;">
				</div>

				<div class="form-group ">
					<div class="col-xs-12">
						<h3>Forgot Password</h3>
						<p class="text-muted">Enter your email address and instructions will be sent to you! </p>
					</div>
				</div>
				<div class="form-group ">
					<div class="col-xs-12">
						<input type="text" placeholder="email" name="email" required="" class="form-control">
					</div>
				</div>
				<div class="form-group text-center m-t-20">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light">Send</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
