<section class="login-register" id="wrapper">
	<div class="login-box">
		<div class="white-box">
			<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

			<form method="post" action="/admin/auth/identify" class="form-horizontal form-material">
				<div class="text-center">
					<img class="img-responsive" alt="Sign In" src="/admin_skin/assets/images/cny-logic-logo.png" style="margin:auto;">
				</div>

				<div class="form-group">
					<div class="col-xs-12">
						<?php echo $this->loginform->email; ?>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
						<?php echo $this->loginform->password; ?>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-12">
						<div class="checkbox checkbox-primary pull-left p-t-0">
							<input type="checkbox" id="checkbox-signup" name="remember" <?php echo $this->remember?> value="1">
							<label for="checkbox-signup"> Remember me </label>
						</div>
						<a class="text-dark pull-right" id="to-recover" href="/admin/auth/forgot"><i class="fas fa-lock m-r-5"></i> Forgot pwd?</a> </div>
				</div>
				<div class="form-group text-center m-t-20">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light">Log In</button>
					</div>
				</div>
			</form>

		</div>
	</div>
</section>
