<section class="login-register" id="wrapper">
	<div class="login-box">
		<div class="white-box">
			<?php if ($this->error) { ?>
				<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<?php echo $this->error ?>
				</div>
			<?php } ?>

			<form method="post" action="" id="recoverform" class="form-horizontal">
				<input type="hidden" value="<?php echo $this->code?>" name="c">

				<div class="text-center">
					<img class="img-responsive" alt="Sign In" src="/admin_skin/assets/images/cny-logic-logo.png" style="margin:auto;">
				</div>

				<div class="form-group ">
					<div class="col-xs-12">
						<h3>Reset Password</h3>
					</div>
				</div>
				<div class="form-group ">
					<div class="col-xs-12">
						<input type="password" placeholder="Password" name="password" required="" class="form-control"> <div class="m-t-5"><a href="#" class="show-password"><i class="fas fa-eye"></i> Show Password</a></div>
					</div>
				</div>
				<div class="form-group ">
					<div class="col-xs-12">
						<input type="password" placeholder="Confirm Password" name="v_password" required="" class="form-control"> <div class="m-t-5"><a href="#" class="show-password"><i class="fas fa-eye"></i> Show Password</a></div>
					</div>
				</div>
				<div class="form-group text-center m-t-20">
					<div class="col-xs-12">
						<button type="submit" class="btn btn-primary btn-lg btn-block text-uppercase waves-effect waves-light">Reset</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
