.address {
	@include gotham-book;
	font-size: px2rem(12);
  line-height: 1.5;
	font-style: normal;

	@media screen and (max-width: $mobile-max) {
    text-align: center;
    max-width:70%;
    display:inline-block;
		font-size: px2rem(10);
	}

  &__link {
    text-decoration: none;
    color: $black;
  }
}

.address--with-icon {

  .address__link {
    color: $gold;
		text-align: center;
    display: flex;
    line-height: 1.33333;
		font-size: px2rem(12);
		span{
			display:block;
		}
    @media screen and (max-width: $mobile-max) {
      color: $gold;
    }
  }

  .icon-location-pin {
    font-size: px2rem(20);
    padding-right: px2rem($s-spacing);
    position: relative;
    top: px2rem(4);

    @media screen and (max-width: $tablet-max) {
      padding-right: px2rem($s-spacing);
    }

    @media screen and (max-width: $mobile-max) {
      color: $gray;
      font-size: px2rem(16);
    }
  }

}
