.button {
  background: none;
  border: 0;
  color: $gold;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease;

  &.active {
    background: $gold;
    color: $white;
  }
}

.button--default, .home-page-hero .btn-u {
  @include gotham-light;
  padding-bottom: px2rem(19);
  padding-top: px2rem(19);
  width: px2rem(300);

  @include corners(100%, 100%, 1px);

  &:hover {
    @include corners(33%, 60%, 1px);
  }

  @media screen and (max-width: $mobile-max) {
    padding-bottom: px2rem(12);
    padding-top: px2rem(12);
    width: px2rem(180);
  }

  &.button-white {
    color: $white !important;
    &:before, &:after{
      border-color: $white !important;
    }
  }
}

.home-page-hero .btn-u {
  color: $white !important;
  &:before, &:after{
    border-color: $white !important;
  }
}

.button--mobile-fixed{
  position:fixed;
  display:none;
  bottom:10px;
  left:50%;
  width: calc(100vw - 2rem);
  transform:translateX(-50%);
  background:$gold;
  color:$white;
  @include gotham-light;
  font-size: px2rem(10);
  padding-bottom: px2rem(13);
  padding-top: px2rem(13);
  max-width: 12rem;
  @media screen and (max-width: $mobile-max) {
    display:block;
  }

}

.button--mobile-fixed-wrap {
  position: fixed;
  left: 10px;
  bottom: 10px;
  flex-wrap: wrap;
  max-width: 80%;
  width: 100%;
  background:$gold;
  color:$white;
  justify-content: space-between;
  border-radius: 5px;
  display: none;

  @media screen and (max-width: $mobile-max) {
    display:flex;
  }

  .button {
    flex-basis: 0;
    flex-grow: 1;
    font-size: px2rem(10);
    padding-bottom: px2rem(13);
    padding-top: px2rem(13);
    color: #fff;
    text-transform: capitalize;
    position: relative;


    +.button {
      margin-left: 10px;

      &:before {
        content: '||';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        font-size: 16px;
      }
    }
  }
}

.button--small {
  @include gotham-light;
  font-size: px2rem(12);
  padding-bottom: px2rem(10);
  padding-top: px2rem(10);


  width: px2rem(120);
  margin:0 0 0 10px;
  @include corners(100%, 100%, 1px);

  &:hover {
    @include corners(33%, 60%, 1px);
  }
  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(12);
    padding-left: px2rem(4);
    padding-right: px2rem(4);
  }
  @media screen and (max-width: $mobile-max) {
    padding-bottom: px2rem(8);
    padding-top: px2rem(8);
    width: px2rem(120);
  }
}

.button--gold{
  @include gotham-light;
  font-size: px2rem(12);
  padding-bottom: px2rem(10);
  padding-top: px2rem(10);
  border:1px solid $gold;

  width: px2rem(120);
  margin:0 0 0 10px;
  background:$gold;
  color:$white;
  &:hover{
    background:$white;
    color:$gold;
  }
}

.button--clear {
  @include gotham-light;
  padding-bottom: px2rem(19);
  padding-top: px2rem(19);
  width: px2rem(300);
  @media screen and ( max-width: ($tablet-max) ){
    padding-bottom: px2rem(15);
    padding-top: px2rem(16);
    padding-left: px2rem(4);
    padding-right: px2rem(4);
    @include corners(100%, 100%, 1px);

    &:hover {
      @include corners(33%, 60%, 1px);
    }
  }
  @media screen and (max-width: $mobile-max) {
    padding-bottom: px2rem(10);
    padding-top: px2rem(12);
    width: px2rem(180);
  }
}

.button--submit {
  padding-top: 0;
  padding-bottom: 0;

  input[type=submit] {
    padding-bottom: px2rem(19);
    padding-top: px2rem(19);
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    text-transform: uppercase;
  }
}

.button--large {
  @include stanpro;
  font-size: px2rem(18);
  font-style: italic;
  padding-bottom: px2rem(35);
  padding-top: px2rem(40);
  width: px2rem(140);

  @include corners(percentage(95/140), percentage(50/95), 1px);

  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(12);
    padding-bottom: px2rem(20);
    padding-top: px2rem(25);
    width: px2rem(90);
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(10);
    padding-bottom: px2rem(15);
    padding-top: px2rem(18);
    width: px2rem(70);
  }
}

.button--capitalize {
  @include gotham-bold;
  font-size: px2rem(14);
  text-transform: capitalize;
}
