.button-group {
  display: flex;

  @media screen and (max-width: $mobile-max) {
    display: none;
  }

  .button {
    flex-grow: 1;
    font-size: px2rem(15);
    padding-left: px2rem($normal-spacing);
    padding-right: px2rem($normal-spacing);
    text-transform: none;
    width: auto;

    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(12);
      padding-left: px2rem($s-spacing);
      padding-right: px2rem($s-spacing);
    }

    &:not(:last-child):before {
      border-right: 0;
    }

    &:hover {
      @include corners(100%, 100%);

      &:not(:last-child):before {
        border-right: 0;
      }
    }
  }
}

.button-group--small {
  .button {
    font-size: px2rem(11);
  }
}