.carousel {
  &--unit {
    opacity: 1;
    visibility: visible;

    .slick-list {
      opacity: 1;
      position: static;
    }

    .slick-prev {
      left:0;
      &:hover{
        background:linear-gradient(to right, rgba(0,0,0,0.7) 5%, rgba(0,0,0,0) 100%);
      }
    }

    .slick-next {
      right:0;
      &:hover{
        background: linear-gradient(to right, rgba(0,0,0,0) 5%, rgba(0,0,0,0.7) 100%);
      }
    }

    .slick-arrow {
      top: 50%;
      transform: translateY(-50%);
      height: 60px;
      width: 60px;
      background-position: center;
      transition: background 300ms ease-in-out;
      z-index: 1;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      &:before {
        font-size: 40px;
        color: #fff;
        opacity: 1;
        font-weight: 300;
      }
    }
  }

  &__item {
    margin: 0;
    img {
      width: 100%;
    }
  }

  &--floorplan{
    display:block;
    padding-top:60%;
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
  }

  &__floorplan-link{
    @include gotham-book;
    font-size: px2em(16, 16);
    color: $white;
    background: $gold;
    display: inline-block;
    padding: px2em($xs-spacing, 16);
    position: absolute;
    bottom:0;
    left:20px;
    z-index: 2;
    cursor:pointer;
    @media screen and (max-width: $mobile-max) {
      position: relative;
      font-size: 0.625em;
      font-family: "Gotham A", "Gotham B", sans-serif;
      font-weight: 300;
      padding-bottom: 0.625rem;
      padding-top: 0.625rem;
      border: 1px solid $gold;
      width: 7.5rem;
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
      transform:translateX(-10%);
      background: $gold;
      color: $white;
      display: block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.3s ease;
    }
  }
}
