.checkbox {
  @include gotham-book;
  font-size: px2rem(12);
  text-transform: uppercase;
  text-align: center;
  color: #000;
  user-select: none;
  display: inline-block;
  margin: 0 !important;

  label {
    display: inline-block;
    height: px2rem(38);
    padding: px2rem(13) px2rem($s-spacing);
    margin: 0;

    @media screen and (min-width: $desktop-min) {
      &:hover {
        color: $white;
        background-color: $gold;
      }
    }
  }

  input[type=checkbox] {
    display: none;

    &:checked + label {
      color: $white;
      background-color: $black;
    }
  }
}
