.copyright {
  @include gotham-book;
  color: $dark-gray;
  font-size: px2rem(11);
text-align: center;
  &__house{
  	font-size: 400%; 
  	top: 5px; 
  	position: relative;
    display:block;
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(10);
  }
}
