.featured-listings-heading {
  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(24);
    letter-spacing: px2rem(0.5);
  }
}

.featured-listings-heading-compliant {
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	font-family: Gotham A,Gotham B,sans-serif;
	font-weight: 400;
	color: #231f20;
	font-size: 1.625rem;
}