.footer-menu__link {
	@include gotham-book;
	color: $black;
	font-size: px2rem(18);
	text-decoration: none;
	text-transform: none;

  &:hover,
  &:active {
    color: $dark-gray;
  }

  &:after {
    display: none;
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(12);
  }

  &--secondary {
    color: $dark-gray;


    @media screen and (min-width: $tablet-min) {
      font-size: px2rem(14);

      &:hover,
      &:active {
        color: $black;
      }

      &:after {
        display: none;
      }
    }
  }
}