h1,h2,h3,h4,h5,h6 {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

h1 {
  @include gotham-light;
  font-size: px2rem(64);

  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(54);
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(28);
  }
}

h2 {
  @include gotham-book;
  font-size: px2rem(56);
  letter-spacing: px2rem(1);
  line-height: 1.2;

  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(42);
    letter-spacing: px2rem(.88);
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(36);
  }
}

h3 {
  @include gotham-medium;
  color: $black;
  font-size: px2rem(26);

  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(22);
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(18);
  }
}

h4 {
  @include gotham-medium;
  color: $black;
  font-size: px2rem(26);

  @media screen and (max-width: $mobile-max) {
  	font-size: px2rem(18);
    line-height: 1.1666666667;
  }
}

h5 {
  @include gotham-medium;
  color: $black;
  font-size: px2rem(24);
}

h6 {
  @include gotham-book;
  font-size: px2rem(22);
}

h1.rentals-top-header {
  font-size: px2rem(42);
}

h1.process-header {
  @include gotham-medium;
  color: $black;
  font-size: px2rem(26);

  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(22);
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(18);
  }
}

h2.faq-header {
  @include gotham-medium;
  color: $black;
  font-size: px2rem(24);
}

h2.message-header {
    @include gotham-medium;
    color: $black;
    font-size: px2rem(26);

    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(22);
    }

    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(18);
    }
}

h2.contact-header {
  @include gotham-medium;
  color: $black;
  font-size: px2rem(26);

  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(22);
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(18);
  }
}

.legal-copy h2 {
  @include gotham-medium;
  color: $black;
  font-size: px2rem(26);

  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(22);
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(18);
  }
}