.hours--small {
  color: $gray;
  font-size: px2rem(12);

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(10);
  }

  .icon {
    font-size: px2rem(20);
    padding-right: px2rem($s-spacing);
    position: relative;
    top: 0.3rem;
    @media screen and (max-width: $tablet-max) {
      padding-right: px2rem($s-spacing);
    }

    @media screen and (max-width: $mobile-max) {
      color: $gray;
      font-size: px2rem(16);
    }
  }
}

.hours--center{
  text-align: center !important;
}
