.input-select {
  @extend .flex-column-center;
  @include gotham-book;
  text-transform: uppercase;
  font-size: px2em(14, 16);
  color: $gray;

  &__label {
    margin-bottom: px2rem($xxs-spacing);
  }

  label.error {
    display: block;
    padding-top: px2rem($xs-spacing);
    color: $gold;
    text-align: center;
  }

  .input-select__select, select {
    width: 100%;
    height: px2rem(50);
  }
}