.input-textarea {
  @extend .flex-column-center;
  @include gotham-book;
  text-transform: uppercase;
  font-size: px2em(14, 16);
  color: $gray;

  label.error {
    margin-top: px2rem($xs-spacing);
    color: $gold;
  }

  label {
    margin-bottom: px2rem($xxs-spacing);
    font-weight: 300;
  }

  textarea {
    border: 1px solid $gold;
    height: px2rem(100);
    width: 100%;
  }
}
