.link {
  @include gotham-medium;
  color: $gold;
  font-size: px2rem(11);
  text-decoration: none;
  text-transform: uppercase;
  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(10);
  }
}

.link--bold {
  @include gotham-medium;
  font-size: px2rem(13);
}

.link--light {
  @include gotham-book;
  font-size: px2rem(12);
}
.link--large {
  font-size: px2rem(18);

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(14);
  }
}

.link--with-arrow {

  .icon-arrow-right-thin {
    padding-left: px2rem(3);
    position: relative;
    top: px2rem(1);

    @media screen and (max-width: $mobile-max) {
      line-height:2.5;
    }
  }

  .link--large .icon-arrow-right-thin {
    @media screen and (max-width: $mobile-max) {
      display: inline;
    }
  }
}
