.location {
  @include stanpro;
  font-size: px2rem(22);
  color: $white;
  margin: 0;

  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(18);
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(16);
  }

}