/**
 * Global menu item component styles
 */
.menu-item {
  display: inline-block;
  position: relative;
  height: auto;

  &:link, &:visited, &:hover, &:active {
    color: inherit;
    text-decoration: none;
  }

  &:after {
    position: absolute;
    display: block;
    bottom: px2rem(-2);
    content: ' ';
    height: px2rem(2);
    width: 100%;
    background-color: transparent;
    transition: all .2s ease;
  }

  &:hover,
  &:active,
  &.active,
  .active & {
    &:after {
      bottom: -32%;
      background-color: $gold;
    }
  }

  &:hover,
  &:active {
    &:after {
      bottom: -32%;
    }
  }

}

.menu-item--hover-letter-spacing {
  // transition: letter-spacing 0.1s ease;

  &:hover,
  &:active {
    // letter-spacing: 0.3125rem;
    // transition: letter-spacing 0.2s ease;

  }

  &:after {
    display: none;
  }
}