.phone {
  color: $black;
  text-decoration: none;

  &--with-icon {
    color: $gold;
    font-size: px2rem(12);

    .icon-phone {
      font-size: px2rem(18);
      padding-right: px2rem($s-spacing);

      @media screen and (max-width: $tablet-max) {
        padding-right: px2rem($s-spacing);
      }

      @media screen and (max-width: $mobile-max) {
        color: $gray;
        font-size: px2rem(14);
      }
    }
  }

  @media screen and (max-width: $mobile-max) {
    color: $gold;
    font-size: px2rem(11);

    &--with-icon {
      font-size: px2rem(10);
    }
  }
}
