.region-nav__link {
  font-size: px2rem(18);
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;

  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(16);
  }
  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(14);
  }
  &:link, &:visited, &:hover, &:active {
    //TODO make global once approved
    //color: $gray;
    color: #000;
  }

  &:hover, &:active, &.active, .active & {
    color: $gold;
    padding-bottom: px2rem($xxs-spacing);
    @media screen and (max-width: $mobile-max) {
      padding-bottom: none !important;
    }
  }
}
