.rental-process__tagline {
  @include stanpro;
  color: $gray;
  font-size: px2rem(20);
  margin: 0;

  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(16);
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(14);
  }
}