.social-menu__link {
  color: inherit;
  letter-spacing: 0.2395rem;
  text-transform: uppercase;
  transition:color 200 ease;
  &:hover, &:active{
  	transition:color 200 ease;
  	color:darken(#FFF, 20%);
  }
  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(14);
  }
}
