//
// Thumbnails
// --------------------------------------------------


// Mixin and adjust the regular image class
.thumbnail {
  display: block;
  padding: 0;
  margin-bottom: $line-height-computed;
  line-height: $line-height-base;
  background-color: $thumbnail-bg;
  border: 0;
  border-radius: 0;
  @include transition(border .2s ease-in-out);

  > img,
  a > img {
    @include img-responsive;
    margin-left: auto;
    margin-right: auto;
  }

  // [converter] extracted a&:hover, a&:focus, a&.active to a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active

  // Image captions
  .caption {
    padding: $thumbnail-caption-padding;
    color: $thumbnail-caption-color;
  }
}
.thumbnail--product {
  position: relative;
  line-height: 15px;
  min-height: 180px;
  overflow: hidden;
  .caption {
    color:#fff;
    background-color: rgba(63,75,105,0.8 );
    left: 0;
    right: 0;
    bottom:0;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    @include translate(0, 10%);
    @include transition-transform(0.2s ease);
    h3 {
      margin-bottom: 0;
      font-size: 14px;
      color:#fff;
      text-align: center;
    }
    small {
      display: block;
    }
    small, p {
      font-size: 12px;
      margin-bottom: 10px;
    }
    .label {
      padding:0;
      font-weight: 300;
      font-size: 12px;
      margin-bottom: 10px;
      display: block;
      text-align: left;
    }
    .caption__content {
      opacity: 0;
      height: 1px;
    }
  }
  &:hover {
    .caption {
      background-color:#3e4b69;
      top:0;
      @include translate(0, 0);
      h3 {
        text-align: left;
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
      }
      .caption__content {
        opacity: 1;
        height: auto;
      }
    }
  }
}

// Add a hover state for linked versions only
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: $link-color;
}
