.top-link {
  @include gotham-light;
  //TODO make global once approved
  //color: $gold;
  color:#000;
  font-size: px2rem(18);
  letter-spacing: px2rem(1);
  text-decoration: none;
  text-transform: uppercase;

  @media screen and (max-width: $tablet-max) {
    clear: both;
    display: block;
    font-size: px2rem(14);
    text-align: center;
  }

  .icon-arrow-up-thin {
    display:block;
    font-size: px2rem(15);
    position: relative;
    top: px2rem(1);
  }
}
