.list {
  @include gotham-book;
  font-size: px2rem(12);
  line-height: 1.6666666667;
  display: inline-block;
  list-style: none;
  padding: 0;
  color: $black;

  .head {
    @include gotham-medium;
    color: $gray;
    margin-bottom: px2rem($xs-spacing);
  }
}