<?php
use Cocur\Slugify\Slugify;

if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="col-sm-12">
					<div class="col-xs-1">
						<button type="submit" class="btn btn-primary xs-100">Search</button>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<div class="checkbox hidden-xs">
								<input type="checkbox" name="csv" value="1" id="export"> <label for="export">Export</label>
							</div>
						</div>
					</div>
					<div class="col-xs-1">
						<a href="/admin/form/list" class="btn btn-warning xs-100">Reset</a>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-10 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<div class="col-sm-2 col-xs-12">

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<th><a href="/admin/form/list/sort/form_title/dir/<?php echo $dir?>">Form Title</a></th>
						<th class="hidden-xs">Column 1</th>
						<th class="hidden-xs">Column 2</th>
						<th class="hidden-xs">Column 3</th>
						<th class="hidden-xs"><a href="/admin/form/list/sort/created/dir/<?php echo $dir?>">Submission Date</a></th>
						<th class="hidden-xs text-center">Delete</th>
						<th class="hidden-xs text-center">View</th>
					</tr>
					</thead>
					<tbody>
					<?php
					$form_settings = array();
					$mapper = new Application_Model_Mapper_PageSectionRowColumnModule();
					$slugify = new Slugify();
					foreach($this->list as $key => $val) {
						if (!array_key_exists($val['module_id'], $form_settings)) {
							$module = $mapper->find($val['module_id']);
							$settings = (isset($module->json_content))?json_decode($module->json_content):null;
							$form_settings[$val['module_id']] = (isset($settings->logic_mappings))?($settings->logic_mappings):null;
						}

						$codes = array();
						foreach ((array)json_decode($val['json_data']) as $panel) {
							$code = $orig_code = $slugify->slugify($panel->title);
							$counter = 1;
							while (in_array($code, $codes)) {
								$code = $orig_code . "_" . $counter;
								$counter++;
							}
							$codes[$code] = $panel->value;
						}
						?>
						<tr>
							<td><a href="/admin/form/view/id/<?php echo $val['id']?>"><?php echo $val['form_title']?></a></td>
							<td class="hidden-xs">
								<?php
								if ($form_settings[$val['module_id']]) {
									if (isset($form_settings[$val['module_id']]->column_1) && $form_settings[$val['module_id']]->column_1) {
										echo (array_key_exists($form_settings[$val['module_id']]->column_1, $codes))?$codes[$form_settings[$val['module_id']]->column_1]:'';
									}
								}
								?>
							</td>
							<td class="hidden-xs">
								<?php
								if ($form_settings[$val['module_id']]) {
									if (isset($form_settings[$val['module_id']]->column_2) && $form_settings[$val['module_id']]->column_2) {
										echo (array_key_exists($form_settings[$val['module_id']]->column_2, $codes))?$codes[$form_settings[$val['module_id']]->column_2]:'';
									}
								}
								?>
							</td>
							<td class="hidden-xs">
								<?php
								if ($form_settings[$val['module_id']]) {
									if (isset($form_settings[$val['module_id']]->column_3) && $form_settings[$val['module_id']]->column_3) {
										echo (array_key_exists($form_settings[$val['module_id']]->column_3, $codes))?$codes[$form_settings[$val['module_id']]->column_3]:'';
									}
								}
								?>
							</td>
							<td class="hidden-xs"><?php echo ($val['created'] != 0) ? $this->UTCtoTZ($val['created'],"n/j/Y g:ia",$this->site_timezone) : ""?></td>
							<td class="hidden-xs text-center"><a href="/admin/form/delete/id/<?php echo $val['id']?>" title="Delete" class="confirm-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
							<td class="hidden-xs text-center"><a href="/admin/form/view/id/<?php echo $val['id']?>" title="View"><span class="sr-only">View</span> <span class="far fa-eye"></span></a></td>
						</tr>
						<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>
