<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-4 pull-right">
				<div class="view-navigation pull-right">
					<a class="btn btn-default btn-sm" href="/admin/form"><span class="fal fa-angle-left"></span> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<tbody>
					<?php
					$mapper = new Application_Model_Mapper_FormFile();

					$fields = json_decode($this->submission['json_data']);
					foreach ($fields as $key => $field) {
					?>
						<tr>
							<td><?php echo $field->title?>:</td>
							<td>
								<?php
								if ($field->field_type == 'file') {
									$file = $mapper->findByHash($field->value);
									echo '<a href="/index/file-download/hash/'.$field->value.'" target="_blank">'.$file->filename.'</a>';
								}else {
									echo (is_array($field->value)) ? implode(", ", $field->value) : $field->value;
								}
								?>
							</td>
						</tr>
					<?php } ?>

						<tr>
							<td>Submission Date:</td>
							<td>
								<?php echo $this->submission['created']?>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12">
				<div class="view-navigation">
					<a class="btn btn-default btn-sm" href="/admin/form"><span class="fal fa-angle-left"></span> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

