<div class="embed-responsive embed-responsive-16by9">
	<?php if ($this->url) {?>
		<iframe class="embed-responsive-item" src="<?php echo $this->url?>" allowfullscreen></iframe>
	<?php }else {?>
		<video src="<?php echo $this->video_url?>" class="embed-responsive-item" controls></video>
	<?php } ?>
</div>

