<div class="splash-page">
	<div class="section-block container">
		<div class="row-block row animate margin-bottom-30" data-animation-effect="zoomInDown">
			<div class="module-block col-sm-12">
				<div class="module-block">
					<div class="thumbnails-v1 split-none p-t-200">
						<div class="thumbnail-img">
							<img class="img-responsive center-block"
							     src="/assets/images/LOGIC/LOGIC-Logo-2.png"
							     alt="Cyber-NY Logic Logo" title=""
							     width='800' height='226'>
						</div>
					</div>
				</div>
				<div class="module-block">
					<div class="split-none" data-animation-effect="bounce">
						<p class="text-center">&nbsp;</p>
						<p class="text-center poweredby">powered by</p>
					</div>
				</div>
				<div class="module-block">
					<div class="thumbnails-v1 split-none">
						<div class="thumbnail-img">
							<a href="https://cyber-ny.com" target="">
								<img class="img-responsive center-block  "
								     src="/assets/images/LOGIC/Cyber-NY-Logo-White.png"
								     alt="Cyber-NY Logo" title=""
								     width='180' height='42'>
							</a>
						</div>
					</div>


				</div>
				<div class="module-block">
					<div class=" split-none animate text-center" data-animation-effect="fadeInUp">
						<a href="https://cyber-ny.com/logic" target="_blank"
						   class="btn -btn-block btn-round-4px learn_more-btn">
							<div class="hover-shade">Learn More</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	body {
		background-image: url(/assets/images/LOGIC/logic-bg.jpg);
		background-size: auto;
	}
</style>
