<?php
use Cocur\Slugify\Slugify;
$slugify = new Slugify();

$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$recaptcha_site_key = $settings_mapper->getValueByCode('recaptcha_site_key');

$panels = array();
if (isset($this->content->panels) && $this->content->panels) {
	foreach ($this->content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

$codes = array();
?>
<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<div class="container">
		<form method="post" action="/index/payment-submit" class="form"
		      id="form-<?php echo $this->module->id?>">
			<input type="hidden" name="module_id" value="<?php echo $this->module->id?>">

			<div class="row flex-row-md">
				<div class="col-md-6 bg-gray-md" style="background-color:<?php echo $this->content->review_background_color ?>">
					<div class="order-details">
						<h2>Review Order Details</h2>

						<?php
						$tips = array(); $amount = 0; $recaptcha = false;
						foreach ($panels as $panel) {
							$code = $orig_code = $slugify->slugify($panel->label);
							// "payment" is a reserved code value so replacing
							if ($code == 'payment') {
								$code = $orig_code = 'payment_amount';
							}

							$counter = 1;
							while (in_array($code, $codes)) {
								$code = $orig_code . "_" . $counter;
								$counter++;
							}
							$codes[] = $code;

							if ($panel->field_type == 'radio' && isset($panel->radio_other) && $panel->radio_other == 'yes' &&
								isset($this->data[$code."_other"]) && $this->data[$code."_other"]) {
								$this->data[$code] = $this->data[$code."_other"];
							}

							switch ($panel->field_type) {
								case "textarea":
							?>
								<textarea class="hide" name="<?php echo $code?>"><?php echo $this->data[$code]?></textarea>
							<?php
									break;
								case "label":
									break;
								case "recaptcha":
									$recaptcha = true;
									$recaptcha_site_key = ($recaptcha_site_key)?$recaptcha_site_key:$panel->recaptcha_site_key;
									break;
								default:
							?>
								<input type="hidden" class="" name="<?php echo $code?>" value="<?php echo (is_array($this->data[$code]))?implode(", ", $this->data[$code]):$this->data[$code]?>">
							<?php
							}
							?>

							<div class="">
								<?php if($panel->field_type == 'label') { ?>
									<strong style="<?php echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>
										<?php echo (isset($panel->text_size) && $panel->text_size)?"font-size:{$panel->text_size};":""?>
										<?php echo (isset($panel->text_color) && $panel->text_color)?"color:{$panel->text_color};":""?>
									">
										<?php echo $panel->label?></strong>
								<?php }else {?>
									<strong style="<?php echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>
											display:<?php echo (!isset($this->content->label_position) || $this->content->label_position == '')?"block":""?>">
										<?php echo $panel->label?><?php echo (!isset($this->content->label_position) || $this->content->label_position == '')?"":":"?>
									</strong>
								<?php } ?>

								<?php
								if ($panel->is_payment_amount == 'yes') {
									$amount = preg_replace("/[^0-9.]/", "", $this->data[$code]);

									echo "$" . number_format($amount, 2);
								}elseif($panel->field_type == 'label' || $panel->field_type == 'recaptcha') {
									//no data to display for label
								}elseif ($panel->field_type == 'tip') {
									if ($panel->tip_percent && $this->data[$code]) {
										echo "Yes";
										$tips[] = preg_replace("/[^0-9.]/", "", $panel->tip_percent);
									}elseif ($panel->tip_percent && !$this->data[$code]) {
										echo "No";
									}else {
										echo $this->data[$code]."%";
										$tips[] = preg_replace("/[^0-9.]/", "", $this->data[$code]);
									}
								}else {
									if (isset($this->data[$code])) {
										echo (is_array($this->data[$code])) ? implode(", ", $this->data[$code]) : $this->data[$code];
									}
								}
								?>
							</div>

						<?php
						}

						//adjust amount outside of loop otherwise amount may not be set before tip field
						$total_tip = 0;
						if ($tips) {
							foreach ($tips as $k => $percent) {
								if ($percent) {
									$total_tip += round($amount * ($percent / 100), 2);
								}
							}
						}
						$amount += $total_tip;

						if ($amount) {
							?>
							<div class="">
								<strong style="<?php //echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>
										color: #ff0000;
								<?php echo (isset($panel->text_size) && $panel->text_size)?"font-size:{$panel->text_size};":""?>
								<?php echo (isset($panel->text_color) && $panel->text_color)?"color:{$panel->text_color};":""?>
										">Total: </strong>

								<?php echo "$".number_format($amount, 2); ?>
							</div>
						<?php } ?>

						<!--<a href="" class="btn btn--link">< Edit Details</a>-->
					</div>
				</div>
				<div class="col-md-6">
					<div class="payment-details">
						<h2>Payment Details</h2>
							<?php if ($this->errors) { ?>
								<div class="alert alert-danger error" role="alert">
									<ul class="errors">
										<?php
										foreach ($this->errors as $error) {
											if ($error)	echo "<li>$error</li>";
										}
										?>
									</ul>
								</div>
							<?php }?>

							<?php
							if ($this->content->payment_gateway == 'stripe') {
								$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
								if ($publishable_key = $settings_mapper->getValueByCode('ecommerce_stripe_publishable_key')) {
									?>
									<script src="https://checkout.stripe.com/checkout.js"></script>
									<script>
										var handler_<?php echo $this->module->id?> = StripeCheckout.configure({
											key: '<?php echo $publishable_key; ?>',
											image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
											locale: 'auto'
										});
										$(document).ready(function() {
											$('#module-<?php echo $this->module->id?> form button').on('click', function (e) {
												// Open Checkout with further options:
												handler_<?php echo $this->module->id?>.open({
													name: 'Pay $<?php echo number_format($amount,2)?> via Stripe',
													billingAddress: true,
													zipCode: true,
													amount: <?php echo $amount * 100?>,
													token: function(token) {
														$("#module-<?php echo $this->module->id?> form")
															.append('<input type="hidden" name="stripeToken" value="'+token.id+'">')
															.append('<input type="hidden" name="stripeEmail" value="'+token.email+'">')
															.submit();
													}
												});
												e.preventDefault();
											});

											// Close Checkout on page navigation:
											window.addEventListener('popstate', function () {
												handler_<?php echo $this->module->id?>.close();
											});
										});
									</script>
								<?php
								}
							}elseif (in_array($this->content->payment_gateway, array('authorize_net','payflowpro','payrix'))) {
							?>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Name On Card" name="payment[name]" value="<?php echo (isset($this->payment['name']))?$this->payment['name']:''?>" required>
								</div>
								<div class="form-group flex-row-sm row">
									<div class="col-sm-9">
										<input type="text" class="form-control" placeholder="Card Number" name="payment[cc_num]" value="<?php echo (isset($this->payment['cc_num']))?$this->payment['cc_num']:''?>" required data-rule-creditcard="true">
									</div>
									<div class="col-sm-3">
										<input type="text" class="form-control" placeholder="CVV" name="payment[ccv]" value="<?php echo (isset($this->payment['ccv']))?$this->payment['ccv']:''?>" required data-rule-maxlength="4">
									</div>
									<!--
									<div class="col-sm-3">
										<a href="">What Is This?</a>
									</div>
									-->
								</div>
								<div class="form-group flex-row-sm row">
									<div class="col-sm-6">
										<select name="payment[exp_month]" class="form-control" required>
											<option value="">Select a Month:</option>
											<?php
											for($i=1;$i<=12;$i++) {
												$selected = ($this->payment['exp_month'] == $i)?'selected':'';
												?>
												<option value="<?php echo $i?>" <?php echo $selected?>><?php echo date("F",mktime(0,0,0,$i,1,2000))?></option>
											<?php } ?>
										</select>
									</div>
									<div class="col-sm-6">
										<select class="form-control" name="payment[exp_year]" required>
											<option value="">Select a Year:</option>
											<?php
											for($i=date("Y");$i<=date("Y")+10;$i++) {
												$selected = ($this->payment['exp_year'] == $i)?'selected':'';
												?>
												<option value="<?php echo $i?>" <?php echo $selected?>><?php echo $i?></option>
											<?php } ?>
										</select>
									</div>
								</div>
								<!--
								<div class="form-group">
									<div class="row">
										<div class="col-xs-6"><input type="text" class="form-control" placeholder="First Name" name="payment[first_name]" value="<?php echo (isset($this->payment['first_name']))?$this->payment['first_name']:''?>"></div>
										<div class="col-xs-6"><input type="text" class="form-control" placeholder="Last Name" name="payment[last_name]" value="<?php echo (isset($this->payment['last_name']))?$this->payment['last_name']:''?>"></div>
									</div>
								</div>
								<div class="form-group">
									<div class="row">
										<div class="col-xs-6"><input type="email" class="form-control" placeholder="Email" name="payment[email]" value="<?php echo (isset($this->payment['email']))?$this->payment['email']:''?>" data-rule-email="true"></div>
										<div class="col-xs-6"><input type="tel" class="form-control" placeholder="Phone" name="payment[phone]" value="<?php echo (isset($this->payment['phone']))?$this->payment['phone']:''?>"></div>
									</div>
								</div>
								-->
								<div class="form-group">
									<input type="text" class="form-control geo" placeholder="Address" name="payment[address]" value="<?php echo (isset($this->payment['address']))?$this->payment['address']:''?>" maxlength="40" data-bill-geo="street_address" required>
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="Address 2" name="payment[address2]" value="<?php echo (isset($this->payment['address2']))?$this->payment['address2']:''?>" maxlength="40">
								</div>
								<div class="form-group">
									<input type="text" class="form-control" placeholder="City" name="payment[city]" value="<?php echo (isset($this->payment['city']))?$this->payment['city']:''?>" data-bill-geo="locality" required>
								</div>
								<div class="form-group">
									<?php $states = Zend_Registry::get('regions')->us->region->toArray(); ?>
									<?php echo $this->formSelect('payment[region]', $this->payment['region'], array('class'=>"form-control billing usca",'data-bill-geo'=>'administrative_area_level_1_short','required'=>'required'), array(""=>"Select State")+$states)?>
									<!--<input class="form-control billing international" type="text" placeholder="Region" name="payment[region_alt]" value="<?php echo (isset($this->payment['region']))?$this->payment['region']:''?>" data-bill-geo="administrative_area_level_1_short"/>-->
								</div>
								<div class="form-group flex-row-sm row">
									<div class="col-sm-6"><input type="text" class="form-control billing" placeholder="Zip Code" name="payment[postcode]" value="<?php echo (isset($this->payment['postcode']))?$this->payment['postcode']:''?>" data-bill-geo="postal_code" required></div>
									<div class="col-sm-6">
										<?php $countries = Zend_Registry::get('countries')->toArray(); ?>
										<?php echo $this->formSelect('payment[country]', $this->payment['country'], array('class'=>"form-control billing",'data-bill-geo'=>'country_short','required'=>'required'), array('US'=>'United States'))?>
									</div>
								</div>

								<?php
							}
							?>

						<div class="flex-row-sm row">
							<div class="col-sm-6">
								<div class="m-b-30">
									<div class="form-group">
										<?php if (!isset($this->content->label_position) || $this->content->label_position != 'placeholder') {?>
											<label for="<?php //echo $code?>"><?php //echo $panel->label?></label>
										<?php } ?>
										<div class="g-recaptcha" data-sitekey="<?php echo $recaptcha_site_key ?>"></div>
									</div>
								</div>
							</div>
						</div>

							<div class="flex-row-sm row">
								<div class="col-sm-6">
									<button type="submit" class="btn btn--outline-dark force--full-width btn--cms-default <?php echo $this->content->submit_button_class?>"
									        style="<?php echo ($this->content->submit_button_color)?"background-color:{$this->content->submit_button_color};":""?>
									        <?php echo ($this->content->submit_button_text_color)?"color:{$this->content->submit_button_text_color};":""?>
									        <?php echo (isset($this->content->submit_button_text_size) && $this->content->submit_button_text_size)?"font-size:{$this->content->submit_button_text_size};":""?>
									        <?php echo (isset($this->content->submit_button_text_weight) && $this->content->submit_button_text_weight)?"font-weight:{$this->content->submit_button_text_weight};":""?>
											        ">
										Submit
									</button>
								</div>
							</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
	$(document).ready(function(){
		$("#form-<?php echo $this->module->id?>").validate({
			errorPlacement: function(error, element) {
				if (element.parent().is('label')) {
					error.appendTo(element.parent().parent());
				}else {
					error.appendTo(element.parent());
				}
			}
		});

		<?php /* if (isset($this->content->confirmation_type) && ($this->content->confirmation_type == 'replace_form' || $this->content->confirmation_type == 'select_modal')) { ?>
		$("#module-<?php echo $this->module->id?> form").on('submit', function (e) {
			e.preventDefault();

			$.ajax({
				type: 'post',
				url: '/index/ajax-form-submit',
				dataType: 'json',
				data: $('#module-<?php echo $this->module->id?> form').serialize(),
				success: function (data) {
					if (data.confirmation_type == 'replace_form') {
						$('#module-<?php echo $this->module->id?> form').parent().append(data.confirmation_text);
						$('#module-<?php echo $this->module->id?> form').remove();
					}else if (data.confirmation_type == 'select_modal') {
						window.cny.promoPopup(data.confirmation_modal_id, 0, null, "modal-lg");
					}
				}
			});
		});
		<?php } */?>
	});
</script>

<style>
	#module-<?php echo $this->module->id?> button {
		color: <?php echo ($this->content->submit_button_text_color)?$this->content->submit_button_text_color:'inherit'?> !important;
		background-color: <?php echo ($this->content->submit_button_color)?$this->content->submit_button_color:'inherit'?> !important;
	<?php if (isset($this->content->submit_button_border_status) && $this->content->submit_button_border_status == 'Enabled') {?>
		border: <?php echo (isset($this->content->submit_button_border_width) && $this->content->submit_button_border_width)?$this->content->submit_button_border_width:'0'?> solid <?php echo (isset($this->content->submit_button_border_color) && $this->content->submit_button_border_color)?$this->content->submit_button_border_color:''?> !important;
	<?php } ?>
	}
	#module-<?php echo $this->module->id?> button:hover {
		color: <?php echo ($this->content->submit_button_text_hover_color)?$this->content->submit_button_text_hover_color:$this->content->submit_button_text_color?> !important;
		background-color: <?php echo ($this->content->submit_button_hover_color)?$this->content->submit_button_hover_color:$this->content->submit_button_color?> !important;
	<?php if (isset($this->content->submit_button_border_status) && $this->content->submit_button_border_status == 'Enabled') {?>
		border: <?php echo (isset($this->content->submit_button_border_width) && $this->content->submit_button_border_width)?$this->content->submit_button_border_width:'0'?> solid <?php echo (isset($this->content->submit_button_hover_border_color) && $this->content->submit_button_hover_border_color)?$this->content->submit_button_hover_border_color:$this->content->submit_button_border_color?> !important;
	<?php } ?>
	}
<?php /*
	#module-<?php echo $this->module->id?> input[type=checkbox],
	#module-<?php echo $this->module->id?> input[type=radio] {
		margin-right: 10px;
	}
*/ ?>
</style>
