<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>" <?php echo $this->config['data_attributes']?>>
	<div class="container">
		<div class="form <?php echo (isset($this->content->label_position) && $this->content->label_position == 'inline')?"form-inline":""?>" id="form-<?php echo $this->module->id?>">
			<input type="hidden" name="module_id" value="<?php echo $this->module->id?>">

			<div class="row flex-row-md">
				<div class="col-md-6 bg-gray-md">
					<div class="order-details">
						<h2>Order Details</h2>

						<?php
						$tips = array(); $amount = 0;
						foreach ($this->panels as $panel) {
						?>
							<div class="">
								<?php if($panel['panel']->field_type == 'label') { ?>
									<strong style="<?php //echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>
										<?php echo (isset($panel->text_size) && $panel->text_size)?"font-size:{$panel->text_size};":""?>
										<?php echo (isset($panel->text_color) && $panel->text_color)?"color:{$panel->text_color};":""?>
									">
										<?php echo $panel['panel']->label?></strong>
								<?php }else {?>
									<strong style="<?php //echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>">
										<?php echo $panel['panel']->label?>:</strong>
								<?php } ?>

								<?php
								if ($panel['panel']->is_payment_amount == 'yes') {
									$amount = preg_replace("/[^0-9.]/", "", $panel['value']);

									echo "$".number_format($amount, 2);
								}elseif($panel['panel']->field_type == 'label' || $panel['panel']->field_type == 'recaptcha') {
									//no data to display for label
								}elseif ($panel['panel']->field_type == 'tip') {
									if ($panel['panel']->tip_percent && $panel['value']) {
										echo "Yes";
										$tips[] = preg_replace("/[^0-9.]/", "", $panel['panel']->tip_percent);
									}elseif ($panel['panel']->tip_percent && !$panel['value']) {
										echo "No";
									}else {
										echo $panel['value']."%";
										$tips[] = preg_replace("/[^0-9.]/", "", $panel['value']);
									}

								}else {
									echo (is_array($panel['value']))?implode(", ", $panel['value']):$panel['value'];
								}
								?>
							</div>

						<?php
						}

						//adjust amount outside of loop otherwise amount may not be set before tip field
						$total_tip = 0;
						if ($tips) {
							foreach ($tips as $k => $percent) {
								if ($percent) {
									$total_tip += round($amount * ($percent / 100), 2);
								}
							}
						}
						$amount += $total_tip;

						if ($amount) {
						?>
						<div class="">
							<strong style="<?php //echo ($this->content->label_color)?"color:{$this->content->label_color};":""?>
									color: #ff0000;
							<?php echo (isset($panel->text_size) && $panel->text_size)?"font-size:{$panel->text_size};":""?>
							<?php echo (isset($panel->text_color) && $panel->text_color)?"color:{$panel->text_color};":""?>
									">Total: </strong>

							<?php echo "$".number_format($amount, 2); ?>
						</div>
						<?php } ?>
					</div>
				</div>
				<div class="col-md-6">
					<div class="payment-details">
						<?php echo $this->content->confirmation_text?>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<?php /*
<style>
	#module-<?php echo $this->module->id?> button {
		color: <?php echo ($this->content->submit_button_text_color)?$this->content->submit_button_text_color:'inherit'?> !important;
		background-color: <?php echo ($this->content->submit_button_color)?$this->content->submit_button_color:'inherit'?> !important;
	<?php if (isset($this->content->submit_button_border_status) && $this->content->submit_button_border_status == 'Enabled') {?>
		border: <?php echo (isset($this->content->submit_button_border_width) && $this->content->submit_button_border_width)?$this->content->submit_button_border_width:'0'?> solid <?php echo (isset($this->content->submit_button_border_color) && $this->content->submit_button_border_color)?$this->content->submit_button_border_color:''?> !important;
	<?php } ?>
	}
	#module-<?php echo $this->module->id?> button:hover {
		color: <?php echo ($this->content->submit_button_text_hover_color)?$this->content->submit_button_text_hover_color:$this->content->submit_button_text_color?> !important;
		background-color: <?php echo ($this->content->submit_button_hover_color)?$this->content->submit_button_hover_color:$this->content->submit_button_color?> !important;
	<?php if (isset($this->content->submit_button_border_status) && $this->content->submit_button_border_status == 'Enabled') {?>
		border: <?php echo (isset($this->content->submit_button_border_width) && $this->content->submit_button_border_width)?$this->content->submit_button_border_width:'0'?> solid <?php echo (isset($this->content->submit_button_hover_border_color) && $this->content->submit_button_hover_border_color)?$this->content->submit_button_hover_border_color:$this->content->submit_button_border_color?> !important;
	<?php } ?>
	}

	#module-<?php echo $this->module->id?> input[type=checkbox],
	#module-<?php echo $this->module->id?> input[type=radio] {
		margin-right: 10px;
	}
</style>
*/ ?>
