<div class="container" style="min-height:80vh;">
	<form method="post" action="/index/protected" class="form">
		<input type="hidden" name="code" value="<?php echo $this->page->code?>">

		<div class="col-sm-8 col-sm-offset-2 text-center">
			<h3>This page requires a password to access</h3>
			<p>Please enter the password below</p>

			<div class="row">
				<strong class="text-danger has-error"><?php echo $this->error?></strong>
			</div>

			<div class="row">
				<div class="col-sm-4 col-xs-offset-4">
					<div class="form-group">
						<input type="password" name="password" class="form-control" value="" placeholder="Enter Password">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Enter</button>
				</div>
			</div>
		</div>
	</form>
</div>
