.timeline__sub-heading {
  @include stanpro;
  border-bottom: 1px solid $gold;
  color: $gold;
  font-size: px2rem(24);
  padding-bottom: px2rem($xs-spacing);
  text-transform: none;

  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(19);
  }
}