<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="col-sm-12">
					<div class="col-xs-1">
						<button type="submit" class="btn btn-primary xs-100">Search</button>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<div class="checkbox hidden-xs">
								<input type="checkbox" name="csv" value="1" id="export"> <label for="export">Export</label>
							</div>
						</div>
					</div>
					<div class="col-xs-1">
						<a href="/admin/cms/block-list" class="btn btn-warning xs-100">Reset</a>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-xs-12 text-right">
				<a class="btn btn-primary xs-100 m-r-5" href="/admin/cms/nav-panel-add">Add New Navigation Panel</a>
				<a class="btn btn-primary xs-100 m-r-5" href="/admin/cms/modal-add">Add New Modal</a>
				<a class="btn btn-primary xs-100" href="/admin/cms/block-add">Add New Block</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<th><a href="/admin/cms/block-list/sort/title/dir/<?php echo $dir?>">Block Title</a></th>
						<th class="hidden-xs"><a href="/admin/cms/block-list/sort/modified/dir/<?php echo $dir?>">Last Modified</a></th>
						<th>Type</th>
						<th class="hidden-xs">Status</th>
						<!--<th class="text-center">Preview</th>-->
						<th class="hidden-xs text-center">Delete</th>
						<th class="text-center">Duplicate</th>
						<th class="hidden-xs text-center">Edit</th>
					</tr>
					</thead>
					<tbody>
					<?php
					foreach($this->list as $key => $val) {
						?>
						<tr>
							<td><a href="/admin/cms/page-editor/id/<?php echo $val['id']?>"><?php echo $val['title']?></a></td>
							<td class="hidden-xs"><?php echo ($val['modified'] != 0) ? $this->UTCtoTZ($val['modified'],"n/j/Y g:ia",$this->site_timezone) : ""?></td>
							<td><?php echo ($val['block_type'] == 'page') ? "Layout" : ucwords($val['block_type'])?></td>
							<td class="hidden-xs"><?php echo $val['status']?></td>
							<!--<td class="text-center"><a href="/admin/cms/page-preview/id/<?php echo $val['id']?>" title="Preview" target="_blank"><span class="sr-only">Preview </span><span class="far fa-eye"></span></a></td>-->
							<td class="hidden-xs text-center">
								<?php if ($val['system_block'] == 'No') {?>
								<a href="/admin/cms/page-delete/id/<?php echo $val['id']?>" title="Delete" class="confirm-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a>
								<?php } ?>
							</td>
							<td class="text-center">
								<?php if ($val['system_block'] == 'No') {?>
									<a href="/admin/cms/page-copy/id/<?php echo $val['id']?>/?ae=yes" title="Duplicate"><span class="sr-only">Duplicate</span> <span class="far fa-copy"></span></a>
								<?php } ?>
							</td>
							<td class="hidden-xs text-center"><a href="/admin/cms/page-editor/id/<?php echo $val['id']?>" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
						</tr>
						<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>
