<div class="text-white">
	<input type="hidden" id="row_id" value="<?php echo $this->row_id?>">
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="12">
						<div class="col-sm-12">
							<div class="bg-light-blue">1</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="6|6">
						<div class="col-sm-6">
							<div class="bg-light-blue">1/2</div>
						</div>
						<div class="col-sm-6">
							<div class="bg-light-blue">1/2</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="4|4|4">
						<div class="col-sm-4">
							<div class="bg-light-blue">1/3</div>
						</div>
						<div class="col-sm-4">
							<div class="bg-light-blue">1/3</div>
						</div>
						<div class="col-sm-4">
							<div class="bg-light-blue">1/3</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="3|3|3|3">
						<div class="col-sm-3">
							<div class="bg-light-blue">1/4</div>
						</div>
						<div class="col-sm-3">
							<div class="bg-light-blue">1/4</div>
						</div>
						<div class="col-sm-3">
							<div class="bg-light-blue">1/4</div>
						</div>
						<div class="col-sm-3">
							<div class="bg-light-blue">1/4</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="8|4">
						<div class="col-sm-8">
							<div class="bg-light-blue">2/3</div>
						</div>
						<div class="col-sm-4">
							<div class="bg-light-blue">1/3</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="4|8">
						<div class="col-sm-4">
							<div class="bg-light-blue">1/3</div>
						</div>
						<div class="col-sm-8">
							<div class="bg-light-blue">2/3</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="3|9">
						<div class="col-sm-3">
							<div class="bg-light-blue">1/4</div>
						</div>
						<div class="col-sm-9">
							<div class="bg-light-blue">3/4</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="9|3">
						<div class="col-sm-9">
							<div class="bg-light-blue">3/4</div>
						</div>
						<div class="col-sm-3">
							<div class="bg-light-blue">1/4</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="6|3|3">
						<div class="col-sm-6">
							<div class="bg-light-blue">1/2</div>
						</div>
						<div class="col-sm-3">
							<div class="bg-light-blue">1/4</div>
						</div>
						<div class="col-sm-3">
							<div class="bg-light-blue">1/4</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="3|3|6">
						<div class="col-sm-3">
							<div class="bg-light-blue">1/4</div>
						</div>
						<div class="col-sm-3">
							<div class="bg-light-blue">1/4</div>
						</div>
						<div class="col-sm-6">
							<div class="bg-light-blue">1/2</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="3|6|3">
						<div class="col-sm-3">
							<div class="bg-light-blue">1/4</div>
						</div>
						<div class="col-sm-6">
							<div class="bg-light-blue">1/2</div>
						</div>
						<div class="col-sm-3">
							<div class="bg-light-blue">1/4</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="0">
						<div class="bg-light-blue">Full Width</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="2|2|2|2|2|2">
						<div class="col-sm-2">
							<div class="bg-light-blue">1/6</div>
						</div>
						<div class="col-sm-2">
							<div class="bg-light-blue">1/6</div>
						</div>
						<div class="col-sm-2">
							<div class="bg-light-blue">1/6</div>
						</div>
						<div class="col-sm-2">
							<div class="bg-light-blue">1/6</div>
						</div>
						<div class="col-sm-2">
							<div class="bg-light-blue">1/6</div>
						</div>
						<div class="col-sm-2">
							<div class="bg-light-blue">1/6</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="4|2|2|2|2">
						<div class="col-sm-4">
							<div class="bg-light-blue">1/3</div>
						</div>
						<div class="col-sm-2">
							<div class="bg-light-blue">1/6</div>
						</div>
						<div class="col-sm-2">
							<div class="bg-light-blue">1/6</div>
						</div>
						<div class="col-sm-2">
							<div class="bg-light-blue">1/6</div>
						</div>
						<div class="col-sm-2">
							<div class="bg-light-blue">1/6</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel--column bg-gray column_selector pointer">
				<div class="panel__content">
					<div class="row row_selection" data-col="6|2|2|2">
						<div class="col-sm-6">
							<div class="bg-light-blue">1/2</div>
						</div>
						<div class="col-sm-2">
							<div class="bg-light-blue">1/6</div>
						</div>
						<div class="col-sm-2">
							<div class="bg-light-blue">1/6</div>
						</div>
						<div class="col-sm-2">
							<div class="bg-light-blue">1/6</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
