<?php
$module_helper = new Admin_View_Helper_ModuleInfo();
$modules = $module_helper->moduleCodes();
?>
<div class="text-white two-column-sm">
		<?php foreach ($modules as $module_code) { ?>
			<div class="panel panel--module bg-green">
				<div class="panel__content text-center text-white flex-row flex-align-center flex-justify-space-between modal-trigger row-refresh pointer"
				     data-title="<?php echo $module_helper->moduleTitle($module_code)?> Module" data-url="/admin/cms/add-module/column_id/<?php echo $this->column_id?>/type/<?php echo $module_code?>" data-column_id="<?php echo $this->column_id?>">
					<div class="panel__icons">
						<?php echo $module_helper->moduleIcon($module_code)?>
					</div>
					<div class="panel__copy"><?php echo $module_helper->moduleTitle($module_code)?></div>
					<div>
						<i class="fas fa-plus"></i>
					</div>
				</div>
			</div>
		<?php } ?>
</div>
<div class="text-white">
	<div class="panel panel--module bg-dark-purple">
		<div class="panel__content text-center text-white flex-row flex-align-center flex-justify-space-between modal-trigger row-refresh pointer"
		     data-title="Module Library" data-url="/admin/cms/library-list-module/column_id/<?php echo $this->column_id?>/" data-column_id="<?php echo $this->column_id?>">
			<div class="panel__icons">
				<i class="fab fa-stack-overflow"></i>
			</div>
			<div class="panel__copy">Add Module From Library</div>
			<div>
				<i class="fas fa-arrow-right"></i>
			</div>
		</div>
	</div>
</div>
