<?php
$mapper = new Admin_Model_Mapper_PageSectionRow();
$editable = $mapper->isEditable($this->row->id);
?>
<div class="section_row" id="section_row-<?php echo $this->row->id?>" data-section_row_id="<?php echo $this->row->id?>">
	<?php
	$mapper = new Admin_Model_Mapper_PageSectionRowColumn();
	$columns = $mapper->getPageSectionRowColumns($this->row->id);
	if (!$columns) {
		?>
		<!-- if no columns -->
		<div class="panel__content">
			<div class="m-b-0 panel panel--module bg-border flex-row flex-align-center flex-justify-center">
				<div class="controls controls--horizontal controls--footer">
					<?php if ($editable) {?>
					<a class="btn btn-xs btn--link modal-trigger" data-title="Insert Column(s)" data-target="#modal" href="/admin/cms/choose-columns/row_id/<?php echo $this->row->id?>"><i class="far fa-plus-square"></i> Insert Column(s)</a>
					<?php } ?>
				</div>
			</div>
		</div>
		<!-- end if no columns -->
	<?php }else { ?>
		<!-- row columns -->
		<div class="panel__content bg-white border-radius-right">
			<div class="row flex-row">
				<div class="col-xs-2 col-sm-1 p-r-0">
					<div class="controls bg-dark-blue flex-row flex-justify-space-between flex-direction-column sort-handle border-radius-left">
						<?php if ($editable) {?>
						<div class="controls__item text-center">
							<button class="btn btn-xs btn--transparent text-white modal-trigger" title="Menu" data-target="#modal" data-title="Row Menu" data-url="/admin/cms/edit-row/id/<?php echo $this->row->id?>"><i class="fas fa-bars"></i></button>
							<button class="btn btn-xs btn--transparent text-white clone-row" title="Clone"><i class="far fa-clone"></i></button>
						</div>
						<div class="controls__item text-center">
							<button class="btn btn-xs btn--transparent text-white del-row" title="Delete" data-id="<?php echo $this->row->id?>"><i class="fas fa-times"></i></button>
						</div>
						<?php } ?>
					</div>
				</div>
				<div class="col-xs-10 col-sm-11 col-lg-12 p-l-0">
					<div class="controls__item col-xs-12 text-right p-t-10 p-r-15">
						<span class="desktop_status_row <?php echo ($this->row->desktop_status == 'Disabled')?'disabled':''?>" title="Desktop Visibility <?php echo $this->row->desktop_status?>"><i class="far fa-desktop"></i></span>
						<span class="tablet_status_row <?php echo ($this->row->tablet_status == 'Disabled')?'disabled':''?>" title="Tablet Visibility <?php echo $this->row->tablet_status?>"><i class="far fa-tablet-android"></i></span>
						<span class="mobile_status_row <?php echo ($this->row->mobile_status == 'Disabled')?'disabled':''?>" title="Mobile Visibility <?php echo $this->row->mobile_status?>"><i class="far fa-mobile"></i></span>
					</div>
					<div class="panel__content">
						<div class="row m-0">
							<?php
							$mapper = new Admin_Model_Mapper_PageSectionRowColumnModule();
							$module_helper = new Admin_View_Helper_ModuleInfo();
							foreach ($columns as $column) {
								$modules = $mapper->getPageSectionRowColumnModules($column->id);
								?>
							<div class="col-sm-<?php echo ($column->col_class)?$column->col_class:12?> p-t-10">
								<div class="module-list module-list-connected" data-column_id="<?php echo $column->id?>">
								<?php if ($modules) { ?>
									<?php foreach ($modules as $module) { ?>
										<div class="column_module sort-handle <?php echo ($module->class_special)?$module->class_special:"split-none"?>" id="column_module-<?php echo $module->id ?>" data-module="<?php echo $module->id?>">
											<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between m-b-5">
												<div class="controls controls--horizontal">
													<div class="controls__item text-center">
														<button class="btn btn-xs btn--transparent text-white modal-trigger" data-target="#modal" data-title="<?php echo $module_helper->moduleTitle($module->type) ?> Module" data-url="/admin/cms/edit-module/id/<?php echo $module->id ?>">
															<i class="fas fa-bars"></i></button>
														<button class="btn btn-xs btn--transparent text-white clone-module" title="Clone"><i class="far fa-clone"></i></button>
													</div>
												</div>
												<div class="panel__title row-module" id="module_label-<?php echo $module->id ?>"><?php echo $module_helper->moduleIcon($module->type) ?><?php echo ($module->label) ? $module->label : $module_helper->moduleTitle($module->type) ?></div>
												<div class="controls">
													<div class="visibility-list text-center pull-left m-r-10 hide-sm <?php echo ($column->col_class && $column->col_class <= 4)?"hide":""?>">
														<span class="<?php echo ($module->desktop_status == 'Disabled')?'disabled':''?>" title="Desktop Visibility <?php echo $module->desktop_status?>"><i class="far fa-desktop"></i></span>
														<span class="<?php echo ($module->tablet_status == 'Disabled')?'disabled':''?>" title="Tablet Visibility <?php echo $module->tablet_status?>"><i class="far fa-tablet-android"></i></span>
														<span class="<?php echo ($module->mobile_status == 'Disabled')?'disabled':''?>" title="Mobile Visibility <?php echo $module->mobile_status?>"><i class="far fa-mobile"></i></span>
													</div>
													<div class="controls__item text-center pull-right">
														<?php if ($editable) { ?>
															<button class="btn btn-xs btn--transparent text-white del-module" title="Delete" data-module_id="<?php echo $module->id ?>">
																<i class="fas fa-times"></i></button>
														<?php } ?>
													</div>
												</div>
											</div>
										</div>
									<?php } ?>
									<div class="m-0 p-0 controls controls--horizontal controls--footer">
										<?php if ($editable) { ?>
											<a class="btn btn-xs btn--link modal-trigger" href="/admin/cms/choose-module/column_id/<?php echo $column->id ?>" data-toggle="modal" data-title="Add Module"><i class="far fa-plus-square"></i>
												Add Module</a>
										<?php } ?>
									</div>
									<?php
									}else {
									?>
										<div class="m-b-0 panel panel--module bg-border flex-row flex-align-center flex-justify-center">
											<div class="controls controls--horizontal controls--footer">
												<?php if ($editable) {?>
												<a class="btn btn-xs btn--link modal-trigger" href="/admin/cms/choose-module/column_id/<?php echo $column->id?>" data-toggle="modal" data-title="Insert Module"><i class="far fa-plus-square"></i> Insert Module(s)</a>
												<?php } ?>
											</div>
										</div>
								<?php } ?>
								</div>
							</div>
							<?php } ?>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- end row columns -->
	<?php } ?>
</div>
