<?php
$mapper = new Admin_Model_Mapper_PageSection();
$editable = $mapper->isEditable($this->section->id);

$row_editable = false;
if (!$editable) {
	$mapper = new Application_Model_Mapper_Page();
	$page = $mapper->find($this->section->page_id);
	if ($page->editable == 'Row') {
		$row_editable = true;
	}
}
$settings = json_decode($this->section->json_settings);
?>
<div class="panel panel--container" data-section="<?php echo $this->section->id?>" id="sort_<?php echo $this->section->id?>">
	<div class="row flex-row">
		<div class="col-xs-2 col-sm-1 p-r-0">
			<div class="controls bg-<?php echo $this->section->type?> flex-row flex-justify-space-between flex-direction-column sort-handle border-radius-left">
				<?php if ($editable) {?>
				<div class="controls__item text-center">
					<button class="btn btn-xs btn--transparent text-white modal-trigger minimized-section-hidden" title="Menu" data-target="#modal" data-title="Section Menu" data-url="/admin/cms/edit-section/id/<?php echo $this->section->id?>"><i class="fas fa-bars"></i></button>
					<button class="btn btn-xs btn--transparent text-white clone-section minimized-section-hidden" title="Clone"><i class="far fa-clone"></i></button>
					<button class="btn btn-xs btn--transparent text-white minimized-section-hidden minimize-section-btn" title="Minimize"><i class="fas fa-window-minimize"></i></button>
					<button class="btn btn-xs btn--transparent text-white maximized-section-hidden maximize-section-btn" title="Maximize"><i class="far fa-window-maximize"></i></button>
					<!--<span class="btn btn-xs btn--transparent text-white" title="Move"><i class="fas fa-arrows"></i></span>-->
				</div>
				<div class="controls__item text-center">
					<button class="btn btn-xs btn--transparent text-white del-section minimized-section-hidden" title="Delete" data-id="<?php echo $this->section->id?>"><i class="fas fa-times"></i></button>
				</div>
				<?php }elseif ($row_editable) {?>
					<div class="controls__item text-center">
						<button class="btn btn-xs btn--transparent text-white modal-trigger" title="Menu" data-target="#modal" data-title="Section Menu" data-url="/admin/cms/edit-section/id/<?php echo $this->section->id?>"><i class="fas fa-bars"></i></button>
					</div>
				<?php } ?>
			</div>
		</div>
		<div class="col-xs-10 col-sm-11 col-lg-12 bg-body-color p-r-0 border-radius-right text-center section-label bg-<?php echo $this->section->type?>">
			<div class="col-xs-10 p-t-12 h100p">
				<div class="panel__title">
					<span class="icons" title="Image"><i class="fas fa-tasks"></i> </span>
					<span id="section-title-<?php echo $this->section->id?>"><?php echo (isset($settings->label) && $settings->label)?$settings->label:ucwords("{$this->section->type} Section")?></span>
				</div>
			</div>
			<div class="col-xs-2 text-right border-radius-right p-t-12 h100p visibility-list bg-<?php echo $this->section->type?>">
				<div class="controls__item text-center">
					<span class="desktop_status <?php echo ($this->section->desktop_status == 'Disabled')?'disabled':''?>" title="Desktop Visibility <?php echo $this->section->desktop_status?>"><i class="far fa-desktop"></i></span>
					<span class="tablet_status <?php echo ($this->section->tablet_status == 'Disabled')?'disabled':''?>" title="Tablet Visibility <?php echo $this->section->tablet_status?>"><i class="far fa-tablet-android"></i></span>
					<span class="mobile_status <?php echo ($this->section->mobile_status == 'Disabled')?'disabled':''?>" title="Mobile Visibility <?php echo $this->section->mobile_status?>"><i class="far fa-mobile"></i></span>
				</div>
			</div>
		</div>
		<div class="col-xs-10 col-sm-11 col-lg-12 bg-body-color -p-t-20 p-b-20 border-radius-right cms-rows">
			<div class="row text-center section-label-2">
				<div class="col-xs-12 p-t-10 h100p">
					<span class="panel__title">
						<span class="icons" title="Image"><i class="fas fa-tasks"></i> </span>
						<span id="section-title-<?php echo $this->section->id?>"><?php echo (isset($settings->label) && $settings->label)?$settings->label:ucwords("{$this->section->type} Section")?></span>
					</span>
					<span class="controls__item pull-right">
						<span class="desktop_status <?php echo ($this->section->desktop_status == 'Disabled')?'disabled':''?>" title="Desktop Visibility <?php echo $this->section->desktop_status?>"><i class="far fa-desktop"></i></span>
						<span class="tablet_status <?php echo ($this->section->tablet_status == 'Disabled')?'disabled':''?>" title="Tablet Visibility <?php echo $this->section->tablet_status?>"><i class="far fa-tablet-android"></i></span>
						<span class="mobile_status <?php echo ($this->section->mobile_status == 'Disabled')?'disabled':''?>" title="Mobile Visibility <?php echo $this->section->mobile_status?>"><i class="far fa-mobile"></i></span>
					</span>
				</div>
			</div>

			<div class="row-list">
				<?php
				$mapper = new Admin_Model_Mapper_PageSectionRow();
				$rows = $mapper->getPageSectionRows($this->section->id);
				if ($rows) {
					foreach ($rows as $row) {
						echo $this->partial('/cms/component-row.phtml', array('row' => $row));
					}
				}
				?>
			</div>
			<div class="panel__content">
				<div class="controls controls--horizontal p-t-0 p-b-0 controls--footer">
					<?php if ($editable || $row_editable) { ?>
					<a class="btn btn-xs btn--link add-row" data-section_id="<?php echo $this->section->id?>"><i class="far fa-plus-square"></i> Add Row</a>
					<?php } ?>
				</div>
			</div>
		</div>
	</div>
	<?php if ($editable) { ?>
	<div class="controls controls--horizontal controls--footer">
		<a class="btn btn-xs btn--link add-section" data-type="standard" href=""><i class="far fa-plus-square"></i> Add Standard Section</a>
		<a class="btn btn-xs btn--link add-section" data-type="fullwidth" href="">Add Fullwidth Section</a>
	</div>
	<?php } ?>
</div>

<?php if ($this->runJS) {?>
	<script>
		$("div[data-section='<?php echo $this->section->id?>'] .maximized-section-hidden, div[data-section='<?php echo $this->section->id?>'] .section-label").hide();
	</script>
<?php } ?>
