<div class="cms-module-modal">
	<?php
	$module_info = new Admin_View_Helper_ModuleInfo();
	if ($module_info->moduleStatus($this->module->type) == 'Disabled') {?>
		<div class="text-center bg-warning alert alert-dismissable">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="text-black">This module has been deprecated. Please consider replacing with a different module.</h4>
			<span class="text-black">No fixes or improvements will be made to this module and it may break in the future</span>
		</div>
	<?php } ?>

	<?php echo $this->partial('/cms/modules/'.$this->module->type.'.phtml', array('module'=>$this->module, 'history'=>$this->history)); ?>
</div>

<script>
	$(function() {
		window.cny.moduleTabs();
	});
</script>
