<?php
$styles = json_decode($this->row->json_styles);
$settings = json_decode($this->row->json_settings);

$mapper = new Admin_Model_Mapper_PageSectionRow();
$fullwidth = $mapper->rowContainsFullwidthModule($this->row->id);
?>
<form method="post" action="" class="row-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->row->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="row text-left flex-row flex-align-center">
				<div class="col-sm-3 text-black">
					<label class="m-b-15">
						Full Width:
					</label>
				</div>
				<div class="col-sm-9">
					<div class="form-group m-b-15 text-black">
						<?php
						$enabled = ((isset($settings->full_width) && $settings->full_width == 'Enabled') || $fullwidth)?'on':'off';
						?>
						<div class="btn-group" id="status" data-toggle="buttons">
							<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
								<input type="radio" value="Enabled" name="settings[full_width]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
							<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
								<input type="radio" value="Disabled" name="settings[full_width]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row text-left flex-row flex-align-center">
				<div class="col-sm-3 text-black">
					<label class="m-b-15">
						Fixed Interior Full Width:
					</label>
				</div>
				<div class="col-sm-9">
					<div class="form-group m-b-15 text-black">
						<?php
						$enabled = ((isset($settings->fixed_full_width) && $settings->fixed_full_width == 'Enabled'))?'on':'off';
						?>
						<div class="btn-group" id="status" data-toggle="buttons">
							<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
								<input type="radio" value="Enabled" name="settings[fixed_full_width]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
							<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
								<input type="radio" value="Disabled" name="settings[fixed_full_width]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row text-left flex-row flex-align-center">
				<div class="col-sm-3 text-black">
					<label class="m-b-15">
						Force Modules Equal Height:
					</label>
				</div>
				<div class="col-sm-9">
					<div class="form-group m-b-15">
						<?php
						$enabled = (isset($settings->equal_height) && $settings->equal_height == 'Enabled')?'on':'off';
						?>
						<div class="btn-group" id="status" data-toggle="buttons">
							<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
								<input type="radio" value="Enabled" name="settings[equal_height]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
							<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
								<input type="radio" value="Disabled" name="settings[equal_height]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/settings.phtml', array('item'=>$this->row,'styles'=>$styles, 'class'=>$this->row->class, 'type'=>'row')); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->row)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-row border-radius-bottom" id="save">Save</button>
	</div>
</form>
