<?php
$styles = json_decode($this->section->json_styles);
$settings = json_decode($this->section->json_settings);
?>
<form method="post" action="" class="section-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->section->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="row text-left flex-row flex-align-center">
				<div class="col-sm-3 text-black">
					<label class="m-b-15">
						Section Label:
					</label>
				</div>
				<div class="col-sm-9">
					<div class="form-group m-b-15">
						<input type="text" name="settings[label]" value="<?php echo (isset($settings->label) && $settings->label)?$settings->label:''?>" class="form-control border-radius">
					</div>
				</div>
			</div>
			<div class="row text-left flex-row flex-align-center">
				<div class="col-sm-3 text-black">
					<label class="m-b-15">
						Section Type:
					</label>
				</div>
				<div class="col-sm-9">
					<div class="form-group m-b-15">
						<?php echo $this->formSelect('data[type]', $this->section->type, array('class'=>'form-control bg-gray'),
							array('standard'=>'Standard','fullwidth'=>'Fullwidth')
						)?>
					</div>
				</div>
			</div>


			<div class="row text-left flex-row flex-align-center">
				<div class="col-sm-3 text-black">
					<label class="m-b-15">
						Section Wipe:
					</label>
				</div>
				<div class="col-sm-9">
					<div class="form-group m-b-15">
						<label class="m-b-5 text-black">Enable:</label>
						<?php
						$enabled = (isset($settings->section_animation) && $settings->section_animation == 'animate')?'on':'off';
						?>
						<div class="btn-group" id="animate" data-toggle="buttons">
							<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
								<input type="radio" value="animate" name="settings[section_animation]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
							<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
								<input type="radio" value="" name="settings[section_animation]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
						</div>
					</div>
					<div class="form-group m-b-15 hide">
						<label for="" class="m-b-5 text-black">Section Effect</label>
						<?php $section_effects = array(
							'none' => 'none',
							'section-swipe' => 'Swipe',
							'section-swipe-left' => 'Swipe Left',
						);
						echo $this->formSelect('settings[section_animation_effect]', (isset($settings->section_animation_effect))?$settings->section_animation_effect:'', array('class'=>'form-control bg-gray'), $section_effects)
						?>
					</div>
				</div>
			</div>

			<div class="row text-left flex-row flex-align-center">
				<div class="col-sm-3 text-black">
					<label class="m-b-15">
						Section Full Height:
					</label>
				</div>
				<div class="col-sm-9">
					<div class="form-group m-b-15">
						<label class="m-b-5 text-black">Enable:</label>
						<?php
						$enabled = (isset($settings->section_full_height) && $settings->section_full_height == 'on')?'on':'off';
						?>
						<div class="btn-group" id="fullHeight" data-toggle="buttons">
							<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
								<input type="radio" value="on" name="settings[section_full_height]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
							<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
								<input type="radio" value="" name="settings[section_full_height]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
						</div>
					</div>
				</div>
			</div>

			<div class="row text-left section-vertical-alignment">
				<div class="col-sm-3 text-black">
					<label class="m-b-15">
						Section Vertical Alignment:
					</label>
				</div>
				<div class="col-sm-9">
					<div class="form-group m-b-15">
						<?php
						echo $this->formSelect('settings[section_vert_align]', (isset($settings->section_vert_align))?$settings->section_vert_align:'', array('class'=>'form-control bg-gray'), array("flex-align-start"=>"Top","flex-align-center"=>"Middle","flex-align-end"=>"Bottom"))
						?>
					</div>
				</div>
			</div>

		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/settings.phtml', array('item'=>$this->section,'styles'=>$styles, 'class'=>$this->section->class, 'type'=>'section')); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->section)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-section border-radius-bottom" id="save">Save</button>
	</div>
</form>
