<?php
$module_helper = new Admin_View_Helper_ModuleInfo();
?>
<div class="text-white">
	<?php foreach ($this->modules as $module) { ?>
		<div class="row">
			<div class="col-sm-12">
				<div class="panel panel--module bg-green">
					<div class="panel__content text-center text-white flex-row flex-align-center flex-justify-space-between modal-trigger row-refresh pointer"
					     data-title="<?php echo $module_helper->moduleTitle($module->type)?> Module" data-url="/admin/cms/add-module/column_id/<?php echo $this->column_id?>/library_module_id/<?php echo $module->id?>" data-column_id="<?php echo $this->column_id?>">
						<div class="panel__icons">
							<?php echo $module_helper->moduleIcon($module->type)?>
						</div>
						<div class="panel__copy"><?php echo $module->label?></div>
						<div>
							<span class="modal-trigger pointer m-r-20 confirm" data-url="/admin/cms/library-delete-module/column_id/<?php echo $this->column_id?>/id/<?php echo $module->id?>">
								<i class="fas fa-trash"></i>
							</span>
							<i class="fas fa-plus"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	<?php } ?>

	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel--module bg-dark-purple">
				<div class="panel__content text-center text-white flex-row flex-align-center flex-justify-space-between modal-trigger row-refresh pointer"
				     data-title="Module Library" data-url="/admin/cms/choose-module/column_id/<?php echo $this->column_id?>/" data-column_id="<?php echo $this->column_id?>">
					<div class="panel__icons">
						<i class="fab fa-stack-overflow"></i>
					</div>
					<div class="panel__copy">Return to Standard Modules</div>
					<div>
						<i class="fas fa-arrow-left"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
