<form method="post" action="/admin/cms/nav-external-form" class="page-nav-external-form">
	<input type="hidden" name="data[id]" value="<?php echo (isset($this->item->id))?$this->item->id:''?>">
	<input type="hidden" name="data[main_nav_sort_order]" value="<?php echo (isset($this->item->main_nav_sort_order))?$this->item->main_nav_sort_order:'99999'?>">
	<input type="hidden" name="data[status]" value="<?php echo (isset($this->item->status))?$this->item->status:'Enabled'?>">
	<input type="hidden" name="data[main_nav_status]" value="<?php echo (isset($this->item->main_nav_status))?$this->item->main_nav_status:'Enabled'?>">
	<input type="hidden" name="data[category_id]" value="<?php echo (isset($this->item->category_id))?$this->item->category_id:''?>">

	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label text-black m-b-15 text-left">Title</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<input type="text" class="form-control" name="data[title]" value="<?php echo (isset($this->item->title))?$this->item->title:''?>">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label text-black m-b-15 text-left">Link Type</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<?php echo $this->formSelect('data[link_type]', 'url', array('class'=>'form-control bg-gray','id'=>'link_type'),
						array('url'=>'URL','panel'=>'Panel Navigation')
					)?>
				</div>
			</div>
		</div>
	</div>
	<div class="row toggle-link_type url">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label text-black m-b-15 text-left">URL</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<input type="text" class="form-control" name="data[url]" value="<?php echo (isset($this->item->url))?$this->item->url:''?>">
				</div>
			</div>
		</div>
	</div>
	<div class="row toggle-link_type panel">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label text-black m-b-15 text-left">Select Panel</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<?php
					$mapper = new Admin_Model_Mapper_Page();
					$modals = $mapper->fetchNavPanels();
					$options = [];
					foreach ($modals as $modal) {
						$options[$modal->id] = $modal->title;
					}
					echo $this->formSelect('data[block_id]', (isset($this->item->block_id))?$this->item->block_id:'', array('class'=>'form-control bg-gray'),
						array(""=>"")+$options
					)?>
				</div>
			</div>
		</div>
	</div>
	<div class="row toggle-link_type panel">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label text-black m-b-15 text-left">Panel Open Type</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<?php echo $this->formSelect('data[panel_open_type]', 'url', array('class'=>'form-control bg-gray'),
						array('Overlay'=>'Overlay','Slide'=>'Slide Page Down')
					)?>
				</div>
			</div>
		</div>
	</div>
	<div class="row toggle-link_type panel">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label text-black m-b-15 text-left">Mobile URL</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<input type="text" class="form-control" name="data[mobile_url]" value="<?php echo (isset($this->item->mobile_url))?$this->item->mobile_url:''?>">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label text-black m-b-15 text-left">Link Target</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<?php echo $this->formSelect('data[target]', (isset($this->item->target))?$this->item->target:'', array('class'=>'form-control bg-gray'),
						array(''=>'Current Window/Tab','_blank'=>'New Tab')
					)?>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label text-black m-b-15 text-left">Parent</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<?php echo $this->formSelect('data[main_nav_parent_id]', (isset($this->item->main_nav_parent_id))?$this->item->main_nav_parent_id:'', array('class'=>'form-control bg-gray'), array('0'=>'Top Level')+$this->nav_pages)?>
				</div>
			</div>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<div class="btn-group btn-group-justified">
			<?php if (isset($this->item->id) && $this->item->id) {?>
				<a href="<?php echo $this->baseUrl('/admin/cms/nav-external-delete/id/'.$this->item->id);?>" class="btn btn-lg btn-danger waves-effect waves-light" style="width:50%;">Delete</a>
			<?php } ?>

			<button type="submit" class="btn btn-lg waves-effect waves-light btn--purple save-module border-radius-bottom btn--full-width" id="save">Save</button>
		</div>
	</div>
</form>

<script>
	$(document).ready(function() {
		$(".toggle-link_type.panel").hide();

		<?php if (isset($this->item->block_id) && $this->item->block_id) { ?>
		$(".toggle-link_type.url").hide();
		$(".toggle-link_type.panel").show();
		<?php } ?>

		$("#link_type").on("change", function(){
			if ($(this).val() == 'panel') {
				$(".toggle-link_type.url").hide();
				$(".toggle-link_type.panel").show();
			}else {
				$(".toggle-link_type.url").show();
				$(".toggle-link_type.panel").hide();
			}
		});
	});
</script>
