<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-xs-12 text-right">
				<a class="btn btn-default xs-100 m-r-10" href="/admin/cms/page-list">Back</a>
				<a class=" btn btn-primary xs-100" href="#">Add New Menu</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row m-b-30">
			<div class="col-sm-4 col-lg-3">
				<h3 class="text-dark-blue">Main Navigation Menu</h3>
			</div>
			<div class="col-sm-8 col-lg-9">
				<a class="pull-right btn btn-primary xs-100 modal-trigger" href="/admin/cms/nav-external-form" data-target="#modal" data-title="Add Link to External Page">Add Link to External Page</a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 component-search-results m-b-10">
				<div class="col-xs-1">Arrange</div>
				<div class="col-xs-9">Page Title</div>
				<!--<div class="col-xs-1 text-center text-dark-blue">Visibility</div>-->
				<div class="col-xs-1 text-center">Status</div>
				<div class="col-xs-1 hidden-xs text-center">Settings</div>
			</div>
			<div class="col-sm-12 component-search-results">
				<ul class="list-unstyled table-sub-nav striped">
					<?php
					foreach ($this->main_nav as $item) {
						if (!isset($item['children']) || count($item['children']) == 0) {
					?>
						<li id="sort_<?php echo $item['id']?>">
							<div class="col-xs-1 text-dark-blue p-l-30"><i class="fas fa-arrows"></i></div>
							<div class="col-xs-9"><a href="javascript:"><?php echo $item['title']?></a></div>
							<!--
							<div class="col-xs-1 text-center visibility-controls">
								<a class="btn btn-link p-0" href=""><i class="far fa-desktop"></i></a>
								<a class="btn btn-link p-0" href="" disabled="disabled"><i class="far fa-mobile"></i></a>
							</div>
							-->
							<div class="col-xs-1 text-center"><?php echo $item['status']?></div>
							<div class="col-xs-1 hidden-xs text-center setting-controls">
								<a href="/admin/cms/nav-settings-form/id/<?php echo $item['id']?>" class="modal-trigger" data-target="#modal" data-title="Edit Menu Item Settings" title="Edit"><span class="sr-only">Settings</span> <span class="far fa-edit"></span></a>
							</div>
						</li>
						<?php
						}else {
						?>
							<li id="sort_<?php echo $item['id']?>" class="sub-nav-parent">
								<div class="col-xs-1 text-dark-blue p-l-30"><i class="fas fa-arrows"></i></div>
								<div class="col-xs-9 text-dark-blue">
									<a class="trigger-sub-nav" href="javascript:"><?php echo $item['title']?></a>
									<span class="fas fa-angle-right m-l-5"></span>
								</div>
								<!--
								<div class="col-xs-1 text-center visibility-controls">
									<a class="btn btn-link p-0" href=""><i class="far fa-desktop"></i></a>
									<a class="btn btn-link p-0" href="" disabled="disabled"><i class="far fa-mobile"></i></a>
								</div>
								-->
								<div class="col-xs-1 text-center"><?php echo $item['status']?></div>
								<div class="col-xs-1 hidden-xs text-center">
									<a href="/admin/cms/nav-settings-form/id/<?php echo $item['id']?>" class="modal-trigger" data-target="#modal" data-title="Edit Menu Item Settings" title="Edit"><span class="sr-only">Settings</span> <span class="far fa-edit"></span></a>
								</div>

								<?php
								if (isset($item['children'])) {
								?>
									<ul class="list-unstyled">
									<?php
									foreach ($item['children'] as $child) {
									?>
									<li class="sub-nav" id="sort_<?php echo $child['id']?>">
										<div class="col-xs-1 text-dark-blue p-l-30"><i class="fas fa-arrows"></i></div>
										<div class="col-xs-9">
											<a class="p-l-30" href=""><?php echo $child['title'] ?></a>
										</div>
										<!--
										<div class="col-xs-1 text-center visibility-controls">
											<a class="btn btn-link p-0" href=""><i class="far fa-desktop"></i></a>
											<a class="btn btn-link p-0" href="" disabled="disabled"><i class="far fa-mobile"></i></a>
										</div>
										-->
										<div class="col-xs-1 text-center"><?php echo $child['status']?></div>
										<div class="col-xs-1 hidden-xs text-center">
											<a href="/admin/cms/nav-settings-form/id/<?php echo $child['id']?>" class="modal-trigger" data-target="#modal" data-title="Edit Menu Item Settings" title="Edit"><span class="sr-only">Settings</span> <span class="far fa-edit"></span></a>
										</div>
									</li>
									<?php
									}
									?>
									</ul>
								<?php
								}
								?>
							</li>
							<?php
						}
					}
					?>
				</ul>
			</div>
		</div>
	</div>
</div>


<script>
	$(function() {
		var $tableSubNav = $('.table-sub-nav');
		$tableSubNav.find('.sub-nav').hide();
		$tableSubNav.find('.sub-nav-parent').on('click','a.trigger-sub-nav', function(){
			$(this).parent().parent().find('.sub-nav').fadeToggle(500).toggleClass('active');
		});

		$("ul").each(function(){
			$(this).sortable({
				items: "> li:not(.ui-state-disabled)",
				//cancel: ".ui-state-disabled"
				'update': function (event, ui) {
					$.post('/admin/cms/nav-list-sort', $(this).sortable('serialize'), function (data) {
						//
					});
				}
			});
		});

	});
</script>
<style>
	ul.table-sub-nav li {clear:both;}
</style>
