<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>
<?php
$editable = ($this->page->editable == 'Yes')?true:false;
?>
<input type="hidden" id="page_id" value="<?php echo $this->page->id?>">
<div class="row">
	<div class="col-sm-12">
		<div class="page-header flex-row-sm flex-align-center flex-justify-space-between">
			<div class="col-xs-10">
				<div class="">
					<h1 class="page-editor-default current-page-title"><?php echo $this->page->title?></h1>
					<input type="text" class="form-control dn page-editor-form page-title" name="data[title]" value="<?php echo $this->page->title?>">
				</div>
				<?php if ($editable || $this->page->block_type == 'block') { ?>
					<label class="font-bold">URL Code:</label>
					<span class="page-editor-default current-page-code"><?php echo $this->page->code?></span>
					<input type="text" class="form-control dn page-editor-form page-code" name="data[code]" value="<?php echo $this->page->code?>">
				<?php } ?>
			</div>

			<div class="controls controls--horizontal flex-row-sm flex-align-center flex-justify-space-between">
				<div class="controls__item">
					<?php if ($editable || $this->page->block_type == 'modal' || $this->page->block_type == 'block') { ?>
					<button class="btn btn--light-gray btn-xs page-editor-default"><i class="far fa-edit"></i> Edit</button>
					<?php } ?>
					<button class="btn btn--purple btn-xs dn page-editor-form" style="display:none;"> Save</button>
					<a href="/admin/cms/<?php echo ($this->page->editable == 'Yes')?'page':'block'?>-list" class="btn btn--light-gray btn-xs"><i class="fas fa-angle-left"></i> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section section--cms bg-white p-30">
	<div class="row">
		<div class="col-sm-12 section-list" style="position:relative;">
			<?php
			foreach ($this->sections as $section) {
				echo $this->partial('/cms/component-section.phtml', array('section'=>$section));
			}
			?>
		</div>
	</div>

	<div class="sidebar sidebar--cms bg-body-color">
		<?php if ($editable) { ?>
			<div class="page-options bg-gray-darker">
				<form id="page-options-form">
					<div class="form-group">
						<label class="text-black" for="">Template</label>
						<?php echo $this->formSelect('data[template]', $this->page->template, array('class'=>'selectpicker ajax-option ays-ignore','data-style'=>'form-control form-control--select'), $this->templates)?>
					</div>

					<div class="form-group">
						<label class="text-black" for="">Status</label>
						<?php echo $this->formSelect('data[status]', $this->page->status, array('class'=>'selectpicker ajax-option ays-ignore','data-style'=>'form-control form-control--select'), $this->page_statuses)?>
					</div>

					<div class="form-group">
						<input type="checkbox" name="main_nav_status" id="main_nav_status" value="Enabled" <?php echo (isset($this->page_nav) && $this->page_nav->main_nav_status == 'Enabled')?"checked":""?> class="ajax-nav-save">
						<label class="text-black" for="">Add to Navigation</label>
					</div>
					<div class="form-group">
						<?php echo $this->formSelect('main_nav_parent_id', isset($this->page_nav)?$this->page_nav->main_nav_parent_id:null, array('class'=>'selectpicker ajax-nav-save','data-style'=>'form-control form-control--select','disable'=>(!isset($this->page_nav) || $this->page_nav->main_nav_status != 'Enabled')?true:false), array('0'=>'Top Level')+$this->nav_pages)?>
					</div>
					<div class="form-group">
						<button class="btn btn-success">Publish</button>
					</div>
					<div class="form-group">
						<a href="/index/preview-page/id/<?php echo $this->page->id?>" target="_blank" class="btn btn--blue text-white">Preview</a>
					</div>
					<div class="form-group">
						<a href="/admin/cms/cache-refresh/page_id/<?php echo $this->page->id?>" class="btn btn-warning text-white">Force Cache Refresh</a>
					</div>
					<div class="form-group">
						<button id="toggle_sections" data-state="collapse" data-page_id="<?php echo $this->page->id?>" class="btn btn-primary text-white">Collapse Sections</button>
					</div>

					<div class="form-group">
						<label class="text-black" for="">Password Protection</label>
						<?php
						$enabled = ($this->page->password_protect == 'Disabled')?'off':'on';
						?>
						<div class="btn-group" id="password_protect" data-toggle="buttons">
							<label class="halfsize btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
								<input type="radio" value="Enabled" name="data[password_protect]" <?php echo ($enabled == 'on')?'checked':''?> class="ajax-option ays-ignore">ON</label>
							<label class="halfsize btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
								<input type="radio" value="Disabled" name="data[password_protect]" <?php echo ($enabled == 'off')?'checked':''?> class="ajax-option ays-ignore">OFF</label>
						</div>
					</div>
					<div class="form-group password_div <?php echo ($this->page->password_protect == 'Disabled')?"dn":""?>">
						<label class="text-black" for="">Password</label>
						<input type="text" name="data[password]" class="form-control" value="" placeholder="<?php echo ($this->page->password)?"************":""?>">

						<button type="button" class="btn btn-sm btn-danger password_btn">Update Password</button>
					</div>

				</form>
			</div>
			<div class="page-options page-options--static">
				<h3 class="page-options__title text-gray">SEO Settings
					<a href="/admin/cms/page-seo-edit/page_id/<?php echo $this->page->id?>" class="modal-trigger" data-target="#modal" data-title="Edit SEO Settings"><i class="far fa-edit"></i> edit</a></h3>
				<div class="form-group">
					<label class="text-black" for="">Canonical URL</label>
					<div class="form-control-stac" id="page-meta_canonical_url">
						<?php echo $this->page->meta_canonical_url?>
					</div>
				</div>
				<div class="form-group">
					<label class="text-black" for="">Meta Page Title</label>
					<div class="form-control-stac" id="page-meta_title">
						<?php echo $this->page->meta_title?>
					</div>
				</div>
				<div class="form-group">
					<label class="text-black" for="">Meta Keywords</label>
					<div class="form-control-stac" id="page-meta_keywords">
						<?php echo $this->page->meta_keywords?>
					</div>
				</div>
				<div class="form-group">
					<label class="text-black" for="">Meta Description</label>
					<div class="form-control-stac" id="page-meta_description">
						<?php echo $this->page->meta_description?>
					</div>
				</div>
				<div class="form-group">
					<label class="text-black" for="">Campaign Tracking Code</label>
					<div class="form-control-stac">
						<code id="page-tracking_code">
						<?php echo $this->page->tracking_code?>
						</code>
					</div>
				</div>

				<h3 class="page-options__title text-gray">Page Options
					<a href="/admin/cms/page-settings-edit/page_id/<?php echo $this->page->id?>" class="modal-trigger" data-target="#modal" data-title="Edit Page Options"><i class="far fa-edit"></i> edit</a></h3>

				<h3 class="page-options__title text-gray">Custom Variables
					<a href="/admin/cms/page-custom-vars-edit/page_id/<?php echo $this->page->id?>" class="modal-trigger" data-target="#modal" data-title="Edit Page Custom Variables"><i class="far fa-edit"></i> edit</a></h3>

				<div class="m-t-20">
					<form class="form m-t-20" method="post" action="/admin/cms/page-export/id/<?php echo $this->page->id?>" target="_blank">
						<button type="submit" class="btn btn-block btn-warning text-white" id="export-btn">Export Page</button>
						<label for="include_media">
							<input type="checkbox" name="include_media" id="include_media" value="Yes"> Include Media
						</label>
					</form>

					<form class="form m-t-20" method="post" enctype="multipart/form-data" action="/admin/cms/page-import/id/<?php echo $this->page->id?>">
						<input type="file" class="form-control" name="archive" accept=".clz">
						<button type="submit" class="btn btn-block btn-danger text-white" id="import-btn">Import From File</button>
					</form>
				</div>
			</div>
		<?php }elseif ($this->page->system_block == 'No') { ?>
		<div class="page-options bg-gray-darker" style="min-height:100%;">
			<div class="form-group">
				<label class="text-black" for="">Block Type:</label>
				<?php echo ($this->page->block_type == 'page')?"Layout":ucwords($this->page->block_type)?>
			</div>
		</div>
		<?php } ?>
	</div>

</div>

<script>
	$(document).ready(function(){
		$("#import-btn").on("click", function(){
			return confirm("This is an irreversible operation. Are you sure you want to continue?");
		});
	});
</script>
<style>
	.halfsize {width:50%!important;}

	<?php if (!$editable) { ?>
	.sort-handle {cursor:default!important;}
	<?php } ?>
</style>
