<form method="post" action="" class="page-seo-form">
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Canonical URL</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<input type="text" class="form-control" name="data[meta_canonical_url]" value="<?php echo $this->page->meta_canonical_url?>">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Meta Page Title</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<input type="text" class="form-control" name="data[meta_title]" value="<?php echo $this->page->meta_title?>">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Meta Keywords</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<input type="text" class="form-control" name="data[meta_keywords]" value="<?php echo $this->page->meta_keywords?>">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Meta Description</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<textarea class="form-control" name="data[meta_description]" rows="4"><?php echo $this->page->meta_description?></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row m-b-20">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Open Graph Image</label>
			<div class="col-sm-9 text-left">
				<img src="<?php echo (isset($this->page->open_graph_image))?$this->page->open_graph_image:''?>" class="img-responsive filemanager-image" data-image_src="#open_graph_image" id="open_graph_image_preview" style="max-height: 300px;">
				<input type="hidden" name="data[open_graph_image]" id="open_graph_image" value="<?php echo (isset($this->page->open_graph_image))?$this->page->open_graph_image:''?>" class="form-control">
				<a href="/filemanager/dialog.php?type=1&field_id=open_graph_image&relative_url=1" class="btn btn--black modal-filemanager" type="button">Select Image</a>
				<button type="button" class="btn btn-primary clear-open_graph_image">Remove Image</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Custom Meta Head Tags</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<textarea class="form-control" name="data[meta_head_custom]" rows="8"><?php echo $this->page->meta_head_custom?></textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Campaign Tracking Code</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<textarea class="form-control" name="data[tracking_code]" rows="8"><?php echo $this->page->tracking_code?></textarea>
				</div>
			</div>
		</div>
	</div>

	<h3 class="m-b-5 m-t-0 text-left" role="button" data-toggle="collapse" href="#collapseSchema" aria-expanded="false" aria-controls="collapseSchema">Schema <i class="fas fa-minus-square"></i></h3>
	<hr class="m-t-0">
	<div id="collapseSchema" class="collapse">
		<div class="row">
			<div class="form-group">
				<label for="" class="col-sm-3 control-label">Schema.org Page Type</label>
				<div class="col-sm-9">
					<div class="panel panel--module bg-gray">
						<?php echo $this->formSelect('data[schema_page_type]', $this->page->schema_page_type, array('class'=>'form-control'),
							array("WebPage"=>"Generic Page",
								"AboutPage"=>"About Us Page",
								"CollectionPage"=>"Collection Page",
								"ContactPage"=>"Contact Page",
								"FAQPage"=>"FAQ Page",
								"ItemPage"=>"Item/Product Page",
								"ProfilePage"=>"Profile Page",
								"QAPage"=>"Q&A Page",
								)
						)?>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label for="" class="col-sm-3 control-label">Custom Schema.org JSON</label>
				<div class="col-sm-9">
					<div class="panel panel--module bg-gray">
						<textarea class="form-control" name="data[schema_custom_json]" id="schema_custom_json" rows="8"><?php echo $this->page->schema_custom_json?></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row text-center">
		<button type="submit" class="btn btn-lg btn-warning">Save</button>
	</div>
</form>

<script>
	$(function() {
		window.cny.wysiwyg();

		if ($("#open_graph_image").val() == '') $("#open_graph_image_preview").hide();

		$(".clear-open_graph_image").on("click",function(){
			$("#open_graph_image").val('');
			$("#open_graph_image_preview").attr('src','').hide();
		});

		$("#schema_custom_json").on("blur", function(){
			try {
				if(typeof $.parseJSON($(this).val()) != 'object') {
					alert("Custom Schema.org JSON is invalid.");
				}
			}
			catch(err) {
				alert("Custom Schema.org JSON is invalid.");
			}
		});
	});
</script>
