<?php
$styles = json_decode($this->page->json_styles);
$settings = json_decode($this->page->json_settings);
?>
<form method="post" action="" class="page-settings-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->page->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Advanced Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="settings">
			<div class="form-group text-left">
				<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#settingsCollapseBackground" aria-expanded="true" aria-controls="settingsCollapseBackground">Background Options <i class="fas fa-minus-square"></i></h3>
				<div id="settingsCollapseBackground" class="collapse in">
					<label class="m-b-5 text-black">Background Color:</label>
					<div class="m-b-15">
						<input type="text" name="styles[background_color]" value="<?php echo (isset($styles->background_color) && $styles->background_color)?$styles->background_color:''?>" class="form-control border-radius complex-colorpicker">
					</div>

					<label class="m-b-5 text-black">Background Image:</label>
					<div class="m-b-15">
						<img src="<?php echo (isset($styles->background_image))?$styles->background_image:''?>" class="img-responsive filemanager-image" data-image_src="#background_image" id="background_image_preview">
						<input type="hidden" name="styles[background_image]" id="background_image" value="<?php echo (isset($styles->background_image))?$styles->background_image:''?>" class="form-control">
						<a href="/filemanager/dialog.php?type=1&field_id=background_image&relative_url=1" class="btn btn--black modal-filemanager" type="button">Select Image</a>
						<button type="button" class="btn btn-primary clear-background_image">Remove Image</button>
					</div>

					<label class="m-b-5 text-black">Stretch Behavior:</label>
					<div class="radio-list m-b-15">
						<label for="" class="radio-inline p-0">
							<div class="radio radio-info">
								<input type="radio" name="styles[background_size]" value="auto" <?php echo (!isset($styles->background_size) || $styles->background_size == 'auto')?"checked":""?> id="background_size-auto"> <label for="background_size-auto">Tile</label>
							</div>
						</label>
						<label for="" class="radio-inline">
							<div class="radio radio-info">
								<input type="radio" name="styles[background_size]" value="cover" <?php echo (isset($styles->background_size) && $styles->background_size == 'cover')?"checked":""?> id="background_size-cover"> <label for="background_size-cover">Cover</label>
							</div>
						</label>
						<label for="" class="radio-inline">
							<div class="radio radio-info">
								<input type="radio" name="styles[background_size]" value="contain" <?php echo (isset($styles->background_size) && $styles->background_size == 'contain')?"checked":""?> id="background_size-contain"> <label for="background_size-contain">Contain</label>
							</div>
						</label>
					</div>

					<label class="m-b-5 text-black">Parallax Behavior:</label>
					<div class="radio-list m-b-15">
						<label for="" class="radio-inline p-0">
							<span class="radio radio-info">
								<input type="radio" name="styles[background_attachment]" value="" <?php echo (!isset($styles->background_attachment) || $styles->background_attachment == '')?"checked":""?> id="background_attachment-initial"> <label for="background_attachment-initial">None</label>
							</span>
						</label>
						<label for="" class="radio-inline">
							<span class="radio radio-info">
								<input type="radio" name="styles[background_attachment]" value="fixed" <?php echo (isset($styles->background_attachment) && $styles->background_attachment == 'fixed')?"checked":""?> id="background_attachment-fixed"> <label for="background_attachment-fixed">Parallax</label>
							</span>
						</label>
					</div>

					<div class="row">
						<div class="col-sm-4">
							<label class="m-b-5 text-black">Parallax Scroll Factor - Desktop:</label>
							<div class="m-b-15">
								<input type="text" name="settings[parallax_factor]" value="<?php echo (isset($settings->parallax_factor) && $settings->parallax_factor)?$settings->parallax_factor:""?>" class="form-control border-radius">
							</div>
						</div>
						<div class="col-sm-4">
							<label class="m-b-5 text-black">Parallax Scroll Factor - Tablet:</label>
							<div class="m-b-15">
								<input type="text" name="settings[parallax_factor_md]" value="<?php echo (isset($settings->parallax_factor_md) && $settings->parallax_factor_md)?$settings->parallax_factor_md:""?>" class="form-control border-radius">
							</div>
						</div>
						<div class="col-sm-4">
							<label class="m-b-5 text-black">Parallax Scroll Factor - Mobile:</label>
							<div class="m-b-15">
								<input type="text" name="settings[parallax_factor_xs]" value="<?php echo (isset($settings->parallax_factor_xs) && $settings->parallax_factor_xs)?$settings->parallax_factor_xs:""?>" class="form-control border-radius">
							</div>
						</div>
					</div>

					<label for="" class="m-b-5">YouTube<!--/Vimeo-->/Direct MP4 URL:</label>
					<input type="text" class="form-control bg-white border-radius" name="styles[video_url]" value="<?php echo (isset($styles->video_url))?$styles->video_url:''?>">

					<label for="" class="m-b-5">Video Poster:</label>
					<div class="m-b-15">
						<img src="<?php echo (isset($this->styles->video_poster))?$this->styles->video_poster:''?>" class="img-responsive filemanager-image m-b-5" data-image_src="#video_image" data-settings=".video-image-settings" id="video_image_preview">
						<input type="hidden" name="styles[video_poster]" id="video_image" value="<?php echo (isset($this->styles->video_poster))?$this->styles->video_poster:''?>" class="form-control">
						<a href="/filemanager/dialog.php?type=1&field_id=video_image&relative_url=1" class="btn btn--black modal-filemanager" type="button">Select Image</a>
						<button type="button" class="btn btn-primary clear-video_image">Remove Image</button>
					</div>
				</div>
			</div>

			<div class="form-group text-left">
				<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#settingsCollapseNavigation" aria-expanded="false" aria-controls="settingsCollapseNavigation">Navigation Options <i class="far fa-plus-square"></i></h3>
				<div id="settingsCollapseNavigation" class="collapse">

					<label class="m-b-5 text-black">Show Navigation:</label>
					<div class="m-b-15">
						<?php echo $this->formSelect('data[nav_display]', $this->page->nav_display, array('class'=>'selectpicker ajax-option ays-ignore','data-style'=>'form-control form-control--select'), $this->statuses)?>
					</div>

					<label class="m-b-5 text-black">Select Header:</label>
					<div class="m-b-15">
						<?php
						$navs = Zend_Registry::get('cms_navigations');
						if (!is_array($navs)) {
							$navs = $navs->toArray();
						}
						$navigation_templates = array();
						foreach ($navs as $code => $row) {
							$navigation_templates[$code] = $row['title'];
						}
						//add custom header blocks
						$mapper = new Admin_Model_Mapper_Page();
						$nav_headers = $mapper->fetchHeaders();
						foreach ($nav_headers as $row) {
							$navigation_templates["block-".$row->id] = $row->title;
						}

						echo $this->formSelect('data[header_template]', $this->page->header_template, array('class'=>'selectpicker','data-style'=>'form-control form-control--select'), $navigation_templates);
						?>
					</div>

					<?php /*
					<label class="m-b-5 text-black">Nav Bar Fixed Position:</label>
					<div class="m-b-15">
						<?php echo $this->formSelect('settings[nav_fixed_position]', isset($settings->nav_fixed_position)?$settings->nav_fixed_position:'', array('class'=>'selectpicker','data-style'=>'form-control form-control--select'), array(
						    "" => "Default",
						    "navbar-fixed-top" => "Fixed to Top",
						    "navbar-fixed-bottom" => "Fixed to Bottom",
						    "navbar-static-top" => "Static at Top"
						))?>
					</div>
					*/ ?>

					<div class="row m-b-15">
						<div class="col-sm-3">
							<label class="m-b-5 text-black">Nav Visible Desktop:</label>
							<?php
							$enabled = (isset($settings->nav_desktop_status) && $settings->nav_desktop_status == 'Disabled')?'off':'on';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[nav_desktop_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[nav_desktop_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="m-b-5 text-black">Nav Visible Tablet:</label>
							<?php
							$enabled = (isset($settings->nav_tablet_status) && $settings->nav_tablet_status == 'Disabled')?'off':'on';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[nav_tablet_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[nav_tablet_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="m-b-5 text-black">Nav Visible Mobile:</label>
							<?php
							$enabled = (isset($settings->nav_mobile_status) && $settings->nav_mobile_status == 'Disabled')?'off':'on';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[nav_mobile_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[nav_mobile_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>

					<label class="m-b-5 text-black">Show Footer:</label>
					<div class="m-b-15">
						<?php echo $this->formSelect('data[footer_display]', $this->page->footer_display, array('class'=>'selectpicker ajax-option ays-ignore','data-style'=>'form-control form-control--select'), $this->statuses)?>
					</div>

					<div class="row m-b-15">
						<div class="col-sm-3">
							<label class="m-b-5 text-black">Footer Visible Desktop:</label>
							<?php
							$enabled = (isset($settings->footer_desktop_status) && $settings->footer_desktop_status == 'Disabled')?'off':'on';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[footer_desktop_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[footer_desktop_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="m-b-5 text-black">Footer Visible Tablet:</label>
							<?php
							$enabled = (isset($settings->footer_tablet_status) && $settings->footer_tablet_status == 'Disabled')?'off':'on';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[footer_tablet_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[footer_tablet_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="m-b-5 text-black">Footer Visible Mobile:</label>
							<?php
							$enabled = (isset($settings->footer_mobile_status) && $settings->footer_mobile_status == 'Disabled')?'off':'on';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[footer_mobile_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[footer_mobile_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group text-left">
				<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#settingsCollapseModal" aria-expanded="false" aria-controls="settingsCollapseModal">Modal Options <i class="far fa-plus-square"></i></h3>
				<div id="settingsCollapseModal" class="collapse">

					<div class="row flex-row flex-align-center flex-wrap m-b-15">
						<div class="col-sm-3">
							<label class="m-b-5 text-black">Global Promo Pop-up:</label>
							<?php
							$enabled = (isset($settings->promo_popup_force_disable) && $settings->promo_popup_force_disable == 'Disabled')?'off':'on';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[promo_popup_force_disable]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[promo_popup_force_disable]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="m-b-5 text-black">Page Specific Promo Pop-up:</label>
							<?php
							$enabled = (isset($settings->promo_popup_status) && $settings->promo_popup_status == 'Enabled')?'on':'off';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[promo_popup_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[promo_popup_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="m-b-5 text-black">Select Promo Modal:</label>
							<?php
							$mapper = new Admin_Model_Mapper_Page();
							$modals = $mapper->fetchModals();
							$options = [];
							foreach ($modals as $modal) {
								$options[$modal->code] = $modal->title;
							}
							?>
							<div class="m-b-15">
								<?php echo $this->formSelect('settings[promo_popup_modal_code]', (isset($settings->promo_popup_modal_code))?$settings->promo_popup_modal_code:'', array('class'=>'selectpicker','data-style'=>'form-control form-control--select'), $options)?>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="m-b-5 text-black">Promo Modal Size:</label>
							<div class="m-b-15">
								<?php echo $this->formSelect('settings[promo_popup_size]', (isset($settings->promo_popup_size))?$settings->promo_popup_size:'', array('class'=>'selectpicker','data-style'=>'form-control form-control--select'), array(
									'' => 'Default',
									'modal-sm' => 'Small',
									'modal-lg' => 'Large',
									'modal-full' => 'Full Screen'
								))?>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Promo Shade Color:</label>
							<input type="text" name="settings[promo_popup_shade_color]" value="<?php echo (isset($settings->promo_popup_shade_color))?$settings->promo_popup_shade_color:''?>" class="form-control bg-white border-radius complex-colorpicker">
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Close Button Color:</label>
							<input type="text" name="settings[promo_popup_close_color]" value="<?php echo (isset($settings->promo_popup_close_color))?$settings->promo_popup_close_color:''?>" class="form-control bg-white border-radius complex-colorpicker">
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Promo Delay (seconds):</label>
							<input type="text" name="settings[promo_popup_delay]" value="<?php echo (isset($settings->promo_popup_delay))?$settings->promo_popup_delay:''?>" class="form-control bg-white border-radius">
						</div>
						<div class="col-sm-3">
							<label class="m-b-5 text-black">Promo Pop-Up Recurrence:</label>
							<div class="m-b-15">
								<?php echo $this->formSelect('settings[promo_popup_recurrence]', (isset($settings->promo_popup_recurrence))?$settings->promo_popup_recurrence:'', array('class'=>'selectpicker','data-style'=>'form-control form-control--select'), array(
									'' => 'Every Page View',
									'once' => 'Only Once',
								))?>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="form-group text-left">
				<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#settingsCollapseAdvanced" aria-expanded="false" aria-controls="settingsCollapseAdvanced">Advanced Options <i class="far fa-plus-square"></i></h3>
				<div id="settingsCollapseAdvanced" class="collapse">
					<label class="m-b-5 text-black">Padding Override:</label>
					<div class="row m-b-15">
						<div class="col-sm-2">
							<label class="text-black m-b-5">Top</label>
							<input type="text" name="styles[padding_top]" value="<?php echo (isset($styles->padding_top))?$styles->padding_top:''?>" class="form-control bg-white border-radius">
						</div>
						<div class="col-sm-2">
							<label class="text-black m-b-5">Right</label>
							<input type="text" name="styles[padding_right]" value="<?php echo (isset($styles->padding_right))?$styles->padding_right:''?>" class="form-control bg-white border-radius">
						</div>
						<div class="col-sm-2">
							<label class="text-black m-b-5">Bottom</label>
							<input type="text" name="styles[padding_bottom]" value="<?php echo (isset($styles->padding_bottom))?$styles->padding_bottom:''?>" class="form-control bg-white border-radius">
						</div>
						<div class="col-sm-2">
							<label class="text-black m-b-5">Left</label>
							<input type="text" name="styles[padding_left]" value="<?php echo (isset($styles->padding_left))?$styles->padding_left:''?>" class="form-control bg-white border-radius">
						</div>
					</div>

					<label class="m-b-5 text-black">Margin Override:</label>
					<div class="row m-b-15">
						<div class="col-sm-2">
							<label class="text-black m-b-5">Top</label>
							<input type="text" name="styles[margin_top]" value="<?php echo (isset($styles->margin_top))?$styles->margin_top:''?>" class="form-control bg-white border-radius">
						</div>
						<div class="col-sm-2">
							<label class="text-black m-b-5">Right</label>
							<input type="text" name="styles[margin_right]" value="<?php echo (isset($styles->margin_right))?$styles->margin_right:''?>" class="form-control bg-white border-radius">
						</div>
						<div class="col-sm-2">
							<label class="text-black m-b-5">Bottom</label>
							<input type="text" name="styles[margin_bottom]" value="<?php echo (isset($styles->margin_bottom))?$styles->margin_bottom:''?>" class="form-control bg-white border-radius">
						</div>
						<div class="col-sm-2">
							<label class="text-black m-b-5">Left</label>
							<input type="text" name="styles[margin_left]" value="<?php echo (isset($styles->margin_left))?$styles->margin_left:''?>" class="form-control bg-white border-radius">
						</div>
					</div>

					<div class="row m-b-15">
						<label class="m-b-5 text-black">Class:</label>
						<input type="text" name="data[class]" value="<?php echo $this->page->class?>" class="form-control bg-white border-radius">
					</div>

					<div class="row m-b-15">
						<label class="m-b-5 text-black">Disable Cache (WARNING: May have negative impact on page speed):</label>
						<?php echo $this->formSelect('settings[page_cache]', (isset($settings->page_cache))?$settings->page_cache:'', array('class'=>'selectpicker','data-style'=>'form-control form-control--select'), array(
							'' => 'Cache Enabled',
							'Disabled' => 'Cache Disabled',
						))?>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->page)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-section border-radius-bottom" id="save">Save</button>
	</div>
</form>

<script>
	$(function() {
		<?php if (!isset($this->styles->background_image) || !$this->styles->background_image || !isset($this->styles->video_image) || !$this->styles->video_image) {?>
		$(".bg-image-settings").hide();
		$(".video-image-settings").hide();
		<?php } ?>

		window.cny.colorpicker();

		$(".selectpicker").selectpicker();

		if ($("#background_image").val() == '') $("#background_image_preview").hide();
		if ($("#video_image").val() == '') $("#video_image_preview").hide();

		$(".clear-background_image").on("click",function(){
			$("#background_image").val('');
			$("#background_image_preview").attr('src','').hide();
			$(".bg-image-settings").hide();
		});

		$(".clear-video_image").on("click",function(){
			$("#video_image").val('');
			$("#video_image_preview").attr('src','').hide();
			$(".video-image-settings").hide();
		});
	});
</script>
