<form method="post" action="" class="page-custom_vars-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->page->id?>">

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="custom_vars">
			<div class="form-group text-left">

				<label class="m-b-5 text-black"><?php echo (isset($this->page_custom_variable_names[1]) && $this->page_custom_variable_names[1])?$this->page_custom_variable_names[1]:"Custom Variable 1"?>:</label>
				<div class="m-b-15">
					<input type="text" name="data[custom_var_1]" value="<?php echo (isset($this->page->custom_var_1))?$this->page->custom_var_1:''?>" class="form-control border-radius">
				</div>
				<label class="m-b-5 text-black"><?php echo (isset($this->page_custom_variable_names[2]) && $this->page_custom_variable_names[2])?$this->page_custom_variable_names[2]:"Custom Variable 2"?>:</label>
				<div class="m-b-15">
					<input type="text" name="data[custom_var_2]" value="<?php echo (isset($this->page->custom_var_2))?$this->page->custom_var_2:''?>" class="form-control border-radius">
				</div>
				<label class="m-b-5 text-black"><?php echo (isset($this->page_custom_variable_names[3]) && $this->page_custom_variable_names[3])?$this->page_custom_variable_names[3]:"Custom Variable 3"?>:</label>
				<div class="m-b-15">
					<input type="text" name="data[custom_var_3]" value="<?php echo (isset($this->page->custom_var_3))?$this->page->custom_var_3:''?>" class="form-control border-radius">
				</div>
				<label class="m-b-5 text-black"><?php echo (isset($this->page_custom_variable_names[4]) && $this->page_custom_variable_names[4])?$this->page_custom_variable_names[4]:"Custom Variable 4"?>:</label>
				<div class="m-b-15">
					<input type="text" name="data[custom_var_4]" value="<?php echo (isset($this->page->custom_var_4))?$this->page->custom_var_4:''?>" class="form-control border-radius">
				</div>
				<label class="m-b-5 text-black"><?php echo (isset($this->page_custom_variable_names[5]) && $this->page_custom_variable_names[5])?$this->page_custom_variable_names[5]:"Custom Variable 5"?>:</label>
				<div class="m-b-15">
					<input type="text" name="data[custom_var_5]" value="<?php echo (isset($this->page->custom_var_5))?$this->page->custom_var_5:''?>" class="form-control border-radius">
				</div>
				<label class="m-b-5 text-black"><?php echo (isset($this->page_custom_variable_names[6]) && $this->page_custom_variable_names[6])?$this->page_custom_variable_names[6]:"Custom Variable 6"?>:</label>
				<div class="m-b-15">
					<input type="text" name="data[custom_var_6]" value="<?php echo (isset($this->page->custom_var_6))?$this->page->custom_var_6:''?>" class="form-control border-radius">
				</div>

			</div>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-section border-radius-bottom" id="save">Save</button>
	</div>
</form>

<script>
	$(function() {

	});
</script>
