<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="form-group col-sm-4">
					<label>Code:</label>
					<input type="text" name="code" class="form-control" value="<?php echo $this->code?>">
				</div>

				<div class="form-group col-sm-4">
					<label>Status:</label>
					<?php echo $this->formSelect('status', $this->status, array('class'=>'form-control'), array(""=>"")+$this->page_statuses)?>
				</div>

				<div class="col-sm-12">
					<div class="col-xs-1">
						<button type="submit" class="btn btn-primary xs-100 js-intro-search">Search</button>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<div class="checkbox hidden-xs">
								<input type="checkbox" name="csv" value="1" id="export"> <label for="export">Export</label>
							</div>
						</div>
					</div>
					<div class="col-xs-1">
						<a href="/admin/cms/page-list" class="btn btn-warning xs-100">Reset</a>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-8 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<div class="col-sm-4 col-xs-12 text-right">
				<a class="btn btn-primary xs-100 js-intro-import-new" href="/admin/cms/page-add-import">Import New Page</a>
				<a class="btn btn-primary xs-100 js-intro-add-new" href="/admin/cms/page-add">Add New Page</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<th class="js-intro-page-title"><a href="/admin/cms/page-list/sort/title/dir/<?php echo $dir?>">Page Title</a></th>
						<th class="hidden-xs js-intro-creation-date"><a href="/admin/cms/page-list/sort/created/dir/<?php echo $dir?>">Creation Date</a></th>
						<th class="hidden-xs js-intro-last-modified"><a href="/admin/cms/page-list/sort/modified/dir/<?php echo $dir?>">Last Modified</a></th>
						<th class="hidden-xs js-intro-status"><a href="/admin/cms/page-list/sort/status/dir/<?php echo $dir?>">Status</a></th>
						<th class="hidden-xs text-center js-intro-delete">Delete</th>
						<th class="text-center js-intro-duplicate">Duplicate</th>
						<th class="text-center js-intro-preview">Preview</th>
						<th class="hidden-xs text-center js-intro-edit">Edit</th>
					</tr>
					</thead>
					<tbody>
					<?php
					foreach($this->list as $key => $val) {
						?>
						<tr>
							<td><a href="/admin/cms/page-editor/id/<?php echo $val['id']?>"><?php echo $val['title']?></a></td>
							<td class="hidden-xs"><?php echo ($val['created'] != 0) ? $this->UTCtoTZ($val['created'],"n/j/Y g:ia",$this->site_timezone) : ""?></td>
							<td class="hidden-xs"><?php echo ($val['modified'] != 0) ? $this->UTCtoTZ($val['modified'],"n/j/Y g:ia",$this->site_timezone) : ""?></td>
							<td class="hidden-xs"><?php echo $val['status']?></td>
							<td class="hidden-xs text-center"><a href="/admin/cms/page-delete/id/<?php echo $val['id']?>" title="Delete" class="confirm-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
							<td class="text-center"><a href="/admin/cms/page-copy/id/<?php echo $val['id']?>" title="Duplicate"><span class="sr-only">Duplicate</span> <span class="far fa-copy"></span></a></td>
							<td class="text-center"><a href="/index/preview-page/id/<?php echo $val['id']?>" title="Preview" target="_blank"><span class="sr-only">Preview </span><span class="far fa-eye"></span></a></td>
							<td class="hidden-xs text-center"><a href="/admin/cms/page-editor/id/<?php echo $val['id']?>" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
						</tr>
						<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>
