<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-8">
				<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
					<?php
					foreach ($this->errors as $error) {
						echo "<li>".$error."</li>";
					}
					?>
					</ul>
				</div>
				<?php } ?>

			</div>
			<div class="col-sm-4">
				<div class="view-navigation pull-right">
					<a class="btn btn-default btn-sm" href="/admin/cms/template-list"><span class="fal fa-angle-left"></span> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<form method="post" action="/admin/cms/template-save" class="" enctype="multipart/form-data">
					<input type="hidden" name="data[id]" value="<?php echo ($this->template)?$this->template->id:''?>">
					<input type="hidden" name="data[code]" value="<?php echo ($this->template)?$this->template->code:''?>">

					<table  class="table table-striped">
						<tbody>
						<tr>
							<td><label>Template Name:</label></td>
							<td>
								<input type="text" class="form-control" name="data[title]" value="<?php echo ($this->template)?$this->template->title:''?>">
							</td>
							<td></td>
						</tr>
						<tr>
							<td><label>Template Type:</label></td>
							<td>
								<?php echo $this->formSelect('data[type]', ($this->template)?$this->template->type:'', array('class'=>'form-control','id'=>'type_select'),
									array(
										""=>"Select Template Type",
										"left_column" => "Left Rail",
										"right_column" => "Right Rail",
										"left_and_right_column" => "Left and Right Rail",
										"top_hero_left_column" => "Hero & Left Rail",
										"top_hero_right_column" => "Hero & Right Rail",
										"top_hero_left_and_right_column" => "Hero & Left and Right Rail",
										"top_hero" => "Hero",
										"left_column_bottom" => "Left Rail & Bottom",
										"right_column_bottom" => "Right Rail & Bottom",
										"left_and_right_column_bottom" => "Left and Right Rail & Bottom",
										"top_hero_left_column_bottom" => "Hero & Left Rail & Bottom",
										"top_hero_right_column_bottom" => "Hero & Right Rail & Bottom",
										"top_hero_left_and_right_column_bottom" => "Hero & Left and Right Rail & Bottom",
										"top_hero_bottom" => "Hero & Bottom",
									)
								)?>
							</td>
							<td></td>
						</tr>
						<?php
						$mapper = new Admin_Model_Mapper_Page();
						$modals = $mapper->fetchBlocks();
						$options = array(""=>"Select Block");
						foreach ($modals as $modal) {
							$options[$modal->id] = $modal->title;
						}
						?>
						<tr class="conditional top_hero_left_column top_hero_right_column top_hero_left_and_right_column top_hero top_hero_left_column_bottom top_hero_right_column_bottom top_hero_left_and_right_column_bottom top_hero_bottom">
							<td><label>Top Hero Block:</label></td>
							<td>
								<?php echo $this->formSelect('block[top_hero]', (isset($this->blocks['top_hero']['block_id']) && $this->blocks['top_hero']['block_id'])?$this->blocks['top_hero']['block_id']:'', array('class'=>'form-control'), $options)?>
							</td>
							<td></td>
						</tr>
						<tr class="conditional left_column left_and_right_column top_hero_left_column top_hero_left_and_right_column left_column_bottom left_and_right_column_bottom top_hero_left_column_bottom top_hero_left_and_right_column_bottom">
							<td><label>Left Rail Block:</label></td>
							<td>
								<?php echo $this->formSelect('block[left_column]', (isset($this->blocks['left_column']['block_id']) && $this->blocks['left_column']['block_id'])?$this->blocks['left_column']['block_id']:'', array('class'=>'form-control'), $options)?>
							</td>
							<td></td>
						</tr>
						<tr class="conditional left_column left_and_right_column top_hero_left_column top_hero_left_and_right_column left_column_bottom left_and_right_column_bottom top_hero_left_column_bottom top_hero_left_and_right_column_bottom">
							<td><label>Left Rail Width (%):</label></td>
							<td>
								<input type="number" class="form-control" name="settings[left_column][desktop_width]" value="<?php echo (isset($this->blocks['left_column']['settings']->desktop_width))?$this->blocks['left_column']['settings']->desktop_width:''?>">
							</td>
							<td></td>
						</tr>
						<tr class="conditional right_column left_and_right_column top_hero_right_column top_hero_left_and_right_column right_column_bottom left_and_right_column_bottom top_hero_right_column_bottom top_hero_left_and_right_column_bottom">
							<td><label>Right Rail Block:</label></td>
							<td>
								<?php echo $this->formSelect('block[right_column]', (isset($this->blocks['right_column']['block_id']) && $this->blocks['right_column']['block_id'])?$this->blocks['right_column']['block_id']:'', array('class'=>'form-control'), $options)?>
							</td>
							<td></td>
						</tr>
						<tr class="conditional right_column left_and_right_column top_hero_right_column top_hero_left_and_right_column right_column_bottom left_and_right_column_bottom top_hero_right_column_bottom top_hero_left_and_right_column_bottom">
							<td><label>Right Rail Width (%):</label></td>
							<td>
								<input type="number" class="form-control" name="settings[right_column][desktop_width]" value="<?php echo (isset($this->blocks['right_column']['settings']->desktop_width))?$this->blocks['right_column']['settings']->desktop_width:''?>">
							</td>
							<td></td>
						</tr>
						<tr class="conditional left_column_bottom right_column_bottom left_and_right_column_bottom top_hero_left_column_bottom top_hero_right_column_bottom top_hero_left_and_right_column_bottom top_hero_bottom">
							<td><label>Bottom Block:</label></td>
							<td>
								<?php echo $this->formSelect('block[bottom]', (isset($this->blocks['bottom']['block_id']) && $this->blocks['bottom']['block_id'])?$this->blocks['bottom']['block_id']:'', array('class'=>'form-control'), $options)?>
							</td>
							<td></td>
						</tr>

						<?php
						$mapper = new Admin_Model_Mapper_Page();
						$modals = $mapper->fetchHeaders();
						$header_blocks = $options;
						$headers = array('' => "Select Header / Block");
						foreach ($modals as $modal) {
							$headers[$modal->id] = $modal->title;
						}
						array_shift($header_blocks);
						?>
						<tr class="">
							<td><label>Custom Header:
									<br/><small>(Overrides Default)</small>
								</label>
							</td>
							<td>
								<?php echo $this->formSelect('block[header]', (isset($this->blocks['header']['block_id']) && $this->blocks['header']['block_id'])?$this->blocks['header']['block_id']:'', array('class'=>'form-control'), $headers + $header_blocks)?>
							</td>
							<td></td>
						</tr>
						<tr class="">
							<td><label>Custom Footer:
									<br/><small>(Overrides Default)</small>
								</label>
							</td>
							<td>
								<?php echo $this->formSelect('block[footer]', (isset($this->blocks['footer']['block_id']) && $this->blocks['footer']['block_id'])?$this->blocks['footer']['block_id']:'', array('class'=>'form-control'), $options)?>
							</td>
							<td></td>
						</tr>
						<tr class="">
							<td><label>Custom Mobile Footer:
									<br/><small>(Overrides Default)</small>
								</label>
							</td>
							<td>
								<?php echo $this->formSelect('block[footer_mobile]', (isset($this->blocks['footer_mobile']['block_id']) && $this->blocks['footer_mobile']['block_id'])?$this->blocks['footer_mobile']['block_id']:'', array('class'=>'form-control'), $options)?>
							</td>
							<td></td>
						</tr>


						<tr id="submit-btn">
							<td></td>
							<td><button type="submit" class="btn btn-primary btn-lg btn-save">Save</button></td>
							<td></td>
						</tr>
						</tbody>
					</table>

				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12">
				<div class="view-navigation">
					<a class="btn btn-default btn-sm" href="/admin/cms/template-list"><span class="fal fa-angle-left"></span> Back</a>
				</div>

			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		setConditionals(true);
		$("select#type_select").on("change", function(){
			setConditionals(false);
		});

		function setConditionals(first)
		{
			var option = $("select#type_select").val();
			$(".conditional").hide();
			if (option) {
				$(".conditional." + option).show();
			}
			if (typeof first == 'undefined' || first === false) {
				$(".conditional select").val('');
			}
		}
	});
</script>
