<?php
$module_helper = new Admin_View_Helper_ModuleInfo();
$modules = $module_helper->moduleCodes();
?>
<div class="text-white">
	<?php foreach ($modules as $module_code) { ?>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel--module bg-green">
				<div class="panel__content text-center text-white flex-row flex-align-center flex-justify-space-between modal-trigger row-refresh pointer"
					data-title="<?php echo $module_helper->moduleTitle($module_code)?> Library Module" data-url="/admin/library/add/type/<?php echo $module_code?>" data-column_id="0">
					<div class="panel__icons">
						<?php echo $module_helper->moduleIcon($module_code)?>
					</div>
					<div class="panel__copy"><?php echo $module_helper->moduleTitle($module_code)?></div>
					<div>
						<i class="fas fa-plus"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
	<?php } ?>

</div>
