<div class="library-module-modal">
	<h5>Editing a library module does NOT update existing uses of the module</h5>

	<?php echo $this->partial('/cms/modules/'.$this->module->type.'.phtml', array('module'=>$this->module, 'history'=>$this->history)); ?>
</div>

<script>
	$(function() {
		window.cny.moduleTabs();

		//if new module add module type to form
		<?php if (!$this->module->id) {?>
		$(".library-module-modal .module-form input:first-child").after('<input type="hidden" name="data[type]" value="<?php echo $this->module->type?>">');
		<?php } ?>

		//remove unused tabs
		$(".nav-tabs li a[href='#history']").parent().remove();
		$(".nav-tabs li a[href='#wireframe']").parent().remove();
		$("#history").remove();
		$("#wireframe").remove();

		<?php //TODO - figure out why this isn't working in the main.js file ?>
		//save Library module
		$("body").off("submit",".library-module-modal .module-form").on("submit",".library-module-modal .module-form",function(){
			//save module form
			$.post( '/admin/library/save',
				$( ".module-form" ).serialize(),
				function(data) {
					$('#modal').modal('hide');
					location.reload();
				}, 'json');

			return false;
		});
	});
</script>
