<?php
$module_helper = new Admin_View_Helper_ModuleInfo();

if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<!--
				<div class="form-group col-sm-4">
					<label>Type:</label>
					<?php //echo $this->formSelect('type', $this->type, array('class'=>'form-control'), array(""=>"")+$this->types)?>
				</div>
				-->

				<div class="col-sm-12">
					<div class="col-xs-1">
						<button type="submit" class="btn btn-primary xs-100">Search</button>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<!--
							<div class="checkbox hidden-xs">
								<input type="checkbox" name="csv" value="1" id="export"> <label for="export">Export</label>
							</div>
							-->
						</div>
					</div>
					<div class="col-xs-1">
						<a href="/admin/cms/page-list" class="btn btn-warning xs-100">Reset</a>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-10 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<div class="col-sm-2 col-xs-12">
				<a class="pull-right btn btn-primary xs-100 modal-trigger" href="/admin/library/choose-module" data-target="#modal" data-title="Choose Module">Add New Library Module</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<th><a href="/admin/library/list/sort/label/dir/<?php echo $dir?>">Label</a></th>
						<th class="hidden-xs"><a href="/admin/library/list/sort/created/dir/<?php echo $dir?>">Creation Date</a></th>
						<th class="hidden-xs"><a href="/admin/library/list/sort/modified/dir/<?php echo $dir?>">Last Modified</a></th>
						<th class="hidden-xs text-center">Delete</th>
						<th class="text-center">Duplicate</th>
						<th class="hidden-xs text-center">Edit</th>
					</tr>
					</thead>
					<tbody>
					<?php
					foreach($this->list as $key => $val) {
						?>
						<tr>
							<td><a href="/admin/library/edit/id/<?php echo $val['id']?>" class="modal-trigger" data-target="#modal" data-title="<?php echo $module_helper->moduleTitle($val['type']) ?> Library Module"><?php echo $val['label']?></a></td>
							<td class="hidden-xs"><?php echo ($val['created'] != 0) ? $this->UTCtoTZ($val['created'],"n/j/Y g:ia",$this->site_timezone) : ""?></td>
							<td class="hidden-xs"><?php echo ($val['modified'] != 0) ? $this->UTCtoTZ($val['modified'],"n/j/Y g:ia",$this->site_timezone) : ""?></td>
							<td class="hidden-xs text-center"><a href="/admin/library/delete/id/<?php echo $val['id']?>" title="Delete" class="confirm-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
							<td class="text-center"><a href="/admin/library/copy/id/<?php echo $val['id']?>" title="Duplicate"><span class="sr-only">Duplicate</span> <span class="far fa-copy"></span></a></td>
							<td class="hidden-xs text-center"><a href="/admin/library/edit/id/<?php echo $val['id']?>" title="Edit" class="modal-trigger" data-target="#modal" data-title="<?php echo $module_helper->moduleTitle($val['type']) ?> Library Module"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
						</tr>
						<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>
