<div class="white-box">

	<div class="row">
		<div class="col-sm-8">
			<h2>View Video</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/video/item-list"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Category:</td>
						<td>
							<?php
							$mapper = new Admin_Model_Mapper_VideoCategory();
							if ($this->item->video_category_id) {
								$section = $mapper->find($this->item->video_category_id);

								echo $section->name;
							}else {
								echo "Unassigned";
							}
							?>
						</td>
					</tr>
					<tr>
						<td>Title:</td>
						<td>
							<?php echo $this->item->title?>
						</td>
					</tr>
					<tr>
						<td>Video:</td>
						<td>
							<?php
							if (isset($this->item->embed_code) && $this->item->embed_code) {
								echo $this->item->embed_code;
							}elseif (isset($this->item->video_url) && $this->item->video_url) {
								$parser = new Cny_Model_VideoParser();
								$video_url = $parser->getEmbedUrl($this->item->video_url);
								if ($video_url) {
									echo '<iframe width="100%" style="min-height:300px;" frameborder="0" src="' . $video_url . '"></iframe>';
								}else {
									//must be generic so create a video tag
									?>
									<div class="embed-responsive embed-responsive-16by9">
										<video src="<?php echo $this->item->video_url?>" class="embed-responsive-item" controls></video>
									</div>
									<?php
								}
							}
							?>
						</td>
					</tr>
					<tr>
						<td>Caption:</td>
						<td>
							<?php echo $this->item->caption?>
						</td>
					</tr>
					<tr>
						<td>Description:</td>
						<td>
							<?php echo $this->item->description?>
						</td>
					</tr>
					<?php
					$t_mapper = new Admin_Model_Mapper_VideoTags();
					?>
					<tr>
						<td>Tags:</td>
						<td>
							<?php echo implode(", ",$t_mapper->fetchTagNamesByVideoId($this->item->id))?>
						</td>
					</tr>
					<tr>
						<td>Created:</td>
						<td>
							<?php echo ($this->item->posted_date)?date("M. j, Y",strtotime($this->item->posted_date)):""?>
						</td>
					</tr>
					<tr>
						<td>Status:</td>
						<td>
							<?php echo $this->item->status?>
						</td>
					</tr>
					<tr>
						<td>Created:</td>
						<td>
							<?php echo ($this->item->created)?$this->UTCtoTZ($this->item->created,"M. j, Y g:ia",$this->site_timezone):""?>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>

