

<h2>Move left Right</h2>
<div class="hero-wrap">
	<div class="hero-image hero-left-right" style="background-image: url('https://cyber-ny.com//userFiles/uploads/Hero%20Panels/careers-hero.jpg')"></div>
</div>


<h2>Move Right Left</h2>
<div class="hero-wrap">
	<div class="hero-image hero-right-left" style="background-image: url('https://cyber-ny.com//userFiles/uploads/Hero%20Panels/careers-hero.jpg')"></div>
</div>


<h2>Move Top Bottom</h2>
<div class="hero-wrap">
	<div class="hero-image hero-top-bottom" style="background-image: url('https://cyber-ny.com//userFiles/uploads/Hero%20Panels/careers-hero.jpg')"></div>
</div>


<h2>Move Bottom Top</h2>
<div class="hero-wrap">
	<div class="hero-image hero-bottom-top" style="background-image: url('https://cyber-ny.com//userFiles/uploads/Hero%20Panels/careers-hero.jpg')"></div>
</div>

<h2>Zoom Out</h2>
<div class="hero-wrap">
	<div class="hero-image zoomOut" style="background-image: url('https://cyber-ny.com//userFiles/uploads/Hero%20Panels/careers-hero.jpg')"></div>
</div>

<h2>Zoom In</h2>
<div class="hero-wrap">
	<div class="hero-image zoomIn" style="background-image: url('https://cyber-ny.com//userFiles/uploads/Hero%20Panels/careers-hero.jpg')"></div>
</div>

<style>
	.hero-wrap {
		overflow: hidden;
		margin-bottom: 50px;
	}
	.hero-image {
		background: no-repeat 50% 50%;
		background-size: cover;
		background-position: center;
		animation-timing-function: linear;
		animation-iteration-count: infinite;
		animation-duration: 20s;
		transform: scale(1.4);
		height: 60vh;
		display: block;
	}

	.hero-left-right {
		animation-name: leftToRight;
	}

	.hero-right-left {
		animation-name: rightToLeft;
	}

	.hero-top-bottom {
		animation-name: topToBottom;
		transform: scale(1.8);
	}

	.hero-bottom-top {
		animation-name: bottomToTop;
		transform: scale(1.8);
	}

	@keyframes leftToRight {
		0% {
			background-position: 0 0;
		}
		50% {
			background-position: -400px 0;
		}
		100% {
			background-position: 0 0;
		}
	}

	@keyframes rightToLeft {
		0% {
			background-position: 0 0;
		}
		50% {
			background-position: 400px 0;
		}
		100% {
			background-position: 0 0;
		}
	}

	@keyframes topToBottom {
		0% {
			background-position: center;
		}
		50% {
			background-position: center -200px;
		}
		100% {
			background-position: center;
		}
	}

	@keyframes bottomToTop {
		0% {
			background-position: center;
		}
		50% {
			background-position: center 200px;
		}
		100% {
			background-position: center;
		}
	}

	@keyframes zoomIn {
		0% {
			transform: scale3d(1, 1, 1);
		}

		50% {

			transform: scale3d(1.8, 1.8, 1.8);
		}

		100% {
			transform: scale3d(1, 1, 1);
		}
	}

	@keyframes zoomOut {
		0% {
			transform: scale3d(1.8, 1.8, 1.8);
		}

		50% {

			transform: scale3d(1, 1, 1);
		}

		100% {
			transform: scale3d(1.8, 1.8, 1.8);
		}
	}

	.zoomOut {
		-webkit-animation-name: zoomOut;
		animation-name: zoomOut;
	}
	.zoomIn {
		-webkit-animation-name: zoomIn;
		animation-name: zoomIn;
	}
</style>
