<div class="container">
	<h2 class="h1">Product Carousel</h2>
	<div class="section">
		<div class="section__title">
			<h2>Title Goes Here</h2>
			<a href="" class="view-more">view more <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-angle-right fa-stack-1x fa-inverse"></i>
			</span></a>
		</div>
		<div class="js-carousel carousel carousel--product-film">
			<?php for($i=0;$i<8;$i++) { ?>
				<div class="carousel__item">
					<img src="http://via.placeholder.com/600x336">
					<div class="caption caption--overlay">
						<h3 class="caption__title">Film Title Goes Here</h3>
						<div class="caption__content">
							<p>A short film description goes here with link to more details.</p>
							<a href="">View Details</a>
						</div>
					</div>
				</div>
			<?php } ?>
		</div>
	</div>

	<h2 class="h1">Product Carousel Offset</h2>
	<div class="section">
		<div class="section__title">
			<h2>Title Goes Here</h2>
			<a href="" class="view-more">shop now <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-angle-right fa-stack-1x fa-inverse"></i>
			</span></a>
		</div>
		<div class="js-carousel carousel carousel--product-film-offset">
			<?php for($i=0;$i<8;$i++) { ?>
				<div class="carousel__item">
					<img src="http://via.placeholder.com/500x700">
					<div class="caption caption--overlay">
						<h3 class="caption__title">Film Title Goes Here</h3>
						<div class="caption__content">
							<p>A brief synopsis of the film goes here along with links to details.</p>
							<a href="">view details</a>
							<div class="price">
								<span>$29.00</span>
								<a href="" class="btn">Buy Now</a>
							</div>

						</div>
					</div>
				</div>
			<?php } ?>
		</div>
	</div>
</div>
