<div class="section">
	<div class="container">
		<div class="section__item">
			<h2 class="section__title">New Releases</h2>
			<a href="">View All</a>
		</div>
		<div class="js-carousel carousel carousel--flex">
			<?php for ($i=0;$i<6;$i++) { ?>
				<div style="background-image:url(/assets/images/spirited-away.jpg)" class="carousel__item thumbnail thumbnail--product ">
					<div class="caption">
						<h3>Howl's Moving Castle</h3>
						<div class="caption__content">
							<small>1996, English Lanquage, Duration: 1:33</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat ante diam, vitae dignissim erat semper sed consectetur adipiscing elit.  <a href="#">More...</a></p>
							<div class="label">Available on DVD <s>$30.00</s> <strong>$23.00</strong></div>
							<div class="btn-group btn-group--flex">
								<a href="#" class="btn btn--gray" data-toggle="modal" data-target="#modal">View Trailer</a>
								<a href="#" class="btn btn--green">Add to Cart</a>
							</div>
						</div>
					</div>
				</div>
				<div style="background-image:url(/assets/images/spirited-away.jpg)" class="carousel__item thumbnail thumbnail--product ">
					<div class="caption">
						<h3>Howl's Moving Castle</h3>
						<div class="caption__content">
							<small>1996, English Lanquage, Duration: 1:33</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat ante diam, vitae dignissim erat semper sed consectetur adipiscing elit.  <a href="#">More...</a></p>
							<div class="label">Available on DVD <s>$30.00</s> <strong>$23.00</strong></div>
							<div class="btn-group btn-group--flex">
								<a href="#" class="btn btn--gray" data-toggle="modal" data-target="#modal">View Trailer</a>
								<a href="#" class="btn btn--green">Add to Cart</a>
							</div>
						</div>
					</div>
				</div>
				<div style="background-image:url(/assets/images/spirited-away.jpg)" class="carousel__item thumbnail thumbnail--product ">
					<div class="caption">
						<h3>Howl's Moving Castle</h3>
						<div class="caption__content">
							<small>1996, English Lanquage, Duration: 1:33</small>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat ante diam, vitae dignissim erat semper sed consectetur adipiscing elit.  <a href="#">More...</a></p>
							<div class="label">Available on DVD <s>$30.00</s> <strong>$23.00</strong></div>
							<div class="btn-group btn-group--flex">
								<a href="#" class="btn btn--gray" data-toggle="modal" data-target="#modal">View Trailer</a>
								<a href="#" class="btn btn--green">Add to Cart</a>
							</div>
						</div>
					</div>
				</div>
			<?php } ?>
		</div>
	</div>
</div>

<div class="section">
	<div class="container">
		<div class="section__item">
			<h2 class="section__title">All Films</h2>
		</div>
		<?php for($i=0;$i<4;$i++) { ?>
			<div class="row">
				<div class="col-sm-4">
					<div style="background-image:url(/assets/images/spirited-away.jpg)" class="thumbnail thumbnail--product">
						<div class="caption">
							<h3>Howl's Moving Castle</h3>
							<div class="caption__content">
								<small>1996, English Lanquage, Duration: 1:33</small>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat ante diam, vitae dignissim erat semper sed consectetur adipiscing elit.  <a href="#">More...</a></p>
								<div class="label">Available on DVD <s>$30.00</s> <strong>$23.00</strong></div>
								<div class="btn-group btn-group--flex">
									<a href="#" class="btn btn--gray" data-toggle="modal" data-target="#modal">View Trailer</a>
									<a href="#" class="btn btn--green">Add to Cart</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div style="background-image:url(/assets/images/spirited-away.jpg)" class="thumbnail thumbnail--product">
						<div class="caption">
							<h3>Howl's Moving Castle</h3>
							<div class="caption__content">
								<small>1996, English Lanquage, Duration: 1:33</small>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat ante diam, vitae dignissim erat semper sed consectetur adipiscing elit.  <a href="#">More...</a></p>
								<div class="label">Available on DVD <s>$30.00</s> <strong>$23.00</strong></div>
								<div class="btn-group btn-group--flex">
									<a href="#" class="btn btn--gray" data-toggle="modal" data-target="#modal">View Trailer</a>
									<a href="#" class="btn btn--green">Add to Cart</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div style="background-image:url(/assets/images/spirited-away.jpg)" class="thumbnail thumbnail--product">
						<div class="caption">
							<h3>Howl's Moving Castle</h3>
							<div class="caption__content">
								<small>1996, English Lanquage, Duration: 1:33</small>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent feugiat ante diam, vitae dignissim erat semper sed consectetur adipiscing elit.  <a href="#">More...</a></p>
								<div class="label">Available on DVD <s>$30.00</s> <strong>$23.00</strong></div>
								<div class="btn-group btn-group--flex">
									<a href="#" class="btn btn--gray" data-toggle="modal" data-target="#modal">View Trailer</a>
									<a href="#" class="btn btn--green">Add to Cart</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		<?php } ?>
	</div>
</div>

<div class="modal modal--video fade" data-keyboard="false" id="modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" class="close" data-dismiss="modal" type="button">
					close
					<div class="fa fa-times-circle"></div>
				</button>
			</div>
			<div class="modal-body">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="youtube-player embed-responsive-item" type="text/html"
					        src="https://www.youtube.com/embed/ByXuk9QqQkk"
					        frameborder="0" allowFullScreen webkitallowfullscreen mozallowfullscreen></iframe>
				</div>
			</div>
			<div class="modal-detail">
				<div class="row">
					<div class="col-xs-8">
						<h2 class="asset-title"><a class="text-black" href="/product/">Video Title</a></h2>
						<h4 class="short-description">Video Description</h4>
						<div class="social-icons">
							<div class="social-icons__item">
								<div id="fb-root"></div><script src=https://connect.facebook.net/en_US/all.js#xfbml=1&appId=178454729024365 type="text/javascript"></script><div class="fb-like" data-action="like" data-colorscheme="light" data-font="arial" data-layout="button_count" data-send="false" data-show-faces="false" data-url="https://www.shoutfactory.com/film/sci-fi/robocop-2-collector-s-edition" data-width="450"></div>
							</div>
							<div class="social-icons__item">
								<a class="twitter-share-button" data-count="horizontal" data-layout="button_count" data-url="https://www.shoutfactory.com/film/sci-fi/robocop-2-collector-s-edition" href="http://twitter.com/share">Tweet</a>
								<script src="https://platform.twitter.com/widgets.js"></script>
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<a href="/website/tent-pole"><img alt="Detail page preview screamfactory 2x" src="https://shoutfactory-productionsite.s3.amazonaws.com/system/tentpole/image/6827/detail_page_preview_screamfactory_2x.png" /></a>
					</div>
				</div>
			</div>
			<div class="modal-footer bg-gray-dark">
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		$('#modal').on('hidden.bs.modal', function (e) {
			$('#modal video').attr("src", $("#modal  video").attr("src"));
		});
	});
</script>
