

<div class="container container--demo">
	<div class="cta cta--flip">
		<div class="cta__pane">
			<div class="front">
				<!-- front content -->
				<p>CTA Flip</p>
				<div class="image">
					<img src="/userFiles/uploads/Unity-Bank-Logo-LG.png" alt="" class="img-responsive">
				</div>
			</div>
			<div class="back">
				<!-- back content -->
				<img src="/userFiles/uploads/Unity-Bank-Logo-LG.png" alt="" class="img-responsive">
				<div class="content">
					<p>Unity Bank is a demo website and this is where the CTA content would go!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="cta cta--slide-left">
		<div class="cta__pane">
			<div class="front">
				<!-- front content -->
				<p>CTA Slide in Left</p>
				<div class="image">
					<img src="/userFiles/uploads/Unity-Bank-Logo-LG.png" alt="" class="img-responsive">
				</div>
			</div>
			<div class="back">
				<!-- back content -->
				<img src="/userFiles/uploads/Unity-Bank-Logo-LG.png" alt="" class="img-responsive">
				<div class="content">
					<p>Unity Bank is a demo website and this is where the CTA content would go!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="cta cta--slide-right">
		<div class="cta__pane">
			<div class="front">
				<!-- front content -->
				<p>CTA Slide in Right</p>
				<div class="image">
					<img src="/userFiles/uploads/Unity-Bank-Logo-LG.png" alt="" class="img-responsive">
				</div>
			</div>
			<div class="back">
				<!-- back content -->
				<img src="/userFiles/uploads/Unity-Bank-Logo-LG.png" alt="" class="img-responsive">
				<div class="content">
					<p>Unity Bank is a demo website and this is where the CTA content would go!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="cta cta--slide-top">
		<div class="cta__pane">
			<div class="front">
				<!-- front content -->
				<p>CTA Slide in Top</p>
				<div class="image">
					<img src="/userFiles/uploads/Unity-Bank-Logo-LG.png" alt="" class="img-responsive">
				</div>
			</div>
			<div class="back">
				<!-- back content -->
				<img src="/userFiles/uploads/Unity-Bank-Logo-LG.png" alt="" class="img-responsive">
				<div class="content">
					<p>Unity Bank is a demo website and this is where the CTA content would go!</p>
				</div>
			</div>
		</div>
	</div>
	<div class="cta cta--slide-bottom">
		<div class="cta__pane">
			<div class="front">
				<!-- front content -->
				<p>CTA Slide in Bottom</p>
				<div class="image">
					<img src="/userFiles/uploads/Unity-Bank-Logo-LG.png" alt="" class="img-responsive">
				</div>
			</div>
			<div class="back">
				<!-- back content -->
				<img src="/userFiles/uploads/Unity-Bank-Logo-LG.png" alt="" class="img-responsive">
				<div class="content">
					<p>Unity Bank is a demo website and this is where the CTA content would go!</p>
				</div>
			</div>
		</div>
	</div>
</div>
