

<div class="mycontainer" style="max-width:1240px;margin:auto;height:400px;">
	<!-- ADD YOUR SLIDER CONTAINER HERE -->
	<div class="rev_slider_wrapper fullscreen-container">
		<div id="rev_slider_1" class="rev_slider fullscreenbanner hero--enhanced" data-version="5.4.5" style="display:none">

			<ul>

				<!-- BEGIN SLIDE -->
				<li data-transition="fade">

					<!-- SLIDE'S MAIN BACKGROUND IMAGE -->
					<img src="/assets/images/notgeneric_bg5.jpg" alt="Ocean" class="rev-slidebg">

					<!-- BEGIN TEXT LAYER -->
					<div class="tp-caption tp-caption--center tp-caption--flex-row"

					     data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"},
                   {"delay": "wait", "speed": 300, "to": "opacity: 0"}]'

					     data-x="left"
					     data-y="center"
					     data-voffset="0"
					     data-width="['100%']"
					     data-height="['auto']"
					     data-marginleft="[0]"
					     data-basealign="slide"
					     data-responsive_offset="on"
					     data-whitespace="normal"

					>
						<div class="tp-caption__item">
							<img class="img-responsive" src="http://via.placeholder.com/350x350">
						</div>
						<div class="tp-caption__item">
							<h2>Default Alignment</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim excepturi fuga natus optio ratione, voluptates!</p>
							<div class="tp-caption__button-group">
								<a href="" class="btn btn--cta">Button CTA</a>
							</div>
						</div>
					</div>
					<!-- END TEXT LAYER -->

				</li>
				<!-- END SLIDE -->

				<!-- BEGIN SLIDE -->
				<li data-transition="fade">

					<!-- SLIDE'S MAIN BACKGROUND IMAGE -->
					<img src="/assets/images/notgeneric_bg5.jpg" alt="Ocean" class="rev-slidebg">

					<!-- BEGIN TEXT LAYER -->
					<div class="tp-caption tp-caption--center"

					     data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"},
                   {"delay": "wait", "speed": 300, "to": "opacity: 0"}]'

					     data-x="left"
					     data-y="center"
					     data-voffset="0"
					     data-width="['100%']"
					     data-height="['auto']"
					     data-marginleft="[0]"
					     data-basealign="slide"
					     data-responsive_offset="on"
					     data-whitespace="normal"

					>
						<div class="tp-caption__item">
							<img class="img-responsive" src="http://via.placeholder.com/350x150">
						</div>
						<div class="tp-caption__item">
							<h2>Center Alignment</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim excepturi fuga natus optio ratione, voluptates!</p>
							<div class="tp-caption__button-group">
								<a href="" class="btn btn--cta">Button CTA</a>
							</div>
						</div>
					</div>
					<!-- END TEXT LAYER -->

				</li>
				<!-- END SLIDE -->

				<!-- BEGIN SLIDE -->
				<li data-transition="fade">

					<!-- SLIDE'S MAIN BACKGROUND IMAGE -->
					<img src="/assets/images/notgeneric_bg5.jpg" alt="Ocean" class="rev-slidebg">

					<!-- BEGIN TEXT LAYER -->
					<div class="tp-caption tp-caption--center tp-caption--flex-row--reverse"

					     data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"},
                   {"delay": "wait", "speed": 300, "to": "opacity: 0"}]'

					     data-x="left"
					     data-y="center"
					     data-voffset="0"
					     data-width="['100%']"
					     data-height="['auto']"
					     data-marginleft="[0]"
					     data-basealign="slide"
					     data-responsive_offset="on"
					     data-whitespace="normal"

					>
						<div class="tp-caption__item">
							<img class="img-responsive" src="http://via.placeholder.com/350x350">
						</div>
						<div class="tp-caption__item">
							<h2>Right Alignment</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim excepturi fuga natus optio ratione, voluptates!</p>
							<div class="tp-caption__button-group">
								<a href="" class="btn btn--cta">Button CTA</a>
							</div>
						</div>
					</div>
					<!-- END TEXT LAYER -->

				</li>
				<!-- END SLIDE -->

			</ul>

		</div>
	</div>
</div>

<script>
	$(function() {
		$('#rev_slider_1').show().revolution({
			sliderType:"standard",
			sliderLayout:"fullscreen",
			stopLoop: 'off',
			stopAfterLoops: -1,
			stopAtSlide: -1,
		});
	});
</script>
