<div class="container">
	<h2>One Column layout</h2>
	<div class="d-flex d-flex--single m-b-50">
		<div class="col"></div>
	</div>
	<h2>Two Column layout</h2>
	<div class="d-flex d-flex--double m-b-50">
		<div class="col"></div>
		<div class="col"></div>
	</div>
	<h2>Three Column layout</h2>
	<div class="d-flex d-flex--triple m-b-50">
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
	</div>
</div>
