
<div id="module-" class="hero hero--slider">
	<div class="js-carousel carousel carousel--hero">

		<div class="carousel__item">
			<div class="carousel__image">
				<picture>
					<source class="img-responsive img-responsive--full-width" srcset="http://www.pilkey.com/userFiles/uploads/DogMan-checkouttheseries-Green.png" media="(min-width: 768px)" />
					<img class="img-responsive img-responsive--full-width" srcset="http://www.pilkey.com/userFiles/uploads/DogMan-checkouttheseries-Green.png" alt="" />
				</picture>
			</div>

			<div class="carousel__caption carousel__caption--split text-center">
				<div class="carousel__content">
					<div class="image">
						<img src="http://www.pilkey.com/userFiles/uploads/DogMan-checkouttheseries-F2.png" alt="" class="img-responsive center-block">
					</div>
				</div>
				<div class="carousel__content">
					<div class="tagline">
						<h2>CTA Title</h2>
						<p>CTA Description</p>
					</div>
					<a href="" class="btn-u btn-u-lg btn-square" style="background:#fff;color:#000;">CTA Button</a>
				</div>
			</div>
		</div>
		<div class="carousel__item">
			<div class="carousel__image">
				<picture>
					<source class="img-responsive img-responsive--full-width" srcset="http://www.pilkey.com/userFiles/uploads/DogMan-checkouttheseries-Green.png" media="(min-width: 768px)" />
					<img class="img-responsive img-responsive--full-width" srcset="http://www.pilkey.com/userFiles/uploads/DogMan-checkouttheseries-Green.png" alt="" />
				</picture>
			</div>

			<div class="carousel__caption carousel__caption--split-reverse text-center">
				<div class="carousel__content">
					<div class="image">
						<img src="http://www.pilkey.com/userFiles/uploads/DogMan-checkouttheseries-F2.png" alt="" class="img-responsive center-block">
					</div>
				</div>
				<div class="carousel__content">
					<div class="tagline">
						<h2>CTA Title</h2>
						<p>CTA Description</p>
					</div>
					<a href="" class="btn-u btn-u-lg btn-square" style="background:#fff;color:#000;">CTA Button</a>
				</div>
			</div>
		</div>

		<div class="carousel__item">
			<div class="carousel__image">
				<picture>
					<source class="img-responsive img-responsive--full-width" srcset="/userFiles/uploads/Unity-Hero.jpg" media="(min-width: 768px)" />
					<img class="img-responsive img-responsive--full-width" srcset="/userFiles/uploads/Unity-Hero_1.jpg" alt="" />
				</picture>
			</div>

			<div class="carousel__caption carousel__caption--left text-center">
				<div class="carousel__content">
					<div class="image">
						<img src="/userFiles/uploads/icon-healthyhearts.png" alt="" class="img-responsive center-block">
					</div>
					<div class="tagline">
						<h2>CTA Title</h2>
						<p>CTA Description</p>
					</div>
				</div>
				<div class="carousel__content">
					<a href="" class="btn-u btn-u-lg btn-square" style="background:#fff;color:#000;">CTA Button</a>
				</div>
			</div>
		</div>
		<div class="carousel__item">
			<div class="carousel__image">
				<picture>
					<source class="img-responsive img-responsive--full-width" srcset="/userFiles/uploads/Unity-Hero.jpg" media="(min-width: 768px)" />
					<img class="img-responsive img-responsive--full-width" srcset="/userFiles/uploads/Unity-Hero_1.jpg" alt="" />
				</picture>
			</div>

			<div class="carousel__caption carousel__caption--center text-center">
				<div class="carousel__content">
					<div class="image">
						<img src="/userFiles/uploads/icon-healthyhearts.png" alt="" class="img-responsive center-block">
					</div>
					<div class="tagline">
						<h2>CTA Title</h2>
						<p>CTA Description</p>
					</div>
				</div>
				<div class="carousel__content">
					<a href="" class="btn-u btn-u-lg btn-square" style="background:#fff;color:#000;">CTA Button</a>
				</div>
			</div>
		</div>
		<div class="carousel__item">
			<div class="carousel__image">
				<picture>
					<source class="img-responsive img-responsive--full-width" srcset="/userFiles/uploads/Unity-Hero.jpg" media="(min-width: 768px)" />
					<img class="img-responsive img-responsive--full-width" srcset="/userFiles/uploads/Unity-Hero_1.jpg" alt="" />
				</picture>
			</div>

			<div class="carousel__caption carousel__caption--right text-center">
				<div class="carousel__content">
					<div class="image">
						<img src="/userFiles/uploads/icon-healthyhearts.png" alt="" class="img-responsive center-block">
					</div>
					<div class="tagline">
						<h2>CTA Title</h2>
						<p>CTA Description</p>
					</div>
				</div>
				<div class="carousel__content">
					<a href="" class="btn-u btn-u-lg btn-square" style="background:#fff;color:#000;">CTA Button</a>
				</div>
			</div>
		</div>

		<div class="carousel__item">
			<div class="carousel__image">
				<picture>
					<source class="img-responsive img-responsive--full-width" srcset="/userFiles/uploads/Unity-Hero.jpg" media="(min-width: 768px)" />
					<img class="img-responsive img-responsive--full-width" srcset="/userFiles/uploads/Unity-Hero_1.jpg" alt="" />
				</picture>
			</div>

			<div class="carousel__caption carousel__caption--grid image-left text-center">
				<div class="carousel__content">
					<div class="image">
						<img src="/userFiles/uploads/icon-healthyhearts.png" alt="" class="img-responsive center-block">
					</div>
					<div class="tagline">
						<h2>CTA Title</h2>
						<p>CTA Description</p>
					</div>
				</div>
				<div class="carousel__content">
					<a href="" class="btn-u btn-u-lg btn-square" style="background:#fff;color:#000;">CTA Button</a>
				</div>
			</div>
		</div>
		<div class="carousel__item">
			<div class="carousel__image">
				<picture>
					<source class="img-responsive img-responsive--full-width" srcset="/userFiles/uploads/Unity-Hero.jpg" media="(min-width: 768px)" />
					<img class="img-responsive img-responsive--full-width" srcset="/userFiles/uploads/Unity-Hero_1.jpg" alt="" />
				</picture>
			</div>

			<div class="carousel__caption carousel__caption--center carousel__caption--grid image-right text-center">
				<div class="carousel__content">
					<div class="image">
						<img src="/userFiles/uploads/icon-healthyhearts.png" alt="" class="img-responsive center-block">
					</div>
					<div class="tagline">
						<h2>CTA Title</h2>
						<p>CTA Description</p>
					</div>
				</div>
				<div class="carousel__content">
					<a href="" class="btn-u btn-u-lg btn-square" style="background:#fff;color:#000;">CTA Button</a>
				</div>
			</div>
		</div>
		<div class="carousel__item">
			<div class="carousel__image">
				<picture>
					<source class="img-responsive img-responsive--full-width" srcset="/userFiles/uploads/Unity-Hero.jpg" media="(min-width: 768px)" />
					<img class="img-responsive img-responsive--full-width" srcset="/userFiles/uploads/Unity-Hero_1.jpg" alt="" />
				</picture>
			</div>

			<div class="carousel__caption carousel__caption--right carousel__caption--grid image-left text-center">
				<div class="carousel__content">
					<div class="image">
						<img src="/userFiles/uploads/icon-healthyhearts.png" alt="" class="img-responsive center-block">
					</div>
					<div class="tagline">
						<h2>CTA Title</h2>
						<p>CTA Description</p>
					</div>
				</div>
				<div class="carousel__content">
					<a href="" class="btn-u btn-u-lg btn-square" style="background:#fff;color:#000;">CTA Button</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="carousel-controls carousel-controls--hero hidden-xs">
	<div class="carousel-controls__prev"><i class="fa fa-2x text-black fa-angle-left"></i></div>
	<div class="carousel-controls__next"><i class="fa fa-2x text-black fa-angle-right"></i></div>
</div>
