<!-- Fullscreen Demo Section -->
<div class="js-carousel carousel carousel--hero carousel--hero-fullscreen">
	<div class="carousel__item">
		<div class="carousel__image" style="background-image:url(/userFiles/uploads/Lounge-Hero.jpg);">
			<img class="img-responsive img-responsive--full-width visible-xs" srcset="/userFiles/uploads/Unity-Hero_1.jpg" alt="" />
		</div>
		<div class="carousel__caption carousel__caption--left text-center" data-href="#">
			<h2>SAVE SMART. LIVE WELL. RELAX BIG.</h2>
			<div class="tagline">There's no better time than now to start planning for your summer getaway.</div>
			<a href="#" class="btn btn-lg btn--height-auto btn--white-border btn--width-auto" style="background-color:rgb(78, 141, 238);					   color:rgb(255, 255, 255);						" tabindex="0">Learn More</a>
		</div>
	</div>
	<div class="carousel__item">
		<div class="carousel__image" style="background-image: url(/userFiles/uploads/Hero-Shaded.jpg);">
			<img class="img-responsive img-responsive--full-width visible-xs" srcset="/userFiles/uploads/desk-mobile.jpg" alt="" />
		</div>
		<div class="carousel__caption carousel__caption--center text-center" data-href="#">
			<h2>NOT SURE HOW TO GET STARTED?</h2>
			<div class="tagline">LOGIC&trade; allows you to build a custom website with a drag and drop interface.  Call 888-70-CYBER for details or complete our online application.</div>
			<a href="#" class="btn btn-lg btn--height-auto btn--white-border btn--width-auto" style="background-color:#388cdd;					   color:rgb(255, 255, 255);						" tabindex="-1">Get Started!</a>
		</div>
	</div>
</div>
<div class="carousel-controls carousel-controls--hero hidden-xs">
	<div class="carousel-controls__prev"><i class="fa fa-2x text-black fa-angle-left"></i></div>
	<div class="carousel-controls__next"><i class="fa fa-2x text-black fa-angle-right"></i></div>
</div>

<!-- Parallax Section -->
<div class="container">
	<h1>Parallax - Demo</h1>
</div>
<div class="bg-image-v1 parallaxBg">
	<div class="container">
		<div class="headline-center headline-light">
			<h2>Unify is a clean and fully responsive incredible template</h2>
			<p>Integer odio ligula, tincidunt id volutpat et, imperdiet eget mi. Quisque laoreet porttitor turpis sed <a href="#">fermentum</a>. Nullam sodales blandit nisi, tristique tempor nunc hendrerit at. Sed posuere mollis orci</p><br>
			<button type="button" class="btn-u btn-brd btn-brd-hover btn-u-light">Download Now</button>
		</div><!--/end Headline Center-->
	</div>
</div>

<!-- End Parallax Section -->
<div class="container">
	<h1>Masonry - Demo</h1>
	<div class="row grid-masonry">
		<div class="col-sm-4 grid-masonry__item no-padding m-b-10">
			<div class="grid__item">
				<a class="js-trigger-colorbox" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" rel="gal"><img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg" /></a>
			</div>
		</div>
		<div class="col-sm-4 grid-masonry__item no-padding m-b-10">
			<div class="grid__item">
				<a class="js-trigger-colorbox" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" rel="gal"><img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" /></a>
			</div>
		</div>
		<div class="col-sm-4 grid-masonry__item no-padding m-b-10">
			<div class="grid__item">
				<a class="js-trigger-colorbox" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" rel="gal"><img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" /></a>
			</div>
		</div>
		<div class="col-sm-4 grid-masonry__item no-padding m-b-10">
			<div class="grid__item">
				<a class="js-trigger-colorbox" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" rel="gal"><img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" /></a>
			</div>
		</div>
		<div class="col-sm-4 grid-masonry__item no-padding m-b-10">
			<div class="grid__item">
				<a class="js-trigger-colorbox" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" rel="gal"><img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" /></a>
			</div>
		</div>
		<div class="col-sm-4 grid-masonry__item no-padding m-b-10">
			<div class="grid__item">
				<a class="js-trigger-colorbox" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" rel="gal"><img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" /></a>
			</div>
		</div>
		<div class="col-sm-4 grid-masonry__item no-padding m-b-10">
			<div class="grid__item">
				<a class="js-trigger-colorbox" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" rel="gal"><img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" /></a>
			</div>
		</div>
		<div class="col-sm-4 grid-masonry__item no-padding m-b-10">
			<div class="grid__item">
				<a class="js-trigger-colorbox" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" rel="gal"><img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg" /></a>
			</div>
		</div>
		<div class="col-sm-4 grid-masonry__item no-padding m-b-10">
			<div class="grid__item">
				<a class="js-trigger-colorbox" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" rel="gal"><img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg" /></a>
			</div>
		</div>
	</div>
</div>
<!--Enhanced Slider-->

<div class="rev_slider_wrapper m-b-50">

	<!-- the ID here will be used in the inline JavaScript below to initialize the slider -->
	<div id="rev_slider_1" class="rev_slider" data-version="5.4.5" style="display:none">
		<ul>

			<!-- BEGIN SLIDE -->
			<li data-transition="fade">

				<!-- SLIDE'S MAIN BACKGROUND IMAGE -->
				<img src="/assets/images/examples/notgeneric_bg3.jpg" alt="Sky" class="rev-slidebg">

				<!-- BEGIN LAYER -->
				<div class="tp-caption tp-resizeme largewhitebg"

				     data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"},
                                          {"delay": "wait", "speed": 300, "to": "opacity: 0"}]'

				     data-x="0"
				     data-y="center"
				     data-hoffset="0"
				     data-voffset="0"
				     data-width="['auto']"
				     data-height="['auto']"

				>Caption Text for Slide #1</div><!-- END LAYER -->

			</li><!-- END SLIDE -->

			<!-- BEGIN SLIDE -->
			<li data-transition="fade">

				<!-- SLIDE'S MAIN BACKGROUND IMAGE -->
				<img src="/assets/images/examples/notgeneric_bg5.jpg" alt="Ocean" class="rev-slidebg">

				<!-- BEGIN LAYER -->
				<div class="tp-caption tp-resizeme largewhitebg"

				     data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"},
                                          {"delay": "wait", "speed": 300, "to": "opacity: 0"}]'

				     data-x="center"
				     data-y="center"
				     data-hoffset="0"
				     data-voffset="0"
				     data-width="['auto']"
				     data-height="['auto']"

				>Caption Text for Slide #2</div><!-- END LAYER -->

			</li><!-- END SLIDE -->

		</ul>
	</div>
</div>

<script type="text/javascript">

	/* https://learn.jquery.com/using-jquery-core/document-ready/ */
	$(document).ready(function() {

		/* initialize the slider based on the Slider's ID attribute from the wrapper above */
		$('#rev_slider_1').show().revolution({

			/* options are 'auto', 'fullwidth' or 'fullscreen'
			 sliderLayout: 'auto',

			 /* basic navigation arrows and bullets */
			navigation: {

				arrows: {
					enable: true,
					style: "hesperiden",
					hide_onleave: false
				},

				bullets: {
					enable: true,
					style: "hesperiden",
					hide_onleave: false,
					h_align: "center",
					v_align: "bottom",
					h_offset: 0,
					v_offset: 20,
					space: 5
				}
			}
		});
	});

</script>

<div class="container">
	<h1>Slider Syncing</h1>
	<div class="js-carousel carousel carousel--single m-b-20">
		<?php for($i=0;$i<5;$i++) {?>
			<div class="carousel__item">
				<a class="js-trigger-colorbox" href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" rel="galtwo"><img class="img-responsive center-block" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" /></a>
			</div>
		<?php } ?>
	</div>
	<div class="js-carousel carousel carousel--thumbs m-b-50">
		<?php for($i=0;$i<5;$i++) {?>
			<div class="carousel__item">
				<img class="img-responsive" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg" />
			</div>
		<?php } ?>
	</div>
</div>


<div class="container">
	<h1>Full Screen Flex Layout</h1>
</div>

<div class="container-fluid">
	<div class="row flex-row-sm flex-align-center bg-dark-green">
		<div class="col-sm-6 p-l-0 p-r-0">
			<div class="bg-cover full-height" style="background-image: url(/assets/images/totoro.jpg); min-height: 400px"></div>
		</div>
		<div class="col-sm-6">
			<div class="caption text-white">
				<h2>My Neighbor Totoro</h2>
				<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ea incidunt officiis quod sapiente. Adipisci aliquam dignissimos excepturi maiores modi neque nostrum reprehenderit sint ullam voluptates! More...</p>
				<a href="" class="btn btn--green">Buy Now</a>
			</div>
		</div>
	</div>
	<div class="row flex-row-sm flex-align-center bg-dark-pink">
		<div class="col-sm-6">
			<div class="caption text-white">
				<h2>Ponyo</h2>
				<p class="text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ea incidunt officiis quod sapiente. Adipisci aliquam dignissimos excepturi maiores modi neque nostrum reprehenderit sint ullam voluptates! More...</p>
				<a href="" class="btn btn--green">Buy Now</a>
			</div>
		</div>
		<div class="col-sm-6 p-l-0 p-r-0">
			<div class="bg-cover full-height" style="background-image: url(/assets/images/ponyo.jpg); min-height: 400px"></div>
		</div>
	</div>
</div>
