<div class="header header--instalink">
	<div class="header-image">
		<img src="/assets/images/instalink/logo.png" alt="" class="img-responsive">
	</div>
	<div class="header-title">Tap Photo to See Details</div>
</div>
<div class="content-instalink">
	<div class="grid">
		<?php for($i=0;$i<6;$i++) { ?>
			<div class="grid__item">
				<a href="#"><img src="/assets/images/instalink/instalink-fpo.jpg" alt="" class="img-responsive"></a>
				<div class="caption">
					<a href="">
						Lorem ipsum dolor sit amet, consectetur
					</a>
				</div>
			</div>
		<?php } ?>
	</div>
</div>
<div class="footer-instalink">
	<a href="#">cyber-ny.com</a>
</div>
