<div class="header header--instalink">
	<div class="header-image">
		<img src="/assets/images/instalink/logo.png" alt="" class="img-responsive">
	</div>
	<div class="header-title">Tap Photo to See Details</div>
</div>
<div class="content-instalink">
	<div class="button-bar">
		<?php for($i=0;$i<6;$i++) { ?>
			<div class="button-bar__item">
				<a href="#" class="btn btn-round-4px-full lighten">5 FEATURES TO BRIGHTEN YOUR 2020!</a>
			</div>
		<?php } ?>
	</div>
</div>
<div class="footer-instalink">
	<a href="#">cyber-ny.com</a>
</div>
