
<!--
hero banner
should only appear if added in module
-->

<div class="lvp lvp--hero">
	<div class="container">
		<img class="img-responsive center-block" src="/assets/images/lvp/hero-banner.png" alt="">
	</div>
</div>
<!--end hero-->

<div class="container">
	<div class="lvp lvp--main-content">
		<div class="lvp__sidebar">
			<div class="lvp__image">
				<img src="/assets/images/lvp/poster-fpo.png" alt="" class="img-responsive">
			</div>

			<!--		group should only appear if a button exists-->
			<div class="lvp__btn-group">
				<!--			individual buttons only appear if they exist-->
				<a href="#" class="btn btn--default">Purchase: $22.99</a>
				<a href="#" class="btn btn--default">Rent: $4.99</a>
				<a href="#" class="btn btn--default">Add to Watchlist</a>
			</div>
			<!--		end btn group-->
		</div>
		<!--	end sidebar-->

		<div class="lvp__content">
			<div class="lvp__video">
				<!--				this is for display purposes. not final code-->
				<div style="padding:56.25% 0 0 0;position:relative;">
					<iframe src="https://player.vimeo.com/video/87623642?color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
				</div>
				<script src="https://player.vimeo.com/api/player.js"></script>
			</div>
			<!--		end video-->
			<h1 class="lvp__title">Title Goes Here</h1>
			<h2 class="lvp__sub-title">Sub title goes here</h2>

			<div class="lvp__tabs">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#synopsis" aria-controls="synopsis" role="tab" data-toggle="tab">Synopsis</a></li>
					<li role="presentation"><a href="#cast-and-crew" aria-controls="cast-and-crew" role="tab" data-toggle="tab">Cast & Crew</a></li>
					<li role="presentation"><a href="#reviews" aria-controls="reviews" role="tab" data-toggle="tab">Reviews</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<!--					content in here is probably not going to be formatted nicely so I'll just add it as found in Kinonow-->
					<div role="tabpanel" class="tab-pane active fade in" id="synopsis">
						<p>A few years from now... Bacurau, a small village in the Brazilian sertão, mourns the loss of its matriarch, Carmelita, who lived to be 94. Days later, its inhabitants (among them Sônia Braga) notice that their village has literally vanished from online maps and a UFO-shaped drone is seen flying overhead. There are forces that want to expel them from their homes, and soon, in a genre-bending twist, a band of armed mercenaries led by Udo Kier arrive in town picking off the inhabitants one by one. A fierce confrontation takes place when the townspeople turn the tables on the villainous outsiders, banding together by any means necessary to protect and maintain their remote community. The mercenaries just may have met their match in the fed-up, resourceful denizens of little Bacurau.</p>
					</div>

					<div role="tabpanel" class="tab-pane fade" id="cast-and-crew">
						<div>
							<strong>Cast</strong>
						</div>
						Sônia Braga											<br>
						Udo Kier											<br>
						Bárbara Colen											<br>
						Thomas Aquino											<br>
						Silvero Pereira											<br>
						Thardelly Lima											<br>
						Rubens Santos											<br>
						Wilson Rabelo											<br>
						Luciana Souza											<br>
						Karine Teles											<br>
						Antonio Saboia											<br>
						Carlos Francisco											<br>
						<br>
						<div><strong>Crew</strong></div>
						Directed by  Kleber Mendonça Filho and Juliano Dornelles<br>
					</div>

					<div role="tabpanel" class="tab-pane fade" id="reviews">
						<div class="review">
							<p>"Critic's Pick! Exhilarating. <span style="font-weight: 400;">A heart-thumping political allegory that tips its hat to masters like John Carpenter.</span>"</p>																					<div class="byline">- Manohla Dargis, The New York Times</div>
							<hr>
						</div>
						<div class="review">
							<p><span style="font-weight: 400;">"[A] boldly inventive political fantasy... offers a thrillingly imaginative playbook for resistance."</span></p>																					<div class="byline">- Richard Brody, The New Yorker</div>
							<hr>
						</div>
						<div class="review">
							<p><span style="font-weight: 400;">"A gloriously demented (and lightly psychedelic) Western."</span></p>																					<div class="byline">- David Ehrlich, IndieWire</div>
							<hr>
						</div>
						<div class="review">
							<p><span style="font-weight: 400;">"A genre-busting entertainment that is at once a portrait of a community, a horror thriller and a timely piece of political filmmaking. Bacurau is one of those movies like Parasite... where you're never quite sure which way it's heading."</span></p>																					<div class="byline">- John Powers, NPR</div>
							<hr>
						</div>
						<div class="review">
							<p><span style="font-weight: 400;">“</span><span style="font-weight: 400;">Utterly distinctive filmmaking, executed with ruthless clarity and force. </span><span style="font-weight: 400;">A scream of satirical defiance. T</span><span style="font-weight: 400;">his is not just fantasy, not just symbolism – it is the shape of things to come.”</span></p>																					<div class="byline">- Peter Bradshaw, The Guardian</div>
							<hr>
						</div>
						<div class="review">
							<p><span style="font-weight: 400;">"A modern-day western with some of the raw, hallucinatory power of a Sergio Leone epic. Rich and extremely filling."</span></p>																					<div class="byline">- Justin Chang, The Los Angeles Times</div>
							<hr>
						</div>
						<div class="review">
							<p><span style="font-weight: 400;">“Feels like a favorite Gabriel García Márquez novel crossed with a Sergio Leone spaghetti western.”</span></p>																					<div class="byline">- Ken Foster, BOMB Magazine</div>
							<hr>
						</div>
						<div class="review">
							<p><span style="font-weight: 400;">"A perfect blend of blistering social commentary and illicit genre-flick thrills."</span></p>																					<div class="byline">- David Fear,&nbsp;Rolling Stone</div>
							<hr>
						</div>
					</div>
				</div>

			</div>
			<!--		end tabs-->
		</div>
		<!--	end main content-->
	</div>
</div>


<div class="container">
	<h2 class="m-t-0">Photo Gallery Grid</h2>
	<!--
	lets set the max display to 6 and we can just change the class for example lvp--grid-6.
	I can make further adjustments when the template has been integrated if needed.
	-->
	<div class="lvp lvp--grid lvp--grid-4">
		<?php for ($i=0;$i<4;$i++) { ?>
			<div class="lvp__item">
				<a href="/assets/images/lvp/gallery-large-fpo.jpg" class="js-trigger-fancybox" data-fancybox="gallery-grid">
					<img src="/assets/images/lvp/gallery-thumb-fpo.jpg" alt="" class="img-responsive">
				</a>
			</div>
			<div class="lvp__item">
				<a href="/assets/images/lvp/gallery-large-fpo-2.jpg" class="js-trigger-fancybox" data-fancybox="gallery-grid">
					<img src="/assets/images/lvp/gallery-thumb-fpo-2.jpg" alt="" class="img-responsive">
				</a>
			</div>
			<div class="lvp__item">
				<a href="/assets/images/lvp/gallery-large-fpo-3.jpg" class="js-trigger-fancybox" data-fancybox="gallery-grid">
					<img src="/assets/images/lvp/gallery-thumb-fpo-3.jpg" alt="" class="img-responsive">
				</a>
			</div>
		<?php } ?>
	</div>

	<h2>Photo Gallery Tray</h2>
	<div class="lvp lvp--tray js-carousel carousel">
		<?php for ($i=0;$i<4;$i++) { ?>
			<div class="carousel__item">
				<a href="/assets/images/lvp/gallery-large-fpo.jpg" class="js-trigger-fancybox" data-fancybox="gallery-tray">
					<img src="/assets/images/lvp/gallery-thumb-fpo.jpg" alt="" class="img-responsive">
				</a>
			</div>
			<div class="carousel__item">
				<a href="/assets/images/lvp/gallery-large-fpo-2.jpg" class="js-trigger-fancybox" data-fancybox="gallery-tray">
					<img src="/assets/images/lvp/gallery-thumb-fpo-2.jpg" alt="" class="img-responsive">
				</a>
			</div>
			<div class="carousel__item">
				<a href="/assets/images/lvp/gallery-large-fpo-3.jpg" class="js-trigger-fancybox" data-fancybox="gallery-tray">
					<img src="/assets/images/lvp/gallery-thumb-fpo-3.jpg" alt="" class="img-responsive">
				</a>
			</div>
		<?php } ?>
	</div>
</div>

<!--we can move this out once dev is complete-->
<script>
	$('.js-carousel.lvp--tray').slick({
		slidesToShow: 4,
		slidesToScroll: 4,
		dots:true,
		responsive: [
			{
				breakpoint: 767,
				settings: {
					slidesToShow: 2,
					slidesToScroll: 2
				}
			}
		]
	});
</script>
