<div class="section section-full-height flex-wrap" style="background:#000; color: #fff !important;">
	<div>
		<h2 class="text-white">Welcome</h2>
		<div class="text-center"> Scroll down <i class="fas fa-arrow-down"></i></div>
	</div>

</div>
<<<<<<< HEAD
<<<<<<< HEAD
<div class="section section-full-height section-trigger-1" style="background:#ccc;">
	<h2 class="section__title">Frame In</h2>
</div>
<div class="section section-full-height section-trigger-2">
=======
=======
>>>>>>> feature/task_60366_cms_motion_on_scroll_effect
<div class="section section-full-height js-trigger-motion-on-scroll" style="background:#ccc;">
	<h2 class="section__title">Frame In</h2>
</div>
<div class="section section-full-height js-trigger-motion-on-scroll">
<<<<<<< HEAD
>>>>>>> feature/task_60366_cms_motion_on_scroll_effect
=======
>>>>>>> feature/task_60366_cms_motion_on_scroll_effect
	<h2 class="section__title animated">Fade in</h2>
</div>
<style>
	.section-trigger-1 .section__title {
		opacity: 0;
		transform: translateY(100px);
	}
	.section-trigger-2 .section__title {
		opacity: 0;
	}
<<<<<<< HEAD
<<<<<<< HEAD
=======
	.animated {
		transition: all .2s ease-out;
	}
>>>>>>> feature/task_60366_cms_motion_on_scroll_effect
=======
	.animated {
		transition: all .2s ease-out;
	}
>>>>>>> feature/task_60366_cms_motion_on_scroll_effect
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.14.2/TweenMax.min.js"></script>
<script>
	$(function() {
		//store mouse positions
<<<<<<< HEAD
<<<<<<< HEAD
		var mouseToPercent = 0;
		function getMousePos() {
			return (mouseToPercent * 400) + 10;
		}
		$('body').on('mousemove', function(e) {
			mouseToPercent = e.clientY/$(this).innerHeight();
		});

		var controller = new ScrollMagic.Controller();

		//var tween = TweenMax.to(".section-trigger-1 .section__title", 0.5, {autoAlpha: 1, y:0});
		var tween = TweenMax.fromTo(".section-trigger-1 .section__title", 0.5, {autoAlpha: 0, y: 100}, {duration: 0.5, autoAlpha: 1, y: 0});

		var scene = new ScrollMagic.Scene( {
			triggerElement: '.section-trigger-1',
			offset: 100,
			duration: 200
		})
			//.setClassToggle('.section-trigger-1 .section__title', 'fadeInUp')
			.setTween(tween)
			.addIndicators()
			.addTo(controller);

		var scene2 = new ScrollMagic.Scene( {
			triggerElement: '.section-trigger-2',
			offset: 100
		})
			.setClassToggle('.section-trigger-2 .section__title', 'fadeIn')
			.addIndicators()
			.addTo(controller);
=======
=======
>>>>>>> feature/task_60366_cms_motion_on_scroll_effect
		// var mouseToPercent = 0;
		// function getMousePos() {
		// 	return (mouseToPercent * 400) + 10;
		// }
		// $('body').on('mousemove', function(e) {
		// 	mouseToPercent = e.clientY/$(this).innerHeight();
		// });

		//var controller = new ScrollMagic.Controller();

		//var tween = TweenMax.to(".section-trigger-1 .section__title", 0.5, {autoAlpha: 1, y:0});
		// var tween = TweenMax.fromTo(".section-trigger-1 .section__title", 0.5, {autoAlpha: 0, y: 100}, {duration: 0.5, autoAlpha: 1, y: 0});
		//
		// var scene = new ScrollMagic.Scene( {
		// 	triggerElement: '.section-trigger-1',
		// 	offset: 300,
		// 	duration: 200
		// })
			//.setClassToggle('.section-trigger-1 .section__title', 'fadeInUp')
			// .setTween(tween)
			// .addIndicators()
			// .addTo(controller);

		// var scene2 = new ScrollMagic.Scene( {
		// 	triggerElement: '.section-trigger-2',
		// 	offset: 300
		// })
		// 	.setClassToggle('.section-trigger-2 .section__title', 'fadeIn')
		// 	.addIndicators()
		// 	.addTo(controller);
<<<<<<< HEAD
>>>>>>> feature/task_60366_cms_motion_on_scroll_effect
=======
>>>>>>> feature/task_60366_cms_motion_on_scroll_effect

		// scene.on("enter", function () {
		// 	$('.section-trigger-1 .section__title').removeClass('fadeOutUp');
		// });
		//
		// scene.on("leave", function () {
		// 	$('.section-trigger-1 .section__title').addClass('fadeOutUp');
		// });

<<<<<<< HEAD
<<<<<<< HEAD
		scene2.on("enter", function () {
			$('.section-trigger-2 .section__title').removeClass('fadeOut');
		});

		scene2.on("leave", function () {
			$('.section-trigger-2 .section__title').addClass('fadeOut');
		});
=======
=======
>>>>>>> feature/task_60366_cms_motion_on_scroll_effect
		// scene2.on("enter", function () {
		// 	$('.section-trigger-2 .section__title').removeClass('fadeOut');
		// });
		//
		// scene2.on("leave", function () {
		// 	$('.section-trigger-2 .section__title').addClass('fadeOut');
		// });
<<<<<<< HEAD
>>>>>>> feature/task_60366_cms_motion_on_scroll_effect
=======
>>>>>>> feature/task_60366_cms_motion_on_scroll_effect

	});
</script>
