<div class="et_pb_section_parallax">
	<span class="et_parallax_bg" style="background-image: url(/userFiles/uploads/Hero%20Panels/Shout-Hero-1.jpg);"></span>
	<div class="et_pb_text_inner">
		<h1>Parallax Hero</h1>
	</div>
</div>
<script>

</script>
