<?php echo $this->header; ?>
<div class="container">
	<div class="row flex-row-md">
		<div class="col-md-6 bg-gray-md">
			<div class="order-details">
				<h2>Review Order Details</h2>
				<div class="name"><strong>Name:</strong> Mike Brown</div>
				<div class="email"><strong>Email:</strong> mike@cyber-ny.com</div>
				<div class="terms"><strong>Terms of Agreement:</strong> I accept the terms of agreement</div>
				<div class="success">Payment Amount: $300.00</div>
				<a href="" class="btn btn--link">< Edit Details</a>
			</div>
		</div>
		<div class="col-md-6">
			<div class="payment-details">
				<h2>Payment Details</h2>
				<form action="">
					<div class="form-group">
						<label for="" class="hide"></label>
						<input type="text" class="form-control" placeholder="Name On Card">
					</div>
					<div class="form-group flex-row-sm row">
						<label for="" class="hide"></label>
						<div class="col-sm-6">
							<input type="text" class="form-control" placeholder="Card Number">
						</div>
						<div class="col-sm-3">
							<input type="text" class="form-control" placeholder="CVV">
						</div>

						<div class="col-sm-3">
							<a href="">What Is This?</a>
						</div>
					</div>
					<div class="form-group flex-row-sm row">
						<label for="" class="hide"></label>
						<div class="col-sm-6">
							<select name="" id="" class="form-control">
								<option>Select a Month:</option>
							</select>
						</div>
						<div class="col-sm-6">
							<select name="" id="" class="form-control">
								<option>Select a Year:</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="" class="hide"></label>
						<input type="text" class="form-control" placeholder="Address">
					</div>
					<div class="form-group">
						<label for="" class="hide"></label>
						<input type="text" class="form-control" placeholder="Address 2">
					</div>
					<div class="form-group">
						<label for="" class="hide"></label>
						<input type="text" class="form-control" placeholder="City">
					</div>
					<div class="form-group">
						<label for="" class="hide"></label>
						<select name="" id="" class="form-control">
							<option value="">Select State</option>
						</select>
					</div>
					<div class="form-group flex-row-sm row">
						<label for="" class="hide"></label>
						<div class="col-sm-6">
							<input type="text" class="form-control" placeholder="Zip Code">
						</div>
						<div class="col-sm-6">
							<select name="" id="" class="form-control">
								<option value="">Unite States</option>
							</select>
						</div>
					</div>
					<div class="flex-row-sm row">
						<div class="col-sm-6">
							<button type="submit" class="btn btn--outline-dark force--full-width">Submit</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
</div>

<?php echo $this->footer?>
