<section class="hero hero--parallax" style="background: url(/userFiles/uploads/Hero%20Panels/Shout-Hero-1.jpg);">
	<h1>Parallax Hero Image</h1>
</section>
<section class="hero--parallax-content">
	<section class="ct_icon_box_section">
		<div class="container">
			<div class="ct-section_header ct-section_header--type2">
				<h2>
					A World-Class Approach to Business
				</h2>
				<div class="ct-section_header-description">
					Companies are looking to do business with other great companies. WebCorpCo theme has what it takes to show the world you mean business.
				</div>
				<div class="clearfix">
					&nbsp;
				</div>
				<div class="ct-section_header-separator">
					&nbsp;
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="ct-icon_box media" onclick="location.href='#'">
						<div class="media-left">
							<i class="fa fa-users"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">
								Marketing
							</h3>
							<div class="ct-icon_box-content">
								Market to the right person, at the right time, at the place.
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="ct-icon_box media" onclick="location.href='#'">
						<div class="media-left">
							<i class="fa fa-cogs"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">
								Sales
							</h3>
							<div class="ct-icon_box-content">
								Improve sales through the use of Big Data and Analytics.
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="ct-icon_box media" onclick="location.href='#'">
						<div class="media-left">
							<i class="fa fa-clipboard"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">
								Design
							</h3>
							<div class="ct-icon_box-content">
								Benefit from award winning mobile responsive design.
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="ct-icon_box media" onclick="location.href='#'">
						<div class="media-left">
							<i class="fa fa-globe"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">
								Programming
							</h3>
							<div class="ct-icon_box-content">
								No need to program. WebCorpCo does all of the coding for you.
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="ct-icon_box media" onclick="location.href='#'">
						<div class="media-left">
							<i class="fa fa-user-plus"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">
								Support
							</h3>
							<div class="ct-icon_box-content">
								We offer 24/7 365 global support for all enterprise customers.&nbsp;
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="ct-icon_box media" onclick="location.href='#'">
						<div class="media-left">
							<i class="fa fa-line-chart"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">
								Training
							</h3>
							<div class="ct-icon_box-content">
								Benefit from webinars and training sessions offered regularly.
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="ct-icon_box media" onclick="location.href='#'">
						<div class="media-left">
							<i class="fa fa-users"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">
								Marketing
							</h3>
							<div class="ct-icon_box-content">
								Market to the right person, at the right time, at the place.
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="ct-icon_box media" onclick="location.href='#'">
						<div class="media-left">
							<i class="fa fa-cogs"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">
								Sales
							</h3>
							<div class="ct-icon_box-content">
								Improve sales through the use of Big Data and Analytics.
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="ct-icon_box media" onclick="location.href='#'">
						<div class="media-left">
							<i class="fa fa-clipboard"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">
								Design
							</h3>
							<div class="ct-icon_box-content">
								Benefit from award winning mobile responsive design.
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="ct-icon_box media" onclick="location.href='#'">
						<div class="media-left">
							<i class="fa fa-globe"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">
								Programming
							</h3>
							<div class="ct-icon_box-content">
								No need to program. WebCorpCo does all of the coding for you.
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="ct-icon_box media" onclick="location.href='#'">
						<div class="media-left">
							<i class="fa fa-user-plus"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">
								Support
							</h3>
							<div class="ct-icon_box-content">
								We offer 24/7 365 global support for all enterprise customers.&nbsp;
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6">
					<div class="ct-icon_box media" onclick="location.href='#'">
						<div class="media-left">
							<i class="fa fa-line-chart"></i>
						</div>
						<div class="media-body">
							<h3 class="media-heading">
								Training
							</h3>
							<div class="ct-icon_box-content">
								Benefit from webinars and training sessions offered regularly.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>
<script>
	$(document).ready(function(){
		$(window).scroll(function(e){
			parallax();
		});

		function parallax(){
			var scrolled = $(window).scrollTop();
			$('.hero--parallax').css('top',-(scrolled*0.0315)+'rem');
			$('.hero--parallax > h1').css('top',-(scrolled*-0.005)+'rem');
			$('.hero--parallax > h1').css('opacity',1-(scrolled*.00175));
		};
	});
</script>
