<section class="hero" style="background: url(/userFiles/uploads/Hero%20Panels/Shout-Hero-1.jpg);">
	<h1>Parallax Hero Image</h1>
</section>
<div class="container">
	<div data-spy="affix" data-offset-top="200" class="nav-pills--affix">
		<ul class="nav nav-pills">
			<li><a href="">Synopsis</a></li>
			<li><a href="">Trailer</a></li>
			<li><a href="">Reviews</a></li>
			<li><a href="">Playing</a></li>
			<li><a href="">Media &amp; Press Kits</a></li>
		</ul>
	</div>
</div>


<style>
	/*don't copy this example CSS*/
.hero {
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
	.hero+.container {
		margin-bottom: 600px;
		position: relative;
	}
</style>
<script>
	$(function() {
		$('.nav-pills--affix').on('affixed.bs.affix', function (e) {
			$(this).find('.nav-pills').addClass('container');
		});
		$('.nav-pills--affix').on('affixed-top.bs.affix', function (e) {
			$(this).find('.nav-pills').removeClass('container');
		});
	});
</script>
