<div class="hero hero--video" style="background-image: url(https://cyber-ny.com/assets/images/landing-bg-large.jpg);">
	<div class="video-bg visible-lg">
		<video id="intro-video" autoplay loop class="fillWidth hidden-xs hidden-sm">
			<source src="https://8c75b3ed63f6faaae7aa-12010748862db1aaadaf12efaeb162f7.ssl.cf2.rackcdn.com/web2.mp4" type="video/mp4" />Your browser does not support the video tag. Consider updating your browser.
		</video>
	</div>
	<div class="container caption">
		<h2 class="h1">Look around</h2>
		<h3 class="h2">Can you see them? Great stories are everywhere you turn.</h3>
		<a class="scrollTo btn btn_intro" href="#work">Check out a few of ours now</a>
	</div>
</div>
