<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$truncate = new Cny_View_Helper_StringTruncate();

$pi_mapper = new Application_Model_Mapper_ProductImage();
?>
<div class="products products--grid m-b-50">
	<?php foreach ($this->products as $product) {
		$primary_image = $pi_mapper->fetchPrimaryByProductId($product->id);
		$secondary_image = $pi_mapper->fetchSecondaryByProductId($product->id);
		if ($primary_image){
			$primary_image->thumbnail_src = str_replace("userFiles/uploads", "userThumbs", $primary_image->image_src);
		}
		if ($secondary_image){
			$secondary_image->thumbnail_src = str_replace("userFiles/uploads", "userThumbs", $secondary_image->image_src);
		}
		?>
		<div class="products--grid__item" data-href="/product/<?php echo $product->code?>">
			<div class="products__content">
				<div class="products__image">


					<?php if ($secondary_image) {?>
						<img src="<?php echo ($primary_image->thumbnail_src)?$primary_image->thumbnail_src:$primary_image->image_src?>" class="img-responsive js-trigger-swap" data-swap-image="<?php echo $secondary_image->image_src;?>" alt="">
					<?php }else {?>
						<img src="<?php echo ($primary_image->thumbnail_src)?$primary_image->thumbnail_src:$primary_image->image_src?>" class="img-responsive" alt="">
					<?php } ?>




				</div>
				<div class="products__caption">

					<?php if ($settings_mapper->getValueByCode('ecommerce_category_product_title') != 'Disabled') { ?>
					<h3 class="products__title <?php echo $settings_mapper->getValueByCode('ecommerce_category_product_alignment');?>" data-title-padding="<?php echo $settings_mapper->getValueByCode('ecommerce_category_product_padding');?>"><?php echo $product->title?></h3>
					<?php } ?>

					<?php if ($settings_mapper->getValueByCode('ecommerce_category_product_short_description') != 'Disabled') { ?>
					<div class="products__content products__description <?php echo $settings_mapper->getValueByCode('ecommerce_category_short_description_alignment');?>" data-description-padding="<?php echo $settings_mapper->getValueByCode('ecommerce_category_short_description_padding');?>">
						<p><?php echo ($product->summary)?$product->summary:$truncate->StringTruncate($product->description, 100, true)?></p>

						<a href="/product/<?php echo $product->code?>">View Details</a>

					</div>
					<?php } ?>
				</div>
			</div>
			<div class="products__content">
				<div class="price <?php echo $settings_mapper->getValueByCode('ecommerce_category_product_cta_button_style');?>">

					<?php if ($product->price && $settings_mapper->getValueByCode('ecommerce_category_product_price') != 'Disabled') {?>
						<span class="<?php echo $settings_mapper->getValueByCode('ecommerce_category_product_price_alignment');?>" data-price-padding="<?php echo $settings_mapper->getValueByCode('ecommerce_category_product_price_padding');?>">
							<?php if ($product->msrp) { ?>
								<small class="text-line-through msrp m-r-5">MSRP: $<?php echo number_format($product->msrp,2)?></small>
							<?php } ?>
							$<?php echo number_format($product->price,2)?>
						</span>
					<?php } ?>

					<?php
					$primary_button_styles = $settings_mapper->getValueByCode('ecommerce_primary_btn_style');
					$cat_button_styles = $settings_mapper->getValueByCode('ecommerce_category_product_cta_btn_style');
					$button_styles = '';

					if (isset($cat_button_styles) && $cat_button_styles) {
						$button_styles = $cat_button_styles;
					} else {
						$button_styles = $primary_button_styles;
					}

					if ($settings_mapper->getValueByCode('ecommerce_category_product_cta_button') != 'Disabled') {
						$mapper = new Application_Model_Mapper_ProductVariant();
						$variants = $mapper->getVariantsByProductId($product->id);

						if ($this->product->status == 'Unavailable' || count($variants) > 0) {
						?>
							<a href="/product/<?php echo $product->code?>" class="btn btn--green btn-ecommerce-primary btn-ecommerce-category-cta btn--cms-default <?php echo $button_styles;?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_hover_effect');?>"><?php echo $settings_mapper->getValueByCode('ecommerce_category_product_cta_text')?$settings_mapper->getValueByCode('ecommerce_category_product_cta_text'):'Buy Now'?></a>
					<?php
						}elseif ($this->product->status == 'Enabled' || $this->product->status == 'Backordered') {
					?>
						<a href="/cart/add/product_id/<?php echo $product->id?>" class="btn btn--green btn-ecommerce-primary btn-ecommerce-category-cta btn--cms-default <?php echo $button_styles;?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_hover_effect');?>"><?php echo $settings_mapper->getValueByCode('ecommerce_category_product_cta_text')?$settings_mapper->getValueByCode('ecommerce_category_product_cta_text'):'Buy Now'?></a>
					<?php
						}
					}
					?>

				</div>
			</div>
		</div>
	<?php } ?>
</div>

<script>
	$(function() {
		$(".js-trigger-swap").on("mouseover", function(){
			if ($(this).data('swap-image')) {
				$(this).data('orig-image', $(this).attr('src'));
				$(this).attr("src", $(this).data('swap-image'));
			}
		}).on("mouseout", function(){
			if ($(this).data('orig-image')) {
				$(this).attr("src", $(this).data('orig-image'));
			}
		});
	});
</script>
