<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$truncate = new Cny_View_Helper_StringTruncate();

$pi_mapper = new Application_Model_Mapper_ProductImage();
?>
<div class="products products--list m-b-50">
	<?php foreach ($this->products as $product) {
		$primary_image = $pi_mapper->fetchPrimaryByProductId($product->id);
		if ($primary_image){
			$primary_image->thumbnail_src = str_replace("userFiles/uploads", "userThumbs", $primary_image->image_src);
		}
		?>
		<div class="products--list__item" data-href="/product/<?php echo $product->code?>">
			<div class="products__content">
				<div class="products__image">
					<img src="<?php echo ($primary_image->thumbnail_src)?$primary_image->thumbnail_src:$primary_image->image_src?>" class="img-responsive">
				</div>
			</div>
			<div class="products__content">
				<div class="products__caption">
					<?php if ($settings_mapper->getValueByCode('ecommerce_category_product_title') != 'Disabled') { ?>
					<h3 class="products__title"><?php echo $product->title?></h3>
					<?php } ?>
					<?php if ($settings_mapper->getValueByCode('ecommerce_category_product_short_description') != 'Disabled') { ?>
					<div class="products__content products__description">
						<p><?php echo ($product->summary)?$product->summary:$truncate->StringTruncate($product->description, 100, true)?></p>
						<a href="/product/<?php echo $product->code?>">View Details</a>
					</div>
					<?php } ?>
				</div>
			</div>
			<div class="products__content">
				<div class="price">
					<?php if ($product->price && $settings_mapper->getValueByCode('ecommerce_category_product_price') != 'Disabled') {?>
						<span>$<?php echo number_format($product->price,2)?></span>
					<?php } ?>
					<?php
					$primary_button_styles = $settings_mapper->getValueByCode('ecommerce_primary_btn_style');
					$cat_button_styles = $settings_mapper->getValueByCode('ecommerce_category_product_cta_btn_style');
					$button_styles = '';

					if (isset($cat_button_styles) && $cat_button_styles) {
						$button_styles = $cat_button_styles;
					} else {
						$button_styles = $primary_button_styles;
					}

					if ($settings_mapper->getValueByCode('ecommerce_category_product_cta_button') != 'Disabled') {
						$mapper = new Application_Model_Mapper_ProductVariant();
						$variants = $mapper->getVariantsByProductId($product->id);

						if ($this->product->status == 'Unavailable' || count($variants) > 0) {
							?>
							<a href="/product/<?php echo $product->code?>" class="btn btn--green btn-ecommerce-primary btn-ecommerce-category-cta btn--cms-default <?php echo $button_styles;?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_hover_effect');?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_style');?>"><?php echo $settings_mapper->getValueByCode('ecommerce_category_product_cta_text')?$settings_mapper->getValueByCode('ecommerce_category_product_cta_text'):'Buy Now'?></a>
							<?php
						}elseif ($this->product->status == 'Enabled' || $this->product->status == 'Backordered') {
							?>
							<a href="/cart/add/product_id/<?php echo $product->id?>" class="btn btn--green btn-ecommerce-primary btn-ecommerce-category-cta btn--cms-default <?php echo $button_styles;?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_hover_effect');?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_style');?>"><?php echo $settings_mapper->getValueByCode('ecommerce_category_product_cta_text')?$settings_mapper->getValueByCode('ecommerce_category_product_cta_text'):'Buy Now'?></a>
							<?php
						}
					}
					?>
				</div>
			</div>
		</div>
	<?php } ?>
</div>
