<?php
use Cocur\Slugify\Slugify;
$slugify = new Slugify();
$nav_ids = array();

$navigation_settings_mapper = new Admin_Model_Mapper_NavigationItem();
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>

<div class="header header--custom header--custom-ecommerce-inline header-sticky <?php echo $settings_mapper->getValueByCode('nav_fixed_position')?>">
	<div class="navbar navbar--flex <?php echo $settings_mapper->getValueByCode('nav_link_alignment')?> <?php echo $settings_mapper->getValueByCode('nav_vert_link_alignment')?>" role="navigation">
		<div class="<?php echo ($settings_mapper->getValueByCode('nav_container_type') == 'full_width')?"container-fluid":"container"?>">
			<div class="navbar-header-wrap">
				<div class="navbar-header <?php echo $settings_mapper->getValueByCode('site_logo_alignment') ?>">
					<?php if ($settings_mapper->getValueByCode('site_logo_status') != 'Disabled') {?>
						<a class="navbar-brand h1" href="<?php echo ($this->wireframe)?"/index/wireframe-page/":"/"?>">
							<?php if ($settings_mapper->getValueByCode('site_logo')) {?>
								<?php if ($settings_mapper->getValueByCode('site_logo_mobile')) {?>
									<img class="img-responsive logo-main hidden-xs hidden-sm" src="<?php echo $settings_mapper->getValueByCode('site_logo') ?>" alt="<?php echo htmlentities($settings_mapper->getValueByCode('site_name')) ?>">
									<img class="img-responsive logo-main-mobile visible-xs visible-sm" src="<?php echo $settings_mapper->getValueByCode('site_logo_mobile') ?>" alt="<?php echo htmlentities($settings_mapper->getValueByCode('site_name')) ?>">
								<?php } else {?>
									<img class="img-responsive logo-main" src="<?php echo $settings_mapper->getValueByCode('site_logo') ?>" alt="<?php echo htmlentities($settings_mapper->getValueByCode('site_name')) ?>">
								<?php } ?>
								<img class="img-responsive logo-sticky" src="<?php echo ($settings_mapper->getValueByCode('sticky_site_logo'))?$settings_mapper->getValueByCode('sticky_site_logo'):$settings_mapper->getValueByCode('site_logo') ?>" alt="<?php echo htmlentities($settings_mapper->getValueByCode('site_name')) ?>">
							<?php }else {?>
								<span><?php echo $settings_mapper->getValueByCode('site_name')?></span>
							<?php } ?>
						</a>
					<?php } ?>
					<div class="navbar-controls">
						<?php
						if ($settings_mapper->getValueByCode('header_search') == 'yes') {
							?>
							<div class="js-trigger-search-btn">
								<i class="search fa fa-search search-btn"></i>
							</div>
							<?php
						}
						?>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
					</div>
				</div>
				<div class="navbar-collapse collapse <?php echo $settings_mapper->getValueByCode('nav_mobile_canvas') ?>">
					<i class="fa fa-times fa-2x js-close-navbar"></i>
					<ul class="nav navbar-nav">
						<?php foreach ($this->main_nav as $item) {
							//BEGIN: Navigation Item Settings Styles Implementation
							$nav_item = $navigation_settings_mapper->find($item['id']);
							$nav_settings = json_decode($nav_item->json_settings);
							$nav_styles = json_decode($nav_item->json_styles);
							//END: Navigation Item Settings Styles Implementation
							$target = '';
							if (array_key_exists('url',$item)) {
								$url = $item['url'];
								$target = ($item['target'])?"target='{$item['target']}'":'';
							}else {
								$url = ($item['code'] == $this->home_code) ? "/" : "/" . $item['code'];
							}

							if ($this->wireframe && $item['page_id']) {
								$url = "/index/wireframe-page/id/".$item['page_id'];
							}

							$code = $orig_code = $slugify->slugify($item['title']);
							$counter = 1;
							while (in_array($code, $nav_ids)) {
								$code = $orig_code . "-" . $counter;
								$counter++;
							}
							$nav_id = $code;
							$nav_ids[] = $nav_id;
							?>
							<?php if (isset($item['children'])) { ?>
								<li class="dropdown /active/">
									<a href="<?php echo (isset($nav_settings->link_enabled) && $nav_settings->link_enabled == 'Disabled') ? '#' : $url;  ?>" class="dropdown-toggle nav-style-id-<?php echo $item['id']; ?><?php echo (isset($nav_settings->class) && $nav_settings->class != '') ? ' ' .$nav_settings->class : '';  ?><?php echo (isset($nav_settings->item_alignment_class) && $nav_settings->item_alignment_class) ? ' ' .$nav_settings->item_alignment_class : '';  ?>" <?php echo $target?> data-toggle="dropdown" id="<?php echo $nav_id?>"><?php echo $item['title'] ?></a>
									<?php
									if (isset($item['children'])) {
										?>
										<ul class="dropdown-menu">
											<?php foreach ($item['children'] as $child) {
												//BEGIN: Navigation Item Settings Implementation
												$nav_item = $navigation_settings_mapper->find($child['id']);
												$nav_settings = json_decode($nav_item->json_settings);
												$nav_styles = json_decode($nav_item->json_styles);
												//END: Navigation Item Settings Implementation
												$target = '';
												if (array_key_exists('url',$child)) {
													$url = $child['url'];
													$target = ($child['target'])?"target='{$child['target']}'":'';
												}else {
													$url = ($child['code'] == $this->home_code) ? "/" : "/" . $child['code'];
												}

												if ($this->wireframe && $child['page_id']) {
													$url = "/index/wireframe-page/id/".$child['page_id'];
												}

												$code = $orig_code = $slugify->slugify($item['title'].'_'.$child['title']);
												$counter = 1;
												while (in_array($code, $nav_ids)) {
													$code = $orig_code . "-" . $counter;
													$counter++;
												}
												$nav_id = $code;
												$nav_ids[] = $nav_id;
												?>
												<li>
													<a href="<?php echo (isset($nav_settings->link_enabled) && $nav_settings->link_enabled == 'Disabled') ? '#' : $url;  ?>" class="nav-style-id-<?php echo $child['id']; ?><?php echo (isset($nav_settings->class) && $nav_settings->class != '') ? ' ' .$nav_settings->class : '';  ?> <?php echo (isset($nav_settings->item_alignment_class) && $nav_settings->item_alignment_class) ? ' ' .$nav_settings->item_alignment_class : '';  ?>" <?php echo $target?> id="<?php echo $nav_id?>"><?php echo $child['title'] ?></a>
												</li>
											<?php } ?>
										</ul>
									<?php } ?>
								</li>
							<?php } else { ?>
								<li class="<?php echo (isset($item['block_id']) && $item['block_id'] != '') ? 'dropdown' : '';  ?>">
									<a href="<?php echo (isset($nav_settings->link_enabled) && $nav_settings->link_enabled == 'Disabled') ? '#' : $url;  ?>" class="nav-style-id-<?php echo $item['id']; ?><?php echo (isset($nav_settings->class) && $nav_settings->class != '') ? ' ' .$nav_settings->class : '';  ?> <?php echo (isset($item['block_id']) && $item['block_id'] != '') ? 'toggle-panel-nav' : '';  ?><?php echo (isset($nav_settings->item_alignment_class) && $nav_settings->item_alignment_class) ? ' ' .$nav_settings->item_alignment_class : '';  ?>" <?php echo (isset($item['block_id']) && $item['block_id'] != '') ? "data-panel-nav-id=\"panel_nav-{$item['block_id']}\"" : '';  ?> <?php echo (isset($item['block_id']) && $item['block_id'] != '' && isset($item['mobile_url']) && $item['mobile_url']) ? "data-mobile-url=\"{$item['mobile_url']}\"" : '';  ?> <?php echo $target?> id="<?php echo $nav_id?>"><?php echo $item['title'] ?></a>
								</li>
							<?php } ?>
						<?php } ?>
						<?php
						if (count($this->social) > 0) {
							?>
							<li class="dropdown visible-xs visible-sm">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Social</a>
								<ul class="dropdown-menu social-media-list">
									<?php foreach ($this->social as $platform => $url) { //TODO - remove m-r-5 on last item?>
										<li class="m-r-5 inline-block">
											<a href="<?php echo $url ?>" target="_blank"><i class="fa fa-<?php echo $platform ?>"></i></a>
										</li>
									<?php } ?>
								</ul>
							</li>
							<?php
						}
						?>
						<?php if ($settings_mapper->getValueByCode('header_login') != 'no') { ?>
							<li id="login" class="login-li visible-xs visible-sm"><a href="/login">Login</a></li>
						<?php } ?>
						<?php if ($settings_mapper->getValueByCode('header_register') != 'no') { ?>
							<li id="register" class="register-li visible-xs visible-sm"><a href="/register">Register</a></li>
						<?php } ?>
						<li class="visible-xs visible-sm"><a href="/checkout">Checkout</a></li>
						<li class="visible-xs visible-sm"><a href="/cart"><i class="fa fa-shopping-cart"></i><span class="m-l-5 badge cart-count-badge <?php echo $settings_mapper->getValueByCode('header_cart_badge_style')?>">0</span></a></li>
					</ul>
				</div><!--/.nav-collapse -->
				<div class="search-open search-open--simple">
					<form class="container" action="/search" method="get">
						<div class="input-group animated fadeInDown">
							<input type="text" class="form-control" name="q" placeholder="Search">
							<span class="input-group-btn">
									<button class="btn-u btn--cms-default" type="submit">Go</button>
								</span>
						</div>
					</form>
				</div>
			</div>
			<div class="navbar-header-right">
				<div class="navbar-account">
					<ul class="nav navbar-nav nav-links">
						<?php if ($settings_mapper->getValueByCode('header_login') != 'no') { ?>
							<li id="login" class="login-li"><a href="/login">Login</a></li>
						<?php } ?>
						<?php if ($settings_mapper->getValueByCode('header_register') != 'no') { ?>
							<li id="register" class="register-li"><a href="/register">Register</a></li>
						<?php } ?>
						<li><a href="/checkout">Checkout</a></li>
					</ul>
					<ul class="nav navbar-nav">
						<li><a href="/cart"><i class="fa fa-shopping-cart"></i><span class="badge cart-count-badge <?php echo $settings_mapper->getValueByCode('header_cart_badge_style')?> m-l-5">0</span></a></li>
					</ul>
				</div>
				<?php if ($this->social) { ?>

					<div class="navbar-social">
						<ul class="nav navbar-nav loginbar social-media-list">
							<?php foreach ($this->social as $platform => $url) { //TODO - remove m-r-5 on last item?>
								<li>
									<a href="<?php echo $url ?>" target="_blank"><i class="fa fa-<?php echo $platform ?>"></i></a>
								</li>
							<?php } ?>
							<?php
							if ($settings_mapper->getValueByCode('header_search') == 'yes') {
								?>
								<li class="js-trigger-search-btn">
									<i class="search fa fa-search search-btn"></i>
								</li>
								<?php
							}
							?>
						</ul>
					</div>

				<?php } ?>

			</div>
		</div>
	</div>

	<?php
	// panels for Panel Navigation
	$generator = new Cny_Model_HtmlBuild();
	foreach ($this->main_nav as $item) {
		if ($item['block_id']) {
			?>
			<div id="panel_nav-<?php echo $item['block_id']?>" class="navbar--panel collapse <?php echo (isset($item['panel_open_type']) && $item['panel_open_type'] == 'Overlay')?"panel-overlay":""?>" aria-expanded="false" style="">
				<?php
				echo $generator->buildPage($item['block_id']);
				?>
			</div>
			<?php
		}
	}
	?>

</div>
