<?php
use Cocur\Slugify\Slugify;
$slugify = new Slugify();
$nav_ids = array();

$navigation_settings_mapper = new Admin_Model_Mapper_NavigationItem();
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<div class="header header--default header--goldfarb header-sticky <?php echo $settings_mapper->getValueByCode('nav_fixed_position')?>">
	<div class="navbar navbar-default mega-menu <?php echo $settings_mapper->getValueByCode('nav_link_alignment')?> <?php echo $settings_mapper->getValueByCode('nav_vert_link_alignment')?>" role="navigation">
		<div class="<?php echo ($settings_mapper->getValueByCode('nav_container_type') == 'full_width')?"container-fluid":"container"?>">

			<ul class="nav navbar-nav navbar-nav--mobile">
				<li>
					<a href="/" class="logo">
						<span class="sr-only">Goldfarb Logo Mobile</span>
						<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 145 50">
							<g fill="none" fill-rule="evenodd">
								<path class="corners" fill="#C49932" d="M.438 49.656h74.194v-7.91H8.426V16.038H.44v33.616M144.606.126H70.41v7.91h66.207v25.707h7.99V.126"/>
								<path class="goldfarb" fill="currentColor" d="M26.316 31.094c-3.71 0-6.262-2.58-6.262-6.066v-.033c0-3.353 2.637-6.1 6.245-6.1 2.142 0 3.436.573 4.678 1.618l-1.65 1.97c-.92-.757-1.736-1.195-3.114-1.195-1.906 0-3.42 1.668-3.42 3.673v.035c0 2.156 1.497 3.74 3.607 3.74.954 0 1.804-.236 2.468-.708v-1.685H26.23v-2.24h5.174v5.12c-1.226 1.03-2.91 1.872-5.088 1.872M40.81 31.094c-3.675 0-6.312-2.713-6.312-6.066v-.033c0-3.353 2.672-6.1 6.347-6.1 3.675 0 6.313 2.713 6.313 6.066v.035c0 3.353-2.672 6.1-6.347 6.1zm3.608-6.1c0-2.02-1.497-3.706-3.607-3.706-2.11 0-3.573 1.65-3.573 3.673v.035c0 2.02 1.498 3.706 3.608 3.706 2.11 0 3.574-1.65 3.574-3.672l-.002-.033zM50.593 30.89V19.1h2.62v9.434h5.94v2.36h-8.56M67.332 30.89h-4.645V19.1h4.645c3.745 0 6.33 2.544 6.33 5.863v.035c0 3.318-2.586 5.896-6.33 5.896zm3.59-5.895c0-2.09-1.445-3.555-3.59-3.555h-2.024v7.11h2.024c2.145 0 3.59-1.433 3.59-3.522v-.033zM79.26 21.456v2.51h5.685v2.36h-5.683v4.565h-2.62V19.1h9.069v2.358h-6.448M96.412 30.89l-1.09-2.644h-5.036l-1.09 2.645h-2.67l5.105-11.877h2.417l5.105 11.878h-2.74zm-3.607-8.76l-1.583 3.825h3.165l-1.582-3.824zM109.325 30.89l-2.553-3.773h-2.06v3.774h-2.62V19.1h5.446c2.808 0 4.493 1.465 4.493 3.892v.033c0 1.904-1.037 3.1-2.552 3.656l2.91 4.21h-3.063zm.05-7.766c0-1.112-.78-1.684-2.058-1.684h-2.603v3.386h2.654c1.276 0 2.008-.674 2.008-1.668v-.034zM121.166 30.89H115.5V19.1h5.53c2.433 0 3.93 1.196 3.93 3.05v.033c0 1.332-.714 2.073-1.564 2.545 1.377.522 2.228 1.314 2.228 2.898v.033c0 2.157-1.77 3.235-4.457 3.235zm1.192-8.305c0-.775-.613-1.213-1.72-1.213h-2.586v2.493h2.417c1.156 0 1.888-.37 1.888-1.246v-.035zm.663 4.717c0-.79-.594-1.28-1.938-1.28h-3.03v2.595h3.114c1.157 0 1.855-.405 1.855-1.28V27.3z"/>
							</g>
						</svg>
					</a>
				</li>
				<li><a href="/rentals">Rentals</a></li>
				<li class="hidden-xs"><a href="/commercial">Commercial</a></li>
				<li><a href="/contact-us">Contact Us</a></li>
				<li class="hidden-xs"><a href="#" class="js-apply-modal-open">Quick Apply</a></li>
				<li class="hidden-xs"><a class="js-nav-modal-open" href="#">Login</a></li>
				<li>
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-responsive-collapse" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</li>
			</ul>

			<div class="navbar-header hide">
				<?php if ($settings_mapper->getValueByCode('site_logo_status') != 'Disabled') {?>
					<a class="navbar-brand" href="<?php echo ($this->wireframe)?"/index/wireframe-page/":"/"?>">
						<?php if ($settings_mapper->getValueByCode('site_logo')) {?>
							<img class="logo-main" src="<?php echo $settings_mapper->getValueByCode('site_logo') ?>" alt="<?php echo htmlentities($settings_mapper->getValueByCode('site_name')) ?>">
							<img class="logo-sticky" src="<?php echo ($settings_mapper->getValueByCode('sticky_site_logo'))?$settings_mapper->getValueByCode('sticky_site_logo'):$settings_mapper->getValueByCode('site_logo') ?>" alt="<?php echo htmlentities($settings_mapper->getValueByCode('site_name')) ?>">
						<?php }else {?>
							<span><?php echo $settings_mapper->getValueByCode('site_name')?></span>
						<?php } ?>
					</a>
				<?php } ?>

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-responsive-collapse" class="collapse navbar-collapse navbar-responsive-collapse <?php echo $settings_mapper->getValueByCode('nav_mobile_canvas') ?>">
				<i class="fa fa-times fa-2x js-close-navbar"></i>
				<ul class="nav navbar-nav">
					<li>
						<a href="/" class="logo">
							<span class="sr-only">Goldfarb Logo</span>
							<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 145 50">
								<g fill="none" fill-rule="evenodd">
									<path class="corners" fill="#C49932" d="M.438 49.656h74.194v-7.91H8.426V16.038H.44v33.616M144.606.126H70.41v7.91h66.207v25.707h7.99V.126"/>
									<path class="goldfarb" fill="currentColor" d="M26.316 31.094c-3.71 0-6.262-2.58-6.262-6.066v-.033c0-3.353 2.637-6.1 6.245-6.1 2.142 0 3.436.573 4.678 1.618l-1.65 1.97c-.92-.757-1.736-1.195-3.114-1.195-1.906 0-3.42 1.668-3.42 3.673v.035c0 2.156 1.497 3.74 3.607 3.74.954 0 1.804-.236 2.468-.708v-1.685H26.23v-2.24h5.174v5.12c-1.226 1.03-2.91 1.872-5.088 1.872M40.81 31.094c-3.675 0-6.312-2.713-6.312-6.066v-.033c0-3.353 2.672-6.1 6.347-6.1 3.675 0 6.313 2.713 6.313 6.066v.035c0 3.353-2.672 6.1-6.347 6.1zm3.608-6.1c0-2.02-1.497-3.706-3.607-3.706-2.11 0-3.573 1.65-3.573 3.673v.035c0 2.02 1.498 3.706 3.608 3.706 2.11 0 3.574-1.65 3.574-3.672l-.002-.033zM50.593 30.89V19.1h2.62v9.434h5.94v2.36h-8.56M67.332 30.89h-4.645V19.1h4.645c3.745 0 6.33 2.544 6.33 5.863v.035c0 3.318-2.586 5.896-6.33 5.896zm3.59-5.895c0-2.09-1.445-3.555-3.59-3.555h-2.024v7.11h2.024c2.145 0 3.59-1.433 3.59-3.522v-.033zM79.26 21.456v2.51h5.685v2.36h-5.683v4.565h-2.62V19.1h9.069v2.358h-6.448M96.412 30.89l-1.09-2.644h-5.036l-1.09 2.645h-2.67l5.105-11.877h2.417l5.105 11.878h-2.74zm-3.607-8.76l-1.583 3.825h3.165l-1.582-3.824zM109.325 30.89l-2.553-3.773h-2.06v3.774h-2.62V19.1h5.446c2.808 0 4.493 1.465 4.493 3.892v.033c0 1.904-1.037 3.1-2.552 3.656l2.91 4.21h-3.063zm.05-7.766c0-1.112-.78-1.684-2.058-1.684h-2.603v3.386h2.654c1.276 0 2.008-.674 2.008-1.668v-.034zM121.166 30.89H115.5V19.1h5.53c2.433 0 3.93 1.196 3.93 3.05v.033c0 1.332-.714 2.073-1.564 2.545 1.377.522 2.228 1.314 2.228 2.898v.033c0 2.157-1.77 3.235-4.457 3.235zm1.192-8.305c0-.775-.613-1.213-1.72-1.213h-2.586v2.493h2.417c1.156 0 1.888-.37 1.888-1.246v-.035zm.663 4.717c0-.79-.594-1.28-1.938-1.28h-3.03v2.595h3.114c1.157 0 1.855-.405 1.855-1.28V27.3z"/>
								</g>
							</svg>
						</a>
					</li>
					<?php foreach ($this->main_nav as $item) {
						//BEGIN: Navigation Item Settings Implementation
						$nav_item = $navigation_settings_mapper->find($item['id']);
						$nav_settings = json_decode($nav_item->json_settings);
						$nav_styles = json_decode($nav_item->json_styles);
						//END: Navigation Item Settings Implementation

						$target = '';
						if (array_key_exists('url',$item)) {
							$url = $item['url'];
							$target = ($item['target'])?"target='{$item['target']}'":'';
						}else {
							$url = ($item['code'] == $this->home_code) ? "/" : "/" . $item['code'];
						}

						if ($this->wireframe && $item['page_id']) {
							$url = "/index/wireframe-page/id/".$item['page_id'];
						}

						$code = $orig_code = $slugify->slugify($item['title']);
						$counter = 1;
						while (in_array($code, $nav_ids)) {
							$code = $orig_code . "-" . $counter;
							$counter++;
						}
						$nav_id = $code;
						$nav_ids[] = $nav_id;
						?>
						<?php if (isset($item['children'])) { ?>
							<li class="dropdown /active/">
								<a href="<?php echo (isset($nav_settings->link_enabled) && $nav_settings->link_enabled == 'Disabled') ? '#' : $url;  ?>" class="dropdown-toggle nav-style-id-<?php echo $item['id']; ?><?php echo (isset($nav_settings->class) && $nav_settings->class != '') ? ' ' .$nav_settings->class : '';  ?>" <?php echo $target?> data-toggle="dropdown" id="<?php echo $nav_id?>"><?php echo $item['title'] ?></a>
								<?php
								if (isset($item['children'])) {
									?>
									<ul class="dropdown-menu">
										<?php foreach ($item['children'] as $child) {
											//BEGIN: Navigation Item Settings Implementation
											$nav_item = $navigation_settings_mapper->find($child['id']);
											$nav_settings = json_decode($nav_item->json_settings);
											$nav_styles = json_decode($nav_item->json_styles);
											//END: Navigation Item Settings Implementation
											if (array_key_exists('url',$child)) {
												$url = $child['url'];
												$target = ($child['target'])?"target='{$child['target']}'":'';
											}else {
												$url = ($child['code'] == $this->home_code) ? "/" : "/" . $child['code'];
											}

											if ($this->wireframe && $child['page_id']) {
												$url = "/index/wireframe-page/id/".$child['page_id'];
											}

											$code = $orig_code = $slugify->slugify($item['title'].'_'.$child['title']);
											$counter = 1;
											while (in_array($code, $nav_ids)) {
												$code = $orig_code . "-" . $counter;
												$counter++;
											}
											$nav_id = $code;
											$nav_ids[] = $nav_id;
											?>
											<li>
												<a href="<?php echo (isset($nav_settings->link_enabled) && $nav_settings->link_enabled == 'Disabled') ? '#' : $url;  ?>" class="nav-style-id-<?php echo $child['id']; ?><?php echo (isset($nav_settings->class) && $nav_settings->class != '') ? ' ' .$nav_settings->class : '';  ?>" <?php echo $target?> id="<?php echo $nav_id?>"><?php echo $child['title'] ?></a>
											</li>
										<?php } ?>
									</ul>
								<?php } ?>
							</li>
						<?php } else { ?>
							<li class="<?php echo (isset($item['block_id']) && $item['block_id'] != '') ? 'dropdown' : '';  ?>">
								<a href="<?php echo (isset($nav_settings->link_enabled) && $nav_settings->link_enabled == 'Disabled') ? '#' : $url;  ?>" class="nav-style-id-<?php echo $item['id']; ?><?php echo (isset($nav_settings->class) && $nav_settings->class != '') ? ' ' .$nav_settings->class : '';  ?> <?php echo (isset($item['block_id']) && $item['block_id'] != '') ? 'toggle-panel-nav' : '';  ?>" <?php echo (isset($item['block_id']) && $item['block_id'] != '') ? "data-panel-nav-id=\"panel_nav-{$item['block_id']}\"" : '';  ?> <?php echo (isset($item['block_id']) && $item['block_id'] != '' && isset($item['mobile_url']) && $item['mobile_url']) ? "data-mobile-url=\"{$item['mobile_url']}\"" : '';  ?> <?php echo $target?> id="<?php echo $nav_id?>"><?php echo $item['title'] ?></a>
							</li>
						<?php } ?>
					<?php } ?>

					<?php
					if (count($this->social) > 0) {
						?>
						<li class="dropdown visible-xs visible-sm">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Social</a>
							<ul class="dropdown-menu social-media-list">
								<?php foreach ($this->social as $platform => $url) { //TODO - remove m-r-5 on last item?>
									<li class="m-r-5 inline-block">
										<a href="<?php echo $url ?>" target="_blank"><i class="fa fa-<?php echo $platform ?>"></i></a>
									</li>
								<?php } ?>
							</ul>
						</li>
						<?php
					}
					?>

					<?php if ($settings_mapper->getValueByCode('header_login') == 'yes') { ?>
						<li id="login" class="login-li"><a href="#" class="js-nav-modal-open">Login</a></li>
					<?php } ?>
					<?php if ($settings_mapper->getValueByCode('header_register') == 'yes') { ?>
						<li id="register" class="register-li"><a href="/register">Register</a></li>
					<?php } ?>

					<?php
					if ($settings_mapper->getValueByCode('header_search') == 'yes') {
						?>
						<li class="hidden-xs">
							<a class="" href="/rentals">
								<span class="sr-only">Search Rentals</span>
								<i class="search fal fa-search search-btn"></i>
							</a>
						</li>
						<?php
					}
					?>
				</ul>
			</div>
			<div class="search-open search-open--simple">
				<form class="container" action="/search" method="get">
					<div class="input-group animated fadeInDown">
						<label for="q" class="sr-only">Search</label>
						<input id="q" type="text" class="form-control" name="q" placeholder="Search">
						<span class="input-group-btn">
									<button class="btn-u" type="subtmit">Go</button>
								</span>
					</div>
				</form>
			</div>
		</div>
	</div>

	<?php
	// panels for Panel Navigation
	$generator = new Cny_Model_HtmlBuild();
	foreach ($this->main_nav as $item) {
		if ($item['block_id']) {
			?>
			<div id="panel_nav-<?php echo $item['block_id']?>" class="navbar--panel collapse <?php echo (isset($item['panel_open_type']) && $item['panel_open_type'] == 'Overlay')?"panel-overlay":""?>" aria-expanded="false" style="">
				<?php
				echo $generator->buildPage($item['block_id']);
				?>
			</div>
			<?php
		}
	}
	?>

</div>
<div class="apply-modal js-apply-modal" style="display: none;" tabindex="-1" role="dialog">
	<div class="container clearfix flex-column-center" style="width: 80rem;">
		<div class="col-lg-10 col-md-10 col-sm-12">
			<div id="applyForm">
				<div class="apply-modal-title" tabindex="0">Select Region</div>
				<div class="region-select-group" tabindex="0">
				</div>

				<div class="bedroom-apply-group">
					<div class="apply-modal-title">Bedrooms</div>
					<div class="bedroom-select-align">
						<div class="bedroom-select-group">

						</div>

						<button class="button button--default" autofocus>Apply</button>
					</div>
				</div>

			</div>

		</div>
	</div>


	<a class="modal__close" tabindex="0"><div class="apply-modal__close--wrap"><span></span><span></span></div><span class="sr-only">Close</span></a>
</div>
<div class="modal js-modal">
	<a class="modal__close" href="#" title="Close"><span class="sr-only">Close</span><i class="fal fa-times fa-2x"></i></a>
	<div class="modal__container">
		<div class="row contact-row">
			<div class="container mt-l-l mt-m-l flex-column-center" style="width: 80rem;">
				<div class="col-lg-6 col-md-8 col-sm-12">
					<div class="faqs">
						<h5 class="text-uppercase">Goldfarb FAQs</h5>
						<ul class="faqs__items accordion">
							<li class="faq accordion__item">

								<div class="faq__label accordion__item__head">
									<div class="faq__label__right">
							    	<span class="faq__label__question">
							       How do I apply?
							    	</span>
										<span class="faq__label__indicator fal fa-angle-down fa-2x"></span>
									</div>
								</div>
								<div class="faq__content accordion__item__content" style="display: none;">
									<p><br></p><p>Apply right here on this web site.&nbsp; The entire process can be completed from the  convenience of your home.&nbsp; We require all  applicants to have excellent credit and to meet our income guidelines.&nbsp; </p>
								</div>
							</li>
							<li class="faq accordion__item">

								<div class="faq__label accordion__item__head">
									<div class="faq__label__right">
							    <span class="faq__label__question">
							      What are the income requirements?
							    </span>
										<span class="faq__label__indicator fal fa-angle-down fa-2x"></span>
									</div>
								</div>
								<div class="faq__content accordion__item__content" style="display: none;">
									<p>Applicants  are required to have a combined income that is at least 43 times the amount of  the monthly rent.&nbsp; For example if the  rent of the apartment is $2,000 a month, the applicant(s) must document no less  than $86,000 in annual income ($2,000 X 43).&nbsp;  Additionally, we review an applicant’s capacity to pay the rent after  meeting their current monthly debt obligations.  </p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="contact-form">
			<h2 class="m-b-s-l message-header text-uppercase text-center">Message Us</h2>

			<form method="POST" action="" accept-charset="UTF-8" class="contact-form__form" novalidate="novalidate" id="test" data-remote="contact">

				<input name="_token" type="hidden" value="1WdJWl7mTi8pzziUjrjIBclC7fw2vTH19HTyZ0Fp">

<!--				if isset unit id
				<input name="unit_id" type="hidden" value="<?php echo $unit->id ?>">-->

<!--				if isset building id
				<input name="building_id" type="hidden" value="<?php echo $building->id ?>">-->


<!--				if isset unit && unit is commercial type = commercial
				<input name="type" type="hidden" value="commercial">-->



				<div class="contact-form__form__inputs">

					<!--					honeypot code-->
					<div id="middle_name_wrap" style="display:none;">
						<label for="middle_name" style="display:hidden" aria-hidden="true">Middle Name</label>
						<input name="middle_name" type="text" value="" id="middle_name" aria-hidden="true">

						<label for="start_time" style="display:hidden" aria-hidden="true">Start Time</label>
						<input name="start_time" type="text" value="eyJpdiI6IlB5bmd5RUxGbFwvdTdqREZjSDBpQWx3PT0iLCJ2YWx1ZSI6IkthckxTTTk2VEQySnc1M2dOVjhlaWc9PSIsIm1hYyI6ImRlMjQzOTEzMDA1MDJhYzI5NmI2MjgwOWVhZDIwOWQ1ZTdkY2JmYWQzOWM0Y2Q3ODBiMTcyZjhlNTQzMzg4NjcifQ==" aria-hidden="true">
					</div>
					<!--					end honeypot code-->

					<div class="input-field">
						<label for="first_name">First Name*</label>
						<input required="required" aria-required="true" class="required" name="first_name" type="text" id="first_name">
					</div>

					<div class="input-field">
						<label for="last_name">Last Name*</label>
						<input required="required" aria-required="true" class="required" name="last_name" type="text" id="last_name">
					</div>

					<div class="input-field">
						<label for="emailModal">Email*</label>
						<input required="required" aria-required="true" class="required" name="email" type="email" id="emailModal">
					</div>

					<div class="input-field">
						<label for="phone">Phone Number*</label>
						<input required="required" aria-required="true" class="required" name="phone" type="tel" id="phone">
					</div>

					<div class="input-textarea">
						<label for="questions">Message*</label>
						<textarea required="required" aria-required="true" class="required" name="questions" cols="50" rows="10" id="questions"></textarea>
					</div>
					<div class="input-field" style="width:100%;">
						<label for="source_">Source*</label>
						<select name="source_" id="source_" class="require" style="width:100%;height:3.125rem;padding:6px 12px;">
    <option value="">Select One</option>
					</select>
					</div>
					<div class="button button--default button--submit">
						<input type="submit" value="send">
					</div>

				</div>
			</form>

<!--			confirmation-->
			<div class="thank-you">
				<div class="announcement">
					<div class="announcement__container">
						<h3 class="thank-you__headline">Thanks!</h3>
						<p class="thank-you__copy">Your request has been sent</p>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="nav-modal js-nav-modal">
	<a class="nav-modal__block" href="https://goldfarbproperties.securecafe.com/residentservices/apartmentsforrent/userlogin.aspx"><span>Residential</span></a>
	<a class="nav-modal__block" href="https://commercialcafe.securecafe3.com/tenantportal/login.aspx?companyId=96"><span>Commercial</span></a>
	<a class="modal__close"><div class="nav-modal__close--wrap"><span></span><span></span></div><span class="sr-only">Close</span></a>
</div>
<script>
$(document).ready(function(){
$(document).find('#module-196 form').attr('id','new-contact');
var $uri = location.pathname.substring(1);
	let searchParams = new URLSearchParams(window.location.search);
	if (searchParams.has('region')){
		let param = searchParams.get('region');
		//alert('$uri: ' + $uri + ' region: ' + $uri.split('/')[1]);
		alert('url: ' + searchParams );

		alert('region: ' + param);
	}

if($uri != 'contact-us'){
var $region = '';

$region = window.location.pathname.split('/')[2];

var $list = '<option value="">Select One</option>';

$list += '<option value="Apartments.com">Apartments.com</option>';
$list += '<option value="Building Sign/Banner">Building Sign/Banner</option>';
$list += '<option value="Facebook">Facebook</option>';
$list += '<option value="Former Resident">Former Resident</option>';
$list += '<option value="Google">Google</option>';
$list += '<option value="Referral">Referral</option>';
$list += '<option value="Transfer">Transfer</option>';
$list += '<option value="Zillow">Zillow</option>';



if($region == 'manhattan'){
/* temp list */
$list += '<option value="Broker">Broker</option>';
$list += '<option value="HotPads">HotPads</option>';
$list += '<option value="Naked Apartments">Naked Apartments</option>';
$list += '<option value="Rent.com">Rent.com</option>';
$list += '<option value="StreetEasy.com">StreetEasy.com</option>';
$('select#source_').html($list);
}
if($region == 'the-bronx'){
$list += '<option value="Apartment List">Apartment List</option>';
$list += '<option value="Hospital Resident">Hospital Resident</option>';
$list += '<option value="HotPads">HotPads</option>';
$list += '<option value="Naked Apartments">Naked Apartments</option>';
$list += '<option value="Rent.com">Rent.com</option>';
$list += '<option value="StreetEasy.com">StreetEasy.com</option>';
$list += '<option value="Trulia">Trulia</option>';
$list += '<option value="Zumper">Zumper</option>';
$('select#source_').html($list);
}
if($region == 'rockaway'){
$list += '<option value="Apartment List">Apartment List</option>';
$list += '<option value="Hospital Resident">Hospital Resident</option>';
$list += '<option value="Naked Apartments">Naked Apartments</option>';
$list += '<option value="Rent.com">Rent.com</option>';
$list += '<option value="StreetEasy.com">StreetEasy.com</option>';
$list += '<option value="Trulia">Trulia</option>';
$list += '<option value="Walk in">Walk in</option>';
$list += '<option value="Zumper">Zumper</option>';
$('select#source_').html($list);
}
if($region == 'queens'){
$list += '<option value="Apartment List">Apartment List</option>';
$list += '<option value="Hospital Resident">Hospital Resident</option>';
$list += '<option value="Naked Apartments">Naked Apartments</option>';
$list += '<option value="Rent.com">Rent.com</option>';
$list += '<option value="StreetEasy.com">StreetEasy.com</option>';
$list += '<option value="Trulia">Trulia</option>';
$list += '<option value="Walk in">Walk in</option>';
$list += '<option value="Zumper">Zumper</option>';
$('select#source_').html($list);
}
if($region == 'westchester'){
$list += '<option value="Apartment Guide">Apartment Guide</option>';
$list += '<option value="Apartment List">Apartment List</option>';
$list += '<option value="Broker">Broker</option>';
$list += '<option value="Hospital Resident">Hospital Resident</option>';

$list += '<option value="Trulia">Trulia</option>';
$list += '<option value="HotPads">HotPads</option>';
$('select#source_').html($list);
}
if($region == 'irvington'){
$list += '<option value="Apartment Guide">Apartment Guide</option>';
$list += '<option value="Apartment List">Apartment List</option>';
$list += '<option value="Craigslist">Craigslist</option>';
$list += '<option value="Trulia">Trulia</option>';
$('select#source_').html($list);
}
if($region == 'new-jersey'){
$list += '<option value="Apartment Guide">Apartment Guide</option>';
$list += '<option value="Apartment List">Apartment List</option>';
$list += '<option value="Craigslist">Craigslist</option>';
$list += '<option value="Trulia">Trulia</option>';
$('select#source_').html($list);
}
	$('select#source_').html($list);
//}
	$(document).on('click','input[type=submit]',function(e){
		e.preventDefault();

		var $firstname = $('input[name=first_name]').val();
		var $lastname = $('input[name=last_name]').val();
		var $email = $('input[name=email]').val();
		//console.log($email);
		var $phone = $('input[name=phone]').val();
		var $message = $.trim($('textarea').val());
		var $addr1 = $.trim($('address a span').html().split('<br>')[0]);
		var $loc = $.trim($('address a span').html().split('<br>')[1]);
		var $statezip = $.trim($loc.split(',')[1]);
		var $state = $statezip.split(' ')[0];
		var $zip = $statezip.split(' ')[1];
		var $path = window.location.pathname.substring(window.location.pathname.lastIndexOf('/') + 1);
		var $unit = $path.split("-")[2];
		$unit = $unit.toUpperCase();
		var $building = $path.split("-")[1];
		//console.log($building);
		var $lastChar = $building.substr($building.length - 1);
		if(($lastChar.toLowerCase() == 'c') && ($building.length == 4)){
		$building = $building.slice(0,-1);
		$building = $building+'r';
		}
		$building = $building.toUpperCase();
		var $code = $building+"-"+$unit;
		var $source = $('select[name=source_]').val();
		var $property = $('h1.unit-header-main').attr('data-yardi');
		var $propertyid = $('.side-menu__button-group a:nth-of-type(2)').attr('href').split('PropertyId=')[1].split('&FloorPlanID=')[0];
		//https://goldfarbproperties.securecafe.com/onlineleasing/pelham-1540/oleapplication.aspx?stepname=RentalOptions&myOlePropertyId=226890&FloorPlanID=2043155&UnitID=3421494&header=1
		//console.log("HERE: "+$propertyid);
		var $type = $path.split("-")[0];
		var $api_token = "ODUyNjA%3d-AoITFzUjU8g%3d";
		var $username = "helpdesk@goldprop.com";
		var $password = "3mily123";
		var $company_code = "c00000077196";
		//$url = 'https://api.rentcafe.com/rentcafeapi.aspx?requestType=lead&firstName=Donald&lastName=Duck&email=test@example.com&phone=9191283333&message=New%20prospect&propertyCode=&username=livercqa7s@yardi.com&password=password&source=G5&addr1=123%20Main%20Street&addr2=Suite%2034&city=Corona&state=NY&ZIPCode=11270-8989';
		var $url = "https://api.rentcafe.com/rentcafeapi.aspx?requestType=lead";

		//console.log("url:"+$url+", username:"+$username+", password:"+$password+", apiToken:"+$api_token+", firstName:"+$firstname+", lastName:"+$lastname+", email:"+$email+", phone:"+$phone+", message:"+$message+", source:"+$source+", addr1:"+$addr1+", state:"+$state+", zipCode:"+$zip+", propertyCode:"+$building);
		//console.log($url+"&username="+$username+"&password:"+$password+"&apiToken:"+$api_token+"&firstName:"+$firstname+"&lastName:"+$lastname+"&email:"+$email+"&phone:"+$phone+"&message:"+$message+"&source:"+$source+"&addr1:"+$addr1+"&state:"+$state+"&zipCode:"+$zip+"&propertyCode:"+$building);
		$.get( $url, { username: $username, password: $password,apiToken:$api_token,firstName:$firstname,lastName:$lastname,email:$email,phone:$phone,message:$message,source:$source,addr1:$addr1,state:$state,zipCode:$zip,propertyId:$propertyid  } ).done(function( data ) {
		console.log(data);
		if(data == 'Success'){
		$('.message-header,.contact-form form,.faqs').fadeOut();

		$('.thank-you').css({'z-index':'1000','position':'fixed','top':'0px','left':'0px','width':'100vw','height':'100vh','background-color':'#fff'}).fadeIn();
		$('.thank-you .announcement').css({'visibility':'visible'});
		}

		});

	});
	}
else{
	var $props;
	$.getJSON( "/ajax-data/quick-apply", function( data ) {
	$props = data;

	});
$(document).on('submit','#new-contact', function(e){


    e.preventDefault();
    var $type = 'Residential';
    //$type = $('select[name=residential-or-commercial]  option:selected').val();
    var $region = 'Rockaway';
    $region = $('select[name=region]  option:selected').val();
    var $bedrooms = 1;
    $bedrooms = parseInt($('select[name=bedrooms]  option:selected').val());
    if($type == 'Residential'){
    var $propertyid;
   	$.each($props, function(k,v){
   		if(v['name']==$region){
   		$propertyid = v['wait_unit_apply_array'][$bedrooms].split('PropertyId=')[1].split('&')[0];
   		$addr1 = v['addr1'];
   		$state = v['state'];
   		$zip = v['zip'];
   		}
   	});

   	var $firstname = $('#new-contact input[name=first-name]').val();
	var $lastname = $('#new-contact input[name=last-name]').val();
	var $email = $('#new-contact input[name=email]').val();

	var $phone = $('#new-contact input[name=phone-number]').val();
	var $message = $.trim($('#new-contact textarea[name=message]').val());
	var $source = $('#new-contact select[name=source_]').val();
	var $api_token = "ODUyNjA%3d-AoITFzUjU8g%3d";
	var $username = "helpdesk@goldprop.com";
	var $password = "3mily123";
	var $company_code = "c00000077196";

	var $url = "https://api.rentcafe.com/rentcafeapi.aspx?requestType=lead";
	//console.log($username+' :'+$password+' :'+$api_token+' :'+$firstname+' :'+$lastname+' :'+$email+' :'+$phone+' :'+$message+' :'+$source+' :'+$addr1+' :'+$state+' :'+$zip+' :'+$propertyid);
		$.get( $url, { username: $username, password: $password,apiToken:$api_token,firstName:$firstname,lastName:$lastname,email:$email,phone:$phone,message:$message,source:$source,addr1:$addr1,state:$state,zipCode:$zip,propertyId:$propertyid  } ).done(function( data ) {
		console.log(data);
		if(data == 'Success'){

		$html = '<div class="thank-you"><div class="announcement"><div class="announcement__container"><h3 class="thank-you__headline">Thanks!</h3><p class="thank-you__copy">Your request has been sent</p></div></div></div>';
		$('#new-contact').parent().html($html);
		$('.thank-you').css({'z-index':'1000','position':'fixed','top':'0px','left':'0px','width':'100vw','height':'100vh','background-color':'#fff'}).fadeIn();
		$('.thank-you .announcement').css({'visibility':'visible','background':'#fff'});
		var delay = 1000;
        var url = "https://" + location.host.split(":")[0];
        setTimeout(function(){ window.location = url; }, delay);
		}
		//$('form#new-contact').submit();
		});

   	}
   	else{


   	}
});

}
});
</script>
<script src="/custom_assets/scripts/bundle.js"></script>
