<div class="row">
	<div class="white-box">
		<h1>License(s)</h1>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<form method="post" action="/admin/license/process" id="licenseForm">
		<?php foreach ($this->licenses as $license) {
		?>
			<div class="license-window">
				<!--
				<div class="row">
					<h3><?php echo $license['title']?></h3>
				</div>
				-->

				<div class="license">
					<?php echo $license['content']?>
				</div>
			</div>

			<input type="hidden" name="license[<?php echo $license['type']?>]" value="agree">
			<input type="hidden" name="version[<?php echo $license['type']?>]" value="<?php echo $license['version']?>">
		<?php
		}
		?>
			<div class="row text-center m-t-30">
				<a href="/admin/auth/logout" class="btn btn--light-gray">Cancel </a>
				<button type="submit" class="btn btn-success">I Agree </button>
			</div>
		</form>
	</div>
</div>
