<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$header_image = $settings_mapper->getValueByCode('instalinks_image');
?>

<div class="header header--instalink">
	<div class="header-image">
		<?php if ($header_image) {?>
			<a href="/"><img src="<?php echo str_replace("userFiles/uploads", "userThumbs", $header_image)?>" alt="" class="img-responsive"></a>
		<?php } ?>
	</div>
	<div class="header-title">
		<?php echo $settings_mapper->getValueByCode('instalinks_header')?>
	</div>
</div>
<div class="content-instalink">
	<?php if ($settings_mapper->getValueByCode('instalinks_layout_style') == 'link_bar') {?>
		<div class="content-instalink">
			<div class="button-bar">
				<?php
				foreach ($this->posts as $post) {
					$post_settings = json_decode($post->json_settings);
					$post_content = json_decode($post->json_content);
					?>
					<div class="button-bar__item">
						<a href="<?php echo $post->link_url?>" class="btn btn-round-4px-full lighten btn--cms-default" style="
						<?php if ($post_settings->button_color) { ?>
							background: <?php echo $post_settings->button_color?>;
						<?php } ?>
						<?php if ($post_settings->button_border_color) { ?>
							border-color: <?php echo $post_settings->button_border_color?>;
						<?php } ?>
						<?php if ($post_settings->button_border_size) { ?>
							border-width: <?php echo $post_settings->button_border_size?>;
						<?php } ?>
						"><?php echo ($post_content->content)?$post_content->content:$post->title?></a>
					</div>
				<?php } ?>
			</div>
		</div>
	<?php }else {?>
		<div class="grid">
			<?php
			foreach ($this->posts as $post) {
				$post_settings = json_decode($post->json_settings);
				$post_content = json_decode($post->json_content);
				?>
				<div class="grid__item" style="
				<?php if (!$post->image) { ?>
					background: <?php echo ($post_settings->button_color)?$post_settings->button_color:$settings_mapper->getValueByCode('instalinks_link_bar_button_color')?>;
				<?php } ?>
				">
					<a href="<?php echo $post->link_url?>"><img src="<?php echo str_replace("userFiles/uploads", "userThumbs", $post->image)?>" alt="" class="img-responsive">
						<?php if ($post_settings->icon) {?>
							<span class="icon <?php echo ($post_settings->icon_position)?$post_settings->icon_position:$settings_mapper->getValueByCode('instalinks_tile_icon_position')?> fa fa-2x fa-<?php echo $post_settings->icon?>" style="<?php echo ($post_settings->icon_color)?"color: {$post_settings->icon_color};":""?>"></span>
						<?php } ?>
						<div class="caption <?php echo $post_content->text_valign?>">
							<?php echo $post_content->content?>
						</div>
					</a>
				</div>
			<?php } ?>
		</div>
	<?php } ?>
</div>
<div class="footer-instalink">
	<?php echo $settings_mapper->getValueByCode('instalinks_footer')?>
</div>
<script>
	$(function() {
		$('html').addClass('display-rem');
	});
</script>
