.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden--mobile {
  @media screen and (max-width: $mobile-max) {
    display: none !important;
  }
}

.show--mobile {
  @media screen and (min-width: $tablet-min) {
    display: none !important;
  }
}