@font-face {
  font-family: "StanPro";
  src:
    url("/fonts/portfolio/StanPro-Normal.eot?#iefix") format("embedded-opentype"),
    url("/fonts/portfolio/StanPro-Normal.otf") format("opentype"),
    url("/fonts/portfolio/StanPro-Normal.ttf") format("truetype"),
    url("/fonts/portfolio/StanPro-Normal.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "StanPro";
  src:
    url("/fonts/portfolio/StanPro-Bold.eot#iefix") format("embedded-opentype"),
    url("/fonts/portfolio/StanPro-Bold.otf") format("opentype"),
    url("/fonts/portfolio/StanPro-Bold.ttf") format("truetype"),
    url("/fonts/portfolio/StanPro-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('/fonts/portfolio/fontawesome-webfont.eot?v=4.6.3');
  src: url('/fonts/portfolio/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('/fonts/portfolio/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('/fonts/portfolio/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('/fonts/portfolio/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('/fonts/portfolio/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}