/**
 * Bootstrap Grid Framework - adapted to work with VWs
 */

// Generate the correct number of grid classes given any value of `$grid-columns`.
@mixin make-grid-columns($i: 1, $list: ".col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-xs-#{$i}, .col-sm-#{$i}, .col-md-#{$i}, .col-lg-#{$i}";
  }
  #{$list} {
    position: relative;
    min-height: 1px; // Prevent columns from collapsing when empty
    padding-left:  px2rem(ceil(($grid-gutter-width / 2)));
    padding-right: px2rem(floor(($grid-gutter-width / 2)));
  }
}

@mixin float-grid-columns($class, $i: 1, $list: ".col-#{$class}-#{$i}") {
  @for $i from (1 + 1) through $grid-columns {
    $list: "#{$list}, .col-#{$class}-#{$i}";
  }
  #{$list} {
    float: left;
  }
}

@mixin calc-grid-column($index, $class, $type) {
  @if ($type == width) and ($index > 0) {
    .col-#{$class}-#{$index} {
      width: percentage(($index / $grid-columns));
    }
  }
  @if ($type == push) and ($index > 0) {
    .col-#{$class}-push-#{$index} {
      left: percentage(($index / $grid-columns));
    }
  }
  @if ($type == push) and ($index == 0) {
    .col-#{$class}-push-0 {
      left: auto;
    }
  }
  @if ($type == pull) and ($index > 0) {
    .col-#{$class}-pull-#{$index} {
      right: percentage(($index / $grid-columns));
    }
  }
  @if ($type == pull) and ($index == 0) {
    .col-#{$class}-pull-0 {
      right: auto;
    }
  }
  @if ($type == offset) {
    .col-#{$class}-offset-#{$index} {
      margin-left: percentage(($index / $grid-columns));
    }
  }
}

@mixin loop-grid-columns($columns, $class, $type) {
  @for $i from 0 through $columns {
    @include calc-grid-column($i, $class, $type);
  }
}

// Create grid for specific class
@mixin make-grid($class) {
  @include float-grid-columns($class);
  @include loop-grid-columns($grid-columns, $class, width);
  @include loop-grid-columns($grid-columns, $class, pull);
  @include loop-grid-columns($grid-columns, $class, push);
  @include loop-grid-columns($grid-columns, $class, offset);
}

@mixin make-row($gutter: $grid-gutter-width) {
	@extend .clearfix;
  margin-left:  px2rem(ceil(($gutter / -2)));
  margin-right: px2rem(floor(($gutter / -2)));
}

.row {
  @include make-row;
}

@include make-grid-columns;

@include make-grid(lg);

@media (max-width: $small-desktop-layout) {
   @include make-grid(sd);
}

@media (max-width: $tablet-max) {
  @include make-grid(md);
}

@media (max-width: $mobile-max) {
  @include make-grid(sm);
  .no-padding-column{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media (max-width: $mobile-layout) {
	@include make-grid(xs);
}

.container, .container-fluid {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
