$scale: 1.618 !default;

// modular scale, borrowed from Bourbon
@function modular($value, $increment) {
  $v1: $value;
  $value: $v1;

  @if $increment > 0 {
    @for $i from 1 through $increment {
      $v1: ($v1 * $scale);
      $value: $v1;
    }
  }

  @if $increment < 0 {
    @for $i from $increment through -1 {
      $v1: ($v1 / $scale);
      $value: $v1;
    }
  }

  @return ceil($value);
}
