// A little less-than-optimal in order to work with LibSass
// Values derived from http://modularscale.com/scale/?px1=16&px2=&ra1=1.618&ra2=0

// lists for iteration
$properties: margin padding;
$props: m p;
$directions: top right bottom left;
$dirs: t r b l;

// configurable variables
$steps: -4, -3, -1, 0, 1, 3, 4 !default;

// util builder
@for $direction from 1 to length($directions) + 1 {
    @for $property from 1 to length($properties) + 1 {
        $p: nth($props, $property);
        $d: nth($dirs, $direction);
        $selector: $p + $d;

        $property-property: nth($properties, $property);
        $property-direction: nth($directions, $direction);
        $property: $property-property + "-" + $property-direction;

        .#{$selector}-0 {
            #{$property}: 0 !important;
        }

        .#{$selector}-xxs {
            #{$property}: px2rem(nth($steps, 1)) !important;
        }

        .#{$selector}-xs {
            #{$property}: px2rem(nth($steps, 2)) !important;
        }

        .#{$selector}-s {
            #{$property}: px2rem(nth($steps, 3)) !important;
        }

        .#{$selector} {
            #{$property}: px2rem(nth($steps, 4)) !important;
        }

        .#{$selector}-l {
            #{$property}: px2rem(nth($steps, 5)) !important;
        }

        .#{$selector}-xl {
            #{$property}: px2rem(nth($steps, 6)) !important;
        }

        .#{$selector}-xxl {
            #{$property}: px2rem(nth($steps, 7)) !important;
        }

        .#{$selector}-xxxl {
            #{$property}: px2rem(nth($steps, 8)) !important;
        }

        //negative margins
        .#{$selector}--xxs {
            #{$property}: px2rem(-1 * nth($steps, 1)) !important;
        }

        .#{$selector}--xs {
            #{$property}: px2rem(-1 * nth($steps, 2)) !important;
        }

        .#{$selector}--s {
            #{$property}: px2rem(-1 * nth($steps, 3)) !important;
        }

        .#{$selector}--m {
            #{$property}: px2rem(-1 * nth($steps, 4)) !important;
        }

        .#{$selector}--l {
            #{$property}: px2rem(-1 * nth($steps, 5)) !important;
        }

        .#{$selector}--xl {
            #{$property}: px2rem(-1 * nth($steps, 6)) !important;
        }

        .#{$selector}--xxl {
            #{$property}: px2rem(-1 * nth($steps, 7)) !important;
        }

        .#{$selector}--xxxl {
            #{$property}: px2rem(-1 * nth($steps, 8)) !important;
        }

        @media (max-width: $mobile-max) {
            .#{$selector}-s-0 {
                #{$property}: 0 !important;
            }

            .#{$selector}-s-xs {
                #{$property}: px2rem(nth($steps, 2)) !important;
            }

            .#{$selector}-s-s {
                #{$property}: px2rem(nth($steps, 3)) !important;
            }

            .#{$selector}-s-m {
                #{$property}: px2rem(nth($steps, 4)) !important;
            }

            .#{$selector}-s-l {
                #{$property}: px2rem(nth($steps, 5)) !important;
            }

            .#{$selector}-s-xl {
                #{$property}: px2rem(nth($steps, 6)) !important;
            }

            .#{$selector}-s-xxl {
                #{$property}: px2rem(nth($steps, 7)) !important;
            }

            .#{$selector}-s-xxxl {
                #{$property}: px2rem(nth($steps, 8)) !important;
            }
        }

        @media (max-width: $tablet-max) and (min-width: $tablet-min) {
            .#{$selector}-m-0 {
                #{$property}: 0 !important;
            }

            .#{$selector}-m-s {
                #{$property}: px2rem(nth($steps, 3)) !important;
            }

            .#{$selector}-m-m {
                #{$property}: px2rem(nth($steps, 4)) !important;
            }

            .#{$selector}-m-l {
                #{$property}: px2rem(nth($steps, 5)) !important;
            }

            .#{$selector}-m-xl {
                #{$property}: px2rem(nth($steps, 6)) !important;
            }

            .#{$selector}-m-xxl {
                #{$property}: px2rem(nth($steps, 7)) !important;
            }

            .#{$selector}-m-xxxl {
                #{$property}: px2rem(nth($steps, 8)) !important;
            }

            //negative margins
            .#{$selector}-m--xxs {
                #{$property}: px2rem(-1 * nth($steps, 1)) !important;
            }

            .#{$selector}-m--xs {
                #{$property}: px2rem(-1 * nth($steps, 2)) !important;
            }

            .#{$selector}-m--s {
                #{$property}: px2rem(-1 * nth($steps, 3)) !important;
            }

            .#{$selector}-m--m {
                #{$property}: px2rem(-1 * nth($steps, 4)) !important;
            }

            .#{$selector}-m--l {
                #{$property}: px2rem(-1 * nth($steps, 5)) !important;
            }

            .#{$selector}-m--xl {
                #{$property}: px2rem(-1 * nth($steps, 6)) !important;
            }

            .#{$selector}-m--xxl {
                #{$property}: px2rem(-1 * nth($steps, 7)) !important;
            }

            .#{$selector}-m--xxxl {
                #{$property}: px2rem(-1 * nth($steps, 8)) !important;
            }
        }

        @media (min-width: $desktop-min) {
            .#{$selector}-l-0 {
                #{$property}: 0 !important;
            }

            .#{$selector}-l-xs {
                #{$property}: px2rem(nth($steps, 2)) !important;
            }

            .#{$selector}-l-s {
                #{$property}: px2rem(nth($steps, 3)) !important;
            }

            .#{$selector}-l-m {
                #{$property}: px2rem(nth($steps, 4)) !important;
            }

            .#{$selector}-l-l {
                #{$property}: px2rem(nth($steps, 5)) !important;
            }

            .#{$selector}-l-xl {
                #{$property}: px2rem(nth($steps, 6)) !important;
            }

            .#{$selector}-l-xxl {
                #{$property}: px2rem(nth($steps, 7)) !important;
            }

            .#{$selector}-l-xxxl {
                #{$property}: px2rem(nth($steps, 8)) !important;
            }
        }
    }
}

.ml-a {
    margin-left: auto;
}

.mr-a {
    margin-right: auto;
}

.mlr-a {
    margin-left: auto;
    margin-right: auto;
}