/**
 * Grid setup
 */
$grid-gutter-width: 40px;
$grid-columns: 12;

/**
 * Colors
 */
$gold: #cc9f26;
$black: #231f20;
$gray: #8d8d8d;
$dark-gray: #595959;
$darker-gray: #333333;
$lighter-gray: #e1e1e1;
$light-gray: #d5d5d5;
$white: #fff;

/**
 * Spacing standards
 * Relative px values to be converted to rem (by mixin)
 */
$l-spacing: $grid-gutter-width;
$xxs-spacing: modular($l-spacing, -4);
$xs-spacing: modular($l-spacing, -3);
$s-spacing: modular($l-spacing, -2);
$normal-spacing: modular($l-spacing, -1);
$xl-spacing: modular($l-spacing, 1);
$xxl-spacing: modular($l-spacing, 2);
$xxxl-spacing: modular($l-spacing, 3);
$steps: $xxs-spacing $xs-spacing $s-spacing $normal-spacing $l-spacing $xl-spacing $xxl-spacing $xxxl-spacing;
