<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<div class="container d-flex flex-align-center flex-justify-center flex-wrap m-t-30 m-b-30">
	<div class="login-form">
		<form method="post" action="" id="recoverform">
			<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

			<div class="form-group ">
				<h1 class="m-b-10">Forgot Password</h1>
				<small>Enter your email address and instructions will be sent to you! </small>
			</div>
			<div class="form-group">
				<input type="text" placeholder="Email Address" name="email" required="" class="form-control">
			</div>
			<div class="form-group text-center m-t-20">
				<button type="submit" class="btn btn-lg btn-block btn--cms-default btn--cms-account-primary <?php echo $settings_mapper->getValueByCode('account_primary_btn_style');?> <?php echo $settings_mapper->getValueByCode('account_primary_btn_hover_effect');?>">Send</button>
			</div>
		</form>
	</div>
</div>
