<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<div class="container d-flex flex-align-center flex-justify-center flex-wrap m-t-30 m-b-30">
	<div class="login-form">

		<form method="post" action="" id="recoverform">
			<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

			<h1 class="m-t-0 m-b-20">Account Login</h1>
			<div class="form-group ">
				<?php echo $this->loginform->email; ?>
			</div>
			<div class="form-group">
				<?php echo $this->loginform->password; ?>
			</div>
			<div class="form-group d-flex flex-align-center flex-justify-space-between">
				<div class="checkbox">
					<label for="checkbox-signup"> <input type="checkbox" id="checkbox-signup" name="remember" <?php echo $this->remember?> value="1"> Remember me.</label>
				</div>
				<a class="text-dark btn--cms-account-secondary" id="to-recover" href="/auth/forgot">Forgot password?</a>
			</div>
			<div class="form-group text-center m-t-20">
				<button type="submit" class="btn btn-lg btn-block m-b-20 btn--cms-default btn--cms-account-primary <?php echo $settings_mapper->getValueByCode('account_primary_btn_style');?> <?php echo $settings_mapper->getValueByCode('account_primary_btn_hover_effect');?>">Login</button>
				<div class="text-left">
					<span>Need an account? <a class="btn--cms-account-secondary" href="/register">Register now.</a></span>
				</div>
			</div>
		</form>
	</div>
</div>
