<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<div class="container d-flex flex-align-center flex-justify-center flex-wrap m-t-30 m-b-30">
	<div class="login-form">

		<form method="post" action="" id="recoverform">
			<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

			<h1 class="m-t-0 m-b-20">Account Registration</h1>
			<div class="form-group ">
				<?php echo $this->form->first_name; ?>
			</div>
			<div class="form-group ">
				<?php echo $this->form->last_name; ?>
			</div>
			<div class="form-group ">
				<?php echo $this->form->email; ?>
			</div>
			<div class="form-group">
				<?php echo $this->form->password; ?>
			</div>
			<div class="form-group">
				<?php echo $this->form->v_password; ?>
			</div>
			<div class="form-group text-center m-t-20">
				<button type="submit" class="btn btn-lg btn-block m-b-20 btn--cms-default btn--cms-account-primary <?php echo $settings_mapper->getValueByCode('account_primary_btn_style');?> <?php echo $settings_mapper->getValueByCode('account_primary_btn_hover_effect');?>">Register</button>

				<div class="text-left">
					<span class="">Already have an account? <a class="btn--cms-account-secondary" href="/login">Login here.</a></span>
				</div>
			</div>
		</form>
	</div>
</div>
