<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<div class="container d-flex flex-align-center flex-justify-center flex-wrap m-t-30 m-b-30">
	<div class="login-form">
		<form method="post" action="" id="recoverform">
			<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>
			<input type="hidden" value="<?php echo $this->code?>" name="c">
			<h1 class="m-t-0 m-b-20">Reset Password</h1>
			<div class="form-group ">
				<input type="password" placeholder="Password" name="password" required="" class="form-control">
			</div>
			<div class="form-group ">
				<input type="password" placeholder="Confirm Password" name="v_password" required="" class="form-control">
			</div>
			<div class="form-group text-center m-t-20">
				<button type="submit" class="btn btn-danger btn-lg btn-block text-uppercase waves-effect waves-light btn-ecommerce-primary btn--cms-default btn--cms-account-primary <?php echo $settings_mapper->getValueByCode('account_primary_btn_style');?> <?php echo $settings_mapper->getValueByCode('account_primary_btn_hover_effect');?>">Reset</button>
			</div>
		</form>
	</div>
</div>
