<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" type="image/png" href="/admin_skin/assets/images/favicon.png">
    <title>LOGIC Business Cloud by Cyber-NY</title>

    <link href="/admin_skin/assets/styles/<?php echo Cny_AdminGulpHelper::asset_path('main.css'); ?>" rel="stylesheet">

    <?php echo $this->headStyle();?>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="/admin_skin/assets/scripts/<?php echo Cny_AdminGulpHelper::asset_path('jquery.js'); ?>"></script>
    <script src="/admin_skin/assets/scripts/<?php echo Cny_AdminGulpHelper::asset_path('main.js'); ?>"></script>

</head>
<body class="<?php echo $this->placeholder('section');?> ">
<!-- Preloader -->
<div class="preloader">
    <div class="cssload-speeding-wheel"></div>
</div>

    <?php echo $this->layout()->content; ?>

    <?php echo $this->partial('partials/tracking.phtml'); ?>

</body>
</html>
