<?php
$auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('admin'));
$user = null;
if( $auth->hasIdentity() ){
  $user = $auth->getIdentity();
}

$_admin_acl_roles = Zend_Registry::get('admin_acl_roles');
$_roles = array(
	'admin' => 'Admin',
	//'guest' => 'Guest'
);
$_website_member_roles = [];
foreach ($_admin_acl_roles as $role_id => $role) {
	if (!$role['is_website_member']) {
		$_roles[$role_id] = $role['name'];
	}else {
		$_website_member_roles[$role_id] = $role['name'];
	}
}
?>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/png" href="/admin_skin/assets/images/favicon.png">
  <title>LOGIC Business Cloud by Cyber-NY</title>

	<link href="https://code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet">
  <link href="/admin_skin/assets/styles/<?php echo Cny_AdminGulpHelper::asset_path('main.css'); ?>" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

	<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>

	<script src="/admin_skin/assets/scripts/<?php echo Cny_AdminGulpHelper::asset_path('jquery.js'); ?>"></script>
  <script src="/admin_skin/assets/scripts/<?php echo Cny_AdminGulpHelper::asset_path('main.js'); ?>"></script>

	<link href="/admin/css/fonts?<?php echo time()?>" rel="stylesheet">

	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="<?php echo $this->placeholder('section');?> ">
<!-- Preloader -->
<div class="preloader">
  <div class="cssload-speeding-wheel"></div>
</div>
<div id="wrapper">
  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header"> <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="far fa-bars"></i></a>
      <div class="top-left-part">
	      <a class="logo" href="/admin">
		      <img src="/admin_skin/assets/images/cny-logic-logo.png" alt="home" class="center-block" />
		      <span>
			      <img src="/admin_skin/assets/images/cny-logic-icon.png" alt="home" />
		      </span>
	      </a>
      </div>
      <ul class="nav navbar-top-links navbar-left hidden-xs">
        <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle far fa-bars"></i></a></li>
      </ul>
      <ul class="nav navbar-top-links navbar-right pull-right">

        <?php //echo $this->partial('partials/messages.phtml'); ?>
        <?php //echo $this->partial('partials/tasks.phtml'); ?>

        <li class="dropdown">
          <a class="dropdown-toggle profile-pic step20 steps" data-step="21" data-toggle="dropdown" href="#">
            <img src="<?php $avatar = new Cny_View_Helper_Avatar(); echo $avatar->avatar($user->email) ?>" alt="user-img" width="36" class="img-circle">
            <b class="hidden-xs"><?php echo $user->first_name?></b>
          </a>
          <ul class="dropdown-menu dropdown-user animated flipInY">
            <li class="step20" ><a href="/admin/users/view/id/<?php echo $user->id?>"><i class="fas fa-user"></i> My Profile</a></li>

	        <?php if (array_key_exists($user->role, $_roles)) { ?>
	            <li><a href="javascript:void(0)" class="js-trigger-intro"><i class="fas fa-info-circle"></i> Guided Tutorial</a></li>
                <li><a href="https://8c75b3ed63f6faaae7aa-12010748862db1aaadaf12efaeb162f7.ssl.cf2.rackcdn.com/LOGIC_User_Guide.pdf" target="_blank"><i class="fal fa-file-pdf"></i> Logic User Guide</a></li>
            <?php } ?>

	        <li role="separator" class="divider"></li>
            <li><a href="/admin/auth/logout"><i class="fas fa-power-off"></i> Logout</a></li>
          </ul>
        <!-- /.dropdown-user -->
        </li>
        <li class="right-side-toggle">
          <!--<a class="waves-effect waves-light" href="javascript:void(0)"><i class="fas fa-question"></i></a>-->
        </li>
        <!-- /.dropdown -->
      </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
  </nav>

  <!-- Left navbar-header -->
  <div class="navbar-default sidebar no-print" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
      <ul class="nav" id="side-menu">
        <?php
        if (Zend_Registry::isRegistered('admin_acl')) {
          $role = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('admin'))->getIdentity()->role;
          $this->navigation()->setAcl( Zend_Registry::get('admin_acl') )->setRole($role);
        }

        $this->navigation()->menu()->setPartial(array('menu.phtml', 'admin'));
        echo $this->navigation()->menu()->render();
        ?>
      </ul>
    </div>
  </div>
  <!-- Left navbar-header end -->

  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title"><?php echo $this->placeholder('page_title');?></h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <ol class="breadcrumb">
            <?php echo $this->placeholder('breadcrumb');?>
          </ol>
        </div>
      <!-- /.col-lg-12 -->
      </div>

      <!-- main content -->
      <?php echo $this->layout()->content; ?>
      <!-- /main content -->

      <!-- .right-sidebar -->
      <div class="right-sidebar">
        <div class="slimscrollright">
          <div class="rpanel-title"> Help <span><i class="far fa-bars right-side-toggle"></i></span> </div>
          <div class="r-panel-body">

          </div>
        </div>
      </div>
      <!-- /.right-sidebar -->
    </div>
    <!-- /.container-fluid -->

    <footer class="footer text-center"> <?php echo date("Y")?> &copy; LOGIC Business Cloud by Cyber-NY</footer>
  </div>
  <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->


<div id="modal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal__dialog modal--lg" role="document">
		<div class="modal__content">
			<div class="modal__header bg-dark-blue">
				<button type="button" class="close bg-darker-blue text-white" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal__title text-white"></h4>
			</div>
			<div class="modal__body text-center p-b-0">
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-filemanager" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal__dialog modal--lg" role="document">
		<div class="modal__content">
			<div class="modal__header bg-dark-blue">
				<button type="button" class="close bg-darker-blue text-white" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal__title text-white">Media Manager</h4>
			</div>
			<div class="modal__body text-center">
				<iframe width="100%" style="height: 80vh;" frameborder="0" src="/filemanager/dialog.php?type=0"></iframe>
			</div>
			<div class="modal__footer bg-light-purple">
				<button type="button" class="btn btn--purple btn--full-width" data-dismiss="modal">Cancel</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div id="modal-introjs" class="modal modal--tour fade" tabindex="-1" role="dialog">
	<div class="modal__dialog" role="document">
		<div class="modal__content">
			<div class="modal__header">
				<button type="button" class="close" aria-label="Close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal__title text-white visuallyhidden">Welcome to LOGIC!</h4>
			</div>
			<div class="modal__body text-center p-b-0">
				<img src="/admin_skin/assets/images/logic-title.png" alt="" class="img-responsive center-block m-b-30">
				<img src="/admin_skin/assets/images/logic-laptop.png" alt="" class="img-responsive center-block m-b-20">
				<h2>Would you like to take a 2 minute tour?</h2>
			</div>
			<div class="modal__footer">
				<button type="button" class="btn btn--dark-gray" data-dismiss="modal">Maybe Later</button>
				<button type="button" class="btn btn--red js-trigger-ls" data-dismiss="modal">No Thanks</button>
				<button type="button" class="btn btn-success js-trigger-intro js-trigger-ls" data-dismiss="modal">OK</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<?php echo $this->partial('partials/tracking.phtml'); ?>

<!-- LOGIC Business Cloud by Cyber-NY Ⓒ <?php echo date("Y")?> -->
</body>
</html>
