<div class="container">
	<div class="customer-wrap">
		<div class="customer">

			<div class="customer__heading">
				<h2 class="text-uppercase h1 margin-bottom-5">Thank You!</h2>
				<p class="h1">Your order has been received</p>
			</div>

			<div class="customer__cart">
				<table class="table--cart">
					<thead>
					<tr class="hidden-xs">
						<th>Item</th>
						<th>QTY</th>
						<th>Price</th>
						<th>Total</th>
					</tr>
					</thead>
					<tbody>
					<tr class="product-info">
						<td class="item">
							<div class="product">
								<div class="product__image">
									<img src="https://www.shoutfactory.com/s3_images/media_cache/images/18751/div_96/documents/d96c17r18751/gridlisting/BTILCCE_BR_Cover_72dpi.png" alt="" class="img-responsive">
								</div>
								<div class="product__title">
									<strong>Big Trouble In Little China</strong>
									<small>Please Note: Only Ships to US & Canada.</small>
								</div>
							</div>
						</td>
						<td class="qty">1</td>
						<td class="price"><strong>$29.99</strong></td>
						<td class="total"><strong>$29.99</strong></td>
					</tr>
					<tr class="sub-total">
						<td colspan="3">Subtotal</td>
						<td>$29.99</td>
					</tr>
					<tr class="shipping">
						<td>Shipping</td>
						<td colspan="3">$4.00</td>
					</tr>
					<tr class="promo">
						<td colspan="3">Promo Code: <strong>Shout2020!</strong> <span class="text-gray">15% off</span></td>
						<td class="text-blue">-$3.99</td>
					</tr>
					<tr class="cart-total">
						<td colspan="3">
							<strong>Total</strong>
						</td>
						<td>
							<strong>$29.99</strong>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="customer__info">

				<h3>Payment Method: VISA [1234]</h3>

				<h3>Shipping Method: USPS First Class (5 to 7 days)</h3>

				<h3>Your Information</h3>

				<div class="form-group form-group--address">
					<div class="group-label">Contact:</div>
					<div class="email">dantestfield@acme.com</div>
				</div>

				<div class="form-group form-group--address">
					<div class="group-label">Shipping to:</div>
					<div class="address">
						Dan Testfield<br>
						1234 Main Street<br>
						Apartment 3E<br>
						Brooklyn, NY 10010-0010<br>
					</div>
				</div>

				<div class="disclaimer">
					<p><strong>Please Note:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, unde.</p>
				</div>

				<a href="/multi-cart/confirmation" class="btn btn--cms-default btn--blue text-uppercase"> Print</a>

			</div>

		</div>
	</div>
</div>
