<div class="container">
	<div class="customer">
		<ol class="breadcrumb">
			<li class="active">Information</li>
			<li>Shipping</li>
			<li>Payment</li>
		</ol>
		<div class="customer__info">
			<h2 class="text-uppercase h1">Information</h2>
			<form action="">
				<h3>Contact Information</h3>
				<div class="form-group margin-bottom-30">
					<label for="email" class="sr-only">Email</label>
					<input type="email" id="email" class="form-control" placeholder="Email">
					<div class="checkbox">
						<label for="offers">
							<input type="checkbox" id="offers"> Keep in touch with new offers
						</label>
					</div>
				</div>
				<h3>Shipping Information</h3>
				<div class="form-group form-group--flex">
					<label for="firstName" class="sr-only">First Name</label>
					<input type="text" id="firstName" class="form-control" placeholder="First Name">

					<label for="lastName" class="sr-only">Last Name</label>
					<input type="text" id="lastName" class="form-control" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="address" class="sr-only">Street Address</label>
					<input type="text" id="address" class="form-control" placeholder="Street Address">
				</div>
				<div class="form-group">
					<label for="apartment" class="sr-only">Apartment, suite, etc. (optional)</label>
					<input type="text" id="address" class="form-control" placeholder="Street Address">
				</div>
				<div class="form-group">
					<label for="city" class="sr-only">City</label>
					<input type="text" id="city" class="form-control" placeholder="City">
				</div>
				<div class="form-group form-group--flex">
					<label for="country" class="sr-only">Country</label>
					<select id="country" class="form-control">
						<option value="country">Country</option>
					</select>

					<label for="state" class="sr-only">State</label>
					<select id="state" class="form-control">
						<option value="state">State</option>
					</select>

					<label for="zip" class="sr-only">Zip</label>
					<input type="text" id="zip" class="form-control" placeholder="Zip">
				</div>
				<div class="form-menu form-menu--inline">
					<a href=""><i class="fa fa-angle-left"></i> Return to Cart</a>
					<a href="/multi-cart/shipping" class="btn btn--cms-default btn--blue"> Continue to Shipping <i class="fa fa-angle-right"></i></a>
				</div>
			</form>
		</div>
		<div class="customer__cart">
			<h2 class="text-uppercase h1">Your Order</h2>
			<table class="table--cart">
				<thead>
				<tr class="hidden-xs">
					<th>Item</th>
					<th>QTY</th>
					<th>Price</th>
					<th>Total</th>
				</tr>
				</thead>
				<tbody>
				<tr class="product-info">
					<td class="item">
						<div class="product">
							<div class="product__image">
								<img src="https://www.shoutfactory.com/s3_images/media_cache/images/18751/div_96/documents/d96c17r18751/gridlisting/BTILCCE_BR_Cover_72dpi.png" alt="" class="img-responsive">
							</div>
							<div class="product__title">
								<strong>Big Trouble In Little China</strong>
								<small>Please Note: Only Ships to US & Canada.</small>
							</div>
						</div>
					</td>
					<td class="qty">1</td>
					<td class="price"><strong>$29.99</strong></td>
					<td class="total"><strong>$29.99</strong></td>
				</tr>
				<tr class="sub-total">
					<td colspan="3">Subtotal</td>
					<td>$29.99</td>
				</tr>
				<tr class="shipping">
					<td>Shipping</td>
					<td colspan="3">Calculated at next step</td>
				</tr>
				<tr class="promo">
					<td colspan="4">
						<form class="promo-code">
							<label for="promoCode" class="sr-only">Promo Code</label>
							<input type="text" class="form-control" placeholder="Promo Code">
							<button type="submit" class="btn btn--cms-default btn--blue">Apply</button>
						</form>
					</td>
				</tr>
				<tr class="cart-total">
					<td colspan="3">
						<strong>Total</strong>
					</td>
					<td>
						<strong>$29.99</strong>
					</td>
				</tr>
				</tbody>
			</table>
			<div class="disclaimer">
				<p><strong>Please Note:</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, unde.</p>
			</div>
		</div>
	</div>
</div>
