<div class="container">
	<div class="customer-wrap">
		<div class="customer">
			<div class="customer__new">
				<h2 class="text-uppercase h1">New Customers</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur, consequatur eaque eius fugit ipsum laboriosam minus molestias nesciunt suscipit?</p>
				<a href="/multi-cart/information" class="btn btn--cms-default btn--blue">Continue as Guest</a>
			</div>
			<div class="customer__return">
				<h2 class="text-uppercase h1">Returning Customers</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi blanditiis consequatur dolores doloribus facilis ipsum libero maxime perspiciatis quae ut.</p>

				<?php if ($this->error) { ?>
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
						<?php echo @$this->error ?>
					</div>
				<?php } ?>
				<?php echo $this->message ?>

				<form action="/auth/identify" method="post">
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Email Address" name="email" id="email" value="">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" placeholder="Password" name="password" id="password" value="">
					</div>
					<div class="form-menu">
						<button type="submit" class="btn btn--cms-default btn--login">Sign In <i class="fa fa-play"></i></button>

						<?php //$fb = new Cny_Model_Facebook(); ?>
						<a class="btn btn--cms-default btn--blue" href="<?php //echo $fb->loginUrl();?>"><i class="fa fa-facebook-f"></i> Login with Facebook <i class="fa fa-play"></i></a>
					</div>
				</form>
				<div class="form-menu form-menu--inline">
					<a href="/auth/forgot"><strong>Forgot your password?</strong></a>
					<a href="/auth/register/"><strong>Create a new account.</strong></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modal-reset" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			<div class="modal-body">
				<div class="modal-body__image text-center">
					<img src="/assets/images/logo-md.png" alt="Shout Factory" class="img-responsive img-responsive--inline-block">
				</div>
				<div class="modal-body__content text-center">
					<h3 class="text-red">We’ve Recently Updated Our Shopping Cart System</h3>
					<p>If you have an exising Shout! Factory account, we’ll need you to reset your password for security purposes. Click on the password reset link to continue. </p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<a href="/auth/forgot" type="button" class="btn btn-primary">Reset Password</a>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
