<div class="container">
	<div class="customer">
		<ol class="breadcrumb">
			<li>Information</li>
			<li>Shipping</li>
			<li class="active">Payment</li>
		</ol>
		<div class="customer__info">
			<h2 class="text-uppercase h1">Payment</h2>
			<form action="">
				<h3>Your Information</h3>
				<div class="form-group form-group--address">
					<div class="group-label">Contact:</div>
					<div class="email">dantestfield@acme.com</div>
					<a href="#" class="change-link">Change</a>
				</div>

				<div class="form-group form-group--address">
					<div class="group-label">Shipping to:</div>
					<div class="address">
						Dan Testfield<br>
						1234 Main Street<br>
						Apartment 3E<br>
						Brooklyn, NY 10010-0010<br>
					</div>
					<a href="#" class="change-link">Change</a>
				</div>

				<h3>Billing Info</h3>

				<div class="form-group">
					<label for="nameOnCard" class="sr-only">Name On Card</label>
					<input type="text" id="nameOnCard" class="form-control m-b-15" placeholder="Name On Card">

					<div class="form-group--flex form-group--flex-80-20">
						<label for="cardNumber" class="sr-only">Card Number</label>
						<input type="text" id="cardNumber" class="form-control" placeholder="Card Number">

						<label for="cvv" class="sr-only">CVV</label>
						<input type="text" id="cvv" class="form-control" placeholder="CVV">
					</div>
				</div>

				<h3>Card Expiration</h3>

				<div class="form-group form-group--flex">
					<select id="country" class="form-control">
						<option value="country">Select a Month:</option>
					</select>

					<select id="state" class="form-control">
						<option value="state">Select a Year:</option>
					</select>
				</div>

				<h3>Billing Address</h3>
				<div class="form-group form-group--shipping">
					<div class="radio">
						<label for="sameShipping">
							<input type="radio" id="sameShipping" name="billingAddress" value="sameShipping" checked> <strong>Same as the shipping address</strong>
						</label>
					</div>
					<div class="radio">
						<label for="diffBilling">
							<input type="radio" id="diffBilling" name="billingAddress" value="diffShipping"> <strong>Use a different billing address</strong>
						</label>
					</div>
				</div>

				<div id="shippingInfo" class="collapse">
					<form action="">
						<h3>Shipping Information</h3>
						<div class="form-group form-group--flex">
							<label for="firstName" class="sr-only">First Name</label>
							<input type="text" id="firstName" class="form-control" placeholder="First Name">

							<label for="lastName" class="sr-only">Last Name</label>
							<input type="text" id="lastName" class="form-control" placeholder="Last Name">
						</div>
						<div class="form-group">
							<label for="address" class="sr-only">Street Address</label>
							<input type="text" id="address" class="form-control" placeholder="Street Address">
						</div>
						<div class="form-group">
							<label for="apartment" class="sr-only">Apartment, suite, etc. (optional)</label>
							<input type="text" id="address" class="form-control" placeholder="Street Address">
						</div>
						<div class="form-group">
							<label for="city" class="sr-only">City</label>
							<input type="text" id="city" class="form-control" placeholder="City">
						</div>
						<div class="form-group form-group--flex">
							<label for="country" class="sr-only">Country</label>
							<select id="country" class="form-control">
								<option value="country">Country</option>
							</select>

							<label for="state" class="sr-only">State</label>
							<select id="state" class="form-control">
								<option value="state">State</option>
							</select>

							<label for="zip" class="sr-only">Zip</label>
							<input type="text" id="zip" class="form-control" placeholder="Zip">
						</div>
					</form>
				</div>

				<h3>Express Checkout</h3>
				<div class="form-group form-group--shipping">
					<div class="checkbox">
						<label for="saveDetails">
							<input type="checkbox" id="saveDetails"> <strong>Save my account details for furture purchases</strong>
						</label>
					</div>
				</div>

				<div class="form-menu form-menu--inline">
					<a href=""><i class="fa fa-angle-left"></i> Return to Cart</a>
					<a href="/multi-cart/confirmation" class="btn btn--cms-default btn--blue text-uppercase"> Pay Now</a>
				</div>
			</form>
		</div>
		<div class="customer__cart">
			<h2 class="text-uppercase h1">Your Order</h2>
			<table class="table--cart">
				<thead>
				<tr class="hidden-xs">
					<th>Item</th>
					<th>QTY</th>
					<th>Price</th>
					<th>Total</th>
				</tr>
				</thead>
				<tbody>
				<tr class="product-info">
					<td class="item">
						<div class="product">
							<div class="product__image">
								<img src="https://www.shoutfactory.com/s3_images/media_cache/images/18751/div_96/documents/d96c17r18751/gridlisting/BTILCCE_BR_Cover_72dpi.png" alt="" class="img-responsive">
							</div>
							<div class="product__title">
								<strong>Big Trouble In Little China</strong>
								<small>Please Note: Only Ships to US & Canada.</small>
							</div>
						</div>
					</td>
					<td class="qty">1</td>
					<td class="price"><strong>$29.99</strong></td>
					<td class="total"><strong>$29.99</strong></td>
				</tr>
				<tr class="sub-total">
					<td colspan="3">Subtotal</td>
					<td>$29.99</td>
				</tr>
				<tr class="shipping">
					<td>Shipping</td>
					<td colspan="3">$4.00</td>
				</tr>
				<tr class="promo">
					<td colspan="4">
						<form class="promo-code">
							<label for="promoCode" class="sr-only">Promo Code</label>
							<input type="text" class="form-control" placeholder="Promo Code">
							<button type="submit" class="btn btn--cms-default btn--blue">Apply</button>
						</form>
					</td>
				</tr>
				<tr class="cart-total">
					<td colspan="3">
						<strong>Total</strong>
					</td>
					<td>
						<strong>$29.99</strong>
					</td>
				</tr>
				</tbody>
			</table>
			<div class="disclaimer">
				<p><strong>Please Note:</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, unde.</p>
			</div>
		</div>
	</div>
</div>

<script>


	$(function() {

		var radioChecked = $('input[name=billingAddress]');

		radioChecked.on('change', function() {
			var thisCheckedValue = $(this).val();

			if ( thisCheckedValue === 'diffShipping') {
				$('#shippingInfo').collapse('show');
			} else {
				$('#shippingInfo').collapse('hide');
			}
		});

	});

</script>
