<div class="container">

	<div class="customer">
		<ol class="breadcrumb">
			<li>Information</li>
			<li class="active">Shipping</li>
			<li>Payment</li>
		</ol>
		<div class="customer__info">
			<h2 class="text-uppercase h1">Shipping</h2>
			<form action="">
				<h3>Confirm Shipping Details</h3>
				<div class="form-group form-group--address">
					<div class="group-label">Contact:</div>
					<div class="email">dantestfield@acme.com</div>
					<a href="#" class="change-link">Change</a>
				</div>

				<div class="form-group form-group--address">
					<div class="group-label">Shipping to:</div>
					<div class="address">
						Dan Testfield<br>
						1234 Main Street<br>
						Apartment 3E<br>
						Brooklyn, NY 10010-0010<br>
					</div>
					<a href="#" class="change-link">Change</a>
				</div>

				<h3>Select Shipping Method</h3>
				<div class="form-group form-group--shipping">
					<div class="checkbox">
						<label for="usps">
							<input type="checkbox" id="usps"> <strong>USPS First Class</strong> $4.00
						</label>
					</div>
					<div class="checkbox">
						<label for="fedex">
							<input type="checkbox" id="fedex"> <strong>FedEx Ground</strong> $12.00
						</label>
					</div>
					<div class="checkbox">
						<label for="fedexOvernight">
							<input type="checkbox" id="fedexOvernight"> <strong>FedEx Priority Overnight</strong> $34.00
						</label>
					</div>
				</div>

				<div class="form-menu form-menu--inline">
					<a href=""><i class="fa fa-angle-left"></i> Return to Cart</a>
					<a href="/multi-cart/payment" class="btn btn--cms-default btn--blue"> Continue to Payment <i class="fa fa-angle-right"></i></a>
				</div>
			</form>
		</div>
		<div class="customer__cart">
			<h2 class="text-uppercase h1">Your Order</h2>
			<table class="table--cart">
				<thead>
				<tr class="hidden-xs">
					<th>Item</th>
					<th>QTY</th>
					<th>Price</th>
					<th>Total</th>
				</tr>
				</thead>
				<tbody>
				<tr class="product-info">
					<td class="item">
						<div class="product">
							<div class="product__image">
								<img src="https://www.shoutfactory.com/s3_images/media_cache/images/18751/div_96/documents/d96c17r18751/gridlisting/BTILCCE_BR_Cover_72dpi.png" alt="" class="img-responsive">
							</div>
							<div class="product__title">
								<strong>Big Trouble In Little China</strong>
								<small>Please Note: Only Ships to US & Canada.</small>
							</div>
						</div>
					</td>
					<td class="qty">1</td>
					<td class="price"><strong>$29.99</strong></td>
					<td class="total"><strong>$29.99</strong></td>
				</tr>
				<tr class="sub-total">
					<td colspan="3">Subtotal</td>
					<td>$29.99</td>
				</tr>
				<tr class="shipping">
					<td>Shipping</td>
					<td colspan="3">$4.00</td>
				</tr>
				<tr class="promo">
					<td colspan="4">
						<form class="promo-code">
							<label for="promoCode" class="sr-only">Promo Code</label>
							<input type="text" class="form-control" placeholder="Promo Code">
							<button type="submit" class="btn btn--cms-default btn--blue">Apply</button>
						</form>
					</td>
				</tr>
				<tr class="cart-total">
					<td colspan="3">
						<strong>Total</strong>
					</td>
					<td>
						<strong>$29.99</strong>
					</td>
				</tr>
				</tbody>
			</table>
			<div class="disclaimer">
				<p><strong>Please Note:</strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, unde.</p>
			</div>
		</div>
	</div>
</div>
