<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();

$links = array(
	'addresses' => array('url'=>'/account/addresses','title'=>'Address Book'),
	'orders' => array('url'=>'/account/orders','title'=>'My Orders'),
	'wishlist' => array('url'=>'/account/wishlist','title'=>'Wish List'),
	'watchlist' => array('url'=>'/account/watchlist','title'=>'Watchlist'),
	'settings' => array('url'=>'/account/settings','title'=>'Account Settings'),
);

if ($settings_mapper->getValueByCode('product_wishlist_status') != 'Enabled') {
	unset($links['wishlist']);
}
if ($settings_mapper->getValueByCode('video_platform_watchlist_status') != 'Enabled') {
	unset($links['watchlist']);
}

?>
<ul class="nav nav-tabs nav-tabs--simple">
	<?php foreach ($links as $key => $data) {?>
		<li class="<?php echo ($this->active == $key)?"active":""?>"><a href="<?php echo $data['url']?>">
			<?php echo $data['title']?>
		</a></li>
	<?php } ?>
	<li class="account-logout">
		<a href="/auth/logout">Logout</a>
	</li>
</ul>
