<div class="row">
	<div class="white-box">
		<div class="row m-b-30">
			<div class="col-sm-12">
				<h3 class="text-dark-blue">FAQ Organization</h3>
				<p>Drag and drop sections to reorder them. You can also drag and drop questions within a category to reorder them.
				<br/><br/>NOTE: You can not move questions from one category to another.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<ul class="list-unstyled table-sub-nav -striped" data-id="main">
					<?php
					$mapper = new Admin_Model_Mapper_FaqItem();
					foreach ($this->sections as $section) {
						$items = $mapper->fetchBySectionId($section->id);
					?>
					<li id="sort_<?php echo $section->id?>">
						<h4>
							<?php echo $section->title?>
							<a href="/admin/faq/section-edit/id/<?php echo $section->id?>" class="pull-right" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a>
						</h4>
						<ul class="striped" data-id="<?php echo $section->id?>">
							<?php foreach ($items as $item) {?>
								<li id="sort_<?php echo $item->id?>">
									<?php echo $item->question?>
									<a href="/admin/faq/item-edit/id/<?php echo $item->id?>" class="pull-right" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a>
								</li>
							<?php } ?>
						</ul>
					</li>
					<?php } ?>
				</ul>
			</div>
		</div>
	</div>
</div>


<script>
	$(function() {
		$("ul").each(function(){
			$(this).sortable({
				items: "> li:not(.ui-state-disabled)",
				//cancel: ".ui-state-disabled"
				'update': function (event, ui) {
					if ($(this).data('id') == 'main') {
						$.ajax({
							data: $(this).sortable('serialize'),
							type: 'POST',
							url: '/admin/faq/section-sort'
						});
					}else {
						$.ajax({
							data: $(this).sortable('serialize'),
							type: 'POST',
							url: '/admin/faq/item-sort'
						});
					}
				}
			});
		});

	});
</script>
<style>
	ul.table-sub-nav li {
		padding: 6px!important;
	}
	ul.table-sub-nav > li:nth-child(odd) {
		background: #cccccc;
	}
	ul.table-sub-nav > li:nth-child(even) {
		background: #acacac;
	}
	ul.table-sub-nav li {clear:both;}
	ul.table-sub-nav ul li:nth-child(odd) {
		background: #BFE9FF!important;
	}
	ul.table-sub-nav ul li:nth-child(even) {
		background: #ffffff!important;
	}
</style>
