<div class="white-box">

	<div class="row">
		<div class="col-sm-8">
			<h2>View FAQ Category</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/faq/section-list"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Category Name:</td>
						<td>
							<?php echo $this->section->title?>
						</td>
					</tr>
					<tr>
						<td>URL Code:</td>
						<td>
							<?php echo $this->section->code?>
						</td>
					</tr>

					<tr>
						<td>Status:</td>
						<td>
							<?php echo $this->section->status?>
						</td>
					</tr>
					<tr>
						<td>Created:</td>
						<td>
							<?php echo ($this->section->created)?$this->UTCtoTZ($this->section->created,"M. j, Y g:ia",$this->site_timezone):""?>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<h2>Items</h2>
		</div>
		<div class="col-sm-4">

		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Question</th>
				</tr>
				</thead>
				<tbody>
				<?php
				if ($this->items) {
					$truncate = new Cny_View_Helper_StringTruncate();
					foreach ($this->items as $key => $item) {
						?>
						<tr>
							<td><?php echo $item->question?></td>
						</tr>
						<?php
					}
				}
				?>
				</tbody>
			</table>
		</div>
	</div>

</div>

