<div class="white-box">

	<div class="row">
		<div class="col-sm-8">
			<h2>View FAQ Submission</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/faq/submission-list"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Section:</td>
						<td>
							<?php
							$mapper = new Admin_Model_Mapper_FaqSection();
							if ($this->item->faq_section_id) {
								$section = $mapper->find($this->item->faq_section_id);

								echo $section->title;
							}else {
								echo "Unassigned";
							}
							?>
						</td>
					</tr>
					<tr>
						<td>Question:</td>
						<td>
							<?php echo $this->item->question?>
						</td>
					</tr>
					<tr>
						<td>Answer:</td>
						<td>
							<?php echo $this->item->answer?>
						</td>
					</tr>

					<tr>
						<td>Name:</td>
						<td>
							<?php echo $this->item->name?>
						</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>
							<?php echo $this->item->email?>
						</td>
					</tr>
					<tr>
						<td>Is Spam:</td>
						<td>
							<?php echo $this->item->is_spam?>
						</td>
					</tr>
					<tr>
						<td>Status:</td>
						<td>
							<?php echo $this->item->status?>
						</td>
					</tr>
					<tr>
						<td>Created:</td>
						<td>
							<?php echo ($this->item->created)?$this->UTCtoTZ($this->item->created,"M. j, Y g:ia",$this->site_timezone):""?>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>

