<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2><?php echo ($this->cmd=='add')?'Add New Collection':'Edit Collection'?></h2>

			<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
						<?php
						foreach ($this->errors as $error) {
							echo "<li>".$error."</li>";
						}
						?>
					</ul>
				</div>
			<?php } ?>

		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/collection"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<?php echo $this->form?>
		</div>
	</div>

	<div id="product-block" class="hidden-xs m-t-30"></div>

</div>

<script>
	$(document).ready(function() {
		<?php if ($this->collection_id) {?>
		loadView("product","view","", false);
		<?php } ?>

		if ($("#banner_image_path").val() == '') $("#banner_image").hide();
		if ($("#banner_mobile_image_path").val() == '') $("#banner_mobile_image").hide();

		$(".btn-clear_image").on("click",function(){
			var el = $(this).data('rel');
			$("input[name='"+el+"']").val('');
			$("#"+el).attr('src','').hide();
		});
	});

	function loadView(section,action,id, scroll_to) {
		if (typeof scroll_to === 'undefined') scroll_to = true;

		if (action == 'delete') {
			if (!confirm('Are you sure you want to delete this entry?')) {
				return false;
			}
		}

		$.get( "/admin/collection/"+section+"-"+action+"/collection_id/<?php echo $this->collection_id?>/id/"+id, function( data ) {
			$("#"+section+"-block").html( data );
			//initTinyMCE();

			if (scroll_to === true) {
				$('html, body').animate({
					scrollTop: $("#" + section + "-block").offset().top
				}, 500);
			}
		});

		return false;
	}
</script>
<style>
	.select2-chosen {height:22px!important;}
</style>
