<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-8">
				<?php if ($this->errors) { ?>
					<div class="error_box">
						<ul>
							<?php
							foreach ($this->errors as $error) {
								echo "<li>".$error."</li>";
							}
							?>
						</ul>
					</div>
				<?php } ?>

			</div>
			<div class="col-sm-4">
				<div class="view-navigation pull-right">

				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<h2><?php echo ($this->cmd=='add')?'Add New Product(s)':'Edit Product'?></h2>

				<?php //echo $this->form?>

				<form id="categoryProductForm" action="/admin/category/product-save" method="post" enctype="multipart/form-data">
					<input type="hidden" name="data[category_id]" value="<?php echo $this->category_id?>">

					<table class="table table-striped">
						<tbody>
						<tr>
							<td><label>By Tag(s):</label></td>
							<td class="col-sm-8">
								<input type="text" name="data[product_tags]" id="product_tags" class="form-control" placeholder="" value="<?php //echo implode("|",$this->product_tags)?>">
							</td>
							<td></td>
						</tr>

						<tr>
							<td><label>Product Search:</label></td>
							<td>
								<input type="text" name="product_query" id="product_query" class="form-control" placeholder="" value="">
							</td>
							<td></td>
						</tr>
						<tr>
							<td><label>Specific Product(s) (use search above to select products):</label></td>
							<td>
								<input type="text" name="data[products]" id="products" class="form-control" placeholder="" value="<?php echo htmlentities($this->products)?>">
							</td>
							<td></td>
						</tr>

						<tr>
							<td></td>
							<td>
								<a class="btn btn-default btn-lg" href="#/admin/category/product-view/category_id/<?php echo $this->category_id?>" onclick="loadView('product','view','')">Cancel</a>
								<!--<a class="btn btn-danger btn-lg" href="#/admin/category/product-delete/category_id/<?php echo $this->category_id?>" onclick="loadView('product','delete','')">Delete</a>-->
								<button type="submit" class="btn btn-primary btn-lg btn-save">Save</button>
							</td>
							<td></td>
						</tr>

						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>

<style>
	.select2-chosen {height:22px!important;}
</style>

<script>
	$(document).ready(function() {
		$('#categoryProductForm button.btn-cancel').on('click', function(){
			loadView('product','view','');
		});

		$('#categoryProductForm').ajaxForm({target: '#product-block'});

		<?php
		$t_mapper = new Admin_Model_Mapper_ProductTags();
		$tags = $t_mapper->fetchStringList();
		?>
		$("#product_tags").select2({
			tags: [<?php echo $tags?>],
			tokenSeparators: ["|"],
			separator: "|"
		});
		$("#product_tags").on("change", function () {
			$("#product_tags_val").html($("#product_tags").val());
		});

		$("#products").select2(
			{
				tags:[],
				tokenSeparators: ["|"],
				separator: "|",
				formatNoMatches: '',
				formatSearching: '',
				escapeMarkup: function (m) { return m; }
			}
		);

		$("#product_query").select2(
			{
				placeholder: "Search for a product",
				minimumInputLength: 3,
				ajax: {
					url: "/admin/product/ajax-list",
					dataType: 'json',
					quietMillis: 250,
					data: function (term, page) {
						return {
							q: term,
							type: 'product'
						};
					},
					results: function (data, page) {
						return { results: data.results };
					},
					cache: true
				},
				initSelection: function(element, callback) {
					var id = $(element).val();
					if (id !== "") {
						$.ajax("/admin/product/ajax-list/id/" + id, {
							dataType: "json"
						}).done(function(data) { callback(data.results[0]); });
					}
				},
				formatResult: productFormatResult,
				formatSelection: productFormatSelection,
				escapeMarkup: function (m) { return m; }
			}
		);

		function productFormatResult(item) {
			item.title = (item.text)?item.text:'';

			var markup = '<div class="row">' +
				'<div class="col-sm-12">' + item.text + '</div>' +
				'</div>';

			return markup;
		}

		function productFormatSelection(item) {
			item.text = (item.text)?item.text:'';

			var result = '<span class="hidden">'+item.type+'~~'+item.id+'</span>'+item.text;
			var old_results = $("#products").val();
			if (old_results) old_results = old_results+'|';

			$("#products").val(old_results+result).trigger("change");

			return;
		}


	});
</script>
