<div class="row">
	<div class="col-sm-8">
		<h2>Products</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/category/product-add/category_id/<?php echo $this->category_id?>" onclick="loadView('product','add','');">Add Product(s)</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<h5>Remove Products By Tag:</h5>
		<div>
			<?php
			foreach ($this->product_tags as $tag_id => $tag_name) {
				echo '<a href="/admin/category/product-delete-tag/category_id/'.$this->category_id.'/tag_id/'.$tag_id.'">x</a> '.$tag_name.", ";
			}
			?>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 component-search-results">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Title</th>
				<th>SKU</th>
				<th class="hidden-xs text-center">Delete</th>
			</tr>
			</thead>
			<tbody>
			<?php
			if ($this->products) {
				$truncate = new Cny_View_Helper_StringTruncate();
				foreach ($this->products as $key => $item) {
					?>
					<tr>
						<td><?php echo $item->title?></td>
						<td><?php echo $item->sku?></td>
						<td class="hidden-xs text-center"><a href="#/admin/category/product-delete/id/<?php echo $item->product_category_id?>" onclick="loadView('product','delete','<?php echo $item->product_category_id?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
					</tr>
					<?php
				}
			}
			?>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function() {

	});
</script>
