<div class="white-box">

	<div class="row">
		<div class="col-sm-8">
			<h2>View Category</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/category"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Name:</td>
						<td>
							<?php echo $this->category->name?>
						</td>
					</tr>
					<tr>
						<td>Code:</td>
						<td>
							<?php echo $this->category->code?>
						</td>
					</tr>
					<tr>
						<td>Assign To:</td>
						<td>
							<?php
							$mapper = new Admin_Model_Mapper_Category();
							if ($this->category->parent_id) {
								$parent = $mapper->find($this->category->parent_id);

								echo $parent->name;
							}else {
								echo "Top Level";
							}
							?>
						</td>
					</tr>

					<tr>
						<td>CMS Block:</td>
						<td>
							<?php
							$mapper = new Admin_Model_Mapper_Page();
							if($this->category->block_id) {
								$block = $mapper->find($this->category->block_id);
								if ($block) {
									echo $block->title;
								}
							}
							?>
						</td>
					</tr>
					<tr>
						<td>Thumbnail Image:</td>
						<td>
							<?php if ($this->category->main_image) {?>
								<img src="<?php echo $this->category->main_image?>" style="max-height: 200px;">
							<?php } ?>
						</td>
					</tr>
					<tr>
						<td>Thumbnail Image Alt Tag:</td>
						<td>
							<?php echo $this->category->main_image_alt_tag?>
						</td>
					</tr>
					<tr>
						<td>Banner Image:</td>
						<td>
							<?php if ($this->category->banner_image) {?>
								<img src="<?php echo $this->category->banner_image?>" style="max-height: 200px;">
							<?php } ?>
						</td>
					</tr>
					<tr>
						<td>Banner Image Alt Tag:</td>
						<td>
							<?php echo $this->category->banner_image_alt_tag?>
						</td>
					</tr>
					<tr>
						<td>Mobile Banner Image:</td>
						<td>
							<?php if ($this->category->banner_mobile_image) {?>
								<img src="<?php echo $this->category->banner_mobile_image?>" style="max-height: 200px;">
							<?php } ?>
						</td>
					</tr>
					<tr>
						<td>Mobile Banner Image Alt Tag:</td>
						<td>
							<?php echo $this->category->banner_mobile_image_alt_tag?>
						</td>
					</tr>
					<tr>
						<td>Banner Alignment:</td>
						<td>
							<?php echo $this->category->banner_alignment?>
						</td>
					</tr>
					<tr>
						<td>Banner Force Fullwidth:</td>
						<td>
							<?php echo $this->category->banner_force_fullwidth?>
						</td>
					</tr>
					<tr>
						<td>Description:</td>
						<td>
							<?php echo $this->category->description?>
						</td>
					</tr>
					<tr>
						<td>Description Position:</td>
						<td>
							<?php echo $this->category->description_position?>
						</td>
					</tr>
					<tr>
						<td>Meta Title:</td>
						<td>
							<?php echo $this->category->meta_title?>
						</td>
					</tr>
					<tr>
						<td>Meta Keywords:</td>
						<td>
							<?php echo $this->category->meta_keywords?>
						</td>
					</tr>
					<tr>
						<td>Meta Description:</td>
						<td>
							<?php echo $this->category->meta_description?>
						</td>
					</tr>
					<tr>
						<td>Banner Display:</td>
						<td>
							<?php echo $this->category->banner_display_status?>
						</td>
					</tr>
					<tr>
						<td>Title Display:</td>
						<td>
							<?php echo $this->category->title_display_status?>
						</td>
					</tr>
					<tr>
						<td>Title Position:</td>
						<td>
							<?php echo ucwords(str_replace("_"," ",$this->category->title_display_position))?>
						</td>
					</tr>
					<tr>
						<td>Breadcrumb Display:</td>
						<td>
							<?php echo $this->category->breadcrumb_display_status?>
						</td>
					</tr>
					<tr>
						<td>Breadcrumb Position:</td>
						<td>
							<?php echo ucwords(str_replace("_"," ",$this->category->breadcrumb_display_position))?>
						</td>
					</tr>
					<tr>
						<td>Show in Navigation:</td>
						<td>
							<?php echo $this->category->nav_display?>
						</td>
					</tr>
					<tr>
						<td>Status:</td>
						<td>
							<?php echo $this->category->status?>
						</td>
					</tr>
					<tr>
						<td>Created:</td>
						<td>
							<?php echo ($this->category->created)?$this->UTCtoTZ($this->category->created,"M. j, Y g:ia",$this->site_timezone):""?>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<h2>Products</h2>
		</div>
		<div class="col-sm-4">

		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Title</th>
					<th>SKU</th>
				</tr>
				</thead>
				<tbody>
				<?php
				if ($this->products) {
					$truncate = new Cny_View_Helper_StringTruncate();
					foreach ($this->products as $key => $item) {
						?>
						<tr>
							<td><?php echo $item->title?></td>
							<td><?php echo $item->sku?></td>
						</tr>
						<?php
					}
				}
				?>
				</tbody>
			</table>
		</div>
	</div>

</div>

