<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="form-group col-sm-2">
					<label>Order Type:</label>
					<?php echo $this->formSelect('purchase_type', $this->purchase_type, array('class'=>'form-control'), array(""=>"All")+$this->purchase_types)?>
				</div>

				<div class="form-group col-sm-2">
					<label>From Date:</label>
					<input type="text" name="date_from" class="form-control datepicker" value="<?php echo $this->date_from?>">
				</div>

				<div class="form-group col-sm-2">
					<label>To Date:</label>
					<input type="text" name="date_to" class="form-control datepicker" value="<?php echo $this->date_to?>">
				</div>

				<div class="col-sm-12">
					<div class="col-xs-1">
						<button type="submit" class="btn btn-primary xs-100">Search</button>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<div class="checkbox hidden-xs">
								<input type="checkbox" name="csv" value="1" id="export"> <label for="export">Export</label>
							</div>
						</div>
					</div>
					<div class="col-xs-1">
						<a href="/admin/video-transaction/list'" class="btn btn-warning xs-100">Reset</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-10 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<div class="col-sm-2 col-xs-12">
				<!--<a class="pull-right btn btn-primary xs-100" href="/admin/order/add">Add New Order</a>-->
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<th><a href="/admin/video-transaction/list/sort/id/dir/<?php echo $dir?>">ID</a></th>
						<th><a href="/admin/video-transaction/list/sort/last_name/dir/<?php echo $dir?>">Name</a></th>
						<th><a href="/admin/video-transaction/list/sort/email/dir/<?php echo $dir?>">Email</a></th>
						<th><a href="/admin/video-transaction/list/sort/title/dir/<?php echo $dir?>">Title</a></th>
						<th><a href="/admin/video-transaction/list/sort/purchase_type/dir/<?php echo $dir?>">Order Type</a></th>
						<th><a href="/admin/video-transaction/list/sort/total/dir/<?php echo $dir?>">Total $</a></th>
						<th class="hidden-xs"><a href="/admin/video-transaction/list/sort/created/dir/<?php echo $dir?>">Created</a></th>
						<!--<th class="hidden-xs text-center">Delete</th>-->
						<!--<th class="hidden-xs text-center">Edit</th>-->
						<th class="text-center">View</th>
					</tr>
					</thead>
					<tbody>
					<?php
					foreach($this->list as $key => $val) {
						?>
						<tr>
							<td><a href="/admin/video-transaction/view/id/<?php echo $val['id']?>"><?php echo $val['id']?></a> </td>
							<td><?php echo $val['last_name'] . ', ' . $val['first_name'] ?></td>
							<td><?php echo $val['email']?></td>
							<td><?php echo $val['title']?></td>
							<td><?php echo $this->purchase_types[$val['purchase_type']]?></td>
							<td><?php echo '$'. $val['total']?></td>
							<td class="hidden-xs"><?php echo ($val['created'])?$this->UTCtoTZ($val['created'],"n/j/Y g:ia",$this->site_timezone):""?></td>
							<!--<td class="hidden-xs text-center"><a href="/admin/order/delete/id/<?php echo $val['id']?>" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>-->
							<!--<td class="hidden-xs text-center"><a href="/admin/order/edit/id/<?php echo $val['id']?>" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>-->
							<td class="text-center"><a href="/admin/video-transaction/view/id/<?php echo $val['id']?>" title="View"><span class="sr-only">View </span><span class="far fa-eye"></span></a></td>
						</tr>
					<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('.datepicker').datepicker({
			dateFormat: "yy-mm-dd"
		});
	});
</script>
