<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<div class="white-box">

	<div class="row no-print">
		<div class="col-sm-8">
			<h2>View Transaction</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<?php if($this->return_to == 'dashboard') { ?>
				<a class="btn btn-default btn-sm" href="/admin/#recent"><span class="fal fa-angle-left"></span> Back </a>
				<?php } else{ ?>
					<a class="btn btn-default btn-sm" href="/admin/video-transaction/list"><span class="fal fa-angle-left"></span> Back </a>
				<?php } ?>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-md-12">
					<table class="table table--no-border">
						<thead>
						<tr>
							<th colspan="2"><h3>Transaction Summary</h3></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<?php if($_GET["page"] == 'dashboard') { ?>
								<span>Order Number: V<span><?php echo $this->item->id?></span></span>
								<?php } else{ ?>
									<span>Order Number: <span><?php echo $this->item->id?></span></span>
								<?php } ?>
							</td>
							<td>
								<span>Order Date: <span><?php echo $this->UTCtoTZ($this->item->created,"n/j/Y g:ia",$this->site_timezone)?></span></span>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<h3>Order Item(s)</h3>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<table class="table table-striped">
									<thead>
									<tr>
										<th>Video Title</th>
										<th class="col-sm-3">Entitlement Type </th>
									</tr>
									</thead>
									<tbody>
									<tr>
										<td>
											<?php echo $this->item->title?>
										</td>
										<td>
											<?php echo $this->purchase_types[$this->item->purchase_type]?>
										</td>
									</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td>
								<h3>Payment Information</h3>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<table class="table table-striped">
									<thead>
									<tr>
										<th class="col-sm-3">Price</th>
										<th class="col-sm-3">Discount</th>
										<th class="col-sm-3">Tax</th>
										<th class="col-sm-3 text-right">Total</th>
									</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												$<?php echo $this->item->price?>
											</td>
											<td>
												<?php echo ($this->item->discount)?"$":""; echo $this->item->discount?>
											</td>
											<td>
												<?php echo ($this->item->tax)?"$":""; echo $this->item->tax?>
											</td>
											<td class="text-right">
												<strong>$<?php echo $this->item->total?></strong>
											</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td>
								<h3>Customer Information</h3>
							</td>
						</tr>
						<tr>
							<td>
								<table class="table table-striped">
									<tr>
										<td>
											<span>First Name: <span><?php echo $this->item->first_name?></span></span>
										</td>
									</tr>
									<tr>
										<td colspan="">
											<span>Last Name: <span><?php echo $this->item->last_name?></span></span>
										</td>
									</tr>
									<tr>
										<td>
											<span>Email: <span><?php echo $this->item->email?></span></span>
										</td>
									</tr>
									<tr>
										<td>
											<span>Phone : <span><?php echo $this->item->phone?></span></span>
										</td>
									</tr>
								</table>
							</td>
							<td>
								<table class="table table-striped">
									<tr>
										<td>
											<?php echo $this->item->address?>
										</td>
									</tr>
									<?php if($this->item->address2 != '') { ?>
									<tr>
										<td>
											<?php echo $this->item->address2?>
										</td>
									</tr>
									<?php } ?>
									<tr>
										<td>
											<?php echo $this->item->city?>
										</td>
									</tr>
									<tr>
										<td>
											<?php echo $this->item->region . ', ' . $this->item->postcode?>
										</td>
									</tr>
									<tr>
										<td><?php echo $this->item->country?></td>
									</tr>
								</table>
							</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
