<div class="page-header page-header--account">
	<div class="container">
		<h1 class="text-white h2">My Account</h1>
		<small class="user text-white">Hello <?php echo $this->settings->first_name?>!</small>
	</div>
</div>
<div class="container">
	<?php echo $this->partial('account/partials/navigation.phtml', array('active'=>'addresses'))?>

	<div class="account account--shipping">
		<div class="account__header">
			<header>
				<h2>Shipping Address</h2>
				<small class="text-success">Default Shipping Address</small>
			</header>
			<a href="/account/address-add/type/shipping">Add New Address <i class="fal fa-plus-circle"></i></a>
		</div>
		<div class="account__body">
			<?php if ($this->shipping_default) { ?>
				<div class="account__card">
					<address>
						<strong><?php echo $this->shipping_default->first_name ?> <?php echo $this->shipping_default->last_name ?></strong><br />
						<?php echo ($this->shipping_default->company)?$this->shipping_default->company."<br/>":""?>
						<?php echo $this->shipping_default->address1?><br />
						<?php echo ($this->shipping_default->address2)?$this->shipping_default->address2."<br/>":""?>
						<?php echo $this->shipping_default->city?>, <?php echo $this->shipping_default->region?> <?php echo $this->shipping_default->postcode?><br />
						<?php echo $this->shipping_default->phone ?>
					</address>
					<div class="menu menu--account">
						<a href="/account/address-edit/id/<?php echo $this->shipping_default->id?>">Edit</a> <span>|</span>
						<a href="/account/address-delete/id/<?php echo $this->shipping_default->id?>">Delete</a>
					</div>
				</div>
			<?php } ?>
			<?php
			if ($this->shipping) {
				foreach ($this->shipping as $address) { ?>
					<div class="account__card">
						<address>
							<strong><?php echo $address->first_name ?> <?php echo $address->last_name ?></strong><br />
							<?php echo ($address->company)?$address->company."<br/>":""?>
							<?php echo $address->address1?><br />
							<?php echo ($address->address2)?$address->address2."<br/>":""?>
							<?php echo $address->city?>, <?php echo $address->region?> <?php echo $address->postcode?><br />
							<?php echo $address->phone ?>
						</address>
						<div class="menu menu--account">
							<a href="/account/address-edit/id/<?php echo $address->id?>">Edit</a> <span>|</span>
							<a href="/account/address-delete/id/<?php echo $address->id?>">Delete</a> <span>|</span>
							<a href="/account/address-default/id/<?php echo $address->id?>">Set as default</a>
						</div>
					</div>
				<?php }
			} ?>
			<div class="account__card account__add-card" data-url="/account/address-add/type/shipping">
				<a href="/account/address-add/type/shipping"><i class="fa fa-plus fa-2x"></i>Add Address</a>
			</div>
		</div>
	</div>

	<div class="account account--billing">
		<div class="account__header">
			<header>
				<h2>Billing Address</h2>
				<small class="text-success">Default Billing Address</small>
			</header>
			<a href="/account/address-add/type/billing">Add New Address <i class="fal fa-plus-circle"></i></a>
		</div>
		<div class="account__body">
			<?php if ($this->billing_default) { ?>
				<div class="account__card">
					<address>
						<strong><?php echo $this->billing_default->first_name ?> <?php echo $this->billing_default->last_name ?></strong><br />
						<?php echo ($this->billing_default->company)?$this->billing_default->company."<br/>":""?>
						<?php echo $this->billing_default->address1?><br />
						<?php echo ($this->billing_default->address2)?$this->billing_default->address2."<br/>":""?>
						<?php echo $this->billing_default->city?>, <?php echo $this->billing_default->region?> <?php echo $this->billing_default->postcode?><br />
						<?php echo $this->billing_default->phone ?>
					</address>
					<div class="menu menu--account">
						<a href="/account/address-edit/id/<?php echo $this->billing_default->id?>">Edit</a> <span>|</span>
						<a href="/account/address-delete/id/<?php echo $this->billing_default->id?>">Delete</a>
					</div>
				</div>
			<?php } ?>
			<?php
			if ($this->billing) {
				foreach ($this->billing as $address) { ?>
					<div class="account__card">
						<address>
							<strong><?php echo $address->first_name ?> <?php echo $address->last_name ?></strong><br/>
							<?php echo ($address->company) ? $address->company . "<br/>" : "" ?>
							<?php echo $address->address1 ?><br/>
							<?php echo ($address->address2) ? $address->address2 . "<br/>" : "" ?>
							<?php echo $address->city ?>
							, <?php echo $address->region ?> <?php echo $address->postcode ?><br/>
							<?php echo $address->phone ?>
						</address>
						<div class="menu menu--account">
							<a href="/account/address-edit/id/<?php echo $address->id?>">Edit</a> <span>|</span>
							<a href="/account/address-delete/id/<?php echo $address->id?>">Delete</a> <span>|</span>
							<a href="/account/address-default/id/<?php echo $address->id?>">Set as Default</a>
						</div>
					</div>
				<?php }
			}?>
			<div class="account__card account__add-card" data-url="/account/address-add/type/billing">
				<a href="/account/address-add/type/billing"><i class="fa fa-plus fa-2x"></i>Add Address</a>
			</div>
		</div>
	</div>
</div>
