<div class="page-header page-header--account">
	<div class="container">
		<h1 class="text-white h2">My Account</h1>
		<small class="user text-white">Hello <?php echo $this->settings->first_name?>!</small>
	</div>
</div>
<div class="container">
	<?php echo $this->partial('account/partials/navigation.phtml', array('active'=>'addresses'))?>
	<?php if ($this->error) { ?>
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<?php echo @$this->error ?>
		</div>
	<?php } ?>
	<?php echo $this->form?>
</div>
