<div class="page-header page-header--account">
	<div class="container">
		<h1 class="text-white h2">My Account</h1>
		<small class="user text-white">Hello <?php echo $this->settings->first_name?>!</small>
	</div>
</div>
<div class="container">
	<?php echo $this->partial('account/partials/navigation.phtml', array('active'=>'orders'))?>
	<table class="table table--no-border m-t-50">
		<thead>
		<tr>
			<th colspan="3"><strong>Order Summary</strong></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>
				<span>Order Number: <span><?php echo $this->order->id?></span></span>
			</td>
			<td>
				<span>Order Date: <span><?php echo $this->UTCtoTZ($this->order->getCreated(),"n/j/Y g:ia","America/New_York")?></span></span>
			</td>
			<td>
				<span>Status: <span><?php echo $this->order->getStatus()?></span></span>
			</td>
		</tr>
		</tbody>
	</table>
	<div class="row">
		<div class="col-md-6">
			<div class="billing">
				<table class="table table--no-border">
					<tbody>
					<tr>
						<td>
							<h2>Billing Address</h2>

							<?php echo $this->billing_address->first_name.' '.$this->billing_address->last_name?><br/>
							<?php echo ($this->billing_address->company)?$this->billing_address->company."<br/>":""?>
							<?php echo $this->billing_address->address?>
							<?php echo ($this->billing_address->address2)?"<br/>".$this->billing_address->address2:""?>
							<?php echo "<br/>".$this->billing_address->city?> <?php echo $this->billing_address->region?>,
							<?php echo $this->billing_address->postcode?> <br/>
							<?php echo $this->billing_address->country?><br/>
							<?php echo $this->billing_address->phone?>
						</td>
					</tr>
					<tr>
						<td>
							<h2>Payment Method</h2>
							Credit Card: <?php echo ($this->payment)?$this->payment->getIdentifier():''?>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-6">
			<div class="shipping">
				<table class="table table--no-border">
					<tbody>
					<tr>
						<td>
							<h2>Shipping Address</h2>

							<?php echo $this->shipping_address->first_name.' '.$this->shipping_address->last_name?><br/>
							<?php echo ($this->shipping_address->company)?$this->shipping_address->company."<br/>":""?>
							<?php echo $this->shipping_address->address?>
							<?php echo ($this->shipping_address->address2)?"<br/>".$this->shipping_address->address2:""?>
							<?php echo "<br/>".$this->shipping_address->city?> <?php echo $this->shipping_address->region?>,
							<?php echo $this->shipping_address->postcode?> <br/>
							<?php echo $this->shipping_address->country?><br/>
							<?php echo $this->shipping_address->phone?>
						</td>
					</tr>
					<tr>
						<td>
							<h2>Shipping Method</h2>
							<?php echo $this->shipping->method."<br/><br/>"?>

							<?php
							//$tracking_parser = new Cny_View_Helper_TrackingNumberParser();
							$tracking_numbers = array();
							foreach ($this->items as $item) {
								if ($item->tracking_code) {
									//$tracking_numbers[$item->tracking_code] = $tracking_parser->getDetails($item->tracking_code);
								}
							}
							foreach ($tracking_numbers as $tracking_number => $detail) {
								echo $detail['service'].' Tracking # <a href="'.$detail['url'].'" target="_blank">'.$detail['tracking_number'].'</a><br/>';
							}
							?>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<table class="table table--no-border">
		<tbody>
		<tr>
			<td>
				<br/><br/>
				<h2>Order Details</h2>

				<table class="table">
					<thead>
					<tr>
						<th>QTY</th>
						<th>Item</th>
						<th style="width:100px;">Cost</th>
					</tr>
					</thead>
					<tbody>
					<?php foreach ($this->items as $item) { ?>
						<tr>
							<td><?php echo $item->getQty()?></td>
							<td>[<?php echo $item->getType()?>] <?php echo $item->getTitle()?></td>
							<td>$<?php echo number_format($item->getPaidPrice(),2)?></td>
						</tr>
					<?php } ?>
					</tbody>
					<tfoot>
					<?php foreach ($this->totals as $item) { ?>
						<tr>
							<td colspan="2" class="text-right"><?php echo $item->getTitle()?>:</td>
							<td>$<?php echo number_format($item->getAmount(),2)?></td>
						</tr>
					<?php } ?>
					</tfoot>
				</table>
			</td>
		</tr>
		</tbody>
	</table>
</div>

