<?php
$truncate = new Cny_View_Helper_StringTruncate();
?>
<div class="page-header page-header--account">
	<div class="container">
		<h1 class="text-white h2">My Account</h1>
		<small class="user text-white">Hello <?php echo $this->settings->first_name?>!</small>
	</div>
</div>
<div class="container">
	<?php echo $this->partial('account/partials/navigation.phtml', array('active'=>'orders'))?>
	<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
	<table class="table">
		<thead>
		<tr>
			<th><strong>Order#</strong></th>
			<th class="hidden-xs"><strong>Date</strong></th>
			<th class="hidden-xs"><strong>Description</strong></th>
			<th><strong>Status</strong></th>
			<th class="hidden-xs"><strong>Total Cost</strong></th>
			<th class="text-center"><strong>Details</strong></th>
		</tr>
		</thead>
		<tbody>
		<?php
		$mapper = new Application_Model_Mapper_OrderItem();
		foreach($this->list as $key => $val) {
			$items  = $mapper->findByOrderId($val['id']);
			$item_list = array();
			foreach ($items as $item) {
				$item_list[] = "{$item->title} {$item->type}";
			}
			?>
			<tr>
				<td><a href="/account/order-view/id/<?php echo $val['id']?>"><?php echo $val['id']?></a></td>
				<td class="hidden-xs"><?php echo $this->UTCtoTZ($val['created'],"n/j/Y g:ia","America/New_York")?></td>
				<td class="hidden-xs"><?php echo $truncate->StringTruncate(implode(", ",$item_list),50)?></td>
				<td><span class="text-<?php echo($val['status'] == "pending")?"green":""?>"><?php echo $val['status']?></span></td>
				<td class="hidden-xs">$<?php echo $val['total_amount']?></td>
				<td class="text-center"><a href="/account/order-view/id/<?php echo $val['id']?>" title="View"><span class="sr-only">View </span><span class="fal fa-share fal fa-share-share"></span></a></td>
			</tr>
		<?php } ?>
		</tbody>
	</table>
</div>
