<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<div class="modal--alert__content">
	<div class="modal--alert__header">
		<?php if ($settings_mapper->getValueByCode('site_logo_status') != 'Disabled') {?>
			<?php if ($settings_mapper->getValueByCode('site_logo')) {?>
				<img class="img-responsive center-block" src="<?php echo $settings_mapper->getValueByCode('site_logo') ?>" alt="<?php echo htmlentities($settings_mapper->getValueByCode('site_name'))?>">
			<?php } ?>
		<?php } ?>
		<button type="button" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
	</div>
	<div class="modal--alert__body">
		<p class="text-center">
			Please login or Register to make a purchase.
		</p>
		<a href="/login" class="btn btn-lg btn-round-4px-full btn--red btn--cms-default btn--cms-account-primary <?php echo $settings_mapper->getValueByCode('account_primary_btn_style');?> <?php echo $settings_mapper->getValueByCode('account_primary_btn_hover_effect');?>">Login</a>
		<a href="/register" class="btn btn-lg btn-round-4px-full btn--gray btn--cms-default btn--cms-modal-register <?php echo $settings_mapper->getValueByCode('modal_register_btn_style');?> <?php echo $settings_mapper->getValueByCode('modal_register_btn_hover_effect');?>">Register</a>
	</div>
</div>
