<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<div class="page-header page-header--account">
	<div class="container">
		<h1 class="text-white h2">My Account</h1>
		<small class="user text-white">Hello <?php echo $this->settings->first_name?>!</small>
	</div>
</div>

<div class="container">
	<?php echo $this->partial('account/partials/navigation.phtml', array('active'=>'settings'))?>
	<table class="table table--no-border">
		<thead>
		<tr>
			<th colspan="2"><strong>Account Information:</strong> <a href="/account/settings-edit">Edit</a></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="col-sm-4"><strong>First Name:</strong></td>
			<td class="col-sm-8"><?php echo $this->settings->first_name?></td>
		</tr>
		<tr>
			<td class="col-sm-4"><strong>Last Name:</strong></td>
			<td class="col-sm-8"><?php echo $this->settings->last_name?></td>
		</tr>
		<tr>
			<td class="col-sm-4"><strong>Email Address:</strong></td>
			<td class="col-sm-8"><?php echo $this->settings->email?></td>
		</tr>
		</tbody>
	</table>
	<table class="table table--no-border">
		<thead>
		<tr>
			<th><strong>Account Password:</strong> <a href="/account/settings-edit">Reset</a></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>********</td>
		</tr>
		</tbody>
	</table>
	<table class="table table--no-border">
		<thead>
		<tr>
			<th colspan="2"><strong>Account Status:</strong> <span class="text-success">Active</span></th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td class="col-sm-4">
				<button class="btn btn-lg btn-block m-t-20 btn--cms-default btn--cms-account-primary <?php echo $settings_mapper->getValueByCode('account_primary_btn_style');?> <?php echo $settings_mapper->getValueByCode('account_primary_btn_hover_effect');?>">Close Account</button>
			</td>
			<td>&nbsp;</td>
		</tr>
		</tbody>
	</table>
</div>

