<?php
use Cocur\Slugify\Slugify;

$zype = new Application_Model_Zype();
$video_mapper = new Application_Model_Mapper_VideoPlatformVideo();

$slugify = new Slugify();
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$truncate = new Cny_View_Helper_StringTruncate();

$lvp_base_url = ($settings_mapper->getValueByCode('video_platform_url'))?$settings_mapper->getValueByCode('video_platform_url'):'videos';
$default_poster = $settings_mapper->getValueByCode('lvp_default_poster','');
$lvp_grid_count = $settings_mapper->getValueByCode('lvp_cat_grid_item_row_count');
$cta_button_text = $settings_mapper->getValueByCode('lvp_cat_button_text');
$overlay_alignment = $settings_mapper->getValueByCode('lvp_cat_overlay_alignment');
$enable_description = $settings_mapper->getValueByCode('lvp_cat_description_status','Enabled');
$enable_cta = $settings_mapper->getValueByCode('lvp_cat_button_status','Enabled');
$enable_title = $settings_mapper->getValueByCode('lvp_cat_entry_title_status','Enabled');
$enable_overlay = $settings_mapper->getValueByCode('lvp_cat_overlay_status','Disabled');
$image_type = $settings_mapper->getValueByCode('lvp_cat_grid_image_type','');
$detail_btn_class = '';
if ($settings_mapper->getValueByCode('lvp_cat_button_style')) {
	$detail_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_cat_button_style');
}
if ($settings_mapper->getValueByCode('lvp_cat_button_alignment')) {
	$detail_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_cat_button_alignment');
}
?>
<div class="container">
	<h1 class="m-b-30">Hello <?php echo $this->settings->first_name?>,</h1>
	<div class="tab--minimal">

		<?php echo $this->partial('account/partials/navigation.phtml', array('active'=>'watchlist'))?>

		<div class="" id="yourVideos">

			<div class="lvp lvp--grid lvp--grid-<?php echo $lvp_grid_count?>">
				<?php
				foreach ($this->list as $k => $video_id) {
					$thumbnail_url = $poster = $video_url = $description = $video_title = '';

					if (is_numeric($video_id)) { //LVP video ID
						$video = $video_mapper->find($video_id);

						$video_title = $video->title;
						$poster = $video->poster_src;
						$video_url = "/".$lvp_base_url."/".$video->code;
						$description = ($video->summary)?$video->summary:$truncate->StringTruncate($video->description, 100, true);

						$thumbnail_url = ($video->thumbnail_src)?$video->thumbnail_src:(($video->video_platform_video_thumbnail_id)?'':null);
					}else { //zype video ID
						$video = $zype->getVideo($video_id);

						$video_title = $video->title;
						$poster = $video->poster_src;
						$video_slug = ($video->friendly_title)?$video->friendly_title:$slugify->slugify($video->title);
						$video_url = "/".$lvp_base_url."/".$video_slug."/".$video->_id;
						$description = ($video->short_description)?$truncate->StringTruncate($video->short_description, 100, true):$truncate->StringTruncate($video->description, 100, true);

						if ($image_type == 'poster') {
							if ($video->images) {
								foreach ($video->images as $image) {
									if ($image->layout == 'poster') {
										$thumbnail_url = $image->url;

										break;
									}
								}
							}
						} else {
							if ($video->thumbnails) {
								$thumbnails = [];
								foreach ($video->thumbnails as $image) {
									if ($image->height == 240) {
										$thumbnail_url = $image->url;

										break;
									} else {
										$thumbnails[$image->height] = $image->url;
									}
								}

								if ($thumbnails) {
									ksort($thumbnails);
									$thumbnail_url = current($thumbnails);
								}
							}
						}
					}

					//let's use the default poster if nothing set
					if (!$thumbnail_url) $thumbnail_url = $default_poster;
					?>
					<div class="lvp--grid__item" data-href="<?php echo $video_url?>">
						<div class="lvp--grid__content">
							<div class="lvp--grid__image m-b-10">
								<?php if ($poster) {?>
									<img src="<?php echo $poster?>" alt="" class="img-responsive">
								<?php }elseif ($thumbnail_url) { ?>
									<img src="<?php echo $thumbnail_url?>" class="img-responsive">
								<?php } ?>
							</div>
							<div class="lvp--grid__caption<?php echo ($overlay_alignment)?' '.$overlay_alignment:'' ?><?php echo ($enable_overlay == 'Enabled')?' lvp__caption--overlay':'' ?>">
								<?php if ($enable_title == 'Enabled') { ?>
									<h3 class="lvp--grid__entry-title"><?php echo $video_title?></h3>
								<?php } ?>

								<div class="lvp--grid__description lvp__description">
									<?php if ($enable_description == 'Enabled') { ?>
										<p><?php echo $description?></p>
									<?php } ?>
									<?php if ($enable_cta == 'Enabled') { ?>
										<a href="<?php echo $video_url?>" class="btn btn--default btn--lvp-detail<?php echo $detail_btn_class ?> btn--cms-default"><?php echo (isset($cta_button_text) && $cta_button_text)?$cta_button_text:'View Details' ?></a>
									<?php } ?>
								</div>
							</div>
						</div>
					</div>
				<?php } ?>
			</div>
		</div>

	</div>
</div>

<style>
	.lvp--grid {
		-ms-grid-columns: (minmax(100px, 1fr)) [ 6 ];
		grid-template-columns: repeat(6, minmax(100px, 1fr));
	}
</style>
