<?php
$truncate = new Cny_View_Helper_StringTruncate();

$pi_mapper = new Application_Model_Mapper_ProductImage();
?>
<div class="page-header page-header--account">
	<div class="container">
		<h1 class="text-white h2">My Account</h1>
		<small class="user text-white">Hello <?php echo $this->settings->first_name?>!</small>
	</div>
</div>
<div class="container">
	<?php echo $this->partial('account/partials/navigation.phtml', array('active'=>'wishlist'))?>

	<div class="row">
		<?php if ($this->list && count($this->list) > 0) {?>
			<form method="post" action="/wishlist/cart-bulk-add">
				<table class="table table-striped">
					<thead>
					<tr>
						<th class="col-xs-7">Item</th>
						<th class="center">Price when Added</th>
						<th class="center">Current Price</th>
						<th class="center">Delete</th>
						<th class="center">Move to Cart</th>
					</tr>
					</thead>
					<tbody>
					<?php
					foreach ($this->list as $item) {
						$primary_image = $pi_mapper->fetchPrimaryByProductId($item->product_id);
						if ($primary_image){
							$primary_image->thumbnail_src = str_replace("userFiles/uploads", "userThumbs", $primary_image->image_src);
						}
						?>
						<tr>
							<td>
								<div class="products__item flex-row flex-align-center">
									<div class="products__image hidden-xs col-sm-2">
										<img src="<?php echo ($primary_image->thumbnail_src)?$primary_image->thumbnail_src:$primary_image->image_src?>" alt="<?php echo htmlentities(($item->variant_title)?$item->variant_title:$item->title)?>" class="img-responsive">
									</div>
									<div class="products__content">
										<div class="products__title"><strong><?php echo ($item->variant_title)?$item->variant_title:$item->title?></div>
									</div>
								</div>
							</td>
							<td class="right">$<?php echo $item->wishlist_price?></td>
							<td class="right">$<?php echo ($item->variant_price)?$item->variant_price:$item->price?></td>

							<td class="center"><a class="" href="/wishlist/remove?product_id=<?php echo $item->product_id?>&variant_id=<?php echo $item->variant_id?>&redir=<?php echo urlencode($_SERVER['REQUEST_URI'])?>"><i class="fa fa-2x fa-trash"></i></a></td>
							<td class="center">
								<a class="text-orange cart-ajax" href="/wishlist/cart-add/product_id/<?php echo $item->product_id?>/variant_id/<?php echo $item->variant_id?>"><i class="fa fa-2x fa-shopping-cart"></i></a>
								<!--<input type="hidden" name="product_id[]" value="<?php //echo $product['product']->id?>">-->
							</td>
						</tr>
						<?php
					}
					?>
					</tbody>
					<tfoot>
					</tfoot>
				</table>
				<!--
				<div class="text-right">
					<button type="submit" class="btn btn--red btn-checkout text-uppercase">Add all to cart</button>
				</div>
				-->
			</form>
		<?php }else {?>
			<h4 class="text-center">You have no products in your wishlist</h4>
		<?php } ?>
	</div>
</div>
