<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">

	<h3>Building: <?php echo $this->element->name->getValue()?> (<?php echo $this->element->voyager_code->getValue()?>)</h3>
	<table class="table table-striped">
		<tbody>
		<?php echo $this->element->id?>
		<?php echo $this->element->cmd?>
		<?php echo $this->element->code?>

		<?php echo $this->element->name?>
		<?php echo $this->element->neighborhood_id?>
		<?php echo $this->element->commercial?>
		<?php echo $this->element->residential?>
		<?php echo $this->element->description?>
		<?php echo $this->element->voyager_code?>
		<?php echo $this->element->yardi_code?>
		<?php echo $this->element->active_streeteasy?>
		<?php echo $this->element->elise_text?>
		</tbody>
	</table>

	<h3>Address</h3>
	<table class="table table-striped">
		<tbody>
		<?php echo $this->element->address_display_name?>
		<?php echo $this->element->cross_street?>
		<?php echo $this->element->street1?>
		<?php echo $this->element->street2?>
		<?php echo $this->element->city?>
		<?php echo $this->element->state?>
		<?php echo $this->element->zip?>

		</tbody>
	</table>

	<h3>Amenities</h3>
	<table class="table table-striped">
		<tbody>
		<?php echo $this->element->amenities?>
		</tbody>
	</table>

	<h3>SEO Meta Data</h3>
	<table class="table table-striped">
		<tbody>
		<?php echo $this->element->meta_title?>
		<?php echo $this->element->meta_description?>
		</tbody>
	</table>


	<table class="table table-striped">
		<tbody>

		<tr id="submit-btn">
			<td></td>
			<td><button type="submit" class="btn btn-primary btn-lg btn-save">Save</button></td>
			<td></td>
		</tr>

		</tbody>
	</table>


</form>
