<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">

	<h3>COI: <?php echo $this->element->name->getValue()?></h3>
	<table class="table table-striped">
		<tbody>
		<?php echo $this->element->id?>
		<?php echo $this->element->name?>
		<?php echo $this->element->description?>
		<?php echo $this->element->limit?>
		</tbody>
	</table>
	<table class="table table-striped">
		<tbody>

		<tr id="submit-btn">
			<td></td>
			<td><button type="submit" class="btn btn-primary btn-lg btn-save">Save</button></td>
			<td></td>
		</tr>

		</tbody>
	</table>


</form>
