<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
	<table class="table table-striped">
		<tbody>

		<?php
		foreach ($this->element as $element) {
			echo $element;
		}
		?>

		<tr id="submit-btn">
			<td></td>
			<td><button type="submit" class="btn btn-primary btn-lg btn-save">Save</button></td>
			<td></td>
		</tr>

		</tbody>
	</table>
</form>
