<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
	<table  class="table table-striped">
		<tbody>

		<?php echo $this->element->cmd?>
		<?php echo $this->element->id?>
		<?php echo $this->element->code?>
		<?php echo $this->element->sort_order?>

		<?php echo $this->element->name?>
		<?php echo $this->element->sub_title?>
		<?php echo $this->element->phone?>
		<?php echo $this->element->email?>
		<?php echo $this->element->hours?>
		<?php echo $this->element->apply_link?>

		<tr>
			<td><label>Image:</label></td>
			<td>
				<img src="<?php echo $this->element->image->getValue()?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#image_path" id="image">
				<input type="hidden" class="form-control conditional layout-tile" name="image" id="image_path" value="<?php echo $this->element->image->getValue()?>">
				<button data-url="/filemanager/dialog.php?type=1&field_id=image_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
				<button type="button" class="btn btn-primary border-radius btn-clear_image" data-rel="image">Remove Image</button>
			</td>
			<td></td>
		</tr>

		<?php echo $this->element->status?>

		<tr id="submit-btn">
			<td></td>
			<td><button type="submit" class="btn btn-primary btn-lg btn-save">Save</button></td>
			<td></td>
		</tr>
		</tbody>
	</table>
</form>
