<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">

	<table class="table table-striped">
		<tbody>
		<?php echo $this->element->id?>
		<?php echo $this->element->cmd?>
		<?php echo $this->element->code?>

		<?php echo $this->element->status?>
		<?php echo $this->element->featured?>
		<?php echo $this->element->floor?>
		<?php echo $this->element->square_footage?>
		<?php echo $this->element->square_footage_status?>

		<tr>
			<td><label>Floorplan</label></td>
			<td>
				<?php
				$mapper = new Customadmin_Model_Mapper_GfFloorplan();
				$building_floorplans = $mapper->fetchPairs($this->element->building_id->getValue());

				if ($this->element->floorplan_id->getValue()) {
					$floorplan = $mapper->find($this->element->floorplan_id->getValue());
					?>
					<img src="<?php echo $floorplan->image?>" style="max-width:400px;max-height:300px;"><br/>
				<?php
				}

				echo $this->formSelect('floorplan_id', $this->element->floorplan_id->getValue(), array('class'=>'form-control'), array(""=>"None")+$building_floorplans);
				?>
			</td>
			<td></td>
		</tr>

		<?php echo $this->element->virtual_tour_id?>
		<?php echo $this->element->description?>
		<?php echo $this->element->walkin_key?>
		<?php echo $this->element->number?>
		<?php echo $this->element->feed_number_override?>
		<?php echo $this->element->show_number?>
		<?php echo $this->element->building_id?>
		<?php echo $this->element->type?>
		<?php echo $this->element->price?>
		<?php echo $this->element->concession_language?>
		<?php echo $this->element->lease_term?>
		<?php echo $this->element->concession_months?>
		<?php echo $this->element->concession_expiration?>
		<?php echo $this->element->streeteasy_status?>
		<?php echo $this->element->disable_openhouse?>
		<?php echo $this->element->carousel_vimeo_url?>
		<?php echo $this->element->incentives?>
		<?php echo $this->element->features?>
		</tbody>
	</table>

	<h3>SEO Meta Data</h3>
	<table class="table table-striped">
		<tbody>
		<?php echo $this->element->meta_title?>
		<?php echo $this->element->meta_description?>
		</tbody>
	</table>


	<table class="table table-striped">
		<tbody>

		<tr id="submit-btn">
			<td></td>
			<td><button type="submit" class="btn btn-primary btn-lg btn-save">Save</button></td>
			<td></td>
		</tr>

		</tbody>
	</table>


</form>

<script>
	$(document).ready(function() {
		<?php if (substr($this->element->number->getValue(),0, 4) == 'WAIT' && substr($this->element->number->getValue(),-1) == 'H') {?>
		$("#status option[value='Available']").remove();
		<?php } ?>
	});
</script>
