<?php if ($this->flashMessages && $this->flashMessages->getMessages()) { ?>
<div class="row">
	<div class="alert alert-dismissible bg-info" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

		<div class="text-center">
			<h5 class="text-info">
			<?php foreach ($this->flashMessages->getMessages() as $message) {
				echo $message;
			} ?>
			</h5>
		</div>
	</div>
</div>
<?php } ?>
