<?php
$url_builder = new Cny_View_Helper_UrlBuilder();
?>
<?php if ($this->pageCount && $this->pageCount > 1) { ?>
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<!-- Previous page link -->
			<?php 	if (isset($this->previous)) { ?>
				<li><a href="<?php echo $url_builder->url(array('page' => $this->previous)); ?>" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			<?php 	}else { ?>
				<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
			<?php 	} ?>

			<!-- Numbered page links -->
			<?php 	foreach ($this->pagesInRange as $page) { ?>
				<?php 		if ($page != $this->current) { ?>
					<li><a href="<?php echo  $url_builder->url(array('page' => $page)); ?>"><?php echo  $page; ?></a></li>
				<?php 		}else{ ?>
					<li class="active"><a href="#"><?php echo  $page; ?> <span class="sr-only">(current)</span></a></li>
				<?php 		} ?>
			<?php 	} ?>

			<!-- Next page link -->
			<?php 	if (isset($this->next)) { ?>
				<li><a href="<?php echo  $url_builder->url(array('page' => $this->next)); ?>" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
			<?php 	}else{ ?>
				<li class="disabled"><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
			<?php 	} ?>
		</ul>
	</nav>
<?php } ?>
