<?php echo $this->partial('emails/partials/top.phtml', array('template_data'=>$this->template_data))?>

<table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
	<tbody>
	<tr style="padding: 0; text-align: left; vertical-align: top">
		<th class="small-12 large-12 columns first last" style="Margin: 0 auto; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size: <?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; padding-bottom: 16px; padding-left: 30px; padding-right: 30px; text-align: left; width: 550px">
			<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
				<tr style="padding: 0; text-align: left; vertical-align: top">
					<th style="Margin: 0; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size: <?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left">

						<?php echo $this->content?>

					</th>
					<th class="expander" style="Margin: 0; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size: <?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; padding: 0 !important; text-align: left; visibility: hidden; width: 0"></th>
				</tr>
			</table>
		</th>
	</tr>
	</tbody>
</table>

<?php echo $this->partial('emails/partials/bottom.phtml', array('template_data'=>$this->template_data))?>
