<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$video_mapper = new Application_Model_Mapper_VideoPlatformVideo();
$entitlement_mapper = new Application_Model_Mapper_VideoPlatformEntitlement();
$lvp_url = ($settings_mapper->getValueByCode('video_platform_url'))?$settings_mapper->getValueByCode('video_platform_url'):'videos';
?>
<?php echo $this->partial('emails/partials/top.phtml', array('template_data'=>$this->template_data))?>

<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top">
		<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px">
			<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
				<tr style="padding:0;text-align:left;vertical-align:top">
					<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:0;text-align:left">
						<h1 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:<?php echo $this->template_data['settings']['title_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['title_size'] ?>;font-weight:<?php echo $this->template_data['settings']['title_weight'] ?>;line-height:<?php echo $this->template_data['settings']['title_line_height'] ?>;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">
							Thank you for your order.</h1>
						<p style="Margin:0;Margin-bottom:10px;color:<?php echo $this->template_data['settings']['message_color'] ?>;font-family:<?php echo $this->template_data['settings']['message_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['message_size'] ?>;font-weight:<?php echo $this->template_data['settings']['message_weight'] ?>;line-height:<?php echo $this->template_data['settings']['message_line_height'] ?>;margin:0;margin-bottom:10px;padding:0;text-align:left">
							<!--Thanks for shopping with us!-->

							<?php
							$video = $video_mapper->find($this->products[0]->video_platform_video_id);
							?>
							<a href="<?php echo $this->template_data['domain'].'/'.$lvp_url.'/'.$video->code?>" style="display:block;color:<?php echo $this->template_data['settings']['link_color'] ?>!important;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:24px;text-align:center;">
								WATCH NOW
							</a>
						</p>

						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td height="16px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									&#xA0;
								</td>
							</tr>
							</tbody>
						</table>

						<table class="callout" style="Margin-bottom:16px;border-collapse:collapse;border-spacing:0;margin-bottom:16px;padding:0;text-align:left;vertical-align:top;width:100%">
							<tr style="padding:0;text-align:left;vertical-align:top">
								<th class="callout-inner secondary" style="Margin:0;background:<?php echo $this->template_data['settings']['table_color'] ?>;border:1px solid <?php echo $this->template_data['settings']['table_border_color'] ?>;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:10px;text-align:left;width:100%">
									<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
										<tbody>
										<tr style="padding:0;text-align:left;vertical-align:top">
											<th class="small-12 large-6 columns first" style="Margin:0 auto;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0 auto;padding:0;padding-bottom:16px;padding-left:0!important;padding-right:0!important;text-align:left;width:50%">
												<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
													<tr style="padding:0;text-align:left;vertical-align:top">
														<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:0;text-align:left">
															<p style="Margin:0;Margin-bottom:10px;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;margin-bottom:10px;padding:0;text-align:left">
																<strong style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">Payment Method</strong><br>
																<?php echo $this->payment->identifier?>
															</p>

															<p style="Margin:0;Margin-bottom:10px;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;margin-bottom:10px;padding:0;text-align:left">
																<strong style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">Order ID</strong><br>
																V<?php echo $this->order->id?>
															</p>
														</th>
													</tr>
												</table>
											</th>
											<th class="small-12 large-6 columns last" style="Margin:0 auto;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0 auto;padding:0;padding-bottom:16px;padding-left:0!important;padding-right:0!important;text-align:left;width:50%">
												<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
													<tr style="padding:0;text-align:left;vertical-align:top">
														<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:0;text-align:left">
															<p style="Margin:0;Margin-bottom:10px;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;margin-bottom:10px;padding:0;text-align:left">
																<strong style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">Billing Address</strong><br>
																<?php echo $this->billing_address->first_name?> <?php echo $this->billing_address->last_name?><br/>
																<?php echo $this->billing_address->address?>
																<?php echo ($this->billing_address->address2)?"<br/>".$this->billing_address->address2:""?>
																<?php echo "<br/>".$this->billing_address->city?> <?php echo $this->billing_address->region?>,
																<?php echo $this->billing_address->postcode?> <br/>
																<?php echo $this->billing_address->country?><br/>
																<?php echo $this->billing_address->phone?><br/>
															</p>
														</th>
													</tr>
												</table>
											</th>
										</tr>
										</tbody>
									</table>
								</th>
								<th class="expander" style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
							</tr>
						</table>

						<br/><br/>
						<h4 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:<?php echo $this->template_data['settings']['title_font'] ?>,sans-serif;font-size:24px;font-weight:<?php echo $this->template_data['settings']['title_weight'] ?>;line-height:<?php echo $this->template_data['settings']['title_line_height'] ?>;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">
							Order Details</h4>

						<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tr style="padding:0;text-align:left;vertical-align:top">
								<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:0;text-align:left">
									<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">Item</b>
								</th>
								<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:0;text-align:left">
									<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">Type</b>
								</th>
								<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:0;text-align:right">
									<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">Price</b>
								</th>
								<!--<th></th>-->
							</tr>
							<?php
							foreach ($this->products as $product) {
								//$video = $video_mapper->find($product->video_platform_video_id);
							?>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									<a href="<?php echo $this->template_data['domain'].'/'.$lvp_url.'/'.$video->code?>" style="color:<?php echo $this->template_data['settings']['link_color'] ?>"><?php echo $product->title?></a>
								</td>
								<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									<?php echo $product->purchase_type?>

									<?php
									if ($product->purchase_type == 'rent') {
										$entitlement = $entitlement_mapper->fetchEntitlement($this->order->customer_id, $product->video_platform_video_id);
										echo " - expires: ".date("F d, Y g:ia",strtotime($entitlement->expiration))." UTC";
									}
									?>
								</td>
								<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:right;vertical-align:top;word-wrap:break-word">
									$<?php echo number_format($product->price,2)?>
								</td>
								<?php /*
								<td>
									<a href="<?php echo $this->template_data['domain'].'/'.$lvp_url.'/'.$video->code?>" style="display:block;color:<?php echo $this->template_data['settings']['text_color'] ?>!important;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;padding:10px;background-color:<?php echo $this->template_data['settings']['link_color'] ?>!important;text-align:center;">
										WATCH NOW
									</a>
								</td>
                                */ ?>
							</tr>
							<?php } ?>

							<tr style="padding:20px 0 0 0;text-align:left;vertical-align:top">
								<td colspan="2" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">Total</b>
								</td>
								<td colspan="" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:right;vertical-align:top;word-wrap:break-word">
									$<?php echo $this->order->total?>
								</td>
							</tr>

						</table>
						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td height="16px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									&#xA0;
								</td>
							</tr>
							</tbody>
						</table>
						<hr>
						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td height="30px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:30px;font-weight:400;hyphens:auto;line-height:30px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									&#xA0;
								</td>
							</tr>
							</tbody>
						</table>

					</th>
				</tr>
			</table>
		</th>
	</tr>
	</tbody>
</table>

<?php echo $this->partial('emails/partials/bottom.phtml', array('template_data'=>$this->template_data))?>
