<?php
$variant_mapper = new Application_Model_Mapper_ProductVariant();
$product_image_mapper = new Application_Model_Mapper_ProductImage();
$variant_type_mapper = new Application_Model_Mapper_ProductVariantType();
?>
<?php echo $this->partial('emails/partials/top.phtml', array('template_data'=>$this->template_data))?>

<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top">
		<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px">
			<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
				<tr style="padding:0;text-align:left;vertical-align:top">
					<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:0;text-align:left">
						<h1 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:<?php echo $this->template_data['settings']['title_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['title_size'] ?>;font-weight:<?php echo $this->template_data['settings']['title_weight'] ?>;line-height:<?php echo $this->template_data['settings']['title_line_height'] ?>;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">
							Thanks for your order.</h1>
						<p style="Margin:0;Margin-bottom:10px;color:<?php echo $this->template_data['settings']['message_color'] ?>;font-family:<?php echo $this->template_data['settings']['message_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['message_size'] ?>;font-weight:<?php echo $this->template_data['settings']['message_weight'] ?>;line-height:<?php echo $this->template_data['settings']['message_line_height'] ?>;margin:0;margin-bottom:10px;padding:0;text-align:left">
							<?php echo $this->template_data['settings']['message_text'] ?>
						</p>

						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td height="16px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									&#xA0;
								</td>
							</tr>
							</tbody>
						</table>

						<table class="callout" style="Margin-bottom:16px;border-collapse:collapse;border-spacing:0;margin-bottom:16px;padding:0;text-align:left;vertical-align:top;width:100%">
							<tr style="padding:0;text-align:left;vertical-align:top">
								<th class="callout-inner secondary" style="Margin:0;background:<?php echo $this->template_data['settings']['table_color'] ?>;border:1px solid <?php echo $this->template_data['settings']['table_border_color'] ?>;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:10px;text-align:left;width:100%">
									<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
										<tbody>
										<tr style="padding:0;text-align:left;vertical-align:top">
											<th class="small-12 large-6 columns first" style="Margin:0 auto;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0 auto;padding:0;padding-bottom:16px;padding-left:0!important;padding-right:0!important;text-align:left;width:50%">
												<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
													<tr style="padding:0;text-align:left;vertical-align:top">
														<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:0;text-align:left">
															<p style="Margin:0;Margin-bottom:10px;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;margin-bottom:10px;padding:0;text-align:left">
																<strong style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">Payment Method</strong><br>
																<?php echo $this->payment->identifier?>
															</p>
															<p style="Margin:0;Margin-bottom:10px;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;margin-bottom:10px;padding:0;text-align:left">
																<strong style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">Email Address</strong><br>
																<?php echo $this->order->email?>
															</p>
															<p style="Margin:0;Margin-bottom:10px;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;margin-bottom:10px;padding:0;text-align:left">
																<strong style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">Order ID</strong><br>
																<?php echo $this->order->id?>
															</p>
														</th>
													</tr>
												</table>
											</th>
											<th class="small-12 large-6 columns last" style="Margin:0 auto;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0 auto;padding:0;padding-bottom:16px;padding-left:0!important;padding-right:0!important;text-align:left;width:50%">
												<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
													<tr style="padding:0;text-align:left;vertical-align:top">
														<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:0;text-align:left">
															<p style="Margin:0;Margin-bottom:10px;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;margin-bottom:10px;padding:0;text-align:left">
																<strong style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">Shipping
																	Method</strong><br>
																<?php echo $this->shipping->method?><br><br/>
																<strong style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">Shipping Address</strong><br>
																<?php echo $this->shipping_address->first_name?> <?php echo $this->shipping_address->last_name?><br/>
																<?php echo $this->shipping_address->address?>
																<?php echo ($this->shipping_address->address2)?"<br/>".$this->shipping_address->address2:""?>
																<?php echo "<br/>".$this->shipping_address->city?> <?php echo $this->shipping_address->region?>,
																<?php echo $this->shipping_address->postcode?> <br/>
																<?php echo $this->shipping_address->country?><br/>
																<?php echo $this->shipping_address->phone?><br/>
															</p>
														</th>
													</tr>
												</table>
											</th>
										</tr>
										</tbody>
									</table>
								</th>
								<th class="expander" style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
							</tr>
						</table>

						<h4 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:<?php echo $this->template_data['settings']['title_font'] ?>,sans-serif;font-size:24px;font-weight:<?php echo $this->template_data['settings']['title_weight'] ?>;line-height:<?php echo $this->template_data['settings']['title_line_height'] ?>;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">
							Order Details</h4>

						<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tr style="padding:0;text-align:left;vertical-align:top">
								<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:0;text-align:left">
									<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">SKU</b>
								</th>
								<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:0;text-align:left">
									<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">Item</b>
								</th>
								<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:0;text-align:left">
									<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">QTY</b>
								</th>
								<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;margin:0;padding:0;text-align:right">
									<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;">Price</b>
								</th>
							</tr>
							<?php
							$qty_total = 0;
							foreach ($this->products as $product) {
								$qty_total += $product->qty;

								$variant = $variant_type = '';
								if (isset($product->variant_id)) {
									$variant = $variant_mapper->find($product->variant_id);
									$variant_type = $variant_type_mapper->find($variant->product_variant_type_id);
								}
							?>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									<?php echo ($variant)?$variant->sku:$product->sku?>
								</td>
								<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									<?php echo ($variant)?$variant->title:$product->title?>
									<?php if (isset($product->variant_id)) { ?>
										(<?php echo $variant_type->title?>)
									<?php } ?>
								</td>
								<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:center;vertical-align:top;word-wrap:break-word">
									<?php echo $product->qty?>
								</td>
								<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:right;vertical-align:top;word-wrap:break-word">
									$<?php echo number_format($product->paid_price,2)?>
								</td>
							</tr>
							<?php } ?>

							<?php
							$totals = array();
							foreach ($this->totals as $total) {
								$totals[$total->code] = $total->amount;
								if ($total->code == 'discount' && (!$total->amount || $total->amount == "0.00")) continue;
								?>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<td colspan="3" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
										<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;"><?php echo $total->title?></b>
									</td>
									<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:right;vertical-align:top;word-wrap:break-word">
										<?php echo ($total->code == 'discount')?"-":""?>$<?php echo $total->amount?>
									</td>
								</tr>
							<?php } ?>

						</table>
						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td height="16px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									&#xA0;
								</td>
							</tr>
							</tbody>
						</table>
						<hr>
						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td height="30px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:30px;font-weight:400;hyphens:auto;line-height:30px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									&#xA0;
								</td>
							</tr>
							</tbody>
						</table>

						<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<?php if ($this->order_profile->custom_item_1 && $this->order_profile->custom_item_1_value) {?>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<td colspan="2" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
										<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;"><?php echo $this->order_profile->custom_item_1?></b>
									</td>
									<td colspan="2" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:right;vertical-align:top;word-wrap:break-word">
										<?php echo $this->order_profile->custom_item_1_value?>
									</td>
								</tr>
							<?php } ?>
							<?php if ($this->order_profile->custom_item_2 && $this->order_profile->custom_item_2_value) {?>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<td colspan="2" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
										<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;"><?php echo $this->order_profile->custom_item_2?></b>
									</td>
									<td colspan="2" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:right;vertical-align:top;word-wrap:break-word">
										<?php echo $this->order_profile->custom_item_2_value?>
									</td>
								</tr>
							<?php } ?>
							<?php if ($this->order_profile->custom_item_3 && $this->order_profile->custom_item_3_value) {?>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<td colspan="2" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
										<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;"><?php echo $this->order_profile->custom_item_3?></b>
									</td>
									<td colspan="2" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:right;vertical-align:top;word-wrap:break-word">
										<?php echo $this->order_profile->custom_item_3_value?>
									</td>
								</tr>
							<?php } ?>
							<?php if ($this->order_profile->custom_item_4 && $this->order_profile->custom_item_4_value) {?>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<td colspan="2" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
										<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;"><?php echo $this->order_profile->custom_item_4?></b>
									</td>
									<td colspan="2" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:right;vertical-align:top;word-wrap:break-word">
										<?php echo $this->order_profile->custom_item_4_value?>
									</td>
								</tr>
							<?php } ?>
							<?php if ($this->order_profile->custom_item_5 && $this->order_profile->custom_item_5_value) {?>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<td colspan="2" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
										<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;"><?php echo $this->order_profile->custom_item_5?></b>
									</td>
									<td colspan="2" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:right;vertical-align:top;word-wrap:break-word">
										<?php echo $this->order_profile->custom_item_5_value?>
									</td>
								</tr>
							<?php } ?>
							<?php if ($this->order_profile->custom_item_6 && $this->order_profile->custom_item_6_value) {?>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<td colspan="2" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
										<b style="color:<?php echo $this->template_data['settings']['label_color'] ?>;font-family:<?php echo $this->template_data['settings']['label_font'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['label_size'] ?>;font-weight:<?php echo $this->template_data['settings']['label_weight'] ?>;line-height:<?php echo $this->template_data['settings']['label_line_height'] ?>;"><?php echo $this->order_profile->custom_item_6?></b>
									</td>
									<td colspan="2" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:<?php echo $this->template_data['settings']['font_weight'] ?>;line-height:<?php echo $this->template_data['settings']['line_height'] ?>;hyphens:auto;margin:0;padding:0;text-align:right;vertical-align:top;word-wrap:break-word">
										<?php echo $this->order_profile->custom_item_6_value?>
									</td>
								</tr>
							<?php } ?>
						</table>

						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td height="30px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:30px;font-weight:400;hyphens:auto;line-height:30px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									&#xA0;
								</td>
							</tr>
							</tbody>
						</table>
					</th>
				</tr>
			</table>
		</th>
	</tr>
	</tbody>
</table>

<?php echo $this->partial('emails/partials/bottom.phtml', array('template_data'=>$this->template_data))?>
