<?php echo $this->partial('emails/partials/top.phtml', array('template_data'=>$this->template_data))?>

<table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
	<tbody>
	<tr style="padding: 0; text-align: left; vertical-align: top">
		<th class="small-12 large-12 columns first last" style="Margin: 0 auto; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; padding-bottom: 16px; padding-left: 30px; padding-right: 30px; text-align: left; width: 550px">
			<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
				<tr style="padding: 0; text-align: left; vertical-align: top">
					<th style="Margin: 0; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left">
						<h3 style="Margin: 0; Margin-bottom: 10px; color: inherit; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size: 28px; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; text-align: left; word-wrap: normal">
							Thank you for your payment</h3>

						<?php echo $this->intro?>
					</th>
					<th class="expander" style="Margin: 0; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; padding: 0 !important; text-align: left; visibility: hidden; width: 0"></th>
				</tr>
			</table>
		</th>
	</tr>
	</tbody>
</table>


<table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
	<tbody>
	<tr style="padding: 0; text-align: left; vertical-align: top">
		<th class="small-12 large-12 columns first last" valign="middle" style="Margin: 0 auto; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; padding-bottom: 16px; padding-left: 30px; padding-right: 30px; text-align: left; width: 550px">
			<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
				<tr style="padding: 0; text-align: left; vertical-align: top">
					<th style="Margin: 0; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left">
						<table style="Margin-bottom: 16px; border: 0; border-collapse: collapse; border-spacing: 0; margin-bottom: 16px; padding: 0; text-align: left; vertical-align: top; width: 100%" class="callout">
							<tr style="padding: 0; text-align: left; vertical-align: top">
								<th class="callout-inner secondary" style="Margin: 0; background: #ebebeb; border: 0; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; padding: 10px; text-align: left; width: 100%">
									<p style="Margin: 0; Margin-bottom: 10px; color: #ffffff; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size: 20px; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 0; padding: 0; text-align: left">
										Payment Details</p>
								</th>
								<th class="expander" style="Margin: 0; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; padding: 0 !important; text-align: left; visibility: hidden; width: 0"></th>
							</tr>
						</table>
					</th>
					<th class="expander" style="Margin: 0; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; padding: 0 !important; text-align: left; visibility: hidden; width: 0"></th>
				</tr>
			</table>
		</th>
	</tr>
	</tbody>
</table>

<table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
	<tbody>
	<tr style="padding: 0; text-align: left; vertical-align: top">
		<th class="small-12 large-12 columns first last" style="Margin: 0 auto; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; padding-bottom: 16px; padding-left: 30px; padding-right: 30px; text-align: left; width: 550px">
			<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
				<tr style="padding: 0; text-align: left; vertical-align: top">
					<th style="Margin: 0; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left">
						<p style="Margin: 0; Margin-bottom: 10px; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; padding-left: 10px; text-align: left">
							<b>Date &amp; Time: <?php echo date("n/j/Y g:iA")?></b>
						</p>
						<?php
						$tips = array(); $amount = 0;
						foreach ($this->panels as $panel) {
						?>
						<p style="Margin: 0; Margin-bottom: 10px; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; padding-left: 10px; text-align: left">
							<b><?php echo $panel['panel']->label?>:</b>
							<?php
							if ($panel['panel']->is_payment_amount == 'yes') {
								$amount = preg_replace("/[^0-9.]/", "", $panel['value']);

								echo "$" . number_format($amount, 2);
							}elseif ($panel['panel']->field_type == 'tip') {
								if ($panel['panel']->tip_percent && $panel['value']) {
									echo "Yes";
									$tips[] = preg_replace("/[^0-9.]/", "", $panel['panel']->tip_percent);
								}elseif ($panel['panel']->tip_percent && !$panel['value']) {
									echo "No";
								}else {
									echo $panel['value']."%";
									$tips[] = preg_replace("/[^0-9.]/", "", $panel['value']);
								}
							}else {
								echo $panel['value'];
							}
							?>
						</p>
						<?php
						}

						//adjust amount outside of loop otherwise amount may not be set before tip field
						$total_tip = 0;
						if ($tips) {
							foreach ($tips as $k => $percent) {
								if ($percent) {
									$total_tip += round($amount * ($percent / 100), 2);
								}
							}
						}
						$amount += $total_tip;

						if ($amount) {
							?>
						<p style="Margin: 0; Margin-bottom: 10px; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; padding-left: 10px; text-align: left">
								<b style="color: #ff0000;">Total: </b>

								<?php echo "$".number_format($amount, 2); ?>
						</p>
						<?php } ?>
					</th>
					<th class="expander" style="Margin: 0; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; padding: 0 !important; text-align: left; visibility: hidden; width: 0"></th>
				</tr>
			</table>
		</th>
	</tr>
	</tbody>
</table>

<?php if ($this->bottom_text) {?>
	<table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
		<tbody>
		<tr style="padding: 0; text-align: left; vertical-align: top">
			<th class="small-12 large-12 columns first last" style="Margin: 0 auto; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; padding-bottom: 16px; padding-left: 30px; padding-right: 30px; text-align: left; width: 550px">
				<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
					<tr style="padding: 0; text-align: left; vertical-align: top">
						<th style="Margin: 0; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left">
							<?php echo $this->bottom_text?>
						</th>
						<th class="expander" style="Margin: 0; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; padding: 0 !important; text-align: left; visibility: hidden; width: 0"></th>
					</tr>
				</table>
			</th>
		</tr>
		</tbody>
	</table>
<?php } ?>

<?php echo $this->partial('emails/partials/bottom.phtml', array('template_data'=>$this->template_data))?>
