<?php
$variant_mapper = new Application_Model_Mapper_ProductVariant();
$product_image_mapper = new Application_Model_Mapper_ProductImage();
$variant_type_mapper = new Application_Model_Mapper_ProductVariantType();
?>
<?php echo $this->partial('emails/partials/top.phtml', array('template_data'=>$this->template_data))?>

<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
	<tbody>
	<tr style="padding:0;text-align:left;vertical-align:top">
		<th class="small-12 large-12 columns first last" style="Margin:0 auto;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:16px;padding-right:16px;text-align:left;width:564px">
			<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
				<tr style="padding:0;text-align:left;vertical-align:top">
					<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
						<h1 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:34px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">
							Your order has shipped!</h1>

						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td height="16px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									&#xA0;
								</td>
							</tr>
							</tbody>
						</table>

						<table class="callout" style="Margin-bottom:16px;border-collapse:collapse;border-spacing:0;margin-bottom:16px;padding:0;text-align:left;vertical-align:top;width:100%">
							<tr style="padding:0;text-align:left;vertical-align:top">
								<th class="callout-inner secondary" style="Margin:0;background:<?php echo $this->template_data['settings']['table_color'] ?>;border:1px solid #444;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;padding:10px;text-align:left;width:100%">
									<table class="row" style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
										<tbody>
										<tr style="padding:0;text-align:left;vertical-align:top">
											<th class="small-12 large-6 columns first" style="Margin:0 auto;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:0!important;padding-right:0!important;text-align:left;width:50%">
												<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
													<tr style="padding:0;text-align:left;vertical-align:top">
														<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
															<p style="Margin:0;Margin-bottom:10px;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">
																<strong>Payment Method</strong><br>
																<?php echo $this->payment->identifier?>
															</p>
															<p style="Margin:0;Margin-bottom:10px;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">
																<strong>Email Address</strong><br>
																<?php echo $this->order->email?>
															</p>
															<p style="Margin:0;Margin-bottom:10px;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">
																<strong>Order ID</strong><br>
																<?php echo $this->order->id?>
															</p>
														</th>
													</tr>
												</table>
											</th>
											<th class="small-12 large-6 columns last" style="Margin:0 auto;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0 auto;padding:0;padding-bottom:16px;padding-left:0!important;padding-right:0!important;text-align:left;width:50%">
												<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
													<tr style="padding:0;text-align:left;vertical-align:top">
														<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
															<p style="Margin:0;Margin-bottom:10px;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left">
																<strong>Shipping Address</strong><br>
																<?php echo $this->shipping_address->first_name?> <?php echo $this->shipping_address->last_name?><br/>
																<?php echo $this->shipping_address->address?>
																<?php echo ($this->shipping_address->address2)?"<br/>".$this->shipping_address->address2:""?>
																<?php echo "<br/>".$this->shipping_address->city?> <?php echo $this->shipping_address->region?>,
																<?php echo $this->shipping_address->postcode?> <br/>
																<?php echo $this->shipping_address->country?><br/>
																<?php echo $this->shipping_address->phone?><br/>
															</p>
														</th>
													</tr>
												</table>
											</th>
										</tr>
										</tbody>
									</table>
								</th>
								<th class="expander" style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;padding:0!important;text-align:left;visibility:hidden;width:0"></th>
							</tr>
						</table>

						<h4 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:24px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">
							Order Details</h4>

						<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tr style="padding:0;text-align:left;vertical-align:top">
								<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
									SKU
								</th>
								<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
									Item
								</th>
								<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
									#
								</th>
								<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
									Price
								</th>
							</tr>
							<?php
							$qty_total = 0;
							foreach ($this->products as $product) {
								$qty_total += $product->qty;

								$variant = $variant_type = '';
								if (isset($product->variant_id)) {
									$variant = $variant_mapper->find($product->variant_id);
									$variant_type = $variant_type_mapper->find($variant->product_variant_type_id);
								}
							?>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									<?php echo ($variant)?$variant->sku:$product->sku?>
								</td>
								<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									<?php echo ($variant)?$variant->title:$product->title?>
									<?php if (isset($product->variant_id)) { ?>
										(<?php echo $variant_type->title?>)
									<?php } ?>
								</td>
								<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									<?php echo $product->qty?>
								</td>
								<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									$<?php echo number_format($product->paid_price,2)?>
								</td>
							</tr>
							<?php } ?>

						</table>
						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td height="16px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;hyphens:auto;line-height:16px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									&#xA0;
								</td>
							</tr>
							</tbody>
						</table>
						<hr>
						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td height="30px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:30px;font-weight:400;hyphens:auto;line-height:30px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									&#xA0;
								</td>
							</tr>
							</tbody>
						</table>

						<h4 style="Margin:0;Margin-bottom:10px;color:inherit;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:24px;font-weight:400;line-height:1.3;margin:0;margin-bottom:10px;padding:0;text-align:left;word-wrap:normal">
							Tracking Number(s)</h4>

						<table style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tr style="padding:0;text-align:left;vertical-align:top">
								<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
									Service
								</th>
								<th style="Margin:0;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;line-height:1.3;margin:0;padding:0;text-align:left">
									Tracking Number
								</th>
							</tr>

							<?php
							$tracking_parser = new Cny_View_Helper_TrackingNumberParser();
							foreach ($this->tracking_numbers as $k => $tracking_number) {
								$detail = $tracking_parser->getDetails($tracking_number);
								?>
								<tr style="padding:0;text-align:left;vertical-align:top">
									<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
										<?php echo $detail['service']?>
									</td>
									<td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:<?php echo $this->template_data['settings']['font_size'] ?>;font-weight:400;hyphens:auto;line-height:1.3;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
										<a href="<?php echo $detail['url'] ?>" target="_blank"><?php echo $tracking_number ?></a>
									</td>
								</tr>
							<?php
							}
							?>
						</table>

						<table class="spacer" style="border-collapse:collapse;border-spacing:0;padding:0;text-align:left;vertical-align:top;width:100%">
							<tbody>
							<tr style="padding:0;text-align:left;vertical-align:top">
								<td height="30px" style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:<?php echo $this->template_data['settings']['text_color'] ?>;font-family:<?php echo $this->template_data['settings']['font_family'] ?>,sans-serif;font-size:30px;font-weight:400;hyphens:auto;line-height:30px;margin:0;mso-line-height-rule:exactly;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
									&#xA0;
								</td>
							</tr>
							</tbody>
						</table>
					</th>
				</tr>
			</table>
		</th>
	</tr>
	</tbody>
</table>

<?php echo $this->partial('emails/partials/bottom.phtml', array('template_data'=>$this->template_data))?>
