
<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="" onsubmit="pullReport(this)">
				<div class="form-group col-sm-12">
					<?php echo $this->formSelect(
					        'building',
                            '',
                            ['class'=>'form-control'],
                            $this->buildings_list
                    )?>
                    <input type="hidden" name="type" value="rentcafe"/>
                    <button type="submit" value="rentcafe" class="btn btn-primary">Generate RentCafe Report</button>
                </div>
            </form>
            <form method="get" action="" onsubmit="pullReport(this)">
				<div class="form-group col-sm-12">
					<?php echo $this->formSelect(
					        'building',
                            '',
                            ['class'=>'form-control'],
                            $this->buildings_list
                    )?>
                    <input type="hidden" name="type" value="goldfarb"/>
                    <button type="submit" class="btn btn-primary">Generate Website Report</button>
                </div>
            </form>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
    var test;
    var buildings = <?php echo json_encode($this->buildings)?>;
	$(document).ready(function() {

	});
	function pullReport(form)
    {
        event.preventDefault();
        test = form;
        var building = form.elements['building'].value;
        if (building === '') {
            return false;
        }
        var type = form.elements['type'].value;
        if (type === '') {
            return false;
        }
        if (buildings[building] === undefined) {
            return false;
        }
        var region = buildings[building].region;
        if (region === '') {
            return false;
        }

        var feed_url = "/custom/feed/audit/region/" + region + "/building/" + building + "/type/" + type + "/";
        console.log(feed_url);
        location.href = feed_url;
        return true;
    }
</script>
