<?php 
$item = $this->item;
?>

<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2><?php echo ($this->cmd=='add')?'Add COI Set':'Edit COI Set'?></h2>

			<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
						<?php
						foreach ($this->errors as $error) {
							echo "<li>".$error."</li>";
						}
						?>
					</ul>
				</div>
			<?php } ?>

		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/coi/list"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results" id="coiset">
			<?php echo $this->form?>	
		</div>
	</div>
</div>
<?php
/*
			<table class="table table-striped" id="docsAdd">
				<tbody>
					<tr>
					<form name="docUploader" id="docUploader" method="POST">
					<input type="hidden" name="docId" value="<?=$item['id']?>">
					<input type="hidden" name="docDocs" value="<?=htmlspecialchars($item['docs'], ENT_QUOTES, 'UTF-8');?>">
					
					<td>Add New Document:</td>
					<td>
					<span class="col-sm-4"><input type="text" name="docName" class="form-control" placeholder="Document Name"></span>
					<span class="col-sm-4"><input type="file" name="docFile"></span>
					</td>
					<td class="text-center hidden-xs"><input type="submit" value="Submit" id="docSubmit"></td>
					
					</form>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<?php
	}
	?>
	<div id="openhouse-block" class="hidden-xs m-t-30"></div>
	<div id="image-block" class="hidden-xs m-t-30"></div>
</div>
*/
?>
<script src="https://cdn.jsdelivr.net/npm/wickedpicker@0.4.3/dist/wickedpicker.min.js" integrity="sha256-J6UQjzPUxbvA3vvAasHb1Jez5TKdzWTw0hPCizX+jCY=" crossorigin="anonymous"></script>
<?php
/*
<script>
function escapeHtml(text) {
  var map = {
    '&': '&amp;',
    '<': '&lt;',
    '>': '&gt;',
    '"': '&quot;',
    "'": '&#039;'
  };
  
  return text.replace(/[&<>"']/g, function(m) { return map[m]; });
}
$(document).ready(function(){
	var $name = $('input[name=name]').val();
	if($name){
	$('button.btn-save').prop('disabled', false);
	}
	else{
	$('button.btn-save').prop('disabled', true);
	}
	$(document).on('change', 'input[name=name]',function(){
		var $name = $('input[name=name]').val();
	if($name){
	$('button.btn-save').prop('disabled', false);
	}
	else{
	$('button.btn-save').prop('disabled', true);
	}
	});
	$(document).on('click', '.confirmdelete',function(e){
		e.preventDefault();
		e.stopPropagation();	
		var $uri = '/admin/coi/deletedoc';
		var $id = $('input[name=docId]').val();
		var $delete = $(this).attr('data-file');
		var $docjson = $('input[name=docDocs]').val();

		var $row = $(this).parent().parent('tr');
		
		var r = confirm("Are you sure you wish to delete this file?");
       		if(r){
				$.post($uri, {docId:$id,docDelete:$delete,docDocs:$docjson},function(data){
					if(data.indexOf('SUCCESS:') >= 0){
						var $newJson = escapeHtml(data.split('SUCCESS: ')[1]);
						$('input[name=docDocs]').val($newJson);
						$row.fadeOut();	
					}
					else{
						alert(data);
					}
					console.log(data);
				});
			}
	});
	$(document).on('click', '#docSubmit', function(e){
		e.preventDefault();
		e.stopPropagation();
		var $uri = '/admin/coi/uploader';
		var $name = $('input[name=docName]').val();
		var $file = $('input[name=docFile]').val().split('\\').pop();
		if(!$name){
		$name = $file;
		}
        var formData = new FormData($('form#docUploader')[0]);
        var $rowcount = parseInt($('#docsTable > tbody > tr:last-child td:first-of-type').text());
       if(isNaN($rowcount)){
       $rowcount = 0;
       }
        $.ajax({
            url: $uri,
            type: 'POST',
            xhr: function() {
                var myXhr = $.ajaxSettings.xhr();
                return myXhr;
            }, 
            success: function (data) {
					if(data.indexOf('SUCCESS:') >= 0){
						var $newJson = escapeHtml(data.split('SUCCESS: ')[1]);
						$('input[name=docDocs]').val($newJson);
						var $rownum = $rowcount + 1;
						$html ='<tr><td>'+$rownum+'</td><td><a href="/userFiles/uploads/coi/'+$file+'">'+$name+'</a></td><td class="text-center hidden-xs"><a data-file="'+$file+'" href="#" title="Delete" class="confirmdelete"><span class="sr-only">Delete</span><span class="fa fa-minus-circle"></span></a></td></tr>'
						$('#docsTable').append($html).fadeIn();
					}
					else{
						alert(data);
					}
    		},
    		data: formData,
            cache: false,
            contentType: false,
            processData: false        
    	});
	});
});
</script>
<?php
*/
?>