<?php	
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
$coidocs = (array) $this->docs;
/*
?>
<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="row">
				<div class="col-sm-10 hidden-xs">
				</div>
				<div class="col-sm-2 col-xs-12">	
					<a href="/admin/coi/editdesc" class="btn btn-primary">Edit</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12" style="margin-bottom:20px;">
				<div class="row">
					<strong>Title:</strong>
				</div>			
				<div class="row">
					<?php echo $this->coi{0}->title?>
				</div>
			</div>
			<div class="col-sm-12" style="margin-bottom:20px;">
				<div class="row">
					<strong>Summary:</strong>
				</div>			
				<div class="row">
					<?php echo nl2br($this->coi{0}->summary)?>
				</div>
			</div>
			<div class="col-sm-12" style="margin-bottom:20px;">
				<div class="row">
					<strong>Download Page Instructions:</strong>
				</div>			
				<div class="row">
					<?php echo nl2br($this->coi{0}->instructions)?>
				</div>
			</div>
		</div>
	</div>
</div>
<?php
*/
?>
<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="post" action="savesummary">
				<div class="form-group col-sm-12">
					<label>Title</label>
					<input type="text" name="title" class="form-control" value="<?php echo $this->coi{0}->title?>">
				</div>
				<div class="form-group col-sm-12">
					<label>Summary</label>
					<textarea name="summary" class="form-control tinymce" rows="8"><?php echo $this->coi{0}->summary?></textarea>
				</div>
				<div class="form-group col-sm-12">
					<label>Download Page Instructions</label>
					<textarea name="instructions" class="form-control tinymce" rows="8"><?php echo $this->coi{0}->instructions?></textarea>
				</div>
				<div class="col-sm-12">
					<input type="hidden" value="1" name="id">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
						<tr>
							<td>Documents</td>
							
							<td class="col-sm-2 text-center">Edit</td>
						</tr>
					</thead>
					<tbody>
					<?php
					foreach($coidocs as $key=>$value){
					?>
						<tr>
							<td><a href="<?php echo $value->link?>"><?php echo strtoupper($value->document).(($value->amount >= 1)? " : Limit $".$value->amount." MILLION":'')?></a></td>
							<td class="col-sm-2 text-center"><a class="docedit" data-value="<?php echo $value->id?>" href="#" title="Edit"><span class="sr-only">Edit</span><span class="fa fa-pencil-square-o"></span></a></td>
						</tr>
					<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>	
<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-10">
					<label>Search for Trade:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>
				<div class="col-sm-2 col-xs-12" style="margin-top:25px;">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">		
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<?php
						unset($_GET['sort']);
						unset($_GET['dir']);
						$qs = http_build_query($_GET);
						?>
						<th><a href="/admin/coi/list/sort/name/dir/<?php echo $dir?>?<?php echo $qs?>">Trade Name</a></th>
						<th><a href="/admin/coi/list/sort/limit/dir/<?php echo $dir?>?<?php echo $qs?>">Limit</a></th>
						
						
							<th class="text-center">Delete</th>
						
							<th class="text-center">Edit</th>
						
					</tr>
					</thead>
					<tbody>
					<?php
					foreach($this->list as $key => $val) { ?>
						<tr>
							<td><?php echo $val['name']?></td>
							<td><?php echo '$'.$val['limit'].' Million'?></td>
						
								<td class="text-center hidden-xs"><a href="/admin/coi/delete/id/<?php echo $val['id']?>" title="Delete" class="confirm-delete"><span class="sr-only">Delete</span><span class="fa fa-minus-circle"></span></a></td>
							
								<td class="text-center"><a href="/admin/coi/edit/id/<?php echo $val['id']?>" title="Edit"><span class="sr-only">Edit</span><span class="fa fa-pencil-square-o"></span></a></td>
							
						</tr>
						<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
		
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="row">
				<div class="col-sm-10 hidden-xs">
					<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
				</div>
				<div class="col-sm-2 col-xs-12">	
						<a href="/admin/coi/add" class="btn btn-success">Add Trade</a>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	var wysiwyg_settings = {height:"400px"}

	$(function() {
		$(".datepicker").datepicker({dateFormat:'yy-mm-dd'});

		window.cny.wysiwyg();

		$('#modal').off('hidden.bs.modal');

		$("#contentFormSave.btn-save").on("click", function(){
			$("#contentForm").submit();
		});
	});

	$(document).ready(function() {
		$('.docedit').click(function(e){
			e.preventDefault();
			var $id = $(this).data('value');
			var $imageform = '<div id="blackout" style="position:fixed;top:0px;left:0px;right:0px;width:100%;height:100%;background:rgba(0,0,0,0.7);z-index:1000"><div id="formarea"><div id="closeblackout" class="fa fa-times-circle" style="height:80px;width:80px;position:absolute;top:20px;right:20px;color:#fff;font-size:80px;text-align:center;cursor:pointer;"></div><form id="imagemodal" style="width:300px;height:200px;background:#fff;border-radius:5px;padding:20px;top:100px;left:calc(50% - 170px);position:relative;"><input type="hidden" value="'+$id+'" name="id"> <input type="file" name="file" class="form-control" style="margin-top:30px;"><button type="submit" class="btn btn-primary" style="margin-top:20px;margin-bottom:50px;">Save</button></form></div></div>';
			$('body').append($imageform);
		});
		$(document).on("click","#imagemodal button[type=submit]", function(e){
			e.preventDefault();
//			var $file = $('input[type=file]');
//			var $extension = $file.substr( ($file.lastIndexOf('.') +1) );

			$.ajax({
    			url: '/admin/coi/uploader',
    			type: 'POST',
    			data: new FormData($('form#imagemodal')[0]),
    			cache: false,
    			contentType: false,
    			processData: false,
    			/*
    			xhr: function () {
      				var myXhr = $.ajaxSettings.xhr();
      				if (myXhr.upload) {
        				myXhr.upload.addEventListener('progress', function (e) {
          					if (e.lengthComputable) {
            					$('progress').attr({
              						value: e.loaded,
              						max: e.total,
            						});
          					}
        				}, false);
      				}
   		   			return myXhr;
    			},
    			*/
            	success: function (data) {
            		console.log(data);
            		$("#blackout").fadeOut();
                	alert(data);
                	window.location.href = "/admin/coi/list";
            	}
  			});

		});
		
		$(document).on("click","#closeblackout",function(){
			$('#blackout').fadeOut();
		});
	});
</script>
