<?php if ($this->flashMessages && $this->flashMessages->getMessages()) { ?>
	<div class="alert alert-dismissible" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

		<?php foreach ($this->flashMessages->getMessages() as $message) {
			echo $message;
		} ?>

	</div>
<?php } ?>

<?php if ($this->flashMessages && $this->flashMessages->getMessages('info')) { ?>
	<div class="alert alert-dismissible well well-lg" role="alert">
		<button type="button" class="close m-r-10" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

		<div class="text-center">
			<h3 class="text-info">
				<?php foreach ($this->flashMessages->getMessages('info') as $message) {
					echo $message;
				} ?>
			</h3>
		</div>
	</div>
<?php } ?>

<?php if ($this->flashMessages && $this->flashMessages->getMessages('success')) { ?>
	<div class="alert alert-dismissible well well-lg" role="alert">
		<button type="button" class="close m-r-10" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

		<div class="text-center">
			<h3 class="text-success">
				<?php foreach ($this->flashMessages->getMessages('success') as $message) {
					echo $message;
				} ?>
			</h3>
		</div>
	</div>
<?php } ?>

<?php if ($this->flashMessages && $this->flashMessages->getMessages('error')) { ?>
	<div class="alert alert-dismissible well well-lg" role="alert">
		<button type="button" class="close m-r-10" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

		<div class="text-center">
			<h3 class="text-danger">
				<?php foreach ($this->flashMessages->getMessages('error') as $message) {
					echo $message;
				} ?>
			</h3>
		</div>
	</div>
<?php } ?>
