<?php
if(!function_exists("renderSubmenu")) {
	function renderSubmenu($page, $depth)
	{
		//$layout = Zend_Layout::getMvcInstance();
		//$view = $layout->getView();
		//$test = $page->getPrivilege();

		$mapper = new Admin_Model_Mapper_SiteSettingValue();

		if ($page->isVisible()) {
			if ($page->hasPages()) {
				$subpages = $page->getPages();

				$class = 'second';
				if ($depth > 1 && count($subpages) > 0) {
					$class = 'third';
				}

				$page->setClass($page->getClass() . " drop-arrow waves-effect");
			} else {
				$class = '';
			}

			$render = true;
			if ($page->get('resource') == 'ecommerce') {
				$render = false;

				if ($mapper->getValueByCode('ecomm_status') == 'Enabled') {
					$render = true;
				}
			} elseif ($page->get('resource') == 'product_reviews') {
				$render = false;

				if ($mapper->getValueByCode('product_reviews_status') == 'Enabled') {
					$render = true;
				}
			} elseif ($page->get('resource') == 'faq') {
				$render = false;

				if ($mapper->getValueByCode('faq_status') == 'Enabled') {
					$render = true;
				}
			} elseif ($page->get('resource') == 'videos') {
				$render = false;

				if ($mapper->getValueByCode('videos_status') == 'Enabled') {
					$render = true;
				}
			} elseif ($page->get('resource') == 'video_platform') {
				$render = false;

				if ($mapper->getValueByCode('video_platform_status') == 'Enabled') {
					$render = true;
				}
			} elseif ($page->get('resource') == 'zype') {
				$render = false;

				if ($mapper->getValueByCode('zype_api_key_admin') != '' || $mapper->getValueByCode('zype_api_key_read_only') != '') {
					$render = true;
				}
			}

			if ($render) {
				$active = ($page->getActive()) ? "active" : "";
				echo '<li class="' . $active . '">';

				//echo $view->getHelper('navigation')->menu()->htmlify($page);
				echo renderItem($page);

				if ($page->hasPages()) {
					echo '<ul class="nav nav-' . $class . '-level">';
					foreach ($subpages as $subpage) {
						renderSubmenu($subpage, $depth + 1);
					}
					echo '</ul>';
				}
				echo '</li>';
			}
		}
	}
}

if(!function_exists("renderItem")) {
	function renderItem($page)
	{
		$acl = Zend_Registry::get('admin_acl');
		$auth = Zend_Auth::getInstance()->setStorage(new Zend_Auth_Storage_Session('admin'));
		$allowed = $acl->isAllowed($auth->getIdentity()->role, $page->getResource(), $page->getPrivilege());

		if (!$page->get('privilege') || $allowed) {
			$dropdown = ($page->getPages()) ? ' <i class="fal fa-angle-down arrow"></i><i class="fal fa-angle-right arrow"></i>' : "";
			$target = (!is_null($page->getTarget())) ? ' target="' . $page->getTarget() . '"' : '';
			echo '<a class="' . $page->getClass() . '" href="' . $page->getUri() . '" ' . $target . ' ' . $page->get('data-attributes') . '><i class="' . $page->get('icon') . '"></i> <span class="hide-menu">' . $page->getLabel() . $dropdown . '</span></a>';
		}
	}
}

//render Nav
echo '';
/** @var Zend_Navigation_Page_Uri $page */
foreach ($this->container as $page) {
	renderSubmenu($page, 0);
}
echo '';
