.sub-nav {
  &__back{
    font-size: px2em(13, 16);
    color:$gold;
  }
  &__actions {
    &__item {
      width: px2em(50, 16);
      height: px2em(45, 16);
      @include gotham-book;
      text-decoration: none;
      text-transform: uppercase;
      font-size: px2em(10, 16);
      color: $gold;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      .icon:before {
        font-size: px2em(24, 16);
        color: $gold;
      }
      @media screen and (max-width: $mobile-max) {
        color: $gold;
        font-size: px2em(11, 16);
        width: auto;
        height: auto;
        display: inline-block;

        .icon {
          display: none;
        }
      }
    }
  }
}
