.sub-nav {
  &__back {
    @include gotham-book;
    text-decoration: none;
    text-transform: uppercase;
    color: $gold;
    font-size: px2em(13, 16);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .icon, i {
      padding-right: px2em($s-spacing, 16);

      &:before {
        font-size: px2em(24, 16);
        color: $gold;
      }
    }

    .mobile-label {
      display: none;
    }

    @media screen and (max-width: $tablet-max) {
      .desktop-label {
        display: none;
      }

      .mobile-label {
        display: inline-block;
      }
    }

    @media screen and (max-width: $mobile-max) {
      font-size: px2em(11, 16);
      padding-right: px2em($normal-spacing, 16);

      .icon {
        padding-right: px2em($xs-spacing, 16);
        &:before {
          font-size: px2em(11, 16);
          line-height: 1.5;
          color: $gold;
        }
      }

    }
  }
}
