<div class="white-box">

	<div class="row">
		<div class="col-sm-8">
			<h2>View API Key</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/api-key/list"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Name:</td>
						<td>
							<?php echo $this->item->title?>
						</td>
					</tr>
					<tr>
						<td>API Key:</td>
						<td>
							<?php echo $this->item->api_key?>
						</td>
					</tr>
					<tr>
						<td>Status:</td>
						<td>
							<?php echo $this->item->status?>
						</td>
					</tr>
					<tr>
						<td>Created:</td>
						<td>
							<?php echo ($this->item->created)?$this->UTCtoTZ($this->item->created,"M. j, Y g:ia",$this->site_timezone):""?>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
