<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
	<table  class="table table-striped">
		<tbody>

			<?php echo $this->element->id?>
			<?php echo $this->element->cmd?>
			<?php echo $this->element->current_user_role?>

			<?php echo $this->element->first_name?>
			<?php echo $this->element->last_name?>
			<?php echo $this->element->email?>
			<?php //echo $this->element->username?>
			<?php echo $this->element->password?>

			<?php if ($this->element->current_user_role->getValue() == 'admin') {?>
				<?php echo $this->element->member_role?>
				<?php echo $this->element->role?>
				<?php echo $this->element->status?>
			<?php }else {?>
				<input type="hidden" name="role" value="<?php echo $this->element->role->getValue()?>">
				<input type="hidden" name="status" value="<?php echo $this->element->status->getValue()?>">
			<?php } ?>
		</tbody>
	</table>

	<h3>Profile</h3>

	<table  class="table table-striped">
		<tbody>
			<?php if ($this->element->email->getValue()) {?>
				<tr>
					<td><label>Current Avatar:</label></td>
					<td>
						<img src="<?php $avatar = new Cny_View_Helper_Avatar(); echo $avatar->avatar($this->element->email->getValue()) ?>">
					</td>
					<td></td>
				</tr>
			<?php } ?>
			<tr>
				<td><label>New Avatar Upload:</label></td>
				<td>
					<div class="col-sm-6 text-center">
						<div id="profile-cropper">
							<img src="">
						</div>

						<div id="ajaxUpload">
							<div id="previewupload">Upload</div>
						</div>
					</div>
				</td>
				<td></td>
			</tr>

			<?php echo $this->element->crop_data?>
			<?php echo $this->element->image?>
			<?php echo $this->element->company?>
			<?php echo $this->element->date_of_birth?>
			<?php echo $this->element->phone?>
			<?php echo $this->element->address?>
			<?php echo $this->element->address2?>
			<?php echo $this->element->city?>
			<?php echo $this->element->region?>
			<?php echo $this->element->postcode?>
			<?php echo $this->element->country?>
			<?php echo $this->element->website?>
			<?php echo $this->element->facebook_url?>
			<?php echo $this->element->twitter_url?>
			<?php echo $this->element->instagram_url?>
			<?php echo $this->element->youtube_url?>
			<?php echo $this->element->linkedin_url?>

		</tbody>
	</table>

	<br/><br/>
	<table  class="table ">
		<tbody>
			<tr id="submit-btn">
				<td></td>
				<td><button type="submit" class="btn btn-primary btn-lg btn-save">Save</button></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</form>

<script>
	$(document).ready(function() {
		$( ".datepicker" ).datepicker({
			dateFormat: 'yy-mm-dd',
			changeMonth: true,
			changeYear: true,
			yearRange: "c-120:c"
		});

		$('#profile-cropper > img').hide();
		$("#previewupload").uploadFile({
			url:"/admin/users/avatar-upload",
			fileName:"image",
			acceptFiles:"image/*",
			maxFileCount:1,
			sequential:false,
			onSuccess: function(files,data,xhr,pd) {
				$("#ajaxUpload").hide();

				var data = JSON.parse(data);
				$("#image").val(data.image);
				$('#profile-cropper > img').attr('src',data.image).show();
				$('#profile-cropper > img').cropper({
					aspectRatio: 1,
					cropBoxResizable: false,
					//preview: '.crop-preview',
					//data: <?php //echo (isset($this->data->crop_data))?$this->data->crop_data:"''"?>,
					crop: function() {
						$("#crop_data").val(JSON.stringify($('#profile-cropper > img').cropper("getData")));
					}
				});
			}
		});

	})
</script>
