<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
	<table  class="table table-striped">
		<tbody>

		<?php echo $this->element->cmd?>
		<?php echo $this->element->id?>

		<?php echo $this->element->name?>
		<?php echo $this->element->code?>
		<?php echo $this->element->parent_id?>

		<?php echo $this->element->block_id?>

		<tr>
			<td><label>Thumbnail Image:</label></td>
			<td>
				<img src="<?php echo $this->element->main_image->getValue()?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#main_image_path" id="main_image">
				<input type="hidden" class="form-control" name="main_image" id="main_image_path" value="<?php echo $this->element->main_image->getValue()?>">
				<button data-url="/filemanager/dialog.php?type=1&field_id=main_image_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
				<button type="button" class="btn btn-primary border-radius btn-clear_image" data-rel="main_image">Remove Image</button>
			</td>
			<td></td>
		</tr>
		<?php echo $this->element->main_image_alt_tag?>

		<tr>
			<td><label>Banner Image:</label></td>
			<td>
				<img src="<?php echo $this->element->banner_image->getValue()?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#banner_image_path" id="banner_image">
				<input type="hidden" class="form-control" name="banner_image" id="banner_image_path" value="<?php echo $this->element->banner_image->getValue()?>">
				<button data-url="/filemanager/dialog.php?type=1&field_id=banner_image_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
				<button type="button" class="btn btn-primary border-radius btn-clear_image" data-rel="banner_image">Remove Image</button>
			</td>
			<td></td>
		</tr>
		<?php echo $this->element->banner_image_alt_tag?>

		<tr>
			<td><label>Mobile Banner Image:</label></td>
			<td>
				<img src="<?php echo $this->element->banner_image->getValue()?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#banner_mobile_image_path" id="banner_mobile_image">
				<input type="hidden" class="form-control" name="banner_mobile_image" id="banner_mobile_image_path" value="<?php echo $this->element->banner_mobile_image->getValue()?>">
				<button data-url="/filemanager/dialog.php?type=1&field_id=banner_mobile_image_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
				<button type="button" class="btn btn-primary border-radius btn-clear_image" data-rel="banner_mobile_image">Remove Image</button>
			</td>
			<td></td>
		</tr>
		<?php echo $this->element->banner_mobile_image_alt_tag?>

		<?php echo $this->element->banner_alignment?>
		<?php echo $this->element->banner_force_fullwidth?>

		<?php echo $this->element->description?>
		<?php echo $this->element->description_position?>

		<?php echo $this->element->meta_title?>
		<?php echo $this->element->meta_keywords?>
		<?php echo $this->element->meta_description?>

		<?php echo $this->element->banner_display_status?>
		<?php echo $this->element->title_display_status?>
		<?php echo $this->element->title_display_position?>
		<?php echo $this->element->breadcrumb_display_status?>
		<?php echo $this->element->breadcrumb_display_position?>

		<?php echo $this->element->nav_display?>

		<?php echo $this->element->status?>

		<tr id="submit-btn">
			<td></td>
			<td><button type="submit" class="btn btn-primary btn-lg btn-save">Save</button></td>
			<td></td>
		</tr>
		</tbody>
	</table>
</form>
