<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
	<table class="table table-striped">
		<tbody>

		<?php echo $this->element->id?>
		<?php echo $this->element->cmd?>
		<?php echo $this->element->customer_id?>

		<?php echo $this->element->address_type?>
		<?php echo $this->element->default_address?>
		<?php echo $this->element->address_name?>
		<?php echo $this->element->first_name?>
		<?php echo $this->element->last_name?>
		<?php echo $this->element->company?>
		<?php echo $this->element->address1?>
		<?php echo $this->element->address2?>
		<?php echo $this->element->city?>
		<?php echo $this->element->region?>
		<?php echo $this->element->postcode?>
		<?php echo $this->element->country?>
		<?php echo $this->element->phone?>

		<tr id="submit-btn">
			<td></td>
			<td>
				<button type="reset" class="btn btn-warning btn-lg btn-cancel">Cancel</button>
				<button type="submit" class="btn btn-primary btn-lg btn-save">Save</button>
			</td>
			<td></td>
		</tr>

		</tbody>
	</table>
</form>
