<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
	<table class="table table-striped">
		<tbody>

		<?php echo $this->element->id?>
		<?php echo $this->element->cmd?>
		<?php echo $this->element->product_id?>

		<tr>
			<td><label>Attribute:</label></td>
			<td>
				<div class="col-xs-8">
					<?php /*<input type="text" class="form-control" name="_product_attribute_id" id="_product_attribute_id" value="<?php echo $this->element->product_attribute_id->getValue()?>">*/?>
					<?php echo $this->element->product_attribute_id?>
				</div>
				<div class="col-xs-4">
					<button class="btn btn--black border-radius modal-trigger" data-target="#modal" data-title="Create New Attribute" data-url="/admin/product/attribute-add" type="button">Create New Attribute</button>
				</div>
			</td>
			<td></td>
		</tr>

		<?php //echo $this->element->value?>
		<tr>
			<td><label>Value:</label></td>
			<td id="attribute_input">
		<?php
		$mapper = new Admin_Model_Mapper_ProductAttribute();
		$attribute = $mapper->find($this->element->product_attribute_id->getValue());
		$field_type = (isset($attribute->field_type))?$attribute->field_type:'text';

		switch ($field_type) {
			case "textarea";
				echo $this->partial('/product/partials/textarea.phtml', array('value'=>$this->element->value->getValue()));
				break;
			case "image":
				echo $this->partial('/product/partials/image.phtml', array('value'=>$this->element->value->getValue()));
				break;
			case "select":
				echo $this->partial('/product/partials/select.phtml', array('value'=>$this->element->value->getValue(),'options'=>json_decode($this->element->options->getValue())));
				break;
			case "wysiwyg";
				echo $this->partial('/product/partials/wysiwyg.phtml', array('value'=>$this->element->value->getValue()));
				break;
			case "text":
			default:
				echo $this->partial('/product/partials/text.phtml', array('value'=>$this->element->value->getValue()));
		}
		?>
			</td>
			<td></td>
		</tr>

		<tr id="submit-btn">
			<td></td>
			<td>
				<button type="reset" class="btn btn-warning btn-lg btn-cancel">Cancel</button>
				<button type="submit" class="btn btn-primary btn-lg btn-save">Save</button>
			</td>
			<td></td>
		</tr>

		</tbody>
	</table>
</form>
