<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
	<table  class="table table-striped">
		<tbody>

		<?php echo $this->element->id?>
		<?php echo $this->element->cmd?>

		<?php echo $this->element->title?>
		<?php echo $this->element->internal_name?>
		<?php echo $this->element->trigger?>
		<?php echo $this->element->code?>
		<?php echo $this->element->type?>
		<?php echo $this->element->threshold?>
		<?php echo $this->element->start_date?>
		<?php echo $this->element->start_time?>
		<?php echo $this->element->end_date?>
		<?php echo $this->element->end_time?>
		<?php echo $this->element->notes?>
		<?php echo $this->element->status?>

		<tr id="submit-btn">
			<td></td>
			<td><button type="submit" class="btn btn-primary btn-lg btn-save">Save</button></td>
			<td></td>
		</tr>
		</tbody>
	</table>
</form>
