<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
	<table  class="table table-striped">
		<tbody>

		<?php echo $this->element->cmd?>
		<?php echo $this->element->id?>
		<?php echo $this->element->product_variant_id?>
		<?php echo $this->element->sort_order?>

		<tr>
			<td><label>Video<br/><small>YouTube / Direct MP4 URL</small>:</label></td>
			<td>
				<?php
				$vp = new Cny_Model_VideoParser();
				if ($this->element->video_src->getValue()) {
					if ($video_url = $vp->getEmbedUrl($this->element->video_src->getValue())) {
						?>
						<iframe width="100%" frameborder="0" src="<?php echo $video_url?>"></iframe>
					<?php }else {?>
						<video src="<?php echo $this->element->video_src->getValue()?>" class="embed-responsive-item" controls></video>
					<?php } ?>
				<?php } ?>

				<input type="text" class="form-control" name="video_src" id="video_src" value="<?php echo $this->element->video_src->getValue()?>">
			</td>
			<td></td>
		</tr>

		<tr>
			<td><label>Image:</label></td>
			<td>
				<img src="<?php echo $this->element->image_src->getValue()?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#product_video_image_path" id="product_video_image">
				<input type="hidden" class="form-control" name="video_image_src" id="product_video_image_path" value="<?php echo $this->element->image_src->getValue()?>">
				<button data-url="/filemanager/dialog.php?type=1&field_id=product_video_image_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
			</td>
			<td></td>
		</tr>

		<?php echo $this->element->alt_text?>
		<?php echo $this->element->primary?>
		<?php echo $this->element->secondary?>
		<?php echo $this->element->tags?>

		<tr id="submit-btn">
			<td></td>
			<td>
				<button type="reset" class="btn btn-warning btn-lg btn-cancel">Cancel</button>
				<button type="submit" class="btn btn-primary btn-lg btn-save">Save</button>
			</td>
			<td></td>
		</tr>
		</tbody>
	</table>
</form>
