<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
	<table  class="table table-striped">
		<tbody>

		<?php echo $this->element->cmd?>
		<?php echo $this->element->id?>
		<?php echo $this->element->product_variant_id?>
		<?php echo $this->element->sort_order?>

		<tr>
			<td><label>File<br/>:</label></td>
			<td>
				<?php if ($this->element->media_src->getValue()) { ?>
					<a href="<?php echo $this->element->media_src->getValue()?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#product_media_path" id="product_media" target="_blank">Download</a><br/>
				<?php } ?>

				<input type="hidden" class="form-control" name="media_src" id="product_media_path" value="<?php echo $this->element->media_src->getValue()?>">
				<button data-url="/filemanager/dialog.php?type=2&field_id=product_media_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select File</button>
			</td>
			<td></td>
		</tr>

		<?php echo $this->element->title?>
		<?php echo $this->element->tags?>

		<tr id="submit-btn">
			<td></td>
			<td>
				<button type="reset" class="btn btn-warning btn-lg btn-cancel">Cancel</button>
				<button type="submit" class="btn btn-primary btn-lg btn-save">Save</button>
			</td>
			<td></td>
		</tr>
		</tbody>
	</table>
</form>
