<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
	<table  class="table table-striped">
		<tbody>

		<?php echo $this->element->cmd?>
		<?php echo $this->element->id?>
		<?php echo $this->element->video_platform_video_id?>
		<?php echo $this->element->public_url?>

		<?php echo $this->element->label?>

		<?php if ($this->element->public_url->getValue()) {?>
			<tr>
				<td><label>Current File:</label></td>
				<td>
					<a href="<?php echo $this->element->public_url->getValue()?>" target="_blank"><?php echo $this->element->public_url->getValue()?></a>
				</td>
				<td></td>
			</tr>
		<?php } ?>
		<?php echo $this->element->file?>

		<?php echo $this->element->offset_seconds?>

		<?php echo $this->element->kind?>
		<?php echo $this->element->srclang?>
		<?php echo $this->element->default_track?>

		<tr id="submit-btn">
			<td></td>
			<td>
				<button type="reset" class="btn btn-warning btn-lg btn-cancel">Cancel</button>
				<button type="submit" class="btn btn-primary btn-lg btn-save">Save</button>
			</td>
			<td></td>
		</tr>
		</tbody>
	</table>
</form>

<script>
	$(document).ready(function() {
		<?php if ($this->element->kind->getValue() == 'subtitles' || $this->element->kind->getValue() == 'captions') {?>
			$("#offset_seconds").parent().parent().show();
		<?php }else {?>
			$("#offset_seconds").parent().parent().hide();
		<?php } ?>

		$("#kind").on("change", function(){
			if ($(this).val() == 'subtitles' || $(this).val() == 'captions') {
				$("#offset_seconds").parent().parent().show();
			}else {
				$("#offset_seconds").parent().parent().hide();
			}
		});
	});
</script>
