<form action="/admin/video-platform/item-chunk-upload" id="trailer-file-upload" class="dropzone video-upload">
	<div class="dz-message">
		<span class="far fa-video-plus fa-2x"></span><br>Click Here <br/> or <br/> Drag &amp; Drop Video File
	</div>
</form>
<div id="trailer-video-processing" class="container video-processing" style="display:none;">
	<div class="row">
		<div class="col-sm-12 text-center">
			<h3>
				<i class="fas fa-2x fa-spin fa-cog"></i>
				Processing Video. Please be patient.
			</h3>
		</div>
	</div>
</div>

<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
	<?php echo $this->element->id?>
	<?php echo $this->element->cmd?>
	<?php echo $this->element->video_platform_video_id?>
	<?php echo $this->element->filename?>
	<?php echo $this->element->filename_internal?>
	<?php echo $this->element->filesize?>
	<?php echo $this->element->mimetype?>
	<?php echo $this->element->etag?>
	<?php echo $this->element->transcode_status?>

	<input type="hidden" name="new_upload" id="new_upload" value="">
	<input type="hidden" name="multipart_upload_id" id="multipart_upload_id" value="">
	<input type="hidden" name="hash" id="hash" value="">
	<input type="hidden" name="key" id="key" value="">

	<table  class="table table-striped">
		<tbody>
		<?php if ($this->element->filename_internal->getValue()) {?>
			<tr>
				<td><label>Video:</label></td>
				<td>
					<?php
					$s3 = new Application_Model_AmazonS3();
					$video_url = $s3->getVideoTrailerURL($this->element->id->getValue());

					//get thumbnail image either from custom or selected
					//TODO - currently only custom thumbnail exists
					//$thumbnail_url = ($this->element->thumbnail_src->getValue())?$this->element->thumbnail_src->getValue():(($this->element->video_platform_video_thumbnail_id)->getValue()?'':null);
					?>
					<div class="embed-responsive embed-responsive-16by9">
						<video
								class="embed-responsive-item mediaplayer cny-lvp"
								controls
								preload="auto"
								poster="<?php //echo $thumbnail_url?>"
								data-setup="{}"
								src="<?php //echo $video_url?>"
						>
							<source src="<?php echo $video_url?>" type="video/mp4" />
						</video>
					</div>
				</td>
				<td></td>
			</tr>
		<?php }elseif ($this->element->embed_url->getValue()) { ?>
			<tr>
				<td><label>Video:</label></td>
				<td>
					<?php
					$vp = new Cny_Model_VideoParser();
					?>
					<div class="embed-responsive embed-responsive-16by9">
						<?php if ($video_url = $vp->getEmbedUrl($this->element->embed_url->getValue())) { ?>
							<iframe class="embed-responsive-item" width="100%" frameborder="0" src="<?php echo $video_url?>" allowfullscreen></iframe>
						<?php }else { ?>
							<video src="<?php echo $this->element->embed_url->getValue()?>" class="embed-responsive-item" controls></video>
						<?php } ?>
					</div>
				</td>
				<td></td>
			</tr>
		<?php } ?>

		<tr>
			<td colspan="3" class="text-center">
				Upload a trailer for the video <strong>OR</strong> use an existing video below as the trailer.
			</td>
		</tr>

		<?php echo $this->element->trailer_video_platform_video_id?>

		<tr>
			<td colspan="3" class="text-center">
				You can also enter the URL for a YouTube, Vimeo, or external MP4 trailer <strong>OR</strong>
				copy/paste the embed code provided by any external service.
				<br/><br/>
				<strong>NOTE:</strong> This will override any trailer file uploaded
			</td>
		</tr>

		<?php echo $this->element->embed_url?>
		<?php echo $this->element->embed_code?>

		<tr id="submit-btn">
			<td></td>
			<td>
				<button type="reset" class="btn btn-warning btn-lg btn-cancel">Cancel</button>
				<button type="submit" class="btn btn-primary btn-lg btn-save">Save</button>
			</td>
			<td></td>
		</tr>

		</tbody>
	</table>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.js" integrity="sha256-OG/103wXh6XINV06JTPspzNgKNa/jnP1LjPP5Y3XQDY=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.0/min/dropzone.min.css" integrity="sha256-AgL8yEmNfLtCpH+gYp9xqJwiDITGqcwAbI8tCfnY2lw=" crossorigin="anonymous" />

<script>
	Dropzone.autoDiscover = false;
	var chunk_part = 1;

	$(document).ready(function() {
		var myDropzone = new Dropzone("form#trailer-file-upload", {
			/*
			url: function(files) {
				return "/admin/video-platform/item-chunk-upload?p="+chunk_part
			},
			 */
			paramName: "file",
			chunking: true,
			forceChunking: true,
			chunkSize: 20000000, //20 mb 5mb minimum to work with S3
			parallelChunkUploads: false, //this is extremely bugging right now
			retryChunks: true,
			retryChunksLimit: 3,
			createImageThumbnails: false,
			maxFiles: 1,
			maxFilesize: null,
			acceptedFiles: 'video/*',
			accept: function(file, done) {
				let currentFile = file;

				$.ajax({
					url: "/admin/video-platform/item-chunk-init?dzuuid=" + currentFile.upload.uuid + "&filename=" + currentFile.name + "&file_size=" + currentFile.upload.total + "&mime_type=" + currentFile.type,
					success: function (data) {
						data = JSON.parse(data);

						if (data.status == 'error') {
							currentFile.accepted = false;
							myDropzone._errorProcessing([currentFile], data.info);

							done(data.info);
						}else {
							$("#<?php echo $this->element->getAttrib('id')?> input[name='multipart_upload_id']").val(data.upload_id);
							$("#<?php echo $this->element->getAttrib('id')?> input[name='hash']").val(data.hash);
							$("#<?php echo $this->element->getAttrib('id')?> input[name='key']").val(data.key);

							done();
						}
					},
					error: function (msg) {
						currentFile.accepted = false;
						myDropzone._errorProcessing([currentFile], msg.responseText);
					}
				});
			},
			chunksUploaded: function(file, done) {
				// All chunks have been uploaded. Perform any other actions
				let currentFile = file;

				$("form#trailer-file-upload").hide();
				$("#trailer-video-processing").show();

				// This calls server-side code to merge all chunks for the currentFile
				$.ajax({
					url: "/admin/video-platform/trailer-chunk-concat?id=<?php echo $this->element->id->getValue()?>&video_id=<?php echo $this->element->video_platform_video_id->getValue()?>&multipart_upload_id=" + $("#<?php echo $this->element->getAttrib('id')?> input[name='multipart_upload_id']").val() + "&key=" + $("#<?php echo $this->element->getAttrib('id')?> input[name='key']").val() + "&dzuuid=" + currentFile.upload.uuid + "&dztotalchunkcount=" + currentFile.upload.totalChunkCount + "&filename=" + currentFile.name + "&file_size=" + currentFile.upload.total + "&mime_type=" + currentFile.type,
					success: function (data) {
						data = JSON.parse(data);

						if (data.status == 'error') {
							currentFile.accepted = false;
							myDropzone._errorProcessing([currentFile], data.info);

							done(data.info);
						}else {
							$("#<?php echo $this->element->getAttrib('id')?> input[name='id']").val(data.video_id);
							$("#<?php echo $this->element->getAttrib('id')?> input[name='new_upload']").val('transcode');

							$("#<?php echo $this->element->getAttrib('id')?> input[name='filename']").val('');
							$("#<?php echo $this->element->getAttrib('id')?> input[name='filename_internal']").val('');
							$("#<?php echo $this->element->getAttrib('id')?> input[name='filesize']").val('');
							$("#<?php echo $this->element->getAttrib('id')?> input[name='mimetype']").val('');
							$("#<?php echo $this->element->getAttrib('id')?> input[name='etag']").val('');
							$("#<?php echo $this->element->getAttrib('id')?> input[name='transcode_status']").val('');

							$("button.btn-save").prop("disabled", true).html('Saving <i class="fa fa-spin fa-gear"></i>');
							$("#trailer-video-processing").hide();
							$("#<?php echo $this->element->getAttrib('id')?>").submit();

							done();
						}
					},
					error: function (msg) {
						currentFile.accepted = false;
						myDropzone._errorProcessing([currentFile], msg.responseText);
					}
				});
			}
		});
		myDropzone.on('sending', function(file, xhr, formData){
			//chunk_part++;

			formData.append('multipart_upload_id', $("#<?php echo $this->element->getAttrib('id')?> input[name='multipart_upload_id']").val());
			formData.append('key', $("#<?php echo $this->element->getAttrib('id')?> input[name='key']").val());
		}).on("error", function(file, errMsg){
			alert("Something went wrong: "+errMsg);
		}).on("canceled", function(file){
			$("button.btn-save").prop("disabled",false);
		}).on("addedfile", function(file){
			$("button.btn-save").prop("disabled",true);
		}).on("uploadprogress", function(file, progress, bytesSent) { //bug with native upload progress function
			progress = bytesSent / file.size * 100;
			$('.dz-upload').width(progress + "%");
		});
	})
</script>
