<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
	<table  class="table table-striped">
		<tbody>

		<?php echo $this->element->cmd?>
		<?php echo $this->element->id?>
		<?php echo $this->element->video_platform_video_id?>
		<?php echo $this->element->sort_order?>
		<?php echo $this->element->geo_code?>

		<?php echo $this->element->country?>
		<?php echo $this->element->region?>
		<?php echo $this->element->city?>
		<?php echo $this->element->postcode?>

		<?php echo $this->element->granularity?>

		<?php echo $this->element->status?>


		<tr id="submit-btn">
			<td></td>
			<td>
				<button type="reset" class="btn btn-warning btn-lg btn-cancel">Cancel</button>
				<button type="submit" class="btn btn-primary btn-lg btn-save">Save</button>
			</td>
			<td></td>
		</tr>
		</tbody>
	</table>
</form>

<script>
	$(document).ready(function() {
		$("#<?php echo $this->element->getAttrib('id')?> .conditional").parent().parent().hide();
		<?php if ($this->element->granularity->getValue()) {?>
			$("#<?php echo $this->element->getAttrib('id')?> #<?php echo $this->element->granularity->getValue()?>").parent().parent().show();
		<?php }else { ?>
			$("#<?php echo $this->element->getAttrib('id')?> #country").parent().parent().show();
		<?php } ?>

		$("#<?php echo $this->element->getAttrib('id')?> #granularity").on("change", function(){
			$("#<?php echo $this->element->getAttrib('id')?> .conditional").parent().parent().hide();
			$("#<?php echo $this->element->getAttrib('id')?> #"+$(this).val()).parent().parent().show();
		});
	});
</script>
