<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
	<table  class="table table-striped">
		<tbody>

		<?php echo $this->element->cmd?>
		<?php echo $this->element->id?>
		<?php echo $this->element->video_platform_video_id?>

		<tr>
			<td colspan="3">
				<h5>Purchase Settings</h5>
			</td>
		</tr>
		<?php echo $this->element->purchase_required?>
		<tr>
			<td><label>Purchase Price (USD):</label></td>
			<td>
				<div class="input-group input-small">
					<span class="input-group-addon"><i class="fa fa-usd"></i></span>
					<input type="text" class="form-control" name="purchase_price" id="purchase_price" value="<?php echo $this->element->purchase_price->getValue()?>">
				</div>
			</td>
			<td></td>
		</tr>

		<tr>
			<td colspan="3">
				<h5>Rental Settings</h5>
			</td>
		</tr>
		<?php echo $this->element->rental_required?>
		<tr>
			<td><label>Rental Price (USD):</label></td>
			<td>
				<div class="input-group input-small">
					<span class="input-group-addon"><i class="fa fa-usd"></i></span>
					<input type="text" class="form-control" name="rental_price" id="rental_price" value="<?php echo $this->element->rental_price->getValue()?>">
				</div>
			</td>
			<td></td>
		</tr>
		<tr>
			<td><label>Rental Duration (days):</label></td>
			<td>
				<input type="number" class="form-control" name="rental_duration_days" id="rental_duration_days" value="<?php echo $this->element->rental_duration_days->getValue()?>">
			</td>
			<td></td>
		</tr>

		<tr id="submit-btn">
			<td></td>
			<td>
				<button type="reset" class="btn btn-warning btn-lg btn-cancel">Cancel</button>
				<button type="submit" class="btn btn-primary btn-lg btn-save">Save</button>
			</td>
			<td></td>
		</tr>
		</tbody>
	</table>
</form>
