.side-menu__number{
	@include stanpro;
  	color: $black;
  	font-size:px2rem(11);
  	margin-bottom:0.36rem;
    text-transform:uppercase;
    line-height:1.6;
  	&:before{
  		content:"Apartment";
  		display:inline;
  		@include stanpro;
		text-transform:uppercase;
		font-size:px2rem(11);
  	}
}