<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();

$product_image_mapper = new Application_Model_Mapper_ProductImage();
$variant_type_mapper = new Application_Model_Mapper_ProductVariantType();

$subtotal = $qty_count = 0;
?>

<div class="container cart-wrapper">

	<?php if ($this->products) { ?>
		<div class="page-header products">
			<h1>Your Cart</h1>

			<div class="btn-menu">
				<div class="btn-menu__item hidden-xs">
					<a href="/checkout" class="btn btn--green btn-ecommerce-primary btn--cms-default <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_style');?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_hover_effect');?>">Checkout <i class="fa fa-play"></i></a>
				</div>
			</div>
		</div>

		<?php /*
		<form class="promo-form" method="post" action="">
			<div class="form-group">
				<label for="">Promotional Code</label>
				<div>
					<a href="#" id="promoLink" class="btn btn-link">Do you have a promo code?</a>
				</div>
				<div class="promo-field" id="promoField">
					<div class="promo-field__item">
						<input type="text" class="form-control" placeholder="" name="promo_code" value="<?php //echo $this->promo_code?>">
					</div>
					<div class="promo-field__item">
						<button class="btn btn--green cancel" type="submit" name="promo_btn" value="1">Apply <i class="fa fa-play"></i></button>
					</div>
				</div>
				<div class="promo-note">
					<?php //if ($this->promo_message) { ?>
						<?php //echo $this->promo_message?>
					<?php //} ?>
					<?php //if ($this->promo) { ?>
						<strong><span class="text-danger">Promo:</span> <?php //echo $this->promo->title?></strong>
						<?php //if ($this->promo->code) {?>
							<a href="/cart/promo-remove" class="btn btn-danger">Remove Promo</a>
						<?php //} ?>
					<?php //} ?>
				</div>
			</div>
		</form>
        */ ?>

		<div class="products">
			<table class="table table--products table-condensed">
				<thead class="hidden-xs">
				<tr>
					<th class="col-sm-7">Item</th>
					<th class="col-sm-1 text-center">QTY</th>
					<th class="col-sm-2 text-center">Price</th>
					<th class="hidden-xs col-sm-1 text-right">Total</th>
					<th class="col-xs-1"></th>
				</tr>
				</thead>
				<tbody>
				<?php
				foreach ($this->products as $k => $product) {
					$primary_image = $product_image_mapper->fetchPrimaryByProductId($product['product']->id);
					$subtotal += $product['price'] * $product['qty'];
					$qty_count += $product['qty'];
					?>
					<tr class="products__details">
						<td class="products__image-wrap">
							<div class="products__item">
								<div class="products__image">
									<img src="<?php echo ($primary_image && $primary_image->image_src)?$primary_image->image_src:"/custom_assets/images/fm_default_poster.jpg"?>" alt="" class="img-responsive">
								</div>
								<div class="products__content">
									<div class="products__title"><strong><?php echo (isset($product['variant']))?$product['variant']->title:$product['product']->title?></strong>
										<?php if (isset($product['variant'])) {
											$variant_type = $variant_type_mapper->find($product['variant']->product_variant_type_id);
											?>
											(<?php echo $variant_type->title?><?php echo (isset($product['license']) && $product['license'])?" {$product['license']}":""?>)
										<?php } ?>
									</div>
								</div>
							</div>
						</td>
						<td class="products__qty-wrap">
							<div class="products__qty">
								<?php if ($product['price'] == 0) {
									echo "1";
								}else {?>
									<form method="post" action="/cart/update">
										<select name="products[<?php echo $product['product']->id?>]" class="form-control quantity">
											<?php
											for($i=1;$i<=9;$i++) {
												$selected = ($product['qty'] == $i)?"selected":"";
												?>
												<option value="<?php echo $i?>" <?php echo $selected?>><?php echo $i?></option>
											<?php } ?>
										</select>
									</form>
								<?php } ?>
							</div>
						</td>
						<td class="products__price-wrap">
							<div class="products__price">
								<?php if ($product['msrp'] && $product['price'] != $product['msrp']) {?>
									<strike>$<?php echo number_format($product['msrp'],2)?></strike>
								<?php } ?>
								<strong>$<?php echo number_format($product['price'],2)?></strong>
							</div>
						</td>
						<td class="hidden-xs">
							<div class="products__total">
								<strong>$<?php echo number_format($product['price'] * $product['qty'],2)?></strong>
							</div>
						</td>
						<td class="products__trash-wrap">
							<div class="products__trash text-center">
								<a href="/cart/remove/<?php echo (isset($product['variant']))?"variant_id":"product_id"?>/<?php echo (isset($product['variant']))?$product['variant']->id:$product['product']->id?>" class=""><i class="fa fa-2x fa-trash text-black"></i></a>
							</div>
						</td>
					</tr>
					<?php
				}
				?>
				</tbody>
			</table>
		</div>

		<div class="products m-b-30">
			<hr class="hidden-xs m-t-10 m-b-10">
			<div class="products__total products__total--small">
				<strong class="text-uppercase">Product Total: $<?php echo number_format($subtotal,2)?></strong>
			</div>

			<?php
			$shipping_estimate_status = $settings_mapper->getValueByCode('cart_shipping_estimate_status','Enabled');
			if ($shipping_estimate_status == 'Enabled' || ($this->free_shipping_status == 'Enabled' && ($this->free_shipping_threshold - $subtotal) > 0)) {?>
				<hr class="hidden-xs m-t-10 m-b-10">
				<div class="row hidden-xs">
					<div class="col-sm-6">
						<?php if ($shipping_estimate_status == 'Enabled') {?>
							<div class="products__zip">
								<input type="text" class="form-control m-b-10" placeholder="Zip Code" id="postcode">
								<div class="btn-menu">
									<div class="btn-menu__item">
										<button class="btn btn--gray btn-ecommerce-secondary btn--cms-default <?php echo $settings_mapper->getValueByCode('ecommerce_secondary_btn_style');?> <?php echo $settings_mapper->getValueByCode('ecommerce_secondary_btn_hover_effect');?>" id="estimate_shipping">Estimate Shipping <i class="fa fa-play"></i></button>
									</div>
								</div>
							</div>
						<?php } ?>
					</div>
					<div class="col-sm-6">
						<div class="products__note products__note--shipping text-right">
							<?php if ($shipping_estimate_status == 'Enabled') {?>
								<strong class="text-uppercase">Estimated Shipping: <span id="cart_shipping">$0.00</span></strong>
							<?php } ?>

							<div class="free-ship-text" style="
							<?php if ($font_color = $settings_mapper->getValueByCode('shipping_free_standard_shipping_color')) {?>
									color: <?php echo $font_color?>!important;
							<?php } ?>
							<?php if ($font_weight = $settings_mapper->getValueByCode('shipping_free_standard_shipping_font_weight')) { ?>
									font-weight: <?php echo $font_weight?>;
							<?php } ?>
							">
								<?php if ($this->free_shipping_status == 'Enabled' && ($this->free_shipping_threshold - $subtotal) > 0) { ?>
									Spend $<?php echo number_format(($this->free_shipping_threshold - $subtotal),2)?> more for <span class="text-uppercase">Free </span> Standard Shipping!
								<?php } ?>
							</div>
						</div>
					</div>
				</div>
			<?php } ?>

			<hr class="hidden-xs m-t-10 m-b-10">
			<div class="btn-menu">
				<div class="btn-menu__item">
					<a class="btn btn--gray continue-shopping btn-ecommerce-secondary btn--cms-default <?php echo $settings_mapper->getValueByCode('ecommerce_secondary_btn_style');?> <?php echo $settings_mapper->getValueByCode('ecommerce_secondary_btn_hover_effect');?>" href="/"><i class="fa fa-play fa-flip-horizontal"></i> Continue Shopping</a>
				</div>
				<div class="btn-menu__item">
					<a href="/checkout" class="btn btn--green btn-ecommerce-primary btn--cms-default <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_style');?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_hover_effect');?>">Checkout <i class="fa fa-play"></i></a>
				</div>
			</div>
		</div>

	<?php }else {?>
		<div class="flex-row flex-align-center flex-justify-center cart-no-products">
			<div class="text-center">
				<h1 class="text-center">There are no items in your cart</h1>
				<a href="/" class="btn btn--gray flex-row flex-justify-space-between flex-align-center btn-lg center-block btn-ecommerce-secondary btn--cms-default <?php echo $settings_mapper->getValueByCode('ecommerce_secondary_btn_style');?> <?php echo $settings_mapper->getValueByCode('ecommerce_secondary_btn_hover_effect');?>">Continue Shopping <span class="fa fa-play"></span></a>
			</div>

		</div>
	<?php } ?>

</div>
