<form method="post" action="/admin/video-platform/attribute-save" class="add-attribute-form">
	<input type="hidden" name="data[id]" value="<?php echo (isset($this->item->id))?$this->item->id:''?>">

	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Title</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<input type="text" class="form-control" name="data[title]" value="<?php echo (isset($this->item->title))?$this->item->title:''?>">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Field Type</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<?php echo $this->formSelect('data[field_type]', (isset($this->item->field_type))?$this->item->field_type:'text', array('class'=>'form-control'), array("text"=>"Short Text","textarea"=>"Multiline Text","image"=>"Image","file"=>"File"))?>
				</div>
			</div>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<div class="btn-group btn-group-justified">

			<button type="submit" class="btn btn-lg waves-effect waves-light btn--purple save-module border-radius-bottom btn--full-width" id="save">Save</button>
		</div>
	</div>
</form>
