<div class="row">
	<div class="col-sm-8">
		<h2>Cast & Crew</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/video-platform/cast-add/video_id/<?php echo $this->video_id?>" onclick="loadView('cast','add','');">Add Cast/Crew</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 component-search-results">
		<?php if ($this->directors) { ?>
			<h4>Directors</h4>
			<table class="table table-striped">
				<thead>
				<tr>
					<th class="col-sm-1">Sort</th>
					<th class="col-sm-5">Name</th>
					<th class="col-sm-4">Role</th>
					<th class="col-sm-1 hidden-xs text-center">Delete</th>
					<th class="col-sm-1 hidden-xs text-center">Edit</th>
				</tr>
				</thead>
				<tbody id="director-sort">
				<?php
				foreach ($this->directors as $key => $item) {
					?>
					<tr id="sort_<?php echo $item->id?>">
						<td></td>
						<td><?php echo $item->name?></td>
						<td><?php echo $item->role?></td>
						<td class="hidden-xs text-center"><a href="#/admin/video-platform/cast-delete/id/<?php echo $item->id?>" onclick="loadView('cast','delete','<?php echo $item->id?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center"><a href="#/admin/video-platform/cast-edit/id/<?php echo $item->id?>" onclick="loadView('cast','edit','<?php echo $item->id?>')" class="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
					<?php
				}
				?>
				</tbody>
			</table>
		<?php } ?>

		<?php if ($this->cast) { ?>
			<h4>Cast</h4>
			<table class="table table-striped">
				<thead>
				<tr>
					<th class="col-sm-1">Sort</th>
					<th class="col-sm-5">Name</th>
					<th class="col-sm-4">Role</th>
					<th class="col-sm-1 hidden-xs text-center">Delete</th>
					<th class="col-sm-1 hidden-xs text-center">Edit</th>
				</tr>
				</thead>
				<tbody id="cast-sort">
				<?php
				foreach ($this->cast as $key => $item) {
					?>
					<tr id="sort_<?php echo $item->id?>">
						<td></td>
						<td><?php echo $item->name?></td>
						<td><?php echo $item->role?></td>
						<td class="hidden-xs text-center"><a href="#/admin/video-platform/cast-delete/id/<?php echo $item->id?>" onclick="loadView('cast','delete','<?php echo $item->id?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center"><a href="#/admin/video-platform/cast-edit/id/<?php echo $item->id?>" onclick="loadView('cast','edit','<?php echo $item->id?>')" class="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
					<?php
				}
				?>
				</tbody>
			</table>
		<?php } ?>

		<?php if ($this->crew) { ?>
			<h4>Crew</h4>
			<table class="table table-striped">
				<thead>
				<tr>
					<th class="col-sm-1">Sort</th>
					<th class="col-sm-5">Name</th>
					<th class="col-sm-4">Role</th>
					<th class="col-sm-1 hidden-xs text-center">Delete</th>
					<th class="col-sm-1 hidden-xs text-center">Edit</th>
				</tr>
				</thead>
				<tbody id="crew-sort">
				<?php
				foreach ($this->crew as $key => $item) {
					?>
					<tr id="sort_<?php echo $item->id?>">
						<td></td>
						<td><?php echo $item->name?></td>
						<td><?php echo $item->role?></td>
						<td class="hidden-xs text-center"><a href="#/admin/video-platform/cast-delete/id/<?php echo $item->id?>" onclick="loadView('cast','delete','<?php echo $item->id?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center"><a href="#/admin/video-platform/cast-edit/id/<?php echo $item->id?>" onclick="loadView('cast','edit','<?php echo $item->id?>')" class="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
					<?php
				}
				?>
				</tbody>
			</table>
		<?php } ?>

	</div>
</div>

<script>
	$(document).ready(function() {
		$('#director-sort').sortable({
			update: function( event, ui ) {
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'POST',
					url: '/admin/video-platform/cast-sort'
				});
			}
		});
		$('#cast-sort').sortable({
			update: function( event, ui ) {
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'POST',
					url: '/admin/video-platform/cast-sort'
				});
			}
		});
		$('#crew-sort').sortable({
			update: function( event, ui ) {
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'POST',
					url: '/admin/video-platform/cast-sort'
				});
			}
		});
	});
</script>
