<?php
$s3 = new Application_Model_AmazonS3();

$stream_mapper = new Admin_Model_Mapper_VideoPlatformVideoExtrasStream();
?>
<div class="row">
	<div class="col-sm-8">
		<h2>Video Extras / Bonus Features</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/video-platform/extras-add/video_id/<?php echo $this->video_id?>" onclick="loadView('extras','add','');">Add Extra / Bonus Feature</a>
		</div>
	</div>
</div>

<?php
foreach ($this->extras as $extra) {
	$video_url = $s3->getVideoExtrasURL($extra->id);
	$streams = $stream_mapper->fetchByExtrasId($extra->id);
?>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<tbody>
				<?php if ($video_url || $extra->embed_url || $extra->embed_code) {?>
					<tr>
						<td>Title:</td>
						<td><?php echo $extra->title?></td>
						<td class="hidden-xs text-center col-sm-1"><a href="#/admin/video-platform/extras-delete/video_id/<?php echo $this->video_id?>/id/<?php echo $extra->id?>" onclick="loadView('extras','delete','<?php echo $extra->id?>');" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center col-sm-1"><a href="#/admin/video-platform/extras-edit/video_id/<?php echo $this->video_id?>/id/<?php echo $extra->id?>" onclick="loadView('extras','edit','<?php echo $extra->id?>');" title="Edit" class="btn-edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
					<tr>
						<td>Video:</td>
						<td colspan="3">
							<div class="embed-responsive embed-responsive-16by9">
								<?php if ($video_url) {?>
									<video
											class="embed-responsive-item mediaplayer cny-lvp"
											controls
											preload="auto"
											poster="<?php //echo $this->thumbnail_url?>"
											data-setup="{}"
											src="<?php //echo $this->trailer_url?>"
									>
										<source src="<?php echo $video_url?>" type="video/mp4" />
									</video>
								<?php }elseif ($extra->embed_url) {?>
									<?php
									$vp = new Cny_Model_VideoParser();
									?>
									<div class="embed-responsive embed-responsive-16by9">
										<?php if ($video_url = $vp->getEmbedUrl($extra->embed_url)) { ?>
											<iframe class="embed-responsive-item" width="100%" frameborder="0" src="<?php echo $video_url?>" allowfullscreen></iframe>
										<?php }else { ?>
											<video src="<?php echo $extra->embed_url?>" class="embed-responsive-item" controls></video>
										<?php } ?>
									</div>
								<?php } ?>
							</div>
						</td>
					</tr>
					<tr>
						<td>Description:</td>
						<td colspan="3"><?php echo $extra->description?></td>
					</tr>
					<tr>
						<td>Thumbnail/Preview Image:</td>
						<td colspan="3">
							<?php if ($extra->thumbnail_src) {?>
								<img src="<?php echo $extra->thumbnail_src?>" class="img-responsive" style="max-height:400px;max-width:400px;">
							<?php } ?>
						</td>
					</tr>
				<?php } ?>
				</tbody>
			</table>
		</div>
	</div>

	<?php if ($streams) {?>
		<h2>Stream Files (Transcoded Files)</h2>
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Format</th>
						<th>Status</th>
						<th>Video</th>
					</tr>
					</thead>
					<tbody>
					<?php
					foreach ($streams as $stream) {
						$video_url = $s3->getVideoExtrasStreamURL($stream->id,$extra->id);

						$path_parts = pathinfo($video_url);
						switch ($path_parts['extension']) {
							case "m3u8":
								$source_type = "application/x-mpegURL";
								break;
							case "mpd":
								$source_type = "application/dash+xml";
								break;
							default:
								$source_type = "video/mp4";
						}

						?>
						<tr>
							<td><?php echo $stream->format_name?></td>
							<td><?php echo $stream->transcode_status?></td>
							<td class="col-sm-3">
								<?php if ($stream->transcode_status == 'Complete') {?>
									<div class="embed-responsive embed-responsive-16by9" style="max-width:311px;max-height:175px;">
										<video
												class="embed-responsive-item mediaplayer cny-lvp"
												controls
												preload="auto"
												poster="<?php //echo $this->thumbnail_url?>"
												data-setup="{}"
												src="<?php //echo $video_url?>"
										>
											<source src="<?php echo $video_url?>" type="<?php echo $source_type?>" />
										</video>
									</div>
								<?php } ?>
							</td>
						</tr>
					<?php } ?>
					</tbody>
				</table>
			</div>
		</div>
	<?php } ?>
<?php } ?>

<script>
	$(document).ready(function() {
		window.cny.videoPlayer();
	});
</script>
