<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$base_video_url = ($settings_mapper->getValueByCode('video_platform_url'))?$settings_mapper->getValueByCode('video_platform_url'):'videos';

?>
<div class="white-box">

	<div class="row">
		<div class="col-sm-8">
			<h2>View Video Genre</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/video-platform/genre-list"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Genre Name:</td>
						<td>
							<?php echo $this->section->title?>
						</td>
					</tr>
					<tr>
						<td>URL Code:</td>
						<td>
							<?php echo $this->section->code?>
						</td>
					</tr>
					<tr>
						<td>URL:</td>
						<td>
							<?php echo '/'.$base_video_url.'/genre/'.$this->section->code?>
						</td>
					</tr>

					<tr>
						<td>Status:</td>
						<td>
							<?php echo $this->section->status?>
						</td>
					</tr>
					<tr>
						<td>Created:</td>
						<td>
							<?php echo ($this->section->created)?$this->UTCtoTZ($this->section->created,"M. j, Y g:ia",$this->site_timezone):""?>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-8">
			<h2>Videos</h2>
		</div>
		<div class="col-sm-4">

		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Title</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<?php
				if ($this->items) {
					$truncate = new Cny_View_Helper_StringTruncate();
					foreach ($this->items as $key => $item) {
						?>
						<tr>
							<td><?php echo $item->title?></td>
							<td>
								<?php
								/*
								if (isset($item->embed_code) && $item->embed_code) {
									echo $item->embed_code;
								}elseif (isset($item->video_url) && $item->video_url) {
									$parser = new Cny_Model_VideoParser();
									$video_url = $parser->getEmbedUrl($item->video_url);
									if ($video_url) {
										echo '<iframe width="100%" style="min-height:300px;" frameborder="0" src="' . $video_url . '"></iframe>';
									}else {
										//must be generic so create a video tag
										?>
										<div class="embed-responsive embed-responsive-16by9">
											<video src="<?php echo $item->video_url?>" class="embed-responsive-item" controls></video>
										</div>
										<?php
									}
								}
								*/
								?>
							</td>
						</tr>
						<?php
					}
				}
				?>
				</tbody>
			</table>
		</div>
	</div>

</div>

