<div class="row">
	<div class="col-sm-8">
		<h2>Geo Blocks</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/video-platform/geoblock-add/video_id/<?php echo $this->video_id?>" onclick="loadView('geoblock','add','');">Add Geo Block</a>
		</div>
	</div>
</div>

<?php if ($this->geoblocks) {?>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Code</th>
					<th>Type</th>
					<th class="hidden-xs text-center col-sm-1">Delete</th>
					<th class="hidden-xs text-center col-sm-1">Edit</th>
				</tr>
				</thead>
				<tbody id="geoblock-sort">
				<?php
				foreach ($this->geoblocks as $item) {
					?>
					<tr id="sort_<?php echo $item->id?>">
						<td><?php echo $item->geo_code?></td>
						<td><?php echo $item->status?></td>
						<td class="hidden-xs text-center col-sm-1"><a href="#/admin/video-platform/geoblock-delete/video_id/<?php echo $this->video_id?>/id/<?php echo $item->id?>" onclick="loadView('geoblock','delete','<?php echo $item->id?>');" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center col-sm-1"><a href="#/admin/video-platform/geoblock-edit/video_id/<?php echo $this->video_id?>/id/<?php echo $item->id?>" onclick="loadView('geoblock','edit','<?php echo $item->id?>');"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
				<?php } ?>
				</tbody>
			</table>
		</div>
	</div>
<?php } ?>

<script>
	$(document).ready(function() {
		$('#geoblock-sort').sortable({
			update: function( event, ui ) {
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'POST',
					url: '/admin/video-platform/geoblock-sort'
				});
			}
		});
	});
</script>
