<div class="row">
	<div class="col-sm-8">
		<h2>Gallery Images</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/video-platform/image-add/video_id/<?php echo $this->video_id?>" onclick="loadView('image','add','');">Add Image</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 component-search-results">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Sort</th>
				<th>Image</th>
				<th>Title</th>
				<th>Caption</th>
				<th class="hidden-xs text-center">Delete</th>
				<th class="hidden-xs text-center">Edit</th>
			</tr>
			</thead>
			<tbody id="image-sort">
			<?php
			if ($this->images) {
				foreach ($this->images as $key => $item) {
				?>
					<tr id="sort_<?php echo $item->id?>" class="<?php echo ($item->primary == 'Yes')?"success":""?>">
						<td></td>
						<td><img src="<?php echo $item->image_src?>" class="img-responsive" style="max-height:200px;max-width:400px;"/></td>
						<td><?php echo $item->title?></td>
						<td><?php echo $item->caption?></td>
						<td class="hidden-xs text-center"><a href="#/admin/video-platform/image-delete/id/<?php echo $item->id?>" onclick="loadView('image','delete','<?php echo $item->id?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center"><a href="#/admin/video-platform/image-edit/id/<?php echo $item->id?>" onclick="loadView('image','edit','<?php echo $item->id?>')" class="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
				<?php
				}
			}
			?>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#image-sort').sortable({
			update: function( event, ui ) {
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'POST',
					url: '/admin/video-platform/image-sort'
				});
			}
		});
	});
</script>
