<div class="row">
	<div class="col-sm-8">
		<h2><?php echo ($this->cmd=='add')?'Add New Video Image':'Edit Video Image'?></h2>

		<?php if ($this->errors) { ?>
			<div class="error_box">
				<ul>
					<?php
					foreach ($this->errors as $error) {
						echo "<li>".$error."</li>";
					}
					?>
				</ul>
			</div>
		<?php } ?>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 component-search-results">
		<?php echo $this->form?>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#videoImageForm button.btn-cancel').on('click', function(){
			loadView('image','view','');
		});

		$('#videoImageForm').ajaxForm({target: '#image-block'});

		if ($("#video_image_path").val() == '') $("#video_image").hide();

		<?php
		$t_mapper = new Admin_Model_Mapper_VideoPlatformImageTag();
		$tags = $t_mapper->fetchStringList();
		?>
		$("#tags").select2({
			tags: [<?php echo $tags?>],
			tokenSeparators: ["|"],
			separator: "|"
		});
		$("#tags").on("change", function () {
			$("#tags_val").html($("#tags").val());
		});
	});
</script>
