<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$lvp_url = $video_url = ($settings_mapper->getValueByCode('video_platform_url'))?$settings_mapper->getValueByCode('video_platform_url'):'videos';

if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="form-group col-sm-2">
					<label>Video:</label>
					<?php echo $this->formSelect('has_video', $this->has_video, array('class'=>'form-control'), array(""=>"",'Yes'=>'Yes','No'=>'No'))?>
				</div>

				<div class="form-group col-sm-2">
					<label>Transcode Status:</label>
					<?php echo $this->formSelect('transcode_status', $this->transcode_status, array('class'=>'form-control'), array(""=>"")+$this->transcode_statuses)?>
				</div>
				<!--
				<div class="form-group col-sm-3">
					<label>Stream Transcode Status:</label>
					<?php echo $this->formSelect('stream_transcode_status', $this->stream_transcode_status, array('class'=>'form-control'), array(""=>"")+$this->transcode_statuses)?>
				</div>
				-->

				<div class="form-group col-sm-2">
					<label>Status:</label>
					<?php echo $this->formSelect('status', $this->status, array('class'=>'form-control'), array(""=>"")+$this->statuses)?>
				</div>

				<div class="col-sm-12">
					<div class="col-xs-1">
						<button type="submit" class="btn btn-primary xs-100">Search</button>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<div class="checkbox hidden-xs">
								<input type="checkbox" name="csv" value="1" id="export"> <label for="export">Export</label>
							</div>
						</div>
					</div>
					<div class="col-xs-1">
						<a href="/admin/video-platform/library" class="btn btn-warning xs-100">Reset</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-10 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<div class="col-sm-2 col-xs-12">
				<a class="pull-right btn btn-primary xs-100" href="/admin/video-platform/item-add">Add New Video</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<th><a href="/admin/video-platform/library/sort/id/dir/<?php echo $dir?>">ID</a></th>
						<th><a href="/admin/video-platform/library/sort/title/dir/<?php echo $dir?>">Title</a></th>
						<th>Video</th>
						<th>Transcode Status</th>
						<!--<th>Stream Transcode Status</th>-->
						<th><a href="/admin/video-platform/library/sort/status/dir/<?php echo $dir?>">Status</a></th>
						<th class="hidden-xs"><a href="/admin/video-platform/library/sort/created/dir/<?php echo $dir?>">Created</a></th>
						<th class="hidden-xs text-center">Delete</th>
						<th class="text-center">Preview</th>
						<th class="hidden-xs text-center">Edit</th>
						<th class="text-center">View</th>
					</tr>
					</thead>
					<tbody>
					<?php
					foreach($this->list as $key => $val) {
						?>
						<tr>
							<td><a href="/admin/video-platform/item-view/id/<?php echo $val['id']?>"><?php echo $val['id']?></a></td>
							<td><?php echo $val['title']?></td>
							<td><?php echo $val['has_video']?></td>
							<td><?php echo $val['transcode_status']?></td>
							<!--<td><?php echo $val['stream_transcode_status']?></td>-->
							<td><?php echo $val['status']?></td>
							<td class="hidden-xs"><?php echo ($val['created'])?$this->UTCtoTZ($val['created'],"n/j/Y g:ia",$this->site_timezone):""?></td>
							<td class="hidden-xs text-center"><a href="/admin/video-platform/item-delete/id/<?php echo $val['id']?>" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
							<td class="text-center"><a href="/<?php echo $lvp_url?>/<?php echo $val['code']?>" title="Preview" target="_blank"><span class="sr-only">Preview </span><span class="far fa-eye"></span></a></td>
							<td class="hidden-xs text-center"><a href="/admin/video-platform/item-edit/id/<?php echo $val['id']?>" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
							<td class="text-center"><a href="/admin/video-platform/item-view/id/<?php echo $val['id']?>" title="View"><span class="sr-only">View </span><span class="far fa-eye"></span></a></td>
						</tr>
					<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>
