<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2><?php echo ($this->cmd=='add')?'Add New Video':"Edit Video: {$this->video->title}"?></h2>

			<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
						<?php
						foreach ($this->errors as $error) {
							echo "<li>".$error."</li>";
						}
						?>
					</ul>
				</div>
			<?php } ?>

		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/video-platform/library"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#video-tab" aria-controls="video-tab" role="tab" data-toggle="tab">Video</a></li>
				<?php if ($this->cmd == 'edit') {?>
					<li role="presentation" class=""><a href="#monetization-tab" aria-controls="monetization-tab" role="tab" data-toggle="tab">Monetization</a></li>
					<li role="presentation" class=""><a href="#tracks-tab" aria-controls="tracks-tab" role="tab" data-toggle="tab">Tracks</a></li>
					<li role="presentation" class=""><a href="#trailer-tab" aria-controls="trailer-tab" role="tab" data-toggle="tab">Trailer</a></li>
					<li role="presentation" class=""><a href="#extras-tab" aria-controls="extras-tab" role="tab" data-toggle="tab">Extras / Bonus Features</a></li>
					<li role="presentation" class=""><a href="#gallery-tab" aria-controls="gallery-tab" role="tab" data-toggle="tab">Image Gallery</a></li>
					<li role="presentation" class=""><a href="#cast-tab" aria-controls="cast-tab" role="tab" data-toggle="tab">Cast & Crew</a></li>
					<li role="presentation" class=""><a href="#news-tab" aria-controls="news-tab" role="tab" data-toggle="tab">News & Reviews</a></li>
					<li role="presentation" class=""><a href="#geoblock-tab" aria-controls="geoblock-tab" role="tab" data-toggle="tab">Geo Blocks</a></li>
				<?php } ?>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="video-tab">
					<?php echo $this->form?>

					<?php if ($this->cmd == 'edit') {?>
						<div id="profile-block" class="hidden-xs m-t-30">
							<div class="text-center"><i class="fa-spin fa-4x fad fa-spinner"></i></div>
						</div>
					<?php } ?>
				</div>
				<div role="tabpanel" class="tab-pane" id="monetization-tab">
					<div id="monetization-block" class="hidden-xs m-t-30">
						<div class="text-center"><i class="fa-spin fa-4x fad fa-spinner"></i></div>
					</div>
					<div id="monetization-link-block" class="hidden-xs m-t-30">
						<div class="text-center"><i class="fa-spin fa-4x fad fa-spinner"></i></div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="tracks-tab">
					<div id="track-block" class="hidden-xs m-t-30">
						<div class="text-center"><i class="fa-spin fa-4x fad fa-spinner"></i></div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="trailer-tab">
					<div id="trailer-block" class="hidden-xs m-t-30">
						<div class="text-center"><i class="fa-spin fa-4x fad fa-spinner"></i></div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="extras-tab">
					<div id="extras-block" class="hidden-xs m-t-30">
						<div class="text-center"><i class="fa-spin fa-4x fad fa-spinner"></i></div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="gallery-tab">
					<div id="image-block" class="hidden-xs m-t-30">
						<div class="text-center"><i class="fa-spin fa-4x fad fa-spinner"></i></div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="cast-tab">
					<div id="cast-block" class="hidden-xs m-t-30">
						<div class="text-center"><i class="fa-spin fa-4x fad fa-spinner"></i></div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="news-tab">
					<div id="news-block" class="hidden-xs m-t-30">
						<div class="text-center"><i class="fa-spin fa-4x fad fa-spinner"></i></div>
					</div>
				</div>
				<div role="tabpanel" class="tab-pane" id="geoblock-tab">
					<div id="geoblock-block" class="hidden-xs m-t-30">
						<div class="text-center"><i class="fa-spin fa-4x fad fa-spinner"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		<?php if ($this->cmd == 'edit') {?>
		loadView("profile","view","", false);
		loadView("monetization","view","", false);
		loadView("monetization-link","view","", false);
		loadView("track","view","", false);
		loadView("trailer","view","", false);
		loadView("extras","view","", false);
		loadView("image","view","", false);
		loadView("cast","view","", false);
		loadView("news","view","", false);
		loadView("geoblock","view","", false);
		<?php } ?>

		//$(".datepicker").datepicker({dateFormat: 'yy-mm-dd'});

		<?php
		$c_mapper = new Admin_Model_Mapper_VideoPlatformCategory();
		$categories = $c_mapper->fetchJSON();
		?>
		$("#categories").select2({
			multiple: true,
			data: <?php echo $categories?>
		});
		$("#categories").on("change", function () {
			$("#categories_val").html($("#categories").val());
		});

		<?php
		$g_mapper = new Admin_Model_Mapper_VideoPlatformGenre();
		$genres = $g_mapper->fetchJSON();
		?>
		$("#genres").select2({
			multiple: true,
			data: <?php echo $genres?>
		});
		$("#genres").on("change", function () {
			$("#genres_val").html($("#genres").val());
		});
		$("#genres").select2("container").find("ul.select2-choices").sortable({
			containment: 'parent',
			start: function() { $("#genres").select2("onSortStart"); },
			update: function() { $("#genres").select2("onSortEnd"); }
		});

		<?php
		$t_mapper = new Admin_Model_Mapper_VideoPlatformTag();
		$tags = $t_mapper->fetchStringList();
		?>
		$("#tags").select2({
			tags: [<?php echo $tags?>],
			tokenSeparators: ["|"],
			separator: "|"
		});
		$("#tags").on("change", function () {
			$("#tags_val").html($("#tags").val());
		});
		$("#tags").select2("container").find("ul.select2-choices").sortable({
			containment: 'parent',
			start: function() { $("#tags").select2("onSortStart"); },
			update: function() { $("#tags").select2("onSortEnd"); }
		});
	});

	function loadView(section,action,id, scroll_to) {
		if (typeof scroll_to === 'undefined') scroll_to = true;

		if (action == 'delete') {
			if (!confirm('Are you sure you want to delete this entry?')) {
				return false;
			}
		}

		$.get( "/admin/video-platform/"+section+"-"+action+"/video_id/<?php echo $this->video_id?>/id/"+id, function( data ) {
			$("#"+section+"-block").html( data );
			//initTinyMCE();

			if (scroll_to === true) {
				$('html, body').animate({
					scrollTop: $("#" + section + "-block").offset().top
				}, 500);
			}
		});

		return false;
	}
</script>
