<?php
$s3 = new Application_Model_AmazonS3();

//temp video hash placeholder
//to be replaced with hash
$video_hash = $this->item->code.'_'.str_replace('.mov','.stream',explode('uploads/',$video_url)[1]);


//get thumbnail image either from custom or selected
//TODO - currently only custom thumbnail exists
$thumbnail_url = ($this->item->thumbnail_src)?$this->item->thumbnail_src:(($this->item->video_platform_video_thumbnail_id)?'':null);
?>
<style>
xmp{
 white-space: pre-wrap;
 white-space: -moz-pre-wrap;
 white-space: -pre-wrap;
 white-space: -o-pre-wrap;
 word-wrap: break-word;
}
</style>
<div class="white-box">

	<div class="row">
		<div class="col-sm-8">
			<h2>View Video: <?php echo $this->item->title?></h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/video-platform/library"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results" style="min-height: 80vh;">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#video-tab" aria-controls="video-tab" role="tab" data-toggle="tab">Video</a></li>
				<li role="presentation" class=""><a href="#monetization-tab" aria-controls="monetization-tab" role="tab" data-toggle="tab">Monetization</a></li>
				<li role="presentation" class=""><a href="#streams-tab" aria-controls="streams-tab" role="tab" data-toggle="tab">Streams</a></li>
				<li role="presentation" class=""><a href="#tracks-tab" aria-controls="tracks-tab" role="tab" data-toggle="tab">Tracks</a></li>
				<li role="presentation" class=""><a href="#trailer-tab" aria-controls="trailer-tab" role="tab" data-toggle="tab">Trailer</a></li>
				<li role="presentation" class=""><a href="#extras-tab" aria-controls="extras-tab" role="tab" data-toggle="tab">Extras / Bonus Features</a></li>
				<li role="presentation" class=""><a href="#gallery-tab" aria-controls="gallery-tab" role="tab" data-toggle="tab">Image Gallery</a></li>
				<li role="presentation" class=""><a href="#cast-tab" aria-controls="cast-tab" role="tab" data-toggle="tab">Cast & Crew</a></li>
				<li role="presentation" class=""><a href="#news-tab" aria-controls="news-tab" role="tab" data-toggle="tab">News & Reviews</a></li>
				<li role="presentation" class=""><a href="#geoblock-tab" aria-controls="geoblock-tab" role="tab" data-toggle="tab">Geo Blocks</a></li>
			</ul>

			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="video-tab">
					<table class="table table-striped">
						<tbody>
						<tr>
							<td>Title:</td>
							<td>
								<?php echo $this->item->title?>
							</td>
						</tr>
						<tr>
							<td>URL Code:</td>
							<td>
								<?php echo $this->item->code?>
							</td>
						</tr>
						<tr>
							<td>Video:</td>
							<td>
								<div class="embed-responsive embed-responsive-16by9">
									<?php
									$video_url = $s3->getVideoURL($this->item->id);
									if ($video_url) {
									?>
										<video
											class="embed-responsive-item mediaplayer cny-lvp"
											controls
											preload="auto"
											poster="<?php echo $thumbnail_url?>"
											data-setup="{}"
											src="<?php //echo $video_url?>"
										>
											<source src="<?php echo $video_url?>" type="video/mp4" />
										</video>
									<?php }elseif ($this->item->embed_url) { ?>
										<?php
										$vp = new Cny_Model_VideoParser();
										?>
										<div class="embed-responsive embed-responsive-16by9">
											<?php if ($video_url = $vp->getEmbedUrl($this->item->embed_url)) { ?>
												<iframe class="embed-responsive-item" width="100%" frameborder="0" src="<?php echo $video_url?>" allowfullscreen></iframe>
											<?php }else { ?>
												<video src="<?php echo $this->item->embed_url?>" class="embed-responsive-item" controls></video>
											<?php } ?>
										</div>
									<?php } ?>
								</div>
							</td>
						</tr>
						<tr>
							<td>Embed Code:</td>
							<td class="selectable">
								<xmp><iframe frameborder="0" width="100%" src="https://<?php echo $_SERVER['HTTP_HOST']?>/lvp/embed/hash/<?php echo $this->item->video_hash?>?format=iframe" allowfullscreen></iframe></xmp>
							</td>
						</tr>
						<tr>
							<td>Thumbnail/Preview Image:</td>
							<td>
								<?php if ($thumbnail_url) {?>
									<img src="<?php echo $thumbnail_url?>" class="img-responsive" style="max-height:200px;max-width:400px;"/>
								<?php } ?>
							</td>
						</tr>
						<tr>
							<td>Poster:</td>
							<td>
								<?php if ($this->item->poster_src) {?>
									<img src="<?php echo $this->item->poster_src?>" class="img-responsive" style="max-height:200px;max-width:400px;"/>
								<?php } ?>
							</td>
						</tr>
						<tr>
							<td>Poster Type:</td>
							<td><?php echo $this->item->poster_type?></td>
						</tr>
						<tr>
							<td>Short Description:</td>
							<td>
								<?php echo $this->item->summary?>
							</td>
						</tr>
						<tr>
							<td>Description:</td>
							<td>
								<?php echo $this->item->description?>
							</td>
						</tr>
						<tr>
							<td>Purchase Support Text:</td>
							<td>
								<?php echo $this->item->purchase_support_text?>
							</td>
						</tr>
						<tr>
							<td>Categories:</td>
							<td><?php echo $this->categories?></td>
						</tr>
						<tr>
							<td>Genres:</td>
							<td><?php echo $this->genres?></td>
						</tr>
						<tr>
							<td>Tags:</td>
							<td><?php echo $this->tags?></td>
						</tr>
						<tr>
							<td>Meta Keywords:</td>
							<td>
								<?php echo $this->item->meta_keywords?>
							</td>
						</tr>
						<tr>
							<td>Meta Description:</td>
							<td>
								<?php echo $this->item->meta_description?>
							</td>
						</tr>
						<tr>
							<td>Specs:
								<br/><small>Internal Info</small>
							</td>
							<td>
								Internal Filename: <?php echo $this->item->filename_internal?><br/>
								Filesize: <?php echo $this->item->filesize?><br/>
								Mimetype: <?php echo $this->item->mimetype?><br/>
								eTag: <?php echo $this->item->etag?><br/>
							</td>
						</tr>
						<tr>
							<td>Status:</td>
							<td>
								<?php echo $this->item->status?>
							</td>
						</tr>
						<tr>
							<td>Created:</td>
							<td>
								<?php echo ($this->item->created)?$this->UTCtoTZ($this->item->created,"M. j, Y g:ia",$this->site_timezone):""?>
							</td>
						</tr>
						</tbody>
					</table>
				</div>

				<div role="tabpanel" class="tab-pane" id="monetization-tab">
					<table class="table table-striped">
						<tbody>
						<tr>
							<td colspan="2">
								<h5>Purchase Settings</h5>
							</td>
						</tr>
						<tr>
							<td><label>Purchase Required</label></td>
							<td><?php echo $this->monetization->purchase_required?></td>
						</tr>
						<tr>
							<td><label>Purchase Price (USD)</label></td>
							<td>$<?php echo $this->monetization->purchase_price?></td>
						</tr>

						<tr>
							<td colspan="2">
								<h5>Rental Settings</h5>
							</td>
						</tr>
						<tr>
							<td><label>Rental Required</label></td>
							<td><?php echo $this->monetization->rental_required?></td>
						</tr>
						<tr>
							<td><label>Rental Price (USD)</label></td>
							<td>$<?php echo $this->monetization->rental_price?></td>
						</tr>
						<tr>
							<td><label>Rental Duration (days)</label></td>
							<td><?php echo $this->monetization->rental_duration_days?></td>
						</tr>
						</tbody>
					</table>
				</div>

				<div role="tabpanel" class="tab-pane" id="streams-tab">
					<?php if ($this->streams) {?>
						<table class="table table-striped">
							<thead>
							<tr>
								<th>Format</th>
								<th>Status</th>
								<th>Video</th>
							</tr>
							</thead>
							<tbody>
							<?php
							foreach ($this->streams as $stream) {
								$video_url = $s3->getVideoStreamURL($stream->id,$this->item->id);
								$path_parts = pathinfo($video_url);
								switch ($path_parts['extension']) {
									case "m3u8":
										$source_type = "application/x-mpegURL";
										break;
									case "mpd":
										$source_type = "application/dash+xml";
										break;
									default:
										$source_type = "video/mp4";
								}
								?>
								<tr>
									<td><?php echo $stream->format_name?></td>
									<td><?php echo $stream->transcode_status?></td>
									<td class="col-sm-3">
										<?php if ($stream->transcode_status == 'Complete') {?>
											<div class="embed-responsive embed-responsive-16by9" style="max-width:311px;max-height:175px;">
												<video
														class="embed-responsive-item mediaplayer cny-lvp"
														controls
														preload="auto"
														poster="<?php echo $thumbnail_url?>"
														data-setup="{}"
														src="<?php //echo $video_url?>"
												>
													<source src="<?php echo $video_url?>" type="<?php echo $source_type?>" />
												</video>
											</div>
										<?php } ?>
									</td>
								</tr>
								<?php if ($stream->transcode_status == 'Error') { ?>
									<tr>
										<td colspan="3">
											<a href="#" class="aws-job-details" data-aws_job_id="<?php echo $stream->aws_job_id?>">Get Job Details</a>

											<div id="log-<?php echo $stream->aws_job_id?>"></div>
										</td>
									</tr>
								<?php } ?>
							<?php } ?>
							</tbody>
						</table>
					<?php } ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="tracks-tab">
					<?php if ($this->tracks) {?>
						<table class="table table-striped">
							<thead>
							<tr>
								<th>Label</th>
								<th>Kind</th>
							</tr>
							</thead>
							<tbody>
							<?php
							foreach ($this->tracks as $track) {
								?>
								<tr>
									<td><?php echo $track->label?></td>
									<td><?php echo $track->kind?></td>
								</tr>
							<?php } ?>
							</tbody>
						</table>
					<?php } ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="trailer-tab">
					<?php if ($this->trailer) {
						?>
						<table class="table table-striped">
							<tbody>
							<tr>
								<td>Video:</td>
								<td>
									<div class="embed-responsive embed-responsive-16by9">
										<video
												class="embed-responsive-item mediaplayer cny-lvp"
												controls
												preload="auto"
												poster="<?php echo $thumbnail_url?>"
												data-setup="{}"
												src="<?php //echo $this->trailer_url?>"
										>
											<source src="<?php echo $this->trailer_url?>" type="video/mp4" />
										</video>
									</div>
								</td>
							</tr>
							</tbody>
						</table>

						<?php if ($this->trailer_streams) {?>
							<h2>Trailer Stream Files (Transcoded Files)</h2>
							<table class="table table-striped">
								<thead>
								<tr>
									<th>Format</th>
									<th>Status</th>
									<th>Video</th>
								</tr>
								</thead>
								<tbody>
								<?php
								foreach ($this->trailer_streams as $stream) {
									$video_url = $s3->getVideoTrailerStreamURL($stream->id,$this->item->id);

									$path_parts = pathinfo($video_url);
									switch ($path_parts['extension']) {
										case "m3u8":
											$source_type = "application/x-mpegURL";
											break;
										case "mpd":
											$source_type = "application/dash+xml";
											break;
										default:
											$source_type = "video/mp4";
									}

									?>
									<tr>
										<td><?php echo $stream->format_name?></td>
										<td><?php echo $stream->transcode_status?></td>
										<td class="col-sm-3">
											<?php if ($stream->transcode_status == 'Complete') {?>
												<div class="embed-responsive embed-responsive-16by9" style="max-width:311px;max-height:175px;">
													<video
															class="embed-responsive-item mediaplayer cny-lvp"
															controls
															preload="auto"
															poster="<?php echo $thumbnail_url?>"
															data-setup="{}"
															src="<?php //echo $video_url?>"
													>
														<source src="<?php echo $video_url?>" type="<?php echo $source_type?>" />
													</video>
												</div>
											<?php } ?>
										</td>
									</tr>
									<?php if ($stream->transcode_status == 'Error') { ?>
										<tr>
											<td colspan="3">
												<a href="#" class="aws-job-details" data-aws_job_id="<?php echo $stream->aws_job_id?>">Get Job Details</a>

												<div id="log-<?php echo $stream->aws_job_id?>"></div>
											</td>
										</tr>
									<?php }else { ?>
										<tr>
											<td>Embed Code:</td>
											<td colspan="2" class="selectable">
												<xmp><iframe frameborder="0" width="100%" src="https://<?php echo $_SERVER['HTTP_HOST']?>/lvp/embed/hash/<?php echo $this->item->video_hash?>?format=iframe" allowfullscreen></iframe></xmp>
											</td>
										</tr>
									<?php } ?>
								<?php } ?>
								</tbody>
							</table>
						<?php } ?>
					<?php } ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="extras-tab">
					<?php
					$stream_mapper = new Admin_Model_Mapper_VideoPlatformVideoExtrasStream();
					foreach ($this->extras as $extra) {
						$video_url = $s3->getVideoExtrasURL($extra->id);
						$streams = $stream_mapper->fetchByExtrasId($extra->id);
						?>
						<div class="row">
							<div class="col-sm-12 component-search-results">
								<table class="table table-striped">
									<tbody>
									<?php if ($video_url) {?>
										<tr>
											<td>Video:</td>
											<td>
												<div class="embed-responsive embed-responsive-16by9">
													<video
															class="embed-responsive-item mediaplayer cny-lvp"
															controls
															preload="auto"
															poster="<?php //echo $this->thumbnail_url?>"
															data-setup="{}"
															src="<?php //echo $this->trailer_url?>"
													>
														<source src="<?php echo $video_url?>" type="video/mp4" />
													</video>
												</div>
											</td>
											<td class="hidden-xs text-center col-sm-1"><a href="#/admin/video-platform/extras-delete/video_id/<?php echo $this->video_id?>/id/<?php echo $extra->id?>" onclick="loadView('extras','delete','<?php echo $extra->id?>');" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
										</tr>
										<tr>
											<td>Title:</td>
											<td><?php echo $extra->title?></td>
										</tr>
										<tr>
											<td>Description:</td>
											<td><?php echo $extra->description?></td>
										</tr>
										<tr>
											<td>Thumbnail:</td>
											<td>
												<?php if ($extra->thumbnail_src) {?>
													<img src="<?php echo $extra->thumbnail_src?>" class="img-responsive" style="max-height:400px;max-width:400px;">
												<?php } ?>
											</td>
										</tr>
									<?php } ?>
									</tbody>
								</table>
							</div>
						</div>

						<?php if ($streams) {?>
							<h2>Stream Files (Transcoded Files)</h2>
							<div class="row">
								<div class="col-sm-12 component-search-results">
									<table class="table table-striped">
										<thead>
										<tr>
											<th>Format</th>
											<th>Status</th>
											<th>Video</th>
										</tr>
										</thead>
										<tbody>
										<?php
										foreach ($streams as $stream) {
											$video_url = $s3->getVideoExtrasStreamURL($stream->id,$extra->id);

											$path_parts = pathinfo($video_url);
											switch ($path_parts['extension']) {
												case "m3u8":
													$source_type = "application/x-mpegURL";
													break;
												case "mpd":
													$source_type = "application/dash+xml";
													break;
												default:
													$source_type = "video/mp4";
											}

											?>
											<tr>
												<td><?php echo $stream->format_name?></td>
												<td><?php echo $stream->transcode_status?></td>
												<td class="col-sm-3">
													<?php if ($stream->transcode_status == 'Complete') {?>
														<div class="embed-responsive embed-responsive-16by9" style="max-width:311px;max-height:175px;">
															<video
																	class="embed-responsive-item mediaplayer cny-lvp"
																	controls
																	preload="auto"
																	poster="<?php //echo $this->thumbnail_url?>"
																	data-setup="{}"
																	src="<?php //echo $video_url?>"
															>
																<source src="<?php echo $video_url?>" type="<?php echo $source_type?>" />
															</video>
														</div>
													<?php } ?>
												</td>
											</tr>
											<?php if ($stream->transcode_status == 'Error') { ?>
												<tr>
													<td colspan="3">
														<a href="#" class="aws-job-details" data-aws_job_id="<?php echo $stream->aws_job_id?>">Get Job Details</a>

														<div id="log-<?php echo $stream->aws_job_id?>"></div>
													</td>
												</tr>
											<?php } ?>
										<?php } ?>
										</tbody>
									</table>
								</div>
							</div>
						<?php } ?>
					<?php } ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="gallery-tab">
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Image</th>
							<th>Title</th>
							<th>Caption</th>
						</tr>
						</thead>
						<tbody>
						<?php
						if ($this->images) {
							foreach ($this->images as $key => $item) {
								?>
								<tr>
									<td><img src="<?php echo $item->image_src?>" class="img-responsive" style="max-height:200px;max-width:400px;"/></td>
									<td><?php echo $item->title?></td>
									<td><?php echo $item->caption?></td>
								</tr>
								<?php
							}
						}
						?>
						</tbody>
					</table>
				</div>

				<div role="tabpanel" class="tab-pane" id="cast-tab">
					<?php if ($this->directors) { ?>
						<h4>Directors</h4>
						<table class="table table-striped">
							<thead>
							<tr>
								<th class="col-sm-6">Name</th>
								<th class="col-sm-6">Role</th>
							</tr>
							</thead>
							<tbody>
							<?php
							foreach ($this->directors as $key => $item) {
								?>
								<tr>
									<td><?php echo $item->name?></td>
									<td><?php echo $item->role?></td>
								</tr>
								<?php
							}
							?>
							</tbody>
						</table>
					<?php } ?>

					<?php if ($this->cast) { ?>
						<h4>Cast</h4>
						<table class="table table-striped">
							<thead>
							<tr>
								<th class="col-sm-6">Name</th>
								<th class="col-sm-6">Role</th>
							</tr>
							</thead>
							<tbody>
							<?php
							foreach ($this->cast as $key => $item) {
								?>
								<tr>
									<td><?php echo $item->name?></td>
									<td><?php echo $item->role?></td>
								</tr>
								<?php
							}
							?>
							</tbody>
						</table>
					<?php } ?>

					<?php if ($this->crew) { ?>
						<h4>Crew</h4>
						<table class="table table-striped">
							<thead>
							<tr>
								<th class="col-sm-6">Name</th>
								<th class="col-sm-6">Role</th>
							</tr>
							</thead>
							<tbody>
							<?php
							foreach ($this->crew as $key => $item) {
								?>
								<tr>
									<td><?php echo $item->name?></td>
									<td><?php echo $item->role?></td>
								</tr>
								<?php
							}
							?>
							</tbody>
						</table>
					<?php } ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="news-tab">
					<?php if ($this->news) { ?>
						<h4>News</h4>
						<table class="table table-striped">
							<thead>
							<tr>
								<th class="col-sm-6">Name</th>
								<th class="col-sm-6">Description</th>
							</tr>
							</thead>
							<tbody>
							<?php
							foreach ($this->news as $key => $item) {
								?>
								<tr>
									<td><?php echo $item->name?></td>
									<td><?php echo $item->description?></td>
								</tr>
								<?php
							}
							?>
							</tbody>
						</table>
					<?php } ?>

					<?php if ($this->reviews) { ?>
						<h4>Reviews</h4>
						<table class="table table-striped">
							<thead>
							<tr>
								<th class="col-sm-6">Name</th>
								<th class="col-sm-6">Description</th>
							</tr>
							</thead>
							<tbody>
							<?php
							foreach ($this->reviews as $key => $item) {
								?>
								<tr>
									<td><?php echo $item->name?></td>
									<td><?php echo $item->description?></td>
								</tr>
								<?php
							}
							?>
							</tbody>
						</table>
					<?php } ?>

				</div>

				<div role="tabpanel" class="tab-pane" id="geoblock-tab">
					<table class="table table-striped">
						<thead>
						<tr>
							<th>Code</th>
							<th>Type</th>
							<th class="hidden-xs text-center col-sm-1">Delete</th>
							<th class="hidden-xs text-center col-sm-1">Edit</th>
						</tr>
						</thead>
						<tbody>
						<?php
						foreach ($this->geoblocks as $geoblock) {
							?>
							<tr>
								<td><?php echo $geoblock->geo_code?></td>
								<td><?php echo $geoblock->status?></td>
								<td class="hidden-xs text-center col-sm-1"><a href="#/admin/video-platform/geoblock-delete/video_id/<?php echo $this->video_id?>/id/<?php echo $track->id?>" onclick="loadView('geoblock','delete','<?php echo $geoblock->id?>');" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
								<td class="hidden-xs text-center col-sm-1"><a href="#/admin/video-platform/geoblock-edit/video_id/<?php echo $this->video_id?>/id/<?php echo $track->id?>" onclick="loadView('geoblock','edit','<?php echo $geoblock->id?>');"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
							</tr>
						<?php } ?>
						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		$(".aws-job-details").on("click", function(){
			var job_id = $(this).data('aws_job_id');

			$('#log-'+job_id).load('/admin/video-platform/get-job-details?job_id='+job_id);

			return false;
		});
	});
</script>
