<div class="row">
	<div class="col-sm-8">
		<h2>Video Monetization Links</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/video-platform/monetization-link-add/video_id/<?php echo $this->video_id?>" onclick="loadView('monetization-link','add','');">Add Monetization Link</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 component-search-results">
		<table class="table table-striped">
			<thead>
			<tr>
				<th class="col-sm-1">Sort</th>
				<th class="col-sm-5">Button Text</th>
				<th class="col-sm-4">URL</th>
				<th class="col-sm-1 hidden-xs text-center">Delete</th>
				<th class="col-sm-1 hidden-xs text-center">Edit</th>
			</tr>
			</thead>
			<tbody id="monetization-link-sort">
			<?php
			foreach ($this->monetization_links as $key => $item) {
				?>
				<tr id="sort_<?php echo $item->id?>">
					<td></td>
					<td><?php echo $item->title?></td>
					<td><?php echo $item->url?></td>
					<td class="hidden-xs text-center"><a href="#/admin/video-platform/monetization-link-delete/id/<?php echo $item->id?>" onclick="loadView('monetization-link','delete','<?php echo $item->id?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
					<td class="hidden-xs text-center"><a href="#/admin/video-platform/monetization-link-edit/id/<?php echo $item->id?>" onclick="loadView('monetization-link','edit','<?php echo $item->id?>')" class="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
				</tr>
				<?php
			}
			?>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#monetization-link-sort').sortable({
			update: function( event, ui ) {
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'POST',
					url: '/admin/video-platform/monetization-link-sort'
				});
			}
		});
	});
</script>
