<div class="row">
	<div class="col-sm-8">
		<h2>Video Monetization</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/video-platform/monetization-edit/video_id/<?php echo $this->video_id?>" onclick="loadView('monetization','edit','<?php echo $this->monetization->id?>');">Edit Monetization</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 component-search-results">
		<table class="table table-striped">
			<tbody>
			<tr>
				<td colspan="2">
					<h5>Purchase Settings</h5>
				</td>
			</tr>
			<tr>
				<td><label>Purchase Required</label></td>
				<td><?php echo $this->monetization->purchase_required?></td>
			</tr>
			<tr>
				<td><label>Purchase Price (USD)</label></td>
				<td>$<?php echo $this->monetization->purchase_price?></td>
			</tr>

			<tr>
				<td colspan="2">
					<h5>Rental Settings</h5>
				</td>
			</tr>
			<tr>
				<td><label>Rental Required</label></td>
				<td><?php echo $this->monetization->rental_required?></td>
			</tr>
			<tr>
				<td><label>Rental Price (USD)</label></td>
				<td>$<?php echo $this->monetization->rental_price?></td>
			</tr>
			<tr>
				<td><label>Rental Duration (days)</label></td>
				<td><?php echo $this->monetization->rental_duration_days?></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function() {

	});
</script>
