<div class="row">
	<div class="col-sm-8">
		<h2>News & Reviews</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/video-platform/news-add/video_id/<?php echo $this->video_id?>" onclick="loadView('news','add','');">Add News/Reviews</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 component-search-results">
		<?php if ($this->news) { ?>
			<h4>News</h4>
			<table class="table table-striped">
				<thead>
				<tr>
					<th class="col-sm-1">Sort</th>
					<th class="col-sm-5">Name</th>
					<th class="col-sm-4">Description</th>
					<th class="col-sm-1 hidden-xs text-center">Delete</th>
					<th class="col-sm-1 hidden-xs text-center">Edit</th>
				</tr>
				</thead>
				<tbody id="news-sort">
				<?php
				foreach ($this->news as $key => $item) {
					?>
					<tr id="sort_<?php echo $item->id?>">
						<td></td>
						<td><?php echo $item->name?></td>
						<td><?php echo $item->description?></td>
						<td class="hidden-xs text-center"><a href="#/admin/video-platform/news-delete/id/<?php echo $item->id?>" onclick="loadView('news','delete','<?php echo $item->id?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center"><a href="#/admin/video-platform/news-edit/id/<?php echo $item->id?>" onclick="loadView('news','edit','<?php echo $item->id?>')" class="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
					<?php
				}
				?>
				</tbody>
			</table>
		<?php } ?>

		<?php if ($this->reviews) { ?>
			<h4>Reviews</h4>
			<table class="table table-striped">
				<thead>
				<tr>
					<th class="col-sm-1">Sort</th>
					<th class="col-sm-5">Name</th>
					<th class="col-sm-4">Description</th>
					<th class="col-sm-1 hidden-xs text-center">Delete</th>
					<th class="col-sm-1 hidden-xs text-center">Edit</th>
				</tr>
				</thead>
				<tbody id="reviews-sort">
				<?php
				foreach ($this->reviews as $key => $item) {
					?>
					<tr id="sort_<?php echo $item->id?>">
						<td></td>
						<td><?php echo $item->name?></td>
						<td><?php echo $item->description?></td>
						<td class="hidden-xs text-center"><a href="#/admin/video-platform/news-delete/id/<?php echo $item->id?>" onclick="loadView('news','delete','<?php echo $item->id?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center"><a href="#/admin/video-platform/news-edit/id/<?php echo $item->id?>" onclick="loadView('news','edit','<?php echo $item->id?>')" class="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
					<?php
				}
				?>
				</tbody>
			</table>
		<?php } ?>


	</div>
</div>

<script>
	$(document).ready(function() {
		$('#news-sort').sortable({
			update: function( event, ui ) {
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'POST',
					url: '/admin/video-platform/news-sort'
				});
			}
		});
		$('#reviews-sort').sortable({
			update: function( event, ui ) {
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'POST',
					url: '/admin/video-platform/news-sort'
				});
			}
		});
	});
</script>
