<div class="row">
	<div class="col-sm-8">
		<h2><?php echo ($this->cmd=='add')?'Add New Video Attribute':'Edit Video Attribute'?></h2>

		<?php if ($this->errors) { ?>
			<div class="error_box">
				<ul>
					<?php
					foreach ($this->errors as $error) {
						echo "<li>".$error."</li>";
					}
					?>
				</ul>
			</div>
		<?php } ?>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 component-search-results">
		<?php echo $this->form?>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#videoPlatformVideoProfileForm button.btn-cancel').on('click', function(){
			loadView('profile','view','');
		});

		$('#videoPlatformVideoProfileForm').ajaxForm({target: '#profile-block'});

		$.ajax("/admin/video-platform/load-attribute-input/video_id/" + $('#video_platform_video_id').val() + "/attribute_id/<?php echo $this->video_platform_video_attribute_id?>", {
			dataType: "html"
		}).done(function (data) {
			$("#attribute_input").html(data);
		});

		$("#video_platform_video_attribute_id").select2();

		<?php /*
		$("#product_attribute_id").select2({
			placeholder: "Search...",
			minimumInputLength: 2,
			ajax: {
				url: "/admin/product/attribute-json-search/",
				dataType: 'json',
				quietMillis: 250,
				data: function (term, page) {
					var query = {
						q: term
					};
					return query;
				},
				results: function (data, page) {
					//convert to required format
					var s_data = [];
					$.each(data, function (key) {
						s_data.push({id: data[key].id, text: data[key].title})
					});

					return {results: s_data};
				},
				cache: true
			},
			formatSelection: function (object, container) {
				$.ajax("/admin/product/load-attribute-input/product_id/" + $('#product_id').val() + "/attribute_id/" + object.id, {
					dataType: "html"
				}).done(function (data) {
					$("#attribute_input").html(data);
				});

				return object;
			},
			initSelection: function (element, callback) {
				var id = $(element).val();
				if (id !== "") {
					$.ajax("/admin/product/attribute-json-search/id/" + id, {
						dataType: "json"
					}).done(function (data) {
						//convert to required format
						var s_data = '';
						$.each(data, function (key) {
							s_data = {id: data[key].id, text: data[key].title}
						});

						callback(s_data);
					});
				}
			},
			formatSelection: attributeFormatSelection,
			escapeMarkup: function (m) {
				return m;
			}
		});

		function attributeFormatSelection(item) {
			item.title = (item.text)?item.text:'';

			var markup = '<div class="row">' +
				'<div class="col-sm-12">' + item.text + '</div>' +
				'</div>';

			return markup;
		}
        */ ?>

		$("body").off("submit",".add-attribute-form").on("submit",".add-attribute-form",function(){
			$.post( $(this).attr('action'),
				$( "form.add-attribute-form" ).serialize(),
				function(data) {
					$('#modal').modal('hide');
				}, 'json');

			return false;
		});
	});
</script>
