<?php
$truncate = new Cny_View_Helper_StringTruncate();
$attribute_mapper = new Application_Model_Mapper_VideoPlatformVideoAttribute();
?>
<div class="row">
	<div class="col-sm-8">
		<h2>Attributes</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/video-platform/profile-add/video_id/<?php echo $this->video_id?>" onclick="loadView('profile','add','');">Add Attribute</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 component-search-results">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Attribute</th>
				<th>Value</th>
				<th>Visibility</th>
				<th class="hidden-xs text-center">Delete</th>
				<th class="hidden-xs text-center">Edit</th>
			</tr>
			</thead>
			<tbody id="profile-sort">
			<?php
			if ($this->profile) {
				foreach ($this->profile as $key => $item) {
				?>
					<tr id="sort_<?php echo $item['video_platform_video_profile_id']?>">
						<td><?php echo $item['title']?>:</td>
						<td class="break-words">
							<?php
							if (!isset($item['field_type']) || !$item['field_type'] || $item['field_type'] == 'text' || $item['field_type'] == 'select') {
								echo $item['value'];
							}elseif ($item['field_type'] == 'textarea' || $item['field_type'] == 'wysiwyg') {
								echo $truncate->StringTruncate($item['value'], 200, true);
								echo "<br/><br/><small>For complete text edit the attribute</small>";
							}elseif ($item['field_type'] == 'image') {
								echo '<img class="img-responsive" style="max-width:400px;max-height:300px;" src="'.$item['value'].'">';
							}elseif ($item['field_type'] == 'file') {
								echo '<a href="'.$item['value'].'" target="_blank">'.$item['value'].'</a>';
							}
							?>
						</td>
						<td>
							<?php echo $item['visibility']?>
						</td>
						<td class="hidden-xs text-center"><a href="#/admin/video-platform/profile-delete/id/<?php echo $item['video_platform_video_profile_id']?>" onclick="loadView('profile','delete','<?php echo $item['video_platform_video_profile_id']?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center"><a href="#/admin/video-platform/profile-edit/id/<?php echo $item['video_platform_video_profile_id']?>" onclick="loadView('profile','edit','<?php echo $item['video_platform_video_profile_id']?>')" class="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
				<?php
				}
			}
			?>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#profile-sort').sortable({
			update: function( event, ui ) {
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'POST',
					url: '/admin/video-platform/profile-sort/video_id/<?php echo $this->video_id?>'
				});
			}
		});
	});
</script>
