<?php
$s3 = new Application_Model_AmazonS3();
?>
<div class="row">
	<div class="col-sm-8">
		<h2>Tracks</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/video-platform/track-add/video_id/<?php echo $this->video_id?>" onclick="loadView('track','add','');">Add Track</a>
		</div>
	</div>
</div>

<?php if ($this->tracks) {?>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Label</th>
					<th>Kind</th>
					<th class="hidden-xs text-center col-sm-1">Delete</th>
					<th class="hidden-xs text-center col-sm-1">Edit</th>
				</tr>
				</thead>
				<tbody>
				<?php
				foreach ($this->tracks as $track) {
					?>
					<tr>
						<td><?php echo $track->label?></td>
						<td><?php echo $track->kind?></td>
						<td class="hidden-xs text-center col-sm-1"><a href="#/admin/video-platform/track-delete/video_id/<?php echo $this->video_id?>/id/<?php echo $track->id?>" onclick="loadView('track','delete','<?php echo $track->id?>');" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center col-sm-1"><a href="#/admin/video-platform/track-edit/video_id/<?php echo $this->video_id?>/id/<?php echo $track->id?>" onclick="loadView('track','edit','<?php echo $track->id?>');"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
				<?php } ?>
				</tbody>
			</table>
		</div>
	</div>
<?php } ?>

<script>
	$(document).ready(function() {

	});
</script>
