<div class="row">
	<div class="col-sm-8">
		<h2><?php echo ($this->cmd=='add')?'Add New Track':'Edit Track'?></h2>

		<?php if ($this->errors) { ?>
			<div class="error_box">
				<ul>
					<?php
					foreach ($this->errors as $error) {
						echo "<li>".$error."</li>";
					}
					?>
				</ul>
			</div>
		<?php } ?>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 component-search-results">
		<?php echo $this->form?>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#videoPlatformTrackForm button.btn-cancel').on('click', function(){
			loadView('track','view','');
		});

		$('#videoPlatformTrackForm').ajaxForm({
			target: '#track-block',
			beforeSubmit: function(arr, $form, options) {
				$('#videoPlatformTrackForm button.btn-save').html('Saving <i class="fas fa-spin fa-cog"></i>').prop('disabled',true);

				return true;
			}
		});
	});
</script>
