<div class="row">
	<div class="col-sm-8">
		<h2><?php echo ($this->cmd=='add')?'Add New Video Trailer':'Edit Video Trailer'?></h2>

		<?php if ($this->errors) { ?>
			<div class="error_box">
				<ul>
					<?php
					foreach ($this->errors as $error) {
						echo "<li>".$error."</li>";
					}
					?>
				</ul>
			</div>
		<?php } ?>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 component-search-results">
		<?php echo $this->form?>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#videoPlatformTrailerForm button.btn-cancel').on('click', function(){
			loadView('trailer','view','');
		});

		$('#videoPlatformTrailerForm').ajaxForm({target: '#trailer-block'});
	});
</script>
