<?php
$s3 = new Application_Model_AmazonS3();
?>
<div class="row">
	<div class="col-sm-8">
		<h2>Video Trailer</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<?php if ($this->trailer->id) {?>
				<a class="btn btn-default btn-sm" href="#/admin/video-platform/trailer-edit/video_id/<?php echo $this->video_id?>" onclick="loadView('trailer','edit','<?php echo $this->trailer->id?>');">Edit Trailer</a>
			<?php }else { ?>
				<a class="btn btn-default btn-sm" href="#/admin/video-platform/trailer-add/video_id/<?php echo $this->video_id?>" onclick="loadView('trailer','add','');">Add Trailer</a>
			<?php } ?>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 component-search-results">
		<table class="table table-striped">
			<tbody>
			<?php
			if ($this->trailer_url || $this->trailer->embed_code || $this->trailer->embed_url) {?>
			<tr>
				<td>Video:</td>
				<td>
					<div class="embed-responsive embed-responsive-16by9">
						<?php
						if ($this->trailer->embed_code) {
							echo $this->trailer->embed_code;
						}elseif ($this->trailer->embed_url) {
							$parser = new Cny_Model_VideoParser();
							$video_url = $parser->getEmbedUrl($this->trailer->embed_url);
							if ($video_url) {
								echo '<iframe class="embed-responsive-item" width="100%" style="min-height:300px;" frameborder="0" src="' . $video_url . '"></iframe>';
							}else {
								//must be generic so create a video tag
								?>
								<div class="embed-responsive embed-responsive-16by9">
									<video src="<?php echo $this->trailer->embed_url?>" class="embed-responsive-item" controls></video>
								</div>
								<?php
							}
						}

						if (!$this->trailer->embed_code && !$this->trailer->embed_url) {?>
							<video
									class="embed-responsive-item mediaplayer cny-lvp"
									controls
									preload="auto"
									poster="<?php echo $this->thumbnail_url?>"
									data-setup="{}"
									src="<?php //echo $this->trailer_url?>"
							>
								<source src="<?php echo $this->trailer_url?>" type="video/mp4" />
							</video>
						<?php } ?>
					</div>
				</td>
				<td class="hidden-xs text-center col-sm-1"><a href="#/admin/video-platform/trailer-delete/video_id/<?php echo $this->video_id?>/id/<?php echo $this->trailer->id?>" onclick="loadView('trailer','delete','<?php echo $this->trailer->id?>');" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
			</tr>
			<?php } ?>
			</tbody>
		</table>
	</div>
</div>

<?php if ($this->streams) {?>
	<h2>Stream Files (Transcoded Files)</h2>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Format</th>
					<th>Status</th>
					<th>Video</th>
				</tr>
				</thead>
				<tbody>
				<?php
				foreach ($this->streams as $stream) {
					$video_url = $s3->getVideoTrailerStreamURL($stream->id,$this->trailer->id);

					$path_parts = pathinfo($video_url);
					switch ($path_parts['extension']) {
						case "m3u8":
							$source_type = "application/x-mpegURL";
							break;
						case "mpd":
							$source_type = "application/dash+xml";
							break;
						default:
							$source_type = "video/mp4";
					}

					?>
					<tr>
						<td><?php echo $stream->format_name?></td>
						<td><?php echo $stream->transcode_status?></td>
						<td class="col-sm-3">
							<?php if ($stream->transcode_status == 'Complete') {?>
								<div class="embed-responsive embed-responsive-16by9" style="max-width:311px;max-height:175px;">
									<video
											class="embed-responsive-item mediaplayer cny-lvp"
											controls
											preload="auto"
											poster="<?php echo $this->thumbnail_url?>"
											data-setup="{}"
											src="<?php //echo $video_url?>"
									>
										<source src="<?php echo $video_url?>" type="<?php echo $source_type?>" />
									</video>
								</div>
							<?php } ?>
						</td>
					</tr>
				<?php } ?>
				</tbody>
			</table>
		</div>
	</div>
<?php } ?>

<script>
	$(document).ready(function() {
		window.cny.videoPlayer();
	});
</script>
