<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>
<?php
use Cocur\Slugify\Slugify;
$slugify = new Slugify();

$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$lvp_url = $video_url = ($settings_mapper->getValueByCode('video_platform_url'))?$settings_mapper->getValueByCode('video_platform_url'):'videos';

if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="col-sm-12">
					<div class="col-xs-1">
						<button type="submit" class="btn btn-primary xs-100">Search</button>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<div class="checkbox hidden-xs">
								<input type="checkbox" name="csv" value="1" id="export"> <label for="export">Export</label>
							</div>
						</div>
					</div>
					<div class="col-xs-1">
						<a href="/admin/video-platform/zype-library" class="btn btn-warning xs-100">Reset</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-10 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<div class="col-sm-2 col-xs-12">

			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>ID</th>
						<th><a href="/admin/video-platform/zype-library/sort/title/dir/<?php echo $dir?>">Title</a></th>
						<th>Status</th>
						<th class="hidden-xs"><a href="/admin/video-platform/zype-library/sort/created/dir/<?php echo $dir?>">Created</a></th>
						<th class="text-center">Preview</th>
						<th class="hidden-xs text-center">Edit</th>
					</tr>
					</thead>
					<tbody>
					<?php
					foreach($this->response as $key => $val) {
						?>
						<tr>
							<td><?php echo $val->_id?></td>
							<td><?php echo $val->title?></td>
							<td><?php echo ($val->active)?"Enabled":"Disabled"?></td>
							<td class="hidden-xs"><?php echo ($val->created_at)?$this->UTCtoTZ($val->created_at,"n/j/Y g:ia",$this->site_timezone):""?></td>
							<td class="text-center"><a href="/<?php echo $lvp_url?>/<?php echo ($val->friendly_title)?$val->friendly_title:$slugify->slugify($val->title)?>/<?php echo $val->_id?>" title="Preview" target="_blank"><span class="sr-only">Preview </span><span class="far fa-eye"></span></a></td>
							<td class="hidden-xs text-center"><a href="/admin/video-platform/zype-video-edit/id/<?php echo $val->_id?>" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
						</tr>
					<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>
