<div class="col-md-4 col-xs-12 col-sm-6 m-b-15">
    <div class="white-box text-center bg-icon bg-icon--bottom-right full-height" style="background-color: <?php echo $this->bgcolor; ?>">
        <p class="text-white"><?php echo $this->label; ?></p>
        <hr class="m-t-0 border-white">
        <p class="text-white counter h1"><?php echo $this->data['count']; ?></p>
	    <i class="<?php echo $this->icon; ?> text-white"></i>
    </div>
</div>
