<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$truncate = new Cny_View_Helper_StringTruncate();

$pi_mapper = new Application_Model_Mapper_ProductImage();
?>
<div class="js-carousel carousel--flex" data-infinite_scroll="Enabled">
	<?php foreach ($this->products as $product) {
		if (!isset($product->id) || !$product->id) continue;
		$primary_image = $pi_mapper->fetchPrimaryByProductId($product->id);

		if ($primary_image){
			$primary_image->thumbnail_src = str_replace("userFiles/uploads", "userThumbs", $primary_image->image_src);
		}
		?>
		<div class="carousel__item" data-href="/product/<?php echo $product->code?>">

			<div class="products--grid__item">
				<div class="products__content">
					<div class="products__image">
						<img src="<?php echo ($primary_image->thumbnail_src)?$primary_image->thumbnail_src:$primary_image->image_src?>" class="img-responsive center-block" style="max-height:200px;max-width:200px;">
					</div>
					<div class="products__caption">

						<?php if ($settings_mapper->getValueByCode('ecommerce_category_product_title') != 'Disabled') { ?>
							<h3 class="products__title <?php echo $settings_mapper->getValueByCode('ecommerce_category_product_alignment');?>" data-title-padding="<?php echo $settings_mapper->getValueByCode('ecommerce_category_product_padding');?>"><?php echo $product->title?></h3>
						<?php } ?>

						<?php if ($settings_mapper->getValueByCode('ecommerce_category_product_short_description') != 'Disabled') { ?>
							<div class="products__content <?php echo $settings_mapper->getValueByCode('ecommerce_category_short_description_alignment');?>" data-description-padding="<?php echo $settings_mapper->getValueByCode('ecommerce_category_short_description_padding');?>">
								<p><?php echo ($product->summary)?$product->summary:$truncate->StringTruncate($product->description, 100, true)?></p>

								<a href="/product/<?php echo $product->code?>">View Details</a>

							</div>
						<?php } ?>
					</div>
				</div>
				<div class="products__content">
					<div class="products__content">
						<div class="price <?php echo $settings_mapper->getValueByCode('ecommerce_category_product_cta_button_style');?>">

							<?php if ($product->price && $settings_mapper->getValueByCode('ecommerce_category_product_price') != 'Disabled') {?>
								<span class="<?php echo $settings_mapper->getValueByCode('ecommerce_category_product_price_alignment');?>" data-price-padding="<?php echo $settings_mapper->getValueByCode('ecommerce_category_product_price_padding');?>">
							<?php if ($product->msrp) { ?>
								<small class="text-line-through msrp m-r-5">MSRP: $<?php echo number_format($product->msrp,2)?></small>
							<?php } ?>
							$<?php echo number_format($product->price,2)?>
						</span>
							<?php } ?>

							<?php if ($settings_mapper->getValueByCode('ecommerce_category_product_cta_button') != 'Disabled') { ?>
								<a href="/cart/add/product_id/<?php echo $product->id?>" class="btn btn--gray btn-ecommerce-primary btn--cms-default <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_style');?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_hover_effect');?>"><?php echo $settings_mapper->getValueByCode('ecommerce_category_product_cta_text')?$settings_mapper->getValueByCode('ecommerce_category_product_cta_text'):'Buy Now'?></a>
							<?php } ?>

						</div>
					</div>
				</div>
			</div>
		</div>
	<?php } ?>
</div>
