.text-overlap-image__heading {
  @include gotham-book;
  color: $gray;
  font-size: px2rem(26);
  text-transform: none;

  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(20);
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(18);
  }
}