.text-overlap-image__text {
  @include stanpro;
  color: $gold;
  font-size: px2rem(42);
  font-style: italic;
  line-height: 1.2;

  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(36);
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(24);
  }
}