<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$url_cleaner = new Cny_View_Helper_UrlCleaner();
$vp = new Cny_Model_VideoParser();
$star_maker = new Cny_View_Helper_Stars();
$review_file_mapper = new Admin_Model_Mapper_ProductReviewFile();
$media_cache = new Cny_View_Helper_MediaCache();
?>

<div class="row">
	<div class="col-sm-12">
		<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>
	</div>
</div>

<?php if ($settings_mapper->getValueByCode('ecommerce_product_breadcrumb') != 'Off') { ?>
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<?php if ($this->parent_category) {?>
				<li><a href="/category/<?php echo $this->parent_category->code; ?>"><?php echo $this->parent_category->name; ?></a></li>
			<?php } ?>
			<li class="active"><?php echo (isset($this->active_variant)) ? $this->active_variant->title : $this->product->title;?></li>
		</ol>
	</div>
<?php } ?>

<div class="container m-b-20">
	<div class="row">
		<div class="col-sm-6">
			<?php
			if ($this->primary_image || $this->nonpri_images) {
				//if no primary image we'll make the first non-primary the primary
				if (!$this->primary_image) {
					$this->primary_image = array_shift($this->nonpri_images);
				}
				?>
				<div class="products products--detail">
					<div class="products__image">
						<?php if ($this->secondary_image) {?>
							<img class="img-responsive js-trigger-swap js-trigger-gallery" data-swap-image="<?php echo $this->secondary_image->image_src;?>" src="<?php echo $this->primary_image->image_src;?>" alt="<?php echo htmlentities($this->primary_image->alt_text);?>">
						<?php }else {?>
							<img class="img-responsive js-trigger-zoom js-trigger-gallery" data-zoom-image="<?php echo $this->primary_image->image_src;?>" src="<?php echo $this->primary_image->image_src;?>" alt="<?php echo htmlentities($this->primary_image->alt_text);?>">
						<?php } ?>
					</div>

					<?php if (count((array)$this->nonpri_images) + count((array)$this->videos) > 0) {?>
					<div id="gallery" class="js-carousel carousel carousel--nav">
						<div class="carousel__item">
							<a href="<?php echo $this->primary_image->image_src;?>" data-image="<?php echo $this->primary_image->image_src;?>" data-zoom-image="<?php echo $this->primary_image->image_src;?>" <?php if ($this->secondary_image) {?> data-swap-image="<?php echo $this->secondary_image->image_src;?>" <?php } ?>>
								<img class="img-responsive" src="<?php echo $this->primary_image->thumbnail_src;?>" alt="<?php echo htmlentities($this->primary_image->alt_text);?>" title="<?php echo htmlentities($this->primary_image->alt_text);?>">
							</a>
						</div>

						<?php foreach ($this->nonpri_images as $nonpri) { ?>
							<div class="carousel__item">
								<a href="<?php echo $nonpri->image_src?>" data-image="<?php echo $nonpri->image_src?>" data-zoom-image="<?php echo $nonpri->image_src?>">
									<img class="img-responsive" src="<?php echo $nonpri->thumbnail_src?>" alt="<?php echo htmlentities($nonpri->alt_text);?>" title="<?php echo htmlentities($nonpri->alt_text);?>">
								</a>
							</div>
						<?php } ?>

						<?php
						if ($this->videos) {
							foreach ($this->videos as $video) {
								$media = $vp->getMediaDetails($video->video_src);
								if ($media['thumbnail']) {
									$video_thumbnail = $media['thumbnail'];
								}else {
									$video_thumbnail = $video->image_src;
								}
								?>
								<div class="carousel__item carousel__item--video js-video-modal-trigger" data-video_url="<?php echo $video->video_src?>">
									<img class="img-responsive img-video" src="<?php echo $url_cleaner->image($video_thumbnail)?>" alt="<?php echo htmlentities($video->alt_text)?>">
									<i class="far fa-2x fa-play-circle"></i>
								</div>
								<?php
							}
						}
						?>
					</div>
					<?php } ?>

				</div>
			<?php } ?>
		</div>
		<div class="col-sm-6">
			<div class="products products--detail products--right-rail">
				<h1><?php echo (isset($this->active_variant)) ? $this->active_variant->title : $this->product->title;?></h1>
				<div class="sku m-b-15"><strong>SKU:</strong> <?php echo (isset($this->active_variant)) ? $this->active_variant->sku : $this->product->sku;?></div>
				<?php
				//rating summary
				if ($this->reviews_status == 'Enabled') {
					?>
					<div class="rating m-b-15" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
						<span itemprop="ratingValue" class="hide"><?php echo $this->rating['average']?></span>
						<a href="#reviews" style="text-decoration: none;">
							<?php
							if ($this->reviews_system == 'logic') {
								if ($this->rating['total'] > 0) {
									echo $star_maker->makeStars($this->rating['average']);
									echo ' / <span itemprop="reviewCount">' . $this->rating['total'] . '</span> review';
									echo ($this->rating['total'] > 1) ? "s" : "";
								}else {
									echo '<span itemprop="reviewCount">0</span> reviews. Be the first to review this item.';
								}
							}
							?>
						</a>
					</div>
					<?php
				}
				?>
				<?php
				foreach ($this->variant_types as $variant_type) {
					// TODO - I don't love this setup. Maybe change to grab variants by type in controller?
					?>
					<div class="form-group products__variant">
						<label><?php echo $variant_type->title?>:</label>
						<select class="target form-control">
							<option value="">Select <?php echo $variant_type->title?></option>
							<?php
							//echo "<option value='DEFAULT'>".$this->product->title."</option>";
							foreach ($this->variants as $variant){
								if ($variant->product_variant_type_id != $variant_type->id) continue;

								echo "<option";
								if (isset($this->active_variant) && $this->active_variant->id == $variant->id){
									echo " selected ";
								}
								echo " value='".$variant->id."'>".$variant->title."</option>";
							}
							?>
						</select>
					</div>

				<?php } ?>
				<div class="products__status<?php echo ($settings_mapper->getValueByCode('ecommerce_product_price_padding_tb') == '0' ? ' m-b-15' : '') ?>">
					<?php if ($settings_mapper->getValueByCode('product_pricing_status') != 'Disabled') { ?>
						<?php
						$msrp = (isset($this->active_variant)) ? $this->active_variant->msrp : $this->product->msrp;
							if ($msrp) {
						?>
							<small class="text-line-through msrp m-r-10">MSRP: $<?php echo $msrp; ?></small>
						<?php } ?>
						<div class="price">$<?php echo (isset($this->active_variant)) ? $this->active_variant->price : $this->product->price; ?></div>
					<?php } ?>
					<div class="status m-l-10">
						<?php
						$product_status = (isset($this->active_variant)) ? $this->active_variant->status : $this->product->status;
						if ($settings_mapper->getValueByCode('inventory_display_status') != 'Disabled') {
							$inventory_count = (isset($this->active_variant)) ? $this->active_variant->inventory : $this->product->inventory;

							if ($inventory_count > 0) {
								?>
								<span class="in_stock_message">
									<?php echo $inventory_count; ?>
									<?php echo ($settings_mapper->getValueByCode('inventory_in_stock_message')) ? $settings_mapper->getValueByCode('inventory_in_stock_message') : "Currently In Stock"; ?>
								</span>
								<?php
							}else {
								?>
								<span class="out_of_stock_message">
									<?php
									if ($product_status == 'Enabled') {
										echo ($settings_mapper->getValueByCode('inventory_out_of_stock_message')) ? $settings_mapper->getValueByCode('inventory_out_of_stock_message') : "Backordered";
									}elseif ($product_status == 'Unavailable') {
										echo "Unavailable";
									}
									?>
								</span>
								<?php
							}
							?>
						<?php } ?>
					</div>
				</div>
				<?php
				$primary_button_styles = $settings_mapper->getValueByCode('ecommerce_primary_btn_style');
				$product_button_styles = $settings_mapper->getValueByCode('ecommerce_product_cta_btn_style');
				$button_styles = '';

				if (isset($product_button_styles) && $product_button_styles) {
					$button_styles = $product_button_styles;
				} else {
					$button_styles = $primary_button_styles;
				}
				if ($settings_mapper->getValueByCode('checkout_status') != 'Disabled' && ($product_status == 'Enabled' || $product_status == 'Backordered') && (count($this->variant_types) == 0 || $this->active_variant)) { ?>
					<form action="/cart/add" method="post" class="products__form-control m-b-15 ajax-cart">
						<h3>Quantity</h3>
						<div class="products__form-control__item">
							<div class="controls">
								<i class="fal fa-minus minus-qty" unselectable="on"></i>
								<input class="quantity form-control" type="text" name="qty" value="1" />
								<i class="fal fa-plus plus-qty" unselectable="on"></i>
								<input name="<?php echo (isset($this->active_variant)) ? "variant_id" : "product_id";?>" value="<?php echo (isset($this->active_variant)) ? $this->active_variant->id : $this->product->id;?>" hidden />
							</div>
							<button class="btn btn--green btn-ecommerce-primary btn-ecommerce-cta btn--cms-default <?php echo $button_styles;?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_hover_effect');?> <?php echo $settings_mapper->getValueByCode('ecommerce_product_cta_btn_hover_effect');?>" type="submit">Add to Cart</button>
						</div>

						<?php if ($settings_mapper->getValueByCode('product_wishlist_status') == 'Enabled') {?>
							<div class="m-t-10">
								<?php if ($this->in_wishlist) {?>
									<a class="wishlist-ajax" href="/wishlist/remove?product_id=<?php echo $this->product->id?>&variant_id=<?php echo (isset($this->active_variant)) ? $this->active_variant->id : null;?>&price=<?php echo (isset($this->active_variant)) ? $this->active_variant->price : $this->product->price;?>"><span class="fas fa-heart-broken"></span> Remove from Wishlist</a>
								<?php }else {?>
									<a class="wishlist-ajax" href="/wishlist/add?product_id=<?php echo $this->product->id?>&variant_id=<?php echo (isset($this->active_variant)) ? $this->active_variant->id : null;?>&price=<?php echo (isset($this->active_variant)) ? $this->active_variant->price : $this->product->price;?>"><span class="fas fa-heart"></span> Add to Wishlist</a>
								<?php } ?>
							</div>
						<?php } ?>
					</form>
				<?php } ?>

				<div class="products__share m-b-15">
					<a href="https://www.facebook.com/sharer?u=<?php echo urlencode('https://' . $_SERVER['HTTP_HOST'] . '' . $_SERVER['REQUEST_URI']); ?>" class="fa-stack">
						<i class="far fa-circle fa-stack-2x"></i>
						<i class="fab fa-facebook-f fa-stack-1x"></i>
					</a>
					<a href="https://twitter.com/share?text=Check%20out%20this%20site:&url=<?php echo urlencode('https://' . $_SERVER['HTTP_HOST'] . '' . $_SERVER['REQUEST_URI']); ?>" class="fa-stack">
						<i class="far fa-circle fa-stack-2x"></i>
						<i class="fab fa-twitter fa-stack-1x"></i>
					</a>
					<a href="mailto:?subject=<?php echo urlencode('https://' . $_SERVER['HTTP_HOST'] . '' . $_SERVER['REQUEST_URI']); ?>&body=<?php echo urlencode('https://' . $_SERVER['HTTP_HOST'] . '' . $_SERVER['REQUEST_URI']); ?>" class="fa-stack">
						<i class="far fa-circle fa-stack-2x"></i>
						<i class="fal fa-envelope fa-stack-1x"></i>
					</a>
				</div>
				<div class="products__summary">
					<?php //echo $this->product->summary;?>
				</div>
				<?php if ($settings_mapper->getValueByCode('ecommerce_product_description_position') == 'right-column') { ?>
					<div class="products__description">
						<?php echo (isset($this->active_variant) && $this->active_variant->description) ? $this->active_variant->description : $this->product->description;?>
					</div>
				<?php } ?>
			</div>
		</div>
	</div>
</div>


<?php if ($settings_mapper->getValueByCode('ecommerce_product_description_position') == 'under-product-image') { ?>
<div class="container m-t-40 m-b-20">
	<div class="products__description">
		<?php echo (isset($this->active_variant) && $this->active_variant->description) ? $this->active_variant->description : $this->product->description;?>
	</div>
</div>
<?php } ?>



<?php if ($settings_mapper->getValueByCode('ecommerce_product_recent') == 'On') { ?>
	<?php if ($this->recently_viewed && count($this->recently_viewed) > 0) {?>
	<div class="container m-t-40 m-b-20">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="text-black recent-title m-t-0 m-b-0">Recently Viewed</h3>
				<?php echo $this->partial('product/partials/product_carousel.phtml', array('products'=>$this->recently_viewed))?>
			</div>
		</div>
	</div>
<?php } ?>
<?php } ?>

<?php if ($settings_mapper->getValueByCode('ecommerce_product_related') == 'On') { ?>
	<?php if ($this->related && count($this->related) > 0) {?>
	<div class="container m-t-40 m-b-20">
		<div class="row">
			<div class="col-sm-12">
				<h3 class="text-black related-title m-t-0 m-b-0">Related Products</h3>
				<?php echo $this->partial('product/partials/product_carousel.phtml', array('products'=>$this->related))?>
			</div>
		</div>
	</div>
<?php } ?>
<?php } ?>

<?php
//Q&A
if ($this->qa_status == 'Enabled' && $this->qa_location == 'bottom') {
	?>
	<div class="container m-t-40 m-b-20" id="qas">
		<div class="row">
			<div class="col-sm-12">
				<h3>Product Q&A</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="qa-list">
					<div class="panel-group" id="qa-accordion" role="tablist" aria-multiselectable="true">
						<?php
						if ($this->qa_system == 'logic') {
							if ($this->qas) {
								foreach ($this->qas as $qa) {
									?>
									<div class="panel panel-default">
										<div class="panel-heading" role="tab" id="qa-<?php echo $qa->id ?>">
											<a role="button" class="collapsed" data-toggle="collapse" data-parent="#qa-accordion" href="#collapse-qa-<?php echo $qa->id ?>" aria-expanded="false" aria-controls="collapse-qa-<?php echo $qa->id ?>">
												<?php echo $qa->question ?>
											</a>
											<!--<strong><span><?php echo $qa->name ?></span></strong> - -->
											<small class="pull-right"><?php echo date("F j, Y g:ia", strtotime($qa->created)) ?></small>
										</div>
										<div id="collapse-qa-<?php echo $qa->id ?>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="qa-<?php echo $qa->id ?>">
											<div class="panel-body">
												<?php echo $qa->answer ?>
											</div>
										</div>
									</div>
									<?php
								}
							}else { ?>
								<div class="text-center m-t-20">
									<strong>Have a question? Ask it below.</strong>
								</div>
								<?php
							}
						}
						?>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 m-t-50">
				<h5>Ask a Question</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<form method="post" action="/qa/product" id="write-qa">
					<input type="hidden" name="ret_url" value="<?php echo $_SERVER['REQUEST_URI']?>">
					<input type="hidden" name="data[<?php echo ($this->active_variant)?"product_variant_id":"product_id"?>]" value="<?php echo ($this->active_variant)?$this->active_variant->id:$this->product->id?>">

					<div class="row">
						<div class="form-group col-sm-12">
							<label>Name:</label>
							<input type="text" name="data[name]" class="form-control" value="<?php echo $this->data['name']?>" required>
						</div>
					</div>
					<?php if ($this->qa_email_required == 'Enabled') {?>
						<div class="row">
							<div class="form-group col-sm-12">
								<label>Email:</label>
								<input type="email" name="data[email]" class="form-control" value="<?php echo $this->data['email']?>" required>
							</div>
						</div>
					<?php } ?>
					<div class="row">
						<div class="form-group col-sm-12">
							<label>Question:</label>
							<textarea name="data[question]" class="form-control" rows="6" required><?php echo $this->data['question']?></textarea>
						</div>
					</div>

					<?php if ($this->qa_captcha_status == 'Enabled' && $this->recaptcha_site_key && $this->recaptcha_secret_key) {?>
						<div class="row">
							<div class="form-group col-sm-12">
								<div class="g-recaptcha" data-sitekey="<?php echo $this->recaptcha_site_key; ?>" data-callback="captchaQa"></div>
								<input type="hidden" id="g-recaptcha-qa" value="" />
								<label id="g-recaptcha-error-qa" class="error" style="display:none;"></label>
							</div>
						</div>
					<?php } ?>

					<div class="row">
						<div class="form-group col-sm-2">
							<button type="submit" class="btn btn--green btn-ecommerce-primary btn--cms-default <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_style');?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_hover_effect');?>">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<?php } ?>

<?php
//reviews
if ($this->reviews_status == 'Enabled' && $this->reviews_location == 'bottom') {
	?>
	<div class="container m-t-40 m-b-20" id="reviews">
		<div class="row">
			<div class="col-sm-12">
				<h3>Product Reviews</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="reviews-list">
					<?php
					if ($this->reviews_system == 'logic') {
						if ($this->reviews) {
							foreach ($this->reviews as $review) {
								$review_images = $review_file_mapper->fetchByReviewId($review->id);
								?>
								<div class="review m-b-20" itemprop="review" itemscope itemtype="http://schema.org/Review">
									<div>
										<strong><span itemprop="author"><?php echo $review->name ?></span></strong> -
										<span itemprop="datePublished"><?php echo date("F j, Y g:ia", strtotime($review->created)) ?></span>
									</div>
									<div class="rating m-t-10 m-b-10" itemprop="reviewRating" itemscope
									     itemtype="http://schema.org/Rating">
										<meta itemprop="worstRating" content="1"/>
										<meta itemprop="bestRating" content="5"/>
										<meta itemprop="ratingValue" content="<?php echo $review->rating ?>"/>

										<?php echo $star_maker->makeStars($review->rating) ?>
									</div>
									<div itemprop="description">
										<?php echo $review->review ?>
									</div>

									<?php if ($review_images) {?>
										<div itemprop="images" class="m-t-20 m-l-10">
											<!-- Grid row -->
											<div class="row">
												<?php
												$count = 0;
												foreach ($review_images as $key){
													if (!empty($key['hash'])){
														$filePath = realpath($_SERVER['DOCUMENT_ROOT'] . "/../review_files") . "/" . $key['hash'];
														$image = "/review/image/hash/".$key['hash'];

														//Check if the image exist
														if (file_exists($filePath)) {
															?>
															<div class="col-md-2 col-sm-3">
																<a href="/review/modal-image/hash/<?php echo $key['hash']?>" class="modal-trigger" data-toggle="modal" data-target="#modal"><img class="img-thumbnail" src="<?php echo $image?>" alt="<?php echo $key['filename']?>" style="max-height:200px;"></a>
															</div>
															<!-- Grid column -->
															<?php
														}
													}
												}
												?>
											</div>
										</div>
									<?php } ?>
									<hr/>
								</div>
								<?php

							}
						}else { ?>
							<div class="text-center m-t-20">
								<strong>Be the first to review this product.  Add your rating and comments below.</strong>
							</div>
					<?php
						}
					}
					?>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 m-t-50">
				<h5>Write a Review</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<form method="post" action="/review/product" enctype="multipart/form-data" id="write-review">
					<input type="hidden" name="ret_url" value="<?php echo $_SERVER['REQUEST_URI']?>">
					<input type="hidden" name="data[<?php echo ($this->active_variant)?"product_variant_id":"product_id"?>]" value="<?php echo ($this->active_variant)?$this->active_variant->id:$this->product->id?>">

					<div class="row">
						<div class="form-group col-sm-12">
							<label>Name:</label>
							<input type="text" name="data[name]" class="form-control" value="<?php echo $this->data['name']?>" required>
						</div>
					</div>
					<?php if ($this->reviews_email_required == 'Enabled') {?>
						<div class="row">
							<div class="form-group col-sm-12">
								<label>Email:</label>
								<input type="email" name="data[email]" class="form-control" value="<?php echo $this->data['email']?>" required>
							</div>
						</div>
					<?php } ?>
					<div class="row">
						<div class="form-group col-sm-12 rating-stars">
							<label>Rating:</label>
							<span id="rating-select" data-stars="5"></span>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-sm-12">
							<label>Review:</label>
							<textarea name="data[review]" class="form-control" rows="6" required><?php echo $this->data['review']?></textarea>
						</div>
					</div>

					<?php if ($settings_mapper->getValueByCode('product_reviews_image_status') == 'Enabled') { ?>
						<div class="row">
							<div class="form-group col-sm-12">
								<label>Upload Images:</label>
								<span id="fileUpload"><input type="file" name="filename[]" id="filename" multiple="multiple" /></span>
								<!--<div class="text-center text-md-right">
								<input type="button" id="add_more" value="Add another image" class="btn btn-secondary" style="background-color: deepskyblue;"/>
								</div>-->
							</div>
						</div>
					<?php } ?>

					<?php if ($this->reviews_captcha_status == 'Enabled' && $this->recaptcha_site_key && $this->recaptcha_secret_key) {?>
						<div class="row">
							<div class="form-group col-sm-12">
								<div class="g-recaptcha" data-sitekey="<?php echo $this->recaptcha_site_key; ?>" data-callback="captchaReview"></div>
								<input type="hidden" id="g-recaptcha-review" value="" />
								<label id="g-recaptcha-error-review" class="error" style="display:none;"></label>
							</div>
						</div>
					<?php } ?>

					<div class="row">
						<div class="form-group col-sm-2">
							<button type="submit" class="btn btn--green btn-ecommerce-primary btn--cms-default <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_style');?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_hover_effect');?>">Submit</button>

						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
<?php } ?>

<script>
	function captchaReview(response) {
		$("#g-recaptcha-review").val(response);
	}
	function captchaQa(response) {
		$("#g-recaptcha-qa").val(response);
	}

	$(document).ready(function(){
		$('.target').on('change', function(){
			if (this.value == 'DEFAULT'){
				var url = window.location.href;
				url = url.split('?')[0];
				window.location.href = url;
			}
			else {
				var url = new URL(window.location.href);
				url.searchParams.set('variant_id', this.value);
				window.location.href = url.href;
			}
		});

		$('.minus-qty').click(function(){
			var quantity = $('.quantity').val();
			if (quantity > 1){  parseInt($('.quantity').val(quantity - 1) ); }
		});
		$('.plus-qty').click(function(){
			$('.quantity').val(  parseInt(+$('.quantity').val() + 1) );
		});

		$(".js-trigger-swap").on("mouseover", function(){
			if ($(this).data('swap-image')) {
				$(this).data('orig-image', $(this).attr('src'));
				$(this).attr("src", $(this).data('swap-image'));
			}
		}).on("mouseout", function(){
			if ($(this).data('orig-image')) {
				$(this).attr("src", $(this).data('orig-image'));
			}
		});

		$("#write-review").validate({
			<?php if ($this->reviews_captcha_status == 'Enabled' && $this->recaptcha_site_key && $this->recaptcha_secret_key) {?>
			submitHandler: function(form) {
				if($("#g-recaptcha-review").val() == '') {
					$("#g-recaptcha-error-review").html("Please complete the reCAPTCHA").show();
				}else {
					form.submit();
				}
			}
			<?php } ?>
		});

		$("#write-qa").validate({
			<?php if ($this->qa_captcha_status == 'Enabled' && $this->recaptcha_site_key && $this->recaptcha_secret_key) {?>
			submitHandler: function(form) {
				if($("#g-recaptcha-qa").val() == '') {
					$("#g-recaptcha-error-qa").html("Please complete the reCAPTCHA").show();
				}else {
					form.submit();
				}
			}
			<?php } ?>
		});

		$.ratePicker("#rating-select", {name:"data[rating]"});

		/*
		//To add new input file field dynamically, on click of "Add More Files" button below function will be executed
		$('#add_more').click(function() {
			$(this).before($("<span/>", {id: 'fileUpload'}).fadeIn('slow').append(
				$("<br/><br/>"),
				$("<input />", {name: 'filename[]', type: 'file', id: 'filename'},
			$("<br/><br/>"))
			));
		});
		 */
	});
</script>

<style>
	<?php if ($this->reviews_star_color) {?>
	.rating .fa, .rating .fas, .rating .far, .rating .fal {
		color: <?php echo $this->reviews_star_color?>;
	}
	<?php } ?>
</style>
