<?php $settings_mapper = new Application_Model_Mapper_SiteSettingValue();

$enable_breadcrumb = $settings_mapper->getValueByCode('lvp_cat_breadcrumb_status','Enabled');
$enable_page_title = $settings_mapper->getValueByCode('lvp_cat_page_title_status','Enabled');
$enable_paging = $settings_mapper->getValueByCode('lvp_cat_paging_status','Enabled');

?>

<?php if ($enable_breadcrumb == 'Enabled') { ?>
	<div class="container m-t-20">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active"><?php echo $this->category->title; ?></li>
		</ol>
	</div>
<?php } ?>

<?php if ($enable_page_title == 'Enabled') { ?>
<div class="container m-b-20">
	<h1 class="lvp__title"><?php echo $this->category->title; ?></h1>
</div>
<?php } ?>

<form method="get" action="" id="categoryForm" class="form form--categories">
	<input type="hidden" name="list_type" value="<?php //echo $this->filters['list_type']?>">

	<div class="container">

		<?php echo $this->partial('lvp/partials/video_grid.phtml', array('videos' => $this->videos)); ?>

		<?php if ($enable_paging == 'Enabled') { ?>
		<div class="row m-t-20">
			<div class="col-sm-12 text-center">
				<?php echo $this->paginationControl($this->videos, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
		<?php } ?>
	</div>
</form>

<script>
	$(function () {
		$("#categoryForm select").on("change", function(){
			$("#categoryForm").submit();
		});
		$("#categoryForm .form_field").on("click", function(){
			$("#categoryForm input[name='"+$(this).data("name")+"']").val($(this).data('value'));

			$("#categoryForm").submit();

			return false;
		});
		$('[data-toggle="tooltip"]').tooltip();
	})
</script>
