<?php
$zype = new Application_Model_Zype();
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();

$enable_breadcrumb = $settings_mapper->getValueByCode('lvp_cat_breadcrumb_status','Enabled');
$enable_page_title = $settings_mapper->getValueByCode('lvp_cat_page_title_status','Enabled');
$enable_paging = $settings_mapper->getValueByCode('lvp_cat_paging_status','Enabled');
?>

<?php if ($enable_breadcrumb == 'Enabled') { ?>
	<div class="container m-t-20">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active"><?php echo $this->playlist->title; ?></li>
		</ol>
	</div>
<?php } ?>

<?php if ($enable_page_title == 'Enabled') { ?>
	<div class="container m-b-20">
		<h1 class="lvp__title"><?php echo $this->playlist->title; ?></h1>
	</div>
<?php } ?>

<form method="get" action="" id="categoryForm" class="form form--categories">
	<input type="hidden" name="list_type" value="<?php //echo $this->filters['list_type']?>">

	<div class="container">
		<?php if ($this->list) {?>
			<?php if ($this->type == 'videos') { ?>
				<?php echo $this->partial('lvp/partials/zype-video_grid.phtml', array('videos' => $this->videos)); ?>
			<?php }elseif ($this->type == 'children') { ?>
				<?php echo $this->partial('lvp/partials/zype-playlist_grid.phtml', array('videos' => $this->children)); ?>
			<?php } ?>

			<?php if ($enable_paging == 'Enabled') { ?>
				<div class="row m-t-20">
					<div class="col-sm-12 text-center">
						<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
					</div>
				</div>
			<?php } ?>
		<?php }else { ?>
			<div class="row m-t-20">
				<div class="col-sm-12 text-center">
					<h4>There are currently no videos available</h4>
				</div>
			</div>
		<?php } ?>
	</div>
</form>

<script>
	$(function () {
		$("#categoryForm select").on("change", function(){
			$("#categoryForm").submit();
		});
		$("#categoryForm .form_field").on("click", function(){
			$("#categoryForm input[name='"+$(this).data("name")+"']").val($(this).data('value'));

			$("#categoryForm").submit();

			return false;
		});
		$('[data-toggle="tooltip"]').tooltip();
	})
</script>



<?php /*


<div class="container m-t-20">
	<?php if ($this->type == 'videos') { ?>
		<div class="section">
			<div class="section__title">
				<h2><?php echo $this->playlist->title?></h2>
			</div>

			<?php
			$img_style = '';
			if (isset($this->max_image_height) && $this->max_image_height) {
				if ($this->max_image_height == preg_replace("/[^0-9,.-]/", "", $this->max_image_height)) $this->max_image_height .= "px";

				$img_style = "max-height: {$this->max_image_height};";
			}
			?>
			<div class="product product--listing">
				<div class="product__item">
					<div class="grid--product-film grid-fill">
						<?php
						echo $this->partial('/list/results.phtml', array('type' => 'videos', 'id' => $this->id, 'videos' => $this->videos, 'max_image_height' => $this->max_image_height, 'page' => $this->page));
						?>
					</div>
				</div>
			</div>
		</div>
	<?php }elseif ($this->type == 'children') { ?>
		<div class="section">
			<?php
			$img_style = '';
			if (isset($this->max_image_height) && $this->max_image_height) {
				if ($this->max_image_height == preg_replace("/[^0-9,.-]/", "", $this->max_image_height)) $this->max_image_height .= "px";

				$img_style = "max-height: {$this->max_image_height};";
			}
			?>
			<div class="product product--listing">
				<div class="product__item">
					<div class="grid--product-film grid-fill">
						<?php
						foreach ($this->children as $child) {
							$list = $zype->getPlaylist($child->id);

							$poster = $poster_caption = '';
							foreach ($list->thumbnails as $image) {
								if ($image->height == 240) {
									$poster = $image->url;
								}
							}
							//going to check related images for title = "series" so we know it's a series not a generic playlist
							$series = false;
							foreach ($list->images as $img) {
								if ($img->title == "series") {
									$series = true;
								}
							}
							if ($series) {
								echo $this->partial('/partials/zype_series_carousel_item.phtml', 'custom', array('list' => $list, 'poster' => array('url' => $poster, 'caption' => $poster_caption, 'style' => $img_style)));
							}else {
								echo $this->partial('/partials/zype_list_carousel_item.phtml', 'custom', array('list' => $list, 'poster' => array('url' => $poster, 'caption' => $poster_caption, 'style' => $img_style)));
							}
						}
						?>
					</div>
				</div>
			</div>
		</div>
		<?php
	}elseif ($this->type == 'playlists') {
		foreach ($this->children as $child) {
			$list = $zype->getPlaylist($child->id);

			$videos = $zype->listPlaylistVideos($child->id, array(
				'order' => 'asc',
				'per_page' => '100',
				//can't filter by active videos?!?!
			));

			if (count($videos->response) == 0) continue;
			?>
			<div class="section">
				<div class="section__title">
					<h2><?php echo $list->title?></h2>
				</div>

				<?php
				$img_style = '';
				if (isset($this->max_image_height) && $this->max_image_height) {
					if ($this->max_image_height == preg_replace("/[^0-9,.-]/", "", $this->max_image_height)) $this->max_image_height .= "px";

					$img_style = "max-height: {$this->max_image_height};";
				}
				?>
				<div class="product product--listing">
					<div class="product__item">
						<div class="grid--product-film grid-fill">
							<?php
							foreach ($videos->response as $video) {
								$poster = $poster_caption = '';
								if ($video->images) {
									foreach ($video->images as $image) {
										if ($image->layout == 'poster') {
											$poster = $image->url;
											$poster_caption = $image->caption;
										}
									}
								}
								echo $this->partial('/partials/zype_film_carousel_item.phtml', array('video' => $video, 'poster' => array('url' => $poster, 'caption' => $poster_caption, 'style' => $img_style)));
							}
							?>
						</div>
					</div>
				</div>
			</div>
			<?php
		}
		?>

	<?php } ?>
</div>
*/ ?>

