<?php
$coitrades = (array) $this->trades;
?>
<div class="section-block center-block  container" style="margin-top: 105px;margin-bottom: 30px;">
	<h2 style="text-align:center;font-size: 3.9rem; color: #cc9f26; text-transform: normal; line-height: 4rem; letter-spacing: .00125rem; font-weight: 300;"><?php echo $this->coi{0}->title?></h2>
	<div class="" style="margin-top:50px;margin-bototm:25px;">
		<?php echo $this->coi{0}->summary?>
	</div>
</div>
<div class="section-block center-block  container">
<table class="table table-striped">
<thead>
<tr>
<th>Trade Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<?php

foreach($coitrades as $key=>$item){
?>
<tr>
<td>
<a style="color:rgb(164, 38, 44)" href="/coi/view/<?=strtolower(str_replace(' ','-',$item->name))?>"><?php echo $item->name ?></a>
</td>
<td>
<?php echo $item->description ?>
</td>
</tr>
<?php
}
?>
</tbody>
</table>
</div>
<?php
/*
?>
<div class="section-block center-block  container" style="margin-top: 105px;margin-bottom: 30px;">
	<h2 style="text-align:center;font-size: 3.9rem; color: #cc9f26; text-transform: normal; line-height: 4rem; letter-spacing: .00125rem; font-weight: 300;">COI Informantion</h2>
	<div class="" style="margin-top:50px;margin-bototm:25px;">
	<p>It is our policy to work only with companies who are properly insured. All contractors / vendors providing services must submit the following items:</p>
	<ul>
		<li>Annually: A Certificate of Insurance (COI).</li>
		<li>Annually: W-9 Taxpayer ID Form. </li>
		<li>Annually: Workers Compensation Certificate
			<ul>
				<li>Sole Proprietors - will need to go on line to receive exemption certificate to be submitted in order to receive payment, start here: <a href="https://www.wcb.ny.gov/icexempt/">https://www.wcb.ny.gov/icexempt/</a></li>
			</ul>
		</li>
		<li>Indemnity Agreement – There is a new form for 2020</li>
	</ul>
	<p>In an effort to streamline the annual renewal process and to register new vendors we have created this site.</p>
	<ol>
		<li>Click on the Trade Description that best describes your business. </li>
	</ol>
	<p>Below are the forms you will need to complete and submit to <a href="mailto:PELAP@Goldprop.com">PELAP@Goldprop.com</a> in order to retain your status as an active vendor with Goldfarb Properties.  If your COI expires our system will no longer allow checks to be processed for your account.<p>

​​​​<p>If you have questions or need assistance, please contact <a href="mailto:PELAP@Goldprop.com">PELAP@Goldprop.com</a>, or speak to the Goldfarb representative that handles your account.</p>
	</div>
</div>
<div class="section-block center-block  container">
<h3>COI Trade Info</h3>
<table class="table table-striped">
<thead>
<tr>
<th>Trade Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<?php

foreach($coi as $key=>$item){
?>
<tr>
<td>
<a href="<?=strtolower(str_replace(' ','-',$item->name))?>"><?php echo $item->name ?></a>
</td>
<td>
<?php echo $item->description ?>
</td>
</tr>
<?php
}
?>
</tbody>
</table>
</div>
<?php
*/