<?php
$coitrades = (array) $this->trades;
$tradename = str_replace('/coi/view/','',$_SERVER['REQUEST_URI']);
foreach($coitrades as $key => $value){
if($tradename == strtolower(str_replace(' ','-',$value->name))){
$trade = $value->name;
$tradedes = $value->description;
$tradelimit = $value->limit;
}
}
$instructions = $this->coi{0}->instructions;
$coidocs = (array) $this->docs;
foreach($coidocs as $key => $value ){
if($tradelimit == $value->amount){
//echo $value->link." : ".$value->document." : ".$value->amount."\n";
if($value->document == 'indemnity'){
$instructions = str_replace('{{indemnity}}',$value->link,str_replace('/admin/coi/','',$instructions));
}
if($value->document == 'coi'){
$instructions = str_replace('{{coi}}',$value->link,str_replace('/admin/coi/','',$instructions));
}
}
if($value->document == 'w-9'){
$instructions = str_replace('{{w-9}}',$value->link,str_replace('/admin/coi/','',$instructions));
}
}

?>
<div class="section-block center-block  container" style="margin-top: 105px;margin-bottom: 30px;">
	<h2 style="text-align:center;font-size: 3.9rem; color: #cc9f26; text-transform: normal; line-height: 4rem; letter-spacing: .00125rem; font-weight: 300;"><?php echo $trade?></h2>
	<div class="" style="margin-top:50px;margin-bototm:25px;">
		<p><?php echo $instructions?></p>
	</div>
	
</div>