<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Region</th>
						<th>Building</th>
						<th>Unit</th>
						<th>Bedrooms</th>
						<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'region', 'edit')) {?>
							<!--<th class="col-xs-1 text-center">Delete</th>-->
							<th class="col-xs-1 text-center">Edit</th>
						<?php } ?>
						<!--<th class="text-center">View</th>-->
					</tr>
					</thead>
					<tbody>
					<?php
					foreach($this->list as $key => $val) { ?>
						<tr>
							<td><?php echo $val['region_name']?></td>
							<td><?php echo $val['building_name']?></td>
							<td><?php echo $val['number']?></td>
							<td><?php echo $val['bedrooms']?></td>
							<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'units', 'edit')) {?>
								<!--<td class="text-center hidden-xs"><a href="/admin/quick-apply-unit/delete/id/<?php echo $val['id']?>" title="Delete" class="confirm-delete"><span class="sr-only">Delete</span><span class="fa fa-minus-circle"></span></a></td>-->
								<td class="text-center"><a href="/admin/quick-apply-unit/edit/id/<?php echo $val['id']?>" title="Edit"><span class="sr-only">Edit</span><span class="fa fa-pencil-square-o"></span></a></td>
							<?php } ?>
							<!--<td class="text-center"><a href="/admin/quick-apply-unit/view/id/<?php echo $val['id']?>" title="View"><span class="sr-only">View </span><span class="fa fa-eye"></span></a></td>-->
						</tr>
						<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {

	});
</script>
