<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$lvp_url = $video_url = ($settings_mapper->getValueByCode('video_platform_url'))?$settings_mapper->getValueByCode('video_platform_url'):'videos';

function secondsToTime($ss) {
	$s = $ss%60;
	$m = floor(($ss%3600)/60);
	$h = floor(($ss%86400)/3600);
	$d = floor(($ss%2592000)/86400);
	$M = floor($ss/2592000);

	$return = [];
	if ($M) $return[] = "$M months";
	if ($d) $return[] = "$d days";
	if ($h) $return[] = "$h hours";
	if ($m) $return[] = "$m minutes";
	if ($s) $return[] = "$s seconds";

	if ($return) {
		return implode(", ", $return);
	}

	return "0 seconds";
}

if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";

//get totals
$totals = [];
foreach($this->list as $key => $val) {
	$totals['total_views'] += $val['total_views'];
	$totals['total_plays'] += $val['total_plays'];
	$totals['total_seconds'] += $val['total_seconds'];
}
?>
<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="form-group col-sm-2">
					<label>From Date:</label>
					<input type="text" name="date_from" class="form-control datepicker" value="<?php echo $this->date_from?>">
				</div>

				<div class="form-group col-sm-2">
					<label>To Date:</label>
					<input type="text" name="date_to" class="form-control datepicker" value="<?php echo $this->date_to?>">
				</div>

				<div class="form-group col-sm-2">
					<label>Status:</label>
					<?php echo $this->formSelect('status', $this->status, array('class'=>'form-control'), array(""=>"")+$this->statuses)?>
				</div>

				<div class="col-sm-12">
					<div class="col-xs-1">
						<button type="submit" class="btn btn-primary xs-100">Search</button>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<div class="checkbox hidden-xs">
								<input type="checkbox" name="csv" value="1" id="export"> <label for="export">Export</label>
							</div>
						</div>
					</div>
					<div class="col-xs-1">
						<a href="/admin/video-platform-report/analytics" class="btn btn-warning xs-100">Reset</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-10 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<div class="col-sm-2 col-xs-12">
				<a class="pull-right btn btn-primary xs-100" href="/admin/video-platform/item-add">Add New Video</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<th><a href="/admin/video-platform-report/analytics/sort/title/dir/<?php echo $dir?>">Video</a></th>
						<th class="text-center"><a href="/admin/video-platform-report/analytics/sort/total_views/dir/<?php echo $dir?>">Views</a></th>
						<th class="text-center"><a href="/admin/video-platform-report/analytics/sort/total_plays/dir/<?php echo $dir?>">Plays</a></th>
						<th class="text-right"><a href="/admin/video-platform-report/analytics/sort/total_seconds/dir/<?php echo $dir?>">Time Watched</a></th>
					</tr>
					<tr class="" style="background-color:rgba(234,234,234,.2);">
						<th><strong>Totals</strong></th>
						<th class="text-center col-sm-1"><strong><?php echo number_format($totals['total_views'])?></strong></th>
						<th class="text-center col-sm-1"><strong><?php echo number_format($totals['total_plays'])?></strong></th>
						<th class="text-right col-sm-3"><strong><?php echo secondsToTime($totals['total_seconds'])?></strong></th>
					</tr>
					<tr>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					</thead>
					<tbody>
					<?php
					foreach($this->list as $key => $val) {
						?>
						<tr>
							<td><a href="/admin/video-platform/item-view/id/<?php echo $val['id']?>"><?php echo $val['title']?></a></td>
							<td class="text-center col-sm-1"><?php echo number_format($val['total_views'])?></td>
							<td class="text-center col-sm-1"><?php echo (!$val['embed_url'] && !$val['embed_code'])?number_format($val['total_plays']):'N/A'?></>
							<td class="text-right col-sm-3"><?php echo (!$val['embed_url'] && !$val['embed_code'])?secondsToTime($val['total_seconds']):'N/A'?></>
						</tr>
					<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('.datepicker').datepicker({
			dateFormat: "yy-mm-dd"
		});
	});
</script>
