<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<form method="post" action="" class="">
	<div class="page-header flex-row-sm flex-align-center flex-justify-space-between">
		<h1>Announcements</h1>
		<div class="controls controls--horizontal flex-row-sm flex-align-center flex-justify-space-between">
			<div class="controls__item">
				<button class="btn btn--purple" type="submit">Save</button>
				<a href="/admin/" class="btn btn--yellow">Cancel</a>
			</div>
		</div>
	</div>
	<div class="section bg-white p-30" style="min-height: 80vh;">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#announcement" aria-controls="announcement" role="tab" data-toggle="tab">Announcements Bar</a></li>
			<li role="presentation" class=""><a href="#popup" aria-controls="popup" role="tab" data-toggle="tab">Promotional Pop-up</a></li>
		</ul>

		<div class="white-box m-b-30">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="announcement">
					<?php // START OF ANNOUNCEMENTS TAB ?>
					<div class="row">
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'announcement_bar_status',
								'title' => 'Status',
								'description' => 'Do you want to display the announcement bar'
							),'options'=>array(
								'disable' => 'Disable',
								'enable' => 'Enable',
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'announcement_bar_page',
								'title' => 'Display On',
								'description' => 'Which page do you want to display the announcement bar on'
							),'options'=>array(
								'' => 'All Pages',
								//'home' => 'Home Page',
								'account' => 'Account Pages'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'announcement_bar_height',
								'title' => 'Height',
								'description' => 'Height for announcement bar'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'announcement_bar_alignment',
								'title' => 'Alignment',
								'description' => 'Announcement bar alignment'
							),'options'=>array(
								'announcement-bar--align-top' => 'Top',
								'announcement-bar--align-bottom' => 'Bottom',
							)));?>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'announcement_bar_padding',
								'title' => 'Padding',
								'description' => 'Padding for announcement bar'
							)));?>
						</div>
						<div class="col-sm-4">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'announcement_bar_background_color',
								'title' => 'Background Color',
								'description' => 'The background color of the announcement bar'
							)));?>
						</div>
						<div class="col-sm-4">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'announcement_bar_background_image_style',
								'title' => 'Background Image Style',
								'description' => 'Set the background to cover, contain or repeat'
							),'options' => array(
								'cover' => 'Cover',
								'contain' => 'Contain',
								'repeat' => 'Repeat',
								'no-repeat' => 'No Repeat'
							)));?>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<?php echo $this->partial('/settings/partials/image.phtml', array('item'=>array(
								'code' => 'announcement_bar_background_image',
								'title' => 'Background Image',
								'description' => 'The background image of the announcement bar'
							)));?>
						</div>
						<div class="col-sm-4">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'announcement_bar_dismiss',
								'title' => 'Dismiss Announcement',
								'description' => 'Dismiss Announcement Bar'
							),'options'=>array(
								'disabled' => 'Disabled',
								'enabled' => 'Enabled',
							)));?>
						</div>
						<div class="col-sm-4">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'announcement_close_color',
								'title' => 'Close Button Color',
								'description' => 'The color of the close button of the announcement bar'
							)));?>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<?php echo $this->partial('/settings/partials/wysiwyg.phtml', array('item'=>array(
								'code' => 'announcement_bar_text',
								'title' => 'Text',
								'description' => 'Text that will show at the top of pages'
							)));?>
						</div>
					</div>
					<?php // END OF ANNOUNCEMENTS TAB ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="popup">
					<?php // START OF PROMO POPUP TAB ?>
					<div class="row flex-row flex-align-center flex-wrap">
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'promo_popup_status',
								'title' => 'Promo Pop-Up Status',
								'description' => 'Do you want to display a promotional pop-up (modal)'
							),'options'=>array(
								'Disabled' => 'Disabled',
								'Enabled' => 'Enabled',
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'promo_popup_page',
								'title' => 'Display On',
								'description' => 'Which page do you want to display the promotional pop-up (modal) on'
							),'options'=>array(
								'' => 'All Pages',
								'home' => 'Home Page',
								'account' => 'Account Pages'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php
							$mapper = new Admin_Model_Mapper_Page();
							$modals = $mapper->fetchModals();
							$options = [];
							foreach ($modals as $modal) {
								$options[$modal->code] = $modal->title;
							}
							?>
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'promo_popup_code',
								'title' => 'Select Modal',
								'description' => 'Which modal do you want to display'
							),'options'=>$options
							));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'promo_popup_size',
								'title' => 'Modal Size',
								'description' => 'How wide the modal should be'
							),'options'=>array(
								'' => 'Default',
								'modal-sm' => 'Small',
								'modal-lg' => 'Large',
								'modal-full' => 'Full Screen'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'promo_popup_shade_color',
								'title' => 'Shade Color',
								'description' => 'The color of the background outside of the promotional pop-up (modal)'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'promo_popup_close_color',
								'title' => 'Close Button Color',
								'description' => 'The color of the close button of the promotional pop-up (modal)'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'promo_popup_delay',
								'title' => 'Delay (seconds)',
								'description' => 'How long to wait before the modal appears'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'promo_popup_recurrence',
								'title' => 'Promo Pop-Up Recurrence',
								'description' => 'How often do you want to display the promotional pop-up (modal)'
							),'options'=>array(
								'' => 'Every Page View',
								'once' => 'Only Once',
							)));?>
						</div>
					</div>
					<?php // END OF PROMO POPUP TAB ?>
				</div>

			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<div class="controls controls--horizontal text-center">
							<div class="controls__item">
								<button class="btn btn--purple" type="submit">Save</button>
								<a href="/admin/" class="btn btn--yellow">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	$(function() {
		window.cny.wysiwyg();

		$(".image-selector").each(function() {
			var item_code = $(this).data("ref");

			if ($("#image_path_"+item_code).val() == '') $("#image_"+item_code).hide();

			$("#image_remove_"+item_code).on("click",function(){
				$("#image_path_"+item_code).val('');
				$("#image_"+item_code).attr('src','').hide();
			});
		});

		$(".complex-colorpicker").asColorPicker({
			hideInput: true
		});

		// Switchery
		var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		$('.js-switch').each(function() {
			new Switchery($(this)[0], $(this).data());

		});

		$("[data-toggle='collapse']").on('click', function() {
			$(this).find('.fa').toggleClass('fa-plus-square fa-minus-square');
		});
	});
</script>
