<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<form method="post" action="" class="">
	<div class="page-header flex-row-sm flex-align-center flex-justify-space-between">
		<h1>Blog Settings</h1>
		<div class="controls controls--horizontal flex-row-sm flex-align-center flex-justify-space-between">
			<div class="controls__item">
				<button class="btn btn--purple" type="submit">Save</button>
				<a href="/admin/" class="btn btn--yellow">Cancel</a>
			</div>
		</div>
	</div>
	<div class="section bg-white p-30" style="min-height: 80vh;">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#styling" aria-controls="styling" role="tab" data-toggle="tab">Styling</a></li>
			<li role="presentation" class=""><a href="#hero" aria-controls="hero" role="tab" data-toggle="tab">Hero Panel & Banner</a></li>
			<li role="presentation" class=""><a href="#headfoot" aria-controls="headfoot" role="tab" data-toggle="tab">Header & Footer</a></li>
		</ul>

		<div class="white-box m-b-30">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="styling">
					<?php // START OF STYLING TAB ?>

					<h3 class="m-t-0 m-b-5" role="button" data-toggle="collapse" href="#collapseListingTitle" aria-expanded="true" aria-controls="collapseListingTitle">Listing Title <i class="fas fa-minus-square"></i></h3>
					<hr class="m-t-0">

					<div id="collapseListingTitle" class="collapse in">
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
									'code' => 'blog_title_font',
									'title' => 'Text Font',
									'description' => 'The blog title font'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_title_text_color',
									'title' => 'Text Color',
									'description' => 'The blog title text color'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_title_text_size',
									'title' => 'Text Size',
									'description' => 'The blog title text size'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_title_font_weight',
									'title' => 'Text Weight',
									'description' => 'The text weight for blog title'
								),'options' => array(
									'' => 'Default',
									'300' => 'Light',
									'400' => 'Regular',
									'500' => 'Medium',
									'600' => 'Semi Bold',
									'700' => 'Bold',
									'800' => 'Bolder'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_title_text_line_height',
									'title' => 'Text Line Height',
									'description' => 'The blog title line height'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_title_vertical_padding',
									'title' => 'Vertical Padding',
									'description' => 'The title vertical padding'
								)));?>
							</div>
						</div>
					</div>

					<h3 class="m-t-0 m-b-5" role="button" data-toggle="collapse" href="#collapseArticleTitle" aria-expanded="true" aria-controls="collapseArticleTitle">Article Title <i class="fas fa-plus-square"></i></h3>
					<hr class="m-t-0">

					<div id="collapseArticleTitle" class="collapse">
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
									'code' => 'blog_article_title_font',
									'title' => 'Text Font',
									'description' => 'The blog title font'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_article_title_text_color',
									'title' => 'Text Color',
									'description' => 'The blog title text color'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_article_title_text_size',
									'title' => 'Text Size',
									'description' => 'The blog title text size'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_article_title_text_weight',
									'title' => 'Text Weight',
									'description' => 'The text weight for article title'
								),'options' => array(
									'' => 'Default',
									'300' => 'Light',
									'400' => 'Regular',
									'500' => 'Medium',
									'600' => 'Semi Bold',
									'700' => 'Bold'
								)));?>
							</div>

							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_article_title_line_height',
									'title' => 'Text Line Height',
									'description' => 'The blog title line height'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_article_title_vertical_padding',
									'title' => 'Vertical Padding',
									'description' => 'The title vertical padding'
								)));?>
							</div>
						</div>
					</div>

					<h3 class="m-t-0 m-b-5" role="button" data-toggle="collapse" href="#collapseBodyText" aria-expanded="true" aria-controls="collapseBodyText">Body Text <i class="fas fa-plus-square"></i></h3>
					<hr class="m-t-0">

					<div id="collapseBodyText" class="collapse">
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
									'code' => 'blog_body_text_font',
									'title' => 'Text Font',
									'description' => 'The blog font'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_body_text_color',
									'title' => 'Text Color',
									'description' => 'The blog text color'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_body_text_size',
									'title' => 'Text Size',
									'description' => 'The blog text size'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_body_text_weight',
									'title' => 'Text Weight',
									'description' => 'The text weight for blog'
								),'options' => array(
									'' => 'Default',
									'300' => 'Light',
									'400' => 'Regular',
									'500' => 'Medium',
									'600' => 'Semi Bold',
									'700' => 'Bold'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_body_text_line_height',
									'title' => 'Text Line Height',
									'description' => 'The blog line height'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_body_link_color',
									'title' => 'Link Color',
									'description' => 'The blog body text link color'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_body_link_hover_color',
									'title' => 'Link Hover Color',
									'description' => 'The blog body text link color on hover'
								)));?>
							</div>
						</div>
					</div>

					<h3 class="m-t-0 m-b-5" role="button" data-toggle="collapse" href="#collapseBlogSettings" aria-expanded="false" aria-controls="collapseBlogSettings">Button Settings <i class="fas fa-plus-square"></i></h3>
					<hr class="m-t-0">

					<div id="collapseBlogSettings" class="collapse">
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_button_color',
									'title' => 'Button Color',
									'description' => 'The color of the buttons on the blog pages'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_button_text_color',
									'title' => 'Text Color',
									'description' => 'The color of the text on the buttons on the blog pages'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
									'code' => 'blog_button_font',
									'title' => 'Text Font',
									'description' => 'The font used on the buttons on the blog pages'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_button_text_size',
									'title' => 'Text Size',
									'description' => 'The size of the text in the buttons on the blog pages'
								),'options'=>
									array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
										'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
								));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_button_border_color',
									'title' => 'Border Color',
									'description' => 'The color of the border on the buttons on the blog pages'
								)));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_button_border_width',
									'title' => 'Border Width/size',
									'description' => 'The border width on the buttons on the blog pages'
								),'options'=>
									array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
								));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_button_style',
									'title' => 'Button Style',
									'description' => 'The style of the buttons on the blog pages'
								),'options'=>
									array('btn-square'=>'Square','btn-round'=>'Rounded','btn-round-4px'=>'Rounded Corners','btn-outline'=>'Outlined (transparent background)','btn-square-full'=>'Full Width','btn-round-full'=>'Full Width Rounded','btn-round-4px-full'=>'Full Width Rounded Corners')
								));?>
							</div>
						</div>
					</div>

					<h3 class="m-t-0 m-b-5" role="button" data-toggle="collapse" href="#collapseBlogSideBar" aria-expanded="false" aria-controls="collapseBlogSideBar">Side Bar <i class="fas fa-plus-square"></i></h3>
					<hr class="m-t-0">

					<div id="collapseBlogSideBar" class="collapse">
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_sidebar_ul_left_padding',
									'title' => 'Blog Sidebar Link Indentation',
									'description' => 'The indentation of links in the blog sidebar'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_sidebar_li_bottom_margin',
									'title' => 'Blog Sidebar Link Spacing',
									'description' => 'The space between the links in the blog sidebar'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_sidebar_li_style',
									'title' => 'Blog Sidebar List Style',
									'description' => 'The blog sidebar list style (dots etc.)'
								),'options' => array(
									'' => 'Default',
									'disc' => 'Disc',
									'circle' => 'Circle',
									'square' => 'Square',
									'none' => 'None',
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
									'code' => 'blog_sidebar_font',
									'title' => 'Blog Sidebar Font',
									'description' => 'The font for blog sidebar links'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_sidebar_font_weight',
									'title' => 'Blog Sidebar Font Weight',
									'description' => 'The text weight for blog sidebar links'
								),'options' => array(
									'' => 'Default',
									'300' => 'Light',
									'400' => 'Regular',
									'500' => 'Medium',
									'600' => 'Semi Bold',
									'700' => 'Bold'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_sidebar_font_size',
									'title' => 'Blog Sidebar Font Size',
									'description' => 'The size of blog sidebar links'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_sidebar_font_lineheight',
									'title' => 'Blog Sidebar Line Height',
									'description' => 'The line height of blog sidebar links'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_sidebar_text_color',
									'title' => 'Blog Sidebar Font Color',
									'description' => 'The text color for blog sidebar links'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_sidebar_hover_color',
									'title' => 'Blog Sidebar Link Hover Color',
									'description' => 'The color when hovering over a blog sidebar link'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_sidebar_decoration',
									'title' => 'Blog Sidebar Link Decoration',
									'description' => 'The blog sidebar link text decoration (underline etc.)'
								),'options' => array(
									'' => 'Default',
									'none' => 'None (Normal Text)',
									'underline' => 'Underline (Line Below Text)',
									'overline' => 'Overline (Line Above Text)',
									'line-through' => 'Line-Through (Line Through Text)',
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_sidebar_hover_decoration',
									'title' => 'Blog Sidebar Link Hover Decoration',
									'description' => 'The blog sidebar link hover text decoration (underline etc.)'
								),'options' => array(
									'' => 'Default',
									'none' => 'None (Normal Text)',
									'underline' => 'Underline (Line Below Text)',
									'overline' => 'Overline (Line Above Text)',
									'line-through' => 'Line-Through (Line Through Text)',
								)));?>
							</div>
						</div>
					</div>

					<h3 class="m-t-0 m-b-5" role="button" data-toggle="collapse" href="#collapsePagination" aria-expanded="false" aria-controls="collapsePagination">Next / Previous Links <i class="fas fa-plus-square"></i></h3>
					<hr class="m-t-0">
					<div id="collapsePagination" class="collapse">
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_pagination_status',
									'title' => 'Display',
									'description' => 'Display pagination'
								),'options'=>array('Disabled'=>'Disabled','Enabled'=>'Enabled')));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_pagination_previous_label',
									'title' => 'Previous Label',
									'description' => 'Previous label text'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_pagination_next_label',
									'title' => 'Next Label',
									'description' => 'Next label text'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
									'code' => 'blog_pagination_button_font',
									'title' => 'Text Font',
									'description' => 'The font used on the buttons on the pagination pages'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_pagination_button_text_color',
									'title' => 'Text Color',
									'description' => 'The color of the text on the buttons on the pagination pages'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_pagination_button_text_color_hover',
									'title' => 'Text Hover Color',
									'description' => 'The color of the text on the buttons on the pagination pages'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_pagination_button_font_size',
									'title' => 'Text Size',
									'description' => 'The size of the text in the buttons on the pagination pages'
								),'options'=>
									array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
										'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
								));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_pagination_button_color',
									'title' => 'Button Color',
									'description' => 'The color of the buttons on the pagination pages'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_pagination_button_color_hover',
									'title' => 'Button Hover Color',
									'description' => 'The color of the buttons on the pagination pages'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_pagination_button_border_color',
									'title' => 'Border Color',
									'description' => 'The color of the border on the buttons on the pagination pages'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'blog_pagination_button_border_color_hover',
									'title' => 'Border Hover Color',
									'description' => 'The color of the border on the buttons on the pagination pages'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_pagination_button_border_width',
									'title' => 'Border Width/size',
									'description' => 'The border width on the buttons on the pagination pages'
								),'options'=>
									array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
								));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_pagination_button_style',
									'title' => 'Button Style',
									'description' => 'The style of the buttons on the blog pages'
								),'options'=>
									array('btn-link'=>'Link','btn-square'=>'Square','btn-round'=>'Rounded','btn-round-4px'=>'Rounded Corners','btn-outline'=>'Outlined (transparent background)','btn-square-full'=>'Full Width','btn-round-full'=>'Full Width Rounded','btn-round-4px-full'=>'Full Width Rounded Corners')
								));?>
							</div>
						</div>
					</div>
					<h3 class="m-t-0 m-b-5" role="button" data-toggle="collapse" href="#collapseRelatedPosts" aria-expanded="false" aria-controls="collapseRelatedPosts">Related Posts <i class="fas fa-plus-square"></i></h3>
					<hr class="m-t-0">
					<div id="collapseRelatedPosts" class="collapse">
						<div class="p-l-10">
							<h4 class="m-b-5 m-t-0 text-black h4">Layout</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_status',
										'title' => 'Display',
										'description' => 'Display related posts'
									),'options'=>array('Disabled'=>'Disabled','Enabled'=>'Enabled')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_layout',
										'title' => 'Layout',
										'description' => 'Display related layout'
									),'options'=>array(
										'horizontal-tray'=> 'Horizontal-tray',
										'vertical-column'=> 'Vertical Column',
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_type',
										'title' => 'Post Type',
										'description' => 'The type of related posts to display',
									),'options'=>array(
										'recent'=>'Most Recent',
										'tag'=>'By Tag',
										//'category'=>'By Category'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_image_profile',
										'title' => 'Image Profile',
										'description' => 'The image type',
									),'options'=>array(
										''=> 'Original',
										'crop_square'=> 'Square',
										'crop_4x3'=> '4:3',
										'crop_16x9'=> '16:9',
									)));?>
								</div>
							</div>


							<h4 class="m-b-5 m-t-0 text-black h4">Overlay</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_overlay_display',
										'title' => 'Display',
										'description' => 'Display related posts title as overlay'
									),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_overlay_display_hover',
										'title' => 'Display on hover',
										'description' => 'Display related posts title overlay on hover'
									),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'blog_related_overlay_bg',
										'title' => 'Background Color',
										'description' => 'The overlay background color'
									)));?>
								</div>
							</div>


							<h4 class="m-b-5 m-t-0 text-black h4">Post Title</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_title_status',
										'title' => 'Display',
										'description' => 'Display title'
									),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_title_font_size',
										'title' => 'Text Size',
										'description' => 'Related post title font size'
									),'options'=>
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_title_line_height',
										'title' => 'Line Height',
										'description' => 'Related post title line height'
									),'options'=>
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_title_font_weight',
										'title' => 'Text Weight',
										'description' => 'Related post title text weight'
									),'options' => array(
										'' => 'Default',
										'300' => 'Light',
										'400' => 'Regular',
										'500' => 'Medium',
										'600' => 'Semi Bold',
										'700' => 'Bold'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'blog_related_title_color',
										'title' => 'Text Color',
										'description' => 'TRelated post title text color'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_title_padding',
										'title' => 'Padding',
										'description' => 'Related post title padding'
									),'options'=>
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_title_underline_status',
										'title' => 'Underline',
										'description' => 'Related post title underline'
									),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
								</div>
							</div>


							<h4 class="m-b-5 m-t-0 text-black h4">Read More Button</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_read_more_status',
										'title' => 'Display',
										'description' => 'Related post read more button'
									),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'blog_related_read_more_text',
										'title' => 'Button Text',
										'description' => 'Read more button text'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'blog_related_read_more_button_color',
										'title' => 'Button Color',
										'description' => 'Read more button color'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'blog_related_read_more_border_color',
										'title' => 'Border Color',
										'description' => 'Read more border color'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_read_more_border_width',
										'title' => 'Border Width/size',
										'description' => 'Read more border width'
									),'options'=>
										array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
									));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_read_more_font_size',
										'title' => 'Text Size',
										'description' => 'Read more text size'
									),'options'=>
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_read_more_line_height',
										'title' => 'Line Height',
										'description' => 'Read more line height'
									),'options'=>
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_read_more_font_weight',
										'title' => 'Text Weight',
										'description' => 'Read more text weight'
									),'options' => array(
										'' => 'Default',
										'300' => 'Light',
										'400' => 'Regular',
										'500' => 'Medium',
										'600' => 'Semi Bold',
										'700' => 'Bold'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'blog_related_read_more_color',
										'title' => 'Text Color',
										'description' => 'Read more text color'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_read_more_type',
										'title' => 'Button Type',
										'description' => 'Read more button type'
									),'options'=>
										array(
											'btn-link'=>'Link',
											'btn-default'=>'Button',
											'btn-square'=>'Square',
											'btn-round'=>'Rounded',
											'btn-round-4px'=>'Rounded Corners',
											'btn-outline'=>'Outlined (transparent background)',
											'btn-square-full'=>'Full Width',
											'btn-round-full'=>'Full Width Rounded',
											'btn-round-4px-full'=>'Full Width Rounded Corners'
										)
									));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_read_more_underline_status',
										'title' => 'Underline',
										'description' => 'Related post read more button underline'
									),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_read_more_underline_hover_status',
										'title' => 'Underline on Hover',
										'description' => 'Display on hover'
									),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_read_more_alignment',
										'title' => 'Button alignment',
										'description' => 'Button alignment'
									),'options'=>array('m-r-auto'=>'Left','m-center'=>'Center', 'm-l-auto'=>'Right')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'blog_related_read_more_top_margin',
										'title' => 'Button top margin',
										'description' => 'Button top margin'
									)));?>
								</div>
							</div>

							<h4 class="m-b-5 m-t-0 text-black h4">Short Summary</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_summary_status',
										'title' => 'Display',
										'description' => 'enable / disable short summary'
									),'options'=>array('Disabled'=>'Disabled','Enabled'=>'Enabled')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_truncate',
										'title' => 'Truncate Summary',
										'description' => 'Truncate summary'
									),'options'=>array('Disabled'=>'Disabled','Enabled'=>'Enabled')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'blog_related_truncate_length',
										'title' => 'Character Count',
										'description' => 'Display character count'
									)));?>
								</div>
							</div>

							<h4 class="m-b-5 m-t-0 text-black h4">Feed Title</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_feed_title_status',
										'title' => 'Display',
										'description' => 'Display title'
									),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'blog_related_feed_title_label',
										'title' => 'Title',
										'description' => 'Related feed title'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
										'code' => 'blog_related_feed_title_font',
										'title' => 'Text Font',
										'description' => 'Related feed title font'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_feed_title_font_size',
										'title' => 'Text Size',
										'description' => 'Related feed title font size'
									),'options'=>
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_feed_title_line_height',
										'title' => 'Line Height',
										'description' => 'Related feed title line height'
									),'options'=>
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_feed_title_font_weight',
										'title' => 'Text Weight',
										'description' => 'Related feed title text weight'
									),'options' => array(
										'' => 'Default',
										'300' => 'Light',
										'400' => 'Regular',
										'500' => 'Medium',
										'600' => 'Semi Bold',
										'700' => 'Bold'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'blog_related_feed_title_color',
										'title' => 'Text Color',
										'description' => 'Related feed title text color'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'blog_related_feed_title_padding',
										'title' => 'Padding',
										'description' => 'Related feed title padding'
									),'options'=>
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									));?>
								</div>
							</div>
						</div>

					</div>
					<?php // END OF STYLING TAB ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="hero">
					<?php // START OF HERO TAB ?>
					<div class="row">
						<div class="col-sm-12">
							<?php
							$mapper = new Admin_Model_Mapper_Page();
							$modals = $mapper->fetchBlocks();
							$options = [];
							foreach ($modals as $modal) {
								$options[$modal->code] = $modal->title;
							}
							?>
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'blog_main_page_hero_block',
								'title' => 'Blog Main Page Hero Block',
								'description' => 'CMS Block that will show at the top of the main blog page'
							),'options'=>array(""=>"None")+$options
							));?>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<?php echo $this->partial('/settings/partials/image.phtml', array('item'=>array(
								'code' => 'blog_main_page_banner_image',
								'title' => 'Blog Main Page Banner',
								'description' => 'Banner/Image that will show at the top of the main blog page'
							)));?>
						</div>
						<div class="col-sm-6">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'blog_main_page_banner_image_alt',
								'title' => 'Blog Main Page Banner Alt Text',
								'description' => 'Alt text for the main blog page banner/image'
							)));?>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<?php echo $this->partial('/settings/partials/image.phtml', array('item'=>array(
								'code' => 'blog_main_page_banner_mobile_image',
								'title' => 'Blog Main Page Mobile Banner',
								'description' => 'Mobile banner/image that will show at the top of the main blog page'
							)));?>
						</div>
						<div class="col-sm-6">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'blog_main_page_banner_mobile_image_alt',
								'title' => 'Blog Main Page Mobile Banner Alt Text',
								'description' => 'Alt text for the main blog page mobile banner/image'
							)));?>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'blog_main_page_banner_alignment',
								'title' => 'Blog Main Page Banner Alignment',
								'description' => 'Alignment for the banner/image that will show at the top of the main blog page'
							),'options'=>array(
								'Center' => 'Center',
								'Left' => 'Left',
								'Right' => 'Right'
							)));?>
						</div>
						<div class="col-sm-6">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'blog_main_page_banner_fullwidth',
								'title' => 'Blog Main Page Banner Force Fullwidth',
								'description' => 'Force the banner image to be fullwidth for the main blog page banner/image'
							),'options'=>array(
								'No' => 'No',
								'Yes' => 'Yes'
							)));?>
						</div>
					</div>
					<?php // END OF HERO TAB ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="headfoot">
					<?php // START OF HEADER / FOOTER TAB ?>
					<div class="row">
						<div class="col-sm-12">
							<?php echo $this->partial('/settings/partials/wysiwyg.phtml', array('item'=>array(
								'code' => 'blog_main_page_header',
								'title' => 'Blog Main Page Header',
								'description' => 'Text that will show at the top of the main blog page'
							)));?>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<?php echo $this->partial('/settings/partials/wysiwyg.phtml', array('item'=>array(
								'code' => 'blog_internal_page_header',
								'title' => 'Blog Detail Page Header',
								'description' => 'Text that will show at the top of the blog detail page'
							)));?>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<?php echo $this->partial('/settings/partials/wysiwyg.phtml', array('item'=>array(
								'code' => 'blog_about',
								'title' => 'Blog About Text',
								'description' => 'Text that will show at the bottom of every blog page'
							)));?>
						</div>
					</div>
				</div>
				<?php // END OF HEADER / FOOTER TAB ?>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<div class="controls controls--horizontal text-center">
							<div class="controls__item">
								<button class="btn btn--purple" type="submit">Save</button>
								<a href="/admin/" class="btn btn--yellow">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	$(function() {
		window.cny.wysiwyg();

		$(".image-selector").each(function() {
			var item_code = $(this).data("ref");

			if ($("#image_path_"+item_code).val() == '') $("#image_"+item_code).hide();

			$("#image_remove_"+item_code).on("click",function(){
				$("#image_path_"+item_code).val('');
				$("#image_"+item_code).attr('src','').hide();
			});
		});

		$(".complex-colorpicker").asColorPicker({
			hideInput: true
		});

		// Switchery
		var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		$('.js-switch').each(function() {
			new Switchery($(this)[0], $(this).data());
		});

		$("[data-toggle='collapse']").on('click', function() {
			$(this).find('.fas').toggleClass('fa-plus-square fa-minus-square');
		});

		$(".conditional").hide();
		$(".conditional-toggle").each(function(){
			var val = $(this).val();
			var code = $(this).attr("id").replace("fields-","");

			$(".conditional."+code+"."+val).show();
		});
		$(".conditional-toggle").on("change",function(){
			var val = $(this).val();
			var code = $(this).attr("id").replace("fields-","");

			$(".conditional."+code).hide();
			$(".conditional."+code+"."+val).show();
		});
	});
</script>
