<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<form method="post" action="" class="">
	<div class="page-header flex-row-sm flex-align-center flex-justify-space-between">
		<h1>Blog Settings</h1>
		<div class="controls controls--horizontal flex-row-sm flex-align-center flex-justify-space-between">
			<div class="controls__item">
				<button class="btn btn--purple" type="submit">Save</button>
				<a href="/admin/" class="btn btn--yellow">Cancel</a>
			</div>
		</div>
	</div>
	<div class="section bg-white p-30" style="min-height: 80vh;">
		<!--
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Settings</a></li>
		</ul>
		-->

		<div class="white-box m-b-30">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="general">
					<?php // START OF GENERAL TAB ?>
					<h3 class="m-t-0 m-b-5 collapsed" role="button" data-toggle="collapse" data-target="#generalSettings" aria-expanded="true" aria-controls="generalSettings">General Settings <i class="fas fa-minus-square"></i></h3>
					<hr class="m-t-0">

					<div id="generalSettings" class="collapse in" aria-expanded="true">
						<div class="row">
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_meta_title',
									'title' => 'Blog Title',
									'description' => 'Blog title to display in the browser tab and meta data'
								)));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/textarea.phtml', array('item'=>array(
									'code' => 'blog_meta_description',
									'title' => 'Blog Meta Description',
									'description' => 'Blog meta description to show in browser meta data'
								)));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_meta_keywords',
									'title' => 'Blog Meta Keywords',
									'description' => 'Blog meta kewyords to show in browser meta data'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_status',
									'title' => 'Blog Status',
									'description' => 'Select if the blog is turned on or not'
								),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_url',
									'title' => 'Blog URL (no slash)',
									'description' => 'The URL for the blog. Defaults to "blog"'
								)));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_sharing_status',
									'title' => 'Sharing',
									'description' => 'Select if the sharing module is turned on or not'
								),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_author_status',
									'title' => 'Blog Author Display',
									'description' => 'Select if blog post author is displayed'
								),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
							</div>
						</div>
					</div>



					<h3 class="m-t-0 m-b-5 collapsed" role="button" data-toggle="collapse" data-target="#layoutSettings" aria-expanded="true" aria-controls="layoutSettings">Blog Listings Layout <i class="fas fa-plus-square"></i></h3>
					<hr class="m-t-0">
					<div id="layoutSettings" class="collapse" aria-expanded="false">
						<div class="row">
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_main_page_content_split',
									'title' => 'Image Position',
									'description' => 'The percentage of space the image and text take up on the main blog page'
								),'options'=>array(
									""=>"Image Left 50/50",
									"blog-content--25-75"=>"Image Left 25/75",
									"blog-content--33-66"=>"Image Left 33/66",
									"blog-content--40-60"=>"Image Left 40/60",
									"blog-content--image-top"=>"Image Top",
									"blog-content--image-bottom"=>"Image Bottom",
								)
								));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_image_profile',
									'title' => 'Image Format',
									'description' => 'Select which type of image should be displayed'
								),'options'=>array(
									''=> 'Original',
									'crop_square'=> 'Square',
									'crop_4x3'=> '4:3',
									'crop_16x9'=> '16:9',
								)));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_post_count',
									'title' => 'Posts Per Row',
									'description' => 'Post count per row'
								),'options'=>array(1=>1,2=>2,3=>3,4=>4,5=>5)
								));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_hr_rule',
									'title' => 'Divider Line',
									'description' => 'Select if blog tags are shown in the right column'
								),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_post_col_spacing',
									'title' => 'Posts Column Spacing',
									'description' => 'Posts column spacing'
								)));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'blog_post_row_spacing',
									'title' => 'Posts Row Spacing',
									'description' => 'Posts row spacing'
								)));?>
							</div>
						</div>
					</div>

					<h3 class="m-t-0 m-b-5 collapsed" role="button" data-toggle="collapse" data-target="#utilitySettings" aria-expanded="true" aria-controls="utilitySettings">Side Bar <i class="fas fa-plus-square"></i></h3>
					<hr class="m-t-0">
					<div id="utilitySettings" class="collapse" aria-expanded="false">
						<div class="row">
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_right_column_status',
									'title' => 'Side Bar',
									'description' => 'Select if the right column is turned on or not'
								),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'blog_tags_status',
									'title' => 'Display Tags',
									'description' => 'Select if blog tags are shown in the right column'
								),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
							</div>
						</div>
					</div>
					<?php //END OF GENERAL TAB ?>
				</div>

			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<div class="controls controls--horizontal text-center">
							<div class="controls__item">
								<button class="btn btn--purple" type="submit">Save</button>
								<a href="/admin/" class="btn btn--yellow">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	$(function() {
		window.cny.wysiwyg();

		$(".image-selector").each(function() {
			var item_code = $(this).data("ref");

			if ($("#image_path_"+item_code).val() == '') $("#image_"+item_code).hide();

			$("#image_remove_"+item_code).on("click",function(){
				$("#image_path_"+item_code).val('');
				$("#image_"+item_code).attr('src','').hide();
			});
		});

		$(".complex-colorpicker").asColorPicker({
			hideInput: true
		});

		// Switchery
		var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		$('.js-switch').each(function() {
			new Switchery($(this)[0], $(this).data());

		});

		$("[data-toggle='collapse']").on('click', function() {
			$(this).find('.fa').toggleClass('fa-plus-square fa-minus-square');
		});
		$('h3[data-toggle]').on('click', function() {
			if ( $(this).attr('aria-expanded') === 'false' ) {
				$(this).find('.fal')
					.addClass('fa-angle-up')
					.removeClass('fa-angle-down');
			} else {
				$(this).find('.fal')
					.addClass('fa-angle-down')
					.removeClass('fa-angle-up');
			}

		});
	});
</script>
