<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<form method="post" action="" class="">
	<div class="page-header flex-row-sm flex-align-center flex-justify-space-between">
		<h1>Compliance</h1>
		<div class="controls controls--horizontal flex-row-sm flex-align-center flex-justify-space-between">
			<div class="controls__item">
				<button class="btn btn--purple" type="submit">Save</button>
				<a href="/admin/" class="btn btn--yellow">Cancel</a>
			</div>
		</div>
	</div>
	<div class="section bg-white p-30" style="min-height: 80vh;">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#ada" aria-controls="ada" role="tab" data-toggle="tab">ADA Compliance</a></li>
			<li role="presentation" class=""><a href="#gdpr" aria-controls="gdpr" role="tab" data-toggle="tab">GDPR</a></li>
			<li role="presentation" class=""><a href="#ccpa" aria-controls="ccpa" role="tab" data-toggle="tab">CCPA</a></li>
			<li role="presentation" class=""><a href="#security" aria-controls="security" role="tab" data-toggle="tab">Scanning & Security</a></li>
		</ul>

		<div class="white-box m-b-30">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="ada">
					<?php // START OF ADA TAB ?>
					<div id="collapseMain" class="collapse in">
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/on_off.phtml', array('item'=>array(
									'code' => 'userway_status',
									'title' => 'ADA Compliance Widget',
									'description' => 'Select if you want to enable the UserWay ADA widget'
								),'options'=>array(
									'on'=>'Enabled',
									'off' => 'Disabled'
								),'default' => 'Disabled'));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'userway_position',
									'title' => 'Widget Position',
									'description' => 'The position of the widget on the page'
								),'options'=>array(
									'1'=>'Top Right',
									'2'=>'Right Center',
									'3'=>'Bottom Right',
									'4'=>'Bottom Center',
									'5'=>'Bottom Left',
									'6'=>'Left Center',
									'7'=>'Top Left',
									'8'=>'Top Center',
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'userway_color',
									'title' => 'Widget Button Color',
									'description' => 'The color of the UserWay Widget Button Color'
								)));?>
							</div>
						</div>
					</div>
					<?php // END OF ADA TAB ?>
				</div>
				<div role="tabpanel" class="tab-pane" id="gdpr">
					<?php // START OF GDPR TAB ?>
					<div class="row">
						<div class="col-sm-6">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'gdpr_bar_status',
								'title' => 'Display GDPR Cookie Usage Notice Bar',
								'description' => 'Do you want to display a GDPR notice bar about cookie usage'
							),'options' => array(
								'no' => 'No',
								'yes' => 'Yes',
							)));?>
						</div>
						<div class="col-sm-6">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'gdpr_bar_position',
								'title' => 'Display Position of GDPR Notice Bar',
								'description' => 'Where do you want the GDPR notice bar to appear on the page'
							),'options' => array(
								'bottom' => 'Bottom',
								'top' => 'Top',
							)));?>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<?php
							$mapper = new Admin_Model_Mapper_Page();
							$pages = $mapper->fetchPagePairs();

							echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'gdpr_read_more_page',
								'title' => 'Select GDPR Read More Page',
								'description' => 'Select which page has the details about cookie usage on the site'
							),'options'=>array(""=>"")+$pages));?>
						</div>
					</div>
					<?php // END OF GDPR TAB ?>
				</div>
				<div role="tabpanel" class="tab-pane" id="ccpa">
					<?php // START OF CCPA TAB ?>

					<?php // END OF CCPA TAB ?>
				</div>
				<div role="tabpanel" class="tab-pane" id="security">
					<?php // START OF SECURITY TAB ?>

					<?php // END OF SECURITY TAB ?>
				</div>

			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<div class="controls controls--horizontal text-center">
							<div class="controls__item">
								<button class="btn btn--purple" type="submit">Save</button>
								<a href="/admin/" class="btn btn--yellow">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	$(function() {
		window.cny.wysiwyg();

		$(".image-selector").each(function() {
			var item_code = $(this).data("ref");

			if ($("#image_path_"+item_code).val() == '') $("#image_"+item_code).hide();

			$("#image_remove_"+item_code).on("click",function(){
				$("#image_path_"+item_code).val('');
				$("#image_"+item_code).attr('src','').hide();
			});
		});

		$(".complex-colorpicker").asColorPicker({
			hideInput: true
		});

		// Switchery
		var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		$('.js-switch').each(function() {
			new Switchery($(this)[0], $(this).data());

		});

		$("[data-toggle='collapse']").on('click', function() {
			$(this).find('.fa').toggleClass('fa-plus-square fa-minus-square');
		});
	});
</script>
