<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<form method="post" action="" class="">
	<div class="page-header flex-row-sm flex-align-center flex-justify-space-between">
		<h1>Email</h1>
		<div class="controls controls--horizontal flex-row-sm flex-align-center flex-justify-space-between">
			<div class="controls__item">
				<button class="btn btn--purple" type="submit">Save</button>
				<a href="/admin/" class="btn btn--yellow">Cancel</a>
			</div>
		</div>
	</div>
	<div class="section bg-white p-30" style="min-height: 80vh;">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#identity" aria-controls="identity" role="tab" data-toggle="tab">Identity</a></li>
			<li role="presentation" class=""><a href="#social" aria-controls="social" role="tab" data-toggle="tab">Social Media Settings</a></li>
			<li role="presentation" class=""><a href="#styling" aria-controls="styling" role="tab" data-toggle="tab">Styling</a></li>
			<li role="presentation" class=""><a href="#smtp" aria-controls="smtp" role="tab" data-toggle="tab">SMTP Relay</a></li>
		</ul>

		<div class="white-box m-b-30">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="identity">
					<?php // START OF IDENTITY TAB ?>
					<h3 class="m-b-5 m-t-0">Branding </h3>
					<hr class="m-t-0">
					<div id="collapseSiteBranding" class="collapse in">
						<div class="row">
							<div class="col-sm-12">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_site_name',
									'title' => 'Site Name',
									'description' => 'The name of the site / company'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<?php echo $this->partial('/settings/partials/image.phtml', array('item'=>array(
									'code' => 'email_site_logo',
									'title' => 'Logo Image',
									'description' => 'Site logo'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_site_logo_width',
									'title' => 'Logo Image Width',
									'description' => 'Site logo width (to override default and force a specific size)'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_site_logo_height',
									'title' => 'Logo Image Height',
									'description' => 'Site logo height (to override default and force a specific size)'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_from_address',
									'title' => 'From Email Address',
									'description' => 'The default from email address if not overridden in a specific module'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_from_name',
									'title' => 'From Display Name',
									'description' => 'The default from email address display name if not overridden in a specific module'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_reply_address',
									'title' => 'Reply-to Email Address',
									'description' => 'The default reply-to email address if not overridden in a specific module'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_reply_name',
									'title' => 'Reply-to Display Name',
									'description' => 'The default reply-to email address display name if not overridden in a specific module'
								)));?>
							</div>
						</div>
					</div>

					<h3 class="m-t-0 m-b-5">Address </h3>
					<hr class="m-t-0">
					<div id="collapseAddress" class="collapse in">
						<div class="row">
							<div class="col-sm-6">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_street_address_1',
									'title' => 'Street Address - Line 1',
									'description' => 'The street address to display in the footer'
								)));?>
							</div>
							<div class="col-sm-6">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_street_address_2',
									'title' => 'Street Address - Line 2',
									'description' => 'The street address to display in the footer'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_city',
									'title' => 'City',
									'description' => 'The city to display in the footer'
								)));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_region',
									'title' => 'State/Province/Region',
									'description' => 'The state/province/region to display in the footer'
								)));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_postcode',
									'title' => 'Postal Code',
									'description' => 'The postal code to display in the footer'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_support_phone_number',
									'title' => 'Support Phone Number',
									'description' => 'The phone number to display in the footer'
								)));?>
							</div>
							<div class="col-sm-6">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_support_email',
									'title' => 'Support Email Address',
									'description' => 'The email address to display in the footer'
								)));?>
							</div>
						</div>
					</div>
					<?php // END OF IDENTITY TAB ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="social">
					<?php // START OF SOCIAL MEDIA TAB ?>
					<h3 class="m-b-5 m-t-0">Social Media </h3>
					<hr class="m-t-0">
					<div id="collapseSocialMedia" class="collapse in">
						<?php
						//list of the social tags to see which are enabled adn then only list those here
						$socials = array(
							'facebook' => 'Facebook',
							'twitter' => 'Twitter',
							'instagram' => 'Instagram',
							'youtube' => 'YouTube',
							'pinterest' => 'Pinterest',
							'linkedin' => 'LinkedIn',
							//'tumblr' => 'Tumblr',
							//'reddit' => 'Reddit',
							'email' => 'Email'
						);

						foreach ($socials as $tag => $name) {
							if ($settings_mapper->getValueByCode($tag."_url")) {
								echo $this->partial('/settings/partials/select.phtml', array('item' => array(
									'code' => "email_social_{$tag}_icon_display",
									'title' => "Display $name Icon",
									'description' => "Do you want to display the $name icon in the header"
								), 'options' => array(
									'' => '',
									'yes' => 'Yes',
									'no' => 'No'
								)));
							}
						}
						?>
					</div>
					<?php // END OF SOCIAL MEDIA TAB ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="styling">
					<?php // START OF STYLING TAB ?>
					<h3 class="m-b-5 m-t-0">Title </h3>
					<hr class="m-t-0">
					<div class="row flex-row flex-wrap">
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'email_title_font',
								'title' => 'Font',
								'description' => 'The default font used in the emails title'
							), 'options' => array(
								'Helvetica' => 'Helvetica',
								'Arial' => 'Arial',
								'Verdana' => 'Verdana',
								'Times New Roman' => 'Times New Roman',
								'Courier' => 'Courier',
								'Georgia' => 'Georgia',
								'Palatino' => 'Palatino',
								'Trebuchet MS' => 'Trebuchet MS',
							))); ?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'email_title_size',
								'title' => 'Size',
								'description' => 'The size of the text in emails'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'email_title_weight',
								'title' => 'Weight',
								'description' => 'The title weight'
							),'options'=>
								array('' => 'Default',
									'300' => 'Light',
									'400' => 'Regular',
									'500' => 'Medium',
									'600' => 'Semi Bold',
									'700' => 'Bold',
									'800' => 'Bolder')
							));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'email_title_color',
								'title' => 'Color',
								'description' => 'The title color'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'email_title_line_height',
								'title' => 'Line Height',
								'description' => 'The title line height'
							)));?>
						</div>
					</div>
					<?php // END TITLE ?>
					<h3 class="m-b-5 m-t-0">Message </h3>
					<hr class="m-t-0">
					<div class="row flex-row flex-wrap">
						<div class="col-sm-12">
							<?php echo $this->partial('/settings/partials/textarea.phtml', array('item'=>array(
								'code' => 'email_message_text',
								'title' => 'Message',
								'description' => 'The message text'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'email_message_font',
								'title' => 'Font',
								'description' => 'The message font'
							), 'options' => array(
								'Helvetica' => 'Helvetica',
								'Arial' => 'Arial',
								'Verdana' => 'Verdana',
								'Times New Roman' => 'Times New Roman',
								'Courier' => 'Courier',
								'Georgia' => 'Georgia',
								'Palatino' => 'Palatino',
								'Trebuchet MS' => 'Trebuchet MS',
							))); ?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'email_message_size',
								'title' => 'Size',
								'description' => 'The message size'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'email_message_weight',
								'title' => 'Weight',
								'description' => 'The message weight'
							),'options'=>
								array('' => 'Default',
									'300' => 'Light',
									'400' => 'Regular',
									'500' => 'Medium',
									'600' => 'Semi Bold',
									'700' => 'Bold',
									'800' => 'Bolder')
							));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'email_message_color',
								'title' => 'Color',
								'description' => 'The message color'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'email_message_line_height',
								'title' => 'Line Height',
								'description' => 'The message line height'
							)));?>
						</div>
					</div>
					<?php // END MESSAGE ?>
					<h3 class="m-b-5 m-t-0">Settings </h3>
					<hr class="m-t-0">

					<div class="p-l-10">
						<h4 class="m-b-5 m-t-0">Labels </h4>
						<hr class="m-t-0">
						<div class="row flex-row flex-wrap">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'email_label_font',
									'title' => 'Font',
									'description' => 'The label font'
								), 'options' => array(
									'Helvetica' => 'Helvetica',
									'Arial' => 'Arial',
									'Verdana' => 'Verdana',
									'Times New Roman' => 'Times New Roman',
									'Courier' => 'Courier',
									'Georgia' => 'Georgia',
									'Palatino' => 'Palatino',
									'Trebuchet MS' => 'Trebuchet MS',
								))); ?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_label_size',
									'title' => 'Size',
									'description' => 'The label size'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'email_label_weight',
									'title' => 'Weight',
									'description' => 'The label weight'
								),'options'=>
									array('' => 'Default',
										'300' => 'Light',
										'400' => 'Regular',
										'500' => 'Medium',
										'600' => 'Semi Bold',
										'700' => 'Bold',
										'800' => 'Bolder')
								));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'email_label_color',
									'title' => 'Color',
									'description' => 'The label color'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_label_line_height',
									'title' => 'Line Height',
									'description' => 'The label line height'
								)));?>
							</div>
						</div>
						<?php // END LABELS ?>
						<h4 class="m-b-5 m-t-0">Information </h4>
						<hr class="m-t-0">
						<div class="row flex-row flex-wrap">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'email_font',
									'title' => 'Font',
									'description' => 'The information font'
								), 'options' => array(
									'Helvetica' => 'Helvetica',
									'Arial' => 'Arial',
									'Verdana' => 'Verdana',
									'Times New Roman' => 'Times New Roman',
									'Courier' => 'Courier',
									'Georgia' => 'Georgia',
									'Palatino' => 'Palatino',
									'Trebuchet MS' => 'Trebuchet MS',
								))); ?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_font_size',
									'title' => 'Size',
									'description' => 'The information size'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'email_weight',
									'title' => 'Weight',
									'description' => 'The information weight'
								),'options'=>
									array('' => 'Default',
										'300' => 'Light',
										'400' => 'Regular',
										'500' => 'Medium',
										'600' => 'Semi Bold',
										'700' => 'Bold',
										'800' => 'Bolder')
								));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'email_text_color',
									'title' => 'Color',
									'description' => 'The information color'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'email_line_height',
									'title' => 'Line Height',
									'description' => 'The information line height'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'email_link_color',
									'title' => 'Link Color',
									'description' => 'The link text color in emails'
								)));?>
							</div>
						</div>
						<?php // END INFORMATION ?>
						<h4 class="m-b-5 m-t-0">Global </h4>
						<hr class="m-t-0">
						<div class="row flex-row">
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'email_background_color',
									'title' => 'Background Color',
									'description' => 'The background color of emails'
								)));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'email_body_color',
									'title' => 'Body Color',
									'description' => 'The main background color of emails'
								)));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'email_table_color',
									'title' => 'Table Color',
									'description' => 'The color of tables in emails'
								)));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'email_table_border_color',
									'title' => 'Table Border Color',
									'description' => 'The color of tables in emails'
								)));?>
							</div>
						</div>
					</div>
					<?php // END STYLING ?>
					<?php // END OF STYLING TAB ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="smtp">
					<?php // START OF SMTP RELAY TAB ?>
					<h3 class="m-b-5 m-t-0">SMTP Relay </h3>
					<hr class="m-t-0">
					<div id="collapseSMTPRelay" class="collapse in">
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'smtp_relay_status',
									'title' => 'SMTP Relay',
									'description' => 'Enable or Disable an external SMTP relay service',
								),'options'=>array(
									'Disabled' => 'Disabled',
									'Enabled' => 'Enabled'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'smtp_relay_host',
									'title' => 'SMTP Relay Server',
									'description' => 'The host URL for the SMTP Relay service'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'smtp_relay_username',
									'title' => 'SMTP Relay Username',
									'description' => 'The username to send emails for the SMTP relay. This is typically the email address you are sending from.'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'smtp_relay_password',
									'title' => 'SMTP Relay Password',
									'description' => 'The password to send emails for the SMTP relay. This is typically the password for the email address you are sending from.'
								)));?>
							</div>

							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'smtp_relay_auth',
									'title' => 'SMTP Relay Authentication',
									'description' => 'The authentication method used by the SMTP relay service',
								),'options'=>array(
									'plain' => 'Plain',
									'login' => 'Login',
									'gssapi' => 'GSSAPI',
									'digestmd5' => 'DIGEST-MD5',
									'md5' => 'MD5',
									'crammd5' => 'CRAM-MD5',
									'OAUTH10A' => 'OAuth 1.0 Token',
									'OAUTHBEARER' => 'OAuth 2.0 Bearer Token',
								),
									'default' => 'login'
								));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'smtp_relay_ssl',
									'title' => 'SMTP Relay SSL Method',
									'description' => 'The SSL method used by the SMTP relay service',
								),'options'=>array(
									'tls' => 'TLS',
									'ssl' => 'SSL',
									'' => 'None',
								),
									'default' => 'tls'
								));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'smtp_relay_port',
									'title' => 'SMTP Relay Port',
									'description' => 'The port used by the SMTP relay service',
								),
									'default' => '587'
								));?>
							</div>
						</div>
					</div>
					<?php // END OF SMTP RELAY TAB ?>
				</div>

			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<div class="controls controls--horizontal text-center">
							<div class="controls__item">
								<button class="btn btn--purple" type="submit">Save</button>
								<a href="/admin/" class="btn btn--yellow">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	$(function() {
		window.cny.wysiwyg();

		$(".image-selector").each(function() {
			var item_code = $(this).data("ref");

			if ($("#image_path_"+item_code).val() == '') $("#image_"+item_code).hide();

			$("#image_remove_"+item_code).on("click",function(){
				$("#image_path_"+item_code).val('');
				$("#image_"+item_code).attr('src','').hide();
			});
		});

		$(".complex-colorpicker").asColorPicker({
			hideInput: true
		});

		// Switchery
		var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		$('.js-switch').each(function() {
			new Switchery($(this)[0], $(this).data());

		});

		$("[data-toggle='collapse']").on('click', function() {
			$(this).find('.fa').toggleClass('fa-plus-square fa-minus-square');
		});
	});
</script>
