<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<form method="post" action="" class="">
	<div class="page-header flex-row-sm flex-align-center flex-justify-space-between">
		<h1>FAQ</h1>
		<div class="controls controls--horizontal flex-row-sm flex-align-center flex-justify-space-between">
			<div class="controls__item">
				<button class="btn btn--purple" type="submit">Save</button>
				<a href="/admin/" class="btn btn--yellow">Cancel</a>
			</div>
		</div>
	</div>
	<div class="section bg-white p-30" style="min-height: 80vh;">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
			<li role="presentation" class=""><a href="#styling" aria-controls="styling" role="tab" data-toggle="tab">Styling</a></li>
		</ul>

		<div class="white-box m-b-30">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="general">
					<?php // START OF GENERAL TAB ?>
					<div id="collapseMain" class="collapse in">
						<div class="row">
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'faq_page_status',
									'title' => 'FAQ Page Status',
									'description' => 'Select if the FAQ page is turned on or not'
								),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'faq_url',
									'title' => 'FAQ URL (no slash)',
									'description' => 'The URL for the FAQ. Defaults to "faq"'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'faq_submission_status',
									'title' => 'Allow FAQ Submissions',
									'description' => 'Whether to allow use submitted FAQ questions to be submitted to you'
								), 'options' => array(
									'Enabled' => 'Enabled',
									'Disabled' => 'Disabled',
								))); ?>
							</div>
							<div class="col-sm-6">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'faq_captcha_status',
									'title' => 'reCAPTCHA',
									'description' => 'Require reCAPTCHA to submit a FAQ question'
								), 'options' => array(
									'Disabled' => 'Disabled',
									'Enabled' => 'Enabled'
								))); ?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<?php
								$mapper = new Admin_Model_Mapper_Template();
								$templates = array(""=>"Default") + $mapper->fetchCodePairs();

								echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'faq_template',
									'title' => 'FAQ Template',
									'description' => 'The page template to use for the FAQ page'
								), 'options' => $templates)); ?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<?php echo $this->partial('/settings/partials/wysiwyg.phtml', array('item'=>array(
									'code' => 'faq_page_header',
									'title' => 'Top Copy Block',
									'description' => 'Text that will show at the top of the FAQ page'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<?php echo $this->partial('/settings/partials/wysiwyg.phtml', array('item'=>array(
									'code' => 'faq_page_footer',
									'title' => 'Bottom Copy Block',
									'description' => 'Text that will show at the bottom of the FAQ page'
								)));?>
							</div>
						</div>
					</div>
					<?php // END OF GENERAL TAB ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="styling">
					<?php // START OF STYLING TAB ?>
					<div id="collapseStyling" class="collapse in">

					</div>
					<?php // END OF STYLING TAB ?>
				</div>

			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<div class="controls controls--horizontal text-center">
							<div class="controls__item">
								<button class="btn btn--purple" type="submit">Save</button>
								<a href="/admin/" class="btn btn--yellow">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	$(function() {
		window.cny.wysiwyg();

		$(".image-selector").each(function() {
			var item_code = $(this).data("ref");

			if ($("#image_path_"+item_code).val() == '') $("#image_"+item_code).hide();

			$("#image_remove_"+item_code).on("click",function(){
				$("#image_path_"+item_code).val('');
				$("#image_"+item_code).attr('src','').hide();
			});
		});

		$(".complex-colorpicker").asColorPicker({
			hideInput: true
		});

		// Switchery
		var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		$('.js-switch').each(function() {
			new Switchery($(this)[0], $(this).data());

		});

		$("[data-toggle='collapse']").on('click', function() {
			$(this).find('.fa').toggleClass('fa-plus-square fa-minus-square');
		});
	});
</script>
