<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<form method="post" action="" class="" enctype="multipart/form-data">
	<div class="page-header flex-row-sm flex-align-center flex-justify-space-between">
		<h1>Font Management</h1>
		<div class="controls controls--horizontal flex-row-sm flex-align-center flex-justify-space-between">
			<div class="controls__item">
				<button class="btn btn--purple" type="submit">Save</button>
				<a href="/admin/" class="btn btn--yellow">Cancel</a>
			</div>
		</div>
	</div>

	<div class="section bg-white">
		<div class="white-box">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Font Family Name</th>
					<th>Status</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<?php foreach ($this->fonts as $font) {?>
					<tr>
						<td>
							<?php echo $font['title']?><br/>
							<span style="font-family:'<?php echo $font['title']?>';">
								The quick brown fox jumps over the lazy dog.<br/>
								1 2 3 4 5 6 7 8 9 0 . , ' " ? ! @ # $ % ^ & * - +
							</span>
						</td>
						<td>
							<?php echo $this->formSelect('status['.$font['code'].']', $font['status'], array('class'=>'form-control'), array("Enabled"=>"Enabled","Disabled"=>"Disabled"));?>
						</td>
						<td>
							<?php if ($font['type'] == 'custom') {?>
								<a href="/admin/settings/font-delete/id/<?php echo $font['id']?>" class="btn btn-danger confirm-delete">Delete</a>
							<?php } ?>
						</td>
					</tr>
				<?php } ?>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="white-box">
				<h4>Add New Font</h4>
				<p>
					To install a new font enter the font family name and then either upload a WTF/OTF or WOFF file OR enter a URL for the Font File.
					An example of a valid font URL from the Google Fonts project would be: https://fonts.googleapis.com/css?family=Roboto
				</p>

				<div class="form-group">
					<label>Font Family Name (must match family name in font file)</label>
					<input type="text" class="form-control" name="new[title]" value="">
				</div>
				<div class="form-group">
					<label>Font File (WOFF or TTF/OTF)</label>
					<input type="file" class="form-control" name="new_file" value="">
				</div>
				<div class="form-group">
					<label>Font CSS URL (Google Font etc.)</label>
					<input type="text" class="form-control" name="new[url]" value="">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="page-header">
				<div class="controls controls--horizontal text-center">
					<div class="controls__item">
						<button class="btn btn--purple" type="submit">Save</button>
						<a href="/admin/" class="btn btn--yellow">Cancel</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
