<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<form method="post" action="" class="">
	<div class="page-header flex-row-sm flex-align-center flex-justify-space-between">
		<h1>InstaLinks Settings</h1>
		<div class="controls controls--horizontal flex-row-sm flex-align-center flex-justify-space-between">
			<div class="controls__item">
				<button class="btn btn--purple" type="submit">Save</button>
				<a href="/admin/" class="btn btn--yellow">Cancel</a>
			</div>
		</div>
	</div>
	<div class="section bg-white p-30" style="min-height: 80vh;">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#layout" aria-controls="layout" role="tab" data-toggle="tab">Layout</a></li>
			<li role="presentation" class=""><a href="#styling" aria-controls="styling" role="tab" data-toggle="tab">Styling</a></li>
			<li role="presentation" class=""><a href="#headfoot" aria-controls="headfoot" role="tab" data-toggle="tab">Header & Footer</a></li>
		</ul>

		<div class="white-box m-b-30">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="layout">
					<?php // START OF LAYOUT TAB ?>

					<div id="collapseListingTitle" class="collapse in">
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'instalinks_status',
									'title' => 'InstaLinks Page',
									'description' => 'Enable or Disable the InstaLinks page'
								),'options'=>array(
									'Disabled' => 'Disabled',
									'Enabled' => 'Enabled'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'instalinks_layout_style',
									'title' => 'InstaLinks Layout',
									'description' => 'The layout of the InstaLinks page'
								),'options'=>array(
									'tile' => 'Tile/Grid',
									'link_bar' => 'Link Bar'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'instalinks_url',
									'title' => 'InstaLinks URL (no slash)',
									'description' => 'The URL for the InstaLinks page. Defaults to "instagram-links"'
								)));?>
							</div>
							<div class="col-sm-6">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'instalinks_page_title',
									'title' => 'InstaLinks Page Name',
									'description' => 'The name of the InstaLinks page. Used for SEO and the browser tab. Defaults to "Instagram Links"'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/image.phtml', array('item'=>array(
									'code' => 'instalinks_image',
									'title' => 'Avatar',
									'description' => 'Image that will show at the top of the InstaLinks page'
								)));?>
							</div>
						</div>
					</div>

					<?php // END OF LAYOUT TAB ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="styling">
					<?php // START OF STYLING TAB ?>
					<div class="row">
						<div class="col-sm-4">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'instalinks_page_background_color',
								'title' => 'Page Background Color',
								'description' => 'The color of the page background'
							)));?>
						</div>
						<div class="col-sm-4">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'instalinks_header_color',
								'title' => 'Header Color',
								'description' => 'The color of the header'
							)));?>
						</div>
					</div>

					<h4 class="m-b-5 m-t-0 text-black h4" role="button" data-toggle="collapse" data-target="#linkBarDefaults" aria-expanded="false" aria-controls="linkBarDefaults">Link Bar Defaults <i class="fal fa-angle-down"></i></h4>
					<hr class="m-t-0">
					<div id="linkBarDefaults" class="collapse p-l-10">
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'instalinks_link_bar_button_color',
									'title' => 'Link Bar Button Color',
									'description' => 'The button color of the link bar'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'instalinks_link_bar_border_color',
									'title' => 'Link Bar Border Color',
									'description' => 'The border color of the link bar buttons'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'instalinks_link_bar_border_size',
									'title' => 'Link Bar Border Size',
									'description' => 'The border size of the link bar buttons'
								),'options' => array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
								));?>
							</div>
						</div>
					</div>

					<h4 class="m-b-5 m-t-0 text-black h4" role="button" data-toggle="collapse" data-target="#tileDefaults" aria-expanded="false" aria-controls="tileDefaults">Tile/Grid Defaults <i class="fal fa-angle-down"></i></h4>
					<hr class="m-t-0">
					<div id="tileDefaults" class="collapse p-l-10">
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/icon.phtml', array('item'=>array(
									'code' => 'instalinks_tile_icon',
									'title' => 'Icon',
									'description' => 'The icon on the tile'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'instalinks_tile_icon_position',
									'title' => 'Icon Position',
									'description' => 'The position of the icon on the tile'
								),'options' => array(
									'top_right' => 'Top Right',
									'top_left' => 'Top Left',
									'bottom_right' => 'Bottom Right',
									'bottom_left' => 'Bottom Left',
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'instalinks_tile_icon_color',
									'title' => 'Icon Color',
									'description' => 'The icon color on the tile'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'instalinks_tile_icon_size',
									'title' => 'Icon Size',
									'description' => 'The icon size on the tile'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'instalinks_tile_column_gap',
									'title' => 'Tile Column Gap',
									'description' => 'The column gap for grid tile'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'instalinks_tile_row_gap',
									'title' => 'Tile Row Gap',
									'description' => 'The row gap for grid tile'
								)));?>
							</div>
						</div>
					</div>
					<?php // END OF STYLING TAB ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="headfoot">
					<?php // START OF HEADER / FOOTER TAB ?>
					<div class="row">
						<div class="col-sm-12">
							<?php echo $this->partial('/settings/partials/wysiwyg.phtml', array('item'=>array(
								'code' => 'instalinks_header',
								'title' => 'InstaLinks Header Text',
								'description' => 'Text that will show at the top of the InstaLinks page'
							)));?>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<?php echo $this->partial('/settings/partials/wysiwyg.phtml', array('item'=>array(
								'code' => 'instalinks_footer',
								'title' => 'InstaLinks Footer Text',
								'description' => 'Text that will show at the bottom of the InstaLinks page'
							)));?>
						</div>
					</div>
				</div>
				<?php // END OF HEADER / FOOTER TAB ?>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<div class="controls controls--horizontal text-center">
							<div class="controls__item">
								<button class="btn btn--purple" type="submit">Save</button>
								<a href="/admin/" class="btn btn--yellow">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	$(function() {
		window.cny.wysiwyg();

		$(".image-selector").each(function() {
			var item_code = $(this).data("ref");

			if ($("#image_path_"+item_code).val() == '') $("#image_"+item_code).hide();

			$("#image_remove_"+item_code).on("click",function(){
				$("#image_path_"+item_code).val('');
				$("#image_"+item_code).attr('src','').hide();
			});
		});

		$(".complex-colorpicker").asColorPicker({
			hideInput: true
		});

		// Switchery
		var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		$('.js-switch').each(function() {
			new Switchery($(this)[0], $(this).data());

		});

		$("[data-toggle='collapse']").on('click', function() {
			$(this).find('.fas').toggleClass('fa-plus-square fa-minus-square');
		});
	});
</script>
