<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<form method="post" action="" class="">
	<div class="page-header flex-row-sm flex-align-center flex-justify-space-between">
		<h1>SEO Settings</h1>
		<div class="controls controls--horizontal flex-row-sm flex-align-center flex-justify-space-between">
			<div class="controls__item">
				<button class="btn btn--purple" type="submit">Save</button>
				<a href="/admin/" class="btn btn--yellow">Cancel</a>
			</div>
		</div>
	</div>
	<div class="section bg-white p-30" style="min-height: 80vh;">
		<?php /*
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#site" aria-controls="site" role="tab" data-toggle="tab">Site Settings</a></li>
		</ul>
		*/ ?>
		<div class="white-box m-b-30">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="site">
					<?php // START OF SITE SETTINGS TAB ?>
					<h3 class="m-t-0 m-b-5">Analytics </h3>
					<hr class="m-t-0">

					<div class="row">
						<div class="col-sm-12">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'dashboard_view_id',
								'title' => 'Analytics Dashboard View ID',
								'description' => 'Enter the Google Analytics View ID found in View Settings to enable the Analytics Dashboard. Add the following email address to your GA account: admin-dashboard-apps@cnyprojects-165319.iam.gserviceaccount.com'
							)));?>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<?php echo $this->partial('/settings/partials/textarea.phtml', array('item'=>array(
								'code' => 'analytics',
								'title' => 'Analytics Code',
								'description' => 'Site wide analytics code (Google Analytics etc.)'
							)));?>
						</div>
					</div>


					<h3 class="m-t-20 m-b-5">Meta Data </h3>
					<hr class="m-t-0">

					<div id="collapseMetaData" class="collapse in">
						<div class="row">
							<div class="col-sm-12">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'meta_title',
									'title' => 'Default Meta Title',
									'description' => 'The default meta title used for the page (will use site name if not set)'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<?php echo $this->partial('/settings/partials/textarea.phtml', array('item'=>array(
									'code' => 'meta_description',
									'title' => 'Default Meta Description',
									'description' => 'The default meta description to be used on site pages'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<?php echo $this->partial('/settings/partials/textarea.phtml', array('item'=>array(
									'code' => 'meta_keywords',
									'title' => 'Default Meta Keywords',
									'description' => 'The default meta keywords to be used on site pages (comma separate)'
								)));?>
							</div>
						</div>
					</div>

					<h3 class="m-t-20 m-b-5">Site Map </h3>
					<hr class="m-t-0">

					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<a href="/admin/settings/sitemap-regenerate" class="btn btn-danger">Update Site Map</a>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<label class="control-label" title="Site Map URL">Site Map URL</label>
								<div>
									<?php
									$secure_https = (isset($_SERVER["HTTPS"]) && $_SERVER["HTTPS"] == 'on') ? "s" : "";
									echo "http" . $secure_https . "://" . $_SERVER["SERVER_NAME"] ."/sitemap.xml";
									?>
								</div>
							</div>
						</div>
					</div>

					<h3 class="m-t-20 m-b-5">Open Graph </h3>
					<hr class="m-t-0">

					<div class="row">
						<div class="col-sm-12">
							<?php echo $this->partial('/settings/partials/image.phtml', array('item'=>array(
								'code' => 'open_graph_image',
								'title' => 'Open Graph Image',
								'description' => 'The image for Open Graph social sharing'
							)));?>
						</div>
					</div>

					<h3 class="m-t-20 m-b-5">Twitter Card </h3>
					<hr class="m-t-0">

					<div class="row">
						<div class="col-sm-12">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'twitter_username',
								'title' => 'Twitter @Username (include @ symbol)',
								'description' => 'The @username for the website used in the card footer'
							)));?>
						</div>
					</div>
					<?php // END OF SITE SETTINGS TAB ?>
				</div>


			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<div class="controls controls--horizontal text-center">
							<div class="controls__item">
								<button class="btn btn--purple" type="submit">Save</button>
								<a href="/admin/" class="btn btn--yellow">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	$(function() {
		window.cny.wysiwyg();

		$(".image-selector").each(function() {
			var item_code = $(this).data("ref");

			if ($("#image_path_"+item_code).val() == '') $("#image_"+item_code).hide();

			$("#image_remove_"+item_code).on("click",function(){
				$("#image_path_"+item_code).val('');
				$("#image_"+item_code).attr('src','').hide();
			});
		});

		$(".complex-colorpicker").asColorPicker({
			hideInput: true
		});

		// Switchery
		var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		$('.js-switch').each(function() {
			new Switchery($(this)[0], $(this).data());

		});

		$("[data-toggle='collapse']").on('click', function() {
			$(this).find('.fa').toggleClass('fa-plus-square fa-minus-square');
		});
	});
</script>
