<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<form method="post" action="" class="">
	<div class="page-header flex-row-sm flex-align-center flex-justify-space-between">
		<h1>Video Library</h1>
		<div class="controls controls--horizontal flex-row-sm flex-align-center flex-justify-space-between">
			<div class="controls__item">
				<button class="btn btn--purple" type="submit">Save</button>
				<a href="/admin/" class="btn btn--yellow">Cancel</a>
			</div>
		</div>
	</div>
	<div class="section bg-white p-30" style="min-height: 80vh;">
		<ul class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">General</a></li>
			<li role="presentation" class=""><a href="#styling" aria-controls="styling" role="tab" data-toggle="tab">Styling</a></li>
		</ul>

		<div class="white-box m-b-30">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="general">
					<?php // START OF GENERAL TAB ?>
					<div id="collapseMain" class="collapse in">
						<div class="row">
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'video_url',
									'title' => 'Video Library URL (no slash)',
									'description' => 'The URL for the video library. Defaults to "video"'
								)));?>
							</div>
							<div class="col-sm-6">
								<?php
								$mapper = new Admin_Model_Mapper_Template();
								$templates = array(""=>"Default") + $mapper->fetchCodePairs();

								echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'video_template',
									'title' => 'Video Template',
									'description' => 'The page template to use for the video library pages'
								), 'options' => $templates)); ?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'video_sort_order',
									'title' => 'Video Sort Order',
									'description' => 'Select how videos are sorted for display in library, category, and tag pages'
								),'options'=>array(''=>'Default','posted_date DESC'=>'Posted Date (newest)')));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'video_posted_date_status',
									'title' => 'Video Posted Date Display',
									'description' => 'Select if video posted date is displayed on the video detail page'
								),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
							</div>
							<div class="col-sm-4">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'video_tags_status',
									'title' => 'Video Tag Display',
									'description' => 'Select if video tags are shown on the video detail page'
								),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
							</div>
						</div>
					</div>
					<?php // END OF GENERAL TAB ?>
				</div>

				<div role="tabpanel" class="tab-pane" id="styling">
					<?php // START OF STYLING TAB ?>
					<div id="collapseStyling" class="collapse in">
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
									'code' => 'video_caption_font',
									'title' => 'Video Caption Font',
									'description' => 'The font for video captions'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'video_caption_font_weight',
									'title' => 'Video Caption Font Weight',
									'description' => 'The text weight for video captions'
								),'options' => array(
									'' => 'Default',
									'300' => 'Light',
									'400' => 'Regular',
									'500' => 'Medium',
									'600' => 'Semi Bold',
									'700' => 'Bold',
									'800' => 'Bolder'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'video_caption_font_size',
									'title' => 'Video Caption Font Size',
									'description' => 'The size of video captions'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
									'code' => 'video_caption_font_lineheight',
									'title' => 'Video Caption Line Height',
									'description' => 'The line height of video captions'
								)));?>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'video_caption_text_color',
									'title' => 'Video Caption Font Color',
									'description' => 'The text color for video captions'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
									'code' => 'video_caption_hover_color',
									'title' => 'Video Caption Link Hover Color',
									'description' => 'The color when hovering over a video caption link'
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'video_caption_decoration',
									'title' => 'Video Caption Link Decoration',
									'description' => 'The video caption text decoration (underline etc.)'
								),'options' => array(
									'' => 'Default',
									'none' => 'None (Normal Text)',
									'underline' => 'Underline (Line Below Text)',
									'overline' => 'Overline (Line Above Text)',
									'line-through' => 'Line-Through (Line Through Text)',
								)));?>
							</div>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'video_caption_hover_decoration',
									'title' => 'Video Caption Link Hover Decoration',
									'description' => 'The video caption hover text decoration (underline etc.)'
								),'options' => array(
									'' => 'Default',
									'none' => 'None (Normal Text)',
									'underline' => 'Underline (Line Below Text)',
									'overline' => 'Overline (Line Above Text)',
									'line-through' => 'Line-Through (Line Through Text)',
								)));?>
							</div>
						</div>
					</div>
					<?php // END OF STYLING TAB ?>
				</div>

			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<div class="controls controls--horizontal text-center">
							<div class="controls__item">
								<button class="btn btn--purple" type="submit">Save</button>
								<a href="/admin/" class="btn btn--yellow">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	$(function() {
		window.cny.wysiwyg();

		$(".image-selector").each(function() {
			var item_code = $(this).data("ref");

			if ($("#image_path_"+item_code).val() == '') $("#image_"+item_code).hide();

			$("#image_remove_"+item_code).on("click",function(){
				$("#image_path_"+item_code).val('');
				$("#image_"+item_code).attr('src','').hide();
			});
		});

		$(".complex-colorpicker").asColorPicker({
			hideInput: true
		});

		// Switchery
		var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		$('.js-switch').each(function() {
			new Switchery($(this)[0], $(this).data());

		});

		$("[data-toggle='collapse']").on('click', function() {
			$(this).find('.fa').toggleClass('fa-plus-square fa-minus-square');
		});
	});
</script>
