<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<form method="post" action="" class="">
	<div class="page-header flex-row-sm flex-align-center flex-justify-space-between">
		<h1>Video Platform Settings</h1>
		<div class="controls controls--horizontal flex-row-sm flex-align-center flex-justify-space-between">
			<div class="controls__item">
				<button class="btn btn--purple" type="submit">Save</button>
				<a href="/admin/" class="btn btn--yellow">Cancel</a>
			</div>
		</div>
	</div>
	<div class="section bg-white p-30" style="min-height: 80vh;">
		<ul class="nav nav-tabs" role="tablist">
			<!--<li role="presentation" ><a href="#global" aria-controls="hero" role="tab" data-toggle="tab">Global</a></li>-->
			<li role="presentation" class="active"><a href="#detail" aria-controls="styling" role="tab" data-toggle="tab">Detail Page</a></li>
			<li role="presentation" ><a href="#category" aria-controls="category" role="tab" data-toggle="tab">Category Page</a></li>
		</ul>

		<div class="white-box m-b-30">
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="detail">
					<?php // START OF VIDEO DETAIL TAB ?>


					<h3 class="m-t-0 m-b-5" role="button" data-toggle="collapse" href="#collapseCTASettings" aria-expanded="true" aria-controls="collapseCTASettings">Call to Actions <i class="fas fa-minus-square"></i></h3>
					<hr class="m-t-0">

					<div id="collapseCTASettings" class="collapse in">
						<div class="p-l-10">
							<h4 class="m-t-0 m-b-5">Rental Button</h4>
							<hr class="m-t-0">
							<div class="flex-auto-fit m-b-15">
								<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_rental_button_status',
										'title' => 'Display',
										'description' => 'Display entry title'
									),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
								</div>

								<div class="flex-auto-fit__item">
									<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_rental_button_color',
												'title' => 'Color',
												'description' => 'The color of the buttons on the lvp pages'
											)));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_rental_button_hover_color',
												'title' => 'Hover Color',
												'description' => 'The color of the buttons on the lvp pages'
											)));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_rental_button_border_width',
												'title' => 'Border size',
												'description' => 'The border width on the buttons on the lvp pages'
											),'options'=>
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
											));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_rental_button_border_color',
												'title' => 'Border Color',
												'description' => 'The color of the border on the buttons on the lvp pages'
											)));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_rental_button_hover_border_color',
												'title' => 'Hover Color',
												'description' => 'The color of the border on the buttons on the lvp pages'
											)));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_rental_button_style',
												'title' => 'Button Style',
												'description' => 'The style of the buttons on the lvp pages'
											),'options'=>
												array('btn-square'=>'Square','btn-round'=>'Rounded','btn-round-4px'=>'Rounded Corners','btn-outline'=>'Outlined (transparent background)','btn-square-full'=>'Full Width','btn-round-full'=>'Full Width Rounded','btn-round-4px-full'=>'Full Width Rounded Corners')
											));?>
										</div>
									</div>
								</div>
							</div>
							<div class="flex-auto-fit m-b-15">
								<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
									<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
										'code' => 'lvp_rental_button_font',
										'title' => 'Button Font',
										'description' => 'The font used on the buttons on the lvp pages'
									)));?>
								</div>
								<div class="flex-auto-fit__item">
									<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_rental_button_text_size',
												'title' => 'Text Size',
												'description' => 'The size of the text in the buttons on the lvp pages'
											),'options'=>
												array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
													'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
											));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_rental_button_text_weight',
												'title' => 'Text Weight',
												'description' => 'The weight of the text in the buttons on the lvp pages'
											),'options'=>
												array('' => 'Default',
													'300' => 'Light',
													'400' => 'Regular',
													'500' => 'Medium',
													'600' => 'Semi Bold',
													'700' => 'Bold',
													'800' => 'Bolder')
											));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_rental_button_text_color',
												'title' => 'Text Color',
												'description' => 'The color of the text on the buttons on the lvp pages'
											)));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_rental_button_hover_text_color',
												'title' => 'Hover Color',
												'description' => 'The hover color of the text on the buttons on the lvp pages'
											)));?>
										</div>
									</div>
								</div>
							</div>
							<div class="flex-auto-fit m-b-15">
								<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
									<div class="flex-auto-fit__item">
										<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
											'code' => 'lvp_rental_button_width',
											'title' => 'Button Width',
											'description' => 'The button width on the lvp pages'
										)));?>
									</div>
								</div>
								<div class="flex-auto-fit__item">
									<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
												'code' => 'lvp_rental_button_tb_padding',
												'title' => 'V-Padding',
												'description' => 'The button vertical padding on the lvp pages'
											),'options'=>
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px','24px'=>'24px','28px'=>'28px','32px'=>'32px')));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
												'code' => 'lvp_rental_button_lr_padding',
												'title' => 'H-Padding',
												'description' => 'The button horizontal padding on the lvp pages'
											),'options'=>
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px','24px'=>'24px','28px'=>'28px','32px'=>'32px')));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_rental_button_alignment',
												'title' => 'Alignment',
												'description' => 'The border width on the buttons on the lvp pages'
											),'options'=>
												array('text-center'=>'Centered','text-left'=>'Left','text-right'=>'Right')
											));?>
										</div>
									</div>
								</div>
							</div>

							<h4 class="m-t-0 m-b-5">Purchase Button</h4>
							<hr class="m-t-0">
							<div class="flex-auto-fit m-b-15">
								<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_purchase_button_status',
										'title' => 'Display',
										'description' => 'Display entry title'
									),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
								</div>

								<div class="flex-auto-fit__item">
									<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_purchase_button_color',
												'title' => 'Color',
												'description' => 'The color of the buttons on the lvp pages'
											)));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_purchase_button_hover_color',
												'title' => 'Hover Color',
												'description' => 'The color of the buttons on the lvp pages'
											)));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_purchase_button_border_width',
												'title' => 'Border size',
												'description' => 'The border width on the buttons on the lvp pages'
											),'options'=>
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
											));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_purchase_button_border_color',
												'title' => 'Border Color',
												'description' => 'The color of the border on the buttons on the lvp pages'
											)));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_purchase_button_hover_border_color',
												'title' => 'Hover Color',
												'description' => 'The color of the border on the buttons on the lvp pages'
											)));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_purchase_button_style',
												'title' => 'Button Style',
												'description' => 'The style of the buttons on the lvp pages'
											),'options'=>
												array('btn-square'=>'Square','btn-round'=>'Rounded','btn-round-4px'=>'Rounded Corners','btn-outline'=>'Outlined (transparent background)','btn-square-full'=>'Full Width','btn-round-full'=>'Full Width Rounded','btn-round-4px-full'=>'Full Width Rounded Corners')
											));?>
										</div>

									</div>
								</div>
							</div>
							<div class="flex-auto-fit m-b-15">
								<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
									<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
										'code' => 'lvp_purchase_button_font',
										'title' => 'Button Font',
										'description' => 'The font used on the buttons on the lvp pages'
									)));?>
								</div>
								<div class="flex-auto-fit__item">
									<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_purchase_button_text_size',
												'title' => 'Text Size',
												'description' => 'The size of the text in the buttons on the lvp pages'
											),'options'=>
												array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
													'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
											));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_purchase_button_text_weight',
												'title' => 'Text Weight',
												'description' => 'The weight of the text in the buttons on the lvp pages'
											),'options'=>
												array('' => 'Default',
													'300' => 'Light',
													'400' => 'Regular',
													'500' => 'Medium',
													'600' => 'Semi Bold',
													'700' => 'Bold',
													'800' => 'Bolder')
											));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_purchase_button_text_color',
												'title' => 'Text Color',
												'description' => 'The color of the text on the buttons on the lvp pages'
											)));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_purchase_button_hover_text_color',
												'title' => 'Hover Color',
												'description' => 'The hover color of the text on the buttons on the lvp pages'
											)));?>
										</div>
									</div>
								</div>
							</div>
							<div class="flex-auto-fit m-b-15">
								<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
									<div class="flex-auto-fit__item">
										<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
											'code' => 'lvp_purchase_button_width',
											'title' => 'Button Width',
											'description' => 'The button width on the lvp pages'
										)));?>
									</div>
								</div>
								<div class="flex-auto-fit__item">
									<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
												'code' => 'lvp_purchase_button_tb_padding',
												'title' => 'V-Padding',
												'description' => 'The button vertical padding on the lvp pages'
											),'options'=>
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px','24px'=>'24px','28px'=>'28px','32px'=>'32px')));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
												'code' => 'lvp_purchase_button_lr_padding',
												'title' => 'H-Padding',
												'description' => 'The button horizontal padding on the lvp pages'
											),'options'=>
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px','24px'=>'24px','28px'=>'28px','32px'=>'32px')));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_purchase_button_alignment',
												'title' => 'Alignment',
												'description' => 'The border width on the buttons on the lvp pages'
											),'options'=>
												array('text-center'=>'Centered','text-left'=>'Left','text-right'=>'Right')
											));?>
										</div>
									</div>
								</div>
							</div>

							<h4 class="m-t-0 m-b-5">View Trailer Button</h4>
							<hr class="m-t-0">
							<div class="flex-auto-fit m-b-15">
								<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">

									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_trailer_button_status',
										'title' => 'Display',
										'description' => 'Display entry title'
									),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
								</div>

								<div class="flex-auto-fit__item">
									<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_trailer_button_color',
												'title' => 'Color',
												'description' => 'The color of the buttons on the lvp pages'
											)));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_trailer_button_hover_color',
												'title' => 'Hover Color',
												'description' => 'The color of the buttons on the lvp pages'
											)));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_trailer_button_border_width',
												'title' => 'Border size',
												'description' => 'The border width on the buttons on the lvp pages'
											),'options'=>
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
											));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_trailer_button_border_color',
												'title' => 'Border Color',
												'description' => 'The color of the border on the buttons on the lvp pages'
											)));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_trailer_button_hover_border_color',
												'title' => 'Hover Color',
												'description' => 'The color of the border on the buttons on the lvp pages'
											)));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_trailer_button_style',
												'title' => 'Button Style',
												'description' => 'The style of the buttons on the lvp pages'
											),'options'=>
												array('btn-square'=>'Square','btn-round'=>'Rounded','btn-round-4px'=>'Rounded Corners','btn-outline'=>'Outlined (transparent background)','btn-square-full'=>'Full Width','btn-round-full'=>'Full Width Rounded','btn-round-4px-full'=>'Full Width Rounded Corners')
											));?>
										</div>
									</div>
								</div>
							</div>
							<div class="flex-auto-fit m-b-15">
								<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
									<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
										'code' => 'lvp_trailer_button_font',
										'title' => 'Button Font',
										'description' => 'The font used on the buttons on the lvp pages'
									)));?>
								</div>
								<div class="flex-auto-fit__item">
									<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_trailer_button_text_size',
												'title' => 'Text Size',
												'description' => 'The size of the text in the buttons on the lvp pages'
											),'options'=>
												array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
													'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
											));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_trailer_button_text_weight',
												'title' => 'Text Weight',
												'description' => 'The weight of the text in the buttons on the lvp pages'
											),'options'=>
												array('' => 'Default',
													'300' => 'Light',
													'400' => 'Regular',
													'500' => 'Medium',
													'600' => 'Semi Bold',
													'700' => 'Bold',
													'800' => 'Bolder')
											));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_trailer_button_text_color',
												'title' => 'Text Color',
												'description' => 'The color of the text on the buttons on the lvp pages'
											)));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_trailer_button_hover_text_color',
												'title' => 'Hover Color',
												'description' => 'The hover color of the text on the buttons on the lvp pages'
											)));?>
										</div>
									</div>
								</div>
							</div>
							<div class="flex-auto-fit m-b-15">
								<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
									<div class="flex-auto-fit__item">
										<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
											'code' => 'lvp_trailer_button_width',
											'title' => 'Button Width',
											'description' => 'The button width on the lvp pages'
										)));?>
									</div>
								</div>
								<div class="flex-auto-fit__item">
									<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
												'code' => 'lvp_trailer_button_tb_padding',
												'title' => 'V-Padding',
												'description' => 'The button vertical padding on the lvp pages'
											),'options'=>
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px','24px'=>'24px','28px'=>'28px','32px'=>'32px')));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
												'code' => 'lvp_trailer_button_lr_padding',
												'title' => 'H-Padding',
												'description' => 'The button horizontal padding on the lvp pages'
											),'options'=>
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px','24px'=>'24px','28px'=>'28px','32px'=>'32px')));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_trailer_button_alignment',
												'title' => 'Alignment',
												'description' => 'The border width on the buttons on the lvp pages'
											),'options'=>
												array('text-center'=>'Centered','text-left'=>'Left','text-right'=>'Right')
											));?>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>

					<h3 class="m-t-0 m-b-5" role="button" data-toggle="collapse" href="#collapsePageLayout" aria-expanded="false" aria-controls="collapsePageLayout">Page Layout <i class="fas fa-plus-square"></i></h3>
					<hr class="m-t-0">

					<div id="collapsePageLayout" class="collapse">
						<div class="p-l-10">
							<h4 class="m-t-0 m-b-5">Body Text</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
										'code' => 'lvp_body_text_font',
										'title' => 'Text Font',
										'description' => 'The lvp font'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_body_text_color',
										'title' => 'Text Color',
										'description' => 'The lvp text color'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_body_text_size',
										'title' => 'Text Size',
										'description' => 'The lvp text size'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_body_text_weight',
										'title' => 'Text Weight',
										'description' => 'The text weight for lvp'
									),'options' => array(
										'' => 'Default',
										'300' => 'Light',
										'400' => 'Regular',
										'500' => 'Medium',
										'600' => 'Semi Bold',
										'700' => 'Bold'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_body_text_line_height',
										'title' => 'Text Line Height',
										'description' => 'The lvp line height'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_body_link_color',
										'title' => 'Link Color',
										'description' => 'The lvp body text link color'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_body_link_hover_color',
										'title' => 'Link Hover Color',
										'description' => 'The lvp body text link color on hover'
									)));?>
								</div>
							</div>

							<h4 class="m-t-0 m-b-5">H1 Title (Main Title)</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
										'code' => 'lvp_main_title_font',
										'title' => 'Text Font',
										'description' => 'The lvp main title font'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_main_title_text_color',
										'title' => 'Text Color',
										'description' => 'The lvp main title text color'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_main_title_text_size',
										'title' => 'Text Size',
										'description' => 'The lvp main title text size'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_main_title_font_weight',
										'title' => 'Text Weight',
										'description' => 'The text weight for lvp main title'
									),'options' => array(
										'' => 'Default',
										'300' => 'Light',
										'400' => 'Regular',
										'500' => 'Medium',
										'600' => 'Semi Bold',
										'700' => 'Bold',
										'800' => 'Bolder'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_main_title_text_line_height',
										'title' => 'Text Line Height',
										'description' => 'The lvp main title line height'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_main_title_vertical_padding',
										'title' => 'Vertical Padding',
										'description' => 'The title vertical padding'
									)));?>
								</div>
							</div>

							<h4 class="m-t-0 m-b-5">H2 Title (Sub Title)</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
										'code' => 'lvp_sub_title_font',
										'title' => 'Text Font',
										'description' => 'The lvp sub title font'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_sub_title_text_color',
										'title' => 'Text Color',
										'description' => 'The lvp sub title text color'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_sub_title_text_size',
										'title' => 'Text Size',
										'description' => 'The lvp sub title text size'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_sub_title_font_weight',
										'title' => 'Text Weight',
										'description' => 'The text weight for lvp_sub title'
									),'options' => array(
										'' => 'Default',
										'300' => 'Light',
										'400' => 'Regular',
										'500' => 'Medium',
										'600' => 'Semi Bold',
										'700' => 'Bold',
										'800' => 'Bolder'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_sub_title_text_line_height',
										'title' => 'Text Line Height',
										'description' => 'The lvp sub title line height'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_sub_title_vertical_padding',
										'title' => 'Vertical Padding',
										'description' => 'The title vertical padding'
									)));?>
								</div>
							</div>

							<h4 class="m-t-0 m-b-5">Background</h4>
							<hr class="m-t-0">
							<div class="row">

								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_background_color',
										'title' => 'Background Color',
										'description' => 'The lvp background color'
									)));?>
								</div>

								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/image.phtml', array('item'=>array(
										'code' => 'lvp_background_image',
										'title' => 'Background Banner',
										'description' => 'The lvp Background image'
									)));?>
								</div>

								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_background_image_size',
										'title' => 'Background Stretch Behavior',
										'description' => 'The background size'
									),'options' => array(
										'auto' => 'Full Width',
										'repeat' => 'Tile',
										'cover' => 'Cover',
										'contain' => 'Contain'
									)));?>
								</div>

							</div>

							<h4 class="m-t-0 m-b-5">Tabs</h4>
							<hr class="m-t-0">
							<div class="flex-auto-fit m-b-15">
								<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
									<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
										'code' => 'lvp_tab_font',
										'title' => 'Tab Font',
										'description' => 'The font used on the tab on the lvp pages'
									)));?>
								</div>
								<div class="flex-auto-fit__item">
									<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_tab_text_size',
												'title' => 'Text Size',
												'description' => 'The size of the text in the tab on the lvp pages'
											),'options'=>
												array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
													'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
											));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_tab_text_weight',
												'title' => 'Text Weight',
												'description' => 'The weight of the text in the tab on the lvp pages'
											),'options'=>
												array('' => 'Default',
													'300' => 'Light',
													'400' => 'Regular',
													'500' => 'Medium',
													'600' => 'Semi Bold',
													'700' => 'Bold',
													'800' => 'Bolder')
											));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_tab_text_color',
												'title' => 'Text Color',
												'description' => 'The color of the text on the tab on the lvp pages'
											)));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_tab_hover_text_color',
												'title' => 'Hover Color',
												'description' => 'The hover color of the text on the tab on the lvp pages'
											)));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_tab_active_text_color',
												'title' => 'Active Color',
												'description' => 'The active color of the text on the tab on the lvp pages'
											)));?>
										</div>
									</div>
								</div>
							</div>
							<div class="flex-auto-fit m-b-15">
								<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
									<div class="flex-auto-fit__item">
										<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
											'code' => 'lvp_tab_color',
											'title' => 'Tab Color',
											'description' => 'The color of the tab on the lvp pages'
										)));?>
									</div>
								</div>
								<div class="flex-auto-fit__item">
									<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">

										<div class="flex-auto-fit__item">

											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_tab_active_color',
												'title' => 'Active Color',
												'description' => 'The active color of the tabs on the lvp pages'
											)));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_tab_hover_color',
												'title' => 'Hover Color',
												'description' => 'The color of the tab on the lvp pages'
											)));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_tab_border_width',
												'title' => 'Border size',
												'description' => 'The border width on the tab on the lvp pages'
											),'options'=>
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
											));?>
										</div>

										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
												'code' => 'lvp_tab_border_color',
												'title' => 'Border Color',
												'description' => 'The color of the border on the tab on the lvp pages'
											)));?>
										</div>

									</div>
								</div>
							</div>
							<div class="flex-auto-fit m-b-15">
								<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
									<div class="flex-auto-fit__item">
										<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
											'code' => 'lvp_tab_border_radius',
											'title' => 'Border Radius',
											'description' => 'The tab border radius'
										),'options'=>
											array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
										));?>
									</div>
								</div>
								<div class="flex-auto-fit__item">
									<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
												'code' => 'lvp_tab_tb_padding',
												'title' => 'V-Padding',
												'description' => 'The tab vertical padding on the lvp pages'
											),'options'=>
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px','24px'=>'24px','28px'=>'28px','32px'=>'32px')));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
												'code' => 'lvp_tab_lr_padding',
												'title' => 'H-Padding',
												'description' => 'The tab horizontal padding on the lvp pages'
											),'options'=>
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px','24px'=>'24px','28px'=>'28px','32px'=>'32px')));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_tab_alignment',
												'title' => 'Alignment',
												'description' => 'The tab alignment on the lvp pages'
											),'options'=>
												array('left'=>'Left','center'=>'Centered','right'=>'Right')
											));?>
										</div>
										<div class="flex-auto-fit__item">
											<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
												'code' => 'lvp_tab_left_margin',
												'title' => 'left Margin',
												'description' => 'The tab left margin'
											),'options'=>
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
											));?>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<h3 class="m-t-0 m-b-5" role="button" data-toggle="collapse" href="#collapsePhotoGallery" aria-expanded="false" aria-controls="collapsePhotoGallery">Photo Gallery <i class="fas fa-plus-square"></i></h3>
					<hr class="m-t-0">

					<div id="collapsePhotoGallery" class="collapse">

						<div class="p-l-10">

							<h4 class="m-t-0 m-b-5">Gallery Settings</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_gallery_status',
										'title' => 'Display',
										'description' => 'Display gallery'
									),'options'=>array('Disabled'=>'Disabled','Enabled'=>'Enabled')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_gallery_style',
										'title' => 'Gallery Style',
										'description' => 'The weight of the text in the buttons on the lvp pages'
									),'options'=>
										array('grid' => 'Grid',
											'horizontal-tray' => 'Horizontal-tray')
									));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_gallery_image_style',
										'title' => 'Image Profile',
										'description' => 'The image type',
									),'options'=>array(
										''=> 'Original',
										'crop_square'=> 'Square',
										'crop_4x3'=> '4:3',
										'crop_16x9'=> '16:9',
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_gallery_column_spacing',
										'title' => 'Column Spacing',
										'description' => 'The gallery column spacing'
									)));?>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_gallery_row_spacing',
										'title' => 'Row Spacing',
										'description' => 'The gallery row spacing'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_gallery_item_count',
										'title' => 'Gallery Item Count',
										'description' => 'The gallery count for desktop'
									),'options'=>array(
										'4'=> '4',
										'5'=> '5',
										'6'=> '6',
										'8'=> '8'
									)));?>
								</div>
							</div>

							<h4 class="m-t-0 m-b-5">Tray Options</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_tray_arrow_size',
										'title' => 'Arrow Size',
										'description' => 'The tray arrow size'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_tray_arrow_padding',
										'title' => 'Arrow Padding',
										'description' => 'The tray arrow padding'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_tray_arrow_color',
										'title' => 'Arrow Color',
										'description' => 'The gallery row spacing'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_tray_arrow_hover_color',
										'title' => 'Arrow Hover Color',
										'description' => 'The tray arrow hover color'
									)));?>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_tray_arrow_background_color',
										'title' => 'Background Color',
										'description' => 'The tray arrow background color'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_tray_arrow_background_hover_color',
										'title' => 'Background Hover Color',
										'description' => 'The tray arrow background hover color'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_gallery_max_width',
										'title' => 'Tray Max Width',
										'description' => 'The gallery max width'
									)));?>
								</div>
							</div>

							<h4 class="m-t-0 m-b-5">Title Settings</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_gallery_title',
										'title' => 'Gallery Name',
										'description' => 'The gallery title on the lvp pages'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
										'code' => 'lvp_gallery_title_font',
										'title' => 'Font',
										'description' => 'The font used on the buttons on the lvp pages'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_gallery_title_color',
										'title' => 'Color',
										'description' => 'The color of the gallery title on the lvp pages'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_gallery_title_size',
										'title' => 'Size',
										'description' => 'The size of the text in the buttons on the lvp pages'
									),'options'=>
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									));?>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_gallery_title_weight',
										'title' => 'Weight',
										'description' => 'The weight of the text in the buttons on the lvp pages'
									),'options'=>
										array('' => 'Default',
											'300' => 'Light',
											'400' => 'Regular',
											'500' => 'Medium',
											'600' => 'Semi Bold',
											'700' => 'Bold',
											'800' => 'Bolder')
									));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_gallery_title_line_height',
										'title' => 'Line Height',
										'description' => 'The gallery title line height on the lvp pages'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_gallery_title_margin_bottom',
										'title' => 'Margin Bottom',
										'description' => 'The gallery title padding on the lvp pages'
									),'options'=>
										array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px','24px'=>'24px','28px'=>'28px','32px'=>'32px')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_gallery_title_alignment',
										'title' => 'Alignment',
										'description' => 'The text alignment'
									),'options'=>
										array('' => 'Left',
											'text-center' => 'Center',
											'text-right' => 'Right')
									));?>
								</div>
							</div>
						</div>

					</div>

					<h3 class="m-t-0 m-b-5" role="button" data-toggle="collapse" href="#collapseRelatedVideos" aria-expanded="false" aria-controls="collapsePhotoGallery">Related Videos <i class="fas fa-plus-square"></i></h3>
					<hr class="m-t-0">

					<div class="collapse" id="collapseRelatedVideos">
						<div class="p-l-10">
							<h4>Layout</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_related_status',
										'title' => 'Display',
										'description' => 'Display gallery'
									),'options'=>array('Disabled'=>'Disabled','Enabled'=>'Enabled')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_related_image_style',
										'title' => 'Image Profile',
										'description' => 'The image profile',
									),'options'=>array(
										''=> 'Original',
										'crop_square'=> 'Square',
										'crop_4x3'=> '4:3',
										'crop_16x9'=> '16:9',
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_related_image_type',
										'title' => 'Image Type',
										'description' => 'The image type',
									),'options'=>array(
										'video_thumbnail'=> 'Thumbnail',
										'video_poster'=> 'Poster',
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_related_column_spacing',
										'title' => 'Column Spacing',
										'description' => 'The related column spacing'
									)));?>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_related_item_count',
										'title' => 'Item Count',
										'description' => 'The related item count for desktop'
									),'options'=>array(
										'4'=> '4',
										'5'=> '5',
										'6'=> '6',
										'8'=> '8'
									)));?>
								</div>
							</div>

							<h4 class="m-t-0 m-b-5">Tray Options</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_related_arrow_size',
										'title' => 'Arrow Size',
										'description' => 'The related arrow size'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_related_arrow_padding',
										'title' => 'Arrow Padding',
										'description' => 'The related arrow padding'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_related_arrow_color',
										'title' => 'Arrow Color',
										'description' => 'The gallery row spacing'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_related_arrow_hover_color',
										'title' => 'Arrow Hover Color',
										'description' => 'The related arrow hover color'
									)));?>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_related_arrow_background_color',
										'title' => 'Background Color',
										'description' => 'The related arrow background color'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_related_arrow_background_hover_color',
										'title' => 'Background Hover Color',
										'description' => 'The related arrow background hover color'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_related_max_width',
										'title' => 'Tray Max Width',
										'description' => 'The related max width'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_related_margin_top',
										'title' => 'Tray Top Margin',
										'description' => 'The related top margin'
									)));?>
								</div>
							</div>

							<h4 class="m-t-0 m-b-5">Title Settings</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_related_title',
										'title' => 'Title',
										'description' => 'The related title on the lvp pages'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
										'code' => 'lvp_related_title_font',
										'title' => 'Font',
										'description' => 'The font used on the buttons on the lvp pages'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_related_title_color',
										'title' => 'Color',
										'description' => 'The color of the related title on the lvp pages'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_related_title_size',
										'title' => 'Size',
										'description' => 'The size of the text in the buttons on the lvp pages'
									),'options'=>
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									));?>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_related_title_weight',
										'title' => 'Weight',
										'description' => 'The weight of the text in the buttons on the lvp pages'
									),'options'=>
										array('' => 'Default',
											'300' => 'Light',
											'400' => 'Regular',
											'500' => 'Medium',
											'600' => 'Semi Bold',
											'700' => 'Bold',
											'800' => 'Bolder')
									));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_related_title_line_height',
										'title' => 'Line Height',
										'description' => 'The related title line height on the lvp pages'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_related_title_margin_bottom',
										'title' => 'Margin Bottom',
										'description' => 'The related title margin on the lvp pages'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_related_title_margin_top',
										'title' => 'Margin Top',
										'description' => 'The related title margin on the lvp pages'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_related_title_alignment',
										'title' => 'Alignment',
										'description' => 'The text alignment'
									),'options'=>
										array('' => 'Left',
											'text-center' => 'Center',
											'text-right' => 'Right')
									));?>
								</div>
							</div>

							<h4 class="m-b-5 m-t-0 text-black h4">Post Title</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_related_post_title_status',
										'title' => 'Display',
										'description' => 'Display title'
									),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
										'code' => 'lvp_related_post_title_font',
										'title' => 'Font',
										'description' => 'The font used on the buttons on the lvp pages'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_related_post_title_color',
										'title' => 'Color',
										'description' => 'Related post title text color'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_related_post_title_font_size',
										'title' => 'Size',
										'description' => 'Related post title font size'
									),'options'=>
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_related_post_title_font_weight',
										'title' => 'Weight',
										'description' => 'Related post title text weight'
									),'options' => array(
										'' => 'Default',
										'300' => 'Light',
										'400' => 'Regular',
										'500' => 'Medium',
										'600' => 'Semi Bold',
										'700' => 'Bold'
									)));?>
								</div>
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_related_post_title_line_height',
										'title' => 'Line Height',
										'description' => 'Related post title line height'
									)));?>
								</div>


								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_related_post_title_margin_top',
										'title' => 'Top Margin',
										'description' => 'Related post title margin'
									)));?>
								</div>
							</div>
						</div>
					</div>

					<h3 class="m-t-0 m-b-5" role="button" data-toggle="collapse" href="#collapseDefaultImages" aria-expanded="false" aria-controls="collapseDefaultImages">Default Images <i class="fas fa-plus-square"></i></h3>
					<hr class="m-t-0">

					<div class="collapse" id="collapseDefaultImages">
						<div class="p-l-10">
							<h4>Poster</h4>
							<hr class="m-t-0">
							<div class="row">
								<div class="col-sm-3">
									<?php echo $this->partial('/settings/partials/image.phtml', array('item'=>array(
										'code' => 'lvp_default_poster',
										'title' => 'Default Poster',
										'description' => 'The default poster image to display'
									)));?>
								</div>
							</div>
						</div>
					</div>

					<?php // END OF STYLING TAB ?>
				</div>
				<div role="tabpanel" class="tab-pane" id="category">
					<?php // START OF VIDEO CATEGORY TAB ?>

					<h4 class="m-t-0 m-b-5">Page Title</h4>
					<hr class="m-t-0">
					<div class="row">
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_page_title_status',
								'title' => 'Display',
								'description' => 'Display gallery'
							),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled',)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
								'code' => 'lvp_cat_page_title_font',
								'title' => 'Text Font',
								'description' => 'The lvp page title font'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'lvp_cat_page_title_color',
								'title' => 'Text Color',
								'description' => 'The lvp page title text color'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_page_title_size',
								'title' => 'Text Size',
								'description' => 'The lvp page title text size'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_page_title_font_weight',
								'title' => 'Text Weight',
								'description' => 'The text weight for lvp page title'
							),'options' => array(
								'' => 'Default',
								'300' => 'Light',
								'400' => 'Regular',
								'500' => 'Medium',
								'600' => 'Semi Bold',
								'700' => 'Bold',
								'800' => 'Bolder'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_page_title_text_line_height',
								'title' => 'Text Line Height',
								'description' => 'The lvp page title line height'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_page_title_vertical_padding',
								'title' => 'Vertical Padding',
								'description' => 'The page title vertical padding'
							)));?>
						</div>
					</div>

					<h4 class="m-t-0 m-b-5">Entry Title</h4>
					<hr class="m-t-0">
					<div class="row">
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_entry_title_status',
								'title' => 'Display',
								'description' => 'Display entry title'
							),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
								'code' => 'lvp_cat_entry_title_font',
								'title' => 'Text Font',
								'description' => 'The lvp entry title font'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'lvp_cat_entry_title_color',
								'title' => 'Text Color',
								'description' => 'The lvp entry title text color'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_entry_title_size',
								'title' => 'Text Size',
								'description' => 'The lvp entry title text size'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_entry_title_font_weight',
								'title' => 'Text Weight',
								'description' => 'The text weight for lvp entry title'
							),'options' => array(
								'' => 'Default',
								'300' => 'Light',
								'400' => 'Regular',
								'500' => 'Medium',
								'600' => 'Semi Bold',
								'700' => 'Bold',
								'800' => 'Bolder'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_entry_title_line_height',
								'title' => 'Text Line Height',
								'description' => 'The lvp entry title line height'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_entry_title_vertical_padding',
								'title' => 'Vertical Padding',
								'description' => 'The entry title vertical padding'
							)));?>
						</div>
					</div>

					<h4 class="m-t-0 m-b-5">Description</h4>
					<hr class="m-t-0">
					<div class="row">
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_description_status',
								'title' => 'Display',
								'description' => 'Display entry title'
							),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
								'code' => 'lvp_cat_description_font',
								'title' => 'Text Font',
								'description' => 'The lvp font'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'lvp_cat_description_color',
								'title' => 'Text Color',
								'description' => 'The lvp text color'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_description_size',
								'title' => 'Text Size',
								'description' => 'The lvp text size'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_description_weight',
								'title' => 'Text Weight',
								'description' => 'The text weight for lvp'
							),'options' => array(
								'' => 'Default',
								'300' => 'Light',
								'400' => 'Regular',
								'500' => 'Medium',
								'600' => 'Semi Bold',
								'700' => 'Bold'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_description_line_height',
								'title' => 'Text Line Height',
								'description' => 'The lvp line height'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_description_vertical_padding',
								'title' => 'Vertical Padding',
								'description' => 'The description vertical padding'
							)));?>
						</div>
					</div>

					<h4 class="m-t-0 m-b-5">CTA</h4>
					<hr class="m-t-0">
					<div class="flex-auto-fit">
						<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_button_status',
								'title' => 'Display',
								'description' => 'Display entry title'
							),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
						</div>
						<div class="flex-auto-fit__item">
							<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">

								<div class="flex-auto-fit__item">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_cat_button_color',
										'title' => 'Color',
										'description' => 'The color of the buttons on the lvp pages'
									)));?>
								</div>

								<div class="flex-auto-fit__item">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_cat_button_hover_color',
										'title' => 'Hover Color',
										'description' => 'The color of the buttons on the lvp pages'
									)));?>
								</div>

								<div class="flex-auto-fit__item">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_cat_button_border_width',
										'title' => 'Border size',
										'description' => 'The border width on the buttons on the lvp pages'
									),'options'=>
										array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
									));?>
								</div>

								<div class="flex-auto-fit__item">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_cat_button_border_color',
										'title' => 'Border Color',
										'description' => 'The color of the border on the buttons on the lvp pages'
									)));?>
								</div>

								<div class="flex-auto-fit__item">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_cat_button_hover_border_color',
										'title' => 'Hover Color',
										'description' => 'The color of the border on the buttons on the lvp pages'
									)));?>
								</div>
								<div class="flex-auto-fit__item">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_cat_button_style',
										'title' => 'Button Style',
										'description' => 'The style of the buttons on the lvp pages'
									),'options'=>
										array('btn-square'=>'Square','btn-round'=>'Rounded','btn-round-4px'=>'Rounded Corners','btn-outline'=>'Outlined (transparent background)','btn-square-full'=>'Full Width','btn-round-full'=>'Full Width Rounded','btn-round-4px-full'=>'Full Width Rounded Corners')
									));?>
								</div>
							</div>
						</div>
					</div>
					<div class="flex-auto-fit">
						<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
							<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
								'code' => 'lvp_cat_button_font',
								'title' => 'Button Font',
								'description' => 'The font used on the buttons on the lvp pages'
							)));?>
						</div>
						<div class="flex-auto-fit__item">
							<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">
								<div class="flex-auto-fit__item">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_cat_button_text_size',
										'title' => 'Text Size',
										'description' => 'The size of the text in the buttons on the lvp pages'
									),'options'=>
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									));?>
								</div>
								<div class="flex-auto-fit__item">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_cat_button_text_weight',
										'title' => 'Text Weight',
										'description' => 'The weight of the text in the buttons on the lvp pages'
									),'options'=>
										array('' => 'Default',
											'300' => 'Light',
											'400' => 'Regular',
											'500' => 'Medium',
											'600' => 'Semi Bold',
											'700' => 'Bold',
											'800' => 'Bolder')
									));?>
								</div>
								<div class="flex-auto-fit__item">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_cat_button_text_color',
										'title' => 'Text Color',
										'description' => 'The color of the text on the buttons on the lvp pages'
									)));?>
								</div>
								<div class="flex-auto-fit__item">
									<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
										'code' => 'lvp_cat_button_hover_text_color',
										'title' => 'Hover Color',
										'description' => 'The hover color of the text on the buttons on the lvp pages'
									)));?>
								</div>
							</div>
						</div>
					</div>
					<div class="flex-auto-fit">
						<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_button_text',
								'title' => 'Button Text',
								'description' => 'The button text on the lvp pages'
							)));?>
						</div>

						<div class="flex-auto-fit__item">
							<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">
								<div class="flex-auto-fit__item">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_cat_button_width',
										'title' => 'Button Width',
										'description' => 'The button width on the lvp pages'
									)));?>
								</div>
								<div class="flex-auto-fit__item">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_cat_button_tb_padding',
										'title' => 'V-Padding',
										'description' => 'The button vertical padding on the lvp pages'
									),'options'=>
										array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px','24px'=>'24px','28px'=>'28px','32px'=>'32px')));?>
								</div>
								<div class="flex-auto-fit__item">
									<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
										'code' => 'lvp_cat_button_lr_padding',
										'title' => 'H-Padding',
										'description' => 'The button horizontal padding on the lvp pages'
									),'options'=>
										array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px','24px'=>'24px','28px'=>'28px','32px'=>'32px')));?>
								</div>
								<div class="flex-auto-fit__item">
									<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
										'code' => 'lvp_cat_button_alignment',
										'title' => 'Alignment',
										'description' => 'The border width on the buttons on the lvp pages'
									),'options'=>
										array('text-center'=>'Centered','text-left'=>'Left','text-right'=>'Right')
									));?>
								</div>
							</div>
						</div>
					</div>

					<h4 class="m-t-0 m-b-5">Caption Overlay</h4>
					<hr class="m-t-0">
					<div class="row flex-row flex-wrap">
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_overlay_status',
								'title' => 'Display',
								'description' => 'Enable or disable overlay'
							),'options' => array(
								'Disabled' => 'Disabled',
								'Enabled' => 'Enabled'

							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'lvp_cat_overlay_background_color',
								'title' => 'Background Color',
								'description' => 'The lvp cat overlay background color'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_overlay_vertical_padding',
								'title' => 'Vertical Padding',
								'description' => 'The vertical padding'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_overlay_horizontal_padding',
								'title' => 'Horizontal Padding',
								'description' => 'The horizontal padding'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_overlay_alignment',
								'title' => 'Alignment',
								'description' => 'The overlay alignment'
							),'options'=>
								array('text-left'=>'Left','text-center'=>'Centered','text-right'=>'Right')
							));?>
						</div>
					</div>

					<h4 class="m-t-0 m-b-5">Background</h4>
					<hr class="m-t-0">
					<div class="row">

						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'lvp_cat_background_color',
								'title' => 'Background Color',
								'description' => 'The lvp background color'
							)));?>
						</div>

						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/image.phtml', array('item'=>array(
								'code' => 'lvp_cat_background_image',
								'title' => 'Background Banner',
								'description' => 'The lvp Background image'
							)));?>
						</div>

						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_background_image_size',
								'title' => 'Background Stretch Behavior',
								'description' => 'The background size'
							),'options' => array(
								'auto' => 'Full Width',
								'repeat' => 'Tile',
								'cover' => 'Cover',
								'contain' => 'Contain'
							)));?>
						</div>

					</div>

					<h4 class="m-t-0 m-b-5">Breadcrumb</h4>
					<hr class="m-t-0">
					<div class="row">
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_breadcrumb_status',
								'title' => 'Display',
								'description' => 'Enable or disable product breadcrumb'
							),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_breadcrumb_size',
								'title' => 'Text Size',
								'description' => 'The size of the breadcrumb text'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'lvp_cat_breadcrumb_color',
								'title' => 'Text Color',
								'description' => 'The color of the breadcrumb text'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'lvp_cat_breadcrumb_active_color',
								'title' => 'Active Text Color',
								'description' => 'The active color of the breadcrumb text'
							)));?>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_breadcrumb_font_weight',
								'title' => 'Text Weight',
								'description' => 'The text weight'
							),'options'=>array(
								'' => 'Default',
								'300' => 'Light',
								'400' => 'Regular',
								'500' => 'Medium',
								'600' => 'Semi Bold',
								'700' => 'Bold',
								'800' => 'Bolder'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
								'code' => 'lvp_cat_breadcrumb_font',
								'title' => 'Text Font',
								'description' => 'The product description font'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'lvp_cat_breadcrumb_background_color',
								'title' => 'Background Color',
								'description' => 'The background color of the breadcrumb'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_breadcrumb_alignment',
								'title' => 'Alignment',
								'description' => 'The breadcrumb text alignment'
							),'options'=>array(
								'left'=>'Left',
								'center'=>'Center',
								'right'=>'Right'
							)));?>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_breadcrumb_padding_tb',
								'title' => 'Vertical Padding',
								'description' => 'Breadcrumb vertical padding'
							)));?>
						</div>
					</div>

					<h4 class="m-t-0 m-b-5">Paging</h4>
					<hr class="m-t-0">
					<div class="row">
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_paging_status',
								'title' => 'Display',
								'description' => 'Enable or disable product breadcrumb'
							),'options'=>array('Enabled'=>'Enabled','Disabled'=>'Disabled')));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_paging_size',
								'title' => 'Text Size',
								'description' => 'The size of the breadcrumb text'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'lvp_cat_paging_color',
								'title' => 'Text Color',
								'description' => 'The color of the breadcrumb text'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'lvp_cat_paging_active_color',
								'title' => 'Active Text Color',
								'description' => 'The active color of the breadcrumb text'
							)));?>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_paging_font_weight',
								'title' => 'Text Weight',
								'description' => 'The text weight'
							),'options'=>array(
								'' => 'Default',
								'300' => 'Light',
								'400' => 'Regular',
								'500' => 'Medium',
								'600' => 'Semi Bold',
								'700' => 'Bold',
								'800' => 'Bolder'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/font.phtml', array('item'=>array(
								'code' => 'lvp_cat_paging_font',
								'title' => 'Text Font',
								'description' => 'The paging font'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'lvp_cat_paging_background_color',
								'title' => 'Background Color',
								'description' => 'The background color of the paging'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'lvp_cat_paging_active_background_color',
								'title' => 'Active Background Color',
								'description' => 'The background color of the paging'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/color.phtml', array('item'=>array(
								'code' => 'lvp_cat_paging_border_color',
								'title' => 'Border Color',
								'description' => 'The border color of the paging'
							)));?>
						</div>
						<div class="col-sm-3 hide">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_paging_alignment',
								'title' => 'Alignment',
								'description' => 'The paging text alignment'
							),'options'=>array(
								'left'=>'Left',
								'center'=>'Center',
								'right'=>'Right'
							)));?>
						</div>
					</div>
					<div class="row hide">
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_paging_padding_tb',
								'title' => 'Vertical Padding',
								'description' => 'paging vertical padding'
							)));?>
						</div>
					</div>

					<h4 class="m-t-0 m-b-5">Layout Options</h4>
					<hr class="m-t-0">
					<div class="row">
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_grid_item_row_count',
								'title' => 'Item Per Row Count',
								'description' => 'The gallery count for desktop'
							),'options'=>array(
								'4'=> '4',
								'6'=> '6',
								'8'=> '8'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
								'code' => 'lvp_cat_grid_item_page_count',
								'title' => 'Item Per Page Count',
								'description' => 'The gallery count for desktop'
							),'options'=>array(
								'12'=> '12',
								'16'=> '16',
								'24'=> '24',
								'32'=> '32',
								'40'=> '40',
								'52'=> '52',
								'60'=> '60',
								'72'=> '72',
								'80'=> '80',
								'100'=> '100',
								'120'=> '120',
								'All'=> 'All'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_grid_column_spacing',
								'title' => 'Column Spacing',
								'description' => 'The gallery column spacing'
							)));?>
						</div>
						<div class="col-sm-3">
							<?php echo $this->partial('/settings/partials/text.phtml', array('item'=>array(
								'code' => 'lvp_cat_grid_row_spacing',
								'title' => 'Row Spacing',
								'description' => 'The gallery row spacing'
							)));?>
						</div>

						<?php if ($settings_mapper->getValueByCode('zype_api_key_admin') != '' || $settings_mapper->getValueByCode('zype_api_key_read_only') != '') { ?>
							<div class="col-sm-3">
								<?php echo $this->partial('/settings/partials/select.phtml', array('item'=>array(
									'code' => 'lvp_cat_grid_image_type',
									'title' => 'Image Type to Display',
									'description' => 'The type of image to display as the video representative'
								),'options'=>array(
									''=> 'Thumbnail',
									'poster'=> 'Poster',
								)));?>
							</div>
						<?php } ?>
					</div>

					<?php // END OF CATEGORY TAB ?>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="page-header">
						<div class="controls controls--horizontal text-center">
							<div class="controls__item">
								<button class="btn btn--purple" type="submit">Save</button>
								<a href="/admin/" class="btn btn--yellow">Cancel</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script>
	$(function() {
		window.cny.wysiwyg();

		$(".image-selector").each(function() {
			var item_code = $(this).data("ref");

			if ($("#image_path_"+item_code).val() == '') $("#image_"+item_code).hide();

			$("#image_remove_"+item_code).on("click",function(){
				$("#image_path_"+item_code).val('');
				$("#image_"+item_code).attr('src','').hide();
			});
		});

		$(".complex-colorpicker").asColorPicker({
			hideInput: true
		});

		// Switchery
		var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
		$('.js-switch').each(function() {
			new Switchery($(this)[0], $(this).data());
		});

		$("[data-toggle='collapse']").on('click', function() {
			$(this).find('.fas').toggleClass('fa-plus-square fa-minus-square');
		});

		$(".conditional").hide();
		$(".conditional-toggle").each(function(){
			var val = $(this).val();
			var code = $(this).attr("id").replace("fields-","");

			$(".conditional."+code+"."+val).show();
		});
		$(".conditional-toggle").on("change",function(){
			var val = $(this).val();
			var code = $(this).attr("id").replace("fields-","");

			$(".conditional."+code).hide();
			$(".conditional."+code+"."+val).show();
		});
	});
</script>
