<img src="<?php echo $this->value?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#value_path" id="value">
<input type="hidden" class="form-control" name="value" id="value_path" value="<?php echo $this->value?>">
<button data-url="/filemanager/dialog.php?type=1&field_id=value_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
<button type="button" class="btn btn-primary btn-clear_image" data-rel="value">Remove Image</button>

<script>
	$(document).ready(function() {
		if ($("#value_path").val() == '') $("#value").hide();

		$("body").on("click", ".btn-clear_image", function(){
			var img = $(this).data('rel');
			$("#"+img+"_path").val('');
			$("#"+img).attr('src','').hide();
		});
	});
</script>
