<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2><?php echo ($this->cmd=='add')?'Add New Promotion':'Edit Promotion'?></h2>

			<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
						<?php
						foreach ($this->errors as $error) {
							echo "<li>".$error."</li>";
						}
						?>
					</ul>
				</div>
			<?php } ?>

		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/promotion"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<?php echo $this->form?>
		</div>
	</div>

	<div id="threshold-block" class="hidden-xs"></div>
</div>

<div class="white-box">
	<?php if (isset($this->promotion) && $this->promotion->trigger == 'single_use_code') { ?>
		<div class="row">
			<div class="col-sm-12">
				<h2>Single Use Codes</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped" id="single_use_codes">
					<thead>
					<tr>
						<td>Code</td>
						<td>Used Timestamp</td>
					</tr>
					</thead>
					<tbody>
					<?php foreach ($this->promo_codes as $code) { ?>
						<tr>
							<td><?php echo $code->code?></td>
							<td><?php echo ($code->used_timestamp)?"{$code->used_timestamp} UTC":""?></td>
						</tr>
					<?php } ?>
					</tbody>
					<tfoot>
					<tr>
						<td>Add New Codes: </td>
						<td class="text-right">
							<div class="text-right col-xs-6">
								<div class="input-group">
									<input type="number" id="num_new_codes" value="" class="form-control" placeholder="# of New Codes">
									<span class="input-group-btn">
								        <button type="button" class="btn btn-sm btn-warning" id="generate_codes">Generate Codes</button>
								    </span>
								</div>
							</div>
						</td>
					</tr>
					</tfoot>
				</table>
			</div>
		</div>
	<?php } ?>
</div>

<style>.minitip {font-weight:normal;font-size:.9em;color:#666;}</style>
<script>
	$(document).ready(function(){
		loadView("threshold","list","", false);

		$('.datepicker').datepicker({
			dateFormat: "yy-mm-dd"
		});

		$("#generate_codes").on("click",function(){
			$.getJSON( "/admin/promotion/create-codes", {id:<?php echo ($this->promotion_id)?$this->promotion_id:0?>,count:$("#num_new_codes").val()}, function( data ) {
				var items = [];
				$.each( data, function( key, val ) {
					items.push( "<tr><td>" + val + "</td><td></td></tr>" );
				});

				var rows = items.join( "" );

				$(rows).appendTo( "#single_use_codes tbody" );

				$("#num_new_codes").val('');
			});
		});
	});


	function loadView(section,action,id, scroll_to) {
		if (typeof scroll_to === 'undefined') scroll_to = true;

		if (action == 'delete') {
			if (!confirm('Are you sure you want to delete this entry?')) {
				return false;
			}
		}

		$.get( "/admin/promotion/"+section+"-"+action+"/promo_id/<?php echo $this->promotion_id?>/id/"+id, function( data ) {
			$("#"+section+"-block").html( data );

			if (scroll_to === true) {
				$('html, body').animate({
					scrollTop: $("#" + section + "-block").offset().top
				}, 500);
			}
		});

		return false;
	}
</script>
