<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2><?php echo ($this->cmd=='add')?'Add New Promotion':'Edit Promotion'?></h2>

			<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
						<?php
						foreach ($this->errors as $error) {
							echo "<li>".$error."</li>";
						}
						?>
					</ul>
				</div>
			<?php } ?>

		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/promotion"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<?php echo $this->form?>
		</div>
	</div>

</div>

<div class="white-box">
	<?php if (isset($this->promotion) && $this->promotion->trigger == 'single_use_code') { ?>
		<div class="row">
			<div class="col-sm-12">
				<h2>Single Use Codes</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped" id="single_use_codes">
					<thead>
					<tr>
						<td>Code</td>
						<td>Used Timestamp</td>
					</tr>
					</thead>
					<tbody>
					<?php foreach ($this->promo_codes as $code) { ?>
						<tr>
							<td><?php echo $code->code?></td>
							<td><?php echo $code->used_timestamp?> UTC</td>
						</tr>
					<?php } ?>
					</tbody>
					<tfoot>
					<tr>
						<td>Add New Codes: </td>
						<td class="text-right">
							<div class="text-right col-xs-6">
								<div class="input-group">
									<input type="number" id="num_new_codes" value="" class="form-control" placeholder="# of New Codes">
									<span class="input-group-btn">
								        <button type="button" class="btn btn-sm btn-warning" id="generate_codes">Generate Codes</button>
								    </span>
								</div>
							</div>
						</td>
					</tr>
					</tfoot>
				</table>
			</div>
		</div>
	<?php } ?>
</div>

<style>.minitip {font-weight:normal;font-size:.9em;color:#666;}</style>
<script>
	$(document).ready(function(){
		$('.datepicker').datepicker({
			dateFormat: "yy-mm-dd"
		});

		$("#products").select2(
			{
				tags:[],
				tokenSeparators: ["|"],
				separator: "|",
				formatNoMatches: '',
				formatSearching: '',
				escapeMarkup: function (m) { return m; }
			}
		);

		$("#product_query").select2(
			{
				placeholder: "Search for a product",
				minimumInputLength: 3,
				ajax: {
					url: "/admin/product/ajax-list",
					dataType: 'json',
					quietMillis: 250,
					data: function (term, page) {
						return {
							q: term
						};
					},
					results: function (data, page) {
						return { results: data.results };
					},
					cache: true
				},
				initSelection: function(element, callback) {
					var id = $(element).val();
					if (id !== "") {
						$.ajax("/admin/product/ajax-list/id/" + id, {
							dataType: "json"
						}).done(function(data) { callback(data.results[0]); });
					}
				},
				formatResult: productFormatResult,
				formatSelection: productFormatSelection,
				escapeMarkup: function (m) { return m; }
			}
		);

		$("#ex_products").select2(
			{
				tags:[],
				tokenSeparators: ["|"],
				separator: "|",
				formatNoMatches: '',
				formatSearching: '',
				escapeMarkup: function (m) { return m; }
			}
		);

		$("#ex_product_query").select2(
			{
				placeholder: "Search for a product",
				minimumInputLength: 3,
				ajax: {
					url: "/admin/product/ajax-list",
					dataType: 'json',
					quietMillis: 250,
					data: function (term, page) {
						return {
							q: term
						};
					},
					results: function (data, page) {
						return { results: data.results };
					},
					cache: true
				},
				initSelection: function(element, callback) {
					var id = $(element).val();
					if (id !== "") {
						$.ajax("/admin/product/ajax-list/id/" + id, {
							dataType: "json"
						}).done(function(data) { callback(data.results[0]); });
					}
				},
				formatResult: productFormatResult,
				formatSelection: productExFormatSelection,
				escapeMarkup: function (m) { return m; }
			}
		);

		function productFormatResult(item) {
			item.title = (item.text)?item.text:'';

			var markup = '<div class="row">' +
				'<div class="col-sm-12">' + item.text + '</div>' +
				'</div>';

			return markup;
		}

		function productFormatSelection(item) {
			item.text = (item.text)?item.text:'';

			var result = '<span class="hidden">'+item.type+'~~'+item.id+'</span>'+item.text;
			var old_results = $("#products").val();
			if (old_results) old_results = old_results+'|';

			$("#products").val(old_results+result).trigger("change");

			return;
		}

		function productExFormatSelection(item) {
			item.text = (item.text)?item.text:'';

			var result = '<span class="hidden">'+item.type+'~~'+item.id+'</span>'+item.text;
			var old_results = $("#ex_products").val();
			if (old_results) old_results = old_results+'|';

			$("#ex_products").val(old_results+result).trigger("change");

			return;
		}

		$("#generate_codes").on("click",function(){
			$.getJSON( "/admin/promotion/create-codes", {id:<?php echo ($this->promotion_id)?$this->promotion_id:0?>,count:$("#num_new_codes").val()}, function( data ) {
				var items = [];
				$.each( data, function( key, val ) {
					items.push( "<tr><td>" + val + "</td><td></td></tr>" );
				});

				var rows = items.join( "" );

				$(rows).appendTo( "#single_use_codes tbody" );

				$("#num_new_codes").val('');
			});
		});
	});
</script>
