<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<form method="get" action="">
	<div class="row">
		<div class="white-box">
			<div class="row component-search">
				<div class="form-group col-sm-6">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="form-group col-sm-2">
					<label>Status:</label>
					<?php echo $this->formSelect('status', $this->status, array('class'=>'form-control'), array(""=>"")+$this->statuses)?>
				</div>

				<div class="form-group col-sm-2">
					<label>Type:</label>
					<?php echo $this->formSelect('type', $this->type, array('class'=>'form-control'), array(""=>"")+$this->types)?>
				</div>

				<div class="form-group col-sm-2">
					<label>Site Wide:</label>
					<?php echo $this->formSelect('sitewide', $this->sitewide, array('class'=>'form-control'), array(""=>"","Yes"=>"Yes","No"=>"No"))?>
				</div>

				<div class="form-group col-sm-2">
					<label>From Start Date:</label>
					<input type="text" name="start_date_from" class="form-control datepicker" value="<?php echo $this->start_date_from?>">
				</div>

				<div class="form-group col-sm-2">
					<label>To Start Date:</label>
					<input type="text" name="start_date_to" class="form-control datepicker" value="<?php echo $this->start_date_to?>">
				</div>

				<div class="form-group col-sm-2">
					<label>From End Date:</label>
					<input type="text" name="end_date_from" class="form-control datepicker" value="<?php echo $this->end_date_from?>">
				</div>

				<div class="form-group col-sm-2">
					<label>To End Date:</label>
					<input type="text" name="end_date_to" class="form-control datepicker" value="<?php echo $this->end_date_to?>">
				</div>

				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary xs-100">Search</button>
					<div class="checkbox hidden-xs">
						<label>
							<input type="checkbox" name="csv" value="1"> Export
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="white-box">
			<div class="row">
				<div class="col-sm-10 hidden-xs">
					<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
				</div>
				<div class="col-sm-2 col-xs-12">
					<a class="pull-right btn btn-primary xs-100" href="/admin/promotion/add">Add Promotion</a>
				</div>
			</div>
		</div>
	</div>
</form>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<th><a href="/admin/promotion/list/sort/title/dir/<?php echo $dir?>">Title</a></th>
						<th><a href="/admin/promotion/list/sort/code/dir/<?php echo $dir?>">Code</a></th>
						<th><a href="/admin/promotion/list/sort/used_cnt/dir/<?php echo $dir?>">Used Count</a></th>
						<th><a href="/admin/promotion/list/sort/status/dir/<?php echo $dir?>">Status</a></th>
						<th class="hidden-xs text-center">Delete</th>
						<th class="hidden-xs text-center">Edit</th>
						<th class="text-center">View</th>
					</tr>
					</thead>
					<tbody>
					<?php
					foreach($this->list as $key => $val) {
						?>
						<tr>
							<td><a href="/admin/promotion/view/id/<?php echo $val['id']?>"><?php echo $val['internal_name']?></a></td>
							<td><?php echo $val['code']?></td>
							<td><?php echo $val['used_cnt']?></td>
							<td><?php echo $val['status']?></td>
							<td class="hidden-xs text-center"><a href="/admin/promotion/delete/id/<?php echo $val['id']?>" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
							<td class="hidden-xs text-center"><a href="/admin/promotion/edit/id/<?php echo $val['id']?>" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
							<td class="text-center"><a href="/admin/promotion/view/id/<?php echo $val['id']?>" title="View"><span class="sr-only">View </span><span class="far fa-eye"></span></a></td>
						</tr>
					<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('.datepicker').datepicker({
			dateFormat: "yy-mm-dd"
		});
	});
</script>
