<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-8">
				<?php if ($this->errors) { ?>
					<div class="error_box">
						<ul>
							<?php
							foreach ($this->errors as $error) {
								echo "<li>".$error."</li>";
							}
							?>
						</ul>
					</div>
				<?php } ?>

			</div>
			<div class="col-sm-4">
				<div class="view-navigation pull-right">

				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<h2><?php echo ($this->cmd=='add')?'Add New Promo Layer':'Edit Promo Layer'?></h2>

				<?php //echo $this->form?>

				<form id="PromoThresholdEditForm" action="/admin/promotion/threshold-save" method="post" enctype="multipart/form-data">
					<input type="hidden" name="data[promo_id]" value="<?php echo $this->promo_id?>">
					<input type="hidden" name="data[id]" value="<?php echo (isset($this->threshold))?$this->threshold->id:''?>">

					<table class="table table-striped">
						<tbody>
						<tr>
							<td><label>Type:</label></td>
							<td>
								<?php echo $this->formSelect('data[type]', (isset($this->threshold))?$this->threshold->type:'', array('class'=>'form-control'), array(""=>"")+$this->types)?>
							</td>
							<td></td>
						</tr>
						<tr>
							<td><label>Amount required to spend ($, number only):</label></td>
							<td>
								<input type="text" name="data[threshold]" id="threshold" class="form-control" placeholder="" value="<?php echo (isset($this->threshold))?$this->threshold->threshold:''?>">
							</td>
							<td></td>
						</tr>
						<tr>
							<td><label>Amount Off (either $ or %, number only):</label></td>
							<td>
								<input type="text" name="data[amount]" id="amount" class="form-control" placeholder="" value="<?php echo (isset($this->threshold))?$this->threshold->amount:''?>">
							</td>
							<td></td>
						</tr>
						<tr>
							<td><label>Shipping Type:</label></td>
							<td>
								<?php echo $this->formSelect('data[shipping_type]', (isset($this->threshold))?$this->threshold->shipping_type:'', array('class'=>'form-control'), array(""=>"")+$this->shipping_types)?>
							</td>
							<td></td>
						</tr>
						<tr>
							<td><label>Shipping Amount ($, number only):</label></td>
							<td>
								<input type="text" name="data[shipping_amount]" id="shipping_amount" class="form-control" placeholder="" value="<?php echo (isset($this->threshold))?$this->threshold->shipping_amount:''?>">
							</td>
							<td></td>
						</tr>
						<tr>
							<td># Promo items in cart for second tier shipping threshold:</td>
							<td>
								<input type="text" name="data[shipping_qty_threshold]" id="shipping_qty_threshold" class="form-control" placeholder="" value="<?php echo (isset($this->threshold))?$this->threshold->shipping_qty_threshold:''?>">
							</td>
						</tr>
						<tr>
							<td>Shipping Amount if over QTY threshold ($, number only):</td>
							<td>
								<input type="text" name="data[shipping_amount_over_threshold]" id="shipping_amount_over_threshold" class="form-control" placeholder="" value="<?php echo (isset($this->threshold))?$this->threshold->shipping_amount_over_threshold:''?>">
							</td>
						</tr>
						<tr>
							<td><label>Shipping Restriction:</label></td>
							<td>
								<?php echo $this->formSelect('data[shipping_restriction]', (isset($this->threshold))?$this->threshold->shipping_restriction:'', array('class'=>'form-control'), array(""=>"")+$this->shipping_restrictions)?>
							</td>
							<td></td>
						</tr>

						<tr>
							<td># of Coupon Code(s) to Email:</td>
							<td>
								<input type="text" name="data[email_coupon_code_count]" id="email_coupon_code_count" class="form-control" placeholder="" value="<?php echo (isset($this->threshold))?$this->threshold->email_coupon_code_count:'0'?>">
							</td>
						</tr>
						<tr>
							<td>Coupon Code Amount ($, number only):</td>
							<td>
								<input type="text" name="data[email_coupon_code_amount]" id="email_coupon_code_amount" class="form-control" placeholder="" value="<?php echo (isset($this->threshold))?$this->threshold->email_coupon_code_amount:''?>">
							</td>
						</tr>
						<tr>
							<td>Coupon Code Expiration (end of day UTC):</td>
							<td>
								<input type="text" name="data[email_coupon_code_expiration]" id="email_coupon_code_expiration" class="form-control datepicker" placeholder="" value="<?php echo (isset($this->threshold))?$this->threshold->email_coupon_code_expiration:''?>" autocomplete="new-password">
							</td>
						</tr>


						<tr>
							<td><label>All Products?:</label></td>
							<td>
								<?php echo $this->formSelect('data[sitewide]', (isset($this->threshold))?$this->threshold->sitewide:'', array('class'=>'form-control'), array("No"=>"No","Yes"=>"Yes"))?>
							</td>
							<td></td>
						</tr>

						<tr>
							<td><label>Product Search:</label></td>
							<td>
								<input type="text" name="product_query" id="product_query" class="form-control" placeholder="" value="">
							</td>
							<td></td>
						</tr>
						<tr>
							<td><label>Product(s) (use search above to select products):</label></td>
							<td>
								<input type="text" name="data[products]" id="products" class="form-control" placeholder="" value="<?php echo htmlentities($this->products)?>">
							</td>
							<td></td>
						</tr>

						<tr>
							<td><label>Exclude Product Search:</label></td>
							<td>
								<input type="text" name="ex_product_query" id="ex_product_query" class="form-control" placeholder="" value="">
							</td>
							<td></td>
						</tr>
						<tr>
							<td><label>Exclude Product(s) (use search above to select products):</label></td>
							<td>
								<input type="text" name="data[ex_products]" id="ex_products" class="form-control" placeholder="" value="<?php echo htmlentities($this->ex_products)?>">
							</td>
							<td></td>
						</tr>

						<?php /*
						<tr>
							<td><label>BOGO Product Search:</label></td>
							<td>
								<input type="text" name="bogo_product_query" id="bogo_product_query" class="form-control" placeholder="" value="">
							</td>
							<td></td>
						</tr>
						<tr>
							<td><label>BOGO Product(s) (use search above to select products):</label></td>
							<td>
								<input type="text" name="data[bogo_products]" id="bogo_products" class="form-control" placeholder="" value="<?php echo htmlentities($this->bogo_products)?>">
							</td>
							<td></td>
						</tr>
						*/ ?>

						<?php /*
						<tr>
							<td><label>Banner:</label></td>
							<td>
								<?php if (isset($this->threshold) && $this->threshold->banner) {?>
									<img src="<?php echo $this->threshold->banner?>" class="img-responsive" style="max-height:300px;max-width:800px;"><br/>
								<?php } ?>
								<input type="file" name="banner_src" id="banner_src">
							</td>
							<td></td>
						</tr>
						*/ ?>
						<tr>
							<td></td>
							<td>
								<a class="btn btn-default btn-lg" href="#/admin/promotion/threshold-view/threshold_id/<?php echo $this->threshold->id?>" onclick="loadView('threshold','list','')">Cancel</a>
								<!--<a class="btn btn-danger btn-lg" href="#/admin/promotion/threshold-delete/threshold_id/<?php echo $this->threshold->id?>" onclick="loadView('threshold','delete','')">Delete</a>-->
								<button type="submit" class="btn btn-primary btn-lg btn-save">Save</button>
							</td>
							<td></td>
						</tr>

						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#PromoThresholdEditForm').ajaxForm({target: '#threshold-block'});

		$('.datepicker').datepicker({
			dateFormat: "yy-mm-dd"
		});

		$("#products").select2(
			{
				tags:[],
				tokenSeparators: ["|"],
				separator: "|",
				formatNoMatches: '',
				formatSearching: '',
				escapeMarkup: function (m) { return m; }
			}
		);

		$("#product_query").select2(
			{
				placeholder: "Search for a product",
				minimumInputLength: 3,
				ajax: {
					url: "/admin/product/ajax-list",
					dataType: 'json',
					quietMillis: 250,
					data: function (term, page) {
						return {
							q: term
						};
					},
					results: function (data, page) {
						return { results: data.results };
					},
					cache: true
				},
				initSelection: function(element, callback) {
					var id = $(element).val();
					if (id !== "") {
						$.ajax("/admin/product/ajax-list/id/" + id, {
							dataType: "json"
						}).done(function(data) { callback(data.results[0]); });
					}
				},
				formatResult: productFormatResult,
				formatSelection: productFormatSelection,
				escapeMarkup: function (m) { return m; }
			}
		);

		$("#ex_products").select2(
			{
				tags:[],
				tokenSeparators: ["|"],
				separator: "|",
				formatNoMatches: '',
				formatSearching: '',
				escapeMarkup: function (m) { return m; }
			}
		);

		$("#ex_product_query").select2(
			{
				placeholder: "Search for a product",
				minimumInputLength: 3,
				ajax: {
					url: "/admin/product/ajax-list",
					dataType: 'json',
					quietMillis: 250,
					data: function (term, page) {
						return {
							q: term
						};
					},
					results: function (data, page) {
						return { results: data.results };
					},
					cache: true
				},
				initSelection: function(element, callback) {
					var id = $(element).val();
					if (id !== "") {
						$.ajax("/admin/product/ajax-list/id/" + id, {
							dataType: "json"
						}).done(function(data) { callback(data.results[0]); });
					}
				},
				formatResult: productFormatResult,
				formatSelection: productExFormatSelection,
				escapeMarkup: function (m) { return m; }
			}
		);

		function productFormatResult(item) {
			item.title = (item.text)?item.text:'';

			var markup = '<div class="row">' +
				'<div class="col-sm-12">' + item.text + '</div>' +
				'</div>';

			return markup;
		}

		function productFormatSelection(item) {
			item.text = (item.text)?item.text:'';

			var result = '<span class="hidden">'+item.type+'~~'+item.id+'</span>'+item.text;
			var old_results = $("#products").val();
			if (old_results) old_results = old_results+'|';

			$("#products").val(old_results+result).trigger("change");

			return;
		}

		function productExFormatSelection(item) {
			item.text = (item.text)?item.text:'';

			var result = '<span class="hidden">'+item.type+'~~'+item.id+'</span>'+item.text;
			var old_results = $("#ex_products").val();
			if (old_results) old_results = old_results+'|';

			$("#ex_products").val(old_results+result).trigger("change");

			return;
		}

		$("#bogo_products").select2(
			{
				tags:[],
				tokenSeparators: ["|"],
				separator: "|",
				formatNoMatches: '',
				formatSearching: '',
				escapeMarkup: function (m) { return m; }
			}
		);

		$("#bogo_product_query").select2(
			{
				placeholder: "Search for a product",
				minimumInputLength: 3,
				ajax: {
					url: "/admin/product/ajax-list",
					dataType: 'json',
					quietMillis: 250,
					data: function (term, page) {
						return {
							q: term
						};
					},
					results: function (data, page) {
						return { results: data.results };
					},
					cache: true
				},
				initSelection: function(element, callback) {
					var id = $(element).val();
					if (id !== "") {
						$.ajax("/admin/product/ajax-list/id/" + id, {
							dataType: "json"
						}).done(function(data) { callback(data.results[0]); });
					}
				},
				formatResult: productFormatResult,
				formatSelection: productBogoFormatSelection,
				escapeMarkup: function (m) { return m; }
			}
		);

		function productBogoFormatSelection(item) {
			item.text = (item.text)?item.text:'';

			var result = '<span class="hidden">'+item.type+'~~'+item.id+'</span>'+item.text;
			var old_results = $("#bogo_products").val();
			if (old_results) old_results = old_results+'|';

			$("#bogo_products").val(old_results+result).trigger("change");

			return;
		}
	});
</script>
<style>
	.select2-chosen {height:22px!important;}
</style>
