<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-4 pull-right">
				<div class="view-navigation -pull-right">
					<a class="pull-right btn btn-primary xs-100" href="#/admin/promotion/threshold-add/promo_id/<?php echo $this->promo_id?>" onclick="loadView('threshold','add','')">Add Promo Layer</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<h2>Promo Layers</h2>

				<table class="table table-striped">
					<thead>
					<tr>
						<th>Type</th>
						<th>Threshold $</th>
						<th>Amount Off</th>
						<th class="text-center">Delete</th>
						<th class="text-center">Edit</th>
						<th class="text-center">View</th>
					</tr>
					</thead>
					<tbody>
					<?php foreach ($this->thresholds as $threshold) {?>
						<tr>
							<td><?php echo $this->types[$threshold->type]?></td>
							<td><?php echo $threshold->threshold?></td>
							<td><?php echo $threshold->amount?></td>
							<td class="hidden-xs text-center"><a href="#/admin/promotion/threshold-delete/id/<?php echo $threshold->id?>" onclick="loadView('threshold','delete','<?php echo $threshold->id?>')" class="-confirm-delete" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
							<td class="hidden-xs text-center"><a href="#/admin/promotion/threshold-edit/id/<?php echo $threshold->id?>" onclick="loadView('threshold','edit','<?php echo $threshold->id?>')" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
							<td class="hidden-xs text-center"><a href="#/admin/promotion/threshold-view/id/<?php echo $threshold->id?>" onclick="loadView('threshold','view','<?php echo $threshold->id?>')" title="View"><span class="sr-only">View</span> <span class="far fa-eye"></span></a></td>
						</tr>
					<?php } ?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
