<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-4 pull-right">
				<div class="view-navigation -pull-right">
					<a class="pull-right btn btn-primary xs-100" href="#/admin/promotion/threshold-add/promo_id/<?php echo $this->promo_id?>" onclick="loadView('threshold','add','')">Add Promo Layer</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<h2>Promo Layer</h2>

				<table class="table table-striped">
					<tbody>
					<tr>
						<td>Type:</td>
						<td>
							<?php echo $this->types[$this->threshold->type]?>
						</td>
					</tr>
					<tr>
						<td>Amount required to spend ($, number only):</td>
						<td>
							<?php echo $this->threshold->threshold?>
						</td>
					</tr>
					<tr>
						<td>Amount Off (either $ or %, number only):</td>
						<td>
							<?php echo $this->threshold->amount?>
						</td>
					</tr>
					<tr>
						<td>Shipping Type:</td>
						<td>
							<?php echo $this->shipping_types[$this->threshold->shipping_type]?>
						</td>
					</tr>
					<tr>
						<td>Shipping Amount ($, number only):</td>
						<td>
							<?php echo $this->threshold->shipping_amount?>
						</td>
					</tr>
					<tr>
						<td># Promo items in cart for second tier shipping threshold:</td>
						<td>
							<?php echo $this->threshold->shipping_qty_threshold?>
						</td>
					</tr>
					<tr>
						<td>Shipping Amount if over QTY threshold ($, number only):</td>
						<td>
							<?php echo $this->threshold->shipping_amount_over_threshold?>
						</td>
					</tr>
					<tr>
						<td>Shipping Restriction:</td>
						<td>
							<?php echo $this->shipping_restrictions[$this->threshold->shipping_restriction]?>
						</td>
					</tr>

					<tr>
						<td># of Coupon Code(s) to Email:</td>
						<td>
							<?php echo $this->threshold->email_coupon_code_count?>
						</td>
					</tr>
					<tr>
						<td>Coupon Code Amount ($, number only):</td>
						<td>
							<?php echo $this->threshold->email_coupon_code_amount?>
						</td>
					</tr>
					<tr>
						<td>Coupon Code Expiration (end of day UTC):</td>
						<td>
							<?php echo $this->threshold->email_coupon_code_expiration?>
						</td>
					</tr>

					<tr>
						<td>All Products?:</td>
						<td>
							<?php echo $this->threshold->sitewide?>
						</td>
					</tr>
					<?php /*
					<tr>
						<td>Banner:</td>
						<td>
							<?php if ($this->threshold->banner) {?>
								<img src="<?php echo $this->threshold->banner?>" class="img-responsive" style="max-height:300px;max-width:800px;">
							<?php } ?>
						</td>
					</tr>
                    */ ?>
					</tbody>
				</table>

				<?php
				$mapper = new Admin_Model_Mapper_PromoThresholdProduct();
				$products = $mapper->fetchProductsByPromoThresholdId($this->threshold->id);
				$exclude_products = $mapper->fetchProductsByPromoThresholdId($this->threshold->id,'exclude');
				$bogo_products = $mapper->fetchProductsByPromoThresholdId($this->threshold->id,'bogo');
				?>

				<?php if ($products) { ?>
					<div class="row">
						<div class="col-sm-12">
							<h2>Products</h2>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 component-search-results">
							<table class="table table-striped">
								<tbody>
								<?php foreach ($products as $product) { ?>
									<tr>
										<td>
											<?php
											if ($product->product_id) {
												$item_type = 'product';
												$item = array(
													'id' => $product->product_id,
													'title' => $product->product_title,
													'type' => '',
													'sku' => $product->product_sku
												);
											}else {
												$item_type = 'variant';
												$item = array(
													'id' => $product->variant_id,
													'title' => $product->variant_title,
													'type' => "[{$product->type}]",
													'sku' => $product->variant_sku
												);
											}
											echo $item['title'] .' '. $item['type'];
											?>
										</td>
									</tr>
								<?php } ?>
								</tbody>
							</table>
						</div>
					</div>
				<?php } ?>

				<?php if ($exclude_products) { ?>
					<div class="row">
						<div class="col-sm-12">
							<h2>Excluded Products</h2>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 component-search-results">
							<table class="table table-striped">
								<tbody>
								<?php foreach ($exclude_products as $product) { ?>
									<tr>
										<td>
											<?php
											if ($product->product_id) {
												$item_type = 'product';
												$item = array(
													'id' => $product->product_id,
													'title' => $product->product_title,
													'type' => '',
													'sku' => $product->product_sku
												);
											}else {
												$item_type = 'variant';
												$item = array(
													'id' => $product->variant_id,
													'title' => $product->variant_title,
													'type' => "[{$product->type}]",
													'sku' => $product->variant_sku
												);
											}
											echo $item['title'] .' '. $item['type'];
											?>
										</td>
									</tr>
								<?php } ?>
								</tbody>
							</table>
						</div>
					</div>
				<?php } ?>

				<?php if ($bogo_products) { ?>
					<div class="row">
						<div class="col-sm-12">
							<h2>BOGO Products</h2>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 component-search-results">
							<table class="table table-striped">
								<tbody>
								<?php foreach ($bogo_products as $product) { ?>
									<tr>
										<td>
											<?php
											if ($product->product_id) {
												$item_type = 'product';
												$item = array(
													'id' => $product->product_id,
													'title' => $product->product_title,
													'type' => '',
													'sku' => $product->product_sku
												);
											}else {
												$item_type = 'variant';
												$item = array(
													'id' => $product->variant_id,
													'title' => $product->variant_title,
													'type' => "[{$product->type}]",
													'sku' => $product->variant_sku
												);
											}
											echo $item['title'] .' '. $item['type'];
											?>
										</td>
									</tr>
								<?php } ?>
								</tbody>
							</table>
						</div>
					</div>
				<?php } ?>

				<table>
					<tr>
						<td></td>
						<td>
							<a class="btn btn-default btn-lg" href="#/admin/promotion/threshold-view/id/<?php echo $this->threshold->id?>" onclick="loadView('threshold','list','<?php echo $this->threshold->id?>')">Cancel</a>
							<a class="btn btn-primary btn-lg" href="#/admin/promotion/threshold-edit/id/<?php echo $this->threshold->id?>" onclick="loadView('threshold','edit','<?php echo $this->threshold->id?>')">Edit</a>
							<!--<a class="btn btn-danger btn-lg" href="#/admin/promotion/threshold-delete/threshold_id/<?php echo $this->threshold->id?>" onclick="loadView('threshold','delete','<?php echo $this->threshold->id?>')">Delete</a>-->
						</td>
						<td></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
