<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-4 pull-right">
				<div class="view-navigation pull-right">
					<a class="btn btn-default btn-sm" href="/admin/promotion/edit/id/<?php echo $this->promotion->id?>"><span class="fal fa-edit"></span> Edit</a>
					<a class="btn btn-default btn-sm" href="/admin/promotion"><span class="fal fa-angle-left"></span> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Display Title:</td>
						<td>
							<?php echo $this->promotion->title?>
						</td>
					</tr>
					<tr>
						<td>Internal Title:</td>
						<td>
							<?php echo $this->promotion->internal_name?>
						</td>
					</tr>
					<tr>
						<td>Trigger:</td>
						<td>
							<?php echo $this->triggers[$this->promotion->trigger]?>
						</td>
					</tr>
					<tr>
						<td>Code:</td>
						<td>
							<?php echo $this->promotion->code?>
						</td>
					</tr>
					<tr>
						<td>Start Date:</td>
						<td>
							<?php echo date("n/j/Y",strtotime($this->promotion->start_date))?>
						</td>
					</tr>
					<tr>
						<td>Start Time (UTC):</td>
						<td>
							<?php echo date("g:i A",strtotime($this->promotion->start_time))?>
						</td>
					</tr>
					<tr>
						<td>End Date:</td>
						<td>
							<?php echo date("n/j/Y",strtotime($this->promotion->end_date))?>
						</td>
					</tr>
					<tr>
						<td>End Time (UTC):</td>
						<td>
							<?php echo date("g:i A",strtotime($this->promotion->end_time))?>
						</td>
					</tr>
					<tr>
						<td>Internal Note:</td>
						<td><?php echo $this->promotion->notes?></td>
					</tr>

					<tr>
						<td>Status:</td>
						<td>
							<?php echo $this->statuses[$this->promotion->status]?>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="white-box">
		<div class="row">
			<div class="col-sm-12">
				<h2>Promo Layer(s)</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<tbody>
					<?php foreach ($this->thresholds as $threshold) { ?>
						<tr>
							<td>Type:</td>
							<td>
								<?php echo $this->types[$threshold->type]?>
							</td>
						</tr>
						<tr>
							<td>Amount required to spend ($, number only):</td>
							<td>
								<?php echo $threshold->threshold?>
							</td>
						</tr>
						<tr>
							<td>Amount Off (either $ or %, number only):</td>
							<td>
								<?php echo $threshold->amount?>
							</td>
						</tr>
						<tr>
							<td>Shipping Type:</td>
							<td>
								<?php echo $this->shipping_types[$threshold->shipping_type]?>
							</td>
						</tr>
						<tr>
							<td>Shipping Amount ($, number only):</td>
							<td>
								<?php echo $threshold->shipping_amount?>
							</td>
						</tr>
						<tr>
							<td># Promo items in cart for second tier shipping threshold:</td>
							<td>
								<?php echo $threshold->shipping_qty_threshold?>
							</td>
						</tr>
						<tr>
							<td>Shipping Amount if over QTY threshold ($, number only):</td>
							<td>
								<?php echo $threshold->shipping_amount_over_threshold?>
							</td>
						</tr>
						<tr>
							<td>Shipping Restriction:</td>
							<td>
								<?php echo $this->shipping_restrictions[$threshold->shipping_restriction]?>
							</td>
						</tr>
						<tr>
							<td>All Products?:</td>
							<td>
								<?php echo $threshold->sitewide?>
							</td>
						</tr>
					<?php } ?>
					</tbody>
				</table>

				<?php
				$mapper = new Admin_Model_Mapper_PromoThresholdProduct();
				$products = $mapper->fetchProductsByPromoThresholdId($threshold->id);
				$exclude_products = $mapper->fetchProductsByPromoThresholdId($threshold->id,'exclude');
				?>

				<?php if ($products) { ?>
					<div class="row">
						<div class="col-sm-12">
							<h2>Products</h2>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 component-search-results">
							<table class="table table-striped">
								<tbody>
								<?php foreach ($products as $product) { ?>
									<tr>
										<td>
											<?php
											if ($product->product_id) {
												$item_type = 'product';
												$item = array(
													'id' => $product->product_id,
													'title' => $product->product_title,
													'type' => '',
													'sku' => $product->product_sku
												);
											}else {
												$item_type = 'variant';
												$item = array(
													'id' => $product->variant_id,
													'title' => $product->variant_title,
													'type' => "[{$product->type}]",
													'sku' => $product->variant_sku
												);
											}
											echo $item['title'] .' '. $item['type'];
											?>
										</td>
									</tr>
								<?php } ?>
								</tbody>
							</table>
						</div>
					</div>
				<?php } ?>

				<?php if ($exclude_products) { ?>
					<div class="row">
						<div class="col-sm-12">
							<h2>Excluded Products</h2>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-12 component-search-results">
							<table class="table table-striped">
								<tbody>
								<?php foreach ($exclude_products as $product) { ?>
									<tr>
										<td>
											<?php
											if ($product->product_id) {
												$item_type = 'product';
												$item = array(
													'id' => $product->product_id,
													'title' => $product->product_title,
													'type' => '',
													'sku' => $product->product_sku
												);
											}else {
												$item_type = 'variant';
												$item = array(
													'id' => $product->variant_id,
													'title' => $product->variant_title,
													'type' => "[{$product->type}]",
													'sku' => $product->variant_sku
												);
											}
											echo $item['title'] .' '. $item['type'];
											?>
										</td>
									</tr>
								<?php } ?>
								</tbody>
							</table>
						</div>
					</div>
				<?php } ?>
			</div>
		</div>
	</div>

	<?php if ($this->promo_codes) { ?>
		<div class="row">
			<div class="col-sm-12">
				<h2>Single Use Codes</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<td>Code</td>
						<td>Used Timestamp</td>
					</tr>
					</thead>
					<tbody>
					<?php foreach ($this->promo_codes as $code) { ?>
						<tr>
							<td><?php echo $code->code?></td>
							<td><?php echo $code->used_timestamp?> UTC</td>
						</tr>
					<?php } ?>
					</tbody>
				</table>
			</div>
		</div>
	<?php } ?>

</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12">
				<div class="view-navigation">
					<a class="btn btn-default btn-sm" href="/admin/promotion"><span class="fal fa-angle-left"></span> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>
