<script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $this->google_maps_api_key?>&libraries=places"></script>
<?php
$buttons = [
	[
		'text' => 'Restaurants',
		'class' => 'button--default',
		'attributes' => [
			'data-poi' => 'restaurant'
		]

	],
	[
		'text' => 'Coffee Shops',
		'class' => 'button--default',
		'attributes' => [
			'data-poi' => 'cafe'
		]
	],
	[
		'text' => 'ATMs',
		'class' => 'button--default',
		'attributes' => [
			'data-poi' => 'atm'
		]
	],
	[
		'text' => 'Grocery Stores',
		'class' => 'button--default',
		'attributes' => [
			'data-poi' => 'grocery_or_supermarket'
		]
	],
	[
		'text' => 'Parks',
		'class' => 'button--default',
		'attributes' => [
			'data-poi' => 'park'
		]
	]
];

//geocode address if it doesn't already exist
if (!$this->building->latitude || !$this->building->longitude) {
	$geocode = new Custom_Model_GoogleGeocode();
	$geo_loc = $geocode->getGeocodeData($this->building->street1 . ' ' . $this->building->street2 . ', ' . $this->building->city . ', ' . $this->building->state . ' ' . $this->building->zip);
	if ($geo_loc) {
		$this->building->latitude = $geo_loc[0];
		$this->building->longitude = $geo_loc[1];

		$mapper = new Custom_Model_Mapper_GfBuilding();
		$mapper->save($this->building);
	}
}
?>
<div class="row">

	<div class="col-lg-7 col-lg-offset-1 col-md-12 col-md-offset-0">

		<div class="map" id="pois">

			<div class="map__container" id="poiMap" data-coordinates='{"lat":<?php echo $this->building->latitude?>,"lng":<?php echo $this->building->longitude?>}'>
				<?php echo $this->building->latitude?>,<?php echo $this->building->longitude?>
			</div>

			<div class="button-group button-group--small">
				<a href="#" data-poi="restaurant" class="button button--default">Restaurants</a>
				<a href="#" data-poi="cafe" class="button button--default">Coffee Shops</a>
				<a href="#" data-poi="atm" class="button button--default">ATMs</a>
				<a href="#" data-poi="grocery_or_supermarket" class="button button--default">Grocery Stores</a>
				<a href="#" data-poi="park" class="button button--default">Parks</a>
			</div>

			<a class="map__mobile-container" href="http://maps.google.com/?q=<?php echo urlencode($this->building->name.' '.$this->building->street1.' '.$this->building->street2.', '.$this->building->city.', '.$this->building->state.' '.$this->building->zip)?>" target="_blank">
				<span class="sr-only">mobile map</span>
				<img class="image" src="https://maps.googleapis.com/maps/api/staticmap?center=<?php echo $this->building->latitude?>,<?php echo $this->building->longitude?>&amp;zoom=15&amp;size=560x260&amp;key=<?php echo $this->google_maps_api_key?>&amp;markers=color:0xcc9f26%7Clabel:G%7C<?php echo $this->building->latitude?>,<?php echo $this->building->longitude?>" alt="">
			</a>

			<div class="map__button--mobile flex justify-center">
				<a href="http://maps.google.com/?q=<?php echo urlencode($this->building->name.' '.$this->building->street1.' '.$this->building->street2.', '.$this->building->city.', '.$this->building->state.' '.$this->building->zip)?>" target="_blank" class="button button--default">Open in Maps</a>
			</div>

		</div>

	</div>

</div>
