<div class="row text-center carouselinks" style="margin-top:15px;">
    <a href="#" class="photoshddn button button--small" target="_blank">Photos</a>
    <?php if ($this->viewObj->floorplan) {?>
        <a href="#" class="js-floorplan-linked button button--small">Floor Plan</a> 
    <?php } ?>

    <?php if($this->viewObj->unit_virtual_tour) { ?>
        <a href="#" class="virtualtourhddn button button--small">3D Tour</a>
    <?php } ?>
    
    <style>
        .carouselinks a {
            margin-top:3px;
            margin-right:3px;
            max-width:150px !important;
            font-size:75%;
            color:black !important;
        }
        @media only screen and (max-width: 400px)  {
            .carouselinks {
                margin-left: 7%;
            }
            .carouselinks a {
                float:left !important;
                font-size:9px;
            }
            .carouselinks .button {
                max-width:103px !important;
            }
        }
    </style>
    <script>
        $(".carouselinks a").click(function(){
            if($(this).text().match(/elfTour/)) {
                return;
            }
            $(".carouselinks a").removeClass('active');
            $(".carouselinks a").each(function(){
                $(this).text($(this).text().replace(/(\[)/,"").replace(/(\])/,""));
            });
            $(this).toggleClass('active');
            if($(this).text().match(/Tour/i)) {
                return;
            }
            if($(this).hasClass('active')) {                
                $(this).text("["+$(this).text()+"]");
            } else {
                $(this).text($(this).text().replace(/(\[)/,"").replace(/(\])/,""));
            }
        });
    </script>
</div>