<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2><?php echo ($this->cmd=='add')?'Add New Building':'Edit Building'?></h2>

			<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
						<?php
						foreach ($this->errors as $error) {
							echo "<li>".$error."</li>";
						}
						?>
					</ul>
				</div>
			<?php } ?>

		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/building/list"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<?php echo $this->form?>
		</div>
	</div>

	<div id="openhouse-block" class="hidden-xs m-t-30"></div>
	<div id="image-block" class="hidden-xs m-t-30"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/wickedpicker@0.4.3/dist/wickedpicker.min.js" integrity="sha256-J6UQjzPUxbvA3vvAasHb1Jez5TKdzWTw0hPCizX+jCY=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/wickedpicker@0.4.3/dist/wickedpicker.min.css" integrity="sha256-uTPqa+mkF+QYaPBDJMDVnEn7qQ+VloGWTbtZxlOStOM=" crossorigin="anonymous">
<script>
	$(document).ready(function() {
		loadView("openhouse","view","");
		loadView("image","view","");

		<?php
		$mapper = new Customadmin_Model_Mapper_GfAmenity();
		$amenities = $mapper->fetchStringList();
		?>
		$("#amenities").select2({
			tags: [<?php echo $amenities?>],
			tokenSeparators: ["|"],
			separator: "|"
		});
		$("#amenities").on("change", function () {
			$("#amenities_val").html($("#amenities").val());
		});
	});

	function loadView(section,action,id) {
		if (action == 'delete') {
			if (!confirm('Are you sure you want to delete this entry?')) {
				return false;
			}
		}

		$.get( "/admin/building/"+section+"-"+action+"/building_id/<?php echo $this->building_id?>/id/"+id, function( data ) {
			$("#"+section+"-block").html( data );
			//initTinyMCE();
		});

		return false;
	}
</script>
<style>
	.wickedpicker {height:160px;}
</style>
