<div class="row">
	<div class="col-sm-8">
		<h2><?php echo ($this->cmd=='add')?'Add New Open House':'Edit Open House'?></h2>

		<?php if ($this->errors) { ?>
			<div class="error_box">
				<ul>
					<?php
					foreach ($this->errors as $error) {
						echo "<li>".$error."</li>";
					}
					?>
				</ul>
			</div>
		<?php } ?>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 component-search-results">
		<?php echo $this->form?>
	</div>
</div>

<script>
	$(document).ready(function() {
		$(".datepicker").datepicker({dateFormat:'mm/dd/yy'});

		$('.timepicker').each(function(){
			var setTime = ($(this).val())?$(this).val():"08:00";
			$(this).wickedpicker({
				timeSeparator: ':',
				now: setTime
			});
		});


		$('#openhouseForm button.btn-cancel').on('click', function(){
			loadView('openhouse','view','');
		});

		$('#openhouseForm').ajaxForm({target: '#openhouse-block'});
	});
</script>
