<div class="row">
	<div class="col-sm-8">
		<h2>Open Houses</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/building/openhouse-add/building_id/<?php echo $this->building_id?>" onclick="loadView('openhouse','add','');">Add Open House</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 component-search-results">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Date</th>
				<th>Start</th>
				<th>End</th>
				<th>Details</th>
				<th class="hidden-xs text-center">Delete</th>
				<th class="hidden-xs text-center">Edit</th>
			</tr>
			</thead>
			<tbody id="openhouse-sort">
			<?php
			if ($this->open_houses) {
				foreach ($this->open_houses as $key => $item) {
				?>
					<tr id="sort_<?php echo $item->id?>" class="">
						<td><?php echo date("n/j/Y",strtotime($item->start_time))?></td>
						<td><?php echo date("g:i A",strtotime($item->start_time))?></td>
						<td><?php echo date("g:i A",strtotime($item->end_time))?></td>
						<td><?php echo $item->details?></td>
						<td class="hidden-xs text-center"><a href="#/admin/building/openhouse-delete/id/<?php echo $item->id?>" onclick="loadView('openhouse','delete','<?php echo $item->id?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center"><a href="#/admin/building/openhouse-edit/id/<?php echo $item->id?>" onclick="loadView('openhouse','edit','<?php echo $item->id?>')" class="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
				<?php
				}
			}
			?>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function() {
		/*
		$('#openhouse-sort').sortable({
			update: function( event, ui ) {
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'POST',
					url: '/admin/building/openhouse-sort'
				});
			}
		});
		*/
	});
</script>
