<?php
$s3 = new Application_Model_AmazonS3();

$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$media_cache = new Cny_View_Helper_MediaCache();
$video_parser = new Cny_Model_VideoParser();

$video_available = ($this->video_url || $this->video->embed_url || $this->video->embed_code)?true:false;

?>

<div class="lvp__video text-center" style="background:#000000;min-height:100vh;">

	<?php if (!$this->geo_blocked) {?>
		<?php if (!$this->entitled) {?>
			<h4 class="p-t-30">You must purchase this video to watch it.</h4>

			<?php if (isset($this->monetization->purchase_required) && $this->monetization->purchase_required == 'Yes') {?>
				<?php if ($this->customer) {?>
					<a href="/checkout-video/?id=<?php echo $this->video->id?>&type=purchase" class="btn btn--default btn--lvp-purchase btn--cms-default">Purchase: $<?php echo $this->monetization->purchase_price?></a>
				<?php }else {?>
					<a href="/account/restricted" class="btn btn--default btn--lvp-purchase modal-trigger btn--cms-default" data-target="#modal" data-url="/account/restricted" data-class="modal--alert flex-justify-center flex-align-center">Purchase: $<?php echo $this->monetization->purchase_price?></a>
				<?php } ?>
			<?php } ?>

			<?php if (isset($this->monetization->rental_required) && $this->monetization->rental_required == 'Yes') {?>
				<?php if ($this->customer) {?>
					<a href="/checkout-video/?id=<?php echo $this->video->id?>&type=rent" class="btn btn--default btn--lvp-rental btn--cms-default">Rent: $<?php echo $this->monetization->rental_price?></a>
				<?php }else {?>
					<a href="/account/restricted" class="btn btn--default btn--lvp-rental modal-trigger btn--cms-default" data-target="#modal" data-url="/account/restricted" data-class="modal--alert flex-justify-center flex-align-center">Rent: $<?php echo $this->monetization->rental_price?></a>
				<?php } ?>
			<?php } ?>

			<?php if (!$this->customer) {?>
				<h5 class="text-white">If you have already purchased the video please login.</h5>

				<a href="/auth/login" class="btn btn--default btn--lvp-rental btn--cms-default">Login</a>
			<?php } ?>

		<?php }else { ?>
			<?php if ($video_available) {?>
				<div class="embed-responsive embed-responsive-16by9">
					<?php
					if ($this->video_url) {
						$path_parts = pathinfo($this->video_url);
						switch ($path_parts['extension']) {
							case "m3u8":
								$source_type = "application/x-mpegURL";
								break;
							case "mpd":
								$source_type = "application/dash+xml";
								break;
							default:
								$source_type = "video/mp4";
						}
						?>
						<video
								id="video_<?php echo $this->video->hash?>"
								class="embed-responsive-item mediaplayer cny-lvp"
								controls
								preload="auto"
								poster="<?php echo $this->thumbnail_url?>"
								data-cast-title="<?php echo htmlentities($this->video->title)?>"
								data-cast-description="<?php echo htmlentities($this->video->summary)?>"
								data-lvp-an-hash="<?php echo $this->analytics_hash?>"
								src="<?php //echo $this->video_url?>"
						>
							<source src="<?php echo $this->video_url?>" type="<?php echo $source_type?>" />

							<?php
							if ($this->tracks) {
								foreach ($this->tracks as $track) {
									?>
									<track label="<?php echo $track->label?>" kind="<?php echo $track->kind?>" srclang="<?php echo $track->srclang?>" src="<?php echo $track->public_url?>" <?php echo ($track->default_track == "Yes")?"default":""?> >
									<?php
								}
							}
							?>
						</video>
					<?php }elseif ($this->video->embed_url) {?>
						<div class="embed-responsive embed-responsive-16by9">
							<?php if ($video_url = $video_parser->getEmbedUrl($this->video->embed_url)) { ?>
								<iframe width="100%" frameborder="0" src="<?php echo $video_url?>" allowfullscreen></iframe>
							<?php }else { ?>
								<video src="<?php echo $this->video->embed_url?>" class="embed-responsive-item" controls></video>
							<?php } ?>
						</div>
					<?php } ?>
				</div>


			<?php }elseif($this->trailer->embed_code || $this->trailer->embed_url) {?>
				<?php
				if ($this->trailer->embed_code) {
					echo $this->trailer->embed_code;
				}elseif ($this->trailer->embed_url) {
					$video_url = $video_parser->getEmbedUrl($this->trailer->embed_url);
					if ($video_url) {
						echo '<div class="embed-responsive embed-responsive-16by9"><iframe width="100%" class="" src="' . $video_url . '" allowfullscreen></iframe></div>';
					}else {
						//must be generic so create a video tag
						?>
						<div class="embed-responsive embed-responsive-16by9">
							<video src="<?php echo $this->trailer->embed_url?>" class="embed-responsive-item" controls></video>
						</div>
						<?php
					}
				}
				?>
			<?php }else {?>
				<h4 class="text-center">Video Not Yet Ready. Check Back Soon.</h4>
			<?php } ?>
		<?php } ?>
	<?php }else { ?>
		<p class="m-t-10 text-center center-block">This video is not available in your region</p>
	<?php } ?>

</div>
