<div class="lvp__video">
	<?php if ($this->video_url) {?>
		<div class="embed-responsive embed-responsive-16by9">
			<?php
			$path_parts = pathinfo($this->video_url);
			switch ($path_parts['extension']) {
				case "m3u8":
					$source_type = "application/x-mpegURL";
					break;
				case "mpd":
					$source_type = "application/dash+xml";
					break;
				default:
					$source_type = "video/mp4";
			}
			?>
			<video
				id="video_<?php echo $this->video->hash?>"
				class="embed-responsive-item mediaplayer cny-lvp"
				controls
				preload="auto"
				poster="<?php echo $this->thumbnail_url?>"
				data-cast-title="<?php echo htmlentities($this->video->title)?>"
				data-cast-description="<?php echo htmlentities($this->video->summary)?>"
				src="<?php //echo $this->video_url?>"
			>
				<source src="<?php echo $this->video_url?>" type="<?php echo $source_type?>" />
			</video>

			<div class="video-description">
				<?php echo $this->video->description?>
			</div>
		</div>
	<?php } ?>
</div>

<script>
	$(document).ready(function(){
		window.cny.videoPlayer();
	});
</script>
