<?php
$s3 = new Application_Model_AmazonS3();

$attribute_mapper = new Application_Model_Mapper_VideoPlatformVideoAttribute();
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$media_cache = new Cny_View_Helper_MediaCache();
$video_parser = new Cny_Model_VideoParser();

$video_available = ($this->video_url || $this->video->embed_url || $this->video->embed_code)?true:false;

$enable_purchase_btn = $settings_mapper->getValueByCode('lvp_purchase_button_status','Enabled');
$enable_rental_btn = $settings_mapper->getValueByCode('lvp_rental_button_status','Enabled');
$enable_trailer_btn = $settings_mapper->getValueByCode('lvp_trailer_button_status','Enabled');
$enable_watchlist_btn = $settings_mapper->getValueByCode('video_platform_watchlist_status','Disabled');

$purchase_btn_class = '';
$rental_btn_class = '';
$trailer_btn_class = '';
$watchlist_btn_class = '';
if ($settings_mapper->getValueByCode('lvp_purchase_button_style')) {
	$purchase_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_purchase_button_style');
}
if ($settings_mapper->getValueByCode('lvp_rental_button_style')) {
	$rental_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_rental_button_style');
}
if ($settings_mapper->getValueByCode('lvp_trailer_button_style')) {
	$trailer_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_trailer_button_style');
}
if ($settings_mapper->getValueByCode('lvp_purchase_button_alignment')) {
	$purchase_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_purchase_button_alignment');
}
if ($settings_mapper->getValueByCode('lvp_rental_button_alignment')) {
	$rental_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_rental_button_alignment');
}
if ($settings_mapper->getValueByCode('lvp_trailer_button_alignment')) {
	$trailer_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_trailer_button_alignment');
}

//gallery variables
$gallery_enable = $settings_mapper->getValueByCode('lvp_gallery_status');
$gallery_style = $settings_mapper->getValueByCode('lvp_gallery_style');
$gallery_title = $settings_mapper->getValueByCode('lvp_gallery_title');
$gallery_title_alignment = $settings_mapper->getValueByCode('lvp_gallery_title_alignment');
$gallery_title_class = (isset($gallery_title_alignment) && $gallery_title_alignment)?$gallery_title_alignment:'';
$image_profile = $settings_mapper->getValueByCode('lvp_gallery_image_style');
$gallery_item = $settings_mapper->getValueByCode('lvp_gallery_item_count');
$gallery_grid_count = (isset($gallery_item) && $gallery_item)?$gallery_item:'4';


/*
hero banner - should only appear if added in module

<div class="lvp lvp--hero">
	<div class="container">
		<img class="img-responsive center-block" src="/assets/images/lvp/hero-banner.png" alt="">
	</div>
</div>
*/

?>

<div class="container m-t-30">
	<div class="lvp lvp--main-content">
		<div class="lvp__sidebar">
			<?php if ($this->video->poster_src || $this->default_poster) {?>
				<div class="lvp__image">
					<img src="<?php echo ($this->video->poster_src)?$this->video->poster_src:$this->default_poster?>" alt="" class="img-responsive">
				</div>
			<?php } ?>

			<div class="lvp__btn-group">
				<?php if ($enable_purchase_btn == 'Enabled') {?>
					<?php if (($this->video_url) && ($this->entitled || ( (!isset($this->monetization->purchase_required) || $this->monetization->purchase_required == 'No') && (!isset($this->monetization->rental_required) || $this->monetization->rental_required == 'No') ))) {?>

						<button class="btn btn--default btn--lvp-purchase<?php echo $purchase_btn_class ?> btn--cms-default" id="play-btn" data-rel="video_<?php echo $this->video->hash?>">Play</button>

					<?php } ?>
				<?php } ?>

				<?php if (!$this->geo_blocked) {?>
					<?php if (!$this->entitled) {?>
						<?php if (isset($this->monetization->purchase_required) && $this->monetization->purchase_required == 'Yes') {?>
							<?php if ($enable_purchase_btn == 'Enabled') {?>
								<?php if ($this->customer) {?>

									<a href="/checkout-video/?id=<?php echo $this->video->id?>&type=purchase" class="btn btn--default btn--lvp-purchase<?php echo $purchase_btn_class ?> btn--cms-default">Purchase: $<?php echo $this->monetization->purchase_price?></a>

								<?php }else {?>

									<a href="/account/restricted" class="btn btn--default btn--lvp-purchase<?php echo $purchase_btn_class ?> modal-trigger btn--cms-default" data-target="#modal" data-url="/account/restricted" data-class="modal--alert flex-justify-center flex-align-center">Purchase: $<?php echo $this->monetization->purchase_price?></a>

								<?php } ?>
							<?php } ?>
						<?php } ?>


						<?php if (isset($this->monetization->rental_required) && $this->monetization->rental_required == 'Yes') {?>
							<?php if ($enable_rental_btn == 'Enabled') {?>
								<?php if ($this->customer) {?>
									<?php if ($enable_rental_btn == 'Enabled') {?>
										<a href="/checkout-video/?id=<?php echo $this->video->id?>&type=rent" class="btn btn--default btn--lvp-rental<?php echo $rental_btn_class ?> btn--cms-default">Rent: $<?php echo $this->monetization->rental_price?></a>
									<?php }?>
								<?php }else {?>
									<?php if ($enable_rental_btn == 'Enabled') {?>
										<a href="/account/restricted" class="btn btn--default btn--lvp-rental<?php echo $rental_btn_class ?> modal-trigger btn--cms-default" data-target="#modal" data-url="/account/restricted" data-class="modal--alert flex-justify-center flex-align-center">Rent: $<?php echo $this->monetization->rental_price?></a>
									<?php }?>
								<?php } ?>
								<p class="m-t-10 text-center center-block"><?php echo $this->monetization->rental_duration_days?> Day Rental</p>
							<?php } ?>
						<?php } ?>

					<?php }else { ?>
						<?php if ($this->entitlement->expiration) {?>
							<p class="m-t-10">Your rental expires <?php echo date("F j Y g:ia", strtotime($this->entitlement->expiration))?> UTC</p>
						<?php }else {?>
							<p class="m-t-10">You own this video</p>
						<?php } ?>
					<?php } ?>
				<?php }else { ?>
					<p class="m-t-10 text-center center-block">This video is not available in your region</p>
				<?php } ?>

				<?php if ($this->monetization_links) {?>
					<?php
					foreach ($this->monetization_links as $link) {
						if ($link->url && $link->image_src) {?>
							<a href="<?php echo $link->url?>" target="_blank" class="m-t-20"><img src="<?php echo $link->image_src?>" class="img-responsive center-block" alt="<?php echo htmlentities($link->title)?>"></a>
						<?php }elseif ($link->url && $link->title && $enable_purchase_btn == 'Enabled' ) {?>
								<a href="<?php echo $link->url?>" target="_blank" class="m-t-20 btn btn--default btn--lvp-purchase<?php echo $purchase_btn_class ?> btn--cms-default"><?php echo $link->title?></a>
						<?php } ?>
					<?php } ?>
				<?php } ?>

				<?php if (!$this->geo_blocked && $enable_watchlist_btn == 'Enabled') {?>
					<?php if ($this->in_watchlist) {?>
						<a href="/watchlist/remove/id/<?php echo $this->video->id?>" data-action="remove" id="watchlist-<?php echo $this->video->id?>" class="m-t-20 btn btn--default btn--lvp-trailer<?php echo $watchlist_btn_class ?> btn--cms-default watchlist-ajax">
							<div class="hover-shade">Remove from Watchlist</div>
						</a>
					<?php }else {?>
						<a href="/watchlist/add/id/<?php echo $this->video->id?>" data-action="add" id="watchlist-<?php echo $this->video->id?>" class="m-t-20 btn btn--default btn--lvp-trailer<?php echo $watchlist_btn_class ?> btn--cms-default watchlist-ajax">
							<div class="hover-shade">Add to Watchlist</div>
						</a>
					<?php } ?>
				<?php } ?>
			</div>

			<?php if ($this->video->purchase_support_text) {?>
				<div class="m-t-20">
					<?php echo $this->video->purchase_support_text?>
				</div>
			<?php } ?>
		</div>

		<div class="lvp__content">
			<div class="lvp__video">
				<?php if ($video_available) {?>
					<div class="embed-responsive embed-responsive-16by9">
						<?php
						if ($this->video_url) {
							$path_parts = pathinfo($this->video_url);
							switch ($path_parts['extension']) {
								case "m3u8":
									$source_type = "application/x-mpegURL";
									break;
								case "mpd":
									$source_type = "application/dash+xml";
									break;
								default:
									$source_type = "video/mp4";
							}
							?>
							<video
									id="video_<?php echo $this->video->hash?>"
									class="embed-responsive-item mediaplayer cny-lvp"
									controls
									preload="auto"
									poster="<?php echo $this->thumbnail_url?>"
									data-cast-title="<?php echo htmlentities($this->video->title)?>"
									data-cast-description="<?php echo htmlentities($this->video->summary)?>"
									data-lvp-an-hash="<?php echo $this->analytics_hash?>"
									src="<?php //echo $this->video_url?>"
							>
								<source src="<?php echo $this->video_url?>" type="<?php echo $source_type?>" />

								<?php
								if ($this->tracks) {
									foreach ($this->tracks as $track) {
										?>
										<track label="<?php echo $track->label?>" kind="<?php echo $track->kind?>" srclang="<?php echo $track->srclang?>" src="<?php echo $track->public_url?>" <?php echo ($track->default_track == "Yes")?"default":""?> >
										<?php
									}
								}
								?>
							</video>
						<?php }elseif ($this->video->embed_url) {?>
							<div class="embed-responsive embed-responsive-16by9">
								<?php if ($video_url = $video_parser->getEmbedUrl($this->video->embed_url)) { ?>
									<iframe width="100%" frameborder="0" src="<?php echo $video_url?>" allowfullscreen></iframe>
								<?php }else { ?>
									<video src="<?php echo $this->video->embed_url?>" class="embed-responsive-item" controls></video>
								<?php } ?>
							</div>
						<?php } ?>
					</div>

					<?php if ($this->extras) {?>
						<div class="lvp lvp--extras-tray js-carousel carousel" data-dynamic-slides="<?php echo $gallery_grid_count?>">
							<?php
							$extras_stream_mapper = new Application_Model_Mapper_VideoPlatformVideoExtrasStream();
							foreach ($this->extras as $extra) {
								$stream = $extras_stream_mapper->fetchByExtrasId($extra->id);
								$stream_url = $s3->getVideoExtrasStreamURL(current($stream)->id, $extra->id);

								if (!$stream_url) continue;

								$path_parts = pathinfo($stream_url);
								switch ($path_parts['extension']) {
									case "m3u8":
										$stream_type = "application/x-mpegURL";
										break;
									case "mpd":
										$stream_type = "application/dash+xml";
										break;
									default:
										$stream_type = "video/mp4";
								}
								?>
								<div class="carousel__item">
									<a href="<?php echo $extra->thumbnail_src?>" class="js-trigger-extras-modal" data-id="<?php echo $extra->id?>">
										<img src="<?php echo $media_cache->getImage($extra->thumbnail_src, 'crop_16x9');?>" alt="<?php echo htmlentities($extra->title)?>" class="img-responsive">
										<div><?php echo $extra->title?></div>
									</a>
								</div>
							<?php } ?>
						</div>
					<?php } ?>
				<?php }elseif($this->trailer->embed_code || $this->trailer->embed_url) {?>
					<?php
					if ($this->trailer->embed_code) {
						echo $this->trailer->embed_code;
					}elseif ($this->trailer->embed_url) {
						$video_url = $video_parser->getEmbedUrl($this->trailer->embed_url);
						if ($video_url) {
							echo '<div class="embed-responsive embed-responsive-16by9"><iframe width="100%" class="" src="' . $video_url . '" allowfullscreen></iframe></div>';
						}else {
							//must be generic so create a video tag
							?>
							<div class="embed-responsive embed-responsive-16by9">
								<video src="<?php echo $this->trailer->embed_url?>" class="embed-responsive-item" controls></video>
							</div>
							<?php
						}
					}
					?>
				<?php }else {?>
					<h4 class="text-center">Video Not Yet Ready. Check Back Soon.</h4>
				<?php } ?>
			</div>

			<h1 class="lvp__title"><?php echo $this->video->title?></h1>
			<h2 class="lvp__sub-title">
				<?php echo $this->view->summary?>
			</h2>

			<div class="lvp__attributes">
				<?php
				foreach ($this->profile as $profile_attribute => $item) {
					if (in_array($profile_attribute, $this->standard_attributes) && $item['value'] && $item['visibility'] == 'Visible') {
						$attribute = $attribute_mapper->doesExists(array('code'=>$profile_attribute));
						if ($attribute) {
							echo $attribute->title.": ";
							if ($attribute->field_type == 'wysiwyg') {
								echo $item['value'];
							}else {
								echo preg_replace_callback(
									"#(^|[\n ])([\w]+?://[\w]+[^ \"\n\r\t<]*)#is",
									function ($m) {
										return "{$m[1]}<a href=\"{$m[2]}\" target=\"_blank\">{$m[2]}</a>";
									},
									$item['value']
								);
							}
							echo "<br/>";
						}
					}
				}
				?>
			</div>

			<div class="lvp__tabs">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#synopsis" aria-controls="synopsis" role="tab" data-toggle="tab">Synopsis</a></li>
					<?php if ($this->directors || $this->cast || $this->crew) {?>
						<li role="presentation"><a href="#cast-and-crew" aria-controls="cast-and-crew" role="tab" data-toggle="tab">Cast & Crew</a></li>
					<?php } ?>
					<?php if ($this->news || $this->reviews) {?>
						<li role="presentation"><a href="#news-and-reviews" aria-controls="news-and-reviews" role="tab" data-toggle="tab">News & Reviews</a></li>
					<?php } ?>
					<?php if ($this->profile && count($this->profile)) {?>
						<li role="presentation"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Information</a></li>
					<?php } ?>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active fade in" id="synopsis">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent=".tab-pane" href="#collapseOne">Synopsis</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									<p>
										<?php echo $this->video->description?>
									</p>
								</div>
							</div>
						</div>
					</div>

					<?php if ($this->directors || $this->cast || $this->crew) {?>
						<div role="tabpanel" class="tab-pane fade" id="cast-and-crew">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent=".tab-pane" href="#collapseTwo">Cast & Crew</a>
									</h4>
								</div>
								<div id="collapseTwo" class="panel-collapse collapse">
									<div class="panel-body">
										<?php
										if ($this->directors) {
											$directors = [];
											foreach ($this->directors as $director) {
												$directors[] = $director->name;
											}
											?>
											<div>
												<strong>Directed By</strong>
												<?php echo implode(", ", $directors);?>
											</div>
											<br/>
										<?php } ?>

										<?php if ($this->cast) {?>
											<div>
												<strong>Cast</strong>
											</div>
											<?php foreach ($this->cast as $person) {?>
												<?php echo $person->name?> <?php echo ($person->role)?"-":""?> <strong><?php echo $person->role?></strong> <br/>
											<?php } ?>
											<br/>
										<?php } ?>

										<?php if ($this->crew) {?>
											<div>
												<strong>Crew</strong>
											</div>
											<?php foreach ($this->crew as $person) {?>
												<?php echo $person->name?> <?php echo ($person->role)?"-":""?> <strong><?php echo $person->role?></strong> <br/>
											<?php } ?>
											<br/>
										<?php } ?>
									</div>
								</div>
							</div>

						</div>
					<?php } ?>

					<?php if ($this->news || $this->reviews) {?>
						<div role="tabpanel" class="tab-pane fade" id="news-and-reviews">

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent=".tab-pane" href="#collapseThree">News & Reviews</a>
									</h4>
								</div>
								<div id="collapseThree" class="panel-collapse collapse">
									<div class="panel-body">
										<?php if ($this->reviews) {?>
											<div class="m-4 m-b-20">
												<strong>Reviews</strong>
											</div>
											<?php foreach ($this->reviews as $review) {?>
												<?php echo $review->description?>
												<hr>
											<?php } ?>
											<br/>
										<?php }

										if ($this->news) {?>
											<div class="m-4 m-b-20">
												<strong>News</strong>
											</div>
											<?php foreach ($this->news as $news) {?>
												<?php echo $news->description?>
												<hr>
											<?php } ?>
											<br/>
										<?php } ?>
									</div>
								</div>
							</div>
						</div>
					<?php } ?>

					<?php if ($this->profile && count($this->profile)) {?>
						<div role="tabpanel" class="tab-pane fade" id="information">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent=".tab-pane" href="#collapseFour">Synopsis</a>
									</h4>
								</div>
								<div id="collapseFour" class="panel-collapse collapse">
									<div class="panel-body">
										<?php
										foreach ($this->profile as $profile_attribute => $item) {
											if ($item['visibility'] == 'Hidden') continue;

											$attribute = $attribute_mapper->doesExists(array('code'=>$profile_attribute));
											if ($attribute && $item['value']) {
												echo $attribute->title.": ";
												if ($attribute->field_type == 'wysiwyg') {
													echo $item['value'];
												}else {
													echo preg_replace_callback(
														"#(^|[\n ])([\w]+?://[\w]+[^ \"\n\r\t<]*)#is",
														function ($m) {
															return "{$m[1]}<a href=\"{$m[2]}\" target=\"_blank\">{$m[2]}</a>";
														},
														($attribute->field_type == 'textarea') ? nl2br($item['value']) : $item['value']
													);
												}
												echo "<br/>";
											}
										}
										?>
									</div>
								</div>
							</div>

						</div>
					<?php } ?>
				</div>

			</div>
			<!--		end tabs-->
		</div>
		<!--	end main content-->
	</div>
</div>

<?php
if ($this->images && $gallery_enable == 'Enabled') {?>
	<div class="container">
		<h2 class="m-t-0 lvp__gallery-title <?php echo $gallery_title_class ?>"><?php echo (isset($gallery_title) && $gallery_title)?$gallery_title:'Photo Gallery'; ?></h2>
		<?php if ($gallery_style == 'grid') { ?>
			<div class="lvp lvp--grid lvp--grid-<?php echo $gallery_grid_count?>">
				<?php foreach ($this->images as $image) { ?>
					<div class="lvp__item">
						<a href="<?php echo $image->image_src?>" class="js-trigger-fancybox" data-fancybox="gallery-grid">
							<img src="<?php echo $media_cache->getImage($image->image_src, $image_profile);?>" alt="<?php echo htmlentities($image->title)?>" class="img-responsive">
						</a>
					</div>
				<?php } ?>
			</div>
		<?php } else { ?>
			<div class="lvp lvp--tray js-carousel carousel" data-dynamic-slides="<?php echo $gallery_grid_count?>">
				<?php foreach ($this->images as $image) { ?>
					<div class="carousel__item">
						<a href="<?php echo $image->image_src?>" class="js-trigger-fancybox" data-fancybox="gallery-tray">
							<img src="<?php echo $media_cache->getImage($image->image_src, $image_profile);?>" alt="<?php echo htmlentities($image->title)?>" class="img-responsive">

						</a>
					</div>
				<?php } ?>
			</div>
		<?php }?>
	</div>
<?php } ?>

<?php
//related video variables
$related_enable = $settings_mapper->getValueByCode('lvp_related_status');
$related_title = $settings_mapper->getValueByCode('lvp_related_title');
$related_title_alignment = $settings_mapper->getValueByCode('lvp_related_title_alignment');
$related_title_class = (isset($related_title_alignment) && $related_title_alignment)?$related_title_alignment:'';
$related_image_profile = $settings_mapper->getValueByCode('lvp_related_image_style');
$related_item = $settings_mapper->getValueByCode('lvp_related_item_count');
$related_count = (isset($related_item) && $related_item)?$related_item:'4';
$related_post_title_enable = $settings_mapper->getValueByCode('lvp_related_post_title_status');

if ($this->images && $related_enable == 'Enabled') {?>
	<div class="container">
		<h2 class="lvp__related-title <?php echo $related_title_class ?>"><?php echo (isset($related_title) && $related_title)?$gallery_title:'Related Videos'; ?></h2>
		<div class="lvp lvp--related-tray js-carousel carousel" data-dynamic-slides="<?php echo $related_count?>">
			<?php foreach ($this->images as $related_image) { ?>
				<div class="carousel__item">
					<a href="#">
						<img src="<?php echo $media_cache->getImage($related_image->image_src, $related_image_profile);?>" alt="<?php echo htmlentities($related_image->title)?>" class="img-responsive">

					</a>
					<?php if ($related_post_title_enable == 'Enabled') {?>
						<div class="carousel__caption">
							<h3><a href="#">This is the title</a></h3>
						</div>
					<?php } ?>
				</div>
			<?php } ?>
		</div>
	</div>
<?php } ?>
