<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$media_cache = new Cny_View_Helper_MediaCache();

$enable_purchase_btn = $settings_mapper->getValueByCode('lvp_purchase_button_status','Enabled');
$enable_rental_btn = $settings_mapper->getValueByCode('lvp_rental_button_status','Enabled');
$enable_watchlist_btn = $settings_mapper->getValueByCode('video_platform_watchlist_status','Disabled');

$purchase_btn_class = '';
$rental_btn_class = '';
$watchlist_btn_class = '';
if ($settings_mapper->getValueByCode('lvp_purchase_button_style')) {
	$purchase_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_purchase_button_style');
}
if ($settings_mapper->getValueByCode('lvp_rental_button_style')) {
	$rental_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_rental_button_style');
}
if ($settings_mapper->getValueByCode('lvp_purchase_button_alignment')) {
	$purchase_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_purchase_button_alignment');
}
if ($settings_mapper->getValueByCode('lvp_rental_button_alignment')) {
	$rental_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_rental_button_alignment');
}

//gallery variables
$gallery_enable = $settings_mapper->getValueByCode('lvp_gallery_status');
$gallery_style = $settings_mapper->getValueByCode('lvp_gallery_style');
$gallery_title = $settings_mapper->getValueByCode('lvp_gallery_title');
$gallery_title_alignment = $settings_mapper->getValueByCode('lvp_gallery_title_alignment');
$gallery_title_class = (isset($gallery_title_alignment) && $gallery_title_alignment)?$gallery_title_alignment:'';
$image_profile = $settings_mapper->getValueByCode('lvp_gallery_image_style');
$gallery_item = $settings_mapper->getValueByCode('lvp_gallery_item_count');
$gallery_grid_count = (isset($gallery_item) && $gallery_item)?$gallery_item:'4';

?>

<div class="container m-t-30">
	<div class="lvp lvp--main-content">
		<div class="lvp__sidebar">
			<?php
			//There are no "posters" in Zype

			/*
			if ($this->video->poster_src || $this->default_poster) {?>
				<div class="lvp__image">
					<img src="<?php echo ($this->video->poster_src)?$this->video->poster_src:$this->default_poster?>" alt="<?php echo htmlentities($this->video->title)?>" class="img-responsive">
				</div>
			<?php }
			*/ ?>

			<div class="lvp__btn-group">
				<?php if ($enable_purchase_btn == 'Enabled') {?>
					<?php if (($this->video_url) && ($this->entitled || ( (!isset($this->monetization->purchase_required) || $this->monetization->purchase_required == 'No') && (!isset($this->monetization->rental_required) || $this->monetization->rental_required == 'No') ))) {?>

						<button class="btn btn--default btn--lvp-purchase<?php echo $purchase_btn_class ?> btn--cms-default" id="play-btn" data-rel="video_<?php echo $this->video->hash?>">Play</button>

					<?php } ?>
				<?php } ?>

				<?php if (!$this->geo_blocked) {?>
					<?php if (!$this->entitled) {?>
						<?php if ($this->video->purchase_required == '1') {?>
							<?php if ($enable_purchase_btn == 'Enabled') {?>
								<?php if ($this->customer) {?>

									<a href="/checkout-video/?zid=<?php echo $this->video->_id?>&type=purchase" class="btn btn--default btn--lvp-purchase<?php echo $purchase_btn_class ?> btn--cms-default">Purchase: $<?php echo $this->video->purchase_price?></a>

								<?php }else {?>

									<a href="/account/restricted" class="btn btn--default btn--lvp-purchase<?php echo $purchase_btn_class ?> modal-trigger btn--cms-default" data-target="#modal" data-url="/account/restricted" data-class="modal--alert flex-justify-center flex-align-center">Purchase: $<?php echo $this->video->purchase_price?></a>

								<?php } ?>
							<?php } ?>
						<?php } ?>


						<?php if ($this->video->rental_required == '1') {?>
							<?php if ($enable_rental_btn == 'Enabled') {?>
								<?php if ($this->customer) {?>
									<?php if ($enable_rental_btn == 'Enabled') {?>
										<a href="/checkout-video/?zid=<?php echo $this->video->_id?>&type=rent" class="btn btn--default btn--lvp-rental<?php echo $rental_btn_class ?> btn--cms-default">Rent: $<?php echo $this->video->rental_price?></a>
									<?php }?>
								<?php }else {?>
									<?php if ($enable_rental_btn == 'Enabled') {?>
										<a href="/account/restricted" class="btn btn--default btn--lvp-rental<?php echo $rental_btn_class ?> modal-trigger btn--cms-default" data-target="#modal" data-url="/account/restricted" data-class="modal--alert flex-justify-center flex-align-center">Rent: $<?php echo $this->video->rental_price?></a>
									<?php }?>
								<?php } ?>
								<p class="m-t-10 text-center center-block"><?php echo $this->video->rental_duration?> Day Rental</p>
							<?php } ?>
						<?php } ?>

					<?php }else {
						if ($this->entitlement->expires_at) { ?>
							<p class="m-t-10">Your rental expires <?php echo date("F j Y g:ia", strtotime($this->entitlement->expires_at))?> UTC</p>
							<?php
						}elseif ($this->entitlement->transaction_type == 'purchase') { ?>
							<p class="m-t-10">You own this video</p>
						<?php
						}
					 } ?>
				<?php }else { ?>
					<p class="m-t-10 text-center center-block">This video is not available in your region</p>
				<?php } ?>

				<?php if ($this->monetization_links) {?>
					<?php
					foreach ($this->monetization_links as $link) {
						if ($link->url && $link->image_src) {?>
							<a href="<?php echo $link->url?>" target="_blank" class="m-t-20"><img src="<?php echo $link->image_src?>" class="img-responsive center-block" alt="<?php echo htmlentities($link->title)?>"></a>
						<?php }elseif ($link->url && $link->title && $enable_purchase_btn == 'Enabled' ) {?>
								<a href="<?php echo $link->url?>" target="_blank" class="m-t-20 btn btn--default btn--lvp-purchase<?php echo $purchase_btn_class ?> btn--cms-default"><?php echo $link->title?></a>
						<?php } ?>
					<?php } ?>
				<?php } ?>

				<?php if (!$this->geo_blocked && $enable_watchlist_btn == 'Enabled') {?>
					<?php if ($this->in_watchlist) {?>
						<a href="/watchlist/remove/id/<?php echo $this->video->_id?>" data-action="remove" id="watchlist-<?php echo $this->video->_id?>" class="m-t-20 btn btn--default btn--lvp-trailer<?php echo $watchlist_btn_class ?> btn--cms-default watchlist-ajax">
							<div class="hover-shade">Remove from Watchlist</div>
						</a>
					<?php }else {?>
						<a href="/watchlist/add/id/<?php echo $this->video->_id?>" data-action="add" id="watchlist-<?php echo $this->video->_id?>" class="m-t-20 btn btn--default btn--lvp-trailer<?php echo $watchlist_btn_class ?> btn--cms-default watchlist-ajax">
							<div class="hover-shade">Add to Watchlist</div>
						</a>
					<?php } ?>
				<?php } ?>
			</div>

		</div>

		<div class="lvp__content">
			<div class="lvp__video">
				<div id="zype_<?php echo $this->video->_id ?>">
					<?php
					if (!$this->entitled) {
						if ($this->video->thumbnails) {
							$thumbnails = [];
							foreach ($this->video->thumbnails as $image) {
								$thumbnails[$image->height] = $image;
							}
							krsort($thumbnails);

							echo '<img src="'.current($thumbnails)->url.'" class="img-responsive" alt="'.htmlentities(current($thumbnails)->caption).'">';
						}
					}
					?>
				</div>
			</div>

			<h1 class="lvp__title"><?php echo $this->video->title?></h1>
			<h2 class="lvp__sub-title">
				<?php echo $this->view->short_description?>
			</h2>

			<div class="lvp__attributes">
				<?php
				//show some basic attributes here
				// but Zype only has country out of the attributes that we normally show
				?>
			</div>

			<div class="lvp__tabs">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#synopsis" aria-controls="synopsis" role="tab" data-toggle="tab">Synopsis</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active fade in" id="synopsis">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent=".tab-pane" href="#collapseOne">Synopsis</a>
								</h4>
							</div>
							<div id="collapseOne" class="panel-collapse collapse in">
								<div class="panel-body">
									<p>
										<?php echo $this->video->description?>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<!--		end tabs-->
		</div>
		<!--	end main content-->
	</div>
</div>

<script>
	<?php
	if ($this->entitled) {
		$zype = new Application_Model_Zype();
		echo $zype->getVideoPlayer($this->video->_id, $_SERVER['HTTP_USER_AGENT'], array('access_token'=>$this->customer->zype->access_token,'autoplay'=>false));
	}
	?>
</script>
