<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2><?php echo ($this->cmd=='add')?'Add New Feature':'Edit Feature'?></h2>

			<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
						<?php
						foreach ($this->errors as $error) {
							echo "<li>".$error."</li>";
						}
						?>
					</ul>
				</div>
			<?php } ?>

		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/feature/list"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<?php echo $this->form?>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {

	});
</script>
