<div class="white-box">

	<div class="row">
		<div class="col-sm-8">
			<h2>View Product Review</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/review/product-list"><span class="fal fa-angle-left"></span> Back</a><span class="p-l-10"> <a onclick="edit()" class="btn btn-default btn-sm" href="#"><span class="fal fa-edit"></span> Edit</a></span>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<form method="post" action="/admin/review/product-save" class="form">
				<input type="hidden" name="id" value="<?php echo $this->review->id?>">

				<table class="table table-striped">
					<tbody>
					<tr>
						<td>Name:</td>
						<td id="nameview" style="display: block">
							<?php echo $this->review->name?>
						</td>
                        <td id="nameedit" style="display: none">
                            <input type="text" id="name" name="name" value="<?php echo $this->review->name?>">
                        </td>
					</tr>
					<!--
					<tr>
						<td>Email:</td>
						<td>
							<?php echo $this->review->email?>
						</td>
					</tr>
					-->
					<tr>
						<td>Rating:</td>
						<td>
							<?php echo $this->review->rating?>
						</td>
					</tr>
					<tr>
						<td>Review:</td>
						<td id="reviewview" style="display: block">
							<?php echo $this->review->review?>
						</td>
                        <td id="reviewedit" style="display: none">
                            <input type="text" id="review"  name="review" value="<?php echo $this->review->review?>">
                        </td>
					</tr>
					<tr>
						<td>Status:</td>
						<td>
							<?php echo $this->formSelect('status', $this->review->status, array('class'=>'form-control'), $this->statuses)?>
						</td>
					</tr>
					<tr>
						<td>Created:</td>
						<td>
							<?php echo ($this->review->created)?$this->UTCtoTZ($this->review->created,"M. j, Y g:ia",$this->site_timezone):""?>
						</td>
					</tr>

					<tr>
						<td>Is Spam?:</td>
						<td>
							<?php echo $this->formSelect('is_spam', $this->review->is_spam, array('class'=>'form-control'), array("No"=>"No","Yes"=>"Yes"))?>
						</td>
					</tr>
					<tr>
						<td>Images:</td>
						<td>
							<!-- Grid row -->
							<div class="row">
								<?php
								$count = 0;
								foreach ($this->images as $key){
									if (!empty($key['hash'])){
										$filePath = realpath($_SERVER['DOCUMENT_ROOT'] . "/../review_files") . "/" . $key['hash'];
										$image = "/review/image/hash/".$key['hash'];

										//Check if the image exist
										if (file_exists($filePath)) {
										?>
											<div class="col-md-2 col-sm-3">
												<a href="/review/modal-image/hash/<?php echo $key['hash']?>" class="modal-trigger" data-toggle="modal" data-target="#modal"><img class="img-thumbnail" src="<?php echo $image?>" alt="<?php echo $key['filename']?>" style="max-height:200px;"></a>
											</div>
											<!-- Grid column -->
										<?php
										}
									}
								}
								?>
							</div>
						</td>
					</tr>
					</tbody>
				</table>

				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</div>

</div>
<script>
   // $(document).ready(function() {
   function edit() {
       $("#nameview").hide();
       $("#reviewview").hide();
       $("#nameedit").show();
       $("#reviewedit").show();

   }
    //});
</script>