.faq {
  &__label {
    &__indicator {
      //font-size: px2em(18, 16);
    }
  }
}

.accordion__item--opened {
  .faq {
    &__label {
      &__indicator {
        transform: rotate(180deg);
      }
    }
  }
}
