.faq {
  &__label {
    height: px2rem(70);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &__left, &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    &__left {
      width: percentage(1/$grid-columns);
    }
    &__right {
      padding-left: px2rem($l-spacing);
      width: percentage(11/$grid-columns);
    }
  }
}