<?php
$vp = new Cny_Model_VideoParser();
?>

<div class="container m-t-20">
	<div class="row">
		<div class="col-sm-12">
			<h2>Videos - <?php echo $this->category->name?></h2>
		</div>
	</div>

	<div class="grid">
		<?php foreach ($this->videos as $video) {?>
			<div class="grid-item">
				<div class="responsive-video">
					<div align="center" class="embed-responsive embed-responsive-16by9">
						<?php if ($video->embed_code) {?>
							<?php echo $video->embed_code?>
						<?php }else {?>
							<?php if ($video_url = $vp->getEmbedUrl($video->video_url)) { ?>
								<iframe width="100%" frameborder="0" src="<?php echo $video_url?>" allowfullscreen></iframe>
							<?php }else {?>
								<video src="<?php echo $video->video_url?>" controls></video>
							<?php } ?>
						<?php } ?>
					</div>
				</div>

				<a href="/<?php echo $this->video_url?>/view/id/<?php echo $video->id?>"><h3 class="caption__title"><?php echo $video->caption?></h3></a>
			</div>
		<?php } ?>
	</div>

	<div class="row m-t-20">
		<div class="col-sm-12 text-center">
			<?php echo $this->paginationControl($this->videos, 'Sliding', 'pagination_control.phtml'); ?>
		</div>
	</div>
</div>
