<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$vp = new Cny_Model_VideoParser();
?>

<div class="container m-t-20">
	<!--
	<div class="row">
		<div class="col-sm-12">
			<a href="/video"><h2>Videos</h2></a>
		</div>
	</div>
	-->

	<div class="row">
		<div class="col-sm-12">
			<h3><?php echo $this->video->title?></h3>
			<div>
				<?php
				$date_status = ($settings_mapper->getValueByCode('video_posted_date_status'))?$settings_mapper->getValueByCode('video_posted_date_status'):'Enabled';
				if ($date_status == 'Enabled') {
					echo "Posted on " . date("F, j Y", strtotime($this->video->posted_date));
				}

				$tag_status = ($settings_mapper->getValueByCode('video_tags_status'))?$settings_mapper->getValueByCode('video_tags_status'):'Enabled';
				if ($tag_status == 'Enabled') {
				?>
				<ul class="tag_list">
					<?php
					foreach ($this->tags as $tag) { ?>
						<li><a href="/<?php echo $this->video_url?>/tag/<?php echo $tag['code']?>"><?php echo $tag['title']?></a></li>
					<?php
					}
					?>
				</ul>
				<?php
				}
				?>
			</div>
		</div>

		<div class="col-sm-12">
			<div class="responsive-video">
				<div align="center" class="embed-responsive embed-responsive-16by9">
					<?php if ($this->video->embed_code) {?>
						<?php echo $this->video->embed_code?>
					<?php }else {?>
						<?php if ($video_url = $vp->getEmbedUrl($this->video->video_url)) { ?>
							<iframe width="100%" frameborder="0" src="<?php echo $video_url?>" allowfullscreen></iframe>
						<?php }else {?>
							<video src="<?php echo $this->video->video_url?>" controls></video>
						<?php } ?>
					<?php } ?>
				</div>
			</div>
		</div>

		<div class="col-sm-12">
			<p class="m-t-20 m-b-20"><?php echo ($this->video->description)?$this->video->description:$this->video->caption?></p>
		</div>

	</div>
</div>
