<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-8">
				<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
					<?php
					foreach ($this->errors as $error) {
						echo "<li>".$error."</li>";
					}
					?>
					</ul>
				</div>
				<?php } ?>

			</div>
			<div class="col-sm-4">
				<div class="view-navigation pull-right">
					<a class="btn btn-default btn-sm" href="/admin/blog/list"><span class="fal fa-angle-left"></span> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<form id="" action="/admin/blog/import/type/new" method="post" enctype="multipart/form-data">
					<table  class="table table-striped">
						<tbody>
						<tr>
							<td>Import From File</td>
							<td>
								<input type="file" class="form-control" name="archive" accept=".clz">
							</td>
							<td></td>
						</tr>
						<tr id="submit-btn">
							<td></td>
							<td><button type="submit" class="btn btn-primary btn-lg btn-save">Save</button></td>
							<td></td>
						</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12">
				<div class="view-navigation">
					<a class="btn btn-default btn-sm" href="/admin/blog/list"><span class="fal fa-angle-left"></span> Back</a>
				</div>

			</div>
		</div>
	</div>
</div>
