<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$blog_url = ($settings_mapper->getValueByCode('blog_url'))?$settings_mapper->getValueByCode('blog_url'):'blog';
?>
<input type="hidden" id="page_id" value="<?php echo $this->page->id?>">
<div class="row">
	<div class="col-sm-12">
		<div class="page-header flex-row-sm flex-align-center flex-justify-space-between">
			<div class="col-xs-10">
				<div class="">
					<h1 class="blog-editor-default current-page-title"><?php echo $this->page->title?></h1>
					<input type="text" class="form-control dn blog-editor-form page-title" name="data[title]" value="<?php echo $this->page->title?>">
				</div>
				<label class="font-bold">URL Code:</label>
				<span class="blog-editor-default current-page-code"><?php echo $this->page->code?></span>
				<input type="text" class="form-control dn blog-editor-form page-code" name="data[code]" value="<?php echo $this->page->code?>">
			</div>

			<div class="controls controls--horizontal flex-row-sm flex-align-center flex-justify-space-between">
				<div class="controls__item">
					<button class="btn btn--light-gray btn-xs blog-editor-default"><i class="far fa-edit"></i> Edit</button>
					<button class="btn btn--purple btn-xs dn blog-editor-form" style="display:none;"> Save</button>
					<a href="/admin/blog/list" class="btn btn--light-gray btn-xs"><i class="fas fa-angle-left"></i> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="section section--cms bg-white p-30">
	<form method="post" action="/admin/blog/save-partial" class="row" id="contentForm">
		<input type="hidden" name="page_id" value="<?php echo $this->page->id?>">

		<div class="row">
			<div class="col-sm-12 m-b-20">
				<label class="text-black m-b-5">Short Summary</label>
				<textarea class="form-control" name="data[summary]"><?php echo (isset($this->page->summary))?$this->page->summary:''?></textarea>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 m-b-20">
				<label class="text-black m-b-5">Content</label>
				<textarea class="form-control tinymce" name="data[content]"><?php echo (isset($this->page->content))?$this->page->content:''?></textarea>
			</div>
		</div>
	</form>

	<div class="sidebar sidebar--cms bg-body-color">
		<div class="page-options bg-gray-darker">
			<form id="blog-options-form">
				<div class="form-group">
					<label class="text-black" for="">Post Date</label>
					<input type="text" name="data[posted_date]" value="<?php echo $this->page->posted_date?>" class="form-control datepicker ajax-option ays-ignore">
				</div>
				<div class="form-group">
					<label class="text-black" for="">Date Format</label>
					<?php echo $this->formSelect('data[posted_date_format]', $this->page->posted_date_format, array('class'=>'selectpicker ajax-option ays-ignore','data-style'=>'form-control form-control--select'), $this->posted_date_formats)?>
				</div>
				<div class="form-group">
					<label class="text-black" for="">Post Status</label>
					<?php echo $this->formSelect('data[status]', $this->page->status, array('class'=>'selectpicker ajax-option ays-ignore','data-style'=>'form-control form-control--select'), $this->statuses)?>
				</div>
				<div class="form-group">
					<label class="text-black" for="">Author</label>
					<input type="text" name="data[byline]" value="<?php echo $this->page->byline?>" class="form-control ajax-option ays-ignore">
				</div>

				<div class="form-group">
					<label class="text-black" for="">Tags</label>
					<a href="/admin/blog/tag-edit/page_id/<?php echo $this->page->id?>" class="modal-trigger" data-target="#modal" data-title="Edit Tags"><i class="far fa-edit"></i> edit</a>
				</div>

				<div class="form-group">
					<label class="text-black" for="">Post Images</label>
					<a href="/admin/blog/image-edit/page_id/<?php echo $this->page->id?>" class="modal-trigger" data-target="#modal" data-title="Edit Main & Thumbnail Images"><i class="far fa-edit"></i> edit</a>
				</div>

				<div class="form-group">
					<a href="/<?php echo $blog_url?>/<?php echo $this->page->code?>" target="_blank" class="btn btn--blue text-white">Preview</a>
				</div>

				<div class="form-group">
					<button type="button" class="btn btn-primary btn-lg btn-save" id="contentFormSave">Save</button>
				</div>
			</form>
		</div>
		<div class="page-options page-options--static">
			<h3 class="page-options__title text-gray">SEO Settings
				<a href="/admin/blog/seo-edit/page_id/<?php echo $this->page->id?>" class="modal-trigger" data-target="#modal" data-title="Edit SEO Settings"><i class="far fa-edit"></i> edit</a></h3>

			<div class="form-group">
				<label class="text-black" for="">Meta Keywords</label>
				<div class="form-control-stac" id="page-meta_keywords">
					<?php echo $this->page->meta_keywords?>
				</div>
			</div>
			<div class="form-group">
				<label class="text-black" for="">Meta Description</label>
				<div class="form-control-stac" id="page-meta_description">
					<?php echo $this->page->meta_description?>
				</div>
			</div>

			<!--
			<h3 class="page-options__title text-gray">Page Options
				<a href="/admin/blog/settings-edit/page_id/<?php echo $this->page->id?>" class="modal-trigger" data-target="#modal" data-title="Edit Page Options"><i class="far fa-edit"></i> edit</a></h3>
			-->

			<div class="m-t-20">
				<form class="form m-t-20" method="post" action="/admin/blog/export/id/<?php echo $this->page->id?>" target="_blank">
					<button type="submit" class="btn btn-block btn-warning text-white" id="export-btn">Export Post</button>
					<label for="include_media">
						<input type="checkbox" name="include_media" id="include_media" value="Yes"> Include Media
					</label>
				</form>

				<form class="form m-t-20" method="post" enctype="multipart/form-data" action="/admin/blog/import/id/<?php echo $this->page->id?>">
					<input type="file" class="form-control" name="archive" accept=".clz">
					<button type="submit" class="btn btn-block btn-danger text-white" id="import-btn">Import From File</button>
				</form>
			</div>
		</div>
	</div>

</div>

<script>
	var wysiwyg_settings = {height:"1000px"}

	$(function() {
		$(".datepicker").datepicker({dateFormat:'yy-mm-dd'});

		window.cny.wysiwyg();

		$('#modal').off('hidden.bs.modal');

		$("#contentFormSave.btn-save").on("click", function(){
			$("#contentForm").submit();
		});
	});
</script>
