<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-8">
				<?php if ($this->errors) { ?>
					<div class="error_box">
						<ul>
							<?php
							foreach ($this->errors as $error) {
								echo "<li>".$error."</li>";
							}
							?>
						</ul>
					</div>
				<?php } ?>

			</div>
			<div class="col-sm-4">
				<div class="view-navigation pull-right">
					<a class="btn btn-default btn-sm" href="/admin/blog"><span class="fal fa-angle-left"></span> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<?php echo $this->form?>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12">
				<div class="view-navigation">
					<a class="btn btn-default btn-sm" href="/admin/blog"><span class="fal fa-angle-left"></span> Back</a>
				</div>

			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function() {
		$(".datepicker").datepicker({dateFormat:'yy-mm-dd'});

		if ($("#blog_image_path").val() == '') $("#blog_image").hide();
		if ($("#blog_thumbnail_path").val() == '') $("#blog_thumbnail").hide();

		$(".btn-clear_image").on("click",function(){
			var el = $(this).data('rel');
			$("input[name='"+el+"']").val('');
			$("#"+el).attr('src','').hide();
		});

		$("#title").on("keyup",function(){
			$.get( '/admin/blog/slug-title', {page_id:$("#page_id").val(),title:$(this).val()}, function( data ) {
				$("#code").val(data);
			});
		});

		<?php
		$t_mapper = new Admin_Model_Mapper_BlogTag();
		$tags = $t_mapper->fetchStringList();
		?>
		$("#tags").select2({
			tags: [<?php echo $tags?>],
			tokenSeparators: ["|"],
			separator: "|"
		});
		$("#tags").on("change", function () {
			$("#tags_val").html($("#tags").val());
		});

	});
</script>
