<form method="post" action="" class="blog-image-form">
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Main Image</label>
			<div class="col-sm-9">
				<div class="panel panel--module text-left">
					<img src="<?php echo $this->page->image?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#image_path" id="image">
					<input type="hidden" class="form-control" name="data[image]" id="image_path" value="<?php echo $this->page->image?>">
					<button data-url="/filemanager/dialog.php?type=1&field_id=image_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
					<button type="button" class="btn btn-primary border-radius btn-clear_image" data-rel="image">Remove Image</button>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Main Image Alt Tag</label>
			<div class="col-sm-9">
				<div class="panel panel--module text-left">
					<input type="text" class="form-control" name="data[image_alt_tag]" value="<?php echo $this->page->image_alt_tag?>">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Thumbnail Image</label>
			<div class="col-sm-9">
				<div class="panel panel--module text-left">
					<img src="<?php echo $this->page->thumbnail?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#thumbnail_path" id="thumbnail">
					<input type="hidden" class="form-control" name="data[thumbnail]" id="thumbnail_path" value="<?php echo $this->page->thumbnail?>">
					<button data-url="/filemanager/dialog.php?type=1&field_id=thumbnail_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
					<button type="button" class="btn btn-primary border-radius btn-clear_image" data-rel="thumbnail">Remove Image</button>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Thumbnail Image Alt Tag</label>
			<div class="col-sm-9">
				<div class="panel panel--module text-left">
					<input type="text" class="form-control" name="data[thumbnail_alt_tag]" value="<?php echo $this->page->thumbnail_alt_tag?>">
				</div>
			</div>
		</div>
	</div>

	<div class="row text-center m-b-30">
		<button type="submit" class="btn btn-lg btn-warning">Save</button>
	</div>
</form>

<script>
	$(function() {
		if ($("#blog_image_path").val() == '') $("#blog_image").hide();
		if ($("#blog_thumbnail_path").val() == '') $("#blog_thumbnail").hide();

		$(".btn-clear_image").on("click",function(){
			var el = $(this).data('rel');
			$("input[name='"+el+"']").val('');
			$("#"+el).attr('src','').hide();
		});
	});
</script>
