<form method="post" action="" class="blog-seo-form">
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Meta Keywords</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<input type="text" class="form-control" name="data[meta_keywords]" value="<?php echo $this->page->meta_keywords?>">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Meta Description</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<textarea class="form-control" name="data[meta_description]" rows="4"><?php echo $this->page->meta_description?></textarea>
				</div>
			</div>
		</div>
	</div>

	<div class="row text-center m-b-30">
		<button type="submit" class="btn btn-lg btn-warning">Save</button>
	</div>
</form>

<script>
	$(function() {

	});
</script>
