<form method="post" action="" class="blog-tag-form">
	<div class="row">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label">Tags</label>
			<div class="col-sm-9">
				<div class="panel panel--module bg-gray">
					<input type="text" class="form-control" id="tags" name="data[tags]" value="<?php echo $this->tags?>">
				</div>
			</div>
		</div>
	</div>

	<div class="row text-center m-b-30">
		<button type="submit" class="btn btn-lg btn-warning">Save</button>
	</div>
</form>

<script>
	$(function() {
		<?php
		$t_mapper = new Admin_Model_Mapper_BlogTag();
		$tags = $t_mapper->fetchStringList();
		?>
		$("#tags").select2({
			tags: [<?php echo $tags?>],
			tokenSeparators: ["|"],
			separator: "|"
		});
		$("#tags").on("change", function () {
			$("#tags_val").html($("#tags").val());
		});

	});
</script>
