<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-4 pull-right">
				<div class="view-navigation pull-right">
					<a class="btn btn-default btn-sm" href="/admin/blog/edit/id/<?php echo $this->user['id']?>"><span class="far fa-edit"></span> Edit</a>
					<a class="btn btn-default btn-sm" href="/admin/blog"><span class="fas fa-angle-left"></span> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>URL Code:</td>
							<td>
								<?php echo $this->article['code']?>
							</td>
						</tr>
						<!--
						<tr>
							<td>External URL:</td>
							<td>
								<?php echo $this->article['external_url']?>
							</td>
						</tr>
						-->
						<tr>
							<td>Title:</td>
							<td>
								<?php echo $this->article['title']?>
							</td>
						</tr>
						<tr>
							<td>Meta Keywords:</td>
							<td>
								<?php echo $this->article['meta_keywords']?>
							</td>
						</tr>
						<tr>
							<td>Meta Description:</td>
							<td>
								<?php echo $this->article['meta_description']?>
							</td>
						</tr>
						<tr>
							<td>Short Summary:</td>
							<td>
								<?php echo $this->article['summary']?>
							</td>
						</tr>
						<tr>
							<td>Content:</td>
							<td>
								<?php echo $this->article['content']?>
							</td>
						</tr>
						<tr>
							<td>Byline:</td>
							<td>
								<?php echo $this->article['byline']?>
							</td>
						</tr>

						<?php
						$t_mapper = new Admin_Model_Mapper_BlogTag();
						?>
						<tr>
							<td>Tags:</td>
							<td>
								<?php echo implode(", ",$t_mapper->fetchTagNamesByBlogId($this->article['id']))?>
							</td>
						</tr>

						<tr>
							<td>Main Article Image:</td>
							<td>
								<?php if ($this->article['image']) {?>
									<img src="<?php echo $this->article['image']?>" style="max-height: 200px;">
								<?php } ?>
							</td>
						</tr>
						<tr>
							<td>Main Article Image Alt Tag:</td>
							<td>
								<?php echo $this->article['image_alt_tag']?>
							</td>
						</tr>
						<tr>
							<td>Thumbnail Image:</td>
							<td>
								<?php if ($this->article['thumbnail']) {?>
									<img src="<?php echo $this->article['thumbnail']?>" style="max-height: 200px;">
								<?php } ?>
							</td>
						</tr>
						<tr>
							<td>Thumbnail Image Alt Tag:</td>
							<td>
								<?php echo $this->article['thumbnail_alt_tag']?>
							</td>
						</tr>

						<tr>
							<td>Posted Date:</td>
							<td>
								<?php echo $this->article['posted_date']?>
							</td>
						</tr>

						<tr>
							<td>Status:</td>
							<td>
								<?php echo $this->article['status']?>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12">
				<div class="view-navigation">
					<a class="btn btn-default btn-sm" href="/admin/blog"><span class="fal fa-angle-left"></span> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

