<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>

<div class="container checkout-wrapper">

	    <div class="page-header products">
		    <?php if (!$this->customer) {?>
			    <h1>Checkout</h1>
			    <p class="m-b-0">Fill the form below to complete your purchase!</p>
			    <div class="account-login">

				    <a href="/auth/login">Already have an account? Click here to login.</a>
			    </div>

		    <?php }else {?>
			    <h1>Checkout</h1>
			    <p>Fill the form below to complete your purchase!</p>
		    <?php } ?>
	    </div>
	<div class="row" id="checkout-row">
		<form action="" class="form form--checkout" method="post" id="checkout-form">
			<?php
			if ($this->error) {
				echo '<ul class="errors">';
				foreach ($this->error as $error) {
					if ($error)	echo "<li>$error</li>";
				}
				echo '</ul>';
			}?>

			<div class="col-sm-6 col-lg-4">
				<h3 class="form__heading">Billing</h3>
				<div id="collapse-billing" class="bg-gray-lighter" data-parent="#checkout-row">
					<div class="form-group">
						<label for=""><i class="fa fa-credit-card"></i> Select Payment Method</label>
						<?php if (array_key_exists('cc',$this->payment_methods)) {?>
						<div class="radio m-b-20">
							<label class="flex-row flex-align-center" for="radio-cc">
								<input class="m-t-0" type="radio" name="payment_method" value="cc" id="radio-cc" <?php echo ($this->method == 'cc')?"checked":""?>/>
									<i class="fab fa-2x fa-cc-visa"></i>
									<i class="fab fa-2x fa-cc-mastercard"></i>
									<i class="fab fa-2x fa-cc-amex"></i>
									<i class="fab fa-2x fa-cc-discover"></i>
									<!-- <img src="/assets/images/cc-icons.png" alt="" class="img-responsive">-->
							</label>
						</div>
						<?php } ?>
						<?php if (array_key_exists('paypal',$this->payment_methods)) {?>
						<div class="radio m-b-20">
							<label class="flex-row flex-align-center" for="radio-paypal">
								<input class="m-t-0" type="radio" name="payment_method" value="paypal" id="radio-paypal" <?php echo ($this->method == 'paypal')?"checked":""?>/>
									<i class="fab fa-2x fa-cc-paypal"></i>
									<!-- <img src="/assets/images/pay-pal-icon.png" alt="" class="img-responsive">-->
							</label>
						</div>
						<?php } ?>
						<?php if (array_key_exists('amazonpay',$this->payment_methods)) {?>
						<div class="radio">
							<label for="radio-amazonpay">
								<input type="radio" name="payment_method" value="amazonpay" id="radio-amazonpay" <?php echo ($this->method == 'amazonpay')?"checked":""?>/>
								<span id="AmazonPayButton"><!--<i class="fab fa-2x fa-cc-amazon-pay"></i>--></span>
								<input type="hidden" id="AmazonOrderReferenceID" name="amazon_order_reference_id" value="" />
							</label>
						</div>
						<?php } ?>
					</div>

					<?php if (count($this->payment_methods) == 1 && array_key_exists('paypal',$this->payment_methods)) {?>
						<p>You will be redirected to your Paypal account on checkout.<br/>
							<strong>Please Note:</strong> Your order will be sent to the shipping address entered in this checkout and not set from PayPal</p>
					<?php }elseif (count($this->payment_methods) == 1 && array_key_exists('amazonpay',$this->payment_methods)) {?>
						<p>Click on the AmazonPay button to login to Amazon and select your shipping address and payment method.</p>
					<?php } ?>

					<div class="amazon-pay">
                        <div id="walletWidgetDiv" style="width:100%; height:320px;"></div>
                    </div>
					<div class="cc-only">
						<div class="form-group">
							<label for="">Billing Info</label>
							<input type="text" class="form-control <?php echo (array_key_exists("payment_name",$this->error))?"errors":""?>" placeholder="Name On Card" name="payment[name]" value="<?php echo $this->payment['name']?>">
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col-xs-9">
									<input type="text" class="form-control <?php echo (array_key_exists("payment_cc_num",$this->error))?"errors":""?>" placeholder="Card Number" name="payment[cc_num]" value="<?php echo $this->payment['cc_num']?>">
								</div>
								<div class="col-xs-3">
									<input type="text" class="form-control <?php echo (array_key_exists("payment_ccv",$this->error))?"errors":""?>" placeholder="CVV" name="payment[ccv]" value="<?php echo $this->payment['ccv']?>">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="">Card Expiration</label>
							<div class="row">
								<div class="col-xs-6">
									<select name="payment[exp_month]" class="form-control <?php echo (array_key_exists("payment_exp_month",$this->error))?"errors":""?>">
										<option value="">Select a Month:</option>
										<?php
										for($i=1;$i<=12;$i++) {
											$selected = ($this->payment['exp_month'] == $i)?'selected':'';
											?>
											<option value="<?php echo $i?>" <?php echo $selected?>><?php echo date("F",mktime(0,0,0,$i,1,2000))?></option>
										<?php } ?>
									</select>
								</div>
								<div class="col-xs-6">
									<select class="form-control <?php echo (array_key_exists("payment_exp_year",$this->error))?"errors":""?>" name="payment[exp_year]">
										<option value="">Select a Year:</option>
										<?php
										for($i=date("Y");$i<=date("Y")+10;$i++) {
											$selected = ($this->payment['exp_year'] == $i)?'selected':'';
											?>
											<option value="<?php echo $i?>" <?php echo $selected?>><?php echo $i?></option>
										<?php } ?>
									</select>
								</div>
							</div>
						</div>

						<div class="billingAddressSectionB">
							<div class="form-group">
								<div class="row">
									<div class="col-xs-6"><input type="text" class="form-control billing <?php echo (array_key_exists("billing_first_name",$this->error))?"errors":""?>" placeholder="First Name" name="billing[first_name]" value="<?php echo $this->billing['first_name']?>"></div>
									<div class="col-xs-6"><input type="text" class="form-control billing <?php echo (array_key_exists("billing_last_name",$this->error))?"errors":""?>" placeholder="Last Name" name="billing[last_name]" value="<?php echo $this->billing['last_name']?>"></div>
								</div>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-xs-6"><input type="email" class="form-control billing <?php echo (array_key_exists("billing_email",$this->error))?"errors":""?>" placeholder="Email" name="billing[email]" value="<?php echo $this->billing['email']?>"></div>
									<div class="col-xs-6"><input type="tel" class="form-control billing <?php echo (array_key_exists("billing_phone",$this->error))?"errors":""?>" placeholder="Phone" name="billing[phone]" value="<?php echo $this->billing['phone']?>"></div>
								</div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control billing bill-address geo <?php echo (array_key_exists("billing_address",$this->error))?"errors":""?>" placeholder="Address" name="billing[address]" value="<?php echo $this->billing['address']?>" maxlength="40" data-bill-geo="street_address">
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-xs-6"><input type="text" class="form-control billing bill-address <?php echo (array_key_exists("billing_address2",$this->error))?"errors":""?>" placeholder="Address 2" name="billing[address2]" value="<?php echo $this->billing['address2']?>" maxlength="40"></div>
								</div>
							</div>
							<div class="form-group">
								<input type="text" class="form-control billing bill-address <?php echo (array_key_exists("billing_city",$this->error))?"errors":""?>" placeholder="City" name="billing[city]" value="<?php echo $this->billing['city']?>" data-bill-geo="locality">
							</div>
							<div class="form-group">
								<?php $error = (array_key_exists("billing_region",$this->error))?"errors":"";?>
								<?php echo $this->formSelect('billing[region]', $this->billing['region'], array('class'=>"form-control billing usca $error",'data-bill-geo'=>'administrative_area_level_1_short'), ($this->billing_states)?array(""=>"Select State/Province/Region")+$this->billing_states:array())?>
								<input class="form-control billing international <?php echo (array_key_exists("billing_region",$this->error))?"errors":""?>" type="text" placeholder="Region" name="billing[region_alt]" id="billing-region_alt" value="<?php echo $this->billing['region']?>" data-bill-geo="administrative_area_level_1_short"/>
							</div>
							<div class="form-group">
								<div class="row">
									<div class="col-xs-6"><input type="text" class="form-control billing bill-address <?php echo (array_key_exists("billing_postcode",$this->error))?"errors":""?>" placeholder="Zip Code" name="billing[postcode]" value="<?php echo $this->billing['postcode']?>" data-bill-geo="postal_code"></div>
								</div>
							</div>
							<div class="form-group">
								<?php $error = (array_key_exists("billing_country",$this->error))?"errors":"";?>
								<?php echo $this->formSelect('billing[country]', $this->billing['country'], array('class'=>"form-control billing $error",'data-bill-geo'=>'country_short'), $this->billing_countries)?>
							</div>
						</div>
					</div>

					<div class="btn-menu visible-xs">
						<div class="btn-menu__item">
							<button type="button" id="next2" class="btn btn--green btn-ecommerce-primary btn--cms-default <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_style');?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_hover_effect');?>">Continue</button>
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-6 col-lg-6">
				<h3 class="form__heading">Order Summary</h3>
				<div id="collapse-summary" data-parent="#checkout-row">
					<div class="bg-gray-lighter m-b-20">
						<div class="products">
							<div class="products__summary">
								<table class="table table-condensed">
									<thead>
									<tr>
										<th>ITEM</th>
										<th>TYPE</th>
										<th class="text-right">Cost</th>
									</tr>
									</thead>
									<tbody>
									<?php
									$subtotal = 0;
									foreach ($this->products as $k => $product) {
										$subtotal += $product['price'];
										?>
										<tr>
											<td><?php echo $product['title']?></td>
											<td><?php echo $product['entitlement_type']?></td>
											<td class="text-right">$<?php echo number_format($product['price'],2)?></td>
										</tr>
									<?php } ?>

									<?php /*
									<tr class="text-right">
										<td colspan="2"><strong>Sub-Total:</strong></td>
										<td>$<?php echo number_format($subtotal,2)?></td>
									</tr>
									<tr class="text-right">
										<td colspan="2"><strong>Tax:</strong></td>
										<td>$<span id="cart_tax">0.00</span></td>
									</tr>
									<tr class="text-right">
										<td colspan="2"><strong>Shipping:</strong></td>
										<td><span id="cart_shipping" data-rate="0">$0.00</span></td>
									</tr>
									<?php if ($this->discount) {?>
										<tr class="text-right">
											<td colspan="2"><strong>Promotion:</strong></td>
											<td><?php echo ($this->discount)?"-$".number_format($this->discount,2):""?></td>
										</tr>
									<?php } ?>
									 */ ?>

									<tr class="text-right">
										<td colspan="2"><strong>Total:</strong></td>
										<td>
											<input type="hidden" id="pre-total" value="<?php echo $this->order_total?>">
											<strong>$<span id="cart_total"><?php echo number_format($this->order_total,2)?></span></strong>
										</td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>

					<?php /*
					<div class="promo-form m-b-20">
						<label for="">Promotional Code</label>
						<div class="promo-field" id="promoField">
							<div class="promo-field__item">
								<input type="text" class="form-control" placeholder="" name="promo_code" value="<?php echo $this->promo_code?>">
							</div>
							<div class="promo-field__item">
								<button class="btn btn-sm btn--gray cancel" type="submit" name="promo_btn" value="1">Apply</button>
							</div>
						</div>
						<div class="promo-note">
							<?php if ($this->promo_message) { ?>
								<?php echo $this->promo_message?>
							<?php } ?>
							<?php if ($this->promo) { ?>
								<strong><span class="text-danger">Promo:</span> <?php echo $this->promo->title?></strong>
								<?php if ($this->promo->code) {?>
									<a href="/cart/promo-remove" class="btn btn-danger">Remove Promo</a>
								<?php } ?>
							<?php } ?>
						</div>
                        */ ?>

					</div>
					<!--<button class="btn btn--primary btn--pos-right text-left g-recaptcha" id="order-btn" data-sitekey="<?php //echo $this->captcha_key?>" data-callback='onSubmit'>Place Secure Order <i class="fa fa-play hidden-sm"></i></button>-->
					<div class="btn-menu">
						<button class="btn btn--green btn-ecommerce-primary btn--cms-default <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_style');?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_hover_effect');?>" id="order-btn" onclick="onSubmit();">Place Secure Order</button>
					</div>

				</div>
			</div>
		</form>
	</div>
</div>

<script>
	var current = 1;
	var is_mobile = null;

	$(function() {
		$(".billingAddressSectionB").show();

		<?php if (!$this->billing_states) {?> $(".billingAddressSectionB .international").show();$(".billingAddressSectionB .usca").hide(); <?php } ?>

		<?php if ($this->payment['cc_num'] || $this->payment['name']) {?> $("#radio-cc").trigger("click"); <?php } ?>

		<?php if ($this->payment['cc_num'] || $this->payment['name'] || $this->method == 'cc') {?>
            $(".cc-only").show();
            $(".paypal-hide").show();
            $(".amazon-pay").hide();
        <?php } else if ($this->method == 'amazonpay') { ?>
            $(".paypal-hide").hide();
            $(".cc-only").hide();
            $(".amazon-pay").show();
        <?php } else { ?>
            $(".paypal-hide").hide();
            $(".cc-only").hide();
            $(".amazon-pay").hide();
        <?php } ?>

		<?php if ($this->amz_redir == 'y') {?>
		var is_mobile_now = window.matchMedia('(max-width: 767px)').matches;
		if (is_mobile_now) {
			setTimeout(function(){
				window.cny.accordion('collapse-billing');
			}, 1000);

		}

		setTimeout(function(){
			showAmazonPayWidget();
		}, 500);
		<?php } ?>
	});

	//recaptcha
	function onSubmit(token) {
		$("#order-btn").prop('disabled',true);
		current = false;

		$("#checkout-form").submit();
	}

	function showAmazonPayButton()
	{
		OffAmazonPayments.Button("AmazonPayButton", "<?php echo $this->amazonpay['seller_id']; ?>", {
			type:  "PwA",
			color: "DarkGray",
			size:  "small",
			useAmazonAddressBook: false,
			authorization: function () {
				var loginOptions = { scope: 'profile payments:widget payments:shipping_address', popup: 'true' };
				authRequest = amazon.Login.authorize(loginOptions, "/checkout/amazon-return");
			},
			onError: function (error) {}
		});
	}
	function showAmazonPayWidget()
	{
		var orderReferenceId;
		new OffAmazonPayments.Widgets.AddressBook({
			sellerId: '<?php echo $this->amazonpay['seller_id']; ?>',
			onOrderReferenceCreate: function(orderReference) {
				orderReferenceId = orderReference.getAmazonOrderReferenceId();
				$('#AmazonOrderReferenceID').val(orderReferenceId);
			},
			onAddressSelect: function(orderReference) {
				$.getJSON( "/checkout/amazon-get-address", {'amazonOrderReferenceId':orderReferenceId}, function( data ) {
					//window.cny.updateTax();
				});
			},
			design: {
				designMode: 'responsive'
			},
			onReady: function(orderReference) {
				// Enter code here that you want to be executed
				// when the address widget has been rendered.
			},
			onError: function(error) {
				// console.log(error.getErrorCode() + ': ' + error.getErrorMessage());
			}
		}).bind("addressBookWidgetDiv");

		new OffAmazonPayments.Widgets.Wallet({
			sellerId: '<?php echo $this->amazonpay['seller_id']; ?>',
			design: {
				designMode: 'responsive'
			},
			onPaymentSelect: function(orderReference) {},
			onError: function(error) {}
		}).bind("walletWidgetDiv");
	}
</script>
<style>
	/*#AmazonPayButton img {filter:grayscale(100%);}*/
</style>
