<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$truncate = new Cny_View_Helper_StringTruncate();

$lvp_base_url = ($settings_mapper->getValueByCode('video_platform_url'))?$settings_mapper->getValueByCode('video_platform_url'):'videos';
$default_poster = $settings_mapper->getValueByCode('lvp_default_poster','');
$lvp_grid_count = $settings_mapper->getValueByCode('lvp_cat_grid_item_row_count');
$enable_description = $settings_mapper->getValueByCode('lvp_cat_description_status','Enabled');
$enable_cta = $settings_mapper->getValueByCode('lvp_cat_button_status','Enabled');
$detail_btn_class = '';
if ($settings_mapper->getValueByCode('lvp_cat_button_style')) {
	$detail_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_cat_button_style');
}
if ($settings_mapper->getValueByCode('lvp_cat_button_alignment')) {
	$detail_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_cat_button_alignment');
}

$carousel_class = "carousel--product-film-offset carousel--arrow-overlay-on";
if (isset($this->settings->carousel_arrow_offset) && $this->settings->carousel_arrow_offset == 'off') {
	$carousel_class = "carousel--product-film carousel--arrow-overlay-off";
}

$img_style = '';
if (isset($this->content->max_image_height) && $this->content->max_image_height) {
	if ($this->content->max_image_height == preg_replace("/[^0-9,.-]/", "", $this->content->max_image_height)) $this->content->max_image_height .= "px";

	$img_style = "max-height: {$this->content->max_image_height};";
}
?>

<div class="lvp js-carousel carousel <?php echo $carousel_class?>"
     data-infinite_scroll="<?php echo (isset($this->settings->infinite_scroll))?$this->settings->infinite_scroll:'Enabled'?>"
     data-slides="<?php echo (isset($this->settings->slides_display_desktop))?$this->settings->slides_display_desktop:''?>"
     data-variable-width="<?php echo (isset($this->settings->carousel_variable_width))?$this->settings->carousel_variable_width:'Enabled'?>"
     data-controls="<?php echo (isset($this->settings->carousel_prev_arrow_status))?$this->settings->carousel_prev_arrow_status:'Enabled'?>"
     data-autoplay="<?php echo (isset($this->settings->carousel_autoplay))?$this->settings->carousel_autoplay:'Enabled'?>"
     data-speed="<?php echo (isset($this->settings->transition_speed))?$this->settings->transition_speed*1000:''?>">
	<?php foreach ($this->videos as $video) { ?>
		<div class="carousel__item" data-href="/<?php echo $lvp_base_url?>/<?php echo $video->code?>">
			<div>
				<?php if ($video->poster_src) {?>
					<img src="<?php echo $video->poster_src?>" alt="" class="img-responsive" style="<?php echo $img_style?>">
				<?php }elseif ($thumbnail_url) { ?>
					<img src="<?php echo $thumbnail_url?>" class="img-responsive" style="<?php echo $img_style?>">
				<?php } ?>
			</div>
			<?php if (isset($this->settings->caption_position) && $this->settings->caption_position != 'off') {?>
				<div class="caption <?php //echo $caption_class?> <?php //echo (isset($this->settings->caption_alignment))?$this->settings->caption_alignment:''?> hide">
					<h3 class="caption__title"><?php echo $video->title?></h3>
					<div class="caption__content">
						<p><?php echo ($video->summary)?$video->summary:$truncate->StringTruncate($video->description, 100, true)?></p>
						<a href="/<?php echo $lvp_base_url?>/<?php echo $video->code?>" target="<?php //echo $panel->link_target?>">View Details</a>
					</div>
				</div>
			<?php } ?>
		</div>
	<?php } ?>
</div>






<script>
	$(function() {
	});
</script>
