<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$truncate = new Cny_View_Helper_StringTruncate();

$lvp_base_url = ($settings_mapper->getValueByCode('video_platform_url'))?$settings_mapper->getValueByCode('video_platform_url'):'videos';
$default_poster = $settings_mapper->getValueByCode('lvp_default_poster','');
?>
<div class="products products--list m-b-50">
	<?php foreach ($this->videos as $video) {
		//TODO - currently only custom thumbnail exists
		$thumbnail_url = ($video->thumbnail_src)?$video->thumbnail_src:(($video->video_platform_video_thumbnail_id)?'':null);

		//let's use the default poster if nothing set
		if (!$thumbnail_url) $thumbnail_url = $default_poster;
		?>
		<div class="products--list__item" data-href="/<?php echo $lvp_base_url?>/<?php echo $video->code?>">
			<div class="products__content">
				<div class="products__image">
					<?php if ($video->poster_src) {?>
						<div class="lvp__image">
							<img src="<?php echo $video->poster_src?>" alt="" class="img-responsive">
						</div>
					<?php }elseif ($thumbnail_url) { ?>
						<img src="<?php echo $thumbnail_url?>" class="img-responsive">
					<?php } ?>
				</div>
			</div>
			<div class="products__content">
				<div class="products__caption">
					<h3 class="products__title"><?php echo $video->title?></h3>

					<div class="products__content products__description">
						<p><?php echo ($video->summary)?$video->summary:$truncate->StringTruncate($video->description, 100, true)?></p>

						<a href="/<?php echo $lvp_base_url?>/<?php echo $video->code?>">View Details</a>
					</div>
				</div>
			</div>
		</div>
	<?php } ?>
</div>
