<?php
use Cocur\Slugify\Slugify;

if (!$this->videos) return '';

$slugify = new Slugify();
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$truncate = new Cny_View_Helper_StringTruncate();

$lvp_base_url = ($settings_mapper->getValueByCode('video_platform_url'))?$settings_mapper->getValueByCode('video_platform_url'):'videos';
$default_poster = $settings_mapper->getValueByCode('lvp_default_poster','');
$lvp_grid_count = $settings_mapper->getValueByCode('lvp_cat_grid_item_row_count');
$cta_button_text = $settings_mapper->getValueByCode('lvp_cat_button_text');
$overlay_alignment = $settings_mapper->getValueByCode('lvp_cat_overlay_alignment');
$enable_description = $settings_mapper->getValueByCode('lvp_cat_description_status','Enabled');
$enable_cta = $settings_mapper->getValueByCode('lvp_cat_button_status','Enabled');
$enable_title = $settings_mapper->getValueByCode('lvp_cat_entry_title_status','Enabled');
$enable_overlay = $settings_mapper->getValueByCode('lvp_cat_overlay_status','Disabled');
$image_type = $settings_mapper->getValueByCode('lvp_cat_grid_image_type','');
$detail_btn_class = '';
if ($settings_mapper->getValueByCode('lvp_cat_button_style')) {
	$detail_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_cat_button_style');
}
if ($settings_mapper->getValueByCode('lvp_cat_button_alignment')) {
	$detail_btn_class .= ' ' . $settings_mapper->getValueByCode('lvp_cat_button_alignment');
}
?>
<div class="lvp lvp--grid lvp--grid-<?php echo $lvp_grid_count?>">
	<?php foreach ($this->videos as $video) {
		$thumbnail_url = '';
		if ($image_type == 'poster') {
			if ($video->images) {
				foreach ($video->images as $image) {
					if ($image->layout == 'poster') {
						$thumbnail_url = $image->url;

						break;
					}
				}
			}
		}else {
			if ($video->thumbnails) {
				$thumbnails = [];
				foreach ($video->thumbnails as $image) {
					if ($image->height == 240) {
						$thumbnail_url = $image->url;

						break;
					}else {
						$thumbnails[$image->height] = $image->url;
					}
				}

				if ($thumbnails) {
					ksort($thumbnails);
					$thumbnail_url = current($thumbnails);
				}
			}
		}

		//let's use the default poster if nothing set
		if (!$thumbnail_url) $thumbnail_url = $default_poster;
		?>
		<div class="lvp--grid__item" data-href="/<?php echo $lvp_base_url?>/<?php echo ($video->friendly_title)?$video->friendly_title:$slugify->slugify($video->title)?>/<?php echo $video->_id?>">
			<div class="lvp--grid__content">
				<div class="lvp--grid__image m-b-10">
					<?php if ($video->poster_src) {?>
						<img src="<?php echo $video->poster_src?>" alt="" class="img-responsive">
					<?php }elseif ($thumbnail_url) { ?>
						<img src="<?php echo $thumbnail_url?>" class="img-responsive">
					<?php } ?>
				</div>
				<div class="lvp--grid__caption<?php echo ($overlay_alignment)?' '.$overlay_alignment:'' ?><?php echo ($enable_overlay == 'Enabled')?' lvp__caption--overlay':'' ?>">
					<?php if ($enable_title == 'Enabled') { ?>
						<h3 class="lvp--grid__entry-title"><?php echo $video->title?></h3>
					<?php } ?>

					<div class="lvp--grid__description lvp__description">
						<?php if ($enable_description == 'Enabled') { ?>
							<p><?php echo ($video->short_description)?$truncate->StringTruncate($video->short_description, 100, true):$truncate->StringTruncate($video->description, 100, true)?></p>
						<?php } ?>
						<?php if ($enable_cta == 'Enabled') { ?>
							<a href="/<?php echo $lvp_base_url?>/<?php echo ($video->friendly_title)?$video->friendly_title:$slugify->slugify($video->title)?>/<?php echo $video->_id?>" class="btn btn--default btn--lvp-detail<?php echo $detail_btn_class ?> btn--cms-default"><?php echo (isset($cta_button_text) && $cta_button_text)?$cta_button_text:'View Details' ?></a>
						<?php } ?>
					</div>
				</div>
			</div>
		</div>
	<?php } ?>
</div>

<script>
	$(function() {
	});
</script>
