<div class="white-box">

	<div class="row">
		<div class="col-sm-8">
			<h2>View Product Review</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/review/product-list"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<form method="post" action="/admin/review/product-save" class="form">
				<input type="hidden" name="id" value="<?php echo $this->review->id?>">

				<table class="table table-striped">
					<tbody>
					<tr>
						<td>Name:</td>
						<td>
							<?php echo $this->review->name?>
						</td>
					</tr>
					<!--
					<tr>
						<td>Email:</td>
						<td>
							<?php echo $this->review->email?>
						</td>
					</tr>
					-->
					<tr>
						<td>Rating:</td>
						<td>
							<?php echo $this->review->rating?>
						</td>
					</tr>
					<tr>
						<td>Review:</td>
						<td>
							<?php echo $this->review->review?>
						</td>
					</tr>
					<tr>
						<td>Status:</td>
						<td>
							<?php echo $this->formSelect('status', $this->review->status, array('class'=>'form-control'), $this->statuses)?>
						</td>
					</tr>
					<tr>
						<td>Created:</td>
						<td>
							<?php echo ($this->review->created)?$this->UTCtoTZ($this->review->created,"M. j, Y g:ia",$this->site_timezone):""?>
						</td>
					</tr>

					<tr>
						<td>Is Spam?:</td>
						<td>
							<?php echo $this->formSelect('is_spam', $this->review->is_spam, array('class'=>'form-control'), array("No"=>"No","Yes"=>"Yes"))?>
						</td>
					</tr>
					<tr>
						<td>Images:</td>
						<td>
							<!-- Grid row -->
							<div class="row">
							<?php
								foreach ($this->images as $key){
								if (!empty($key['hash'])){
									$filePath = realpath($_SERVER['DOCUMENT_ROOT'] . "/../review_files") . "/" . $key['hash'];
									$image = realpath($_SERVER['DOCUMENT_ROOT'] . "/../review_files") . "/" . $key['filename'];
									//Check if the image exist
									if (file_exists($filePath)) {
										//echo "image: ".$filePath."  $image<br>";
										/*	$mimetype = mime_content_type($image);
											switch ($mimetype){
												case 'image/jpg':
													header("Content-Type: image/jpg");
													break;
												case 'image/png':
													header("Content-Type: image/png");
													break;
												default :

													header("Content-Type: image/gif");
													break;
											}

											header("Content-Length: " . filesize( $filePath) );
											readfile( $filePath );*/
									?>
									<!-- Grid column -->
									<div class="col-lg-4 col-md-12 mb-4">

										<!--Modal: Name-->
										<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
											<div class="modal-dialog modal-lg" role="document">

												<!--Content-->
												<div class="modal-content">

													<!--Body-->
													<div class="modal-body mb-0 p-0">

														<div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
															<iframe class="embed-responsive-item" src="<?php echo $filePath;?>"
															        allowfullscreen></iframe>
														</div>

													</div>

													<!--Footer-->
													<div class="modal-footer justify-content-center">
														<span class="mr-4">Spread the word!</span>																	<button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>

													</div>

												</div>
												<!--/.Content-->

											</div>
										</div>
										<!--Modal: Name-->

										<!--<a><img class="img-fluid z-depth-1 img-thumbnail" src="<?php /*echo $filePath;*/?>"
										        data-toggle="modal" data-target="#modal1"></a>-->
										<a href="/admin/review/download/hash/<?php echo $key['hash']?>" class="font-weight-bold" target="_blank"><?php echo $image?></a>

									</div>
									<!-- Grid column -->						 &emsp;
									<?php
								}
								}

							}
							?>
							</div>
						</td>
					</tr>

					</tbody>
				</table>

				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</div>

</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
