.announcement {
  @include corners(px2rem(100), 70%);
  padding: px2rem($normal-spacing) px2rem($l-spacing);

  @media screen and (max-width: $mobile-max) {
    @include corners(px2rem(80), px2rem(35));
  }

  &__container {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    ul{
      list-style-type:none;
      margin-left:0px;
      padding-left:0px;
      text-align:center;
    }
    @media screen and (max-width: $mobile-max) {
      flex-direction: column;
      text-align: center;
    }
  }

  .open-house-heading {
    font-size: px2rem(16);
  text-align:center;
    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(14);
      padding-right: 0;
    }
  }

  .datetime {
    @include gotham-book;
    color: $gray;
    font-size: px2rem(12);
    padding-right: px2rem($normal-spacing);

    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(11);
      padding-right: 0;
    }
  } 
  .open-house--notice{
    @include gotham-book;
    color: $light-gray;
    font-size: px2rem(10);
    text-transform:uppercase;
    margin-top:0px;
    text-align:center;
  }

  .open-house-link {
    font-size: px2rem(10);
  text-align:center;
    @media screen and (max-width: $mobile-max) {
      margin-top: px2rem($xs-spacing);
    }

    &:nth-of-type(2),
    &__icon {
      @media screen and (min-width: $tablet-min) {
        display: none;
      }
    }

    &__icon {
      font-size: px2rem(14);
      margin-left: px2rem($xs-spacing * -1 - 11);
      margin-right: px2rem($xs-spacing);
      position: relative;
      top: px2rem(3);
    }
  }

  .divider {
    color: $gold;
  }
}


.thank-you{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($white, .95);
  z-index: -1;
  visibility: hidden;

  .announcement {
    
    max-width: px2rem(400);
    max-height: px2rem(200);

    .announcement__container{
      display: block;
      text-align: center;
    }
  .thank-you__headline{
      font-size: px2rem(30);
      text-transform: capitalize;    
    }
    .thank-you__copy{
        @include gotham-book;
        color: $gray;
        font-size: px2rem(22);
        text-transform: capitalize;    
    }
  }
}