.banner {
  height: px2rem(201);
  position: relative;
  max-width: px2rem(950);
  width: 100%;

  @media screen and (max-width: $tablet-max) {
    height: px2rem(161);
  }

  @media screen and (max-width: $mobile-max) {
    height: px2rem(131);
  }

  &__details {
    padding-left: px2rem($normal-spacing);
    padding-top: px2rem($l-spacing);

    @media screen and (max-width: $tablet-max) {
      padding-top: px2rem(30);
    }

    @media screen and (max-width: $mobile-max) {
      padding-left: px2rem($s-spacing);
    }
  }

  .open-house-heading {
    font-size: px2rem(26);
    margin-bottom: 0;

    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(22);
    }

    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(20);
      margin-bottom: px2rem(-5);
    }
  }

  .address__link {
    color: $lighter-gray;
    line-height: 1.2;
  }

  .datetime {
    color: $lighter-gray;
    font-size: px2rem(16);
    line-height: 1.5;

    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(13);
    }

    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(11);
      line-height: 1.65;
    }
  }

  .open-house-link {
    font-size: px2rem(16);
    margin-top: px2rem($xs-spacing);

    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(13);
    }

    @media screen and (max-width: $mobile-max) {
      color: $white;
      font-size: px2rem(11);
    }
  }

  .image {
    position: absolute;
    top: 0;
    z-index: -1;

    @media screen and (max-width: $tablet-max) {
      height: px2rem(161);
    }

    @media screen and (max-width: $mobile-max) {
      height: px2rem(131);
    }
  }
}
