.caption {
  @media screen and (max-width: $mobile-max) {
    text-align: center;
  }

  &__heading {
    margin-bottom: px2rem($xs-spacing);
    text-transform: uppercase;

    @media screen and (max-width: $mobile-max) {
      margin-bottom: px2rem($s-spacing);
    }
  }

  &__text {
    font-size: px2rem(14);
    line-height: 1.5;
    margin: 0;

    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(13);
    }

    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(12);
    }
  }
}
