.contact-row {
  margin-bottom: px2rem($xxl-spacing);
  &--top{
    background:$gold;
    .contact-link{
      display:block;
      text-align:center;
      color:$white;
      text-transform:uppercase;
      font-size:px2rem(24);
      padding-top: px2rem(32);
      padding-bottom: px2rem(32);
      text-decoration:none;
      &:hover{
        color:#efefef;
      }
      @media screen and (max-width: $mobile-max) {
          font-size:px2rem(14);
          padding-top: px2rem(10);
          padding-bottom: px2rem(10);
      }
    }
  }
  @media screen and (min-width: $tablet-min) {
    &--right {
      > * {
        float: right;
      }
    }
  }

  @media screen and (max-width: $mobile-max) {
    margin-bottom: px2rem($xs-spacing);
    picture{
      display: none;
    }
  }
}