.contact-form {
  position: relative;
  h2 {
    color: $gold;
    text-align: center;
    margin-bottom: px2rem($l-spacing);
  }
  @media screen and (max-width:$mobile-max){
    margin-left:2rem;
    margin-right:2rem;
  }
  &__form {
    @extend .flex-column-center;
    &__inputs {

      max-width: px2rem(300);
      width:100%;
      @media screen and (max-width:$mobile-max){
        margin-left:2rem;
        margin-right:2rem;
      }
      > * {
        width: 100%;
        margin-bottom: px2rem($normal-spacing);
      }

    }

  }

  .filter-group {
    @extend .flex-column-center;

    &__label {
      margin-bottom: px2rem($xs-spacing);
      font-size: px2rem(14);
    }
  }
}