.contact {
  padding-top: px2rem($l-spacing);
  @extend .flex-column-center;
  margin-left:1rem;
  margin-right:1rem;
  h3 {
    margin-bottom: px2rem($s-spacing);
    font-size:px2rem(36);
    @media screen and (max-width:$tablet-max){
      font-size:px2rem(28);
      text-align: center;
    }
    @media screen and (max-wdith:$mobile-max){
      font-size:px2rem(20);
    }
  }

  .address,
  .phone,
  .hours,
  .link--with-arrow {
    margin-bottom: px2rem($s-spacing);
  }

  .address__link,
  .phone,
  .hours {
    font-size: px2rem(13);
    color: $black;
    text-align: center;
    display: inline-block;
  }

  .link--with-arrow {
    font-size: px2rem(14);
  }
}
