.corner-group {

  &__container {
    position: relative;
    @include corners(px2rem(100), px2rem(45));
    @extend .clearfix;
    padding: px2rem($xl-spacing) px2rem($normal-spacing) px2rem($l-spacing) px2rem($normal-spacing);
    &:before{
      @media screen and (max-width:$tablet-max){
          right:0.8rem;
      }
    }
    &:after{
      @media screen and (max-width:$tablet-max){
          left:0.8rem;
      }
    }
  }

  .featured-listings-heading {
    position: absolute;
    top: 0;
    left: 0;
    //Todo make global once approved
    color:#000;
    @media screen and (max-width:$tablet-max){
      left:0.8rem;
    }
  }

  &__contents {
    @extend .clearfix;
  }

  @media screen and (max-width: $mobile-max) {
    .featured-listings-heading {
      position: static;
      text-align: center;
      padding-bottom: px2rem($l-spacing);
    }

    &__container {
      &:after, &:before {
        display: none;
      }
      padding: px2rem($l-spacing) 0;
    }
  }

}
