$feature-listings-group-padding: 11.45833%;

.featured-listings-group {
  //background-color: rgba($lighter-gray, 0.25);
  padding-left: $feature-listings-group-padding;
  position: relative;



.featured-listings-group__heading {
  @include gotham-medium;
  color: $black;
  font-size: px2rem(26);
  text-transform: uppercase;
  margin:0;

  @media screen and (max-width: $tablet-max) {
    font-size: px2rem(22);
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2rem(18);
  }
}

  @media screen and (min-width: $tablet-min) {

    &:after{
      position: absolute;
      top: -2px;
      right: 0;
      height: 105%;
      content: '';
      background-color: $white;
      width: px2rem(200);
    }

    &--reveal{
      &:after{
        width: 0px;
        // animation-name: reveal;
        // animation-timing-function: cubic-bezier(0.13, 0.32, 0.68, 0.96);
        // animation-duration: 1500ms;
      }
    }

    // @keyframes reveal {
    //   from {width: px2rem(200);}
    //   to {width: 0px;}
    // }

    &--right {
      padding-left: 0;
      padding-right: $feature-listings-group-padding;

      &:after{
        left: 0;
        right: auto;
      }

    }
  }

  @media screen and (max-width: $mobile-max) {
    background-color: transparent;
    padding-left: 0;
  }

  &__container {
    @media screen and (min-width: $tablet-min) {
      @include corners(px2rem(100), px2rem(45));
      // @extend .clearfix;
      max-width: 100%;
      padding: px2rem($l-spacing) px2rem($normal-spacing);
    }
  }

  h4 {
    left: px2rem(-2);
    position: absolute;
    top: px2rem(-6);

    @media screen and (max-width: $mobile-max) {
      padding-bottom: px2rem($normal-spacing);
      position: static;
      text-align: center;
    }
  }

}

@media screen and (min-width: $desktop-min) {
  .featured-listings-group--single {
    $feature-listings-group-padding: 16.666667%;
    padding-left: $feature-listings-group-padding;

    &.featured-listings-group--right {
      padding-left: 0;
      padding-right: $feature-listings-group-padding;
    }
  }
  .featured-listings-group--triple {
    $feature-listings-group-padding: 3%;
    padding-left: $feature-listings-group-padding;

    .listing-tile {
      float: left;
      padding-left: px2rem($l-spacing / 3);
      padding-right: px2rem($l-spacing / 3);

      &:first-child {
        width: 40%;
      }

      &:nth-child(2) {
        margin-top: px2rem(197);
      }

      &:nth-child(n+2) {
        width: 30%;
        font-size: px2em(11, 15);

        .listing-tile__footer__right {
          display: none;
        }
      }
    }

    &.featured-listings-group--right {
      padding-left: 0;
      padding-right: $feature-listings-group-padding;
    }
  }

}

@media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
  .featured-listings-group {
    .listing-tile {
      font-size: px2em(10, 15);
    }
  }

  .featured-listings-group--single {
    padding-left: $feature-listings-group-padding;
    .listing-tile {
      font-size: 1em;
    }

    &.featured-listings-group--right {
      padding-left: 0;
      padding-right: $feature-listings-group-padding;
      margin-left: px2rem($l-spacing);
    }
  }
  .featured-listings-group--triple {
    padding-left: $feature-listings-group-padding;

    .listing-tile {
      float: left;
      padding-left: px2rem($l-spacing / 2);
      padding-right: px2rem($l-spacing / 2);

      &:first-child {
        width: percentage(6/$grid-columns);
      }

      &:nth-child(2) {
        margin-left: px2rem(80);
      }

      &:nth-child(3) {
        margin-top: px2rem($normal-spacing);
      }

      &:nth-child(n+2) {
        padding-left: 0;
        padding-right: 0;
        width: percentage(4/$grid-columns);

        .listing-tile__footer__right {
          display: none;
        }
      }
    }

    &.featured-listings-group--right {
      padding-left: 0;
      padding-right: $feature-listings-group-padding;
    }
  }

}

@media screen and (max-width: $mobile-max) {

    .listing-tile {
      width: 100%;
      padding-left: px2rem($l-spacing / 2);
      padding-right: px2rem($l-spacing / 2);
    }

}
