.feature {
  @extend .clearfix;
  clear: both;
  padding-top: px2rem(75);
  position: relative;

  @media screen and (max-width: $tablet-max) {
    padding-top: px2rem(90);
  }

  @media screen and (max-width: $mobile-max) {
    padding-top: 0;
  }

  .caption {
    background-color: $white;
    left: percentage(2/$grid-columns);
    padding: px2rem($s-spacing) px2rem($normal-spacing);
    position: absolute;
    top: 0;
    width: px2rem(520);

    @media screen and (max-width: $tablet-max) {
      left: auto;
      right: percentage(3/$grid-columns);
      width: px2rem(470);
    }

    @media screen and (max-width: $mobile-max) {
      position: static;
      width: auto;
    }
  }
}

.feature--right {
  float: right;

  .caption {
    left: auto;
    right: percentage(2/$grid-columns);

    @media screen and (max-width: $tablet-max) {
      left: percentage(3/$grid-columns);
      right: auto;
    }

    @media screen and (max-width: $mobile-max) {
      position: static;
    }
  }

}
