.filter-group {
  display: inline-block;
  text-align: left;

  @media screen and (max-width: $mobile-max) {
    text-align: center;
    margin-top: px2rem($normal-spacing);
    margin-bottom: px2rem($normal-spacing);
  }

  &__label {
    @include gotham-book;
    font-size: px2rem(11);
    text-transform: uppercase;
    //TODO make global once approved
    //color: $gray;
    color:#000;
    margin-bottom: px2rem($xs-spacing);
  }

  &__items {
    border: 1px solid $gold;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    .checkbox {
      &:not(:last-child) {
        border-right: 1px solid $gold;
      }
    }

  }
}
