.floorplan{
	& *{
		box-sizing: border-box;
	}
	&__side-column{
		display: inline-block;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		width: 22%;
		background-color: #D8D8D8;
		padding: 30px 34px 9px 34px;
		text-align: center;
		&--logo{
			width: 171px;
			height: auto;
			display: inline-block;
		}
		&--copy{
			padding-top:34px;
			.region{
				@include gotham-light;
				font-size: 10px;
				color: #4A4A4A;
				letter-spacing: 0.75px;
				text-transform: uppercase;
				margin-bottom:6px;
			}
			.building-name{
				@include stanpro;
				font-size: 22px;
				color: #CC9F26;
				letter-spacing: 0.5px;
				margin-bottom:6px;
			}
			.address{
				@include gotham-book;
				font-size: 10px;
				color: #4A4A4A;
				letter-spacing: 0.38px;
				line-height: 15px;
				&.margin-bottom-big{
					margin-bottom:30px;
				}
				&.margin-bottom{
					margin-bottom:10px;
				}
			}
			.label-small{
				@include gotham-light;
				font-size: 10px;
				color: #4A4A4A;
				letter-spacing: 0.75px;
				text-transform: uppercase;
				&.margin-bottom{
					margin-bottom:10px;
				}
			}
			.unit-type{
				@include gotham-book;
				font-size: 16px;
				color: #231F20;
				letter-spacing: 1.125px;
				line-height: 30px;
				text-transform: uppercase;
				margin-bottom:24px;
			}
			.label{
				@include gotham-medium;
				font-size: 12px;
				color: #4A4A4A;
				letter-spacing: 0.75px;
				text-transform: uppercase;
				margin-bottom:10px;
			}
			.list{
				list-style-type: none;
				padding-left:0px;
				margin-top:0px;
				margin-left: 0px;
				margin-bottom:10px;
				li{
					@include gotham-light;
					font-size: 10px;
					color: #231F20;
					letter-spacing: 0.38px;
					line-height: 21px;
				}
			}
			.telephone, .hours{
				@include gotham-book;
				font-size: 10px;
				color: #4A4A4A;
				letter-spacing: 0.38px;
				line-height: 21px;
				margin-bottom:6px;
			} 
			.url{
				@include gotham-light;
				font-size: 10px;
				color: #4A4A4A;
				letter-spacing: 0.75px;
				margin-bottom:20px;
			}
			.hud-logo i{
				font-size: 12px;
				color:#595959;
			}
			.copyright{
				@include gotham-book;
				font-size: 8px;
				color: #595959;
			}
		}
		.contact-block{
			position: absolute;
			bottom:10px;
			left:50%;
			transform:translateX(-50%);
		}
	}
	&__main-column{
		display: inline-block;
		position: fixed;
		height: 100%;
		width: 78%;
		right: 0;
		top: 0;
		bottom: 0;
		padding:30px;
		&--floorplan{
			display: block;
			height: 100%;
			width: 100%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}

	}
}