.footer-promo-tile {
  position: relative;

  .image {
    z-index: -1;
  }

  &__link {
    display: block;
    //text-decoration: none;
    &:after{content:'';
        height:100%;
        width:100%;
        display:block;
        position: absolute;
        top:0px;
        left:0px;
        transition: all 160ms ease;
        background-color: rgba(35, 31, 32, 0.3);
    }
    &:hover{
      &:after{
        content:'';
        height:100%;
        width:100%;
        display:block;
        position: absolute;
        top:0px;
        left:0px;
        background-color: rgba(35, 31, 32, 0.6);
        z-index:2;
      }
    }
  }

  &__heading {
    color: $white;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index:3;
    @media screen and (min-width: $desktop-min) {
      font-size: px2rem(15);
    }
    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(13);
    }
    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(18);
      text-align: center;
      width: 100%;
    }
  }
}
