.footer-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    display: inline-block;

    &:last-child .footer-menu__link {
      margin-right: 0;
    }

    &:last-child .footer-menu__link--secondary {
      margin-right: 0;
    }

    @media screen and (max-width: $mobile-max) {
      display: block;
      line-height: 2.5;
      text-align: center;
    }
  }

  &--secondary {
    .footer-menu__item {
      @media screen and (min-width: $tablet-min) {
        //TODO make global if approved
        //color: $dark-gray;
        color:#000;
      }
    }
  }

  &__link {
    margin-right: px2rem($xl-spacing);

    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(14);
    }
  }

  &__link--secondary {
    margin-right: px2rem($l-spacing);

    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(13);
    }
  }

  &__link,
  &__link--secondary {
    @media screen and (max-width: $mobile-max) {
      margin: 0;
    }
  }
}
