.footer, footer {
  @extend .clearfix;
  background-color: $light-gray;
  padding-bottom: px2rem($xs-spacing);
  position: relative;
  text-align: center;

  .footer-menu {
    margin-bottom: px2rem($s-spacing);
    margin-top: px2rem($normal-spacing);

    @media screen and (max-width: $mobile-max) {
      margin-top: px2rem($s-spacing);
    }
  }

  .top-link {
    bottom: px2rem($l-spacing);
    position: absolute;
    right: px2rem($xl-spacing * 2.33);
    z-index:999;

    @media screen and (max-width: $tablet-max) {
      margin-bottom: px2rem($xs-spacing);
      margin-top: px2rem($normal-spacing);
      position: static;
    }

    @media screen and (max-width: $mobile-max) {
      margin-bottom: px2rem($s-spacing);
      margin-top: 0;
    }
  }
  .row-block.container, .fullwidth {
    width: 100%;
  }
}
