.footer-promos {
  display: flex;

  @media screen and (max-width: $mobile-max) {
    flex-direction: column;
  }

  .image {
    height: px2rem(131);

    @media screen and (max-width: $tablet-max) {
      height: px2rem(80);
    }

    @media screen and (max-width: $mobile-max) {
      height: px2rem(80);
    }
  }

  .footer-promo-tile {
    border-bottom: 1px solid $white;
    border-right: 1px solid $white;
    flex-grow: 1;
    background-color: rgba($black, .3);

    &:hover{
      background-color: rgba($black, .6);
    }

    &:last-of-type {
      border-right: 0;
    }

    @media screen and (max-width: $mobile-max) {
      border-right: 0;
    }
  }

}