.header--goldfarb {
  font-family: Gotham A,Gotham B,sans-serif;
  font-weight: 400;
  font-size: 10px;
  text-transform: uppercase;
  padding: 10px;
  width:100%;

  .logo {
    width: 9.0625em;
    height: 3.125em;
    transition: -webkit-transform .5s;
    transition: transform .5s;

    svg {
      width: 100%;
      height: 100%;
    }

    .goldfarb {
      fill: #000;

      .home-page &, .commercial-page &, .region-landing-page &, .about-page &, .interior-page & {
        fill: #fff;
      }
    }
  }

  .navbar {
    min-height: 0;
  }

  .navbar>.container-fluid,
  .navbar>.container {
    flex-wrap: wrap;
    max-width: 86.25rem;
    padding: 0;
  }

  .navbar-collapse {
    flex-basis: 0;
    flex-grow: 1;
  }

  .navbar-nav {
    float: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:0;
    min-height: 0;
    &:before,
    &:after {
      display: none;
    }
    >li {
      height: 3.125em;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    >li>a {
      padding: 0;
      display: inline-block;
      position: relative;
      height: auto;
      &,&:hover {
        color: #000;
      }
      &:after {
        position: absolute;
        display: block;
        bottom: -.125rem;
        content: ' ';
        height: .125rem;
        width: 100%;
        background-color: transparent;
        transition: all .2s ease;
      }
      &:hover:after {
        bottom: -32%;
        background-color: #cc9f26;
      }
      & .search {
        color: #cc9f26;
        //font-size: 1rem;
      }
    }
    >li.current>a:after {
      bottom: -32%;
      background-color: #cc9f26;
    }
    >li.current>a.logo:after {
      display: none;
    }
  }

  @include breakpoint-md {
    .home-page &:not(.header-fixed-shrink),
    .commercial-page &:not(.header-fixed-shrink),
    .region-landing-page &:not(.header-fixed-shrink),
    .about-page &:not(.header-fixed-shrink),
    .interior-page &:not(.header-fixed-shrink) {
      .navbar-nav >li>a,
      .navbar-nav >li>a:hover {
        color: #fff;
      }
    }
  }

  .navbar-brand {
    padding:0;
    img {
      max-width: 100% !important;
      width:6.0625em;
    }
  }

  .navbar-header {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
    margin-right: 40px;
  }

  &.header-fixed-shrink {
    box-shadow: none;

    .navbar-nav {
      >li>a {
        padding-top: 0;
      }
    }

    .logo {

      .goldfarb {
        fill: #000;
      }
    }
  }

  .navbar-toggle {
    margin:0;
    padding: 0;
    height: 20px;
    width: 30px;
    z-index: 110;

    .icon-bar {
      position: absolute;
      transform: translateY(-50%);
      transition: transform 90ms ease;
      margin:0;

      &:nth-of-type(2) {
        top: 0;
      }
      &:nth-of-type(3) {
        top:50%;
      }
      &:nth-of-type(4) {
        top:100%;
      }

    }

    &[aria-expanded='true'] {
      .icon-bar:nth-of-type(2) {
        top: 50%;
        transform: translateY(0) rotate(45deg);
      }
      .icon-bar:nth-of-type(3) {
        top:50%;
        transform: translateY(-50%) scale(0);
      }
      .icon-bar:nth-of-type(4) {
        top:50%;
        transform: translateY(0) rotate(-45deg);
      }
    }

  }

  .navbar-nav--mobile {
    >li>a {
      color:#000;
      line-height: normal;
      &:hover {
        color: #000;
      }
    }
    .logo .goldfarb {
      fill:#000;
    }
  }

  @include breakpoint-md {
    padding: 20px 0;
    .home-page &, .commercial-page &, .region-landing-page &, .about-page &, .interior-page & {
      position: fixed !important;
      width: 100%;
      top: 0;
    }
    .navbar-nav--mobile {
      display: none;
    }
    &.header-fixed-shrink {
      padding: 5px 0;
      .logo  {
        transform: scale(.7);
        transition: transform .5s;
      }
      .navbar-nav {
        >li {
          height: 1.875rem;
        }
      }

      &, .navbar-nav > li > a .search {
        font-size: .8125rem;
      }
    }
    .unit-page &.header-fixed-shrink {
      background-color: $lighter-gray;
    }
    .region-landing-page &.header-fixed-shrink {
      background-color: #fff;
    }
  }
  @include breakpoint-custom(1261px) {
    font-size: 1rem;

    //.navbar-nav > li > a .search { font-size: 2rem }

  }
  @include breakpoint-max($screen-sm-max) {
    .navbar-collapse {
      background-color: #fff;
      color: #cc9f26;
      text-transform: uppercase;
      padding-bottom: 2.5rem;
      height: 100vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      margin: 0;

      .logo .goldfarb {
        fill: #000;
      }

      .navbar-nav {
        padding: 0;
        list-style: none;
        width: 100%;
        height: calc(100vh - 160px);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        >li {
          height: 2.5rem;
          flex-grow: 1;
        }
      }
    }
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }


}
.header-fixed .header-sticky,
.header-fixed .header.header-sticky {
  position: static;
}
.header-fixed .header-fixed-shrink,
.header-fixed .header.header-fixed-shrink {
  position: fixed;
}
