.hero {
  .hero__text {
    text-align: center;
    color: $white;
    h1, h2, h3 {
		color: $white;
		font-size: px2rem(56);
		letter-spacing: px2rem(1);
		line-height: 1.2;
		font-family: 'Gotham A','Gotham B',sans-serif;
		font-weight: 300;
		text-transform: uppercase;
		margin: 0;

		@media screen and (max-width: $tablet-max) {
			font-size: px2rem(42);
			letter-spacing: px2rem(.88);
		}

		@media screen and (max-width: $mobile-max) {
			font-size: px2rem(36);
		}
    }
  }
}
.hero__text__custom--home {
	font-size: 3rem;
	@media only screen and (max-width: 800px) {
		font-size:2.4rem;
	}
	@media only screen and (max-width: 600px) {
		font-size: 2rem;
	}
}
