.hero {
  width: 100%;
  height: px2rem(550);
  overflow: hidden;
  position: relative;
  &:after{
    content:"";
    position: absolute;
    height:100%;
    width:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(0,0,0,0.3);
  }
  @include focal-point(
          $breakpoint: $desktop-min,
          $inner-element: picture
  );

  @media (max-width: $tablet-max) {
    height: px2rem(329);
  }

  @media (max-width: $mobile-max) {
    height: px2rem(270);
  }

  .image {
    height: px2rem(550);
    object-fit: cover;

    @media (max-width: $tablet-max) {
      height: px2rem(329);
    }

    @media (max-width: $mobile-max) {
      height: px2rem(270);
    }
  }

  /**
   * Only .hero__text in .hero context overrides
   */
  & &__text {
    position: absolute;
    top: px2rem(375);
    left: 50%;
    transform: translateX(-50%);
    z-index:1;
    @media screen and (max-width: $tablet-max) {
      top: px2rem(198);
    }

    @media screen and (max-width: $mobile-max) {
      top: px2rem(145);
    }
  }
}
