.homepage-hero {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: 0;
    overflow: hidden;
    &:after{
            content:" ";
            display:block;
            position: absolute;
            height:100%;
            width:100%;
            top:0px;
            bottom:0px;
            left:0px;
            right:0px;
            background-color:rgba(0,0,0,0.3);
        }
    .image {
        min-height: 100vh;
        width: auto;
        min-width: 100vw;
        position: absolute;
        top:50%;
        left:50%;
        transform:translateX(-50%) translateY(-50%);
        z-index: -2;
        display:none;
        pointer-events:none;
        @media screen and (max-width: $tablet-max) {
            display:block;
            min-height: px2rem(617);
            width: auto;
            position: absolute;
            top:50%;
            left:50%;
            transform:translateX(-50%) translateY(-50%);
        }

        @media screen and (max-width: $mobile-max) {
            display:block;
            min-height: px2rem(271);
            width: auto;
            position: absolute;
            top:50%;
            left:50%;
            transform:translateX(-50%) translateY(-50%);
        }
    }

    video {
        position: absolute;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -2;
        overflow: hidden;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        background: transparent url('../../img/portfolio/fpo/homepage-hero.jpg') top center 100% auto no-repeat;
        @media screen and (max-width: $tablet-max) {
            display:none;
        }

        @media screen and (max-width: $mobile-max){
            display:none;
        }
    }

    &__heading {
        color: $white;
        letter-spacing: px2rem(1.3);
        position: absolute;
        text-align: center;
        width: px2rem(480);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index:1;
        @media screen and (max-width: $tablet-max) {
            line-height: 1.04;
            width: px2rem(270);
            top:9.0625rem;
        }
    }

    &__arrow {
        bottom: px2rem($s-spacing);
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        z-index:3;
        @media screen and (max-width: $mobile-max) {
            display: none;
        }
    }

    .icon-arrowhead-down {
        color: $gold;
        font-size: px2rem(34);
    }

    @media screen and (max-width: $tablet-max) {
        height:px2rem(617);
        overflow: hidden;
    }

    @media screen and (max-width: $mobile-max) {
        height:px2rem(317);
        overflow: hidden;
    }

    .scrollmagic-pin-spacer{
        @media screen and (max-width: $tablet-max) {
            max-height:px2rem(617);
        }

        @media screen and (max-width: $mobile-max) {
            max-height:px2rem(317);
        }
    }
}

.relative-pos{
    position: relative;
}

.homepage-hero__heading__custom {
    font-family: Gotham A,Gotham B,sans-serif;
    font-weight: 300;
    font-size: 4rem;
    text-transform: uppercase;
    display: block;
}
@media only screen and (max-width: 800px) {
    .homepage-hero__heading {
        margin: 0 auto 0 auto;
        width: 18.75rem;
        top: 18rem;

    }
    .homepage-hero__heading__custom {
        font-size: 3rem;
        padding:0 20px;
    }
}
@media only screen and (max-width: 600px) {
    .homepage-hero__heading {
        top: 10rem;

    }
    .homepage-hero__heading__custom {
        font-size: 2rem;
    }
}
