.instagram-feed {

  &__heading {
    margin-bottom: px2rem($xs-spacing);
    text-transform: uppercase;

    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(24);
    }
  }

  &__sub-heading {
    margin-bottom: px2rem($l-spacing);
    text-transform: uppercase;

    @media screen and (max-width: $tablet-max) {
      margin-bottom: px2rem($normal-spacing);
    }

    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(14);
      margin-bottom: px2rem($s-spacing);
    }
  }

  &__container {
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .image {
    max-width:211px;
    max-height:211px;
    height: 50%;
    width: auto;
    float:left;
    overflow:hidden;
      [data-res="square"] {
        width:100%;
      }
      [data-res="landscape"] {
        height:100%;
        left:50%;
        transform:translateX(-50%);
      }
      [data-res="portrait"] {
        width:100%;
        top:50%;
        translateY:(-50%);
      }
      &:nth-child(3n + 1) {
      max-width:422px;
      max-height:422px;
      height: 100%;
      width: auto;
    }

    &:nth-child(n+6) {
      @media screen and (max-width: $tablet-max) {
        display: none;
      }
    }

    &:nth-child(n+4) {
      @media screen and (max-width: $mobile-max) {
        display: none;
      }
    }
  }

  &__image {
    display: block;
    position: relative;
    overflow: hidden;
    .icon-instagram {
      position: absolute !important;
      bottom: 5px;
      top: auto !important;
      left: 5px;
      color: #fff;
      opacity: 0.6;
    }
    img {
      width: auto;
      height: 150px;
    }
    &:hover .icon-instagram {
      opacity: 1;
    }
  }

  .icon-instagram {
    position: relative;
    top: px2rem(5);

    @media screen and (max-width: $mobile-max) {
      top: px2rem(3);
    }
  }

  @media (min-width: 768px) {
    &__container {
      grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
    }
    &__image {
      img {
        height: 185px;
      }
    }
  }
  @media (min-width: 1200px) {
    &__container {
      grid-template-columns: repeat(auto-fill,minmax(175px,1fr));
    }
    &__image {
      img {
        height: 240px;
      }
    }
  }
}
