.list-block {
  margin-bottom: px2rem($l-spacing);

  h4 {
    margin-bottom: px2rem($normal-spacing);
  }

  p {
    font-size: px2rem(14);
    line-height: 1.5;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .lists {
    display: flex;
    flex-direction: row;
  }

  ul {
    width: 33%;
  }

  @media screen and (max-width: $tablet-max) {
    text-align: center;

    .lists {
      justify-content: center;
    }
  }

  @media screen and (max-width: $mobile-max) {
    h4 {
      margin-bottom: 0;
    }

    p {
      font-size: px2rem(12);
      padding: 0 px2rem($s-spacing);
    }

    .lists {
      display: block;
    }

    ul {
      width: 100%;
    }
  }
}
