.map {
  clear: both;

  .button-group {
    @media screen and (max-width: $mobile-max) {
      display: none;
    }
  }

  &__button--mobile {
    @media screen and (min-width: $tablet-min) {
      display: none;
    }

    @media screen and (max-width: $mobile-max) {
      margin-top: px2rem($s-spacing);
    }
  }

  &__container {
    height: 350px;
    @media screen and (max-width: $mobile-max) {
      display: none;
    }
  }

  &__mobile-container {
    display: block;
    text-decoration: none;

    @media screen and (min-width: $tablet-min) {
      display: none;
    }
  }
}
