.mobile-nav {
  background-color: $white;
  color: $gold;
  text-transform: uppercase;
  padding-bottom: px2rem($l-spacing);
  height: 100vh;
  width:100vw;
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  z-index:100;
  &__close {
    // @extend .flex-row-center;
    // justify-content: flex-end;
    position:absolute;
    top:12px;
    right:6px;
    z-index:3;
    .icon {
      padding-top: px2rem($s-spacing);
      padding-right: px2rem($xs-spacing);
    }
  }

  &__logo{
    display: block;
    text-align: center;
    cursor:pointer;
    @media screen and (max-width:$tablet-max){
      margin: 32px auto 0px auto;
    }
    @media screen and (max-width:$mobile-max){
      margin: 16px auto 0px auto;
    }
  }

  ul {
    padding: 0;
    list-style: none;
    width: 100%;
    height:calc(100vh - 160px);
    display:flex;
    flex-direction:column;
  }

  li {
    width: 100%;
    height: px2rem($l-spacing);
    flex-grow:1;
    position: relative;
    &.active:before{
      transition: width 0.3s ease-in;
      z-index:2;
    }
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    @media screen and (max-width:$tablet-max){
      font-size: px2rem(20);
    }
    @media screen and (max-width:$mobile-max){
      font-size: px2rem(14);
    }
    &:after {
      left: 0;
      bottom: 50%;
      width: 0;
      transition: width .3s ease-in;
    }

    &:active:after {
      width: 100%;
    }
    &:visited, &:hover, &:-webkit-any-link{
      color:$gold;
      text-decoration: none !important;
    }
  }
}

  .mobile-toggle{
    color:#000 !important;
    z-index:10;
    height:20px;
    width:30px;
    position: relative;
    z-index:110;
    span{
      display:block;
      position: absolute;
      width:30px;
      height:2px;
      background-color: $gold;
      &:nth-of-type(1){
        top:0%;
        transform: translateY(-50%);
        transition: transform 90ms ease;
      }
      &:nth-of-type(2){
        top:50%;
        transform: translateY(-50%);
        transition: transform 90ms ease;
      }
      &:nth-of-type(3){
        top:100%;
        transform: translateY(-50%);
        transition: transform 90ms ease;

      }
    }
    &.close{
      span{
      display:block;
      position: absolute;
      width:30px;
      height:2px;
      background-color: $gold;
      &:nth-of-type(1){
        top: 50%;
        transform: translateY(0%) rotate(45deg);
      }
      &:nth-of-type(2){
        top: 50%;
        transform: translateY(-50%) scale(0);
      }
      &:nth-of-type(3){
        top: 50%;
        transform: translateY(0%) rotate(-45deg);
      }
    }
  }
}

