/**
 * Modal Classes
 */
.modal {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: $white;
     z-index: 1000;
     display: none;

     &__container{
          padding: px2rem(25px);
          position: fixed;
          top: 0;
          bottom: 0;
          min-width: 100%;
          overflow: scroll;
          -webkit-overflow-scrolling: touch;
           @media screen and (max-width: $mobile-max) {
              padding: px2rem(40px) px2rem(10px) px2rem(10px) px2rem(10px);
          }
          .button-column{
            display: flex;
            flex-direction: column;
            align-items:stretch;
            height:100%;
            width:100%;
            &__button{
              display:flex;
              align-items:center;
              justify-content:center;
              border-top:1px solid $gold;
              border-bottom:1px solid $gold;
              border-left:none;
              border-right:none;
              background:none;
              flex: 1 1 auto;
              text-transform:uppercase;
              color:$gold;
              font-weight:500;
              &:first-child{
                border-top:none;
              }
              &:last-child{
                border-bottom:none;
              }
            }
          }
     }

     &__close{
          position: absolute;
          right: px2rem(22px);
          top: px2rem(27px);
          font-size: px2rem(36px);
          color: $gold;
          z-index: 1001;

          @media screen and (max-width: $mobile-max) {
               right: px2rem(12px);
               top: px2rem(12px);
               font-size: px2rem(22px);
          }
     }
}

/**
 * Prevents background scrolling when modal is open (class added via JS)
 */
body.modal-open{
     overflow: hidden;
     position: fixed;
}
