.promo-tile {
  float: left;
  height: 33.33vh;
  position: relative;
  text-align: center;
  width: 50%;


  @media screen and (max-width: $mobile-max) {
    height: 6rem;
    width: 100%;
  }

  .image {
    min-width:100%;
    min-height:100%;
    width: auto;
    height: auto;
    z-index: -1;
    position: absolute;
    object-fit: cover;
  }

  .hero__text {
    display: inline-block;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $white;
    padding: px2rem($normal-spacing) px2rem($l-spacing);
    @include corners(px2rem(100), px2rem(50));
    &:before, &:after {
      transition: opacity .3s ease-in;
      opacity: 0;
    }
    @media screen and (max-width: $tablet-max) {
      padding: 0;
    }
    h3 {
      color:#fff;
    }
  }

  h2 {
    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(24);
      line-height: 1.2;
    }
  }

  .availability {
    @media screen and (min-width: $desktop-min) {
      font-size: px2rem(15);
    }
    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(13);
    }
    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(11);
    }
  }

  .location {
    line-height: 1.5;
    @media screen and (min-width: $desktop-min) {
      font-size: px2rem(18);
    }
    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(15);
    }
    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(13);
    }
  }
}

.promo-tile__link {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  background-color: rgba($black, .3);
  transition: all .3s ease-in;

  &:hover {
    @media screen and (min-width: $desktop-min) {
      background-color: rgba($black, .6);
      position: absolute;

      .hero__text {
        &:before, &:after {
          opacity: 1;
        }
      }
    }
  }
}

.promo-tile--wide {
  @media screen and (min-width: $tablet-min) {
    float: none;
    width: 100%;
  }
}

.footer-promo-tile-heading-compliant {
  font-family: Gotham A,Gotham B,sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

