.region-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;

  @media screen and (max-width: $mobile-max) {
    flex-direction: column;
    text-align: center;
  }

  @media screen and (min-width: $desktop-min) {
    height: 30px;
  }

  &__item {
    display: inline-block;
    list-style-type: none;

    @media screen and (max-width: $mobile-max) {
      &:not(:last-child) {
        margin-bottom: px2rem($s-spacing);
      }
    }

    @media screen and (max-width: $tablet-max){
        height: 24px;
    }
  }
}