.rental-step {
  text-align: center;
  width: px2rem(223);

  &__heading {
    font-size: px2rem(18);

    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(16);
    }
    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(14);
    }
  }

  &__text {
    @include stanpro;
    color: $gray;
    font-size: px2rem(14);
    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(12);
    }
    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(12);
    }
  }
}