.rental-process {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  @media screen and (min-width: $desktop-min) {
    @include corners(px2rem(100), px2rem(45));
  }

  padding-bottom: px2rem($s-spacing);
  padding-top: px2rem($l-spacing);
  text-align: center;

  @media screen and (max-width: $tablet-max) {
    padding-bottom: 0;
    padding-top: 0;
  }

  &__heading {
    margin-bottom: px2rem($s-spacing);
    text-transform: uppercase;
    @media screen and (min-width: $desktop-min) {
      font-size: px2rem(32);
    }
    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(24);
    }
    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(18);
    }
  }

  &__tagline {
    margin-bottom: px2rem($l-spacing);
    @media screen and (min-width: $desktop-min) {
      font-size: px2rem(18);
    }
    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(14);
    }
    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(12);
    }
  }

  .rental-step {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: px2rem($l-spacing);
  }

}
