.search-heading {
	    display:none;
  &__count {
    font-size: px2rem(22);
    color: $gray;
    line-height: 1.1818181818;

  }

  @media screen and (max-width: $mobile-max) {
    text-align: center;
  }

}