.section-header {
  text-align: center;

  &__heading {
    text-transform: uppercase;
  }
  .commercial-page &{
  	&__heading {
  		p {
  			line-height: 1.4;
  		}
  	}
  }
  p{
    @media screen and (max-width:$mobile-max){
      font-size: px2rem(12);
    }
  }
}

.section__text{
  line-height: 1.4;
}