.side-menu {
  text-align: center;

  &__headline {
    @media screen and (max-width: $mobile-max) {
      display: none;

      ~ .side-menu__contact {
        margin-top: px2rem($s-spacing);
      }
    }
  }

  .side-incentive{
        font-size: px2em(12, 16);
        @include gotham-book;
        text-transform: uppercase;
        display: inline-block;
        padding: 0.1875rem 0.3125rem;
        margin-bottom:0.75rem;
        color: $gold;
        @media screen and (max-width: $mobile-max) {
          color: $gold;
        }
  }

  &__type {
    margin-bottom: px2rem($xxs-spacing);
  }
  &__fee{
      @include stanpro;
    font-size: px2rem(13);
    padding-bottom: px2rem($normal-spacing);
    @media screen and (max-width:$tablet-max){
      font-size: px2rem(13);
    }
  }
  &__size,
  &__number,
  &__availability {
    padding-bottom: px2rem($normal-spacing);

    @media screen and (max-width: $tablet-max) {
      padding-bottom: px2rem($normal-spacing);
    }

    @media screen and (max-width: $mobile-max) {
      padding-bottom: px2rem($s-spacing);
    }
  }
  &__rooms{
    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(13);
    }
  }
  &__contact {
    //display: inline-block;
    text-align: center;
    // margin-bottom: 0.75rem;
    @media screen and (max-width: $tablet-max) {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    @media screen and (max-width: $mobile-max) {
      flex-direction: column;
      align-items: center;
    }
  }

  .hours,
  .phone--with-icon,
  .address--with-icon {
    margin-bottom: px2rem($s-spacing);
    text-align: left;

    @media screen and (max-width: $mobile-max) {
      margin-bottom: px2rem($s-spacing);
      text-align: center;
    }
  }

  .phone--with-icon,
  .address--with-icon {
    @media screen and (max-width: $tablet-max) and (min-width: $tablet-min) {
      //margin-right: px2rem($l-spacing);
      width: 100%;
      text-align: center;
    }
  }

  .phone--with-icon{
    display: inline-block;
    margin-bottom: 1.5625rem;
    &:hover, &:active, &:visited {
      color: #cc9f26;
    }
  }

  .link--with-arrow {
    display: block;
    padding-bottom: px2rem($normal-spacing);

    @media screen and (max-width: $mobile-max) {
      padding-bottom: 0;
    }
  }

  .button {
    margin-bottom: px2rem($xs-spacing);
    width: 100%;
    margin-left: 0;

    @media screen and (max-width: $tablet-max) {
      margin-bottom: px2rem($s-spacing);
    }

    @media screen and (max-width: $mobile-max) {
      margin-bottom: px2rem($xs-spacing);
      font-size: px2em(10, 16);
    }
  }

  a:not(.button) {
    text-decoration: underline;
  }

}

.side-menu-trigger {
  position: absolute;
  top: 0;
  width: 100%;
  height: px2rem(98);

  .unit-page & {
    top: -126.5px;
  }
}

.side-menu-end-trigger {
  position: absolute;
  top: bottom;
  width: 100%;
  height: px2rem(200);
}

h1.unit-header-main {
   font-family: Gotham A,Gotham B,sans-serif;
   font-weight: 400;
   color: #000000;
   font-size: 1.55rem;
 }

.unit-header-size {
  color: #cc9f26;
}

.unit-header-price {
  font-size: 1.45rem;
}

.unit-header-note {
  font-size: 1rem;
}
