.social-menu {
  background-color: $gold;
  padding: px2rem($normal-spacing);

  @media screen and (max-width: $tablet-max) {
    padding: px2rem($s-spacing);
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

    @media screen and (max-width: $mobile-max) {
      flex-direction: column;
    }
  }

  li {
    //TODO make global once approved
    //color: $white;
    color:#000;
    padding-left: px2rem($l-spacing);
    padding-right: px2rem($l-spacing);

    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(14);
    }

    @media screen and (max-width: $mobile-max) {
      padding-bottom: px2rem(10);
      padding-top: px2rem(10);
      text-align: center;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
