.sort-options {
  text-align: left;
  display: inline-block;

  label {
    margin: 0;
    font-weight: 400;
  }

  @media screen and (max-width: $mobile-max) {
    text-align: center;
  }

  &__label {
    @include gotham-book;
    font-size: px2rem(11);
    text-transform: uppercase;
    //TODO global if approved
    //color: $gray;
    color: #000;
    margin-bottom: px2rem($xs-spacing);
  }
}
