.sub-nav-heading {
  text-align: center;
  width: px2em(400, 16);
  line-height: 1.5;

  &__top {
    @include stanpro;
    color: $gray;
    text-transform: capitalize;

    & > * {
      &:first-child {
        padding-right: px2em($xxs-spacing, 16);
      }

      &:nth-child(2) {
        border-left: 1px solid $gold;
        text-transform:uppercase;
        @include gotham-book;
        padding-left: px2em($xxs-spacing, 16);
      }
    }
    @media screen and (min-width: $desktop-min) {
      font-size: px2rem(15);
    }
    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(15);
    }
    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(13);
    }
  }

  &__bottom {
    @include stanpro;
    font-size: px2em(11, 16);
    color: $gray;
    white-space: nowrap;
    display:none;
    @media screen and (min-width: $desktop-min) {
      font-size: px2rem(14);
    }
    @media screen and (max-width: $tablet-max) {
      font-size: px2rem(12);
    }
    @media screen and (max-width: $mobile-max) {
      font-size: px2rem(11);
    }
    & > *:first-child {
      padding-right: px2em($s-spacing, 16);
    }
  }

  @media screen and (max-width: $tablet-max) {
    &__bottom {
      & > *:first-child {
        display: none;
      }
    }
  }

}
