.sub-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  & &__actions {
    width: px2em(330, 16);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (max-width: $tablet-max) {
    & &__actions {
      width: px2em(200, 16);
    }
  }
}
