.sub-nav-bar {
  height: px2em(54, 16);
  background-color: $lighter-gray;
  padding-top: 0.4rem;
  align-content: center;flex-direction: row;display: flex;justify-content: center;
  .fixed-sub-nav.entered &{
    padding-top: 0.5rem;
  }
  @media screen and (max-width: $mobile-max) {
    display: none;
    .sub-nav-heading {
      display: none;
    }

  }
}

.sub-nav-wrapper{
  z-index:90;
}

.sub-nav-heading-mobile {
  display: none;
}

@media screen and (min-width: $tablet-min) {
  .sub-nav-bar {
    //margin-top: px2rem($l-spacing);
  }

  .sub-nav-placeholder {
    margin-top: px2rem(200);
    @media screen and (max-width: $tablet-max){
      margin-top: px2rem(170);
    }
  }

  .fixed-sub-nav {
    transition: background-color 240ms ease-out, padding-top 240ms ease-out;
    width: 100vw;
    top: 39px;
    z-index: 101;
    position: -webkit-sticky;
    position: sticky;
    margin-bottom: 5.2rem;

    * {
      transition: margin 240ms ease-out, height 240ms ease-out;
    }
    .nav-container{
      z-index: 100;
    }
    &.entered {
      font-size: px2em(50, 60);
      background-color: $lighter-gray;
      padding-top: px2rem($xxs-spacing);
      .nav-container {
        font-size:px2em(13, 16);
        height:30px;
      }
      * {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
}



@media screen and (max-width: $mobile-max) {
  .sub-nav-placeholder {
    margin-top: px2rem(50);
  }

  .fixed-sub-nav {
    .nav-container {
      position: fixed;
      top: 0;
      z-index: 100;
      background-color: $white;
    }
    &.entered .sub-nav-bar{
      visibility: hidden;
    }
  }

  .sub-nav-heading-mobile {
    position: static;
    transform: none;
    width: auto;
    margin: 0 auto;
  }
  .sub-nav-bar {
    position: fixed;
    bottom: 0;
    z-index: 1;
  }
}

@include breakpoint-range($screen-md-min, 1369px) {
  .fixed-sub-nav {
    top: 31px;
  }
}
