.text-overlap-image {
  position: relative;
  text-align: center;

  .text-overlap-image__heading {
    text-transform:uppercase;
    margin-bottom: px2rem($normal-spacing);

    @media screen and (max-width: $mobile-max) {
      margin-left: auto;
      margin-right: auto;
      width: px2rem(265);
    }
  }

  &__container {
    @extend .clearfix;
    //margin-left: percentage(1/12);
    //width: percentage(10/12);

    @media screen and (max-width: $tablet-max) {
      //margin-left: 0;
      //width: percentage(11/12);
    }

    @media screen and (max-width: $mobile-max) {
      height: auto;
      margin-bottom: px2rem($normal-spacing);
      width: 100%;
    }
  }

  .image {
    //float: left;
    margin-bottom: px2rem($normal-spacing);
    //width: px2rem(491);
    //z-index: -1;
  @extend .col-lg-6;
  @extend .col-sm-12;
    @media screen and (max-width: $tablet-max) and (min-width: $tablet-min) {
      margin-bottom: px2rem($l-spacing);
      width: 100%;
    }

    @media screen and (max-width: $mobile-max) {
      margin-bottom: 0;
      //width: px2rem(270);
    }
  }

  .text-overlap-image__text {
    text-align: left;
    bottom: px2rem(50);
    font-size:px2rem(28);
    //left: percentage(6/12);
    //position: absolute;
    //width: px2rem(590);

    @media screen and (max-width: $tablet-max) {
      //width: px2rem(430);
    }

    @media screen and (max-width: $mobile-max) {
      bottom: px2rem($normal-spacing);
      font-size: 1.25rem;
      width: 94%;
      margin: 0 auto;
      float: none;
    }
  }
}

.text-overlap-image--right {

  .text-overlap-image__container {
    //margin-left: percentage(2/12);

    @media screen and (max-width: $tablet-max) {
      //margin-left: percentage(1/12);
    }
  }

  .image {
    //float: right;
  }

  .text-overlap-image__text {
    //left: percentage(1/12);

    @media screen and (max-width: $mobile-max) {
      //left: 0;
    }
  }
}