.text-block {
  margin-bottom: px2rem($l-spacing);

  p {
    font-size: px2rem(14);
    line-height: 1.5;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h4 {
    margin-bottom: px2rem($normal-spacing);
  }

  @media screen and (max-width: $tablet-max) {
    text-align: center;
  }

  @media screen and (max-width: $mobile-max) {
    h4 {
      margin-bottom: 0;
    }

    p {
      font-size: px2rem(12);
    }
  }
}
