.three-sixty-block {
  margin-bottom: px2rem($l-spacing);
  h4 {
    margin-bottom: px2rem($normal-spacing);
  }
  &--tour {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
  }
  @media screen and (max-width: $tablet-max) {
    text-align: center;
  }

  @media screen and (max-width: $mobile-max) {
    h4 {
      margin-bottom: 0;
    }
  }
}
