.timeline {
  position: relative;

  .previous,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;

    @media screen and (max-width: $mobile-max) {
      top: 25%;
    }
  }

  .previous {
    left: px2rem(30);

    @media screen and (max-width: $tablet-max) {
      left: px2rem(10);
    }

    @media screen and (max-width: $mobile-max) {
      left: 0;
    }
  }

  .next {
    right: px2rem(30);

    @media screen and (max-width: $tablet-max) {
      right: px2rem(10);
    }

    @media screen and (max-width: $mobile-max) {
      right: 0;
    }
  }

  &__year {
    padding-bottom: px2rem($s-spacing);

    @media screen and (max-width: $mobile-max) {
      padding-bottom: 0;
      font-size:px2rem(36);
    }
  }

  &__sub-heading {
    margin-bottom: px2rem($normal-spacing);

    @media screen and (max-width: $tablet-max) {
      margin-bottom: px2rem($s-spacing);
    }

    @media screen and (max-width: $mobile-max) {
      border-bottom: 0;
      font-size:px2rem(16);
    }
  }

  &__text {
    @media screen and (max-width: $mobile-max) {
      text-align: center;
       font-size:px2rem(14);
       width:94%;
       margin:0 auto;
    }
  }

  .image {
    @media screen and (max-width: $mobile-max) {
      height: px2rem(198);
    }
  }
}

.timeline-pages {
  overflow: hidden;
  position: relative;
  height: px2rem(560);

  @media screen and (max-width: $tablet-max) {
    height: px2rem(380);
  }

  @media screen and (max-width: $mobile-max) {
    //position: static;
    height: auto;
  }
}

.timeline-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  height: 0;

  &.active {
    opacity: 1;
    visibility: visible;
    height: auto;
  }

  @media screen and (max-width: $mobile-max) {
    position: static;
  }
}

.timeline-page__header {
  @media screen and (max-width: $mobile-max) {
    position: relative;
    text-align: center;
    //top: -60%;
    width: 100%;
  }
}

.timeline-page__half {
  position: absolute;
  top: 0;
  width: 50%;
  height: px2rem(560);
  transition: transform 0.75s;

  @media screen and (max-width: $tablet-max) {
    height: px2rem(380);
  }

  @media screen and (max-width: $mobile-max) {
    height: auto;
    width: 100%;
    position: static;
  }

  &--left {
    left: 0;
    transform: translate3d(-32.4vh, 100%, 0);
  &:after{
      content:'';
      display:block;
      position:absolute;
      height:35rem;
      width:100%;
      background:rgba(0,0,0,0.3);
    }
    @media screen and (max-width: $mobile-max) {
      left: auto;
      transform: translate3d(-150%, -100%, 0);
    }
  }

  &--right {
    background-color: #fafafa;
    left: 50%;
    transform: translate3d(32.4vh, -100%, 0);

    @media screen and (max-width: $mobile-max) {
      left: auto;
      top: 50%;
      transform: translate3d(150%, 100%, 0);
      height:auto;
    }
  }

  .timeline-page.active & {
    transform: translate3d(0, 0, 0);
  }
}


.timeline-page__skewed {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 140%;
  height: 100%;

  @media screen and (max-width: $mobile-max) {
    position: static;
    width: 100%;
  }

  .timeline-page__half--left & {
    left: -40%;
  }

  .timeline-page__half--right & {
    right: -40%;
  }
}

.timeline-page__content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #222;
  transition: transform 1s, opacity 1s;

  @media screen and (max-width: $mobile-max) {
    position: static;
  }

  .timeline-page__half--left & {
    transform-origin: 100% 0;
  }

  .timeline-page__half--right & {
    padding-left: px2rem($l-spacing);
    padding-top: px2rem(131);
    transform-origin: 0 100%;
    width: percentage(5/12);

    @media screen and (max-width: $tablet-max) {
      padding-top: px2rem($s-spacing);
      padding-left: px2rem($normal-spacing);
      width: percentage(6/12);
    }

    @media screen and (max-width: $mobile-max) {
      padding-left: 0;
      padding-top: 0;
      width: 100%;
      padding-bottom: 30px;
    }
  }

  .timeline-page.inactive & {
    opacity: 0.5;
    transform: skewX(0deg) scale(0.95);
  }
}

