$top-nav-base-font: 16;
$top-nav-base-font-bg: 13;

.nav-container {
  font-size: px2rem($top-nav-base-font);
   @media screen and (max-width: $tablet-max) {
          .top-nav--light{
            color: $black;
          }
        }
 //sets min font size
  @media (max-width: font-size-breakpoint(14px, $desktop-layout, 16px)) {
        font-size: 10px;
      }
  width: 100%;
  transition: background 240ms ease-out, font-size 240ms ease-out;

  &.nav-container--background {
    background: $white;
    font-size: px2rem($top-nav-base-font-bg);
      @media (max-width: font-size-breakpoint(14px, $desktop-layout, 16px)) {
        font-size: 10px;
      }
    .top-nav {
      ul {
        margin-top: px2rem($xxs-spacing);
        margin-bottom: px2rem($xxs-spacing);
      }

      li {
        @media screen and (min-width: $tablet-min) {
          height: px2rem(30);
        }
      }
      &--light {
        color: $black;
      }
    }
  }

  &.nav-container--transparent, &.fixed-nav {
    z-index: 2;
    position: fixed;
    top: 0;
    max-width: 100vw;
    @media screen and (max-width: $tablet-max) {
      background:$white;
    }
  }
}

.top-nav {
  width: px2rem(1380);
  margin: 0 auto;
  transition: color 0.5s ease-out;

  &--light {
    color: $white;
  }

  .desktop {
    transition: margin 0.5s ease-out;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    z-index:100;
  }

  .mobile-nav {
    display: none;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: px2em(50, $top-nav-base-font);

    &.desktop-menu-hide {
      display: none;
    }

    &.mobile-menu-hide, &.tablet-menu-hide {
      display: flex;
    }
  }

  // @media screen and (min-width: $tablet-min) and (max-width: $tablet-max) {
  //   width: px2rem(740);
  // }

  @media (max-width: $tablet-max) {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;

    .mobile-nav{
      z-index:100;
      .mobile-toggle.close{
        z-index:110;
      }
    }

    li {
      height: px2em(35, $base-font-size);

      &.desktop-menu-hide {
        display: flex;
      }

      &.tablet-menu-hide {
        display: none;
      }
    }
  }

   @media (max-width: $mobile-max) {
      li {
        &.mobile-menu-hide {
          display: none;
        }
    }
   }
}

.nav-placeholder {
  margin-top: px2rem(50 + $l-spacing);
}
