<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2><?php echo ($this->cmd=='add')?'Add New Product Q&A':'Edit Product Q&A'?></h2>

			<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
						<?php
						foreach ($this->errors as $error) {
							echo "<li>".$error."</li>";
						}
						?>
					</ul>
				</div>
			<?php } ?>

		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/qa/product-list"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>

	</div>

	<?php
	$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
	if ($settings_mapper->getValueByCode('product_qas_auto_email_response') == 'Enabled' && $this->item->email) {
	?>
		<div class="row">
			<div class="col-sm-12 text-danger bg-warning text-center m-b-20">
				<h4>Response will be emailed to: <?php echo $this->item->email?></h4>
			</div>
		</div>
	<?php } ?>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<?php echo $this->form?>
		</div>
	</div>

</div>

<script>
	$(document).ready(function() {

	});
</script>
