<div class="white-box">

	<div class="row">
		<div class="col-sm-8">
			<h2>View Product Q&A</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/qa/product-list"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<form method="post" action="/admin/qa/product-save" class="form">
				<input type="hidden" name="id" value="<?php echo $this->review->id?>">

				<table class="table table-striped">
					<tbody>
					<tr>
						<td>Name:</td>
						<td>
							<?php echo $this->qa->name?>
						</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>
							<?php echo $this->qa->email?>
						</td>
					</tr>
					<tr>
						<td>Question:</td>
						<td>
							<?php echo $this->qa->question?>
						</td>
					</tr>
					<tr>
						<td>Answer:</td>
						<td>
							<?php echo $this->qa->answer?>
						</td>
					</tr>
					<tr>
						<td>Status:</td>
						<td>
							<?php echo $this->qa->status?>
						</td>
					</tr>
					<tr>
						<td>Created:</td>
						<td>
							<?php echo ($this->qa->created)?$this->UTCtoTZ($this->qa->created,"M. j, Y g:ia",$this->site_timezone):""?>
						</td>
					</tr>

					<tr>
						<td>Is Spam?:</td>
						<td>
							<?php echo $this->qa->is_spam?>
						</td>
					</tr>

					</tbody>
				</table>

				<button type="submit" class="btn btn-primary">Save</button>
			</form>
		</div>
	</div>

</div>

