<?php
$variant_mapper = new Application_Model_Mapper_ProductVariant();
$product_image_mapper = new Application_Model_Mapper_ProductImage();
$variant_type_mapper = new Application_Model_Mapper_ProductVariantType();
?>

<div class="container checkout-wrapper">
	    <div class="page-header">
		    <div>
			    <h1 class="text-uppercase">Thank You For Your Order</h1>
			    <p>Your order has been received and a confirmation has been sent to your email address.</p>
		    </div>
	    </div>
	<div class="row">
		<form action="" class="form">
			<div class="col-sm-5">
				<h3 class="form__heading">Order Confirmation</h3>
				<p class="order-number"><strong>Order Number: <span class=""><?php echo $this->order_id?></span></strong></p>

				<p class="order-text">Your order has been received and will be processed within 2 business days.  An order confirmation with purchase details has been sent to your email account.</p>
			</div>
			<div class="col-sm-7">
				<h3 class="form__heading">Order Details</h3>
				<div class="products">
					<div class="products__summary">
						<table class="table table--confirmation table-condensed">
							<thead>
							<tr>
								<th>QTY</th>
								<th>ITEM</th>
								<th class="text-right">Cost</th>
							</tr>
							</thead>
							<tbody>
							<?php
							$qty_total = 0;
							foreach ($this->products as $product) {
								$qty_total += $product->qty;
							?>
							<tr>
								<td><?php echo $product->qty?></td>
								<td>
									<?php echo $product->title?>
									<?php if (isset($product->variant_id)) {
										$variant = $variant_mapper->find($product->variant_id);
										$variant_type = $variant_type_mapper->find($variant->product_variant_type_id);
										?>
										(<?php echo $variant_type->title?>)
									<?php } ?>
								</td>
								<td class="text-right">$<?php echo number_format($product->paid_price,2)?></td>
							</tr>
							<?php } ?>

							<?php
							$totals = array();
							foreach ($this->totals as $total) {
								$totals[$total->code] = $total->amount;
								if ($total->code == 'discount' && (!$total->amount || $total->amount == "0.00")) continue;
								?>
								<tr class="text-right">
									<td colspan="2"><?php echo $total->title?></td>
									<td><?php echo ($total->code == 'discount')?"-":""?>$<?php echo $total->amount?></td>
								</tr>
							<?php } ?>

							</tbody>
						</table>
					</div>
				</div>
				<div class="custom-items m-t-20">
					<table class="table table-condensed">
						<?php if ($this->order_profile->custom_item_1 && $this->order_profile->custom_item_1_value) {?>
							<tr>
								<td><?php echo $this->order_profile->custom_item_1?></td>
								<td><?php echo $this->order_profile->custom_item_1_value?></td>
							</tr>
						<?php } ?>
						<?php if ($this->order_profile->custom_item_2 && $this->order_profile->custom_item_2_value) {?>
							<tr>
								<td><?php echo $this->order_profile->custom_item_2?></td>
								<td><?php echo $this->order_profile->custom_item_2_value?></td>
							</tr>
						<?php } ?>
						<?php if ($this->order_profile->custom_item_3 && $this->order_profile->custom_item_3_value) {?>
							<tr>
								<td><?php echo $this->order_profile->custom_item_3?></td>
								<td><?php echo $this->order_profile->custom_item_3_value?></td>
							</tr>
						<?php } ?>
						<?php if ($this->order_profile->custom_item_4 && $this->order_profile->custom_item_4_value) {?>
							<tr>
								<td><?php echo $this->order_profile->custom_item_4?></td>
								<td><?php echo $this->order_profile->custom_item_4_value?></td>
							</tr>
						<?php } ?>
						<?php if ($this->order_profile->custom_item_5 && $this->order_profile->custom_item_5_value) {?>
							<tr>
								<td><?php echo $this->order_profile->custom_item_5?></td>
								<td><?php echo $this->order_profile->custom_item_5_value?></td>
							</tr>
						<?php } ?>
						<?php if ($this->order_profile->custom_item_6 && $this->order_profile->custom_item_6_value) {?>
							<tr>
								<td><?php echo $this->order_profile->custom_item_6?></td>
								<td><?php echo $this->order_profile->custom_item_6_value?></td>
							</tr>
						<?php } ?>
					</table>
				</div>

				<div class="btn-menu">
					<div class="btn-menu__item">
						<button class="btn btn-ecommerce-primary btn--cms-default" onclick="window.print(); return false;">Print Order Details <i class="fa fa-print"></i></button>
					</div>
				</div>
			</div>
		</form>
	</div>

</div>
