<?php
$panels = array();
foreach ($this->content->panels as $panel) {
	$panels[$panel->sort_order] = $panel;
}
ksort($panels);
?>

<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>">
	<div class="panel-group" id="accordion-<?php echo $this->module->id?>" role="tablist" aria-multiselectable="true">
		<?php
		foreach ($panels as $panel) {
			$active = ($panel->sort_order == 0) ? true : false;
		?>
			<div class="panel panel-default">
				<div class="panel-heading <?php echo $this->content->title_position?>" role="tab" id="heading-<?php echo $this->module->id ?>-<?php echo $panel->sort_order ?>" style="
					<?php echo ($this->content->title_background_color)?"background-color:{$this->content->title_background_color};":""?>
					<?php
					if ($this->content->title_border_status == "Disabled") {
						echo "border:0;";
					}else {
						echo "border: {$this->content->title_border_width} solid {$this->content->title_border_color};";
					}
					?>
					<?php if (isset($this->content->title_padding) && $this->content->title_padding) {
						echo "padding: ";
						if ($this->content->title_padding == preg_replace("/[^0-9.]/", "", $this->content->title_padding)) $this->content->title_padding .= "px";
						echo $this->content->title_padding;
						echo ";";
					}?>
				">
					<h4 class="panel-title">
						<a role="button" class="<?php echo (!$active)?"collapsed":""?>" data-toggle="collapse" data-parent="#accordion-<?php echo $this->module->id ?>" href="#collapse-<?php echo $this->module->id ?>-<?php echo $panel->sort_order ?>" aria-expanded="<?php echo ($active)?"true":"false"?>" aria-controls="collapse-<?php echo $this->module->id ?>-<?php echo $panel->sort_order ?>"
						style="<?php echo ($this->content->title_text_color)?"color:{$this->content->title_text_color};":""?>
						<?php echo ($this->content->title_text_size)?"font-size:{$this->content->title_text_size};":""?>
						<?php echo ($this->content->title_line_height)?"line-height:{$this->content->title_line_height};":""?>
						">
							<?php echo $panel->label?>
						</a>
					</h4>
				</div>
				<div id="collapse-<?php echo $this->module->id ?>-<?php echo $panel->sort_order ?>" class="panel-collapse collapse <?php echo ($active)?"in":""?>" role="tabpanel" aria-labelledby="heading-<?php echo $this->module->id ?>-<?php echo $panel->sort_order ?>">
					<div class="panel-body" style="
						<?php
						if ($this->content->details_border_status == "Disabled") {
							echo "border:0;";
						}else {
							echo "border: {$this->content->details_border_width} solid {$this->content->details_border_color};";
						}
						?>
					">
						<?php echo $panel->text?>
					</div>
				</div>
			</div>
		<?php
		}
		?>
	</div>
</div>
