<?php
$item_col = ($this->content->post_limit)?(12/$this->content->post_limit):'';

$feed = new Cny_Model_BlogFeed($this->content->rss_url);

$truncate = new Cny_View_Helper_StringTruncate();

if (!isset($this->settings->carousel) || $this->settings->carousel == 'Disabled') {
	$panels = $feed->fetchFeed((int)$this->content->post_limit, $this->content->tags, $this->content->categories);
	//not sure if we should limit on the feed or here. I think maybe here so feed cache is not overly granular
	$panels = array_slice($panels,0,$this->content->post_limit);
	?>
	<div id="module-<?php echo $this->module->id ?>">
		<div class="row equal-height-columns <?php echo $this->config['div_class'] ?>">
			<?php
			foreach ($panels as $panel) {
				?>
				<div class="col-sm-<?php echo $item_col ?> equal-height-column">
					<div class="">
						<div class="">
							<?php if ($panel['thumbnail']) {?>
							<img src="<?php echo $panel['thumbnail'] ?>" alt="<?php echo htmlentities($panel['title']) ?>" class="img-responsive">
							<?php } ?>
							<div class="hide">
								<div class=""><?php echo $panel['title'] ?></div>
								<div class="text-center">
									<a href="<?php echo $panel['link'] ?>" target="_blank" class="readmore">Read More</a>
								</div>
							</div>
						</div>
						<div class="">
							<a class="text-black" href="<?php echo $panel['link'] ?>" target="_blank"><strong><?php echo $panel['title'] ?></strong></a>
						</div>
						<div class="">
							<?php echo $truncate->StringTruncate($panel['description_text'], 75) ?>

							<div>
								<a href="<?php echo $panel['link'] ?>" target="_blank" class="readmore">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<?php
			}
			?>
		</div>
	</div>
	<?php
}else {
	$panels = $feed->fetchFeed(null, $this->content->tags, $this->content->categories);
?>
<div id="module-<?php echo $this->module->id ?>">
	<div class="js-carousel carousel carousel--blog <?php echo (isset($this->settings->carousel_orientation))?$this->settings->carousel_orientation:''?>"
	     data-slides="<?php echo (isset($this->content->post_limit) && $this->content->post_limit)?$this->content->post_limit:''?>"
	     data-orientation="<?php echo (isset($this->settings->carousel_orientation))?$this->settings->carousel_orientation:''?>"
	     data-speed="<?php echo (isset($this->settings->transition_speed))?$this->settings->transition_speed*1000:''?>"
	>
		<?php
		foreach ($panels as $panel) {
			?>
			<div class="carousel__item">
				<div class="">
					<div class="">
						<?php if (isset($this->settings->carousel_thumbnails) && $this->settings->carousel_thumbnails == 'Enabled') {?>}
						<img src="<?php echo $panel['thumbnail'] ?>" alt="<?php echo htmlentities($panel['title']) ?>" class="img-responsive">
						<?php } ?>

						<?php /*
						<div class="hide">
							<div class=""><?php echo $panel['title'] ?></div>
							<div class="text-center">
								<a href="<?php echo $panel['link'] ?>" target="_blank" class="readmore">Read More</a>
							</div>
						</div>
                        */ ?>
					</div>
					<div class="">
						<a class="text-black" href="<?php echo $panel['link'] ?>" target="_blank"><strong><?php echo $panel['title'] ?></strong></a>
					</div>
					<div class="">
						<?php echo $truncate->StringTruncate($panel['description_text'], 75) ?>

						<div>
							<a href="<?php echo $panel['link'] ?>" target="_blank" class="readmore">Read More</a>
						</div>
					</div>
				</div>
				<?php if (isset($this->settings->carousel_orientation) && $this->settings->carousel_orientation) {?>
				<hr/>
				<?php } ?>
			</div>
		<?php
		} ?>
	</div>
</div>
<?php } ?>

<style>
	#module-<?php echo $this->module->id ?> hr {
		padding: auto 20px;
	}
	<?php if (isset($this->content->text_color) && $this->content->text_color) {?>
	#module-<?php echo $this->module->id ?>, #module-<?php echo $this->module->id ?> div, #module-<?php echo $this->module->id ?> a {
		color: <?php echo $this->content->text_color?>;
	}
	<?php } ?>
	<?php if (isset($this->content->readmore_color) && $this->content->readmore_color) {?>
	#module-<?php echo $this->module->id ?> a.readmore {
		color: <?php echo $this->content->readmore_color?>;
	}
	<?php } ?>

	#module-<?php echo $this->module->id ?> .vertical .carousel__item.slick-slide  {
		min-height: 200px;
	}
</style>
