<?php
$url_cleaner = new Cny_View_Helper_UrlCleaner();
?>
<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>">
	<a href="<?php echo $this->content->button_url?>" target="<?php echo $this->content->button_target?>"
	   class="btn btn-block <?php echo $this->content->button_class?> <?php echo $this->content->hover_effect?>"
		<?php echo ($this->content->onclick)?"onclick=\"{$this->content->onclick}\"":""?> style="
		<?php echo ($this->content->button_color)?"background-color:{$this->content->button_color};":""?>
		<?php echo ($this->content->text_color)?"color:{$this->content->text_color};":""?>
		<?php echo (isset($this->content->button_border_color) && isset($this->content->button_border_width) && $this->content->button_border_color && $this->content->button_border_width)?"border: {$this->content->button_border_width} solid {$this->content->button_border_color};":""?>
		<?php
		if ((isset($this->content->button_padding_tb) && $this->content->button_padding_tb) || (isset($this->content->button_padding_lr) && $this->content->button_padding_lr)) {
			echo "padding: ";
			echo (isset($this->content->button_padding_tb) && $this->content->button_padding_tb) ? $this->content->button_padding_tb." " : "inherit ";
			echo (isset($this->content->button_padding_lr) && $this->content->button_padding_lr) ? $this->content->button_padding_lr." " : "inherit ";
			echo ";";
		}?>
		<?php if (isset($this->content->button_width) && $this->content->button_width) {
			echo "width: ";
			if ($this->content->button_width == preg_replace("/[^0-9.]/", "", $this->content->button_width)) $this->content->button_width .= "px";
			echo $this->content->button_width;
			echo ";";
		}?>
	">
		<?php if (isset($this->content->image_path) && $this->content->image_path) {?>
			<img src="<?php echo $url_cleaner->image($this->content->image_path)?>" alt="<?php echo htmlentities($this->content->label)?>" class="img-responsive">
		<?php }else {?>
			<div class="hover-shade"><?php echo $this->content->label?></div>
		<?php } ?>
	</a>
</div>
<style>
	#module-<?php echo $this->module->id?> a:hover {
		color: <?php echo ($this->content->text_hover_color)?$this->content->text_hover_color:$this->content->text_color?> !important;
		background-color: <?php echo ($this->content->button_hover_color)?$this->content->button_hover_color:$this->content->button_color?> !important;
	}
	#module-<?php echo $this->module->id?> a:hover img {

	}
</style>
