<?php
$year = (isset($this->content->copyright_year)  && trim($this->content->copyright_year) != "")
	? $this->content->copyright_year : date("Y");
	
$color = (isset($this->content->message_text_color) && trim($this->content->message_text_color) != "")
	? 'style="color:' . $this->content->message_text_color . '"' : '';
	
$class = 'class="text-center"';
if(isset($this->content->message_text_position)
	&& trim($this->content->message_text_position) != ""
	&& trim($this->content->message_text_position) != "center") {

	$class = 'class="pull-' . $this->content->message_text_position . '"';
}

$copyright_content = 'off';
if(isset($this->content->copyright_content)
&& $this->content->copyright_content == "Enabled") {
        $copyright_content = 'on';
}
?>
<?php if($copyright_content == 'on'): ?>
	<div class="row">
		<div <?php echo $class; ?> <?php echo $color; ?>>
			<i class="fa fa-copyright"></i>
			<?php echo $year; ?>
			<?php if(isset($this->content->message_text_url) && trim($this->content->message_text_url) != ""): ?>
				<a <?php echo $color; ?> target="_blank" href="<?php echo isset($this->content->message_text_url) ? $this->content->message_text_url : ""; ?>">
			<?php endif; ?>
			<?php echo isset($this->content->message_text) ? $this->content->message_text : ""; ?>
			<?php if(isset($this->content->message_text_url) && trim($this->content->message_text_url) != ""): ?>
				</a>
			<?php endif; ?>
		</div>
	</div>
<?php endif; ?>