<?php
$url_cleaner = new Cny_View_Helper_UrlCleaner();
?>
<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>">
	<div class="cta_module-image_box thumbnail-img ">

        <div class="<?php echo (isset($this->wireframe_settings->gray_box_status) && $this->wireframe_settings->gray_box_status == 'Disabled')?'disable-':''?>wireframe wireframe-cta_image" style="
	        <?php echo (isset($this->wireframe_settings->width) && $this->wireframe_settings->width)?"min-width: {$this->wireframe_settings->width}px; width: {$this->wireframe_settings->width}px;":''?>
	        <?php echo (isset($this->wireframe_settings->height) && $this->wireframe_settings->height)?"min-height: {$this->wireframe_settings->height}px; height: {$this->wireframe_settings->height}px;":''?>
		">
	        <label><?php echo ($this->module->label)?$this->module->label:"CTA"?> Image</label>
        </div>

        <div class="text-center wireframe-cta_btn" style="margin-top:10px;">
	        <a class="btn-u btn-u-lg" href="#"><label><?php echo ($this->module->label)?$this->module->label:"CTA"?> Button</label></a>
        </div>

	</div>
</div>
