<?php
$panels = array();
if (isset($this->content->panels)) {
	foreach ($this->content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

$vp = new Cny_Model_VideoParser();
$url_cleaner = new Cny_View_Helper_UrlCleaner();
?>
<!--Enhanced Slider-->
<div class="rev_slider_wrapper <?php echo ($this->content->fullscreen == 'on')?"fullscreen-container":""?> m-b-50 <?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>">
	<!-- the ID here will be used in the inline JavaScript below to initialize the slider -->
	<div id="carousel-<?php echo $this->module->id?>" class="rev_slider <?php echo ($this->content->fullscreen == 'on')?"fullscreenbanner":""?>" data-version="5.4.5" style="display:none"
	     data-speed="<?php echo ($this->content->transition_speed * 1000)?>"
	     data-fullscreen="<?php echo $this->content->fullscreen?>"
	     data-height="<?php if ($this->content->height) echo $this->content->height; elseif (isset($this->wireframe_settings->height) && $this->wireframe_settings->height) echo $this->wireframe_settings->height; else echo $this->content->height?>"
	>
		<ul>
			<?php
			$active = "active";
			for ($i=1; $i<5; $i++) {
				?>
				<!-- BEGIN SLIDE -->
				<li class="<?php echo $active ?>" data-transition="fade"
				    data-slotamount="5"
				    data-masterspeed="1000"
				    data-title="Slide <?php echo $i ?>"
				    data-mediafilter="">

					<div class="wireframe wireframe-carousel" style="
						<?php echo (isset($this->wireframe_settings->width) && $this->wireframe_settings->width)?"min-width: {$this->wireframe_settings->width}px; width: {$this->wireframe_settings->width}px;":''?>
						<?php echo (isset($this->wireframe_settings->height) && $this->wireframe_settings->height)?"min-height: {$this->wireframe_settings->height}px; height: {$this->wireframe_settings->height}px;":''?>
					">
					</div>

					<!-- LAYER -->
					<div class="tp-caption re-title-v1 sft start"
					     data-x="center"
					     data-hoffset="0"
					     data-y="100"
					     data-speed="1500"
					     data-start="0"
					     data-easing="Back.easeInOut"
					     data-endeasing="Power1.easeIn"
					     data-endspeed="300"
					     data-blendmode=""
					     data-frames='[{"delay": 500, "speed": 300, "from": "opacity: 0", "to": "opacity: 1"},
                                      {"delay": "wait", "speed": 300, "to": "opacity: 0"}]'
					>
						<label><?php echo ($this->module->label)?$this->module->label:"Hero Slide #$i"?></label>
					</div>
					<!-- END LAYER -->


					<?php if ($i == 1 || $i == 2) { ?>
						<!-- LAYER -->
						<div class="tp-caption re-text-v1 sft"
						     data-x="center"
						     data-hoffset="0"
						     data-y="200"
						     data-speed="1400"
						     data-start="0"
						     data-easing="Power4.easeOut"
						     data-endspeed="300"
						     data-endeasing="Power1.easeIn"
						     data-captionhidden="off"
						     style="z-index: 6"
						     data-blendmode=""
						>
							Some Text on Slide #<?php echo $i ?>
						</div>
						<!-- END LAYER -->
					<?php } ?>

					<?php if ($i == 2 || $i == 4) { ?>
						<!-- LAYER -->
						<div class="tp-caption sft"
						     data-x="center"
						     data-hoffset="0"
						     data-y="320"
						     data-speed="1600"
						     data-start="0"
						     data-easing="Power4.easeOut"
						     data-endspeed="300"
						     data-endeasing="Power1.easeIn"
						     data-captionhidden="off"
						     style="z-index: 6">
							<a class="btn-u btn-u-lg text-center " href="#">Button</a>
						</div>
						<!-- END LAYER -->
					<?php } ?>

				</li><!-- END SLIDE -->

			<?php
				$active = "active";
			}
			?>
		</ul>
	</div>
</div>
