<?php
$panels = array();
if (isset($this->content->panels)) {
	foreach ($this->content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

$vp = new Cny_Model_VideoParser();
$url_cleaner = new Cny_View_Helper_UrlCleaner();
?>
<div id="module-<?php echo $this->module->id?>" class="hero hero--slider">
	<div class="js-carousel carousel carousel--hero <?php echo (isset($this->settings->fullscreen) && $this->settings->fullscreen == 'yes')?"carousel--hero-fullscreen":""?> <?php echo $this->config['div_class']?>"
	     data-speed="<?php echo (isset($this->settings->transition_speed) && $this->settings->transition_speed)?$this->settings->transition_speed*1000:''?>"
	     data-fade="<?php echo (isset($this->settings->transition))?$this->settings->transition:''?>"
	     data-easing="<?php echo (isset($this->settings->transition_easing))?$this->settings->transition_easing:''?>"
	>
	<?php
	$first_slide_classes = 'animated fadeIn';
	for ($i=1; $i<5; $i++) {
		?>
		<div class="carousel__item <?php echo $first_slide_classes; ?>">
			<div class="carousel__image" id="carousel-frame-<?php echo $this->module->id.'_'.$i?>">
				<div class="<?php echo (isset($this->wireframe_settings->gray_box_status) && $this->wireframe_settings->gray_box_status == 'Disabled')?'disable-':''?>wireframe wireframe-hero_slider" style="
					<?php echo (isset($this->wireframe_settings->width) && $this->wireframe_settings->width)?"min-width: {$this->wireframe_settings->width}px; width: {$this->wireframe_settings->width}px;":''?>
					<?php echo (isset($this->wireframe_settings->height) && $this->wireframe_settings->height)?"min-height: {$this->wireframe_settings->height}px; height: {$this->wireframe_settings->height}px;":''?>
				">
					<label><?php echo ($this->module->label)?$this->module->label:"Hero Slider Slide #$i"?></label>
				</div>
			</div>
		</div>
		<?php
		$first_slide_classes = '';
	} ?>
	</div>
</div>

<div class="carousel-controls carousel-controls--hero hidden-xs">
	<div class="carousel-controls__prev"><i class="fa fa-2x text-black fa-angle-left"></i></div>
	<div class="carousel-controls__next"><i class="fa fa-2x text-black fa-angle-right"></i></div>
</div>
