<?php
$url_cleaner = new Cny_View_Helper_UrlCleaner();
?>
<div class="<?php echo $this->config['div_class']?> <?php echo ($this->content->alignment)?$this->content->alignment:''?>" id="module-<?php echo $this->module->id?>">
	<div class="wireframe wireframe-icon" style="
		<?php echo (isset($this->wireframe_settings->width) && $this->wireframe_settings->width)?"min-width: {$this->wireframe_settings->width}px; width: {$this->wireframe_settings->width}px;":''?>
		<?php echo (isset($this->wireframe_settings->height) && $this->wireframe_settings->height)?"min-height: {$this->wireframe_settings->height}px; height: {$this->wireframe_settings->height}px;":''?>
	">
		<label><?php echo ($this->module->label)?$this->module->label:"Icon"?></label>
	</div>
</div>
