<?php
$item_col = ($this->content->per_row_count)?(12/$this->content->per_row_count):'';
$item_col_mobile = ($this->content->per_row_count_mobile)?(12/$this->content->per_row_count_mobile):'';

$panels = array();
foreach ($this->content->panels as $panel) {
	$panels[$panel->sort_order] = $panel;
}
ksort($panels);

$url_cleaner = new Cny_View_Helper_UrlCleaner();

//we have different gallery types
switch ($this->settings->gallery_type) {
	case "mosaic":
?>
		<div id="module-<?php echo $this->module->id?>">
			<div class="row gallery-row grid-masonry <?php echo $this->config['div_class']?>">
			<?php
			foreach ($panels as $panel) {
			?>
				<div class="col-sm-<?php echo $item_col?> col-xs-<?php echo $item_col_mobile?> grid-masonry__item gallery__item">
					<a href="<?php echo $panel->image_path?>" class="js-trigger-colorbox" rel="gallery-<?php echo $this->module->id?>" title="<?php echo htmlentities($panel->caption)?>"><img class="img-responsive <?php echo $this->settings->image_class?>" src="<?php echo $url_cleaner->image($panel->image_path)?>" alt="<?php echo htmlentities($panel->label)?>"></a>
				</div>
			<?php
			}
			?>
			</div>
		</div>
<?php
		break;
	case "grid_square_thumbs":
		?>
		<div id="module-<?php echo $this->module->id?>">
			<div class="row gallery-row gallery equal-height-columns <?php echo $this->config['div_class']?>">
				<?php
				foreach ($panels as $panel) {
					$thumbnail = str_ireplace("userFiles/uploads","userThumbs",$panel->image_path);
					?>
					<div class="col-sm-<?php echo $item_col?> col-xs-<?php echo $item_col_mobile?> gallery__item equal-height-column">
						<a href="<?php echo $panel->image_path?>" class="js-trigger-colorbox" rel="gallery-<?php echo $this->module->id?>" title="<?php echo htmlentities($panel->caption)?>"><img class="img-responsive center-block <?php echo $this->settings->image_class?>" src="<?php echo $url_cleaner->image((file_exists($_SERVER['DOCUMENT_ROOT'].$thumbnail))?$thumbnail:$panel->image_path)?>" alt="<?php echo htmlentities($panel->label)?>"></a>
					</div>
					<?php
				}
				?>
			</div>
		</div>
	<?php
		break;
	case "carousel":
	?>
		<div id="module-<?php echo $this->module->id?>">
			<div class="js-carousel carousel carousel--single m-b-20">
				<?php
				foreach ($panels as $panel) {
					$thumbnail = str_ireplace("userFiles/uploads","userThumbs",$panel->image_path);
					?>
					<div class="carousel__item">
						<a href="<?php echo $panel->image_path?>" class="js-trigger-colorbox" rel="gallery-<?php echo $this->module->id?>" title="<?php echo htmlentities($panel->caption)?>"><img class="img-responsive center-block <?php echo $this->settings->image_class?>" src="<?php echo $url_cleaner->image((file_exists($_SERVER['DOCUMENT_ROOT'].$thumbnail))?$thumbnail:$panel->image_path)?>" alt="<?php echo htmlentities($panel->label)?>" /></a>
					</div>
				<?php } ?>
			</div>
			<div class="js-carousel carousel carousel--thumbs">
				<?php
				foreach ($panels as $panel) {
					$thumbnail = str_ireplace("userFiles/uploads","userThumbs",$panel->image_path);
					?>
					<div class="carousel__item">
						<img class="img-responsive <?php echo $this->settings->image_class?>" src="<?php echo $url_cleaner->image((file_exists($_SERVER['DOCUMENT_ROOT'].$thumbnail))?$thumbnail:$panel->image_path)?>" alt="<?php echo htmlentities($panel->label)?>" />
					</div>
				<?php } ?>
			</div>
		</div>
	<?php
		break;
	case "grid":
	default;
?>
<div id="module-<?php echo $this->module->id?>">
	<div class="row gallery-row gallery equal-height-columns <?php echo $this->config['div_class']?>">
		<?php
		foreach ($panels as $panel) {
		?>
			<div class="col-sm-<?php echo $item_col?> col-xs-<?php echo $item_col_mobile?> gallery__item equal-height-column">
				<a href="<?php echo $panel->image_path?>" class="js-trigger-colorbox" rel="gallery-<?php echo $this->module->id?>" title="<?php echo htmlentities($panel->caption)?>"><img class="img-responsive center-block <?php echo $this->settings->image_class?>" src="<?php echo $url_cleaner->image($panel->image_path)?>" alt="<?php echo htmlentities($panel->label)?>"></a>
			</div>
		<?php
		}
		?>
	</div>
</div>
<?php } ?>
