<?php
$url_cleaner = new Cny_View_Helper_UrlCleaner();
?>
<div class="thumbnails-v1 <?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>">
	<div class="thumbnail-img">
		<div class="<?php echo (isset($this->wireframe_settings->gray_box_status) && $this->wireframe_settings->gray_box_status == 'Disabled')?'disable-':''?>wireframe wireframe-image" style="
			<?php echo (isset($this->wireframe_settings->width) && $this->wireframe_settings->width)?"min-width: {$this->wireframe_settings->width}px; width: {$this->wireframe_settings->width}px;":''?>
			<?php echo (isset($this->wireframe_settings->height) && $this->wireframe_settings->height)?"min-height: {$this->wireframe_settings->height}px; height: {$this->wireframe_settings->height}px;":''?>
		">
			<label><?php echo ($this->module->label)?$this->module->label:"Image"?></label>
		</div>
	</div>
	<div class="caption">
		<?php echo $this->content->caption?>
	</div>
</div>
