<?php
use Cocur\Slugify\Slugify;
$slugify = new Slugify();

$panels = array();
foreach ($this->content->panels as $panel) {
	$panels[$panel->sort_order] = $panel;
}
ksort($panels);

$codes = array();
?>
<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>">

	<div class="<?php echo (isset($this->wireframe_settings->gray_box_status) && $this->wireframe_settings->gray_box_status == 'Disabled')?'disable-':''?>wireframe wireframe-form" style="
		<?php echo (isset($this->wireframe_settings->width) && $this->wireframe_settings->width)?"min-width: {$this->wireframe_settings->width}px; width: {$this->wireframe_settings->width}px;":''?>
		<?php echo (isset($this->wireframe_settings->height) && $this->wireframe_settings->height)?"min-height: {$this->wireframe_settings->height}px; height: {$this->wireframe_settings->height}px;":''?>
	">
		<label><?php echo ($this->module->label)?$this->module->label:"Form"?></label>

		<!--
		<div class="row">
			<div class="form-group">
				<input type="text" class="form-control">
			</div>
		</div>

		<div class="row">
			<div class="form-group">
				<input type="text" class="form-control">
			</div>
		</div>
		-->

	</div>

	<div class="wireframe wireframe-form_btn">
		<a class="btn-u btn-u-lg btn-default" href="#"><label>Submit Button</label></a>
	</div>

</div>
