<?php
$panels = array();
if (isset($this->content->panels)) {
	foreach ($this->content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

$url_cleaner = new Cny_View_Helper_UrlCleaner();
?>

<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>">
	<div id="carousel-<?php echo $this->module->id?>" class="bs-carousel carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<?php
			$active = "active";
			for ($i=1; $i<5; $i++) {
				?>
				<li data-target="#carousel-<?php echo $this->module->id?>" data-slide-to="<?php echo $i?>" class="<?php echo $active?>"></li>
				<?php
				$active = "";
			}
			?>
		</ol>

		<div class="carousel-inner" role="listbox">
			<?php
			$active = "active";
			for ($i=1; $i<5; $i++) {
				?>
				<div class="item <?php echo $active?>">
					<div class="wireframe wireframe-carousel" style="
						<?php echo (isset($this->wireframe_settings->width) && $this->wireframe_settings->width)?"min-width: {$this->wireframe_settings->width}px; width: {$this->wireframe_settings->width}px;":''?>
						<?php echo (isset($this->wireframe_settings->height) && $this->wireframe_settings->height)?"min-height: {$this->wireframe_settings->height}px; height: {$this->wireframe_settings->height}px;":''?>
					">
						<label><?php echo ($this->module->label)?$this->module->label:"Carousel Slide #$i"?></label>
					</div>
				</div>
				<?php
				$active = "";
			}
			?>
		</div>

	</div>
</div>
