<?php
$panels = array();
foreach ($this->content->panels as $panel) {
	$panels[$panel->sort_order] = $panel;
}
ksort($panels);
?>

<div class="<?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>">
	<ul class="nav nav-tabs" role="tablist">
	<?php
	foreach ($panels as $panel) {
		$active = ($panel->sort_order == 0) ? "active" : "";
	?>
		<li role="presentation" class="<?php echo $active?>"><a href="#tab-<?php echo $this->module->id?>-<?php echo $panel->sort_order?>" aria-controls="tab-<?php echo $this->module->id?>-<?php echo $panel->sort_order?>" role="tab" data-toggle="tab"><?php echo $panel->label?></a></li>
	<?php
	}
	?>
	</ul>

	<div class="tab-content">
		<?php
		foreach ($panels as $panel) {
			$active = ($panel->sort_order == 0) ? "active" : "";
		?>
			<div role="tabpanel" class="tab-pane <?php echo $active?>" id="tab-<?php echo $this->module->id?>-<?php echo $panel->sort_order?>">
				<?php echo $panel->text?>
			</div>
		<?php
		}
		?>
	</div>
</div>
