<div class="responsive-video <?php echo $this->config['div_class']?>" id="module-<?php echo $this->module->id?>">
<?php
$vp = new Cny_Model_VideoParser();
?>
	<div align="center" class="embed-responsive embed-responsive-16by9">
		<div class="<?php echo (isset($this->wireframe_settings->gray_box_status) && $this->wireframe_settings->gray_box_status == 'Disabled')?'disable-':''?>wireframe wireframe-video" style="
			<?php echo (isset($this->wireframe_settings->width) && $this->wireframe_settings->width)?"min-width: {$this->wireframe_settings->width}px; width: {$this->wireframe_settings->width}px;":''?>
			<?php echo (isset($this->wireframe_settings->height) && $this->wireframe_settings->height)?"min-height: {$this->wireframe_settings->height}px; height: {$this->wireframe_settings->height}px;":''?>
		">
			<label><?php echo ($this->module->label)?$this->module->label:"Video"?></label>
		</div>
	</div>
</div>
