<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2><?php echo ($this->cmd=='add')?'Add New Unit':'Edit Unit'?></h2>

			<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
						<?php
						foreach ($this->errors as $error) {
							echo "<li>".$error."</li>";
						}
						?>
					</ul>
				</div>
			<?php } ?>

		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/unit/list"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<h3>Unit: <?php echo $this->building->name?> - Unit <?php echo $this->unit->number?></h3>
            <?php if ($this->cmd !== 'add') { ?>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">Form</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="history-tab" data-toggle="tab" href="#history" role="tab" aria-controls="history" aria-selected="false">History</a>
                    </li>
                </ul>
            <?php } ?>
            <div class="tab-content">
                <div class="tab-pane active" id="form" role="tabpanel" aria-labelledby="form-tab">
                    <?php echo $this->form?>

                    <div id="image-block" class="hidden-xs m-t-30"></div>
                </div>
                <div class="tab-pane" id="history" role="tabpanel" aria-labelledby="history-tab">
	                <div id="history-block" class="hidden-xs m-t-30"></div>
                </div>
            </div>
		</div>
	</div>
</div>

<script>
    var unit_id = <?php echo $this->unit_id?>;
	$(document).ready(function() {
		loadView("image","view","");
		loadView("history","view","");

		$("#features").select2();
		$("#incentives").select2();
	});

	function loadView(section,action,id) {
		if (action == 'delete') {
			if (!confirm('Are you sure you want to delete this entry?')) {
				return false;
			}
		}

		$.get( "/admin/unit/"+section+"-"+action+"/unit_id/<?php echo $this->unit_id?>/id/"+id, function( data ) {
			$("#"+section+"-block").html( data );
			//initTinyMCE();
		});

		return false;
	}
</script>
