<?php
if ($this->dir == "DESC") $dir = "ASC";
else $dir = "DESC";
?>
<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2>Unit History</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="white-box">
			<div class="row">
				<div class="col-sm-10 hidden-xs">
					<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
				</div>
				<div class="col-sm-2 col-xs-12">
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<thead>
				<tr>
					<?php
					unset($_GET['sort']);
					unset($_GET['dir']);
					$qs = http_build_query($_GET);
					?>
					<th><a href="/admin/unit/history-view/unit_id/<?php echo $this->unit_id?>/sort/type/dir/<?php echo $dir?>?<?php echo $qs?>">Type</a></th>
					<th><a href="/admin/unit/history-view/unit_id/<?php echo $this->unit_id?>/sort/price/dir/<?php echo $dir?>?<?php echo $qs?>">Price</a></th>
					<th><a href="/admin/unit/history-view/unit_id/<?php echo $this->unit_id?>/sort/concession/dir/<?php echo $dir?>?<?php echo $qs?>">Concession</a></th>
					<th><a href="/admin/unit/history-view/unit_id/<?php echo $this->unit_id?>/sort/openhouse/dir/<?php echo $dir?>?<?php echo $qs?>">Open&nbsp;House</a></th>
					<th><a href="/admin/unit/history-view/unit_id/<?php echo $this->unit_id?>/sort/status/dir/<?php echo $dir?>?<?php echo $qs?>">Status</a></th>
					<th><a href="/admin/unit/history-view/unit_id/<?php echo $this->unit_id?>/sort/rentcafe_status/dir/<?php echo $dir?>?<?php echo $qs?>">RentCafe</a></th>
					<th><a href="/admin/unit/history-view/unit_id/<?php echo $this->unit_id?>/sort/created/dir/<?php echo $dir?>?<?php echo $qs?>">Date</a></th>
				</tr>
				</thead>
				<tbody>
				<?php
				foreach($this->list as $row) {
					?>
					<tr>
						<td><?php echo $row['type']?></td>
						<td><?php echo $row['price']?></td>
						<td><?php echo $row['concession']?></td>
						<td><?php echo $row['openhouse']?></td>
						<td><?php echo $row['status']?></td>
						<td><?php echo $row['rentcafe_status']?></td>
						<td><?php echo $row['created']?></td>
					</tr>
					<?php
				}
				?>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		$("#history-block a").off("click").on('click', function(){
			$.get($(this).attr("href"), function( data ) {
				$("#history-block").html( data );
			});

			return false;
		});
	});
</script>
