
<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="form-group col-sm-4">
					<label>Building:</label>
					<?php echo $this->formSelect('building', $this->building, array('class'=>'form-control'), array(""=>"All")+$this->buildings)?>
				</div>

				<div class="form-group col-sm-2">
					<label>Region:</label>
					<?php echo $this->formSelect('region', $this->region, array('class'=>'form-control'), array(""=>"All")+$this->regions)?>
				</div>
				<div class="form-group col-sm-2">
					<label>Neightborhood:</label>
					<?php echo $this->formSelect('neighborhood', $this->neighborhood, array('class'=>'form-control'), array(""=>"All")+$this->neighborhoods)?>
				</div>

				<div class="form-group col-sm-2">
					<label>Status:</label>
					<?php echo $this->formSelect('status', $this->status, array('class'=>'form-control'), array(""=>"All")+$this->statuses)?>
				</div>

				<div class="form-group col-sm-2">
					<label>Unit Type:</label>
					<?php echo $this->formSelect('unit_type', $this->unit_type, array('class'=>'form-control'), array(""=>"All","residential"=>"Residential","commercial"=>"Commercial","commercial_office"=>"Office","commercial_retail"=>"Retail","residential_rentals"=>"Rentals"))?>
				</div>

				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary">Search</button>
					<!--
					<label for="" class="checkbox-inline">
						<input type="checkbox" name="csv" value="1" class="exportcheck">
						Export
					</label>
					-->
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-10 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<div class="col-sm-2 col-xs-12">
				<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'units', 'new')) {?>
					<a href="/admin/unit/add" class="btn btn-primary">Add Unit</a>
				<?php } ?>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<?php
						unset($_GET['sort']);
						unset($_GET['dir']);
						$qs = http_build_query($_GET);
						?>
						<th><a href="/admin/unit/list/sort/building/dir/<?php echo $dir?>?<?php echo $qs?>">Building</a></th>
						<th><a href="/admin/unit/list/sort/number/dir/<?php echo $dir?>?<?php echo $qs?>">Unit</a></th>
						<th><a href="/admin/unit/list/sort/price/dir/<?php echo $dir?>?<?php echo $qs?>">Price</a></th>
						<th><a href="/admin/unit/list/sort/bedrooms/dir/<?php echo $dir?>?<?php echo $qs?>">Beds</a></th>
						<th><a href="/admin/unit/list/sort/bathrooms/dir/<?php echo $dir?>?<?php echo $qs?>">Baths</a></th>
						<th><a href="/admin/unit/list/sort/status/dir/<?php echo $dir?>?<?php echo $qs?>">Status</a></th>
						<th class="hidden-xs">Flags</th>
						<th class="hidden-xs">Type</th>
						<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'units', 'delete')) {?>
							<th class="text-center">Delete</th>
						<?php } ?>
						<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'units', 'edit')) {?>
							<th class="text-center">Edit</th>
						<?php } ?>
						<!--<th class="text-center">View</th>-->
					</tr>
					</thead>
					<tbody>
					<?php
					$open_house_mapper = new Custom_Model_Mapper_GfBuildingOpenHouse();
					$unit_incentive_mapper = new Custom_Model_Mapper_GfUnitIncentive();

					foreach($this->list as $key => $val) {
						$open_houses = $open_house_mapper->fetchByBuildingId($val['building_id']);
						$incentive = $unit_incentive_mapper->fetchNameByUnitId($val['id']);
						?>
						<tr>
							<td><?php echo $val['building_name']?></td>
							<td><?php echo $val['number']?></td>
							<td><?php echo $val['price']?></td>
							<td><?php echo $val['bedrooms']?></td>
							<td><?php echo $val['bathrooms']?></td>
							<td><?php echo $val['status']?></td>
							<td class="hidden-xs">
								<?php if ($val['featured'] == 'Yes') {?>
									<span class="fas fa-star" title="Featured"></span>
								<?php }else {?>
									<span class="fal fa-star" title="Not Featured"></span>
								<?php } ?>

								<?php if ($incentive) {?>
									<span class="fas fa-comment-dollar" title="Incentive"></span>
								<?php }else {?>
									<span class="fal fa-comment-dollar" title="No Incentive"></span>
								<?php } ?>

								<?php if ($val['walkin_key']) {?>
									<span class="fas fa-house-return" title="Walk-In"></span>
								<?php }else {?>
									<span class="fal fa-house-return" title="No Walk-In"></span>
								<?php } ?>

								<?php if ($open_houses && count($open_houses) > 0) {?>
									<span class="fas fa-door-open" title="Open House"></span>
								<?php }else {?>
									<span class="fal fa-door-closed" title="No Open House"></span>
								<?php } ?>
							</td>
							<td class="hidden-xs">
								<?php
								$types = array_merge(json_decode($val['commercial'])?json_decode($val['commercial']):array(), json_decode($val['residential'])?json_decode($val['residential']):array());
								echo implode(", ", $types);
								?>
							</td>
							<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'units', 'delete')) {?>
								<td class="text-center hidden-xs"><a href="/admin/unit/delete/id/<?php echo $val['id']?>" title="Delete" class="confirm-delete"><span class="sr-only">Delete</span><span class="fa fa-minus-circle"></span></a></td>
							<?php } ?>
							<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'units', 'edit')) {?>
								<td class="text-center"><a href="/admin/unit/edit/id/<?php echo $val['id']?>" target="_blank" title="Edit"><span class="sr-only">Edit</span><span class="fa fa-pencil-square-o"></span></a></td>
							<?php } ?>
							<!--<td class="text-center"><a href="/admin/unit/view/id/<?php echo $val['id']?>" title="View"><span class="sr-only">View </span><span class="fa fa-eye"></span></a></td>-->
						</tr>
						<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {

	});
</script>
