<?php
$media_cache = new Cny_View_Helper_MediaCache();
?>
<section class="hero">
	<div class="hero__media">
		<picture>
			<source srcset="<?php echo $media_cache->getImage('/userFiles/uploads/general/manhattan-stock-13.jpg', 'region-hero-mobile')?>" media="(max-width: 600px)" aria-label="">
			<source srcset="<?php echo $media_cache->getImage('/userFiles/uploads/general/manhattan-stock-13.jpg', 'region-hero-tablet')?>" media="(max-width: 899px)" aria-label="">
			<img src="<?php echo $media_cache->getImage('/userFiles/uploads/general/manhattan-stock-13.jpg', 'region-hero')?>" class="image" alt="Commercial Rentals: Image of Manahattan Street Scene with Several Taxis Approaching a Crossection">
		</picture>
	</div>
	<div class="hero__text">
		<h1>Commercial</h1>
		<h2 style="font-size: 1.25rem;">Commercial Real Estate In NYC And Outer Boroughs</h2>
	</div>
</section>
<div class="container-fluid clearfix mt-l-xl mt-m-l mt-s-m js-fixed-nav-trigger" data-trigger-classes="nav-container--background">
	<div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 mb-l-l mb-m-m mb-s-s">
		<ul class="region-nav" data-filter-type="region">
			<li class="region-nav__item active" data-filter-value="*">
				<a class="menu-item region-nav__link" href="#" aria-label="List all commercial availabilities.">all</a>
			</li>
			<?php foreach ($this->regions as $region) {?>
				<li class="region-nav__item" data-filter-value="<?php echo $region->code?>">
					<a class="menu-item region-nav__link" href="#" aria-label="Filter to view only <?php echo $region->name?> properties."><?php echo $region->name?></a>
				</li>
			<?php } ?>
		</ul>
	</div>

	<div class="controls row mb-xl mb-s-l">
		<div class="controls__filters col-sm-12 col-sm-offset-0 col-md-5 col-lg-5 col-lg-offset-1">
			<div class="filter-group">
				<div class="filter-group__label">Type</div>
				<div class="filter-group__items" data-filter-type="layout">
					<?php $checkboxes = [
						['label' => 'Office', 'value' => 'office', 'name' => 'office','data-filter-value' => 'office', 'aria' => 'Office - Filter by commercial office space.'],
						['label' => 'Retail', 'value' => 'retail', 'name' => 'retail', 'data-filter-value' => 'retail', 'aria' => 'Retail - Filter by commercial retail space.']
					];
					foreach ($checkboxes as $checkbox) { ?>
						<div class="checkbox" aria-label="<?php echo $checkbox['aria'] ?>" tabindex="0">
							<input id="<?php echo $checkbox['name'] ?>" data-filter-value="<?php echo $checkbox['data-filter-value'] ?>" name="<?php echo $checkbox['name'] ?>" type="checkbox" value="<?php echo $checkbox['value'] ?>">
							<label for="<?php echo $checkbox['name'] ?>"><?php echo $checkbox['label'] ?></label>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>
		<div class="controls__sorting col-sm-12 col-sm-offset-0 col-md-5 col-lg-5">
			<div class="sort-options">
				<div class="sort-options__label">
					<label for="sort">Sort</label>
				</div>
				<div class="sort-options__select" role="listbox" aria-label="Select an option to order available listings by price; descending or ascending.">
					<select data-sort-order="data-sort-order" id="sort" name="size">
						<option value="asc">Lowest to Highest</option>
						<option value="desc" selected>Highest to Lowest</option>
					</select>
				</div>
			</div>
		</div>
	</div>


	<div class="listing-group row mb-l-xxxl mb-m-xxl mb-s-0">
		<?php
		if ($this->results) {
			$unit_mapper = new Custom_Model_Mapper_GfUnit();
			$region_mapper = new Custom_Model_Mapper_GfRegion();
			$building_mapper = new Custom_Model_Mapper_GfBuilding();
			$neighborhood_mapper = new Custom_Model_Mapper_GfNeighborhood();
			$unit_image_mapper = new Custom_Model_Mapper_GfUnitImage();
		?>
		<div class="col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">
			<?php
			foreach ($this->results as $region_id => $units) {
				$region = $region_mapper->doesExists(array('code'=>$region_id));

				$order = 0;
				foreach ($units as $unit) {
					$building = $building_mapper->find($unit->building_id);
					$neighborhood = $neighborhood_mapper->find($building->neighborhood_id);
					$primary_image = $unit_image_mapper->fetchPrimaryByUnitId($unit->id);
					$layout_json = json_decode($unit->commercial);
					$layout = strtolower(implode(", ",$layout_json));
				?>
				<div class="listing-tile commercial-tile col-sm-12 col-md-6 col-lg-6 mb-xl" data-region="<?php echo $region->code?>" data-neighborhood="<?php echo $neighborhood->code?>" data-layout="<?php echo $layout?>" data-order="<?php echo $order?>">
					<a href="/commercial/<?php echo $region->code?>/<?php echo $building->code?>/unit-<?php echo $unit->code?>" class="listing-tile__media" aria-label="<?php echo ucwords($layout)?> Space (<?php echo number_format($unit->square_footage)?> square feet). Location: <?php echo $building->address_display_name?>, <?php echo $neighborhood->name?>">
						<picture>
							<source srcset="<?php echo $media_cache->getImage($primary_image->image, 'unit-tile-mobile')?>" media="(max-width: 600px)" aria-label="<?php echo $primary_image->alt_text?>">
							<img src="<?php echo $media_cache->getImage($primary_image->image, 'unit-tile')?>" class="image" alt="<?php echo $primary_image->alt_text?>">
						</picture>
						<span class="spoiler spoiler--top"><?php echo $region->name?></span>
					</a>

					<div class="listing-tile__footer" aria-hidden="true">
						<div class="listing-tile__footer__left">
							<span class="listing-tile__type"><?php echo $layout?></span>
							<span class="listing-tile__size"><?php echo number_format($unit->square_footage)?> <span class="listing-tile__unit">sqft</span></span>
							<span class="property-address"><?php echo $building->address_display_name?></span>
						</div>
						<div class="listing-tile__footer__right">
						</div>
					</div>
					<div class="listing-tile__description">
						<p></p>
					</div>
				</div>
			<?php
					$order++;
				}
			}
			?>
		</div>

		<?php }else {?>
			<div class="col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">
				<div class="section-header col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-md-offset-3 col-sm-12 col-sm-offset-0">
					<div class="section-header__heading contact">
						<h4>Get in Touch</h4>
						<p>Currently, there are no commercial units available. Please contact our commercial team for more information and opportunities.</p>
						<a class="link link--with-arrow" href="/contact-us#contactForm">
							contact us
							<span class="icon-arrow-right-thin"></span>
						</a>
					</div>
				</div>
			</div>
		<?php } ?>

	</div>
</div>
