<?php
$media_cache = new Cny_View_Helper_MediaCache();
?>
<div class="side-menu-trigger"></div>
<div class="fixed-sub-nav">
	<div class="sub-nav-bar">
		<div class="sub-nav col-md-10">
			<a href="/commercial" class="sub-nav__back">
				<i class="fal fa-long-arrow-left"></i>
				<span class="desktop-label">Commercial Listings</span>
				<span class="mobile-label">Listings</span>
			</a>
			<div class="sub-nav-heading">
				<div class="sub-nav-heading__top">
                <span>
                    <?php echo $this->building->name?>
                </span>
					<span>
                    <?php echo $this->region->name?>
                </span>
				</div>
			</div>
			<div class="sub-nav__actions">
				<a class="link link--bold" href="/contact-us" target="_self">Leasing Office Info</a>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="carousel carousel--unit col-lg-7 col-lg-offset-1 col-md-12 col-md-offset-0 pr-s-0 pl-s-0 mb-s-xs">
			<div class="carousel__container">
				<?php foreach ($this->unit_images as $image) { ?>
					<div class="carousel__item">
						<img src="<?php echo $media_cache->getImage($image->image, 'carousel-slide')?>" class="img-responsive" alt="<?php echo $image->alt_text?>">
					</div>
				<?php } ?>

				<?php if ($this->floorplan) {?>
					<div class="carousel__item">
						<img src="<?php echo $media_cache->getImage($this->floorplan->image, 'carousel-slide-floorplan')?>" class="img-responsive" alt="Floorplan<?php echo $image->alt_text?>">
					</div>
				<?php } ?>
			</div>
		</div>


		<div class="side-bar col-lg-3 col-md-10 mt-m-m mt-m-m">
			<div class="side-menu">
				<h1 class="side-menu__type">
					<?php
					$layout_json = json_decode($this->unit->commercial);
					$layout = strtolower(implode(", ",$layout_json));

					echo $layout;
					?>
				</h1>
				<div class="side-menu__size"><?php echo number_format($this->unit->square_footage)?> <span class="side-menu__unit">sqft</span></div>

				<div class="side-menu__contact">
					<address class="address address--with-icon">
						<a class="address__link" target="_blank" href="http://maps.google.com/?q=<?php echo urlencode(trim($this->building->street1.' '.$this->building->street2).' '.$this->building->city.', '.$this->building->state.' '.$this->building->zip)?>"><span><?php echo $this->building->street1?> <?php echo $this->building->street2?> <br><?php echo $this->building->city?>, <?php echo $this->building->state?> <?php echo $this->building->zip?></span></a>
					</address>
					<a class="phone phone--with-icon" href="tel:+1<?php //echo $this->region->phone?>914.940.4502"><?php //echo $this->region->phone?>914.940.4502</a>

					<a class="link link--with-arrow" href="<?php /*/contact-us#contactFormSpace */?>mailto:Commercial@Goldprop.com" target="_blank">
						contact us
						<span class="fal fa-long-arrow-right"></span>
					</a>
				</div>
				<div class="row">
					<div class="side-menu__button-group col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
						<a href="#neighborhood" class="button button--clear">Neighborhood</a>
						<a href="#pois" class="button button--clear">Map</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid pt-l-s pt-m-s mt-s-0">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
			<div class="text-block">
				<h2 style="font-size:1.625em;" class="text-uppercase">Description</h2>
				<p><?php echo $this->unit->description?></p>
			</div>

			<div class="list-block">
				<h2 style="font-size:1.625em;" class="text-uppercase">Amenities &amp; Features</h2>
				<p></p>
				<div class="lists">
					<ul class="list">
						<li class="head">Unit</li>
						<?php foreach ($this->unit_features as $feature) { ?>
							<li><?php echo $feature?></li>
						<?php } ?>
					</ul>
					<ul class="list">
						<li class="head">Building</li>
						<?php foreach ($this->building_amenities as $amenity) { ?>
							<li><?php echo $amenity?></li>
						<?php } ?>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<?php if ($this->unit->virtual_tour_id) {?>
<div class="container-fluid mb-s-l mb-l-l mb-m-l">
	<div class="row">
		<div class="col-lg-7 col-lg-offset-1 col-md-12 col-md-offset-0">
			<div class="three-sixty-block">
				<h2 style="font-size:1.625em;" class="text-uppercase">Take a Tour</h2>
				<div class="three-sixty-block--tour">
					<iframe src="https://my.matterport.com/show/?m=<?php echo $this->unit->virtual_tour_id?>" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
<?php } ?>

<div class="container-fluid pt-l-s pt-m-s mt-s-0">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
			<div class="text-block" style="margin-bottom:0;">
				<h2 style="font-size:1.625em;" class="text-uppercase">Building</h2>
				<p>
					<?php
					$truncate = new Cny_View_Helper_StringTruncate();
					echo $truncate->StringTruncate($this->building->description, 150);  ?>
				</p>
			</div>
			<div style="height:2.5em"></div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
			<div class="list-block" id="neighborhood">
				<h2 style="font-size:1.625em;" class="text-uppercase">Neighborhood</h2>
				<p>
					<?php echo $this->neighborhood->description?>
				</p>
				<div class="lists">
					<?php foreach ($this->neighborhood_pois as $category => $pois) { ?>
					<ul class="list">
						<li class="head"><?php echo $category?></li>
						<?php foreach ($pois as $poi) {?>
							<li><?php echo $poi?></li>
						<?php } ?>
					</ul>
					<?php } ?>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="container-fluid mb-s-l mb-l-l mb-m-l">
	<?php echo $this->partial('partials/building-map.phtml', array('google_maps_api_key'=>$this->google_maps_api_key,'building'=>$this->building))?>
</div>


<a href="mailto:Commercial@Goldprop.com" class="button button--mobile-fixed">contact us</a>
<a href="#" class="button button button--capitalize button--mobile-fixed hide">+SelfTour &trade;</a>

<div class="side-menu-end-trigger"></div>
<script>
	$(function() {
		$('.carousel__container').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			arrows: true,
			dots:false,
			infinite:true,
			adaptiveHeight: true
		});
	});
</script>
