<?php
if (stripos($this->content, "module-") !== false) {
	echo $this->content;
}elseif (php_sapi_name() != 'cli') {
?>
	<div class="text-center" style="margin-top:150px;min-height:600px;">
		<h1 style="font-size: 36px;">Page Not Found</h1>
		<p>Sorry, the page you are looking for could not be found.  Please check the url and try again.</p>

		<div id="return-home" class="m-t-30">
			<a href="/" class="btn -btn-block btn-square lighten">
				<div class="hover-shade">Return to Home Page</div>
			</a>
		</div>
	</div>
	<style>
		#return-home a {
			background-color:#cccccc;
			color:#ffffff;
			width: 300px;
		}
		#return-home a:hover {
			color: #959595 !important;
			background-color: #cccccc !important;
			border-width: 0 !important;
		}
	</style>
<?php } ?>

<?php if (APPLICATION_ENV != 'production' || php_sapi_name() == 'cli') {?>
	<h1>An error occurred</h1>
	<h2><?php echo $this->message ?></h2>

	<?php if (isset($this->exception)) { ?>
		<h3>Exception information:</h3>
		<p>
		  <b>Message:</b> <?php echo $this->exception->getMessage() ?>
		</p>

		<h3>Stack trace:</h3>
		<pre>
			<?php echo $this->exception->getTraceAsString() ?>
		</pre>

		<h3>Request Parameters:</h3>
		<pre>
			<?php echo var_export($this->request->getParams(), true) ?>
		</pre>
	<?php } ?>
<?php } ?>
