<?php
$media_cache = new Cny_View_Helper_MediaCache();
$tag_mapper = new Customadmin_Model_Mapper_GfImageTag();

if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="form-group col-sm-4">
					<label>Tag:</label>
					<?php echo $this->formSelect('tag_id[]', $this->tag_id, array('class'=>'form-control','id'=>'tag_id','multiple'=>'multiple'), $this->tags)?>
				</div>

				<div class="col-sm-12">
					<button type="submit" class="btn btn-primary">Search</button>
					<!--
					<label for="" class="checkbox-inline">
						<input type="checkbox" name="csv" value="1" class="exportcheck">
						Export
					</label>
					-->
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-10 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<div class="col-sm-2 col-xs-12">
				<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'units', 'add')) {?>
					<a href="/admin/image-library/add" class="btn btn-primary">Add Image</a>
				<?php } ?>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row flex-row flex-wrap flex-justify-center">
			<?php
			foreach($this->list as $key => $val) {

			?>
				<div class="col">
					<div class="thumbnail">
						<a href="<?php echo $val['image']?>" class="js-trigger-fancybox" target="_blank" data-fancybox="gallery" data-caption="<?php echo htmlentities($val['alt_text'])?>" title="<?php echo htmlentities($val['title'])?>">
							<img src="<?php echo $media_cache->getImage($val['image'], 'unit-tile-mobile')?>" class="img-responsive" alt="<?php echo $val['alt_text']?>">
						</a>
					</div>
					<div class="tags">
						<?php
						//$tags = explode(",",$val['tags']);
						$tags = $tag_mapper->fetchTagNamesByImageId($val['id']);
						foreach ($tags as $tag) {
							?>
							<span class="tag"><?php echo $tag?></span>
						<?php
						}
						?>
					</div>
					<div class="controls">
						<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'units', 'add')) {?>
							<a href="/admin/image-library/edit/id/<?php echo $val['id']?>" title="Edit"><span class="sr-only">Edit</span><span class="fa fa-pencil-square-o"></span></a>
						<?php } ?>
						<!--<a href="/admin/image-library/view/id/<?php echo $val['id']?>" title="View"><span class="sr-only">View </span><span class="fa fa-eye"></span></a>-->
						<a href="<?php echo $val['image']?>" class="js-trigger-fancybox" target="_blank" data-fancybox="gallery-btn" data-caption="<?php echo htmlentities($val['alt_text'])?>" title="<?php echo htmlentities($val['title'])?>"><span class="sr-only">View </span><span class="fa fa-eye"></span></a>
						<?php if (Zend_Registry::get('admin_acl')->isAllowed($this->admin_user->role, 'units', 'add')) {?>
							<a href="/admin/image-library/delete/id/<?php echo $val['id']?>" title="Delete" class="confirm-delete pull-right"><span class="sr-only">Delete</span><span class="fa fa-minus-circle"></span></a>
						<?php } ?>
					</div>
				</div>
			<?php } ?>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js" integrity="sha256-yt2kYMy0w8AbtF89WXb2P1rfjcP/HTHLT7097U8Y5b8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" integrity="sha256-Vzbj7sDDS/woiFS3uNKo8eIuni59rjyNGtXfstRzStA=" crossorigin="anonymous" />

<script type="text/javascript" charset="utf-8">
	$(document).ready(function() {
		$("#tag_id").select2();

		$('.js-trigger-fancybox').fancybox({
			buttons: [
				"zoom",
				"fullScreen",
				"close"
			]
		});
	});
</script>

<style>
	.col {
		width: 20%;
		margin: 8px 12px;
	}
	.tags .tag {
		padding: 2px 4px;
		border-radius: 10px;
		border: 1px solid black;
		background: #eeeeee;
	}
</style>
