<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$close_button_status =  $settings_mapper->getValueByCode('announcement_bar_dismiss');
?>
<div class="announcement-bar announcement-bar--<?php echo $close_button_status ?> <?php echo $settings_mapper->getValueByCode('announcement_bar_alignment')?>">
	<div class="announcement-bar__item">
		<?php echo $settings_mapper->getValueByCode('announcement_bar_text')?>
	</div>
	<?php if (isset($close_button_status) && $close_button_status == 'enabled') { ?>
		<div class="announcement-bar__close js-trigger-close">
			<i class="fal fa-times fa-2x"></i>
		</div>
	<?php } ?>
</div>
