<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="form-group col-sm-4">
					<label>Role:</label>
					<?php echo $this->formSelect('role', $this->role, array('class'=>'form-control'), array(""=>"")+$this->roles+$this->website_member_roles)?>
				</div>

				<div class="form-group col-sm-4">
					<label>Status:</label>
					<?php echo $this->formSelect('status', $this->status, array('class'=>'form-control'), array(""=>"")+$this->statuses)?>
				</div>

				<div class="col-sm-12">
					<div class="col-xs-1">
						<button type="submit" class="btn btn-primary xs-100">Search</button>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<div class="checkbox hidden-xs">
								<input type="checkbox" name="csv" value="1" id="export"> <label for="export">Export</label>
							</div>
						</div>
					</div>
					<div class="col-xs-1">
						<a href="/admin/users/member-list" class="btn btn-warning xs-100">Reset</a>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-10 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<div class="col-sm-2 col-xs-12">
				<a class="pull-right btn btn-primary xs-100" href="/admin/users/member-add">Add Sub-User</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
						<tr>
							<th><a href="/admin/users/member-list/sort/last_name/dir/<?php echo $dir?>">Name</a></th>
							<th class="hidden-xs"><a href="/admin/users/member-list/sort/role/dir/<?php echo $dir?>">Role</a></th>
							<th class="hidden-xs"><a href="/admin/users/member-list/sort/email/dir/<?php echo $dir?>">Email</a></th>
							<th class="hidden-xs"><a href="/admin/users/member-list/sort/lastlogin/dir/<?php echo $dir?>">Last Login</a></th>
							<th class="hidden-xs"><a href="/admin/users/member-list/sort/status/dir/<?php echo $dir?>">Status</a></th>
							<th class="hidden-xs text-center">Delete</th>
							<th class="hidden-xs text-center">Edit</th>
							<th class="text-center">View</th>
						</tr>
					</thead>
					<tbody>
						<?php
						foreach($this->list as $key => $val) {
						?>
							<tr>
								<td><a href="/admin/users/view/id/<?php echo $val['id']?>"><?php echo $val['last_name'].', '.$val['first_name']?></a></td>
								<td class="hidden-xs"><?php echo $this->website_member_roles[$val['role']]?></td>
								<td class="hidden-xs"><?php echo $val['email']?></td>
								<td class="hidden-xs"><?php echo ($val['last_login'] != 0) ? $this->UTCtoTZ($val['last_login'],"n/j/Y g:ia",$this->site_timezone) : ""?></td>
								<td class="hidden-xs"><?php echo $val['status']?></td>
								<td class="hidden-xs text-center"><a href="/admin/users/delete/id/<?php echo $val['id']?>" title="Delete" class="confirm-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
								<td class="hidden-xs text-center"><a href="/admin/users/edit/id/<?php echo $val['id']?>" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
								<td class="text-center"><a href="/admin/users/view/id/<?php echo $val['id']?>" title="View"><span class="sr-only">View </span><span class="far fa-eye"></span></a></td>
							</tr>
						<?php
						}
						?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>
