<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-4 pull-right">
				<div class="view-navigation pull-right">
					<a class="btn btn-default btn-sm" href="/admin/users/edit/id/<?php echo $this->user->id?>"><span class="fal fa-edit"></span> Edit</a>
					<a class="btn btn-default btn-sm" href="/admin/users/<?php echo (array_key_exists($this->user->role,$this->website_member_roles))?"member-list":"list"?>"><span class="fal fa-angle-left"></span> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<tbody>
						<tr>
							<td>First Name:</td>
							<td>
								<?php echo $this->user->first_name?>
							</td>
						</tr>
						<tr>
							<td>Last Name:</td>
							<td>
								<?php echo $this->user->last_name?>
							</td>
						</tr>
						<tr>
							<td>Email:</td>
							<td>
								<?php echo $this->user->email?>
							</td>
						</tr>
						<tr>
							<td>Role:</td>
							<td>
								<?php
								if (array_key_exists($this->user->role,$this->website_member_roles)) {
									echo $this->website_member_roles[$this->user->role];
								}else {
									echo $this->roles[$this->user->role];
								}
								?>
							</td>
						</tr>
						<tr>
							<td>Status:</td>
							<td>
								<?php echo $this->statuses[$this->user->status]?>
							</td>
						</tr>
						<tr>
							<td>Last Login:</td>
							<td>
								<?php echo ($this->user->last_login)?$this->UTCtoTZ($this->user->last_login,"n/j/Y g:ia",$this->site_timezone):''?>
							</td>
						</tr>
					</tbody>
				</table>

				<h3>Profile</h3>
				<table class="table table-striped">
					<tbody>
					<tr>
						<td>Avatar:</td>
						<td>
							<img src="<?php $avatar = new Cny_View_Helper_Avatar(); echo $avatar->avatar($this->user->email) ?>" alt="user-img" width="36" class="-img-circle">
						</td>
					</tr>
					<tr>
						<td>Company:</td>
						<td>
							<?php echo $this->user_profile->company?>
						</td>
					</tr>
					<tr>
						<td>Date of Birth:</td>
						<td>
							<?php echo $this->user_profile->date_of_birth?>
						</td>
					</tr>
					<tr>
						<td>Phone:</td>
						<td>
							<?php echo $this->user_profile->phone?>
						</td>
					</tr>
					<tr>
						<td>Address:</td>
						<td>
							<?php echo $this->user_profile->address?>
						</td>
					</tr>
					<tr>
						<td>Address2:</td>
						<td>
							<?php echo $this->user_profile->address2?>
						</td>
					</tr>
					<tr>
						<td>City:</td>
						<td>
							<?php echo $this->user_profile->City?>
						</td>
					</tr>
					<tr>
						<td>State/Region:</td>
						<td>
							<?php echo $this->user_profile->region?>
						</td>
					</tr>
					<tr>
						<td>Zip/Postcode:</td>
						<td>
							<?php echo $this->user_profile->postcode?>
						</td>
					</tr>
					<tr>
						<td>Country:</td>
						<td>
							<?php echo $this->user_profile->country?>
						</td>
					</tr>
					<tr>
						<td>Website URL:</td>
						<td>
							<?php echo $this->user_profile->website?>
						</td>
					</tr>
					<tr>
						<td>Facebook URL:</td>
						<td>
							<?php echo $this->user_profile->facebook_url?>
						</td>
					</tr>
					<tr>
						<td>Twitter URL:</td>
						<td>
							<?php echo $this->user_profile->twitter_url?>
						</td>
					</tr>
					<tr>
						<td>Instagram URL:</td>
						<td>
							<?php echo $this->user_profile->instagram_url?>
						</td>
					</tr>
					<tr>
						<td>YouTube URL:</td>
						<td>
							<?php echo $this->user_profile->youtube_url?>
						</td>
					</tr>
					<tr>
						<td>LinkedIn URL:</td>
						<td>
							<?php echo $this->user_profile->linkedin_url?>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12">
				<div class="view-navigation">
					<a class="btn btn-default btn-sm" href="/admin/users/<?php echo (array_key_exists($this->user->role,$this->website_member_roles))?"member-list":"list"?>"><span class="fal fa-angle-left"></span> Back</a>
				</div>
			</div>
		</div>
	</div>
</div>

