<div class="login-form">
	<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
		<?php echo $this->element->id?>
		<?php echo $this->element->cmd?>
		<?php echo $this->element->address_type?>
		<?php echo $this->element->default_address?>
		<h2 class="h6"><?php echo ucwords($this->element->cmd->getValue())?> <?php echo ucwords($this->element->address_type->getValue())?> Address</h2>

		<div class="form-group">
			<?php echo $this->element->first_name?>
		</div>
		<div class="form-group">
			<?php echo $this->element->last_name?>
		</div>
		<div class="form-group">
			<?php echo $this->element->company?>
		</div>
		<div class="form-group">
			<?php echo $this->element->address1?>
		</div>
		<div class="form-group">
			<?php echo $this->element->address2?>
		</div>
		<div class="form-group">
			<?php echo $this->element->city?>
		</div>
		<div class="form-group">
			<?php //echo $this->element->region?>
			<?php
			$usstates = Zend_Registry::get('regions')->us->region->toArray();
			$caprovinces = Zend_Registry::get('regions')->ca->region->toArray();
			$usstates = $usstates + $caprovinces;
			?>
			<?php echo $this->formSelect('region', $this->element->region->getValue(), array('class'=>"form-control usca"), array(""=>"State/Province")+$usstates)?>
			<input class="form-control international" type="text" placeholder="Region" name="region_alt" value="<?php echo $this->element->region->getValue()?>"/>
		</div>
		<div class="form-group">
			<?php echo $this->element->postcode?>
		</div>
		<div class="form-group">
			<?php echo $this->element->country?>
		</div>
		<div class="form-group">
			<?php echo $this->element->phone?>
		</div>

		<div class="form-group">
			<input type="checkbox" name="default" value="y"> Make this my default <?php echo $this->element->address_type->getValue()?> address.
		</div>

		<?php
		if ($this->element->cmd->getValue() == 'add') {
			$other_type = 'billing';
			if ($this->element->address_type->getValue() == 'billing') $other_type = 'shipping';
			?>
			<div class="form-group">
				<input type="checkbox" name="copy" value="y"> Add this address for <?php echo $other_type?> as well.
			</div>
		<?php } ?>

		<div class="submit-form">
			<a href="/account/addresses" class="btn btn--gray btn--cms-default">Cancel</a>
			<button id="submit" class="btn btn--blue btn--cms-default" type="submit" name="submit">Submit</button>
		</div>
	</form>
</div>

<script>
	$(function() {
		$(".international").hide();
		<?php if ($this->element->country->getValue() != 'US' && $this->element->country->getValue() != 'CA') {?>
			$(".international").show();
			$(".usca").hide();
		<?php } ?>
	});
</script>
