<div class="login-form">

	<form id="<?php echo $this->element->getAttrib('id')?>" action="<?php echo $this->escape($this->element->getAction()) ?>" method="<?php echo $this->escape($this->element->getMethod()) ?>" enctype="multipart/form-data">
		<h2 class="h6">Edit Settings</h2>

		<div class="form-group">
			<?php echo $this->element->first_name?>
		</div>
		<div class="form-group">
			<?php echo $this->element->last_name?>
		</div>
		<div class="form-group">
			<?php echo $this->element->email?>
		</div>
		<div class="form-group">
			<?php echo $this->element->password?>
		</div>
		<div class="form-group">
			<?php echo $this->element->v_password?>
		</div>

		<div class="small form-group">
			<?php echo Cny_Validate_Password::ruleText();?>
		</div>

		<div class="form-group">
			<?php echo $this->element->status?>
		</div>

		<div class="submit-form">
			<a href="/account/addresses" class="btn btn--gray btn--cms-default">Cancel</a>
			<button id="submit" class="btn btn-info btn--cms-default" type="submit" name="submit">Submit</button>
		</div>
	</form>
</div>
