<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();

//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$options = array();
foreach ($fonts as $code => $row) {
	$options[$code] = $row['title'];
}
?>

<div class="form-group" id="site-setting-<?php echo $this->item['code']?>">
	<label title="<?php echo htmlentities($this->item['description'])?>"><?php echo $this->item['title']?></label>
	<div>
		<?php //echo $this->formSelect('fields['.$this->item['code'].']', $settings_mapper->getValueByCode($this->item['code']), array('class'=>'form-control'), $options); ?>
		<select name="fields[<?php echo $this->item['code']?>]" class="from-control selectpicker">
			<?php
			foreach ($options as $k => $v) {
				$selected = ($k == $settings_mapper->getValueByCode($this->item['code'],(isset($this->default) && $this->default)?$this->default:null))?"selected":"";
			?>
			<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
			<?php
			}
			?>
		</select>
	</div>
</div>
