<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<div class="form-group" id="site-setting-<?php echo $this->item['code']?>">
	<label title="<?php echo htmlentities($this->item['description'])?>"><?php echo $this->item['title']?></label>
	<div>
		<input type="text" class="form-control" id="icon-<?php echo $this->item['code']?>" name="fields[<?php echo $this->item['code']?>]" value="<?php echo $settings_mapper->getValueByCode($this->item['code'],(isset($this->default) && $this->default)?$this->default:null)?>">
	</div>
</div>

<script>
$(function() {
	//iconList variable moved into JS variables.js file
	var iconListData = $.map(iconList, function (obj) {
		//obj.id = obj.id || obj.id;
		obj.text = obj.text || obj.name;

		if (typeof obj.filter !== 'undefined' && obj.filter) {
			obj.text += '<span class="hide">' + obj.filter.toString() + '<span>';
		}

		return obj;
	});

	function formatCustom(item) {
		if (!item.id) return item.text; // optgroup

		return "<span class='fa fa-" + item.id + "'>&nbsp;" + item.text + "</span>";
	}

	$('#icon-<?php echo $this->item['code']?>').select2({
		data: iconListData,
		formatResult: formatCustom,
		formatSelection: formatCustom,
		escapeMarkup: function(m) { return m; }
	});
});
</script>
