<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<div class="form-group image-selector" data-ref="<?php echo $this->item['code']?>" id="site-setting-<?php echo $this->item['code']?>">
	<label class="control-label" title="<?php echo htmlentities($this->item['description'])?>"><?php echo $this->item['title']?></label>
	<div>
		<img src="<?php echo $settings_mapper->getValueByCode($this->item['code'],(isset($this->default) && $this->default)?$this->default:null)?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#image_path_<?php echo $this->item['code']?>" id="image_<?php echo $this->item['code']?>" style="max-width:400px;max-height:300px;">
		<input type="hidden" class="form-control" name="fields[<?php echo $this->item['code']?>]" id="image_path_<?php echo $this->item['code']?>" value="<?php echo $settings_mapper->getValueByCode($this->item['code'])?>">
		<button data-url="/filemanager/dialog.php?type=1&field_id=image_path_<?php echo $this->item['code']?>&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
		<button type="button" class="btn btn-primary clear-background_image" id="image_remove_<?php echo $this->item['code']?>">Remove Image</button>
	</div>
</div>
