<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<div class="form-group" id="site-setting-<?php echo $this->item['code']?>">
	<label title="<?php echo htmlentities($this->item['description'])?>"><?php echo $this->item['title']?></label>

	<div class="m-t-20 multi-checkbox">
		<label>
			<input type="checkbox" class="chkbox-toggle" data-rel="site-setting-<?php echo $this->item['code']?>"> Select / Unselect All
		</label>
	</div>

	<div class="m-t-20 multi-checkbox">
		<?php echo $this->formMultiCheckbox('fields['.$this->item['code'].']', json_decode($settings_mapper->getValueByCode($this->item['code'],(isset($this->default) && $this->default)?$this->default:null)), array('class'=>'form-control'), $this->options); ?>
	</div>
</div>
