<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();

$json = ($settings_mapper->getValueByCode($this->item['code'],(isset($this->default) && $this->default)?$this->default:null));
$values = ($json)?json_decode($json):array();

$options = $this->item['options'];
?>
<div class="form-group" id="site-setting-<?php echo $this->item['code']?>">
	<label title="<?php echo htmlentities($this->item['description'])?>"><?php echo $this->item['title']?></label>

	<div>
		<table class="table table-striped table-condensed">
			<thead>
			<tr>
				<?php foreach ($options as $row) {?>
					<th><?php echo $row['title']?></th>
				<?php } ?>
			</tr>
			</thead>
			<tbody>
			<?php foreach ($values as $k => $value) {
				?>
				<tr>
					<?php foreach ($options as $row) { ?>
						<td>
							<?php
							switch ($row['type']) {
								case 'select':
									echo $this->formSelect('json_fields[' . $this->item['code'] . ']['. $k .']['. $row['code'] .']', $value->{$row['code']}, array('class' => 'form-control'), $row['options']);
									break;
								case 'multiselect':
									echo $this->formSelect('json_fields[' . $this->item['code'] . ']['. $k .']['. $row['code'] .']', $value->{$row['code']}, array('class' => 'form-control','multiple'=>'multiple'), $row['options']);
									break;
								case 'text':
								default:
									?>
									<input type="text" class="form-control" name="json_fields[<?php echo $this->item['code']?>][<?php echo $k?>][<?php echo $row['code']?>]" value="<?php echo $value->{$row['code']} ?>">
							<?php
									break;
							}
							?>
						</td>
					<?php } ?>
				</tr>
			<?php } ?>
			</tbody>
			<tfoot>
			<tr>
				<td colspan="<?php echo count($options)?>">
					<button type="button" id="btn-add_row-<?php echo $this->item['code']?>" class="btn btn-primary">Add Row</button>
				</td>
			</tr>
			</tfoot>
		</table>
	</div>
</div>

<script>
	$(document).ready(function(){
		$("#btn-add_row-<?php echo $this->item['code']?>").on("click", function(){
			var row_counter = $("#site-setting-<?php echo $this->item['code']?> table tbody tr").length;
			$("#site-setting-<?php echo $this->item['code']?> tbody").append(
				'<tr>' +
				<?php
				foreach ($options as $row) {
					switch ($row['type']) {
					case 'select':
					?>
						'<td><select class="form-control" name="json_fields[<?php echo $this->item['code']?>]['+row_counter+'][<?php echo $row['code']?>]">'+
						<?php
						foreach ($row['options'] as $option_key => $option_value) {
							echo '\'<option value="'.str_replace("'","\'",$option_key).'">'.str_replace("'","\'",$option_value).'</option>\'+';
						}
						?>
						+'</select></td>'+
					<?php
						break;
					case 'multiselect':
				?>
						'<td><select class="form-control" name="json_fields[<?php echo $this->item['code']?>]['+row_counter+'][<?php echo $row['code']?>]" multiple>'+
						<?php
						foreach ($row['options'] as $option_key => $option_value) {
							echo '\'<option value="'.str_replace("'","\'",$option_key).'">'.str_replace("'","\'",$option_value).'</option>\'+';
						}
						?>
						+'</select></td>'+
						<?php
						break;
					case 'text':
					default:
				?>
						'<td><input type="text" class="form-control" name="json_fields[<?php echo $this->item['code']?>]['+row_counter+'][<?php echo $row['code']?>]" value=""></td>'+
					<?php
					break;
					}
				}
				?>
				'</tr>'
			);
		});
	});
</script>
