<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<div class="form-group" id="site-setting-<?php echo $this->item['code']?>">
	<label title="<?php echo htmlentities($this->item['description'])?>"><?php echo $this->item['title']?></label>
	<div>
		<?php
		$value = ($settings_mapper->getValueByCode($this->item['code']))?$settings_mapper->getValueByCode($this->item['code']):$this->default;
		$enabled = ($value == $this->options['on'])?'on':'off';
		?>
		<div class="btn-group" id="<?php echo $this->item['code']?>" data-toggle="buttons">
			<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
				<input type="radio" value="<?php echo $this->options['on']?>" name="fields[<?php echo $this->item['code']?>]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
			<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
				<input type="radio" value="<?php echo $this->options['off']?>" name="fields[<?php echo $this->item['code']?>]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
		</div>
	</div>
</div>
