<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();

$extra_classes = (isset($this->item['class']))?$this->item['class']:'';
?>
<div class="form-group" id="site-setting-<?php echo $this->item['code']?>">
	<label title="<?php echo htmlentities($this->item['description'])?>"><?php echo $this->item['title']?></label>
	<div>
		<?php echo $this->formSelect('fields['.$this->item['code'].']', $settings_mapper->getValueByCode($this->item['code'], (isset($this->default) && $this->default)?$this->default:null), array('class'=>'form-control '.$extra_classes), $this->options); ?>
	</div>
</div>
