<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<div class="form-group" id="site-setting-<?php echo $this->item['code']?>">
	<label title="<?php echo htmlentities($this->item['description'])?>"><?php echo $this->item['title']?></label>
	<div>
		<input type="text" class="form-control" name="fields[<?php echo $this->item['code']?>]" value="<?php echo $settings_mapper->getValueByCode($this->item['code'], (isset($this->default) && $this->default)?$this->default:null)?>">
	</div>
</div>
