<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<div class="form-group" id="site-setting-<?php echo $this->item['code']?>">
	<label title="<?php echo htmlentities($this->item['description'])?>"><?php echo $this->item['title']?></label>
	<div>
		<textarea class="form-control tinymce" name="fields[<?php echo $this->item['code']?>]" rows="6" id="<?php echo $this->item['code']?>"><?php echo $settings_mapper->getValueByCode($this->item['code'], (isset($this->default) && $this->default)?$this->default:null)?></textarea>
	</div>
</div>
