<?php
$truncate = new Cny_View_Helper_StringTruncate();
?>

<div class="search-results simple container">
	<h2>Search Results</h2>

	<div class="m-t-20">
		<?php /* optionally display a search field on the page
		<input type="text" class="addsearch" placeholder="Search.." />
		*/ ?>

		<div id="addsearch-results"></div>

	</div>
</div>

<!-- AddSearch settings -->
<script>
	window.addsearch_settings = {
		display_url: true,
		display_resultscount: true,
		//display_date: true,
		display_sortby: true,
		number_of_results: 10 //1-30
	}
</script>
<script src="https://addsearch.com/js/?key=<?php echo $this->addsearch_key?>&categories=0x<?php echo $this->addsearch_domain?>&type=resultpage"></script>
