<?php
$truncate = new Cny_View_Helper_StringTruncate();
?>
<div class="search-results simple">
	<div class="container">
		<?php if (count($this->data) > 0) {?>
			<h3>Your Search Results For: "<?php echo $this->q?>"</h3>

			<div class="m-b-20">
				<span>
					Showing results <?php echo ($this->per_page * $this->page) - $this->per_page + 1?>
					thru <?php if ($this->data->getTotalItemCount() > ($this->page * $this->per_page)) echo $this->page * $this->per_page; else echo (($this->page - 1) * $this->per_page) + $this->data->getCurrentItemCount()?>
					of
					<?php echo $this->data->getTotalItemCount()?>
					<?php /*
					<?php echo $this->data->getPages()->pageCount?>
					page<?php echo ($this->data->getPages()->pageCount > 1)?"s":""?> found
                    */ ?>
				</span>
			</div>

			<?php foreach ($this->data as $row) {?>
				<div class="card">
					<div class="card-body">
						<h4 class="card-title"><a href="<?php echo $row['url']; ?>" class="card-link"><?php echo $row['title']; ?></a></h4>
						<h6 class="card-subtitle mb-2 text-muted">
							<?php echo $truncate->StringTruncate($row['description'], 200);?>
						</h6>
						<a href="<?php echo $row['url']; ?>" class="card-link">Go to page</a>
					</div>
				</div>
				<br>
			<?php } ?>

			<div class="m-b-20">
				<span>Go to page: </span> <?php echo $this->paginationControl($this->data, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		<?php }else {?>
			<div class="m-b-20">
				<h3 class="text-center">Sorry, No Results Found For: "<?php echo $this->q?>"</h3>
			</div>
			<div class="text-center">
				<form method="post" action="/search" class="form-inline">
					<div class="form-group">
						<label>Search Again:</label>
						<input type="text" class="form-control" name="q" value="<?php echo $this->q?>">
					</div>
					<button type="submit" class="btn btn-sm btn-default btn--cms-default">Go</button>
				</form>
			</div>
		<?php } ?>
	</div>
</div>
