<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-xs-12 text-right">
				<a class="pull-left btn btn-warning xs-100 btn-expand-all" href="#">Expand All Categories</a>
				<a class="pull-right btn btn-primary xs-100" href="/admin/category/add">Add New Category</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results m-b-10">
				<div class="col-xs-1">Arrange</div>
				<div class="col-xs-8 col-sm-6">Category</div>
				<div class="col-xs-1 text-center">Status</div>
				<div class="col-sm-1 hidden-xs text-center">Delete</div>
				<div class="col-xs-1 text-center">Preview</div>
				<div class="col-sm-1 hidden-xs text-center">Edit</div>
				<div class="col-xs-1 text-center">View</div>
			</div>
			<div class="col-sm-12 component-search-results">
				<ul class="list-unstyled table-sub-nav striped ui-sortable">
					<?php
					foreach ($this->list as $item) {
						if (!isset($item['children']) || count($item['children']) == 0) {
							?>
							<li id="sort_<?php echo $item['id']?>">
								<div class="col-xs-1 text-dark-blue p-l-30"><i class="fas fa-arrows"></i></div>
								<div class="col-xs-8 col-sm-6"><a href="javascript:"><?php echo $item['name']?></a></div>
								<div class="col-xs-1 text-center"><?php echo $item['status']?></div>
								<div class="col-sm-1 hidden-xs text-center"><a href="/admin/category/delete/id/<?php echo $item['id']?>" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></div>
								<div class="col-sm-1 text-center"><a href="/category/<?php echo $item['code']?>" title="Preview" target="_blank"><span class="sr-only">Preview </span><span class="far fa-eye"></span></a></div>
								<div class="col-sm-1 hidden-xs text-center"><a href="/admin/category/edit/id/<?php echo $item['id']?>" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></div>
								<div class="col-xs-1 text-center"><a href="/admin/category/view/id/<?php echo $item['id']?>" title="View"><span class="sr-only">View </span><span class="far fa-eye"></span></a></div>
							</li>
							<?php
						}else {
							?>
							<li id="sort_<?php echo $item['id']?>" class="sub-nav-parent">
								<div class="col-xs-1 text-dark-blue p-l-30"><i class="fas fa-arrows"></i></div>
								<div class="col-xs-8 col-sm-6">
									<a href="javascript:" class="trigger-sub-nav"><?php echo $item['name']?></a>
									<span class="fas fa-angle-right m-l-5"></span>
								</div>
								<div class="col-xs-1 text-center"><?php echo $item['status']?></div>
								<div class="col-sm-1 hidden-xs text-center"><a href="/admin/category/delete/id/<?php echo $item['id']?>" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></div>
								<div class="col-sm-1 text-center"><a href="/category/<?php echo $item['code']?>" title="Preview" target="_blank"><span class="sr-only">Preview </span><span class="far fa-eye"></span></a></div>
								<div class="col-sm-1 hidden-xs text-center"><a href="/admin/category/edit/id/<?php echo $item['id']?>" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></div>
								<div class="col-xs-1 text-center"><a href="/admin/category/view/id/<?php echo $item['id']?>" title="View"><span class="sr-only">View </span><span class="far fa-eye"></span></a></div>

								<?php
								if (isset($item['children'])) {
									?>
									<ul class="list-unstyled">
										<?php
										foreach ($item['children'] as $child) {
											?>
											<li class="sub-nav" id="sort_<?php echo $child['id']?>">
												<!--<div class="col-xs-1 text-dark-blue p-l-30"><i class="fas fa-arrows"></i></div>-->
												<div class="col-xs-9 col-sm-7 p-l-30"><a href="javascript:"><?php echo $child['name']?></a></div>
												<div class="col-xs-1 text-center"><?php echo $child['status']?></div>
												<div class="col-sm-1 hidden-xs text-center"><a href="/admin/category/delete/id/<?php echo $child['id']?>" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></div>
												<div class="col-sm-1 text-center"><a href="/category/<?php echo $item['code']?>/<?php echo $child['code']?>" title="Preview" target="_blank"><span class="sr-only">Preview </span><span class="far fa-eye"></span></a></div>
												<div class="col-sm-1 hidden-xs text-center"><a href="/admin/category/edit/id/<?php echo $child['id']?>" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></div>
												<div class="col-xs-1 text-center"><a href="/admin/category/view/id/<?php echo $child['id']?>" title="View"><span class="sr-only">View </span><span class="far fa-eye"></span></a></div>
											</li>
											<?php
										}
										?>
									</ul>
									<?php
								}
								?>
							</li>
							<?php
						}
					}
					?>
				</ul>
			</div>
		</div>
	</div>
</div>


<script>
	$(function() {
		var $tableSubNav = $('.table-sub-nav');
		$tableSubNav.find('.sub-nav').hide();
		$tableSubNav.find('.sub-nav-parent').on('click','a.trigger-sub-nav', function(){
			$(this).parent().parent().find('.sub-nav').fadeToggle(500).toggleClass('active');
		});

		$(".btn-expand-all").on("click", function(){
			$tableSubNav.find('.sub-nav-parent').find('a.trigger-sub-nav').trigger("click");

			return false;
		});

		$("ul").each(function(){
			$(this).sortable({
				items: "> li:not(.ui-state-disabled)",
				//cancel: ".ui-state-disabled"
				'update': function (event, ui) {
					$.post('/admin/category/sort', $(this).sortable('serialize'), function (data) {
						//
					});
				}
			});
		});

	});
</script>
<style>
	ul.table-sub-nav li {clear:both;}
</style>
