<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);
//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>
<form method="post" action="" class="module-form" id="module-form-<?php echo $this->module->id?>">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="panel-edit__body text-left">

				<h4 class="m-b-5 m-t-0 text-black h4" role="button" data-toggle="collapse" data-target="#moduleSettings" aria-expanded="true" aria-controls="moduleSettings">Module Settings <i class="fal fa-angle-up"></i></h4>
				<hr class="m-t-0">
				<div id="moduleSettings" class="p-l-10 collapse in" aria-expanded="true">

					<div class="row flex-row flex-wrap">
						<div class="col-sm-4">
							<label class="text-black m-b-5"> Feed Layout:</label>

							<div class="panel panel--module">
								<?php echo $this->formSelect('settings[feed_layout]', (isset($settings->feed_layout))?$settings->feed_layout:'', array('class'=>'form-control bg-gray'),
									array(
										'horizontal-tray'=> 'Horizontal-tray',
										'vertical-column'=> 'Vertical Column',
										'grid-display'=> 'Grid Display',
										'carousel'=> 'Carousel',
									)
								)?>
							</div>
						</div>
						<div class="col-sm-4 vertical-layout-section">
							<label class="text-black m-b-5"> Vertical Feed Image Position:</label>

							<div class="panel panel--module">
								<?php echo $this->formSelect('settings[vertical_feed_layout]', (isset($settings->vertical_feed_layout))?$settings->vertical_feed_layout:'', array('class'=>'form-control bg-gray'),
									array(
										'blog-content--left'=> 'Left',
										'blog-content--right'=> 'Right',
										'blog-content--top'=> 'Top'
									)
								)?>
							</div>
						</div>
						<div class="col-sm-4">
							<label class="text-black m-b-5"> Image Profile:</label>

							<div class="panel panel--module">
								<?php echo $this->formSelect('settings[image_profile]', (isset($settings->image_profile))?$settings->image_profile:'', array('class'=>'form-control bg-gray'),
									array(
										''=> 'Original',
										'crop_square'=> 'Square',
										'crop_4x3'=> '4:3',
										'crop_16x9'=> '16:9',
									)
								)?>
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-5"> Blog RSS URL:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="content[rss_url]" value="<?php echo (isset($content->rss_url))?$content->rss_url:''?>">
								<small class="help-block">leave blank to use site's own blog</small>
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-5"> Limit By Tag:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="content[tags]" value="<?php echo (isset($content->tags))?$content->tags:''?>">
								<small class="help-block">comma separate</small>
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-5"> Limit By Category ID:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="content[categories]" value="<?php echo (isset($content->categories))?$content->categories:''?>">
								<small class="help-block">comma separate</small>
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-5"> Number of Posts to Display:</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[post_limit]', (isset($content->post_limit))?$content->post_limit:1, array('class'=>'form-control bg-gray'), array(1=>1,2=>2,3=>3,4=>4,6=>6,12=>12))?>
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-5">Link Target</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[link_target]', (isset($content->link_target))?$content->link_target:'', array('class'=>'form-control bg-gray'),
									array(''=>'Current Window/Tab','_blank'=>'New Tab')
								)?>
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-5"> Grid Column Count:</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[grid_column_count]', (isset($content->grid_column_count))?$content->grid_column_count:1, array('class'=>'form-control bg-gray'), array(1=>1,2=>2,3=>3,4=>4,5=>5,6=>6,12=>12))?>
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-5"> Grid Column Spacing:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="content[grid_column_spacing]" value="<?php echo (isset($content->grid_column_spacing))?$content->grid_column_spacing:15?>">
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-5"> Grid Row Spacing:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="content[grid_row_spacing]" value="<?php echo (isset($content->grid_row_spacing))?$content->grid_row_spacing:15?>">
							</div>
						</div>
						<div class="col-sm-6">
							<label class="m-b-5 text-black">Line Between Grid Rows:</label>
							<div class="m-b-15">
								<?php
								$enabled = (isset($settings->grid_rule) && $settings->grid_rule == 'Disabled')?'off':'on';
								?>
								<div class="btn-group" id="animate" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="settings[grid_rule]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="settings[grid_rule]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="m-b-5 text-black">Line Between Tray Columns:</label>
							<div class="m-b-15">
								<?php
								$enabled = (isset($settings->column_rule) && $settings->column_rule == 'Enabled')?'on':'off';
								?>
								<div class="btn-group" id="animate" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="settings[column_rule]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="settings[column_rule]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="m-b-5 text-black">Column Border Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray complex-colorpicker" name="content[blog_column_border]" value="<?php echo (isset($content->blog_column_border))?$content->blog_column_border:''?>">
							</div>
						</div>
					</div>

				</div>

				<h4 class="m-b-5 m-t-0 text-black h4 collapsed" role="button" data-toggle="collapse" data-target="#contentSettings" aria-expanded="true" aria-controls="contentSettings">Content Settings <i class="fal fa-angle-up"></i></h4>
				<hr class="m-t-0">
				<div id="contentSettings" class="p-l-10 collapse in" aria-expanded="true">

					<div class="p-l-10">
						<h4 class="m-b-5 m-t-0 text-black h4">Overlay</h4>
						<hr class="m-t-0">
						<div class="flex-auto-fit m-b-15">
							<div class="flex-auto-fit__item col-auto">
								<label class="m-b-5 text-black">Display</label>
								<div class="m-b-15">
									<?php
									$enabled = (isset($settings->blog_feed_title_overlay) && $settings->blog_feed_title_overlay == 'Disabled')?'off':'on';
									?>
									<div class="btn-group" id="animate" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[blog_feed_title_overlay]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[blog_feed_title_overlay]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>

							</div>
							<div class="flex-auto-fit__item col-auto">
								<label class="m-b-5 text-black">Display on hover:</label>
								<div class="m-b-15">
									<?php
									$enabled = (isset($settings->blog_feed_title_overlay_hover) && $settings->blog_feed_title_overlay_hover == 'Enabled')?'on':'off';
									?>
									<div class="btn-group" id="animate" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[blog_feed_title_overlay_hover]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[blog_feed_title_overlay_hover]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="flex-auto-fit__item">
								<label class="text-black m-b-5">Background Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[blog_feed_title_overlay_bg]" value="<?php echo (isset($content->blog_feed_title_overlay_bg))?$content->blog_feed_title_overlay_bg:''?>">
								</div>
							</div>
							<div class="flex-auto-fit__item">
								<label class="text-black m-b-5">Padding</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[blog_feed_title_overlay_padding]" value="<?php echo (isset($content->blog_feed_title_overlay_padding))?$content->blog_feed_title_overlay_padding:''?>">
								</div>
							</div>
						</div>


						<h4 class="m-b-5 m-t-0 text-black h4">Post Title</h4>
						<hr class="m-t-0">
						<div class="flex-auto-fit m-b-15">
							<div class="flex-auto-fit__item col-auto">
								<label class="m-b-5 text-black">Display</label>
								<div class="m-b-15">
									<?php
									$enabled = (isset($settings->blog_feed_title) && $settings->blog_feed_title == 'Disabled')?'off':'on';
									?>
									<div class="btn-group" id="animate" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[blog_feed_title]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[blog_feed_title]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>

							</div>
							<div class="flex-auto-fit__item">
								<div class="flex-auto-fit">
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Title Size</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray" name="content[blog_title_size]" value="<?php echo (isset($content->blog_title_size))?$content->blog_title_size:''?>">
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Title Line Height</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[blog_title_line_height]', (isset($content->blog_title_line_height))?$content->blog_title_line_height:'', array('class'=>'form-control bg-gray'),
												array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
													'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px','44px','48px','50px','60px')
											)?>
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Title Font Weight</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[blog_title_font_weight]', (isset($content->blog_title_font_weight))?$content->blog_title_font_weight:'bold', array('class'=>'form-control bg-gray'),
												array(
													'' => 'Default',
													'300' => 'Light',
													'400' => 'Regular',
													'500' => 'Medium',
													'600' => 'Semi Bold',
													'700' => 'Bold',
													'800' => 'Bolder'
												)
											)?>
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Title Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[blog_title_color]" value="<?php echo (isset($content->blog_title_color))?$content->blog_title_color:''?>">
										</div>
									</div>
								</div>
								<div class="flex-auto-fit">
									<div class="flex-auto-fit__item" style="max-width: 250px;">
										<label class="text-black m-b-5">Title Hover Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[blog_title_hover_color]" value="<?php echo (isset($content->blog_title_hover_color))?$content->blog_title_hover_color:''?>">
										</div>
									</div>
									<div class="flex-auto-fit__item" style="max-width: 250px;">
										<label for="" class="m-b-5 text-black">Title Font:</label>
										<div class="panel panel--module bg-gray">
											<select name="content[blog_title_font]" class="form-control bg-gray font-selector" data-weight="content[blog_title_weight]">
												<?php
												$value = (isset($content->blog_title_font))?$content->blog_title_font:'';
												foreach ($font_options as $k => $v) {
													$selected = ($k == $value)?"selected":"";
													?>
													<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
													<?php
												}
												?>
											</select>
										</div>
									</div>
									<div class="flex-auto-fit__item" style="max-width: 250px;">
										<label class="text-black m-b-5">Padding</label>
										<div class="panel panel--module">
											<input type="text" class="form-control" name="content[blog_title_padding]" value="<?php echo (isset($content->blog_title_padding))?$content->blog_title_padding:''?>">
										</div>
									</div>
								</div>
							</div>
						</div>

						<h4 class="m-b-5 m-t-0 text-black h4">Summary Text</h4>
						<hr class="m-t-0">
						<div class="flex-auto-fit m-b-15">
							<div class="flex-auto-fit__item col-auto">
								<label class="m-b-5 text-black">Display</label>
								<div class="m-b-15">
									<?php
									$enabled = (isset($settings->blog_feed_caption) && $settings->blog_feed_caption == 'Enabled')?'on':'off';
									?>
									<div class="btn-group" id="animate" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[blog_feed_caption]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[blog_feed_caption]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="flex-auto-fit__item">
								<div class="flex-auto-fit">
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Text Size</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray" name="content[blog_text_size]" value="<?php echo (isset($content->blog_text_size))?$content->blog_text_size:''?>">
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Text Line Height</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[blog_text_line_height]', (isset($content->blog_text_line_height))?$content->blog_text_line_height:'', array('class'=>'form-control bg-gray'),
												array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
													'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px','44px','48px','50px','60px')
											)?>
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Text Font Weight</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[blog_text_font_weight]', (isset($content->blog_text_font_weight))?$content->blog_text_font_weight:'', array('class'=>'form-control bg-gray'),
												array(
													'' => 'Default',
													'300' => 'Light',
													'400' => 'Regular',
													'500' => 'Medium',
													'600' => 'Semi Bold',
													'700' => 'Bold'
												)
											)?>
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Text Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[blog_text_color]" value="<?php echo (isset($content->blog_text_color))?$content->blog_text_color:''?>">
										</div>
									</div>
								</div>
								<div class="flex-auto-fit">
									<div class="flex-auto-fit__item" style="max-width: 250px;">
										<label for="" class="m-b-5 text-black">Text Font:</label>
										<div class="panel panel--module bg-gray">
											<select name="content[blog_text_font]" class="form-control bg-gray font-selector" data-weight="content[blog_text_font_weight]">
												<?php
												$value = (isset($content->blog_text_font))?$content->blog_text_font:'';
												foreach ($font_options as $k => $v) {
													$selected = ($k == $value)?"selected":"";
													?>
													<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
													<?php
												}
												?>
											</select>
										</div>
									</div>
									<div class="flex-auto-fit__item" style="max-width: 250px;">
										<label class="text-black m-b-5">Padding</label>
										<div class="panel panel--module">
											<input type="text" class="form-control" name="content[blog_summary_padding]" value="<?php echo (isset($content->blog_summary_padding))?$content->blog_summary_padding:''?>">
										</div>
									</div>
								</div>
							</div>
						</div>

						<h4 class="m-b-5 m-t-0 text-black h4">Post Date</h4>
						<hr class="m-t-0">
						<div class="flex-auto-fit m-b-15">
							<div class="flex-auto-fit__item col-auto">
								<label class="m-b-5 text-black">Display</label>
								<div class="m-b-15">
									<?php
									$enabled = (isset($settings->blog_feed_date) && $settings->blog_feed_date == 'Enabled')?'on':'off';
									?>
									<div class="btn-group" id="animate" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[blog_feed_date]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[blog_feed_date]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>

							</div>
							<div class="flex-auto-fit__item">
								<div class="flex-auto-fit">
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Size</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray" name="content[blog_date_size]" value="<?php echo (isset($content->blog_date_size))?$content->blog_date_size:''?>">
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Line Height</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[blog_date_line_height]', (isset($content->blog_date_line_height))?$content->blog_date_line_height:'', array('class'=>'form-control bg-gray'),
												array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
													'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px','44px','48px','50px','60px')
											)?>
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Font Weight</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[blog_date_font_weight]', (isset($content->blog_date_font_weight))?$content->blog_date_font_weight:'bold', array('class'=>'form-control bg-gray'),
												array(
													'' => 'Default',
													'300' => 'Light',
													'400' => 'Regular',
													'500' => 'Medium',
													'600' => 'Semi Bold',
													'700' => 'Bold',
													'800' => 'Bolder'
												)
											)?>
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[blog_date_color]" value="<?php echo (isset($content->blog_date_color))?$content->blog_date_color:''?>">
										</div>
									</div>
								</div>
								<div class="flex-auto-fit">
									<div class="flex-auto-fit__item" style="max-width: 250px;">
										<label for="" class="m-b-5 text-black">Font:</label>
										<div class="panel panel--module bg-gray">
											<select name="content[blog_date_font]" class="form-control bg-gray font-selector" data-weight="content[blog_date_weight]">
												<?php
												$value = (isset($content->blog_date_font))?$content->blog_date_font:'';
												foreach ($font_options as $k => $v) {
													$selected = ($k == $value)?"selected":"";
													?>
													<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
													<?php
												}
												?>
											</select>
										</div>
									</div>
									<div class="flex-auto-fit__item" style="max-width: 250px;">
										<label class="text-black m-b-5">Padding</label>
										<div class="panel panel--module">
											<input type="text" class="form-control" name="content[blog_date_padding]" value="<?php echo (isset($content->blog_date_padding))?$content->blog_date_padding:''?>">
										</div>
									</div>
								</div>
							</div>
						</div>

						<h4 class="m-b-5 m-t-0 text-black h4">Read More Button</h4>
						<hr class="m-t-0">
						<div class="flex-auto-fit m-b-15">
							<div class="flex-auto-fit__item col-auto">
								<label class="m-b-5 text-black">Display</label>
								<div class="m-b-15">
									<?php
									$enabled = (isset($settings->blog_feed_read_more) && $settings->blog_feed_read_more == 'Disabled')?'off':'on';
									?>
									<div class="btn-group" id="animate" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[blog_feed_read_more]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[blog_feed_read_more]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>

							<div class="flex-auto-fit__item">
								<div class="flex-auto-fit">
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Button Text</label>
										<div class="panel panel--module">
											<input data-type="label" type="text" class="form-control" name="content[blog_feed_read_more]" value="<?php echo (isset($content->blog_feed_read_more))?$content->blog_feed_read_more:''?>">
										</div>
									</div>
									<div class="flex-auto-fit__item" style="max-width: 250px;">
										<label class="text-black m-b-5">Button Type</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('settings[blog_readmore_button_type]', (isset($settings->blog_readmore_button_type))?$settings->blog_readmore_button_type:'', array('class'=>'form-control bg-gray'),
												array(''=>'Button','text'=>'Text')
											)?>
										</div>
									</div>
									<div class="flex-auto-fit__item col-auto">
										<label class="m-b-5 text-black">Underline</label>
										<div class="m-b-15">

											<?php
											$enabled = (isset($settings->blog_feed_read_more_underline) && $settings->blog_feed_read_more_underline == 'Enabled')?'on':'off';
											?>
											<div class="btn-group" id="animate" data-toggle="buttons">
												<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
													<input type="radio" value="Enabled" name="settings[blog_feed_read_more_underline]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
												<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
													<input type="radio" value="Disabled" name="settings[blog_feed_read_more_underline]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
											</div>
										</div>
									</div>
									<div class="flex-auto-fit__item col-auto">
										<label class="m-b-5 text-black">Underline on hover:</label>
										<div>

											<?php
											$enabled = (isset($settings->blog_feed_read_more_underline_hover) && $settings->blog_feed_read_more_underline_hover == 'Enabled')?'on':'off';
											?>
											<div class="btn-group" id="animate" data-toggle="buttons">
												<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
													<input type="radio" value="Enabled" name="settings[blog_feed_read_more_underline_hover]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
												<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
													<input type="radio" value="Disabled" name="settings[blog_feed_read_more_underline_hover]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
											</div>
										</div>
									</div>
								</div>
								<!--button partial-->
								<div class="m-b-15">
									<?php echo $this->partial('/cms/modules/partials/button.phtml', array(
										'in_panel' => false, //is it in the Panel Editor
										'field_map' => array( //this is a giant map of "easy names" to the actual field names. Need this because the existing names are all different
											'style' => array('name'=>'content[blog_readmore_button_class]','value'=>isset($content->blog_readmore_button_class)?$content->blog_readmore_button_class:null),
											'color' => array('name'=>'content[blog_readmore_color]','value'=>isset($content->blog_readmore_color)?$content->blog_readmore_color:null),
											'hover_color' => array('name'=>'content[blog_readmore_hover_color]','value'=>isset($content->blog_readmore_hover_color)?$content->blog_readmore_hover_color:null),
											'hover_effect' => null,
											'border_status' => null,
											'border_size' => array('name'=>'content[blog_readmore_border_width]','value'=>isset($content->blog_readmore_border_width)?$content->blog_readmore_border_width:null),
											'border_color' => array('name'=>'content[blog_readmore_border]','value'=>isset($content->blog_readmore_border)?$content->blog_readmore_border:null),
											'border_hover_color' => array('name'=>'content[blog_readmore_border_hover]','value'=>isset($content->blog_readmore_border_hover)?$content->blog_readmore_border_hover:null),
											'font' => array('name'=>'content[blog_readmore_font]','value'=>isset($content->blog_readmore_font)?$content->blog_readmore_font:null),
											'text_size' => array('name'=>'content[blog_readmore_size]','value'=>isset($content->blog_readmore_size)?$content->blog_readmore_size:null),
											'text_weight' => array('name'=>'content[blog_readmore_font_weight]','value'=>isset($content->blog_readmore_font_weight)?$content->blog_readmore_font_weight:null),
											'text_color' => array('name'=>'content[blog_readmore_text_color]','value'=>isset($content->blog_readmore_text_color)?$content->blog_readmore_text_color:null),
											'text_hover_color' => array('name'=>'content[blog_readmore_text_hover_color]','value'=>isset($content->blog_readmore_text_hover_color)?$content->blog_readmore_text_hover_color:null),
											'text_padding' => null,
											'text_line_height' => null,
											'width' => array('name'=>'content[blog_readmore_button_width]','value'=>isset($content->blog_readmore_button_width)?$content->blog_readmore_button_width:null),
											'padding_vertical' => array('name'=>'content[blog_readmore_button_padding_tb]','value'=>isset($content->blog_readmore_button_padding_tb)?$content->blog_readmore_button_padding_tb:null),
											'padding_horizontal' => array('name'=>'content[blog_readmore_button_padding_lr]','value'=>isset($content->blog_readmore_button_padding_lr)?$content->blog_readmore_button_padding_lr:null),
											'alignment' => array('name'=>'content[blog_readmore_button_alignment]','value'=>isset($content->blog_readmore_button_alignment)?$content->blog_readmore_button_alignment:null),
										)
									)); ?>
								</div>
								<!--end button partial-->
							</div>


						</div>

						<h4 class="m-b-5 m-t-0 text-black h4">Carousel</h4>
						<hr class="m-t-0">

						<!--main controls-->
						<div class="flex-auto-fit m-b-15">
							<div class="flex-auto-fit__item col-auto">
								<label class="text-black m-b-5">Autoplay:</label>
								<div class="panel panel--module text-left">
									<?php
									$enabled = (isset($settings->autoplay) && $settings->autoplay == 'Disabled')?'off':'on';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[autoplay]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[autoplay]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="flex-auto-fit__item">
								<div class="flex-auto-fit">
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Orientation</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('settings[carousel_orientation]', (isset($settings->carousel_orientation))?$settings->carousel_orientation:'horizontal', array('class'=>'form-control bg-gray'), array('horizontal'=>'Horizontal','vertical'=>'Vertical'))?>
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Transition Speed (seconds)</label>
										<div class="panel panel--module">
											<input type="text" class="form-control" name="settings[transition_speed]" value="<?php echo (isset($settings->transition_speed))?$settings->transition_speed:'6'?>">
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label for="" class="m-b-5 text-black">Image Zoom %</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray border-radius" name="settings[image_hover_zoom_percent]" value="<?php echo (isset($settings->image_hover_zoom_percent))?$settings->image_hover_zoom_percent:'10'?>">
										</div>
									</div>
									<div class="flex-auto-fit__item col-auto">
										<label for="" class="m-b-5 text-black">Zoom Hover</label>
										<?php
										$enabled = (isset($settings->image_hover_zoom_status) && $settings->image_hover_zoom_status == 'on')?'on':'off';
										?>
										<div class="panel panel--module">
											<div class="btn-group" id="animate" data-toggle="buttons">
												<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
													<input type="radio" value="on" name="settings[image_hover_zoom_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
												<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
													<input type="radio" value="off" name="settings[image_hover_zoom_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
											</div>
										</div>
									</div>
									<div class="flex-auto-fit__item col-auto">
										<label class="m-b-5 text-black">Thumbnails</label>
										<?php
										$enabled = (isset($settings->carousel_thumbnails) && $settings->carousel_thumbnails == 'Enabled')?'on':'off';
										?>
										<div class="panel panel--module">
											<div class="btn-group" id="animate" data-toggle="buttons">
												<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
													<input type="radio" value="Enabled" name="settings[carousel_thumbnails]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
												<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
													<input type="radio" value="Disabled" name="settings[carousel_thumbnails]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end main controls-->

						<!--arrows-->
						<div class="flex-auto-fit m-b-15">
							<div class="flex-auto-fit__item col-auto">
								<label class="text-black m-b-5">Arrows</label>
								<div class="panel panel--module text-left">
									<?php
									$enabled = (isset($settings->controls_status) && $settings->controls_status == 'Disabled')?'off':'on';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[controls_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[controls_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="flex-auto-fit__item">
								<div class="flex-auto-fit">
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Arrow Size</label>
										<div class="panel panel--module">
											<input type="text" class="form-control" name="content[carousel_arrow_size]" value="<?php echo (isset($content->carousel_arrow_size))?$content->carousel_arrow_size:''?>">
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Arrow Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_color]" value="<?php echo (isset($content->carousel_arrow_color))?$content->carousel_arrow_color:''?>">
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Arrow Hover Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_hover_color]" value="<?php echo (isset($content->carousel_arrow_hover_color))?$content->carousel_arrow_hover_color:''?>">
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Background Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_background_color]" value="<?php echo (isset($content->carousel_arrow_background_color))?$content->carousel_arrow_background_color:''?>">
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--end arrows-->

						<!--dots-->
						<div class="flex-auto-fit m-b-15">
							<div class="flex-auto-fit__item col-auto">
								<label class="text-black m-b-5">Dots</label>
								<div class="panel panel--module text-left">
									<?php
									$enabled = (isset($settings->pagination_status) && $settings->pagination_status == 'Enabled')?'on':'off';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[pagination_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[pagination_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="flex-auto-fit__item">
								<div class="flex-auto-fit">
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Dot Size</label>
										<div class="panel panel--module">
											<input type="text" class="form-control" name="content[carousel_dot_size]" value="<?php echo (isset($content->carousel_dot_size))?$content->carousel_dot_size:''?>">
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Dot Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_dot_color]" value="<?php echo (isset($content->carousel_dot_color))?$content->carousel_dot_color:''?>">
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Dot Hover Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_dot_hover_color]" value="<?php echo (isset($content->carousel_dot_hover_color))?$content->carousel_dot_hover_color:''?>">
										</div>
									</div>
									<div class="flex-auto-fit__item">

									</div>
								</div>
								<div class="flex-auto-fit">
									<div class="flex-auto-fit__item" style="max-width: 250px;">

									</div>
									<div class="flex-auto-fit__item" style="max-width: 250px;">

									</div>
								</div>
							</div>
						</div>
						<!--end dots-->

						<h4 class="m-b-5 m-t-0 text-black h4">Advanced Settings</h4>
						<hr class="m-t-0">
						<div class="flex-auto-fit m-b-15">
							<div class="flex-auto-fit__item col-auto">
								<label class="m-b-5 text-black">Truncate Caption</label>
								<div class="m-b-15">
									<?php
									$enabled = (isset($settings->blog_feed_truncate) && $settings->blog_feed_truncate == 'Enabled')?'on':'off';
									?>
									<div class="btn-group" id="animate" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[blog_feed_truncate]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[blog_feed_truncate]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="flex-auto-fit__item">
								<label class="text-black m-b-5">Character Count</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[blog_feed_truncate_length]" value="<?php echo (isset($content->blog_feed_truncate_length))?$content->blog_feed_truncate_length:''?>">
								</div>
							</div>
							<div class="flex-auto-fit__item">
								<label class="text-black m-b-5">Column Spacing</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[blog_feed_column_spacing]" value="<?php echo (isset($content->blog_feed_column_spacing))?$content->blog_feed_column_spacing:''?>">
								</div>
							</div>
						</div>

					</div>

				</div>


			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>

</form>

<script>
	$(function() {
		window.cny.fontWeightUpdater();
		$(".selectpicker").selectpicker();

		<?php if (!isset($settings->carousel) || $settings->carousel == 'Disabled') {?>
		$(".carousel-section").hide();
		<?php }else { ?>
		$(".carousel-section").show();
		<?php } ?>

		$('input[name="settings[carousel]"]').on("change", function (){
			if ($('input[name="settings[carousel]"]:checked').val() === 'Enabled') {
				$(".carousel-section").show();
			}else {
				$(".carousel-section").hide();
			}
		});

		<?php if (!isset($settings->blog_feed_title_overlay) || $settings->blog_feed_title_overlay == 'Disabled') {?>
		$(".overlay-section").hide();
		<?php }else { ?>
		$(".overlay-section").show();
		<?php } ?>

		$('input[name="settings[blog_feed_title_overlay]"]').on("change", function (){
			if ($('input[name="settings[blog_feed_title_overlay]"]:checked').val() === 'Enabled') {
				$(".overlay-section").show();
			}else {
				$(".overlay-section").hide();
			}
		});

		<?php if (!isset($settings->blog_feed_truncate) || $settings->blog_feed_truncate == 'Disabled') {?>
		$(".truncate-section").hide();
		<?php }else { ?>
		$(".truncate-section").show();
		<?php } ?>

		$('input[name="settings[blog_feed_truncate]"]').on("change", function (){
			if ($('input[name="settings[blog_feed_truncate]"]:checked').val() === 'Enabled') {
				$(".truncate-section").show();
			}else {
				$(".truncate-section").hide();
			}
		});

		<?php if (!isset($settings->blog_feed_read_more) || $settings->blog_feed_read_more == 'Disabled') {?>
		$(".read-more-section").hide();
		<?php }else { ?>
		$(".read-more-section").show();
		<?php } ?>

		$('input[name="settings[blog_feed_read_more]"]').on("change", function (){
			if ($('input[name="settings[blog_feed_read_more]"]:checked').val() === 'Enabled') {
				$(".read-more-section").show();
			}else {
				$(".read-more-section").hide();
			}
		});


		$('h4[data-toggle]').on('click', function() {
			if ( $(this).attr('aria-expanded') === 'false' ) {
				$(this).find('.fal')
					.addClass('fa-angle-up')
					.removeClass('fa-angle-down');
			} else {
				$(this).find('.fal')
					.addClass('fa-angle-down')
					.removeClass('fa-angle-up');
			}

		});
	});
</script>
