<?php
$content = json_decode($this->module->json_content);

//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}

?>
<form method="post" action="" class="module-form" id="module-form-<?php echo $this->module->id?>">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="panel-edit__body">
				<div class="form-group text-left">
					<label class="text-black m-b-5">Button Text:</label>
					<div class="panel panel--module">
						<input data-type="label" type="text" class="form-control bg-gray" name="content[label]" value="<?php echo (isset($content->label))?$content->label:''?>">
					</div>

					<label for="" class="m-b-5 text-black">Button Type:</label>
					<?php
					$enabled = (isset($content->button_trigger_type) && $content->button_trigger_type == 'Modal')?'Modal':'URL';
					?>
					<div class="btn-group" id="animate" data-toggle="buttons">
						<label class="btn btn-default btn-on <?php echo ($enabled == 'URL')?'active':''?>">
							<input type="radio" value="URL" name="content[button_trigger_type]" <?php echo ($enabled == 'URL')?'checked':''?>>URL</label>
						<label class="btn btn-default btn-off <?php echo ($enabled == 'Modal')?'active':''?>">
							<input type="radio" value="Modal" name="content[button_trigger_type]" <?php echo ($enabled == 'Modal')?'checked':''?>>Modal</label>
					</div>

					<div class="button_trigger_type-url">
						<label class="text-black m-b-5">Button URL:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray" name="content[button_url]" value="<?php echo (isset($content->button_url))?$content->button_url:''?>">
						</div>

						<label class="text-black m-b-5">Target:</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('content[button_target]', (isset($content->button_target))?$content->button_target:'', array('class'=>'form-control bg-gray'),
								array(''=>'Current Window/Tab','_blank'=>'New Tab')
							)?>
						</div>
					</div>

					<div class="button_trigger_type-modal">
						<label class="text-black m-b-5">Modal:</label>
						<div class="panel panel--module">
							<?php
							$mapper = new Admin_Model_Mapper_Page();
							$modals = $mapper->fetchModals();
							$options = [];
							foreach ($modals as $modal) {
								$options[$modal->code] = $modal->title;
							}
							?>
							<?php echo $this->formSelect('content[button_modal_code]', (isset($content->button_modal_code))?$content->button_modal_code:'', array('class'=>'form-control bg-gray'),
								$options
							)?>
						</div>

						<label class="text-black m-b-5">Modal Size:</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('content[button_modal_size]', (isset($content->button_modal_size))?$content->button_modal_size:'', array('class'=>'form-control bg-gray'),
								array(''=>'Default','modal-sm'=>'Small','modal-lg'=>'Large','modal-full'=>'Full Screen')
							)?>
						</div>
					</div>

					<h3 class="form-group-title m-t-30 m-b-5" role="button" data-toggle="collapse" href="#collapseDesign" aria-expanded="false" aria-controls="collapseDesign">Design <i class="fas fa-plus-square"></i></h3>
					<div class="collapse" id="collapseDesign">
						<?php echo $this->partial('/cms/modules/partials/button.phtml', array(
							'in_panel' => false, //is it in the Panel Editor
							'field_map' => array( //this is a giant map of "easy names" to the actual field names. Need this because the existing names are all different
								'style' => array('name'=>'content[button_class]','value'=>isset($content->button_class)?$content->button_class:null),
								'color' => array('name'=>'content[button_color]','value'=>isset($content->button_color)?$content->button_color:null),
								'hover_color' => array('name'=>'content[button_hover_color]','value'=>isset($content->button_hover_color)?$content->button_hover_color:null),
								'hover_effect' => null,
								'border_status' => null,
								'border_size' => array('name'=>'content[button_border_size]','value'=>isset($content->button_border_size)?$content->button_border_size:null),
								'border_color' => array('name'=>'content[button_border_color]','value'=>isset($content->button_border_color)?$content->button_border_color:null),
								'border_hover_color' => array('name'=>'content[button_hover_border_color]','value'=>isset($content->button_hover_border_color)?$content->button_hover_border_color:null),
								'font' => array('name'=>'content[font]','value'=>isset($content->font)?$content->font:null),
								'text_size' => array('name'=>'content[text_size]','value'=>isset($content->text_size)?$content->text_size:null),
								'text_weight' => array('name'=>'content[text_weight]','value'=>isset($content->text_weight)?$content->text_weight:null),
								'text_color' => array('name'=>'content[text_color]','value'=>isset($content->text_color)?$content->text_color:null),
								'text_hover_color' => array('name'=>'content[text_hover_color]','value'=>isset($content->text_hover_color)?$content->text_hover_color:null),
								'text_padding' => null,
								'text_line_height' => null,
								'width' => array('name'=>'content[button_width]','value'=>isset($content->button_width)?$content->button_width:null),
								'padding_vertical' => array('name'=>'content[button_padding_tb]','value'=>isset($content->button_padding_tb)?$content->button_padding_tb:null),
								'padding_horizontal' => array('name'=>'content[button_padding_lr]','value'=>isset($content->button_padding_lr)?$content->button_padding_lr:null),
								'alignment' => array('name'=>'content[alignment]','value'=>isset($content->alignment)?$content->alignment:null),
							)
						)); ?>
					</div>

					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">Advanced <i class="fas fa-plus-square"></i></h3>
					<div class="collapse" id="collapseAdvanced">
						<div class="row">
							<div class="col-sm-12">
								<label class="text-black m-b-5">Tracking Event</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray" name="content[onclick]" value="<?php echo (isset($content->onclick))?$content->onclick:''?>">
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>

</form>

<script>
	$(function() {
		//window.cny.wysiwyg();

		if ($("#module_image_path").val() == '') $("#module_image").hide();

		$(".clear-module_image").on("click",function(){
			$("#module_image_path").val('');
			$("#module_image").attr('src','').hide();
		});
		$(".clear-module_hover_image").on("click",function(){
			$("#module_hover_image_path").val('');
			$("#module_hover_image").attr('src','').hide();
		});

		<?php if (isset($content->button_trigger_type) && $content->button_trigger_type == 'Modal') {?>
		$(".button_trigger_type-modal").show();
		$(".button_trigger_type-url").hide();
		<?php }else { ?>
		$(".button_trigger_type-url").show();
		$(".button_trigger_type-modal").hide();
		<?php } ?>

		$('input[name="content[button_trigger_type]"]').on("change", function (){
			if ($('input[name="content[button_trigger_type]"]:checked').val() == 'Modal') {
				$(".button_trigger_type-modal").show();
				$(".button_trigger_type-url").hide();
			}else {
				$(".button_trigger_type-modal").hide();
				$(".button_trigger_type-url").show();
			}
		});
	});
</script>
