<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);
$panels = array();
if (isset($content->panels)) {
	foreach ($content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">

			<div id="panelForm" class="panel-edit">
				<input type="hidden" class="form-control" id="panelForm-id" value="">
				<input type="hidden" class="form-control copy" id="panelForm-sort_order" data-name="sort_order" value="">


				<div class="panel-edit__body">
					<div class="form-group text-left">
						<h3 class="form-group-title m-b-5">Panel Image</h3>

						<label class="m-b-5 text-black">Label:</label>
						<div class="panel panel--module bg-gray">
							<input type="text" class="form-control copy" id="panelForm-label" data-name="label" value="">
						</div>

						<label for="" class="m-b-5 text-black">Image:</label>
						<div class="panel panel--module text-left">
							<img src="" class="img-responsive copy filemanager-image" data-image_src="#panelForm-image_path" id="panelForm-image" data-name="image"><br/>
							<input type="hidden" class="form-control copy" id="panelForm-image_path" data-name="image_path" value="">
							<button data-url="/filemanager/dialog.php?type=1&field_id=panelForm-image_path&relative_url=1" class="btn btn-primary modal-filemanager" type="button">Select Image</button>
						</div>

						<div class="row m-b-10">
							<div class="col-sm-4">
								<label for="" class="m-b-5 text-black">Image Zoom on Hover:</label>
								<select class="form-control copy" id="panelForm-image_hover_zoom_status" data-name="image_hover_zoom_status">
									<option value="off">Off</option>
									<option value="on">On</option>
								</select>
							</div>
							<div class="col-sm-3">
								<label for="" class="m-b-5 text-black">Image Zoom in Percentage:</label>
								<input type="text" class="form-control bg-white border-radius copy"  id="panelForm-image_hover_zoom_percent" data-name="image_hover_zoom_percent" value="10">
							</div>
						</div>

						<label for="" class="m-b-5 text-black">Link URL:</label>
						<div class="panel panel--module bg-gray">
							<input type="text" class="form-control copy" id="panelForm-link_url" data-name="link_url" value="">
						</div>

						<label for="" class="m-b-5 text-black">Link Target:</label>
						<div class="panel panel--module bg-gray">
							<select class="form-control copy" id="panelForm-link_target" data-name="link_target">
								<option value="">Current Window/Tab</option>
								<option value="_blank">New Tab</option>
							</select>
						</div>

						<label class="text-black m-b-5">Panel Status</label>
						<div class="panel panel--module">
							<select class="form-control copy" id="panelForm-status" data-name="status">
								<option value="Enabled">Enabled</option>
								<option value="Disabled">Disabled</option>
							</select>
						</div>
					</div>
				</div>


				<div class="break-row p-t-50">
					<div class="btn-group btn-group-justified">
						<a class="btn btn-lg btn-warning waves-effect waves-light" id="cancel-panel">Cancel</a>
						<a class="btn btn-lg btn--purple waves-effect waves-light" id="save-panel">Save Panel</a>
					</div>
				</div>
			</div>

			<div class="panel-view panel-edit__body">
				<div id="hero-list">

					<div class="row flex-row">
						<div class="col-xs-12 p-l-0 list-div">
							<?php
							if (isset($panels)) {
								foreach ($panels as $k => $panel) {
									?>
									<div class="col-sm-12 p-t-10 list-row" data-id="panel_<?php echo $k?>">
										<?php foreach ((array)$panel as $name => $val) {?>
											<input type="hidden" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>" value="<?php echo $val?>">
										<?php } ?>

										<div class="m-b-0 panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
											<div class="controls controls--horizontal">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-edit-btn" data-rel="<?php echo $k?>"><i class="fas fa-bars"></i></button>
													<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
												</div>
											</div>
											<div class="panel__title" id="module_label-"><?php $k_plus = $k+1; echo ($panel->label)?$panel->label:"Panel {$k_plus}"?></div>
											<div class="controls">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete" data-rel="<?php echo $k?>"><i class="fas fa-times"></i></button>
												</div>
											</div>
										</div>
									</div>
									<?php
								}
							}?>
						</div>
					</div>

				</div>
				<div class="panel panel--module bg-border flex-row flex-align-center flex-justify-center">
					<div class="controls controls--footer text-center flex-grow-1 p-0">
						<a class="btn btn-xs btn--link p-t-10 p-b-10" id="add-panel" href=""><i class="fas fa-plus-square"></i> Add Panel</a>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3">
						<label for="" class="m-b-5 text-black">Transition Speed (seconds):</label>
						<div class="panel panel--module bg-gray">
							<input type="text" class="form-control" name="content[transition_speed]" value="<?php echo (isset($content->transition_speed))?$content->transition_speed:'2'?>">
						</div>
					</div>
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-15">Show Thumbnails:</label>
						<div class="panel panel--module text-left">
							<?php
							$enabled = (isset($settings->thumbnail_status) && $settings->thumbnail_status == 'Enabled')?'on':'off';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[thumbnail_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[thumbnail_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<label for="" class="m-b-5 text-black">Thumbnail Max Height:</label>
						<div class="panel panel--module bg-gray">
							<input type="text" class="form-control" name="content[max_thumbnail_height]" value="<?php echo (isset($content->max_thumbnail_height))?$content->max_thumbnail_height:'100'?>">
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<h4 class="text-black m-b-5">Carousel Styling</h4>
					</div>

					<div class="col-sm-3 text-left">
						<label class="text-black m-b-15">Show Pagination (dots):</label>
						<div class="panel panel--module text-left">
							<?php
							$enabled = (isset($settings->pagination_status) && $settings->pagination_status == 'Disabled')?'off':'on';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[pagination_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[pagination_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-15">Show Arrows:</label>
						<div class="panel panel--module text-left">
							<?php
							$enabled = (isset($settings->arrows_status) && $settings->arrows_status == 'Enabled')?'on':'off';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[arrows_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[arrows_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-15">Lightbox Modal:</label>
						<div class="panel panel--module text-left">
							<?php
							$enabled = (isset($settings->lightbox_status) && $settings->lightbox_status == 'Enabled')?'on':'off';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[lightbox_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[lightbox_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<label class="text-black m-b-5">Arrow Size</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="settings[carousel_arrow_size]" value="<?php echo (isset($settings->carousel_arrow_size))?$settings->carousel_arrow_size:''?>">
						</div>
					</div>
					<div class="col-sm-4">
						<label class="text-black m-b-5">Arrow Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-white complex-colorpicker" name="settings[carousel_arrow_color]" value="<?php echo (isset($settings->carousel_arrow_color))?$settings->carousel_arrow_color:''?>">
						</div>
					</div>
					<div class="col-sm-4">
						<label class="text-black m-b-5">Arrow Hover Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-white complex-colorpicker" name="settings[carousel_arrow_hover_color]" value="<?php echo (isset($settings->carousel_arrow_hover_color))?$settings->carousel_arrow_hover_color:''?>">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<div class="col-sm-12 p-t-10 hidden list-row ui-sortable-handle" id="new-panel_row">
	<div class="m-b-0 panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
		<div class="controls controls--horizontal">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-edit-btn"><i class="fas fa-bars"></i></button>
				<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
			</div>
		</div>
		<div class="panel__title" id="module_label-"></div>
		<div class="controls">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		window.cny.moduleSubPanels();
	});
</script>
