<?php
$content = json_decode($this->module->json_content);
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="row">
				<div class="col-sm-12">
					<div class="panel panel--module">
						<textarea id="editor" class="form-control bg-gray" name="content[text]" rows="12"><?php echo htmlentities((isset($content->text))?$content->text:'')?></textarea>
					</div>
				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>

</form>
