<?php
$content = json_decode($this->module->json_content);

//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="panel-edit__body">

				<div class="form-group text-left">
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseMessageText" aria-expanded="true" aria-controls="collapseImage">Copyright Message <i class="fas fa-minus-square"></i></h3>

					<div class="collapse in" id="collapseMessageText">

						<label class="text-black m-b-5">Year - leave empty to auto calculate:</label>
						<div class="panel panel--module">
							<input type="number" class="form-control bg-gray" name="content[copyright_year]" value="<?php echo (isset($content->copyright_year))?$content->copyright_year:''?>">
						</div>

						<label class="text-black m-b-5">Message:</label>
						<div class="panel panel--module">
							<input type="textarea" class="form-control bg-gray" name="content[message_text]" value="<?php echo (isset($content->message_text))?$content->message_text:''?>">
						</div>

						<label class="text-black m-b-5">URL:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray" name="content[message_text_url]" value="<?php echo (isset($content->message_text_url))?$content->message_text_url:''?>">
						</div>

						<label class="text-black m-b-5">Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray complex-colorpicker" name="content[message_text_color]" value="<?php echo (isset($content->message_text_color))?$content->message_text_color:''?>">
						</div>

						<label class="text-black m-b-5">Alignment</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('content[message_text_position]', (isset($content->message_text_position))?$content->message_text_position:'', array('class'=>'form-control bg-gray'),
								array('center'=>'Centered','left'=>'Left','right'=>'Right')
							)?>
						</div>

						<div class="row">
							<div class="col-sm-4">
								<label class="text-black m-b-5">Text Size</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[text_size]', (isset($content->text_size) && $content->text_size)?$content->text_size:'', array('class'=>'form-control bg-gray copy'),
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									)?>
								</div>
							</div>
							<div class="col-sm-4">
								<label for="" class="m-b-5 text-black">Font:</label>
								<div class="panel panel--module bg-gray">
									<select class="form-control -selectpicker font-selector" data-weight="content[text_weight]" name="content[font]">
										<?php
										$value = (isset($content->font) && $content->font)?$content->font:'';
										foreach ($font_options as $k => $v) {
											$selected = ($k == $value)?"selected":"";
											?>
											<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
											<?php
										}
										?>
									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5 text-black">Text Weight</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[text_weight]', (isset($content->text_weight))?$content->text_weight:'', array('class'=>'form-control bg-gray'),
										array(
											'' => 'Default',
											'300' => 'Light',
											'400' => 'Regular',
											'500' => 'Medium',
											'600' => 'Semi Bold',
											'700' => 'Bold',
											'800' => 'Bolder'
										)
									)?>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>

</form>

<script>
	$(function() {
		window.cny.wysiwyg();
		window.cny.fontWeightUpdater();

	});
</script>
