<?php
$settings = json_decode($this->module->json_settings);
//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>

<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">

		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="panel-edit__body text-left">
				<h4 class="m-b-5 m-t-0 text-black h4" role="button" data-toggle="collapse" data-target="#moduleSettings" aria-expanded="true" aria-controls="moduleSettings">Module Settings <i class="fal fa-angle-up"></i></h4>
				<hr class="m-t-0">
				<div id="moduleSettings" class="p-l-10 collapse in" aria-expanded="true">
					<div class="row flex-row flex-wrap">
						<div class="col-sm-3">
							<div class="panel panel--module">
								<label class="text-black m-b-5">Event Date</label>
								<input type="text" name="settings[countdown_date]" class="form-control datepicker bg-gray" value="<?php echo (isset($settings->countdown_date))?$settings->countdown_date:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<div class="panel panel--module">
								<label class="text-black m-b-5">Event Time</label>
								<input type="text" name="settings[countdown_time]" class="form-control timepicker bg-gray" value="<?php echo (isset($settings->countdown_time))?$settings->countdown_time:''?>">
							</div>
						</div>

						<div class="col-sm-3">
							<label class="text-black m-b-5">Line Height</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="settings[countdown_label_line_height]" value="<?php echo (isset($settings->countdown_label_line_height))?$settings->countdown_label_line_height:''?>">
							</div>
						</div>

						<div class="col-sm-3">
							<label class="text-black m-b-5"> Alignment</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('settings[countdown_alignment]', (isset($settings->countdown_alignment))?$settings->countdown_alignment:'', array('class'=>'form-control bg-gray'),
									array(
										''=> 'Left',
										'flex-center'=> 'Center',
										'flex-end'=> 'Right'
									)
								)?>
							</div>
						</div>
					</div>
				</div>

				<div id="contentFormat" class="p-l-10 collapse in" aria-expanded="true">
					<div class="flex-auto-fit m-b-15">
						<div class="flex-auto-fit__item col-auto">
							<label class="m-b-5 text-black">Labels</label>
							<div class="m-b-15">
								<?php
								$enabled = (isset($settings->countdown_label) && $settings->countdown_label == 'Disabled')?'off':'on';
								?>
								<div class="btn-group" id="animate" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="settings[countdown_label]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="settings[countdown_label]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
						<div class="flex-auto-fit__item col-auto">
							<label class="m-b-5 text-black">Years</label>
							<div class="m-b-15">
								<?php
								$enabled = (isset($settings->force_show_years) && $settings->force_show_years == 'Enabled')?'on':'off';
								?>
								<div class="btn-group" id="animate" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="settings[force_show_years]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="settings[force_show_years]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
						<div class="flex-auto-fit__item col-auto">
							<label class="m-b-5 text-black">Months</label>
							<div class="m-b-15">
								<?php
								$enabled = (isset($settings->force_show_months) && $settings->force_show_months == 'Enabled')?'on':'off';
								?>
								<div class="btn-group" id="animate" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="settings[force_show_months]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="settings[force_show_months]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
						<div class="flex-auto-fit__item col-auto">
							<label class="m-b-5 text-black">Days</label>
							<div class="m-b-15">
								<?php
								$enabled = (isset($settings->force_show_days) && $settings->force_show_days == 'Enabled')?'on':'off';
								?>
								<div class="btn-group" id="animate" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="settings[force_show_days]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="settings[force_show_days]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
						<div class="flex-auto-fit__item col-auto">
							<label class="m-b-5 text-black">Hours</label>
							<div class="m-b-15">
								<?php
								$enabled = (isset($settings->force_show_hours) && $settings->force_show_hours == 'Disabled')?'off':'on';
								?>
								<div class="btn-group" id="animate" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="settings[force_show_hours]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="settings[force_show_hours]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
						<div class="flex-auto-fit__item col-auto">
							<label class="m-b-5 text-black">Minutes</label>
							<div class="m-b-15">
								<?php
								$enabled = (isset($settings->force_show_minutes) && $settings->force_show_minutes == 'Disabled')?'off':'on';
								?>
								<div class="btn-group" id="animate" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="settings[force_show_minutes]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="settings[force_show_minutes]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
						<div class="flex-auto-fit__item col-auto">
							<label class="m-b-5 text-black">Seconds</label>
							<div class="m-b-15">
								<?php
								$enabled = (isset($settings->force_show_seconds) && $settings->force_show_seconds == 'Disabled')?'off':'on';
								?>
								<div class="btn-group" id="animate" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="settings[force_show_seconds]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="settings[force_show_seconds]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
					</div>
				</div>

				<h4 class="m-b-5 m-t-0 text-black h4" role="button" data-toggle="collapse" data-target="#contentSettings" aria-expanded="true" aria-controls="contentSettings">Layout <i class="fal fa-angle-up"></i></h4>
				<hr class="m-t-0">
				<div id="contentSettings" class="p-l-10 collapse in" aria-expanded="true">

					<h4 class="m-b-5 m-t-0 text-black h4">Labels</h4>
					<hr class="m-t-0">

					<div class="flex-auto-fit">
						<div class="flex-auto-fit__item">
							<div class="flex-auto-fit">
								<div class="flex-auto-fit__item">
									<label class="text-black m-b-5">Size</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray" name="settings[countdown_label_size]" value="<?php echo (isset($settings->countdown_label_size))?$settings->countdown_label_size:''?>">
									</div>
								</div>
								<div class="flex-auto-fit__item">
									<label class="text-black m-b-5">Weight</label>
									<div class="panel panel--module">
										<?php echo $this->formSelect('settings[countdown_label_font_weight]', (isset($settings->countdown_label_font_weight))?$settings->countdown_label_font_weight:'bold', array('class'=>'form-control bg-gray'),
											array(
												'' => 'Default',
												'300' => 'Light',
												'400' => 'Regular',
												'500' => 'Medium',
												'600' => 'Semi Bold',
												'700' => 'Bold',
												'800' => 'Bolder'
											)
										)?>
									</div>
								</div>
								<div class="flex-auto-fit__item">
									<label class="text-black m-b-5">Color</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray complex-colorpicker" name="settings[countdown_label_color]" value="<?php echo (isset($settings->countdown_label_color))?$settings->countdown_label_color:''?>">
									</div>
								</div>
								<div class="flex-auto-fit__item">
									<label for="" class="m-b-5 text-black">Font</label>
									<div class="panel panel--module bg-gray">
										<select name="settings[countdown_label_font]" class="form-control bg-gray font-selector" data-weight="settings[countdown_label_font_weight]">
											<?php
											$value = (isset($settings->countdown_label_font))?$settings->countdown_label_font:'';
											foreach ($font_options as $k => $v) {
												$selected = ($k == $value)?"selected":"";
												?>
												<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
												<?php
											}
											?>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="flex-auto-fit m-b-15">
						<div class="flex-auto-fit__item" style="max-width: 250px;">
							<label class="text-black m-b-5">Label Position</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('settings[countdown_label_position]', (isset($settings->countdown_label_position))?$settings->countdown_label_position:'', array('class'=>'form-control bg-gray'),
									array(
										'' => 'Bottom',
										'column-reverse' => 'Top',
									)
								)?>
							</div>
						</div>
					</div>

					<h4 class="m-b-5 m-t-0 text-black h4">Counter</h4>
					<hr class="m-t-0">
					<div class="flex-auto-fit m-b-15">
						<div class="flex-auto-fit__item">
							<div class="flex-auto-fit">
								<div class="flex-auto-fit__item">
									<label class="text-black m-b-5">Size</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray" name="settings[countdown_timer_size]" value="<?php echo (isset($settings->countdown_timer_size))?$settings->countdown_timer_size:''?>">
									</div>
								</div>
								<div class="flex-auto-fit__item">
									<label class="text-black m-b-5">Weight</label>
									<div class="panel panel--module">
										<?php echo $this->formSelect('settings[countdown_timer_font_weight]', (isset($settings->countdown_timer_font_weight))?$settings->countdown_timer_font_weight:'bold', array('class'=>'form-control bg-gray'),
											array(
												'' => 'Default',
												'300' => 'Light',
												'400' => 'Regular',
												'500' => 'Medium',
												'600' => 'Semi Bold',
												'700' => 'Bold',
												'800' => 'Bolder'
											)
										)?>
									</div>
								</div>
								<div class="flex-auto-fit__item">
									<label class="text-black m-b-5">Color</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray complex-colorpicker" name="settings[countdown_timer_color]" value="<?php echo (isset($settings->countdown_timer_color))?$settings->countdown_timer_color:''?>">
									</div>
								</div>
								<div class="flex-auto-fit__item">
									<label for="" class="m-b-5 text-black">Font</label>
									<div class="panel panel--module bg-gray">
										<select name="settings[countdown_timer_font]" class="form-control bg-gray font-selector" data-weight="settings[countdown_timer_font_weight]">
											<?php
											$value = (isset($settings->countdown_timer_font))?$settings->countdown_timer_font:'';
											foreach ($font_options as $k => $v) {
												$selected = ($k == $value)?"selected":"";
												?>
												<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
												<?php
											}
											?>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>

</form>
<script>
	$(document).ready(function() {

		$('.datepicker').datepicker({
			dateFormat: "mm-dd-yy"
		});
		$('input.timepicker').timepicker({
			dropdown: true
		});

		$('h4[data-toggle]').on('click', function() {
			if ( $(this).attr('aria-expanded') === 'false' ) {
				$(this).find('.fal')
					.addClass('fa-angle-up')
					.removeClass('fa-angle-down');
			} else {
				$(this).find('.fal')
					.addClass('fa-angle-down')
					.removeClass('fa-angle-up');
			}

		});

	});
</script>

