<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);

//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="panel-edit__body">

				<div class="form-group text-left">
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseImage" aria-expanded="true" aria-controls="collapseImage">Image <i class="fas fa-minus-square"></i></h3>

					<div class="collapse in" id="collapseImage">
						<div class="panel panel--module text-left">
							<img src="<?php echo (isset($content->image_path))?$content->image_path:''?>" class="img-responsive m-b-5 filemanager-image" data-image_src="#module_image_path" id="module_image">
							<input type="hidden" class="form-control" name="content[image_path]" id="module_image_path" value="<?php echo (isset($content->image_path))?$content->image_path:''?>">
							<button data-url="/filemanager/dialog.php?type=1&field_id=module_image_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
							<button type="button" class="btn btn-primary clear-module_image">Remove Image</button>
						</div>

						<label class="text-black m-b-5">Image Profile:</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('settings[image_profile]', (isset($settings->image_profile))?$settings->image_profile:'', array('class'=>'form-control bg-gray'),
								array(''=> 'Original',
									'crop_square'=> 'Square',
									'crop_4x3'=> '4:3',
									'crop_16x9'=> '16:9',))?>
						</div>

						<label class="text-black m-b-5">Alt Title:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray" name="content[alt_title]" value="<?php echo (isset($content->alt_title))?$content->alt_title:''?>">
						</div>

						<label class="text-black m-b-5">Image Link URL:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray" name="content[image_link_url]" value="<?php echo (isset($content->image_link_url))?$content->image_link_url:''?>">
						</div>

						<label class="text-black m-b-5">Image Link Target:</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('content[image_link_target]', (isset($content->image_link_target))?$content->image_link_target:'', array('class'=>'form-control bg-gray'),
								array(''=>'Current Window/Tab','_blank'=>'New Tab')
							)?>
						</div>

						<label class="text-black m-b-5">Image Style:</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('settings[image_class]', (isset($settings->image_class))?$settings->image_class:'', array('class'=>'form-control bg-gray'), array(""=>"Default","img-thumbnail"=>"Border /w Offset","img-rounded"=>"6px Rounded Corners","rounded-2x"=>"10px Rounded Corners","rounded-3x"=>"15px Rounded Corners","rounded-4x"=>"20px Rounded Corners","img-circle"=>"Circle"))?>
						</div>

						<label class="text-black m-b-15">Image Hover Effect:</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('settings[image_hover_class]', (isset($settings->image_hover_class))?$settings->image_hover_class:'', array('class'=>'form-control bg-gray'), array(""=>"None","grayscale-normal"=>"Grayscale to Normal","normal-grayscale"=>"Normal to Grayscale","light_grayscale-normal"=>"Light Grayscale to Normal","normal-light_grayscale"=>"Normal to Light Grayscale","invert-normal"=>"Inverted to Normal","normal-invert"=>"Normal to Inverted","sepia-normal"=>"Sepia to Normal","normal-sepia"=>"Normal to Sepia","blur-normal"=>"Blurred to Normal","normal-blur"=>"Normal to Blurred"))?>
						</div>

						<div class="row m-b-10">
							<div class="col-sm-4 m-t-30">
								<label for="" class="m-b-5 text-black">Image Zoom on Hover:</label>
								<?php
								$enabled = (isset($settings->image_hover_zoom_status) && $settings->image_hover_zoom_status == 'on')?'on':'off';
								?>
								<div class="btn-group" id="animate" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="on" name="settings[image_hover_zoom_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="off" name="settings[image_hover_zoom_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
							<div class="col-sm-3">
								<label for="" class="m-b-5 text-black">Image Zoom in Percentage:</label>
								<input type="text" class="form-control bg-gray border-radius" name="settings[image_hover_zoom_percent]" value="<?php echo (isset($settings->image_hover_zoom_percent))?$settings->image_hover_zoom_percent:'10'?>">
							</div>
						</div>

						<div class="row">
							<div class="col-sm-2">
								<label class="text-black m-b-5">Text Shadow</label>
								<div class="panel panel--module">
									<?php
									$enabled = (isset($content->description_shadow) && $content->description_shadow == "Enabled") ? 'on' : 'off';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="content[description_shadow]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="content[description_shadow]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Shadow Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[description_shadow_color]" value="<?php echo (isset($content->description_shadow_color))?$content->description_shadow_color:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Shadow Size</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[description_shadow_size]', (isset($content->description_shadow_size))?$content->description_shadow_size:'', array('class'=>'form-control bg-gray'),
										array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
									)?>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group text-left">
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseTitle" aria-expanded="false" aria-controls="collapseTitle">Title & Caption Text <i class="fas fa-plus-square"></i></h3>

					<div class="collapse" id="collapseTitle">
						<div class="row">
							<div class="col-sm-12">
								<label class="text-black m-b-5">Title:</label>
								<div class="panel panel--module">
									<textarea class="form-control tinymce" name="content[cta_title]"><?php echo (isset($content->cta_title))?$content->cta_title:''?></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label class="text-black m-b-5">Caption Text:</label>
								<div class="panel panel--module">
									<textarea class="form-control tinymce" name="content[description]"><?php echo (isset($content->description))?$content->description:''?></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group text-left">
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseOverlay" aria-expanded="false" aria-controls="collapseOverlay">Overlay Options <i class="fas fa-plus-square"></i></h3>

					<div class="collapse" id="collapseOverlay">
						<div class="row">
							<div class="col-sm-2">
								<label class="text-black m-b-5">Enabled</label>
								<div class="panel panel--module">
									<?php
									$enabled = (isset($content->force_overlay_cta_content) && $content->force_overlay_cta_content == "Enabled") ? 'on' : 'off';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="content[force_overlay_cta_content]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="content[force_overlay_cta_content]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="col-sm-2">
								<label class="text-black m-b-5">Hover Only</label>
								<div class="panel panel--module">
									<?php
									$enabled = (isset($content->force_overlay_cta_content_hover) && $content->force_overlay_cta_content_hover == "Enabled") ? 'on' : 'off';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="content[force_overlay_cta_content_hover]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="content[force_overlay_cta_content_hover]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Background Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[force_overlay_cta_content_background_color]" value="<?php echo (isset($content->force_overlay_cta_content_background_color))?$content->force_overlay_cta_content_background_color:''?>">
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Background Color Opacity</label>
								<div class="panel panel--module">
									<input type="number" min="1" max="100" class="form-control bg-gray" name="content[force_overlay_cta_content_background_color_opacity]" value="<?php echo (isset($content->force_overlay_cta_content_background_color_opacity))?$content->force_overlay_cta_content_background_color_opacity:''?>">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group text-left">
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseCTA" aria-expanded="false" aria-controls="collapseCTA">CTA Button <i class="fas fa-plus-square"></i></h3>

					<div class="collapse" id="collapseCTA">
						<div class="row">
							<div class="col-sm-4">
								<label class="text-black m-b-5">Text</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray" name="content[ca_button_text]" value="<?php echo (isset($content->ca_button_text))?$content->ca_button_text:''?>">
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Link URL</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray" name="content[ca_button_url]" value="<?php echo (isset($content->ca_button_url))?$content->ca_button_url:''?>">
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Link Target:</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[ca_button_link_target]', (isset($content->ca_button_link_target))?$content->ca_button_link_target:'', array('class'=>'form-control bg-gray'),
										array(''=>'Current Window/Tab','_blank'=>'New Tab')
									)?>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-3">
								<label class="text-black m-b-5">Text Size</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[ca_button_text_size]', (isset($content->ca_button_text_size))?$content->ca_button_text_size:'', array('class'=>'form-control bg-gray'),
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									)?>
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Text Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[ca_button_text_color]" value="<?php echo (isset($content->ca_button_text_color))?$content->ca_button_text_color:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Text Weight</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[ca_text_weight]', (isset($content->ca_text_weight))?$content->ca_text_weight:'', array('class'=>'form-control bg-gray'),
										array(
											'' => 'Default',
											'300' => 'Light',
											'400' => 'Regular',
											'500' => 'Medium',
											'600' => 'Semi Bold',
											'700' => 'Bold',
											'800' => 'Bolder'
										)
									)?>
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Text Font</label>
								<div class="panel panel--module">
									<select class="form-control bg-gray font-selector" data-weight="content[ca_text_weight]" name="content[font]">
										<?php
										$value = (isset($content->font) && $content->font)?$content->font:'';
										foreach ($font_options as $k => $v) {
											$selected = ($k == $value)?"selected":"";
											?>
											<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
											<?php
										}
										?>
									</select>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4">
								<label class="text-black m-b-5">Button Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[ca_button_color]" value="<?php echo (isset($content->ca_button_color))?$content->ca_button_color:''?>">
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Button Border Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[ca_button_border_color]" value="<?php echo (isset($content->ca_button_border_color))?$content->ca_button_border_color:''?>">
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Button Border Width/size</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[ca_button_border_width]', (isset($content->ca_button_border_width))?$content->ca_button_border_width:'', array('class'=>'form-control bg-gray'),
										array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
									)?>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<label class="text-black m-b-5">Button Style:</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[ca_button_class]', (isset($content->ca_button_class))?$content->ca_button_class:'', array('class'=>'form-control bg-gray'),
										array('btn-square'=>'Square','btn-round'=>'Rounded','btn-round-4px'=>'Rounded Corners','btn-outline'=>'Outlined (transparent background)','btn-square-full'=>'Full Width','btn-round-full'=>'Full Width Rounded','btn-round-4px-full'=>'Full Width Rounded Corners')
									)?>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-black m-b-5">Button Hover Effect</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[ca_button_hover_effect]', (isset($content->ca_button_hover_effect))?$content->ca_button_hover_effect:'', array('class'=>'form-control bg-gray'),
										array(''=>'None','lighten'=>'Lighten',)//'darken'=>'Darken'
									)?>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group text-left">
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">Button Advanced Settings <i class="fas fa-plus-square"></i></h3>

					<div class="collapse" id="collapseAdvanced">
						<div class="row">
							<div class="col-sm-4">
								<label class="text-black m-b-5">Width</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray" name="content[ca_button_width]" value="<?php echo (isset($content->ca_button_width))?$content->ca_button_width:''?>">
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Padding (top/bottom)</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[ca_button_padding_tb]', (isset($content->ca_button_padding_tb))?$content->ca_button_padding_tb:'', array('class'=>'form-control bg-gray'),
										array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
											'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px')
									)?>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Padding (left/right)</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[ca_button_padding_lr]', (isset($content->ca_button_padding_lr))?$content->ca_button_padding_lr:'', array('class'=>'form-control bg-gray'),
										array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
											'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px')
									)?>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="panel panel--module text-left">
									<label class="text-black m-b-5">Alignment</label>
									<?php echo $this->formSelect('content[ca_button_position]', (isset($content->ca_button_position))?$content->ca_button_position:'', array('class'=>'form-control bg-gray'),
										array('center'=>'Centered','left'=>'Left','right'=>'Right')
									)?>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="panel panel--module text-left">
									<label class="text-black m-b-5">Padding</label>
									<?php echo $this->formSelect('content[ca_text_padding]', (isset($content->ca_text_padding))?$content->ca_text_padding:'', array('class'=>'form-control bg-gray'),
										array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
											'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px')
									)?>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<label class="text-black m-b-5">Tracking Event</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray" name="content[onclick]" value="<?php echo (isset($content->onclick))?$content->onclick:''?>">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>

</form>

<script>
	$(function() {
		window.cny.wysiwyg();
		window.cny.fontWeightUpdater();

		if ($("#module_image_path").val() == '') $("#module_image").hide();

		$(".clear-module_image").on("click",function(){
			$("#module_image_path").val('');
			$("#module_image").attr('src','').hide();
		});
	});
</script>
