<?php
$content = json_decode($this->module->json_content);
$panels = array();
if (isset($content->panels)) {
	foreach ($content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">

			<div id="panelForm" class="panel-edit">
				<input type="hidden" class="form-control" id="panelForm-id" value="">
				<input type="hidden" class="form-control copy" id="panelForm-sort_order" data-name="sort_order" value="">

				<div class="panel-edit__body">

					<div class="form-group text-left">
						<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseImage" aria-expanded="true" aria-controls="collapseImage">Panel Image <i class="fas fa-minus-square"></i></h3>

						<div id="collapseImage" class="collapse in">
							<label class="m-b-5 text-black">Label:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-label" data-name="label" value="">
							</div>

							<label class="m-b-5 text-black">Image:</label>
							<div class="panel panel--module">
								<img src="" class="img-responsive copy m-b-15 filemanager-image" data-image_src="#panelForm-image_path" id="panelForm-image" data-name="image">
								<input type="hidden" class="form-control copy" id="panelForm-image_path" data-name="image_path" value="">
								<button data-url="/filemanager/dialog.php?type=1&field_id=panelForm-image_path&relative_url=1" class="btn btn--black modal-filemanager border-radius" type="button">Select Image</button>
								<button type="button" class="btn btn-primary btn-clear_image" data-rel="panelForm-image">Remove Image</button>
							</div>

							<label class="m-b-5 text-black">YouTube/Vimeo/Direct MP4 URL:</label>
							<div class="panel panel--module text-left">
								<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-video_url" data-name="video_url" value="">
							</div>

							<label class="m-b-5 text-black">Image Filter:</label>
							<div class="panel panel--module">
								<select class="form-control copy" id="panelForm-image_filter" data-name="image_filter">
									<option value="">None</option>
									<option value="_1977">1977</option>
									<option value="aden">Aden</option>
									<option value="brooklyn">Brooklyn</option>
									<option value="clarendon">Clarendon</option>
									<option value="earlybird">Early Bird</option>
									<option value="gingham">Gingham</option>
									<option value="hudson">Hudson</option>
									<option value="inkwell">Inkwell</option>
									<option value="lark">Lark</option>
									<option value="lofi">Lofi</option>
									<option value="mayfair">Mayfair</option>
									<option value="moon">Moon</option>
									<option value="nashville">Nashville</option>
									<option value="perpetua">Perpetua</option>
									<option value="reyes">Reyes</option>
									<option value="rise">Rise</option>
									<option value="slumber">Slumber</option>
									<option value="toaster">Toaster</option>
									<option value="walden">Walden</option>
									<option value="willow">Willow</option>
									<option value="xpro2">X Pro 2</option>
								</select>
							</div>

							<label class="text-black m-b-5">Panel Status</label>
							<div class="panel panel--module">
								<select class="form-control copy" id="panelForm-status" data-name="status">
									<option value="Enabled">Enabled</option>
									<option value="Disabled">Disabled</option>
								</select>
							</div>
						</div>
					</div>

					<?php /*
                    //TODO - thinking of just deprecating this completely in favor of the WYSIWYG editor. Only benefit is we can time the display separately if we wanted.
					<div class="row flex-row flex-align-center">
						<div class="col-sm-3 text-left text-black">
							<label class="m-b-5 text-black">Overlay Title:</label>
						</div>
						<div class="col-sm-9">
							<div class="panel panel--module">
								<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-overlay_title" data-name="overlay_title" value="">
							</div>
						</div>
					</div>
					<div class="row flex-row flex-align-center">
						<div class="col-sm-3 text-left text-black">
							<label class="m-b-5 text-black">Title Text Blend Mode:</label>
						</div>
						<div class="col-sm-9">
							<div class="panel panel--module">
								<select class="form-control copy" id="panelForm-overlay_title_blend" data-name="overlay_title_blend">
									<option value="">None</option>
									<option value="overlay">Overlay</option>
									<option value="darken">Darken</option>
									<option value="lighten">Lighten</option>
									<option value="difference">Difference</option>
									<option value="luminosity">Luminosity</option>
									<option value="color">Color</option>
									<option value="hard-light">Hard Light</option>
									<option value="soft-light">Soft Light</option>
									<option value="saturation">Saturation</option>
									<option value="hue">Hue</option>
									<option value="multiply">Multiply</option>
									<option value="color-burn">Color Burn</option>
									<option value="screen">Screen</option>
									<option value="exclusion">Exclusion</option>
									<option value="color-dodge">Color Dodge</option>
								</select>
							</div>
						</div>
					</div>
					*/ ?>

					<div class="form-group text-left">
						<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseOverlay" aria-expanded="false" aria-controls="collapseOverlay">Overlay <i class="fas fa-plus-square"></i></h3>

						<div id="collapseOverlay" class="collapse">
							<label class="m-b-5 text-black">Desktop Text:</label>
							<div class="panel panel--module">
								<textarea class="form-control copy tinymce" id="panelForm-overlay_text" data-name="overlay_text" data-type="textarea"></textarea>
							</div>

							<label class="m-b-5 text-black">Mobile Text:</label>
							<div class="panel panel--module">
								<textarea class="form-control copy tinymce" id="panelForm-overlay_text" data-name="overlay_text_mobile" data-type="textarea"></textarea>
							</div>

							<label class="m-b-5 text-black">Blend Mode:</label>
							<div class="panel panel--module">
								<select class="form-control copy" id="panelForm-overlay_text_blend" data-name="overlay_text_blend">
									<option value="">None</option>
									<option value="overlay">Overlay</option>
									<option value="darken">Darken</option>
									<option value="lighten">Lighten</option>
									<option value="difference">Difference</option>
									<option value="luminosity">Luminosity</option>
									<option value="color">Color</option>
									<option value="hard-light">Hard Light</option>
									<option value="soft-light">Soft Light</option>
									<option value="saturation">Saturation</option>
									<option value="hue">Hue</option>
									<option value="multiply">Multiply</option>
									<option value="color-burn">Color Burn</option>
									<option value="screen">Screen</option>
									<option value="exclusion">Exclusion</option>
									<option value="color-dodge">Color Dodge</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-2">
								<label class="text-black m-b-5">Text Shadow</label>
								<div class="panel panel--module">
									<select class="form-control copy" id="panelForm-overlay_text_shadow" data-name="overlay_text_shadow">
										<option value="Disabled">Disabled</option>
										<option value="Enabled">Enabled</option>
									</select>
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Shadow Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control copy complex-colorpicker" id="panelForm-overlay_text_shadow_color" data-name="overlay_text_shadow_color">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Shadow Size</label>
								<div class="panel panel--module">
									<select class="form-control copy" id="panelForm-overlay_text_shadow_size" data-name="overlay_text_shadow_size">
										<option value="0">None</option>
										<option value="1px">1px</option>
										<option value="2px">2px</option>
										<option value="3px">3px</option>
										<option value="4px">4px</option>
										<option value="5px">5px</option>
										<option value="6px">6px</option>
										<option value="7px">7px</option>
										<option value="8px">8px</option>
										<option value="9px">9px</option>
										<option value="10px">10px</option>
									</select>
								</div>
							</div>
						</div>

					</div>

					<div class="form-group text-left">
						<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseCTA" aria-expanded="false" aria-controls="collapseCTA">CTA Button <i class="fas fa-plus-square"></i></h3>

						<div id="collapseCTA" class="collapse">
							<label class="m-b-5 text-black">Text</label>
							<div class="panel panel--module">
								<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-ca_button_text" data-name="ca_button_text" value="">
							</div>

							<div class="row">
								<div class="col-sm-8">
									<label class="m-b-5 text-black">URL</label>
									<div class="panel panel--module">
										<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-ca_button_url" data-name="ca_button_url" value="">
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black m-b-5">Link Target:</label>
									<div class="panel panel--module bg-gray">
										<select class="form-control copy" id="panelForm-ca_button_link_target" data-name="ca_button_link_target">
											<option value="">Current Window/Tab</option>
											<option value="_blank">New Tab</option>
										</select>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-4">
									<label class="m-b-5 text-black">Position</label>
									<div class="panel panel--module">
										<select class="form-control copy" id="panelForm-ca_button_position" data-name="ca_button_position">
											<option value="center">Centered</option>
											<option value="left">Left</option>
											<option value="right">Right</option>
											<!--<option value="full">Full Width</option>-->
										</select>
									</div>
								</div>
								<div class="col-sm-4">
									<label class="m-b-5 text-black">Text Color</label>
									<div class="panel panel--module">
										<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-ca_button_text_color" data-name="ca_button_text_color" value="">
									</div>
								</div>
								<div class="col-sm-4">
									<label class="m-b-5 text-black">Button Color</label>
									<div class="panel panel--module">
										<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-ca_button_color" data-name="ca_button_color" value="">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label class="text-black m-b-5">Border Color</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray complex-colorpicker copy" name="content[ca_button_border_color]" id="panelForm-ca_button_border_color" data-name="ca_button_border_color" value="">
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black m-b-5">Border Width/size</label>
									<div class="panel panel--module">
										<?php echo $this->formSelect('content[ca_button_border_width]', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_border_width', 'data-name'=>'ca_button_border_width'),
											array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
										)?>
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black m-b-5">Button Style:</label>
									<div class="panel panel--module">
										<select class="form-control copy" id="panelForm-ca_button_class" data-name="ca_button_class">
											<option value="btn-square">Square</option>
											<option value="btn-round">Rounded</option>
											<option value="btn-round-4px">Rounded Corners</option>
											<option value="btn-outline">Outlined (transparent background)</option>
											<!--<option value="btn-square-full">Full Width</option>
											<option value="btn-round-4px-full">Full Width Rounded Corners</option>-->
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="form-group text-left">
						<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">Button Advanced Settings <i class="fas fa-plus-square"></i></h3>

						<div class="collapse" id="collapseAdvanced">
							<div class="row">
								<div class="col-sm-4">
									<label class="text-black m-b-5">Width</label>
									<div class="panel panel--module">
										<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-ca_button_width" data-name="ca_button_width" value="">
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black m-b-5">Padding (top/bottom)</label>
									<div class="panel panel--module">
										<?php echo $this->formSelect('ca_button_padding_tb', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_padding_tb', 'data-name'=>'ca_button_padding_tb'),
											array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
												'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px')
										)?>
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black m-b-5">Padding (left/right)</label>
									<div class="panel panel--module">
										<?php echo $this->formSelect('ca_button_padding_lr', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_padding_lr', 'data-name'=>'ca_button_padding_lr'),
											array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
												'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px')
										)?>
									</div>
								</div>
							</div>
							<label class="text-black m-b-5">Font</label>
							<div class="panel panel--module">
								coming soon
							</div>
						</div>
					</div>

					<div class="form-group text-left">
						<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseSliderAdvanced" aria-expanded="false" aria-controls="collapseSliderAdvanced">Slide Advanced Settings <i class="fas fa-plus-square"></i></h3>

						<div class="collapse" id="collapseSliderAdvanced">
							<div class="row">
								<div class="col-sm-6">
									<label class="text-black m-b-5">Transition Style:</label>
									<div class="panel panel--module">
										<?php echo $this->formSelect('transition_style', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-transition_style', 'data-name'=>'transition_style'),
											array(''=>'Default','fade'=>'Fade','crossfade'=>'Fade Cross','fadethroughdark'=>'Fade Through Black','fadethroughlight'=>'Fade Through White','fadethroughtransparent'=>'Fade Through Transparent','slideup'=>'Slide to Top','slidedown'=>'Slide to Bottom','slideright'=>'Slide to Right','slideleft'=>'Slide to Left','slidehorizontal'=>'Slide Horizontal','slidevertical'=>'Slide Vertical','slideoverup'=>'Slide Over Top','slideoverdown'=>'Slide Over Bottom','slideoverright'=>'Slide Over Right','slideoverleft'=>'Slide Over Left',
												'slideoverhorizontal'=>'Slide Over Horizontal','slideoververtical'=>'Slide Over Vertical','slideremoveup'=>'Slide Remove to Top','slideremovedown'=>'Slide Remove to Bottom','slideremoveright'=>'Slide Remove to Right','slideremoveleft'=>'Slide Remove to Left','slideremovehorizontal'=>'Slide Remove Horizontal','slideremovevertical'=>'Slide Remove Vertical','slidingoverlayup'=>'Slide Overlays to Top','slidingoverlaydown'=>'Slide Overlays to Bottom','slidingoverlayright'=>'Slide Overlays to Right','slidingoverlayleft'=>'Slide Overlays to Left',
												'slidingoverlayhorizontal'=>'Slide Overlays Horizontal','slidingoverlayvertical'=>'Slide Overlays Vertical','boxslide'=>'Slide Boxes','slotslide-horizontal'=>'Slide Slots Horizontal','slotslide-vertical'=>'Slide Slots Vertical','boxfade'=>'Fade Boxes','slotfade-horizontal'=>'Fade Slots Horizontal','slotfade-vertical'=>'Fade Slots Vertical','fadefromright'=>'Fade and Slide from Right','fadefromleft'=>'Fade and Slide from Left','fadefromtop'=>'Fade and Slide from Top','fadefrombottom'=>'Fade and Slide from Bottom',
												'fadetoleftfadefromright'=>'Fade and Slide to Left from Right','fadetorightfadefromleft'=>'Fade and Slide to Right from Left','fadetotopfadefrombottom'=>'Fade and Slide to Top from Bottom','fadetobottomfadefromtop'=>'Fade and Slide to Bottom from Top','parallaxtoright'=>'Parallax to Right','parallaxtoleft'=>'Parallax to Left','parallaxtotop'=>'Parallax to Top','parallaxtobottom'=>'Parallax to Bottom','parallaxhorizontal'=>'Parallax Horizontal','parallaxvertical'=>'Parallax Vertical',
												'scaledownfromright'=>'Zoom Out and Fade from Right','scaledownfromleft'=>'Zoom Out and Fade from Left','scaledownfromtop'=>'Zoom Out and Fade from Top','scaledownfrombottom'=>'Zoom Out and Fade from Bottom','zoomout'=>'Zoom Out','zoomin'=>'Zoom In','slotzoom-horizontal'=>'Zoom Slots Horizontal','slotzoom-vertical'=>'Zoom Slots Vertical','curtain-1'=>'Curtain from Left','curtain-2'=>'Curtain from Right','curtain-3'=>'Curtain from Middle','3dcurtain-horizontal'=>'3D Curtain Horizontal',
												'3dcurtain-vertical'=>'3D Curtain Vertical','cube'=>'Cube Vertical','cube-horizontal'=>'Cube Horizontal','incube'=>'In Cube Vertical','incube-horizontal'=>'In Cube Horizontal','turnoff'=>'Turn-Off Horizontal','turnoff-vertical'=>'Turn-Off Vertical','papercut'=>'Paper Cut','flyin'=>'Fly In'
											)
										)?>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="break-row p-t-50">
					<div class="btn-group btn-group-justified">
						<a class="btn btn-lg btn-warning waves-effect waves-light" id="cancel-panel">Cancel</a>
						<a class="btn btn-lg btn--purple waves-effect waves-light" id="save-panel">Save Panel</a>
					</div>
				</div>
			</div>

			<div class="panel-view panel-edit__body">
				<div id="hero-list">
					<div class="flex-row">
						<div class="list-div flex-grow-1">
							<?php
							if (isset($panels)) {
								foreach ($panels as $k => $panel) {
									?>
									<div class="list-row" data-id="panel_<?php echo $k?>">
										<?php foreach ((array)$panel as $name => $val) {
											//need textarea for WYSIWYG fields
											if (in_array($name,array('overlay_text','overlay_text_mobile'))) {
												?>
												<textarea class="hide" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>"><?php echo $val?></textarea>
												<?php
											}else {
												?>
												<input type="hidden" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>" value="<?php echo $val?>">
											<?php }
										} ?>

										<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between" data-status="<?php echo $panel->status; ?>">
											<div class="controls controls--horizontal">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-edit-btn" data-rel="<?php echo $k?>"><i class="fas fa-bars"></i></button>
													<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
												</div>
											</div>
											<div class="panel__title" id="module_label-"><?php $k_plus = $k+1; echo ($panel->label)?$panel->label:"Panel {$k_plus}"?></div>
											<div class="controls">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete" data-rel="<?php echo $k?>"><i class="fas fa-times"></i></button>
												</div>
											</div>
										</div>
									</div>
									<?php
								}
							}?>
						</div>
					</div>
				</div>

				<div class="panel panel--module bg-border flex-row flex-align-center flex-justify-center">
					<div class="controls controls--footer text-center flex-grow-1 p-0">
						<a class="btn btn-xs btn--link p-t-10 p-b-10" id="add-panel" href=""><i class="fas fa-plus-square"></i> Add Panel</a>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-sm-4 text-left">
						<label class="text-black m-b-5">Fullscreen:</label>

						<div class="panel panel--module bg-white">
							<?php
							$enabled = (isset($content->fullscreen) && $content->fullscreen == 'on')?'on':'off';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="on" name="content[fullscreen]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="off" name="content[fullscreen]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
					<div class="col-sm-4 text-left">
						<div class="fullscreen-off">
							<label class="text-black m-b-5">Height in Pixels:</label>
							<div class="panel panel--module">
								<input type="number" class="form-control" name="content[height]" value="<?php echo (isset($content->height))?$content->height:'400'?>">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Transition Speed (seconds):</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[transition_speed]" value="<?php echo (isset($content->transition_speed))?$content->transition_speed:'6'?>">
						</div>
					</div>
					<div class="col-sm-6 text-left">
						<label class="text-black m-b-5">Transition Style:</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('content[transition_style]', (isset($content->transition_style))?$content->transition_style:'fade', array('class'=>'form-control bg-white'),
								array('fade'=>'Fade','crossfade'=>'Fade Cross','fadethroughdark'=>'Fade Through Black','fadethroughlight'=>'Fade Through White','fadethroughtransparent'=>'Fade Through Transparent','slideup'=>'Slide to Top','slidedown'=>'Slide to Bottom','slideright'=>'Slide to Right','slideleft'=>'Slide to Left','slidehorizontal'=>'Slide Horizontal','slidevertical'=>'Slide Vertical','slideoverup'=>'Slide Over Top','slideoverdown'=>'Slide Over Bottom','slideoverright'=>'Slide Over Right','slideoverleft'=>'Slide Over Left',
									'slideoverhorizontal'=>'Slide Over Horizontal','slideoververtical'=>'Slide Over Vertical','slideremoveup'=>'Slide Remove to Top','slideremovedown'=>'Slide Remove to Bottom','slideremoveright'=>'Slide Remove to Right','slideremoveleft'=>'Slide Remove to Left','slideremovehorizontal'=>'Slide Remove Horizontal','slideremovevertical'=>'Slide Remove Vertical','slidingoverlayup'=>'Slide Overlays to Top','slidingoverlaydown'=>'Slide Overlays to Bottom','slidingoverlayright'=>'Slide Overlays to Right','slidingoverlayleft'=>'Slide Overlays to Left',
									'slidingoverlayhorizontal'=>'Slide Overlays Horizontal','slidingoverlayvertical'=>'Slide Overlays Vertical','boxslide'=>'Slide Boxes','slotslide-horizontal'=>'Slide Slots Horizontal','slotslide-vertical'=>'Slide Slots Vertical','boxfade'=>'Fade Boxes','slotfade-horizontal'=>'Fade Slots Horizontal','slotfade-vertical'=>'Fade Slots Vertical','fadefromright'=>'Fade and Slide from Right','fadefromleft'=>'Fade and Slide from Left','fadefromtop'=>'Fade and Slide from Top','fadefrombottom'=>'Fade and Slide from Bottom',
									'fadetoleftfadefromright'=>'Fade and Slide to Left from Right','fadetorightfadefromleft'=>'Fade and Slide to Right from Left','fadetotopfadefrombottom'=>'Fade and Slide to Top from Bottom','fadetobottomfadefromtop'=>'Fade and Slide to Bottom from Top','parallaxtoright'=>'Parallax to Right','parallaxtoleft'=>'Parallax to Left','parallaxtotop'=>'Parallax to Top','parallaxtobottom'=>'Parallax to Bottom','parallaxhorizontal'=>'Parallax Horizontal','parallaxvertical'=>'Parallax Vertical',
									'scaledownfromright'=>'Zoom Out and Fade from Right','scaledownfromleft'=>'Zoom Out and Fade from Left','scaledownfromtop'=>'Zoom Out and Fade from Top','scaledownfrombottom'=>'Zoom Out and Fade from Bottom','zoomout'=>'Zoom Out','zoomin'=>'Zoom In','slotzoom-horizontal'=>'Zoom Slots Horizontal','slotzoom-vertical'=>'Zoom Slots Vertical','curtain-1'=>'Curtain from Left','curtain-2'=>'Curtain from Right','curtain-3'=>'Curtain from Middle','3dcurtain-horizontal'=>'3D Curtain Horizontal',
									'3dcurtain-vertical'=>'3D Curtain Vertical','cube'=>'Cube Vertical','cube-horizontal'=>'Cube Horizontal','incube'=>'In Cube Vertical','incube-horizontal'=>'In Cube Horizontal','turnoff'=>'Turn-Off Horizontal','turnoff-vertical'=>'Turn-Off Vertical','papercut'=>'Paper Cut','flyin'=>'Fly In'
								)
							)?>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Navigation Arrows:</label>
						<div class="panel panel--module bg-white">
							<?php
							$enabled = (isset($content->navigation_arrows_status) && $content->navigation_arrows_status == 'on')?'on':'off';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="on" name="content[navigation_arrows_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="off" name="content[navigation_arrows_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Navigation Arrows Style:</label>
						<div class="panel panel--module bg-white">
							<?php echo $this->formSelect('content[navigation_arrows_style]', (isset($content->navigation_arrows_style))?$content->navigation_arrows_style:'gyges', array('class'=>'form-control bg-white'),
								array('hesperiden'=>'Hesperiden','gyges'=>'Gyges','persephone'=>'Persephone','metis'=>'Metis','uranus'=>'Uranus'
								)
							)?>
						</div>
					</div>
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Navigation Dots:</label>
						<div class="panel panel--module bg-white">
							<?php
							$enabled = (isset($content->navigation_dots_status) && $content->navigation_dots_status == 'on')?'on':'off';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="on" name="content[navigation_dots_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="off" name="content[navigation_dots_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Navigation Dots Style:</label>
						<div class="panel panel--module bg-white">
							<?php echo $this->formSelect('content[navigation_dots_style]', (isset($content->navigation_dots_style))?$content->navigation_dots_style:'gyges', array('class'=>'form-control bg-white'),
								array('hesperiden'=>'Hesperiden','gyges'=>'Gyges','persephone'=>'Persephone','metis'=>'Metis','uranus'=>'Uranus'
								)
							)?>
						</div>
					</div>
				</div>

			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<div class="hidden list-row ui-sortable-handle" id="new-panel_row">
	<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between" data-status="<?php echo $panel->status; ?>">
		<div class="controls controls--horizontal">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-edit-btn"><i class="fas fa-bars"></i></button>
				<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
			</div>
		</div>
		<div class="panel__title" id="module_label-"></div>
		<div class="controls">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		window.cny.moduleSubPanels();
		window.cny.colorpicker();
		window.cny.wysiwyg();
		$('#panelForm-status').on('change', function() {
			let panelFormID = $("#panelForm-id").val();
			$('[data-id="panel_' + panelFormID + '"]').find('.panel--module').attr('data-status',this.value);
		});
	});
</script>
