<?php
$content = json_decode($this->module->json_content);
$panels = array();
if (isset($content->panels)) {
	foreach ($content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">

			<div id="panelForm" class="panel-edit">
				<input type="hidden" class="form-control" id="panelForm-id" value="">
				<input type="hidden" class="form-control copy" id="panelForm-sort_order" data-name="sort_order" value="">

				<div class="panel-edit__body panel--flex panel--flex-30-90">

					<div class="panel__layout text-left">
						<div>
							<h3 class="m-t-0">Layout</h3>
							<div class="panel__layout-images">
								<input type="hidden" class="form-control copy" id="panelForm-layout" data-name="layout" value="even_col-left-stacked">

								<div class="image active" data-value="even_col-left-stacked"><img src="/admin_skin/assets/images/4-left-stacked.svg" alt="" class="img-responsive"></div>
								<div class="image" data-value="even_col-center-stacked"><img src="/admin_skin/assets/images/5-centered-stacked.svg" alt="" class="img-responsive"></div>
								<div class="image" data-value="even_col-right-stacked"><img src="/admin_skin/assets/images/6-right-stacked.svg" alt="" class="img-responsive"></div>
								<div class="image" data-value="center_col-center-stacked"><img src="/admin_skin/assets/images/8-centered-column-stacked.svg" alt="" class="img-responsive"></div>
								<div class="image" data-value="center_col-right-text"><img src="/admin_skin/assets/images/7-side-by-side-text-right.svg" alt="" class="img-responsive"></div>
								<div class="image" data-value="center_col-left-text"><img src="/admin_skin/assets/images/9-side-by-side-text-left.svg" alt="" class="img-responsive"></div>
								<div class="image" data-value="full_col-bottom-text"><img src="/admin_skin/assets/images/13-bottom-two-button.svg" alt="" class="img-responsive"></div>

							</div>
						</div>
					</div>
					<div class="panel__content p-0">
						<div class="form-group text-left">
							<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseImage" aria-expanded="true" aria-controls="collapseImage">Panel Image <i class="fas fa-minus-square"></i></h3>

							<div id="collapseImage" class="collapse in">

								<label class="text-black m-b-5">Contain:</label>
								<div class="panel panel--module">
									<select class="form-control copy" id="panelForm-contain_status" data-name="contain_status">
										<option value="Disabled">Disabled</option>
										<option value="Enabled">Enabled</option>
									</select>
								</div>

								<label class="m-b-5 text-black">Label:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-label" data-name="label" value="">
								</div>

								<div class="panel--flex">
									<div class="panel panel--module">
										<label class="m-b-5 text-black">Image:</label>
										<img src="" class="img-responsive copy m-b-15 filemanager-image" data-image_src="#panelForm-image_path" id="panelForm-image" data-name="image">
										<input type="hidden" class="form-control copy" id="panelForm-image_path" data-name="image_path" value="">
										<div class="panel--controls m-b-15">
											<button data-url="/filemanager/dialog.php?type=1&field_id=panelForm-image_path&relative_url=1" class="btn btn--black modal-filemanager border-radius" type="button">Select Image</button>
											<button type="button" class="btn btn-primary btn-clear_image" data-rel="panelForm-image">Remove Image</button>
										</div>

									</div>
								</div>

								<div class="row">
									<div class="col-sm-6">
										<!-- background image options-->
										<label class="m-b-5 text-black">Image Position:</label>
										<div class="panel panel--module m-b-15">
											<select class="form-control copy" id="panelForm-image_bg_position" data-name="image_bg_position">
												<option value="left top">left top</option>
												<option value="left center">left center</option>
												<option value="left bottom">left bottom</option>
												<option value="right top">right top</option>
												<option value="right center">right center</option>
												<option value="right bottom">right bottom</option>
												<option value="center top">center top</option>
												<option value="center center" selected>center center</option>
												<option value="center bottom">center bottom</option>
											</select>
										</div>
									</div>
									<div class="col-sm-6">
										<!-- background fit-->
										<label class="m-b-5 text-black">Image Fit:</label>
										<div class="panel panel--module">
											<select class="form-control copy" id="panelForm-image_bg_fit" data-name="image_bg_fit">
												<option value="cover" selected>cover</option>
												<option value="contain">contain</option>
											</select>
										</div>
									</div>
								</div>

								<div>
									<label class="m-b-5 text-black">YouTube/Vimeo/Direct MP4 URL:</label>
									<div class="panel panel--module text-left">
										<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-video_url" data-name="video_url" value="">
									</div>

									<label class="m-b-5 text-black">Panel URL:</label>
									<div class="panel panel--module text-left">
										<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-panel_url" data-name="panel_url" value="">
									</div>

									<label class="m-b-5 text-black">Image Filter:</label>
									<div class="panel panel--module">
										<select class="form-control copy" id="panelForm-image_filter" data-name="image_filter">
											<option value="">None</option>
											<option value="_1977">1977</option>
											<option value="aden">Aden</option>
											<option value="brooklyn">Brooklyn</option>
											<option value="clarendon">Clarendon</option>
											<option value="earlybird">Early Bird</option>
											<option value="gingham">Gingham</option>
											<option value="hudson">Hudson</option>
											<option value="inkwell">Inkwell</option>
											<option value="lark">Lark</option>
											<option value="lofi">Lofi</option>
											<option value="mayfair">Mayfair</option>
											<option value="moon">Moon</option>
											<option value="nashville">Nashville</option>
											<option value="perpetua">Perpetua</option>
											<option value="reyes">Reyes</option>
											<option value="rise">Rise</option>
											<option value="slumber">Slumber</option>
											<option value="toaster">Toaster</option>
											<option value="walden">Walden</option>
											<option value="willow">Willow</option>
											<option value="xpro2">X Pro 2</option>
										</select>
									</div>
								</div>

								<label class="text-black m-b-5">Panel Status</label>
								<div class="panel panel--module">
									<select class="form-control copy" id="panelForm-status" data-name="status">
										<option value="Enabled">Enabled</option>
										<option value="Disabled">Disabled</option>
									</select>
								</div>

							</div>
						</div>

						<div class="form-group text-left">
							<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseOverlay" aria-expanded="false" aria-controls="collapseOverlay">Overlay <i class="fas fa-plus-square"></i></h3>

							<div id="collapseOverlay" class="collapse p-l-10">
								<!--								settings-->
								<h4 class="m-b-5 m-t-0 text-black h4" role="button" data-toggle="collapse" data-target="#overlaySettings" aria-expanded="true" aria-controls="overlaySettings">Settings <i class="fal fa-angle-up"></i></h4>
								<hr class="m-t-0">
								<div id="overlaySettings" class="collapse in p-l-10">
									<div class="row flex-row flex-wrap">
										<div class="col-sm-3">
											<label class="text-black m-b-5">Full Width:</label>
											<div class="panel panel--module">
												<?php echo $this->formSelect('overlay_full_width', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-overlay_full_width', 'data-name'=>'overlay_full_width'),
													array('Disabled'=>'Disabled','Enabled'=>'Enabled')
												)?>
											</div>
										</div>
										<div class="col-sm-3">
											<div class="panel panel--module">
												<label class="m-b-5 text-black">Max Width:</label>
												<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-overlay_max_width" data-name="overlay_max_width" value="">
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Height:</label>
											<div class="panel panel--module">
												<?php echo $this->formSelect('overlay_height', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-overlay_height', 'data-name'=>'overlay_height'),
													array('auto'=>'Auto','100%'=>'100%')
												)?>
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Vertical Alignment:</label>
											<div class="panel panel--module">
												<?php echo $this->formSelect('overlay_vertical_alignment', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-overlay_vertical_alignment', 'data-name'=>'overlay_vertical_alignment'),
													array('top'=>'Top','middle'=>'Middle','bottom'=>'Bottom')
												)?>
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Horizontal Alignment:</label>
											<div class="panel panel--module">
												<?php echo $this->formSelect('overlay_horizontal_alignment', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-overlay_horizontal_alignment', 'data-name'=>'overlay_horizontal_alignment'),
													array('left'=>'Left','center'=>'Center','right'=>'Right')
												)?>
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Vertical Offset:</label>
											<div class="panel panel--module">
												<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-overlay_vertical_offset" data-name="overlay_vertical_offset" value="">
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Horizontal Offset:</label>
											<div class="panel panel--module">
												<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-overlay_horizontal_offset" data-name="overlay_horizontal_offset" value="">
											</div>
										</div>
									</div>
								</div>

								<!--								image settings-->
								<h4 class="m-b-5 m-t-0 text-black h4" role="button" data-toggle="collapse" data-target="#imageSettings" aria-expanded="false" aria-controls="imageSettings">Image Settings <i class="fal fa-angle-down"></i></h4>
								<hr class="m-t-0">
								<div id="imageSettings" class="collapse p-l-10">
									<div class="panel--flex">
										<div class="panel panel--module">
											<label class="m-b-5 text-black">Overlay Image:</label>
											<img src="" class="img-responsive copy m-b-15 filemanager-image" data-image_src="#panelForm-overlay_image_path" id="panelForm-overlay_image" data-name="overlay_image">
											<input type="hidden" class="form-control copy" id="panelForm-overlay_image_path" data-name="overlay_image_path" value="">
											<div class="panel--controls">
												<button data-url="/filemanager/dialog.php?type=1&field_id=panelForm-overlay_image_path&relative_url=1" class="btn btn--black modal-filemanager border-radius" type="button">Select Image</button>
												<button type="button" class="btn btn-primary btn-clear_image" data-rel="panelForm-overlay_image">Remove Image</button>
											</div>
										</div>
										<div class="panel panel--module">
											<label class="m-b-5 text-black">Mobile Image:</label>
											<img src="" class="img-responsive copy m-b-15 filemanager-image" data-image_src="#panelForm-overlay_mobile_image_path" id="panelForm-overlay_mobile_image" data-name="overlay_mobile_image">
											<input type="hidden" class="form-control copy" id="panelForm-overlay_mobile_image_path" data-name="overlay_mobile_image_path" value="">
											<div class="panel--controls">
												<button data-url="/filemanager/dialog.php?type=1&field_id=panelForm-overlay_mobile_image_path&relative_url=1" class="btn btn--black modal-filemanager border-radius" type="button">Select Image</button>
												<button type="button" class="btn btn-primary btn-clear_image" data-rel="panelForm-overlay_mobile_image">Remove Image</button>
											</div>
										</div>
									</div>

									<div class="panel panel--module">
										<label class="m-b-5 text-black">Image Filter:</label>
										<div class="panel panel--module">
											<select class="form-control copy" id="panelForm-overlay_image_filter" data-name="overlay_image_filter">
												<option value="">None</option>
												<option value="_1977">1977</option>
												<option value="aden">Aden</option>
												<option value="brooklyn">Brooklyn</option>
												<option value="clarendon">Clarendon</option>
												<option value="earlybird">Early Bird</option>
												<option value="gingham">Gingham</option>
												<option value="hudson">Hudson</option>
												<option value="inkwell">Inkwell</option>
												<option value="lark">Lark</option>
												<option value="lofi">Lofi</option>
												<option value="mayfair">Mayfair</option>
												<option value="moon">Moon</option>
												<option value="nashville">Nashville</option>
												<option value="perpetua">Perpetua</option>
												<option value="reyes">Reyes</option>
												<option value="rise">Rise</option>
												<option value="slumber">Slumber</option>
												<option value="toaster">Toaster</option>
												<option value="walden">Walden</option>
												<option value="willow">Willow</option>
												<option value="xpro2">X Pro 2</option>
											</select>
										</div>
									</div>

									<label for="" class="m-b-5 text-black">Margin:</label>
									<div class="row">
										<div class="col-sm-3">
											<label class="text-black m-b-5">Top:</label>
											<div class="panel panel--module">
												<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-overlay_margin_top" data-name="overlay_margin_top" value="">
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Right:</label>
											<div class="panel panel--module">
												<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-overlay_margin_right" data-name="overlay_margin_right" value="">
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Bottom:</label>
											<div class="panel panel--module">
												<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-overlay_margin_bottom" data-name="overlay_margin_bottom" value="">
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Left:</label>
											<div class="panel panel--module">
												<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-overlay_margin_left" data-name="overlay_margin_left" value="">
											</div>
										</div>
									</div>

									<label class="m-b-5 text-black">Blend Mode:</label>
									<div class="panel panel--module">
										<select class="form-control copy" id="panelForm-overlay_text_blend" data-name="overlay_text_blend">
											<option value="">None</option>
											<option value="overlay">Overlay</option>
											<option value="darken">Darken</option>
											<option value="lighten">Lighten</option>
											<option value="difference">Difference</option>
											<option value="luminosity">Luminosity</option>
											<option value="color">Color</option>
											<option value="hard-light">Hard Light</option>
											<option value="soft-light">Soft Light</option>
											<option value="saturation">Saturation</option>
											<option value="hue">Hue</option>
											<option value="multiply">Multiply</option>
											<option value="color-burn">Color Burn</option>
											<option value="screen">Screen</option>
											<option value="exclusion">Exclusion</option>
											<option value="color-dodge">Color Dodge</option>
										</select>
									</div>
								</div>




								<!--								copy settings-->
								<h4 class="m-b-5 m-t-0 text-black h4" role="button" data-toggle="collapse" data-target="#copySettings" aria-expanded="true" aria-controls="copySettings">Copy Settings <i class="fal fa-angle-down"></i></h4>
								<hr class="m-t-0">
								<div id="copySettings" class="collapse p-l-10">
									<label class="m-b-5 text-black">Desktop Text:</label>
									<div class="panel panel--module">
										<textarea class="form-control copy tinymce" id="panelForm-overlay_text" data-name="overlay_text" data-type="textarea"></textarea>
									</div>

									<label class="m-b-5 text-black">Mobile Text:</label>
									<div class="panel panel--module">
										<textarea class="form-control copy tinymce" id="panelForm-overlay_text_mobile" data-name="overlay_text_mobile" data-type="textarea"></textarea>
									</div>
									<div class="row flex-row flex-wrap">
										<div class="col-sm-2">
											<label class="text-black m-b-5">Text Shadow</label>
											<div class="panel panel--module">
												<select class="form-control copy" id="panelForm-overlay_text_shadow" data-name="overlay_text_shadow">
													<option value="Disabled">Disabled</option>
													<option value="Enabled">Enabled</option>
												</select>
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Shadow Color</label>
											<div class="panel panel--module">
												<input type="text" class="form-control copy complex-colorpicker" id="panelForm-overlay_text_shadow_color" data-name="overlay_text_shadow_color">
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Shadow Size</label>
											<div class="panel panel--module">
												<select class="form-control copy" id="panelForm-overlay_text_shadow_size" data-name="overlay_text_shadow_size">
													<option value="0">None</option>
													<option value="1px">1px</option>
													<option value="2px">2px</option>
													<option value="3px">3px</option>
													<option value="4px">4px</option>
													<option value="5px">5px</option>
													<option value="6px">6px</option>
													<option value="7px">7px</option>
													<option value="8px">8px</option>
													<option value="9px">9px</option>
													<option value="10px">10px</option>
												</select>
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Horizontal Alignment:</label>
											<div class="panel panel--module">
												<?php echo $this->formSelect('overlay_horizontal_description_alignment', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-overlay_horizontal_description_alignment', 'data-name'=>'overlay_horizontal_description_alignment'),
													array(''=>'Default','left'=>'Left','center'=>'Center','right'=>'Right')
												)?>
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Vertical Alignment:</label>
											<div class="panel panel--module">
												<?php echo $this->formSelect('overlay_vertical_description_alignment', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-overlay_vertical_description_alignment', 'data-name'=>'overlay_vertical_description_alignment'),
													array(''=>'Default','top'=>'Top','center'=>'Center','bottom'=>'Bottom')
												)?>
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Margin Left:</label>
											<div class="panel panel--module">
												<input type="text" class="form-control copy" id="panelForm-overlay_description_margin_left" data-name="overlay_description_margin_left">
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Margin Right:</label>
											<div class="panel panel--module">
												<input type="text" class="form-control copy" id="panelForm-overlay_description_margin_right" data-name="overlay_description_margin_right">
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Margin Top:</label>
											<div class="panel panel--module">
												<input type="text" class="form-control copy" id="panelForm-overlay_description_margin_top" data-name="overlay_description_margin_top">
											</div>
										</div>
										<div class="col-sm-3">
											<label class="text-black m-b-5">Margin Bottom:</label>
											<div class="panel panel--module">
												<input type="text" class="form-control copy" id="panelForm-overlay_description_margin_bottom" data-name="overlay_description_margin_bottom">
											</div>
										</div>
									</div>
								</div>

							</div>

						</div>

						<div class="form-group text-left">
							<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseCTA" aria-expanded="false" aria-controls="collapseCTA">CTA Button <i class="fas fa-plus-square"></i></h3>

							<div id="collapseCTA" class="collapse">

								<div class="p-l-10 m-b-15">
									<label class="m-b-5 text-black" for="">Button One</label>
									<hr class="m-t-0 m-b-15">
									<div class="row">
										<div class="col-sm-4">
											<label class="m-b-5 text-black">Text</label>
											<div class="panel panel--module">
												<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-ca_button_text" data-name="ca_button_text" value="">
											</div>
										</div>
										<div class="col-sm-4">
											<label class="m-b-5 text-black">URL</label>
											<div class="panel panel--module">
												<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-ca_button_url" data-name="ca_button_url" value="">
											</div>
										</div>
										<div class="col-sm-4 hide">
											<label class="m-b-5 text-black">YouTube/Vimeo/Direct MP4 URL:</label>
											<div class="panel panel--module">
												<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-ca_button_video_url" data-name="ca_button_video_url" value="">
											</div>
										</div>
										<div class="col-sm-4">
											<label class="text-black m-b-5">Link Target:</label>
											<div class="panel panel--module bg-gray">
												<select class="form-control copy" id="panelForm-ca_button_link_target" data-name="ca_button_link_target">
													<option value="">Current Window/Tab</option>
													<option value="_blank">New Tab</option>
													<option value="modal">Modal</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">


										<div class="col-sm-4">
											<label class="text-black m-b-5">Button Style:</label>
											<div class="panel panel--module">
												<select class="form-control copy" id="panelForm-ca_button_class" data-name="ca_button_class">
													<option value="btn-square">Square</option>
													<option value="btn-round">Rounded</option>
													<option value="btn-round-4px">Rounded Corners</option>
													<option value="btn-outline">Outlined (transparent background)</option>
													<!--<option value="btn-square-full">Full Width</option>
													<option value="btn-round-4px-full">Full Width Rounded Corners</option>-->
												</select>
											</div>
										</div>
										<div class="col-sm-4">
											<label class="text-black m-b-5">Hover Effect</label>
											<div class="panel panel--module">
												<?php echo $this->formSelect('ca_button_hover_effect', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_hover_effect', 'data-name'=>'ca_button_hover_effect'),
													array(''=>'None','lighten'=>'Lighten',)//'darken'=>'Darken'
												)?>
											</div>
										</div>
									</div>
									<div class="row">

										<div class="col-sm-4">
											<label class="m-b-5 text-black">Button Color</label>
											<div class="panel panel--module">
												<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-ca_button_color" data-name="ca_button_color" value="">
											</div>
										</div>
										<div class="col-sm-4">
											<label class="m-b-5 text-black">Button Hover Color</label>
											<div class="panel panel--module">
												<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-ca_button_hover_color" data-name="ca_button_hover_color" value="">
											</div>
										</div>
										<div class="col-sm-4">
											<label class="text-black m-b-5">Text Size</label>
											<div class="panel panel--module">
												<?php echo $this->formSelect('ca_button_text_size', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_text_size', 'data-name'=>'ca_button_text_size'),
													array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
														'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
												)?>
											</div>
										</div>
									</div>
									<div class="row">

										<div class="col-sm-4">
											<label for="" class="m-b-5 text-black">Text Font:</label>
											<div class="panel panel--module bg-gray">
												<select class="form-control selectpicker copy font-selector" data-weight="ca_button_text_weight" id="panelForm-ca_button_text_font" data-name="ca_button_text_font">
													<?php
													$value = '';
													foreach ($font_options as $k => $v) {
														$selected = ($k == $value)?"selected":"";
														?>
														<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
														<?php
													}
													?>
												</select>
											</div>
										</div>
										<div class="col-sm-4">
											<label class="text-black m-b-5 text-black">Text Weight</label>
											<div class="panel panel--module">
												<?php echo $this->formSelect('ca_button_text_weight', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_text_weight', 'data-name'=>'ca_button_text_weight'),
													array(
														'' => 'Default',
														'300' => 'Light',
														'400' => 'Regular',
														'500' => 'Medium',
														'600' => 'Semi Bold',
														'700' => 'Bold',
														'800' => 'Bolder'
													)
												)?>
											</div>
										</div>
										<div class="col-sm-4">
											<label class="m-b-5 text-black">Text Color</label>
											<div class="panel panel--module">
												<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-ca_button_text_color" data-name="ca_button_text_color" value="">
											</div>
										</div>
									</div>
									<div class="row">

										<div class="col-sm-4">
											<label class="m-b-5 text-black">Text Hover Color</label>
											<div class="panel panel--module">
												<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-ca_button_text_hover_color" data-name="ca_button_text_hover_color" value="">
											</div>
										</div>
										<div class="col-sm-4">
											<label class="text-black m-b-5">Border Width/size</label>
											<div class="panel panel--module">
												<?php echo $this->formSelect('ca_button_border_width', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_border_width', 'data-name'=>'ca_button_border_width'),
													array(''=>'Default','0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
												)?>
											</div>
										</div>
										<div class="col-sm-4">
											<label class="text-black m-b-5">Border Color</label>
											<div class="panel panel--module">
												<input type="text" class="form-control bg-gray complex-colorpicker copy" id="panelForm-ca_button_border_color" data-name="ca_button_border_color" value="">
											</div>
										</div>
									</div>
									<div class="row">

										<div class="col-sm-4">
											<label class="text-black m-b-5">Border Hover Color</label>
											<div class="panel panel--module">
												<input type="text" class="form-control bg-gray complex-colorpicker copy" id="panelForm-ca_button_border_hover_color" data-name="ca_button_border_hover_color" value="">
											</div>
										</div>
									</div>
								</div>

								<div class="p-l-10">
									<label class="m-b-5 text-black" for="">Button Two</label>
									<hr class="m-t-0 m-b-15">
									<div class="row">
										<div class="col-sm-4">
											<label class="m-b-5 text-black">Text</label>
											<div class="panel panel--module">
												<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-ca_button_two_text" data-name="ca_button_two_text" value="">
											</div>
										</div>
										<div class="col-sm-4">
											<label class="m-b-5 text-black">URL</label>
											<div class="panel panel--module">
												<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-ca_button_two_url" data-name="ca_button_two_url" value="">
											</div>
										</div>
										<div class="col-sm-4 hide">
											<label class="m-b-5 text-black">YouTube/Vimeo/Direct MP4 URL:</label>
											<div class="panel panel--module">
												<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-ca_button_video_two_url" data-name="ca_button_video_two_url" value="">
											</div>
										</div>
										<div class="col-sm-4">
											<label class="text-black m-b-5">Link Target:</label>
											<div class="panel panel--module bg-gray">
												<select class="form-control copy" id="panelForm-ca_button_two_link_target" data-name="ca_button_two_link_target">
													<option value="">Current Window/Tab</option>
													<option value="_blank">New Tab</option>
													<option value="modal">Modal</option>
												</select>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4">
											<label class="text-black m-b-5">Button Style:</label>
											<div class="panel panel--module">
												<select class="form-control copy" id="panelForm-ca_button_two_class" data-name="ca_button_two_class">
													<option value="btn-square">Square</option>
													<option value="btn-round">Rounded</option>
													<option value="btn-round-4px">Rounded Corners</option>
													<option value="btn-outline">Outlined (transparent background)</option>
													<!--<option value="btn-square-full">Full Width</option>
													<option value="btn-round-4px-full">Full Width Rounded Corners</option>-->
												</select>
											</div>
										</div>
										<div class="col-sm-4">
											<label class="text-black m-b-5">Hover Effect</label>
											<div class="panel panel--module">
												<?php echo $this->formSelect('ca_button_two_hover_effect', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_two_hover_effect', 'data-name'=>'ca_button_two_hover_effect'),
													array(''=>'None','lighten'=>'Lighten',)//'darken'=>'Darken'
												)?>
											</div>
										</div>
									</div>
									<div class="row">

										<div class="col-sm-4">
											<label class="m-b-5 text-black">Button Color</label>
											<div class="panel panel--module">
												<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-ca_button_two_color" data-name="ca_button_two_color" value="">
											</div>
										</div>
										<div class="col-sm-4">
											<label class="m-b-5 text-black">Button Hover Color</label>
											<div class="panel panel--module">
												<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-ca_button_two_hover_color" data-name="ca_button_two_hover_color" value="">
											</div>
										</div>
										<div class="col-sm-4">
											<label class="text-black m-b-5">Text Size</label>
											<div class="panel panel--module">
												<?php echo $this->formSelect('ca_button_two_text_size', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_two_text_size', 'data-name'=>'ca_button_two_text_size'),
													array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
														'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
												)?>
											</div>
										</div>
									</div>
									<div class="row">

										<div class="col-sm-4">
											<label for="" class="m-b-5 text-black">Text Font:</label>
											<div class="panel panel--module bg-gray">
												<select class="form-control selectpicker copy font-selector" data-weight="ca_button_two_text_weight" id="panelForm-ca_button_two_text_font" data-name="ca_button_two_text_font">
													<?php
													$value = '';
													foreach ($font_options as $k => $v) {
														$selected = ($k == $value)?"selected":"";
														?>
														<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
														<?php
													}
													?>
												</select>
											</div>
										</div>
										<div class="col-sm-4">
											<label class="text-black m-b-5 text-black">Text Weight</label>
											<div class="panel panel--module">
												<?php echo $this->formSelect('ca_button_two_text_weight', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_two_text_weight', 'data-name'=>'ca_button_two_text_weight'),
													array(
														'' => 'Default',
														'300' => 'Light',
														'400' => 'Regular',
														'500' => 'Medium',
														'600' => 'Semi Bold',
														'700' => 'Bold',
														'800' => 'Bolder'
													)
												)?>
											</div>
										</div>
										<div class="col-sm-4">
											<label class="m-b-5 text-black">Text Color</label>
											<div class="panel panel--module">
												<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-ca_button_two_text_color" data-name="ca_button_two_text_color" value="">
											</div>
										</div>
									</div>
									<div class="row">

										<div class="col-sm-4">
											<label class="m-b-5 text-black">Text Hover Color</label>
											<div class="panel panel--module">
												<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-ca_button_two_text_hover_color" data-name="ca_button_two_text_hover_color" value="">
											</div>
										</div>
										<div class="col-sm-4">
											<label class="text-black m-b-5">Border Width/size</label>
											<div class="panel panel--module">
												<?php echo $this->formSelect('ca_button_two_border_width', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_two_border_width', 'data-name'=>'ca_button_two_border_width'),
													array(''=>'Default','0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
												)?>
											</div>
										</div>
										<div class="col-sm-4">
											<label class="text-black m-b-5">Border Color</label>
											<div class="panel panel--module">
												<input type="text" class="form-control bg-gray complex-colorpicker copy" id="panelForm-ca_button_two_border_color" data-name="ca_button_two_border_color" value="">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4">
											<label class="text-black m-b-5">Border Hover Color</label>
											<div class="panel panel--module">
												<input type="text" class="form-control bg-gray complex-colorpicker copy" id="panelForm-ca_button_two_border_hover_color" data-name="ca_button_two_border_hover_color" value="">
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>

						<div class="form-group text-left">
							<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">Button Advanced Settings <i class="fas fa-plus-square"></i></h3>

							<div class="collapse" id="collapseAdvanced">
								<div class="row flex-row flex-wrap">
									<div class="col-sm-4">
										<label class="text-black m-b-5">Width</label>
										<div class="panel panel--module">
											<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-ca_button_width" data-name="ca_button_width" value="">
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Padding (top/bottom)</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('ca_button_padding_tb', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_padding_tb', 'data-name'=>'ca_button_padding_tb'),
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
													'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px')
											)?>
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Padding (left/right)</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('ca_button_padding_lr', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_padding_lr', 'data-name'=>'ca_button_padding_lr'),
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
													'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px')
											)?>
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Vertical Alignment:</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('cta_vertical_alignment', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-cta_vertical_alignment', 'data-name'=>'cta_vertical_alignment'),
												array(''=>'Default','top'=>'Top','center'=>'Center','bottom'=>'Bottom')
											)?>
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Horizontal Alignment:</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('ca_button_position', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_position', 'data-name'=>'ca_button_position'),
												array('center'=>'Center','left'=>'Left','right'=>'Right')
											)?>
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Margin Left:</label>
										<div class="panel panel--module">
											<input type="text" class="form-control copy" id="panelForm-overlay_cta_margin_left" data-name="overlay_cta_margin_left">
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Margin Right:</label>
										<div class="panel panel--module">
											<input type="text" class="form-control copy" id="panelForm-overlay_cta_margin_right" data-name="overlay_cta_margin_right">
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Margin Top:</label>
										<div class="panel panel--module">
											<input type="text" class="form-control copy" id="panelForm-overlay_cta_margin_top" data-name="overlay_cta_margin_top">
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Margin Bottom:</label>
										<div class="panel panel--module">
											<input type="text" class="form-control copy" id="panelForm-overlay_cta_margin_bottom" data-name="overlay_cta_margin_bottom">
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group text-left">
							<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseSliderAdvanced" aria-expanded="false" aria-controls="collapseSliderAdvanced">Slide Advanced Settings <i class="fas fa-plus-square"></i></h3>

							<div class="collapse" id="collapseSliderAdvanced">
								<div class="row">
									<div class="col-sm-6">
										<label class="text-black m-b-5">Transition Style:</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('transition_style', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-transition_style', 'data-name'=>'transition_style'),
												array(''=>'Default','fade'=>'Fade','crossfade'=>'Fade Cross','fadethroughdark'=>'Fade Through Black','fadethroughlight'=>'Fade Through White','fadethroughtransparent'=>'Fade Through Transparent','slideup'=>'Slide to Top','slidedown'=>'Slide to Bottom','slideright'=>'Slide to Right','slideleft'=>'Slide to Left','slidehorizontal'=>'Slide Horizontal','slidevertical'=>'Slide Vertical','slideoverup'=>'Slide Over Top','slideoverdown'=>'Slide Over Bottom','slideoverright'=>'Slide Over Right','slideoverleft'=>'Slide Over Left',
													'slideoverhorizontal'=>'Slide Over Horizontal','slideoververtical'=>'Slide Over Vertical','slideremoveup'=>'Slide Remove to Top','slideremovedown'=>'Slide Remove to Bottom','slideremoveright'=>'Slide Remove to Right','slideremoveleft'=>'Slide Remove to Left','slideremovehorizontal'=>'Slide Remove Horizontal','slideremovevertical'=>'Slide Remove Vertical','slidingoverlayup'=>'Slide Overlays to Top','slidingoverlaydown'=>'Slide Overlays to Bottom','slidingoverlayright'=>'Slide Overlays to Right','slidingoverlayleft'=>'Slide Overlays to Left',
													'slidingoverlayhorizontal'=>'Slide Overlays Horizontal','slidingoverlayvertical'=>'Slide Overlays Vertical','boxslide'=>'Slide Boxes','slotslide-horizontal'=>'Slide Slots Horizontal','slotslide-vertical'=>'Slide Slots Vertical','boxfade'=>'Fade Boxes','slotfade-horizontal'=>'Fade Slots Horizontal','slotfade-vertical'=>'Fade Slots Vertical','fadefromright'=>'Fade and Slide from Right','fadefromleft'=>'Fade and Slide from Left','fadefromtop'=>'Fade and Slide from Top','fadefrombottom'=>'Fade and Slide from Bottom',
													'fadetoleftfadefromright'=>'Fade and Slide to Left from Right','fadetorightfadefromleft'=>'Fade and Slide to Right from Left','fadetotopfadefrombottom'=>'Fade and Slide to Top from Bottom','fadetobottomfadefromtop'=>'Fade and Slide to Bottom from Top','parallaxtoright'=>'Parallax to Right','parallaxtoleft'=>'Parallax to Left','parallaxtotop'=>'Parallax to Top','parallaxtobottom'=>'Parallax to Bottom','parallaxhorizontal'=>'Parallax Horizontal','parallaxvertical'=>'Parallax Vertical',
													'scaledownfromright'=>'Zoom Out and Fade from Right','scaledownfromleft'=>'Zoom Out and Fade from Left','scaledownfromtop'=>'Zoom Out and Fade from Top','scaledownfrombottom'=>'Zoom Out and Fade from Bottom','zoomout'=>'Zoom Out','zoomin'=>'Zoom In','slotzoom-horizontal'=>'Zoom Slots Horizontal','slotzoom-vertical'=>'Zoom Slots Vertical','curtain-1'=>'Curtain from Left','curtain-2'=>'Curtain from Right','curtain-3'=>'Curtain from Middle','3dcurtain-horizontal'=>'3D Curtain Horizontal',
													'3dcurtain-vertical'=>'3D Curtain Vertical','cube'=>'Cube Vertical','cube-horizontal'=>'Cube Horizontal','incube'=>'In Cube Vertical','incube-horizontal'=>'In Cube Horizontal','turnoff'=>'Turn-Off Horizontal','turnoff-vertical'=>'Turn-Off Vertical','papercut'=>'Paper Cut','flyin'=>'Fly In'
												)
											)?>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-4">
										<label class="m-b-5 text-black">Background Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-caption_item_background_color" data-name="caption_item_background_color" value="">
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Padding (top/bottom)</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('caption_item_padding_tb', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-caption_item_padding_tb', 'data-name'=>'caption_item_padding_tb'),
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
													'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px')
											)?>
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Padding (left/right)</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('caption_item_padding_lr', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-caption_item_padding_lr', 'data-name'=>'caption_item_padding_lr'),
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
													'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px')
											)?>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="break-row p-t-50">
					<div class="btn-group btn-group-justified">
						<a class="btn btn-lg btn-warning waves-effect waves-light" id="cancel-panel">Cancel</a>
						<a class="btn btn-lg btn--purple waves-effect waves-light" id="save-panel">Save Panel</a>
					</div>
				</div>
			</div>

			<div class="panel-view panel-edit__body">
				<div id="hero-list">
					<div class="flex-row">
						<div class="list-div flex-grow-1">
							<?php
							if (isset($panels)) {
								foreach ($panels as $k => $panel) {
									?>
									<div class="list-row" data-id="panel_<?php echo $k?>">
										<?php foreach ((array)$panel as $name => $val) {
											//need textarea for WYSIWYG fields
											if (in_array($name,array('overlay_text','overlay_text_mobile'))) {
												?>
												<textarea class="hide" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>"><?php echo $val?></textarea>
												<?php
											}else {
												?>
												<input type="hidden" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>" value="<?php echo $val?>">
											<?php }
										} ?>

										<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between" data-status="<?php echo $panel->status; ?>">
											<div class="controls controls--horizontal">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-edit-btn" data-rel="<?php echo $k?>"><i class="fas fa-bars"></i></button>
													<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
												</div>
											</div>
											<div class="panel__title" id="module_label-"><?php $k_plus = $k+1; echo ($panel->label)?$panel->label:"Panel {$k_plus}"?></div>
											<div class="controls">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete" data-rel="<?php echo $k?>"><i class="fas fa-times"></i></button>
												</div>
											</div>
										</div>
									</div>
									<?php
								}
							}?>
						</div>
					</div>
				</div>

				<div class="panel panel--module bg-border flex-row flex-align-center flex-justify-center">
					<div class="controls controls--footer text-center flex-grow-1 p-0">
						<a class="btn btn-xs btn--link p-t-10 p-b-10" id="add-panel" href=""><i class="fas fa-plus-square"></i> Add Panel</a>
					</div>
				</div>

				<hr>



				<div class="form-group text-left">
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#settingsInit" aria-expanded="true" aria-controls="settingsInit">Settings <i class="fas fa-minus-square"></i></h3>

					<div id="settingsInit" class="collapse in">
						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Fullscreen:</label>

								<div class="panel panel--module bg-white">
									<?php
									$enabled = (isset($content->fullscreen) && $content->fullscreen == 'on')?'on':'off';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="on" name="content[fullscreen]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="off" name="content[fullscreen]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>

							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Pause on Hover:</label>

								<div class="panel panel--module bg-white">
									<?php
									$enabled = (isset($content->pause) && $content->pause == 'on')?'on':'off';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="on" name="content[pause]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="off" name="content[pause]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>

							<div class="col-sm-4 text-left">
								<div class="fullscreen-off">
									<label class="text-black m-b-5">Height in Pixels:</label>
									<div class="panel panel--module">
										<input type="number" class="form-control" name="content[height]" value="<?php echo (isset($content->height))?$content->height:'400'?>">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Slide Duration (seconds):</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[transition_speed]" value="<?php echo (isset($content->transition_speed))?$content->transition_speed:'6'?>">
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Transition Style:</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[transition_style]', (isset($content->transition_style))?$content->transition_style:'fade', array('class'=>'form-control bg-white'),
										array(
											'fade'=>'Fade',
											'fadefromtop'=>'Fade and Slide from Top',
											'fadefrombottom'=>'Fade and Slide from Bottom',
											'fadefromright'=>'Fade and Slide from Right',
											'fadefromleft'=>'Fade and Slide from Left',
											'slideup'=>'Slide to Top',
											'slidedown'=>'Slide to Bottom',
											'slideright'=>'Slide to Right',
											'slideleft'=>'Slide to Left',
											'zoomout'=>'Zoom Out',
											'zoomin'=>'Zoom In',
										)
									)?>
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Transition Duration (seconds):</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[transition_duration]" value="<?php echo (isset($content->transition_duration ))?$content->transition_duration :''?>">
								</div>
							</div>
						</div>
					</div>

					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#settingsMotion" aria-expanded="false" aria-controls="settingsMotion">Motion Settings <i class="fas fa-plus-square"></i></h3>

					<div id="settingsMotion" class="collapse">
						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Enable:</label>

								<div class="panel panel--module bg-white">
									<?php
									$enabled = (isset($content->motion) && $content->motion == 'on')?'on':'off';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="on" name="content[motion]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="off" name="content[motion]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">

							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Motion Style:</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[motion_style]', (isset($content->motion_style))?$content->motion_style:'zoomOut', array('class'=>'form-control bg-white'),
										array(
											'zoomOut'=>'Zoom Out',
											'zoomIn'=>'Zoom In'
										)
									)?>
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Motion Duration (seconds):</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[motion_duration]" value="<?php echo (isset($content->motion_duration))?$content->motion_duration:'7'?>">
								</div>
							</div>
						</div>
					</div>


					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#settingsCollapseSlideArrows" aria-expanded="false" aria-controls="settingsCollapseSlideArrows">Slide Arrows <i class="fas fa-plus-square"></i></h3>

					<div id="settingsCollapseSlideArrows" class="collapse">

						<div>
							<label class="m-b-5 text-black h4">Settings</label>
						</div>
						<hr class="m-t-0">

						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Enable:</label>
								<div class="panel panel--module bg-white">
									<?php
									$enabled = (isset($content->navigation_arrows_status) && $content->navigation_arrows_status == 'on')?'on':'off';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="on" name="content[navigation_arrows_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="off" name="content[navigation_arrows_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Style:</label>
								<div class="panel panel--module bg-white">
									<?php echo $this->formSelect('content[navigation_arrows_style]', (isset($content->navigation_arrows_style))?$content->navigation_arrows_style:'gyges', array('class'=>'form-control bg-white'),
										array('hesperiden'=>'Hesperiden','gyges'=>'Gyges','persephone'=>'Persephone','metis'=>'Metis','uranus'=>'Uranus'
										)
									)?>
								</div>
							</div>

							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Preview Style:</label>
								<div class="panel panel--module bg-white">
									<img id="arrowStylePreview" class="img-responsive" src="/admin_skin/assets/images/slider/arrows/<?php echo $content->navigation_arrows_style; ?>.jpg" alt="">
								</div>
							</div>


							<script>
								$(function() {

									$( "#content-navigation_arrows_style" ).change(function() {
										var selectedArrowStyle = this.value,
											arrowStylesrc = $('#arrowStylePreview');

										console.log(selectedArrowStyle);


										arrowStylesrc.attr('src','/admin_skin/assets/images/slider/arrows/'+selectedArrowStyle+'.jpg');


									});
								});
							</script>


						</div>

						<label>Container Settings</label>
						<hr class="m-t-0 m-b-10">
						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">BG Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control complex-colorpicker" name="content[slider_arrow_background_color]" value="<?php echo (isset($content->slider_arrow_background_color))?$content->slider_arrow_background_color:''?>">
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Border Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control complex-colorpicker" name="content[slider_arrow_border_color]" value="<?php echo (isset($content->slider_arrow_border_color))?$content->slider_arrow_border_color:''?>">
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Border Size:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[slider_arrow_border_size]" value="<?php echo (isset($content->slider_arrow_border_size))?$content->slider_arrow_border_size:''?>">
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Radius:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[slider_arrow_radius]" value="<?php echo (isset($content->slider_arrow_radius))?$content->slider_arrow_radius:''?>">
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Size:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[slider_arrow_box_size]" value="<?php echo (isset($content->slider_arrow_box_size))?$content->slider_arrow_box_size:''?>">
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Padding:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[slider_arrow_padding]" value="<?php echo (isset($content->slider_arrow_padding))?$content->slider_arrow_padding:''?>">
								</div>
							</div>
						</div>

						<label for="">Arrow Settings</label>
						<hr class="m-t-0 m-b-10">
						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control complex-colorpicker" name="content[slider_arrow_color]" value="<?php echo (isset($content->slider_arrow_color))?$content->slider_arrow_color:''?>">
								</div>
							</div>

							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Size:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[slider_arrow_size]" value="<?php echo (isset($content->slider_arrow_size))?$content->slider_arrow_size:''?>">
								</div>
							</div>
						</div>

					</div>

					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#settingsProgressIndicator" aria-expanded="false" aria-controls="settingsCollapseArrows">Progress Indicator <i class="fas fa-plus-square"></i></h3>

					<div id="settingsProgressIndicator" class="collapse">

						<div>
							<label class="m-b-5 text-black h4">Settings</label>
						</div>
						<hr class="m-t-0">

						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Enable:</label>
								<div class="panel panel--module bg-white">
									<?php
									$enabled = (isset($content->navigation_dots_status) && $content->navigation_dots_status == 'on')?'on':'off';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="on" name="content[navigation_dots_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="off" name="content[navigation_dots_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Style:</label>
								<div class="panel panel--module bg-white">
									<?php echo $this->formSelect('content[navigation_dots_style]', (isset($content->navigation_dots_style))?$content->navigation_dots_style:'gyges', array('class'=>'form-control bg-white'),
										array('hesperiden'=>'Hesperiden','gyges'=>'Gyges','persephone'=>'Persephone','metis'=>'Metis','uranus'=>'Uranus'
										)
									)?>
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Preview Style:</label>
								<div class="panel panel--module bg-white">
									<img id="dotStylePreview" class="img-responsive" src="/admin_skin/assets/images/slider/dots/<?php echo $content->navigation_dots_style; ?>-1.jpg" alt="">
								</div>
							</div>

							<script>
								$(function() {

									$( "#content-navigation_dots_style" ).change(function() {
										var selectedDotStyle = this.value,
											dotStylesrc = $('#dotStylePreview');

										dotStylesrc.attr('src','/admin_skin/assets/images/slider/dots/'+selectedDotStyle+'-1.jpg');


									});
								});
							</script>
						</div>

						<label for="">Container Settings:</label>
						<hr class="m-t-0 m-b-10">
						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">BG Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control complex-colorpicker" name="content[dot_container_background_color]" value="<?php echo (isset($content->dot_container_background_color))?$content->dot_container_background_color:''?>">
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Border Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control complex-colorpicker" name="content[dot_container_border_color]" value="<?php echo (isset($content->dot_container_border_color))?$content->dot_container_border_color:''?>">
								</div>
							</div>

							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Border Size:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[dot_container_border_size]" value="<?php echo (isset($content->dot_container_border_size))?$content->dot_container_border_size:''?>">
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5"> Radius:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[dot_container_radius]" value="<?php echo (isset($content->dot_container_radius))?$content->dot_container_radius:''?>">
								</div>
							</div>

							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Padding:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[dot_container_padding]" value="<?php echo (isset($content->dot_container_padding))?$content->dot_container_padding:''?>">
								</div>
							</div>
						</div>

						<label for="">Dot Settings:</label>
						<hr class="m-t-0 m-b-10">
						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control complex-colorpicker" name="content[dot_color]" value="<?php echo (isset($content->dot_color))?$content->dot_color:''?>">
								</div>
							</div>

							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Active Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control complex-colorpicker" name="content[dot_active_color]" value="<?php echo (isset($content->dot_active_color))?$content->dot_active_color:''?>">
								</div>
							</div>

							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Border Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control complex-colorpicker" name="content[dot_border_color]" value="<?php echo (isset($content->dot_border_color))?$content->dot_border_color:''?>">
								</div>
							</div>

						</div>

						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Border Size:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[dot_border_size]" value="<?php echo (isset($content->dot_border_size))?$content->dot_border_size:''?>">
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5"> Radius:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[dot_radius]" value="<?php echo (isset($content->dot_radius))?$content->dot_radius:''?>">
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Size:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[dot_size]" value="<?php echo (isset($content->dot_size))?$content->dot_size:''?>">
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Alignment:</label>
								<div class="panel panel--module bg-white">
									<?php echo $this->formSelect('content[dot_alignment]', (isset($content->dot_alignment))?$content->dot_alignment:'center', array('class'=>'form-control bg-white'),
										array('left'=>'Left','center'=>'Center','right'=>'Right'
										)
									)?>
								</div>
							</div>
						</div>
					</div>

					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#settingsCollapseArrows" aria-expanded="false" aria-controls="settingsCollapseArrows">Down Arrow <i class="fas fa-plus-square"></i></h3>

					<div id="settingsCollapseArrows" class="collapse">
						<div>
							<label class="m-b-5 text-black h4">Settings</label>
						</div>
						<hr class="m-t-0">
						<!--				down arrow section-->
						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Enable:</label>
								<div class="panel panel--module">
									<?php
									$enabled = (isset($content->anchor_overlay) && $content->anchor_overlay == 'on')?'on':'off';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="on" name="content[anchor_overlay]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="off" name="content[anchor_overlay]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Down Arrow Animation:</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[anchor_animation]', (isset($content->anchor_animation))?$content->anchor_animation:'no-animation', array('class'=>'form-control bg-white'),
										array('no-animation'=>'No Animation', 'rs-pendulum'=>'Pendulum', 'rs-slideloop'=>'Slide Loop', 'rs-wave'=>'Wave')
									)?>
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Down Arrow Type:</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[arrow_type]', (isset($content->arrow_type))?$content->arrow_type:'fa-angle-down', array('class'=>'form-control bg-white'),
										array('fa-angle-down'=>'Single', 'fa-angle-double-down'=>'Double')
									)?>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Down Arrow Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control complex-colorpicker" name="content[arrow_color]" value="<?php echo (isset($content->arrow_color))?$content->arrow_color:''?>">
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Down Arrow BG Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control complex-colorpicker" name="content[arrow_background_color]" value="<?php echo (isset($content->arrow_background_color))?$content->arrow_background_color:''?>">
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Down Arrow Border Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control complex-colorpicker" name="content[arrow_border_color]" value="<?php echo (isset($content->arrow_border_color))?$content->arrow_border_color:''?>">
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Down Arrow Radius:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[arrow_radius]" value="<?php echo (isset($content->arrow_radius))?$content->arrow_radius:''?>">
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Down Arrow Size:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[arrow_size]" value="<?php echo (isset($content->arrow_size))?$content->arrow_size:''?>">
								</div>
							</div>
							<div class="col-sm-4 text-left">
								<label class="text-black m-b-5">Down Arrow Padding:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[arrow_padding]" value="<?php echo (isset($content->arrow_padding))?$content->arrow_padding:''?>">
								</div>
							</div>
						</div>
						<!--				end down arrow section-->
					</div>
				</div>

			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<div class="hidden list-row ui-sortable-handle" id="new-panel_row">
	<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
		<div class="controls controls--horizontal">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-edit-btn"><i class="fas fa-bars"></i></button>
				<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
			</div>
		</div>
		<div class="panel__title" id="module_label-"></div>
		<div class="controls">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		window.cny.moduleSubPanels();
		window.cny.colorpicker();
		window.cny.wysiwyg();
		window.cny.fontWeightUpdater();

		$(".panel__layout-images .image").on("click", function(){
			$("#panelForm-layout").val($(this).data('value'));
			$(".panel__layout-images .image").removeClass("active");
			$(this).addClass("active");
		});

		$("#hero-list").on("click",".panel-edit-btn", function(){
			$(".panel__layout-images .image").removeClass("active");
			$(".panel__layout-images .image[data-value='"+$("#panelForm-layout").val()+"']").addClass("active");
		});

		$(".selectpicker").selectpicker();

		$('h4[data-toggle]').on('click', function() {
			if ( $(this).attr('aria-expanded') === 'false' ) {
				$(this).find('.fal')
					.addClass('fa-angle-up')
					.removeClass('fa-angle-down');
			} else {
				$(this).find('.fal')
					.addClass('fa-angle-down')
					.removeClass('fa-angle-up');
			}

		});

		$('#panelForm-status').on('change', function() {
			let panelFormID = $("#panelForm-id").val();
			$('[data-id="panel_' + panelFormID + '"]').find('.panel--module').attr('data-status',this.value);
		});
	});
</script>
