<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);

//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="panel-edit__body">
				<div class="form-group text-left">
					<label class="text-black m-b-5"> Categories:</label>
					<div class="panel panel--module">
						<?php
						$mapper = new Admin_Model_Mapper_FaqSection();
						$categories = $mapper->fetchPairs();

						echo $this->formSelect('content[categories]', (isset($content->categories))?$content->categories:'', array('multiple' => true,'class'=>'form-control bg-gray'),
							array(""=>"All")+$categories
						)?>

						<small class="help-block">hold CTRL/Command button to select multiple</small>
					</div>

				</div>

				<div class="form-group text-left">
					<div class="row">
						<div class="col-sm-4">
							<label class="text-black m-b-5">Accordion Starting Status:</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[starting_status]', (isset($content->starting_status))?$content->starting_status:'', array('class'=>'form-control bg-gray'),
									array(''=>'Open','closed'=>'Closed')
								)?>
							</div>
						</div>
						<div class="col-sm-4">
							<label class="text-black m-b-5">Category Title Display:</label>
							<div class="panel panel--module">
								<?php
								$enabled = (isset($content->category_title_status) && $content->category_title_status == 'Disabled')?'off':'on';
								?>
								<div class="btn-group" id="status" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="content[category_title_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="content[category_title_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="text-black m-b-5">Divider Line</label>
							<div class="panel panel--module">
								<?php
								$enabled = (isset($content->divider_status) && $content->divider_status == 'Enabled')?'on':'off';
								?>
								<div class="btn-group" id="status" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="content[divider_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="content[divider_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<label class="text-black m-b-5">Divider Line Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray complex-colorpicker" name="content[divider_color]" value="<?php echo (isset($content->divider_color))?$content->divider_color:''?>">
							</div>
						</div>
						<div class="col-sm-4">
							<label class="text-black m-b-5">Divider Space</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="content[divider_margin_tb]" value="<?php echo (isset($content->divider_margin_tb))?$content->divider_margin_tb:''?>">
							</div>
						</div>
					</div>

					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseTitle" aria-expanded="false" aria-controls="collapseTitle">Question Options <i class="fas fa-plus-square"></i></h3>

					<div class="collapse" id="collapseTitle">
						<div class="row">
							<div class="col-sm-12">
								<label class="text-black m-b-5">Title:</label>
								<div class="row">
									<div class="col-sm-3">
										<div class="panel panel--module text-left">
											<label class="text-black m-b-5">Font</label>
											<div class="panel panel--module">
												<select class="form-control bg-gray font-selector" data-weight="content[title_weight]" name="content[title_font]">
													<?php
													$value = (isset($content->title_font) && $content->title_font)?$content->title_font:'';
													foreach ($font_options as $k => $v) {
														$selected = ($k == $value)?"selected":"";
														?>
														<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
														<?php
													}
													?>
												</select>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5">Text Weight</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[title_weight]', (isset($content->title_weight))?$content->title_weight:'', array('class'=>'form-control bg-gray'),
												array(
													'' => 'Default',
													'300' => 'Light',
													'400' => 'Regular',
													'500' => 'Medium',
													'600' => 'Semi Bold',
													'700' => 'Bold',
													'800' => 'Bolder'
												)
											)?>
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5">Text Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[title_text_color]" value="<?php echo (isset($content->title_text_color))?$content->title_text_color:''?>">
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5">Text Size</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[title_text_size]', (isset($content->title_text_size))?$content->title_text_size:'', array('class'=>'form-control bg-gray'),
												array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
													'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
											)?>
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Line Height</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[title_line_height]', (isset($content->title_line_height))?$content->title_line_height:'', array('class'=>'form-control bg-gray'),
												array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
													'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px','44px','48px','50px','60px')
											)?>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="panel panel--module text-left">
											<label class="text-black m-b-5">Alignment</label>
											<?php echo $this->formSelect('content[title_position]', (isset($content->title_position))?$content->title_position:'text-left', array('class'=>'form-control bg-gray'),
												array('text-center'=>'Centered','text-left'=>'Left','text-right'=>'Right')
											)?>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<label class="text-black m-b-5">Question Border:</label>
								<div class="row">
									<div class="col-sm-4">
										<label class="text-black m-b-5"></label>
										<div class="panel panel--module">
											<?php
											$enabled = (isset($content->title_border_status) && $content->title_border_status == 'Disabled')?'off':'on';
											?>
											<div class="btn-group" id="status" data-toggle="buttons">
												<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
													<input type="radio" value="Enabled" name="content[title_border_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
												<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
													<input type="radio" value="Disabled" name="content[title_border_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Border Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[title_border_color]" value="<?php echo (isset($content->title_border_color))?$content->title_border_color:''?>">
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Border Width/size</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[title_border_width]', (isset($content->title_border_width))?$content->title_border_width:'1px', array('class'=>'form-control bg-gray'),
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
											)?>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<label class="text-black m-b-5">Question Background:</label>
								<div class="row">
									<div class="col-sm-4">
										<label class="text-black m-b-5">Background Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[title_background_color]" value="<?php echo (isset($content->title_background_color))?$content->title_background_color:''?>">
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Padding</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[title_padding]', (isset($content->title_padding))?$content->title_padding:'5px', array('class'=>'form-control bg-gray'),
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
													'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px')
											)?>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label class="text-black m-b-5">Icon:</label>
								<div class="row">
									<div class="col-sm-6">
										<label class="text-black m-b-5">Closed Icon</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray" name="content[icon_closed]" id="content-icon_closed" value="<?php echo (isset($content->icon_closed))?$content->icon_closed:''?>">
										</div>
									</div>
									<div class="col-sm-6">
										<label class="text-black m-b-5">Open Icon</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray" name="content[icon_open]" id="content-icon_open" value="<?php echo (isset($content->icon_open))?$content->icon_open:''?>">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group text-left">
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseDetails" aria-expanded="false" aria-controls="collapseDetails">Answer Drawer <i class="fas fa-plus-square"></i></h3>

					<div class="collapse" id="collapseDetails">
						<div class="row">
							<div class="col-sm-4">
								<label class="text-black m-b-5"></label>
								<div class="panel panel--module">
									<?php
									$enabled = (isset($content->details_border_status) && $content->details_border_status == 'Disabled')?'off':'on';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="content[details_border_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="content[details_border_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Border Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[details_border_color]" value="<?php echo (isset($content->details_border_color))?$content->details_border_color:''?>">
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Border Width/size</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[details_border_width]', (isset($content->details_border_width))?$content->details_border_width:'1px', array('class'=>'form-control bg-gray'),
										array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
									)?>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label class="text-black m-b-5">Answer Background:</label>
								<div class="row">
									<div class="col-sm-4">
										<label class="text-black m-b-5">Background Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[details_background_color]" value="<?php echo (isset($content->details_background_color))?$content->details_background_color:''?>">
										</div>
									</div>
									<!--
									<div class="col-sm-4">
										<label class="text-black m-b-5">Padding</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[details_padding]', (isset($content->details_padding))?$content->details_padding:'5px', array('class'=>'form-control bg-gray'),
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
													'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px')
											)?>
										</div>
									</div>
									-->
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>

</form>


<script>
	$(function() {
		window.cny.fontWeightUpdater();

		//iconList variable moved into JS variables.js file
		var data = $.map(iconList, function (obj) {
			//obj.id = obj.id || obj.id;
			obj.text = obj.text || obj.name;

			if (typeof obj.filter !== 'undefined' && obj.filter) {
				obj.text += '<span class="hide">' + obj.filter.toString() + '<span>';
			}

			return obj;
		});

		function formatCustom(item) {
			if (!item.id) return item.text; // optgroup

			return "<span class='fa fa-" + item.id + "'>&nbsp;" + item.text + "</span>";
		}

		$('#content-icon_closed').select2({
			data: data,
			formatResult: formatCustom,
			formatSelection: formatCustom,
			escapeMarkup: function(m) { return m; }
		});

		$('#content-icon_open').select2({
			data: data,
			formatResult: formatCustom,
			formatSelection: formatCustom,
			escapeMarkup: function(m) { return m; }
		});
	});
</script>
