<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);
$panels = array();
if (isset($content->panels)) {
	foreach ($content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">

			<div id="panelForm" class="panel-edit">
				<input type="hidden" class="form-control" id="panelForm-id" value="">
				<input type="hidden" class="form-control copy" id="panelForm-sort_order" data-name="sort_order" value="">


				<div class="panel-edit__body">
					<div class="form-group text-left">
						<input type="hidden" class="form-control copy" id="panelForm-label" data-name="label" value="">

						<label class="m-b-5 text-black">Unit/Listing:</label>
						<div class="panel panel--module bg-gray">
							<input type="text" class="form-control copy" id="panelForm-unit_id" data-name="unit_id" value="">
						</div>

					</div>
				</div>


				<div class="break-row p-t-50">
					<div class="btn-group btn-group-justified">
						<a class="btn btn-lg btn-warning waves-effect waves-light" id="cancel-panel">Cancel</a>
						<a class="btn btn-lg btn--purple waves-effect waves-light" id="save-panel">Save Panel</a>
					</div>
				</div>
			</div>

			<div class="panel-view panel-edit__body">
				<div id="hero-list" class="selection_type type-film">

					<div class="row flex-row">
						<div class="col-xs-12 p-l-0 list-div">
							<?php
							if (isset($panels)) {
								foreach ($panels as $k => $panel) {
									?>
									<div class="col-sm-12 p-t-10 list-row" data-id="panel_<?php echo $k?>">
										<?php foreach ((array)$panel as $name => $val) {?>
											<input type="hidden" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>" value="<?php echo $val?>">
										<?php } ?>

										<div class="m-b-0 panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
											<div class="controls controls--horizontal">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-edit-btn" data-rel="<?php echo $k?>"><i class="fa fa-bars"></i></button>
													<button class="btn btn-xs btn--transparent text-white"><i class="fa fa-clone"></i></button>
												</div>
											</div>
											<div class="panel__title" id="module_label-"><?php $k_plus = $k+1; echo ($panel->label)?$panel->label:"Panel {$k_plus}"?></div>
											<div class="controls">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete" data-rel="<?php echo $k?>"><i class="fa fa-times"></i></button>
												</div>
											</div>
										</div>
									</div>
									<?php
								}
							}?>
						</div>
					</div>

				</div>
				<div class="panel panel--module bg-border flex-row flex-align-center flex-justify-center selection_type type-film">
					<div class="controls controls--footer text-center flex-grow-1 p-0">
						<a class="btn btn-xs btn--link p-t-10 p-b-10" id="add-panel" href=""><i class="fa fa-plus-square-o"></i> Add Panel</a>
					</div>
				</div>

				<div class="form-group text-left">
					<label for="" class="m-b-5 text-black">Title:</label>
					<div class="panel panel--module bg-gray">
						<input type="text" class="form-control" name="content[title]" value="<?php echo (isset($content->title))?$content->title:''?>">
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 text-left">
						<label for="" class="m-b-5 text-black">Side Alignment:</label>
						<div class="panel panel--module bg-gray">
							<?php echo $this->formSelect('settings[alignment]', (isset($settings->alignment))?$settings->alignment:'', array('class'=>'form-control'), array(
								"left"=>"Left",
								"right"=>"Right",
							))?>
						</div>
					</div>
					<div class="col-sm-6 text-left">
						<label for="" class="m-b-5 text-black">Display Type:</label>
						<div class="panel panel--module bg-gray">
							<?php echo $this->formSelect('settings[display_type]', (isset($settings->display_type))?$settings->display_type:'', array('class'=>'form-control'), array(
								"single"=>"Single",
								"triple"=>"Triple",
							))?>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<div class="col-sm-12 p-t-10 hidden list-row ui-sortable-handle" id="new-panel_row">
	<div class="m-b-0 panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
		<div class="controls controls--horizontal">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-edit-btn"><i class="fa fa-bars"></i></button>
				<button class="btn btn-xs btn--transparent text-white"><i class="fa fa-clone"></i></button>
			</div>
		</div>
		<div class="panel__title" id="module_label-"></div>
		<div class="controls">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete"><i class="fa fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		window.cny.moduleSubPanels();

		$(".selectpicker").selectpicker();

		$("#panelForm-unit_id").select2({
			placeholder: "Search Units/Listings",
			minimumInputLength: 2,
			ajax: {
				url: "/admin/unit/ajax-list",
				dataType: 'json',
				quietMillis: 250,
				data: function (term, page) {
					return {
						q: term
					};
				},
				results: function (data, page) {
					return {results: data.results};
				},
				cache: true
			},
			initSelection: function (element, callback) {
				var id = $(element).val();
				if (id !== "") {
					$.ajax("/admin/unit/ajax-view/id/" + id, {
						dataType: "json"
					}).done(function (data) {
						callback(data);
					});
				}
			}
		});
	});
</script>
