<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);
$panels = array();
if (isset($content->panels)) {
	foreach ($content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
if (!$settings_mapper->getValueByCode('google_api_key')) { ?>

<div class="tab-content">
	<div class="row">
		<div class="col-sm-12 m-b-30">
			A Google API Key is required to use this module. Please add a valid key in Settings -> Website Settings -> Plugins<br/><br/>
			Make sure that your API key is enabled for Maps Javascript API and Geocoding API at a minimum.
		</div>
	</div>
</div>
<?php
}else {
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">

			<div id="panelForm" class="panel-edit">
				<input type="hidden" class="form-control" id="panelForm-id" value="">
				<input type="hidden" class="form-control copy" id="panelForm-sort_order" data-name="sort_order" value="">


				<div class="panel-edit__body">
					<div class="form-group text-left">
						<h3 class="form-group-title m-b-5">Location</h3>

						<label class="m-b-5 text-black">Name:</label>
						<div class="panel panel--module bg-gray">
							<input type="text" class="form-control copy" id="panelForm-label" data-name="label" value="">
						</div>

						<label class="m-b-5 text-black">Address</label>
						<div class="panel panel--module">
							<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-address" data-name="address" value="">
						</div>

						<label class="m-b-5 text-black">City</label>
						<div class="panel panel--module">
							<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-city" data-name="city" value="">
						</div>

						<label class="m-b-5 text-black">State/Region</label>
						<div class="panel panel--module">
							<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-region" data-name="region" value="">
						</div>

						<label class="m-b-5 text-black">Zip/Postcode</label>
						<div class="panel panel--module">
							<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-postcode" data-name="postcode" value="">
						</div>

						<label class="m-b-5 text-black">Country</label>
						<div class="panel panel--module">
							<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-country" data-name="country" value="">
						</div>

						<label class="m-b-5 text-black">Phone</label>
						<div class="panel panel--module">
							<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-phone" data-name="phone" value="">
						</div>

						<label class="m-b-5 text-black">Website URL</label>
						<div class="panel panel--module">
							<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-website" data-name="website" value="">
						</div>

						<label class="m-b-5 text-black">Latitude (optional)</label>
						<div class="panel panel--module">
							<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-latitude" data-name="latitude" value="">
						</div>

						<label class="m-b-5 text-black">Longitude (optional)</label>
						<div class="panel panel--module">
							<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-longitude" data-name="longitude" value="">
						</div>

						<div class="row">
							<div class="col-sm-6">
								<label class="text-black m-b-5">Map Marker</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('panelForm[marker_image]', '', array('class'=>'form-control copy bg-gray', 'data-name'=>'marker_image'),
										array(''=>'Default',
											'http://maps.google.com/mapfiles/kml/paddle/blu-circle.png' => 'Blue Paddle',
											'http://maps.google.com/mapfiles/kml/paddle/grn-circle.png' => 'Green Paddle',
											'http://maps.google.com/mapfiles/kml/paddle/ltblu-circle.png' => 'Light Blue Paddle',
											'http://maps.google.com/mapfiles/kml/paddle/pink-circle.png' => 'Pink Paddle',
											'http://maps.google.com/mapfiles/kml/paddle/purple-circle.png' => 'Purple Paddle',
											'http://maps.google.com/mapfiles/kml/paddle/red-circle.png' => 'Red Paddle',
											'http://maps.google.com/mapfiles/kml/paddle/wht-circle.png' => 'White Paddle',
											'http://maps.google.com/mapfiles/kml/paddle/ylw-circle.png' => 'Yellow Paddle',
											'http://maps.google.com/mapfiles/kml/paddle/orange-circle.png' => 'Orange Paddle',
											'http://maps.google.com/mapfiles/kml/pushpin/blu-pushpin.png' => 'Blue Pushpin',
											'http://maps.google.com/mapfiles/kml/pushpin/grn-pushpin.png' => 'Green Pushpin',
											'http://maps.google.com/mapfiles/kml/pushpin/ltblu-pushpin.png' => 'Light Blue Pushpin',
											'http://maps.google.com/mapfiles/kml/pushpin/pink-pushpin.png' => 'Pink Pushpin',
											'http://maps.google.com/mapfiles/kml/pushpin/purple-pushpin.png' => 'Purple Pushpin',
											'http://maps.google.com/mapfiles/kml/pushpin/red-pushpin.png' => 'Red Pushpin',
											'http://maps.google.com/mapfiles/kml/pushpin/wht-pushpin.png' => 'White Pushpin',
											'http://maps.google.com/mapfiles/kml/pushpin/ylw-pushpin.png' => 'Yellow Pushpin',
										)
									)?>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-black m-b-5">Custom Map Marker (png):</label>
								<div class="panel panel--module text-left">
									<img src="" class="img-responsive copy filemanager-image" data-image_src="#panelForm-marker_src" id="panelForm-marker" data-name="marker"><br/>
									<input type="hidden" class="form-control copy" id="panelForm-marker_src" data-name="marker_src" value="">
									<button data-url="/filemanager/dialog.php?type=1&field_id=panelForm-marker_src&relative_url=1" class="btn btn-primary modal-filemanager" type="button">Select Image</button>
									<button type="button" class="btn btn-primary btn-clear_image" data-rel="panelForm-marker">Remove Image</button>
								</div>
							</div>
						</div>

						<label class="text-black m-b-5">Location Status</label>
						<div class="panel panel--module">
							<select class="form-control copy" id="panelForm-status" data-name="status">
								<option value="Enabled">Enabled</option>
								<option value="Disabled">Disabled</option>
							</select>
						</div>
					</div>
				</div>


				<div class="break-row p-t-50">
					<div class="btn-group btn-group-justified">
						<a class="btn btn-lg btn-warning waves-effect waves-light" id="cancel-panel">Cancel</a>
						<a class="btn btn-lg btn--purple waves-effect waves-light" id="save-panel">Save Panel</a>
					</div>
				</div>
			</div>

			<div class="panel-view panel-edit__body">
				<div id="hero-list">

					<div class="row flex-row">
						<div class="col-xs-12 p-l-0 list-div">
							<?php
							if (isset($panels)) {
								foreach ($panels as $k => $panel) {
									?>
									<div class="col-sm-12 p-t-10 list-row" data-id="panel_<?php echo $k?>">
										<?php foreach ((array)$panel as $name => $val) {?>
											<input type="hidden" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>" value="<?php echo $val?>">
										<?php } ?>

										<div class="m-b-0 panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
											<div class="controls controls--horizontal">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-edit-btn" data-rel="<?php echo $k?>"><i class="fas fa-bars"></i></button>
													<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
												</div>
											</div>
											<div class="panel__title" id="module_label-"><?php $k_plus = $k+1; echo ($panel->label)?$panel->label:"Panel {$k_plus}"?></div>
											<div class="controls">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete" data-rel="<?php echo $k?>"><i class="fas fa-times"></i></button>
												</div>
											</div>
										</div>
									</div>
									<?php
								}
							}?>
						</div>
					</div>

				</div>
				<div class="panel panel--module bg-border flex-row flex-align-center flex-justify-center">
					<div class="controls controls--footer text-center flex-grow-1 p-0">
						<a class="btn btn-xs btn--link p-t-10 p-b-10" id="add-panel" href=""><i class="fas fa-plus-square"></i> Add Location</a>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12 text-left">
						<label class="text-black m-b-5">Map Type:</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('content[map_type]', (isset($content->map_type))?$content->map_type:'roadmap', array('class'=>'form-control bg-gray'),
								array('roadmap'=>'Road Map images (default)',
									'satellite'=>'Google Earth satellite images',
									'hybrid' => 'Mixture of normal and satellite images',
									'terrain' => 'Physical map based on terrain data'
								)
							)?>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 text-left">
						<label class="text-black m-b-5">Map Marker:</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('content[marker_image]', (isset($content->marker_image))?$content->marker_image:'', array('class'=>'form-control bg-gray'),
								array(''=>'Default',
									'http://maps.google.com/mapfiles/kml/paddle/blu-circle.png' => 'Blue Paddle',
									'http://maps.google.com/mapfiles/kml/paddle/grn-circle.png' => 'Green Paddle',
									'http://maps.google.com/mapfiles/kml/paddle/ltblu-circle.png' => 'Light Blue Paddle',
									'http://maps.google.com/mapfiles/kml/paddle/pink-circle.png' => 'Pink Paddle',
									'http://maps.google.com/mapfiles/kml/paddle/purple-circle.png' => 'Purple Paddle',
									'http://maps.google.com/mapfiles/kml/paddle/red-circle.png' => 'Red Paddle',
									'http://maps.google.com/mapfiles/kml/paddle/wht-circle.png' => 'White Paddle',
									'http://maps.google.com/mapfiles/kml/paddle/ylw-circle.png' => 'Yellow Paddle',
									'http://maps.google.com/mapfiles/kml/paddle/orange-circle.png' => 'Orange Paddle',
									'http://maps.google.com/mapfiles/kml/pushpin/blu-pushpin.png' => 'Blue Pushpin',
									'http://maps.google.com/mapfiles/kml/pushpin/grn-pushpin.png' => 'Green Pushpin',
									'http://maps.google.com/mapfiles/kml/pushpin/ltblu-pushpin.png' => 'Light Blue Pushpin',
									'http://maps.google.com/mapfiles/kml/pushpin/pink-pushpin.png' => 'Pink Pushpin',
									'http://maps.google.com/mapfiles/kml/pushpin/purple-pushpin.png' => 'Purple Pushpin',
									'http://maps.google.com/mapfiles/kml/pushpin/red-pushpin.png' => 'Red Pushpin',
									'http://maps.google.com/mapfiles/kml/pushpin/wht-pushpin.png' => 'White Pushpin',
									'http://maps.google.com/mapfiles/kml/pushpin/ylw-pushpin.png' => 'Yellow Pushpin',
								)
							)?>
						</div>
					</div>
					<div class="col-sm-6 text-left">
						<label class="text-black m-b-5">Custom Map Marker (png):</label>
						<div class="panel panel--module">
							<img src="<?php echo (isset($content->image_path))?$content->image_path:''?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#module_image_path" id="module_image">
							<input type="hidden" class="form-control" name="content[image_path]" id="module_image_path" value="<?php echo (isset($content->image_path))?$content->image_path:''?>">
							<button data-url="/filemanager/dialog.php?type=1&field_id=module_image_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
							<button type="button" class="btn btn-primary clear-module_image">Remove Image</button>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<div class="col-sm-12 p-t-10 hidden list-row ui-sortable-handle" id="new-panel_row">
	<div class="m-b-0 panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
		<div class="controls controls--horizontal">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-edit-btn"><i class="fas fa-bars"></i></button>
				<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
			</div>
		</div>
		<div class="panel__title" id="module_label-"></div>
		<div class="controls">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		window.cny.moduleSubPanels();

		if ($("#module_image_path").val() == '') $("#module_image").hide();
		$(".clear-module_image").on("click",function(){
			$("#module_image_path").val('');
			$("#module_image").attr('src','').hide();
		});
	});
</script>
<?php } ?>
