<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);
$panels = array();
if (isset($content->panels)) {
	foreach ($content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">

			<div id="panelForm" class="panel-edit">
				<input type="hidden" class="form-control" id="panelForm-id" value="">
				<input type="hidden" class="form-control copy" id="panelForm-sort_order" data-name="sort_order" value="">

				<div class="panel-edit__body">

					<div class="form-group text-left">
						<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseImage" aria-expanded="true" aria-controls="collapseImage">Panel Image <i class="fas fa-minus-square"></i></h3>
						<div id="collapseImage" class="collapse in">
							<label class="text-black m-b-5">Label:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-label" data-name="label" value="">
							</div>

							<label class="text-black m-b-5">Image:</label>
							<div class="panel panel--module">
								<img src="" class="img-responsive copy m-b-15 filemanager-image" data-image_src="#panelForm-image_path" id="panelForm-image" data-name="image">
								<input type="hidden" class="form-control copy" id="panelForm-image_path" data-name="image_path" value="">
								<button data-url="/filemanager/dialog.php?type=1&field_id=panelForm-image_path&relative_url=1" class="btn btn--black modal-filemanager border-radius" type="button">Select Image</button>
								<button type="button" class="btn btn-primary btn-clear_image" data-rel="panelForm-image">Remove Image</button>
							</div>

							<label class="text-black m-b-5">Mobile Image:</label>
							<div class="panel panel--module">
								<img src="" class="img-responsive copy m-b-15 filemanager-image" data-image_src="#panelForm-mobile_image_path" id="panelForm-mobile_image" data-name="mobile_image">
								<input type="hidden" class="form-control copy" id="panelForm-mobile_image_path" data-name="mobile_image_path" value="">
								<button data-url="/filemanager/dialog.php?type=1&field_id=panelForm-mobile_image_path&relative_url=1" class="btn btn--black modal-filemanager border-radius" type="button">Select Image</button>
								<button type="button" class="btn btn-primary btn-clear_image" data-rel="panelForm-mobile_image">Remove Image</button>
							</div>

							<div class="row">
								<div class="col-sm-8">
									<label class="text-black m-b-5">Panel Link: <small>(URL if click on panel)</small></label>
									<div class="panel panel--module">
										<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-panel_link_url" data-name="panel_link_url" value="">
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black m-b-5">Link Target:</label>
									<div class="panel panel--module bg-gray">
										<select class="form-control copy" id="panelForm-panel_link_target" data-name="panel_link_target">
											<option value="">Current Window/Tab</option>
											<option value="_blank">New Tab</option>
										</select>
									</div>
								</div>
							</div>

							<label class="text-black m-b-5">Panel Status</label>
							<div class="panel panel--module">
								<select class="form-control copy" id="panelForm-status" data-name="status">
									<option value="Enabled">Enabled</option>
									<option value="Disabled">Disabled</option>
								</select>
							</div>
						</div>
					</div>

					<div class="panel-overlay-section">

						<div class="form-group text-left">

							<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseOverlay" aria-expanded="false" aria-controls="collapseOverlay">Panel Overlay <i class="fas fa-plus-square"></i></h3>
							<div id="collapseOverlay" class="collapse">
								<label class="text-black m-b-5">Image:</label>
								<div class="panel panel--module text-left">
									<img src="" class="img-responsive copy m-b-15 filemanager-image" data-image_src="#panelForm-logo_image_path" id="panelForm-logo_image" data-name="logo_image">
									<input type="hidden" class="form-control copy" id="panelForm-logo_image_path" data-name="logo_image_path" value="">
									<button data-url="/filemanager/dialog.php?type=1&field_id=panelForm-logo_image_path&relative_url=1" class="btn btn--black modal-filemanager border-radius" type="button">Select Image</button>
									<button type="button" class="btn btn-primary btn-clear_image" data-rel="panelForm-logo_image">Remove Image</button>
								</div>

								<label class="text-black m-b-5">Text:</label>
								<div class="panel panel--module">
									<textarea class="form-control copy tinymce" id="panelForm-overlay_text" data-name="overlay_text" data-type="textarea"></textarea>
								</div>

								<div class="row flex-row flex-wrap">
									<div class="col-sm-3">
										<label class="text-black m-b-5">Text Shadow</label>
										<div class="panel panel--module">
											<select class="form-control copy" id="panelForm-overlay_text_shadow" data-name="overlay_text_shadow">
												<option value="Disabled">Disabled</option>
												<option value="Enabled">Enabled</option>
											</select>
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5">Shadow Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control copy bg-gray complex-colorpicker" name="overlay_text_shadow_color" data-name="overlay_text_shadow_color">
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5">Shadow Size</label>
										<div class="panel panel--module">
											<select class="form-control copy" id="panelForm-overlay_text_shadow_size" data-name="overlay_text_shadow_size">
												<option value="0">None</option>
												<option value="1px">1px</option>
												<option value="2px">2px</option>
												<option value="3px">3px</option>
												<option value="4px">4px</option>
												<option value="5px">5px</option>
												<option value="6px">6px</option>
												<option value="7px">7px</option>
												<option value="8px">8px</option>
												<option value="9px">9px</option>
												<option value="10px">10px</option>
											</select>
										</div>
									</div>
									<!--
									<div class="col-sm-4">
										<label class="text-black">Image Position</label>
										<div class="panel panel--module">
											<select class="form-control copy" id="panelForm-image_position" data-name="image_position">
												<option value="center">Centered</option>
												<option value="left">Left</option>
												<option value="right">Right</option>
											</select>
										</div>
									</div>
									-->
									<div class="col-sm-3">
										<label class="text-black">Image/Text/CTA Position</label>
										<div class="panel panel--module">
											<select class="form-control copy" id="panelForm-cta_position" data-name="cta_position">
												<option value="center">Centered</option>
												<option value="left">Left</option>
												<option value="right">Right</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group text-left">
							<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseCTA" aria-expanded="false" aria-controls="collapseCTA">Panel CTA <i class="fas fa-plus-square"></i></h3>

							<div id="collapseCTA" class="collapse">
								<div class="row flex-row flex-wrap">
									<div class="col-sm-3">
										<label class="m-b-5 text-black">Text</label>
										<div class="panel panel--module">
											<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-ca_button_text" data-name="ca_button_text" value="">
										</div>
									</div>
									<div class="col-sm-3">
										<label class="m-b-5 text-black">URL</label>
										<div class="panel panel--module">
											<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-ca_button_url" data-name="ca_button_url" value="">
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5">Link Target:</label>
										<div class="panel panel--module bg-gray">
											<select class="form-control copy" id="panelForm-ca_button_link_target" data-name="ca_button_link_target">
												<option value="">Current Window/Tab</option>
												<option value="_blank">New Tab</option>
											</select>
										</div>
									</div>

									<div class="col-sm-3">
										<label class="m-b-5 text-black">Position</label>
										<div class="panel panel--module">
											<select class="form-control copy" id="panelForm-ca_button_position" data-name="ca_button_position">
												<option value="center">Centered</option>
												<option value="left">Left</option>
												<option value="right">Right</option>
												<option value="full">Full Width</option>
											</select>
										</div>
									</div>
									<div class="col-sm-3">
										<label class="m-b-5 text-black">Button Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-ca_button_color" data-name="ca_button_color" value="">
										</div>
									</div>
									<div class="col-sm-3">
										<label class="m-b-5 text-black">Button Hover Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-ca_button_hover_color" data-name="ca_button_hover_color" value="">
										</div>
									</div>

									<div class="col-sm-3">
										<label class="text-black m-b-5">Text Size</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('ca_button_text_size', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_text_size', 'data-name'=>'ca_button_text_size'),
												array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px','22px'=>'22px','24px'=>'24px','26px'=>'28px','28px'=>'28px','30px'=>'30px','32px'=>'32px','34px'=>'34px','36px'=>'36px','38px'=>'38px','40px'=>'40px','42px'=>'42px','44px'=>'44px','46px'=>'46px','48px'=>'48px','50px'=>'50px','52px'=>'52px','54px'=>'54px','56px'=>'56px','58px'=>'58px','60px'=>'60px','62px'=>'62px','64px'=>'64px','66px'=>'66px','68px'=>'68px','70px'=>'70px','72px'=>'72px'))?>
										</div>
									</div>
									<div class="col-sm-3">
										<label class="m-b-5 text-black">Text Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-ca_button_text_color" data-name="ca_button_text_color" value="">
										</div>
									</div>
									<div class="col-sm-3">
										<label class="m-b-5 text-black">Text Hover Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-ca_button_text_hover_color" data-name="ca_button_text_hover_color" value="">
										</div>
									</div>
									<div class="col-sm-3">
										<label for="" class="m-b-5 text-black">Text Font:</label>
										<div class="panel panel--module bg-gray">
											<select class="form-control selectpicker copy font-selector" data-weight="ca_button_text_weight" id="panelForm-ca_button_text_font" data-name="ca_button_text_font">
												<?php
												$value = '';
												foreach ($font_options as $k => $v) {
													$selected = ($k == $value)?"selected":"";
													?>
													<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
													<?php
												}
												?>
											</select>
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5 text-black">Text Weight</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('ca_button_text_weight', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_text_weight', 'data-name'=>'ca_button_text_weight'),
												array(
													'' => 'Default',
													'300' => 'Light',
													'400' => 'Regular',
													'500' => 'Medium',
													'600' => 'Semi Bold',
													'700' => 'Bold',
													'800' => 'Bolder'
												)
											)?>
										</div>
									</div>

									<div class="col-sm-3">
										<label class="text-black m-b-5">Border Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker copy" id="panelForm-ca_button_border_color" data-name="ca_button_border_color" value="">
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5">Border Hover Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker copy" id="panelForm-ca_button_border_hover_color" data-name="ca_button_border_hover_color" value="">
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5">Border Width/size</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('ca_button_border_width', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_border_width', 'data-name'=>'ca_button_border_width'),
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
											)?>
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5">Button Style:</label>
										<div class="panel panel--module">
											<select class="form-control copy" id="panelForm-ca_button_class" data-name="ca_button_class">
												<option value="btn-square">Square</option>
												<option value="btn-round">Rounded</option>
												<option value="btn-round-4px">Rounded Corners</option>
												<option value="btn-outline">Outlined (transparent background)</option>
												<option value="btn-square-full">Full Width</option>
												<option value="btn-round-4px-full">Full Width Rounded Corners</option>
											</select>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="form-group text-left">
							<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">Button Advanced Settings <i class="fas fa-plus-square"></i></h3>

							<div class="collapse" id="collapseAdvanced">
								<div class="row">
									<div class="col-sm-4">
										<label class="text-black m-b-5">Width</label>
										<div class="panel panel--module">
											<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-ca_button_width" data-name="ca_button_width" value="">
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Padding (top/bottom)</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('ca_button_padding_tb', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_padding_tb', 'data-name'=>'ca_button_padding_tb'),
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
													'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px')
											)?>
										</div>
									</div>
									<div class="col-sm-4">
										<label class="text-black m-b-5">Padding (left/right)</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('ca_button_padding_lr', '', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-ca_button_padding_lr', 'data-name'=>'ca_button_padding_lr'),
												array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
													'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px')
											)?>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group text-left">
							<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseCaption" aria-expanded="false" aria-controls="collapseCaption">Panel Caption <i class="fas fa-plus-square"></i></h3>

							<div id="collapseCaption" class="collapse">
								<label class="text-black m-b-5">Background Color</label>
								<div class="panel panel--module">

									<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-caption_tray_color" data-name="caption_tray_color" value="">
								</div>

								<label class="text-black m-b-5">Padding</label>
								<div class="panel panel--module">
									<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-caption_tray_padding" data-name="caption_tray_padding" value="">
								</div>

								<label class="text-black m-b-5">Text:</label>
								<div class="panel panel--module">
									<textarea class="form-control copy tinymce" id="panelForm-caption_text" data-name="caption_text" data-type="textarea"></textarea>
								</div>

								<div class="row">
									<div class="col-sm-2">
										<label class="text-black m-b-5">Text Shadow</label>
										<div class="panel panel--module">
											<select class="form-control copy" id="panelForm-caption_text_shadow" data-name="caption_text_shadow">
												<option value="Disabled">Disabled</option>
												<option value="Enabled">Enabled</option>
											</select>
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5">Shadow Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control copy complex-colorpicker" id="panelForm-caption_text_shadow_color" data-name="caption_text_shadow_color">
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5">Shadow Size</label>
										<div class="panel panel--module">
											<select class="form-control copy" id="panelForm-caption_text_shadow_size" data-name="caption_text_shadow_size">
												<option value="0">None</option>
												<option value="1px">1px</option>
												<option value="2px">2px</option>
												<option value="3px">3px</option>
												<option value="4px">4px</option>
												<option value="5px">5px</option>
												<option value="6px">6px</option>
												<option value="7px">7px</option>
												<option value="8px">8px</option>
												<option value="9px">9px</option>
												<option value="10px">10px</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="break-row p-t-50">
					<div class="btn-group btn-group-justified">
						<a class="btn btn-lg btn-warning waves-effect waves-light" id="cancel-panel">Cancel</a>
						<a class="btn btn-lg btn--purple waves-effect waves-light" id="save-panel">Save Panel</a>
					</div>
				</div>
			</div>

			<div class="panel-view panel-edit__body">
				<div id="hero-list">
					<div class="flex-row">
						<div class="list-div flex-grow-1">
							<?php
							if (isset($panels)) {
								foreach ($panels as $k => $panel) {
									?>
									<div class="list-row" data-id="panel_<?php echo $k?>">
										<?php foreach ((array)$panel as $name => $val) {
											//need textarea for WYSIWYG fields
											if (in_array($name,array('caption_text','overlay_text'))) {
												?>
												<textarea class="hide" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>"><?php echo $val?></textarea>
												<?php
											}else {
												?>
												<input type="hidden" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>" value="<?php echo $val?>">
											<?php }
										} ?>

										<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between" data-status="<?php echo $panel->status; ?>">
											<div class="controls controls--horizontal">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-edit-btn" data-rel="<?php echo $k?>"><i class="fas fa-bars"></i></button>
													<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
												</div>
											</div>
											<div class="panel__title" id="module_label-"><?php $k_plus = $k+1; echo ($panel->label)?$panel->label:"Panel {$k_plus}"?></div>
											<div class="controls">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete" data-rel="<?php echo $k?>"><i class="fas fa-times"></i></button>
												</div>
											</div>
										</div>
									</div>
									<?php
								}
							}?>
						</div>
					</div>
				</div>

				<div class="panel panel--module bg-border flex-row flex-align-center flex-justify-center">
					<div class="controls controls--footer text-center flex-grow-1 p-0">
						<a class="btn btn-xs btn--link p-t-10 p-b-10" id="add-panel" href=""><i class="fas fa-plus-square"></i> Add Panel</a>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Fullscreen:</label>

						<div class="panel panel--module bg-white">
							<?php
							$enabled = (isset($content->fullscreen) && $content->fullscreen == 'on')?'on':'off';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="on" name="content[fullscreen]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="off" name="content[fullscreen]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
					<div class="col-sm-9 text-left">
						<div class="fullscreen-off">
							<label class="text-black m-b-5">Height in Pixels:</label>
							<div class="panel panel--module">
								<input type="number" class="form-control" name="content[height]" value="<?php echo (isset($content->height))?$content->height:'400'?>">
							</div>
						</div>
					</div>
				</div>

				<div class="row flex-row flex-align-center">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-15">Transition Speed (seconds):</label>
					</div>
					<div class="col-sm-9">
						<div class="panel panel--module">
							<input type="text" class="form-control" name="settings[transition_speed]" value="<?php echo (isset($settings->transition_speed))?$settings->transition_speed:'6'?>">
						</div>
					</div>
				</div>
				<div class="row flex-row flex-align-center">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-15">Transition Type:</label>
					</div>
					<div class="col-sm-9">
						<div class="panel panel--module">
							<?php echo $this->formSelect('settings[transition]', (isset($settings->transition))?$settings->transition:'', array('class'=>'form-control bg-gray'), array(""=>"Slide","fade"=>"Fade"))?>
						</div>
					</div>
				</div>
				<div class="row flex-row flex-align-center">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-15">Transition Easing:</label>
					</div>
					<div class="col-sm-9">
						<div class="panel panel--module">
							<?php echo $this->formSelect('settings[transition_easing]', (isset($settings->transition_easing))?$settings->transition_easing:'', array('class'=>'form-control bg-gray'), array("ease"=>"Ease","linear"=>"Linear","ease-in"=>"Ease In","ease-out"=>"Ease Out","ease-in-out"=>"Ease In and Out"))?>
						</div>
					</div>
				</div>

				<div class="row flex-row flex-align-center">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-15">Pagination Alignment (dots):</label>
					</div>
					<div class="col-sm-9">
						<div class="panel panel--module">
							<?php echo $this->formSelect('settings[pagination_alignment]', (isset($settings->pagination_alignment))?$settings->pagination_alignment:'center', array('class'=>'form-control bg-gray'), array("left"=>"Left","center"=>"Center","right"=>"Right"))?>
						</div>
					</div>
				</div>

				<div class="row flex-row flex-align-center">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-15">Show Pagination (dots):</label>
					</div>
					<div class="col-sm-9">
						<div class="panel panel--module text-left">
							<?php
							$enabled = (isset($settings->pagination_status) && $settings->pagination_status == 'Disabled')?'off':'on';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[pagination_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[pagination_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
				</div>

				<div class="row flex-row flex-align-center">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-15">Show Controls (arrows):</label>
					</div>
					<div class="col-sm-9">
						<div class="panel panel--module text-left">
							<?php
							$enabled = (isset($settings->controls_status) && $settings->controls_status == 'Disabled')?'off':'on';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[controls_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[controls_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
				</div>



				<div class="row flex-row flex-align-center">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-15">Pause on Hover (mouse over):</label>
					</div>
					<div class="col-sm-9">
						<div class="panel panel--module text-left">
							<?php
							$enabled = (isset($settings->pause_hover) && $settings->pause_hover == 'Disabled')?'off':'on';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[pause_hover]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[pause_hover]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
				</div>

				<div class="row flex-row flex-align-center">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-15">Static Overlay:</label>
					</div>
					<div class="col-sm-9">
						<div class="panel panel--module text-left">
							<?php
							$enabled = (isset($content->static_overlay_status) && $content->static_overlay_status == 'Enabled')?'on':'off';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="content[static_overlay_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="content[static_overlay_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
				</div>
				<div class="static-overlay-section">
					<h3>Static Overlay Section</h3>
					<div class="row flex-row flex-align-center">
						<div class="col-sm-3 text-left">
							<label class="text-black m-b-15">Position:</label>
						</div>
						<div class="col-sm-9">
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[static_overlay_position]', (isset($content->static_overlay_position))?$content->static_overlay_position:'center-middle', array('class'=>'form-control bg-gray'),
									array('center-middle'=>'Centered in Middle',
										'center-top'=>'Centered Near Top',
										'center-bottom'=>'Centered Near Bottom',
										'left-middle'=>'Left Side in Middle',
										'left-top'=>'Left Near Top',
										'left-bottom'=>'Left Near Bottom',
										'right-middle'=>'Right Side in Middle',
										'right-top'=>'Right Near Top',
										'right-bottom'=>'Right Near Bottom',
									)
								)?>
							</div>
						</div>
					</div>
					<div class="row flex-row flex-align-center">
						<div class="col-sm-3 text-left">
							<label class="text-black m-b-15">Image:</label>
						</div>
						<div class="col-sm-9">
							<div class="panel panel--module text-left">
								<img src="<?php echo (isset($content->static_overlay_image_path))?$content->static_overlay_image_path:''?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#static_overlay_image_path" id="static_overlay_image">
								<input type="hidden" class="form-control" name="content[static_overlay_image_path]" id="static_overlay_image_path" value="<?php echo (isset($content->static_overlay_image_path))?$content->static_overlay_image_path:''?>">
								<button data-url="/filemanager/dialog.php?type=1&field_id=static_overlay_image_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
								<button type="button" class="btn btn-primary btn-clear_image" data-rel="static_overlay_image">Remove Image</button>
							</div>
						</div>
					</div>
					<div class="row flex-row flex-align-center">
						<div class="col-sm-3 text-left">
							<label class="text-black m-b-15">Alt Title:</label>
						</div>
						<div class="col-sm-9">
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="content[static_overlay_alt_title]" value="<?php echo (isset($content->static_overlay_alt_title))?$content->static_overlay_alt_title:''?>">
							</div>
						</div>
					</div>
					<div class="row flex-row flex-align-center">
						<div class="col-sm-3 text-left">
							<label class="text-black m-b-15">Title:</label>
						</div>
						<div class="col-sm-9">
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="content[static_overlay_title]" value="<?php echo (isset($content->static_overlay_title))?$content->static_overlay_title:''?>">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<label class="text-black m-b-5">Text Shadow</label>
							<div class="panel panel--module">
								<?php
								$enabled = (isset($content->static_overlay_title_shadow) && $content->static_overlay_title_shadow == "Enabled") ? 'on' : 'off';
								?>
								<div class="btn-group" id="status" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="content[static_overlay_title_shadow]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="content[static_overlay_title_shadow]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Shadow Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray complex-colorpicker" name="content[static_overlay_title_shadow_color]" value="<?php echo (isset($content->static_overlay_title_shadow_color))?$content->static_overlay_title_shadow_color:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Shadow Size</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[static_overlay_title_shadow_size]', (isset($content->static_overlay_title_shadow_size))?$content->static_overlay_title_shadow_size:'', array('class'=>'form-control bg-gray'),
									array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
								)?>
							</div>
						</div>
					</div>
					<div class="row flex-row flex-align-center">
						<div class="col-sm-3 text-left">
							<label class="text-black m-b-15">Text Block:</label>
						</div>
						<div class="col-sm-9">
							<div class="panel panel--module">
								<textarea class="form-control tinymce" id="static_overlay_content" name="content[static_overlay_content]"><?php echo (isset($content->static_overlay_content))?$content->static_overlay_content:''?></textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-2">
							<label class="text-black m-b-5">Text Shadow</label>
							<div class="panel panel--module">
								<?php
								$enabled = (isset($content->static_overlay_content_shadow) && $content->static_overlay_content_shadow == "Enabled") ? 'on' : 'off';
								?>
								<div class="btn-group" id="status" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="content[static_overlay_content_shadow]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="content[static_overlay_content_shadow]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Shadow Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray complex-colorpicker" name="content[static_overlay_content_shadow_color]" value="<?php echo (isset($content->static_overlay_content_shadow_color))?$content->static_overlay_content_shadow_color:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Shadow Size</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[static_overlay_content_shadow_size]', (isset($content->static_overlay_content_shadow_size))?$content->static_overlay_content_shadow_size:'', array('class'=>'form-control bg-gray'),
									array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
								)?>
							</div>
						</div>
					</div>
					<div class="row flex-row flex-align-center">
						<div class="col-sm-3 text-left text-black">
							<label class="m-b-15">CTA Button:</label>
						</div>
						<div class="col-sm-9">
							<div class="row">
								<div class="col-sm-6">
									<label class="text-black">Text</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray" name="content[static_overlay_ca_button_text]" value="<?php echo (isset($content->static_overlay_ca_button_text))?$content->static_overlay_ca_button_text:''?>">
									</div>
								</div>
								<div class="col-sm-6">
									<label class="text-black">Link URL</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray" name="content[static_overlay_ca_button_url]" value="<?php echo (isset($content->static_overlay_ca_button_url))?$content->static_overlay_ca_button_url:''?>">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3 text-left">
									<label class="text-black m-b-15">Link Target:</label>
								</div>
								<div class="col-sm-9">
									<div class="panel panel--module">
										<?php echo $this->formSelect('content[static_overlay_ca_button_link_target]', (isset($content->static_overlay_ca_button_link_target))?$content->static_overlay_ca_button_link_target:'', array('class'=>'form-control bg-gray'),
											array(''=>'Current Window/Tab','_blank'=>'New Tab')
										)?>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label class="text-black">Text Size</label>
									<div class="panel panel--module">
										<?php echo $this->formSelect('content[static_overlay_ca_button_text_size]', (isset($content->static_overlay_ca_button_text_size))?$content->static_overlay_ca_button_text_size:'', array('class'=>'form-control bg-gray'),
											array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
												'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
										)?>
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black">Text Color</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray complex-colorpicker" name="content[static_overlay_ca_button_text_color]" value="<?php echo (isset($content->static_overlay_ca_button_text_color))?$content->static_overlay_ca_button_text_color:''?>">
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black">Button Color</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray complex-colorpicker" name="content[static_overlay_ca_button_color]" value="<?php echo (isset($content->static_overlay_ca_button_color))?$content->static_overlay_ca_button_color:''?>">
									</div>
								</div>

							</div>
							<div class="row">
								<div class="col-sm-4">
									<label class="text-black" style="margin-top:35px;">Button Border</label>
								</div>
								<div class="col-sm-4">
									<label class="text-black">Color</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray complex-colorpicker" name="content[static_overlay_ca_button_border_color]" value="<?php echo (isset($content->static_overlay_ca_button_border_color))?$content->static_overlay_ca_button_border_color:''?>">
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black">Width/size</label>
									<div class="panel panel--module">
										<?php echo $this->formSelect('content[static_overlay_ca_button_border_width]', (isset($content->static_overlay_ca_button_border_width))?$content->static_overlay_ca_button_border_width:'', array('class'=>'form-control bg-gray'),
											array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
										)?>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="row flex-row flex-align-center">
									<div class="col-sm-3 text-left">
										<label class="text-black m-b-15">Button Style:</label>
									</div>
									<div class="col-sm-9">
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[static_overlay_ca_button_class]', (isset($content->static_overlay_ca_button_class))?$content->static_overlay_ca_button_class:'', array('class'=>'form-control bg-gray'),
												array('btn-square'=>'Square','btn-round'=>'Rounded','btn-round-4px'=>'Rounded Corners','btn-outline'=>'Outlined (transparent background)','btn-square-full'=>'Full Width','btn-round-full'=>'Full Width Rounded','btn-round-4px-full'=>'Full Width Rounded Corners')
											)?>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row flex-row flex-align-center">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-15">Caption Tray:</label>
					</div>
					<div class="col-sm-9">
						<div class="panel panel--module text-left">
							<?php
							$enabled = (isset($content->caption_tray_status) && $content->caption_tray_status == 'Enabled')?'on':'off';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="content[caption_tray_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="content[caption_tray_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
				</div>
				<div class="caption-tray-section">
					<h3>Caption Tray Section</h3>
					<div class="row flex-row flex-align-center">
						<div class="col-sm-3 text-left">
							<label class="text-black m-b-15">Position:</label>
						</div>
						<div class="col-sm-9">
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[caption_tray_position]', (isset($content->caption_tray_position))?$content->caption_tray_position:'bottom', array('class'=>'form-control bg-gray'),
									array('bottom'=>'Bottom',
										'top'=>'Top',
									)
								)?>
							</div>
						</div>
					</div>
					<div class="row flex-row flex-align-center">
						<div class="col-sm-3 text-left">
							<label class="text-black m-b-15">Display Method:</label>
						</div>
						<div class="col-sm-9">
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[caption_tray_display_method]', (isset($content->caption_tray_display_method))?$content->caption_tray_display_method:'', array('class'=>'form-control bg-gray'),
									array(''=>'Always Visible',
										'slide-mouseover'=>'Slide In on Mouseover',
										'fade-mouseover'=>'Fade In on Mouseover',
									)
								)?>
							</div>
						</div>
					</div>

					<div class="row flex-row flex-align-center">
						<div class="col-sm-3 text-left">
							<label class="text-black m-b-15">Teaser:</label>
							<div class="panel panel--module text-left">
								<?php
								$enabled = (isset($content->caption_teaser_status) && $content->caption_teaser_status == 'Enabled')?'on':'off';
								?>
								<div class="btn-group" id="status" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="content[caption_teaser_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="content[caption_teaser_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
						<div class="col-sm-3 text-left">
							<div class="caption-teaser-section">
								<label class="text-black">Trim</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray" name="content[caption_teaser_trim]" value="<?php echo (isset($content->caption_teaser_trim))?$content->caption_teaser_trim:''?>">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<div class="hidden list-row ui-sortable-handle" id="new-panel_row">
	<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
		<div class="controls controls--horizontal">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-edit-btn"><i class="fas fa-bars"></i></button>
				<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
			</div>
		</div>
		<div class="panel__title" id="module_label-"></div>
		<div class="controls">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		window.cny.wysiwyg();
		window.cny.moduleSubPanels();
		window.cny.colorpicker();
		window.cny.fontWeightUpdater();

		<?php if (!isset($content->static_overlay_status) || $content->static_overlay_status == 'Disabled') {?>
		$(".static-overlay-section").hide();
		<?php }else { ?>
		$(".panel-overlay-section").hide();
		<?php } ?>

		$('input[name="content[static_overlay_status]"]').on("change", function (){
			if ($('input[name="content[static_overlay_status]"]:checked').val() == 'Enabled') {
				$(".static-overlay-section").show();
				$(".panel-overlay-section").hide();
			}else {
				$(".static-overlay-section").hide();
				$(".panel-overlay-section").show();
			}
		});

		<?php if (!isset($content->caption_tray_status) || $content->caption_tray_status == 'Disabled') {?>
		$(".caption-tray-section").hide();
		<?php } ?>

		$('input[name="content[caption_tray_status]"]').on("change", function (){
			if ($('input[name="content[caption_tray_status]"]:checked').val() == 'Enabled') {
				$(".caption-tray-section").show();
			}else {
				$(".caption-tray-section").hide();
			}
		});

		<?php if (!isset($content->caption_teaser_status) || $content->caption_teaser_status == 'Disabled') {?>
		$(".caption-teaser-section").hide();
		<?php } ?>

		$('input[name="content[caption_teaser_status]"]').on("change", function (){
			if ($('input[name="content[caption_teaser_status]"]:checked').val() == 'Enabled') {
				$(".caption-teaser-section").show();
			}else {
				$(".caption-teaser-section").hide();
			}
		});

		$('#panelForm-status').on('change', function() {
			let panelFormID = $("#panelForm-id").val();
			$('[data-id="panel_' + panelFormID + '"]').find('.panel--module').attr('data-status',this.value);
		});

	});
</script>
