<?php
$content = json_decode($this->module->json_content);
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="panel-edit__body">
				<div class="form-group text-left">
					<label class="text-black m-b-5">Image:</label>
					<div class="panel panel--module">
						<img src="<?php echo (isset($content->image_path))?$content->image_path:''?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#module_image_path" id="module_image">
						<input type="hidden" class="form-control" name="content[image_path]" id="module_image_path" value="<?php echo (isset($content->image_path))?$content->image_path:''?>">
						<button data-url="/filemanager/dialog.php?type=1&field_id=module_image_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
						<button type="button" class="btn btn-primary clear-module_image">Remove Image</button>
					</div>

					<label class="text-black m-b-5">Alt Title:</label>
					<div class="panel panel--module">
						<input type="text" class="form-control bg-gray" name="content[alt_title]" value="<?php echo (isset($content->alt_title))?$content->alt_title:''?>">
					</div>

					<label class="text-black m-b-5">Caption:</label>
					<div class="panel panel--module">
						<input type="text" class="form-control bg-gray" name="content[caption]" value="<?php echo (isset($content->caption))?$content->caption:''?>">
					</div>
				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>

</form>

<script>
	$(function() {
		if ($("#module_image_path").val() == '') $("#module_image").hide();

		$(".clear-module_image").on("click",function(){
			$("#module_image_path").val('');
			$("#module_image").attr('src','').hide();
		});
	});
</script>
