<?php
$media_cache = new Cny_View_Helper_MediaCache();

$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);
$styles = json_decode($this->module->json_styles);
$panels = array();
if (isset($content->panels)) {
	foreach ($content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}
//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">

			<div id="panelForm" class="panel-edit">
				<input type="hidden" class="form-control" id="panelForm-id" value="">
				<input type="hidden" class="form-control copy" id="panelForm-sort_order" data-name="sort_order" value="">
				<div class="panel-edit__body">
					<div class="form-group text-left">
						<h3 class="form-group-title m-b-5">Gallery Image</h3>

						<label class="text-black m-b-5">Image:</label>
						<div class="panel panel--module">
							<img src="" class="img-responsive copy m-b-15 filemanager-image" data-image_src="#panelForm-image_path" id="panelForm-image" data-name="image">
							<input type="hidden" class="form-control copy panel-image-src" id="panelForm-image_path" data-name="image_path" value="">
							<button data-url="/filemanager/dialog.php?type=1&field_id=panelForm-image_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
						</div>

						<label class="text-black m-b-5">Title:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control copy bg-gray" id="panelForm-label" data-name="label" value="">
						</div>

						<label class="text-black m-b-5">Caption:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control copy bg-gray" id="panelForm-caption" data-name="caption" value="">
						</div>

						<label class="text-black m-b-5">Alt Image Title:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control copy bg-gray" id="panelForm-alt_title" data-name="alt_title" value="">
						</div>

						<label class="text-black m-b-5">URL Override (optional, by default will open modal with full size image):</label>
						<div class="panel panel--module">
							<input type="text" class="form-control copy bg-gray" id="panelForm-url_override" data-name="url_override" value="">
						</div>

						<label class="text-black m-b-5">Image Link Target:</label>
						<div class="panel panel--module bg-gray">
							<select class="form-control copy" id="panelForm-link_target" data-name="link_target">
								<option value="">Current Window/Tab</option>
								<option value="_blank">New Tab</option>
							</select>
						</div>

						<div class="row m-b-10">
							<div class="col-sm-4">
								<label for="" class="m-b-5 text-black">Image Zoom on Hover:</label>
								<select class="form-control copy" id="panelForm-image_hover_zoom_status" data-name="image_hover_zoom_status">
									<option value="off">Off</option>
									<option value="on">On</option>
								</select>
							</div>
							<div class="col-sm-3">
								<label for="" class="m-b-5 text-black">Image Zoom in Percentage:</label>
								<input type="text" class="form-control bg-white border-radius copy"  id="panelForm-image_hover_zoom_percent" data-name="image_hover_zoom_percent" value="10">
							</div>
						</div>

						<label class="text-black m-b-5">Panel Status</label>
						<div class="panel panel--module">
							<select class="form-control copy" id="panelForm-status" data-name="status">
								<option value="Enabled">Enabled</option>
								<option value="Disabled">Disabled</option>
							</select>
						</div>
					</div>
				</div>

				<div class="break-row p-t-50">
					<div class="btn-group btn-group-justified">
						<a class="btn btn-lg btn-warning waves-effect waves-light" id="cancel-panel">Cancel</a>
						<a class="btn btn-lg btn--purple waves-effect waves-light" id="save-panel">Save Panel</a>
					</div>
				</div>
			</div>

			<div class="panel-view panel-edit__body">
				<div id="hero-list">

					<div class="panel-grid-view">
						<div class="list-div flex-row flex-wrap">
							<?php
							if (isset($panels)) {
								foreach ($panels as $k => $panel) {
									?>
									<div class="list-row" data-id="panel_<?php echo $k?>">
										<?php foreach ((array)$panel as $name => $val) {?>
											<input type="hidden" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>" value="<?php echo $val?>">
										<?php } ?>

										<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
											<div class="controls controls--vertical">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-edit-btn" data-rel="<?php echo $k?>"><i class="fas fa-bars"></i></button>
													<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
												</div>
											</div>
											<div class="panel__mid" id="module_label-">
												<div class="panel__image">
													<img src="<?php echo $media_cache->getImage($panel->image_path, 'gallery_thumb') ?>" style="max-width:100px;max-height:100px;">
												</div>

												<div class="panel__title"><?php $k_plus = $k+1; echo ($panel->label)?$panel->label:"Panel {$k_plus}"?></div>
											</div>
											<div class="controls">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete" data-rel="<?php echo $k?>"><i class="fas fa-times"></i></button>
												</div>
											</div>
										</div>
									</div>
									<?php
								}
							}?>
						</div>
					</div>

				</div>
				<div class="panel panel--module flex-row flex-align-center flex-justify-center">
					<div class="controls controls--footer text-center flex-grow-1 p-0 bg-border" style="margin-right: 5px;">
						<a class="btn btn-xs btn--link p-t-10 p-b-10" id="add-panel" href=""><i class="fas fa-plus-square"></i> Add Gallery Image</a>
					</div>
					<div class="controls controls--footer text-center flex-grow-1 p-0 bg-border">
						<textarea id="bulk_images" class="hidden"></textarea>
						<button data-url="/filemanager/dialog.php?type=1&field_id=bulk_images&relative_url=1" class="btn btn-block btn--link p-t-10 p-b-10 modal-filemanager" type="button"><i class="fas fa-plus-square"></i> Bulk Upload</button>
					</div>
				</div>

				<div class="form-group text-left">
					<label class="text-black m-b-5">Gallery Name:</label>
					<div class="panel panel--module">
						<input type="text" class="form-control bg-gray" name="content[gallery_name]" value="<?php echo isset($content->gallery_name)?$content->gallery_name:''?>">
					</div>

					<div class="row">
						<div class="col-sm-8">
							<label class="text-black m-b-5">Gallery Style:</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('settings[gallery_type]', (isset($settings->gallery_type))?$settings->gallery_type:'grid', array('class'=>'form-control bg-gray'), array("grid"=>"Grid","grid_square_thumbs"=>"Grid /w Squared Images","mosaic"=>"Mosaic","carousel"=>"Carousel","pattern"=>"Pattern"))?>
							</div>
						</div>
						<div class="col-sm-4">
							<label class="text-black m-b-5">Image Protection:</label>
							<div class="panel panel--module">
								<?php
								$enabled = (isset($settings->js_image_protection) && $settings->js_image_protection == "Disabled") ? 'off' : 'on';
								?>
								<div class="btn-group" id="carousel_prev_arrow_status" data-toggle="buttons">
									<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
										<input type="radio" value="Enabled" name="settings[js_image_protection]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
									<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
										<input type="radio" value="Disabled" name="settings[js_image_protection]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
								</div>
							</div>
						</div>
					</div>


					<label class="text-black m-b-5 carousel-hide">Number Images per Row:</label>
					<div class="form-inline m-b-15 carousel-hide grid-hide">
						<div class="form-group m-r-15">
							<label class="text-black m-r-5">Desktop:</label>
							<?php echo $this->formSelect('content[per_row_count]', (isset($content->per_row_count))?$content->per_row_count:4, array('class'=>'form-control bg-gray'), array(1=>1,2=>2,3=>3,4=>4,6=>6,12=>12))?>
						</div>
						<div class="form-group">
							<label class="text-black m-r-5">Mobile:</label>
							<?php echo $this->formSelect('content[per_row_count_mobile]', (isset($content->per_row_count_mobile))?$content->per_row_count_mobile:1, array('class'=>'form-control bg-gray'), array(1=>1,2=>2,3=>3,4=>4,6=>6,12=>12))?>
						</div>
					</div>

					<div class="form-inline m-b-15 carousel-hide grid-show">
						<div class="form-group m-r-15">
							<label class="text-black m-r-5">Desktop:</label>
							<?php echo $this->formSelect('content[grid_per_row_count]', (isset($content->grid_per_row_count))?$content->grid_per_row_count:4, array('class'=>'form-control bg-gray'), array(1=>1,2=>2,3=>3,4=>4,5=>5,6=>6))?>
						</div>
					</div>

					<label class="text-black m-b-5 carousel-hide">Image Style:</label>
					<div class="panel panel--module carousel-hide">
						<?php echo $this->formSelect('settings[image_class]', (isset($settings->image_class))?$settings->image_class:'', array('class'=>'form-control bg-gray'), array(""=>"Default","img-thumbnail"=>"Border /w Offset","img-rounded"=>"6px Rounded Corners","rounded-2x"=>"10px Rounded Corners","rounded-3x"=>"15px Rounded Corners","rounded-4x"=>"20px Rounded Corners","img-circle"=>"Circle"))?>
					</div>

					<label class="text-black m-b-15 carousel-hide">Image Hover Effect:</label>
					<div class="panel panel--module carousel-hide">
						<?php echo $this->formSelect('settings[image_hover_class]', (isset($settings->image_hover_class))?$settings->image_hover_class:'', array('class'=>'form-control bg-gray'), array(""=>"None","grayscale-normal"=>"Grayscale to Normal","normal-grayscale"=>"Normal to Grayscale","light_grayscale-normal"=>"Light Grayscale to Normal","normal-light_grayscale"=>"Normal to Light Grayscale","invert-normal"=>"Inverted to Normal","normal-invert"=>"Normal to Inverted","sepia-normal"=>"Sepia to Normal","normal-sepia"=>"Normal to Sepia","blur-normal"=>"Blurred to Normal","normal-blur"=>"Normal to Blurred"))?>
					</div>

					<div class="row m-b-5 carousel-hide">
						<div class="col-sm-4">
							<label for="" class="m-b-5 text-black">Image Zoom on Hover:</label>
							<?php echo $this->formSelect('settings[global_image_hover_zoom_status]', (isset($settings->global_image_hover_zoom_status))?$settings->global_image_hover_zoom_status:'', array('class'=>'form-control bg-gray'), array("off"=>"Off","on"=>"On"))?>
						</div>
						<div class="col-sm-3">
							<label for="" class="m-b-5 text-black">Image Zoom in Percentage:</label>
							<input type="text" class="form-control bg-gray" name="settings[global_image_hover_zoom_percent]" value="<?php echo isset($settings->global_image_hover_zoom_percent)?$settings->global_image_hover_zoom_percent:'10'?>">
						</div>
					</div>

					<label class="text-black m-b-5 carousel-hide">Margin Between Images:</label>
					<div class="panel panel--module carousel-hide">
						<input type="text" class="form-control bg-gray" name="settings[image_margin]" value="<?php echo isset($settings->image_margin)?$settings->image_margin:''?>">
					</div>

					<div class="carousel-show">
						<label class="m-b-5">Carousel Settings:</label>
						<hr class="m-t-0 m-b-10">
						<div class="row flex-row flex-wrap">
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Next/Previous Arrows</label>
								<div class="panel panel--module">
									<?php
									$enabled = (isset($settings->carousel_prev_arrow_status) && $settings->carousel_prev_arrow_status == "Enabled") ? 'on' : 'off';
									?>
									<div class="btn-group" id="carousel_prev_arrow_status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[carousel_prev_arrow_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[carousel_prev_arrow_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Infinite Scroll</label>
								<div class="panel panel--module">
									<?php
									$enabled = (isset($settings->infinite_scroll) && $settings->infinite_scroll == "Enabled") ? 'on' : 'off';
									?>
									<div class="btn-group" id="infinite_scroll" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[infinite_scroll]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[infinite_scroll]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Auto Play:</label>
								<div class="panel panel--module">
									<?php
									$enabled = (isset($settings->carousel_autoplay) && $settings->carousel_autoplay == "Enabled") ? 'on' : 'off';
									?>
									<div class="btn-group" id="carousel_autoplay" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[carousel_autoplay]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[carousel_autoplay]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Slide Count</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[carousel_slide_count]" value="<?php echo (isset($content->carousel_slide_count))?$content->carousel_slide_count:''?>">
									<small>Will default to 1 when thumbnails are active</small>
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Arrow Size</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[carousel_arrow_size]" value="<?php echo (isset($content->carousel_arrow_size))?$content->carousel_arrow_size:''?>">
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Arrow Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_color]" value="<?php echo (isset($content->carousel_arrow_color))?$content->carousel_arrow_color:''?>">
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Arrow Hover Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_hover_color]" value="<?php echo (isset($content->carousel_arrow_hover_color))?$content->carousel_arrow_hover_color:''?>">
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Arrow Padding</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[carousel_arrow_padding]" value="<?php echo (isset($content->carousel_arrow_padding))?$content->carousel_arrow_padding:''?>">
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Background Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_background_color]" value="<?php echo (isset($content->carousel_arrow_background_color))?$content->carousel_arrow_background_color:''?>">
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Max Image Height (optional):</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control" name="content[carousel_max_image_height]" value="<?php echo (isset($content->carousel_max_image_height))?$content->carousel_max_image_height:''?>">
									</div>
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Max Container Width (optional):</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control" name="content[carousel_max_width]" value="<?php echo (isset($content->carousel_max_width))?$content->carousel_max_width:''?>">
									</div>
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Image Column Margin:</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control" name="settings[carousel_column_margin]" value="<?php echo (isset($settings->carousel_column_margin))?$settings->carousel_column_margin:''?>">
									</div>
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Auto Play Speed:</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control" name="settings[transition_speed]" value="<?php echo (isset($settings->transition_speed))?$settings->transition_speed:'3'?>">
									</div>
									<small class="hide">(set auto play transition speed)</small>
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Image Profile:</label>
									<div class="panel panel--module bg-gray">
										<?php echo $this->formSelect('settings[image_profile]', (isset($settings->image_profile))?$settings->image_profile:'square', array('class'=>'form-control'), array("square"=>"Square","original"=>"Original"))?>
									</div>
								</div>
							</div>

						</div>
						<label class="m-b-5">Carousel Thumbnail Settings:</label>
						<hr class="m-t-0 m-b-10">
						<div class="row">
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Thumbnails:</label>
								<div class="panel panel--module">
									<?php
									$enabled = (isset($settings->carousel_thumbnails) && $settings->carousel_thumbnails == "Enabled") ? 'on' : 'off';
									?>
									<div class="btn-group" id="carousel_thumbnails" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[carousel_thumbnails]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[carousel_thumbnails]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Slide Count</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[carousel_thumbnail_slide_count]" value="<?php echo (isset($content->carousel_thumbnail_slide_count))?$content->carousel_thumbnail_slide_count:''?>">
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Max Image Height (optional):</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control" name="content[carousel_thumbnails_max_image_height]" value="<?php echo (isset($content->carousel_thumbnails_max_image_height))?$content->carousel_thumbnails_max_image_height:''?>">
									</div>
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Max Container Width (optional):</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control" name="content[carousel_thumbnails_max_width]" value="<?php echo (isset($content->carousel_thumbnails_max_width))?$content->carousel_thumbnails_max_width:''?>">
									</div>
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Image Column Margin:</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control" name="settings[carousel_thumbnails_column_margin]" value="<?php echo (isset($settings->carousel_thumbnails_column_margin))?$settings->carousel_thumbnails_column_margin:''?>">
									</div>
								</div>
							</div>
							<div class="col-sm-3 text-left">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Thumbnail Top Margin:</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control" name="settings[carousel_thumbnails_top_margin]" value="<?php echo (isset($settings->carousel_thumbnails_top_margin))?$settings->carousel_thumbnails_top_margin:''?>">
									</div>
								</div>
							</div>
						</div>

					</div>

					<label class="m-b-5">Caption Settings:</label>
					<hr class="m-t-0 m-b-10">
					<div class="row">
						<div class="col-sm-3">
							<label class="text-black m-b-5">Text Font:</label>
							<div class="panel panel--module">
								<select class="form-control bg-gray font-selector" data-weight="content[global_caption_weight]" name="content[font]">
									<?php
									$value = (isset($content->font) && $content->font)?$content->font:'';
									foreach ($font_options as $k => $v) {
										$selected = ($k == $value)?"selected":"";
										?>
										<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
										<?php
									}
									?>
								</select>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Text Size:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="settings[global_caption_text_size]" value="<?php echo isset($settings->global_caption_text_size)?$settings->global_caption_text_size:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Text Color:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray complex-colorpicker" name="settings[global_caption_text_color]" value="<?php echo (isset($settings->global_caption_text_color))?$settings->global_caption_text_color:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Line Height:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="settings[global_caption_line_height]" value="<?php echo (isset($settings->global_caption_line_height))?$settings->global_caption_line_height:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label for="" class="text-black m-b-5">Text weight</label>
							<?php echo $this->formSelect('settings[global_caption_weight]', (isset($settings->global_caption_wieght))?$settings->global_caption_wieght:'', array('class'=>'form-control bg-gray'), array(
								'' => 'Default',
								'300' => 'Light',
								'400' => 'Regular',
								'500' => 'Medium',
								'600' => 'Semi Bold',
								'700' => 'Bold',
								'800' => 'Bolder'
							))?>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Vertical Padding:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="settings[global_caption_vertical_padding]" value="<?php echo isset($settings->global_caption_vertical_padding)?$settings->global_caption_vertical_padding:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label for="" class="text-black m-b-5">Text Alignment</label>
							<?php echo $this->formSelect('settings[global_caption_alignment]', (isset($settings->global_caption_alignment))?$settings->global_caption_alignment:'', array('class'=>'form-control bg-gray'), array(
								'left' => 'Left',
								'center' => 'Center',
								'right' => 'Right'
							))?>
						</div>
					</div>


					<label class="m-b-5">Overlay Settings:</label>
					<hr class="m-t-0 m-b-10">

					<div class="row">
						<div class="col-sm-3">
							<label for="" class="m-b-5 text-black">Display as Overlay:</label>
							<?php echo $this->formSelect('settings[global_caption_overlay_status]', (isset($settings->global_caption_overlay_status))?$settings->global_caption_overlay_status:'', array('class'=>'form-control bg-gray'), array("off"=>"Off","on"=>"On"))?>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Overlay Style:</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('settings[global_caption_overlay_style]', (isset($settings->global_caption_overlay_style))?$settings->global_caption_overlay_style:'', array('class'=>'form-control bg-gray'), array(
									"flex-align-start"=>"Top",
									"flex-align-center"=>"Center",
									"flex-align-end"=>"Bottom",
								))?>
							</div>
						</div>
						<div class="col-sm-3">
							<label for="" class="m-b-5 text-black">Display on Hover:</label>
							<?php echo $this->formSelect('settings[global_caption_hover_status]', (isset($settings->global_caption_hover_status))?$settings->global_caption_hover_status:'', array('class'=>'form-control bg-gray'), array("off"=>"Off","on"=>"On"))?>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Hover Background Color:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray complex-colorpicker" name="settings[global_caption_background_color]" value="<?php echo (isset($settings->global_caption_background_color))?$settings->global_caption_background_color:''?>">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<div class="hidden list-row ui-sortable-handle" id="new-panel_row">
	<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
		<div class="controls controls--horizontal">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-edit-btn"><i class="fas fa-bars"></i></button>
				<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
			</div>
		</div>
		<div class="panel__mid" id="module_label-">
			<div class="panel__image">
				<img src="" style="max-width:100px;max-height:100px;">
			</div>

			<div class="panel__title"></div>
		</div>
		<div class="controls">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		window.cny.moduleSubPanels();
		window.cny.fontWeightUpdater();

		//carousel options
		<?php if (isset($settings->gallery_type) && ($settings->gallery_type == 'carousel')) { ?>
		$(".carousel-hide").hide();
		$(".carousel-show").show();
		<?php }else { ?>
		$(".carousel-hide").show();
		$(".carousel-show").hide();
		<?php } ?>
		$("#settings-gallery_type").on("change", function(){
			if ($(this).val() === 'carousel') {
				$(".carousel-hide").hide();
				$(".carousel-show").show();
			}else {
				$(".carousel-hide").show();
				$(".carousel-show").hide();
			}
		});

		// grid options
		//carousel options
		<?php if ( (isset($settings->gallery_type) && ($settings->gallery_type == 'grid')) || (isset($settings->gallery_type) && ($settings->gallery_type == 'grid_square_thumbs')) ) { ?>
		$(".grid-hide").hide();
		$(".grid-show").show();
		<?php }else { ?>
		$(".grid-hide").show();
		$(".grid-show").hide();
		<?php } ?>
		$("#settings-gallery_type").on("change", function(){
			if ($(this).val() === 'grid' || $(this).val() === 'grid_square_thumbs') {
				$(".grid-hide").hide();
				$(".grid-show").show();
			}else {
				$(".grid-hide").show();
				$(".grid-show").hide();
			}
		});
	});

	function responsive_filemanager_callback(field_id){
		if (field_id == 'bulk_images') {
			var response = jQuery('#' + field_id).val();

			try {
				var data = JSON.parse(response);
			} catch (e) {
				var data = [response];
			}

			var count = 0;
			if ($("#hero-list .list-row").length > 0) {
				$("#hero-list .list-row").each(function (data) {
					var max_count = parseInt($(this).data('id').replace('panel_', ''));
					if (max_count > count) {
						count = max_count;
					}
				});
				count++;
			}

			$.each(data, function (key) {
				var path = data[key];
				var filename = path.split('/').pop();
				var panel_image_src = "/userFiles/uploads/" + path;
				var label = filename.substr(0, filename.lastIndexOf('.'));//"Panel " + (count + 1);
				var new_row = $("#new-panel_row").clone();

				$("#panelForm .copy").each(function () {
					var name = $(this).data("name");
					var input_type = ($(this).data("type")) ? $(this).data("type") : 'input';
					var value = '';//$(this).val();

					if (name == 'image_path') {
						value = panel_image_src;
					}else if (name == 'sort_order') {
						value = count + 1;
					}else if (name == 'label') {
						value = label;
					}


					if (input_type == 'textarea') {
						new_row.append('<textarea class="hide" name="content[panels][' + count + '][' + name + ']" data-name="' + name + '">' + value + '</textarea>');
					} else {
						new_row.append('<input type="hidden" name="content[panels][' + count + '][' + name + ']" value="' + value + '" data-name="' + name + '">');
					}
				});

				new_row.attr("id", "").attr("data-id", "panel_" + count)
					.find(".panel__title").text(label).end()
					.find(".panel__image img").attr('src',panel_image_src).end()
					.find("button").data("rel", count).end()
					.removeClass("hidden")
					.appendTo("#hero-list .list-div");

				count++;
			});
		}
	}
</script>
