<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="panel-edit__body js-trigger-ns">
				<div class="form-group text-left">
					<label class="text-black m-b-5">Image:</label>
					<div class="panel panel--module text-left">
						<img src="<?php echo (isset($content->image_path))?$content->image_path:''?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#module_image_path" id="module_image">
						<input type="hidden" class="form-control" name="content[image_path]" id="module_image_path" value="<?php echo (isset($content->image_path))?$content->image_path:''?>">
						<button data-url="/filemanager/dialog.php?type=1&field_id=module_image_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>
						<button type="button" class="btn btn-primary clear-module_image">Remove Image</button>
					</div>

					<div class="panel panel--module">
						<label class="text-black m-b-15">Force Image to Fill Space:</label>
						<?php
						$enabled = (isset($settings->force_full_width) && $settings->force_full_width == 'Enabled')?'on':'off';
						?>
						<div class="btn-group" id="status" data-toggle="buttons">
							<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
								<input type="radio" value="Enabled" name="settings[force_full_width]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
							<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
								<input type="radio" value="Disabled" name="settings[force_full_width]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
						</div>
					</div>

					<div class="row flex-row flex-align-center">
						<div class="col-sm-3 text-left">
							<label class="text-black m-b-15">Image Dimensions:</label>
						</div>
						<div class="col-sm-9">
							<div class="panel panel--module text-left">
								<?php
								if (isset($content->image_path) && $content->image_path) {
									$size = getimagesize($_SERVER['DOCUMENT_ROOT'].$content->image_path);
								}
								?>

								<div class="col-xs-5">
									Width:
									<input type="text" class="form-control bg-gray" name="content[image_width]" placeholder="<?php echo (isset($size) && $size[0])?$size[0]:''?>" value="<?php echo (isset($content->image_width))?$content->image_width:''?>">
								</div>
								<div class="col-xs-2 text-center">
									<br/>
									<span class="fas fa-2x fa-link" id="img-ratio-btn" title="Aspect Ratio Locked"></span>
									<input type="hidden" id="img-ratio" value="<?php echo (isset($size) && $size[0] && $size[1])?$size[1]/$size[0]:''?>">
								</div>
								<div class="col-xs-5">
									Height:
									<input type="text" class="form-control bg-gray" name="content[image_height]" placeholder="<?php echo (isset($size) && $size[1])?$size[1]:''?>" value="<?php echo (isset($content->image_height))?$content->image_height:''?>">
								</div>
							</div>
						</div>
					</div>

					<label class="text-black m-b-15">Image Alignment:</label>
					<div class="panel panel--module">
						<?php echo $this->formSelect('settings[image_alignment]', (isset($settings->image_alignment))?$settings->image_alignment:'', array('class'=>'form-control bg-gray'), array(""=>"Left","center-block"=>"Center","pull-right"=>"Right"))?>
					</div>

					<label class="text-black m-b-15">Image Hover Effect:</label>
					<div class="panel panel--module">
						<?php echo $this->formSelect('settings[image_hover_class]', (isset($settings->image_hover_class))?$settings->image_hover_class:'', array('class'=>'form-control bg-gray'), array(""=>"None","grayscale-normal"=>"Grayscale to Normal","normal-grayscale"=>"Normal to Grayscale","light_grayscale-normal"=>"Light Grayscale to Normal","normal-light_grayscale"=>"Normal to Light Grayscale","invert-normal"=>"Inverted to Normal","normal-invert"=>"Normal to Inverted","sepia-normal"=>"Sepia to Normal","normal-sepia"=>"Normal to Sepia","blur-normal"=>"Blurred to Normal","normal-blur"=>"Normal to Blurred"))?>
					</div>

					<div class="row m-b-10">
						<div class="col-sm-4 m-t-30">
							<label for="" class="m-b-5 text-black">Image Zoom on Hover:</label>
							<?php
							$enabled = (isset($settings->image_hover_zoom_status) && $settings->image_hover_zoom_status == 'on')?'on':'off';
							?>
							<div class="btn-group" id="animate" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="on" name="settings[image_hover_zoom_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="off" name="settings[image_hover_zoom_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
						<div class="col-sm-3">
							<label for="" class="m-b-5 text-black">Image Zoom in Percentage:</label>
							<input type="text" class="form-control bg-gray border-radius" name="settings[image_hover_zoom_percent]" value="<?php echo (isset($settings->image_hover_zoom_percent))?$settings->image_hover_zoom_percent:'10'?>">
						</div>
					</div>

					<label class="text-black m-b-5">Image Link URL:</label>
					<div class="panel panel--module">
						<input type="text" class="form-control bg-gray" name="content[image_link_url]" value="<?php echo (isset($content->image_link_url))?$content->image_link_url:''?>">
					</div>

					<label class="text-black m-b-5">Image Link Target:</label>
					<div class="panel panel--module">
						<?php echo $this->formSelect('content[image_link_target]', (isset($content->image_link_target))?$content->image_link_target:'', array('class'=>'form-control bg-gray'),
							array(''=>'Current Window/Tab','_blank'=>'New Tab')
						)?>
					</div>

					<label class="text-black m-b-5">Alt Title:</label>
					<div class="panel panel--module">
						<input type="text" class="form-control bg-gray" name="content[alt_title]" value="<?php echo (isset($content->alt_title))?$content->alt_title:''?>">
					</div>

					<label class="text-black m-b-5">Caption:</label>
					<div class="panel panel--module">
						<textarea class="form-control tinymce" name="content[caption]"><?php echo (isset($content->caption))?$content->caption:''?></textarea>
					</div>

				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>

</form>

<script>
	$(function() {
		window.cny.wysiwyg();

		if ($("#module_image_path").val() == '') $("#module_image").hide();

		$(".clear-module_image").on("click",function(){
			$("#module_image_path").val('');
			$("#module_image").attr('src','').hide();
		});

		$("#img-ratio-btn").on("click", function(){
			if ($(this).hasClass('fa-link')) {
				$(this).removeClass('fa-link').addClass('fa-chain-broken').attr('title','Aspect Ratio Unlocked');
			}else {
				$(this).removeClass('fa-chain-broken').addClass('fa-link').attr('title','Aspect Ratio Locked');
			}
		});

		$('input[name="content[image_width]"]').on("blur", function(){
			if ($(this).val() && $("#img-ratio-btn").hasClass('fa-link')) {
				if ($("#img-ratio").val() == '' || $("#img-ratio").val() == 'NaN') {
					$("#img-ratio").val($("#module_image").height() / $("#module_image").width());
				}

				$('input[name="content[image_height]"]').val(Math.round($("#img-ratio").val() * $(this).val()));
			}
		});
		$('input[name="content[image_height]"]').on("blur", function(){
			if ($(this).val() && $("#img-ratio-btn").hasClass('fa-link')) {
				if ($("#img-ratio").val() == '' || $("#img-ratio").val() == 'NaN') {
					$("#img-ratio").val($("#module_image").height() / $("#module_image").width());
				}

				$('input[name="content[image_width]"]').val(Math.round($(this).val() / $("#img-ratio").val()));
			}
		});

	});
</script>
<style>
	#img-ratio-btn {cursor:pointer;}
</style>
