<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);
$panels = array();
if (isset($content->panels)) {
	foreach ($content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">

			<div id="panelForm" class="panel-edit">
				<input type="hidden" class="form-control" id="panelForm-id" value="">
				<input type="hidden" class="form-control copy" id="panelForm-sort_order" data-name="sort_order" value="">


				<div class="panel-edit__body">
					<div class="form-group text-left">
						<h3 class="form-group-title m-b-5">Panel Image</h3>

						<label class="m-b-5 text-black">Title:</label>
						<div class="panel panel--module bg-gray">
							<input type="text" class="form-control copy" id="panelForm-label" data-name="label" value="">
						</div>

						<label class="m-b-5 text-black">Video:</label>
						<div class="panel panel--module bg-gray">
							<input type="text" class="form-control copy" id="panelForm-video_id" data-name="video_id" value="">
						</div>

					</div>
				</div>


				<div class="break-row p-t-50">
					<div class="btn-group btn-group-justified">
						<a class="btn btn-lg btn-warning waves-effect waves-light" id="cancel-panel">Cancel</a>
						<a class="btn btn-lg btn--purple waves-effect waves-light" id="save-panel">Save Panel</a>
					</div>
				</div>
			</div>

			<div class="panel-view panel-edit__body">
				<div id="hero-list" class="selection_type type-video">

					<div class="row flex-row">
						<div class="col-xs-12 p-l-0 list-div">
							<?php
							if (isset($panels)) {
								foreach ($panels as $k => $panel) {
									?>
									<div class="col-sm-12 p-t-10 list-row" data-id="panel_<?php echo $k?>">
										<?php foreach ((array)$panel as $name => $val) {?>
											<input type="hidden" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>" value="<?php echo $val?>">
										<?php } ?>

										<div class="m-b-0 panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
											<div class="controls controls--horizontal">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-edit-btn" data-rel="<?php echo $k?>"><i class="fa fa-bars"></i></button>
													<button class="btn btn-xs btn--transparent text-white"><i class="fa fa-clone"></i></button>
												</div>
											</div>
											<div class="panel__title" id="module_label-"><?php $k_plus = $k+1; echo ($panel->label)?$panel->label:"Panel {$k_plus}"?></div>
											<div class="controls">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete" data-rel="<?php echo $k?>"><i class="fa fa-times"></i></button>
												</div>
											</div>
										</div>
									</div>
									<?php
								}
							}?>
						</div>
					</div>

				</div>
				<div class="panel panel--module bg-border flex-row flex-align-center flex-justify-center selection_type type-video">
					<div class="controls controls--footer text-center flex-grow-1 p-0">
						<a class="btn btn-xs btn--link p-t-10 p-b-10" id="add-panel" href=""><i class="fa fa-plus-square-o"></i> Add Panel</a>
					</div>
				</div>

				<div class="row text-left">
					<div class="col-sm-6">
						<label for="" class="m-b-5 text-black">Title:</label>
						<div class="panel panel--module bg-gray">
							<input type="text" class="form-control" name="content[title]" value="<?php echo (isset($content->title))?$content->title:''?>">
						</div>
					</div>
					<div class="col-sm-6 text-left">
						<label for="" class="m-b-5 text-black">Title Font:</label>
						<div class="panel panel--module bg-gray">
							<select name="content[title_font]" class="from-control selectpicker">
								<?php
								$value = (isset($content->title_font))?$content->title_font:'';
								foreach ($font_options as $k => $v) {
									$selected = ($k == $value)?"selected":"";
									?>
									<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
									<?php
								}
								?>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6 text-left">
						<label for="" class="m-b-5 text-black">Selection Method:</label>
						<div class="panel panel--module bg-gray">
							<?php echo $this->formSelect('settings[selection_type]', (isset($settings->selection_type))?$settings->selection_type:'', array('class'=>'form-control'), array(
								"video"=>"Video",
								"category"=>"Category",
								"genre"=>"Genre",
								"tag"=>"Tag",
							))?>
						</div>
					</div>
					<div class="col-sm-6 text-left">
						<div class="selection_type type-video">
							<label for="" class="m-b-5 text-black">Video:</label>
							<div class="panel panel--module bg-white">
								Manually select the videos to display using the "Add Panel" section above
							</div>
						</div>
						<div class="selection_type type-category">
							<label for="" class="m-b-5 text-black">Category:</label>
							<div class="panel panel--module bg-white">
								<input type="text" class="form-control" name="content[category_id]" id="category_id" value="<?php echo (isset($content->category_id))?$content->category_id:''?>">
							</div>
						</div>
						<div class="selection_type type-genre">
							<label for="" class="m-b-5 text-black">Genre:</label>
							<div class="panel panel--module bg-white">
								<input type="text" class="form-control" name="content[genre_id]" id="genre_id" value="<?php echo (isset($content->genre_id))?$content->genre_id:''?>">
							</div>
						</div>
						<div class="selection_type type-tag">
							<label for="" class="m-b-5 text-black">Tag:</label>
							<div class="panel panel--module bg-white">
								<input type="text" class="form-control" name="content[tag_id]" id="tag_id" value="<?php echo (isset($content->tag_id))?$content->tag_id:''?>">
							</div>
						</div>
					</div>
				</div>

				<h4 class="text-black m-b-5 text-left">Tray Options</h4>
				<hr class="m-t-10">
				<div class="row">
					<div class="col-sm-3 text-left">
						<label for="" class="m-b-5 text-black">Style</label>
						<div class="panel panel--module bg-gray">
							<?php echo $this->formSelect('settings[carousel_type]', (isset($settings->carousel_type))?$settings->carousel_type:'', array('class'=>'form-control'), array(
								"product"=>"Product",
								"grid"=>"Grid",
							))?>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-hide">
						<label class="text-black m-b-5">Infinite Scroll</label>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($settings->infinite_scroll) && $settings->infinite_scroll == "Disabled") ? 'off' : 'on';
							?>
							<div class="btn-group" id="infinite_scroll" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[infinite_scroll]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[infinite_scroll]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-hide">
						<label class="text-black m-b-5">Next/Previous Arrow</label>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($settings->carousel_prev_arrow_status) && $settings->carousel_prev_arrow_status == "Disabled") ? 'off' : 'on';
							?>
							<div class="btn-group" id="carousel_prev_arrow_status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[carousel_prev_arrow_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[carousel_prev_arrow_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-hide">
						<label class="text-black m-b-5">Arrows Over Slides</label>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($settings->carousel_arrow_offset) && $settings->carousel_arrow_offset == "off") ? 'off' : 'on';
							?>
							<div class="btn-group" id="carousel_arrow_offset" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="on" name="settings[carousel_arrow_offset]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="off" name="settings[carousel_arrow_offset]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-left grid-hide">
					<div class="col-sm-4 col-lg-2">
						<label class="text-black m-b-5">Arrow Size</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[carousel_arrow_size]" value="<?php echo (isset($content->carousel_arrow_size))?$content->carousel_arrow_size:''?>">
						</div>
					</div>
					<div class="col-sm-4 col-lg-2">
						<label class="text-black m-b-5">Arrow Padding </label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[carousel_arrow_padding]" value="<?php echo (isset($content->carousel_arrow_padding))?$content->carousel_arrow_padding:''?>">
						</div>
					</div>
					<div class="col-sm-4 col-lg-2">
						<label class="text-black m-b-5">Arrow Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_color]" value="<?php echo (isset($content->carousel_arrow_color))?$content->carousel_arrow_color:''?>">
						</div>
					</div>
					<div class="col-sm-4 col-lg-2">
						<label class="text-black m-b-5">Arrow Hover Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_hover_color]" value="<?php echo (isset($content->carousel_arrow_hover_color))?$content->carousel_arrow_hover_color:''?>">
						</div>
					</div>
					<div class="col-sm-4 col-lg-2">
						<label class="text-black m-b-5">Background Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_background_color]" value="<?php echo (isset($content->carousel_arrow_background_color))?$content->carousel_arrow_background_color:''?>">
						</div>
					</div>
				</div>
				<div class="row text-left">
					<div class="col-sm-3 text-left">
						<div class="form-group text-left">
							<label for="" class="m-b-5 text-black">Image Profile</label>
							<div class="panel panel--module bg-gray">
								<?php echo $this->formSelect('settings[image_profile]', (isset($settings->image_profile))?$settings->image_profile:'square', array('class'=>'form-control'), array("square"=>"Square","original"=>"Original"))?>
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left">
						<div class="form-group text-left">
							<label for="" class="m-b-5 text-black">Max Image Height (optional)</label>
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="content[max_image_height]" value="<?php echo (isset($content->max_image_height))?$content->max_image_height:''?>">
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left">
						<div class="form-group text-left">
							<label for="" class="m-b-5 text-black">Max Width (optional)</label>
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="content[max_width]" value="<?php echo (isset($content->max_width))?$content->max_width:''?>">
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-hide">
						<label class="text-black m-b-5">Variable Width</label>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($settings->carousel_variable_width) && ($settings->carousel_variable_width == "Disabled" || $settings->carousel_variable_width == "false")) ? 'off' : 'on';
							?>
							<div class="btn-group" id="carousel_variable_width" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[carousel_variable_width]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[carousel_variable_width]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-left">
					<div class="col-sm-3 text-left auto-product-show hide">
						<div class="form-group text-left">
							<label for="" class="m-b-5 text-black">Total Items to Display <small class="">(blank for all)</small></label>
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="settings[slides_total]" value="<?php echo (isset($settings->slides_total))?$settings->slides_total:''?>">
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left">
						<div class="form-group text-left">
							<label for="" class="m-b-5 text-black">Item Count - Desktop</label>
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="settings[slides_display_desktop]" value="<?php echo (isset($settings->slides_display_desktop))?$settings->slides_display_desktop:''?>">
							</div>
							<small class="hide">(set to number partially visible if having scrolling issues)</small>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-show">
						<div class="form-group text-left">
							<label for="" class="m-b-5 text-black">Item Count - Mobile</label>
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="settings[slides_display_mobile]" value="<?php echo (isset($settings->slides_display_mobile))?$settings->slides_display_mobile:''?>">
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-hide">
						<div class="form-group text-left">
							<label for="" class="m-b-5 text-black">Auto Play Speed</label>
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="settings[transition_speed]" value="<?php echo (isset($settings->transition_speed))?$settings->transition_speed:'3'?>">
							</div>
							<small class="hide">(set auto play transition speed)</small>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-hide">
						<label class="text-black m-b-5">Max Container size - Desktop</label>
						<div class="panel panel--module">
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="settings[carousel_max_container_size]" value="<?php echo (isset($settings->carousel_max_container_size))?$settings->carousel_max_container_size:''?>">
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-hide">
						<label class="text-black m-b-5">Auto Play</label>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($settings->carousel_autoplay) && $settings->carousel_autoplay == "Disabled") ? 'off' : 'on';
							?>
							<div class="btn-group" id="carousel_autoplay" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[carousel_autoplay]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[carousel_autoplay]" <?php echo ($enabled == 'on')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-left">
					<div class="col-sm-3 text-left grid-show">
						<label class="text-black m-b-5"> Grid Column Spacing</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="settings[grid_column_spacing]" value="<?php echo (isset($settings->grid_column_spacing))?$settings->grid_column_spacing:20?>">
						</div>
					</div>
					<div class="col-sm-3 text-left grid-show">
						<label class="text-black m-b-5"> Grid Row Spacing</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="settings[grid_row_spacing]" value="<?php echo (isset($settings->grid_row_spacing))?$settings->grid_row_spacing:20?>">
						</div>
					</div>
					<div class="col-sm-3 text-left grid-show">
						<label class="text-black m-b-5">Image Opacity</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="settings[image_opacity]" value="<?php echo (isset($settings->image_opacity))?$settings->image_opacity:''?>">
						</div>
					</div>
					<div class="col-sm-3 text-left grid-show">
						<label class="text-black m-b-5">Image Hover Opacity</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="settings[image_hover_opacity]" value="<?php echo (isset($settings->image_hover_opacity))?$settings->image_hover_opacity:''?>">
						</div>
					</div>
				</div>

				<h4 class="text-black m-b-5 text-left">Caption Options</h4>
				<hr class="m-t-10">
				<div class="row text-left">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Caption Position</label>
						<div class="panel panel--module">
							<?php
							//deprecating old overlay_status for new multiple caption position options
							if (isset($settings->overlay_status) && $settings->overlay_status == "Enabled") {
								$settings->caption_position = 'overlay';
							}
							?>
							<?php echo $this->formSelect('settings[caption_position]', (isset($settings->caption_position))?$settings->caption_position:'', array('class'=>'form-control'), array("off"=>"Disable Caption","overlay"=>"Overlay","below"=>"Below"))?>
						</div>
					</div>
					<div class="col-sm-3 text-left multi-hide">
						<label class="text-black m-b-5">Caption Alignment</label>
						<div class="panel panel--module">
							<?php
							if (isset($settings->overlay_status) && $settings->overlay_status == "Enabled") {
								$settings->caption_position = 'overlay';
							}
							?>
							<?php echo $this->formSelect('settings[caption_alignment]', (isset($settings->caption_alignment))?$settings->caption_alignment:'', array('class'=>'form-control'), array("text-left"=>"Left","text-center"=>"Center","text-right"=>"Right"))?>
						</div>
					</div>
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Overlay Background Color</label>
						<input type="text" class="form-control complex-colorpicker" name="settings[overlay_background_color]" value="<?php echo (isset($settings->overlay_background_color))?$settings->overlay_background_color:''?>">
					</div>
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Overlay Padding (left/right)</label>
						<input type="text" class="form-control" name="settings[overlay_padding_lr]" value="<?php echo (isset($settings->overlay_padding_lr))?$settings->overlay_padding_lr:''?>">
					</div>
				</div>
				<div class="row text-left m-b-15">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Overlay Padding (top/bottom)</label>
						<input type="text" class="form-control" name="settings[overlay_padding_tb]" value="<?php echo (isset($settings->overlay_padding_tb))?$settings->overlay_padding_tb:''?>">
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Overlay/Caption Title Text Size</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[caption_title_text_size]" value="<?php echo (isset($content->caption_title_text_size))?$content->caption_title_text_size:''?>">
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Overlay/Caption Title Text Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-white complex-colorpicker" name="content[caption_title_text_color]" value="<?php echo (isset($content->caption_title_text_color))?$content->caption_title_text_color:''?>">
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Overlay/Caption Title Line Height</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-white complex-colorpicker" name="content[caption_title_line_height]" value="<?php echo (isset($content->caption_title_line_height))?$content->caption_title_line_height:''?>">
						</div>
					</div>
				</div>
				<div class="row text-left">
					<div class="col-sm-3">
						<label class="text-black m-b-5">Overlay/Caption Text Size</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[caption_text_size]" value="<?php echo (isset($content->caption_text_size))?$content->caption_text_size:''?>">
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Overlay/Caption Text Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-white complex-colorpicker" name="content[caption_text_color]" value="<?php echo (isset($content->caption_text_color))?$content->caption_text_color:''?>">
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Overlay/Caption Text Line Height</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-white complex-colorpicker" name="content[caption_text_line_height]" value="<?php echo (isset($content->caption_text_line_height))?$content->caption_text_line_height:''?>">
						</div>
					</div>
				</div>
				<div class="car-conditional carousel_type-product_cta_image">
					<h4 class="text-black m-b-5 text-left">CTA Settings</h4>
					<hr class="m-t-10">
					<div class="row text-left">
						<div class="col-sm-6">
							<label class="text-black m-b-5">Image</label>
							<div class="panel panel--module text-left">
								<img src="<?php echo (isset($content->image_path))?$content->image_path:''?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#module_image_path" id="module_image">
								<input type="hidden" class="form-control" name="content[image_path]" id="module_image_path" value="<?php echo (isset($content->image_path))?$content->image_path:''?>">
								<button data-url="/filemanager/dialog.php?type=1&field_id=module_image_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">CTA Image</button>
								<button type="button" class="btn btn-primary clear-module_image">Remove Image</button>
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-15">Image Dimensions</label>
							<div class="panel panel--module text-left">
								<?php
								if (isset($content->image_path) && $content->image_path) {
									$size = getimagesize($_SERVER['DOCUMENT_ROOT'].$content->image_path);
								}
								?>
								<div class="row">
									<div class="col-xs-5">
										Width
										<input type="text" class="form-control bg-gray" name="content[image_width]" placeholder="<?php echo (isset($size) && $size[0])?$size[0]:''?>" value="<?php echo (isset($content->image_width))?$content->image_width:''?>">
									</div>
									<div class="col-xs-2 text-center">
										<br/>
										<span class="fas fa-2x fa-link" id="img-ratio-btn" title="Aspect Ratio Locked"></span>
										<input type="hidden" id="img-ratio" value="<?php echo (isset($size) && $size[0] && $size[1])?$size[1]/$size[0]:''?>">
									</div>
									<div class="col-xs-5">
										Height
										<input type="text" class="form-control bg-gray" name="content[image_height]" placeholder="<?php echo (isset($size) && $size[1])?$size[1]:''?>" value="<?php echo (isset($content->image_height))?$content->image_height:''?>">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row text-left">
						<div class="col-sm-6">
							<label class="text-black m-b-5">Image Alignment</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('settings[image_alignment]', (isset($settings->image_alignment))?$settings->image_alignment:'', array('class'=>'form-control bg-gray'), array(""=>"Left","center-block"=>"Center","pull-right"=>"Right"))?>
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-5">Alt Title</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="content[alt_title]" value="<?php echo (isset($content->alt_title))?$content->alt_title:''?>">
							</div>
						</div>
					</div>
				</div>

				<div class="car-conditional carousel_type-multibutton_product carousel_type-multibutton_grid">
					<h4 class="text-black m-b-5 text-left">Multi Button Options</h4>
					<hr class="m-t-10">
					<div class="row text-left">
						<div class="col-sm-3">
							<label class="text-black m-b-5">Button Alignment</label>
							<div class="panel panel--module">

								<?php echo $this->formSelect('settings[multi_button_alignment]', (isset($settings->multi_button_alignment))?$settings->multi_button_alignment:'', array('class'=>'form-control'), array("d-block"=>"Block","d-flex"=>"Inline"))?>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Title</label>
							<div class="panel panel--module">
								<input type="text" class="form-control" name="settings[multi_button_title]" value="<?php echo (isset($settings->multi_button_title))?$settings->multi_button_title:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Title Size</label>
							<div class="panel panel--module">
								<input type="text" class="form-control" name="settings[multi_button_title_size]" value="<?php echo (isset($settings->multi_button_title_size))?$settings->multi_button_title_size:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Title Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-white complex-colorpicker" name="settings[multi_button_title_color]" value="<?php echo (isset($settings->multi_button_title_color))?$settings->multi_button_title_color:''?>">
							</div>
						</div>
					</div>
					<div class="row text-left">
						<div class="col-sm-3">
							<label class="text-black m-b-5">Button Text Size</label>
							<div class="panel panel--module">
								<input type="text" class="form-control" name="settings[multi_button_text_size]" value="<?php echo (isset($settings->multi_button_text_size))?$settings->multi_button_text_size:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Button Text Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-white complex-colorpicker" name="settings[multi_button_text_color]" value="<?php echo (isset($settings->multi_button_text_color))?$settings->multi_button_text_color:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Button Background Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-white complex-colorpicker" name="settings[multi_button_bg_color]" value="<?php echo (isset($settings->multi_button_bg_color))?$settings->multi_button_bg_color:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Button Hover Background Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-white complex-colorpicker" name="settings[multi_hover_button_bg_color]" value="<?php echo (isset($settings->multi_hover_button_bg_color))?$settings->multi_hover_button_bg_color:''?>">
							</div>
						</div>
					</div>
				</div>


				<h4 class="text-black m-b-5 text-left">View More Options</h4>
				<hr class="m-t-10">

				<div class="row flex-row flex-wrap text-left">
					<div class="col-sm-3">
						<label for="" class="m-b-5 text-black">Text</label>
						<div class="panel panel--module bg-gray">
							<input type="text" class="form-control" name="content[view_more_text]" value="<?php echo (isset($content->view_more_text))?$content->view_more_text:''?>">
						</div>
					</div>
					<div class="col-sm-3">
						<label for="" class="m-b-5 text-black">URL</label>
						<div class="panel panel--module bg-gray">
							<input type="text" class="form-control" name="content[view_more_url]" value="<?php echo (isset($content->view_more_url))?$content->view_more_url:''?>">
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Size</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[view_more_text_size]" value="<?php echo (isset($content->view_more_text_size))?$content->view_more_text_size:''?>">
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray complex-colorpicker" name="content[view_more_text_color]" value="<?php echo (isset($content->view_more_text_color))?$content->view_more_text_color:''?>">
						</div>
					</div>
					<div class="col-sm-3 text-left hide">
						<label class="text-black m-b-5">More/Less Collapse:</label>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($settings->view_more_less) && $settings->view_more_less == "Enabled") ? 'on' : 'off';
							?>
							<div class="btn-group" id="view_more_less" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[view_more_less]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[view_more_less]" <?php echo ($enabled == 'on')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
				</div>

				<h3 class="form-group-title m-b-5 text-left" role="button" data-toggle="collapse" href="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">Advanced <i class="fas fa-plus-square"></i></h3>
				<div class="collapse" id="collapseAdvanced">
					<div class="row text-left">
						<div class="col-sm-12">
							<label class="text-black m-b-5">Product URL Base</label>
							<div class="panel panel--module">
								<input type="text" class="form-control" name="settings[product_url_base]" value="<?php echo (isset($settings->product_url_base))?$settings->product_url_base:'product'?>">
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<div class="col-sm-12 p-t-10 hidden list-row ui-sortable-handle" id="new-panel_row">
	<div class="m-b-0 panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
		<div class="controls controls--horizontal">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-edit-btn"><i class="fa fa-bars"></i></button>
				<button class="btn btn-xs btn--transparent text-white"><i class="fa fa-clone"></i></button>
			</div>
		</div>
		<div class="panel__title" id="module_label-"></div>
		<div class="controls">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete"><i class="fa fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		window.cny.moduleSubPanels();
		window.cny.fontWeightUpdater();

		$(".selectpicker").selectpicker();

		$(".car-conditional").hide();
		$(".carousel_type-"+$("#settings-carousel_type").val()).show();

		$("#settings-carousel_type").off("change").on("change",function(){
			$(".car-conditional").hide();

			$(".carousel_type-"+$(this).val()).show();
		});

		window.cny.wysiwyg();

		$(".selection_type").hide();
		$(".selection_type.type-"+$("#settings-selection_type").val()).show();

		$("#settings-selection_type").off("change").on("change",function(){
			$(".selection_type").hide();

			$(".selection_type.type-"+$(this).val()).show();
		});

		$("#panelForm-video_id").select2({
			placeholder: "Search Videos",
			minimumInputLength: 2,
			ajax: {
				url: "/admin/video-platform/ajax-list",
				dataType: 'json',
				quietMillis: 250,
				data: function (term, page) {
					return {
						q: term
					};
				},
				results: function (data, page) {
					return {results: data.results};
				},
				cache: true
			},
			initSelection: function (element, callback) {
				var id = $(element).val();
				if (id !== "") {
					$.ajax("/admin/video-platform/ajax-view/id/" + id, {
						dataType: "json"
					}).done(function (data) {
						callback(data);
					});
				}
			}
		});

		$("#category_id").select2({
			placeholder: "Search Categories",
			minimumInputLength: 2,
			ajax: {
				url: "/admin/video-platform/category-ajax-list",
				dataType: 'json',
				quietMillis: 250,
				data: function (term, page) {
					return {
						q: term
					};
				},
				results: function (data, page) {
					return {results: data.results};
				},
				cache: true
			},
			initSelection: function (element, callback) {
				var id = $(element).val();
				if (id !== "") {
					$.ajax("/admin/video-platform/category-ajax-view/id/" + id, {
						dataType: "json"
					}).done(function (data) {
						callback(data);
					});
				}
			}
		});

		$("#genre_id").select2({
			placeholder: "Search Genres",
			minimumInputLength: 2,
			ajax: {
				url: "/admin/video-platform/genre-ajax-list",
				dataType: 'json',
				quietMillis: 250,
				data: function (term, page) {
					return {
						q: term
					};
				},
				results: function (data, page) {
					return {results: data.results};
				},
				cache: true
			},
			initSelection: function (element, callback) {
				var id = $(element).val();
				if (id !== "") {
					$.ajax("/admin/video-platform/genre-ajax-view/id/" + id, {
						dataType: "json"
					}).done(function (data) {
						callback(data);
					});
				}
			}
		});

		$("#tag_id").select2({
			placeholder: "Search Tags",
			minimumInputLength: 2,
			ajax: {
				url: "/admin/video-platform/tag-ajax-list",
				dataType: 'json',
				quietMillis: 250,
				data: function (term, page) {
					return {
						q: term
					};
				},
				results: function (data, page) {
					return {results: data.results};
				},
				cache: true
			},
			initSelection: function (element, callback) {
				var id = $(element).val();
				if (id !== "") {
					$.ajax("/admin/video-platform/tag-ajax-view/id/" + id, {
						dataType: "json"
					}).done(function (data) {
						callback(data);
					});
				}
			}
		});


		//tray options
		<?php if (isset($settings->carousel_type) && ($settings->carousel_type == 'grid' || $settings->carousel_type == 'custom_grid')) { ?>
		$(".grid-hide").hide();
		$(".grid-show").show();
		<?php }else { ?>
		$(".grid-hide").show();
		$(".grid-show").hide();
		<?php } ?>
		$("#settings-carousel_type").on("change", function(){
			if ($(this).val() == 'grid') {
				$(".grid-hide").hide();
				$(".grid-show").show();
			}else {
				$(".grid-hide").show();
				$(".grid-show").hide();
			}
		});

		//multi button options
		<?php if (isset($settings->carousel_type) && ($settings->carousel_type == 'multibutton_product' || $settings->carousel_type == 'multibutton_grid')) { ?>
		$(".multi-hide").hide();
		$(".multi-show").show();
		<?php }else { ?>
		$(".multi-hide").show();
		$(".multi-show").hide();
		<?php } ?>

		$("#settings-carousel_type").on("change", function(){
			if ($(this).val() === 'multibutton_product' || $(this).val() === 'multibutton_grid' ) {
				$(".muliti-hide").hide();
				$(".muliti-show").show();
			}else {
				$(".muliti-hide").show();
				$(".muliti-show").hide();
			}
		});
	});
</script>
