<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);

$panels = array();
if (isset($content->form_type) && $content->form_type == 'name_email') {
	$panels[] = (object)array('field_type'=>'text','label'=>'Name','field_required'=>'yes');
	$panels[] = (object)array('field_type'=>'email','label'=>'Email','field_required'=>'yes');
}elseif (isset($content->form_type) && $content->form_type == 'first_last_email') {
	$panels[] = (object)array('field_type'=>'text','label'=>'First Name','field_required'=>'yes');
	$panels[] = (object)array('field_type'=>'text','label'=>'Last Name','field_required'=>'yes');
	$panels[] = (object)array('field_type'=>'email','label'=>'Email','field_required'=>'yes');
}else {
	$panels[] = (object)array('field_type'=>'email','label'=>'Email','field_required'=>'yes');
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="panel-view panel-edit__body">

				<div class="form-group text-left">
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseForm" aria-expanded="true" aria-controls="collapseForm">Form <i class="fas fa-minus-square"></i></h3>

					<div id="collapseForm" class="collapse in">
						<label class="text-black m-b-5">Form Width:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray" name="content[form_width]" value="<?php echo isset($content->form_width)?$content->form_width:''?>">
						</div>

						<label class="text-black m-b-5">Form Name:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray" name="content[form_name]" value="<?php echo isset($content->form_name)?$content->form_name:''?>">
						</div>

						<div class="row">
							<div class="col-sm-4">
								<label class="text-black m-b-5">Form Type</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[form_type]', (isset($content->form_type))?$content->form_type:'', array('class'=>'form-control bg-gray'),
										array(''=>'Email Address Only','name_email'=>'Full Name & Email Address','first_last_email'=>'First Name, Last Name, Email Address')
									)?>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Layout</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[form_layout]', (isset($content->form_layout))?$content->form_layout:'', array('class'=>'form-control bg-gray'),
										array('inline'=>'Inline','stacked'=>'Stacked')
									)?>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Alignment</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[form_alignment]', (isset($content->form_alignment))?$content->form_alignment:'', array('class'=>'form-control bg-gray'),
										array('left'=>'Left','center'=>'Center','right'=>'Right')
									)?>
								</div>
							</div>
						</div>

						<label class="text-black m-b-5">From Email Address (address emails come from):</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray" name="content[from_email_address]" value="<?php echo isset($content->from_email_address)?$content->from_email_address:''?>">
						</div>

						<label class="text-black m-b-5">Email Address (to email submissions):</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray" name="content[email_address]" value="<?php echo isset($content->email_address)?$content->email_address:''?>">
						</div>

						<label class="text-black m-b-5">Form Intro/Description:</label>
						<div class="panel panel--module">
							<textarea class="form-control tinymce" name="content[intro]"><?php echo (isset($content->intro))?$content->intro:''?></textarea>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<label class="text-black m-b-5">Label Position</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[label_position]', (isset($content->label_position))?$content->label_position:'', array('class'=>'form-control bg-gray'),
										array('above'=>'Above','inline'=>'Inline','placeholder'=>'In-field/Placeholder')
									)?>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-black m-b-5">Label Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[label_color]" value="<?php echo (isset($content->label_color))?$content->label_color:''?>">
								</div>
							</div>
						</div>

						<label class="text-black m-b-5">reCAPTCHA</label>
						<div>You first need to signup for Google reCAPTCHA v2 and enter your keys in Settings -> Website Settings -> Plugins</div>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($content->recaptcha_status) && $content->recaptcha_status == 'Enabled')?'on':'off';
							?>
							<div class="btn-group" id="status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="content[recaptcha_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="content[recaptcha_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>

					</div>
				</div>

				<div class="form-group text-left">

					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseSubmit" aria-expanded="false" aria-controls="collapseSumbit">Submit Button: <i class="fas fa-plus-square"></i></h3>
					<div id="collapseSubmit" class="collapse">
						<div class="row">
							<div class="col-sm-4">
								<label class="text-black m-b-5">Text:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray" name="content[submit_button_text]" value="<?php echo (isset($content->submit_button_text))?$content->submit_button_text:''?>">
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Text Size</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[submit_button_text_size]', (isset($content->submit_button_text_size))?$content->submit_button_text_size:'', array('class'=>'form-control bg-gray'),
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									)?>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Text Weight</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[submit_button_text_weight]', (isset($content->submit_button_text_weight))?$content->submit_button_text_weight:'', array('class'=>'form-control bg-gray'),
										array(
											'' => 'Default',
											'300' => 'Light',
											'400' => 'Regular',
											'500' => 'Medium',
											'600' => 'Semi Bold',
											'700' => 'Bold',
											'800' => 'Bolder'
										)
									)?>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label class="text-black m-b-5">Text Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[submit_button_text_color]" value="<?php echo (isset($content->submit_button_text_color))?$content->submit_button_text_color:''?>">
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Text Hover Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[submit_button_text_hover_color]" value="<?php echo (isset($content->submit_button_text_hover_color))?$content->submit_button_text_hover_color:''?>">
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Button Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[submit_button_color]" value="<?php echo (isset($content->submit_button_color))?$content->submit_button_color:''?>">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label class="text-black m-b-5">Button Hover Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[submit_button_hover_color]" value="<?php echo (isset($content->submit_button_hover_color))?$content->submit_button_hover_color:''?>">
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Button Style:</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[submit_button_class]', (isset($content->submit_button_class))?$content->submit_button_class:'', array('class'=>'form-control bg-gray'),
										array('btn-square'=>'Square','btn-round'=>'Rounded','btn-round-4px'=>'Rounded Corners','btn-outline'=>'Outlined (transparent background)','btn-square-full'=>'Full Width','btn-round-full'=>'Full Width Rounded','btn-round-4px-full'=>'Full Width Rounded Corners')
									)?>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Button Border:</label>
								<div class="panel panel--module">
									<?php
									$enabled = (isset($content->submit_button_border_status) && $content->submit_button_border_status == 'Disabled')?'off':'on';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="content[submit_button_border_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="content[submit_button_border_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label class="text-black m-b-5">Button Border Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[submit_button_border_color]" value="<?php echo (isset($content->submit_button_border_color))?$content->submit_button_border_color:''?>">
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Button Hover Border Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[submit_button_hover_border_color]" value="<?php echo (isset($content->submit_button_hover_border_color))?$content->submit_button_hover_border_color:''?>">
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Button Border Width/size</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[submit_button_border_width]', (isset($content->submit_button_border_width))?$content->submit_button_border_width:'1px', array('class'=>'form-control bg-gray'),
										array(''=>'Default','0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
									)?>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-4">
								<label class="text-black m-b-5">Button Width</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray" name="content[submit_button_width]" value="<?php echo (isset($content->submit_button_width))?$content->submit_button_width:''?>">
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Button Padding (top/bottom)</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[submit_button_padding_tb]', (isset($content->submit_button_padding_tb))?$content->submit_button_padding_tb:'', array('class'=>'form-control bg-gray'),
										array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
											'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px',
											'24px'=>'24px','28px'=>'28px','32px'=>'32px')
									)?>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Button Padding (left/right)</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[submit_button_padding_lr]', (isset($content->submit_button_padding_lr))?$content->submit_button_padding_lr:'', array('class'=>'form-control bg-gray'),
										array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
											'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px',
											'24px'=>'24px','28px'=>'28px','32px'=>'32px')
									)?>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5">Button Alignment</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[submit_button_alignment]', (isset($content->submit_button_alignment))?$content->submit_button_alignment:'', array('class'=>'form-control bg-gray'),
										array(
											'flex-justify-start' => 'Left',
											'flex-justify-center' => 'Center',
											'flex-justify-end' => 'Right'
										)
									)?>
								</div>
							</div>
						</div>
					</div>

					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseConfirmation" aria-expanded="false" aria-controls="collapseConfirmation">Form Confirmation: <i class="fas fa-plus-square"></i></h3>
					<div id="collapseConfirmation" class="collapse">
						<div class="row">
							<div class="col-sm-6">
								<label class="text-black m-b-5">Confirmation Type:</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[confirmation_type]', (isset($content->confirmation_type))?$content->confirmation_type:'', array('id'=>'confirmation_type','class'=>'form-control bg-gray'),
										array(''=>'Reload Page','replace_form'=>'Replace Form with Text','select_page'=>'Custom Page','select_modal'=>'Custom Modal')
									)?>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="confirmation_type-options confirmation_type-select_page">
										<label class="text-black m-b-5">Confirmation Page:</label>
										<div class="panel panel--module">
											<?php
											$mapper = new Admin_Model_Mapper_Page();
											$options = $mapper->fetchPagePairs();

											echo $this->formSelect('content[confirmation_page_code]', (isset($content->confirmation_page_code))?$content->confirmation_page_code:'', array('class'=>'form-control bg-gray'),
												array(''=>'Select Page')+$options
											)
											?>
										</div>
									</div>
									<div class="confirmation_type-options confirmation_type-select_modal">
										<label class="text-black m-b-5">Confirmation Page:</label>
										<div class="panel panel--module">
											<?php
											$mapper = new Admin_Model_Mapper_Page();
											$modals = $mapper->fetchModals();
											$options = [];
											foreach ($modals as $modal) {
												$options[$modal->code] = $modal->title;
											}

											echo $this->formSelect('content[confirmation_modal_id]', (isset($content->confirmation_modal_id))?$content->confirmation_modal_id:'', array('class'=>'form-control bg-gray'),
												array(''=>'Select Modal')+$options
											)
											?>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 confirmation_type-options confirmation_type-replace_form">
								<label class="text-black m-b-5">Confirmation Text:</label>
								<div class="panel panel--module">
									<textarea class="form-control bg-gray tinymce" name="content[confirmation_text]"><?php echo (isset($content->confirmation_text))?$content->confirmation_text:''?></textarea>
								</div>
							</div>
						</div>
					</div>

					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseResponseEmail" aria-expanded="false" aria-controls="collapseResponseEmail">Response Email: <i class="fas fa-plus-square"></i></h3>
					<div id="collapseResponseEmail" class="collapse">
						<div class="row">
							<div class="col-sm-6">
								<label class="text-black m-b-5">Response Email:</label>
								<div class="panel panel--module">
									<?php
									$enabled = (isset($content->response_email_status) && $content->response_email_status == 'Enabled')?'on':'off';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="content[response_email_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="content[response_email_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
							<div class="col-sm-12 confirmation_type-options confirmation_type-replace_form">
								<label class="text-black m-b-5">Response Email Text:</label>
								<div class="panel panel--module">
									<textarea class="form-control bg-gray tinymce" name="content[response_email_text]"><?php echo (isset($content->response_email_text))?$content->response_email_text:''?></textarea>
								</div>
							</div>
						</div>
					</div>

					<?php
					//create label slugs for mappings
					use Cocur\Slugify\Slugify;
					$slugify = new Slugify();

					$codes = array();
					foreach ($panels as $panel) {
						$code = $orig_code = $slugify->slugify($panel->label);
						$counter = 1;
						while (in_array($code, $codes)) {
							$code = $orig_code . "_" . $counter;
							$counter++;
						}
						$codes[$panel->label] = $code;
					}
					?>

					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseLogic" aria-expanded="false" aria-controls="collapseLogic">LOGIC List Manager: <i class="fas fa-plus-square"></i></h3>
					<div id="collapseLogic" class="collapse">

						<div class="row">
							<div class="col-sm-12 form-horizontal">
								<div class="form-group">
									<label class="col-sm-4 text-black m-b-5">Column 1:</label>
									<div class="col-sm-8">
										<?php echo $this->formSelect("content[logic_mappings][column_1]", (isset($content->logic_mappings->column_1))?$content->logic_mappings->column_1:'', array('class'=>'form-control bg-gray'),
											array(""=>"None")+array_flip($codes)
										)?>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 form-horizontal">
								<div class="form-group">
									<label class="col-sm-4 text-black m-b-5">Column 2:</label>
									<div class="col-sm-8">
										<?php echo $this->formSelect("content[logic_mappings][column_2]", (isset($content->logic_mappings->column_2))?$content->logic_mappings->column_2:'', array('class'=>'form-control bg-gray'),
											array(""=>"None")+array_flip($codes)
										)?>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 form-horizontal">
								<div class="form-group">
									<label class="col-sm-4 text-black m-b-5">Column 3:</label>
									<div class="col-sm-8">
										<?php echo $this->formSelect("content[logic_mappings][column_3]", (isset($content->logic_mappings->column_3))?$content->logic_mappings->column_3:'', array('class'=>'form-control bg-gray'),
											array(""=>"None")+array_flip($codes)
										)?>
									</div>
								</div>
							</div>
						</div>
					</div>

					<?php
					$settings_mapper = new Application_Model_Mapper_SiteSettingValue();

					if ($settings_mapper->getValueByCode('sharpspring_account_id') && $settings_mapper->getValueByCode('sharpspring_secret_key') ) {
						$sharpspring = new Application_Model_SharpSpring();

						$lists = $sharpspring->getLists();
						$sharpspring_lists = array('' => '');
						foreach ($lists as $k => $list) {
							$sharpspring_lists[$list->id] = $list->name;
						}
					?>
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseSharpspring" aria-expanded="false" aria-controls="collapseSharpspring">AION Integration: <i class="fas fa-plus-square"></i></h3>
					<div id="collapseSharpspring" class="collapse">
						<div class="row">
							<div class="col-sm-6">
								<label class="text-black m-b-5">Add to AION Lead on Submit:</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[sharpspring_lead_add]', (isset($content->sharpspring_lead_add))?$content->sharpspring_lead_add:'', array('class'=>'form-control bg-gray'),
										array('No'=>'No','Yes'=>'Yes')
									)?>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-black m-b-5">AION List ID</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[sharpspring_list_id]', (isset($content->sharpspring_list_id))?$content->sharpspring_list_id:'', array('class'=>'form-control bg-gray'),
										$sharpspring_lists
									)?>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 form-horizontal">
								<h4 class="text-black m-b-15">AION Field Mappings:</h4>
								<?php
								if (isset($panels)) {
									$fields = $sharpspring->getFields();
									//filter out fields that aren't in Contact Manager
									$sharpspring_options = array('' => '');
									foreach ($fields as $k => $field) {
										if ($field->isActive == 1 && $field->isAvailableInContactManager == 1) {
											$sharpspring_options[$field->systemName] = $field->label;
										}
									}

									if (isset($content->sharpspring_mappings)) {
										$mappings = (array)$content->sharpspring_mappings;
									}
									foreach ($panels as $k => $panel) {
										foreach ((array)$panel as $name => $val) {
											if ($name == 'label') {
												?>
												<div class="form-group">
													<label class="col-sm-4 text-black m-b-5"><?php echo $val ?>:</label>
													<div class="col-sm-8">
														<!--<input type="text" class="form-control" name="content[sharpspring_mappings][<?php echo $codes[$val] ?>]" value="<?php echo (isset($mappings[$codes[$val]]))?$mappings[$codes[$val]]:''?>">-->
														<?php echo $this->formSelect("content[sharpspring_mappings][{$codes[$val]}]", (isset($mappings[$codes[$val]]))?$mappings[$codes[$val]]:'', array('class'=>'form-control bg-gray'),
															$sharpspring_options
														)?>
													</div>
												</div>
												<?php
											}
										}
									}
								}
								?>
							</div>
						</div>
					</div>
					<?php } ?>

					<?php
					$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
					if ($settings_mapper->getValueByCode('mailchimp_secret_key')) {
					?>
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseMailchimp" aria-expanded="false" aria-controls="collapseMailchimp">MailChimp Integration: <i class="fas fa-plus-square"></i></h3>
					<div id="collapseMailchimp" class="collapse">
						<div class="row">
							<div class="col-sm-6">
								<label class="text-black m-b-5">Add to MailChimp List on Submit:</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[mailchimp_lead_add]', (isset($content->mailchimp_lead_add))?$content->mailchimp_lead_add:'', array('class'=>'form-control bg-gray'),
										array('No'=>'No','Yes'=>'Yes')
									)?>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-black m-b-5">MailChimp List ID</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray" name="content[mailchimp_list_id]" value="<?php echo (isset($content->mailchimp_list_id))?$content->mailchimp_list_id:''?>">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 form-horizontal">
								<h4 class="text-black m-b-15">MailChimp Field Mappings:</h4>
								<?php
								if (isset($panels)) {
									if (isset($content->mailchimp_mappings)) {
										$mappings = (array)$content->mailchimp_mappings;
									}
									foreach ($panels as $k => $panel) {
										foreach ((array)$panel as $name => $val) {
											if ($name == 'label') {
												?>
												<div class="form-group">
													<label class="col-sm-4 text-black m-b-5"><?php echo $val ?>:</label>
													<div class="col-sm-8">
														<input type="text" class="form-control" name="content[mailchimp_mappings][<?php echo $codes[$val] ?>]" value="<?php echo (isset($mappings[$codes[$val]]))?$mappings[$codes[$val]]:''?>">
													</div>
												</div>
												<?php
											}
										}
									}
								}
								?>
							</div>
						</div>
					</div>
					<?php } ?>

				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<?php /*
<div class="hidden list-row ui-sortable-handle" id="new-panel_row">
	<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
		<div class="controls controls--horizontal">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-edit-btn"><i class="fas fa-bars"></i></button>
				<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
			</div>
		</div>
		<div class="panel__title" id="module_label-"></div>
		<div class="controls">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>
*/ ?>

<script>
	$(function() {
		window.cny.moduleSubPanels();
		window.cny.wysiwyg();

		$(".conditional").hide();
		$(".conditional-trigger").on("change",function(){
			$(".conditional").hide();
			$("#"+$(this).val()).show();
		});

		$(".confirmation_type-options").hide();
		$("#confirmation_type").on("change",function(){
			$(".confirmation_type-options").hide();
			$(".confirmation_type-"+$(this).val()).show();
		});
		<?php if (isset($content->confirmation_type) && $content->confirmation_type) {?>
		$(".confirmation_type-<?php echo $content->confirmation_type?>").show();
		<?php } ?>

	});
</script>
