<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);

//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="panel-edit__body">
				<div class="form-group text-left">

					<div class="row">
						<div class="col-sm-6">
							<label class="text-black m-b-5">Title Tag</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[title_tag]', (isset($content->title_tag))?$content->title_tag:'div', array('class'=>'form-control bg-gray'),
									array(
										'div' => 'Default',
										'h1' => 'H1',
										'h2' => 'H2',
										'h3' => 'H3',
										'h4' => 'H4',
										'h5' => 'H5',
										'h6' => 'H6',
									)
								)?>
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-5">Title Alignment</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[title_alignment]', (isset($content->title_alignment))?$content->title_alignment:'', array('class'=>'form-control bg-gray'),
									array(
										'' => 'Left',
										'text-center' => 'Center',
										'text-right' => 'Right',
									)
								)?>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label class="text-black m-b-5">Title Size</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="content[title_size]" value="<?php echo (isset($content->title_size))?$content->title_size:''?>">
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-5">Title Line Height</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[title_line_height]', (isset($content->title_line_height))?$content->title_line_height:'', array('class'=>'form-control bg-gray'),
									array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
										'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px','44px','48px','50px','60px')
								)?>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4">
							<label class="text-black m-b-5">Title Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray complex-colorpicker" name="content[title_color]" value="<?php echo (isset($content->title_color))?$content->title_color:''?>">
							</div>
						</div>
						<div class="col-sm-4">
							<label class="text-black m-b-5">Title Font Weight</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[title_font_weight]', (isset($content->title_font_weight))?$content->title_font_weight:'bold', array('class'=>'form-control bg-gray'),
									array(
										'' => 'Default',
										'300' => 'Light',
										'400' => 'Regular',
										'500' => 'Medium',
										'600' => 'Semi Bold',
										'700' => 'Bold',
										'800' => 'Bolder'
									)
								)?>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group text-left">
								<label for="" class="m-b-5 text-black">Title Font:</label>
								<div class="panel panel--module bg-gray">
									<select name="content[title_font]" class="from-control selectpicker font-selector" data-weight="content[title_font_weight]">
										<?php
										$value = (isset($content->tab_font))?$content->title_font:'';
										foreach ($font_options as $k => $v) {
											$selected = ($k == $value)?"selected":"";
											?>
											<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
											<?php
										}
										?>
									</select>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>

</form>

<script>
	$(function() {
		window.cny.fontWeightUpdater();

		$(".selectpicker").selectpicker();
	});
</script>
