<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);
$panels = array();
if (isset($content->panels)) {
	foreach ($content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">

			<div id="panelForm" class="panel-edit">
				<input type="hidden" class="form-control" id="panelForm-id" value="">
				<input type="hidden" class="form-control copy" id="panelForm-sort_order" data-name="sort_order" value="">
				<div class="panel-edit__body">
					<div class="form-group text-left">
						<h3 class="form-group-title m-b-5">Form Field</h3>

						<label class="text-black m-b-5">Field Type:</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('panelForm[field_type]', '', array('class'=>'form-control copy bg-gray conditional-trigger', 'data-name'=>'field_type'), array(
								"text"=>"Text",
								"email"=>"Email Address",
								"textarea"=>"Text Area",
								"select"=>"Select/Drop down",
								"checkbox"=>"Checkbox(es)",
								"radio"=>"Radio options",
								"recaptcha"=>"reCAPTCHA",
								"region"=>"State/Region",
								"country"=>"Country",
								"label"=>"Label",
								"tip"=>"Tip % (variable or fixed)",
								"recurring"=>"Recurring Payment Option",
							))?>
						</div>

						<label class="text-black m-b-5">Field Name:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control copy bg-gray" id="panelForm-label" data-name="label" value="">
						</div>

						<div id="recaptcha" class="conditional">
							<div>You first need to signup for Google reCAPTCHA v2 and enter your keys in Settings -> Website Settings -> Plugins</div>

							<?php
							// form specific settings deprecated and moved to site settings -> plugins section
							?>
							<!--
							<label class="text-black m-b-5">reCAPTCHA Version:</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('panelForm[recaptcha_version]', '', array('class'=>'form-control copy bg-gray', 'data-name'=>'recaptcha_version'), array("v2"=>"reCAPTCHA v2"))?>
							</div>

							<label class="text-black m-b-5">reCAPTCHA Site Key:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control copy bg-gray" id="panelForm-recaptcha_site_key" data-name="recaptcha_site_key" value="">
							</div>

							<label class="text-black m-b-5">reCAPTCHA Secret Key:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control copy bg-gray" id="panelForm-recaptcha_secret_key" data-name="recaptcha_secret_key" value="">
							</div>
							-->
						</div>

						<div id="select" class="conditional">
							<label class="text-black m-b-5">Options:
								<br/><small class="help-block">enter each on own line</small>
							</label>
							<div class="panel panel--module">
								<textarea class="form-control copy" id="panelForm-select_options" data-name="select_options" data-type="textarea"></textarea>
							</div>
						</div>

						<div id="checkbox" class="conditional">
							<label class="text-black m-b-5">Options:
								<br/><small class="help-block">enter each on own line</small>
							</label>
							<div class="panel panel--module">
								<textarea class="form-control copy" id="panelForm-checkbox_options" data-name="checkbox_options" data-type="textarea"></textarea>
							</div>
						</div>

						<div id="radio" class="conditional">
							<label class="text-black m-b-5">Options:
								<br/><small class="help-block">enter each on own line</small>
							</label>
							<div class="panel panel--module">
								<textarea class="form-control copy" id="panelForm-radio_options" data-name="radio_options" data-type="textarea"></textarea>
							</div>

							<label class="text-black m-b-5">Add "Other" option:</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('panelForm[radio_other]', '', array('class'=>'form-control copy bg-gray', 'data-name'=>'radio_other'), array("no"=>"No","yes"=>"Yes"))?>
							</div>
						</div>

						<div id="email" class="conditional">
							<label class="text-black m-b-5">Send Confirmation Email:</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('panelForm[send_confirmation_email]', '', array('class'=>'form-control copy bg-gray', 'data-name'=>'send_confirmation_email'), array("yes"=>"Yes","no"=>"No"))?>
							</div>
						</div>

						<div id="label" class="conditional">
							<div class="col-sm-6">
								<label class="text-black m-b-5">Text Size</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('panelForm[text_size]', '', array('class'=>'form-control copy bg-gray', 'data-name'=>'text_size'),
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									)?>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-black m-b-5">Text Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control copy bg-gray complex-colorpicker" id="panelForm-text_color" data-name="text_color" value="">
								</div>
							</div>
						</div>

						<div id="tip" class="conditional">
							<label class="text-black m-b-5">Tip Percentage <small>(leave empty for free entry)</small></label>
							<div class="panel panel--module">
								<div class="input-group">
									<input type="text" class="form-control copy bg-gray" id="panelForm-tip_percent" data-name="tip_percent" value="">
									<div class="input-group-addon">%</div>
								</div>
							</div>
						</div>

						<div id="recurring" class="conditional">
							<label class="text-black m-b-5">Recurring Payment Option(s) <small>(hold CTRL/CMD to select multiple options)</small></label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('panelForm[recurring_options]', '', array('class'=>'form-control copy bg-gray', 'data-name'=>'recurring_options', 'multiple'=>'multiple'), array("Monthly"=>"Monthly","Annually"=>"Annually","Weekly"=>"Weekly","Daily"=>"Daily"))?>
							</div>

							<label class="text-black m-b-5">Recurring Plan ID - Payrix / Stripe <small>MUST select the option above that matches the plan</small></label>
							<div class="panel panel--module">
								<input type="text" class="form-control copy bg-gray" id="panelForm-recurring_plan_id" data-name="recurring_plan_id" value="">
							</div>
						</div>

						<label class="text-black m-b-5">Required:</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('panelForm[field_required]', '', array('class'=>'form-control copy bg-gray', 'data-name'=>'field_required'), array("no"=>"No","yes"=>"Yes"))?>
						</div>

						<label class="text-black m-b-5">Is Payment Amount Field:</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('panelForm[is_payment_amount]', '', array('class'=>'form-control copy bg-gray conditional-min-trigger', 'data-name'=>'is_payment_amount'), array("no"=>"No","yes"=>"Yes"))?>
							<br/><strong>NOTE: Only make one (1) field the payment amount field</strong>
						</div>

						<div id="is_payment_amount" class="conditional-min">
							<label class="text-black m-b-5">Minimum Required Payment Amount ($)</label>
							<div class="panel panel--module">
								<div class="input-group">
									<div class="input-group-addon">$</div>
									<input type="number" class="form-control copy bg-gray" id="panelForm-min_amount" data-name="min_amount" value="">
								</div>
							</div>
						</div>

						<label class="text-black m-b-5">Panel Status</label>
						<div class="panel panel--module">
							<select class="form-control copy" id="panelForm-status" data-name="status">
								<option value="Enabled">Enabled</option>
								<option value="Disabled">Disabled</option>
							</select>
						</div>
					</div>
				</div>

				<div class="break-row p-t-50">
					<div class="btn-group btn-group-justified">
						<a class="btn btn-lg btn-warning waves-effect waves-light" id="cancel-panel">Cancel</a>
						<a class="btn btn-lg btn--purple waves-effect waves-light" id="save-panel">Save Panel</a>
					</div>
				</div>
			</div>

			<div class="panel-view panel-edit__body">
				<div id="hero-list">

					<div class="flex-row">
						<div class="list-div flex-grow-1">
							<?php
							if (isset($panels)) {
								foreach ($panels as $k => $panel) {
									?>
									<div class="list-row" data-id="panel_<?php echo $k?>">
										<?php foreach ((array)$panel as $name => $val) {
											//need textarea for some fields
											if (in_array($name,array('select_options','checkbox_options','radio_options'))) {
												?>
												<textarea class="hide" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>"><?php echo $val?></textarea>
												<?php
											}else {
												?>
												<input type="hidden" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>" value="<?php echo $val?>">
											<?php }
										} ?>

										<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
											<div class="controls controls--horizontal">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-edit-btn" data-rel="<?php echo $k?>"><i class="fas fa-bars"></i></button>
													<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
												</div>
											</div>
											<div class="panel__title" id="module_label-"><?php $k_plus = $k+1; echo ($panel->label)?$panel->label:"Panel {$k_plus}"?></div>
											<div class="controls">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete" data-rel="<?php echo $k?>"><i class="fas fa-times"></i></button>
												</div>
											</div>
										</div>
									</div>
									<?php
								}
							}?>
						</div>
					</div>

				</div>
				<div class="panel panel--module bg-border flex-row flex-align-center flex-justify-center">
					<div class="controls controls--footer text-center flex-grow-1 p-0">
						<a class="btn btn-xs btn--link p-t-10 p-b-10" id="add-panel" href=""><i class="fas fa-plus-square"></i> Add Form Field</a>
					</div>
				</div>

				<div class="form-group text-left">
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseForm" aria-expanded="true" aria-controls="collapseForm">Form <i class="fas fa-minus-square"></i></h3>

					<div id="collapseForm" class="collapse in">
						<label class="text-black m-b-5">Form Width:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray" name="content[form_width]" value="<?php echo isset($content->form_width)?$content->form_width:''?>">
						</div>

						<label class="text-black m-b-5">Form Name:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray" name="content[form_name]" value="<?php echo isset($content->form_name)?$content->form_name:''?>">
						</div>

						<label class="text-black m-b-5">From Email Address (address emails come from):</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray" name="content[from_email_address]" value="<?php echo isset($content->from_email_address)?$content->from_email_address:''?>">
						</div>

						<label class="text-black m-b-5">Email Address (to email submissions):</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray" name="content[email_address]" value="<?php echo isset($content->email_address)?$content->email_address:''?>">
						</div>

						<label class="text-black m-b-5">Form Intro/Description:</label>
						<div class="panel panel--module">
							<textarea class="form-control tinymce" name="content[intro]"><?php echo (isset($content->intro))?$content->intro:''?></textarea>
						</div>

						<div class="row">
							<div class="col-sm-3">
								<label class="text-black m-b-5">Label Position</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[label_position]', (isset($content->label_position))?$content->label_position:'', array('class'=>'form-control bg-gray'),
										array(''=>'Above','inline'=>'Inline','placeholder'=>'In-field/Placeholder')
									)?>
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Label Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[label_color]" value="<?php echo (isset($content->label_color))?$content->label_color:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Label Size</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[label_size]', (isset($content->label_size) && $content->label_size)?$content->label_size:'', array('class'=>'form-control bg-gray'),
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									)?>
								</div>
							</div>
							<div class="col-sm-3">
								<label for="" class="m-b-5 text-black">Label Font:</label>
								<div class="panel panel--module bg-gray">
									<select class="form-control -selectpicker font-selector" data-weight="content[]" name="content[label_font]">
										<?php
										$value = (isset($content->label_font) && $content->label_font)?$content->label_font:'';
										foreach ($font_options as $k => $v) {
											$selected = ($k == $value)?"selected":"";
											?>
											<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
											<?php
										}
										?>
									</select>
								</div>
							</div>
						</div>

						<label class="text-black m-b-5">Review Background Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray complex-colorpicker" name="content[review_background_color]" value="<?php echo (isset($content->review_background_color))?$content->review_background_color:''?>">
						</div>

						<label class="text-black m-b-5">Payment Gateway:</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('content[payment_gateway]', (isset($content->payment_gateway))?$content->payment_gateway:'', array('class'=>'form-control bg-gray'),
								array(""=>"Must Choose One","payrix"=>"Payrix","stripe"=>"Stripe","authorize_net"=>"Authorize.net","payflowpro"=>"PayPal Payflow Pro")
							)?>
						</div>

					</div>
				</div>

				<div class="form-group text-left">

					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseSubmit" aria-expanded="false" aria-controls="collapseSumbit">Submit Button: <i class="fas fa-plus-square"></i></h3>
					<div id="collapseSubmit" class="collapse">
						<div class="row">
							<div class="col-sm-6">
								<label class="text-black m-b-5">Text:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray" name="content[submit_button_text]" value="<?php echo (isset($content->submit_button_text))?$content->submit_button_text:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Text Size</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[submit_button_text_size]', (isset($content->submit_button_text_size))?$content->submit_button_text_size:'', array('class'=>'form-control bg-gray'),
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
									)?>
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Text Weight</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[submit_button_text_weight]', (isset($content->submit_button_text_weight))?$content->submit_button_text_weight:'', array('class'=>'form-control bg-gray'),
										array(
											'' => 'Default',
											'300' => 'Light',
											'400' => 'Regular',
											'500' => 'Medium',
											'600' => 'Semi Bold',
											'700' => 'Bold',
											'800' => 'Bolder'
										)
									)?>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label class="text-black m-b-5">Text Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[submit_button_text_color]" value="<?php echo (isset($content->submit_button_text_color))?$content->submit_button_text_color:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Text Hover Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[submit_button_text_hover_color]" value="<?php echo (isset($content->submit_button_text_hover_color))?$content->submit_button_text_hover_color:''?>">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<label class="text-black m-b-5">Button Color:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[submit_button_color]" value="<?php echo (isset($content->submit_button_color))?$content->submit_button_color:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Button Hover Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[submit_button_hover_color]" value="<?php echo (isset($content->submit_button_hover_color))?$content->submit_button_hover_color:''?>">
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-black m-b-5">Button Style:</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[submit_button_class]', (isset($content->submit_button_class))?$content->submit_button_class:'', array('class'=>'form-control bg-gray'),
										array('btn-square'=>'Square','btn-round'=>'Rounded','btn-round-4px'=>'Rounded Corners','btn-outline'=>'Outlined (transparent background)','btn-square-full'=>'Full Width','btn-round-full'=>'Full Width Rounded','btn-round-4px-full'=>'Full Width Rounded Corners')
									)?>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label class="text-black m-b-5">Button Border:</label>
								<div class="row">
									<div class="col-sm-3">
										<label class="text-black m-b-5"></label>
										<div class="panel panel--module">
											<?php
											$enabled = (isset($content->submit_button_border_status) && $content->submit_button_border_status == 'Disabled')?'off':'on';
											?>
											<div class="btn-group" id="status" data-toggle="buttons">
												<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
													<input type="radio" value="Enabled" name="content[submit_button_border_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
												<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
													<input type="radio" value="Disabled" name="content[submit_button_border_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5">Button Border Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[submit_button_border_color]" value="<?php echo (isset($content->submit_button_border_color))?$content->submit_button_border_color:''?>">
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5">Button Hover Border Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[submit_button_hover_border_color]" value="<?php echo (isset($content->submit_button_hover_border_color))?$content->submit_button_hover_border_color:''?>">
										</div>
									</div>
									<div class="col-sm-3">
										<label class="text-black m-b-5">Button Border Width/size</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[submit_button_border_width]', (isset($content->submit_button_border_width))?$content->submit_button_border_width:'1px', array('class'=>'form-control bg-gray'),
												array(''=>'Default','0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
											)?>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseConfirmation" aria-expanded="false" aria-controls="collapseConfirmation">Form Confirmation: <i class="fas fa-plus-square"></i></h3>
					<div id="collapseConfirmation" class="collapse">
						<div class="row">
							<div class="col-sm-6">
								<label class="text-black m-b-5">Confirmation Type:</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[confirmation_type]', (isset($content->confirmation_type))?$content->confirmation_type:'', array('id'=>'confirmation_type','class'=>'form-control bg-gray'),
										//array(''=>'Reload Page','replace_form'=>'Replace Form with Text','select_page'=>'Custom Page','select_modal'=>'Custom Modal')
										array(''=>'Select Option','replace_form'=>'Replace Form with Text','select_page'=>'Custom Page')
									)?>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="confirmation_type-options confirmation_type-select_page">
										<label class="text-black m-b-5">Confirmation Page:</label>
										<div class="panel panel--module">
											<?php
											$mapper = new Admin_Model_Mapper_Page();
											$options = $mapper->fetchPagePairs();

											echo $this->formSelect('content[confirmation_page_code]', (isset($content->confirmation_page_code))?$content->confirmation_page_code:'', array('class'=>'form-control bg-gray'),
												array(''=>'Select Page')+$options
											)
											?>
										</div>
									</div>
									<div class="confirmation_type-options confirmation_type-select_modal">
										<label class="text-black m-b-5">Confirmation Modal:</label>
										<div class="panel panel--module">
											<?php
											$mapper = new Admin_Model_Mapper_Page();
											$modals = $mapper->fetchModals();
											$options = [];
											foreach ($modals as $modal) {
												$options[$modal->code] = $modal->title;
											}

											echo $this->formSelect('content[confirmation_modal_id]', (isset($content->confirmation_modal_id))?$content->confirmation_modal_id:'', array('class'=>'form-control bg-gray'),
												array(''=>'Select Modal')+$options
											)
											?>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 confirmation_type-options confirmation_type-replace_form">
								<label class="text-black m-b-5">Confirmation Text:</label>
								<div class="panel panel--module">
									<textarea class="form-control bg-gray tinymce" name="content[confirmation_text]"><?php echo (isset($content->confirmation_text))?$content->confirmation_text:''?></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label class="text-black m-b-5">Email Confirmation Intro Text:</label>
								<div class="panel panel--module">
									<textarea class="form-control bg-gray tinymce" name="content[email_confirmation_text]"><?php echo (isset($content->email_confirmation_text))?$content->email_confirmation_text:''?></textarea>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<label class="text-black m-b-5">Email Confirmation Footer Text:</label>
								<div class="panel panel--module">
									<textarea class="form-control bg-gray tinymce" name="content[email_confirmation_bottom_text]"><?php echo (isset($content->email_confirmation_bottom_text))?$content->email_confirmation_bottom_text:''?></textarea>
								</div>
							</div>
						</div>
					</div>

					<?php
					//create label slugs for mappings
					use Cocur\Slugify\Slugify;
					$slugify = new Slugify();

					$codes = array();
					foreach ($panels as $panel) {
						$code = $orig_code = $slugify->slugify($panel->label);
						$counter = 1;
						while (in_array($code, $codes)) {
							$code = $orig_code . "_" . $counter;
							$counter++;
						}
						$codes[$panel->label] = $code;
					}
					?>

					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseLogic" aria-expanded="false" aria-controls="collapseLogic">LOGIC List Manager: <i class="fas fa-plus-square"></i></h3>
					<div id="collapseLogic" class="collapse">

						<div class="row">
							<div class="col-sm-12 form-horizontal">
								<div class="form-group">
									<label class="col-sm-4 text-black m-b-5">Column 1:</label>
									<div class="col-sm-8">
										<?php echo $this->formSelect("content[logic_mappings][column_1]", (isset($content->logic_mappings->column_1))?$content->logic_mappings->column_1:'', array('class'=>'form-control bg-gray'),
											array(""=>"None")+array_flip($codes)
										)?>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 form-horizontal">
								<div class="form-group">
									<label class="col-sm-4 text-black m-b-5">Column 2:</label>
									<div class="col-sm-8">
										<?php echo $this->formSelect("content[logic_mappings][column_2]", (isset($content->logic_mappings->column_2))?$content->logic_mappings->column_2:'', array('class'=>'form-control bg-gray'),
											array(""=>"None")+array_flip($codes)
										)?>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 form-horizontal">
								<div class="form-group">
									<label class="col-sm-4 text-black m-b-5">Column 3:</label>
									<div class="col-sm-8">
										<?php echo $this->formSelect("content[logic_mappings][column_3]", (isset($content->logic_mappings->column_3))?$content->logic_mappings->column_3:'', array('class'=>'form-control bg-gray'),
											array(""=>"None")+array_flip($codes)
										)?>
									</div>
								</div>
							</div>
						</div>
					</div>

					<?php
					$settings_mapper = new Application_Model_Mapper_SiteSettingValue();

					if ($settings_mapper->getValueByCode('sharpspring_account_id') && $settings_mapper->getValueByCode('sharpspring_secret_key') ) {
						$sharpspring = new Application_Model_SharpSpring();

						$lists = $sharpspring->getLists();
						$sharpspring_lists = array('' => '');
						foreach ($lists as $k => $list) {
							$sharpspring_lists[$list->id] = $list->name;
						}
					?>
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseSharpspring" aria-expanded="false" aria-controls="collapseSharpspring">AION Integration: <i class="fas fa-plus-square"></i></h3>
					<div id="collapseSharpspring" class="collapse">
						<div class="row">
							<div class="col-sm-6">
								<label class="text-black m-b-5">Add to AION Lead on Submit:</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[sharpspring_lead_add]', (isset($content->sharpspring_lead_add))?$content->sharpspring_lead_add:'', array('class'=>'form-control bg-gray'),
										array('No'=>'No','Yes'=>'Yes')
									)?>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-black m-b-5">AION List ID</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[sharpspring_list_id]', (isset($content->sharpspring_list_id))?$content->sharpspring_list_id:'', array('class'=>'form-control bg-gray'),
										$sharpspring_lists
									)?>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 form-horizontal">
								<h4 class="text-black m-b-15">AION Field Mappings:</h4>
								<?php
								if (isset($panels)) {
									$fields = $sharpspring->getFields();
									//filter out fields that aren't in Contact Manager
									$sharpspring_options = array('' => '');
									foreach ($fields as $k => $field) {
										if ($field->isActive == 1 && $field->isAvailableInContactManager == 1) {
											$sharpspring_options[$field->systemName] = $field->label;
										}
									}

									if (isset($content->sharpspring_mappings)) {
										$mappings = (array)$content->sharpspring_mappings;
									}
									foreach ($panels as $k => $panel) {
										foreach ((array)$panel as $name => $val) {
											if ($name == 'label') {
												?>
												<div class="form-group">
													<label class="col-sm-4 text-black m-b-5"><?php echo $val ?>:</label>
													<div class="col-sm-8">
														<!--<input type="text" class="form-control" name="content[sharpspring_mappings][<?php echo $codes[$val] ?>]" value="<?php echo (isset($mappings[$codes[$val]]))?$mappings[$codes[$val]]:''?>">-->
														<?php echo $this->formSelect("content[sharpspring_mappings][{$codes[$val]}]", (isset($mappings[$codes[$val]]))?$mappings[$codes[$val]]:'', array('class'=>'form-control bg-gray'),
															$sharpspring_options
														)?>
													</div>
												</div>
												<?php
											}
										}
									}
								}
								?>
							</div>
						</div>
					</div>
					<?php } ?>

					<?php
					$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
					if ($settings_mapper->getValueByCode('mailchimp_secret_key')) {
					?>
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseMailchimp" aria-expanded="false" aria-controls="collapseMailchimp">MailChimp Integration: <i class="fas fa-plus-square"></i></h3>
					<div id="collapseMailchimp" class="collapse">
						<div class="row">
							<div class="col-sm-6">
								<label class="text-black m-b-5">Add to MailChimp List on Submit:</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[mailchimp_lead_add]', (isset($content->mailchimp_lead_add))?$content->mailchimp_lead_add:'', array('class'=>'form-control bg-gray'),
										array('No'=>'No','Yes'=>'Yes')
									)?>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-black m-b-5">MailChimp List ID</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray" name="content[mailchimp_list_id]" value="<?php echo (isset($content->mailchimp_list_id))?$content->mailchimp_list_id:''?>">
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 form-horizontal">
								<h4 class="text-black m-b-15">MailChimp Field Mappings:</h4>
								<?php
								if (isset($panels)) {
									if (isset($content->mailchimp_mappings)) {
										$mappings = (array)$content->mailchimp_mappings;
									}
									foreach ($panels as $k => $panel) {
										foreach ((array)$panel as $name => $val) {
											if ($name == 'label') {
												?>
												<div class="form-group">
													<label class="col-sm-4 text-black m-b-5"><?php echo $val ?>:</label>
													<div class="col-sm-8">
														<input type="text" class="form-control" name="content[mailchimp_mappings][<?php echo $codes[$val] ?>]" value="<?php echo (isset($mappings[$codes[$val]]))?$mappings[$codes[$val]]:''?>">
													</div>
												</div>
												<?php
											}
										}
									}
								}
								?>
							</div>
						</div>
					</div>
					<?php } ?>

				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<div class="hidden list-row ui-sortable-handle" id="new-panel_row">
	<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
		<div class="controls controls--horizontal">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-edit-btn"><i class="fas fa-bars"></i></button>
				<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
			</div>
		</div>
		<div class="panel__title" id="module_label-"></div>
		<div class="controls">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		window.cny.moduleSubPanels();
		window.cny.wysiwyg();
		window.cny.fontWeightUpdater();

		$(".conditional").hide();
		$(".conditional-trigger").on("change",function(){
			$(".conditional").hide();
			$("#"+$(this).val()).show();
		});

		$(".conditional-min").hide();
		setInterval(function(){
			if ($(".conditional-min-trigger").val() == 'yes') {
				$(".conditional-min").show();
			}else {
				$(".conditional-min").hide();
				$(".conditional-min input").val('');
			}
		},100);

		$(".confirmation_type-options").hide();
		$("#confirmation_type").on("change",function(){
			$(".confirmation_type-options").hide();
			$(".confirmation_type-"+$(this).val()).show();
		});
		<?php if (isset($content->confirmation_type) && $content->confirmation_type) {?>
		$(".confirmation_type-<?php echo $content->confirmation_type?>").show();
		<?php } ?>

	});
</script>
