<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);

$mapper = new Admin_Model_Mapper_Category();
$categories = $mapper->fetchIdPairs();
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="panel-edit__body">
				<div class="form-group text-left">
					<label class="text-black m-b-5"> Limit By Category:</label>
					<div class="panel panel--module">
						<?php echo $this->formSelect('content[category_id]', (isset($content->category_id))?$content->category_id:'', array('class'=>'form-control bg-gray'),
							array(""=>"All")+$categories
						)?>
					</div>

					<label class="text-black m-b-5"> Number of Reviews to Display:</label>
					<div class="panel panel--module">
						<?php echo $this->formSelect('content[review_limit]', (isset($content->review_limit))?$content->review_limit:1, array('class'=>'form-control bg-gray'), array(1=>1,2=>2,3=>3,4=>4,6=>6))?>
					</div>

					<label class="text-black m-b-5"> Sort By:</label>
					<div class="panel panel--module">
						<?php echo $this->formSelect('content[sort_by]', (isset($content->sort_by))?$content->sort_by:'rating', array('class'=>'form-control bg-gray'),
							array("rating"=>"Highest Rated","newest"=>"Most Recent")
						)?>
					</div>

					<div class="m-b-15">
						<label class="m-b-5 text-black">Carousel:</label>
						<?php
						$enabled = (isset($settings->carousel) && $settings->carousel == 'Disabled')?'off':'on';
						?>
						<div class="btn-group" id="animate" data-toggle="buttons">
							<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
								<input type="radio" value="Enabled" name="settings[carousel]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
							<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
								<input type="radio" value="Disabled" name="settings[carousel]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
						</div>
					</div>

					<div class="carousel-section">
						<h3>Carousel Section</h3>

						<div class="row flex-row flex-align-center">
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Carousel Orientation:</label>
							</div>
							<div class="col-sm-9 text-left">
								<div class="panel panel--module">
									<?php echo $this->formSelect('settings[carousel_orientation]', (isset($settings->carousel_orientation))?$settings->carousel_orientation:'horizontal', array('class'=>'form-control bg-gray'), array('horizontal'=>'Horizontal','vertical'=>'Vertical'))?>
								</div>
							</div>
						</div>
						<div class="row flex-row flex-align-center">
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Transition Speed (seconds):</label>
							</div>
							<div class="col-sm-9 text-left">
								<div class="panel panel--module">
									<input type="text" class="form-control" name="settings[transition_speed]" value="<?php echo (isset($settings->transition_speed))?$settings->transition_speed:'6'?>">
								</div>
							</div>
						</div>
						<div class="row flex-row flex-align-center">
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-15">Show Pagination (dots):</label>
							</div>
							<div class="col-sm-9">
								<div class="panel panel--module text-left">
									<?php
									$enabled = (isset($settings->pagination_status) && $settings->pagination_status == 'Enabled')?'on':'off';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[pagination_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[pagination_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row flex-row flex-align-center">
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-15">Show Controls (arrows):</label>
							</div>
							<div class="col-sm-9">
								<div class="panel panel--module text-left">
									<?php
									$enabled = (isset($settings->controls_status) && $settings->controls_status == 'Disabled')?'off':'on';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[controls_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[controls_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<h4 class="text-black m-b-5">Carousel Styling</h4>
							</div>

							<div class="col-sm-3">
								<label class="text-black m-b-5">Arrow Size</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[carousel_arrow_size]" value="<?php echo (isset($content->carousel_arrow_size))?$content->carousel_arrow_size:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Arrow Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_color]" value="<?php echo (isset($content->carousel_arrow_color))?$content->carousel_arrow_color:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Arrow Hover Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_hover_color]" value="<?php echo (isset($content->carousel_arrow_hover_color))?$content->carousel_arrow_hover_color:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Background Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_background_color]" value="<?php echo (isset($content->carousel_arrow_background_color))?$content->carousel_arrow_background_color:''?>">
								</div>
							</div>

							<div class="col-sm-3">
								<label class="text-black m-b-5">Dot Size</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[carousel_dot_size]" value="<?php echo (isset($content->carousel_dot_size))?$content->carousel_dot_size:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Dot Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_dot_color]" value="<?php echo (isset($content->carousel_dot_color))?$content->carousel_dot_color:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Dot Hover Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_dot_hover_color]" value="<?php echo (isset($content->carousel_dot_hover_color))?$content->carousel_dot_hover_color:''?>">
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>

</form>

<script>
	$(function() {
		<?php if (isset($settings->carousel) && $settings->carousel == 'Disabled') {?>
		$(".carousel-section").hide();
		<?php }else { ?>
		$(".carousel-section").show();
		<?php } ?>

		$('input[name="settings[carousel]"]').on("change", function (){
			if ($('input[name="settings[carousel]"]:checked').val() == 'Enabled') {
				$(".carousel-section").show();
			}else {
				$(".carousel-section").hide();
			}
		});
	});
</script>
