<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);
$panels = array();
if (isset($content->panels)) {
	foreach ($content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">

			<div id="panelForm" class="panel-edit">
				<input type="hidden" class="form-control" id="panelForm-id" value="">
				<input type="hidden" class="form-control copy" id="panelForm-sort_order" data-name="sort_order" value="">


				<div class="panel-edit__body">
					<div class="form-group text-left">
						<h3 class="form-group-title m-b-5">Panel Image</h3>

						<label class="m-b-5 text-black">Title:</label>
						<div class="panel panel--module bg-gray">
							<input type="text" class="form-control copy" id="panelForm-label" data-name="label" value="">
						</div>

						<label class="text-black m-b-5">Social Media Service</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('social_media_service', 'facebook', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-social_media_service', 'data-name'=>'social_media_service'),
								array(
									'facebook'=>'Facebook',
									'twitter'=>'Twitter',
									'instagram' => 'Instagram',
									'youtube' => 'YouTube',
									'pinterest' => 'Pinterest',
									'google_plus' => 'Google Plus',
									'linkedin' => 'Linkedin',
									'tumblr' => 'Tumblr',
									'reddit' => 'Reddit',
									'email' => 'Email',
									'' => 'Other',
								)
							)?>
						</div>

						<div class="conditional media_service-other">
							<label class="text-black m-b-5">Icon</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray copy" id="panelForm-icon" data-name="icon" value="">
							</div>
						</div>

						<label for="" class="m-b-5 text-black">URL:</label>
						<div class="panel panel--module bg-gray">
							<input type="text" class="form-control bg-gray copy" id="panelForm-url" data-name="url" value="">
						</div>

						<label class="text-black m-b-5">Panel Status</label>
						<div class="panel panel--module">
							<select class="form-control copy" id="panelForm-status" data-name="status">
								<option value="Enabled">Enabled</option>
								<option value="Disabled">Disabled</option>
							</select>
						</div>
					</div>
				</div>


				<div class="break-row p-t-50">
					<div class="btn-group btn-group-justified">
						<a class="btn btn-lg btn-warning waves-effect waves-light" id="cancel-panel">Cancel</a>
						<a class="btn btn-lg btn--purple waves-effect waves-light" id="save-panel">Save Panel</a>
					</div>
				</div>
			</div>

			<div class="panel-view panel-edit__body">
				<div id="hero-list" class="selection-conditional selection-manual m-b-15">

					<div class="row flex-row">
						<div class="col-xs-12 p-l-0 list-div">
							<?php
							if (isset($panels)) {
								foreach ($panels as $k => $panel) {
									?>
									<div class="col-sm-12 p-t-10 list-row" data-id="panel_<?php echo $k?>">
										<?php foreach ((array)$panel as $name => $val) {
											//need textarea for WYSIWYG fields
											if (in_array($name,array('description'))) {
												?>
												<textarea class="hide" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>"><?php echo $val?></textarea>
												<?php
											}else {
												?>
												<input type="hidden" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>" value="<?php echo $val?>">
											<?php }
										} ?>

										<div class="m-b-0 panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
											<div class="controls controls--horizontal">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-edit-btn" data-rel="<?php echo $k?>"><i class="fas fa-bars"></i></button>
													<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
												</div>
											</div>
											<div class="panel__title" id="module_label-"><?php $k_plus = $k+1; echo ($panel->label)?$panel->label:"Panel {$k_plus}"?></div>
											<div class="controls">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete" data-rel="<?php echo $k?>"><i class="fas fa-times"></i></button>
												</div>
											</div>
										</div>
									</div>
									<?php
								}
							}?>
						</div>
					</div>

				</div>
				<div class="panel panel--module bg-border flex-row flex-align-center flex-justify-center conditional selection-conditional selection-manual">
					<div class="controls controls--footer text-center flex-grow-1 p-0">
						<a class="btn btn-xs btn--link p-t-10 p-b-10" id="add-panel" href=""><i class="fas fa-plus-square"></i> Add Panel</a>
					</div>
				</div>

				<div class="conditional selection-conditional selection-auto text-center">
					<p>Social media links will be set using your default settings within
						<a href="/admin/settings/site#social" target="_blank">website settings</a>.
						If you have not added links to your social media settings, no icons will be displayed.</p>
				</div>

				<div class="row">
					<div class="col-sm-4 text-left">
						<label for="" class="m-b-5 text-black">Selection Method:</label>
						<div class="panel panel--module bg-gray">
							<?php echo $this->formSelect('settings[selection_method]', (isset($settings->selection_method))?$settings->selection_method:'', array('class'=>'form-control','id'=>'selectionMethod'), array("auto"=>"Use Default Social Media Settings","manual"=>"Create Custom Icon Bar"))?>
						</div>
					</div>
					<div class="col-sm-4 text-left">
						<label for="" class="m-b-5 text-black">Icon Layout:</label>
						<div class="panel panel--module bg-gray">
							<?php echo $this->formSelect('settings[icon_layout]', (isset($settings->icon_layout))?$settings->icon_layout:'list-inline', array('class'=>'form-control'), array("list-inline"=>"Horizontal",""=>"Vertical"))?>
						</div>
					</div>
					<div class="col-sm-4 text-left conditional selection-conditional selection-auto">
						<label for="" class="m-b-5 text-black">Icon Style:</label>
						<div class="panel panel--module bg-gray">
							<?php echo $this->formSelect('settings[icon_style]', (isset($settings->icon_style))?$settings->icon_style:'', array('class'=>'form-control'), array("default"=>"Default","square"=>"Square"))?>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-3 text-left">
						<label for="" class="m-b-5 text-black">Icon Bar Alignment:</label>
						<div class="panel panel--module bg-gray">
							<?php echo $this->formSelect('content[alignment]', (isset($content->alignment))?$content->alignment:'', array('class'=>'form-control'), array("text-center"=>"Center","text-left"=>"Left","text-right"=>"Right"))?>
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Icon Size</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[icon_size]" value="<?php echo (isset($content->icon_size))?$content->icon_size:''?>">
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Icon Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray complex-colorpicker" name="content[icon_color]" value="<?php echo (isset($content->icon_color))?$content->icon_color:''?>">
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Icon Hover Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray complex-colorpicker" name="content[icon_hover_color]" value="<?php echo (isset($content->icon_hover_color))?$content->icon_hover_color:''?>">
						</div>
					</div>
				</div>

				<div class="row text-left m-b-15">
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Padding (left/right)</label>
						<input type="text" class="form-control" name="content[icon_padding_lr]" value="<?php echo (isset($content->icon_padding_lr))?$content->icon_padding_lr:''?>">
					</div>
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Padding (top/bottom)</label>
						<input type="text" class="form-control" name="content[icon_padding_tb]" value="<?php echo (isset($content->icon_padding_tb))?$content->icon_padding_tb:''?>">
					</div>
				</div>

			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<div class="col-sm-12 p-t-10 hidden list-row ui-sortable-handle" id="new-panel_row">
	<div class="m-b-0 panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
		<div class="controls controls--horizontal">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-edit-btn"><i class="fas fa-bars"></i></button>
				<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
			</div>
		</div>
		<div class="panel__title" id="module_label-"></div>
		<div class="controls">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		window.cny.moduleSubPanels();

		$(".selectpicker").selectpicker();

		$(".conditional").hide();
		$(".selection-"+$("#selectionMethod").val()).show();

		$("#selectionMethod").off("change").on("change", function() {
			$(".selection-conditional").hide();

			$(".selection-"+$("#selectionMethod").val()).show();
		});

		$("body").off("change", "#panelForm-social_media_service").on("change", "#panelForm-social_media_service",function(){
			if ($(this).val() == '') {
				$(".media_service-other").show();
			}else {
				$(".media_service-other").hide();
			}
		});

		//iconList variable moved into JS variables.js file
		var data = $.map(iconList, function (obj) {
			//obj.id = obj.id || obj.id;
			obj.text = obj.text || obj.name;

			if (typeof obj.filter !== 'undefined' && obj.filter) {
				obj.text += '<span class="hide">' + obj.filter.toString() + '<span>';
			}

			return obj;
		});

		function formatCustom(item) {
			if (!item.id) return item.text; // optgroup

			return "<span class='fa fa-" + item.id + "'>&nbsp;" + item.text + "</span>";
		}

		$('#panelForm-icon').select2({
			data: data,
			formatResult: formatCustom,
			formatSelection: formatCustom,
			escapeMarkup: function(m) { return m; }
		});
	});
</script>
