<?php
$content = json_decode($this->module->json_content);
$panels = array();
if (isset($content->panels)) {
	foreach ($content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

$settings_mapper = new Application_Model_Mapper_SiteSettingValue();

//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">

			<div id="panelForm" class="panel-edit">
				<input type="hidden" class="form-control" id="panelForm-id" value="">
				<input type="hidden" class="form-control copy" id="panelForm-sort_order" data-name="sort_order" value="">

				<div class="panel-edit__body">
					<div class="form-group text-left">
						<h3 class="form-group-title m-b-5">Tab</h3>
						<label class="text-black m-b-5">Title:</label>
						<div class="panel panel--module bg-gray">
							<input type="text" class="form-control copy" id="panelForm-label" data-name="label" value="">
						</div>
						<label class="text-black m-b-5">Content:</label>
						<div class="panel panel--module bg-gray">
							<textarea class="form-control copy tinymce" id="panelForm-text" data-name="text" data-type="textarea"></textarea>
						</div>

						<label class="text-black m-b-5">Panel Status</label>
						<div class="panel panel--module">
							<select class="form-control copy" id="panelForm-status" data-name="status">
								<option value="Enabled">Enabled</option>
								<option value="Disabled">Disabled</option>
							</select>
						</div>
					</div>
				</div>

				<div class="break-row p-t-50">
					<div class="btn-group btn-group-justified">
						<a class="btn btn-lg btn-warning waves-effect waves-light" id="cancel-panel">Cancel</a>
						<a class="btn btn-lg btn--purple waves-effect waves-light" id="save-panel">Save Panel</a>
					</div>
				</div>
			</div>

			<div class="panel-view panel-edit__body">
				<div id="hero-list">
					<div class="flex-row">
						<div class="list-div flex-grow-1">
							<?php
							if (isset($panels)) {
								foreach ($panels as $k => $panel) {
									?>
									<div class="list-row" data-id="panel_<?php echo $k?>">
										<?php foreach ((array)$panel as $name => $val) {
											//need textarea for WYSIWYG fields
											if (in_array($name,array('text'))) {
											?>
												<textarea class="hide" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>"><?php echo $val?></textarea>
											<?php
											}else {
											?>
											<input type="hidden" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>" value="<?php echo $val?>">
										<?php }
										} ?>

										<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
											<div class="controls controls--horizontal">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-edit-btn" data-rel="<?php echo $k?>"><i class="fas fa-bars"></i></button>
													<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
												</div>
											</div>
											<div class="panel__title" id="module_label-"><?php $k_plus = $k+1; echo ($panel->label)?$panel->label:"Panel {$k_plus}"?></div>
											<div class="controls">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete" data-rel="<?php echo $k?>"><i class="fas fa-times"></i></button>
												</div>
											</div>
										</div>
									</div>
									<?php
								}
							}?>
						</div>
					</div>
				</div>
				<div class="panel panel--module bg-border flex-row flex-align-center flex-justify-center">
					<div class="controls controls--footer text-center flex-grow-1 p-0">
						<a class="btn btn-xs btn--link p-t-10 p-b-10" id="add-panel" href=""><i class="fas fa-plus-square"></i> Add Panel</a>
					</div>
				</div>

				<div class="form-group text-left">
					<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseDesign" aria-expanded="true" aria-controls="collapseDesign">Design <i class="fas fa-minus-square"></i></h3>
					<div class="collapse in" id="collapseDesign">

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Tab Color:</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control complex-colorpicker" name="content[tab_color]" value="<?php echo (isset($content->tab_color))?$content->tab_color:''?>">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Tab Text Color:</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control complex-colorpicker" name="content[tab_text_color]" value="<?php echo (isset($content->tab_text_color))?$content->tab_text_color:''?>">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Tab Text Font:</label>
									<div class="panel panel--module bg-gray">
										<select name="content[tab_font]" class="from-control selectpicker font-selector" data-weight="content[tab_weight]">
											<?php
											$value = (isset($content->tab_font))?$content->tab_font:'';
											foreach ($font_options as $k => $v) {
												$selected = ($k == $value)?"selected":"";
												?>
												<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
												<?php
											}
											?>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<label class="text-black m-b-5 text-black">Tab Text Weight</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[tab_weight]', (isset($content->tab_weight))?$content->tab_weight:'', array('class'=>'form-control bg-gray'),
										array(
											'' => 'Default',
											'300' => 'Light',
											'400' => 'Regular',
											'500' => 'Medium',
											'600' => 'Semi Bold',
											'700' => 'Bold',
											'800' => 'Bolder'
										)
									)?>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Tab Text Size:</label>
									<div class="panel panel--module bg-gray">
										<?php echo $this->formSelect('content[tab_text_size]', (isset($content->tab_text_size))?$content->tab_text_size:'', array('class'=>'form-control bg-gray'),
											array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
												'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
										)?>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Hover Tab Color:</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control complex-colorpicker" name="content[hover_tab_color]" value="<?php echo (isset($content->hover_tab_color))?$content->hover_tab_color:''?>">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Hover Tab Text Color:</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control complex-colorpicker" name="content[hover_tab_text_color]" value="<?php echo (isset($content->hover_tab_text_color))?$content->hover_tab_text_color:''?>">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Active Tab Color:</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control complex-colorpicker" name="content[active_tab_color]" value="<?php echo (isset($content->active_tab_color))?$content->active_tab_color:''?>">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Active Tab Text Color:</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control complex-colorpicker" name="content[active_tab_text_color]" value="<?php echo (isset($content->active_tab_text_color))?$content->active_tab_text_color:''?>">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Active Tab Border Color:</label>
									<div class="panel panel--module bg-gray">
										<input type="text" class="form-control complex-colorpicker" name="content[active_border_color]" value="<?php echo (isset($content->active_border_color))?$content->active_border_color:''?>">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group text-left">
									<label for="" class="m-b-5 text-black">Active Tab Border Size:</label>
									<div class="panel panel--module bg-gray">
										<?php echo $this->formSelect('content[active_tab_border_size]', (isset($content->active_tab_border_size))?$content->active_tab_border_size:'1px', array('class'=>'form-control bg-gray'),
											array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
										)?>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<div class="col-sm-12 p-t-10 hidden list-row ui-sortable-handle" id="new-panel_row">
	<div class="m-b-0 panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
		<div class="controls controls--horizontal">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-edit-btn"><i class="fas fa-bars"></i></button>
				<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
			</div>
		</div>
		<div class="panel__title" id="module_label-"></div>
		<div class="controls">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		window.cny.moduleSubPanels();
		window.cny.wysiwyg();
		window.cny.fontWeightUpdater();

		$(".selectpicker").selectpicker();
	});
</script>
