<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);
$styles = json_decode($this->module->json_styles);
$panels = array();
if (isset($content->panels)) {
	foreach ($content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}

//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}

$column_headers = (isset($content->column_headers))?(array)$content->column_headers:array();
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">

			<div id="panelForm" class="panel-edit">
				<input type="hidden" class="form-control" id="panelForm-id" value="">
				<input type="hidden" class="form-control copy" id="panelForm-sort_order" data-name="sort_order" value="">
				<div class="panel-edit__body">
					<div class="form-group text-left">
						<label class="text-black m-b-5">Row Label:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control copy bg-gray" id="panelForm-label" data-name="label" value="">
						</div>

						<div id="columns">
							<?php foreach ($column_headers as $k => $value) { ?>
								<label for="" class="text-black m-b-5">Column <span><?php echo $k+1?></span>:</label>
								<div class="panel panel--module bg-gray">
									<textarea class="form-control copy tinymce" id="panelForm-column_<?php echo $k+1?>" data-name="column_<?php echo $k+1?>" data-type="textarea"></textarea>
								</div>
							<?php } ?>
						</div>

						<label class="text-black m-b-5">Row Status</label>
						<div class="panel panel--module">
							<select class="form-control copy" id="panelForm-status" data-name="status">
								<option value="Enabled">Enabled</option>
								<option value="Disabled">Disabled</option>
							</select>
						</div>
					</div>
				</div>

				<div class="break-row p-t-50">
					<div class="btn-group btn-group-justified">
						<a class="btn btn-lg btn-warning waves-effect waves-light" id="cancel-panel">Cancel</a>
						<a class="btn btn-lg btn--purple waves-effect waves-light" id="save-panel">Save Row</a>
					</div>
				</div>
			</div>

			<div class="panel-view panel-edit__body">
				<div id="hero-list">

					<div class="flex-row">
						<div class="list-div flex-grow-1">
							<?php
							if (isset($panels)) {
								foreach ($panels as $k => $panel) {
									?>
									<div class="list-row" data-id="panel_<?php echo $k?>">
										<?php foreach ((array)$panel as $name => $val) {
											//need textarea for WYSIWYG fields
											if (stripos($name,"column_") !== false) {
												?>
												<textarea class="hide" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>"><?php echo $val?></textarea>
												<?php
											}else {
												?>
												<input type="hidden" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>" value="<?php echo $val?>">
											<?php }
										} ?>

										<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
											<div class="controls controls--horizontal">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-edit-btn" data-rel="<?php echo $k?>"><i class="fas fa-bars"></i></button>
													<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
												</div>
											</div>
											<div class="panel__title" id="module_label-"><?php $k_plus = $k+1; echo ($panel->label)?$panel->label:"Row {$k_plus}"?></div>
											<div class="controls">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete" data-rel="<?php echo $k?>"><i class="fas fa-times"></i></button>
												</div>
											</div>
										</div>
									</div>
									<?php
								}
							}?>
						</div>
					</div>

				</div>
				<div class="panel panel--module bg-border flex-row flex-align-center flex-justify-center">
					<div class="controls controls--footer text-center flex-grow-1 p-0">
						<a class="btn btn-xs btn--link p-t-10 p-b-10" id="add-panel" href=""><i class="fas fa-plus-square"></i> Add Row</a>
					</div>
				</div>

				<div class="form-group text-left">
					<h4>Table Columns & Labels</h4>

					<div class="row">
						<div class="col-sm-12 m-b-30">
							<div id="table_module-column-headers">
								<table class="" style="width:100%;">
									<tbody>
									<?php
									foreach ($column_headers as $k => $value) {
									?>
									<tr id="column_header-<?php echo $k?>">
										<td class="col-xs-9">
											<input type="text" class="form-control bg-gray" name="content[column_headers][]" value="<?php echo $value?>">
										</td>
										<td class="col-xs-2">
											<?php
											/* // UGH - can't use ZF formSelect because it forces multi select when the name is an array
											echo $this->formSelect('content[column_header_alignment][]', (isset($content->column_header_alignment[$k]))?$content->column_header_alignment[$k]:'', array('class'=>'form-control bg-gray'),
												array('text-left'=>'Align Left','text-center'=>'Align Center','text-right'=>'Align Right')
											);
											*/?>
											<select name="content[column_header_alignment][]" class="form-control bg-gray">
												<option value="text-left" <?php echo (isset($content->column_header_alignment[$k]) && $content->column_header_alignment[$k] == 'text-left')?"selected":""?>>Align Left</option>
												<option value="text-center" <?php echo (isset($content->column_header_alignment[$k]) && $content->column_header_alignment[$k] == 'text-center')?"selected":""?>>Align Center</option>
												<option value="text-right" <?php echo (isset($content->column_header_alignment[$k]) && $content->column_header_alignment[$k] == 'text-right')?"selected":""?>>Align Right</option>
											</select>
										</td>
										<td class="col-xs-1">
											<a href="#" class="del-btn" data-rel="column_header-<?php echo $k?>"><i class="fas fa-trash"></i></a>
										</td>
									</tr>
								<?php } ?>
									</tbody>
									<tfoot>
									<tr>
										<td colspan="2" class="p-t-10">
											<button type="button" class="btn btn-sm add-btn">Add Column</button>
										</td>
									</tr>
									<tr class="clone hidden">
										<td class="col-xs-9"><input type="text" class="form-control bg-gray" name="" value=""></td>
										<td class="col-xs-2">
											<?php echo $this->formSelect('', '', array('class'=>'form-control bg-gray'),
												array('text-left'=>'Align Left','text-center'=>'Align Center','text-right'=>'Align Right')
											)?>
										</td>
										<td class="col-xs-1"><a href="#" class="del-btn"><i class="fas fa-trash"></i></a></td>
									</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>

					<h4>Styling</h4>
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-4">
									<label class="text-black m-b-5">Display Header:</label>
									<div class="panel panel--module">
										<?php
										$enabled = (isset($content->header_status) && $content->header_status == 'Disabled')?'off':'on';
										?>
										<div class="btn-group" id="header_status" data-toggle="buttons">
											<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
												<input type="radio" value="Enabled" name="content[header_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
											<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
												<input type="radio" value="Disabled" name="content[header_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black m-b-5">Header Background Color</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray complex-colorpicker" name="content[header_background_color]" value="<?php echo (isset($content->header_background_color))?$content->header_background_color:''?>">
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black m-b-5">Header Text Color</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray complex-colorpicker" name="content[header_text_color]" value="<?php echo (isset($content->header_text_color))?$content->header_text_color:''?>">
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-4">
									<label class="text-black m-b-5">Header Text Bold:</label>
									<div class="panel panel--module">
										<?php
										$enabled = (isset($content->header_bold_status) && $content->header_bold_status == 'Disabled')?'off':'on';
										?>
										<div class="btn-group" id="header_status" data-toggle="buttons">
											<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
												<input type="radio" value="Enabled" name="content[header_bold_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
											<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
												<input type="radio" value="Disabled" name="content[header_bold_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black m-b-5">Header Text Italic:</label>
									<div class="panel panel--module">
										<?php
										$enabled = (isset($content->header_italic_status) && $content->header_italic_status == 'Enabled')?'on':'off';
										?>
										<div class="btn-group" id="header_status" data-toggle="buttons">
											<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
												<input type="radio" value="Enabled" name="content[header_italic_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
											<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
												<input type="radio" value="Disabled" name="content[header_italic_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black m-b-5">Header Text Underline:</label>
									<div class="panel panel--module">
										<?php
										$enabled = (isset($content->header_underline_status) && $content->header_underline_status == 'Enabled')?'on':'off';
										?>
										<div class="btn-group" id="header_status" data-toggle="buttons">
											<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
												<input type="radio" value="Enabled" name="content[header_underline_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
											<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
												<input type="radio" value="Disabled" name="content[header_underline_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-4">
									<label class="text-black m-b-5">Alternate Line Shading:</label>
									<div class="panel panel--module">
										<?php
										$enabled = (isset($content->line_shading_status) && $content->line_shading_status == 'Disabled')?'off':'on';
										?>
										<div class="btn-group" id="line_shading_status" data-toggle="buttons">
											<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
												<input type="radio" value="Enabled" name="content[line_shading_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
											<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
												<input type="radio" value="Disabled" name="content[line_shading_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black m-b-5">Color 1</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray complex-colorpicker" name="content[line_odd_color]" value="<?php echo (isset($content->line_odd_color))?$content->line_odd_color:''?>">
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black m-b-5">Color 2</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray complex-colorpicker" name="content[line_even_color]" value="<?php echo (isset($content->line_even_color))?$content->line_even_color:''?>">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12">
							<div class="row">
								<div class="col-sm-4">
									<label class="text-black m-b-5">Border:</label>
									<div class="panel panel--module">
										<?php
										$enabled = (isset($content->border_status) && $content->border_status == 'Disabled')?'off':'on';
										?>
										<div class="btn-group" id="border_status" data-toggle="buttons">
											<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
												<input type="radio" value="Enabled" name="content[border_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
											<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
												<input type="radio" value="Disabled" name="content[border_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black m-b-5">Border Color</label>
									<div class="panel panel--module">
										<input type="text" class="form-control bg-gray complex-colorpicker" name="content[border_color]" value="<?php echo (isset($content->border_color))?$content->border_color:''?>">
									</div>
								</div>
								<div class="col-sm-4">
									<label class="text-black m-b-5">Border Width/size</label>
									<div class="panel panel--module">
										<?php echo $this->formSelect('content[border_width]', (isset($content->border_width))?$content->border_width:'1px', array('class'=>'form-control bg-gray'),
											array('0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
										)?>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<label class="text-black m-b-5">Padding (top/bottom)</label>
							<div class="panel panel--module">
								<input type="text" class="form-control" name="content[padding_tb]" value="<?php echo (isset($content->padding_tb))?$content->padding_tb:''?>">
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-5">Padding (left/right)</label>
							<div class="panel panel--module">
								<input type="text" class="form-control" name="content[padding_lr]" value="<?php echo (isset($content->padding_lr))?$content->padding_lr:''?>">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<label class="text-black m-b-5">Default Text Size</label>
							<div class="panel panel--module">
								<input type="text" class="form-control" name="content[text_size]" value="<?php echo (isset($content->text_size))?$content->text_size:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="m-b-5 text-black">Default Text Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray complex-colorpicker" name="content[text_color]" value="<?php echo (isset($content->text_color))?$content->text_color:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label for="" class="m-b-5 text-black">Default Text Font:</label>
							<div class="panel panel--module bg-gray">
								<select class="form-control -selectpicker font-selector" name="content[default_font]" data-weight="content[text_weight]">
									<?php
									$value = (isset($content->text_font) && $content->text_font)?$content->text_font:'';
									foreach ($font_options as $k => $v) {
										$selected = ($k == $value)?"selected":"";
										?>
										<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
										<?php
									}
									?>
								</select>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5 text-black">Default Text Weight</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[text_weight]', (isset($content->text_weight))?$content->text_weight:'', array('class'=>'form-control bg-gray'),
									array(
										'' => 'Default',
										'300' => 'Light',
										'400' => 'Regular',
										'500' => 'Medium',
										'600' => 'Semi Bold',
										'700' => 'Bold',
										'800' => 'Bolder'
									)
								)?>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<div class="hidden list-row ui-sortable-handle" id="new-panel_row">
	<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
		<div class="controls controls--horizontal">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-edit-btn"><i class="fas fa-bars"></i></button>
				<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
			</div>
		</div>
		<div class="panel__title" id="module_label-"></div>
		<div class="controls">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		window.cny.wysiwyg();
		window.cny.moduleSubPanels();
		window.cny.fontWeightUpdater();

		$("#table_module-column-headers .add-btn").on("click", function(){
			var new_row = $("#table_module-column-headers .clone");
			var new_id = "column_header-" + Date.now() + parseInt(Math.random() * 1000000);

			$(new_row).clone().removeClass("clone").removeClass("hidden").attr("id",new_id).find(".del-btn").attr("data-rel",new_id).end()
				.find("input").attr("name","content[column_headers][]").end()
				.find("select").attr("name","content[column_header_alignment][]").end()
				.appendTo("#table_module-column-headers tbody");

			setupColumns();
		});

		$("#table_module-column-headers").on("click",".del-btn", function(){
			var id = $(this).data("rel");

			$("#"+id).remove();

			setupColumns();

			return false;
		});

		function setupColumns() {
			//remove panel column textareas and recreate (I think this may cause less problems)
			$("#columns").html('');
			for (var i=1; i<=$("#table_module-column-headers table tbody tr").length; i++) {
				$("#columns").append('<label for="" class="text-black m-b-5">Column <span>'+i+'</span>:</label>\n' +
					'<div class="panel panel--module bg-gray">\n' +
					'<textarea class="form-control copy tinymce" id="panelForm-column_'+i+'" data-name="column_'+i+'" data-type="textarea"></textarea>\n' +
					'</div>');
			}

			window.cny.wysiwyg();
		}
	});
</script>
