<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();

$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);

//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="panel-edit__body text-left">
				<?php if (!$settings_mapper->getValueByCode('twitter_username') || !$settings_mapper->getValueByCode('twitter_token') ||
					!$settings_mapper->getValueByCode('twitter_token_secret') || !$settings_mapper->getValueByCode('twitter_consumer_key') || !$settings_mapper->getValueByCode('twitter_consumer_secret')) {
				?>
					<h4 class="text-center m-b-20 text-danger">You first need to enter your Twitter username, tokens, and consumer keys in Settings -> Website Settings -> Plugins</h4>
				<?php } ?>

				<h4 class="m-b-5 m-t-0 text-black h4" role="button" data-toggle="collapse" data-target="#moduleSettings" aria-expanded="true" aria-controls="moduleSettings">Module Settings <i class="fal fa-angle-up"></i></h4>
				<hr class="m-t-0">
				<div id="moduleSettings" class="p-l-10 collapse in" aria-expanded="true">

					<div class="row flex-row flex-wrap">
						<div class="col-sm-4">
							<label class="text-black m-b-5"> Feed Layout:</label>

							<div class="panel panel--module">
								<?php echo $this->formSelect('settings[feed_layout]', (isset($settings->feed_layout))?$settings->feed_layout:'', array('class'=>'form-control bg-gray'),
									array(
										'horizontal-tray'=> 'Horizontal Tray',
										'vertical-column'=> 'Vertical Column'
									)
								)?>
							</div>
						</div>
						<div class="col-sm-4">
							<label class="text-black m-b-5"> Number of Posts to Display:</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[post_limit]', (isset($content->post_limit))?$content->post_limit:1, array('class'=>'form-control bg-gray'), array(1=>1,2=>2,3=>3,5=>5,4=>4,6=>6,12=>12))?>
							</div>
						</div>
						<div class="col-sm-4">
							<label class="text-black m-b-5">Desktop Column Count:</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[post_column_limit]', (isset($content->post_column_limit))?$content->post_column_limit:3, array('class'=>'form-control bg-gray'), array(3=>3,4=>4,5=>5,6=>6))?>
							</div>
						</div>
					</div>

				</div>

				<h4 class="m-b-5 m-t-0 text-black h4 collapsed" role="button" data-toggle="collapse" data-target="#contentSettings" aria-expanded="true" aria-controls="contentSettings">Content Settings <i class="fal fa-angle-up"></i></h4>
				<hr class="m-t-0">
				<div id="contentSettings" class="p-l-10 collapse in" aria-expanded="true">

					<div class="p-l-10">
						<h4 class="m-b-5 m-t-0 text-black h4">Body</h4>
						<hr class="m-t-0">
						<div class="row flex-row flex-align-center">
							<div class="col-sm-6">
								<label for="" class="m-b-5 text-black">Font:</label>
								<div class="panel panel--module bg-gray">
									<select class="form-control -selectpicker font-selector" data-weight="content[text_weight]" name="content[font]">
										<?php
										$value = (isset($content->font) && $content->font)?$content->font:'';
										foreach ($font_options as $k => $v) {
											$selected = ($k == $value)?"selected":"";
											?>
											<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
											<?php
										}
										?>
									</select>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-black m-b-5">Text Size</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray" name="content[text_size]" value="<?php echo (isset($content->text_size))?$content->text_size:''?>">
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-black m-b-5">Text Line Height</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[text_line_height]', (isset($content->text_line_height))?$content->text_line_height:'', array('class'=>'form-control bg-gray'),
										array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
											'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px','44px','48px','50px','60px')
									)?>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-black m-b-5">Text Font Weight</label>
								<div class="panel panel--module">
									<?php echo $this->formSelect('content[text_font_weight]', (isset($content->text_font_weight))?$content->text_font_weight:'', array('class'=>'form-control bg-gray'),
										array(
											'' => 'Default',
											'300' => 'Light',
											'400' => 'Regular',
											'500' => 'Medium',
											'600' => 'Semi Bold',
											'700' => 'Bold'
										)
									)?>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-black m-b-5">Text Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[text_color]" value="<?php echo (isset($content->text_color))?$content->text_color:''?>">
								</div>
							</div>
						</div>
						<h4 class="m-b-5 m-t-0 text-black h4">Icon</h4>
						<hr class="m-t-0">
						<div class="flex-auto-fit m-b-15">
							<div class="flex-auto-fit__item col-auto">
								<label class="m-b-5 text-black">Display</label>
								<div class="m-b-15">
									<?php
									$enabled = (isset($settings->twitter_icon_display) && $settings->twitter_icon_display == 'Disabled')?'off':'on';
									?>
									<div class="btn-group" id="animate" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[twitter_icon_display]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[twitter_icon_display]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>

							</div>
							<div class="flex-auto-fit__item">
								<div class="flex-auto-fit">
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Icon Size</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray" name="content[twitter_icon_size]" value="<?php echo (isset($content->twitter_icon_size))?$content->twitter_icon_size:''?>">
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Icon Line Height</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[twitter_icon_line_height]', (isset($content->twitter_icon_line_height))?$content->twitter_icon_line_height:'', array('class'=>'form-control bg-gray'),
												array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
													'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px','44px','48px','50px','60px')
											)?>
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Icon Font Weight</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[twitter_icon_font_weight]', (isset($content->twitter_icon_font_weight))?$content->twitter_icon_font_weight:'bold', array('class'=>'form-control bg-gray'),
												array(
													'' => 'Default',
													'300' => 'Light',
													'400' => 'Regular',
													'500' => 'Medium',
													'600' => 'Semi Bold',
													'700' => 'Bold',
													'800' => 'Bolder'
												)
											)?>
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Icon Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[twitter_icon_color]" value="<?php echo (isset($content->twitter_icon_color))?$content->twitter_icon_color:''?>">
										</div>
									</div>
								</div>


							</div>
						</div>
						<h4 class="m-b-5 m-t-0 text-black h4">Date &amp; Time</h4>
						<hr class="m-t-0">
						<div class="flex-auto-fit m-b-15">
							<div class="flex-auto-fit__item col-auto">
								<label class="m-b-5 text-black">Display</label>
								<div class="m-b-15">
									<?php
									$enabled = (isset($settings->twitter_time) && $settings->twitter_time == 'Disabled')?'off':'on';
									?>
									<div class="btn-group" id="animate" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[twitter_time]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[twitter_time]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>

							</div>
							<div class="flex-auto-fit__item">
								<div class="flex-auto-fit">
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Date &amp; Time Size</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray" name="content[twitter_date_size]" value="<?php echo (isset($content->twitter_date_size))?$content->twitter_date_size:''?>">
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Date &amp; Time Line Height</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[twitter_date_line_height]', (isset($content->twitter_date_line_height))?$content->twitter_date_line_height:'', array('class'=>'form-control bg-gray'),
												array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
													'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px','44px','48px','50px','60px')
											)?>
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Date &amp; Time Font Weight</label>
										<div class="panel panel--module">
											<?php echo $this->formSelect('content[twitter_date_font_weight]', (isset($content->twitter_date_font_weight))?$content->twitter_date_font_weight:'bold', array('class'=>'form-control bg-gray'),
												array(
													'' => 'Default',
													'300' => 'Light',
													'400' => 'Regular',
													'500' => 'Medium',
													'600' => 'Semi Bold',
													'700' => 'Bold',
													'800' => 'Bolder'
												)
											)?>
										</div>
									</div>
									<div class="flex-auto-fit__item">
										<label class="text-black m-b-5">Date &amp; Time Color</label>
										<div class="panel panel--module">
											<input type="text" class="form-control bg-gray complex-colorpicker" name="content[twitter_date_color]" value="<?php echo (isset($content->twitter_date_color))?$content->twitter_date_color:''?>">
										</div>
									</div>
								</div>


							</div>
						</div>
					</div>
				</div>

				<h4 class="m-b-5 m-t-0 text-black h4 collapsed" role="button" data-toggle="collapse" data-target="#carouselSettings" aria-expanded="false" aria-controls="carouselSettings">Carousel Settings <i class="fal fa-angle-down"></i></h4>
				<hr class="m-t-0">
				<div id="carouselSettings" class="p-l-10 collapse" aria-expanded="false">
					<div class="m-b-15">
						<label class="m-b-5 text-black">Carousel:</label>
						<?php
						$enabled = (isset($settings->carousel) && $settings->carousel == 'Enabled')?'on':'off';
						?>
						<div class="btn-group" id="animate" data-toggle="buttons">
							<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
								<input type="radio" value="Enabled" name="settings[carousel]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
							<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
								<input type="radio" value="Disabled" name="settings[carousel]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
						</div>
					</div>

					<div class="carousel-section">
						<h3>Carousel Section</h3>

						<div class="row flex-row flex-align-center">
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Slide Count:</label>
							</div>
							<div class="col-sm-9 text-left">
								<div class="panel panel--module">
									<input type="text" class="form-control" name="settings[slide_count]" value="<?php echo (isset($settings->slide_count))?$settings->slide_count:'4'?>">
								</div>
							</div>
						</div>

						<div class="row flex-row flex-align-center">
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Carousel Orientation:</label>
							</div>
							<div class="col-sm-9 text-left">
								<div class="panel panel--module">
									<?php echo $this->formSelect('settings[carousel_orientation]', (isset($settings->carousel_orientation))?$settings->carousel_orientation:'horizontal', array('class'=>'form-control bg-gray'), array('horizontal'=>'Horizontal','vertical'=>'Vertical'))?>
								</div>
							</div>
						</div>
						<div class="row flex-row flex-align-center">
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-15">Autoplay:</label>
							</div>
							<div class="col-sm-9">
								<div class="panel panel--module text-left">
									<?php
									$enabled = (isset($settings->autoplay) && $settings->autoplay == 'Disabled')?'off':'on';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[autoplay]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[autoplay]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row flex-row flex-align-center">
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-5">Transition Speed (seconds):</label>
							</div>
							<div class="col-sm-9 text-left">
								<div class="panel panel--module">
									<input type="text" class="form-control" name="settings[transition_speed]" value="<?php echo (isset($settings->transition_speed))?$settings->transition_speed:'6'?>">
								</div>
							</div>
						</div>
						<div class="row flex-row flex-align-center">
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-15">Show Pagination (dots):</label>
							</div>
							<div class="col-sm-9">
								<div class="panel panel--module text-left">
									<?php
									$enabled = (isset($settings->pagination_status) && $settings->pagination_status == 'Enabled')?'on':'off';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[pagination_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[pagination_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
						</div>
						<div class="row flex-row flex-align-center">
							<div class="col-sm-3 text-left">
								<label class="text-black m-b-15">Show Controls (arrows):</label>
							</div>
							<div class="col-sm-9">
								<div class="panel panel--module text-left">
									<?php
									$enabled = (isset($settings->controls_status) && $settings->controls_status == 'Disabled')?'off':'on';
									?>
									<div class="btn-group" id="status" data-toggle="buttons">
										<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
											<input type="radio" value="Enabled" name="settings[controls_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
										<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
											<input type="radio" value="Disabled" name="settings[controls_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<h4 class="text-black m-b-5">Carousel Styling</h4>
							</div>

							<div class="col-sm-3">
								<label class="text-black m-b-5">Arrow Size</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[carousel_arrow_size]" value="<?php echo (isset($content->carousel_arrow_size))?$content->carousel_arrow_size:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Arrow Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_color]" value="<?php echo (isset($content->carousel_arrow_color))?$content->carousel_arrow_color:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Arrow Hover Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_hover_color]" value="<?php echo (isset($content->carousel_arrow_hover_color))?$content->carousel_arrow_hover_color:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Background Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_background_color]" value="<?php echo (isset($content->carousel_arrow_background_color))?$content->carousel_arrow_background_color:''?>">
								</div>
							</div>

							<div class="col-sm-3">
								<label class="text-black m-b-5">Dot Size</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[carousel_dot_size]" value="<?php echo (isset($content->carousel_dot_size))?$content->carousel_dot_size:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Dot Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_dot_color]" value="<?php echo (isset($content->carousel_dot_color))?$content->carousel_dot_color:''?>">
								</div>
							</div>
							<div class="col-sm-3">
								<label class="text-black m-b-5">Dot Hover Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_dot_hover_color]" value="<?php echo (isset($content->carousel_dot_hover_color))?$content->carousel_dot_hover_color:''?>">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>

</form>

<script>
	$(function() {
		<?php if (!isset($settings->carousel) || $settings->carousel == 'Disabled') {?>
		$(".carousel-section").hide();
		<?php }else { ?>
		$(".carousel-section").show();
		<?php } ?>

		$('input[name="settings[carousel]"]').on("change", function (){
			if ($('input[name="settings[carousel]"]:checked').val() === 'Enabled') {
				$(".carousel-section").show();
			}else {
				$(".carousel-section").hide();
			}
		});

		<?php if (!isset($settings->blog_feed_title_overlay) || $settings->blog_feed_title_overlay == 'Disabled') {?>
		$(".overlay-section").hide();
		<?php }else { ?>
		$(".overlay-section").show();
		<?php } ?>

		$('input[name="settings[blog_feed_title_overlay]"]').on("change", function (){
			if ($('input[name="settings[blog_feed_title_overlay]"]:checked').val() === 'Enabled') {
				$(".overlay-section").show();
			}else {
				$(".overlay-section").hide();
			}
		});

		<?php if (!isset($settings->blog_feed_truncate) || $settings->blog_feed_truncate == 'Disabled') {?>
		$(".truncate-section").hide();
		<?php }else { ?>
		$(".truncate-section").show();
		<?php } ?>

		$('input[name="settings[blog_feed_truncate]"]').on("change", function (){
			if ($('input[name="settings[blog_feed_truncate]"]:checked').val() === 'Enabled') {
				$(".truncate-section").show();
			}else {
				$(".truncate-section").hide();
			}
		});

		<?php if (!isset($settings->blog_feed_read_more) || $settings->blog_feed_read_more == 'Disabled') {?>
		$(".read-more-section").hide();
		<?php }else { ?>
		$(".read-more-section").show();
		<?php } ?>

		$('input[name="settings[blog_feed_read_more]"]').on("change", function (){
			if ($('input[name="settings[blog_feed_read_more]"]:checked').val() === 'Enabled') {
				$(".read-more-section").show();
			}else {
				$(".read-more-section").hide();
			}
		});


		$('h4[data-toggle]').on('click', function() {
			if ( $(this).attr('aria-expanded') === 'false' ) {
				$(this).find('.fal')
					.addClass('fa-angle-up')
					.removeClass('fa-angle-down');
			} else {
				$(this).find('.fal')
					.addClass('fa-angle-down')
					.removeClass('fa-angle-up');
			}

		});
	});
</script>
