<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);
$panels = array();
if (isset($content->panels)) {
	foreach ($content->panels as $panel) {
		$panels[$panel->sort_order] = $panel;
	}
	ksort($panels);
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">

			<div id="panelForm" class="panel-edit">
				<input type="hidden" class="form-control" id="panelForm-id" value="">
				<input type="hidden" class="form-control copy" id="panelForm-sort_order" data-name="sort_order" value="">

				<div class="panel-edit__body">

					<div class="form-group text-left">
						<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseImage" aria-expanded="true" aria-controls="collapseImage">Panel Image <i class="fas fa-minus-square"></i></h3>
						<div id="collapseImage" class="collapse in">
							<label class="text-black m-b-5">Label:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-label" data-name="label" value="">
							</div>

							<label class="text-black m-b-5">Image:</label>
							<div class="panel panel--module">
								<img src="" class="img-responsive copy m-b-15 filemanager-image" data-image_src="#panelForm-image_path" id="panelForm-image" data-name="image">
								<input type="hidden" class="form-control copy" id="panelForm-image_path" data-name="image_path" value="">
								<button data-url="/filemanager/dialog.php?type=1&field_id=panelForm-image_path&relative_url=1" class="btn btn--black modal-filemanager border-radius" type="button">Select Image</button>
								<button type="button" class="btn btn-primary btn-clear_image" data-rel="panelForm-image">Remove Image</button>
							</div>
						</div>

						<label class="text-black m-b-5">Panel Status</label>
						<div class="panel panel--module">
							<select class="form-control copy" id="panelForm-status" data-name="status">
								<option value="Enabled">Enabled</option>
								<option value="Disabled">Disabled</option>
							</select>
						</div>
					</div>

					<div class="panel-overlay-section">
						<div class="form-group text-left">
							<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#collapseOverlay" aria-expanded="false" aria-controls="collapseOverlay">Panel Overlay <i class="fas fa-plus-square"></i></h3>
							<div id="collapseOverlay" class="collapse">
								<label class="text-black m-b-5">Title:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-overlay_title" data-name="overlay_title" value="">
								</div>

								<label class="text-black m-b-5">Sub Text:</label>
								<div class="panel panel--module">
									<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-overlay_text" data-name="overlay_text" value="">
								</div>

								<label class="text-black m-b-5">URL</label>
								<div class="panel panel--module">
									<input type="text" class="form-control form-control--modal border-radius bg-gray copy" id="panelForm-overlay_url" data-name="overlay_url" value="">
								</div>

								<label class="text-black">Text Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-overlay_text_color" data-name="overlay_text_color" value="">
								</div>

								<label class="text-black">Title Background Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control border-radius complex-colorpicker copy" id="panelForm-overlay_background_color" data-name="overlay_background_color" value="">
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="break-row p-t-50">
					<div class="btn-group btn-group-justified">
						<a class="btn btn-lg btn-warning waves-effect waves-light" id="cancel-panel">Cancel</a>
						<a class="btn btn-lg btn--purple waves-effect waves-light" id="save-panel">Save Panel</a>
					</div>
				</div>
			</div>

			<div class="panel-view panel-edit__body">
				<div id="hero-list">
					<div class="flex-row">
						<div class="list-div flex-grow-1">
							<?php
							if (isset($panels)) {
								foreach ($panels as $k => $panel) {
									?>
									<div class="list-row" data-id="panel_<?php echo $k?>">
										<?php foreach ((array)$panel as $name => $val) {
											//need textarea for WYSIWYG fields
											if (in_array($name,array('caption_text'))) {
												?>
												<textarea class="hide" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>"><?php echo $val?></textarea>
												<?php
											}else {
												?>
												<input type="hidden" name="content[panels][<?php echo $k?>][<?php echo $name?>]" data-name="<?php echo $name?>" value="<?php echo $val?>">
											<?php }
										} ?>

										<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
											<div class="controls controls--horizontal">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-edit-btn" data-rel="<?php echo $k?>"><i class="fas fa-bars"></i></button>
													<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
												</div>
											</div>
											<div class="panel__title" id="module_label-"><?php $k_plus = $k+1; echo ($panel->label)?$panel->label:"Panel {$k_plus}"?></div>
											<div class="controls">
												<div class="controls__item text-center">
													<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete" data-rel="<?php echo $k?>"><i class="fas fa-times"></i></button>
												</div>
											</div>
										</div>
									</div>
									<?php
								}
							}?>
						</div>
					</div>
				</div>

				<div class="panel panel--module bg-border flex-row flex-align-center flex-justify-center">
					<div class="controls controls--footer text-center flex-grow-1 p-0">
						<a class="btn btn-xs btn--link p-t-10 p-b-10" id="add-panel" href=""><i class="fas fa-plus-square"></i> Add Panel</a>
					</div>
				</div>

				<hr>

				<strong>Note: </strong>All images should be the exact same dimensions for proper function.
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<div class="hidden list-row ui-sortable-handle" id="new-panel_row">
	<div class="panel panel--module bg-dark-purple text-white flex-row flex-align-center flex-justify-space-between">
		<div class="controls controls--horizontal">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-edit-btn"><i class="fas fa-bars"></i></button>
				<button class="btn btn-xs btn--transparent text-white clone-panel" title="Clone"><i class="far fa-clone"></i></button>
			</div>
		</div>
		<div class="panel__title" id="module_label-"></div>
		<div class="controls">
			<div class="controls__item text-center">
				<button class="btn btn-xs btn--transparent text-white panel-del-btn" title="Delete"><i class="fas fa-times"></i></button>
			</div>
		</div>
	</div>
</div>

<script>
	$(function() {
		//window.cny.wysiwyg();
		window.cny.moduleSubPanels();
		window.cny.colorpicker();
	});
</script>
