<?php
$content = json_decode($this->module->json_content);

//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="panel-edit__body">
				<?php
				if (isset($content->embed_code) && $content->embed_code) {
					echo $content->embed_code;
				}elseif (isset($content->video_url) && $content->video_url) {
					$parser = new Cny_Model_VideoParser();
					$video_url = $parser->getEmbedUrl($content->video_url);
					if ($video_url) {
						echo '<iframe width="100%" style="min-height:300px;" frameborder="0" src="' . $video_url . '"></iframe>';
					}else {
						//must be generic so create a video tag
						$video_poster_url = (isset($content->video_poster) && $content->video_poster)?'poster="'.$content->video_poster.'"':'';
						?>

						<div class="embed-responsive embed-responsive-16by9">
							<video src="<?php echo $content->video_url?>" class="embed-responsive-item" <?php echo $video_poster_url; ?> controls></video>
						</div>
						<?php
					}
				}
				?>
				<div class="form-group text-left">
					<label class="text-black m-b-5">URL:</label>
					<div class="panel panel--module">
						<input type="text" class="form-control bg-gray" name="content[video_url]" value="<?php echo (isset($content->video_url))?$content->video_url:''?>">
						<span class="help-block">YouTube/Vimeo/Direct MP4 URL</span>
					</div>

					<label class="text-black m-b-5">Video Poster:</label>
					<div class="panel panel--module">

						<img src="<?php echo (isset($content->video_poster))?$content->video_poster:''?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#module_video_poster" id="module_poster">

						<input type="hidden" class="form-control" name="content[video_poster]" id="module_video_poster" value="<?php echo (isset($content->video_poster))?$content->video_poster:''?>">

						<button data-url="/filemanager/dialog.php?type=1&field_id=module_video_poster&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">Select Image</button>

						<button type="button" class="btn btn-primary clear-module_poster">Remove Image</button>

					</div>

					<label class="text-black m-b-5">Generic Embed Code:</label>
					<div class="panel panel--module">
						<textarea class="form-control bg-gray" name="content[embed_code]" cols="4"><?php echo (isset($content->embed_code))?$content->embed_code:''?></textarea>
					</div>

					<label class="text-black m-b-5">Caption:</label>
					<div class="panel panel--module">
						<input type="text" class="form-control bg-gray" name="content[caption]" value="<?php echo (isset($content->caption))?$content->caption:''?>">
					</div>

					<div class="row">
						<div class="col-sm-4">
							<label class="text-black m-b-5">Caption Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray complex-colorpicker" name="content[caption_color]" value="<?php echo (isset($content->caption_color))?$content->caption_color:''?>">
							</div>
						</div>
						<div class="col-sm-4">
							<label class="text-black m-b-5">Caption Alignment</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[caption_alignment]', (isset($content->caption_alignment))?$content->caption_alignment:'', array('class'=>'form-control bg-gray'),
									array('text-left'=>'Left','text-center'=>'Centered','text-right'=>'Right')
								)?>
							</div>
						</div>
						<div class="col-sm-4">
							<label class="m-b-5 text-black">Caption Location:</label>
							<div class="panel panel--module bg-gray">
								<?php echo $this->formSelect('content[caption_location]', (isset($content->caption_location))?$content->caption_location:'', array('class'=>'form-control'), array("below"=>"Below Video","above"=>"Above Video"))?>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-4">
							<label class="text-black m-b-5">Caption Text Size</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[caption_text_size]', (isset($content->caption_text_size) && $content->caption_text_size)?$content->caption_text_size:'', array('class'=>'form-control bg-gray copy'),
									array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
										'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
								)?>
							</div>
						</div>
						<div class="col-sm-4">
							<label for="" class="m-b-5 text-black">Caption Font:</label>
							<div class="panel panel--module bg-gray">
								<select class="form-control -selectpicker font-selector" data-weight="content[caption_weight]" name="content[caption_font]">
									<?php
									$value = (isset($content->caption_font) && $content->caption_font)?$content->caption_font:'';
									foreach ($font_options as $k => $v) {
										$selected = ($k == $value)?"selected":"";
										?>
										<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
										<?php
									}
									?>
								</select>
							</div>
						</div>
						<div class="col-sm-4">
							<label class="text-black m-b-5 text-black">Caption Weight</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[caption_weight]', (isset($content->caption_weight))?$content->caption_weight:'', array('class'=>'form-control bg-gray'),
									array(
										'' => 'Default',
										'300' => 'Light',
										'400' => 'Regular',
										'500' => 'Medium',
										'600' => 'Semi Bold',
										'700' => 'Bold',
										'800' => 'Bolder'
									)
								)?>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>

</form>

<script>
	$(function() {
		window.cny.fontWeightUpdater();


		if ($("#module_video_poster").val() === '') $("#module_poster").hide();

		$(".clear-module_poster").on("click",function(){
			$("#module_video_poster").val('');
			$("#module_poster").attr('src','').hide();
		});


	});
</script>
