<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">

			<div class="panel panel--module bg-gray">
				<div class="panel-edit__body">
					<textarea class="form-control tinymce" name="content[text]"><?php echo (isset($content->text))?$content->text:''?></textarea>
				</div>
			</div>

			<div class="text-left">
				<h4 class="m-b-5 m-t-0 text-black h4">Text Scroll Box</h4>
				<hr class="m-t-0">
				<div class="flex-auto-fit m-b-15">
					<div class="flex-auto-fit__item col-auto">
						<label class="m-b-5 text-black">Display</label>
						<div class="m-b-15">
							<?php
							$enabled = (isset($settings->wysiwyg_scroll) && $settings->wysiwyg_scroll == 'Enabled')?'on':'off';
							?>
							<div class="btn-group" id="animate" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[wysiwyg_scroll]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[wysiwyg_scroll]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>

					<div class="flex-auto-fit__item">

						<div class="flex-auto-fit">
							<div class="flex-auto-fit__item">
								<label class="text-black m-b-5">Box Max height</label>
								<div class="panel panel--module">
									<input type="text" class="form-control" name="content[wysiwyg_scroll_height]" value="<?php echo (isset($content->wysiwyg_scroll_height))?$content->wysiwyg_scroll_height:'300px'?>">
								</div>
							</div>
							<div class="flex-auto-fit__item">
								<label class="text-black m-b-5">Track Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[wysiwyg_scroll_track_color]" value="<?php echo (isset($content->wysiwyg_scroll_track_color))?$content->wysiwyg_scroll_track_color:''?>">
								</div>
							</div>
							<div class="flex-auto-fit__item">
								<label class="text-black m-b-5">Bar Color</label>
								<div class="panel panel--module">
									<input type="text" class="form-control bg-gray complex-colorpicker" name="content[wysiwyg_scroll_bar_color]" value="<?php echo (isset($content->wysiwyg_scroll_bar_color))?$content->wysiwyg_scroll_bar_color:''?>">
								</div>
							</div>
							<div class="flex-auto-fit__item hide">
								<label class="text-black m-b-5">Bar Width</label>
								<div class="panel panel--module">
									<div class="panel panel--module">
										<?php echo $this->formSelect('content[wysiwyg_scroll_width]', (isset($content->wysiwyg_scroll_width))?$content->wysiwyg_scroll_width:'', array('class'=>'form-control bg-gray'),
											array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px', '22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px','44px','48px','50px','60px')
										)?>
									</div>
								</div>
							</div>

							<div class="flex-auto-fit__item hide">
								<label class="text-black m-b-5">Bar Height</label>
								<div class="panel panel--module">
									<div class="panel panel--module">
										<?php echo $this->formSelect('content[wysiwyg_scroll_bar_height]', (isset($content->wysiwyg_scroll_bar_height))?$content->wysiwyg_scroll_bar_height:'', array('class'=>'form-control bg-gray'),
											array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px', '22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px','44px','48px','50px','60px')
										)?>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>
</form>

<script>
	$(function() {
		window.cny.wysiwyg();
	});
</script>
