<?php
$content = json_decode($this->module->json_content);
$settings = json_decode($this->module->json_settings);

$zype = new Application_Model_Zype();
$playlists = array();
$per_page = 100;
$items = $zype->listPlaylists(array(
	'active'=>'true',
	'sort'=>'title',
	'order' => 'asc',
	'per_page' => $per_page,
));
foreach ($items->response as $item) {
	if ($item->active == 1) {
		$playlists[$item->_id] = $item->title;
	}
}

for ($i = 2; $i <= $items->pagination->pages; $i++) {
	$response2 = $zype->listPlaylists(array('active'=>'true','sort'=>'title','order'=>'asc','page'=>$i,'per_page'=>$per_page));
	foreach ($response2->response as $item) {
		if ($item->active == 1) {
			$playlists[$item->_id] = $item->title;
		}
	}
}
//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>
<form method="post" action="" class="module-form">
	<input type="hidden" name="data[id]" value="<?php echo $this->module->id?>">

	<ul class="nav nav-tabs" role="tablist">
		<li role="presentation" class="active"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">Content</a></li>
		<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
		<li role="presentation"><a href="#design" aria-controls="design" role="tab" data-toggle="tab">Custom Design</a></li>
		<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="content">
			<div class="panel-edit__body">
				<h4 class="text-black m-b-5 text-left">Settings</h4>
				<hr class="m-t-10">
				<div class="row text-left flex-row flex-wrap">
					<div class="col-sm-4">
						<div class="form-group text-left">
							<label for="" class="m-b-5 text-black">Title Font</label>
							<div class="panel panel--module bg-gray">
								<select name="content[title_font]" class="from-control selectpicker font-selector" data-weight="content[title_weight]">
									<?php
									$value = (isset($content->title_font))?$content->title_font:'';
									foreach ($font_options as $k => $v) {
										$selected = ($k == $value)?"selected":"";
										?>
										<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
										<?php
									}
									?>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<label class="text-black m-b-5 text-black">Title Size</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[title_size]" value="<?php echo (isset($content->title_size))?$content->title_size:''?>">
						</div>
					</div>
					<div class="col-sm-4">
						<label class="text-black m-b-5 text-black">Title Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control complex-colorpicker" name="content[title_color]" value="<?php echo (isset($content->title_color))?$content->title_color:''?>">
						</div>
					</div>
					<div class="col-sm-4">
						<label class="text-black m-b-5 text-black">Title Line Height</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[title_line_height]" value="<?php echo (isset($content->title_line_height))?$content->title_line_height:''?>">
						</div>
					</div>
					<div class="col-sm-4">
						<label class="text-black m-b-5 text-black">Title Bottom Margin</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[title_bottom_margin]" value="<?php echo (isset($content->title_bottom_margin))?$content->title_bottom_margin:''?>">
						</div>
					</div>
					<div class="col-sm-4">
						<label class="text-black m-b-5 text-black">Title Weight</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('content[title_weight]', (isset($content->title_weight))?$content->title_weight:'', array('class'=>'form-control bg-gray'),
								array(
									'' => 'Default',
									'300' => 'Light',
									'400' => 'Regular',
									'500' => 'Medium',
									'600' => 'Semi Bold',
									'700' => 'Bold',
									'800' => 'Bolder'
								)
							)?>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group text-left">

							<label class="m-b-5 text-black">Zype Playlist:</label>
							<div class="panel panel--module bg-gray">
								<?php echo $this->formSelect('content[playlist_id]', (isset($content->playlist_id))?$content->playlist_id:'', array('class'=>'form-control'), array(''=>'Select Playlist')+$playlists)?>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group text-left">
							<label class="text-black m-b-5">Display Type:</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[display_type]', (isset($content->display_type))?$content->display_type:'', array('class'=>'form-control bg-gray'),
									array(
										''=> 'Default',
										'playlist'=> 'Playlists',
										'video'=> 'Videos'
									))?>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group text-left">

							<label class="m-b-5 text-black">Number of Items:<small>(max 100)</small>
							</label>
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="content[item_limit]" value="<?php echo (isset($content->item_limit))?$content->item_limit:''?>">
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group text-left">
							<label class="text-black m-b-5">Video Image Type:</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[image_type]', (isset($content->image_type))?$content->image_type:'', array('class'=>'form-control bg-gray'),
									array(
										''=> 'Thumbnail',
										'poster'=> 'Poster',
									))?>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="form-group text-left">
							<label class="text-black m-b-5">Playlist Image Type:</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('content[playlist_image_type]', (isset($content->playlist_image_type))?$content->playlist_image_type:'', array('class'=>'form-control bg-gray'),
									array(
										''=> 'Thumbnail',
										'poster'=> 'Poster',
									))?>
							</div>
						</div>
					</div>
				</div>


				<h4 class="text-black m-b-5 text-left">Tray Options</h4>
				<hr class="m-t-10">
				<div class="row">
					<div class="col-sm-3 text-left">
						<label for="" class="m-b-5 text-black">Style:</label>
						<div class="panel panel--module bg-gray">
							<?php echo $this->formSelect('settings[carousel_type]', (isset($settings->carousel_type))?$settings->carousel_type:'', array('class'=>'form-control'), array("collection"=>"Carousel","grid"=>"Grid"))?>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-hide">
						<label class="text-black m-b-5">Infinite Scroll</label>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($settings->infinite_scroll) && $settings->infinite_scroll == "Disabled") ? 'off' : 'on';
							?>
							<div class="btn-group" id="infinite_scroll" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[infinite_scroll]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[infinite_scroll]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-hide">
						<label class="text-black m-b-5">Next/Previous Arrow</label>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($settings->carousel_prev_arrow_status) && $settings->carousel_prev_arrow_status == "Disabled") ? 'off' : 'on';
							?>
							<div class="btn-group" id="carousel_prev_arrow_status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[carousel_prev_arrow_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[carousel_prev_arrow_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-hide">
						<label class="text-black m-b-5">Arrows Over Slides</label>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($settings->carousel_arrow_offset) && $settings->carousel_arrow_offset == "off") ? 'off' : 'on';
							?>
							<div class="btn-group" id="carousel_arrow_offset" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="on" name="settings[carousel_arrow_offset]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="off" name="settings[carousel_arrow_offset]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-left grid-hide">
					<div class="col-sm-4 col-lg-2">
						<label class="text-black m-b-5">Arrow Size</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[carousel_arrow_size]" value="<?php echo (isset($content->carousel_arrow_size))?$content->carousel_arrow_size:''?>">
						</div>
					</div>
					<div class="col-sm-4 col-lg-2">
						<label class="text-black m-b-5">Arrow Padding </label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[carousel_arrow_padding]" value="<?php echo (isset($content->carousel_arrow_padding))?$content->carousel_arrow_padding:''?>">
						</div>
					</div>
					<div class="col-sm-4 col-lg-2">
						<label class="text-black m-b-5">Arrow Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_color]" value="<?php echo (isset($content->carousel_arrow_color))?$content->carousel_arrow_color:''?>">
						</div>
					</div>
					<div class="col-sm-4 col-lg-2">
						<label class="text-black m-b-5">Arrow Hover Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_hover_color]" value="<?php echo (isset($content->carousel_arrow_hover_color))?$content->carousel_arrow_hover_color:''?>">
						</div>
					</div>
					<div class="col-sm-4 col-lg-2">
						<label class="text-black m-b-5">Background Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray complex-colorpicker" name="content[carousel_arrow_background_color]" value="<?php echo (isset($content->carousel_arrow_background_color))?$content->carousel_arrow_background_color:''?>">
						</div>
					</div>
				</div>
				<div class="row text-left">
					<div class="col-sm-4 text-left">
						<div class="form-group text-left">
							<label for="" class="m-b-5 text-black">Max Image Height (optional):</label>
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="content[max_image_height]" value="<?php echo (isset($content->max_image_height))?$content->max_image_height:''?>">
							</div>
						</div>
					</div>
					<div class="col-sm-4 text-left">
						<div class="form-group text-left">
							<label for="" class="m-b-5 text-black">Max Width (optional):</label>
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="content[max_width]" value="<?php echo (isset($content->max_width))?$content->max_width:''?>">
							</div>
						</div>
					</div>
					<div class="col-sm-4 text-left grid-hide">
						<label class="text-black m-b-5">Variable Width:</label>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($settings->carousel_variable_width) && ($settings->carousel_variable_width == "Disabled" || $settings->carousel_variable_width == "false")) ? 'off' : 'on';
							?>
							<div class="btn-group" id="carousel_variable_width" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[carousel_variable_width]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[carousel_variable_width]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
				</div>
				<div class="row flex-row flex-wrap text-left">
					<div class="col-sm-3 text-left auto-product-show">
						<div class="form-group text-left">
							<label for="" class="m-b-5 text-black">Total Items to Display: <small class="">(blank for all)</small></label>
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="settings[slides_total]" value="<?php echo (isset($settings->slides_total))?$settings->slides_total:''?>">
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left">
						<div class="form-group text-left">
							<label for="" class="m-b-5 text-black">Item Count - Desktop:</label>
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="settings[slides_display_desktop]" value="<?php echo (isset($settings->slides_display_desktop))?$settings->slides_display_desktop:''?>">
							</div>
							<small class="hide">(set to number partially visible if having scrolling issues)</small>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-show">
						<div class="form-group text-left">
							<label for="" class="m-b-5 text-black">Item Count - Mobile:</label>
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="settings[slides_display_mobile]" value="<?php echo (isset($settings->slides_display_mobile))?$settings->slides_display_mobile:''?>">
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-hide">
						<div class="form-group text-left">
							<label for="" class="m-b-5 text-black">Auto Play Speed:</label>
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="settings[transition_speed]" value="<?php echo (isset($settings->transition_speed))?$settings->transition_speed:'3'?>">
							</div>
							<small class="hide">(set auto play transition speed)</small>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-hide">
						<label class="text-black m-b-5">Max Container size - Desktop:</label>
						<div class="panel panel--module">
							<div class="panel panel--module bg-gray">
								<input type="text" class="form-control" name="settings[carousel_max_container_size]" value="<?php echo (isset($settings->carousel_max_container_size))?$settings->carousel_max_container_size:''?>">
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-hide">
						<label class="text-black m-b-5">Auto Play:</label>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($settings->carousel_autoplay) && $settings->carousel_autoplay == "Disabled") ? 'off' : 'on';
							?>
							<div class="btn-group" id="carousel_autoplay" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[carousel_autoplay]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[carousel_autoplay]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
					<div class="col-sm-3 text-left grid-hide">
						<label class="text-black m-b-5">Alignment:</label>
						<div class="panel panel--module bg-gray">
							<?php echo $this->formSelect('settings[carousel_alignment]', (isset($settings->carousel_alignment))?$settings->carousel_alignment:'', array('class'=>'form-control'), array("m-r-auto"=>"Left","m-center"=>"Center","m-l-auto"=>'Right'))?>
						</div>
					</div>
				</div>
				<div class="row text-left">
					<div class="col-sm-3 text-left grid-show">
						<label class="text-black m-b-5"> Grid Column Spacing:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="settings[grid_column_spacing]" value="<?php echo (isset($settings->grid_column_spacing))?$settings->grid_column_spacing:20?>">
						</div>
					</div>
					<div class="col-sm-3 text-left grid-show">
						<label class="text-black m-b-5"> Grid Row Spacing:</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="settings[grid_row_spacing]" value="<?php echo (isset($settings->grid_row_spacing))?$settings->grid_row_spacing:20?>">
						</div>
					</div>
					<div class="col-sm-3 text-left grid-show">
						<label class="text-black m-b-5">Image Opacity</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="settings[image_opacity]" value="<?php echo (isset($settings->image_opacity))?$settings->image_opacity:''?>">
						</div>
					</div>
					<div class="col-sm-3 text-left grid-show">
						<label class="text-black m-b-5">Image Hover Opacity</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="settings[image_hover_opacity]" value="<?php echo (isset($settings->image_hover_opacity))?$settings->image_hover_opacity:''?>">
						</div>
					</div>
				</div>

				<h4 class="text-black m-b-5 text-left">Caption Options</h4>
				<hr class="m-t-10">
				<div class="row flex-row flex-wrap text-left">
					<div class="col-sm-2 text-left">
						<label class="text-black m-b-5">Caption Position</label>
						<div class="panel panel--module">
							<?php
							//deprecating old overlay_status for new multiple caption position options
							if (isset($settings->overlay_status) && $settings->overlay_status == "Enabled") {
								$settings->caption_position = 'overlay';
							}
							?>
							<?php echo $this->formSelect('settings[caption_position]', (isset($settings->caption_position))?$settings->caption_position:'', array('class'=>'form-control'), array("off"=>"Disable Caption","overlay"=>"Overlay","below"=>"Below"))?>
						</div>
					</div>
					<div class="col-sm-3 text-left multi-hide">
						<label class="text-black m-b-5">Caption Alignment</label>
						<div class="panel panel--module">
							<?php
							if (isset($settings->overlay_status) && $settings->overlay_status == "Enabled") {
								$settings->caption_position = 'overlay';
							}
							?>
							<?php echo $this->formSelect('settings[caption_alignment]', (isset($settings->caption_alignment))?$settings->caption_alignment:'', array('class'=>'form-control'), array("text-left"=>"Left","text-center"=>"Center","text-right"=>"Right"))?>
						</div>
					</div>
					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Overlay Background Color</label>
						<input type="text" class="form-control complex-colorpicker" name="settings[overlay_background_color]" value="<?php echo (isset($settings->overlay_background_color))?$settings->overlay_background_color:''?>">
					</div>
					<div class="col-sm-2 text-left">
						<label class="text-black m-b-5">Padding (left/right)</label>
						<input type="text" class="form-control" name="settings[overlay_padding_lr]" value="<?php echo (isset($settings->overlay_padding_lr))?$settings->overlay_padding_lr:''?>">
					</div>
					<div class="col-sm-2 text-left">
						<label class="text-black m-b-5">Padding (top/bottom)</label>
						<input type="text" class="form-control" name="settings[overlay_padding_tb]" value="<?php echo (isset($settings->overlay_padding_tb))?$settings->overlay_padding_tb:''?>">
					</div>

					<div class="col-sm-2">
						<label class="text-black m-b-5">Show Title:</label>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($content->caption_title_status) && ($content->caption_title_status == "Disabled")) ? 'off' : 'on';
							?>
							<div class="btn-group" id="caption_title_status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="content[caption_title_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="content[caption_title_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
					<div class="col-sm-2">
						<label class="text-black m-b-5">Title Text Size</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[caption_title_text_size]" value="<?php echo (isset($content->caption_title_text_size))?$content->caption_title_text_size:''?>">
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Title Text Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-white complex-colorpicker" name="content[caption_title_text_color]" value="<?php echo (isset($content->caption_title_text_color))?$content->caption_title_text_color:''?>">
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Title Weight</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('content[caption_title_weight]', (isset($content->caption_title_weight))?$content->caption_title_weight:'', array('class'=>'form-control bg-gray'),
								array(
									'' => 'Default',
									'300' => 'Light',
									'400' => 'Regular',
									'500' => 'Medium',
									'600' => 'Semi Bold',
									'700' => 'Bold',
									'800' => 'Bolder'
								)
							)?>
						</div>
					</div>
					<div class="col-sm-2">
						<label class="text-black m-b-5">Title Line Height</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-white" name="content[caption_title_line_height]" value="<?php echo (isset($content->caption_title_line_height))?$content->caption_title_line_height:''?>">
						</div>
					</div>

					<div class="col-sm-2">
						<label class="text-black m-b-5">Show Description:</label>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($content->caption_description_status) && ($content->caption_description_status == "Disabled")) ? 'off' : 'on';
							?>
							<div class="btn-group" id="caption_title_status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="content[caption_description_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="content[caption_description_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Description Source</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('content[caption_description_source]', (isset($content->caption_description_source))?$content->caption_description_source:'', array('class'=>'form-control bg-gray'),
								array(
									'' => 'Short Description',
									'description' => 'Full Description',
								)
							)?>
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Description Length (characters)</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('content[caption_description_char_length]', (isset($content->caption_description_char_length))?$content->caption_description_char_length:60, array('class'=>'form-control bg-gray'),
								array(
									60 => 'Default (60 char)',
									100 => '100 Characters',
									150 => '150 Characters',
									200 => '200 Characters',
									'' => 'Full Description',
								)
							)?>
						</div>
					</div>
					<div class="col-sm-2">
						<label class="text-black m-b-5">Description Size</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[caption_text_size]" value="<?php echo (isset($content->caption_text_size))?$content->caption_text_size:''?>">
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Description Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-white complex-colorpicker" name="content[caption_text_color]" value="<?php echo (isset($content->caption_text_color))?$content->caption_text_color:''?>">
						</div>
					</div>
					<div class="col-sm-2">
						<label class="text-black m-b-5">Description Line Height</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-white" name="content[caption_text_line_height]" value="<?php echo (isset($content->caption_text_line_height))?$content->caption_text_line_height:''?>">
						</div>
					</div>
				</div>

				<h4 class="text-black m-b-5 text-left">View Details Options</h4>
				<hr class="m-t-10">
				<div class="row flex-row flex-wrap text-left">

					<div class="col-sm-12">
						<label class="text-black m-b-5">Enable:</label>
						<div class="panel panel--module">
							<?php
							$enabled = (isset($settings->view_details_status) && ($settings->view_details_status == "Disabled" || $settings->view_details_status == "false")) ? 'off' : 'on';
							?>
							<div class="btn-group" id="view_details_status" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="settings[view_details_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="settings[view_details_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
							</div>
						</div>
					</div>

					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Text</label>
						<input type="text" class="form-control" name="content[view_details_text]" value="<?php echo (isset($content->view_details_text))?$content->view_details_text:''?>">
					</div>

					<div class="col-sm-3">
						<label class="text-black m-b-5">Size</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[view_details_text_size]" value="<?php echo (isset($content->view_details_text_size))?$content->view_details_text_size:''?>">
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-white complex-colorpicker" name="content[view_details_text_color]" value="<?php echo (isset($content->view_details_text_color))?$content->view_details_text_color:''?>">
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Weight</label>
						<div class="panel panel--module">
							<?php echo $this->formSelect('content[view_details_text_weight]', (isset($content->view_details_text_weight))?$content->view_details_text_weight:'', array('class'=>'form-control bg-gray'),
								array(
									'' => 'Default',
									'300' => 'Light',
									'400' => 'Regular',
									'500' => 'Medium',
									'600' => 'Semi Bold',
									'700' => 'Bold',
									'800' => 'Bolder'
								)
							)?>
						</div>
					</div>
					<div class="col-sm-3">
						<label class="text-black m-b-5">Line Height</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-white complex-colorpicker" name="content[view_details_text_line_height]" value="<?php echo (isset($content->view_details_text_line_height))?$content->view_details_text_line_height:''?>">
						</div>
					</div>

					<div class="col-sm-3 text-left">
						<label class="text-black m-b-5">Margin (bottom)</label>
						<input type="text" class="form-control" name="content[view_details_margin]" value="<?php echo (isset($content->view_details_margin))?$content->view_details_margin:''?>">
					</div>

				</div>

				<div class="car-conditional carousel_type-product_cta_image">
					<h4 class="text-black m-b-5 text-left">CTA Settings</h4>
					<hr class="m-t-10">
					<div class="row text-left">
						<div class="col-sm-6">
							<label class="text-black m-b-5">Image:</label>
							<div class="panel panel--module text-left">
								<img src="<?php echo (isset($content->image_path))?$content->image_path:''?>" class="img-responsive m-b-15 filemanager-image" data-image_src="#module_image_path" id="module_image">
								<input type="hidden" class="form-control" name="content[image_path]" id="module_image_path" value="<?php echo (isset($content->image_path))?$content->image_path:''?>">
								<button data-url="/filemanager/dialog.php?type=1&field_id=module_image_path&relative_url=1" class="btn btn--black border-radius modal-filemanager" type="button">CTA Image</button>
								<button type="button" class="btn btn-primary clear-module_image">Remove Image</button>
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-15">Image Dimensions:</label>
							<div class="panel panel--module text-left">
								<?php
								if (isset($content->image_path) && $content->image_path) {
									$size = getimagesize($_SERVER['DOCUMENT_ROOT'].$content->image_path);
								}
								?>
								<div class="row">
									<div class="col-xs-5">
										Width:
										<input type="text" class="form-control bg-gray" name="content[image_width]" placeholder="<?php echo (isset($size) && $size[0])?$size[0]:''?>" value="<?php echo (isset($content->image_width))?$content->image_width:''?>">
									</div>
									<div class="col-xs-2 text-center">
										<br/>
										<span class="fas fa-2x fa-link" id="img-ratio-btn" title="Aspect Ratio Locked"></span>
										<input type="hidden" id="img-ratio" value="<?php echo (isset($size) && $size[0] && $size[1])?$size[1]/$size[0]:''?>">
									</div>
									<div class="col-xs-5">
										Height:
										<input type="text" class="form-control bg-gray" name="content[image_height]" placeholder="<?php echo (isset($size) && $size[1])?$size[1]:''?>" value="<?php echo (isset($content->image_height))?$content->image_height:''?>">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row text-left">
						<div class="col-sm-6">
							<label class="text-black m-b-5">Image Alignment:</label>
							<div class="panel panel--module">
								<?php echo $this->formSelect('settings[image_alignment]', (isset($settings->image_alignment))?$settings->image_alignment:'', array('class'=>'form-control bg-gray'), array(""=>"Left","center-block"=>"Center","pull-right"=>"Right"))?>
							</div>
						</div>
						<div class="col-sm-6">
							<label class="text-black m-b-5">Alt Title:</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-gray" name="content[alt_title]" value="<?php echo (isset($content->alt_title))?$content->alt_title:''?>">
							</div>
						</div>
					</div>
				</div>

				<div class="car-conditional carousel_type-multibutton_product carousel_type-multibutton_grid">
					<h4 class="text-black m-b-5 text-left">Multi Button Options</h4>
					<hr class="m-t-10">
					<div class="row text-left">
						<div class="col-sm-3">
							<label class="text-black m-b-5">Button Alignment</label>
							<div class="panel panel--module">

								<?php echo $this->formSelect('settings[multi_button_alignment]', (isset($settings->multi_button_alignment))?$settings->multi_button_alignment:'', array('class'=>'form-control'), array("d-block"=>"Block","d-flex"=>"Inline"))?>
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Title</label>
							<div class="panel panel--module">
								<input type="text" class="form-control" name="settings[multi_button_title]" value="<?php echo (isset($settings->multi_button_title))?$settings->multi_button_title:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Title Size</label>
							<div class="panel panel--module">
								<input type="text" class="form-control" name="settings[multi_button_title_size]" value="<?php echo (isset($settings->multi_button_title_size))?$settings->multi_button_title_size:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Title Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-white complex-colorpicker" name="settings[multi_button_title_color]" value="<?php echo (isset($settings->multi_button_title_color))?$settings->multi_button_title_color:''?>">
							</div>
						</div>
					</div>
					<div class="row text-left">
						<div class="col-sm-3">
							<label class="text-black m-b-5">Button Text Size</label>
							<div class="panel panel--module">
								<input type="text" class="form-control" name="settings[multi_button_text_size]" value="<?php echo (isset($settings->multi_button_text_size))?$settings->multi_button_text_size:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Button Text Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-white complex-colorpicker" name="settings[multi_button_text_color]" value="<?php echo (isset($settings->multi_button_text_color))?$settings->multi_button_text_color:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Button Background Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-white complex-colorpicker" name="settings[multi_button_bg_color]" value="<?php echo (isset($settings->multi_button_bg_color))?$settings->multi_button_bg_color:''?>">
							</div>
						</div>
						<div class="col-sm-3">
							<label class="text-black m-b-5">Button Hover Background Color</label>
							<div class="panel panel--module">
								<input type="text" class="form-control bg-white complex-colorpicker" name="settings[multi_hover_button_bg_color]" value="<?php echo (isset($settings->multi_hover_button_bg_color))?$settings->multi_hover_button_bg_color:''?>">
							</div>
						</div>
					</div>
				</div>


				<h4 class="text-black m-b-5 text-left">View More Options</h4>
				<hr class="m-t-10">
				<div class="form-group text-left">
					<label for="" class="m-b-5 text-black">View More Link Text:</label>
					<div class="panel panel--module bg-gray">
						<input type="text" class="form-control" name="content[view_more_text]" value="<?php echo (isset($content->view_more_text))?$content->view_more_text:''?>">
					</div>
				</div>
				<div class="form-group text-left">
					<label for="" class="m-b-5 text-black">View More Link URL:</label>
					<div class="panel panel--module bg-gray">
						<input type="text" class="form-control" name="content[view_more_url]" value="<?php echo (isset($content->view_more_url))?$content->view_more_url:''?>">
					</div>
				</div>
				<div class="row text-left">
					<div class="col-sm-6">
						<label class="text-black m-b-5">View More Link Text Size</label>
						<div class="panel panel--module">
							<input type="text" class="form-control" name="content[view_more_text_size]" value="<?php echo (isset($content->view_more_text_size))?$content->view_more_text_size:''?>">
						</div>
					</div>
					<div class="col-sm-6">
						<label class="text-black m-b-5">View More Link Text Color</label>
						<div class="panel panel--module">
							<input type="text" class="form-control bg-gray complex-colorpicker" name="content[view_more_text_color]" value="<?php echo (isset($content->view_more_text_color))?$content->view_more_text_color:''?>">
						</div>
					</div>
				</div>


				<h4 class="text-black m-b-5 text-left">Watch Now Button </h4>
				<hr class="m-t-10">
				<div class="text-left">
					<?php echo $this->partial('/cms/modules/partials/button.phtml', array(
						'in_panel' => false, //is it in the Panel Editor
						'field_map' => array( //this is a giant map of "easy names" to the actual field names. Need this because the existing names are all different
							'style' => array('name'=>'content[watch_now_button_class]','value'=>isset($content->watch_now_button_class)?$content->watch_now_button_class:null),
							'color' => array('name'=>'content[watch_now_button_color]','value'=>isset($content->watch_now_button_color)?$content->watch_now_button_color:null),
							'hover_color' => array('name'=>'content[watch_now_button_hover_color]','value'=>isset($content->watch_now_button_hover_color)?$content->watch_now_button_hover_color:null),
							'hover_effect' => null,
							'border_status' => null,
							'border_size' => array('name'=>'content[watch_now_button_border_size]','value'=>isset($content->watch_now_button_border_size)?$content->watch_now_button_border_size:null),
							'border_color' => array('name'=>'content[watch_now_button_border_color]','value'=>isset($content->watch_now_button_border_color)?$content->watch_now_button_border_color:null),
							'border_hover_color' => array('name'=>'content[watch_now_button_hover_border_color]','value'=>isset($content->watch_now_button_hover_border_color)?$content->watch_now_button_hover_border_color:null),
							'font' => array('name'=>'content[watch_now_font]','value'=>isset($content->watch_now_font)?$content->watch_now_font:null),
							'text_size' => array('name'=>'content[watch_now_text_size]','value'=>isset($content->watch_now_text_size)?$content->watch_now_text_size:null),
							'text_weight' => array('name'=>'content[watch_now_text_weight]','value'=>isset($content->watch_now_text_weight)?$content->watch_now_text_weight:null),
							'text_color' => array('name'=>'content[watch_now_text_color]','value'=>isset($content->watch_now_text_color)?$content->watch_now_text_color:null),
							'text_hover_color' => array('name'=>'content[watch_now_text_hover_color]','value'=>isset($content->watch_now_text_hover_color)?$content->watch_now_text_hover_color:null),
							'text_padding' => null,
							'text_line_height' => null,
							'width' => array('name'=>'content[watch_now_button_width]','value'=>isset($content->watch_now_button_width)?$content->watch_now_button_width:null),
							'padding_vertical' => array('name'=>'content[watch_now_button_padding_tb]','value'=>isset($content->watch_now_button_padding_tb)?$content->watch_now_button_padding_tb:null),
							'padding_horizontal' => array('name'=>'content[watch_now_button_padding_lr]','value'=>isset($content->watch_now_button_padding_lr)?$content->watch_now_button_padding_lr:null),
							'alignment' => array('name'=>'content[watch_now_alignment]','value'=>isset($content->watch_now_alignment)?$content->watch_now_alignment:null),
							'button_status' => array('name'=>'content[watch_now_status]','value'=>isset($content->watch_now_status)?$content->watch_now_status:null),
						)
					)); ?>
				</div>


				<h3 class="form-group-title m-b-5 text-left" role="button" data-toggle="collapse" href="#collapseAdvanced" aria-expanded="false" aria-controls="collapseAdvanced">Advanced <i class="fas fa-plus-square"></i></h3>
				<div class="collapse" id="collapseAdvanced">
					<div class="row text-left">
						<div class="col-sm-12">
							<label class="text-black m-b-5">Product URL Base</label>
							<div class="panel panel--module">
								<input type="text" class="form-control" name="settings[product_url_base]" value="<?php echo (isset($settings->product_url_base))?$settings->product_url_base:'product'?>">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div role="tabpanel" class="tab-pane" id="settings">
			<?php echo $this->partial('/cms/partials/module_settings.phtml', array('module' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="design">
			<?php echo $this->partial('/cms/partials/custom_design.phtml', array('item' => $this->module)); ?>
		</div>
		<div role="tabpanel" class="tab-pane" id="history">
			<?php echo $this->partial('/cms/partials/module_history.phtml', array('history' => $this->history)); ?>
		</div>
	</div>

	<div class="break-row text-center p-t-50">
		<button type="submit" class="btn btn-lg btn--purple btn--full-width save-module border-radius-bottom" id="save">Save</button>
	</div>

</form>

<script>
	$(function() {
		window.cny.moduleSubPanels();
		window.cny.fontWeightUpdater();

		$(".selectpicker").selectpicker();

		$(".car-conditional").hide();
		$(".preview").hide();

		$(".carousel_type-"+$("#settings-carousel_type").val()).show();

		$("#settings-carousel_type").off("change").on("change",function(){
			$(".car-conditional").hide();

			$(".carousel_type-"+$(this).val()).show();
		});

		window.cny.wysiwyg();

		<?php if (isset($settings->product_selection_method) && $settings->product_selection_method == 'auto') { ?>
		$(".auto-product-hide").hide();
		$(".auto-product-show").show();
		<?php }else { ?>
		$(".auto-product-hide").show();
		$(".auto-product-show").hide();
		<?php } ?>
		$("#productSelectionMethod").on("change", function(){
			if ($(this).val() == 'auto') {
				$(".auto-product-hide").hide();
				$(".auto-product-show").show();
			}else {
				$(".auto-product-hide").show();
				$(".auto-product-show").hide();
			}
		});

		$("#panelForm-product_id").select2({
			placeholder: "Manual Product",
			allowClear: true,
			minimumInputLength: 2,
			ajax: {
				url: "/admin/product/json-search/",
				dataType: 'json',
				quietMillis: 250,
				data: function (term, page) {
					var query = {
						q: term
					};
					return query;
				},
				results: function (data, page) {
					//convert to required format
					var s_data = [];
					$.each(data, function(key){
						s_data.push({id:data[key].id, text:data[key].title})
					});

					return { results: s_data };
				},
				cache: true
			},
			initSelection: function(element, callback) {
				var id = $(element).val();
				if (id !== "") {
					$.ajax("/admin/product/json-search/id/" + id, {
						dataType: "json"
					}).done(function(data) {
						//convert to required format
						var s_data = '';
						$.each(data, function(key){
							s_data = {id:data[key].id, text:data[key].title}
						});

						callback(s_data);
					});

					$(".manual-product").hide();
				}
			},
			formatSelection: function(item) {
				item.title = (item.text)?item.text:'';

				var markup = '<div class="row">' +
					'<div class="col-sm-12">' + item.text + '</div>' +
					'</div>';

				$(".manual-product").hide();

				return markup;
			},
			escapeMarkup: function (m) {
				return m;
			}
		}).on("select2-removed", function(){
			$(".manual-product").show();
		});

		//image options
		if ($("#module_image_path").val() == '') $("#module_image").hide();

		$(".clear-module_image").on("click",function(){
			$("#module_image_path").val('');
			$("#module_image").attr('src','').hide();
		});

		$("#img-ratio-btn").on("click", function(){
			if ($(this).hasClass('fa-link')) {
				$(this).removeClass('fa-link').addClass('fa-chain-broken').attr('title','Aspect Ratio Unlocked');
			}else {
				$(this).removeClass('fa-chain-broken').addClass('fa-link').attr('title','Aspect Ratio Locked');
			}
		});

		$('input[name="content[image_width]"]').on("blur", function(){
			if ($(this).val() && $("#img-ratio-btn").hasClass('fa-link')) {
				if ($("#img-ratio").val() == '' || $("#img-ratio").val() == 'NaN') {
					$("#img-ratio").val($("#module_image").height() / $("#module_image").width());
				}

				$('input[name="content[image_height]"]').val(Math.round($("#img-ratio").val() * $(this).val()));
			}
		});
		$('input[name="content[image_height]"]').on("blur", function(){
			if ($(this).val() && $("#img-ratio-btn").hasClass('fa-link')) {
				if ($("#img-ratio").val() == '' || $("#img-ratio").val() == 'NaN') {
					$("#img-ratio").val($("#module_image").height() / $("#module_image").width());
				}

				$('input[name="content[image_width]"]').val(Math.round($(this).val() / $("#img-ratio").val()));
			}
		});

		//tray options
		<?php if (isset($settings->carousel_type) && ($settings->carousel_type == 'grid' || $settings->carousel_type == 'custom_grid')) { ?>
		$(".grid-hide").hide();
		$(".grid-show").show();
		<?php }else { ?>
		$(".grid-hide").show();
		$(".grid-show").hide();
		<?php } ?>
		$("#settings-carousel_type").on("change", function(){
			if ($(this).val() == 'grid') {
				$(".grid-hide").hide();
				$(".grid-show").show();
			}else {
				$(".grid-hide").show();
				$(".grid-show").hide();
			}
		});

		//multi button options
		<?php if (isset($settings->carousel_type) && ($settings->carousel_type == 'multibutton_product' || $settings->carousel_type == 'multibutton_grid')) { ?>
		$(".multi-hide").hide();
		$(".multi-show").show();
		<?php }else { ?>
		$(".multi-hide").show();
		$(".multi-show").hide();
		<?php } ?>

		$("#settings-carousel_type").on("change", function(){
			if ($(this).val() === 'multibutton_product' || $(this).val() === 'multibutton_grid' ) {
				$(".muliti-hide").hide();
				$(".muliti-show").show();
			}else {
				$(".muliti-hide").show();
				$(".muliti-show").hide();
			}
		});
	});
</script>
