<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>

<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="form-group col-sm-4">
					<label>Code:</label>
					<input type="text" name="code" class="form-control" value="<?php echo $this->code?>">
				</div>

				<div class="form-group col-sm-4">
					<label>Status:</label>
					<?php echo $this->formSelect('status', $this->status, array('class'=>'form-control'), array(""=>"")+$this->statuses)?>
				</div>

				<div class="col-sm-12">
					<div class="col-xs-1">
						<button type="submit" class="btn btn-primary xs-100">Search</button>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<div class="checkbox hidden-xs">
								<input type="checkbox" name="csv" value="1" id="export"> <label for="export">Export</label>
							</div>
						</div>
					</div>
					<div class="col-xs-1">
						<a href="/admin/gift-card/list" class="btn btn-warning xs-100">Reset</a>
					</div>
				</div>
			</form>

		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-10 hidden-xs">
				<?php //echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<div class="col-sm-2 col-xs-12">
				<a class="pull-right btn btn-primary xs-100" href="#/admin/gift-card/add">Add New Gift Card</a>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				Functionality Coming Soon
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php //echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>
