.property-address {
  @include stanpro;
  //TODO make global once approved
  //color: $gray;
  color:#000;
  font-size: px2rem(14);
   @media screen and (max-width:$tablet-max){
  	font-size: px2rem(12);
  }
}
