.listing-tile__description {

  p {
    font-size: px2rem(14);
    line-height: 1.5em;
    margin-bottom: px2rem($xxs-spacing);
    height: 4.5em;
    overflow: hidden;

    @media sceren and (max-width: $mobile-max) {
      font-size: px2rem(12);
    }
  }
}