.listing-tile {
  &__footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    &__left, &__right {
      display: inline;
      white-space:nowrap;


      > * {
        display: inline-block;
        padding-left: px2rem($xs-spacing);
        &:first-child {
          // padding-left: 0;
        }
      }
    }

    &__left {
      > *:nth-child(2) {
        padding-left: px2rem($xxs-spacing);
      }
    }

    &__right {
      margin-left: px2rem($xs-spacing);
      > * {
        border-left: 1px solid $gold;
        margin-right: px2rem($xxs-spacing);
      }
    }
    &__center{
      text-align: center;
      display: block;
      min-width: 100%;
    }

    @media screen and (max-width: $tablet-max) {
      &__left {
        > * {
          padding: 0;
        }
      }

      .inquire {
        display: none;
      }

      &__left {
        > *:nth-child(2) {
          padding-left: px2rem($xxs-spacing);
          padding-right: px2rem($xxs-spacing);
        }
        > *:nth-child(3) {
          border-left: 1px solid $gold;
          padding-left: px2rem($xxs-spacing);
        }
      }
    }

  }

  &__building-footer {
    .listing-tile__footer__left,
    .listing-tile__footer__right {

    }

    .listing-tile__footer__left {
      justify-content: flex-end;
    }

    .listing-tile__footer__right {
      border-left: 1px solid $gold;
      padding-left: px2rem($xxs-spacing);
      justify-content: flex-start;
    }
  }

}