.listing-tile {
  &__media {
    display: block;
    position: relative;
    &:after{content:'';
        height:100%;
        width:100%;
        display:block;
        position: absolute;
        top:0px;
        left:0px;
        transition: all 160ms ease;
    }
    &:hover{
      &:after{
        content:'';
        height:100%;
        width:100%;
        display:block;
        position: absolute;
        top:0px;
        left:0px;
        background-color:rgba(0,0,0,0.15);
        z-index:1;
      }
    }

    img {
      display: block;
      width: 100%;
    }

    .spoiler {
      position: absolute;

      &--top {
        color: $white;
        //TODO make global if approved
        //background-color: transparentize($gold, .3);
        background-color: #666;
        top: 0;
        right: 0;
      }

      &--bottom {
        bottom: 0;
        left: 0;
        height:auto;
        display:inline-block;
        position: absolute;
        .bottom--box{

          &--one{
            //TODO make global if approved
            //color: $gold;
            color: #000;
            background-color: $white;
            @include gotham-book;
            font-size: px2em(12, 16);
            display: inline-block;
            padding: px2em($xs-spacing, 16);
            float:left;
            position: relative;
          }
          &--two{
            color: $white;
            //background-color: $gold;
            background-color: #666;
            @include gotham-book;
            font-size: px2em(12, 16);
            display: inline-block;
            padding: px2em($xs-spacing, 16);
            float:left;
            position: relative;
          }
        }
      }
    }
  }

  .listing-tile__description {
    padding: 0 px2rem($s-spacing) px2rem($xxs-spacing);
    text-align: center;
  }

  &__footer {
    margin-top: px2rem($xxs-spacing);
    max-width: 100%;
  }

  @media screen and (max-width: $tablet-max) {
    font-size: px2em(12, 15);
  }

  @media screen and (max-width: $mobile-max) {
    font-size: px2em(12, 15);
  }

}
