.tile-group {

  h4 {
    padding-bottom: px2rem($normal-spacing);
  }

  .listing-tile {
    font-size: px2em(12,15);
  }

  @media screen and (max-width: $mobile-max) {

    h4 {
      padding-bottom: px2rem($s-spacing);
      text-align: center;
    }

    .listing-tile {
      font-size: px2em(11,15);
    }
  }
}

//No results in Listing Group

.listing--no-results{
  display: none;
  
  .no-results--box{
    text-align:center;
    color:$gold;
    height:120px;
    position:relative;
    span{
      position:absolute;
      display:block;
      left:50%;
      top:50%;
      margin-right:-25%;
      transform:translateX(-50%) translateY(-50%);
    }
    border-left:none;
    border-right:none;
    border-top:none;
    border-bottom:none;

    @media screen and (min-width: $tablet-max) {
      @include corners(px2rem(100), px2rem(45));
    }
  }
}