<?php
$media_cache = new Cny_View_Helper_MediaCache();
$unit_mapper = new Custom_Model_Mapper_GfUnit();
?>
<div class="side-menu-trigger"></div>
<div class="fixed-sub-nav">
	<div class="sub-nav-bar">
		<div class="sub-nav col-md-10">
			<a href="/rentals/<?php echo $this->region->code?>" class="sub-nav__back">
				<i class="fal fa-long-arrow-left"></i>
				<span class="desktop-label"><?php echo $this->region->name?> Listings</span>
				<span class="mobile-label">Listings</span>
			</a>
			<div class="sub-nav-heading">
				<div class="sub-nav-heading__top">
                <span>
                    <?php echo $this->building->name?>
                </span>
					<span>
                    <?php echo $this->region->name?>
                </span>
				</div>
				<div class="sub-nav-heading__bottom">
	                <span>
		                <?php echo $this->building->address_display_name?>, <?php echo $this->building->city?>, <?php echo $this->building->state?> <?php echo $this->building->zip?>
	                </span>
					<?php if ($this->building->cross_street) {?>
					<span>
                        (<?php echo $this->building->cross_street?>)
                    </span>
					<?php } ?>
				</div>
			</div>
			<div class="sub-nav__actions">
				<a class="link link--bold" href="/contact-us" target="_self">Leasing Office Info</a>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="carousel carousel--unit col-lg-7 col-lg-offset-1 col-md-12 col-md-offset-0 pr-s-0 pl-s-0 mb-s-xs">
			<div class="carousel__container">
				<?php foreach ($this->building_images as $image) { ?>
					<div class="carousel__item">
						<img src="<?php echo $media_cache->getImage($image->image, 'carousel-slide')?>" class="img-responsive" alt="<?php echo $image->alt_text?>">
					</div>
				<?php } ?>
			</div>
		</div>
		<div class="side-bar col-lg-3 col-md-10 mt-m-m mt-m-m">
			<div class="side-menu">
				<h1 class="unit-header-main">
					<span class="unit-header-size text-uppercase">NYC Apartment Rentals</span>
				</h1>
				<div class="side-menu__headline"><?php echo $this->building->name?></div>
				<div class="side-menu__availability">&nbsp;</div>
				<div class="side-menu__contact">
					<address class="address address--with-icon">
						<a class="address__link" target="_blank" href="http://maps.google.com/?q=<?php echo urlencode(trim($this->building->street1.' '.$this->building->street2).' '.$this->building->city.', '.$this->building->state.' '.$this->building->zip)?>"><span><?php echo $this->building->street1?> <?php echo $this->building->street2?> <br><?php echo $this->building->city?>, <?php echo $this->building->state?> <?php echo $this->building->zip?></span></a>
					</address>
					<a class="phone phone--with-icon" href="tel:+1<?php echo $this->region->phone?>"><?php echo $this->region->phone?></a>
					<div class="hours hours--small hours--center">
                        <span class="hours__times"><?php echo $this->region->hours?></span>
					</div>
				</div>
				<a class="link link--with-arrow" href="#apartments" target="_self">
					View Apartments
					<i class="fal fa-arrow-right"></i>
				</a>
				<a class="link link--with-arrow" href="/about-us/frequently-asked-questions" target="">
					FAQs
					<i class="fal fa-arrow-right"></i>
				</a>
				<a href="#neighborhood" class="button button--clear">Neighborhood</a>
				<a href="#poiMap" class="button button--clear">Map</a>
			</div>
		</div>
	</div>
</div>

<?php if ($this->open_houses) {?>
<div class="container-fluid mt-l-l mb-l-l mb-m-xl mt-m-xl mt-s-m mb-s-m">
	<div class="row">
		<div class="col-lg-5 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div class="announcement">
				<div class="announcement__container">
					<p class="open-house-heading" aria-label="Listing Open House" style="text-transform: uppercase">Open House</p>
					<ul>
						<?php foreach ($this->open_houses as $open_house) {?>
						<li>
							<time class="datetime"><?php echo date("F n/j", strtotime($open_house->start_time))?> <span class="divider pl-xxs pr-xxs">|</span><?php echo date("g:i A", strtotime($open_house->start_time))?> - <?php echo date("g:i A", strtotime($open_house->end_time))?></time>
							<p class="open-house--notice">Use SelfTour link to check in with doormen to pick up the key to view availability with no appointment necessary.</p>
						</li>
						<?php } ?>
					</ul>
					<a class="open-house-link open-house-link--with-icon" href="http://maps.google.com/?q=Park+Towers+South+315+W.+57th+St+%2C+New+York+%2C+NY+10019" target="&quot;_blank&quot;">
						<span class="open-house-link__icon icon-directions"></span>
						Get Directions
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<?php } ?>

<div class="container-fluid pt-l-s pt-m-s mt-s-0 mt-l-xl mt-m-xl">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
			<h2 style="font-size: 1.625rem;" class="text-uppercase m-b-30"><?php echo $this->neighborhood->name?> Apartments</h2>

			<?php if ($this->available_units) {?>
				<div class="text-block" id="apartments">
					<h2 style="font-size:1.625em;" class="text-uppercase">Available Units</h2>

					<div class="row">
						<?php
						$image_mapper = new Custom_Model_Mapper_GfUnitImage();
						$incentive_mapper = new Custom_Model_Mapper_GfUnitIncentive();
						foreach ($this->available_units as $unit) {
							$incentive = $incentive_mapper->fetchNameByUnitId($unit->id);
							$image = $image_mapper->fetchPrimaryByUnitId($unit->id);
							?>
							<div class="listing-tile col-sm-12 col-md-6 mb-l">
								<a href="/rentals/<?php echo $this->region->code?>/<?php echo $this->building->code?>/apartment-<?php echo $unit->code?>" class="listing-tile__media">
									<picture>
										<source srcset="<?php echo $media_cache->getImage($image->image, 'unit-tile-mobile')?>" media="(max-width: 600px)" aria-label="">
										<img src="<?php echo $media_cache->getImage($image->image, 'unit-tile')?>" class="image" alt="<?php echo $image->alt_text?>">
									</picture>
									<div class="spoiler spoiler--top"><?php echo $this->neighborhood->name?></div>
									<span class="spoiler--bottom">
										<?php if ($incentive) {?>
	                                        <div class="spoiler bottom--box--one"><?php echo $incentive?></div>
										<?php } ?>
										<?php if ($this->open_houses && count($this->open_houses) > 0) {?>
			                                <div class="spoiler bottom--box--two">Open House</div>
										<?php } ?>
			                        </span>
									<?php if ($unit->walkin_key) {?>
										<a href="<?php echo $unit->walkin_key?>" class="button button--gold button--capitalize carousel__selftour-link hidden-xs" target="_blank">+SelfTour &trade;</a>
									<?php } ?>
								</a>
								<div class="listing-tile__footer" aria-hidden="true">
			                        <span class="listing-tile__footer__left">
				                        <?php $effective_price = $unit_mapper->getUnitNetEffectivePrice($unit->id);?>
			                            <span class="price">$<?php echo number_format($effective_price,0)?><?php echo ($effective_price < $unit->price)?"<sup>*</sup>":""?></span>
			                        </span>
									<span class="listing-tile__footer__right">
			                            <span class="rooms"><?php echo ($unit->bedrooms)?"{$unit->bedrooms} Bed":"Studio"?>&nbsp;<?php if ($unit->bathrooms) { echo number_format($unit->bathrooms) . " Bath";}?></span>
									</span>
								</div>
								<div class="listing-tile__footer__center" aria-hidden="true"></div>
							</div>
						<?php } ?>
					</div>
				</div>
			<?php } ?>

			<div class="text-block">
				<h2 style="font-size:1.625em;" class="text-uppercase">Description</h2>
				<p><?php echo $this->building->description?></p>
			</div>

			<div class="list-block mt-l-xl mb-l-xl mt-m-l mb-m-l mt-s-m">
				<h2 style="font-size:1.625em;" class="text-uppercase">Amenities</h2>
				<p></p>
				<div class="lists">
					<?php
					/*divide into two lists*/
					$amenities = $this->building_amenities;

					$divide = ceil(count($amenities) / 2);
					$amenitiesSplit[0] = array_slice($amenities, 0, $divide);
					$amenitiesSplit[1] = array_slice($amenities, $divide);

					foreach ($amenitiesSplit as  $array) {
						echo '<ul class="list">';
						foreach ($array as $amenity) {
							echo "<li>$amenity</li>";
						}
						echo'</ul>';
					}
					?>
				</div>
			</div>
		</div>
	</div>
</div>

<?php if ($this->transportations) {?>
<div class="container-fluid pt-l-s pt-m-s mt-s-0">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
			<div class="list-block" id="transportation">
				<h2 style="font-size:1.625em;" class="text-uppercase">Transportation</h2>
				<p style="line-height: 32px;">
					<?php foreach ($this->transportations as $transportation) {?>
						<?php
						$services = json_decode($transportation->station_service);
						foreach ($services as $service) {
							$service_cap = strtoupper($service);?>
							<img src="/custom_assets/images/transportation/<?php echo $service_cap?>.png" alt="<?php echo ($service_cap == 'LIRR')?"LIRR":"MTA NYC Subway {$service_cap} Line"?>" style="margin-bottom:-3px;">
						<?php } ?>
						at <?php echo $transportation->station_name?> <strong><?php echo $transportation->distance_to_station?> miles</strong><br>
					<?php } ?>
				</p>
			</div>
		</div>
	</div>
</div>
<?php } ?>

<div class="container-fluid pt-l-s pt-m-s mt-s-0 mt-l-xl mb-l-xl mt-m-l mb-m-l mt-s-m hidden">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
			<div class="text-block" style="margin-bottom:0;">
				<h2 style="font-size:1.625em;" class="text-uppercase">Building</h2>
				<p>
					<?php echo $this->building->description?>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
			<div class="list-block" id="neighborhood">
				<h2 style="font-size:1.625em;" class="text-uppercase">Neighborhood</h2>
				<p>
					<?php echo $this->neighborhood->description?>
				</p>
				<div class="lists">
					<?php foreach ($this->neighborhood_pois as $category => $pois) { ?>
					<ul class="list">
						<li class="head"><?php echo $category?></li>
						<?php foreach ($pois as $poi) {?>
							<li><?php echo $poi?></li>
						<?php } ?>
					</ul>
					<?php } ?>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="container-fluid mb-s-l mb-l-l mb-m-l">
	<?php echo $this->partial('partials/building-map.phtml', array('google_maps_api_key'=>$this->google_maps_api_key,'building'=>$this->building))?>
</div>

<?php if ($this->similar_buildings) {?>
<div class="container-fluid mt-l-xl mt-m-xl">
	<div class="row">
		<div class="col-lg-7 col-lg-offset-1 col-md-12 col-md-offset-0">
			<div class="tile-group mb-xl mb-s-l">
				<h2 style="font-size:1.625em;" class="text-uppercase buildings-heading">Similar Buildings</h2>
				<div class="row">
					<?php
					$image_mapper = new Custom_Model_Mapper_GfBuildingImage();
					$neighborhood_mapper = new Custom_Model_Mapper_GfNeighborhood();
					foreach ($this->similar_buildings as $similar_building) {
						$building_image = $image_mapper->fetchPrimaryByBuildingId($similar_building->id);
						$neighborhood = $neighborhood_mapper->find($similar_building->neighborhood_id);
						?>
						<div class="listing-tile col-sm-12 col-md-6 mb-l">
							<a href="/rentals/<?php echo $this->region->code?>/<?php echo $similar_building->code?>" class="listing-tile__media">
								<picture>
									<source srcset="<?php echo $media_cache->getImage($building_image->image, 'unit-tile-mobile')?>" media="(max-width: 600px)" aria-label="">
									<img src="<?php echo $media_cache->getImage($building_image->image, 'unit-tile-mobile')?>" class="image" alt="<?php echo $building_image->alt_text?>">
								</picture>
								<div class="spoiler spoiler--top"><?php echo $neighborhood->name?></div>
								<span class="spoiler--bottom">
			                    </span>
							</a>
							<div class="listing-tile__footer" aria-hidden="true">
			                    <span class="listing-tile__footer__left">
			                        <span class="listing-tile__building-name"><?php echo $similar_building->name?></span>
			                    </span>
								<span class="listing-tile__footer__right">
			                        <span class="property-address"><?php echo $similar_building->address_display_name?></span>
								</span>
							</div>
							<div class="listing-tile__footer__center" aria-hidden="true"></div>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>
	</div>
</div>
<?php } ?>

<div class="side-menu-end-trigger"></div>
<script>
	$(function() {
		$('.carousel__container').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			arrows: true,
			dots:false,
			infinite:false
		});
	});
</script>
