<?php
$media_cache = new Cny_View_Helper_MediaCache();
$unit_mapper = new Custom_Model_Mapper_GfUnit();
?>
<div class="container-fluid clearfix mt-l-xl mt-m-l mt-s-m js-fixed-nav-trigger" data-trigger-classes="nav-container--background" style="max-width: 80rem;">
	<div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 mb-l-m mb-m-m mb-s-s">
		<ul class="region-nav" data-filter-type="neighborhood" role="menu">
			<?php foreach ($this->regions as $region) {?>
			<li class="region-nav__item">
				<a class="menu-item region-nav__link" href="/rentals/<?php echo $region->code?>"><?php echo $region->name?></a>
			</li>
			<?php } ?>
		</ul>
	</div>

	<div class="controls row mb-xl mb-s-l">
		<div class="controls__filters col-sm-12 col-sm-offset-0 col-md-5 col-lg-5 col-lg-offset-1">
			<div class="filter-group data-filter-group">
				<div class="filter-group__label">Bedrooms</div>
				<div class="filter-group__items" data-filter-type="bedrooms">
					<?php $checkboxes = [
						['label' => 'Studio', 'value' => '0', 'name' => 'studio','data-filter-value' => '0', 'aria' => 'Studio - Filter by studio apartments.'],
						['label' => '1', 'value' => '1', 'name' => 'oneBedroom', 'data-filter-value' => '1', 'aria' => '1 Bedroom - Filter by 1 bedroom apartments.'],
						['label' => '2', 'value' => '2', 'name' => 'twoBedroom', 'data-filter-value' => '2', 'aria' => '2 Bedroom - Filter by 2 bedroom apartments.'],
						['label' => '3+', 'value' => '3', 'name' => 'threeBedroom', 'data-filter-value' => '3', 'aria' => '3+ Bedroom - Filter by 3 or more bedroom apartments.'],
					];
					foreach ($checkboxes as $checkbox) { ?>
						<div class="checkbox" aria-label="<?php echo $checkbox['aria'] ?>" tabindex="0">
							<input id="<?php echo $checkbox['name'] ?>" data-filter="[data-bedrooms='<?php echo $checkbox['data-filter-value'] ?>']" data-filter-value="<?php echo $checkbox['data-filter-value'] ?>" name="<?php echo $checkbox['name'] ?>" type="checkbox" value="<?php echo $checkbox['value'] ?>" tabindex="-1">
							<label for="<?php echo $checkbox['name'] ?>"><?php echo $checkbox['label'] ?></label>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>
		<div class="controls__sorting col-sm-12 col-sm-offset-0 col-md-5 col-lg-5">
			<div class="sort-options">
				<div class="sort-options__label">
					<label for="sort">Sort</label>
				</div>
				<div class="sort-options__select" role="listbox" aria-label="Select an option to order available listings by price; descending or ascending.">
					<select data-filter="sort" data-sort-order="data-sort-order" id="sort" name="size">
						<option value="asc">Lowest to Highest</option>
						<option value="desc" selected>Highest to Lowest</option>
						<option data-sort="[data-openhouse='1']" value="open">Open House Only</option>
					</select>
				</div>
			</div>
		</div>
	</div>

</div>


<div class="container-fluid" style="max-width: 80rem;">
	<div class="row">
		<div class="col-lg-12 col-md-12" style="padding-bottom:2.6rem;">
			<h1 class="featured-listings-heading featured-listings-heading-compliant rentals-top-header">Goldfarb Properties - Available Listings</h1>
		</div>

		<?php
		if ($this->results) {
			$unit_mapper = new Custom_Model_Mapper_GfUnit();
			$region_mapper = new Custom_Model_Mapper_GfRegion();
			$building_mapper = new Custom_Model_Mapper_GfBuilding();
			$open_house_mapper = new Custom_Model_Mapper_GfBuildingOpenHouse();
			$neighborhood_mapper = new Custom_Model_Mapper_GfNeighborhood();
			$unit_incentive_mapper = new Custom_Model_Mapper_GfUnitIncentive();
			$unit_image_mapper = new Custom_Model_Mapper_GfUnitImage();

			foreach ($this->results as $region_id => $units) {
				$region = $region_mapper->doesExists(array('code'=>$region_id));
				?>
				<div class="corner-group col-lg-12 col-md-12 mb-l-xxl mb-m-xxl">
					<div class="corner-group__container">
						<h2 class="featured-listings-heading featured-listings-heading-compliant"><?php echo $region->name?></h2>
						<div class="corner-group__contents listing-group">
							<?php
							$order = 0;
							foreach ($units as $unit) {
								$building = $building_mapper->find($unit->building_id);
								$neighborhood = $neighborhood_mapper->find($building->neighborhood_id);
								$primary_image = $unit_image_mapper->fetchPrimaryByUnitId($unit->id);
								$open_houses = ($unit->disable_openhouse == 'Yes')?'':$open_house_mapper->fetchByBuildingId($building->id);
								$incentive = $unit_incentive_mapper->fetchNameByUnitId($unit->id);

								?>
								<div class="listing-tile col-lg-4 col-sd-6 col-md-6 col-sm-12 mb-l-l mb-m-l mb-s-m" data-region="<?php echo $region->code?>" data-neighborhood="<?php echo $neighborhood->code?>" data-bedrooms="<?php echo ($unit->bedrooms)?(($unit->bedrooms >= 3)?"3":$unit->bedrooms):"0"?>" data-openhouse="<?php echo ($open_houses)?"1":"0"?>" data-order="<?php echo $order?>">
									<a href="/rentals/<?php echo $region->code?>/<?php echo $building->code?>/apartment-<?php echo $unit->code?>" class="listing-tile__media" aria-label="<?php echo $unit->bedrooms?> beds&nbsp;<?php echo $unit->bathrooms?> baths ($<?php echo number_format($unit_mapper->getUnitNetEffectivePrice($unit->id),0)?>). Location: <?php echo $building->address_display_name?>, <?php echo $neighborhood->name?>">
										<picture>
											<source srcset="<?php echo $media_cache->getImage($primary_image->image, 'unit-tile-mobile')?>" media="(max-width: 600px)" aria-label="">
											<img src="<?php echo $media_cache->getImage($primary_image->image, 'unit-tile')?>" class="image" alt="<?php //echo htmlentities($primary_image->alt_text)?>">
										</picture>
										<span class="spoiler spoiler--top"><?php echo $neighborhood->name?></span>
										<span class="spoiler--bottom">
											<?php if ($incentive) {?>
												<div class="spoiler bottom--box--one"><?php echo $incentive?></div>
											<?php } ?>
											<?php if ($open_houses) {?>
												<div class="spoiler bottom--box--two">Open House</div>
											<?php } ?>
										</span>
										<?php /* if ($unit->walkin_key) {?>
											<a href="<?php echo $unit->walkin_key?>" class="button button--gold button--capitalize carousel__selftour-link hidden-xs" target="_blank">+SelfTour &trade;</a>
										<?php } */ ?>
									</a>

									<div class="listing-tile__footer" aria-hidden="true">
						    <span class="listing-tile__footer__left">
							    <?php $effective_price = $unit_mapper->getUnitNetEffectivePrice($unit->id);?>
						        <span class="price">$<?php echo number_format($effective_price,0)?><?php echo ($effective_price < $unit->price)?"<sup>*</sup>":""?></span>
						    </span>
										<span class="listing-tile__footer__right">
						        <span class="rooms"><?php echo ($unit->bedrooms)?"{$unit->bedrooms} Bed":"Studio"?>&nbsp;<?php if ($unit->bathrooms) { echo number_format($unit->bathrooms) . " Bath";}?></span>
							</span>
									</div>
									<div class="listing-tile__footer__center" aria-hidden="true">
										<span class="property-address"><?php echo $building->address_display_name?></span>
									</div>
								</div>
							<?php
								$order++;
							}
							?>

							<div class="listing--no-results col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 mb-l-xxxl mb-m-xxl mb-s-0">
								<div class="no-results--box"><span>There are currently no results for this location.</span></div>
							</div>
						</div>
					</div>
				</div>
			<?php } ?>

		<?php }else {?>
			<div class="col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1">
				<div class="section-header col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-md-offset-3 col-sm-12 col-sm-offset-0">
					<div class="section-header__heading contact">
						<h4>Get in Touch</h4>
						<p>Currently, there are no renal units available. Please contact us for more information and opportunities.</p>
						<a class="link link--with-arrow" href="/contact-us#contactForm">
							contact us
							<span class="icon-arrow-right-thin"></span>
						</a>
					</div>
				</div>
			</div>
		<?php } ?>
	</div>
</div>
