<?php
$media_cache = new Cny_View_Helper_MediaCache();
$unit_mapper = new Custom_Model_Mapper_GfUnit();

use Cocur\Slugify\Slugify;
$slugify = new Slugify();
?>
<?php // the layout is based of off resources/views/portfolio/pages/region.blade.php ?>
<section class="hero">
	<div class="hero__media">
		<picture>
			<source srcset="<?php echo $media_cache->getImage($this->region->image, 'region-hero-mobile')?>" media="(max-width: 600px)" aria-label="">
			<source srcset="<?php echo $media_cache->getImage($this->region->image, 'region-hero-tablet')?>" media="(max-width: 899px)" aria-label="">
			<img src="<?php echo $media_cache->getImage($this->region->image, 'region-hero')?>" class="image" alt="<?php echo $this->region->name?>">
		</picture>
	</div>
	<div class="hero__text">
		<h1><?php echo $this->region->name?></h1>

		<?php if ($this->region->sub_title) { ?>
			<p class="location"><?php echo $this->region->sub_title?></p>
		<?php } ?>
	</div>
</section>

<div class="container-fluid clearfix mt-l-xl mt-m-l mt-s-m js-fixed-nav-trigger" data-trigger-classes="nav-container--background">
	<?php if (count($this->neighborhoods) > 1) { ?>
		<div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 mb-l-l mb-m-m mb-s-s">
			<ul class="region-nav data-filter-group" data-filter-type="neighborhood">
				<li class="region-nav__item active" data-filter-value="*">
					<a class="menu-item region-nav__link" href="#" aria-label="List all rental properties">all</a>
				</li>

				<?php foreach ($this->neighborhoods as $neighborhood) {?>
					<li class="region-nav__item" data-filter="[data-neighborhood='<?php echo $neighborhood->code?>']" data-filter-value="<?php echo $slugify->slugify($neighborhood->name)?>">
						<a class="menu-item region-nav__link" href="#" aria-label="Filter to view only <?php echo $neighborhood->name?> properties."><?php echo $neighborhood->name?></a>
					</li>
				<?php } ?>
			</ul>
		</div>
	<?php } ?>

	<div class="controls row mb-xl mb-s-l">
		<div class="controls__filters col-sm-12 col-sm-offset-0 col-md-5 col-lg-5 col-lg-offset-1">
			<div class="filter-group data-filter-group">
				<div class="filter-group__label">Bedrooms</div>
				<div class="filter-group__items" data-filter-type="bedrooms">
					<?php $checkboxes = [
						['label' => 'Studio', 'value' => '0', 'name' => 'studio','data-filter-value' => '0', 'aria' => 'Studio'],
						['label' => '1', 'value' => '1', 'name' => '1', 'data-filter-value' => '1', 'aria' => '1 Bedroom'],
						['label' => '2', 'value' => '2', 'name' => '2', 'data-filter-value' => '2', 'aria' => '2 Bedroom'],
						['label' => '3+', 'value' => '3', 'name' => '3+', 'data-filter-value' => '3', 'aria' => '3+ Bedroom'],
					];
					foreach ($checkboxes as $checkbox) { ?>
						<div class="checkbox" aria-label="<?php echo $checkbox['aria'] ?>" tabindex="0">
							<input id="<?php echo $checkbox['name'] ?>" data-filter="[data-bedrooms='<?php echo $checkbox['data-filter-value'] ?>']" data-filter-value="<?php echo $checkbox['data-filter-value'] ?>" name="<?php echo $checkbox['name'] ?>" type="checkbox" value="<?php echo $checkbox['value'] ?>">
							<label for="<?php echo $checkbox['name'] ?>"><?php echo $checkbox['label'] ?></label>
						</div>
					<?php } ?>
				</div>
			</div>
		</div>
		<div class="controls__sorting col-sm-12 col-sm-offset-0 col-md-5 col-lg-5">
			<div class="sort-options">
				<div class="sort-options__label">
					<label for="sort">Sort</label>
				</div>
				<div class="sort-options__select" role="listbox" aria-label="Select an option to order available listings by price; descending or ascending.">
					<select data-filter="sort" data-sort-order="data-sort-order" id="sort" name="size">
						<option value="asc">Lowest to Highest</option>
						<option value="desc" selected>Highest to Lowest</option>
						<option value="open">Open House Only</option>
					</select>
				</div>
			</div>
		</div>
	</div>


	<div class="listing-group row mb-l-xxxl mb-m-xxl mb-s-0">
		<?php
		if ($this->units) {
			$buildings = [];

			$unit_mapper = new Custom_Model_Mapper_GfUnit();
			$region_mapper = new Custom_Model_Mapper_GfRegion();
			$building_mapper = new Custom_Model_Mapper_GfBuilding();
			$open_house_mapper = new Custom_Model_Mapper_GfBuildingOpenHouse();
			$neighborhood_mapper = new Custom_Model_Mapper_GfNeighborhood();
			$unit_incentive_mapper = new Custom_Model_Mapper_GfUnitIncentive();
			$unit_image_mapper = new Custom_Model_Mapper_GfUnitImage();
			?>
				<div class="col-md-12 col-md-offset-0 col-lg-10 col-lg-offset-1 no-padding-column">
				<?php
				$order = 0;
				foreach ($this->units as $unit) {
					$building = $building_mapper->find($unit->building_id);
					$neighborhood = $neighborhood_mapper->find($building->neighborhood_id);
					$region = $region_mapper->find($neighborhood->region_id);
					$primary_image = $unit_image_mapper->fetchPrimaryByUnitId($unit->id);
					$open_houses = ($unit->disable_openhouse == 'Yes')?'':$open_house_mapper->fetchByBuildingId($building->id);
					$incentive = $unit_incentive_mapper->fetchNameByUnitId($unit->id);

					$buildings[$building->id] = $building;
					?>
					<div class="listing-tile col-sm-12 col-md-6 col-lg-6 mb-xl mb-s-m" data-region="<?php echo $region->code?>" data-neighborhood="<?php echo $neighborhood->code?>" data-bedrooms="<?php echo ($unit->bedrooms)?(($unit->bedrooms >= 3)?"3":$unit->bedrooms):"0"?>" data-openhouse="<?php echo ($open_houses)?"1":"0"?>" data-order="<?php echo $order?>">
						<a href="/rentals/<?php echo $region->code?>/<?php echo $building->code?>/apartment-<?php echo $unit->code?>" class="listing-tile__media" aria-label="<?php echo $unit->bedrooms?> beds&nbsp;<?php echo $unit->bathrooms?> baths ($<?php echo number_format($unit_mapper->getUnitNetEffectivePrice($unit->id),0)?>). Location: <?php echo $building->address_display_name?>, <?php echo $neighborhood->name?>">
							<picture>
								<source srcset="<?php echo $media_cache->getImage($primary_image->image, 'unit-tile-mobile')?>" media="(max-width: 600px)" aria-label="">
								<img src="<?php echo $media_cache->getImage($primary_image->image, 'unit-tile')?>" class="image" alt="<?php echo htmlentities($primary_image->alt_text)?>">
							</picture>
							<span class="spoiler spoiler--top"><?php echo $neighborhood->name?></span>
							<span class="spoiler--bottom">
								<?php if ($incentive) {?>
									<div class="spoiler bottom--box--one"><?php echo $incentive?></div>
								<?php } ?>
								<?php if ($open_houses) {?>
									<div class="spoiler bottom--box--two">Open House</div>
								<?php } ?>
							</span>
							<?php if ($unit->walkin_key) {?>
								<a href="<?php echo $unit->walkin_key?>" class="button button--gold button--capitalize carousel__selftour-link hidden-xs" target="_blank">+SelfTour &trade;</a>
							<?php } ?>
						</a>

						<div class="listing-tile__footer" aria-hidden="true">
					    <span class="listing-tile__footer__left">
						    <?php $effective_price = $unit_mapper->getUnitNetEffectivePrice($unit->id);?>
					        <span class="price">$<?php echo number_format($effective_price,0)?><?php echo ($effective_price < $unit->price)?"<sup>*</sup>":""?></span>
					    </span>
							<span class="listing-tile__footer__right">
					        <span class="rooms"><?php echo ($unit->bedrooms)?"{$unit->bedrooms} Bed":"Studio"?>&nbsp;<?php if ($unit->bathrooms) { echo number_format($unit->bathrooms) . " Bath";}?></span>
						</span>
						</div>
						<div class="listing-tile__footer__center" aria-hidden="true">
							<span class="property-address"><?php echo $building->address_display_name?></span>
						</div>
					</div>
				<?php
					$order++;
				}
				?>

				<div class="listing--no-results col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 mb-l-xxxl mb-m-xxl mb-s-0">
					<div class="no-results--box"><span>There are currently no results for this location.</span></div>
				</div>
			</div>

		<?php }else {?>
			<div class="listing--no-results col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 mb-l-xxxl mb-m-xxl mb-s-0"><div class="no-results--box"><span>There are currently no results for this location.</span></div></div>
		<?php } ?>

	</div>
</div>


<!--if instagram-->
<div class="clearfix mb-l-xxl mb-m-xl mb-s-0 mt-s-xl">
	<div class="instagram-feed col-lg-9 col-lg-offset-1 col-md-10 col-md-offset-0 col-sm-12">
		<h3 class="instagram-feed__heading">Explore the Area</h3>
		<h4 class="instagram-feed__sub-heading"><i class="fab fa-instagram"></i> #<?php echo str_replace(" ","",$this->region->name)?></h4>
		<!--		the feed seems to be broken on production-->
		<div class="instagram-feed__container" id="instafeed"></div>
	</div>
</div>
<!--end if instagram-->

<?php
if (count($buildings) == 1) {
	$building = current($buildings);
	$neighborhood = $neighborhood_mapper->find($building->neighborhood_id);
	?>
<div class="clearfix mt-l-l mb-l-l mb-m-xxl mt-s-l mb-s-l">
	<figcaption class="caption caption col-lg-5 col-lg-offset-3 col-md-9 col-md-offset-2 hidden--mobile mb-l-l mb-m-m">
		<h2 class="caption__heading" style="font-size: 1.625rem">What's Around <?php echo $building->name?></h2>
		<p class="caption__text"><?php echo $neighborhood->description?></p>
	</figcaption>

	<?php echo $this->partial('partials/building-map.phtml', array('google_maps_api_key'=>$this->google_maps_api_key,'building'=>$building))?>
</div>
<?php } ?>

<?php
if ($this->attractions) {
	$right_side = false;
	foreach ($this->attractions as $attraction) {
?>
		<div class="clearfix mt-xl mb-l-xxxl mb-m-xxl mt-s-l mb-s-l">
			<div class="feature bleed--lg bleed--md <?php echo ($right_side)?"feature--right":""?>">
				<figcaption class="caption ">
					<h2 class="caption__heading" style="font-size: 1.625rem"><?php echo $attraction->name?></h2>
					<p class="caption__text"><?php echo $attraction->description?></p>
				</figcaption>

				<picture>
					<source srcset="<?php echo $media_cache->getImage($attraction->image, 'feature-mobile')?>" media="(max-width: 600px)" aria-label="">
					<source srcset="<?php echo $media_cache->getImage($attraction->image, 'feature-tablet')?>" media="(max-width: 899px)" aria-label="">
					<img src="<?php echo $media_cache->getImage($attraction->image, 'feature')?>" class="image" alt="<?php echo htmlentities($attraction->name)?>">
				</picture>
			</div>
		</div>

		<?php /*
		<!--There are some instances where headings are gold-->
		<div class="clearfix mt-xl mb-l-xxxl mb-m-xxl mt-s-l mb-s-l">
			<div class="feature bleed--lg bleed--md ">
				<figcaption class="caption ">
					<h2 style="font-family: Gotham A,Gotham B,sans-serif; font-weight: 400; color: #cc9f26; font-size: 1.625rem;">
						Rockaway Beach Apartments.</h2>
					<p class="caption__text">....</p>
				</figcaption>

				<picture>
					....
				</picture>
			</div>
		</div>
        */ ?>

	<?php
		$right_side = !$right_side;
	}
}
?>

<?php
if (count($buildings) > 1) {
?>
<div class="clearfix mb-l-xxl mb-m-xl mb-s-0 mt-s-xl">
	<div class="tile-group col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0">
		<h3 class="buildings-heading">Our Buildings in <?php echo $this->region->name?></h3>
		<div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 no-padding-column">
			<div class="row">
				<?php
				$image_mapper = new Custom_Model_Mapper_GfBuildingImage();
				$neighborhood_mapper = new Custom_Model_Mapper_GfNeighborhood();

				foreach ($buildings as $building) {
					$building_image = $image_mapper->fetchPrimaryByBuildingId($building->id);
					$neighborhood = $neighborhood_mapper->find($building->neighborhood_id);
				?>
					<div class="listing-tile listing-tile--building col-lg-6 col-md-6 col-sm-12 mb-xl">
						<a href="/rentals/<?php echo $this->region->code?>/<?php echo $building->code?>" class="listing-tile__media" aria-label="View <?php echo $building->address_display_name?> located in <?php echo $this->region->name?>.">
							<picture>
								<source srcset="<?php echo $media_cache->getImage($building_image->image, 'unit-tile-mobile')?>" media="(max-width: 600px)" aria-label="">
								<img src="<?php echo $media_cache->getImage($building_image->image, 'unit-tile-mobile')?>" class="image" alt="<?php echo $building_image->alt_text?>">
							</picture>
							<div class="spoiler spoiler--top"><?php echo $neighborhood->name?></div>
							<span class="spoiler--bottom">
			                    </span>
						</a>
						<div class="listing-tile__footer listing-tile__building-footer" aria-hidden="true">
			                <span class="listing-tile__footer__left">
			                    <span class="listing-tile__building-name"><?php echo $building->name?></span>
			                </span>
							<span class="listing-tile__footer__right">
			                    <span class="property-address"><?php echo $building->address_display_name?></span>
							</span>
						</div>
						<div class="listing-tile__footer__center" aria-hidden="true"></div>
					</div>
				<?php } ?>
			</div>
		</div>
	</div>
</div>
<?php }else {
	$building = current($buildings);
	$neighborhood = $neighborhood_mapper->find($building->neighborhood_id);
	?>
	<div class="flex justify-center mb-l-xxxl mb-m-xxl mb-s-l">
		<a href="/rentals/<?php echo $this->region->code?>/<?php echo $building->code?>" class="button button--default" role="button" aria-label="View <?php echo $building->name?> located in <?php echo $this->region->name?>.">View <?php echo $building->name?></a>
	</div>
<?php } ?>
