<?php
$media_cache = new Cny_View_Helper_MediaCache();
$unit_mapper = new Custom_Model_Mapper_GfUnit();
?>
<div class="side-menu-trigger"></div>
<div class="fixed-sub-nav">
	<div class="sub-nav-bar">
		<div class="sub-nav col-md-10">
			<a href="/rentals/<?php echo $this->region->code?>" class="sub-nav__back">
				<i class="fal fa-long-arrow-left"></i>
				<span class="desktop-label"><?php echo $this->region->name?> Listings</span>
				<span class="mobile-label">Listings</span>
			</a>
			<div class="sub-nav-heading">
				<div class="sub-nav-heading__top">
                <span>
                    <?php echo $this->building->name?>
                </span>
					<span>
                    <?php echo $this->region->name?>
                </span>
				</div>
				<div class="sub-nav-heading__bottom">
	                <span>
		                <?php echo $this->building->address_display_name?>, <?php echo $this->building->city?>, <?php echo $this->building->state?> <?php echo $this->building->zip?>
	                </span>
					<?php if ($this->building->cross_street) {?>
					<span>
                        (<?php echo $this->building->cross_street?>)
                    </span>
					<?php } ?>
				</div>
			</div>
			<div class="sub-nav__actions">
				<a class="link link--bold" href="/about-us/frequently-asked-questions" target="_self">FAQS</a>
				<a class="link link--bold" href="/rentals/<?php echo $this->region->code?>/<?php echo $this->building->code?>" target="_self">View Building</a>
			</div>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">

		<div class="carousel carousel--unit col-lg-7 col-lg-offset-1 col-md-12 col-md-offset-0 pr-s-0 pl-s-0 mb-s-xs">
			<div id="virtualtour-row" class="">
				<?php if($this->unit_virtual_tour) { ?>
					<div class="video-wrapper">
						<iframe src="<?php echo $this->unit_virtual_tour->virtual_tour_url ?>"></iframe>
					</div>
				<?php } ?>
			</div>
			<div id="carousel-row" class="carousel__container">
				<?php
				if ($this->unit_images) {
					foreach ($this->unit_images as $image) {
					?>
					<div class="carousel__item">
						<a href="<?php echo $media_cache->getImage($image->image, 'carousel-slide') ?>"
						   class="js-trigger-fancybox" data-fancybox="gallery"><img
									src="<?php echo $media_cache->getImage($image->image, 'carousel-slide') ?>"
									class="img-responsive" alt="<?php echo $image->alt_text ?>"></a>
					</div>
				<?php
					}
				}
				?>

				<?php if ($this->unit->carousel_vimeo_url) {?>
					<div class="carousel__item">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="<?php echo $this->unit->carousel_vimeo_url?>" allowfullscreen></iframe>
						</div>
					</div>
				<?php } ?>

				<?php if ($this->floorplan) {?>
					<div class="carousel__item floorplan">
						<?php
						$pathparts = pathinfo($this->floorplan->image);
						if ($pathparts['extension'] == 'svg') {
						?>
							<a href="<?php echo $this->floorplan->image ?>" class="js-trigger-fancybox" data-fancybox="gallery"><img src="<?php echo $this->floorplan->image ?>" class="zoom-in img-responsive" alt="Floorplan"></a>
						<?php
						}else {
						?>
							<a href="<?php echo $media_cache->getImage($this->floorplan->image, 'carousel-slide-floorplan') ?>" class="js-trigger-fancybox" data-fancybox="gallery"><img src="<?php echo $media_cache->getImage($this->floorplan->image, 'carousel-slide-floorplan') ?>"
							        class="img-responsive" alt="Floorplan"></a>
						<?php } ?>
					</div>
				<?php } ?>

				<?php
				if ($this->building_images) {
					foreach ($this->building_images as $image) {
						?>
						<div class="carousel__item">
							<img src="<?php echo $media_cache->getImage($image->image, 'carousel-slide')?>" class="img-responsive" alt="<?php echo $image->alt_text?>">
						</div>
						<?php
					}
				}
				?>

			</div>
			<div class="row text-center" style="margin-top:15px;">
				<?php echo $this->partial("partials/carousel-links.phtml",array("viewObj" => $this)); ?>
			</div>
		</div>

		<div class="side-bar col-lg-3 col-md-10 mt-m-m mt-m-m">
			<div class="side-menu">
				<h1 class="unit-header-main">

					<span class="unit-header-size text-uppercase">
						<?php echo ($this->unit->bedrooms)?"{$this->unit->bedrooms} Bed":"Studio"?>&nbsp;<?php if ($this->unit->bathrooms) { echo number_format($this->unit->bathrooms) . " Bath";}?>
					</span><br>
					<span class="unit-header-price">
						<?php $effective_price = $unit_mapper->getUnitNetEffectivePrice($this->unit);?>
						$<?php echo number_format($effective_price,0)?><?php echo ($effective_price < $this->unit->price)?"<sup>*</sup>":""?>
					</span>
					<br>
					<span class="unit-header-note">No Fee</span>
				</h1>
				<div class="incentive side-incentive"><?php echo $this->incentive?></div>
				<?php if ($this->unit->show_number == 'Yes') {?>
					<div class="side-menu__number">
						<?php
						$tmp = explode("-",$this->unit->number);
						if (isset($tmp[1])) {
							echo $tmp[1];
						}else {
							echo $this->unit->number;
						}
						?>
					</div>
				<?php } ?>
				<div class="side-menu__contact">
					<address class="address address--with-icon">
						<a class="address__link" target="_blank" href="http://maps.google.com/?q=<?php echo urlencode(trim($this->building->street1.' '.$this->building->street2).' '.$this->building->city.', '.$this->building->state.' '.$this->building->zip)?>"><span>
								<?php
									//print_r($this->unit);
									echo ($this->unit->walkin_key)?"{$this->building->street1} {$this->building->street2}":$this->building->address_display_name
								?>
								<br>
								<?php echo $this->building->city?>, <?php echo $this->building->state?> <?php echo $this->building->zip?></span>
						</a>
					</address>
					<a class="phone phone--with-icon" href="tel:+1<?php echo $this->region->phone?>"><?php echo $this->region->phone?></a>
				</div>
				<div class="row">
					<div class="side-menu__button-group col-lg-8 col-lg-offset-2 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
						<?php if ($this->unit->apply_link) {?>
							<a href="<?php echo $this->unit->apply_link?>" class="button button--gold hidden--mobile button--capitalize" target="_blank">apply now</a>
							<a href="/about-us/frequently-asked-questions" class="button button--small show--mobile" target="_blank">FAQS</a>
						<?php } else { ?>
							<a href="/about-us/frequently-asked-questions" class="button button--small show--mobile" target="_blank">FAQS</a>
						<?php } ?>

						<?php if ($this->unit->walkin_key) {?>
							<a href="<?php echo $this->unit->walkin_key?>" class="button button--gold button--capitalize hidden--mobile" target="_blank">+SelfTour &trade;</a>
						<?php /*}elseif ($this->unit->virtual_tour_id) {?>
							<a href="https://my.matterport.com/show/?m=<?php echo $this->unit->virtual_tour_id?>" class="button button--gold button--capitalize" target="_blank">+SelfTour &trade;</a>
						<?php */ } ?>
						<a href="/contact-us/?region=<?php echo $this->region->code?>" class="button button--small">Contact Us</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<?php if ($this->open_houses) {?>
<div class="container-fluid mt-l-l mb-l-l mb-m-xl mt-m-xl mt-s-m mb-s-m">
	<div class="row">
		<div class="col-lg-5 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div class="announcement">
				<div class="announcement__container">
					<p class="open-house-heading" aria-label="Listing Open House" style="text-transform: uppercase">Open House</p>
					<ul>
						<?php foreach ($this->open_houses as $open_house) {?>
						<li>
							<time class="datetime"><?php echo date("F n/j", strtotime($open_house->start_time))?> <span class="divider pl-xxs pr-xxs">|</span><?php echo date("g:i A", strtotime($open_house->start_time))?> - <?php echo date("g:i A", strtotime($open_house->end_time))?></time>
							<p class="open-house--notice">Use SelfTour link to check in with doormen to pick up the key to view availability with no appointment necessary.</p>
						</li>
						<?php } ?>
					</ul>
					<a class="open-house-link open-house-link--with-icon" href="http://maps.google.com/?q=<?php echo urlencode(trim($this->building->street1.' '.$this->building->street2).' '.$this->building->city.', '.$this->building->state.' '.$this->building->zip)?>" target="&quot;_blank&quot;">
						<span class="open-house-link__icon icon-directions"></span>
						Get Directions
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<?php } ?>

<div class="container-fluid pt-l-s pt-m-s mt-s-0">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
			<?php if ($this->incentive || $this->unit_concession_message) {?>
			<div class="list-block">
				<h2 style="font-size:1.625em;" class="text-uppercase">Incentives</h2>

				<?php if ($this->unit_concession_message) {?>
					<p><?php echo $this->unit_concession_message?></p>
				<?php } ?>

				<?php if ($this->incentive) {?>
					<p><?php echo $this->incentive?></p>
				<?php } ?>
			</div>
			<?php } ?>

			<div class="text-block">
				<h2 style="font-size:1.625em;" class="text-uppercase">Description</h2>
				<p><?php echo $this->unit->description?></p>
			</div>

			<div class="list-block">
				<h2 style="font-size:1.625em;" class="text-uppercase">Amenities &amp; Features</h2>
				<p></p>
				<div class="lists">
					<ul class="list">
						<li class="head">Unit</li>
						<?php foreach ($this->unit_features as $feature) { ?>
							<li><?php echo $feature?></li>
						<?php } ?>
					</ul>
					<ul class="list">
						<li class="head">Building</li>
						<?php foreach ($this->building_amenities as $amenity) { ?>
							<li><?php echo $amenity?></li>
						<?php } ?>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<?php if ($this->unit->virtual_tour_id) {?>
<div class="container-fluid mb-s-l mb-l-l mb-m-l">
	<div class="row">
		<div class="col-lg-7 col-lg-offset-1 col-md-12 col-md-offset-0">
			<div class="three-sixty-block">
				<h2 style="font-size:1.625em;" class="text-uppercase">Take a Tour</h2>
				<div class="three-sixty-block--tour">
					<iframe src="https://my.matterport.com/show/?m=<?php echo $this->unit->virtual_tour_id?>" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div>
</div>
<?php } ?>

<?php if ($this->transportations) {?>
<div class="container-fluid pt-l-s pt-m-s mt-s-0">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
			<div class="list-block" id="transportation">
				<h2 style="font-size:1.625em;" class="text-uppercase">Transportation</h2>
				<p style="line-height: 32px;">
					<?php foreach ($this->transportations as $transportation) {?>
						<?php
						$services = json_decode($transportation->station_service);
						foreach ($services as $service) {
							$service_cap = strtoupper($service);
							if ($service_cap == 'LIRR') {
								echo "LIRR";
							}else {
							?>
							<img src="/custom_assets/images/transportation/<?php echo $service_cap?>.png" alt="<?php echo ($service_cap == 'LIRR')?"LIRR":"MTA NYC Subway {$service_cap} Line"?>" style="margin-bottom:-3px;">
						<?php
							}
						}
						?>
						at <?php echo $transportation->station_name?> <strong><?php echo $transportation->distance_to_station?> miles</strong><br>
					<?php } ?>
				</p>
			</div>
		</div>
	</div>
</div>
<?php } ?>

<div class="container-fluid pt-l-s pt-m-s mt-s-0">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
			<div class="text-block" style="margin-bottom:0;">
				<h2 style="font-size:1.625em;" class="text-uppercase">Building</h2>
				<p>
					<?php
					$truncate = new Cny_View_Helper_StringTruncate();
					echo $truncate->StringTruncate($this->building->description, 150);  ?>
				</p>
			</div>
			<a class="link" href="/rentals/<?php echo $this->region->code?>/<?php echo $this->building->code?>" target="_self">
				View Building →
			</a>
			<div style="height:2.5em"></div>
		</div>
	</div>
</div>

<div class="container-fluid">

	<div class="row">
		<div class="col-lg-6 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0">
			<div class="list-block" id="neighborhood">
				<h2 style="font-size:1.625em;" class="text-uppercase">Neighborhood</h2>
				<p>
					<?php echo $this->neighborhood->description?>
				</p>
				<div class="lists">
					<?php foreach ($this->neighborhood_pois as $category => $pois) { ?>
					<ul class="list">
						<li class="head"><?php echo $category?></li>
						<?php foreach ($pois as $poi) {?>
							<li><?php echo $poi?></li>
						<?php } ?>
					</ul>
					<?php } ?>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="container-fluid mb-s-l mb-l-l mb-m-l">
	<?php echo $this->partial('partials/building-map.phtml', array('google_maps_api_key'=>$this->google_maps_api_key,'building'=>$this->building))?>
</div>

<?php if ($this->similar_units) {?>
<div class="container-fluid mt-l-xl mt-m-xl">

	<div class="row">

		<div class="col-lg-7 col-lg-offset-1 col-md-12 col-md-offset-0">

			<div class="tile-group mb-xl mb-s-l">

				<h2 style="font-size:1.625em;" class="text-uppercase">Similar Units</h2>

				<div class="row">
					<?php
					$region_mapper = new Custom_Model_Mapper_GfRegion();
					$building_mapper = new Custom_Model_Mapper_GfBuilding();
					$amenity_mapper = new Custom_Model_Mapper_GfAmenity();
					$open_house_mapper = new Custom_Model_Mapper_GfBuildingOpenHouse();
					$neighborhood_mapper = new Custom_Model_Mapper_GfNeighborhood();
					$unit_incentive_mapper = new Custom_Model_Mapper_GfUnitIncentive();
					$unit_image_mapper = new Custom_Model_Mapper_GfUnitImage();

					foreach ($this->similar_units as $similar_unit) {
						$building = $building_mapper->find($similar_unit->building_id);
						$neighborhood = $neighborhood_mapper->find($building->neighborhood_id);
						$region = $region_mapper->find($neighborhood->region_id);

						$building_amenities = $amenity_mapper->fetchAmenityNamesByBuildingId($building->id);
						$open_houses = ($similar_unit->disable_openhouse == 'Yes')?'':$open_house_mapper->fetchByBuildingId($building->id);
						$incentive = $unit_incentive_mapper->fetchNameByUnitId($similar_unit->id);
						$primary_image = $unit_image_mapper->fetchPrimaryByUnitId($similar_unit->id);
					?>
					<div class="listing-tile col-sm-12 col-md-6 mb-l">
						<a href="/rentals/<?php echo $region->code?>/<?php echo $building->code?>/apartment-<?php echo $similar_unit->code?>" class="listing-tile__media" aria-label="<?php echo $similar_unit->bedrooms?> beds&nbsp;<?php echo $similar_unit->bathrooms?> baths ($<?php echo number_format($similar_unit->price,0)?>). Location: <?php echo $building->address_display_name?>, <?php echo $neighborhood->name?>">
							<picture>
								<source srcset="<?php echo $media_cache->getImage($primary_image->image, 'unit-tile-mobile')?>" media="(max-width: 600px)" aria-label="">
								<img src="<?php echo $media_cache->getImage($primary_image->image, 'unit-tile')?>" class="image" alt="<?php echo htmlentities($primary_image->alt_text)?>">
							</picture>
							<span class="spoiler spoiler--top"><?php echo $neighborhood->name?></span>
							<span class="spoiler--bottom">
								<?php if ($incentive) {?>
									<div class="spoiler bottom--box--one"><?php echo $incentive?></div>
								<?php } ?>
								<?php if ($open_houses) {?>
                                    <div class="spoiler bottom--box--two">Open House</div>
								<?php } ?>
							</span>
							<?php if ($similar_unit->walkin_key) {?>
								<a href="<?php echo $similar_unit->walkin_key?>" class="button button--gold button--capitalize carousel__selftour-link hidden-xs" target="_blank">+SelfTour &trade;</a>
							<?php } ?>
						</a>
						<div class="listing-tile__footer" aria-hidden="true">
	                        <span class="listing-tile__footer__left">
		                        <?php $effective_price = $unit_mapper->getUnitNetEffectivePrice($similar_unit->id);?>
	                            <span class="price">$<?php echo number_format($effective_price,0)?><?php echo ($effective_price < $similar_unit->price)?"<sup>*</sup>":""?></span>
	                        </span>
							<span class="listing-tile__footer__right">
	                            <span class="rooms">
		                            <?php echo ($similar_unit->bedrooms)?"{$similar_unit->bedrooms} Bed":"Studio"?>&nbsp;<?php if ($similar_unit->bathrooms) { echo number_format($similar_unit->bathrooms) . " Bath";}?>
	                            </span>
							</span>
						</div>
						<div class="listing-tile__footer__center" aria-hidden="true">
						</div>
					</div>
					<?php } ?>

				</div>
			</div>
		</div>
	</div>

</div>
<?php } ?>


<?php if ( $this->unit->apply_link || $this->unit->walkin_key ) {?>
	<div class="button--mobile-fixed-wrap">
<?php } ?>

<?php if ($this->unit->apply_link) {?>
	<a href="<?php echo $this->unit->apply_link?>" class="button button--capitalize" target="_blank">apply</a>
<?php }?>
<?php if ($this->unit->walkin_key) {?>
	<a href="<?php echo $this->unit->walkin_key?>" target="_blank" class="button button hidden-mobile button--capitalize" style="text-transform: capitalize">+SelfTour &trade;</a>
<?php }?>

<?php if ( $this->unit->apply_link || $this->unit->walkin_key ) {?>
	</div>
<?php } ?>

<div class="side-menu-end-trigger"></div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>

<script>
	$(function() {

		$(".virtualtourhddn").click(function(e) {
			e.preventDefault();
			$("#carousel-row").hide();
			$("#virtualtour-row").fadeIn();
		});

		$("#back-carousel").click(function(e) {
			e.preventDefault();
			$("#virtualtour-row").hide();
			$("#carousel-row").fadeIn();
		});

		var floorplan_set = false;

		$('.carousel__container').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			arrows: true,
			dots:false,
			infinite:false,
			adaptiveHeight: true
		}).on('beforeChange', function(event, slick, currentSlide, nextSlide){
			$(".carousel").css('background-position','center');
			if (floorplan_set === false) {
				$('.carousel__item.floorplan img').css('max-height', $('.carousel__item:first-child').height());
				floorplan_set = true;
			}
		}).on('afterChange', function(event, slick, currentSlide, nextSlide){
			<?php if ($this->unit->carousel_vimeo_url && $this->floorplan) {?>
			if (currentSlide == <?php echo count($this->unit_images) ?>) {
				$(".js-floorplan-link").hide();
			}else {
				$(".js-floorplan-link").show();
			}
			<?php } ?>
			$(".carousel").css('background-position','-99999px');
		});
		$('.photoshddn').click(function(e) {
			e.preventDefault();
			$("#virtualtour-row").hide();
			$("#carousel-row").fadeIn();
			$('.carousel__container').slick('slickGoTo', 0);
		});
		$('.js-floorplan-linked').on('click', function() {

			$("#virtualtour-row").hide();
			$("#carousel-row").fadeIn();

			<?php
			$slides_before_floorplan = count($this->unit_images);
			if ($this->unit->carousel_vimeo_url) {
				$slides_before_floorplan++;
			}
			?>

			var lastSlide = $('.carousel__container').slick('getSlick').slideCount;
			$('.carousel__container').slick('slickGoTo', <?php echo $slides_before_floorplan?>);
		});

		$('.js-share').append('<div class="js-share-popout"></div>');

		$('.js-share-popout').jsSocials({
			shareIn: "popup",
			showLabel: true,
			showCount: false,
			shares: ["twitter", "facebook", {share:"email", logo:"fa fa-paper-plane"}]
		});

		$('.js-share-popout').find('.jssocials-share-label').addClass('sr-only');

		function shareToggle(){
			$('.js-share-popout').toggleClass('toggled');
		}

		$('.js-share').click(function(e) {
			shareToggle();
		});

		$(document).on('beforeLoad.fb', function() {
			//change background color before content loads
			$('.fancybox-bg').css({'background':'#fff','opacity':'1'});

<!--			--><?php
//			$pathparts = pathinfo($this->floorplan->image);
//			if ($pathparts['extension'] == 'svg') { ?>
//				$('.fancybox-image').addClass('fancybox-svg-image');
//			<?php //} ?>


		});
		$(document).on('afterLoad.fb', function(instance, current) {
			// var fileName, fileExtension;
			// fileName = $('.fancybox-image').attr('src');
			// fileExtension = fileName.split('.').pop();
			// console.log (fileExtension);
		});
	});
</script>
<style>
	@media only screen and (max-width: 939px)  {
		.side-bar {
			margin: 0 auto;
			margin-left:9%;
			float: left !important;
		}
	}
	.button--mobile-fixed-wrap {
		margin-bottom:10px !important;
	}
	.zoom-in {
		cursor: zoom-in;
	}
	.fancybox-content {
		width: 100% !important;
		height: 100% !important;
		transform: translate(0,0) !important;
	}
	.fancybox-image {
		height: auto;
		width: auto;
		max-width: 100%;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
	}

	.fancybox-svg-image {
		width: 100%;
	}

	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.video-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.carousel__floorplan-link-virtualtour {
		font-family: Gotham A,Gotham B,sans-serif;
		font-weight: 400;
		font-size: 1em;
		color: #fff;
		background: #cc9f26;
		display: inline-block;
		padding: .625em;
		position: absolute;
		bottom: 0;
		right: 0px;
		z-index: 2;
		cursor: pointer;
	}
	.carousel__floorplan-link {
		font-family: Gotham A,Gotham B,sans-serif;
		font-weight: 400;
		font-size: 1em;
		color: #fff;
		background: #cc9f26;
		display: inline-block;
		padding: .625em;
		position: absolute;
		bottom: 0;
		left: 0px;
		z-index: 2;
		cursor: pointer;
	}
	#virtualtour-row {
		display:none;
	}
	#back-carousel {
		font-family: Gotham A,Gotham B,sans-serif;
		font-weight: 400;
		font-size: 1em;
		color: #fff;
		background: #cc9f26;
		display: inline-block;
		padding: .625em;
		position: absolute;
		bottom: 0;
		right: -20px;
		z-index: 2;
		cursor: pointer;
	}
</style>
