<form method="post" action="/admin/product/copy" class="product-clone-form">
	<input type="hidden" name="id" value="<?php echo $this->id?>">

	<div class="row m-b-20">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label text-left">Enable New Product</label>
			<div class="col-sm-9 text-left">
				<?php
				$enabled = 'off';
				?>
				<div class="btn-group" id="status" data-toggle="buttons">
					<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
						<input type="radio" value="yes" name="ae" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
					<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
						<input type="radio" value="no" name="ae" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
				</div>
			</div>
		</div>
	</div>
	<div class="row m-b-20">
		<div class="form-group">
			<label for="" class="col-sm-3 control-label text-left">Duplicate Product Variants</label>
			<div class="col-sm-9 text-left">
				<?php
				$enabled = 'off';
				?>
				<div class="btn-group" id="status" data-toggle="buttons">
					<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
						<input type="radio" value="yes" name="cv" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
					<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
						<input type="radio" value="no" name="cv" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
				</div>
			</div>
		</div>
	</div>

	<div class="row text-center row m-b-20">
		<button type="submit" class="btn btn-lg btn-warning">Duplicate</button>
	</div>
</form>

<script>
	$(function() {

	});
</script>
