<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2><?php echo ($this->cmd=='add')?'Add New Product':'Edit Product'?></h2>

			<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
						<?php
						foreach ($this->errors as $error) {
							echo "<li>".$error."</li>";
						}
						?>
					</ul>
				</div>
			<?php } ?>

		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/product/<?php echo $this->product->code?>" target="_blank">Preview</a>
				<a class="btn btn-default btn-sm" href="/admin/product"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<?php echo $this->form?>
		</div>
	</div>

	<div id="profile-block" class="hidden-xs m-t-30"></div>
	<div id="custom-block" class="hidden-xs m-t-30"></div>
	<div id="image-block" class="hidden-xs m-t-30"></div>
	<div id="video-block" class="hidden-xs m-t-30"></div>
	<div id="media-block" class="hidden-xs m-t-30"></div>
	<div id="variant-block" class="hidden-xs m-t-30"></div>

</div>

<script>
	$(document).ready(function() {
		loadView("profile","view","", false);
		loadView("custom","view","", false);
		loadView("image","view","", false);
		loadView("video","view","", false);
		loadView("media","view","", false);
		loadView("variant","view","", false);

		$("body").off("submit",".add-variant_type-form").on("submit",".add-variant_type-form",function(){
			$.post( $(this).attr('action'),
				$( "form.add-variant_type-form" ).serialize(),
				function(data) {
					$('#modal').modal('hide');
				}, 'json');

			return false;
		});

		<?php
		$t_mapper = new Admin_Model_Mapper_ProductTags();
		$tags = $t_mapper->fetchStringList();
		?>
		$("#product_tags").select2({
			tags: [<?php echo $tags?>],
			tokenSeparators: ["|"],
			separator: "|"
		});
		$("#product_tags").on("change", function () {
			$("#product_tags_val").html($("#product_tags").val());
		});

		$("#extra_categories").select2();
		$("#extra_collections").select2();

		$("#related").select2(
			{
				tags:[],
				tokenSeparators: ["|"],
				separator: "|",
				formatNoMatches: '',
				formatSearching: '',
				escapeMarkup: function (m) { return m; }
			}
		);
		$("#related_query").select2(
			{
				placeholder: "Search for a product",
				minimumInputLength: 3,
				ajax: {
					url: "/admin/product/ajax-list",
					dataType: 'json',
					quietMillis: 250,
					data: function (term, page) {
						return {
							type: 'product',
							q: term
						};
					},
					results: function (data, page) {
						return { results: data.results };
					},
					cache: true
				},
				initSelection: function(element, callback) {
					var id = $(element).val();
					if (id !== "") {
						$.ajax("/admin/product/ajax-list/id/" + id, {
							dataType: "json"
						}).done(function(data) { callback(data.results[0]); });
					}
				},
				formatResult: productFormatResult,
				formatSelection: productFormatSelection,
				escapeMarkup: function (m) { return m; }
			}
		);
		function productFormatResult(item) {
			item.title = (item.text)?item.text:'';

			var markup = '<div class="row">' +
				'<div class="col-sm-12">' + item.text + '</div>' +
				'</div>';

			return markup;
		}
		function productFormatSelection(item) {
			item.text = (item.text)?item.text:'';

			var result = '<span class="hidden">'+item.type+'~~'+item.id+'</span>'+item.text;
			var old_results = $("#related").val();
			if (old_results) old_results = old_results+'|';

			$("#related").val(old_results+result).trigger("change");

			return;
		}

		/*
		if ($("#code").val()) {
			$("#code").after('<a href="/product/' + $("#code").val() + '" target="_blank">Preview</a>');
		}
		*/
	});

	function loadView(section,action,id, scroll_to) {
		if (typeof scroll_to === 'undefined') scroll_to = true;

		if (action == 'delete') {
			if (!confirm('Are you sure you want to delete this entry?')) {
				return false;
			}
		}

		$.get( "/admin/product/"+section+"-"+action+"/product_id/<?php echo $this->product_id?>/id/"+id, function( data ) {
			$("#"+section+"-block").html( data );
			//initTinyMCE();

			if (scroll_to === true) {
				$('html, body').animate({
					scrollTop: $("#" + section + "-block").offset().top
				}, 500);
			}
		});

		return false;
	}
</script>
<style>
	.select2-chosen {height:22px!important;}
</style>
