<div class="row">
	<div class="col-sm-8">
		<h2><?php echo ($this->cmd=='add')?'Add New Product Media':'Edit Product Media'?></h2>

		<?php if ($this->errors) { ?>
			<div class="error_box">
				<ul>
					<?php
					foreach ($this->errors as $error) {
						echo "<li>".$error."</li>";
					}
					?>
				</ul>
			</div>
		<?php } ?>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 component-search-results">
		<?php echo $this->form?>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#productMediaForm button.btn-cancel').on('click', function(){
			loadView('media','view','');
		});

		$('#productMediaForm').ajaxForm({target: '#media-block'});

		if ($("#product_media_path").val() == '') $("#product_media").hide();

		<?php
		$t_mapper = new Admin_Model_Mapper_MediaTag();
		$tags = $t_mapper->fetchStringList();
		?>
		$("#tags").select2({
			tags: [<?php echo $tags?>],
			tokenSeparators: ["|"],
			separator: "|"
		});
		$("#tags").on("change", function () {
			$("#tags_val").html($("#tags").val());
		});
	});
</script>
