<div class="row">
	<div class="col-sm-8">
		<h2>Profile / Attributes</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/product/profile-add/product_id/<?php echo $this->product_id?>" onclick="loadView('profile','add','');">Add Attribute</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 component-search-results">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Attribute</th>
				<th>Value</th>
				<th class="hidden-xs text-center">Delete</th>
				<th class="hidden-xs text-center">Edit</th>
			</tr>
			</thead>
			<tbody>
			<?php
			if ($this->profile) {
				$truncate = new Cny_View_Helper_StringTruncate();
				foreach ($this->profile as $key => $item) {
				?>
					<tr>
						<td><?php echo $item['title']?>:</td>
						<td class="break-words">
							<?php
							if (!isset($item['field_type']) || !$item['field_type'] || $item['field_type'] == 'text' || $item['field_type'] == 'select') {
								echo $item['value'];
							}elseif ($item['field_type'] == 'textarea' || $item['field_type'] == 'wysiwyg') {
								echo $truncate->StringTruncate($item['value'], 200, true);
								echo "<br/><br/><small>For complete text edit the attribute</small>";
							}elseif ($item['field_type'] == 'image') {
								echo '<img class="img-responsive" style="max-width:400px;max-height:300px;" src="'.$item['value'].'">';
							}elseif ($item['field_type'] == 'file') {
								echo '<a href="'.$item['value'].'" target="_blank">'.$item['value'].'</a>';
							}
							?>
						</td>
						<td class="hidden-xs text-center"><a href="#/admin/product/profile-delete/id/<?php echo $item['product_profile_id']?>" onclick="loadView('profile','delete','<?php echo $item['product_profile_id']?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center"><a href="#/admin/product/profile-edit/id/<?php echo $item['product_profile_id']?>" onclick="loadView('profile','edit','<?php echo $item['product_profile_id']?>')" class="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
				<?php
				}
			}
			?>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function() {

	});
</script>
