<div class="row">
	<div class="col-sm-8">
		<h2>Media</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/product/variant-media-add/product_variant_id/<?php echo $this->product_variant_id?>" onclick="loadView('variant-media','add','');">Add Media</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 component-search-results">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Sort</th>
				<th>File</th>
				<th>Title</th>
				<th class="hidden-xs text-center">Delete</th>
				<th class="hidden-xs text-center">Edit</th>
			</tr>
			</thead>
			<tbody id="media-sort">
			<?php
			if ($this->medias) {
				foreach ($this->medias as $key => $item) {
				?>
					<tr id="sort_<?php echo $item->id?>" class="<?php echo ($item->primary == 'Yes')?"success":""?>">
						<td></td>
						<td><?php echo $item->title?></td>
						<td><a href="<?php echo $item->media_src?>" class="img-responsive" target="_blank">Download</a></td>
						<td class="hidden-xs text-center"><a href="#/admin/product/variant-media-delete/id/<?php echo $item->id?>" onclick="loadView('variant-media','delete','<?php echo $item->id?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center"><a href="#/admin/product/variant-media-edit/id/<?php echo $item->id?>" onclick="loadView('variant-media','edit','<?php echo $item->id?>')" class="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
				<?php
				}
			}
			?>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#media-sort').sortable({
			update: function( event, ui ) {
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'POST',
					url: '/admin/product/variant-media-sort'
				});
			}
		});
	});
</script>
