<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2><?php echo ($this->cmd=='add')?'Add New Product Variant':'Edit Product Variant'?></h2>

			<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
						<?php
						foreach ($this->errors as $error) {
							echo "<li>".$error."</li>";
						}
						?>
					</ul>
				</div>
			<?php } ?>

		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/product/edit/id/<?php echo $this->product_id?>"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<?php echo $this->form?>
		</div>
	</div>

</div>

<script>
	$(document).ready(function() {
		$("#product_variant_type_id").on("change", function(){
			updateFormFields($(this).val());
		});
	});

	function updateFormFields(id) {
		$.getJSON( "/admin/product/variant-type-ajax", {id:id}, function( data ) {
			var val = data.type;

			if (val == '' || val === null || typeof val === null) {
				$("#variantForm .conditional").parent().parent().show();
				$("#variantForm .data-label").each(function(){
					var label = $(this).parent().parent().find("label");
					$(label).html($(label).data('label-original'));
				});
			}else {
				$("#variantForm .conditional."+val+"-hide").each(function(){
					$(this).parent().parent().hide();
				});
				$("#variantForm .data-label").each(function(){
					var label = $(this).parent().parent().find("label");

					if ($(this).data("label-"+val)) {
						$(label).html($(this).data('label-'+val));
					}else {
						$(label).html($(this).data('label-original'));
					}
				});
			}
		});
	}
</script>
