<div class="row">
	<div class="col-sm-8">
		<h2>Videos</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/product/variant-video-add/product_variant_id/<?php echo $this->product_variant_id?>" onclick="loadView('variant-video','add','');">Add Video</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 component-search-results">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Sort</th>
				<th>Video</th>
				<th>Image</th>
				<th>Alt Text</th>
				<th class="hidden-xs text-center">Delete</th>
				<th class="hidden-xs text-center">Edit</th>
			</tr>
			</thead>
			<tbody id="video-sort">
			<?php
			$vp = new Cny_Model_VideoParser();
			if ($this->videos) {
				foreach ($this->videos as $key => $item) {
				?>
					<tr id="sort_<?php echo $item->id?>" class="<?php echo ($item->primary == 'Yes')?"success":""?>">
						<td></td>
						<td>
							<?php if ($video_url = $vp->getEmbedUrl($item->video_src)) {?>
								<iframe width="100%" frameborder="0" src="<?php echo $video_url?>" style="max-width:400px;max-height:200px;"></iframe>
							<?php }else {?>
								<video src="<?php echo $item->video_src?>" style="max-width:400px;max-height:200px;" controls></video>
							<?php } ?>
						</td>
						<td><img src="<?php echo $item->image_src?>" class="img-responsive" style="max-height:200px;max-width:400px;"/></td>
						<td><?php echo $item->alt_text?></td>
						<td class="hidden-xs text-center"><a href="#/admin/product/variant-video-delete/id/<?php echo $item->id?>" onclick="loadView('variant-video','delete','<?php echo $item->id?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center"><a href="#/admin/product/variant-video-edit/id/<?php echo $item->id?>" onclick="loadView('variant-video','edit','<?php echo $item->id?>')" class="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
				<?php
				}
			}
			?>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#video-sort').sortable({
			update: function( event, ui ) {
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'POST',
					url: '/admin/product/variant-video-sort'
				});
			}
		});
	});
</script>
