<div class="row">
	<div class="col-sm-8">
		<h2>Variants</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<button class="btn btn-default btn-sm modal-trigger" data-target="#modal" data-title="Create New Variant Type" data-url="/admin/product/variant-type-add" type="button">Create New Variant Type</button>
			<a class="btn btn-default btn-sm" href="/admin/product/variant-add/product_id/<?php echo $this->product_id?>">Add Variant</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="-white-box">
		<div class="row component-search">
			<form method="post" action="" id="variant-search-form">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="form-group col-sm-2">
					<label>Type:</label>
					<?php echo $this->formSelect('type', $this->type, array('class'=>'form-control'), array(""=>"All")+$this->variant_types)?>
				</div>

				<div class="form-group col-sm-2">
					<label>Status:</label>
					<?php echo $this->formSelect('status', $this->status, array('class'=>'form-control'), array(""=>"All")+$this->variant_statuses)?>
				</div>

				<div class="col-sm-4">
					<div class="col-xs-1">
						<label>&nbsp;</label>
						<button type="submit" class="btn btn-primary xs-100">Search</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 component-search-results">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Type</th>
				<th>SKU</th>
				<th>Price</th>
				<th>Status</th>
				<th class="hidden-xs text-center">Delete</th>
				<th class="text-center">Duplicate</th>
				<th class="text-center">Preview</th>
				<th class="hidden-xs text-center">Edit</th>
			</tr>
			</thead>
			<tbody id="variant-sort">
			<?php
			if ($this->variants) {
				foreach ($this->variants as $key => $item) {
				?>
					<tr id="sort_<?php echo $item->id?>">
						<td><?php echo $this->variant_types[$item->product_variant_type_id]?></td>
						<td><?php echo $item->sku?></td>
						<td><?php if ($item->price) echo "$".number_format($item->price,2)?></td>
						<td><?php echo $item->status?></td>
						<td class="hidden-xs text-center"><a href="#/admin/product/variant-delete/id/<?php echo $item->id?>" onclick="loadView('variant','delete','<?php echo $item->id?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="text-center"><a href="/admin/product/variant-copy/id/<?php echo $item->id?>" title="Duplicate"><span class="sr-only">Duplicate</span> <span class="far fa-copy"></span></a></td>
						<td class="text-center"><a href="/product/<?php echo $this->product->code?>?variant_id=<?php echo $item->id?>" title="Preview" target="_blank"><span class="sr-only">Preview </span><span class="far fa-eye"></span></a></td>
						<td class="hidden-xs text-center"><a href="/admin/product/variant-edit/id/<?php echo $item->id?>" class="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
				<?php
				}
			}else { ?>
				<tr>
					<td colspan="10" class="text-center">
						No variants for product or no results matching search.
					</td>
				</tr>
			<?php } ?>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function() {
		$('#variant-sort').sortable({
			update: function( event, ui ) {
				$.ajax({
					data: $(this).sortable('serialize'),
					type: 'POST',
					url: '/admin/product/variant-sort'
				});
			}
		});

		$("#variant-search-form").on("submit", function(){
			$.post( "/admin/product/variant-view/product_id/<?php echo $this->product_id?>", $(this).serialize(), function( data ) {
				$("#variant-block").html( data );

			});

			return false;
		});
	});
</script>
