<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2><?php echo ($this->cmd=='add')?'Add New Product Variant':'Edit Product Variant'?></h2>

			<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
						<?php
						foreach ($this->errors as $error) {
							echo "<li>".$error."</li>";
						}
						?>
					</ul>
				</div>
			<?php } ?>

		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/product/<?php echo $this->product->code?>/<?php echo $this->variant->sku?>" target="_blank"><span class="far fa-eye"></span> Preview</a>
				<a class="btn btn-default btn-sm" href="/admin/product/edit/id/<?php echo $this->product->id?>"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<?php echo $this->form?>
		</div>
	</div>

	<div id="variant-profile-block" class="hidden-xs m-t-30"></div>
	<div id="variant-custom-block" class="hidden-xs m-t-30"></div>
	<div id="variant-image-block" class="hidden-xs m-t-30"></div>
	<div id="variant-video-block" class="hidden-xs m-t-30"></div>
	<div id="variant-media-block" class="hidden-xs m-t-30"></div>

</div>

<script>
	$(document).ready(function() {
		loadView("variant-profile","view","", false);
		loadView("variant-custom","view","", false);
		loadView("variant-image","view","", false);
		loadView("variant-video","view","", false);
		loadView("variant-media","view","", false);

		if ($("#id").val()) {
			//$("#code").after('<a href="/product/<?php echo $this->product->code?>/?variant_id=' + $("#id").val() + '" target="_blank">Preview</a>');
		}

		updateFormFields($("#product_variant_type_id").val());
		$("#product_variant_type_id").on("change", function(){
			updateFormFields($(this).val());
		});
	});

	function updateFormFields(id) {
		$.getJSON( "/admin/product/variant-type-ajax", {id:id}, function( data ) {
			var val = data.type;

			if (val == '' || val === null || typeof val === null) {
				$("#variantForm .conditional").parent().parent().show();
				$("#variantForm .data-label").each(function(){
					var label = $(this).parent().parent().find("label");
					$(label).html($(label).data('label-original'));
				});
			}else {
				$("#variantForm .conditional."+val+"-hide").each(function(){
					$(this).parent().parent().hide();
				});
				$("#variantForm .data-label").each(function(){
					var label = $(this).parent().parent().find("label");

					if ($(this).data("label-"+val)) {
						$(label).html($(this).data('label-'+val));
					}else {
						$(label).html($(this).data('label-original'));
					}
				});
			}
		});
	}

	function loadView(section,action,id, scroll_to) {
		if (typeof scroll_to === 'undefined') scroll_to = true;

		if (action == 'delete') {
			if (!confirm('Are you sure you want to delete this entry?')) {
				return false;
			}
		}

		$.get( "/admin/product/"+section+"-"+action+"/product_variant_id/<?php echo $this->product_variant_id?>/id/"+id, function( data ) {
			$("#"+section+"-block").html( data );
			//initTinyMCE();

			if (scroll_to === true) {
				$('html, body').animate({
					scrollTop: $("#" + section + "-block").offset().top
				}, 500);
			}
		});

		return false;
	}
</script>
