<div class="white-box">

	<div class="row">
		<div class="col-sm-8">
			<h2>View Product</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/product"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>Title:</td>
						<td>
							<?php echo $this->product->title?>
						</td>
					</tr>
					<tr>
						<td>Code:</td>
						<td>
							<?php echo $this->product->code?>
						</td>
					</tr>
					<tr>
						<td>SKU:</td>
						<td>
							<?php echo $this->product->sku?>
						</td>
					</tr>
					<tr>
						<td>Sorting Name:<br/><small>(for example "Product Name, The")</small></td>
						<td>
							<?php echo $this->product->title_sort?>
						</td>
					</tr>
					<tr>
						<td>Description:</td>
						<td>
							<?php echo $this->product->description?>
						</td>
					</tr>
					<tr>
						<td>Summary:</td>
						<td>
							<?php echo $this->product->summary?>
						</td>
					</tr>
					<tr>
						<td>Barcode:</td>
						<td>
							<?php echo $this->product->barcode?>
						</td>
					</tr>
					<tr>
						<td>Inventory:</td>
						<td>
							<?php echo $this->product->inventory?>
						</td>
					</tr>
					<tr>
						<td>Price:</td>
						<td>
							<?php echo $this->product->price?>
						</td>
					</tr>
					<tr>
						<td>MSRP:</td>
						<td>
							<?php echo $this->product->msrp?>
						</td>
					</tr>
					<tr>
						<td>Weight (lbs):</td>
						<td>
							<?php echo $this->product->weight?>
						</td>
					</tr>
					<tr>
						<td>Length (in):</td>
						<td>
							<?php echo $this->product->length?>
						</td>
					</tr>
					<tr>
						<td>Width (in):</td>
						<td>
							<?php echo $this->product->width?>
						</td>
					</tr>
					<tr>
						<td>Height (in):</td>
						<td>
							<?php echo $this->product->height?>
						</td>
					</tr>
					<tr>
						<td>Primary Category:</td>
						<td>
							<?php
							$mapper = new Admin_Model_Mapper_Category();
							if ($this->primary_category->category_id) {
								$category = $mapper->find($this->primary_category->category_id);
								echo $category->name;
							}
							?>
						</td>
					</tr>
					<tr>
						<td>Additional Categories:</td>
						<td>
							<?php
							$extra_categories = array();
							foreach ($this->extra_categories as $extra_category) {
								$extra_categories[] = $extra_category->name;
							}
							echo implode(", ", $extra_categories);
							?>
						</td>
					</tr>

					<tr>
						<td>Primary Collection:</td>
						<td>
							<?php
							$mapper = new Admin_Model_Mapper_Collection();
							if ($this->primary_collection->collection_id) {
								$collection = $mapper->find($this->primary_collection->collection_id);
								echo $collection->name;
							}
							?>
						</td>
					</tr>
					<tr>
						<td>Additional Collections:</td>
						<td>
							<?php
							$extra_collections = array();
							foreach ($this->extra_collections as $extra_collection) {
								$extra_collections[] = $extra_collection->name;
							}
							echo implode(", ", $extra_collections);
							?>
						</td>
					</tr>

					<tr>
						<td>Tags:</td>
						<td>
							<?php
							$t_mapper = new Admin_Model_Mapper_ProductTags();
							echo implode(", ",$t_mapper->fetchTagNamesByProductId($this->product->id));
							?>
						</td>
					</tr>
					<tr>
						<td>Related Products:</td>
						<td>
							<?php
							$pr_mapper = new Admin_Model_Mapper_ProductRelated();
							$relateds = $pr_mapper->fetchRelatedProductsByProductId($this->product->id);
							$r_array = [];
							foreach ($relateds as $related) {
								$r_array[] = $related->product_title;
							}
							echo implode(", ",$r_array);
							?>
						</td>
					</tr>
					<tr>
						<td>Status:</td>
						<td>
							<?php echo $this->product->status?>
						</td>
					</tr>
					<tr>
						<td>Created:</td>
						<td>
							<?php echo ($this->product->created)?$this->UTCtoTZ($this->product->created,"M. j, Y g:ia",$this->site_timezone):""?>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<h4>Profile</h4>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<tbody>
				<?php foreach ($this->profile as $key => $row) {?>
				<tr>
					<td><?php echo $row['title']?>:</td>
					<td><?php echo $row['value']?></td>
				</tr>
				<?php } ?>
				</tbody>
			</table>
		</div>
	</div>

	<h4>Images</h4>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Image</th>
					<th>Alt Text</th>
					<th>Primary</th>
					<th>Secondary</th>
				</tr>
				</thead>
				<tbody>
				<?php
				if ($this->images) {
					foreach ($this->images as $key => $item) {
						?>
						<tr class="<?php echo ($item->primary == 'Yes')?"success":""?>">
							<td><img src="<?php echo $item->image_src?>" class="img-responsive" style="max-height:200px;max-width:400px;"/></td>
							<td><?php echo $item->alt_text?></td>
							<td><?php echo $item->primary?></td>
							<td><?php echo $item->secondary?></td>
						</tr>
						<?php
					}
				}
				?>
				</tbody>
			</table>
		</div>
	</div>

	<h4>Videos</h4>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Video</th>
					<th>Image</th>
					<th>Alt Text</th>
				</tr>
				</thead>
				<tbody>
				<?php
				if ($this->videos) {
					$vp = new Cny_Model_VideoParser();
					foreach ($this->videos as $key => $item) {
						?>
						<tr class="">
							<td>
								<?php if ($video_url = $vp->getEmbedUrl($item->video_src)) {?>
									<iframe width="100%" frameborder="0" src="<?php echo $video_url?>" style="max-width:400px;max-height:200px;"></iframe>
								<?php }else {?>
									<video src="<?php echo $item->video_src?>" style="max-width:400px;max-height:200px;" controls></video>
								<?php } ?>
							</td>
							<td><img src="<?php echo $item->image_src?>" class="img-responsive" style="max-height:200px;max-width:400px;"/></td>
							<td><?php echo $item->alt_text?></td>
						</tr>
						<?php
					}
				}
				?>
				</tbody>
			</table>
		</div>
	</div>

	<h4>Media</h4>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<thead>
				<tr>
					<th>Title</th>
					<th>File</th>
				</tr>
				</thead>
				<tbody>
				<?php
				if ($this->media) {
					foreach ($this->media as $key => $item) {
						?>
						<tr class="">
							<td><?php echo $item->title?></td>
							<td><a href="<?php echo $item->media_src?>" class="img-responsive" target="_blank">Download</a></td>
						</tr>
						<?php
					}
				}
				?>
				</tbody>
			</table>
		</div>
	</div>

	<h4>Variants</h4>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<tbody>
				<?php foreach ($this->variants as $key => $row) {
					$variant = $row['data'];
					?>
					<tr>
						<td>
							<table class="table table-striped">
								<tbody>
								<tr>
									<td>Title:</td>
									<td>
										<?php echo $variant->title?>
									</td>
								</tr>
								<tr>
									<td>Sort Title:</td>
									<td>
										<?php echo $variant->title_sort?>
									</td>
								</tr>
								<tr>
									<td>Code:</td>
									<td>
										<?php echo $variant->code?>
									</td>
								</tr>
								<tr>
									<td>Description:</td>
									<td>
										<?php echo $variant->description?>
									</td>
								</tr>
								<tr>
									<td>SKU:</td>
									<td>
										<?php echo $variant->sku?>
									</td>
								</tr>
								<tr>
									<td>Barcode:</td>
									<td>
										<?php echo $variant->barcode?>
									</td>
								</tr>
								<tr>
									<td>Inventory:</td>
									<td>
										<?php echo $variant->inventory?>
									</td>
								</tr>
								<tr>
									<td>Price:</td>
									<td>
										<?php echo $variant->price?>
									</td>
								</tr>
								<tr>
									<td>MSRP:</td>
									<td>
										<?php echo $variant->msrp?>
									</td>
								</tr>
								<tr>
									<td>Weight:</td>
									<td>
										<?php echo $variant->weight?>
									</td>
								</tr>
								<tr>
									<td>Status:</td>
									<td>
										<?php echo $variant->status?>
									</td>
								</tr>
								<tr>
									<td>Created:</td>
									<td>
										<?php echo ($variant->created)?$this->UTCtoTZ($variant->created,"M. j, Y g:ia",$this->site_timezone):""?>
									</td>
								</tr>
								</tbody>
							</table>

							<h4>Profile</h4>
							<table class="table table-striped">
								<tbody>
								<?php
								if (isset($row['profile']) && $row['profile']) {
									foreach ($row['profile'] as $key => $item) {
										?>
										<tr>
											<td><?php echo $item['title'] ?>:</td>
											<td><?php echo $item['value'] ?></td>
										</tr>
										<?php
									}
								}
								?>
								</tbody>
							</table>

							<h4>Images</h4>
							<table class="table table-striped">
								<thead>
								<tr>
									<th>Image</th>
									<th>Alt Text</th>
									<th>Primary</th>
								</tr>
								</thead>
								<tbody>
								<?php
								if (isset($row['images']) && $row['images']) {
									foreach ($row['images'] as $key => $item) {
										?>
										<tr class="<?php echo ($item->primary == 'Yes') ? "success" : "" ?>">
											<td>
												<img src="<?php echo $item->image_src ?>" class="img-responsive" style="max-height:200px;max-width:400px;"/>
											</td>
											<td><?php echo $item->alt_text ?></td>
											<td><?php echo $item->primary ?></td>
										</tr>
										<?php
									}
								}
								?>
								</tbody>
							</table>
						</td>
					</tr>
				<?php } ?>
				</tbody>
			</table>
		</div>
	</div>
</div>

