<?php


//font list
$mapper = new Application_Model_Mapper_Font();
$fonts = $mapper->getActiveFonts();

$font_options = array();
foreach ($fonts as $code => $row) {
	$font_options[$code] = $row['title'];
}
?>

<?php if ($this->field_map['button_status'] && $this->field_map['button_status']['name']) {?>
	<div class="flex-auto-fit m-b-15">
		<div class="flex-auto-fit__item">
			<label for="" class="m-b-5 text-black">Enable Button:</label>
			<?php if ($this->in_panel) { ?>
				<div class="panel panel--module">
					<?php echo $this->formSelect($this->field_map['button_status']['name'], null, array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-'.$this->field_map['button_status']['name'], 'data-name'=>$this->field_map['button_status']['name']),
						array('Enabled'=>'Enabled','Disabled'=>'Disabled',)
					)?>
				</div>
			<?php }else {?>
				<?php $enabled = ($this->field_map['button_status']['value'] == 'Enabled')?'on':'off'; ?>
				<div class="panel panel--module">
					<div class="btn-group" id="animate" data-toggle="buttons">
						<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
							<input type="radio" value="Enabled" name="<?php echo $this->field_map['button_status']['name']?>" <?php echo ($enabled == 'on')?'checked':''?>>On</label>
						<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
							<input type="radio" value="Disabled" name="<?php echo $this->field_map['button_status']['name']?>" <?php echo ($enabled == 'off')?'checked':''?>>Off</label>
					</div>
				</div>
			<?php } ?>
		</div>
	</div>
<?php } ?>

<div class="flex-auto-fit m-b-15">
	<?php if ($this->field_map['style'] && $this->field_map['style']['name']) {?>
		<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
			<label class="text-black m-b-5">Button Style:</label>
			<div class="panel panel--module">
				<?php echo $this->formSelect($this->field_map['style']['name'], ($this->in_panel)?null:$this->field_map['style']['value'], array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-'.$this->field_map['style']['name'], 'data-type'=>'class', 'data-name'=>$this->field_map['style']['name']),
					array('btn-square'=>'Square','btn-round'=>'Rounded','btn-round-4px'=>'Rounded Corners','btn-outline'=>'Outlined (transparent background)','btn-square-full'=>'Full Width','btn-round-full'=>'Full Width Rounded','btn-round-4px-full'=>'Full Width Rounded Corners')
				)?>
			</div>
		</div>
	<?php } ?>

	<div class="flex-auto-fit__item">
		<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">
			<?php if ($this->field_map['color'] && $this->field_map['color']['name']) {?>
				<div class="flex-auto-fit__item">
					<label class="text-black m-b-5">Button Color</label>
					<div class="panel panel--module">
						<input data-type="color" data-style="background" type="text" class="form-control bg-gray complex-colorpicker copy" id="panelForm-<?php echo $this->field_map['color']['name']?>" data-name="<?php echo $this->field_map['color']['name']?>" name="<?php echo $this->field_map['color']['name']?>" value="<?php echo ($this->in_panel)?null:$this->field_map['color']['value']?>">
					</div>
				</div>
			<?php } ?>

			<?php if ($this->field_map['hover_color'] && $this->field_map['hover_color']['name']) {?>
				<div class="flex-auto-fit__item">
					<label class="text-black m-b-5">Button Hover Color</label>
					<div class="panel panel--module">
						<input data-type="hover" data-style="background" type="text" class="form-control bg-gray complex-colorpicker copy" id="panelForm-<?php echo $this->field_map['hover_color']['name']?>" data-name="<?php echo $this->field_map['hover_color']['name']?>" name="<?php echo $this->field_map['hover_color']['name']?>" value="<?php echo ($this->in_panel)?null:$this->field_map['hover_color']['value']?>">
					</div>
				</div>
			<?php } ?>

			<?php if ($this->field_map['hover_effect'] && $this->field_map['hover_effect']['name']) {?>
				<div class="flex-auto-fit__item">
					<label class="text-black m-b-5">Button Hover Effect</label>
					<div class="panel panel--module">
						<?php echo $this->formSelect($this->field_map['hover_effect']['name'], ($this->in_panel)?null:$this->field_map['hover_effect']['value'], array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-'.$this->field_map['hover_effect']['name'], 'data-name'=>$this->field_map['hover_effect']['name']),
							array(''=>'None','lighten'=>'Lighten',)//'darken'=>'Darken'
						)?>
					</div>
				</div>
			<?php } ?>

			<?php if ($this->field_map['border_status'] && $this->field_map['border_status']['name']) {?>
				<div class="flex-auto-fit__item">
					<label for="" class="m-b-5 text-black">Border Status:</label>
					<?php if ($this->in_panel) { ?>
						<div class="panel panel--module">
							<?php echo $this->formSelect($this->field_map['border_status']['name'], null, array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-'.$this->field_map['border_status']['name'], 'data-name'=>$this->field_map['border_status']['name']),
								array('Enabled'=>'Enabled','Disabled'=>'Disabled',)
							)?>
						</div>
					<?php }else {?>
						<?php $enabled = ($this->field_map['border_status']['value'] == 'Disabled')?'off':'on'; ?>
						<div class="panel panel--module">
							<div class="btn-group" id="animate" data-toggle="buttons">
								<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
									<input type="radio" value="Enabled" name="<?php echo $this->field_map['border_status']['name']?>" <?php echo ($enabled == 'on')?'checked':''?>>Enabled</label>
								<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
									<input type="radio" value="Disabled" name="<?php echo $this->field_map['border_status']['name']?>" <?php echo ($enabled == 'off')?'checked':''?>>Disabled</label>
							</div>
						</div>
					<?php } ?>
				</div>
			<?php } ?>

			<?php if ($this->field_map['border_size'] && $this->field_map['border_size']['name']) {?>
				<div class="flex-auto-fit__item">
					<label class="text-black m-b-5">Border Size</label>
					<div class="panel panel--module">
						<?php echo $this->formSelect($this->field_map['border_size']['name'], ($this->in_panel)?null:$this->field_map['border_size']['value'], array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-'.$this->field_map['border_size']['name'], 'data-name'=>$this->field_map['border_size']['name'], 'data-type'=>'border', 'data-style'=>'border-width'),
							array(''=>'Default','0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px')
						)?>
					</div>
				</div>
			<?php }?>

			<?php if ($this->field_map['border_color'] && $this->field_map['border_color']['name']) {?>
				<div class="flex-auto-fit__item">
					<label class="text-black m-b-5">Border Color</label>
					<div class="panel panel--module">
						<input data-type="border" data-style="border-color" type="text" class="form-control bg-gray complex-colorpicker copy" id="panelForm-<?php echo $this->field_map['border_color']['name']?>" data-name="<?php echo $this->field_map['border_color']['name']?>" name="<?php echo ($this->in_panel)?null:$this->field_map['border_color']['name']?>" value="<?php echo $this->field_map['border_color']['value']?>">
					</div>
				</div>
			<?php } ?>

			<?php if ($this->field_map['border_hover_color'] && $this->field_map['border_hover_color']['name']) {?>
				<div class="flex-auto-fit__item">
					<label class="text-black m-b-5">Border Hover Color</label>
					<div class="panel panel--module">
						<input data-type="hover" data-style="border-color" type="text" class="form-control bg-gray complex-colorpicker copy" id="panelForm-<?php echo $this->field_map['border_hover_color']['name']?>" data-name="<?php echo $this->field_map['border_hover_color']['name']?>" name="<?php echo $this->field_map['border_hover_color']['name']?>" value="<?php echo ($this->in_panel)?null:$this->field_map['border_hover_color']['value']?>">
					</div>
				</div>
			<?php } ?>

		</div>
	</div>
</div>

<div class="flex-auto-fit m-b-15">
	<?php if ($this->field_map['font'] && $this->field_map['font']['name']) {?>
		<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
			<label for="" class="m-b-5 text-black">Button Font:</label>
			<div class="panel panel--module bg-gray">
				<select class="form-control bg-gray font-selector copy" id="panelForm-<?php echo $this->field_map['font']['name']?>" data-name="<?php echo $this->field_map['font']['name']?>" data-type="font" data-style="font-family" data-weight="<?php echo $this->field_map['text_weight']['name']?>" name="<?php echo $this->field_map['font']['name']?>">
					<?php
					foreach ($font_options as $k => $v) {
						$selected = (!$this->in_panel && $k == $this->field_map['font']['value'])?"selected":"";
						?>
						<option value="<?php echo $k?>" style="font-family: <?php echo $v?>" <?php echo $selected?>><?php echo $v?></option>
						<?php
					}
					?>
				</select>
			</div>
		</div>
	<?php } ?>

	<div class="flex-auto-fit__item">
		<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">
			<?php if ($this->field_map['text_size'] && $this->field_map['text_size']['name']) {?>
				<div class="flex-auto-fit__item">
					<label class="text-black m-b-5">Text Size</label>
					<div class="panel panel--module">
						<?php echo $this->formSelect($this->field_map['text_size']['name'], ($this->in_panel)?null:$this->field_map['text_size']['value'], array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-'.$this->field_map['text_size']['name'], 'data-name'=>$this->field_map['text_size']['name'], 'data-type'=>'text', 'data-style'=>'font-size'),
							array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
								'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px')
						)?>
					</div>
				</div>
			<?php } ?>

			<?php if ($this->field_map['text_weight'] && $this->field_map['text_weight']['name']) {?>
				<div class="flex-auto-fit__item">
					<label class="text-black m-b-5">Text Weight</label>
					<div class="panel panel--module">
						<?php echo $this->formSelect($this->field_map['text_weight']['name'], ($this->in_panel)?null:$this->field_map['text_weight']['value'], array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-'.$this->field_map['text_weight']['name'], 'data-name'=>$this->field_map['text_weight']['name'], 'data-type'=>'weight', 'data-style'=>'font-weight'),
							array(
								'' => 'Default',
								'300' => 'Light',
								'400' => 'Regular',
								'500' => 'Medium',
								'600' => 'Semi Bold',
								'700' => 'Bold',
								'800' => 'Bolder'
							)
						)?>
					</div>
				</div>
			<?php } ?>

			<?php if ($this->field_map['text_color'] && $this->field_map['text_color']['name']) {?>
				<div class="flex-auto-fit__item">
					<label class="text-black m-b-5">Text Color</label>
					<div class="panel panel--module">
						<input data-type="color" data-style="color" type="text" class="form-control bg-gray complex-colorpicker copy" id="panelForm-<?php echo $this->field_map['text_color']['name']?>" data-name="<?php echo $this->field_map['text_color']['name']?>" name="<?php echo $this->field_map['text_color']['name']?>" value="<?php echo ($this->in_panel)?null:$this->field_map['text_color']['value']?>">
					</div>
				</div>
			<?php } ?>

			<?php if ($this->field_map['text_hover_color'] && $this->field_map['text_hover_color']['name']) {?>
				<div class="flex-auto-fit__item">
					<label class="text-black m-b-5">Text Hover Color</label>
					<div class="panel panel--module">
						<input data-type="hover" data-style="color" type="text" class="form-control bg-gray complex-colorpicker copy" id="panelForm-<?php echo $this->field_map['text_hover_color']['name']?>" data-name="<?php echo $this->field_map['text_hover_color']['name']?>" name="<?php echo $this->field_map['text_hover_color']['name']?>" value="<?php echo ($this->in_panel)?null:$this->field_map['text_hover_color']['value']?>">
					</div>
				</div>
			<?php } ?>

			<?php if ($this->field_map['text_padding'] && $this->field_map['text_padding']['name']) {?>
				<div class="flex-auto-fit__item">
					<label class="text-black m-b-5">Text Padding</label>
					<div class="panel panel--module">
						<?php echo $this->formSelect($this->field_map['text_padding']['name'], ($this->in_panel)?null:$this->field_map['text_padding']['value'], array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-'.$this->field_map['text_padding']['name'], 'data-name'=>$this->field_map['text_padding']['name']),
							array(''=>'Default','0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
								'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px')
						)?>
					</div>
				</div>
			<?php } ?>

			<?php if ($this->field_map['text_line_height'] && $this->field_map['text_line_height']['name']) {?>
				<div class="flex-auto-fit__item">
					<label class="text-black m-b-5">Text Line Height</label>
					<div class="panel panel--module">
						<?php echo $this->formSelect($this->field_map['text_line_height']['name'], ($this->in_panel)?null:$this->field_map['text_line_height']['value'], array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-'.$this->field_map['text_line_height']['name'], 'data-name'=>$this->field_map['text_line_height']['name']),
							array(''=>'Default','8px'=>'8px','9px'=>'9px','10px'=>'10px','11px'=>'11px','12px'=>'12px','14px'=>'14px','16px'=>'16px','18px'=>'18px','20px'=>'20px',
								'22px'=>'22px','24px'=>'24px','36px'=>'36px','40px'=>'40px','44px','48px','50px','50px')
						)?>
					</div>
				</div>
			<?php } ?>

		</div>
	</div>
</div>

<div class="flex-auto-fit m-b-15">
	<?php if ($this->field_map['width'] && $this->field_map['width']['name']) {?>
		<div class="flex-auto-fit__item max-width-195-md max-width-250-lg">
			<label class="text-black m-b-5">Button Width:</label>
			<div class="panel panel--module">
				<input data-type="width" data-style="width" type="text" class="form-control bg-gray copy" id="panelForm-<?php echo $this->field_map['width']['name']?>" data-name="<?php echo $this->field_map['width']['name']?>" name="<?php echo $this->field_map['width']['name']?>" value="<?php echo ($this->in_panel)?null:$this->field_map['width']['value']?>">
			</div>
		</div>
	<?php } ?>

	<div class="flex-auto-fit__item">
		<div class="flex-auto-fit flex-auto-fit--max-130-md flex-auto-fit--max-175-lg">
			<?php if ($this->field_map['padding_vertical'] && $this->field_map['padding_vertical']['name']) {?>
				<div class="flex-auto-fit__item">
					<label class="text-black m-b-5">
						V-Padding
					</label>
					<div class="panel panel--module">
						<?php echo $this->formSelect($this->field_map['padding_vertical']['name'], ($this->in_panel)?null:$this->field_map['padding_vertical']['value'], array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-'.$this->field_map['padding_vertical']['name'], 'data-name'=>$this->field_map['padding_vertical']['name'], 'data-type'=>'padding', 'data-style'=>'padding'),
							array(''=>'Default','0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
								'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px',
								'24px'=>'24px','28px'=>'28px','32px'=>'32px')
						)?>
					</div>
				</div>
			<?php } ?>

			<?php if ($this->field_map['padding_horizontal'] && $this->field_map['padding_horizontal']['name']) {?>
				<div class="flex-auto-fit__item">
					<label class="text-black m-b-5">
						H-Padding
					</label>
					<div class="panel panel--module">
						<?php echo $this->formSelect($this->field_map['padding_horizontal']['name'], ($this->in_panel)?null:$this->field_map['padding_horizontal']['value'], array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-'.$this->field_map['padding_horizontal']['name'], 'data-name'=>$this->field_map['padding_horizontal']['name'], 'data-type'=>'padding', 'data-style'=>'padding'),
							array(''=>'Default','0'=>'None','1px'=>'1px','2px'=>'2px','3px'=>'3px','4px'=>'4px','5px'=>'5px','6px'=>'6px','7px'=>'7px','8px'=>'8px','9px'=>'9px','10px'=>'10px',
								'11px'=>'11px','12px'=>'12px','13px'=>'13px','14px'=>'14px','15px'=>'15px','16px'=>'16px','17px'=>'17px','18px'=>'18px','19px'=>'19px','20px'=>'20px',
								'24px'=>'24px','28px'=>'28px','32px'=>'32px')
						)?>
					</div>
				</div>
			<?php } ?>

			<?php if ($this->field_map['alignment'] && $this->field_map['alignment']['name']) {?>
				<div class="flex-auto-fit__item">
					<label data-type="class" class="text-black m-b-5">Alignment</label>
					<?php echo $this->formSelect($this->field_map['alignment']['name'], (!$this->in_panel && $this->field_map['alignment']['value'])?$this->field_map['alignment']['value']:'text-left', array('class'=>'form-control bg-gray copy', 'id'=>'panelForm-'.$this->field_map['alignment']['name'], 'data-name'=>$this->field_map['alignment']['name']),
						array('text-center'=>'Centered','text-left'=>'Left','text-right'=>'Right')
					)?>
				</div>
			<?php } ?>

		</div>
	</div>
</div>

<div class="preview">
	<label for=""><strong>Preview</strong></label>
	<hr class="m-t-0 m-b-15">
	<div class="flex-row">
		<div class="col">
			<div class="btn btn-default btnPreview">Preview</div>
		</div>
		<div class="col">
			<a href="#" class="btn btn-link btnRefresh">Refresh <i class="fal fa-sync"></i></a>
		</div>
	</div>
</div>

<script>
	$(function() {
		window.cny.fontWeightUpdater();
		window.cny.previewButton();
	});
</script>
