<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<?php
	echo $this->headMeta();
	echo $this->headTitle();
	?>
	<link href="/assets/styles/<?php echo Cny_GulpHelper::asset_path('main.css'); ?>" rel="stylesheet">
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="/assets/scripts/<?php echo Cny_GulpHelper::asset_path('jquery.js'); ?>"></script>
	<script src="/assets/scripts/<?php echo Cny_GulpHelper::asset_path('main.js'); ?>"></script>

	<?php
	if (Zend_Registry::get('custom_configuration')) {
		?>
		<link href="/custom_assets/styles/<?php echo Cny_CustomGulpHelper::asset_path('main.css'); ?>" rel="stylesheet">
		<script src="/custom_assets/scripts/<?php echo Cny_CustomGulpHelper::asset_path('main.js'); ?>"></script>
		<?php
	}
	?>

	<?php
	$favicon = $settings_mapper->getValueByCode('favicon');
	if (stripos($favicon,".png") !== false) {
	?>
		<link rel="icon" type="image/png" href="<?php echo $favicon?>">
	<?php }elseif (stripos($favicon,".ico") !== false) {?>
		<link rel="shortcut icon" href="<?php echo $favicon?>">
	<?php } ?>

	<?php
	echo $this->headLink();
	?>
</head>
<body class="<?php echo $this->placeholder('body_class')->setSeparator(' '); ?>-page">

<?php echo $this->placeholder('_body_start'); ?>
<div class="main">
	<?php echo $this->layout()->content; ?>
</div>
<?php echo $this->placeholder('_body_end'); ?>

<?php
echo $settings_mapper->getValueByCode('analytics');
?>
</body>
</html>
