<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$options = Zend_Registry::get('configuration')->toArray();
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<?php
	echo $this->headMeta();
	echo $this->headTitle();
	?>
	<link href="/assets/styles/<?php echo Cny_GulpHelper::asset_path('main.css'); ?>" rel="stylesheet" media="all">
	<link rel="preload" as="font" href="/assets/fonts/fa-brands-400.woff2" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" as="font" href="/assets/fonts/fa-light-300.woff2" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" as="font" href="/assets/fonts/fa-regular-400.woff2" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" as="font" href="/assets/fonts/fa-solid-900.woff2" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" as="font" href="/assets/fonts/fa-duotone-900.woff2" type="font/woff2" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

	<script src="/assets/scripts/<?php echo Cny_GulpHelper::asset_path('jquery.js'); ?>"></script>
	<script defer src="/assets/scripts/<?php echo Cny_GulpHelper::asset_path('main.js'); ?>"></script>

	<?php
	$favicon = $settings_mapper->getValueByCode('favicon');
	if ($favicon) {
		if (stripos($favicon, ".png") !== false) {
			?>
			<link rel="icon" type="image/png" href="<?php echo $favicon ?>">
		<?php } elseif (stripos($favicon, ".ico") !== false) { ?>
			<link rel="shortcut icon" href="<?php echo $favicon ?>">
			<?php
		}
	}else {?>
		<link rel="icon" type="image/png" href="/assets/images/favicon.png">
	<?php } ?>

	<meta name="twitter:card" content="summary_large_image" />
	<?php if ($twitter_username = $settings_mapper->getValueByCode('twitter_username')) {?>
		<meta name="twitter:site" content="<?php echo $twitter_username?>" />
	<?php } ?>

	<?php
	echo $this->headLink();
	echo $this->headScript();
	echo $this->headStyle();
	?>

	<?php
	if (Zend_Registry::get('custom_configuration')) {
	?>
		<link href="/custom_assets/styles/<?php echo Cny_CustomGulpHelper::asset_path('main.css'); ?>" rel="stylesheet" media="all">
		<script defer src="/custom_assets/scripts/<?php echo Cny_CustomGulpHelper::asset_path('main.js'); ?>"></script>
	<?php
	}
	?>

	<?php echo $settings_mapper->getValueByCode('custom_header_code');?>

	<?php echo $this->placeholder('_meta_head'); ?>

	<?php echo $this->placeholder('_module_style_block'); ?>

	<?php
	$userway_status = $settings_mapper->getValueByCode('userway_status');
		if ($userway_status == 'Enabled') {
			$position = ($settings_mapper->getValueByCode('userway_position'))?$settings_mapper->getValueByCode('userway_position'):1;
			$color = ($settings_mapper->getValueByCode('userway_color'))?$settings_mapper->getValueByCode('userway_color'):'#3c67b2';
			$account_code = ($settings_mapper->getValueByCode('userway_account_code'))?$settings_mapper->getValueByCode('userway_account_code'):null;

			if ($account_code) {
				?>
				<script type="text/javascript">var _userway_config = {
						position: <?php echo $position?>,
						color: '<?php echo $color?>',
						language: 'en',
						account: '<?php echo $account_code?>'
					};</script>
				<script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
				<?php
			}
		}
		?>

</head>
<body class="<?php echo $this->placeholder('body_class')->setSeparator(' '); ?>" id="<?php echo $this->placeholder('body_id'); ?>">
<?php echo $this->placeholder('_pre_header'); ?>
<?php echo $settings_mapper->getValueByCode('custom_body_code_top');?>
<?php echo $this->placeholder('_header'); ?>
<?php echo $this->placeholder('_body_start'); ?>
<div class="main">
	<div id="alert-area"></div>

	<?php
	echo $this->placeholder('template_position-top_hero');

	$cols = 1;
	if ($this->placeholder('template_position-left_column')->getValue()) $cols ++;
	if ($this->placeholder('template_position-right_column')->getValue()) $cols ++;

	$left_width = $right_width = 0;
	if ($this->placeholder('template_position-left_column')->getValue()) {
		$left_width = ($this->placeholder('template_width-left_column')->getValue()) ? $this->placeholder('template_width-left_column')->getValue() : 33;
	}
	if ($this->placeholder('template_position-right_column')->getValue()) {
		$right_width = ($this->placeholder('template_width-right_column')->getValue()) ? $this->placeholder('template_width-right_column')->getValue() : 33;
	}
	$main_col_width = 100 - $left_width - $right_width;
	?>
	<div class="<?php echo ($cols > 1)?"container constrain":""?>">
		<div class="d-flex <?php echo ($cols == 1)?"d-flex--single":""?> m-b-50">
			<?php if ($this->placeholder('template_position-left_column')->getValue()) { ?>
				<div class="col" style="flex: 0 0 <?php echo $left_width ?>%; max-width: <?php echo $left_width ?>%;">
					<?php echo $this->placeholder('template_position-left_column'); ?>
				</div>
			<?php } ?>
			<div class="col" style="flex: 0 0 <?php echo $main_col_width?>%; max-width: <?php echo $main_col_width?>%;">
				<?php echo $this->layout()->content; ?>
			</div>
			<?php if ($this->placeholder('template_position-right_column')->getValue()) { ?>
				<div class="col" style="flex: 0 0 <?php echo $right_width ?>%; max-width: <?php echo $right_width?>%;">
					<?php echo $this->placeholder('template_position-right_column'); ?>
				</div>
			<?php } ?>
		</div>
	</div>

	<?php if ($this->placeholder('template_position-bottom')->getValue()) { ?>
		<?php if (preg_match("/row-block(\s.*)fullwidth/i",$this->placeholder('template_position-bottom')) != 0) {?>
			<?php echo $this->placeholder('template_position-bottom'); ?>
		<?php }else {?>
			<div class="container constrain">
				<?php echo $this->placeholder('template_position-bottom'); ?>
			</div>
		<?php } ?>
	<?php } ?>

</div>
<?php echo $this->placeholder('_body_end'); ?>
<?php echo $this->placeholder('_footer'); ?>

<div class="modal modal--video fade" data-keyboard="false" id="modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" class="close" data-dismiss="modal" type="button">
					close
					<i class="fa fa-times-circle"></i>
				</button>
			</div>
			<div class="modal-body">
			</div>

			<div class="modal-footer bg-gray-dark">
			</div>
		</div>
	</div>
</div>

<div class="modal fade" data-keyboard="false" id="modal-cms">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" class="close" data-dismiss="modal" type="button">
					<span class="sr-only">close</span>
					<i class="fal fa-times fa-2x"></i>
				</button>
			</div>
			<div class="modal-body"></div>

			<div class="modal-footer"></div>
		</div>
	</div>
</div>

<div class="modal modal--cart fade" data-keyboard="false" id="modal-cart">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" class="close" data-dismiss="modal" type="button">
					<span class="sr-only">close</span>
					<i class="fal fa-times"></i>
				</button>
			</div>
			<div class="modal-body">
				<div class="products products--cart">
					<h3 class="m-b-0">Item successfully added to your cart</h3>
					<hr class="m-t-10 m-b-10 hidden-xs">
					<table class="table table--products table-condensed">
						<thead class="hidden-xs">
						<tr>
							<th class="col-sm-1 text-center">Qty</th>
							<th class="col-sm-2">Item</th>
							<th class="col-sm-5">Description</th>
							<th class="col-sm-2">Price</th>
							<th class="hidden-xs col-sm-1">Total</th>
						</tr>
						</thead>
						<tbody>
						<?php /*
						<tr class="products__details">
							<td class="products__qty-wrap">
								<div class="products__qty">
									1
								</div>
							</td>
							<td class="products__image-wrap">
								<div class="products__item">
									<div class="products__image">
										<img src="<?php echo ($this->primary_image->image_src && $this->primary_image->image_src)?$this->primary_image->image_src:"/custom_assets/images/fm_default_poster.jpg"?>" alt="" class="img-responsive">
									</div>
								</div>
							</td>
							<td>
								<div class="products__content">
									<div class="products__title text-left">
										<strong><?php echo (isset($this->active_variant)) ? $this->active_variant->title : $this->product->title;?></strong>
									</div>
								</div>
							</td>
							<td class="products__price-wrap">
								<div class="products__price">
									<strike>$<?php echo (isset($this->active_variant)) ? $this->active_variant->msrp : $this->product->msrp; ?></strike>

									<strong>$<?php echo (isset($this->active_variant)) ? $this->active_variant->price : $this->product->price; ?></strong>
								</div>
							</td>
							<td>
								<div class="products__total">
									<strong>$<?php echo number_format(isset($this->active_variant)) ? $this->active_variant->price : $this->product->price ;?></strong>
								</div>
							</td>
						</tr>
						*/ ?>
						</tbody>
					</table>
					<hr class="m-t-10 m-b-10">
					<?php if ($settings_mapper->getValueByCode('shipping_free_standard_shipping_status') == 'Enabled') {?>
						<div class="free-shipping-message" style="display:none;">
							<div class="">
								Spend $<span class="needed"></span> more for <span class="text-uppercase">Free </span> Standard Shipping!
							</div>
							<hr class="m-t-10 m-b-10">
						</div>
					<?php } ?>
					<div class="btn-menu btn-menu--cart">
						<div class="btn-menu__item">
							<a href="/cart" class="btn btn--gray-dark btn-ecommerce-secondary <?php echo $settings_mapper->getValueByCode('ecommerce_secondary_btn_style');?> <?php echo $settings_mapper->getValueByCode('ecommerce_secondary_btn_hover_effect');?>">View Cart</a>
						</div>
						<div class="btn-menu__item">
							<a href="/checkout" class="btn btn--green btn-ecommerce-primary <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_style');?> <?php echo $settings_mapper->getValueByCode('ecommerce_primary_btn_hover_effect');?>">Checkout</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<?php
echo $settings_mapper->getValueByCode('analytics');
?>

<?php echo $settings_mapper->getValueByCode('custom_body_code');?>

<!-- LOGIC Business Cloud by Cyber-NY Ⓒ <?php echo date("Y")?> -->

<?php if ($settings_mapper->getValueByCode('gdpr_bar_status') == 'yes') {?>
<div id="cookie-action" class="cookie-action cookie-action--<?php echo $settings_mapper->getValueByCode('gdpr_bar_position');?>">
	<span>This website uses cookies to improve your experience. By continuing to use the site you are accepting the use of cookies.
		<a href="#" data-cookie_action="accept" id="cookie_action_close_header" class="cookie-action__close-header cookie-action__button">Accept</a>
		<!--<a href="#" data-cookie_action="reject" id="cookie_action_close_header_reject" class="cookie-action__close-header-reject cookie-action__button">Reject</a>-->
		<?php if ($gdpr_more_url = $settings_mapper->getValueByCode('gdpr_read_more_page')) {?>
			<a href="<?php echo $gdpr_more_url?>" target="_blank">Read More</a>
		<?php } ?>
	</span>
</div>
<?php } ?>

</body>
</html>
