<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$options = Zend_Registry::get('configuration')->toArray();
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<?php
	echo $this->headMeta();
	echo $this->headTitle();
	?>
	<link href="/assets/styles/<?php echo Cny_GulpHelper::asset_path('main.css'); ?>" rel="stylesheet" media="all">
	<link rel="preload" as="font" href="/assets/fonts/fa-brands-400.woff2" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" as="font" href="/assets/fonts/fa-light-300.woff2" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" as="font" href="/assets/fonts/fa-regular-400.woff2" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" as="font" href="/assets/fonts/fa-solid-900.woff2" type="font/woff2" crossorigin="anonymous">
	<link rel="preload" as="font" href="/assets/fonts/fa-duotone-900.woff2" type="font/woff2" crossorigin="anonymous">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>

	<script src="/assets/scripts/<?php echo Cny_GulpHelper::asset_path('jquery.js'); ?>"></script>
	<script defer src="/assets/scripts/<?php echo Cny_GulpHelper::asset_path('main.js'); ?>"></script>


	<?php
	echo $this->headLink();
	echo $this->headScript();
	echo $this->headStyle();
	?>

	<?php
	if (Zend_Registry::get('custom_configuration')) {
	?>
		<link href="/custom_assets/styles/<?php echo Cny_CustomGulpHelper::asset_path('main.css'); ?>" rel="stylesheet" media="all">
		<script defer src="/custom_assets/scripts/<?php echo Cny_CustomGulpHelper::asset_path('main.js'); ?>"></script>
	<?php
	}
	?>
</head>
<body class="<?php echo $this->placeholder('body_class')->setSeparator(' '); ?>" id="<?php echo $this->placeholder('body_id'); ?>">

	<?php echo $this->layout()->content; ?>


<div class="modal modal--video fade" data-keyboard="false" id="modal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" class="close" data-dismiss="modal" type="button">
					close
					<i class="fa fa-times-circle"></i>
				</button>
			</div>
			<div class="modal-body">
			</div>

			<div class="modal-footer bg-gray-dark">
			</div>
		</div>
	</div>
</div>

<div class="modal fade" data-keyboard="false" id="modal-cms">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button aria-hidden="true" class="close" data-dismiss="modal" type="button">
					<span class="sr-only">close</span>
					<i class="fal fa-times fa-2x"></i>
				</button>
			</div>
			<div class="modal-body"></div>

			<div class="modal-footer"></div>
		</div>
	</div>
</div>


<?php
echo $settings_mapper->getValueByCode('analytics');
?>


<!-- LOGIC Business Cloud by Cyber-NY Ⓒ <?php echo date("Y")?> -->

<?php if ($settings_mapper->getValueByCode('gdpr_bar_status') == 'yes') {?>
<div id="cookie-action" class="cookie-action cookie-action--<?php echo $settings_mapper->getValueByCode('gdpr_bar_position');?>">
	<span>This website uses cookies to improve your experience. By continuing to use the site you are accepting the use of cookies.
		<a href="#" data-cookie_action="accept" id="cookie_action_close_header" class="cookie-action__close-header cookie-action__button">Accept</a>
		<!--<a href="#" data-cookie_action="reject" id="cookie_action_close_header_reject" class="cookie-action__close-header-reject cookie-action__button">Reject</a>-->
		<?php if ($gdpr_more_url = $settings_mapper->getValueByCode('gdpr_read_more_page')) {?>
			<a href="<?php echo $gdpr_more_url?>" target="_blank">Read More</a>
		<?php } ?>
	</span>
</div>
<?php } ?>

</body>
</html>
