<?php
$settings = json_decode($this->item->json_settings);
?>

<div class="form-group text-left">
	<!--<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#designCollapseBackground" aria-expanded="true" aria-controls="designCollapseBackground">Design <i class="fas fa-plus-square"></i></h3>-->
	<div id="designCollapseBackground" class="collapse in">
		<label class="m-b-5 text-black">Custom CSS:</label>
		<div class="m-b-15">
			<textarea name="settings[custom_css]" class="form-control border-radius" rows="8"><?php echo (isset($settings->custom_css) && $settings->custom_css)?$settings->custom_css:''?></textarea>
		</div>
	</div>
</div>

<script>
	$(function() {

	});
</script>
