<?php if (count($this->history) == 0) {?>
	<div class="text-left">
		There is no history yet for this module.
	</div>
<?php }else {?>
	<div class="form-group text-left">
		<label for="" class="m-b-5 text-black">Revert to version:</label>
		<div class="m-b-15">
			<div class="m-b-15" id="restore_time_display"><?php echo $this->UTCtoTZ(current($this->history)->created,"n/j/Y g:ia",$this->site_timezone)?></div>
			<select name="restore_id" id="restore_time" class="form-control hidden">
				<?php foreach ($this->history as $history) {?>
				<option value="<?php echo $history->id?>"><?php echo $this->UTCtoTZ($history->created,"n/j/Y g:ia",$this->site_timezone)?></option>
				<?php } ?>
			</select>
			<div id='slider' class="m-l-5"></div>
		</div>
		<button type="button" class="btn btn-lg btn-danger revert-module">Revert to Previous State</button>
	</div>
<?php } ?>

<script>
	$(function() {
		window.cny.moduleHistory();
	});
</script>
