<?php
$styles = json_decode($this->module->json_styles);
$settings = json_decode($this->module->json_settings);
?>

<div class="panel-edit__body">

	<div class="form-group text-left">
		<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#settingsCollapseLabel" aria-expanded="true" aria-controls="settingsCollapseLabel">Label <i class="fas fa-minus-square"></i></h3>
		<div id="settingsCollapseLabel" class="collapse in">
			<label class="m-b-5 text-black" for="">Title:</label>
			<input type="text" name="data[label]" value="<?php echo $this->module->label?>" class="form-control bg-gray border-radius m-b-5">
			<a class="btn btn-sm btn-danger" href="/admin/cms/library-store-module/id/<?php echo $this->module->id?>">Save to Library</a>
			(requires custom label) <span class="text-warning">Anything not yet saved will not be saved to the library</span>
		</div>
	</div>

	<div class="row text-left flex-row flex-align-center">
		<div class="col-sm-3 text-black">
			<label class="m-b-15">
				Force Module Equal Height<br/>(if enabled on row):
			</label>
		</div>
		<div class="col-sm-9">
			<div class="form-group m-b-15">
				<?php
				$enabled = (isset($settings->equal_height) && $settings->equal_height == 'Disabled')?'off':'on';
				?>
				<div class="btn-group" id="status" data-toggle="buttons">
					<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
						<input type="radio" value="Enabled" name="settings[equal_height]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
					<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
						<input type="radio" value="Disabled" name="settings[equal_height]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
				</div>
			</div>
		</div>
	</div>

	<?php echo $this->partial('/cms/partials/settings.phtml', array('item'=>$this->module,'styles'=>$styles, 'class'=>$this->module->class, 'type'=>'module')); ?>
</div>






