<?php
if($this->item->json_settings) {
	$settings = json_decode($this->item->json_settings);
}
if($this->item->json_styles) {
	$styles = json_decode($this->item->json_styles);
}
?>
<div class="row text-left flex-row flex-align-center">
	<div class="col-sm-3 text-black">
		<label class="m-b-15">
			Navigation Item Link Enabled:
		</label>
	</div>
	<div class="col-sm-3">
		<div class="form-group m-b-15 text-black">
			<?php
			$enabled = (isset($settings->link_enabled) && $settings->link_enabled == 'Disabled')?'off':'on';
			?>
			<div class="btn-group" id="status" data-toggle="buttons">
				<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
					<input type="radio" value="Enabled" name="settings[link_enabled]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
				<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
					<input type="radio" value="Disabled" name="settings[link_enabled]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
			</div>
		</div>
	</div>
</div>

<div class="row text-left flex-row flex-align-center">
	<div class="col-sm-3 text-black">
		<label class="m-b-15">
			Link Text Color:
		</label>
	</div>
	<div class="col-sm-9">
		<div class="form-group m-b-15">
			<input type="text" name="styles[link_text_color]" value="<?php echo (isset($styles->link_text_color) && $styles->link_text_color)?$styles->link_text_color:''?>" class="form-control border-radius complex-colorpicker">
		</div>
	</div>
</div>

<div class="row text-left text-black flex-row flex-align-center">
	<div class="col-sm-3">
		<label class="text-black m-b-15"> Font Weight:</label>
	</div>
	<div class="col-sm-9">
		<div class="panel panel--module">
			<input type="text" class="form-control bg-gray border-radius" name="styles[link_font_weight]" value="<?php echo (isset($styles->link_font_weight))?$styles->link_font_weight:''?>">
		</div>

	</div>
</div>

<div class="row text-left text-black flex-row flex-align-center">
	<div class="col-sm-3">
		<label class="text-black m-b-15"> Line Spacing:</label>
	</div>
	<div class="col-sm-9">
		<div class="panel panel--module">
			<input type="text" class="form-control bg-gray border-radius" name="styles[link_line_spacing]" value="<?php echo (isset($styles->link_line_spacing))?$styles->link_line_spacing:''?>">
		</div>

	</div>
</div>


<div class="row text-left flex-row flex-align-center">
	<div class="col-sm-3 text-black">
		<label class="m-b-15">Padding Override:</label>
	</div>
	<div class="col-sm-9">
		<div class="row">
			<div class="col-sm-2">
				<label class="text-black">Top:</label>
				<div class="form-group m-b-15">
					<input type="text" name="styles[padding_top]" value="<?php echo (isset($styles->padding_top))?$styles->padding_top:''?>" class="form-control bg-gray border-radius">
				</div>
			</div>
			<div class="col-sm-2">
				<label class="text-black">Right:</label>
				<div class="form-group m-b-15">
					<input type="text" name="styles[padding_right]" value="<?php echo (isset($styles->padding_right))?$styles->padding_right:''?>" class="form-control bg-gray border-radius">
				</div>
			</div>
			<div class="col-sm-2">
				<label class="text-black">Bottom:</label>
				<div class="form-group m-b-15">
					<input type="text" name="styles[padding_bottom]" value="<?php echo (isset($styles->padding_bottom))?$styles->padding_bottom:''?>" class="form-control bg-gray border-radius">
				</div>
			</div>
			<div class="col-sm-2">
				<label class="text-black">Left:</label>
				<div class="form-group m-b-15">
					<input type="text" name="styles[padding_left]" value="<?php echo (isset($styles->padding_left))?$styles->padding_left:''?>" class="form-control bg-gray border-radius">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row text-left flex-row flex-align-center">
	<div class="col-sm-3 text-black">
		<label class="m-b-15">Margin Override:</label>
	</div>
	<div class="col-sm-9">
		<div class="row">
			<div class="col-sm-2">
				<label class="text-black">Top:</label>
				<div class="form-group m-b-15">
					<input type="text" name="styles[margin_top]" value="<?php echo (isset($styles->margin_top))?$styles->margin_top:''?>" class="form-control bg-gray border-radius">
				</div>
			</div>
			<div class="col-sm-2">
				<label class="text-black">Right:</label>
				<div class="form-group m-b-15">
					<input type="text" name="styles[margin_right]" value="<?php echo (isset($styles->margin_right))?$styles->margin_right:''?>" class="form-control bg-gray border-radius">
				</div>
			</div>
			<div class="col-sm-2">
				<label class="text-black">Bottom:</label>
				<div class="form-group m-b-15">
					<input type="text" name="styles[margin_bottom]" value="<?php echo (isset($styles->margin_bottom))?$styles->margin_bottom:''?>" class="form-control bg-gray border-radius">
				</div>
			</div>
			<div class="col-sm-2">
				<label class="text-black">Left:</label>
				<div class="form-group m-b-15">
					<input type="text" name="styles[margin_left]" value="<?php echo (isset($styles->margin_left))?$styles->margin_left:''?>" class="form-control bg-gray border-radius">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row text-left flex-row flex-align-center">
	<div class="col-sm-3 text-black">
		<label class="m-b-15">Class:</label>
	</div>
	<div class="col-sm-9">
		<div class="form-group m-b-15">
			<input type="text" name="settings[class]" value="<?php echo (isset($settings->class))?$settings->class:'';?>" class="form-control bg-gray border-radius">
		</div>
	</div>
</div>

<div class="row text-left flex-row flex-align-center">
	<div class="col-sm-3 text-black">
		<label class="m-b-15">Alignment:</label>
	</div>
	<div class="col-sm-9">
		<div class="form-group m-b-15">
<?php echo $this->formSelect('settings[item_alignment_class]', (isset($settings->item_alignment_class) && $settings->item_alignment_class)?$settings->item_alignment_class:null, array('class'=>'form-control bg-gray'), array('text-left'=>'Left','text-center'=>'Center','text-right'=>'Right')) ?>
		</div>
	</div>
</div>

<script>
	$(function() {
		window.cny.colorpicker();

		/*
		<?php if (!isset($styles->background_image) || !$styles->background_image) {?>
		$(".bg-image-settings").hide();
		<?php } ?>

		if ($("#background_image").val() == '') $("#background_image_preview").hide();

		$(".clear-background_image").on("click",function(){
			$("#background_image").val('');
			$("#background_image_preview").attr('src','').hide();
			$(".bg-image-settings").hide();
		});
		*/
	});
</script>
