<?php
$settings = json_decode($this->item->json_settings);
?>


<div class="form-group text-left">
	<h3 class="form-group-title m-b-5">Visibility</h3>
	<div id="settingsCollapseVisibility" class="row text-left flex-row flex-align-center">
		<div class="col-sm-3">
			<label class="m-b-5 text-black">Desktop:</label>
			<?php
			$enabled = ($this->item->desktop_status == 'Disabled')?'off':'on';
			?>
			<div class="btn-group" id="status" data-toggle="buttons">
				<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
					<input type="radio" value="Enabled" name="data[desktop_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
				<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
					<input type="radio" value="Disabled" name="data[desktop_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
			</div>
		</div>
		<div class="col-sm-3">
			<label class="m-b-5 text-black">Tablet:</label>
			<?php
			$enabled = ($this->item->tablet_status == 'Disabled')?'off':'on';
			?>
			<div class="btn-group" id="status" data-toggle="buttons">
				<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
					<input type="radio" value="Enabled" name="data[tablet_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
				<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
					<input type="radio" value="Disabled" name="data[tablet_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
			</div>
		</div>
		<div class="col-sm-3">
			<label class="m-b-5 text-black">Mobile:</label>
			<?php
			$enabled = ($this->item->mobile_status == 'Disabled')?'off':'on';
			?>
			<div class="btn-group" id="status" data-toggle="buttons">
				<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
					<input type="radio" value="Enabled" name="data[mobile_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
				<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
					<input type="radio" value="Disabled" name="data[mobile_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
			</div>
		</div>
	</div>
</div>

<div class="form-group text-left">
	<h3 class="form-group-title m-b-5">Padding</h3>
	<div class="row text-left flex-row flex-align-center">
		<div class="col-sm-12">
			<div class="row m-b-15">
				<div class="col-sm-2">
					<label class="text-black m-b-5">Top</label>
					<input type="text" name="styles[padding_top]" value="<?php echo (isset($this->styles->padding_top))?$this->styles->padding_top:''?>" class="form-control bg-gray border-radius">
				</div>
				<div class="col-sm-2">
					<label class="text-black m-b-5">Right</label>
					<input type="text" name="styles[padding_right]" value="<?php echo (isset($this->styles->padding_right))?$this->styles->padding_right:''?>" class="form-control bg-gray border-radius">
				</div>
				<div class="col-sm-2">
					<label class="text-black m-b-5">Bottom</label>
					<input type="text" name="styles[padding_bottom]" value="<?php echo (isset($this->styles->padding_bottom))?$this->styles->padding_bottom:''?>" class="form-control bg-gray border-radius">
				</div>
				<div class="col-sm-2">
					<label class="text-black m-b-5">Left</label>
					<input type="text" name="styles[padding_left]" value="<?php echo (isset($this->styles->padding_left))?$this->styles->padding_left:''?>" class="form-control bg-gray border-radius">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="form-group text-left">
	<h3 class="form-group-title m-b-5">Margin</h3>
	<div class="row text-left flex-row flex-align-center">
		<div class="col-sm-12">
			<div class="row m-b-15">
				<div class="col-sm-2">
					<label class="text-black m-b-5">Top</label>
					<input type="text" name="styles[margin_top]" value="<?php echo (isset($this->styles->margin_top))?$this->styles->margin_top:''?>" class="form-control bg-gray border-radius">
				</div>
				<div class="col-sm-2">
					<label class="text-black m-b-5">Right</label>
					<input type="text" name="styles[margin_right]" value="<?php echo (isset($this->styles->margin_right))?$this->styles->margin_right:''?>" class="form-control bg-gray border-radius">
				</div>
				<div class="col-sm-2">
					<label class="text-black m-b-5">Bottom</label>
					<input type="text" name="styles[margin_bottom]" value="<?php echo (isset($this->styles->margin_bottom))?$this->styles->margin_bottom:''?>" class="form-control bg-gray border-radius">
				</div>
				<div class="col-sm-2">
					<label class="text-black m-b-5">Left</label>
					<input type="text" name="styles[margin_left]" value="<?php echo (isset($this->styles->margin_left))?$this->styles->margin_left:''?>" class="form-control bg-gray border-radius">
				</div>
			</div>
		</div>
	</div>
</div>

<?php if (isset($this->type) && $this->type == 'row') {?>
<div class="form-group text-left">
	<h3 class="form-group-title m-b-5">Spacing & Alignment</h3>
	<div class="row text-left flex-row flex-align-center">
		<div class="col-sm-2">
			<label class="text-black m-b-5">Column Padding</label>
			<input type="text" name="settings[column_spacing]" value="<?php echo (isset($settings->column_spacing))?$settings->column_spacing:''?>" class="form-control bg-gray border-radius">
		</div>
		<div class="col-sm-2">
			<label class="text-black m-b-5">Vertical Alignment</label>
			<?php
			echo $this->formSelect('settings[row_vert_align]', (isset($settings->row_vert_align))?$settings->row_vert_align:'', array('class'=>'form-control bg-gray'), array(""=>"Top","flex-align-center"=>"Middle","flex-align-end"=>"Bottom"))
			?>
		</div>
		<div class="col-sm-2">
			<label class="text-black m-b-5">Row Minimum Height</label>
			<input type="text" name="styles[min_height]" value="<?php echo (isset($this->styles->min_height))?$this->styles->min_height:''?>" class="form-control bg-gray border-radius">
		</div>
	</div>
</div>
<?php } ?>

<div class="form-group text-left">
	<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#settingsCollapseBackground" aria-expanded="false" aria-controls="settingsCollapseBackground">Background Options <i class="fas fa-plus-square"></i></h3>
	<div id="settingsCollapseBackground" class="collapse p-l-10">

		<h4 class="m-b-5 text-black h4" role="button" data-toggle="collapse" data-target="#backgroundSettings" aria-expanded="true" aria-controls="backgroundSettings">Settings <i class="fal fa-angle-up"></i></h4>
		<hr class="m-t-0">
		<div id="backgroundSettings" class="collapse in p-l-10">
			<label class="m-b-5 text-black">Background Color:</label>
			<div class="m-b-15">
				<input type="text" name="styles[background_color]" value="<?php echo (isset($this->styles->background_color) && $this->styles->background_color)?$this->styles->background_color:''?>" class="form-control border-radius complex-colorpicker">
			</div>

			<label class="m-b-5 text-black">Border Color:</label>
			<div class="m-b-15">
				<input type="text" name="styles[border_color]" value="<?php echo (isset($this->styles->border_color) && $this->styles->border_color)?$this->styles->border_color:''?>" class="form-control border-radius complex-colorpicker">
			</div>

			<label class="m-b-5 text-black">Border Width:</label>
			<div class="m-b-15">
				<input type="text" name="styles[border_width]" value="<?php echo (isset($this->styles->border_width) && $this->styles->border_width)?$this->styles->border_width:''?>" class="form-control border-radius">
			</div>

			<label class="text-black">Border Style</label>
			<div class="m-b-15">
				<?php
				echo $this->formSelect('styles[border_style]', (isset($this->styles->border_style))?$this->styles->border_style:'', array('class'=>'form-control bg-gray'), array("none"=>"None","solid"=>"Solid","dashed"=>"Dashed","dotted"=>"Dotted","double"=>"Double","groove"=>"Groove","inset"=>"Inset","outset"=>"Outset","ridge"=>"Ridge"))
				?>
			</div>

			<label class="m-b-5 text-black">Border Radius:</label>
			<div class="m-b-15">
				<input type="text" name="styles[border_radius]" value="<?php echo (isset($this->styles->border_radius) && $this->styles->border_radius)?$this->styles->border_radius:''?>" class="form-control border-radius">
			</div>

			<label class="m-b-5 text-black">Background Image:</label>
			<div class="m-b-15">
				<img src="<?php echo (isset($this->styles->background_image))?$this->styles->background_image:''?>" class="img-responsive filemanager-image m-b-15" data-image_src="#background_image" data-settings=".bg-image-settings" id="background_image_preview">
				<input type="hidden" name="styles[background_image]" id="background_image" value="<?php echo (isset($this->styles->background_image))?$this->styles->background_image:''?>" class="form-control">
				<a href="/filemanager/dialog.php?type=1&field_id=background_image&relative_url=1" class="btn btn--black modal-filemanager" type="button">Select Image</a>
				<button type="button" class="btn btn-primary clear-background_image">Remove Image</button>
			</div>

			<label class="m-b-5 text-black">Stretch Behavior:</label>
			<div class="radio-list m-b-15">
				<label for="" class="radio-inline p-0">
					<div class="radio radio-info">
						<input type="radio" name="styles[background_size]" value="full_width" <?php echo (!isset($this->styles->background_size) || $this->styles->background_size == 'full_width')?"checked":""?> id="background_size-full_width"> <label for="background_size-full_width">Full Width</label>
					</div>
				</label>
				<label for="" class="radio-inline">
					<div class="radio radio-info">
						<input type="radio" name="styles[background_size]" value="auto" <?php echo (isset($this->styles->background_size) && $this->styles->background_size == 'auto')?"checked":""?> id="background_size-auto"> <label for="background_size-auto">Tile</label>
					</div>
				</label>
				<label for="" class="radio-inline">
					<div class="radio radio-info">
						<input type="radio" name="styles[background_size]" value="cover" <?php echo (isset($this->styles->background_size) && $this->styles->background_size == 'cover')?"checked":""?> id="background_size-cover"> <label for="background_size-cover">Cover</label>
					</div>
				</label>
				<label for="" class="radio-inline">
					<div class="radio radio-info">
						<input type="radio" name="styles[background_size]" value="contain" <?php echo (isset($this->styles->background_size) && $this->styles->background_size == 'contain')?"checked":""?> id="background_size-contain"> <label for="background_size-contain">Contain</label>
					</div>
				</label>
			</div>

			<div class="row">
				<div class="col-sm-2">
					<label for="" class="m-b-5 text-black">Apply: Shade</label>
					<?php
					$enabled = (isset($settings->apply_shade) && $settings->apply_shade == 'on')?'on':'off';
					?>
					<div class="m-b-15">
						<div class="btn-group" id="animate" data-toggle="buttons">
							<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
								<input type="radio" value="on" name="settings[apply_shade]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
							<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
								<input type="radio" value="off" name="settings[apply_shade]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<label class="m-b-5 text-black">Shade Color:</label>
					<div class="m-b-15">
						<input type="text" name="settings[shade_color]" value="<?php echo (isset($settings->shade_color) && $settings->shade_color)?$settings->shade_color:''?>" class="form-control border-radius complex-colorpicker">
					</div>
				</div>
			</div>


		</div>

		<!--		Parallax-->
		<h4 class="m-b-5 text-black h4" role="button" data-toggle="collapse" data-target="#parallaxSettings" aria-expanded="false" aria-controls="parallaxSettings">Parallax Settings <i class="fal fa-angle-down"></i></h4>
		<hr class="m-t-0">

		<div id="parallaxSettings" class="collapse p-l-10">
			<label class="m-b-5 text-black">Parallax Behavior:</label>

			<div class="radio-list m-b-15">
				<label for="" class="radio-inline p-0">
				<span class="radio radio-info">
					<input type="radio" name="styles[background_attachment]" value="" <?php echo (!isset($this->styles->background_attachment) || $this->styles->background_attachment == '')?"checked":""?> id="background_attachment-initial"> <label for="background_attachment-initial">None</label>
				</span>
				</label>
				<label for="" class="radio-inline">
				<span class="radio radio-info">
					<input type="radio" name="styles[background_attachment]" value="fixed" <?php echo (isset($this->styles->background_attachment) && $this->styles->background_attachment == 'fixed')?"checked":""?> id="background_attachment-fixed"> <label for="background_attachment-fixed">Parallax</label>
				</span>
				</label>
			</div>

			<div class="row">

				<div class="col-sm-4">
					<label class="m-b-5 text-black">Parallax Scroll Factor - Desktop:</label>
					<div class="m-b-15">
						<input type="text" name="settings[parallax_factor]" value="<?php echo (isset($settings->parallax_factor) && $settings->parallax_factor)?$settings->parallax_factor:""?>" class="form-control border-radius">
					</div>
				</div>
				<div class="col-sm-4">
					<label class="m-b-5 text-black">Parallax Scroll Factor - Tablet:</label>
					<div class="m-b-15">
						<input type="text" name="settings[parallax_factor_md]" value="<?php echo (isset($settings->parallax_factor_md) && $settings->parallax_factor_md)?$settings->parallax_factor_md:""?>" class="form-control border-radius">
					</div>
				</div>
				<div class="col-sm-4">
					<label class="m-b-5 text-black">Parallax Scroll Factor - Mobile:</label>
					<div class="m-b-15">
						<input type="text" name="settings[parallax_factor_xs]" value="<?php echo (isset($settings->parallax_factor_xs) && $settings->parallax_factor_xs)?$settings->parallax_factor_xs:""?>" class="form-control border-radius">
					</div>
				</div>
			</div>

			<!--
		<div class="row">
			<div class="col-sm-4">
				<label for="" class="m-b-5 text-black">Zoom on Hover:</label>
				<?php
			$enabled = (isset($settings->background_hover_zoom_status) && $settings->background_hover_zoom_status == 'on')?'on':'off';
			?>
				<div class="btn-group" id="animate" data-toggle="buttons">
					<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
						<input type="radio" value="on" name="settings[background_hover_zoom_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
					<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
						<input type="radio" value="off" name="settings[background_hover_zoom_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
				</div>
			</div>
			<div class="col-sm-3">
				<label for="" class="m-b-5 text-black">Zoom in Percentage:</label>
				<input type="text" class="form-control bg-gray border-radius" name="settings[background_hover_zoom_percent]" value="<?php echo (isset($settings->background_hover_zoom_percent))?$settings->background_hover_zoom_percent:''?>">
			</div>
		</div>
		-->

			<div class="row">
				<div class="col-sm-2">
					<label class="m-b-5 text-black">Shadow Color:</label>
					<div class="m-b-15">
						<input type="text" name="styles[box_shadow_color]" value="<?php echo (isset($this->styles->box_shadow_color) && $this->styles->box_shadow_color)?$this->styles->box_shadow_color:''?>" class="form-control border-radius complex-colorpicker">
					</div>
				</div>
				<div class="col-sm-2">
					<label class="m-b-5 text-black">Shadow Size:</label>
					<div class="m-b-15">
						<input type="text" name="styles[box_shadow_size]" value="<?php echo (isset($this->styles->box_shadow_size) && $this->styles->box_shadow_size)?$this->styles->box_shadow_size:''?>" class="form-control border-radius">
					</div>
				</div>
				<div class="col-sm-3">
					<label class="m-b-5 text-black">Shadow Offset (L&R, neg. is left):</label>
					<div class="m-b-15">
						<input type="text" name="styles[box_shadow_offset_lr]" value="<?php echo (isset($this->styles->box_shadow_offset_lr) && $this->styles->box_shadow_offset_lr)?$this->styles->box_shadow_offset_lr:''?>" class="form-control border-radius">
					</div>
				</div>
				<div class="col-sm-3">
					<label class="m-b-5 text-black">Shadow Offset (T&B, neg. is top):</label>
					<div class="m-b-15">
						<input type="text" name="styles[box_shadow_offset_tb]" value="<?php echo (isset($this->styles->box_shadow_offset_tb) && $this->styles->box_shadow_offset_tb)?$this->styles->box_shadow_offset_tb:''?>" class="form-control border-radius">
					</div>
				</div>
				<div class="col-sm-2">
					<label class="m-b-5 text-black">Shadow Blur:</label>
					<div class="m-b-15">
						<input type="text" name="styles[box_shadow_blur]" value="<?php echo (isset($this->styles->box_shadow_blur) && $this->styles->box_shadow_blur)?$this->styles->box_shadow_blur:''?>" class="form-control border-radius">
					</div>
				</div>
				<div class="col-sm-4">
					<label for="" class="m-b-5 text-black">Shadow on Hover:</label>
					<?php
					$enabled = (isset($this->styles->box_shadow_on_hover) && $this->styles->box_shadow_on_hover == 'on')?'on':'off';
					?>
					<div class="btn-group" id="animate" data-toggle="buttons">
						<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
							<input type="radio" value="on" name="styles[box_shadow_on_hover]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
						<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
							<input type="radio" value="off" name="styles[box_shadow_on_hover]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
					</div>
				</div>
				<div class="col-sm-8">
					<label for="" class="m-b-5 text-black">Shadow Transition Speed (in seconds):</label>
					<input type="text" class="form-control bg-gray border-radius" name="styles[box_shadow_transition_duration]" value="<?php echo (isset($this->styles->box_shadow_transition_duration))?$this->styles->box_shadow_transition_duration:'0.5'?>">
				</div>
			</div>
		</div>


		<!--		Motion Effects-->
		<?php if (isset($this->type) && $this->type == 'section') {?>
			<h4 class="m-b-5 text-black h4" role="button" data-toggle="collapse" data-target="#motionSettings" aria-expanded="false" aria-controls="motionSettings">Motion Effects <i class="fal fa-angle-down"></i></h4>
			<hr class="m-t-0">
			<div id="motionSettings" class="collapse p-l-10">
				<div class="m-b-15">
					<label class="m-b-5 text-black">Toggle Animation:</label>
					<?php
					$enabled = (isset($settings->kb_animation) && $settings->kb_animation == 'kb_animate')?'on':'off';
					?>
					<div class="btn-group" id="animate" data-toggle="buttons">
						<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
							<input type="radio" value="kb_animate" name="settings[kb_animation]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
						<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
							<input type="radio" value="" name="settings[kb_animation]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<label for="" class="m-b-5 text-black">Effect</label>
						<?php $kb_effects = array(
							'none'=> 'none',
							'kbzoomIn' => 'Zoom In',
							'kbzoomOut' => 'Zoom Out',
							'kbscrollLeft' => 'Scroll Left',
							'kbscrollRight' => 'Scroll Right',
							'kbscrollUp' => 'Scroll Up',
							'kbscrollDown' => 'Scroll Down',
							'kbrotateRight' => 'Rotate Right',
							'kbrotateLeft' => 'Rotate Left',
						);
						echo $this->formSelect('settings[kb_effect]', (isset($settings->kb_effect))?$settings->kb_effect:'', array('class'=>'form-control bg-gray'), $kb_effects)
						?>
					</div>
					<div class="col-sm-6">
						<label class="m-b-5 text-black">Animation Duration (seconds):</label>
						<div class="m-b-15">
							<input type="text" name="styles[animation_duration]" value="<?php echo (isset($this->styles->animation_duration) && $this->styles->animation_duration)?$this->styles->animation_duration:""?>" class="form-control border-radius">
						</div>
					</div>
					<div class="col-sm-6">
						<label class="m-b-5 text-black">Animation Timing Function:</label>
						<div class="m-b-15">
							<?php
							echo $this->formSelect('styles[animation_timing_function]', (isset($this->styles->animation_timing_function) && $this->styles->animation_timing_function)?$this->styles->animation_timing_function:"", array('class'=>'form-control bg-gray'), array("linear"=>"Linear","ease"=>"Ease","ease-in"=>"Ease In","ease-out"=>"Ease Out","ease-in-out"=>"Ease In and Out"))
							?>
						</div>
					</div>
					<div class="col-sm-6">
						<label class="m-b-5 text-black">Animation Iterations (leave blank for infinite):</label>
						<div class="m-b-15">
							<input type="text" name="styles[animation_iteration_count]" value="<?php echo (isset($this->styles->animation_iteration_count) && $this->styles->animation_iteration_count)?$this->styles->animation_iteration_count:""?>" class="form-control border-radius">
						</div>
					</div>
				</div>
			</div>

		<?php } ?>

		<!--		Video Settings-->
		<h4 class="m-b-5 text-black h4" role="button" data-toggle="collapse" data-target="#videoSettings" aria-expanded="false" aria-controls="videoSettings">Video Settings <i class="fal fa-angle-down"></i></h4>
		<hr class="m-t-0">
		<div id="videoSettings" class="collapse p-l-10">
			<label for="" class="m-b-5">YouTube<!--/Vimeo-->/Direct MP4 URL:</label>
			<div class="m-b-15">
				<input type="text" class="form-control bg-gray border-radius" name="styles[video_url]" value="<?php echo (isset($this->styles->video_url))?$this->styles->video_url:''?>">
			</div>

			<label for="" class="m-b-5">Video Poster:</label>
			<div class="m-b-15">
				<img src="<?php echo (isset($this->styles->video_poster))?$this->styles->video_poster:''?>" class="img-responsive filemanager-image m-b-5" data-image_src="#video_image" data-settings=".video-image-settings" id="video_image_preview">
				<input type="hidden" name="styles[video_poster]" id="video_image" value="<?php echo (isset($this->styles->video_poster))?$this->styles->video_poster:''?>" class="form-control">
				<a href="/filemanager/dialog.php?type=1&field_id=video_image&relative_url=1" class="btn btn--black modal-filemanager" type="button">Select Image</a>
				<button type="button" class="btn btn-primary clear-video_image">Remove Image</button>
			</div>
		</div>
	</div>
</div>

<div class="form-group text-left">
	<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#settingsCollapseAnimation" aria-expanded="false" aria-controls="settingsCollapseAnimation">Animation Settings <i class="fas fa-plus-square"></i></h3>
	<div id="settingsCollapseAnimation" class="collapse">


		<div class="m-t-15">
			<label class="m-b-5 text-black h4">JS Animation</label>
		</div>
		<hr class="m-t-0">

		<div class="flex-auto-fit">
			<div class="flex-auto-fit__item max-width-195-md">
		<!--        enable animation-->
				<div class="m-b-15">
					<label class="m-b-5 text-black">Toggle Animation:</label>
					<?php
					$enabled = (isset($settings->animation) && $settings->animation == 'animate')?'on':'off';
					?>
					<div class="btn-group" id="animate" data-toggle="buttons">
						<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
							<input type="radio" value="animate" name="settings[animation]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
						<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
							<input type="radio" value="" name="settings[animation]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
					</div>
				</div>
			</div>
			<div class="flex-auto-fit__item max-width-195-md">
		<!--        enabled motion animation-->
				<div class="m-b-15">
					<label class="m-b-5 text-black">Animation on Scroll:</label>
					<?php
					$enabled = (isset($settings->animation_scroll) && $settings->animation_scroll == 'on')?'on':'off';
					?>
					<div class="btn-group" id="animate" data-toggle="buttons">
						<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
							<input type="radio" value="on" name="settings[animation_scroll]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
						<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
							<input type="radio" value="" name="settings[animation_scroll]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
					</div>
				</div>
			</div>
		</div>

		<!--		regular animation-->
		<div class="row regular-animation">
			<div class="col-sm-6">
				<label for="" class="m-b-5 text-black">Effect</label>
				<?php $effects = [
					'none'=> 'none',
					'bounce' => 'bounce',
					'flash' => 'flash',
					'pulse' => 'pulse',
					'rubberBand' => 'rubberBand',
					'shake' => 'shake',
					'headShake' => 'headShake',
					'swing' => 'swing',
					'tada' => 'tada',
					'wobble' => 'wobble',
					'jello' => 'jello',
					'bounceIn' => 'bounceIn',
					'bounceInDown' => 'bounceInDown',
					'bounceInLeft' => 'bounceInLeft',
					'bounceInRight' => 'bounceInRight',
					'bounceInUp' => 'bounceInUp',
					'bounceOut' => 'bounceOut',
					'bounceOutDown' => 'bounceOutDown',
					'bounceOutLeft' => 'bounceOutLeft',
					'bounceOutRight' => 'bounceOutRight',
					'bounceOutUp' => 'bounceOutUp',
					'fadeIn' => 'fadeIn',
					'fadeInDown' => 'fadeInDown',
					'fadeInDownBig' => 'fadeInDownBig',
					'fadeInLeft' => 'fadeInLeft',
					'fadeInLeftBig' => 'fadeInLeftBig',
					'fadeInRight' => 'fadeInRight',
					'fadeInRightBig' => 'fadeInRightBig',
					'fadeInUp' => 'fadeInUp',
					'fadeInUpBig' => 'fadeInUpBig',
					'fadeOut' => 'fadeOut',
					'fadeOutDown' => 'fadeOutDown',
					'fadeOutDownBig' => 'fadeOutDownBig',
					'fadeOutLeft' => 'fadeOutLeft',
					'fadeOutLeftBig' => 'fadeOutLeftBig',
					'fadeOutRight' => 'fadeOutRight',
					'fadeOutRightBig' => 'fadeOutRightBig',
					'fadeOutUp' => 'fadeOutUp',
					'fadeOutUpBig' => 'fadeOutUpBig',
					'flipInX' => 'flipInX',
					'flipInY' => 'flipInY',
					'flipOutX' => 'flipOutX',
					'flipOutY' => 'flipOutY',
					'lightSpeedIn' => 'lightSpeedIn',
					'lightSpeedOut' => 'lightSpeedOut',
					'rotateIn' => 'rotateIn',
					'rotateInDownLeft' => 'rotateInDownLeft',
					'rotateInDownRight' => 'rotateInDownRight',
					'rotateInUpLeft' => 'rotateInUpLeft',
					'rotateInUpRight' => 'rotateInUpRight',
					'rotateOut' => 'rotateOut',
					'rotateOutDownLeft' => 'rotateOutDownLeft',
					'rotateOutDownRight' => 'rotateOutDownRight',
					'rotateOutUpLeft' => 'rotateOutUpLeft',
					'rotateOutUpRight' => 'rotateOutUpRight',
					'hinge' => 'hinge',
					'jackInTheBox' => 'jackInTheBox',
					'rollIn' => 'rollIn',
					'rollOut' => 'rollOut',
					'zoomIn' => 'zoomIn',
					'zoomInDown' => 'zoomInDown',
					'zoomInLeft' => 'zoomInLeft',
					'zoomInRight' => 'zoomInRight',
					'zoomInUp' => 'zoomInUp',
					'zoomOut' => 'zoomOut',
					'zoomOutDown' => 'zoomOutDown',
					'zoomOutLeft' => 'zoomOutLeft',
					'zoomOutRight' => 'zoomOutRight',
					'zoomOutUp' => 'zoomOutUp',
					'slideInDown' => 'slideInDown',
					'slideInLeft' => 'slideInLeft',
					'slideInRight' => 'slideInRight',
					'slideInUp' => 'slideInUp',
					'slideOutDown' => 'slideOutDown',
					'slideOutLeft' => 'slideOutLeft',
					'slideOutRight' => 'slideOutRight',
					'slideOutUp' => 'slideOutUp'
				];
				echo $this->formSelect('settings[animation_effect]', (isset($settings->animation_effect))?$settings->animation_effect:'', array('class'=>'form-control bg-gray'), $effects); ?>

			</div>
			<div class="col-sm-6">
				<label class="text-black">Duration</label>
				<?php
				echo $this->formSelect('settings[animation_duration]', (isset($settings->animation_duration))?$settings->animation_duration:'', array('class'=>'form-control bg-gray'), array(""=>"Once","infinite"=>"Infinite"))
				?>
			</div>
		</div>
		<div class="row m-t-10 regular-animation">
			<div class="col-sm-6">
				<label class="text-black">Animation Length (seconds)</label>
				<input type="text" class="form-control bg-gray border-radius" name="styles[animation_duration_seconds]" value="<?php echo (isset($this->styles->animation_duration_seconds))?$this->styles->animation_duration_seconds:''?>">
			</div>
			<div class="col-sm-6">
				<label class="text-black">Animation Delay (seconds)</label>
				<input type="text" class="form-control bg-gray border-radius" name="styles[animation_delay_seconds]" value="<?php echo (isset($this->styles->animation_delay_seconds))?$this->styles->animation_delay_seconds:''?>">
			</div>
		</div>

		<!--		motion animation-->
		<div class="row motion-animation">
			<div class="col-sm-6">
				<label for="" class="m-b-5 text-black">Effect</label>
				<?php
					$data_effects = [
						'none'=> 'none',
						'bounce' => 'bounce',
						'flash' => 'flash',
						'pulse' => 'pulse',
						'rubberBand' => 'rubberBand',
						'shake' => 'shake',
						'headShake' => 'headShake',
						'swing' => 'swing',
						'tada' => 'tada',
						'wobble' => 'wobble',
						'jello' => 'jello',
						'bounceOut' => 'bounceIn',
						'bounceOutUp' => 'bounceInDown',
						'bounceOutRight' => 'bounceInLeft',
						'bounceOutLeft' => 'bounceInRight',
						'bounceOutDown' => 'bounceInUp',
						'bounceIn' => 'bounceOut',
						'bounceInUp' => 'bounceOutDown',
						'bounceInRight' => 'bounceOutLeft',
						'bounceInLeft' => 'bounceOutRight',
						'bounceInDown' => 'bounceOutUp',
						'fadeOut' => 'fadeIn',
						'fadeOutUp' => 'fadeInDown',
						'fadeOutUpBig' => 'fadeInDownBig',
						'fadeOutRight' => 'fadeInLeft',
						'fadeOutRightBig' => 'fadeInLeftBig',
						'fadeOutLeft' => 'fadeInRight',
						'fadeOutLeftBig' => 'fadeInRightBig',
						'fadeOutDown' => 'fadeInUp',
						'fadeOutDownBig' => 'fadeInUpBig',
						'fadeIn' => 'fadeOut',
						'fadeInUp' => 'fadeOutDown',
						'fadeInUpBig' => 'fadeOutDownBig',
						'fadeInRight' => 'fadeOutLeft',
						'fadeInRightBig' => 'fadeOutLeftBig',
						'fadeInLeft' => 'fadeOutRight',
						'fadeInLeftBig' => 'fadeOutRightBig',
						'fadeInDown' => 'fadeOutUp',
						'fadeInDownBig' => 'fadeOutUpBig',
						'flipOutX' => 'flipInX',
						'flipOutY' => 'flipInY',
						'flipInX' => 'flipOutX',
						'flipInY' => 'flipOutY',
						'lightSpeedOut' => 'lightSpeedIn',
						'lightSpeedIn' => 'lightSpeedOut',
						'rotateOut' => 'rotateIn',
						'rotateOutUpRight' => 'rotateInDownLeft',
						'rotateOutUpLeft' => 'rotateInDownRight',
						'rotateOutDownRight' => 'rotateInUpLeft',
						'rotateOutDownLeft' => 'rotateInUpRight',
						'rotateIn' => 'rotateOut',
						'rotateInUpRight' => 'rotateOutDownLeft',
						'rotateInUpLeft' => 'rotateOutDownRight',
						'rotateInDownright' => 'rotateOutUpLeft',
						'rotateInDownLeft' => 'rotateOutUpRight',
						'hinge' => 'hinge',
						'jackInTheBox' => 'jackInTheBox',
						'rollOut' => 'rollIn',
						'rollIn' => 'rollOut',
						'zoomOut' => 'zoomIn',
						'zoomOutUp' => 'zoomInDown',
						'zoomOutRight' => 'zoomInLeft',
						'zoomOutLeft' => 'zoomInRight',
						'zoomOutDown' => 'zoomInUp',
						'zoomIn' => 'zoomOut',
						'zoomInUp' => 'zoomOutDown',
						'zoomInRight' => 'zoomOutLeft',
						'zoomInLeft' => 'zoomOutRight',
						'zoomInDown' => 'zoomOutUp',
						'slideOutUp' => 'slideInDown',
						'slideOutRight' => 'slideInLeft',
						'slideOutLeft' => 'slideInRight',
						'slideOutDown' => 'slideInUp',
						'slideInUp' => 'slideOutDown',
						'slideInRight' => 'slideOutLeft',
						'slideInLeft' => 'slideOutRight',
						'slideInDown' => 'slideOutUp'
					];
					$motion_effects = [
						'fadeIn' => 'fadeIn',
						'fadeInLeft' => 'fadeInLeft',
						'fadeInRight' => 'fadeInRight',
						'slideInLeft' => 'slideInLeft',
						'slideInRight' => 'slideInRight',
						'slideToLeft' => 'slideToLeft',
						'slideToRight' => 'slideToRight',
						'zoomIn' => 'zoomIn',
						'zoomOut' => 'zoomOut',
					];
					$key = array_search((isset($settings->animation_effect))?$settings->animation_effect:'', $data_effects);
					echo $this->formSelect('settings[animation_scroll_effect]', (isset($settings->animation_scroll_effect))?$settings->animation_scroll_effect:'', array('class'=>'form-control bg-gray'), $motion_effects);
				?>
			</div>
		</div>
		<div class="row m-t-10 motion-animation">
			<div class="col-sm-6">
				<label class="text-black">Animation Length (seconds)</label>
				<input type="text" class="form-control bg-gray border-radius" name="settings[animation_duration_seconds]" value="<?php echo (isset($this->settings->animation_duration_seconds))?$this->settings->animation_duration_seconds:''?>">
			</div>
			<div class="col-sm-6">
				<label class="text-black">Animation Delay (seconds)</label>
				<input type="text" class="form-control bg-gray border-radius" name="settings[animation_delay_seconds]" value="<?php echo (isset($this->settings->animation_delay_seconds))?$this->settings->animation_delay_seconds:''?>">
			</div>
		</div>

		<?php  if (isset($this->type) && $this->type == 'section') { ?>
			<div class="m-t-15">
				<label class="m-b-5 text-black h4">Section Wipe</label>
			</div>
			<hr class="m-t-0">
			<div class="m-b-15 m-t-15">
				<label class="m-b-5 text-black">Enable:</label>
				<?php
				$enabled = (isset($settings->section_animation) && $settings->section_animation == 'animate')?'on':'off';
				?>
				<div class="btn-group" id="animate" data-toggle="buttons">
					<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
						<input type="radio" value="animate" name="settings[section_animation]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
					<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
						<input type="radio" value="" name="settings[section_animation]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
				</div>
			</div>
			<div class="hide row m-t-10">
				<div class="col-sm-6">
					<label for="" class="m-b-5 text-black">Section Effect</label>
					<?php $section_effects = array(
						'none' => 'none',
						'section-swipe' => 'Swipe',
					);
					echo $this->formSelect('settings[section_animation_effect]', (isset($settings->section_animation_effect))?$settings->section_animation_effect:'', array('class'=>'form-control bg-gray'), $section_effects)
					?>
				</div>
			</div>
		<?php } ?>
	</div>
</div>

<div class="form-group text-left">
	<h3 class="form-group-title m-b-5" role="button" data-toggle="collapse" href="#settingsCollapseAdvanced" aria-expanded="false" aria-controls="settingsCollapseAdvanced">Advanced Options <i class="fas fa-plus-square"></i></h3>
	<div id="settingsCollapseAdvanced" class="collapse">
		<?php if (isset($this->type) && $this->type == 'module') {?>
			<label class="m-b-5 text-black" for="">Column Split Width:</label>
			<div class="m-b-15">
				<?php
				echo $this->formSelect('data[class_special]', (isset($this->item->class_special))?$this->item->class_special:'', array('class'=>'form-control bg-gray'),
					array(
						""=>"Full Width",
						"split-25"=>"25%",
						"split-33"=>"33%",
						"split-50"=>"50%",
						"split-66"=>"66%",
						"split-75"=>"75%",
					));
				?>
			</div>
		<?php } ?>

		<label class="m-b-5 text-black">Class:</label>
		<div class="m-b-15">
			<input type="text" name="data[class]" value="<?php echo $this->class?>" class="form-control bg-gray border-radius">
		</div>

		<div class="m-t-15">
			<label class="m-b-5 text-black h4">Section Full Height</label>
		</div>
		<hr class="m-t-15">
		<div class="m-b-15 m-t-15">
			<label class="m-b-5 text-black">Enable:</label>
			<?php
			$enabled = (isset($settings->section_full_height) && $settings->section_full_height == 'on')?'on':'off';
			?>
			<div class="btn-group" id="fullHeight" data-toggle="buttons">
				<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
					<input type="radio" value="on" name="settings[section_full_height]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
				<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
					<input type="radio" value="" name="settings[section_full_height]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
			</div>
		</div>

	</div>
</div>


<script>
	$(function() {
		<?php if (!isset($this->styles->background_image) || !$this->styles->background_image || !isset($this->styles->video_image) || !$this->styles->video_image) {?>
		$(".bg-image-settings").hide();
		$(".video-image-settings").hide();
		<?php } ?>


		window.cny.colorpicker();

		if ($("#background_image").val() == '') $("#background_image_preview").hide();
		if ($("#video_image").val() == '') $("#video_image_preview").hide();

		$(".clear-background_image").on("click",function(){
			$("#background_image").val('');
			$("#background_image_preview").attr('src','').hide();
			$(".bg-image-settings").hide();
		});

		$(".clear-video_image").on("click",function(){
			$("#video_image").val('');
			$("#video_image_preview").attr('src','').hide();
			$(".video-image-settings").hide();
		});



		$('h3[data-toggle]').on('click', function() {
			if ( $(this).attr('aria-expanded') === 'false' ) {
				$(this).find('.fas')
					.addClass('fa-minus-square')
					.removeClass('fa-plus-square');
			} else {
				$(this).find('.fas')
					.addClass('fa-plus-square')
					.removeClass('fa-minus-square');
			}

		});

		$('h4[data-toggle]').on('click', function() {
			if ( $(this).attr('aria-expanded') === 'false' ) {
				$(this).find('.fal')
					.addClass('fa-angle-up')
					.removeClass('fa-angle-down');
			} else {
				$(this).find('.fal')
					.addClass('fa-angle-down')
					.removeClass('fa-angle-up');
			}

		});


		<?php if (isset($this->item->block_id) && $this->item->block_id) { ?>
		$(".toggle-link_type.url").hide();
		$(".toggle-link_type.panel").show();
		<?php } ?>


		<?php if (!isset($settings->section_full_height) || $settings->section_full_height == 'off') {?>
		$(".section-vertical-alignment").hide();
		<?php }else { ?>
		$(".section-vertical-alignment").show();
		<?php } ?>

		$('input[name="settings[section_full_height]"]').on("change", function (){
			if ($('input[name="settings[section_full_height]"]:checked').val() === 'on') {
				$(".section-vertical-alignment").show();
			}else {
				$(".section-vertical-alignment").hide();
			}
		});

		<?php //if (!isset($settings->animation_scroll) && isset($settings->animation_scroll) == '' ) {?>
		<?php if (isset($settings->animation)  &&  $settings->animation == "animate"
	&& (!isset($settings->animation_scroll) || (isset($settings->animation_scroll) && $settings->animation_scroll == ""))
		|| (!isset($settings->animation)  ||  (isset($settings->animation) && $settings->animation == ""))) {?>
		$(".motion-animation").hide();
		$(".regular-animation").show();
		<?php }else { ?>
		$(".motion-animation").show();
		$(".regular-animation").hide();
		<?php } ?>

		$('input[name="settings[animation_scroll]"]').on("change", function (){
			if ($('input[name="settings[animation_scroll]"]:checked').val() === 'on') {
				$(".motion-animation").show();
				$(".regular-animation").hide();
			}else {
				$(".motion-animation").hide();
				$(".regular-animation").show();
			}
		});

	});
</script>
