<?php
$settings = json_decode($this->settings);
?>

<div class="panel-edit__body">
	<div class="row text-left flex-row flex-align-center">
		<div class="col-sm-3 text-black">
			<label class="m-b-15">Height:</label>
		</div>
		<div class="col-sm-9">
			<div class="form-group m-b-15">
				<input type="text" class="form-control" name="wireframe_settings[height]" value="<?php echo (isset($settings->height))?$settings->height:''?>">
			</div>
		</div>
	</div>
	<div class="row text-left flex-row flex-align-center">
		<div class="col-sm-3 text-black">
			<label class="m-b-5 text-black">Gray Box:</label>
		</div>
		<div class="col-sm-9">
			<?php
			$enabled = (isset($settings->gray_box_status) && $settings->gray_box_status == 'Disabled')?'off':'on';
			?>
			<div class="btn-group" id="status" data-toggle="buttons">
				<label class="btn btn-default btn-on <?php echo ($enabled == 'on')?'active':''?>">
					<input type="radio" value="Enabled" name="wireframe_settings[gray_box_status]" <?php echo ($enabled == 'on')?'checked':''?>>ON</label>
				<label class="btn btn-default btn-off <?php echo ($enabled == 'off')?'active':''?>">
					<input type="radio" value="Disabled" name="wireframe_settings[gray_box_status]" <?php echo ($enabled == 'off')?'checked':''?>>OFF</label>
			</div>
		</div>
	</div>

	<!--
	<div class="row text-left flex-row flex-align-center">
		<div class="col-sm-3 text-black">
			<label class="m-b-15">Width:</label>
		</div>
		<div class="col-sm-9">
			<div class="form-group m-b-15">
				<input type="text" name="wireframe_settings[width]" value="<?php echo (isset($settings->width))?$settings->width:''?>">
			</div>
		</div>
	</div>
	-->

</div>


