<div class="row">
	<div class="col-sm-8">
		<h2>Addresses</h2>
	</div>
	<div class="col-sm-4">
		<div class="pull-right m-t-10">
			<a class="btn btn-default btn-sm" href="#/admin/customer/address-add/customer_id/<?php echo $this->customer_id?>" onclick="loadView('address','add','');">Add Address</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 component-search-results">
		<table class="table table-striped">
			<thead>
			<tr>
				<th>Type</th>
				<th>Address</th>
				<th>Default</th>
				<th class="hidden-xs text-center">Delete</th>
				<th class="hidden-xs text-center">Edit</th>
			</tr>
			</thead>
			<tbody>
			<?php
			if ($this->addresses) {
				foreach ($this->addresses as $key => $item) {
				?>
					<tr>
						<td><?php echo $item->address_type?></td>
						<td class="break-words">
							<?php echo $item->address_name?><br/>
							<?php echo $item->first_name?> <?php echo $item->last_name?><br/>
							<?php echo $item->address1?> <?php echo $item->address2?><br/>
							<?php echo $item->city?>, <?php echo $item->region?> <?php echo $item->postcode?><br/>
							<?php echo $item->country?>
						</td>
						<td><?php echo $item->default_address?></td>
						<td class="hidden-xs text-center"><a href="#/admin/customer/address-delete/id/<?php echo $item->id?>" onclick="loadView('address','delete','<?php echo $item->id?>')" class="" title="Delete"><span class="sr-only">Delete</span> <span class="fas fa-minus-circle"></span></a></td>
						<td class="hidden-xs text-center"><a href="#/admin/customer/address-edit/id/<?php echo $item->id?>" onclick="loadView('address','edit','<?php echo $item->id?>')" class="" title="Edit"><span class="sr-only">Edit</span> <span class="far fa-edit"></span></a></td>
					</tr>
				<?php
				}
			}
			?>
			</tbody>
		</table>
	</div>
</div>

<script>
	$(document).ready(function() {

	});
</script>
