<?php
$block_types = array("email"=>"Email","ip"=>"IP Address","address"=>"Shipping Address");
?>
<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="form-group col-sm-2">
					<label>Type:</label>
					<?php echo $this->formSelect('status', $this->status, array('class'=>'form-control'), array(""=>"")+$block_types)?>
				</div>

				<div class="col-sm-12">
					<div class="col-xs-1">
						<button type="submit" class="btn btn-primary xs-100">Search</button>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<div class="checkbox hidden-xs">
								<input type="checkbox" name="csv" value="1" id="export"> <label for="export">Export</label>
							</div>
						</div>
					</div>
					<div class="col-xs-1">
						<a href="/admin/customer" class="btn btn-warning xs-100">Reset</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-10 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<!--
			<div class="col-sm-2 col-xs-12">

			</div>
			-->
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<th>Check Type</th>
						<th>Value</th>
						<th class="hidden-xs text-center">Delete</th>
						<!--<th class="hidden-xs text-center">Edit</th>-->
					</tr>
					</thead>
					<tbody>
					<?php
					foreach($this->list as $key => $val) {
						?>
						<tr>
							<td><?php echo $block_types[$val->type]?></td>
							<td>
								<?php
								if ($val->type == 'address') {
									$address = json_decode($val->value);
									foreach ($address as $line) {
										echo $line."<br/>";
									}
								}else {
									echo $val->value;
								}
								?>
							</td>
							<td class="hidden-xs text-center"><a href="/admin/customer/block-delete/id/<?php echo $val->id?>" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fal fa-minus"></span></a></td>
							<!--<td class="hidden-xs text-center"><a href="/admin/customer/block-edit/id/<?php echo $val->id?>" title="Edit"><span class="sr-only">Edit</span> <span class="fal fa-edit"></span></a></td>-->
						</tr>
					<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<div class="white-box">

	<div class="row">
		<div class="col-sm-12">
			<h2>Add New Block</h2>
		</div>
	</div>

	<form method="post" action="/admin/customer/block-save">

		<div class="row">
			<table  class="table table-striped">
				<tbody>
				<tr>
					<td><label>Block Type:</label></td>
					<td><?php echo $this->formSelect('type', null, array('class'=>'form-control'), $block_types)?></td>
					<td></td>
				</tr>
				<tr class="values" id="email">
					<td><label>Email Address:</label></td>
					<td><input type="text" name="email" value="" class="form-control" placeholder="bad@customer.com"></td>
					<td></td>
				</tr>
				<tr class="values hide-me" id="ip">
					<td><label>IP Address:</label></td>
					<td><input type="text" name="ip" value="" class="form-control" placeholder="0.0.0.0"></td>
					<td></td>
				</tr>
				<tr class="values hide-me" id="address">
					<td><label>Shipping Address:</label></td>
					<td>
						<input type="text" name="address[address1]" value="" class="form-control" placeholder="123 Main St">
						<input type="text" name="address[city]" value="" class="form-control" placeholder="City">
						<input type="text" name="address[state]" value="" class="form-control" placeholder="CA">
					</td>
					<td></td>
				</tr>

				<tr id="submit-btn">
					<td></td>
					<td><button class="btn btn-primary btn-lg btn-save" type="submit">Save</button></td>
					<td></td>
				</tr>
				</tbody>
			</table>
		</div>
	</form>


</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>


<script>
	$(document).ready(function() {
		$(".hide-me").hide();

		$("#type").on("change",function(){
			$(".values input").each(function(){
				$(this).val('');
			});
			$(".values").hide();

			$("#"+$(this).val()).show();
		});
	});
</script>
