<div class="white-box">
	<div class="row">
		<div class="col-sm-8">
			<h2><?php echo ($this->cmd=='add')?'Add New Customer':'Edit Customer'?></h2>

			<?php if ($this->errors) { ?>
				<div class="error_box">
					<ul>
						<?php
						foreach ($this->errors as $error) {
							echo "<li>".$error."</li>";
						}
						?>
					</ul>
				</div>
			<?php } ?>

		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/customer"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<?php echo $this->form?>
		</div>
	</div>

	<div id="profile-block" class="hidden-xs m-t-30"></div>
	<div id="address-block" class="hidden-xs m-t-30"></div>

</div>

<script>
	$(document).ready(function() {
		loadView("profile","view","", false);
		loadView("address","view","", false);
	});

	function loadView(section,action,id, scroll_to) {
		if (typeof scroll_to === 'undefined') scroll_to = true;

		if (action == 'delete') {
			if (!confirm('Are you sure you want to delete this entry?')) {
				return false;
			}
		}

		$.get( "/admin/customer/"+section+"-"+action+"/customer_id/<?php echo $this->customer_id?>/id/"+id, function( data ) {
			$("#"+section+"-block").html( data );
			//initTinyMCE();

			if (scroll_to === true) {
				$('html, body').animate({
					scrollTop: $("#" + section + "-block").offset().top
				}, 500);
			}
		});

		return false;
	}
</script>
