<div class="white-box">

	<div class="row">
		<div class="col-sm-8">
			<h2>View Customer</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/auth/login-as?id=<?php echo $this->customer->id?>" target="_blank"><span class="fas fa-sign-in-alt"></span> Login As Customer</a>
				<a class="btn btn-default btn-sm" href="/admin/customer"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<tbody>
					<tr>
						<td>First Name:</td>
						<td>
							<?php echo $this->customer->first_name?>
						</td>
					</tr>
					<tr>
						<td>Last Name:</td>
						<td>
							<?php echo $this->customer->last_name?>
						</td>
					</tr>
					<tr>
						<td>Email:</td>
						<td>
							<?php echo $this->customer->email?>
						</td>
					</tr>
					<tr>
						<td>Status:</td>
						<td>
							<?php echo $this->customer->status?>
						</td>
					</tr>
					<tr>
						<td>Created:</td>
						<td>
							<?php echo ($this->customer->created)?$this->UTCtoTZ($this->customer->created,"M. j, Y g:ia",$this->site_timezone):""?>
						</td>
					</tr>
					<!--<tr>
						<td>Last Login:</td>
						<td>
							<?php //echo ($this->customer->last_login)?date("M. j, Y g:ia",strtotime($this->customer->last_login)):""?>
						</td>
					</tr>-->
				</tbody>
			</table>
		</div>
	</div>

	<h4>Profile</h4>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<tbody>
				<?php foreach ($this->profile as $key => $row) {?>
				<tr>
					<td><?php echo $row['title']?>:</td>
					<td><?php echo $row['value']?></td>
				</tr>
				<?php } ?>
				</tbody>
			</table>
		</div>
	</div>

	<h4>Addresses</h4>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<tbody>
				<tr>
					<td>Type</td>
					<td>Label</td>
					<td>Address</td>
					<td>Phone</td>
					<td>Default</td>
				</tr>
				<?php foreach ($this->addresses as $address) {?>
					<tr>
						<td><?php echo $address->address_type?></td>
						<td><?php echo $address->address_name?></td>
						<td>
							<?php echo $address->address1?>
							<?php echo ($address->address2)?"<br/>".$address->address2:''?><br/>
							<?php echo $address->city?><br/>
							<?php echo $address->region?><br/>
							<?php echo $address->postcode?><br/>
							<?php echo $address->country?>
						</td>
						<td><?php echo $address->phone?></td>
						<td><?php echo $address->default_address?></td>
					</tr>
				<?php } ?>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<thead>
				<tr>
					<th colspan="6"><h4>Orders</h4></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th>Order #</th>
					<th>Date</th>
					<th>Status</th>
					<th>$ Amount</th>
					<th>Shipping</th>
					<th class="text-center">View</th>
				</tr>
				<?php foreach ($this->orders as $key => $val) { ?>
					<tr>
						<td><a href="/admin/order/view/id/<?php echo $val['id']?>"><?php echo $val['id']?></a></td>
						<td><?php echo $this->UTCtoTZ($val['created'],"n/j/Y g:ia",$this->site_timezone)?></td>
						<td><?php echo $val['status']?></td>
						<td>$<?php echo number_format($val['total_amount'],2)?></td>
						<td><?php //echo $val['class']?></td>
						<td class="text-center"><a href="/admin/order/view/id/<?php echo $val['id']?>" title="View"><span class="sr-only">View </span><span class="far fa-eye"></span></a></td>
					</tr>
				<?php } ?>
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->orders, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>

	<?php
	if ($this->wishlist && count($this->wishlist) > 0) {
		$pi_mapper = new Application_Model_Mapper_ProductImage();
		?>
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<thead>
				<tr>
					<th colspan="6"><h4>Wishlist</h4></th>
				</tr>
				<tr>
					<th class="col-xs-7">Item</th>
					<th class="center">Price when Added</th>
					<th class="center">Current Price</th>
				</tr>
				</thead>
				<tbody>
				<?php
				foreach ($this->wishlist as $item) {
					$primary_image = $pi_mapper->fetchPrimaryByProductId($item->product_id);
					if ($primary_image){
						$primary_image->thumbnail_src = str_replace("userFiles/uploads", "userThumbs", $primary_image->image_src);
					}
					?>
					<tr>
						<td>
							<div class="products__item flex-row flex-align-center">
								<div class="products__image hidden-xs col-sm-2">
									<img src="<?php echo ($primary_image->thumbnail_src)?$primary_image->thumbnail_src:$primary_image->image_src?>" alt="<?php echo htmlentities(($item->variant_title)?$item->variant_title:$item->title)?>" class="img-responsive">
								</div>
								<div class="products__content">
									<div class="products__title"><strong><?php echo ($item->variant_title)?$item->variant_title:$item->title?></div>
								</div>
							</div>
						</td>
						<td class="right">$<?php echo $item->wishlist_price?></td>
						<td class="right">$<?php echo ($item->variant_price)?$item->variant_price:$item->price?></td>
					</tr>
					<?php
				}
				?>
				</tbody>
				<tfoot>
				</tfoot>
			</table>
		</div>
	</div>
	<?php } ?>

<!--	Customer entitltment-->
	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<thead>
				<tr>
					<th colspan="6"><h4>Entitlement</h4></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th>ID</th>
					<th>Video Title</th>
					<th>Entitlement Type</th>
<!--					<th>Expiration</th>-->
					<th>Price</th>
					<th>Discount</th>
					<th>Tax</th>
					<th>Total</th>
					<th>Created</th>
				</tr>
				<?php foreach ($this->entitlement as $key => $val) { ?>
					<tr>
						<td><?php echo $val['id']?></td>
						<td><?php echo $val['title']?></td>
						<td><?php echo $this->purchase_type[$val['purchase_type']]?></td>
						<!--<td><?php /*echo $val['expiration']*/?></td>-->
						<td>$<?php echo number_format($val['price'],2)?></td>
						<td><?php echo $val['discount']?></td>
						<td><?php echo $val['tax']?></td>
						<td>$<?php echo number_format($val['total'],2)?></td>
						<td><?php echo $this->UTCtoTZ($val['created'],"n/j/Y g:ia",$this->site_timezone)?></td>

					</tr>
				<?php } ?>
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->entitlement, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>

</div>

