<div class="white-box">

	<div class="row">
		<div class="col-sm-8">
			<h2>View Customer Wishlist</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/customer/wishlist-list"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<tbody>
				<tr>
					<td>First Name:</td>
					<td>
						<?php echo $this->customer->firstname?>
					</td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td>
						<?php echo $this->customer->lastname?>
					</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td>
						<?php echo $this->customer->email?>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12 component-search-results">
			<table class="table table-striped">
				<thead>
				<tr>
					<th colspan="6"><h3>Wishlist</h3></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<th>Title</th>
					<th>SKU</th>
					<th>Format</th>
					<th>$ Price</th>
				</tr>
				<?php
				$wishlist = unserialize($this->wishlist->wishlist);

				$prod_mapper = new Admin_Model_Mapper_Product();
				$price_mapper = new Admin_Model_Mapper_ProductPrice();
				$type_mapper = new Admin_Model_Mapper_ProductType();
				$types = $type_mapper->fetchPairs();
				foreach ($wishlist as $key => $val) {
					$product = $prod_mapper->find($key);
					$prices = $price_mapper->fetchPricesByProductId($product->id, 'retail');
					$price = current($prices);
					?>
					<tr>
						<td><?php echo $product->title?></td>
						<td><?php echo $product->sku?></td>
						<td><?php echo $types[$product->product_type_id]?></td>
						<td>$<?php echo number_format($price[0]['price'],2)?></td>
					</tr>
				<?php } ?>
				</tbody>
			</table>
		</div>
	</div>

</div>

