<?php
if ($this->dir == "DESC") $dir = "ASC"; else $dir = "DESC";
?>
<div class="row">
	<div class="white-box">
		<div class="row component-search">
			<form method="get" action="">
				<div class="form-group col-sm-4">
					<label>Search:</label>
					<input type="text" name="mask" class="form-control" value="<?php echo $this->mask?>">
				</div>

				<div class="col-sm-12">
					<div class="col-xs-1">
						<button type="submit" class="btn btn-primary xs-100">Search</button>
					</div>
					<div class="col-xs-2">
						<div class="form-group">
							<div class="checkbox hidden-xs">
								<!--<input type="checkbox" name="csv" value="1" id="export"> <label for="export">Export</label>-->
							</div>
						</div>
					</div>
					<div class="col-xs-1">
						<a href="/admin/customer" class="btn btn-warning xs-100">Reset</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-10 hidden-xs">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
			<!--
			<div class="col-sm-2 col-xs-12">

			</div>
			-->
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 component-search-results">
				<table class="table table-striped">
					<thead>
					<tr>
						<th><a href="/admin/customer/wishlist-list/sort/email/dir/<?php echo $dir?>">Email</a></th>
						<th><a href="/admin/customer/wishlist-list/sort/lastname/dir/<?php echo $dir?>">Name</a></th>
						<th><a href="#/admin/customer/wishlist-list/sort/item_count/dir/<?php echo $dir?>">Current Count</a></th>
						<th class="hidden-xs"><a href="/admin/customer/wishlist-list/sort/created/dir/<?php echo $dir?>">Created</a></th>
						<!--<th class="hidden-xs text-center">Delete</th>-->
						<!--<th class="hidden-xs text-center">Edit</th>-->
						<th class="text-center">View</th>
					</tr>
					</thead>
					<tbody>
					<?php
					foreach($this->list as $key => $val) {
						$items = unserialize($val['wishlist']);
						?>
						<tr>
							<td><a href="/admin/customer/wishlist-view/id/<?php echo $val['customer_id']?>"><?php echo $val['email']?></a></td>
							<td><?php echo $val['lastname'].', '.$val['firstname']?></td>
							<td><?php echo count($items);?></td>
							<td class="hidden-xs"><?php echo ($val['created'])?$this->UTCtoTZ($val['created'],"n/j/Y g:ia",$this->site_timezone):""?></td>
							<!--<td class="hidden-xs text-center"><a href="/admin/customer/wishlist-delete/id/<?php echo $val['id']?>" title="Delete" class="btn-delete"><span class="sr-only">Delete</span> <span class="fal fa-minus"></span></a></td>-->
							<!--<td class="hidden-xs text-center"><a href="/admin/customer/wishlist-edit/id/<?php echo $val['id']?>" title="Edit"><span class="sr-only">Edit</span> <span class="fal fa-edit"></span></a></td>-->
							<td class="text-center"><a href="/admin/customer/wishlist-view/id/<?php echo $val['customer_id']?>" title="View"><span class="sr-only">View </span><span class="far fa-eye"></span></a></td>
						</tr>
					<?php
					}
					?>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="white-box">
		<div class="row">
			<div class="col-sm-12 xs-center">
				<?php echo $this->paginationControl($this->list, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
</div>
