<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<div class="white-box">

	<div class="row">
		<div class="col-sm-8">
			<h2>Refund</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<a class="btn btn-default btn-sm" href="/admin/order"><span class="fal fa-angle-left"></span> Back</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-md-12">

					<form method="post" action="">
						<div class="form-group">
							<label>Order #:</label>
							<input type="text" class="form-control" name="order_id" value="">
						</div>
						<div class="form-group">
							<label>Amount $:</label>
							<input type="text" class="form-control" name="amount" value="">
						</div>
						<div class="form-group">
							<label>Note:</label>
							<textarea class="form-control" name="note" rows="4"></textarea>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-danger">Refund</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>
