<?php echo $this->partial('flashMessenger.phtml', array('flashMessages'=>$this->flashMessenger)); ?>

<div class="white-box">

	<div class="row no-print">
		<div class="col-sm-8">
			<h2>View Order</h2>
		</div>
		<div class="col-sm-4">
			<div class="view-navigation pull-right">
				<?php if($this->return_to == 'dashboard') { ?>
					<a class="btn btn-default btn-sm" href="/admin/#recent"><span class="fal fa-angle-left"></span> Back </a>
				<?php } else{ ?>
				<a class="btn btn-default btn-sm" href="/admin/order"><span class="fal fa-angle-left"></span> Back</a>
				<?php } ?>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-md-12">
					<table class="table table--no-border">
						<thead>
						<tr>
							<th colspan="3"><strong>Order Summary</strong></th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>
								<span>Order Number: <span><?php echo $this->order->id?></span></span>
							</td>
							<td>
								<span>Order Date: <span><?php echo $this->UTCtoTZ($this->order->getCreated(),"n/j/Y g:ia",$this->site_timezone)?></span></span>
							</td>
							<td>
								<!--<span>Status: <span><?php echo $this->order->getStatus()?></span></span>-->
							</td>
						</tr>
						<form method="post" action="/admin/order/status">
							<input type="hidden" name="id" value="<?php echo $this->order->id?>">
							<tr>
								<td valign="top">Order Status: </td>
								<td colspan="2">
									<?php echo $this->formSelect('status', $this->order->status, array('class'=>'form-control'), array(""=>"")+$this->statuses)?>
								</td>
							</tr>
							<tr>
								<td>Tracking Service:</td>
								<td colspan="2">
									<?php echo $this->shipping->service?>
								</td>
							</tr>
							<tr>
								<td>Tracking Number:</td>
								<td colspan="2"><input type="text" class="form-control" name="tracking_numbers" value="<?php $first = current($this->items); echo $first->tracking_code?>"></td>
							</tr>
							<tr class="no-print">
								<td colspan="6">
									<button class="btn btn-default btn-sm" type="submit">Update</button>
									<?php if ($this->order->status != 'Canceled') {?>
										<a href="/admin/order/cancel/id/<?php echo $this->order->id?>" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you would like to cancel this order?  A refund will be issued for the full amount of the order and further updates will not be possible.  After cancelling, a note can be manually added to the order and sent to the customer.');">Cancel Order</a>
									<?php } ?>
									<a href="javascript:window.print();" class="btn btn-primary btn-sm">Print</a>
								</td>
							</tr>
						</form>
						</tbody>
					</table>
				</div>
			</div>
			<form method="post" action="/admin/order/addresses">
				<input type="hidden" name="id" value="<?php echo $this->order->id?>">
				<div class="row">
					<div class="col-md-12">
						<table class="table table--no-border">
							<tbody>
							<tr>
								<td>
									<h2>Email</h2>

									<a href="#" class="pull-right no-print" onclick="return addressEdit('email');">Edit Email</a>

									<div class="editHide email">
										<?php echo $this->order->email?>
									</div>
									<div class="editShow email">
										<input type="text" class="form-control" name="order[email]" value="<?php echo $this->order->email?>" placeholder="Email Address">
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="col-md-12">
						<table class="table table--no-border">
							<tbody>
							<tr class="billing">
								<td>
									<h2>Billing Address</h2>

									<a href="#" class="pull-right no-print" onclick="return addressEdit('billing');">Edit Address</a>

									<div class="editHide billing">
										<div><?php echo $this->billing_address->first_name . ' ' . $this->billing_address->last_name ?></div>
										<?php echo ($this->billing_address->company)? '<div>'.$this->billing_address->company.'</div>>':''?>
										<?php echo $this->billing_address->address?>
										<?php echo ($this->billing_address->address2)?'<div>'.$this->billing_address->address2.'</div>':''?>
										<div><?php echo $this->billing_address->city ?> <?php echo $this->billing_address->region ?>,</div>
										<div><?php echo $this->billing_address->postcode ?></div>
										<div><?php echo $this->billing_address->country ?></div>
										<div><?php echo $this->billing_address->phone ?></div>
									</div>

									<div class="editShow billing">
										<input type="text" class="form-control" name="billing_address[company]" value="<?php echo $this->billing_address->company?>" placeholder="Company">
										<input type="text" class="form-control" name="billing_address[first_name]" value="<?php echo $this->billing_address->first_name?>" placeholder="First Name">
										<input type="text" class="form-control" name="billing_address[last_name]" value="<?php echo $this->billing_address->last_name?>" placeholder="Last Name">
										<input type="text" class="form-control" name="billing_address[address]" value="<?php echo $this->billing_address->address?>" placeholder="Address">
										<input type="text" class="form-control" name="billing_address[address2]" value="<?php echo $this->billing_address->address2?>" placeholder="Address">
										<input type="text" class="form-control" name="billing_address[city]" value="<?php echo $this->billing_address->city?>" placeholder="City">
										<?php echo $this->formSelect('billing_address[region]', $this->billing_address->region, array('class'=>"form-control usca"), array(""=>"State")+$this->usstates)?>
										<input class="form-control international" type="text" placeholder="Region" name="billing_address[region_alt]" value="<?php echo $this->billing_address->region?>"/>
										<input type="text" class="form-control" name="billing_address[postcode]" value="<?php echo $this->billing_address->postcode?>" placeholder="Zip Code">
										<?php echo $this->formSelect('billing_address[country]', $this->billing_address->country, array('class'=>"form-control"), array(""=>"Country")+$this->billing_countries)?>
										<input type="text" class="form-control" name="billing_address[phone]" value="<?php echo $this->billing_address->phone?>" placeholder="Phone">
									</div>
								</td>
								<td>
									<h2>Shipping Address</h2>

									<a href="#" class="pull-right no-print" onclick="return addressEdit('shipping');">Edit Address</a>

									<div class="editHide shipping">
										<div><?php echo $this->shipping_address->first_name . ' ' . $this->shipping_address->last_name ?></div>
										<?php echo ($this->shipping_address->company)? '<div>'.$this->shipping_address->company.'</div>':''?>
										<div><?php echo $this->shipping_address->address?></div>
										<?php echo ($this->shipping_address->address2)?'<div>'.$this->shipping_address->address2.'</div>':''?>
										<div><?php echo $this->shipping_address->city ?> <?php echo $this->shipping_address->region ?>,</div>
										<div><?php echo $this->shipping_address->postcode ?></div>
										<div><?php echo $this->shipping_address->country ?></div>
										<div><?php echo $this->shipping_address->phone ?></div>
									</div>
									<div class="editShow shipping">
										<input type="text" class="form-control" name="shipping_address[company]" value="<?php echo $this->shipping_address->company?>" placeholder="Company">
										<input type="text" class="form-control" name="shipping_address[first_name]" value="<?php echo $this->shipping_address->first_name?>" placeholder="First Name">
										<input type="text" class="form-control" name="shipping_address[last_name]" value="<?php echo $this->shipping_address->last_name?>" placeholder="Last Name">
										<input type="text" class="form-control" name="shipping_address[address]" value="<?php echo $this->shipping_address->address?>" placeholder="Address">
										<input type="text" class="form-control" name="shipping_address[address2]" value="<?php echo $this->shipping_address->address2?>" placeholder="Address">
										<input type="text" class="form-control" name="shipping_address[city]" value="<?php echo $this->shipping_address->city?>" placeholder="City">
										<?php echo $this->formSelect('shipping_address[region]', $this->shipping_address->region, array('class'=>"form-control usca"), array(""=>"State")+$this->usstates)?>
										<input class="form-control international" type="text" placeholder="Region" name="shipping_address[region_alt]" value="<?php echo $this->shipping_address->region?>"/>
										<input type="text" class="form-control" name="shipping_address[postcode]" value="<?php echo $this->shipping_address->postcode?>" placeholder="Zip Code">
										<?php echo $this->formSelect('shipping_address[country]', $this->shipping_address->country, array('class'=>"form-control"), array(""=>"Country")+$this->shipping_countries)?>
										<input type="text" class="form-control" name="shipping_address[phone]" value="<?php echo $this->shipping_address->phone?>" placeholder="Phone">
									</div>
								</td>
							</tr>
							<tr class="shipping">
								<td>
									<h2>Payment Method</h2>
									<?php if ($this->payment->type == 'amazonpay') echo 'Amazon Pay'; else {?>
										Credit Card: <?php echo ($this->payment)?$this->payment->getIdentifier():""?>
									<?php } ?>
								</td>
								<td>
									<h2>Shipping Method</h2>
									<?php echo $this->shipping->method."<br/><br/>"?>

									<?php
									//$tracking_parser = new Cny_View_Helper_TrackingNumberParser();
									$tracking_numbers = array();
									foreach ($this->items as $item) {
										if ($item->tracking_code) {
											//$tracking_numbers[$item->tracking_code] = $tracking_parser->getDetails($item->tracking_code);
										}
									}
									foreach ($tracking_numbers as $tracking_number => $detail) {
										echo $detail['service'].' Tracking # <a href="'.$detail['url'].'" target="_blank">'.$detail['tracking_number'].'</a><br/>';
									}
									?>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row no-print">
					<div class="col-sm-12 m-b-20">
						<button class="btn btn-default btn-sm" type="submit">Update</button>
					</div>
				</div>
			</form>

			<form method="post" action="/admin/order/items">
				<input type="hidden" name="id" value="<?php echo $this->order->id?>">
				<div class="row">
					<div class="col-md-12">
						<table class="table table--no-border">
							<tbody>
							<tr>
								<td>
									<br/><br/>
									<h2>Order Details</h2>

									<table class="table">
										<thead>
										<tr>
											<th>QTY</th>
											<th>SKU</th>
											<th>Item</th>
											<th style="width:100px;">Cost</th>
											<th>Status</th>
											<th style="width:100px;"></th>
										</tr>
										</thead>
										<tbody>
										<?php foreach ($this->items as $item) { ?>
											<tr>
												<td><?php echo $item->qty?></td>
												<td><?php echo $item->sku?></td>
												<td>[<?php echo $item->type?>] <?php echo $item->title?></td>
												<td>$<?php echo number_format($item->paid_price,2)?></td>
												<td>
													<?php
													$input_name = 'products['.$item->id.'][status]';
													$input_qty_name = 'products['.$item->id.'][qty]';
													if ($item->status == 'Canceled' || $item->status == 'Product Returned') {
														$product_statuses = array($item->status=>$item->status);
													}
													$qty_count = array();
													for($i=1; $i<=$item->qty; $i++) {
														$qty_count[$i] = $i;
													}
													?>

													<?php echo $this->formSelect($input_name, $item->status, array('class'=>'form-control prod-status'), $this->product_statuses); ?>
												</td>
												<td>
													<?php echo $this->formSelect($input_qty_name, $item->qty, array('class'=>'form-control prod-status-qty'), $qty_count); ?>
												</td>
											</tr>
										<?php } ?>
										</tbody>
										<tfoot>
										<?php foreach ($this->totals as $item) { ?>
											<tr>
												<td colspan="5" class="text-right"><?php echo $item->title?>:</td>
												<td>$<?php echo number_format($item->amount,2)?></td>
											</tr>
										<?php } ?>
										</tfoot>
									</table>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="row no-print">
					<div class="col-sm-12 m-b-20">
						<button class="btn btn-default btn-sm" type="submit">Update</button>
					</div>
				</div>
			</form>

		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<h2>Order Profile</h2>
			<div class="row">
				<div class="col-md-12">
					<table class="table table--no-border">
						<tr>
							<td>Promo Code:</td>
							<td><?php echo $this->profile->promo_code?></td>
						</tr>
						<tr>
							<td>Affiliate Code:</td>
							<td><?php echo $this->profile->affiliate_code?></td>
						</tr>
						<?php if ($this->profile->custom_item_1 && $this->profile->custom_item_1_value) {?>
							<tr>
								<td><?php echo $this->profile->custom_item_1?></td>
								<td><?php echo $this->profile->custom_item_1_value?></td>
							</tr>
						<?php } ?>
						<?php if ($this->profile->custom_item_2 && $this->profile->custom_item_2_value) {?>
							<tr>
								<td><?php echo $this->profile->custom_item_2?></td>
								<td><?php echo $this->profile->custom_item_2_value?></td>
							</tr>
						<?php } ?>
						<?php if ($this->profile->custom_item_3 && $this->profile->custom_item_3_value) {?>
							<tr>
								<td><?php echo $this->profile->custom_item_3?></td>
								<td><?php echo $this->profile->custom_item_3_value?></td>
							</tr>
						<?php } ?>
						<?php if ($this->profile->custom_item_4 && $this->profile->custom_item_4_value) {?>
							<tr>
								<td><?php echo $this->profile->custom_item_4?></td>
								<td><?php echo $this->profile->custom_item_4_value?></td>
							</tr>
						<?php } ?>
						<?php if ($this->profile->custom_item_5 && $this->profile->custom_item_5_value) {?>
							<tr>
								<td><?php echo $this->profile->custom_item_5?></td>
								<td><?php echo $this->profile->custom_item_5_value?></td>
							</tr>
						<?php } ?>
						<?php if ($this->profile->custom_item_6 && $this->profile->custom_item_6_value) {?>
							<tr>
								<td><?php echo $this->profile->custom_item_6?></td>
								<td><?php echo $this->profile->custom_item_6_value?></td>
							</tr>
						<?php } ?>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="row no-print">
		<div class="col-sm-12">
			<h2>Order Notes</h2>
			<div class="row">
				<div class="col-md-12">
					<table class="table table--no-border">
						<?php foreach ($this->notes as $note) {?>
							<tr>
								<td>
									<?php echo nl2br($note->note)?>

									<p class="m-t-20">
										By: <?php echo $note->creator?> (<?php echo $note->creator_email?>)<br/>
										<?php echo $this->UTCtoTZ($note->created,"n/j/Y g:ia",$this->site_timezone)?>
									</p>
								</td>
								<td class="col-sm-3">
									Sent to Customer: <?php echo $note->sent_to_customer?><br/>
									Display to Customer: <?php echo $note->display_to_customer?><br/>
								</td>
							</tr>
						<?php } ?>
					</table>

					<h3>Add Note</h3>
					<form method="post" action="/admin/order/note-add">
						<input type="hidden" name="id" value="<?php echo $this->order->id?>">

						<textarea name="note" class="form-control" rows="6"></textarea>

						<div class="row m-t-10">
							<div class="col-sm-6">
								<div class="form-group">
									<label>Send to Customer</label>
									<?php echo $this->formSelect('sent_to_customer', 'No', array('class'=>'form-control'), array("No"=>"No","Yes"=>"Yes"))?>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label>Display to Customer</label>
									<?php echo $this->formSelect('display_to_customer', 'No', array('class'=>'form-control'), array("No"=>"No","Yes"=>"Yes"))?>
								</div>
							</div>
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-sm btn-warning">Add Note</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>


<script>
	$(document).ready(function() {
		$("#statusNote").hide();
		$(".editShow").hide();

		$("#statusUpdate").on("change",function(){
			if ($(this).val() == 'pending' || $(this).val() == 'decline') {
				$("#statusNote").show();
			}else {
				$("#statusNote").hide();
			}
		});

		$(".openClose").parent().parent().parent().parent().find('tbody tr').hide();
		$(".openClose").on("click",function(){
			if ($(this).text() == "+") {
				$(this).text("-");
				$(this).parent().parent().parent().parent().find('tbody tr').show();
			}else {
				$(this).text("+");
				$(this).parent().parent().parent().parent().find('tbody tr').hide();
			}
		});

		$(".international").hide();
		<?php if ($this->billing_address->country != 'US' && $this->billing_address->country != 'CA') {?> $(".billing .international").show();$(".billing .usca").hide(); <?php } ?>
		<?php if ($this->shipping_address->country != 'US' && $this->shipping_address->country != 'CA') {?> $(".shipping .international").show();$(".shipping .usca").hide(); <?php } ?>

		$("select[name='billing_address[country]']").on("change",function(){
			if ($(this).val() != 'US' && $(this).val() != 'CA') {
				$(".billing .international").show();
				$(".billing .usca").hide();
			}else {
				$(".billing .international").hide();
				$(".billing .usca").show();
			}
		});
		$("select[name='shipping_address[country]']").on("change",function(){
			if ($(this).val() != 'US' && $(this).val() != 'CA') {
				$(".shipping .international").show();
				$(".shipping .usca").hide();
			}else {
				$(".shipping .international").hide();
				$(".shipping .usca").show();
			}
		});

		$(".prod-status-qty").hide();
		$(".prod-status").on("change",function(){
			if ($(this).val() == 'Product Returned' || $(this).val() == 'Canceled' || $(this).val() == 'Reship') {
				$(this).parent().parent().find('.prod-status-qty').show();
			}else {
				$(this).parent().parent().find('.prod-status-qty').hide();
			}
		});
	});

	function addressEdit(section) {
		$(".editShow."+section).show();
		$(".editHide."+section).hide();

		return false;
	}

</script>

<style>
	@media print {
		.bg-title {
			display: none !important;
		}
	}
</style>
