<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$truncate = new Cny_View_Helper_StringTruncate();
$media_cache = new Cny_View_Helper_MediaCache();
?>

<div class="container m-t-20">

	<?php if ($settings_mapper->getValueByCode('blog_internal_page_header')) {?>
		<div class="row">
			<div class="col-sm-12">
				<div class="blog-content__header m-b-20">
					<?php
					echo $settings_mapper->getValueByCode('blog_internal_page_header');
					?>
				</div>
			</div>
		</div>
	<?php } ?>

	<div class="row flex-row-sm">
		<div class="col-sm-<?php echo ($settings_mapper->getValueByCode('blog_right_column_status') != 'Disabled')?'9':'12' ?>">
			<div class="blog-header">
				<h1><?php echo $this->article['title']?></h1>
				<div class="meta-entry">
					<?php if ($settings_mapper->getValueByCode('blog_author_status') != 'Disabled' && $this->article['byline']) {?>
						<span>By <?php echo $this->article['byline']?></span>
					<?php } ?>
					<?php if ($this->article['posted_date_format'] != 'none') {?>
						<span>|</span>
						<span><?php echo date(($this->article['posted_date_format'])?$this->article['posted_date_format']:"F j, Y",strtotime($this->article['posted_date']))?></span>
					<?php } ?>
				</div>
				<div class="share"></div>
			</div>
			<div class="blog-content">
				<?php if ($this->article['image']) {?>
				<div class="blog-content__image">
					<img class="img-responsive" src="<?php echo $this->article['image']?>" alt="<?php echo htmlentities(($this->article['image_alt_tag'])?$this->article['image_alt_tag']:$this->article['title'])?>">
				</div>
				<?php } ?>

				<div class="blog-content__copy">
					<div class="text">
						<?php echo $this->article['content']?>
					</div>
				</div>
			</div>
			<?php
			$prev_link_label = ($settings_mapper->getValueByCode('blog_pagination_previous_label')) ? $settings_mapper->getValueByCode('blog_pagination_previous_label') : 'Previous';
			$next_link_label = ($settings_mapper->getValueByCode('blog_pagination_next_label')) ? $settings_mapper->getValueByCode('blog_pagination_next_label') : 'Next';
			$pager_status = ($settings_mapper->getValueByCode('blog_pagination_status'))?$settings_mapper->getValueByCode('blog_pagination_status'):'Disabled';
			if ($pager_status == 'Enabled') {
				?>
				<nav aria-label="...">
					<ul class="pagination-blog">
						<?php if ($this->prev_post) { ?>
							<li><a href="/<?php echo $this->blog_url?>/<?php echo $this->prev_post['code']?>" class="btn btn-default btn--cms-default btn-blog-pager <?php echo $settings_mapper->getValueByCode('blog_pagination_button_style') ?>"><?php echo $prev_link_label ?></a></li>
						<?php } ?>
						<?php if ($this->next_post) { ?>
							<li><a href="/<?php echo $this->blog_url?>/<?php echo $this->next_post['code']?>" class="btn btn-default btn--cms-default btn-blog-pager <?php echo $settings_mapper->getValueByCode('blog_pagination_button_style') ?>"><?php echo $next_link_label ?></a></li>
						<?php } ?>
					</ul>
				</nav>
			<?php } ?>

			<?php
			if ($settings_mapper->getValueByCode('blog_related_status') == 'Enabled' && $this->related && count($this->related) > 0) {
				$layout = $settings_mapper->getValueByCode('blog_related_layout');
				$image_profile = $settings_mapper->getValueByCode('blog_related_image_profile');
				$panels = $this->related;
//print_r($panels);exit;
			?>
				<div class="blog-related-feed">
					<?php if ($settings_mapper->getValueByCode('blog_related_feed_title_status') == 'Enabled') { ?>
						<h2 class="m-t-0 blog-related-feed__title"><?php echo ($settings_mapper->getValueByCode('blog_related_feed_title_label')?$settings_mapper->getValueByCode('blog_related_feed_title_label'):'Related Posts'); ?></h2>
					<?php } ?>
					<?php if ($layout == 'vertical-column') {?>
						<div class="block-entry">
							<?php
							foreach ($panels as $panel) {
								$url = "/".$this->blog_url."/".$panel['code'];
								if (isset($panel['external_url']) && $panel['external_url']) {
									$target = '_blank';
									$url = $panel['external_url'];
								} else {
									$target = '_self';
								}
								$btn_class = '';
								if ($settings_mapper->getValueByCode('blog_related_read_more_type')) {
									$btn_class .= ' ' . $settings_mapper->getValueByCode('blog_related_read_more_type');
								}
								if ($settings_mapper->getValueByCode('blog_related_read_more_alignment')) {
									$btn_class .= ' '.$settings_mapper->getValueByCode('blog_related_read_more_alignment');
								}
								?>
								<div class="blog-entry">
									<div class="blog-content">
										<?php if ($panel['thumbnail']) {?>
											<div class="blog-content__image">
												<a href="<?php echo $url ?>" target="<?php echo $target?>">
													<img src="<?php echo $media_cache->getImage($panel['thumbnail'], $image_profile) ?>" alt="<?php echo htmlentities($panel['title']) ?>" class="img-responsive">
												</a>
											</div>
										<?php } ?>

										<div class="blog-content__copy">
											<div class="blog-header">
												<?php if ($settings_mapper->getValueByCode('blog_related_title_status') == 'Enabled') { ?>
													<h2<?php echo ($settings_mapper->getValueByCode('blog_related_overlay_display') == 'Enabled') ? ' class="blog-title--overlay"':' class="blog-feed-title m-b-0 m-t-0"'; ?>><a class="blog-header-link" href="<?php echo $url ?>" target="<?php echo $target?>"><?php echo $panel['title'] ?></a></h2>
												<?php } ?>
												<div class="meta-entry m-b-10">
													<?php if ($settings_mapper->getValueByCode('blog_author_status') != 'Disabled' && $panel['byline']) {?>
														<span>By <?php echo $panel['byline']?>,</span>
													<?php } ?>
													<?php if ($panel['posted_date_format'] != 'none') {?>
														<span><?php echo date(($panel['posted_date'])? "M j, Y" : "M j, Y",strtotime($panel['posted_date']) )?></span>
													<?php } ?>
												</div>
											</div>

											<?php if ($settings_mapper->getValueByCode('blog_related_summary_status') == 'Enabled') { ?>
											<?php if ($settings_mapper->getValueByCode('blog_related_truncate') == 'Enabled') {
												$textLength = $settings_mapper->getValueByCode('blog_related_truncate_length')?$settings_mapper->getValueByCode('blog_related_truncate_length'): 75;
												?>
												<p class="m-b-10"><?php echo $truncate->StringTruncate($panel['summary'], $textLength); ?></p>
											<?php } else { ?>
												<p class="m-b-10"><?php echo $panel['summary']; ?></p>
											<?php } ?>
											<?php } ?>

											<?php if ($settings_mapper->getValueByCode('blog_related_read_more_status') == 'Enabled') { ?>
												<a aria-label="<?php echo $url ?>" href="<?php echo $url ?>" target="<?php echo $target?>" class="btn <?php echo $btn_class ?>"><?php echo ($settings_mapper->getValueByCode('blog_related_read_more_text')) ? $settings_mapper->getValueByCode('blog_related_read_more_text') :'Read More'; ?></a>
											<?php } ?>

										</div>
									</div>
								</div>
								<?php
							}
							?>
						</div>
					<?php }elseif ($layout == 'horizontal-tray') { ?>
						<div class="row equal-height-columns">
							<?php
							foreach ($panels as $panel) {
								$url = "/".$this->blog_url."/".$panel['code'];
								if (isset($panel['external_url']) && $panel['external_url']) {
									$target = '_blank';
									$url = $panel['external_url'];
								} else {
									$target = '_self';
								}

								$btn_class = '';
								if ($settings_mapper->getValueByCode('blog_related_read_more_type')) {
									$btn_class .= ' ' . $settings_mapper->getValueByCode('blog_related_read_more_type');
								}
								if ($settings_mapper->getValueByCode('blog_related_read_more_alignment')) {
									$btn_class .= ' '.$settings_mapper->getValueByCode('blog_related_read_more_alignment');
								}
								?>
								<div class="col-sm-3 equal-height-column">
									<div class="blog-feed-module">
										<div class="blog-feed-module__header">
											<?php if ($panel['thumbnail']) {?>
												<a href="<?php echo $url ?>" target="<?php echo $target?>">
													<img src="<?php echo $media_cache->getImage($panel['thumbnail'], $image_profile) ?>" alt="<?php echo htmlentities($panel['title']) ?>" class="img-responsive">
												</a>
											<?php } ?>
											<?php if ($settings_mapper->getValueByCode('blog_related_title_status') == 'Enabled') { ?>
												<div<?php echo ($settings_mapper->getValueByCode('blog_related_overlay_display') == 'Enabled') ? ' class="blog-title--overlay"':' class="blog-feed-title m-b-0 m-t-0"'; ?>>
													<a class="blog-feed-module__title" href="<?php echo $url ?>" target="<?php echo $target?>"><strong><?php echo $panel['title'] ?></strong></a>
												</div>
											<?php } ?>
										</div>


										<?php if ($settings_mapper->getValueByCode('blog_related_summary_status') == 'Enabled') { ?>
											<?php if ($settings_mapper->getValueByCode('blog_related_truncate') == 'Enabled') {
												$textLength = $settings_mapper->getValueByCode('blog_related_truncate_length')?$settings_mapper->getValueByCode('blog_related_truncate_length'): 75;
												?>
												<p class="m-b-10"><?php echo $truncate->StringTruncate($panel['summary'], $textLength); ?></p>
											<?php } else { ?>
												<p class="m-b-10"><?php echo $panel['summary']; ?></p>
											<?php } ?>
											<?php } ?>

										<?php if ($settings_mapper->getValueByCode('blog_related_read_more_status') == 'Enabled') { ?>
											<a aria-label="<?php echo $url ?>" href="<?php echo $url ?>" target="<?php echo $target?>" class="btn<?php echo $btn_class ?>"><?php echo ($settings_mapper->getValueByCode('blog_related_read_more_text')) ? $settings_mapper->getValueByCode('blog_related_read_more_text') :'Read More'; ?></a>
										<?php } ?>
									</div>
								</div>
								<?php
							}
							?>
						</div>
					<?php } ?>
				</div>
			<?php } ?>

			<div class="blog-content__footer">
				<?php
				echo $settings_mapper->getValueByCode('blog_about')
				?>
			</div>
		</div>
		<?php if ($settings_mapper->getValueByCode('blog_right_column_status') != 'Disabled') {?>
			<div class="col-sm-3 sidebar">
				<div class="sidebar__content">
					<a href="/<?php echo $this->blog_url?>" class="btn btn--gray"><i class="fa fa-angle-left"></i> Back</a>
					<?php if ($settings_mapper->getValueByCode('blog_sharing_status') != 'Disabled') {?>
						<div class="share m-b-20">
							<button class="btn btn-default" data-toggle="collapse" data-target="#shareOptions">Share This</button>
							<div class="collapse share-options" id="shareOptions">
								<a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo 'http:'. htmlspecialchars("//{$_SERVER["HTTP_HOST"]}{$_SERVER["REQUEST_URI"]}", ENT_QUOTES, 'UTF-8'); ?>" target="_blank"><i class="fa fa-facebook-official"></i></a>
								<a href="https://twitter.com/share?url=<?php echo 'http:'. htmlspecialchars("//{$_SERVER["HTTP_HOST"]}{$_SERVER["REQUEST_URI"]}", ENT_QUOTES, 'UTF-8'); ?>" target="_blank"><i class="fa fa-twitter-square"></i></a>
							</div>
						</div>
					<?php } ?>
					<div class="sidebar__item">
						<h3>Recent Posts</h3>
						<ul>
						<?php foreach ($this->latest as $latest) { ?>
							<li><a href="/<?php echo $this->blog_url?>/<?php echo $latest['code']?>"><?php echo $latest['title']?></a></li>
						<?php } ?>
						</ul>
					</div>
					<?php
					$tag_status = ($settings_mapper->getValueByCode('blog_tags_status'))?$settings_mapper->getValueByCode('blog_tags_status'):'Enabled';
					if ($tag_status == 'Enabled') {
					?>
					<div class="sidebar__item">
						<h3>Tags</h3>
						<ul>
							<?php foreach ($this->tags as $tag) { ?>
								<li><a href="/<?php echo $this->blog_url?>/tag/<?php echo $tag['code']?>"><?php echo $tag['title']?></a></li>
							<?php } ?>
						</ul>
					</div>
					<?php } ?>
				</div>
			</div>
		<?php } ?>
	</div>
</div>

<style>
	<?php if ($background_color = $settings_mapper->getValueByCode('blog_related_overlay_bg')) {?>
	.blog-related-feed .blog-title--overlay {
		background-color: <?php echo $background_color?>;
	}
	.blog-related-feed .blog-title--overlay a {
		padding: 8px;
	}
	<?php } ?>

	<?php /* if (isset($this->content->blog_feed_title_overlay_padding) && $this->content->blog_feed_title_overlay_padding) {
		if ($this->content->blog_feed_title_overlay_padding == preg_replace("/[^0-9.]/", "", $this->content->blog_feed_title_overlay_padding)) $this->content->blog_feed_title_overlay_padding .= "px"; ?>
	#module-<?php echo $this->module->id?> .blog-title--overlay a {
		padding: <?php echo $this->content->blog_feed_title_overlay_padding?>;
	}
	<?php } */ ?>

	<?php if ($settings_mapper->getValueByCode('blog_related_overlay_display') == 'Enabled') {?>
	.blog-related-feed .blog-title--overlay {
		opacity: 0;
		visibility: hidden;
		transition: all .2s ease;
	}

	.blog-related-feed .blog-feed-module__header:hover  .blog-title--overlay {
		opacity: 1;
		visibility: visible;
	}
	<?php } ?>
</style>
