<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
$media_cache = new Cny_View_Helper_MediaCache();
$image_profile = $settings_mapper->getValueByCode('blog_image_profile');
?>

<?php
if ($code = $settings_mapper->getValueByCode('blog_main_page_hero_block')) {
	$mapper = new Application_Model_Mapper_Page();
	$block = $mapper->doesExists(['code' => $code]);

	if ($block) {
		$generator = new Cny_Model_HtmlBuild();
		echo $generator->buildPage($block->id);
	}
}
?>
<div class="container m-t-20">
	<?php
	$banner_image = $settings_mapper->getValueByCode('blog_main_page_banner_image');
	$banner_image_alt_tag = $settings_mapper->getValueByCode('blog_main_page_banner_image_alt');
	$banner_mobile_image = $settings_mapper->getValueByCode('blog_main_page_banner_mobile_image');
	$banner_mobile_image_alt_tag = $settings_mapper->getValueByCode('blog_main_page_banner_mobile_image_alt');
	$banner_alignment = $settings_mapper->getValueByCode('blog_main_page_banner_alignment');
	$banner_force_fullwidth = $settings_mapper->getValueByCode('blog_main_page_banner_fullwidth');
	if ($banner_image || $banner_mobile_image) {
		$banner_class = '';
		if ($banner_alignment == 'Center') $banner_class .= "center-block";
		elseif ($banner_alignment == 'Left') $banner_class .= "pull-left";
		elseif ($banner_alignment == 'Right') $banner_class .= "pull-right";
		?>
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<picture>
						<source class="img-responsive" srcset="<?php echo $banner_image; ?>" media="(min-width: 768px)" />
						<img src="<?php echo ($banner_mobile_image)?$banner_mobile_image:$banner_image?>" class="img-responsive <?php echo $banner_class?> <?php echo ($banner_force_fullwidth == 'Yes')?"force--full-width":""?>" alt="<?php echo htmlentities(($banner_mobile_image_alt_tag)?$banner_mobile_image_alt_tag:$banner_image_alt_tag)?>">
					</picture>
				</div>
			</div>
		</div>
	<?php } ?>

	<?php if ($settings_mapper->getValueByCode('blog_main_page_header')) {?>
	<div class="row">
		<div class="col-sm-12">
			<div class="blog-content__header m-b-20">
				<?php
				echo $settings_mapper->getValueByCode('blog_main_page_header');
				?>
			</div>
		</div>
	</div>
	<?php } ?>

	<?php
	$blog_class = '';
	$blog_grid_col_spacing = $settings_mapper->getValueByCode('blog_post_col_spacing');
	$blog_grid_row_spacing = $settings_mapper->getValueByCode('blog_post_col_spacing');
	$blog_hr_rule =          $settings_mapper->getValueByCode('blog_hr_rule');
	$blog_grid_count =       $settings_mapper->getValueByCode('blog_post_count');

	if ($blog_grid_col_spacing) {
		$blog_class .= ' blog-grid--col-spacing';
	}
	if ($blog_grid_row_spacing) {
		$blog_class .= ' blog-grid--row-spacing';
	}
	if ($blog_hr_rule == 'Enabled') {
		$blog_class .= ' blog-grid--border';
	}
	if ($blog_grid_count) {
		$blog_class .= ' blog-grid--count-'.$settings_mapper->getValueByCode('blog_post_count');
	}

	?>
	<div class="row">
		<div class="col-sm-<?php echo ($settings_mapper->getValueByCode('blog_right_column_status') != 'Disabled')?'9':'12' ?>">
			<div class="blog-grid blog-grid--count<?php echo $blog_class;?>">
				<?php foreach ($this->posts as $post) {
					if ($settings_mapper->getValueByCode('blog_image_type') == 'original') {
						$post['thumbnail'] = $post['image'];
					}elseif (!$post['thumbnail']) {
						$post['thumbnail'] = str_ireplace("userFiles/uploads", "userThumbs", $post['image']);
					}

					$url = "/".$this->blog_url."/".$post['code'];
					$target = '';
					if ($post['external_url']) {
						$target = "_blank";
						$url = $post['external_url'];
					}
					?>
					<div class="blog-entry">
						<div class="blog-content <?php echo $settings_mapper->getValueByCode('blog_main_page_content_split');?>">
							<?php if ($post['thumbnail']) { ?>
								<div class="blog-content__image">
									<a href="<?php echo $url?>" target="<?php echo $target?>"><img class="img-responsive" src="<?php echo $media_cache->getImage($post['thumbnail'], $image_profile) ?>" alt="<?php echo htmlentities(($post['thumbnail_alt_tag'])?$post['thumbnail_alt_tag']:'Image of '.$post['title'].' article')?>"></a>
								</div>
							<?php } ?>

							<div class="blog-content__copy">
								<div class="blog-header">
									<h2><a href="<?php echo $url?>" target="<?php echo $target?>"><?php echo $post['title']?></a></h2>
									<div class="meta-entry">
										<?php if ($settings_mapper->getValueByCode('blog_author_status') != 'Disabled' && $post['byline']) {?>
											<span>By <?php echo $post['byline']?>,</span>
										<?php } ?>
										<?php if ($post['posted_date_format'] != 'none') {?>
											<span><?php echo date(($post['posted_date_format'])?$post['posted_date_format']:"F j, Y",strtotime($post['posted_date']))?></span>
										<?php } ?>
									</div>
								</div>
								<div class="text">
									<p><?php echo $post['summary']?></p>

									<a href="<?php echo $url?>" target="<?php echo $target?>" class="btn btn-default btn--cms-default btn-blog-continue <?php echo $settings_mapper->getValueByCode('blog_button_style') ?>">Continue</a>
								</div>
							</div>
						</div>
					</div>
				<?php } ?>
			</div>
			<div class="blog-content__footer">
				<?php
				echo $settings_mapper->getValueByCode('blog_about')
				?>
			</div>
		</div>
		<?php if ($settings_mapper->getValueByCode('blog_right_column_status') != 'Disabled') {?>
			<div class="col-sm-3 sidebar">
				<div class="sidebar__content">
					<?php if ($settings_mapper->getValueByCode('blog_sharing_status') != 'Disabled') {?>
						<div class="share m-b-20">
							<button class="btn btn-default btn--cms-default" data-toggle="collapse" data-target="#shareOptions">Share This</button>
							<div class="collapse share-options" id="shareOptions">
								<a href="https://www.facebook.com/sharer/sharer.php?u=<?php echo 'http:'. htmlspecialchars("//{$_SERVER["HTTP_HOST"]}{$_SERVER["REQUEST_URI"]}", ENT_QUOTES, 'UTF-8'); ?>" target="_blank"><i class="fa fa-2x fa-facebook-official"></i><span class="sr-only">Facebook</span></a>
								<a href="https://twitter.com/share?url=<?php echo 'http:'. htmlspecialchars("//{$_SERVER["HTTP_HOST"]}{$_SERVER["REQUEST_URI"]}", ENT_QUOTES, 'UTF-8'); ?>" target="_blank"><i class="fa fa-2x fa-twitter-square"></i><span class="sr-only">Twitter</span></a>
							</div>
						</div>
					<?php } ?>
					<div class="sidebar__item">
						<h3>Recent Posts</h3>
						<ul>
							<?php foreach ($this->latest as $latest) {
								$url = "/".$this->blog_url."/".$latest['code'];
								$target = '';
								if ($latest['external_url']) {
									$target = "_blank";
									$url = $latest['external_url'];
								}
								?>
								<li><a href="<?php echo $url?>" target="<?php echo $target?>"><?php echo $latest['title']?></a></li>
							<?php } ?>
						</ul>
					</div>
					<?php if ($settings_mapper->getValueByCode('blog_tags_status') != 'Disabled') {?>
						<div class="sidebar__item">
							<h3>Tags</h3>
							<ul>
								<?php foreach ($this->tags as $tag) { ?>
									<li>
										<a href="/<?php echo $this->blog_url ?>/tag/<?php echo $tag['code'] ?>"><?php echo $tag['title'] ?></a>
									</li>
								<?php } ?>
							</ul>
						</div>
						<?php
					}
					?>
				</div>
			</div>
		<?php } ?>
	</div>
	<div class="text-center">
		<?php echo $this->paginationControl($this->posts, 'Sliding', 'pagination_control.phtml'); ?>
	</div>
</div>
