<?php
$settings_mapper = new Application_Model_Mapper_SiteSettingValue();
?>

<?php if ($this->posts) { ?>
	<div class="blog blog-search module">
		<div class="container m-t-20">
			<h1 class="text-center h2">Search Results: <?php echo $this->tag['title']?></h1>
			<div class="row">
				<div class="col-sm-12 text-center">
					<?php echo $this->paginationControl($this->posts, 'Sliding', 'pagination_control.phtml'); ?>
				</div>
			</div>
			<div class="row">
				<?php foreach ($this->posts as $post) {
					if ($settings_mapper->getValueByCode('blog_image_type') == 'original') {
						$post['thumbnail'] = $post['image'];
					}elseif (!$post['thumbnail']) {
						$post['thumbnail'] = str_ireplace("userFiles/uploads", "userThumbs", $post['image']);
					}

					$url = "/".$this->blog_url."/".$post['code'];
					$target = '';
					if ($post['external_url']) {
						$target = "_blank";
						$url = $post['external_url'];
					}
					?>
					<div data-mh="blog-tag-group" class="col-sm-4">
						<div class="blog-entry">
							<div class="blog-content">
								<?php if ($post['thumbnail']) { ?>
									<div class="blog-content__image">
										<a href="<?php echo $url?>" target="<?php echo $target?>"><img class="img-responsive" src="<?php echo $post['thumbnail']?>" alt="<?php echo htmlentities(($post['thumbnail_alt_tag'])?$post['thumbnail_alt_tag']:$post['title'])?>"></a>
									</div>
								<?php } ?>
								<div class="blog-content__copy">
									<div class="blog-header">
										<a href="<?php echo $url?>" target="<?php echo $target?>"><h2><?php echo $post['title']?></h2></a>
										<div class="meta-entry">
											<?php if ($settings_mapper->getValueByCode('blog_author_status') != 'Disabled' && $post['byline']) {?>
												<span>By <?php echo $post['byline']?>,</span>
											<?php } ?>
											<?php if ($post['posted_date_format'] != 'none') {?>
												<span><?php echo date(($post['posted_date_format'])?$post['posted_date_format']:"F j, Y",strtotime($post['posted_date']))?></span>
											<?php } ?>
										</div>
									</div>
									<div class="text">
										<p><?php echo $post['summary']?></p>
										<a href="<?php echo $url?>" target="<?php echo $target?>" class="btn btn-default btn--cms-default">Continue</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				<?php } ?>

			</div>

			<div class="row">
				<div class="blog-content__footer">
					<?php
					echo $settings_mapper->getValueByCode('blog_about')
					?>
				</div>
			</div>

			<div class="text-center">
				<?php echo $this->paginationControl($this->posts, 'Sliding', 'pagination_control.phtml'); ?>
			</div>
		</div>
	</div>
<?php } ?>
