
										<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
											<tbody>
											<tr style="padding: 0; text-align: left; vertical-align: top">
												<td height="30px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important;  color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size: 30px; font-weight: normal; hyphens: auto; line-height: 30px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
													&#xA0;
												</td>
											</tr>
											</tbody>
										</table>

										</td>
									</tr>
								</tbody>
							</table>

							<table class="spacer float-center" style="Margin: 0 auto; border-collapse: collapse; border-spacing: 0; float: none; margin: 0 auto; padding: 0; text-align: center; vertical-align: top; width: 100%">
								<tbody>
								<tr style="padding: 0; text-align: left; vertical-align: top">
									<td height="50px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important;  color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size: 50px; font-weight: normal; hyphens: auto; line-height: 50px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
										&#xA0;
									</td>
								</tr>
								</tbody>
							</table>

										<table class="row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
											<tbody>
											<tr style="padding: 0; text-align: left; vertical-align: top">
												<th class="small-12 large-12 columns first last" style="Margin: 0 auto;  color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; padding-bottom: 0; padding-left: 30px; padding-right: 30px; text-align: left; width: 550px">
													<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
														<tr style="padding: 0; text-align: left; vertical-align: top">
															<th style="Margin: 0;  color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left">
																<p class="text-center" style="Margin: 0; Margin-bottom: 10px; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; text-align: center">
																	<?php echo $this->template_data['site_name']?></p>

																<p class="text-center" style="Margin: 0; Margin-bottom: 10px; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; text-align: center">
																	<?php if (isset($this->template_data['footer_address']['address1']) && $this->template_data['footer_address']['address1']) { ?>
																		<?php echo $this->template_data['footer_address']['address1'].", "; ?>
																	<?php } ?>
																	<?php if (isset($this->template_data['footer_address']['address2']) && $this->template_data['footer_address']['address2']) { ?>
																		<?php echo $this->template_data['footer_address']['address2'].", "; ?>
																	<?php } ?>
																	<?php if (isset($this->template_data['footer_address']['city']) && $this->template_data['footer_address']['city']) { ?>
																		<?php echo $this->template_data['footer_address']['city'].", "; ?>
																	<?php } ?>
																	<?php if (isset($this->template_data['footer_address']['region']) && $this->template_data['footer_address']['region']) { ?>
																		<?php echo $this->template_data['footer_address']['region']." "; ?>
																	<?php } ?>
																	<?php if (isset($this->template_data['footer_address']['postcode']) && $this->template_data['footer_address']['postcode']) { ?>
																		<?php echo $this->template_data['footer_address']['postcode']." "; ?>
																	<?php } ?>
																</p>

																<p class="text-center" style="Margin: 0; Margin-bottom: 10px; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; margin-bottom: 10px; padding: 0; text-align: center">
																	<?php if (isset($this->template_data['support_phone']) && $this->template_data['support_phone']) { ?>
																		<?php echo $this->template_data['support_phone']."<br/>"; ?>
																	<?php } ?>
																	<?php if (isset($this->template_data['support_email']) && $this->template_data['support_email']) { ?>
																		<?php echo "<a href='mailto:".$this->template_data['support_email']."' style='color:". $this->template_data['settings']['link_color'] ."'>".$this->template_data['support_email']."</a>"; ?>
																	<?php } ?>
																</p>

															</th>
															<th class="expander" style="Margin: 0;  color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; padding: 0 !important; text-align: left; visibility: hidden; width: 0"></th>
														</tr>
													</table>
												</th>
											</tr>
											</tbody>
										</table>

										<center data-parsed="" style="min-width: 580px; width: 100%">
											<table align="center" class="menu float-center" style="Margin: 0 auto; border-collapse: collapse; border-spacing: 0; float: none; margin: 0 auto; padding: 0; text-align: center; vertical-align: top; width: auto !important">
												<tr style="padding: 0; text-align: left; vertical-align: top">
													<td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important;  color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
														<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top">
															<tr style="padding: 0; text-align: left; vertical-align: top">
																<?php
																if (count($this->template_data['social']) > 0) {
																	foreach ($this->template_data['social'] as $platform => $url) {
																		?>
																		<th class="menu-item float-center" style="Margin: 0 auto;  color: <?php echo $this->template_data['settings']['text_color'] ?>; float: none; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 10px; padding-right: 5px; text-align: center">
																			<a href="<?php echo $url ?>"  style="Margin: 0; color: <?php echo $this->template_data['settings']['link_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none"><img src="<?php echo $this->template_data['asset_url'] ?>/icon-<?php echo $platform?>.png" alt="<?php echo urlencode($platform)?>" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 100%; outline: none; text-decoration: none; width: auto" width="40" height="40"></a>
																		</th>
																		<?php
																	}
																}
																?>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</center>

						</center>
					</td>
				</tr>
			</table>

			<!-- prevent Gmail on iOS font size manipulation -->
			<div style="display:none; white-space:nowrap; font:15px courier; line-height:0"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		</div>
	</body>
</html>

