<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" style="background: <?php echo $this->template_data['settings']['background_color'] ?> !important">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Email</title>
	<style>@media only screen {
			html {
				min-height: 100%;
				background: <?php echo $this->template_data['settings']['background_color'] ?>;
			}

			a {
				color: <?php echo $this->template_data['settings']['link_color'] ?>;
			}
		}

		@media only screen and (max-width: 610px) {
			table.body img {
				width: auto;
				height: auto;
			}

			table.body center {
				min-width: 0 !important;
			}

			table.body .container {
				width: 95% !important;
			}

			table.body .columns {
				height: auto !important;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				padding-left: 30px !important;
				padding-right: 30px !important;
			}

			th.small-12 {
				display: inline-block !important;
				width: 100% !important;
			}

			table.menu {
				width: 100% !important;
			}

			table.menu td,
			table.menu th {
				width: auto !important;
				display: inline-block !important;
			}

			table.menu[align="center"] {
				width: auto !important;
			}
		}
	</style>
</head>
<body style="-moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; Margin: 0; background: <?php echo $this->template_data['settings']['background_color'] ?> !important; box-sizing: border-box;  color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0; min-width: 100%; padding: 0; text-align: left; width: 100% !important">
<span class="preheader" style="color: <?php echo $this->template_data['settings']['background_color'] ?>; display: none !important; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; mso-hide: all !important; opacity: 0; overflow: hidden; visibility: hidden"></span>
<table class="body" style="Margin: 0; background: <?php echo $this->template_data['settings']['background_color'] ?> !important; border-collapse: collapse; border-spacing: 0;  color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; height: 100%; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
	<tr style="padding: 0; text-align: left; vertical-align: top">
		<td class="center" align="center" valign="top" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important;  color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
			<center data-parsed="" style="min-width: 580px; width: 100%">
				<table class="spacer float-center" style="Margin: 0 auto; border-collapse: collapse; border-spacing: 0; float: none; margin: 0 auto; padding: 0; text-align: center; vertical-align: top; width: 100%">
					<tbody>
					<tr style="padding: 0; text-align: left; vertical-align: top">
						<td height="50px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size: 50px; font-weight: normal; hyphens: auto; line-height: 50px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
							&#xA0;
						</td>
					</tr>
					</tbody>
				</table>

				<table align="center" class="container main float-center" style="Margin: 0 auto; background: <?php echo $this->template_data['settings']['body_color'] ?>; border-collapse: collapse; border-spacing: 0; box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2); float: none; margin: 0 auto; padding: 0; text-align: center; vertical-align: top; width: 580px">
					<tbody>
					<tr style="padding: 0; text-align: left; vertical-align: top">
						<td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important; color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
							<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
								<tbody>
								<tr style="padding: 0; text-align: left; vertical-align: top">
									<td height="25px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important;  color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size: 25px; font-weight: normal; hyphens: auto; line-height: 25px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
										&#xA0;
									</td>
								</tr>
								</tbody>
							</table>
							<center data-parsed="" style="min-width: 580px; width: 100%">
								<table align="center" class="menu float-center" style="Margin: 0 auto; border-collapse: collapse; border-spacing: 0; float: none; margin: 0 auto; padding: 0; text-align: center; vertical-align: top; width: auto !important">
									<tr style="padding: 0; text-align: left; vertical-align: top">
										<td style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important;  color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
											<table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top">
												<tr style="padding: 0; text-align: left; vertical-align: top">
													<th class="menu-item float-center" style="Margin: 0 auto;  color: <?php echo $this->template_data['settings']['text_color'] ?>; float: none; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size:<?php echo $this->template_data['settings']['font_size'] ?>; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 10px; padding-right: 10px; text-align: center">
														<a href="<?php echo $this->template_data['domain']?>" style="Margin: 0; color: <?php echo $this->template_data['settings']['link_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none"><?php if ($this->template_data['logo']) {?><img src="<?php echo $this->template_data['domain'].$this->template_data['logo']?>" alt="<?php echo $this->template_data['site_name']?>" style="-ms-interpolation-mode: bicubic; border: none; clear: both; display: block; max-width: 100%; outline: none; text-decoration: none; width: <?php echo ($this->template_data['logo_width'])?"{$this->template_data['logo_width']}px":"auto"?>; height: <?php echo ($this->template_data['logo_height'])?"{$this->template_data['logo_height']}px":"auto"?>;" <?php echo ($this->template_data['logo_width'])?"width=\"{$this->template_data['logo_width']}\"":""?> <?php echo ($this->template_data['logo_height'])?"height=\"{$this->template_data['logo_height']}\"":""?>;><?php }else {?><h1><?php echo $this->template_data['site_name'] ?></h1><?php } ?></a>
													</th>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</center>

							<table class="spacer" style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
								<tbody>
								<tr style="padding: 0; text-align: left; vertical-align: top">
									<td height="25px" style="-moz-hyphens: auto; -webkit-hyphens: auto; Margin: 0; border-collapse: collapse !important;  color: <?php echo $this->template_data['settings']['text_color'] ?>; font-family: <?php echo $this->template_data['settings']['font_family'] ?>, sans-serif; font-size: 25px; font-weight: normal; hyphens: auto; line-height: 25px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
										&#xA0;
									</td>
								</tr>
								</tbody>
							</table>
